@import '../../styles/mixins';

$widthLarge: 47;
$heightLarge: 61;

$widthSmall: 35;
$heightSmall: 45;

@import './card.cssmodule';

.cardSize {

  @include appType([ 'desktop/full', 'tablet/sidebar', 'mobile' ]) {
    width: #{$widthLarge}px;
    height: #{$heightLarge}px;
  }
  @include appType([ 'desktop/sidebar', 'tablet/full' ]) {
    width: #{$widthSmall}px;
    height: #{$heightSmall}px;
  }
}

.cardMargins {

  @include appType(['desktop/full']) {
    margin: -1px -4px 0 -4px;
  }
  @include appType([ 'desktop/sidebar', 'tablet/full' ]) {
    margin: -4px -4px -5px -2px;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    margin: -4px -3px;
  }
}

@include appType([ 'desktop/full', 'tablet/sidebar', 'mobile' ]) {

  @include cardsSprite('35x49', $widthLarge, $heightLarge);
}
@include appType([ 'desktop/sidebar', 'tablet/full' ]) {

  @include cardsSprite('23x33', $widthSmall, $heightSmall);
}
