@import '../../styles/mixins';

$widthLarge: 79;
$heightLarge: 109;

$widthSmall: 57;
$heightSmall: 77;

@import './card.cssmodule';

.cardSize {

  @include appType([ 'desktop/full', 'desktop/sidebar', 'tablet/full' ]) {
    width: #{$widthLarge}px;
    height: #{$heightLarge}px;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    width: #{$widthSmall}px;
    height: #{$heightSmall}px;
  }
}

.cardMargins {

  @include appType('desktop/full') {
    margin: -6px -5px -3px -3px;
  }
  @include appType([ 'desktop/sidebar', 'tablet/full' ]) {
    margin: -6px -6px -3px 0;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    margin: -4px -3px;
  }
}

@include appType([ 'desktop/full', 'desktop/sidebar', 'tablet/full' ]) {

  @include cardsSprite('67x97', $widthLarge, $heightLarge);
}
@include appType([ 'tablet/sidebar', 'mobile' ]) {

  @include cardsSprite('45x65', $widthSmall, $heightSmall);
}
