@import '../../styles/halo';
$duration: 400ms;
$cardNames: A K Q J 10 9 8 7 6 5 4 3 2;

.card {
  position: relative;
  top: 0;
  transition: opacity #{$duration} ease-out, top #{$duration} ease-out;

  &::before {
    content: '';
    display: block;
    margin: 9px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    position: absolute;
    transition: box-shadow #{$duration} ease-out;
  }

  &.glow {

    @include halo(#ffffff99, true);
  }

  &.dimOut {
    position: relative;
    opacity: .85;
  }
}

@mixin cardsSprite($size, $width, $height) {
  .back {
    background: url(/casino/holdem/images/cards/#{$size}_back.svg) center no-repeat;
  }

  .twoColors {
    background-image: url(/casino/holdem/images/cards/#{$size}_2-colors.svg);
  }

  .fourColors {
    background-image: url(/casino/holdem/images/cards/#{$size}_4-colors.svg);
  }

  @include offsetBgPosition($width, $height);
}
@mixin offsetBgPosition($width, $height) {
  $count: 0;

  @each $card in $cardNames {
    .spades-#{$card} {
      background-position: #{$width * 0}px #{-$count * $height}px;
    }
    .diamonds-#{$card} {
      background-position: #{$width * 1}px #{-$count * $height}px;
    }
    .hearts-#{$card} {
      background-position: #{$width * 2}px #{-$count * $height}px;
    }
    .clubs-#{$card} {
      background-position: #{$width * 3}px #{-$count * $height}px;
    }

    $count: $count + 1;
  }
}
