@import '../../styles/mixins';

$widthLarge: 79;
$heightLarge: 109;

$widthMedium: 57;
$heightMedium: 77;

$widthSmall: 35;
$heightSmall: 45;

@import './card.cssmodule';

.cardSize {

  @include appType([ 'desktop/full' ]) {
    width: #{$widthLarge}px;
    height: #{$heightLarge}px;
  }
  @include appType([ 'desktop/sidebar', 'tablet/full' ]) {
    width: #{$widthMedium}px;
    height: #{$heightMedium}px;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    width: #{$widthSmall}px;
    height: #{$heightSmall}px;
  }
}

.cardMargins {
  margin: 0;
}

.card.dimOut {
  top: 10px;
}

@include appType([ 'desktop/full' ]) {

  @include cardsSprite('67x97', $widthLarge, $heightLarge);
}
@include appType(['desktop/sidebar', 'tablet/full']) {

  @include cardsSprite('45x65', $widthMedium, $heightMedium);
}
@include appType([ 'tablet/sidebar', 'mobile' ]) {

  @include cardsSprite('23x33', $widthSmall, $heightSmall);
}
