$duration: 600ms;

.flipperWrap {
  perspective: 500px;
  float: left;

  &.flipped {
    .back {
      transform: rotateY(0deg);
    }

    .front {
      transform: rotateY(180deg);
    }
  }
}

.flipper {
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  transition-property: transform;
  transition-duration: #{$duration};
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  transform: rotateY(0deg);
  z-index: 2;
}

.back {
  transform: rotateY(-180deg);
}
