.inputRange {
  cursor: pointer;
  position: relative;
  height: 2px;
  border: 1px solid #818174;
  &:global(-rail) {
    background-image: linear-gradient(rgb(155, 155, 140) 0%, rgb(206, 206, 191) 100%);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45), inset 0px 1px 2px rgba(0, 0, 0, 0.25);
    height: 2px;
  }
  &:global(-handle) {
    margin-left: -12px;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    position: absolute;
    transition: left 0.05s ease-out;
    &:before {
      content: '';
      display: block;
      margin: 5px auto;
      appearance: none;
      display: block;
      outline: none;
      transition: transform 0.05s ease-out;
      width: 4px;
      height: 10px;
      background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(223, 223, 208) 100%);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
      border-radius: 2px;
    }
    &:active {
      transform: scale(1.2);
    }
  }
  &:global(-track) {
    height: 2px;
    margin-top: -2px;
    transition: left 0.05s ease-out, width 0.05s ease-out;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.25), 0px 1px 0px rgba(0, 0, 0, 0.25);
    background-image: repeating-linear-gradient(to right, #d6d7c7, #d6d7c7 1px, #ebebe3 1px, #ebebe3 2px);
  }
  &:global(-disabled) {
    cursor: default;
    .inputRange {
      &:global(-handle) {
        pointer-events: none;
        opacity: 0.8;
      }
      &:global(-rail) {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}
