
$select-input-border-width: 0;
$select-input-border-radius: 0;
$select-input-height: 51px;
$select-option-bg: white;
$select-input-bg: transparent;
$select-menu-max-height: 300px;
$select-text-color: #8A8A79;
$bg-grey: #E9E9DE;
$select-option-selected-bg: $bg-grey !important;
$select-option-focused-bg: lighten($bg-grey, 7%);
$select-shadow: 0 1px 2px rgba(0,0,0,0.45);
$animation-duration: .4s;

@import '../../../../../node_modules/react-select/scss/select.scss';
@import '../../../../../node_modules/react-select/scss/control.scss';
@import '../../../../../node_modules/react-select/scss/menu.scss';

.Select-menu-outer {
  z-index: 100000;
  border-width: 1px 0 0;
	border-top-color: #F3F3F3;
  box-shadow: 0 1px 2px rgba(0,0,0,0.45);
}

.is-open > .Select-control {
	background: white;
  box-shadow: $select-shadow
}
// .Select-arrow {
//   transform: rotateZ(-90deg);
//   transition: transform $animation-duration ease-out;
// }
// .is-open {
//   .Select-arrow {
//     transform: rotateZ(0);
//   }
// }
