.warDesc {
  display: block !important;
  background-color: transparent !important;
  position: relative;

  .graphIcon {
    position: absolute;
    top: 10px;
    right: 10px;

    @media (max-width: 1000px) {
      #{$global-r} & {
        top: 10px;

        .text {
          display: none;
        }
      }
    }
  }

  .title {
    margin: 10px 0 0 0 ;

    @media (max-width: 1000px) {
      #{$global-r} & {
        margin: 10px 0;
      }
    }
  }
}

:global(.f-war-list.war-new) {
  .factionWarInfo {
    &.hiddenGraph {
      border-bottom: 0;
    }

    .descTitle {
      display: none;
    }

    @media (max-width: 1000px) {
      #{$global-r} & {
        min-height: 20px;
        border-bottom: 1px solid var(--default-panel-divider-outer-side-color);

        .descTitle {
          display: block;
        }
      }
    }
  }
}

:global(.dark-mode) {
  .title {
    .text {
      color: var(--tabs-color);
    }
  }
}
