@import '../../../../styles/constants.scss';

.progress {
  margin-left: 70px;
  width: 146px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-left: 0;
      margin-right: 0;
      top: 31px;
      left: 107px;
      width: 99px;
      position: absolute;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      left: 61px;
    }
  }
}

.nerve {
  width: 69px;

  &::before {
    left: 15px;
  }

  &::after {
    right: 4px;
  }
}
