// .svgIconWrap {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 34px;
//   height: 34px;

//   @media #{$screen-tablet} {
//     #{$global-r} & {
//       margin-top: 4px;
//       margin-bottom: -10px;
//     }
//   }
// }

.minCrimeLVL {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.iconContainer {
  margin-left: 5px;
  width: 25px;
  height: 25px;
}

.text {
  height: 18px;
}

.customTextStyle {
  top: 55%;
}
