@import '../index.cssmodule.scss';

.mapNameBox {
  composes: rowSection;
  composes: mapName;
  flex: 0 1 399px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex: 0 1 176px;
      padding: 10px 10px 8px 12px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space:nowrap;
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      flex: 0 1 197px;
    }
  }
}
