.joinWrap {
  margin-top: 10px;
}

.contentWrap {
  min-height: 64px;
}

.topSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 32px;
  overflow: hidden;
  width: 100%;
  height: 32px;
  box-sizing: border-box;
}

.bottomSection {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: auto;
      align-items: center;
    }
  }
}

.columnsWrap {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  border-bottom-color: var(--default-panel-divider-outer-side-color);
  background: var(--default-panel-gradient);
  justify-self: start;
}

.columnItem {
  box-sizing: border-box;
  border-right: 1px solid #ccc;
  border-right-color: var(--default-panel-divider-outer-side-color);
  border-left: 1px solid #fff;
  border-left-color: var(--default-panel-divider-inner-side-color);

  &:nth-child(1) {
    width: 280px;
    border-left: 0;

    @media #{$screen-tablet} {
      #{$global-r} & {
        width: 173px;
      }
    }
    @media #{$screen-mobile} {
      #{$global-r} & {
        width: 172px;
      }
    }
  }

  &:nth-child(2) {
    width: 228px;

    @media #{$screen-tablet} {
      #{$global-r} & {
        width: 63px;
      }
    }
    @media #{$screen-mobile} {
      #{$global-r} & {
        display: none;
      }
    }
  }

  &:nth-child(3) {
    padding-right: 10px;
    padding-left: 0;
    width: 224px;
    text-align: right;

    @media #{$screen-tablet} {
      #{$global-r} & {
        width: 116px;
      }
    }
    @media #{$screen-mobile} {
      #{$global-r} & {
        width: 114px;
      }
    }
  }

  &:nth-child(4) {
    padding: 0;
    width: 52px;
    border-right: 0;
    text-align: center;

    @media #{$screen-tablet} {
      #{$global-r} & {
        width: 34px;
      }
    }
  }
}

.column {
  box-sizing: border-box;
  padding-left: 10px;
  line-height: 32px;
  composes: columnItem;
}

.placeholder {
  box-sizing: border-box;
  padding-left: 10px;
  width: 100%;
  height: auto;
}

.text {
  line-height: 32px;
}

.submit {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 0;
  background: transparent;
  cursor: pointer;

  &.activeSubmit,
  &:focus {
    svg {
      fill: #888;
    }
  }

  &.activeSubmit.withPassword,
  &.withPassword:focus {
    svg {
      fill: #f77245;
    }
  }
}

.rowsWrap {
  position: relative;
  background: url('/images/v2/casino/russian_roulette/bg_attacks_tiny.png') 284px top no-repeat;
  // overflow: hidden;
  border-radius: 0 0 5px 5px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      background: none;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      background: none;
    }
  }
}

.row {
  min-height: 32px;
  max-height: 32px;
  border-top: 1px solid #fff;
  border-top-color: var(--default-panel-divider-inner-side-color);
  border-bottom: 1px solid #ccc;
  border-bottom-color: var(--default-panel-divider-outer-side-color);
  background-color: #f2f2f2;
  background-color: var(--default-bg-panel-color);
  transition: background-color .3s linear;
  box-sizing: border-box;
  position: relative;

  &.active {
    background-color: #fff;
    background-color: var(--default-bg-panel-active-color);
    max-height: 80px;
    transition: background-color .3s linear, max-height .3s ease-out;

    .topSection {
      border-bottom: 1px solid #ccc;
      border-bottom-color: var(--default-panel-divider-outer-side-color);
    }

    .bottomSection {
      animation-name: hackBottomAppear;
      animation-timing-function: ease-out;
      animation-duration: .3s;
      animation-iteration-count: 1;
    }

    @media #{$screen-tablet} {
      #{$global-r} & {
        max-height: 174px;
      }
    }
    @media #{$screen-mobile} {
      #{$global-r} & {
        max-height: 174px;
      }
    }
  }

  &:last-child {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;

    .topSection {
      border-bottom: 0;
    }

    &.active {
      border-radius: 0 0 5px 5px;

      .topSection {
        border-bottom: 1px solid #ccc;
      }
    }
  }
}

.userInfoBlock,
.statusBlock,
.betBlock,
.joinBlock {
  composes: columnItem;
  opacity: 1;
  height: inherit;
}

.userInfoBlock {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.betBlock {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .text:nth-child(2) {
    padding-left: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: normal;
    white-space: nowrap;
    max-width: 160px;
    display: inline-block;

    @media #{$screen-tablet} {
      #{$global-r} & {
        max-width: 76px;
      }
    }
  }
}

.statusBlock {
  padding-left: 10px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      padding-left: 7px;
    }
  }
}

.joinBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1px;
}

div.userStatusWrap {
  margin-right: 8px;
}

@keyframes hackBottomAppear {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
