.npcSlider {
  display: flex;

  .npcSliderPreview {
    margin-right: 12px;
    width: 34px;
    height: 34px;
    float: left;
    border: 1px solid #ddd;
    border-radius: 0 50% 50% 50%;
    background: linear-gradient(180deg, #eee 0%, #fff 100%);
    cursor: default;

    .activeNpcWrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;

      .error {
        top: -48px;
        left: -16px;
      }
    }
  }

  .sliderContent {
    width: 610px;

    &.disabled {
      color: #ccc;
      pointer-events: none;
    }
  }

  .npcSliderItem {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    float: left;
    border: 1px solid #ddd;
    border-color: var(--ct-npc-editor-slider-item-border-color);
    border-radius: 50%;
    background: linear-gradient(180deg, #eee 0%, #fff 100%);
    background: var(--ct-npc-editor-slider-item-bg);
    cursor: pointer;

    &:hover {
      width: 32px;
      height: 32px;
      border: 2px solid #aaa;
      border-color: var(--ct-npc-editor-slider-item-border-color-hover);
      background: #fff;
      background: var(--ct-npc-editor-slider-item-bg-hover);
    }

    &.active {
      width: 32px;
      height: 32px;
      border: 2px solid #82c91e;
      border-color: var(--ct-npc-editor-slider-item-border-color-active);

      svg {
        fill: #aaa;
        fill: var(--ct-npc-editor-slider-icon-fill);
      }
    }
  }
}

:global {
  .slick-next {
    right: 0;
    bottom: 35px;
    transform: rotate(-135deg);
  }

  .slick-prev {
    top: 13px;
    transform: rotate(45deg);
  }

  .slick-arrow {
    position: absolute;
    bottom: 29px;
    color: transparent;
    box-sizing: content-box;
    padding: 0;
    width: 8px;
    height: 8px;
    border-width: 0 0 3px 3px;
    border-style: solid;
    border-color: #bbb;
    border-color: var(--ct-mpc-editor-slider-arrow-color);
    background: none;
    cursor: pointer;

    &.slick-disabled {
      border-color: #eee;
      border-color: var(--ct-mpc-editor-slider-arrow-color-disabled);
      cursor: default;

      &:hover,
      &:focus {
        border-color: #eee;
        border-color: var(--ct-mpc-editor-slider-arrow-color-disabled);
        color: transparent;
      }
    }

    &:hover,
    &:focus {
      border-color: #999;
      border-color: var(--ct-mpc-editor-slider-arrow-color-hover);
      color: transparent;
    }
  }

  .slick-dots {
    display: flex !important;
    justify-content: center;
    margin: 0;
    padding: 10px 0 0 0;
    list-style-type: none;

    li {
      margin: 0 5px;
      display: inline-flex;
    }

    button {
      display: block;
      width: 6px;
      height: 6px;
      padding: 0;
      cursor: pointer;
      border: none;
      border-radius: 100%;
      background-color: #ddd;
      background-color: var(--ct-npc-editor-slider-dot-color);
      text-indent: -9999px;

      &:hover {
        background-color: #999;
        background-color: var(--ct-npc-editor-slider-dot-color-active);
      }
    }

    li.slick-active button {
      background-color: #999;
      background-color: var(--ct-npc-editor-slider-dot-color-active);
    }
  }
}
