.chronicleRealEstate {
  color: #575746;
  color: var(--chronicle-text-color);
  font-family: 'Special Elite', cursive;
  font-size: 16px;
  line-height: 24px;

  .clear {
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .headerEffect {
    background: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/due6_@1x.png");
    width: 97px;
    height: 102px;
    position: absolute;
    right: 0;
  }

  .headerShadowEffect {
    background: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/grunge_1_begin_@1x.png");
    width: 71%;
    height: 230px;
    position: absolute;
    left: 0;
  }

  .header {
    padding-top: 54px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .noWrapDesktop {
    white-space: nowrap;
  }

  .articleImage {
    display: block;
    margin: 0 auto;
  }

  .container {
    margin: 0 auto;
    width: 631px;

    &.paragraphEffect1 {
      &::before {
        content: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/paragraph_note_1_@1x.png");
        position: absolute;
        right: 0;
      }
    }

    .paperEffect1 {
      background: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/pink_note_@1x.png");
      background: var(--real-estate-effect1-url);
      height: 40px;
      position: absolute;
      width: 192px;
      right: 0;
      margin-top: -20px;
    }

    .paperEffect2 {
      background-image: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/yellow_note_@1x.png");
      background-image: var(--real-estate-effect2-url);
      height: 40px;
      position: absolute;
      width: 187px;
      right: 0;
      margin-top: -25px;
      background-size: contain;
    }
  }

  .articleBlock {
    position: relative;
    box-shadow: none;

    &.pdBottom45 {
      padding-bottom: 45px;
    }

    &.subBackground {
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
    }

    p {
      margin-top: 24px;

      &.mgTop5 {
        margin-top: 5px;
      }

      &.mgTop13 {
        margin-top: 13px;
      }

      &.mgTop0 {
        margin-top: 0;
      }

      .typoPoint {
        &::after {
          content: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/typo_1_@1x.png");
          position: relative;
          top: 4px;
          left: 2px;
        }
      }

      .typoDone {
        background-image: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/typo_2_@1x.png");
        background-image: var(--real-estate-effect3-url);
        background-repeat: no-repeat;
      }
    }
  }

  .page {
    position: relative;

    &.part1 {
      z-index: 5;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);

      .endEffectPart1 {
        background: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/scratches_1_@1x.png");
        height: 500px;
        width: 500px;
        position: absolute;
        right: 0;
        margin-top: -500px;
        z-index: 10;
      }

      .endCorner {
        background: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/paper_corner_@1x.png");
        height: 65px;
        width: 40px;
        position: absolute;
        right: 0;
        margin-top: -65px;
        z-index: 10;
      }

      .imageWrapper {
        width: 400px;
      }

      .effectPostProhibition {
        &::before {
          content: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/paragraph_note_2_@1x.png");
          position: absolute;
          left: 42px;
        }
      }

      .wrapper {
        padding-bottom: 19px;
      }

      .titleDivider {
        margin: 23px auto 28px;
        height: 1px;
        width: 636px;
        background: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/title_devider_@1x.png");
        background: var(--real-estate-effect4-url);
      }

      .realEstate {
        margin: -15px 0 0 8px;
      }

      .specialOfficer {
        margin: 5px 0 0 4px;
      }

      .pdBottom45 {
        padding-bottom: 45px;
      }
    }

    &.part2 {
      .articleBlock {
        .endEffectPart2 {
          background: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/torn_paper_end_@1x.png");
          width: 100%;
          height: 45px;
          margin-top: 10px;
        }

        .typoSector7 {
          text-shadow: 2px 2px #575746;
        }

        .typoMore {
          &::after {
            content: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/typo_6_@1x.png");
            position: absolute;
            right: 71px;
            margin-top: 5px;

            @-moz-document url-prefix() {
              margin-top: -20px;
            }
          }
        }

        .closedDown {
          padding: 25px 0 0 24px;
          background-position: -15px 23px;
          background-image: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/grunge_2_@1x.png");
        }

        .goldTap {
          margin: -7px 0 0 14px;
        }

        .tookLeadTypo1 {
          background: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/typo_3_@1x.png") no-repeat;
        }

        .tookLeadTypo2 {
          background: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/typo_4_@1x.png") no-repeat;
          padding-right: 30px;
        }

        .theseAdditionsBg {
          background-repeat: no-repeat;
          padding-left: 65px;
          margin: 0;
          background-image: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/grunge_3_@1x.png");
        }
      }
    }

    &.part3 {
      .exoticVillas {
        float: right;
        margin: -474px -20px 5px 0;
      }

      .keyIsland {
        margin: 23px 0 37px 81px;
      }

      .newLands {
        margin: 10px 0 0 5px;
      }

      .uniqueSeaFort {
        margin: 11px 0 -5px 14px;
      }

      .sweetShack {
        margin: 20px 0 -2px 3px;
      }

      .effectOpposite {
        &::before {
          content: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/paragraph_note_3_@1x.png");
          position: absolute;
          left: 23px;
          margin-top: -28px;
        }

        &::after {
          content: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/grunge_6_@1x.png");
          position: absolute;
          right: 0;
          margin-top: -321px;
        }
      }

      .smellTypo {
        background-image: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/typo_9_@1x.png");
        background-size: contain;
      }

      .tornPalacesTypo {
        background-image: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/typo_7_@1x.png");
        background-position: 0 6px;
        padding-bottom: 10px;
        background-repeat: no-repeat;
      }

      .somewhereTornTypo {
        &::after {
          content: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/typo_10_@1x.png");
          position: absolute;
          right: 127px;
          margin-top: 5px;
        }
      }

      .paragraphEffect3 {
        &::after {
          content: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/grunge_5_@1x.png");
          position: absolute;
          right: 0;
          margin-top: -82px;
        }
      }

      .watersTypo {
        &::after {
          content: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/typo_8_@1x.png");
          content: var(--real-estate-effect5-url);
        }
      }

      .articleBlock {
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .25);
      }

      .container {
        width: 630px;

        &.howeverParagrapher {
          width: 306px;
          margin: 0;
          padding: 0 0 0 76px;
        }

        &.exoticVillasBg {
          &::before {
            content: url("/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/grunge_4_@1x.png");
            position: absolute;
            left: 0;
            top: 270px;
          }
        }
      }

      .finalImageWrapper {
        height: 28px;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .25);

        .endEffectPart3 {
          margin-bottom: 100px;
          margin-left: -2px;
          padding-top: 10px;
        }
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .chronicleRealEstate {
      font-size: 15px;

      .subBackground {
        margin: 0;
        z-index: 11;
      }

      .withPaddingTop {
        padding-top: 15px;
      }

      .noWrap {
        white-space: nowrap;
      }

      .noWrapDesktop {
        white-space: unset;
      }

      .clearLine {
        &::after {
          content: "";
          display: block;
          clear: both;
        }

        &.noClearLineMobile {
          &::after {
            content: unset;
            clear: unset;
          }
        }
      }

      .headerEffect {
        background: url("/images/v2/chronicles_archives/chronicles/real_estate/tablet/effects/due6_@1x.png");
        width: 67px;
        height: 70px;
      }

      .headerShadowEffect {
        background: url("/images/v2/chronicles_archives/chronicles/real_estate/tablet/effects/grunge_1_begin_@1x.png");
      }

      .header {
        padding-top: 20px;
        font-size: 25px;
        width: 77%;
        padding-left: 46px;
      }

      .container {
        padding-left: 4px;
        width: 366px;

        &.toCurtailParagraphr {
          width: 363px;
        }

        .paperEffect1 {
          margin-top: -10px;
        }

        .paperEffect2 {
          margin-top: -10px;
        }
      }

      .page {
        position: relative;

        &.part1 {
          .endEffectPart1 {
            background: url("/images/v2/chronicles_archives/chronicles/real_estate/tablet/effects/scratches_1_@1x.png");
            height: 395px;
            width: 390px;
            margin-top: -395px;
          }

          .imageWrapper {
            width: 400px;
          }

          .effectPostProhibition {
            padding: 0 3px 0 0;

            &::before {
              content: url("/images/v2/chronicles_archives/chronicles/real_estate/tablet/effects/paragraph_note_2_@1x.png");
              position: absolute;
              left: 0;
              margin-top: -11px;
            }
          }

          .wrapper {
            padding-bottom: 19px;
          }

          .titleDivider {
            margin: 11px auto 28px;
            width: 365px;
            background: url("/images/v2/chronicles_archives/chronicles/real_estate/tablet/effects/title_devider_@1x.png");
            background: var(--real-estate-effect4-url);
          }

          .realEstate {
            margin: -7px 0 11px 0;
          }

          .specialOfficer {
            margin: 10px 0 11px;
          }

          .pdBottom45 {
            padding-bottom: 27px;
          }
        }

        &.part2 {
          .articleBlock {
            .endEffectPart2 {
              background: url("/images/v2/chronicles_archives/chronicles/real_estate/tablet/effects/torn_paper_end_@1x.png");
            }

            .typoMore {
              &::after {
                right: 89px;

                @-moz-document url-prefix() {
                  margin-top: 5px;
                }
              }
            }

            .closedDown {
              padding: 19px 0 0 0;
              background-repeat: no-repeat;
              background-position: 0 0;
              background-image: url("/images/v2/chronicles_archives/chronicles/real_estate/tablet/effects/grunge_2_@1x.png");
            }

            .goldTap {
              margin: 15px 0 15px 0;
            }

            .theseAdditionsBg {
              background-image: url("/images/v2/chronicles_archives/chronicles/real_estate/tablet/effects/grunge_3_@1x.png");
              padding-left: 10px;
            }

            .tookLeadTypo1 {
              background: none;

              &::after {
                content: url("/images/v2/chronicles_archives/chronicles/real_estate/tablet/effects/typo_3_@1x.png");
                position: absolute;
                right: 10px;
                margin-top: -20px;
              }
            }

            .tookLeadTypo2 {
              background: none;
            }
          }
        }

        &.part3 {
          .container {
            width: 368px;
          }

          .exoticVillas {
            margin: 15px 0 12px 0;
          }

          .uniqueSeaFort {
            margin: 15px 0 -12px 0;
          }

          .keyIsland {
            margin: 14px 0 -8px 8px;
          }

          .newLands {
            margin: 15px 0 12px 0;
          }

          .sweetShack {
            margin: 14px 0 -11px -1px;
          }

          .effectOpposite {
            &::before {
              content: url("/images/v2/chronicles_archives/chronicles/real_estate/tablet/effects/paragraph_note_3_@1x.png");
              position: absolute;
              left: 0;
              margin-top: -5px;
            }

            &::after {
              margin-top: -292px;
            }
          }

          .somewhereTornTypo {
            &::after {
              right: 22px;
            }
          }

          .howeverParagrapher {
            padding: 0 0 0 10px;
          }

          .exoticVillasBg {
            &::before {
              content: url("/images/v2/chronicles_archives/chronicles/real_estate/tablet/effects/grunge_4_@1x.png");
              top: 0;
            }
          }

          .paragraphEffect3 {
            &::after {
              margin-top: -65px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .chronicleRealEstate {
      .header {
        padding-top: 28px;
        padding-left: 39px;
      }

      .container {
        width: 299px;

        &.toCurtailParagraphr {
          width: 299px;
        }

        .paperEffect2 {
          margin-top: -10px;
        }
      }

      .page {
        position: relative;

        &.part1 {
          .titleDivider {
            margin: 10px auto 28px;
            width: 300px;
            background: url("/images/v2/chronicles_archives/chronicles/real_estate/mobile/effects/title_devider_@1x.png");
            background: var(--real-estate-effect4-url);
          }

          .specialOfficer {
            margin: 13px 0 11px;
          }

          .endEffectPart1 {
            background: url("/images/v2/chronicles_archives/chronicles/real_estate/mobile/effects/scratches_1_@1x.png");
            height: 510px;
            width: 295px;
            margin-top: -510px;
          }
        }

        &.part2 {
          .articleBlock {
            .closedDown {
              background-image: url("/images/v2/chronicles_archives/chronicles/real_estate/mobile/effects/grunge_2_@1x.png");
              background-position: 0 0;
            }

            .goldTap {
              margin: 14px 0;
            }

            .typoMore {
              &::after {
                right: 17px;
              }
            }

            .endEffectPart2 {
              margin-top: 4px;
            }

            .tookLeadTypo1 {
              &::after {
                content: url("/images/v2/chronicles_archives/chronicles/real_estate/mobile/effects/typo_3_@1x.png");
                position: absolute;
                right: 24px;
                margin-top: 4px;
              }
            }
          }
        }

        &.part3 {
          .container {
            width: 299px;
          }

          .keyIsland {
            margin: 12px 0 -4px 6px;
          }

          .uniqueSeaFort {
            margin: 15px 0 -7px 6px;
          }

          .sweetShack {
            margin: 11px 0 -11px 1px;
          }

          .somewhereTornTypo {
            &::after {
              right: 149px;

              @-moz-document url-prefix() {
                margin-top: 5px;
              }
            }
          }

          .exoticVillasBg {
            &::before {
              content: url("/images/v2/chronicles_archives/chronicles/real_estate/mobile/effects/grunge_4_@1x.png");
            }
          }

          .effectOpposite {
            &::after {
              margin-top: -366px;
            }
          }

          .endEffectPart3 {
            padding-top: 3px;
          }
        }
      }
    }
  }
}

.mainBackground {
  position: relative;
  z-index: 5;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
  background: url("/images/v2/chronicles_archives/chronicles/bg_1.jpg") 0 0 repeat;
  background: var(--chronicle-main-bg1-url) 0 0 repeat;

  &.withPaddingTop {
    padding-top: 37px;
  }

  &.withPaddingBottom {
    padding-bottom: 35px;
  }

  &.withPaddingBottomSmall {
    padding-bottom: 24px;
  }
}

.subBackground {
  position: relative;
  margin: 0 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
  background: url("/images/v2/chronicles_archives/chronicles/bg_2.jpg") 0 0 repeat;
  background: var(--chronicle-main-bg2-url) 0 0 repeat;

  &.withPaddingTop {
    padding-top: 37px;
  }

  &.withPaddingTopBig {
    padding-top: 27px;
  }

  &.withPaddingBottom {
    padding-bottom: 26px;
  }
}

:global(.travelling),
:global(.logged-out) {
  .chronicleRealEstate {
    width: 784px;
    margin: 0 auto;
  }
}

:global(.r) {
  :global(.travelling),
  :global(.logged-out) {
    .chronicleRealEstate {

      @media screen and (max-width: 1000px) {
        width: 386px;
      }
      @media screen and (max-width: 600px) {
        width: 320px;
      }
    }

    @media screen and (max-width: 600px) {
      :global(#chronicles-archives) {
        margin-top: 15px;
      }
    }
  }
}
