.main {
  width: 784px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 386px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 320px;
    }
  }
}

.header {
  display: flex;
  height: 34px;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(180deg, #555, #333) no-repeat;
  position: relative;
  border-bottom: 2px solid transparent;

  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid var(--loadouts-separator-border-color);
    background: linear-gradient(to bottom, var(--loadouts-separator-box-shadow-color), rgba(255, 255, 255, .001));
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      border-radius: 0;
    }
  }

  &.minimize {
    border-radius: 5px;
  }
}

.title {
  align-self: center;
  margin-left: 10px;
  color: #fff;
  font: bold 12px/14px Arial, sans-serif;
  text-shadow: 0 0 2px #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content {
  border-radius: 0 0 5px 5px;
  background-color: var(--default-bg-panel-color);
  box-shadow: 0 1px 0 var(--loadouts-default-white-box-shadow-color);

  @media #{$screen-mobile} {
    #{$global-r} & {
      border-radius: 0;
    }
  }
}

.icons {
  display: flex;
  margin-left: auto;
}

.button {
  position: relative;
  box-sizing: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: none;
  width: 34px;
  height: 34px;
  border: none;
  border-left: 2px solid transparent;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    width: 1px;
    background: linear-gradient(180deg, #0000 0%, #00000080 50%, #0000 100%);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -2px;
    width: 1px;
    background: linear-gradient(180deg, #fff0 0%, #ffffff1a 50%, #fff0 100%);
  }
}

.setsIcon {
  background-image: url(/images/v2/loadouts/all_loadouts_default.svg);
  background-repeat: no-repeat;
  background-position: -5px 5px;

  &:hover {
    background-image: url(/images/v2/loadouts/all_loadouts_hover.svg);
  }
}

.backIcon {
  padding: 0;
}

.toggleIcon {
  background: #999 0% 0% no-repeat padding-box;
}
