.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#000, .4);
}

.confirm {
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(242, 242, 242);
}

.content {
  font-size: 17px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.button:not(:first-child) {
  margin-left: 25px;
}
