.button {
  position: relative;
  padding: 0;
  border: none;
  background: transparent;
  color: #668fa3;
  font: inherit;
  cursor: pointer;

  &:hover {
    color: #476778;
  }
}

.cancel {
  top: 2px;
  display: block;
  margin: 0 7px;
  color: #668fa3;
  color: var(--ct-my-maps-outcome-message-button-color);

  &:hover {
    color: #476778;
    color: var(--ct-my-maps-cancel-hover-color);
  }
}

.save {
  display: block;
  padding-top: 2px;
  width: 49px;
  height: 26px;
  border: 1px solid #8dacbb;
  border-radius: 5px;
  background: #8dacbb;
  background: linear-gradient(to bottom, #dae3e8 0%, #eef2f4 25%, #bdced7 60%, #e8eef1 80%, #bacdd6 100%);
  font-size: 14px;
  text-transform: uppercase;

  &:hover {
    background: linear-gradient(to bottom, #b9ccd5 0%, #dce5ea 25%, #8aa9b8 60%, #cedbe1 80%, #8dabba 100%);
  }
}

.inProgress {
  // padding-left: 2px;
  // padding-top: 3px;
  background: linear-gradient(to bottom, #ecf1f3 0%, #f5f8f9 25%, #dee6eb 60%, #f2f5f7 80%, #dfe7eb 100%);
  cursor: default;

  &:hover {
    background: linear-gradient(180deg, #ecf1f3 0, #f5f8f9 25%, #dee6eb 60%, #f2f5f7 80%, #dfe7eb);
  }
}
