:global(.header[user-status='multijail'] .logo a) {
  #{$global-d} & {
    background-image: url(/images/v2/header/logo/976_default.png);
  }

  @media screen and (max-width: 600px) {
    #{$global-r} & {
      background-image: url(/images/v2/header/logo/320_default.png);
    }
  }
}

.title {
  padding: 0 10px;
  height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
  background: repeating-linear-gradient(90deg, #242424, #242424 2px, #2e2e2e 0, #2e2e2e 4px);
  color: #fff;
  font-size: 13px;
  line-height: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .65);
}

.content {
  padding: 20px;
  border-radius: 0 0 5px 5px;
  background-color: #f2f2f2;
  background-color: var(--default-bg-panel-color);
  font-size: 13px;
  line-height: 15px;
}

.divider {
  margin: 18px 0;
  border-top: 1px solid #ccc;
  border-top-color: var(--default-panel-divider-outer-side-color);
  border-bottom: 1px solid #fff;
  border-bottom-color: var(--default-panel-divider-inner-side-color);
}

.button {
  margin-right: 10px;

  @media screen and (max-width: 600px) {
    #{$global-r} & {
      display: block;
      margin-bottom: 10px;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.highlightedText {
  margin: 0;
  color: #f65d2e;
  font-weight: bold;
}

.importantText {
  margin-left: 3px;
}

.link {
  display: inline-block;
  margin-left: 10px;
  color: #069;
  color: var(--default-blue-color);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #999;
    color: var(--default-blue-hover-color);
  }

  @media screen and (max-width: 600px) {
    #{$global-r} & {
      margin-right: 10px;
      margin-left: 0;
    }
  }
}

.list {
  margin-top: 20px;

  & > li {
    margin-bottom: 3px;
  }
}

.recoveryKey {
  margin: 20px 0;
  color: #909090;
  font-style: italic;
}

.bold {
  display: inline-block;
  margin-left: 3px;
  font-weight: bold;
}

.confirmationText {
  display: inline;

  @media screen and (max-width: 600px) {
    #{$global-r} & {
      display: block;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 600px) {
  .mobileTopOffset {
    margin-top: 10px;
  }
}
