.mainTransition {
  opacity: 1;
  transition: opacity .5s linear;
}

.fightProgressWrap {
  width: 274px;
  height: 274px;
  margin: 0;
  position: relative;

  @media #{$screen-tablet} {
    #{$global-r} & {
      min-width: 150px;
      min-height: 120px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      min-width: 120px;
      min-height: 95px;
    }
  }
}

.shotGun {
  composes: mainTransition;
  width: 162px;
  height: 107px;
  background: url('/casino/russianRoulette/images/976_gun.png') no-repeat;
  position: absolute;
  bottom: 63px;
  left: 0;
  right: 0;
  margin: auto;

  &.right {
    transform: scale(-1, 1);
  }

  &.left {
    transform: scale(1, 1);
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 112px;
      height: 75px;
      bottom: 112px;
      background: url('/casino/russianRoulette/images/578_320_gun.png') no-repeat;
      background-position: 0 -150px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      bottom: 138px;
    }
  }
}

.shotGunFired {
  &::before {
    content: '';
    background: url(/casino/russianRoulette/images/976_bullet.png);
    width: 86px;
    height: 20px;
    left: -79px;
    top: 4px;
    position: absolute;

    @media #{$screen-tablet} {
      #{$global-r} & {
        background: url(/casino/russianRoulette/images/578_320_bullet.png);
        width: 37px;
        height: 15px;
        left: -31px;
        top: 6px;
      }
    }
    @media #{$screen-mobile} {
      #{$global-r} & {
        width: 24px;
        left: -17px;
      }
    }
  }
}

.charger {
  width: auto;
  height: auto;
  display: block;
  composes: mainTransition;
}

.smokeBackdrop {
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 495px;
  height: 311px;
  background: url('/casino/russianRoulette/images/976_smoke.png') 0 0 no-repeat;
  background-position: 31px -5px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 270px;
      height: 275px;
      background: url('/casino/russianRoulette/images/578_smoke.png') 0 0 no-repeat;
      background-position: 24px 4px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      height: 212px;
      width: 233px;
      background: url('/casino/russianRoulette/images/320_smoke.png') 0 0 no-repeat;
      background-position: 0 5px;
      left: -6px;
    }
  }
}

.barrelCells {
  &.pos1 {
    left: 104px;
    top: 71px;
  }

  &.pos2 {
    left: 147px;
    top: 94px;
  }

  &.pos3 {
    left: 147px;
    top: 143px;
  }

  &.pos4 {
    left: 104px;
    top: 164px;
  }

  &.pos5 {
    left: 61px;
    top: 143px;
  }

  &.pos6 {
    left: 61px;
    top: 94px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      &.pos1 {
        left: 70px;
        top: 48px;
      }

      &.pos2 {
        left: 101px;
        top: 65px;
      }

      &.pos3 {
        left: 101px;
        top: 100px;
      }

      &.pos4 {
        left: 70px;
        top: 116px;
      }

      &.pos5 {
        left: 39px;
        top: 100px;
      }

      &.pos6 {
        left: 39px;
        top: 65px;
      }
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      &.pos1 {
        left: 38px;
        top: 25px;
      }

      &.pos2 {
        left: 70px;
        top: 41px;
      }

      &.pos3 {
        left: 70px;
        top: 77px;
      }

      &.pos4 {
        left: 38px;
        top: 93px;
      }

      &.pos5 {
        left: 8px;
        top: 77px;
      }

      &.pos6 {
        left: 8px;
        top: 42px;
      }
    }
  }
}

.barrel {
  composes: mainTransition;
  position: relative;
  background: url('/casino/russianRoulette/images/976_barrel.png') 0 0 no-repeat;
  background-position: 0 14px;
  width: 274px;
  height: 274px;
  padding: 0;
  box-sizing: border-box;
  transform-origin: 136px 150px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      background: url('/casino/russianRoulette/images/320_barrel.png') 0 0 no-repeat;
      padding: 0;
      margin-top: 22px;
      width: 200px;
      height: 200px;
      background-position: -8px 4px;
      transform-origin: 97px 109px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 132px;
      height: 168px;
      margin-top: 16px;
      padding: 26px 10px;
      background-position: -40px -20px;
      transform-origin: 65px 85px;
    }
  }
}

.barrelSpin {
  animation-name: barrelSpinAnim;
  animation-duration: 1800ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.skull {
  composes: barrelCells;
  background: url('/casino/russianRoulette/images/976_skull.png');
  width: 64px;
  height: 64px;
  position: absolute;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 54px;
      height: 54px;
      background: url('/casino/russianRoulette/images/320_skull.png');
    }
  }
}

.skullSpin {
  animation-name: skullSpinAnim;
  animation-duration: 2500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

.miss {
  composes: barrelCells;
  width: 64px;
  height: 64px;
  background: url(/casino/russianRoulette/images/976_cross.png) no-repeat center;
  position: absolute;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 54px;
      height: 54px;
      background: url('/casino/russianRoulette/images/320_cross.png') no-repeat center;
    }
  }
}

@keyframes skullSpinAnim {
  0% {
    transform: rotate(0deg);
  }

  55% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-720deg);
  }
}
@keyframes barrelSpinAnim {
  0% {
    transform: rotate(0deg);
  }

  55% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
