.barrelInitTransition {
  &-appear,
  &-enter {
    opacity: 0;
  }
}

.barrelMissTransition {
  &-appear,
  &-enter {
    opacity: 1;
  }
}

.barrelForceTransition {
  &-appear,
  &-enter {
    opacity: 1;
  }
}

.barrelInitTransition {
  &-appear-active,
  &-enter-active,
  &-appear-done,
  &-enter-done {
    opacity: 1;
  }
}

.barrelMissTransition {
  &-appear-active,
  &-enter-active,
  &-appear-done,
  &-enter-done {
    opacity: 1;
  }
}

.barrelForceTransition {
  &-appear-active,
  &-enter-active,
  &-appear-done,
  &-enter-done {
    opacity: 1;
  }
}

.shotClickTransition {
  &-appear,
  &-enter,
  &-appear-active,
  &-enter-active {
    opacity: 0;
  }
}

.shotClickTransition {
  &-appear,
  &-enter,
  &-appear-active,
  &-enter-active {
    opacity: 1;
  }
}

.shotClickTransition {
  &-appear-done,
  &-enter-done,
  &-appear-done,
  &-enter-done {
    opacity: 1;
  }
}

.barrelInitTransition-exit,
.barrelMissTransition-exit,
.shotClickTransition-exit,
.barrelForceTransition-exit {
  opacity: 0;
}
