@import '../../../../styles/glob.cssmodule.scss';

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchEnhencerAbsolute {
  position: absolute;
  top: 0;
}

.inputBCG {
  background: #d8e2e7;
  background: linear-gradient(#fdfefe 0%, #d8e2e7 100%);
  background: var(--ct-my-maps-copy-button-bg);
}

.button {
  margin: 0;
  padding: 0;
  border: none;
}

.toggleButton {
  width: 100%;
  height: 100%;
  background: transparent;
  transition: opacity .3s linear;
  cursor: pointer;
  composes: flexRow;
  justify-content: center;
}

.searchWrap {
  position: relative;

  @media #{$screen-tablet} {
    #{$global-r} & {
      padding-bottom: 10px;
    }
  }
}

.searchUserHolder {
  position: relative;
}

.searchUser {
  transition: all .3s linear;
  background: #fff;
  background: var(--ct-my-maps-input-bg);
  box-sizing: border-box;
  padding: 0 36px;
  width: 377px;
  height: 26px;
  border: 1px solid #c0d1d8;
  border-color: var(--ct-my-maps-input-border-color);
  border-radius: 5px;
  color: #888;
  color: var(--ct-my-maps-input-font-color);

  &::placeholder {
    color: #ccc;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      max-width: 100%;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      max-width: 300px;
    }
  }
}

.noBottomBorder {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.searchEnhencerLeftHolder {
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  justify-content: center;
  width: 26px;
  height: 26px;
  border: 1px solid #c0d1d8;
  border-color: var(--ct-my-maps-user-search-border-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  composes: flexRow;
  composes: searchEnhencerAbsolute;
  composes: inputBCG;
}

.searchEnhencerRightHolder {
  right: 0;
  justify-content: space-around;
  width: 23px;
  height: 26px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  composes: flexRow;
  composes: searchEnhencerAbsolute;
}

.addUserButton {
  padding: 1px 4px;
  width: 25px;
  height: 26px;
  border: 1px solid #c0d1d8;
  border-color: var(--ct-my-maps-user-search-border-color);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font: inherit;
  composes: button;
  composes: inputBCG;
  cursor: pointer;
}

.svgIcon {
  position: relative;
}

.svgIconLoop {
  padding-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchTypingLoader {
  display: block;
  position: relative;
  right: 5px;
  width: 10px;
  height: 10px;
  composes: loadingSpinner;
}

.maxUsers {
  opacity: .5;
}

.maxUsers,
.testersMax,
.editorsMax {
  cursor: default;
}

.allSlotsAreOut {
  cursor: default;
  background: #fafbfc;
  color: #cecece;
}
