@import '../../styles/constants.cssmodule.scss';

.soundToggler {
  cursor: pointer;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  color: $colorSound;
  font: inherit;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 15px;

  &::before {
    content: '';
    position: relative;
    width: 21px;
    height: 22px;
    background-image: url(/casino/russianRoulette/images/sound_on_off.png);
    background-position: 0 0;
    opacity: .65;
    display: inline-block;
    margin-right: 5px;
  }

  &:hover {
    color: $colorSoundHover;

    &::before {
      content: '';
      background-position: -21px 0;
    }
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      left: 7px;
      z-index: 1;
    }
  }

  &.disabled {
    &::before {
      content: '';
      background-position: 0 -22px;
    }

    &:hover {
      &::before {
        content: '';
        background-position: -21px -22px;
      }
    }
  }
}
