@import '../../styles/vars';
@import '../../styles/mixins';
@import '../../styles/borders';

.watcherPanel {
  background: var(--holdem-panel-bg);
  box-shadow: 0 1px 2px #00000073;
  position: relative;

  @include appType([ 'desktop/full', 'desktop/sidebar', 'tablet/full' ]) {
    width: 558px;
    border-radius: 5px;
    left: 0;
    right: 0;
    margin: auto;
  }
  @include appType([ 'desktop/full' ]) {
    margin-top: 125px;
  }
  @include appType([ 'desktop/sidebar', 'tablet/full' ]) {
    margin-top: 101px;
  }
  @include appType([ 'tablet/sidebar' ]) {
    margin-top: -16px;
    border-radius: 0 0 5px 5px;
  }
  @include appType([ 'mobile' ]) {
    margin-top: -14px;
  }
}

.panelTopRow {
  display: flex;

  @include appType([ 'tablet/full', 'tablet/sidebar', 'mobile' ]) {

    @include borders-on-bottom;
  }

  > button {
    flex: 1;
    height: 34px;

    &:not(:last-child) {

      @include borders-on-right;
    }
  }
}

.toggleButton {
  height: 34px;
  flex: 1;
}
