.slots {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  list-style: none;
}

.slot {
  &:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(3)) {
    margin-top: 10px;
  }

  &:not(:nth-of-type(1)):not(:nth-of-type(4)):not(:nth-of-type(7)) {
    margin-left: 10px;
  }
}
