@mixin dimensions ($width, $height) {
  width: $width;
  height: $height;
}
@mixin setBorderForDay ($side) {
  padding-#{$side}: 0;
  border-#{$side}: 1px solid #dfdfd0;
  border-#{$side}-color: var(--calendar-month-view-border-color);
}

.monthGrid {
  font-size: 0;
  line-height: 0;

  &.passed {
    .day {
      .singleDayEvent {
        color: #666659;
        color: var(--calendar-day-color);

        .numberWrapper {

          @include dimensions(23px, 23px);

          box-sizing: border-box;
          line-height: 22px;
        }
      }
    }
  }
}

.day {

  @include dimensions(25px, 25px);

  display: inline-block;
  color: #666659;
  color: var(--calendar-day-color);
  font-size: 11px;
  line-height: 25px;
  text-align: center;
  vertical-align: top;

  &.competition {
    &.passedEvent {
      .singleDayEvent {
        .numberWrapper {
          margin-top: -1px;
        }
      }
    }
  }

  .dayNumber {

    @include dimensions(25px, 25px);

    line-height: 25px;
    box-sizing: border-box;
    padding: 1px;
    position: relative;

    &.top {

      @include setBorderForDay('top');

      .leftGradient,
      .rightGradient {
        top: -1px;
      }
    }

    &.left {

      @include setBorderForDay('left');
    }

    &.right {

      @include setBorderForDay('right');
    }

    &.bottom {

      @include setBorderForDay('bottom');
    }

    .leftGradient,
    .rightGradient {
      position: absolute;

      @include dimensions(12px, 25px);

      top: 0;
    }

    .leftGradient {
      right: 0;
      background: linear-gradient(90deg, rgba(206, 206, 191, .15) 0%, rgba(206, 206, 191, .45) 100%);
    }

    .rightGradient {
      left: 0;
      background: linear-gradient(90deg, rgba(206, 206, 191, .45) 0%, rgba(206, 206, 191, .15) 100%);
    }
  }

  .singleDayEvent {
    padding: 1px;
    background: linear-gradient(90deg, rgba(206, 206, 191, .45) 0%, rgba(206, 206, 191, .75) 50%, rgba(206, 206, 191, .45) 100%);
    color: #666659;
    color: var(--calendar-single-day-event-color);

    .numberWrapper {

      @include dimensions(23px, 23px);

      border-radius: 100%;
      background-color: #f9f9f2;
      background-color: var(--calendar-bg);
      line-height: 24px;
    }
  }

  &.notActive {
    color: #ccccbf;
    color: var(--calendar-disabled-day-color);
  }

  &.current {
    font-size: 12px;

    .dayNumber {
      padding: 0;

      &.singleDayEvent {
        .numberWrapper {
          border: 1px solid #fff;
          box-sizing: border-box;
          line-height: 25px;
        }
      }

      .numberWrapper {

        @include dimensions(inherit, inherit);

        border-radius: 100%;
        background: #8a8a7b;
        background: var(--calendar-current-day-color);
        color: #fff;
        font-size: 17px;
        line-height: 26px;
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .monthGrid {
      &.passed {
        .day {
          .singleDayEvent {
            .numberWrapper {

              @include dimensions(14px, 14px);

              line-height: 13px;
            }
          }
        }
      }
    }

    .day {

      @include dimensions(16px, 16px);

      font-size: 9px;

      .dayNumber {

        @include dimensions(16px, 16px);

        line-height: 16px;

        .numberWrapper {

          @include dimensions(14px, 14px);

          line-height: 14px;
        }

        .leftGradient,
        .rightGradient {

          @include dimensions(8px, 16px);
        }
      }

      &.current {
        .dayNumber {
          position: relative;

          &.singleDayEvent {
            .numberWrapper {

              @include dimensions(20px, 20px);

              top: -2px;
              left: -2px;
              line-height: 18px;
            }
          }

          .numberWrapper {
            position: absolute;

            @include dimensions(18px, 18px);

            top: -1px;
            left: -1px;
            font-size: 11px;
            line-height: 18px;
          }

          &.competition {
            &.singleDayEvent {
              &.top {
                .numberWrapper {
                  top: -3px;
                }
              }

              &.left {
                .numberWrapper {
                  left: -3px;
                }
              }
            }

            &.top {
              .numberWrapper {
                top: -2px;
              }
            }

            &.left {
              .numberWrapper {
                left: -2px;
              }
            }
          }
        }
      }
    }

    :global(.month-view) {
      .monthGrid {
        border-top: 1px solid #dfdfd0;
        border-top-color: var(--calendar-month-view-border-color);

        &.passed {
          .day {
            &.competition {
              background-color: #f0f0e1;

              .top,
              .left,
              .right,
              .bottom {
                border: none;
                margin: 0;
              }
            }

            .dayNumber {
              &.singleDayEvent {
                .numberWrapper {
                  border: 1px solid #cecebf;
                  border-color: var(--calendar-month-view-single-day-event-border-color);
                }
              }
            }
          }
        }
      }

      .day {

        @include dimensions(54px, 54px);

        border-right: 1px solid #dfdfd0;
        border-bottom: 1px solid #dfdfd0;
        border-right-color: var(--calendar-month-view-border-color);
        border-bottom-color: var(--calendar-month-view-border-color);
        font-size: 12px;
        line-height: 55px;

        &.competition {
          .dayNumber {
            box-sizing: content-box;
          }

          .top {
            margin-top: -1px;
          }

          .left {
            margin-left: -1px;
          }

          .bottom {
            margin-bottom: -1px;
          }

          .right {
            margin-right: -1px;
          }
        }

        &.current {
          font-size: 12px;

          .dayNumber {
            line-height: 58px;

            &.singleDayEvent {
              line-height: 58px;
            }

            .numberWrapper {
              position: initial;

              @include dimensions(44px, 44px);

              line-height: 44px;
              font-size: 17px;
              display: inline-block;
            }
          }
        }

        &:nth-child(7n) {
          width: 55px;
          border-right: none;

          .dayNumber {
            width: 55px;

            .leftGradient {
              right: 0;
            }
          }

          .right {
            border-right: none;
          }
        }

        &:nth-child(7n + 1) {
          width: 55px;

          .dayNumber {
            width: 55px;

            .rightGradient {
              left: 0;
            }
          }

          .left {
            border-left: none;
            margin-left: 0;
          }
        }

        .dayNumber {

          @include dimensions(54px, 54px);

          padding: 0;

          .leftGradient {
            right: -1px;
          }

          .rightGradient {
            left: -1px;
          }

          &.singleDayEvent {

            @include dimensions(inherit, inherit);

            line-height: 54px;

            .numberWrapper {

              @include dimensions(44px, 44px);

              line-height: 43px;
              display: inline-block;
              border: 1px solid #f9f9f2;
              border-color: var(--calendar-bg);
            }

            .leftGradient {
              right: -1px;
            }

            .rightGradient {
              left: -1px;
            }
          }

          &.top {
            .leftGradient,
            .rightGradient {
              top: 0;
            }
          }

          .numberWrapper {

            @include dimensions(54px, 54px);

            line-height: 54px;
          }

          .leftGradient,
          .rightGradient {

            @include dimensions(27px, 54px);
          }
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .monthGrid {
      &.passed {
        .day {
          .singleDayEvent {
            .numberWrapper {

              @include dimensions(11px, 11px);

              line-height: 10px;
            }
          }
        }
      }
    }

    .day {

      @include dimensions(13px, 13px);

      font-size: 8px;

      .dayNumber {

        @include dimensions(13px, 13px);

        line-height: 13px;

        .numberWrapper {

          @include dimensions(11px, 11px);

          line-height: 12px;
        }

        .leftGradient,
        .rightGradient {

          @include dimensions(6px, 13px);
        }
      }

      &.current {
        font-size: 10px;

        .dayNumber {
          &.singleDayEvent {
            .numberWrapper {

              @include dimensions(17px, 17px);

              line-height: 17px;
              font-size: 10px;
            }
          }

          .numberWrapper {

            @include dimensions(15px, 15px);

            font-size: 10px;
            line-height: 17px;
          }
        }
      }
    }

    :global(.month-view) {
      .day {

        @include dimensions(45px, 45px);

        line-height: 45px;

        &.current {
          .dayNumber {
            line-height: 49px;

            &.singleDayEvent {
              line-height: 49px;

              .numberWrapper {
                box-sizing: content-box;
              }
            }

            .numberWrapper {

              @include dimensions(37px, 37px);

              line-height: 37px;
              font-size: 17px;
            }
          }
        }

        &:nth-child(7n) {
          width: 44px;

          .dayNumber {
            width: 44px;
          }
        }

        &:nth-child(7n + 1) {
          width: 45px;

          .dayNumber {
            width: 45px;
          }
        }

        .dayNumber {

          @include dimensions(45px, 45px);

          &.singleDayEvent {

            @include dimensions(inherit, inherit);

            line-height: 45px;

            .numberWrapper {

              @include dimensions(35px, 35px);

              line-height: 35px;
            }
          }

          .numberWrapper {

            @include dimensions(45px, 45px);

            line-height: 45px;
          }

          .leftGradient,
          .rightGradient {

            @include dimensions(22px, 45px);
          }
        }
      }
    }
  }
}
