.formField {
  margin-bottom: 10px;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.single {
  width: 322px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 100%;
    }
  }
}
