.board {
  flex-grow: 1;
  background: url(/images/v2/christmas_town/minigames/typocalypse/bg_454px.jpg) center;
  position: relative;

  @media #{$screen-tablet} {
    #{$global-r} & {
      background: url(/images/v2/christmas_town/minigames/typocalypse/bg_454px.jpg) center;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      background: url(/images/v2/christmas_town/minigames/typocalypse/bg_454px.jpg) center;
    }
  }
}

%сonveyor {
  width: 363px;
  height: 37px;
  position: absolute;
}

.сonveyor1 {
  @extend %сonveyor;

  left: -15px;
  top: 150px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      top: 135px;
      left: -83px;
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      top: 107px;
      left: -149px;
    }
  }
}

.сonveyor2 {
  @extend %сonveyor;

  right: -15px;
  top: 335px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      top: 319px;
      right: -83px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      top: 250px;
      right: -149px;
    }
  }
}
