$smoothAngleSize: 12px;

%smoothAngle {
  content: '';
  position: absolute;
  bottom: 0;
  width: $smoothAngleSize;
  height: $smoothAngleSize;

  @media (max-width: 1000px) {
    #{$global-r} & {
      display: none;
    }
  }
}

@mixin smoothAngleBackground($side) {
  background: radial-gradient(circle at top $side, transparent $smoothAngleSize, #f2f2f2 $smoothAngleSize);
  background: radial-gradient(circle at top $side, transparent $smoothAngleSize, var(--default-bg-panel-color) $smoothAngleSize);
}

.warListItem {
  &.link {
    cursor: pointer;

    &:not(.active) {
      box-shadow: inset 0 0 10px #fff, 0 0 2px #00000040;

      &:hover {
        box-shadow: inset 0 0 10px #fff, 0 0 10px #ffffffa6;
      }
    }

    &.active {
      &:not(.firstInRow) {
        &::before {

          @extend %smoothAngle;

          left: -$smoothAngleSize;

          @include smoothAngleBackground(left);
        }
      }

      &:not(.lastInRow) {
        &::after {

          @extend %smoothAngle;

          right: -$smoothAngleSize;

          @include smoothAngleBackground(right);
        }
      }

      // &:first-child {
      //   &::before {
      //     display: none;
      //   }
      // }
      //
      // &:nth-child(3) {
      //   &::after {
      //     display: none;
      //   }
      // }
      // FIXME: Should be last-child, when description placed in item content.
    }

    &:not(.active) {
      &.green {
        box-shadow: inset 0 0 10px #fff, 0 0 2px #00000040;

        &:hover {
          box-shadow: inset 0 0 10px #fff, 0 0 10px #94d82d;
        }
      }

      &.red {
        box-shadow: inset 0 0 10px #fff, 0 0 2px #00000040;

        &:hover {
          box-shadow: inset 0 0 10px #fff, 0 0 10px #fa5252a6;
        }
      }

      &.blue {
        box-shadow: inset 0 0 10px #fff, 0 0 2px #00000040;

        &:hover {
          box-shadow: inset 0 0 10px #fff, 0 0 10px #4dabf7;
        }
      }
    }
  }
}

:global(.dark-mode) {
  .warListItem {
    &.link {
      &:not(.active) {
        &:hover {
          box-shadow: inset 0 0 10px #ffffff40, 0 2px 4px #000;
        }
      }

      &:not(.active) {
        box-shadow: inset 0 0 10px #ffffff1a, 0 2px 4px #000;

        &.green {
          box-shadow: inset 0 0 10px #a9e34b40, 0 2px 4px #000;

          &:hover {
            box-shadow: inset 0 0 10px #a9e34bbf, 0 2px 4px #000;
          }
        }

        &.red {
          box-shadow: inset 0 0 10px #fa525240, 0 2px 4px #000;

          &:hover {
            box-shadow: inset 0 0 10px #fa5252bf, 0 2px 4px #000;
          }
        }

        &.blue {
          box-shadow: inset 0 0 10px #339af040, 0 2px 4px #000;

          &:hover {
            box-shadow: inset 0 0 10px #339af0bf, 0 2px 4px #000;
          }
        }
      }
    }
  }
}
