@import '../../../styles/glob.cssmodule.scss';

.mobileStatsWrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 10px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      justify-content: space-between;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      justify-content: center;
    }
  }
}

.columnWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100px;
  height: 33px;

  &:nth-child(2) {
    margin-right: 5px;
    margin-left: 7px;
  }

  &:last-child {
    width: 87px;
  }
}

.keyValueContainer {
  color: #888;
  color: var(--ct-my-maps-font-color);
  font: inherit;
}

.title {
  opacity: 1;
}

.text {
  opacity: 1;
}

.ratingContainer {
  width: 87px;
}

.ratingTitleWrap {
  padding-bottom: 4px;
}
