// TODO: this is just an example of ho to structure your components. Delete me once the app will be ready :)
.welcomeWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex-direction: column;
    }
  }
}

.marginBox {
  margin: 30px;
}

.logoAnimation {
  animation-name: animLogo;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.logoWrap {
  width: 180px;
  height: 84px;
  overflow: hidden;
  composes: marginBox;
  composes: logoAnimation;
}

.logo {
  width: 360px;
  height: 84px;
}

.centerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  composes: marginBox;
}

.text {
  max-width: 220px;
  font: inherit;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  composes: centerText;
}

@keyframes animLogo {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.3);
  }

  25% {
    transform: scale(1.05);
  }

  35% {
    transform: scale(1.3);
  }

  55% {
    transform: scale(1.05);
  }

  75% {
    transform: scale(1.12);
  }

  85% {
    transform: scale(1.14);
  }

  100% {
    transform: scale(1);
  }
}
