.formInput {
  box-sizing: border-box;
  padding: 5px 10px;
  width: 100%;
  border-radius: 5px;
  font-family: Arial, serif;
  line-height: 14px;
  border: 1px solid #ccc;
  border-color: var(--input-border-color);
  color: #000;
  color: var(--input-color);
  background: #fff;
  background: var(--input-background-color);

  @media #{$screen-tablet} {
    #{$global-r} & {
      padding: 10px;
    }
  }

  &:hover {
    border-color: #666;
    border-color: var(--input-hover-border-color);
  }
}

.error {
  background: linear-gradient(0deg, #e54c1930 0%, #e54c1930 100%), linear-gradient(0deg, #fff 0%, #fff 100%);
  background: linear-gradient(0deg, #e54c1930 0%, #e54c1930 100%), var(--input-background-color);
}
