@import "../../../../../../styles/colors.scss";

colgroup {
  .timeCol {
    width: 33px;
  }

  &.staff {
    .timeCol {
      width: 105px;
    }
  }
}

.logTable {
  width: 100%;
  table-layout: fixed;

  tr td {
    vertical-align: top;
  }
}

.logScrollArea {
  box-sizing: border-box;
  padding-top: 2px;
  max-height: 566px;
  overflow-y: auto !important; /* need to redefine inline styles */
  scrollbar-color: #666 rgba(0, 0, 0, .5);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0 5px 0 0;
    background: rgba(0, 0, 0, .5);
  }

  &::-webkit-scrollbar-thumb {
    border: none;
    border-radius: 4px;
    background-color: #666;
  }

  &:global(.scrollarea .scrollbar-container.active),
  &:global(.scrollarea .scrollbar-container:hover) {
    opacity: 1 !important;
  }
}

.preloaderWrapper {
  position: relative;
  height: 24px;
}

:global(.d .header .recentHistory .scrollarea) {
  a {
    color: $blue;

    &:hover {
      color: $lightBlue;
    }
  }
}
