.upgradePanel {
  position: absolute;
  top: calc(100% + 15px);
  left: 50%;
  z-index: 10;
  width: 325px;
  height: 105px;
  border: 1px solid var(--loadouts-window-color);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--loadouts-gray-box-shadow-color) !important;
  background-color: var(--default-bg-panel-color);
  transform: translateX(-50%);

  &::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(50%) rotateZ(45deg);
    width: 12px;
    height: 12px;
    background-color: var(--default-bg-panel-color);
    box-shadow: 0 0 5px var(--loadouts-gray-box-shadow-color);
  }
}

.list {
  position: relative;
  z-index: 5;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  background-color: var(--default-bg-panel-color);

  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid var(--loadouts-separator-border-color);
    background: linear-gradient(180deg, var(--loadouts-separator-box-shadow-color) 0, hsla(0, 0%, 100%, .001));
  }
}

.info {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 55px;
  color: #878787;
  font-family: 'Fjalla One', sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.redDesc {
  color: #a00;
}

.more {
  color: #32a5cc;
}
