.datePicker {
  display: inline-block;
  width: 248px;
  position: relative;

  .toggler {
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #e4e4e4 0, #f2f2f2);
    background: var(--activity-log-dropdown-bg-gradient);
    position: relative;
    padding: 0 30px 0 10px;
    width: 100%;
    height: 34px;
    border: 1px solid #fff;
    border-color: var(--activity-log-dropdown-border-color);
    border-radius: 5px;
    box-shadow: inset 0 4px 5px -5px rgba(0, 0, 0, .3), inset 0 -2px 4px -4px rgba(0, 0, 0, .3);
    line-height: 14px;
    cursor: pointer;
    white-space: nowrap;
    color: inherit;
    color: var(--activity-log-dropdown-font-color);
    font-family: inherit;
    font-size: inherit;
    text-align: left;

    .selectedDateWrapper {
      color: #999;
      color: var(--activity-log-selected-date-color);
      padding-top: 2px;

      .calendarIcon {
        fill: #999;
        fill: var(--activity-log-selected-date-color);
      }

      .selectedDate {
        vertical-align: top;
        line-height: 20px;
        padding-left: 5px;
        font-weight: bold;
        text-shadow: 0 1px 0 #fff;
        text-shadow: var(--activity-log-selected-date-text-shadow);
      }
    }

    &:focus {
      box-shadow: inset 0 4px 5px -5px rgba(0, 0, 0, .3), inset 0 -2px 4px -4px rgba(0, 0, 0, .3), 0 0 5px rgba(77, 171, 247, .45);
    }

    &:hover {
      box-shadow: inset 0 4px 5px -5px rgba(0, 0, 0, .3), inset 0 -2px 4px -4px rgba(0, 0, 0, .3), 0 1px 2px rgba(0, 0, 0, .25);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 10px;
      width: 0;
      height: 0;
      border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #666;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      transform: translateY(-5px);
      filter: drop-shadow(0 1px 0 #fff);
    }
  }

  &.open {
    .toggler {
      box-shadow: inset 0 4px 5px -5px rgba(0, 0, 0, .3), inset 0 -2px 4px -4px rgba(0, 0, 0, .3), 0 1px 2px rgba(0, 0, 0, .25);
      border-radius: 5px 5px 0 0;

      &::after {
        right: 11px;
        border-width: 5px 5px 0;
        border-color: #666 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        transform: translateY(-1px);
      }
    }
  }
}

:global(.dark-mode) {
  .datePicker {
    .toggler {
      &::after {
        filter: none;
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .datePicker {
      display: block;
      width: 100%;
    }
  }
}
