.calendar {
  position: absolute;
  left: 0;
  top: 32px;
  background: #fff;
  background: var(--activity-log-date-picker-bg-color);
  width: 100%;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 2px #00000040;
  box-shadow: var(--activity-log-date-picker-box-shadow);
  border: 1px solid #fff;
  border-color: var(--activity-log-date-picker-border-color);
  box-sizing: border-box;
  z-index: 1;

  .resetBlock {
    padding: 10px 10px 8px;
    border-top: 1px solid #eee;
    border-top-color: var(--activity-log-date-picker-divider-color);
    box-shadow: none;
    box-shadow: inset var(--activity-log-date-picker-dividers-shadow);

    .resetBtn {
      font-size: 12px;
      color: #888;
      color: var(--activity-log-date-picker-reset-btn-color);
      cursor: pointer;
      padding: 0;
      margin: 0;
      border: none;

      .icon {
        fill: var(--activity-log-date-picker-reset-btn-color);
      }

      &:hover {
        color: #666;
        color: var(--activity-log-date-picker-reset-btn-hover-color);

        .icon {
          fill: #666;
          fill: var(--activity-log-date-picker-reset-btn-hover-color);
        }
      }

      .text {
        vertical-align: top;
        padding-left: 5px;
      }
    }
  }

  .monthToggler {
    padding: 3px 2px;
    border-bottom: 1px solid #eee;
    border-bottom-color: var(--activity-log-date-picker-divider-color);
    text-align: center;
    box-shadow: none;
    box-shadow: var(--activity-log-date-picker-dividers-shadow);

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    .title {
      color: #666;
      color: var(--activity-log-date-picker-font-color);
      text-shadow: 0 1px 0 #fff;
      text-shadow: var(--activity-log-date-picker-title-text-shadow);
      font-size: 12px;
      font-weight: bold;
      vertical-align: top;
      line-height: 34px;
    }

    .arrowBtn {
      padding: 0;
      margin: 0;
      line-height: 0;
      border: none;
      vertical-align: top;
      cursor: pointer;
      width: 34px;
      height: 34px;

      .arrowIcon {
        fill: var(--activity-log-date-picker-arrow-default-fill);
        filter: drop-shadow(0 1px 0 #fff);
        filter: var(--activity-log-date-picker-arrow-default-filter);
      }

      &:hover {
        .arrowIcon {
          fill: var(--activity-log-date-picker-arrow-hover-fill);
        }
      }

      &.left {
        float: left;
      }

      &.right {
        float: right;
      }

      &:disabled {
        cursor: default;

        .arrowIcon {
          fill: var(--activity-log-date-picker-arrow-disabled-fill);
          filter: drop-shadow(0 1px 0 #fff);
          filter: var(--activity-log-date-picker-arrow-disabled-filter);
        }
      }

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }

  .month {
    padding: 4px;

    .day {
      float: left;
      width: 34px;
      height: 34px;
      color: #666;
      color: var(--activity-log-date-picker-font-color);
      font-size: 14px;
      cursor: pointer;
      position: relative;

      .numWrap {
        height: 100%;

        .num {
          display: flex;
          align-items: center;
          height: 100%;
          justify-content: center;
          user-select: none;
        }
      }

      &.inRange .numWrap {
        background: rgba(0, 102, 153, .1);
        background-color: var(--activity-log-date-picker-in-range-day-bg-color);
        height: 30px;
        margin-top: 2px;
      }

      &.selected {
        .numWrap {
          border-radius: 50%;
          background-color: #7fb2cc;
          background-color: var(--activity-log-date-picker-selected-day-bg-color);
          color: #fff;
          font-weight: bold;
          z-index: 1;
          position: relative;
          width: 30px;
          height: 30px;
          margin: 2px;
        }

        &.inRange {
          .numWrap {
            &::after {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              left: -2px;
              width: 34px;
              height: 100%;
              background: rgba(0, 102, 153, .1);
              background: var(--activity-log-date-picker-in-range-day-bg-color);
            }
          }
        }
      }

      &.inRange {
        &.firstDay {
          .numWrap,
          .numWrap::after {
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
          }
        }

        &.lastDay {
          .numWrap,
          .numWrap::after {
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
          }
        }
      }

      &.timeFrom,
      &.timeTo {
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 2px;
          width: 50%;
          height: calc(100% - 4px);
          background: rgba(0, 102, 153, .1);
          background: var(--activity-log-date-picker-in-range-day-bg-color);
        }
      }

      &.timeTo {
        &::after {
          left: 0;
        }
      }

      &.timeFrom {
        &::after {
          left: 50%;
        }
      }

      &.timeTo.timeFrom {
        &::after {
          display: none;
        }
      }

      &:nth-child(7n) {
        &.inRange {
          .numWrap,
          .numWrap::after {
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
          }
        }

        &.timeFrom {
          &::after {
            display: none;
          }
        }
      }

      &:nth-child(7n + 1) {
        &.inRange {
          .numWrap,
          .numWrap::after {
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
          }
        }

        &.timeTo {
          &::after {
            display: none;
          }
        }
      }

      &.notActive {
        color: #ccc;
        color: var(--activity-log-date-picker-disabled-day-color);
        cursor: default;
      }
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .calendar {
      .month {
        padding: 7px;

        .day {
          width: 50px;
          height: 50px;

          &.selected {
            .numWrap {
              width: 46px;
              height: 46px;
            }
          }

          &.inRange {
            .numWrap {
              height: 46px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .calendar {
      .month {
        padding: 2px;

        .day {
          width: 42px;
          height: 42px;

          &.selected {
            .numWrap {
              width: 38px;
              height: 38px;
            }
          }

          &.inRange {
            .numWrap {
              height: 38px;
            }
          }
        }
      }
    }
  }
}
