.defaultFilters {
  background: linear-gradient(180deg, #fff 0%, #ddd 100%);
  background: var(--default-tabs-bg-gradient);
  box-shadow: 0 0 2px #00000040;
  border-radius: 5px;
  padding: 10px;

  :global {
    .react-dropdown-default {
      width: 248px;
      display: inline-block;
      margin-right: 10px;
      color: #444;
      color: var(--activity-log-dropdown-font-color);
      vertical-align: top;

      .toggler {
        height: 34px;
      }

      .dropdown-content {
        .item {
          &.selected,
          &:hover,
          &:focus {
            background: #fff;
            background: var(--react-dropdown-item-focus-hover-bg);
          }
        }
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .defaultFilters {
      background: #f2f2f2;
      background: var(--default-bg-panel-color);
      box-shadow: 0 1px 0 #fff;
      box-shadow: var(--activity-log-list-panel-shadow);

      :global {
        .react-dropdown-default {
          width: 100%;
          display: block;
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }

    :global(.staff) {
      .defaultFilters {
        border-bottom: none;
        box-shadow: none;
      }
    }
  }
}

:global(.staff) {
  .defaultFilters {
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #ccc;
    border-bottom-color: var(--activity-log-title-divider-color);
  }
}

:global(.dark-mode) {
  .defaultFilters {
    :global {
      .react-dropdown-default {
        .toggler {
          background: var(--activity-log-dropdown-bg-gradient);
        }
      }
    }
  }
}
