.extendedFilters {
  background: #f2f2f2;
  background: var(--default-bg-panel-color);
  box-shadow: 0 1px 0 #fff;
  box-shadow: var(--activity-log-list-panel-shadow);
  border-radius: 0 0 5px 5px;
  padding: 10px;
  border-top: 1px solid #fff;
  border-top-color: var(--activity-log-title-divider-shadow-color);

  .inputField {
    padding: 0 10px;
    line-height: 32px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-color: var(--input-border-color);
    font-size: 12px;
    width: 226px;
    color: #444;
    color: var(--activity-log-dropdown-font-color);
    margin-right: 10px;
    background: #fff;
    background: var(--input-background-color);

    &.autocomplete {
      width: 248px;
    }

    &:focus {
      box-shadow: 0 0 5px #4dabf773;
      box-shadow: 0 0 5px var(--activity-log-input-focus-shadow-color);
    }

    &::placeholder {
      color: #ccc;
      color: var(--activity-log-input-placeholder-color);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  :global {
    .torn-react-autocomplete.with-categories {
      display: inline-block;
      width: 248px;
      margin-right: 10px;
      color: #888;
      color: var(--activity-log-autocomplete-options-color);

      .scroll-area {
        top: 58px;
        border-color: var(--input-border-color);
        background-color: #fff;
        background-color: var(--autocomplete-options-background-active-color);
      }

      .dropdown-content {
        .item {
          &.selected,
          &:hover {
            background-color: #f2f2f2;
            background-color: var(--activity-log-autocomplete-item-hover-bg-color);
          }
        }
      }

      .autocomplete-no-items {
        background: var(--autocomplete-options-background-active-color);
      }

      .autocomplete-categories {
        top: 34px;
        border-color: var(--input-border-color);
        background-color: var(--autocomplete-options-background-color);

        & > li {
          border-left-color: var(--input-border-color);

          button {
            border-bottom-color: var(--input-border-color);

            &.selected {
              color: #333;
              color: var(--autocomplete-hover-color);
              background: var(--autocomplete-options-background-active-color);
            }
          }
        }
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .extendedFilters {
      border-top: none;
      padding-top: 0;

      .inputField {
        width: 100%;
        box-sizing: border-box;
        margin-right: 0;
        margin-bottom: 10px;

        &.autocomplete {
          width: 100%;
          margin-bottom: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      :global {
        .torn-react-autocomplete.with-categories {
          width: 100%;
          margin-right: 0;
          margin-bottom: 10px;

          .scroll-area {
            .dropdown-content {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
