.items {
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #ccc;
}

.prizesRow {
  margin-bottom: 8px;

  &.withSnowGlobe {
    margin-bottom: 0;

    .prize {
      min-width: 50px;
      border-bottom: 1px solid #dae1e6;
    }

    &:not(.isXmasNpc) {
      .prize {
        background: linear-gradient(0deg, #b9b1a6, #cac3bb);
      }
    }
  }
}

.prize {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  min-width: 60px;
  width: 100px;
  height: 49px;
  border-bottom: 1px solid #fff;
  border-radius: 5px;
  box-shadow: inset 0 2px 5px rgba(0, 76, 102, .35);
  background: #f1f4f6;
  background: linear-gradient(0deg, #f1f4f6 0, #e8eef1);
  vertical-align: top;

  &.special {
    width: 50px;
  }

  @media screen and (max-width: 600px) {
    width: 80px;
  }
}

.prize img {
  margin-top: 5px;
  max-width: 80px;
  max-height: 40px;
}

.prize .quantity {
  position: absolute;
  top: 4px;
  left: 11px;
  display: inline-block;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 10px;
  line-height: 14px;
  text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
}

.prize.special img {
  margin-top: 2px;
  max-width: 47px;
  max-height: 47px;
}
