@import '../../styles/constants.cssmodule.scss';

.rowsSkeletonsWrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: var(--default-bg-panel-color);
  opacity: 1;

  @media #{$screen-mobile} {
    #{$global-r} & {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.rowContainer {
  display: flex;
  width: 100%;
  height: 33px;
  border-bottom: $ammoBorderGrey;

  &:last-of-type {
    border-bottom: none;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: 37px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      &:last-of-type {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}

.sectionSkeleton {
  display: flex;
  align-items: center;
  justify-self: space-evently;
  opacity: 1;
  height: auto;
  border-right: $ammoBorderGrey;
  animation-name: sectionAnim;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;

  &:first-of-type {
    padding: 0 15px 0 10px;
  }

  &:last-of-type {
    border: none;
  }

  &:nth-child(2) {
    &::after {
      content: '';
      background: var(--ammo-bcg-color-section-active);
      width: 30px;
      height: 25px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -75%);
    }
  }

  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    &::after {
      content: '';
      background: var(--ammo-bcg-color-section-active);
      width: 40px;
      height: 15px;
      position: relative;
      top: 50%;
      right: -68px;
      transform: translate(-50%, -120%);
    }
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      &:nth-child(1) {
        width: calc(100% - 70px);
      }

      &:nth-child(2) {
        width: 70px;
        border-right: none;
      }

      &:nth-child(n+3) {
        display: none;
      }
    }
  }
}

.subSection {
  background: var(--ammo-bcg-color-section-active);
  display: block;
  height: 19px;
}

.ammoIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  composes: subSection;
}

.ammoTitle {
  width: 145px;
  margin-right: 112px;
  composes: subSection;

  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 106px;
      margin-right: 52px;
    }
  }
}

.ammoValue {
  width: 32px;
  height: 12px;
  composes: subSection;
}

  @keyframes sectionAnim {
    0% {
      background: var(--ammo-bcg-color-active);
    }

    25% {
      background: var(--ammo-bcg-color-flash-active);
    }

    50% {
      background: var(--ammo-bcg-color-active);
    }

    75% {
      background: var(--ammo-bcg-color-flash-active);
    }

    100% {
      background: var(--ammo-bcg-color-active);
    }
  }
