.container {
  top: -105%;
  padding: 5px 15px;
  border: none;
  border: 1px solid #fff;
  border-radius: 1px;
  box-shadow: 0 0 5px #999;
  background-color: #fff;
}

.title {
  color: #b89079;
  font-family: Fjalla One, sans-serif;
  font-size: 14px;
}

.tooltipArrow {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-width: 7px 7px 0;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent;
  filter: drop-shadow(0 1px .6px #a7a7a7);
}

// Tooltip animation props
:global {
  .crimesEditorTooltip-enter {
    opacity: 0;

    &.crimesEditorTooltip-enter-active {
      opacity: 1;
    }
  }

  .crimesEditorTooltip-exit {
    opacity: 1;

    &.crimesEditorTooltip-exit-active {
      opacity: 0;
    }
  }
}
