.contentTitleInner {
  display: flex;
  align-items: center;
  margin-left: auto;
  float: right;
  color: #7f7f7f;
}

.timer {
  margin: 0 15px;
  padding-left: 15px;

  @media #{$screen-mobile} {
    #{$global-r} & {
      margin: 0;
      padding-left: 0;
    }
  }
}

.mobileDelimiter {
  display: none;
  margin: 0 8px;
  width: 1px;
  height: 34px;
  background: url(/images/v2/main/page_title_divider_long.png) left center no-repeat;

  @media #{$screen-mobile} {
    #{$global-r} & {
      display: inline-block;
    }
  }
}

.icon {
  display: inline-block;
  margin-right: 4px;
  background-image: url(/images/v2/attack/content-title-icons.png);
  vertical-align: middle;
}

.iconTimeout {
  composes: icon;
  width: 11px;
  height: 17px;
  background-position: 0 -29px;

  &:hover {
    background-position: -54px 0;
  }
}

.iconYourTurn {
  composes: icon;
  width: 17px;
  height: 19px;
  background-position: -27px 0;

  &:hover {
    background-position: 0 0;
  }
}

.escapeBtnFix {
  position: relative;
  top: -1px;

  &::before {
    display: none;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-left: 7px;
      padding-top: 5px;
    }
  }
}

.preloaderBtnEscapeWrap {
  width: 76px;
  height: 24px;
  display: flex;
  align-self: center;
  justify-content: center;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 83px;
    }
  }
}

.appHeaderAttackWrap {

  @media #{$screen-mobile} {
    #{$global-r} & {
      margin-top: 10px;
    }
  }
}
