.d .questionnaire-wrap {
  font-family: "Source Serif Pro";
  color: #646472;
  background-color: rgba(255, 255, 255, .99);
  background-image: url('/images/v2/missions/questionnaire/paper.png');
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
  padding: 110px 87px;
  position: relative;
  overflow: hidden;

  &::after,
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 242px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/images/v2/missions/questionnaire/watermark.png');
  }

  &::after {
    background-position: 164px 0;
  }

  &::before {
    background-position: 55px 55px;
  }

  h1 {
    margin-bottom: 76px;
  }

  h2 {
    font-size: 24px;
    font-weight: lighter;
    line-height: 120%;
    margin-bottom: 47px;
  }

  h3 {
    font-size: 18px;
    font-weight: lighter;
  }

  .logo-wording {
    margin-bottom: 5px;
  }

  .logo-devider {
    width: 1px;
    height: 22px;
    display: inline-block;
    margin: 0 10px;
    background: linear-gradient(to bottom, rgba(202, 202, 217, 0) 0, #cacad9 50%, rgba(202, 202, 217, 0) 100%);
  }

  .questions-wrap {
    position: relative;
    z-index: 2;
  }

  .question-block {
    margin: 15px 0 33px;

    &.invalid .question-block__question {
      color: #ea7248;
    }
  }

  .question-block__question {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .question-block__radio {
    display: none;
  }

  .question-block__radio-label {
    &::before {
      content: '';
      display: inline-block;
      padding: 0 0 0 0;
      width: 13px;
      height: 13px;
      margin-bottom: -2px;
      background-image: url('/images/v2/missions/questionnaire/radio_button.png');
      background-position: left bottom;
    }

    &:hover::before {
      background-position: right bottom;
    }

    &.checked {
      &::before {
        background-position: left top;
      }

      &:hover::before {
        background-position: right top;
      }
    }
  }

  .question-block__input {
    width: 100%;
    background: transparent;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    color: #646472;
    padding: 10px 0;
    text-indent: 20px;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
  }

  .question-block__answers {
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  .question-block__answers em {
    font-weight: lighter;
    margin: 0 19px 0 8px;
  }

  .question-block__radio-label.checked {
    color: #9797a5;
  }

  .q-footer {
    text-align: right;
    position: relative;
    margin-top: 147px;
  }

  .q-date {
    margin-top: 84px;
  }

  .submit {
    position: absolute;
    right: 0;
    top: -5px;
    font-family: "Source Serif Pro";
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
  }

  .fadein {
    animation: fadein .4s linear;
    animation-fill-mode: forwards;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .pagelink {
    font-size: 15px;
    color: #646472;
    text-decoration: none;
    white-space: nowrap;
    transition: margin-right .4s ease-out;

    &.go-left {
      margin-right: 100%;
    }

    &.go-right {
      margin-right: 0;
    }
  }

  .fade-enter {
    opacity: 0;

    &.fade-enter-active {
      opacity: 1;
      transition: opacity 400ms ease-in-out;
    }
  }

  .fade-leave {
    display: none;
    // transform: translate(0%);
    // &.fade-leave-active {
    //   transform: translate(-100%);
    //   transition: transform 400ms ease-in-out;
    // }
  }

  .casus-foederis-wrap {
    .questionaarie-header {
      margin-bottom: -8px;
    }
  }

  .casus-foederis-body {
    font-size: 16px;
    line-height: 1.6em;
    color: #646472;

    p {
      margin: 26px 8px 0 3px;
    }
  }

  .signature-wrap {
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    line-height: 3em;
    padding: 10px 0;
    max-height: 100px;
  }

  .signature-autor {
    line-height: 11em;
  }

  .signature {
    float: right;

    &.invalid {
      border: 1px dashed rgba(234, 114, 72, .5);
    }
  }

  .signature-amanda {
    float: right;
  }

  .hint-message {
    font-size: 15px;
    font-weight: 700;
    color: #ea7248;
    position: absolute;
    right: 99px;
    top: 0;
  }

  .completed {
    margin-bottom: 20px;
    margin-top: -27px;
  }
}

@media screen and (max-width: 1000px), screen and (max-device-width: 1000px) {
  .r .questionnaire-wrap {
    padding: 33px 10px;

    &::before,
    &::after {
      height: 100px;
    }

    h1 {
      text-align: center;
      margin-bottom: 63px;
    }

    h2 {
      text-align: center;
      font-size: 21px;
      margin-bottom: 35px;
    }

    .logo-wording {
      margin-bottom: 5px;
    }

    .logo-devider {
      display: block;
      width: 0;
      height: 3px;
    }

    .question-block {
      margin: 15px 0 20px;
    }

    .question-block__question {
      font-size: 15px;
      margin-bottom: 18px;
    }

    .question-block__answers {
      line-height: 18px;
      font-size: 15px;
      padding-left: 20px;

      li {
        margin: 16px 0 0;
      }
    }

    .question-block__radio-label {
      &::before {
        margin-left: -20px;
      }
    }

    .question-block__answers em {
      font-weight: lighter;
      margin: 0 0 0 7px;
    }

    .casus-foederis-body {
      font-size: 14px;
      line-height: 1.3em;
      color: #646472;

      p {
        margin-top: 18px;
      }
    }

    .q-footer {
      margin-top: 50px;
    }

    .submit {
      padding: 10px 10px;
      height: auto;
      top: -30px;
    }

    .signature-wrap {
      font-size: 1.18em;
      margin-bottom: 20px;
      max-height: none;

      img {
        margin: 0 50px;
      }
    }

    .signature-autor {
      line-height: 1em;
    }

    .casus-foederis-wrap .submit {
      top: -80px;
    }
  }
}
@media screen and (max-width: 600px), screen and (max-device-width: 600px) {
  .r .questionnaire-wrap {
    box-shadow: none;

    h1 {
      margin-bottom: 54px;
    }

    h2 {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}

.d .missions-top-icon {
  display: inline-block;
  width: 16px;
  height: 14px;
  vertical-align: middle;
  background: url(/images/v2/svg_icons/top_page_links/missions-icon.svg) no-repeat;
}
