.monthNav {
  .navButton {
    padding: 0;
    width: 54px;
    border: none;
    background: none;
    outline: none;
    line-height: 54px;

    :global(.calendarIcons) {
      filter: drop-shadow(0 1px 0 #fff);
      filter: var(--calendar-nav-icons-default-filter);

      &.disabled {
        filter: none;
        filter: var(--calendar-nav-icons-disabled-filter);
      }
    }
  }

  .backToYearWrapper {
    width: 55px;
    border-left: 1px solid #dfdfd0;
    border-left-color: var(--calendar-month-view-border-color);
  }

  .monthHeader,
  .backToYearWrapper {
    display: inline-block;
    height: 54px;
    line-height: 54px;
    text-align: center;
    vertical-align: top;
  }

  .monthHeader {
    width: 330px;

    .icon {
      display: inline-block;
    }

    .monthTitle,
    .eventTitle {
      padding-left: 5px;
      font-size: 12px;
    }

    .monthTitle {
      color: #666659;
      color: var(--calendar-month-view-month-title-color);
    }

    .eventIcons {
      fill: #666659;
      fill: var(--calendar-month-view-month-title-color);
    }

    .eventTitle {
      color: #9a9a8c;
      color: var(--calendar-month-view-event-title-color);
    }

    .prevMonth {
      float: left;
    }

    .nextMonth {
      float: right;
    }
  }
}

.monthView {
  margin-top: -5px;
  background: #f9f9f2;
  background: var(--calendar-bg);
  font-family: "Fjalla One", sans-serif;
  font-size: 12px;

  &.passed {
    .monthHeader {
      .monthTitle,
      .eventTitle {
        color: #ccccbf;
        color: var(--calendar-disabled-day-color);
      }

      .eventIcons {
        fill: #ccccbf;
        fill: var(--calendar-disabled-day-color);
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 600px) {
    .navButton {
      width: 45px;
      height: 45px;
      line-height: 44px;
    }

    .backToYearWrapper {
      width: 44px;

      .navButton {
        width: 44px;
        vertical-align: top;
      }
    }

    .monthHeader,
    .backToYearWrapper {
      height: 45px;
      line-height: 45px;
    }

    .monthHeader {
      width: 275px;
    }

    .monthView {
      margin-top: 0;
    }
  }
}
