$searchWidthDesktop: 244px;
$inputWidth: 215px;
$inputWidthTablet: 176px;
$inputWidthMobile: 143px;
$searchInputHeight: 24px;
$searchInputHeightMobile: 32px;

.search {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: $searchWidthDesktop;
  height: $searchInputHeight;

  #{$global-r} &.tablet {
    width: $inputWidthTablet;
    height: $searchInputHeightMobile;
  }

  #{$global-r} &.mobile {
    width: $inputWidthMobile;
    height: $searchInputHeightMobile;
  }
}

.autocomplete {
  width: $inputWidth;
  height: $searchInputHeight;
  border: 1px solid;
  border-color: #ccc;
  border-color: var(--input-border-color);
  border-radius: 5px;
  font-weight: normal;
  color: #000;
  color: var(--input-color);
  background-color: #fff;
  background-color: var(--input-background-color);

  #{$global-r} &.tablet {
    width: $inputWidthTablet;
    height: $searchInputHeightMobile;
  }

  #{$global-r} &.mobile {
    width: $inputWidthMobile;
    height: $searchInputHeightMobile;
  }
}

.input {
  padding-right: 10px;
  padding-left: 10px;
  width: $inputWidth;
  height: $searchInputHeight;
  background: transparent;
  color: #000;
  color: var(--input-color);
  font-family: Arial, sans-serif;
  font-size: 12px;

  &::placeholder {
    color: #aaa;
    font-size: 12px;
    font-style: italic;
  }

  #{$global-r} &.tablet {
    width: $inputWidthTablet;
    height: $searchInputHeightMobile;
  }

  #{$global-r} &.mobile {
    width: $inputWidthMobile;
    height: $searchInputHeightMobile;
  }
}

.hiddenIcon {
  width: 244px;
}

.iconContainer {
  position: absolute;
  top: 3px;
  right: 1px;

  #{$global-r} &.tablet,
  #{$global-r} &.mobile {
    top: 8px;
    right: 8px;
  }
}
