.warringTiers {
  position: relative;
  margin: 0 auto;

  .img {
    z-index: 1;
    position: relative;
  }

  .divisionWrapper {
    height: 22px;
    width: 11px;
    position: absolute;
    top: 58px;
    text-align: center;
    line-height: 0;

    .divider {
      height: 100%;
      width: 1px;
      background: linear-gradient(180deg, #cecebf00 0%, #cecebf7f 100%);
      margin: 0 auto 2px;
    }

    svg {
      &.new {
        filter: drop-shadow(0 0 5px rgba(191, 255, 0, .5));
      }

      &.active {
        filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .45));
      }

      &.inactive {
        filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .15));
      }
    }

    &.inactive {
      .divider {
        background: linear-gradient(180deg, #333 0%, #424241 100%);
      }
    }
  }

  &.diamond {
    .diamondRating {
      font-size: 23px;
      line-height: 23px;
      color: #dfdfd0;
      font-family: 'Cinzel Bold', serif;
      font-weight: bold;
      text-shadow: 0 2px 4px #00000073;
      position: absolute;
      width: 30px;
      text-align: center;

      &.digits2 {
        font-size: 17px;
      }

      &.digits3 {
        font-size: 13px;
      }
    }
  }

  &.big {
    &.metal {
      width: 158px;
      height: 84px;

      .divisionWrapper {
        top: 45px;
        left: 74px;
        height: 30px;
      }
    }

    &.bronze {
      width: 181px;
      height: 119px;

      .divisionWrapper {
        top: 82px;

        &:nth-child(1) {
          left: 74px;
        }

        &:nth-child(2) {
          left: 85px;
          top: 86px;
        }

        &:nth-child(3) {
          left: 96px;
        }
      }
    }

    &.silver {
      width: 180px;
      height: 116px;

      .divisionWrapper {
        top: 80px;

        &:nth-child(1) {
          left: 72px;
        }

        &:nth-child(2) {
          left: 84px;
          top: 83px;
        }

        &:nth-child(3) {
          left: 96px;
        }
      }
    }

    &.gold {
      width: 213px;
      height: 134px;

      .divisionWrapper {
        top: 82px;
        height: 38px;

        &:nth-child(1) {
          left: 90px;
        }

        &:nth-child(2) {
          left: 101px;
          top: 85px;
        }

        &:nth-child(3) {
          left: 112px;
        }
      }
    }

    &.platinum {
      width: 217px;
      height: 163px;

      .divisionWrapper {
        top: 120px;
        height: 30px;

        &:nth-child(1) {
          left: 88px;
        }

        &:nth-child(2) {
          left: 101px;
          top: 123px;
        }

        &:nth-child(3) {
          left: 114px;
        }
      }
    }

    &.diamond {
      width: 247px;
      height: 174px;

      .divisionWrapper {
        top: 120px;
        height: 33px;

        &:nth-child(1) {
          left: 75px;
        }

        &:nth-child(2) {
          left: 86px;
          top: 123px;
        }

        &:nth-child(3) {
          left: 97px;
          top: 125px;
        }

        &:nth-child(4) {
          left: 138px;
          top: 125px;
        }

        &:nth-child(5) {
          left: 149px;
          top: 123px;
        }

        &:nth-child(6) {
          left: 160px;
        }
      }

      .diamondRating {
        top: 155px;
        left: 108px;
      }
    }
  }

  &.medium {
    &.metal {
      width: 118px;
      height: 50px;

      .divisionWrapper {
        top: 28px;
        left: 54px;
        height: 30px;
      }
    }

    &.bronze {
      width: 136px;
      height: 100px;

      .divisionWrapper {
        top: 62px;

        &:nth-child(1) {
          left: 52px;
        }

        &:nth-child(2) {
          left: 63px;
          top: 67px;
        }

        &:nth-child(3) {
          left: 74px;
        }
      }
    }

    &.silver {
      width: 136px;
      height: 94px;

      .divisionWrapper {
        top: 57px;

        &:nth-child(1) {
          left: 50px;
        }

        &:nth-child(2) {
          left: 62px;
          top: 61px;
        }

        &:nth-child(3) {
          left: 74px;
        }
      }
    }

    &.gold {
      width: 160px;
      height: 110px;

      .divisionWrapper {
        top: 58px;
        height: 38px;

        &:nth-child(1) {
          left: 64px;
        }

        &:nth-child(2) {
          left: 75px;
          top: 61px;
        }

        &:nth-child(3) {
          left: 86px;
        }
      }
    }

    &.platinum {
      width: 163px;
      height: 130px;

      .divisionWrapper {
        top: 85px;
        height: 32px;

        &:nth-child(1) {
          left: 63px;
        }

        &:nth-child(2) {
          left: 74px;
          top: 88px;
        }

        &:nth-child(3) {
          left: 85px;
        }
      }
    }

    &.diamond {
      width: 185px;
      height: 138px;

      .divisionWrapper {
        top: 84px;
        height: 33px;

        &:nth-child(1) {
          left: 46px;
        }

        &:nth-child(2) {
          left: 57px;
          top: 87px;
        }

        &:nth-child(3) {
          left: 68px;
          top: 89px;
        }

        &:nth-child(4) {
          left: 106px;
          top: 89px;
        }

        &:nth-child(5) {
          left: 117px;
          top: 87px;
        }

        &:nth-child(6) {
          left: 128px;
        }
      }

      .diamondRating {
        top: 119px;
        left: 78px;
      }
    }
  }
}
