.wrap {
  opacity: 1;
}

.toolTipPreset {
  padding: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 5px #999;
  background-color: #f2f2f2;
}

.tooltipTextPreset {
  color: #888;
  font: inherit;
  font-family: 'Fjalla One', sans-serif;
  word-wrap: break-word;
}

.tooltipContainer {
  z-index: 10000;
  box-sizing: border-box;
  text-align: left;
  max-width: 350px;
  max-height: 100px;
  composes: toolTipPreset;
  composes: tooltipTextPreset;

  #{$global-d}:not(#{$global-r}) & {
    padding: 5px 10px;
    max-width: 82px;
    max-height: 300px;
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      padding: 5px 5px;
      max-width: 155px;
      max-height: unset;
    }
  }
}

.tooltipTitle {
  padding: 0;
  color: #333;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  text-align: left;
  word-break: keep-all;
  white-space: pre-wrap;
  line-height: 1.3;

  #{$global-d}:not(#{$global-r}) & {
    white-space: pre-line;
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      white-space: pre-wrap;
    }
  }
}

.arrowWrap {
  opacity: 1;
  // height: 5px;
}

.tooltipArrow {
  clip-path: polygon(0% 200%, 0 0%, 200% 0%);
  border-color: #f2f2f2 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  filter: drop-shadow(0 1px 1px #b1b0b0);
}
