@import "../../../../../../../../styles/colors.scss";

.timeSeparator {
  font-size: 9px;
  text-align: center;
  line-height: 24px;
  position: relative;

  td {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 1px;
      width: 130px;
      top: 12px;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}

:global(.light) {
  &.timeSeparator {
    td {
      color: $gray-8;

      &::before,
      &::after {
        background: $gray-c;
        box-shadow: 0 1px 0 $white;
      }
    }
  }
}

:global(.dark) {
  &.timeSeparator {
    td {
      color: $white;

      &::before,
      &::after {
        background: $gray-4;
      }
    }
  }
}

:global(.d.dark-mode) {
  .timeSeparator {
    td {
      color: $white;

      &::before,
      &::after {
        background: $gray-4;
        box-shadow: none;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  :global(.r) {
    .timeSeparator {

      td {
        &::before,
        &::after {
          width: 100px;
        }
      }
    }
  }
}
