@import '../../../../styles/card-skimming.cssmodule.scss';

.flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeAgo {
  font-size: 12px;
  color: #666;
  color: var(--crimeRow-text-color);
}

.progressContainer {
  cursor: pointer;
  flex-direction: row;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex-direction: row;
      height: inherit;
      width: inherit;
    }
  }
}

.progressWrap {
  @extend .flexRow;

  width: inherit;
  height: inherit;
  pointer-events: none;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex: 0 0 63px;
    }
  }
}

.textCount {
  font-size: 15px;
  pointer-events: none;
  user-select: none;
  width: 100px;
  text-align: right;
  color: #666;
  color: var(--crimeRow-text-color);

  @media #{$screen-tablet} {
    #{$global-r} & {
      position: relative;
      left: 5px;
      padding-left: 0;
      display: block;
      width: 44px;
      text-align: right;
    }
  }
}

.textStatus {
  font-size: 12px;
  pointer-events: none;
  user-select: none;
  width: 100px;
  text-align: left;
  color: #666;
  color: var(--crimeRow-text-color);
}

.spinnerWrap {
  pointer-events: none;
  display: inline-block;
  position: relative;
  right: 7px;
  width: 80px;
  height: 80px;
  transform: scale(0.3);

  @media #{$screen-tablet} {
    #{$global-r} & {
      right: 0px;
    }
  }
}

.active {
  opacity: 1;
}

.found {
  background: #f9f0e9;
  background: var(--crimeRowFound-background);

  .timeAgo,
  .progressContainer,
  [class*="nerve"],
  [class*="quantity"] {
    color: #ffa8a8;
    color: var(--areas__found-spinner-border);
  }

  .textCount {
    color: #ffa8a8;
    color: var(--areas__found-spinner-border);
  }

  .textStatus {
    color: #f03f3e;
  }

  .spinner {
    animation-name: unset;
    border: 4px solid #ffa8a8;
    border: 4px solid var(--areas__found-spinner-border);
    box-sizing: border-box;
    background: transparent;
    background: var(--areas__found-spinner-background);
  }
}

.spinner {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #888;
  background: var(--areas__spinner-background);
  animation: spinnerAnim 1.2s linear infinite;

  &:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }

  &:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }

  &:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }

  &:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }

  &:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }

  &:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }

  &:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }

  &:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }

  &:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
}

@keyframes spinnerAnim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@keyframes animationIn {
  from {
    opacity: 0;
    max-height: 0;
    background: #414b31;
    background: var(--crimeRowEnter-background);
  }

  to {
    opacity: 1;
    max-height: 150px;
    background: #414b31;
    background: var(--crimeRowEnter-background);
  }
}
@keyframes animationOut {
  from {
    opacity: 1;
    max-height: 150px;
  }

  to {
    opacity: 0;
    max-height: 0;
  }
}
@keyframes animationDone {
  from {
    background: #414b31;
    background: var(--crimeRowEnter-background);
  }

  to {
    background: #f9f9f2;
    background: var(--crimeRowExit-background);
  }
}

:global {
  .animationExtender {
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  .rowShrink {
    opacity: 1;
    max-height: 150px;
  }

  .rowSquash {
    opacity: 0;
    max-height: 0;
  }

  .rowDisappear-appear {

    @extend .animationExtender;

    :local {
      animation-name: animationIn;
    }
  }

  .rowDisappear-appear-done {
    :local {
      animation-name: animationDone;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
    }
  }

  .rowDisappear-exit {

    @extend .animationExtender;

    :local {
      animation-name: animationOut;
    }

    &.rowDisappear-exit-active {

      @extend .rowSquash;
      @extend .animationExtender;

      :local {
        animation-name: animationOut;
      }
    }
  }
}
