.scrollCrimes {
  scrollbar-color: var(--scrollCrimes__webkitScrollbarThumb-boxShadow) var(--scrollCrimes__webkitScrollbar_hover-backgroundColor);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--scrollCrimes__webkitScrollbar_hover-backgroundColor);
    border-radius: 0 5px 5px 0;
  }

  &::-webkit-scrollbar-thumb {
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    box-shadow: inset 0 0 0 8px var(--scrollCrimes__webkitScrollbarThumb-boxShadow);
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: var(--scrollCrimes__webkitScrollbar_hover-backgroundColor);
  }

  &::-webkit-scrollbar-corner {
    background-color: var(--scrollCrimes__webkitScrollbarCorner_hover-backgroundColor);
  }
}

.logWrap {
  z-index: 1000000;
  position: absolute;
  width: 213px;
  min-height: 30px;
  max-height: 204px;
  box-sizing: border-box;
  border-radius: 5px;
  bottom: unset;
  top: 56px;
  right: 132px;
  background: var(--logWrap-background) 0% 0% no-repeat padding-box;
  box-shadow: 0 0 2px var(--logWrap-boxShadow);

  &::before {
    content: "";
    z-index: 10001;
    position: absolute;
    top: -1px;
    transform: translate(50%, -7%);
    background: var(--logWrap__before-background);
    right: 50%;
    width: 25px;
    height: 5px;
  }

  &::after {
    content: "";
    z-index: 10000;
    position: absolute;
    top: -13px;
    right: 50%;
    transform: translate(50%, -7%);
    width: 0;
    height: 0;
    border-left: 14px solid rgba(0,0,0,0);
    border-right: 14px solid rgba(0,0,0,0);
    border-bottom: 14px solid var(--logWrap__after-background);
    filter: drop-shadow(0 1px 1.4px #111);
    -webkit-mask-image: linear-gradient(0deg,rgba(0,0,0,0),#000 0%);
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      right: 42px;

      &::after {
        right: 20%;
      }
    }
  }
}

.reverseAppear {
  bottom: unset;
  top: 0;
  transform: translateY(-100%);

  &::before {
    top: unset;
    bottom: -1px;
  }

  &::after {
    top: unset;
    bottom: -13px;
    transform: rotate( 180deg ) translate(-50%, -7%);
  }
}

.logItems {
  overflow: auto;
  min-height: inherit;
  height: 204px;
  max-height: inherit;
  border-radius: 5px;
}

.logScrollHelper {
  @extend .scrollCrimes;

  width: inherit;
  height: inherit;
  overflow-y: scroll;
  padding: 10px;
  box-sizing: border-box;

  &.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.noScrollBar {
  .logScrollHelper {
    overflow: hidden;
  }

  .logItems {
    height: auto;
    min-height: 30px;
  }
}

.logItem {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-self: flex-start;
  line-height: 1;
  margin: 8px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .index {
    margin-right: 10px;
    width: 20px;
  }

  .label {
    flex: 1;

    &.green {
      color: var(--area__textSuccess_color);
    }

    &.red {
      color: var(--area__textFailed_color);
    }

    &.grey {
      color: var(--area__textRegular_color);
    }
  }

  .time {
    opacity: 1;
  }
}

.placeholder {
  height: auto;

  > div {
    width: 62px;
  }
}
