@import '../../../styles/constants';

.rowWrapper {
  border-bottom: $border-gray;
  border-bottom-color: var(--faction-members-divider-outer-side-color);

  &:last-child {
    border-radius: 0 0 5px 0;

    #{$global-r} & {

      @media #{$screen-tablet} {
        border-bottom: none;
      }
      @media #{$screen-tablet} and (min-width: 600px) {
        border-bottom: none;
        border-radius: 0 0 5px 5px;
      }
    }
  }

  &.active,
  &:hover,
  &:focus-within {
    background: #fff;
    background: var(--default-bg-panel-active-color);
  }
}

.confirm {
  border-top: $border-gray;
  border-top-color: var(--faction-members-divider-outer-side-color);
  line-height: 36px;
  padding: 0 10px;

  .confirmError {
    color: #ff4000;
  }

  .kickError {
    color: #ff4000;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 10px;
  }

  .reasonInputWrapper {
    .reasonInput {
      box-sizing: border-box;
      display: block;
      padding: 5px 10px;
      width: 100%;
      height: 26px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
      text-align: left;
      vertical-align: middle;

      &:disabled {
        opacity: 0.5;
      }
    }
  }

  #{$global-r} & {

    @media #{$screen-tablet} {
      padding: 10px;
      line-height: 16px;
      text-align: center;

      .confirmText {
        display: block;
        margin-bottom: 10px;
      }

      .reasonInputWrapper {
        margin-bottom: 10px;
      }
    }
  }
}

.resetButton {
  padding: 0;
  border: none;
  box-shadow: none;
  background: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &:hover {
    &:disabled {
      color: #069!important;
      color: var(--default-blue-color)!important;
    }
  }
}

.successMessage {
  width: 100%;
  padding: 0 10px;

  .successMessageText {
    line-height: 36px;

    a {
      color: #069;
      color: var(--default-blue-color);
      text-decoration: none;

      &:hover {
        color: #999;
        color: var(--default-blue-hover-color);
      }
    }
  }
}
