@import '../../styles/vars';
@import '../../styles/mixins';

.sitInButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 76px;
  cursor: pointer;
  font-weight: bold;
  color: var(--holdem-text-color-main);
  text-shadow: 0 0 5px #fff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--holdem-sit-in-button-image-regular);

  &:hover {
    color: var(--holdem-text-color-main);
    background-image: var(--holdem-sit-in-button-image-hover);
  }
}

.buttonPositioner {
  position: absolute;
  width: fit-content;
  width: -moz-fit-content;
}

.buttonPosition-0 {
  composes: buttonPositioner;
  left: 0;
  right: 0;
  margin: auto;

  @include appType('desktop/full') {
    top: 335px;
  }
  @include appType('desktop/sidebar') {
    top: 295px;
  }
  @include appType('tablet/full') {
    top: 278px;
  }
  @include appType('tablet/sidebar') {
    top: 236px;
  }
  @include appType('mobile') {
    top: 268px;
  }
}

.buttonPosition-1 {
  composes: buttonPositioner;

  @include appType('desktop/full') {
    top: 335px;
    left: 163px;
  }
  @include appType('desktop/sidebar') {
    top: 295px;
    left: 53px;
  }
  @include appType('tablet/full') {
    top: 278px;
    left: 35px;
  }
  @include appType('tablet/sidebar') {
    top: 243px;
    left: 17px;
  }
  @include appType('mobile') {
    top: 243px;
    left: 17px;
  }
}

.buttonPosition-2 {
  composes: buttonPositioner;

  @include appType('desktop/full') {
    top: 280px;
    left: -21px;
  }
  @include appType('desktop/sidebar') {
    top: 212px;
    left: -70px;
  }
  @include appType('tablet/full') {
    top: 125px;
    left: 6px;
  }
  @include appType('tablet/sidebar') {
    top: 164px;
    left: 17px;
  }
  @include appType('mobile') {
    top: 164px;
    left: 17px;
  }
}

.buttonPosition-3 {
  composes: buttonPositioner;

  @include appType('desktop/full') {
    top: 99px;
    left: -72px;
  }
  @include appType('desktop/sidebar') {
    top: 75px;
    left: -97px;
  }
  @include appType('tablet/full') {
    top: -4px;
    left: 35px;
  }
  @include appType('tablet/sidebar') {
    top: 85px;
    left: 17px;
  }
  @include appType('mobile') {
    top: 85px;
    left: 17px;
  }
}

.buttonPosition-4 {
  composes: buttonPositioner;

  @include appType('desktop/full') {
    top: -69px;
    left: 79px;
  }
  @include appType('desktop/sidebar') {
    top: -61px;
    left: -23px;
  }
  @include appType('tablet/full') {
    top: -48px;
    left: 170px;
  }
  @include appType('tablet/sidebar') {
    top: 9px;
    left: 90px;
  }
  @include appType('mobile') {
    top: 9px;
    left: 56px;
  }
}

.buttonPosition-5 {
  composes: buttonPositioner;

  @include appType('desktop/full') {
    top: -69px;
    right: 79px;
  }
  @include appType('desktop/sidebar') {
    top: -61px;
    right: -23px;
  }
  @include appType('tablet/full') {
    top: -48px;
    right: 170px;
  }
  @include appType('tablet/sidebar') {
    top: 9px;
    right: 90px;
  }
  @include appType('mobile') {
    top: 9px;
    right: 56px;
  }
}

.buttonPosition-6 {
  composes: buttonPositioner;

  @include appType('desktop/full') {
    top: 99px;
    right: -72px;
  }
  @include appType('desktop/sidebar') {
    top: 75px;
    right: -97px;
  }
  @include appType('tablet/full') {
    top: -4px;
    right: 35px;
  }
  @include appType('tablet/sidebar') {
    top: 85px;
    right: 17px;
  }
  @include appType('mobile') {
    top: 85px;
    right: 17px;
  }
}

.buttonPosition-7 {
  composes: buttonPositioner;

  @include appType('desktop/full') {
    top: 280px;
    right: -21px;
  }
  @include appType('desktop/sidebar') {
    top: 212px;
    right: -70px;
  }
  @include appType('tablet/full') {
    top: 125px;
    right: 6px;
  }
  @include appType('tablet/sidebar') {
    top: 164px;
    right: 17px;
  }
  @include appType('mobile') {
    top: 164px;
    right: 17px;
  }
}

.buttonPosition-8 {
  composes: buttonPositioner;

  @include appType('desktop/full') {
    top: 335px;
    right: 163px;
  }
  @include appType('desktop/sidebar') {
    top: 295px;
    right: 53px;
  }
  @include appType('tablet/full') {
    top: 278px;
    right: 35px;
  }
  @include appType('tablet/sidebar') {
    top: 243px;
    right: 17px;
  }
  @include appType('mobile') {
    top: 243px;
    right: 17px;
  }
}
