.animatedPart {
  position: absolute;
  top: 0;
  left: 30px;
  width: 60px;
  height: 90px;
  overflow: hidden;

  .movablePart {
    width: 100%;
    height: 100%;
  }

  &.opened .movablePart {
    animation: open .5s;
    background: url(/images/v2/christmas_town/gates/gate3/5.png) left bottom no-repeat;
  }

  &:not(.opened) .movablePart {
    animation: close .5s;
    background: url(/images/v2/christmas_town/gates/gate3/2.png) left bottom no-repeat;
  }
}

@keyframes open {
  0% { background: url(/images/v2/christmas_town/gates/gate3/2.png) left bottom no-repeat; }
  33% { background: url(/images/v2/christmas_town/gates/gate3/3.png) left bottom no-repeat; }
  66% { background: url(/images/v2/christmas_town/gates/gate3/4.png) left bottom no-repeat; }
  100% { background: url(/images/v2/christmas_town/gates/gate3/5.png) left bottom no-repeat; }
}
@keyframes close {
  0% { background: url(/images/v2/christmas_town/gates/gate3/5.png) left bottom no-repeat; }
  33% { background: url(/images/v2/christmas_town/gates/gate3/4.png) left bottom no-repeat; }
  66% { background: url(/images/v2/christmas_town/gates/gate3/3.png) left bottom no-repeat; }
  100% { background: url(/images/v2/christmas_town/gates/gate3/2.png) left bottom no-repeat; }
}
