.equippedItems {
  display: flex;
  flex-wrap: wrap;
}

.item {

  @media #{$screen-desktop} {
    #{$global-r} & {
      &:not(:first-child):not(:nth-child(6n + 1)) {
        margin-left: 10px;
      }

      &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)):not(:nth-child(6)) {
        margin-top: 11px;
      }
    }
  }
  @media #{$screen-tablet} {
    #{$global-r} & {
      &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)) {
        margin-top: 2px;
      }

      &:not(:first-child):not(:nth-child(4n + 1)) {
        margin-left: 2px;
      }
    }
  }
}

.extraCount {
  color: #666;
  font-size: 12px;
  font-weight: bold;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}
