$desctopItemWidth: 261px;
$tabletItemWidth: 386px;
$mobileItemWidth: 320px;

.item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: $desctopItemWidth;
  height: 73px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: $tabletItemWidth;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: $mobileItemWidth;
    }
  }
}

.overPanelContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 73px;
  background-color: #fff;
  background-color: var(--default-bg-panel-active-color);
}
