.chainReportWp {
  --sort-arrow-color: #ccc;
  --sort-arrow-border-color: #fff;
}

:global(.dark-mode) {
  .chainReportWp {
    --sort-arrow-color: #000;
    --sort-arrow-border-color: #000;
  }
}

.chainReportWp {
  .graph {
    height: 200px;
  }

  .sortIcon {
    margin: auto;
    position: relative;
    z-index: 1;
    display: none;

    &.activeIcon {
      display: block;
    }

    &.desc {
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: var(--sort-arrow-border-color) transparent transparent transparent;
    }

    &.desc::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-top: 5px solid var(--sort-arrow-color);
      border-right: 5px solid transparent;
      position: absolute;
      top: -6px;
      left: -5px;
    }

    &.asc {
      top: -7px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 6px 6px;
      border-color: transparent transparent var(--sort-arrow-color) transparent;
    }

    &.asc::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-bottom: 6px solid var(--sort-arrow-border-color);
      border-right: 5px solid transparent;
      position: absolute;
      top: 1px;
      left: -5px;
    }
  }
}

:global(.d .chain .members-names-rows > li) {
  padding: 0;
  height: 32px;
}

:global(.d .chain .report-stats-titles) {
  color: var(--tabs-color);
}

:global(.dark-mode) {
  :global(.chain .report-stats-titles) {
    text-shadow: none;
  }
}

:global(.d .chain .members-bonus-row) {
  line-height: 18px;
  height: auto;
  padding: 10px 5px;
  border-left: 0;
  border-right: 0;
}
