.game {
  height: 100%;
  display: flex;
  overflow: hidden;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: 466px;
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      height: 362px;
    }
  }
}
