@import '../../styles/index.cssmodule.scss';

.switchIconContainer {

  @media screen and (max-width: 1000px) {
    #{$global-d}#{$global-r} & {
      margin: 0 7px 5px 7px;
      height: 16px;
    }
  }
  @media screen and (max-width: 600px) {
    #{$global-d}#{$global-r} & {
      margin: 0 9px 5px 9px;
    }
  }
}

.switcherIcon {
  display: block;
  margin: 0 auto;
}

.switcherTitle {
  margin: 0;
  font-weight: bold;

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      display: none;
    }
  }
}

.svgIconSwitch {
  left: 2px;

  @extend .svgIcon;

  @media screen and (max-width: 1000px) {
    #{$global-d}#{$global-r} & {
      left: 6px;
    }
  }
  @media screen and (max-width: 600px) {
    #{$global-d}#{$global-r} & {
      left: 0;
    }
  }
}

.switcherContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  max-width: 64px;
  height: 100%;
  color: #777;
  color: var(--appheader-links-color);
  text-shadow: 0 1px 0 #ffffffa6;
  text-shadow: var(--appheader-links-text-shadow-color);
  line-height: 24px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-left: 0;
      padding-left: 0;
      max-width: 30px;
      max-height: 39px;
    }
  }

  &:hover {
    .switcherTitle {
      color: #333;
      color: var(--appheader-links-color-hover);
    }

    .svgIconSwitch {
      color: #333;
      color: var(--appheader-links-color-hover);
    }

    .tutorialHide,
    .tutorialShow {
      background-position: left bottom;
    }
  }
}

.tutorialSwitcher {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 58px;
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      width: 100%;
    }
  }
}
