.flexRow {
  display: flex;
  flex-direction: row;
}

.engagedUsersHolder {
  flex-wrap: wrap;
  margin: 9px 0 0;
  composes: flexRow;
}

.button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

.iconButton {
  cursor: pointer;
  transition: opacity .3s linear;
  composes: button;
  composes: flexRow;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.engadedUserContainer {
  align-items: center;
  margin: 4px 10px 4px 0;
  min-width: 89px;
  height: 26px;
  border: 1px solid #c0d1d8;
  border-color: var(--ct-my-maps-members-border-color);
  border-radius: 5px;
  background: linear-gradient(#fdfefe 0%, #d8e2e7 100%);
  background: var(--ct-my-maps-members-bg);
  composes: flexRow;

  &:first-child {
    margin-left: 0;
  }
}

.svgIconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 100%;
  border-right: 1px solid #c0d1d8;
  border-right-color: var(--ct-my-maps-members-border-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.buttonDeleteUser {
  composes: button;
  width: 24px;
  height: 100%;
  cursor: pointer;
  composes: flexRow;
  align-items: center;
  justify-content: center;
}

.userTitleWrap {
  display: flex;
  justify-content: space-around;
  max-width: 200px;
  height: 100%;
}

.userTitle {
  padding-left: 8px;
  overflow: hidden;
  color: #888;
  color: var(--ct-my-maps-user-font-color);
  line-height: 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tester {
  opacity: 1;
}

.editor {
  opacity: 1;
}

.allSlotsSet {
  cursor: default;
  opacity: .5;
}
