$d: 50px;
$duration: .75s;
$easing: cubic-bezier(.68, -.55, .265, 1.55);

.hideScrollBar {
  &::-webkit-scrollbar {
    width: 0 !important;
  }

  ::-webkit-scrollbar-thumb {
    width: 0 !important;
    background: transparent;
  }
}

.scrollIconsWrap {
  position: absolute;
  top: 0;
  z-index: 4;
  height: 438px;  // the height is bigger than container. It's because of some weird glitch with scroll area
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-mask-image: linear-gradient(0deg, #000 100%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #000 85%, rgba(0, 0, 0, 0));
  -webkit-mask-size: 100% 50%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;
  composes: hideScrollBar;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      -webkit-mask-image: linear-gradient(0deg, #000 100%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #000 85%, rgba(0, 0, 0, 0));
      height: 413px; // the height is bigger than container. It's because of some weird glitch with scroll area
    }
  }
}

.iconsContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  composes: hideScrollBar;
}

.iconsWrap {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  composes: hideScrollBar;

  &.withoutScroll {
    justify-content: flex-start;
  }
}

.iconWrap {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  position: relative;
  width: 64px;
  transition: margin .1s linear;

  &.showup {
    animation-duration: #{$duration}, .2s;
    animation-timing-function: #{$easing}, linear;
    animation-delay: 0s, 0s;
    animation-iteration-count: 1, 1;
    animation-direction: normal, normal;
    animation-fill-mode: forwards, forwards;
    animation-play-state: running, running;
  }

  &.leave {
    animation-duration: #{$duration}, #{$duration};
    animation-timing-function: #{$easing}, linear;
    animation-delay: 0s, 0s;
    animation-iteration-count: 1, 1;
    animation-direction: normal, normal;
    animation-fill-mode: forwards, forwards;
    animation-play-state: running, running;
  }

  &:last-of-type {
    padding-bottom: 85px;
  }

  @media #{$screen-mobile} {
    &:last-of-type {
      padding-bottom: 65px;
    }
  }
}

.hide {
  right: -60px;
}

.svgIconWrap {
  position: relative;
  display: flex;
  width: auto;
  height: auto;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 60px;
    height: 7px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.iconImg {
  width: auto;
  height: auto;
}

.countWrap {
  position: absolute;
  top: -7px;
  width: 40px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  * {
    pointer-events: none;
  }
}

.count {
  color: inherit;
  font-weight: bold;
}

.scrollLeft {
  left: 0;

  .iconsWrap {
    padding-right: 10px;
  }

  .iconWrap {
    align-items: flex-end;
  }

  .countWrap {
    right: 0;
  }

  .showup {
    animation-name: showLeft, magnifyUp;
  }

  .leave {
    animation-name: hideLeft, magnifyDown;
  }

  .svgIconWrap {
    &::after {
      right: 15px;
    }
  }
}

.scrollRight {
  right: 0;

  .iconsWrap {
    padding-left: 10px;
  }

  .iconWrap {
    align-items: flex-start;
    padding-top: 4px; // fix for align first elem on both left and right sides
  }

  .countWrap {
    left: 0;
  }

  .showup {
    animation-name: showRight, magnifyUp;
  }

  .leave {
    animation-name: hideRight, magnifyDown;
  }

  .svgIconWrap {
    &::after {
      left: 15px;
    }
  }
}

.effect {
  opacity: 1;
}

.perk {
  &::after {
    width: 55px;
  }
}

.timeLeft {
  padding-top: 2px;
  width: 40px;
  font-size: 10px;
  text-align: center;
}

.red {
  .svgIconWrap {
    &::after {
      background-color: rgba(178, 45, 0, .3);
    }
  }

  .timeLeft {
    color: #8c2300;
  }
}

.green {
  .svgIconWrap {
    &::after {
      background-color: rgba(105, 140, 0, .4);
    }
  }

  .timeLeft {
    color: #4c6600;
  }
}

.blue {
  .svgIconWrap {
    &::after {
      background-color: rgba(64, 148, 177, .4);
    }
  }

  .timeLeft {
    color: #2b8dad;
  }

  .count {
    color: #2b8dad;
  }
}

.yellow {
  &.iconWrap {
    padding-left: 0;
  }

  .svgIconWrap {
    &::after {
      background-color: rgba(218, 165, 0, .4);
    }
  }

  .timeLeft,
  .timeStamp {
    color: #daa520;
  }
}

.iconWrap:hover .title {
  display: block;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: flex-start;
  width: 40px;
  min-height: 25px;
  height: auto;

  & > * {
    pointer-events: none;
  }
}

.tooltipText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.tooltipTitle {
  font-weight: bold;
}

.tooltipDesc {
  text-align: left;
}

// .putLeft {
//   left: -60px;
// }

@keyframes showLeft {
  0% {
    left: -60px;
  }

  100% {
    left: 0;
  }
}
@keyframes hideLeft {
  0% {
    left: 0;
    max-height: 100px;
  }

  75% {
    max-height: 100px;
  }

  100% {
    left: -60px;
    max-height: 0;
  }
}

@keyframes magnifyUp {
  0% {
    height: 0;
  }

  100% {
    height: 41px;
  }
}

@keyframes magnifyDown {
  0% {
    height: 41px;
  }

  100% {
    height: 0px;
  }
}

@keyframes showRight {
  0% {
    right: -60px;
  }

  100% {
    right: 0;
  }
}

@keyframes hideRight {
  0% {
    right: 0;
  }

  75% {
    right: -60px;
  }

  100% {
    right: -60px;
  }
}

#{$dark-mode} {
  .red {
    .timeLeft {
      color: #F03E3E;
    }
  }

  .green {
    .timeLeft {
      color: #759B00;
    }
  }
}
