.link {
  color: #74c0fc;
  text-decoration: none;

  &:hover {
    color: #a5d8ff;
  }
}

.notificationsList {
  margin-top: 10px;
}

.notification {
  background: #333;
  font-family: "Fjalla One", serif;
  border-radius: 5px;
  position: relative;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.closeBtn {
  width: 34px;
  height: 34px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
  top: 0;
  right: 0;

  svg {
    filter: url(#wars-close-icon-filter);
    fill: url(#wars-close-icon-gradient);
  }

  &:hover {
    svg {
      filter: url(#wars-close-icon-filter-hover);
      fill: url(#wars-close-icon-gradient-hover);
    }
  }
}

.header {
  width: 502px;
  float: left;

  .title {
    line-height: 0;
  }

  .description {
    text-align: center;
    font-size: 17px;
    color: rgb(206, 206, 191);
    position: relative;
    z-index: 1;
  }
}

.svgTitle {
  width: 100%;
  height: 46px;

  .titleText {
    font-size: 29px;

    &.win {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, .65), 0 0 10px rgba(191, 255, 0, .45);
    }

    &.lose {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, .65), 0 0 10px rgba(255, 64, 0, .6);
    }
  }
}

.result {
  width: 502px;
  font-family: "Fjalla One", serif;
  float: left;
}

.reportWrapper {
  text-align: center;

  .link {
    font-size: 12px;
    line-height: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .header,
  .result {
    width: 100%;
    float: none;
  }

  .svgTitle {
    height: 47px;
  }
}
@media screen and (max-width: 600px) {
  .notification {
    border-radius: 0;
  }
}
