.warringTiersWrapper {
  width: 282px;
  height: 216px;
  display: flex;
  position: relative;
  align-items: center;
  float: right;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
  }

  &::before {
    left: -1px;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  }

  &::after {
    left: 0;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .08) 50%, rgba(255, 255, 255, 0) 100%);
  }
}

.rankedWarHeader {
  margin-top: 22px;
}

.rankedWarResult {
  &.noItems {
    margin-top: 37px;
  }

  .itemsWrapper {
    text-align: center;
    padding: 13px 0 13px 10px;
    margin-top: -10px;

    .item {
      background-image: linear-gradient(0deg, #ebebeb 0%, #ddd 100%);
      width: 60px;
      height: 30px;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, .25);
      border-radius: 5px;
      display: inline-block;
      margin-right: 10px;
      position: relative;
      margin-top: 10px;

      .amount {
        font-family: "Arial", Helvetica, sans-serif;
        font-weight: bold;
        position: absolute;
        color: #666;
        font-size: 10px;
        bottom: 0;
        right: 1px;
        text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
      }
    }
  }

  .pointsWrapper {
    text-align: center;

    .points,
    .respect {
      font-size: 17px;
      color: rgb(206, 206, 191);
      display: inline-block;
      margin: 0 13px;

      .icon {
        width: 22px;
        height: 22px;
        background-image: url(/images/v2/main/icons/currency_icons_sprite.svg);
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }

      .value {
        vertical-align: middle;
      }
    }

    .respect {
      .icon {
        background-position: 0 -138px;
      }
    }

    .points {
      text-align: right;

      .icon {
        background-position: -24px -93px;
      }
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .errorMessage {
    text-align: center;
    font-size: 18px;
    color: #f97041;
    text-shadow: 0 3px 6px #00000029;
    margin-bottom: 24px;
  }
}

.rankedWarReportWrapper {
  margin-top: 6px;
}

@media screen and (max-width: 1000px) {
  .warringTiersWrapper {
    width: 100%;
    float: none;
    height: 219px;

    &::before,
    &::after {
      display: none;
    }
  }

  .rankedWarHeader {
    margin-top: 0;
    padding-top: 14px;
  }

  .rankedWarResult {
    &.noItems {
      margin-top: 0;
    }

    .itemsWrapper {
      padding-top: 2px;
      padding-bottom: 17px;
    }
  }

  .rankedWarReportWrapper {
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 600px) {
  .rankedWarHeader {
    padding-top: 12px;
  }

  .rankedWarResult {
    .itemsWrapper {
      padding-left: 30px;
      padding-right: 20px;
    }
  }

  .rankedWarReportWrapper {
    padding-bottom: 7px;
  }
}
