.extraOddsActivator {
  padding: 0 0 0 10px;
  float: unset !important;
  // TODO: Remove "important" when styles in the bookie_popular_matches.scss will be removed
  user-select: none;
  background-color: #f2f2f2;
  background-color: var(--default-bg-panel-color);
  position: relative;

  &:before {
    content: '';
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-bottom-color: var(--default-panel-divider-outer-side-color);
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  &:not(.active) {
    border-bottom: 9px solid #fff;
    border-bottom-color: var(--default-panel-divider-inner-side-color);
  }
}

.title {
  border-bottom: 1px solid #eee;
  border-bottom-color: var(--bookies-list-item-bet-color);
}
