@import '../../styles/mixins';

.newRoundCountDown {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 10px #85b200;

  @include appType('desktop/full') {
    bottom: 80px;
  }
  @include appType([ 'desktop/sidebar', 'tablet/full' ]) {
    bottom: 118px;
  }
  @include appType('tablet/sidebar') {
    bottom: 136px;
    width: 100px;
    font-size: 11px;
    line-height: 1.2em;
  }
  @include appType('mobile') {
    bottom: 165px;
    width: 100px;
    font-size: 12px;
    line-height: 1.2em;
  }
}
