@import '../index.cssmodule.scss';

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexColumnCenter {
  composes: flex;
  flex-direction: column;
}

.flexRowCenter {
  composes: flex;
  flex-direction: row;
}

.votesWrap {
  box-sizing: border-box;
  background: #fff;
  background: var(--ct-rating-votes-bg);
  pointer-events: none;
  composes: flexColumnCenter;
}

.totalVotes,
.averageStars {
  color: #668fa3;
  color: var(--ct-rating-votes-title-color);
}

.totalVotes {
  composes: font;
}

.averageStars {
  composes: font;
  font-size: 12px;
}

.starBarsWrap {
  margin: 8px 8px 5px 15px;
  width: inherit;
  height: inherit;
  composes: flexColumnCenter;
}

.starBar {
  margin-bottom: 6px;
  width: inherit;
  height: auto;
  composes: flexRowCenter;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.starProgressWrap {
  position: relative;
  display: block;
  margin: 0 5px;
  width: 80px;
  height: 8px;
}

.starProgressBcg {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #dadada, #f6f6f6, #e8e8e8);
}

.starProgress {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  background: linear-gradient(180deg, #d9b857, #eac044, #d3a51f);
}

.starCount,
.starPercentage {
  width: 26px;
  height: auto;
  color: #b8b8b8;
  color: var(--ct-rating-votes-color);
  font-size: 11px;
  white-space: nowrap;
  word-break: normal;
}

.starCount {
  text-align: right;
}

.starPercentage {
  text-align: left;
}
