.animatedPart {
  position: absolute;
  top: 30px;
  left: 33px;
  width: 57px;
  height: 30px;
  overflow: hidden;

  .movablePartLeft {
    width: 100%;
    height: 100%;
    background: url(/images/v2/christmas_town/gates/gate2/left_side.png) left bottom no-repeat;
    transition: transform .5s;
    transform: translateX(0);
  }

  .movablePartRight {
    position: absolute;
    top: 0;
    left: 29px;
    width: 100%;
    height: 100%;
    background: url(/images/v2/christmas_town/gates/gate2/left_side.png) left bottom no-repeat;
    transition: transform .5s;
    transform: translateX(0);
  }

  &.opened {
    .movablePartLeft {
      transform: translateX(-100%);
    }

    .movablePartRight {
      transform: translateX(100%);
    }
  }
}
