.progressCircle {
  circle {
    &:last-child {
      transition: stroke-dashoffset .5s ease-out;
      animation-name: animGo;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes animGo {
  0% {
    stroke-dashoffset: inherit;
  }

  100% {
    stroke-dashoffset: 106.8;
  }
}
