.membersWrap {
  --sort-arrow-color: #ccc;
  --sort-arrow-border-color: #fff;
}

:global(.dark-mode) {
  .membersWrap {
    --sort-arrow-color: #000;
    --sort-arrow-border-color: #000;
  }
}

:global(.d .f-war-list.war-new .faction-war) {
  border-top: 0;
}

.membersWrap {
  .customStatus {
    margin: 0 2px 0 0;
  }

  .customBlockWrap {
    margin-right: -4px;
  }

  .name {
    width: 372px;

    .score {
      margin-top: 10px;

      @media (max-width: 1000px) {
        #{$global-r} & {
          margin-top: 0;
        }
      }
    }

    &.current {
      .score {
        color: #85b200;
      }
    }

    &.opponent {
      .score {
        color: #ff794c;
      }
    }

    @media (max-width: 1000px) {
      #{$global-r} & {
        width: 173px;
        padding: 0 10px;
        background: var(--default-tabs-bg-gradient);
        position: relative;

        &:not(.active) {
          cursor: pointer;
        }

        &.active {
          background: var(--tabs-active-bg-gradient);
        }

        &.current {
          &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 1px;
            background: var(--default-divider-left-linear-gradient);
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: -1px;
            width: 1px;
            background: var(--default-divider-right-linear-gradient);
          }
        }

        .text {
          float: left;
          max-width: 130px;
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .score {
          float: right;
        }
      }
    }
    @media (max-width: 600px) {
      #{$global-r} & {
        width: 140px;

        .text {
          max-width: 94px;
        }
      }
    }
  }

  .tabMenuCont {

    @media (max-width: 1000px) {
      #{$global-r} & {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }

  .membersCont > div {
    line-height: 36px;
  }

  .profileMode {
    display: block;

    .prevColumn {
      border-right: 0 !important;
    }

    .attack {
      display: none;
    }
  }

  .membersCont {
    .tab {
      .sortIcon {
        margin: auto;
        position: relative;
        z-index: 1;
        left: 5px;
        display: none;

        &.activeIcon {
          display: block;
        }

        &.desc {
          top: -1px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 6px 0 6px;
          border-color: var(--sort-arrow-border-color) transparent transparent transparent;
        }

        &.desc::after {
          content: '';
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-top: 5px solid var(--sort-arrow-color);
          border-right: 5px solid transparent;
          position: absolute;
          top: -6px;
          left: -5px;
        }

        &.asc {
          top: -8px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 6px 6px 6px;
          border-color: transparent transparent var(--sort-arrow-color) transparent;
        }

        &.asc::after {
          content: '';
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-bottom: 6px solid var(--sort-arrow-border-color);
          border-right: 5px solid transparent;
          position: absolute;
          top: 1px;
          left: -5px;
        }
      }
    }

    &.report {
      .status {
        color: var(--default-gray-6-color);
      }
    }
  }
}

:global(.f-war-list.war-new .faction-war .tab-menu-cont .members-list),
:global(.f-war-list.war-new .faction-war .tab-menu-cont .members-cont) {
  &.membersCont {
    .member {
      padding-left: 6px;
      width: 154px;
      border-left: 0;
      height: 33px;
      border-right: 1px solid var(--default-panel-divider-outer-side-color);

      :global(.user.faction) {
        margin-left: 0;
      }

      :global(.user.name) {
        margin-left: 2px;
      }

      &.total {
        color: var(--default-gray-6-color);

        > span {
          margin-left: 4px;
        }
      }
    }

    .points,
    .level,
    .attack {
      width: 43px;
      text-align: right;

      @media (max-width: 1000px) {
        #{$global-r} & {
          &.tab {
            width: 45px;
          }

          &.attack {
            width: 44px;
          }
        }
      }
      @media (max-width: 600px) {
        #{$global-r} & {
          &.attack {
            width: 38px;
          }
        }
      }
    }

    .points,
    .level,
    .status {

      @media (max-width: 1000px) {
        #{$global-r} & {
          display: block;
        }
      }
    }

    .status {
      width: 50px;
      text-align: right;
      padding-left: 0;
      padding-right: 10px;

      @media (max-width: 1000px) {
        #{$global-r} & {
          &.tab {
            width: 52px;
          }
        }
      }
    }

    .attack {
      padding-left: 0;
      padding-right: 10px;
      border-right: 0;
      cursor: auto;
    }

    .enemy,
    .your {
      background-color: transparent;

      .points {
        color: var(--default-gray-6-color);
      }
    }

    @media (max-width: 1000px) {
      #{$global-r} & {
        .tab {
          border: 0;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 1px;
            background: var(--default-divider-left-linear-gradient);
          }

          &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: -1px;
            width: 1px;
            background: var(--default-divider-right-linear-gradient);
          }

          &:first-child::before,
          &:first-child::after {
            display: none;
          }

          &:last-child {
            border-right: 0;
          }
        }
      }
    }
    @media (max-width: 600px) {
      #{$global-r} & {
        .level {
          display: none;
        }

        .status,
        .score,
        .attack {
          padding-right: 6px;
        }
      }
    }
  }
}

:global(.f-war-list.war-new .faction-war .faction-names) {
  display: block;
  padding: 10px;

  @media (max-width: 1000px) {
    #{$global-r} & {
      font-size: 14px;
      padding: 0;
      line-height: 34px;
    }
  }
}

:global(.f-war-list.war-new .faction-war .tab-menu-cont.your-faction .members-list),
:global(.f-war-list.war-new .faction-war .tab-menu-cont.profile-mode .members-list),
:global(.f-war-list.war-new .faction-war .tab-menu-cont.your-faction .members-cont),
:global(.f-war-list.war-new .faction-war .tab-menu-cont.profile-mode .members-cont) {
  &.membersCont {
    .member {
      height: 34px;

      > span {
        margin-left: 4px;
      }
    }

    .level {
      border-right: 1px solid var(--default-panel-divider-outer-side-color);
    }

    .level,
    .points {
      width: 63px;

      @media (max-width: 1000px) {
        #{$global-r} & {
          &.tab {
            width: 65px;
            border: 0;
          }
        }
      }
    }

    .status {
      width: 64px;
      border-right: 0;

      @media (max-width: 1000px) {
        #{$global-r} & {
          padding-right: 10px;

          &.tab {
            width: 65px;
          }
        }
      }
      @media (max-width: 600px) {
        #{$global-r} & {
          width: 72px !important;
        }
      }
    }
  }
}
