.input {
  width: 200px;
  height: 34px;
  padding: 5px 10px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  background: rgba(#fff, .8);
  border: 1px solid #fff;
  border-radius: 5px;
  color: #668ca3;
  font-size: 15px;
  font-family: Ubuntu, sans-serif !important;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;

  &.wrong {
    color: #ff5b26;
  }
}
