@import '../../../styles/global.cssmodule.scss';
@import '../../../styles/constants.cssmodule.scss';
@import '../../Rows/index.cssmodule.scss';

.tradingWrap {
  box-sizing: border-box;
  flex-direction: column;
  width: 392px;
  height: 47px;
  border-right: $ammoBorderGrey;
  composes: flexCenter;
  justify-content: center;

  &:last-of-type {
    border-right: 0;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex-direction: row;
      width: 386px;
      height: 55px;
      border-right: none;

      &:last-of-type {
        border-top: $ammoBorderGrey;

        .first {
          max-width: 60px;
        }
      }
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 320px;
      height: 57px;
    }
  }
}

.outcomeSection {
  width: 392px;
  height: 47px;
}

.inputValueTouchWrap {
  opacity: 1;
  composes: flexCenter;
  width: 100%;
  transition: background .3s linear;
}

.infoSection {
  box-sizing: border-box;
  padding: 10px;
  border-bottom: $ammoBorderGrey;
  composes: flexCenter;
  composes: outcomeSection;

  &:last-of-type {
    border-bottom: 0;
  }
}

.infoTouchWrap {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  composes: flexCenter;
}

.infoTouchText {
  padding: 10px;
  padding-bottom: 5px;
}

.totalTouchText {
  padding: 10px;
}

.buttonsTouchWrap {
  position: relative;
  flex: 1;
  justify-content: flex-end;
  width: 100%;
  composes: flexCenter;
}

.info {
  display: inline-block;
  padding-right: 5px;
  overflow: hidden;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text {
  display: inline-block;
  padding-right: 5px;
  text-overflow: unset;
}

.cost {
  color: #7d7878;
}

.price {
  display: inline-block;
  max-width: 174px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 1;

  &.first {
    padding-right: 5px;
    max-width: 160px;
  }

  &.last {
    padding-right: 0;
    max-width: unset;
    text-overflow: unset;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      &.first {
        max-width: 160px;
      }
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      &.first {
        max-width: 86px;
      }
    }
  }
}

.tradingSection {
  position: relative;
  box-sizing: border-box;
  padding: 0 10px;
  composes: flexCenter;
  composes: outcomeSection;
  justify-content: space-between;

  &:last-of-type {
    .price.first {
      max-width: 160px;
    }
  }
}

.inputValue {
  width: 77px;
  height: 24px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 75px;
      height: 34px;
    }
  }
}

.restrictedSymbol {
  transition: border 1s linear;
  border: 1px solid $warningColor;
}

.tradeLimitReached {
  composes: restrictedSymbol;
}

.buttonZeroing {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.buttonText {
  color: #111111c7;
  font-size: 14px;
  font-weight: 700;
  text-shadow: 0 1px 0 hsla(0, 0%, 100%, .36);
  text-transform: uppercase;
}

body:global(.d .content) .tradingButton {
  margin: 10px;
  width: 62px;
  padding: 4px 8px;
  text-transform: uppercase;
  box-sizing: border-box;
}

body:global(.d.r .content) .tradingButton {
  // reset global styles

  @media #{$screen-tablet} {
    margin: 10px;
    height: 34px;
    padding: 4px 9px;
    box-sizing: border-box;
  }
}

.activeButton {
  cursor: pointer;
  background: transparent linear-gradient(180deg, #ccc 0%, #999 60%, #666 100%) 0% 0% no-repeat padding-box;

  &:hover {
    box-shadow: 0 0 0;
    background: transparent linear-gradient(180deg, #fff 0%, #bbb 60%, #999 100%) 0% 0% no-repeat padding-box;
  }
}

.buttonInTradeProgress {
  box-shadow: 0 0 0;
  background: linear-gradient(180deg, #fcfcfc, #cac9c9 75%, #bdbcbc 90%);
  pointer-events: none;
}

.tradingInfo {
  opacity: 1;
}

.tradeDialogWrap {
  position: relative;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 0 0 10px 10px;
  width: 100%;
  height: auto;
  composes: flexCenter;

  &:first-of-type {
    border-right: $ammoBorderGrey;
  }

  &:last-of-type {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -1px;
      width: 1px;
      height: 100%;
      background: #ccc;
    }
  }
}

.dialogInfoWrap {
  composes: flexCenter;
  width: unset;
  height: auto;

  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 100%;
    }
  }
}

.dialogPriceLast {
  max-width: 67px;

  @media #{$screen-mobile} {
    #{$global-r} & {
      max-width: 60px;
    }
  }
}

.confirmationWrap {
  position: relative;
  top: -2px;
  display: flex;
  min-height: 14px;
}

.confirmButton {
  composes: buyButton;
  position: unset;
  font-weight: bold;

  &:first-child {
    margin-right: 8px;
  }

  &:hover {
    color: #098bda;
  }
}

.longInputWrap {
  position: relative;
  top: 1px;
  // flex-direction: column;
  align-items: flex-start;

  .info {
    max-width: 200px;
  }

  .dialogInfoWrap {
    padding-bottom: 7px;
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      .info {
        max-width: 135px;
      }
    }
  }
}

.warningTooltip {
  z-index: 10000;
  position: absolute;
  top: -50%;
  padding: 7px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(17, 17, 17, .28);
  background: #f9f8f8;
  color: $warningColor;
  right: calc(50% - 49px);
  transform: translateX(50%);
  white-space: pre;

  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 27px;
    width: 0;
    height: 0;
    border-top: 8px solid #f9f8f8;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    filter: drop-shadow(0 2px 1px rgba(17, 17, 17, .15));
    left: 50%;
    transform: translateX(-50%);
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      top: -45%;
      right: calc(50% + 41px);
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      top: -45%;
      right: calc(50% + 57px);
    }
  }

  #{$dark-mode} & {
    background: #444;

    &::after {
      border-top: 8px solid #444;
    }
  }
}

// .transparent {
//   background: transparent;

//   &::after {
//     content: '';
//     background: transparent;
//   }
// }

// .limitReached {
//   opacity: 1;
//   // white-space: pre;
// }

.sumInfoWrap {
  opacity: 1;
  composes: flexCenter;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.textWrap {
  composes: flexCenter;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 2px 0;

  @media #{$screen-mobile} {
    #{$global-r} & {
      margin: 3px 0;
    }
  }
}

.actionTradeWrap {
  composes: flexCenter;
}

:global {
  .ammoTooltip-enter {
    opacity: 0;

    &.ammoTooltip-enter-active {
      transition: opacity .3s linear;
      opacity: 1;
    }
  }

  .ammoTooltip-exit {
    opacity: 1;
    transition: opacity .1s linear;

    &.ammoTooltip-exit-active {
      opacity: 0;
    }
  }
}
