.logWrapper {
  box-shadow: 0 1px 0 #fff;
  box-shadow: var(--activity-log-list-panel-shadow);
  border-radius: 0 0 5px 5px;
  padding-top: 5px;

  &.tableView {
    padding-top: 0;

    .notFoundMsg {
      padding: 10px;
    }
  }

  .notFoundMsg {
    padding: 5px 10px 10px;
  }
}
