@media screen and (max-width: 1000px) {
  .table {
    .dateCol {
      .row {
        display: flex;
        border-right: 1px solid #ddd;
        border-right-color: var(--activity-log-table-divider-color);
      }
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    .scrollArea {
      position: relative;
      width: calc(100% - 60px);
      float: right;

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 100%;
        top: 0;
      }

      &::after {
        right: 0;
        background: linear-gradient(270deg, #00bfff26 0%, #00bfff00 100%);
      }

      &::before {
        left: 0;
        background: linear-gradient(90deg, #00bfff26 0%, #00bfff00 100%);
      }
    }

    .dataWrapper {
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      .data {
        width: auto;
        display: table;
        min-width: 100%;

        .row {
          display: table-row;

          .col {
            display: table-cell;
            white-space: nowrap;
            border-bottom: 1px solid #ddd;
            border-bottom-color: var(--activity-log-table-divider-color);
            line-height: 30px;

            &:first-child {
              border-left: none;
            }
          }
        }
      }
    }
  }
}
