.table {
  display: table;
  width: 100%;

  .row {
    display: table-row;

    .col {
      display: table-cell;
      border-bottom: 1px solid #ddd;
      border-bottom-color: var(--activity-log-table-divider-color);
      line-height: 12px;
      vertical-align: middle;

      &.date {
        width: 60px;
        box-sizing: border-box;

        &.value {
          font-size: 10px;
          color: #666;
          color: var(--activity-log-table-date-text-color);
        }
      }
    }
  }

  thead.tableHeader {
    .row {
      .col {
        text-align: left;
      }

      &:last-child {
        border-bottom: 1px solid #ddd;
        border-bottom-color: var(--activity-log-table-divider-color);
      }
    }
  }
}
