.table {
  .row {
    border-bottom: 1px solid #ddd;
    border-bottom-color: var(--activity-log-table-divider-color);

    &.title {
      font-weight: bold;
      text-shadow: 0 1px 0 #fff;
      text-shadow: var(--activity-log-table-title-text-shadow);
    }

    .col {
      flex: 1;
      padding: 0 9px;
      color: #444;
      color: var(--activity-log-table-text-color);
      font-size: 12px;
      border-left: 1px solid #ddd;
      border-left-color: var(--activity-log-table-divider-color);
      height: 30px;
    }
  }

  .dateCol {
    width: 60px;
    float: left;

    .row {
      text-align: center;
      font-size: 10px;
      color: #666;
      color: var(--activity-log-table-date-text-color);
      padding: 5px 0;

      &.title {
        font-size: 12px;
        color: #444;
        color: var(--activity-log-table-text-color);
        padding: 9px;
      }
    }
  }

  &.fetched {
    .row,
    .data .row {
      &:last-child {
        border-bottom: none;

        .col {
          border-bottom: none;
        }
      }
    }
  }
}

.preloaderWrapper {
  position: relative;
  height: 24px;
}
