.title {
  font-size: 12px;
  background: linear-gradient(180deg, #fff 0%, #ddd 100%);
  background: var(--default-panel-gradient);
  border-bottom: 1px solid #ccc;
  border-bottom-color: 1px solid var(--activity-log-title-divider-color);
  box-shadow: 0 1px 0 #fff;
  box-shadow: var(--title-divider-shadow);
  border-radius: 5px 5px 0 0;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  .name {
    padding-left: 10px;
    float: left;
    color: #666;
    color: var(--title-white-color);
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    text-shadow: var(--title-white-text-shadow);
    line-height: 34px;
  }

  .buttonsWrapper {
    float: right;

    .button {
      margin: 0;
      padding: 10px 10px 9px;
      border: none;
      line-height: 0;
      position: relative;
      cursor: pointer;

      .icon {
        fill: #aaa;
        fill: var(--activity-log-title-icon-default-fill);
        filter: drop-shadow(0 1px 0 #fff);
        filter: var(--activity-log-title-icon-default-filter);
      }

      &:hover,
      &.active {
        .icon {
          fill: #777;
          fill: var(--activity-log-title-icon-hovered-fill);
          filter: drop-shadow(0 1px 0 #fff);
          filter: var(--activity-log-title-icon-default-filter);
        }
      }

      &.disabled {
        cursor: default;

        .icon {
          fill: #ccc;
          fill: var(--activity-log-title-icon-disabled-fill);
          filter: drop-shadow(0 -1px 0 #fff);
          filter: var(--activity-log-title-icon-disabled-filter);
        }

        &:hover {
          .icon {
            fill: #ccc;
            fill: var(--activity-log-title-icon-disabled-fill);
            filter: drop-shadow(0 -1px 0 #fff);
            filter: var(--activity-log-title-icon-disabled-filter);
          }
        }
      }

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 1px;
        top: 0;
      }

      &::before {
        left: -1px;
        background: linear-gradient(180deg, #ccc0 0%, #ccc 50%, #ccc0 100%) 0 0 no-repeat;
        background: var(--default-divider-left-linear-gradient);
      }

      &::after {
        left: 0;
        background: linear-gradient(180deg, #fff0 0%, #fff 50%, #fff0 100%) 0 0 no-repeat;
        background: var(--default-divider-right-linear-gradient);
      }
    }
  }
}
