.container {
  border-radius: 3px;
  max-width: initial;
  color: #444;
  color: var(--activity-log-tooltip-font-color);
  background: #f2f2f2;
  background: var(--tooltip-bg-color);
  font-size: 12px;

  .title {
    padding: 0 5px;
    white-space: nowrap;
  }
}

.tipArrow {
  border-top-color: #f2f2f2;
  border-top-color: var(--tooltip-bg-color);
  filter: drop-shadow(0 1px 0 #fff) drop-shadow(0 2px 1px #11111124);
  filter: var(--white-tooltip-arrow-filter);
  top: -1px;
}
