.dark-mode #newspaperroot {
  --newspaper-font-color: #ccc;

  --newspaper-unreed-article-bg-color: rgb(213, 209, 205, 0.2);
  --newspaper-unread-article-border-color: #444;
  --newspaper-unseen-article-bg-color: rgb(53, 124, 159, 0.3);
  --newspaper-unseen-article-border-color: #444;

  --newspaper-customers-img-filter: unset;
  --newspaper-views-counter-filter: invert(19%) sepia(83%) saturate(2748%) hue-rotate(183deg) brightness(96%) contrast(101%);
}
