#newspaperroot {
  --newspaper-font-color: #525252;

  --newspaper-unreed-article-bg-color: #dad1c9;
  --newspaper-unread-article-border-color: #ddd;
  --newspaper-unseen-article-bg-color: #357C9F;
  --newspaper-unseen-article-border-color: #000;

  --newspaper-customers-img-filter: drop-shadow(0px 1px 0px #fff);
  --newspaper-views-counter-filter: unset;
}
