.preloader {
  text-align: center;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.dots {
  width: 55px;
  height: 14px;
}

.dot {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-color: rgb(0, 0, 0);
  width: 10px;
  height: 10px;
  animation: bounceDot 0.3s infinite;
  transform: scale(0.3);
  border-radius: 50%;
  margin-left: -3px;
}

.dot1 {
  composes: dot;
  margin-left: 0;
  animation-delay: 0s;
}

.dot2 {
  composes: dot;
  animation-delay: 0.075s;
}

.dot3 {
  composes: dot;
  animation-delay: 0.15s;
}

.dot4 {
  composes: dot;
  animation-delay: 0.225s;
}

@keyframes bounceDot {
  0% {
    transform: scale(0.7);
    background-color: rgb(0, 0, 0);
  }

  100% {
    transform: scale(0.3);
    background-color: rgb(100, 100, 100);
  }
}
