// -------------------------
// COMMON STATS ANIMATION [START]
// -------------------------
.animationEnterProps {
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.animationExitProps {
  opacity: 0;
  position: absolute;
}

.statsColor_green-appear,
.statsColor_red-appear,
.statsColor_green-enter,
.statsColor_red-enter {

  @extend .animationEnterProps;
}

.statsColor_gray-exit,
.statsColor_green-exit,
.statsColor_red-exit {

  @extend .animationExitProps;
}

.statsColor_gray-enter {
  color: #9a9a8c;
}

.statsColor_green-appear,
.statsColor_green-enter {
  animation-name: greenUp;
}

.statsColor_red-appear,
.statsColor_red-enter {
  animation-name: redDown;
}

@keyframes greenUp {
  0% {
    color: #85b200;
  }

  100% {
    color: #9a9a8c;
  }
}
@keyframes redDown {
  0% {
    color: #ff7a4d;
  }

  100% {
    color: #9a9a8c;
  }
}
// -------------------------
// COMMON STATS ANIMATION [END]
// -------------------------

// -------------------------
// AMOUNT STATS CHANGING ANIMATION [START]
// -------------------------
.animationDiffEnterProps {
  animation-timing-function: ease-in;
  animation-duration: .5s;
  animation-fill-mode: initial;
  animation-iteration-count: 1;
}

.animationDiffExitProps {
  animation-timing-function: linear;
  animation-duration: 2.5s;
  animation-fill-mode: initial;
  animation-iteration-count: 1;
}

.statsColor_green_desktop_diff-appear,
.statsColor_red_desktop_diff-appear,
.statsColor_green_desktop_diff-enter,
.statsColor_red_desktop_diff-enter {
  animation-name: diffAnimEnterDesktop;

  @extend .animationDiffEnterProps;
}

.statsColor_green_mobile_diff-appear,
.statsColor_red_mobile_diff-appear,
.statsColor_green_mobile_diff-enter,
.statsColor_red_mobile_diff-enter {
  animation-name: diffAnimEnterMobile;

  @extend .animationDiffEnterProps;
}

.statsColor_green_desktop_diff-appear,
.statsColor_red_desktop_diff-appear,
.statsColor_green_mobile_diff-appear,
.statsColor_red_mobile_diff-appear {
  animation-duration: .6s;
}

.statsColor_green_desktop_diff-exit,
.statsColor_red_desktop_diff-exit {
  animation-name: diffAnimExitDesktop;

  @extend .animationDiffExitProps;
}

.statsColor_green_mobile_diff-exit,
.statsColor_red_mobile_diff-exit {
  animation-name: diffAnimExitMobile;

  @extend .animationDiffExitProps;
}

.statsColor_green_desktop_diff-appear,
.statsColor_green_desktop_diff-exit,
.statsColor_green_desktop_diff-enter,
.statsColor_green_mobile_diff-appear,
.statsColor_green_mobile_diff-exit,
.statsColor_green_mobile_diff-enter {
  color: #85b200;
}

.statsColor_red_desktop_diff-appear,
.statsColor_red_desktop_diff-exit,
.statsColor_red_desktop_diff-enter,
.statsColor_red_mobile_diff-appear,
.statsColor_red_mobile_diff-exit,
.statsColor_red_mobile_diff-enter {
  color: #ff7a4d;
}

.statsColor_red_desktop_diff-exit-done,
.statsColor_red_mobile_diff-exit-done {
  opacity: 0;
}

@keyframes diffAnimEnterDesktop {
  0% {
    top: 12px;
    opacity: 0;
  }

  25% {
    top: 9px;
    opacity: 0;
  }

  50% {
    top: 6px;
    opacity: 0;
  }

  75% {
    top: 3px;
    opacity: .5;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes diffAnimEnterMobile {
  0% {
    right: 0;
    opacity: 0;
  }

  25% {
    right: -7px;
    opacity: 0;
  }

  50% {
    right: -10px;
    opacity: 0;
  }

  75% {
    right: -13px;
    opacity: .5;
  }

  100% {
    right: -16px;
    opacity: 1;
  }
}
@keyframes diffAnimExitDesktop {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes diffAnimExitMobile {
  0% {
    right: -16px;
    opacity: 1;
  }

  100% {
    right: -16px;
    opacity: 0;
  }
}
// -------------------------
// AMOUNT STATS CHANGING ANIMATION [END]
// -------------------------
