.progressIconWrap {
  flex: 1;
}

.starsWrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  pointer-events: none;
}

.statCount {
  pointer-events: none;
}

.statsWrap {
  position: relative;
}

.statsStaticValueWrap {
  opacity: 1;
}

.statsDiffWrap {
  position: absolute;
  top: 0;

  .statsDiff {
    opacity: 0;
    position: relative;
    font-size: 10px;

    @media #{$screen-desktop} {
      #{$global-r} & {
        right: 0;
        left: 0;
      }
    }
    @media #{$screen-tablet} {
      #{$global-r} & {
        top: -1px;
        right: -16px;
      }
    }
  }
}
