@import '../../styles/constants.cssmodule.scss';

.bodyWrap {
  width: 100%;
  height: 388px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: url(/casino/russianRoulette/images/976_film.png), url(/casino/russianRoulette/images/976_room.png) no-repeat top;
  background-color: #2e2e2e;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: 275px;
      border-bottom: 1px solid #000;
      background-image: url(/casino/russianRoulette/images/578_room.png);
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      height: 231px;
      background-image: url(/casino/russianRoulette/images/320_room.png);
      border-radius: 0;
    }
  }
}

.userCardBlock {
  width: 191px;
  height: auto;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  margin: 0 15px;
  margin-top: 35px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 74px;
      justify-self: flex-end;
      margin: 0 10px;
      margin-top: 56px;

      &:first-child {
        margin-top: 78px;
        flex-direction: column-reverse;
        align-items: flex-start;

        .titleWrap {
          margin-bottom: 0;
          margin-top: 10px;
        }
      }

      &:last-child {
        align-items: flex-end;
      }
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      margin-top: 25px;

      &:first-child {
        margin-top: 49px;
      }
    }
  }
}

.titleWrap {
  margin-bottom: 10px;
  z-index: 1;
}

.title {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  &.white {
    color: $colorNamesDefault;
  }

  &.yellow {
    color: #ffc926;
    text-shadow: 1px 1px 2px #d96d00;
  }

  &.red {
    color: #ff3f00;
    text-shadow: 1px 1px 2px #f00;
  }

  &.green {
    color: #92c400;
    text-shadow: 1px 1px 2px #698c00;
  }
}
