.placeholderWrap {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  opacity: 1;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    z-index: 111111;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    animation-name: flashing;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
  }
}

@keyframes flashing {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.topSection {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.header {
  position: relative;
  height: 35px;
  background: var(--crimeRow-backgroundColor);

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 35px;
    box-shadow: -1px 1px 1px #bfb9b9;
  }
}

.banner {
  height: 150px;
  background: var(--crimeRow-borderTop);
}

.delimier {
  position: relative;
  z-index: 111;
  height: 13px;
  box-shadow: -1px 2px 1px #676666;
  background: var(--crimeRow-backgroundColor);
}

.leftSquare,
.rightSquere {
  position: absolute;
  bottom: -10px;
  z-index: 111;
  width: 43px;
  height: 34px;
  background: var(--crimeRow-backgroundColor);
  border-bottom: 2px solid #676666;
  box-sizing: border-box;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 0;
  }
}

.leftSquare {
  left: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;

  &::before {
    top: 0;
    left: 28px;
    border-top: 11px solid var(--crimeRow-borderTop);
    border-right: 20px solid var(--crimeRow-backgroundColor);
    transform: rotate(60deg);
    border-image: var(--crimeRow-backgroundColor);
  }

  &::after {
    bottom: -1px;
    left: 28px;
    border-top: 10px solid var(--crimeRow-backgroundColor);
    border-left: 18px solid var(--crimeRow-backgroundColor);
    transform: rotate(-60deg);
    border-image: var(--crimeRow-backgroundColor);
  }
}

.rightSquere {
  right: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  &::before {
    top: 0;
    right: 27px;
    border-top: 11px solid var(--crimeRow-borderTop);
    border-right: 20px solid var(--crimeRow-backgroundColor);
    transform: rotate(-1deg);
    border-image: var(--crimeRow-backgroundColor);
  }

  &::after {
    right: 31px;
    bottom: 0;
    border-top: 16px solid var(--crimeRow-backgroundColor);
    border-image: var(--crimeRow-backgroundColor);
    border-left: 14px solid #f9f9f2;
    transform: rotate(0deg);
  }
}

.bottomSection {
  opacity: 1;
  padding-top: 2px;
}
