.skeletonWrap {
  width: 976px;
}

.mapEditorSkeleton {
  height: 665px;
}

.paramEditorSkeleton {
  height: 675px;
}

.skeletonHeader {
  width: 100%;
  height: 35px;
  background: linear-gradient(180deg, #fff 0, #e0edf3 99%);
  border-bottom: 1px solid #bfd0d8;
}

.skeletonBody {
  width: 100%;
  height: calc(100% - 35px);
  background: #fff;
  animation-name: skeletonWrap;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes skeletonWrap {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .85;
  }

  100% {
    opacity: 1;
  }
}
