/* prevent from flexslider bottom scrollbar */
// html {
//   overflow-x: hidden !important
// }

.d .bookie-popular-wrap .bookie-sports-tabs-wrap {
  position: relative;
  border-bottom: 1px solid transparent;
}

.d .bookie-popular-wrap .bookie-sports-tabs-wrap::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 0;
  border-top: 1px solid #ccc;
  border-top-color: var(--default-panel-divider-outer-side-color);
  border-bottom: 1px solid #fff;
  border-bottom-color: var(--default-panel-divider-inner-side-color);
}

.d .bookie-popular-wrap .bookie-games-tabs.slides {
  display: flex;
}

.d .bookie-popular-wrap .bookie-games-tabs.slides > li,
.d .bookie-popular-wrap .bookie-date-tabs.slides > li {
  flex: 1 1;
  position: relative;
  top: 0;
  left: 0;
  // border-right: 1px solid #ccc;
  // border-right-color: var(--default-panel-divider-outer-side-color);
  // border-left: 1px solid #fff;
  // border-left-color: var(--default-panel-divider-inner-side-color);
}

// .d .bookie-popular-wrap .bookie-games-tabs.slides > li::before,
// .d .bookie-popular-wrap .bookie-date-tabs.slides > li::before,
// .d .bookie-popular-wrap .bookie-games-tabs.slides > li::after,
// .d .bookie-popular-wrap .bookie-date-tabs.slides > li::after {
//   content: '';
//   position: absolute;
//   left: -2px;
//   z-index: 9;
//   display: block;
//   width: 2px;
//   height: 10px;
// }

// .d .bookie-popular-wrap .bookie-games-tabs.slides > li:first-child::before,
// .d .bookie-popular-wrap .bookie-date-tabs.slides > li:first-child::before,
// .d .bookie-popular-wrap .bookie-games-tabs.slides > li:first-child::after,
// .d .bookie-popular-wrap .bookie-date-tabs.slides > li:first-child::after {
//   display: none;
// }

// .d .bookie-popular-wrap .bookie-games-tabs.slides > li::before,
// .d .bookie-popular-wrap .bookie-date-tabs.slides > li::before {
//   top: 0;
// background: -moz-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 0) 100%); /* FF3.6+ */
// background: -webkit-gradient(
//   linear,
//   left top,
//   left bottom,
//   color-stop(0%, rgba(242, 242, 242, 1)),
//   color-stop(100%, rgba(242, 242, 242, 0))
// ); /* Chrome,Safari4+ */

// background: -webkit-linear-gradient(
//   top,
//   rgba(242, 242, 242, 1) 0%,
//   rgba(242, 242, 242, 0) 100%
// ); /* Chrome10+,Safari5.1+ */

// background: -o-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 0) 100%); /* Opera 11.10+ */
// background: -ms-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 0) 100%); /* IE10+ */
// background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 0) 100%); /* W3C */
// filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */
//   background: -webkit-gradient(
//     linear,
//     left top,
//     left bottom,
//     from(hsla(0, 0%, 100%, 0.001)),
//     color-stop(#fff),
//     to(hsla(0, 0%, 100%, 0.001))
//   );
//   background: -o-linear-gradient(top, hsla(0, 0%, 100%, 0.001), #fff, hsla(0, 0%, 100%, 0.001));
//   background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.001), #fff, hsla(0, 0%, 100%, 0.001));
//   background: var(--tabs-divider-left-gradient);
// }

// .d .bookie-popular-wrap .bookie-games-tabs.slides > li::after,
// .d .bookie-popular-wrap .bookie-date-tabs.slides > li::after {
//   bottom: 0;
// background: -moz-linear-gradient(top, rgba(242, 242, 242, 0) 0%, rgba(221, 221, 221, 1) 100%); /* FF3.6+ */
// background: -webkit-gradient(
//   linear,
//   left top,
//   left bottom,
//   color-stop(0%, rgba(242, 242, 242, 0)),
//   color-stop(100%, rgba(221, 221, 221, 1))
// ); /* Chrome,Safari4+ */

// background: -webkit-linear-gradient(
//   top,
//   rgba(242, 242, 242, 0) 0%,
//   rgba(221, 221, 221, 1) 100%
// ); /* Chrome10+,Safari5.1+ */

// background: -o-linear-gradient(top, rgba(242, 242, 242, 0) 0%, rgba(221, 221, 221, 1) 100%); /* Opera 11.10+ */
// background: -ms-linear-gradient(top, rgba(242, 242, 242, 0) 0%, rgba(221, 221, 221, 1) 100%); /* IE10+ */
// background: linear-gradient(to bottom, rgba(242, 242, 242, 0) 0%, rgba(221, 221, 221, 1) 100%); /* W3C */
// filter: progid:dximagetransform.microsoft.gradient(startColorstr='#00ffffff', endColorstr='#dddddd', GradientType=0); /* IE6-9 */
//   background: -webkit-gradient(
//     linear,
//     left top,
//     left bottom,
//     from(hsla(0, 0%, 100%, 0.001)),
//     color-stop(#ddd),
//     to(hsla(0, 0%, 100%, 0.001))
//   );
//   background: -o-linear-gradient(top, hsla(0, 0%, 100%, 0.001), #ddd, hsla(0, 0%, 100%, 0.001));
//   background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.001), #ddd, hsla(0, 0%, 100%, 0.001));
//   background: var(--tabs-divider-right-gradient);
// }

// .d .bookie-popular-wrap .bookie-games-tabs.slides > li:first-child,
// .d .bookie-popular-wrap .bookie-date-tabs.slides > li:first-child {
//   border-left: transparent;
// }

.d .bookie-popular-wrap .bookie-games-tabs.slides > li:first-child,
.d .bookie-popular-wrap .bookie-games-tabs.slides > li:last-child {
  width: 40px;
}

.d .bookie-popular-wrap .bookie-date-tabs.slides > li:first-child,
.d .bookie-popular-wrap .bookie-date-tabs.slides > li:last-child {
  width: 79px !important;
}

// .d .bookie-popular-wrap .bookie-games-tabs.slides > li:last-child,
// .d .bookie-popular-wrap .bookie-date-tabs.slides > li:last-child {
//   border-right: transparent;
// }

.d .bookie-popular-wrap .bookie-games-tabs.slides > li a,
.d .bookie-popular-wrap .bookie-date-tabs.slides > li a {
  display: block;
  color: #888;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 0 rgb(255, 255, 255);
}
// FIXME: Dark Mode unknown element

.d .bookie-popular-wrap .flexslider {
  margin-bottom: 0;
  padding-bottom: 30px;
  overflow: hidden;
}

.d .bookie-popular-wrap .flex-control-nav {
  bottom: -10px;
  padding: 12px 0;
  background: #fff;
}
// FIXME: Dark Mode unknown element

.d .bookie-popular-wrap .flex-direction-nav {
  display: none;
}

.d .bookie-popular-wrap .bookie-games-tabs.slides > li.ui-state-disabled a,
.d .bookie-popular-wrap .bookie-date-tabs.slides > li.ui-state-disabled a {
  cursor: default;
  color: #bababa;
}
// FIXME: Dark Mode unknown element

.d .bookie-popular-wrap .bookie-games-tabs.slides > li.ui-state-active a,
.d .bookie-popular-wrap .bookie-date-tabs.slides > li.ui-state-active a {
  color: #444;
}
// FIXME: Dark Mode unknown element

.d .bookie-popular-wrap .pop-list > li {
  cursor: pointer;
}

.d .stats-main-wrap .bookie-popular-wrap .pop-list > li {
  cursor: auto;
}

.d .bookie-popular-wrap .pop-list > li.title {
  cursor: auto;
  position: relative;
  border-top: 1px solid transparent;
}

.d .bookie-popular-wrap .pop-list > li.title:first-child::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 100%;
  height: 0;
  border-top: 1px solid #ccc;
  border-top-color: var(--default-panel-divider-outer-side-color);
  border-bottom: 1px solid #fff;
  border-bottom-color: var(--default-panel-divider-inner-side-color);
}

.d .bookie-popular-wrap .pop-list > li.disabled {
  color: #888;
  color: var(--bookies-list-item-disabled);
}

.d .bookie-popular-wrap .pop-list > li.active .pop-game {
  background: linear-gradient(to bottom, #ddd, #fff);
  background: var(--bookies-list-item-active-background-gradient);
}

.d .bookie-popular-wrap .pop-list > li.live .pop-game {
  background: linear-gradient(to bottom, #fdfdfc 0%, #e1e9d2 100%);
  background: var(--bookies-panel-header-live-background);
  color: #698c00;
  color: var(--bookies-panel-header-live-color);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.65);
  text-shadow: var(--bookies-panel-header-live-text-shadow);
}

/* .d .bookie-popular-wrap .pop-list > li.live .pop-game span {
  opacity: 0.65;
} */

.d .bookie-popular-wrap .pop-list > li.upcomming .pop-game {
  background: linear-gradient(top, #fff 0%, #d4e7e7 100%);
  background: var(--bookies-panel-header-upcoming-background);
  color: #069;
  color: var(--bookies-panel-header-upcoming-color);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.65);
  text-shadow: var(--bookies-panel-header-upcoming-text-shadow);
}

.d .bookie-popular-wrap .pop-list > li.completed .pop-game {
  background: linear-gradient(to bottom, #fff 0%, #ddd 100%);
  background: var(--bookies-panel-header-completed-background);
  color: #aaa;
  color: var(--bookies-panel-header-completed-color);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.65);
  text-shadow: var(--bookies-panel-header-completed-text-shadow);
}

.d .bookie-popular-wrap .pop-list > li.show-more .pop-game {
  color: #999;
  color: var(--bookies-list-item-show-more-color);
}
// FIXME: Dark Mode unknown element

.d .bookie-popular-wrap .t-winner-bold {
  color: #757575;
  color: var(--bookies-list-item-winner-color);
}
// FIXME: Dark Mode unknown element

.d .bookie-popular-wrap .pop-list > li .info-wrap {
  display: none;
}

.d .bookie-popular-wrap .pop-list > li.active .info-wrap {
  display: block;
  background-color: #fff;
  background-color: var(--default-bg-panel-active-color);
}

.d .bookie-popular-wrap .pop-list .pop-game,
.d .bookie-popular-wrap .pop-list > li.active:last-child .pop-game {
  border-bottom: 1px solid #ccc;
  border-bottom-color: var(--default-panel-divider-outer-side-color);
}

.d .bookie-popular-wrap .pop-list > li.active:last-child .info-wrap {
  border-radius: 0 0 5px 5px;
}

.d .bookie-popular-wrap .pop-list > li:last-child .pop-game,
.d .bookie-popular-wrap .pop-list > li.active:last-child .bets-wrap {
  border-bottom: transparent;
}

.d .bookie-popular-wrap .pop-list .pop-game > li {
  height: 31px;
  float: left;
  border-top: 1px solid #fff;
  border-top-color: var(--default-panel-divider-inner-side-color);
  border-right: 1px solid #ccc;
  border-right-color: var(--default-panel-divider-outer-side-color);
  border-left: 1px solid #fff;
  border-left-color: var(--default-panel-divider-inner-side-color);
  line-height: 32px;
}

.d .bookie-popular-wrap .pop-list .pop-game > li:first-child {
  border-left: transparent;
}

.d .bookie-popular-wrap .pop-list .pop-game > li:last-child {
  border-right: transparent;
}

.d .bookie-popular-wrap .pop-list .pop-game > li.game {
  width: 34px;
}

.d .bookie-popular-wrap .pop-list .pop-game > li.team {
  padding-right: 10px;
  padding-left: 10px;
  width: 680px;
  font-weight: bold;
}

.d .stats-main-wrap .bookie-popular-wrap .pop-list .pop-game > li.team {
  width: 665px;
}

.d .bookie-popular-wrap .pop-list .pop-game > li.state-wrap {
  width: 45px;
  text-align: center;
}

.d .stats-main-wrap .bookie-popular-wrap .pop-list .pop-game > li.state-wrap {
  width: 60px;
}

.d .bookie-popular-wrap .pop-list .pop-game .gm-state-icon {
  display: block;
  margin: 0 auto;
  width: 34px;
  height: 31px;
  background: url(/images/v2/casino/bookie/match_state_light.svg) 0 0 no-repeat;
  background: var(--bookies-match-state-background);

  // @extend .globalSvgShadow;
}

.d .bookie-popular-wrap .pop-list .pop-game .gm-state-icon.waiting {
  background-position: 0 0;
}

.d .bookie-popular-wrap .pop-list .pop-game .gm-state-icon.lost,
.d .bookie-popular-wrap .pop-list .pop-game .gm-state-icon.cancelled {
  background-position: 0 -34px;
}

.d .bookie-popular-wrap .pop-list .pop-game .gm-state-icon.won {
  background-position: 0 -68px;
}

.d .bookie-popular-wrap .pop-list .pop-game .gm-withdraw-icon {
  display: block;
  margin: 0 auto;
  width: 32px;
  height: 31px;
  background: url(/images/v2/casino/bookie/withdraw_light.png) 0 0 no-repeat;
  background: var(--bookies-withdraw-background);
  background-position: -2px 0;
}

.d .bookie-popular-wrap .pop-list .pop-game .gm-withdraw-icon:hover {
  background-position: -2px -68px;
}

.d .bookie-popular-wrap .bets-wrap input[type='text'] {
  padding: 4px 1px 4px 9px;
  width: 100px;
  border: 1px solid #ccc;
  border-color: var(--input-money-border-color);
  font-weight: normal;
  line-height: 14px;
  vertical-align: middle;
}
// FIXME: Dark Mode unknown element

.d .bookie-popular-wrap .input-money-group .input-money-symbol,
.d .bookie-popular-wrap .input-money-group input.input-money {
  padding-top: 4px;
  padding-bottom: 4px;
}

.d .bookie-popular-wrap .bets-wrap {
  border-top: 1px solid #fff;
  border-top-color: var(--default-panel-divider-inner-side-color);
  border-bottom: 1px solid #ccc;
  border-bottom-color: var(--default-panel-divider-outer-side-color);
}

.d .bookie-popular-wrap .bets-wrap .btn {
  padding: 0 15px 0 10px;
  cursor: pointer;
}

.d .bookie-popular-wrap .bets-wrap .bets {
  width: 100%;
}

.d .bookie-popular-wrap .bets-wrap > li,
.d .bookie-popular-wrap .bets-wrap .bet .bet-cell {
  height: 35px;
  float: left;
  line-height: 35px;
}

.d .bookie-popular-wrap .bets-wrap > li {
  text-align: center;
}

.d .bookie-popular-wrap .bets-wrap > li.title {
  width: 100%;
}

.d .bookie-popular-wrap .bets-wrap > .extraOddsDivider {
  border-top: 3px solid #fff;
  border-top-color: var(--default-panel-divider-outer-side-color);
  border-bottom: 3px solid #ccc;
  border-bottom-color: var(--default-panel-divider-inner-side-color);
}

.d .bookie-popular-wrap .bets-wrap .bet {
  border-top: 1px solid #eee;
  border-top-color: var(--bookies-list-item-bet-color);
  display: flex;
  justify-content: center;
}

.d .bookie-popular-wrap .bets-wrap .bet.market-name-cell {
  padding-left: 10px;
  padding-right: 10px;
  border-top: none;
  text-align: center;
}

.d .bookie-popular-wrap .bets-wrap .bet.market-name-cell.first {
  border-top: 1px solid #eee;
  border-top-color: var(--bookies-list-item-bet-color);
}

.d .bookie-popular-wrap .bets-wrap .bet .bet-cell {
  padding: 0 10px;
  border-left: 1px solid #eee;
  border-left-color: var(--bookies-list-item-bet-color);
}

.d .bookie-popular-wrap .bets-wrap .bet .bet-cell.odds {
  width: 40px;
  font-weight: bold;
}

.d .bookie-popular-wrap .bets-wrap .bet .bet-cell.odds.fractional {
  border-left: transparent;
}

.d .bookie-popular-wrap .bets-wrap .cells-wrap {
  display: flex;
  flex-grow: 1;
}

.d .bookie-popular-wrap .bets-wrap .bet .bet-cell.result {
  text-align: left;
  flex-grow: 1;
}

.d .bookie-popular-wrap .bets-wrap .bet .bet-cell.input-wrap {
  line-height: 32px;
}

.d .bookie-popular-wrap .pop-list > li.disabled .bet .bet-cell.input-wrap {
  display: none;
}

.d .bookie-popular-wrap .bets-wrap .bet .bet-cell.input-wrap .btn-wrap {
  display: inline-block;
  vertical-align: middle;
}

.d .bookie-popular-wrap .stick-wrap > li.stick {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  margin-right: 18px;
  width: 42px;
  height: 20px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
}

.d .bookie-popular-wrap .stick-wrap > li.stick .figure {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 7px;
  width: 100%;
  height: 10px;
  border-radius: 5px 0;
  background-color: #707070;
  background-color: var(--bookies-list-item-stick-background);
  transform: skewX(-20deg);
}

.d .bookie-popular-wrap .stick-wrap > li.stick .text {
  position: relative;
  top: 0;
  left: 8px;
  z-index: 2;
  color: #fff;
}

.d .bookie-popular-wrap .stick-wrap > li.stick.won .figure {
  background-color: #a8c468;
  background-color: var(--bookies-list-item-stick-won-background);
}

.d .bookie-popular-wrap .stick-wrap > li.stick.won.withdraw .figure {
  background-color: #61a82d;
  background-color: var(--bookies-list-item-stick-won-withdraw-background);
}

.d .bookie-popular-wrap .stick-wrap > li.stick.refunded .figure {
  background-color: #d8c27d;
  background-color: var(--bookies-list-item-stick-refunded-background);
}

.d .bookie-popular-wrap .stick-wrap > li.stick.refunded.withdraw .figure {
  background-color: #c79a10;
  background-color: var(--bookies-list-item-stick-refunded-withdraw-background);
}

.d .bookie-popular-wrap .stick-wrap > li.stick.lost .figure {
  background-color: #d1a08f;
  background-color: var(--bookies-list-item-stick-lost-background);
}

// .d .bookie-popular-wrap .bets-wrap .confirm-wrap {
//   // display: none;
//   padding: 0 10px;
//   // width: 642px;
//   height: 34px;
//   // float: right;
//   border-left: 1px solid #eee;
//   border-left-color: var(--bookies-list-item-bet-color);
//   line-height: 35px;
//   text-align: center;
//   text-align: center;
// }

.d .bookie-popular-wrap .input-btn {
  display: inline-block;
  margin-left: -4px;
  padding: 4px 10px;
  border: 0;
  border-radius: 0 3px 3px 0;
  font-size: 14px;
  font-weight: 700;
  vertical-align: middle;
  cursor: pointer;
  background: linear-gradient(to bottom, #cccccc 0%, #999999 60%, #666666 100%);
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.d .bookie-popular-wrap .input-btn:hover {
  background: linear-gradient(to bottom, #ffffff 0%, #bbbbbb 60%, #999999 100%);
}

.d .bookie-popular-wrap .input-btn.disabled,
.d .bookie-popular-wrap .input-btn:hover.disabled {
  color: #777;
  color: var(--btn-disabled-color);
  box-shadow: 0 1px 0 #ffffffa6;
  box-shadow: var(--btn-disabled-box-shadow);
  text-shadow: 0 -1px 0 #ffffff66;
  text-shadow: var(--btn-disabled-text-shadow);
  background: transparent linear-gradient(180deg, #999999 0%, #cccccc 100%) 0 0 no-repeat;
  background: var(--btn-disabled-background);
  cursor: default;
}

.d .bookie-popular-wrap .input-money-group input.input-money {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.d .bookie-popular-wrap .pop-list .pop-game > li.team .name {
  display: inline-block;
}

.d .bookie-popular-wrap .info-msg .msg {
  line-height: 18px;
}

.d .bookie-popular-wrap {
  .search-box {
    padding-top: 10px;
  }

  .search-label {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 6px 8px;
    font-weight: bold;
    cursor: pointer;
    background-color: #ddd;
    background-color: var(--bookies-search-label-background);
    color: #888;
    color: var(--bookies-search-label-color);

    &.selected {
      background-color: #fff;
      background-color: var(--bookies-search-label-selected-background);
      color: #333;
      color: var(--bookies-search-label-selected-color);
    }
  }

  .search-input {
    display: inline-block;
    margin-left: 10px;
    padding: 0 10px;
    width: 144px;
    height: 24px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #ccc;
    border-color: var(--input-border-color);
    color: #000;
    color: var(--input-color);
    background: #fff;
    background: var(--input-background-color);
  }

  .react-dropdown-default {
    display: none;
  }
}

.d .bookie-popular-wrap .logo .logo-bg {
  margin-top: 2px;
  width: 70px;
  height: 12px;
  background: url(/images/v2/casino/bookie/betfair_light.svg) no-repeat;
  background: var(--bookies-logo-background);

  @extend .globalSvgShadow;
}

.d .bookie-popular-wrap .logo {
  margin: 0;
  padding: 0;
}

.d .bookie-popular-wrap .withdraw-all-msg {
  display: flex;
}

.d .bookie-popular-wrap .withdraw-all {
  margin-left: auto;
}

.d .bookie-popular-wrap .withdraw-all .btn {
  padding: 0 10px 0 7px;
}

.d .bookie-popular-wrap .windraw-icon-button {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.d .bookie-popular-wrap .matchName {
  display: flex;
}

.d .bookie-popular-wrap .matchName .name {
  flex-grow: 1;
  padding-right: 15px;
}

@media screen and (max-width: 1000px), screen and (max-device-width: 1000px) {
  .r .bookie-popular-wrap .bookie-games-tabs.slides {
    display: block;
    justify-content: unset;
  }

  .r .bookie-popular-wrap .bookie-games-tabs.slides > li,
  .r .bookie-popular-wrap .bookie-date-tabs.slides > li {
    flex-grow: unset;
  }

  .r .bookie-popular-wrap .game-slider {
    height: 34px;
    font-weight: bold;
    line-height: 34px;
    position: relative;
    top: 0;
    left: 0;
    padding-right: 40px;
    padding-left: 39px;
    color: #888;
    text-shadow: 0 1px 0 #fff;
    // TODO: Do we use these color styles?
  }

  .r .bookie-popular-wrap .game-slider .flex-direction-nav a {
    width: 8px;
    height: 20px;
    background: url(/images/v2/casino/bookie/slider_arrows.png) left bottom no-repeat;
  }

  .r .bookie-popular-wrap .game-slider .flex-direction-nav .flex-prev,
  .r .bookie-popular-wrap .game-slider .flex-direction-nav .flex-next {
    top: 33px;
  }

  .r .bookie-popular-wrap .game-slider .flex-direction-nav .flex-prev,
  .r .bookie-popular-wrap .game-slider .flex-direction-nav .flex-prev:hover {
    left: 14px;
    background-position: left top;
  }

  .r .bookie-popular-wrap .game-slider .flex-direction-nav .flex-next,
  .r .bookie-popular-wrap .game-slider .flex-direction-nav .flex-next:hover {
    right: 14px;
    background-position: right top;
  }

  // .r .bookie-popular-wrap .game-slider a.flex-prev.flex-disabled,
  // .r .bookie-popular-wrap .game-slider a.flex-prev.flex-disabled:hover {
  //   background-position: left bottom;
  //   cursor: default;
  // }

  // .r .bookie-popular-wrap .game-slider a.flex-next.flex-disabled,
  // .r .bookie-popular-wrap .game-slider a.flex-next.flex-disabled:hover {
  //   background-position: right bottom;
  //   cursor: default;
  // }

  .r .bookie-popular-wrap .pop-list .pop-game > li.team {
    width: 283px;
  }

  .r .bookie-popular-wrap .bets-wrap > li.title {
    padding: 10px 53px;
    width: 280px;
    line-height: 19px;
  }

  .r .bookie-popular-wrap .bets-wrap > li {
    height: auto;
  }

  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell {
    padding: 0 10px;
    text-align: left;
  }

  .r .bookie-popular-wrap .bets-wrap .cells-wrap {
    flex-wrap: wrap;
  }

  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.result,
  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.result.closed,
  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.input-wrap,
  .r .bookie-popular-wrap .bets-wrap .confirm-wrap {
    border-left: transparent;
  }

  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.input-wrap {
    border-bottom: transparent;
  }

  .r .bookie-popular-wrap .bets-wrap input[type='text'] {
    width: 274px;
  }

  .r .bookie-popular-wrap .bets-wrap .confirm-wrap {
    padding: 10px;
    height: auto;
    line-height: 19px;
  }

  .r .bookie-popular-wrap .bets-wrap .confirm-wrap .link-wrap {
    display: block;
  }

  .r .bookie-popular-wrap .pop-list .pop-game .gm-withdraw-icon {
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 31px;
    background: url(/images/v2/casino/bookie/withdraw_icon_mobile.png) 0 0 no-repeat;
    background-position: -2px -34px;
  }

  .r .bookie-popular-wrap .pop-list .pop-game .gm-withdraw-icon:hover {
    background-position: -2px 0;
  }

  .r .bookie-popular-wrap .pop-list .pop-game .state-wrap .special.btn-wrap.silver {
    background: none;
  }

  .r .bookie-popular-wrap .pop-list .pop-game .state-wrap .btn {
    background: none;
  }

  .r .bookie-popular-wrap {
    .search-label {
      display: none;
    }

    .search-input {
      margin-bottom: 10px;
      width: 344px;
      height: 30px;
      background-position: 97% 8px;
    }

    .react-dropdown-default {
      display: block;
      margin: 0 10px 10px;
      width: auto;
    }
  }

  .r .stats-main-wrap .bookie-popular-wrap .pop-list .pop-game > li.team {
    width: 266px;
  }

  .r .bookie-popular-wrap .withdraw-all-msg {
    flex-direction: column;
  }

  .r .bookie-popular-wrap .withdraw-all {
    position: inherit;
    margin-top: 6px;
    margin-left: 0;
    width: 94px;
  }

  .r .bookie-popular-wrap .pop-list .pop-game > li.team {
    .name.bets-num-1 {
      max-width: 220px;
    }

    .name.bets-num-2 {
      max-width: 160px;
    }

    .name.bets-num-3 {
      max-width: 108px;
    }
  }

  .r .stats-main-wrap .pop-list .pop-game > li.team {
    .name.bets-num-1 {
      max-width: 210px;
    }

    .name.bets-num-2 {
      max-width: 144px;
    }

    .name.bets-num-3 {
      max-width: 106px;
    }
  }

  .r .bookie-popular-wrap .pop-list .pop-game > li.team .competition {
    display: none;
  }

  .r .bookie-popular-wrap .flex-direction-nav {
    display: block;
  }
}
@media screen and (max-width: 600px), screen and (max-device-width: 600px) {
  .r .bookie-popular-wrap .pop-list .pop-game > li.team {
    width: 217px;
  }

  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.result,
  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.result.closed,
  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.input-wrap,
  .r .bookie-popular-wrap .bets-wrap .confirm-wrap {
    width: 300px;
  }

  .r .bookie-popular-wrap .bets-wrap > li.title {
    padding-right: 20px;
    padding-left: 20px;
    width: 280px;
  }

  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.odds {
    width: 139px;
  }

  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.multiplier {
    width: 139px;
  }

  .r .bookie-popular-wrap .bets-wrap input[type='text'] {
    width: 208px;
  }

  .r .bookie-popular-wrap {
    .search-input {
      width: 278px;
    }
  }

  .r .bookie-popular-wrap .logo .logo-bg {
    float: none;
  }

  .r .bookie-popular-wrap .pop-list .pop-game > li.team {
    .name.bets-num-1 {
      max-width: 152px;
    }

    .name.bets-num-2 {
      max-width: 94px;
    }

    .name.bets-num-3 {
      max-width: 36px;
    }
  }

  .r .stats-main-wrap .bookie-popular-wrap .pop-list .pop-game > li.team {
    .name.bets-num-2 {
      max-width: 82px;
    }
  }

  .r .stats-main-wrap .bookie-popular-wrap .pop-list .pop-game > li.team {
    width: 202px;
  }
}
