#{$dark-mode} {
  --bookies-logo-background: url(/images/v2/casino/bookie/betfair_dark.svg) no-repeat;
  --bookies-match-state-background: url(/images/v2/casino/bookie/match_state_dark.svg) 0 0 no-repeat;
  --bookies-withdraw-background: url(/images/v2/casino/bookie/withdraw_dark.svg) 0 0 no-repeat;
  --bookies-panel-header-upcoming-background: linear-gradient(to bottom, #535353 0%, #283c46 100%);
  --bookies-panel-header-upcoming-color: #e7f5ff;
  --bookies-panel-header-upcoming-text-shadow: 0px 0px 2px #000000;
  --bookies-panel-header-live-background: linear-gradient(to bottom, #545454 0%, #3b4636 100%);
  --bookies-panel-header-live-color: #e9fac8;
  --bookies-panel-header-live-text-shadow: 1px 1px 0 #000000;
  --bookies-panel-header-completed-background: linear-gradient(180deg, #555 0%, #333 100%);
  --bookies-panel-header-completed-color: #aaa;
  --bookies-panel-header-completed-text-shadow: none;
  --bookies-match-active-color: #ddd;
  --bookies-match-not-active-color: #999;
  --bookies-search-label-background: #00000066;
  --bookies-search-label-color: #999;
  --bookies-search-label-selected-background: #000;
  --bookies-search-label-selected-color: #fff;
  --bookies-list-item-disabled: #ccc;
  --bookies-list-item-active-background-gradient: linear-gradient(to bottom, #222, #444);
  --bookies-list-item-show-more-color: #ccc;
  --bookies-list-item-winner-color: #ccc;
  --bookies-list-item-bet-color: #222; // ?
  --bookies-list-item-stick-background: #00000066;
  --bookies-list-item-stick-won-background: #61a82d33;
  --bookies-list-item-stick-won-withdraw-background: #61a82d66;
  --bookies-list-item-stick-lost-background: #d1a08f33;
  --bookies-list-item-stick-refunded-background: #fcc41933;
  --bookies-list-item-stick-refunded-withdraw-background: #fcc41966;
}
