$border-color: #ccc;

:global(.d) {
  .white-box {
    height: 34px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    // background: linear-gradient(to bottom, #fff 0%, #e4e4e4 100%);
    background: linear-gradient(to bottom, #fff 0%, #e4e4e4 100%);

    &.conected {
      border-radius: 5px 5px 0 0;
    }
  }

  .divider {
    display: inline-block;
    height: 34px;
    border-right: 1px solid;
    border-image: linear-gradient(
        to bottom,
        rgba(230, 230, 220, 0.24) 0%,
        rgba(200, 200, 210, 0.97) 55%,
        rgba(188, 188, 181, 0.06) 100%
      )
      1;
  }

  .dropdown {
    display: inline-block;
    width: 250px;
    color: inherit;

    :global(.Select-control) {
      height: 34px;
      border: none;
      background: transparent;
    }

    :global(.Select-arrow) {
      transform: rotateZ(-90deg);
      transition: transform 0.2s ease-out;
    }

    &:global(.is-open) {
      .Select-arrow {
        transform: rotateZ(0);
      }
    }
  }

  .main-chart {
    border-top: 1px solid #{$border-color};
    border-radius: 0 0 5px 5px;
    background: white;
  }

  .inline-chart {
    position: relative;
    padding: 4px 0;
    border-top: 1px solid #{$border-color};
    background: white;
  }

  .stage {
    i {
      content: '';
      display: inline-block;
      margin: -4px;
      width: 34px;
      height: 34px;
      background: url(/images/v2/crimes/admin/icons/alpha_beta_released.png) no-repeat;
    }

    em {
      display: inline-block;
      line-height: 28px;
      text-shadow: 0 1px 0 rgb(255, 255, 255);
      vertical-align: bottom;
    }

    &.alpha {
      i {
        background-position: left center;
      }

      em::before {
        content: 'ALPHA';
        color: #e2805f;
      }
    }

    &.beta {
      i {
        background-position: center center;
      }

      em::before {
        content: 'BETA';
        color: #dfba4c;
      }
    }

    &.released {
      i {
        background-position: right center;
      }

      em::before {
        content: 'RELEASED';
        color: #93ba20;
      }
    }
  }

  .bottom-round {
    overflow: hidden;
    border-radius: 0 0 5px 5px;
  }

  .fb-right {
    margin-left: auto;
  }
}
