#{$light-mode} {
  --bookies-logo-background: url(/images/v2/casino/bookie/betfair_light.svg) no-repeat;
  --bookies-match-state-background: url(/images/v2/casino/bookie/match_state_light.svg) 0 0 no-repeat;
  --bookies-withdraw-background: url(/images/v2/casino/bookie/withdraw_light.svg) 0 0 no-repeat;
  --bookies-panel-header-upcoming-background: linear-gradient(to bottom, #fff 0%, #d4e7e7 100%);
  --bookies-panel-header-upcoming-color: #069;
  --bookies-panel-header-upcoming-text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.65);
  --bookies-panel-header-live-background: linear-gradient(to bottom, #fdfdfc 0%, #e1e9d2 100%);
  --bookies-panel-header-live-color: #698c00;
  --bookies-panel-header-live-text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.65);
  --bookies-panel-header-completed-background: linear-gradient(to bottom, #fff 0%, #ddd 100%);
  --bookies-panel-header-completed-color: #aaa;
  --bookies-panel-header-completed-text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.65);
  --bookies-match-active-color: #333;
  --bookies-match-not-active-color: #999;
  --bookies-search-label-background: #ddd;
  --bookies-search-label-color: #888;
  --bookies-search-label-selected-background: #fff;
  --bookies-search-label-selected-color: #333;
  --bookies-list-item-disabled: #888;
  --bookies-list-item-active-background-gradient: linear-gradient(to bottom, #ddd, #fff);
  --bookies-list-item-show-more-color: #999;
  --bookies-list-item-winner-color: #757575;
  --bookies-list-item-bet-color: #eee;
  --bookies-list-item-stick-background: #707070;
  --bookies-list-item-stick-won-background: #a8c468;
  --bookies-list-item-stick-won-withdraw-background: #61a82d;
  --bookies-list-item-stick-lost-background: #d1a08f;
  --bookies-list-item-stick-refunded-background: #d8c27d;
  --bookies-list-item-stick-refunded-withdraw-background: #c79a10;
}
