.footerWrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  width: 100%;
  height: 60px;
  border-top: 1px solid rgba(80, 80, 80, .65);
  background: #2e2e2e url(/casino/russianRoulette/images/578_dirt.png) no-repeat;
}
