.comments {
  width: 212px;
  margin-left: 10px;
  border-radius: 5px;
  * {
    box-sizing: border-box;
  }
  .content {
    font-family: 'Times New Roman', sans-serif;
    padding: 10px;
  }
  .label {
    font-size: 15px;
    font-weight: 700;
  }
  .textInput {
    margin: 10px 0;
    width: 100%;
    height: 50px;
    resize: vertical;
    padding: 10px;
  }
  .list {
    border-top: 1px solid #CCC;
    border-top-color: var(--default-panel-divider-outer-side-color);
    border-bottom: 1px solid #FFF;
    border-bottom-color: var(--default-panel-divider-inner-side-color);
    margin-top: 10px;
    & > li {
      border-top: 1px solid #FFF;
      border-top-color: var(--default-panel-divider-inner-side-color);
      border-bottom: 1px solid #CCC;
      border-bottom-color: var(--default-panel-divider-outer-side-color);
      padding: 10px 0;
      font-size: 15px;
      word-wrap: break-word;
      a {
        color: #333;
        color: var(--reporting-panel-acricles-color);
        font-weight: 700;
      }
      .authorLink {
        margin-right: 3px;
        color: #069;
        color: var(--default-blue-color);
        text-decoration: none;
        &:hover {
          color: #999;
          color: var(--default-blue-hover-color);
        }
      }
    }
  }
}

:global(.r) {
  @media screen and (max-width: 1000px) {
    .comments {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      border-radius: 0;
      :global(.title-black) {
        display: none;
      }
    }
  }
}
