<div class="city-banner summer livebox globalEvents" role="banner" aria-hidden="true">
    <div class="cloud-3 content">
        <div class="cloud-2">
            <div class="cloud-1">
                <div class="plane-left">
                    <div class="plane-right">
                        <div class="city">
                            <div class="ship right-course">
                                <div class="yacht">
                                    <div class="precipitation">
                                        <div class="lightning-1"></div>
                                        <div class="lightning-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="accountrecoveryroot"></div>

<% for (var css in htmlWebpackPlugin.files.css) { %>
<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
<% } %>
<% for (var js in htmlWebpackPlugin.files.js) { %>
<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
<% } %>
