@import '../../styles/mixins';
@import 'positions';

.roundPotWrap {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;

  @include appType([ 'desktop/full' ]) {
    bottom: $bottomDesktopFull;
  }
  @include appType([ 'desktop/sidebar' ]) {
    bottom: $bottomDesktopSidebar;
  }
  @include appType([ 'tablet/full' ]) {
    bottom: $bottomTabletFull;
  }
  @include appType([ 'tablet/sidebar' ]) {
    bottom: $bottomTabletSidebar;
  }
  @include appType([ 'mobile' ]) {
    bottom: $bottomMobile;
  }
}

.roundPot {
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 2px #000;

  @include appType([ 'desktop/full' ]) {
    box-sizing: border-box;
    padding: 1px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    padding: 2px;
  }
  @include appType([ 'mobile' ]) {
    text-align: center;
  }
}
