@import '../index.cssmodule.scss';

.flexCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.joinBox {
  flex: 0 1 51px;
  padding: 0;
  composes: rowSection;
  composes: join;
  cursor: pointer;

  @extend .flexCenter;

  &:hover {
    .customSVGClass {
      fill: #7fa1b2;
      fill: var(--ct-lobby-join-icon-hover-fill);
    }
  }
}

.link {
  padding: 9px 13px 9px 14px;
  width: 100%;
  height: 100%;

  @extend .flexCenter;
}

.customSVGClass {
  position: relative;
  left: -2px;
  fill: #d4dfe5;
  fill: var(--ct-lobby-join-icon-fill);
  filter: url(#defaultFilter);
  filter: var(--ct-icon-filter);
}
