@import '../../styles/mixins';

.holdemWrapper {
  text-align: center;
  position: relative;
  margin: auto;

  @include appType([ 'desktop/full' ]) {
    width: 976px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    width: 784px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: block;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      background-image: var(--holdem-floor-bg);
    }
  }
  @include appType([ 'tablet/full' ]) {
    width: 578px;
  }
  @include appType([ 'tablet/sidebar' ]) {
    width: 386px;
  }
  @include appType([ 'mobile' ]) {
    width: 320px;
  }
}
