$fade: 1000ms;
$slide: 400ms;

.fade-enter {
  opacity: .01;

  &.fade-enter-active {
    opacity: 1;
    transition: opacity #{$fade} ease-in;
  }
}

.fade-exit {
  opacity: 1;

  &.fade-exit-active {
    opacity: .01;
    transition: opacity #{$fade} ease-in;
  }
}

.slide-enter {
  overflow-y: hidden;
  max-height: 0;
  transition: max-height #{$slide} ease-in-out;

  &.slide-enter-active {
    max-height: 100px;
  }
}

.slide-exit {
  overflow-y: hidden;
  max-height: 100px;
  transition: max-height #{$slide} ease-in-out;

  &.slide-exit-active {
    max-height: 0;
  }
}

/* slide 200px */
.slide-200-enter {
  overflow-y: hidden;
  max-height: 0;
  transition: max-height #{$slide} ease-in-out;

  &.slide-200-enter-active {
    max-height: 200px;
  }
}

.slide-200-exit {
  overflow-y: hidden;
  max-height: 200px;
  transition: max-height #{$slide} ease-in-out;

  &.slide-200-exit-active {
    max-height: 0;
  }
}
// sliding numbers on CDs in bootlegging
.slide-number-wrap {
  position: relative;
  display: inline-block;
  width: 40%;
  height: 21px;
  overflow: hidden;
  text-align: center;
  vertical-align: bottom;
  transition: all 1s linear;

  &.slide-number-wrap--queue {
    text-align: right;
  }

  &.slide-number-wrap--total {
    text-align: left;
  }
}

.slide-number-enter {
  position: absolute;
  display: inline-block;
  text-align: left;
  transform: translateY(-100%);
  transition: all #{$slide} ease-in-out;

  &.slide-number-enter-active {
    position: absolute;
    text-align: left;
    transform: translateY(0);
  }
}

.slide-number-exit {
  position: absolute;
  display: inline-block;
  text-align: left;
  transform: translateY(0);
  opacity: 1;
  transition: all #{$slide} ease-in-out;

  &.slide-number-exit-active {
    position: absolute;
    text-align: left;
    transform: translateY(100%);
    opacity: 0;
  }
}

.slide-number--queue-enter {
  position: absolute;
  right: 0;
  display: inline-block;
  text-align: right;
  transform: translateY(-100%);
  transition: all #{$slide} ease-in-out;

  &.slide-number--queue-enter-active {
    position: absolute;
    right: 0;
    text-align: right;
    transform: translateY(0);
  }
}

.slide-number--queue-exit {
  position: absolute;
  right: 0;
  display: inline-block;
  transform: translateY(0);
  opacity: 1;
  transition: all #{$slide} ease-in-out;

  &.slide-number--queue-exit-active {
    position: absolute;
    right: 0;
    transform: translateY(100%);
    opacity: 0;
  }
}

.slide-number--total-enter {
  position: absolute;
  left: 0;
  display: inline-block;
  // text-align: center;
  transform: translateY(-100%);
  transition: all #{$slide} ease-in-out;

  &.slide-number--total-enter-active {
    // text-align: center;
    position: absolute;
    left: 0;
    transform: translateY(0);
  }
}

.slide-number--total-exit {
  // text-align: center;
  position: absolute;
  left: 0;
  display: inline-block;
  transform: translateY(0);
  opacity: 1;
  transition: all #{$slide} ease-in-out;

  &.slide-number--total-exit-active {
    // text-align: left;
    position: absolute;
    left: 0;
    transform: translateY(100%);
    opacity: 0;
  }
}

.slide-slash-wrap {
  position: relative;
  display: inline-block;
  margin-right: 0 4px 0 0;
  width: 10%;
  height: 21px;
  overflow: hidden;
  vertical-align: bottom;
  transition: all 1s linear;
}

.slide-slash-enter {
  display: inline-block;
  transform: translateY(0%);
  transition: transform #{$slide} ease-in-out;

  &.slide-slash-enter-active {
    transform: translateY(0);
  }
}

.slide-slash-exit {
  display: inline-block;
  opacity: 1;
  transform: translateY(0);
  transition: all #{$slide} ease-in-out;

  &.slide-slash-exit-active {
    opacity: 0;
    display: none;
    transform: translateY(0%);
  }
}

.d .disks-panel > li .progress-bar-wrap .quantity .slide-number-wrap--hide {
  display: none;
  opacity: 0;
  animation-name: hideSlide;
  animation-play-state: running;
  animation-duration: 1s infinite;
}

.d .disks-panel > li .progress-bar-wrap .quantity .slide-number-wrap--show {
  display: block;
  opacity: 1;
  animation-name: hideSlide;
  animation-play-state: running;
  animation-duration: 1s infinite;
}

@keyframes hideSlide {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}
