@import "./crime-row.cssmodule.scss";
@import "./progressbar.cssmodule.scss";

:global(.d) {
  .slick-slider.slick--horizontal {
    max-width: 100px;
  }

  .centerFlex {
    display: flex;
  }

  .level-wrap {
    text-align: center;
  }

  .row__setupShop--hover {
    position: absolute;
    top: 0;
    z-index: 1000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #f9f9f29e;

    .spinner {
      width: 20px;
      height: 20px;
      border: 1px #cbcbcb solid;
      background: #3f3f3fbd;
      animation: setupShopComplete 2s infinite;
    }
  }

  @keyframes setupShopComplete {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .row-anim-leave {
    display: none;
  }

  .level {
    font-size: 13px;
    vertical-align: middle;
  }

  .education-icon {
    display: inline-block;
    width: 60px;
    height: 30px;
    background: url(/images/v2/2sef32sdfr422svbfr2/crimes/all_education_images.png) -210px -40px no-repeat;
    vertical-align: middle;

    &:hover {
      background-position: -210px 0;
    }

    &.locked {
      background-position: -210px -80px;
    }
  }

  .inner_cell_1 {
    flex: 0 0 97px;
  }

  .inner_cell_2 {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
  }

  .required-item-1 {
    position: relative;
  }

  .required-item-2 {
    position: relative;
  }

  .tooltipWrapHelper {
    display: flex;
    padding: 3px 0;
  }

  .amount-dollars {
    color: #85b200;
    font-size: 13.5px;
    text-align: right;
    transition: all 300ms linear;
  }

  .amount {
    display: block;
    padding-left: 2px;
    color: #85b200;
    transition: all 400ms ease-in-out;
  }

  .amount-m {
    min-width: 18px;
  }

  .amount-l {
    min-width: 28px;
  }

  .amount-xl {
    min-width: 32px;
  }

  .amount-xxl {
    min-width: 38px;
  }

  .imageWrap {
    &.selector {
      width: 60px;
    }
  }

  .cdsSelector {
    border: none;

    hr {
      border-width: 1px 0 0;
      border-style: solid;
      border-color: #dfdfd0;
    }

    .imageWrap:not(:first-child) {
      margin-left: 10px;
    }
  }

  .imageWrapForCDs {
    position: relative;
    padding: 0 2px;
    border: 0;

    .amountOfCDs {
      position: absolute;
      right: 2px;
      bottom: 0;
      color: #686859;
      font-size: 10px;
      line-height: 1.2em;
      text-shadow: 0 0 1px #fff;
      cursor: default;
    }
  }

  .nonFilledCDs {
    width: 60px;
    height: 30px;
  }

  .filledCDs:hover {
    box-shadow: 0 1px 0 white, inset 0 1px 2px rgba(36, 36, 21, .25);
    background: #adadaa;
    background: linear-gradient(to bottom, #adadaa 0%, #f0f0e1 100%);
    cursor: pointer;
  }

  .selector {
    &.cdSelected {
      margin-right: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;

      &::after {
        content: none;
      }

      img {
        padding-right: 2px;
        width: auto;
        height: 100%;
      }
    }
  }

  .disk {
    max-width: 30px;
    max-height: 30px;
  }

  [class^="bootlegging-image-"],
  [class*="bootlegging-image-"] {
    display: inline-block;
    width: 98px;
    height: 50px;
    background: url('/images/v2/2sef32sdfr422svbfr2/crimes/bootlegging/main_container/bootlegging_subcrimes_v5.png') left top no-repeat;
    vertical-align: middle;
  }

  .bootlegging-image-copy-some-cds {
    background-position: -108px 0;
  }

  .bootlegging-image-sell-counterfeit-cds {
    background-position: -108px -60px;
  }

  .bootlegging-image-setup-online-store {
    background-position: -108px -120px;
  }

  .bootlegging-image-setup-collect-funds {
    background-position: -108px -180px;
  }

  .crimeRow {
    &.active,
    &:hover {
      .bootlegging-image-copy-some-cds {
        background-position: 0 0;
      }

      .bootlegging-image-sell-counterfeit-cds {
        background-position: 0 -60px;
      }

      .bootlegging-image-setup-online-store {
        background-position: 0 -120px;
      }

      .bootlegging-image-setup-collect-funds {
        background-position: 0 -180px;
      }
    }
  }

  /*
    bootlegging Setup Store animation:
  */

  .store--wrap {
    animation: storeAnim 1s;
  }

  .funds--wrap {
    animation: fundsAnim 1s;
  }

  @keyframes storeAnim {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
  @keyframes fundsAnim {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1000px) {
  :global(.r) {
    :global(div.slick--horizontal) {
      max-width: 100px;
    }

    .required-item-1 {
      padding-right: 4px;
    }

    .required-item-2 {
      padding-right: 2px;

      .imageWrap {
        border-radius: 5px;

        &.selector {
          width: 40px;
        }
      }
    }

    .underTitle {
      top: 21px;
    }

    .shopBarLine {
      top: 28px;
    }

    .amountWrap {
      top: 26px;
    }

    .cdsAddButton {
      &::after {
        content: '+';
        position: absolute;
        top: 6px;
        width: 10px;
        height: 10px;
        color: #8c8c7b;
        font-size: 17px;
        line-height: 9px;
      }
    }

    .imageWrapForCDs {
      position: relative;
      padding: 0 2px;
      border: 0;
    }

    .inner_cell_2 {
      justify-content: space-around;
    }

    .responsive {
      overflow: hidden;
    }

    .title {
      flex: 0 0 110px;
      padding: 8px 0 8px 10px;
      white-space: normal;
    }

    .level-wrap {
      margin: 0;
    }
  }
}
@media screen and (max-width: 600px) {
  :global(.r) {
    :global(div.slick--horizontal) {
      max-width: 100px;
    }

    .title {
      // top: -2px;
      // align-self: start;
      padding: 8px 0 8px 10px;
      height: 100%;
      white-space: normal;
    }

    .withUnderneath {
      top: 0;
    }

    .shopTitle {
      top: -5px;
    }

    .level {
      padding-right: 4px;
    }
  }
}
