@import "./crime-row.cssmodule.scss";

.dlm {
  height: inherit;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: inherit;
    }
  }
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstSection {
  @extend .flexRow;

  flex: 0 0 172px;
  flex-direction: column;
  position: relative;
  height: 100%;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: auto;
      position: absolute;
      left: 108px;
      top: 24px;
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      left: 60px;
    }
  }
}

.secondSection {
  @extend .flexRow;

  flex: 0 0 150px;
  height: 100%;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex-direction: column;
      flex: 0 0 62px;
      position: relative;

      &::before {
        content: '';
        border-width: 0 1px 0 0;
        border-style: solid;
        border-image: var(--dlm-borderImage);
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 98%;
      }
    }
  }
}

.image {

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex: 0 0 98px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      flex: 0 0 50px;
    }
  }
}

.title {
  flex: 0 0 246px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex: 0 0 181px;
      position: relative;
      top: -10px;
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      flex: 0 0 164px;
    }
  }
}

.nerve {
  flex: 0 0 60px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex: 0 0 21px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.action {
  flex: 0 0 112px;

  button {
    width: 66px;
    height: 31px;
  }
}

.foundArea {
  background-color: var(--foundArea-background);
}

.cellWrap {
  position: relative;
}

:global {
  .d div.subcrimes-wrap div.main-container {
    box-shadow: none;
  }

  .nerve {
    flex: 0 0 59px;
    margin-left: auto;
  }

  [class*="image"] > i {
      display: inline-block;
      width: 100px;
      height: 50px;
      background: url("/images/v2/2sef32sdfr422svbfr2/crimes/card_skimming/card_skimming_subcrimes.png") no-repeat;
      vertical-align: middle;

      &.install {
        background-position: -110px 0;
      }

      &.cards_sell {
        background-position: -110px -60px;
      }

      &.recover_bus {
        background-position: -110px -120px;
      }

      &.recover_subway {
        background-position: -110px -180px;
      }

      &.recover_campus {
        background-position: -110px -240px;
      }

      &.recover_gas {
        background-position: -110px -300px;
      }

      &.recover_post {
        background-position: -110px -360px;
      }

      &.recover_airport {
        background-position: -110px -420px;
      }

      &.recover_casino {
        background-position: -110px -480px;
      }

      &.recover_bank {
        background-position: -110px -540px;
      }
    }

  [class*="crimeRow"]:hover {
      [class*="image"] > i {
          &.install {
            background-position: 0 0;
          }

          &.cards_sell {
            background-position: 0 -60px;
          }

          &.recover_bus {
            background-position: 0 -120px;
          }

          &.recover_subway {
            background-position: 0 -180px;
          }

          &.recover_campus {
            background-position: 0 -240px;
          }

          &.recover_gas {
            background-position: 0 -300px;
          }

          &.recover_post {
            background-position: 0 -360px;
          }

          &.recover_airport {
            background-position: 0 -420px;
          }

          &.recover_casino {
            background-position: 0 -480px;
          }

          &.recover_bank {
            background-position: 0 -540px;
          }
        }
  }

  .d div[class*="carouselWrap"],
  .d div[class*="subcrimes-wrap"] {
    overflow: unset;
  }
}
