$rowHeight: 50px;
$titleWidthDesktop: 196px !default;
$titleWidthTablet: 106px !default;
$selectorWidth: 43px;
$nerveWidthDesktop: 97px !default;
$nerveWidthTablet: 30px !default;

.crimeRow {
  height: 50px;
  // overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid var(--crimeRow-borderTop);
  background: var(--crimeRow-backgroundColor);
  transition: height .3s ease-in, background-color .3s ease-out;

  &:hover {
    background: var(--crimeRow_hover-backgroundColor);

    div[class^='outcomeContainer'] {
      background: var(--crimeRow_hover-backgroundColor);
    }
  }

  &.locked {
    background: var(--crimeRow_hover-backgroundColor);
  }

  &.selected {
    background: var(--crimeRow_hover-backgroundColor);
  }
}

// .outcomeAppear {
  // max-height: 250px;
// }

.dlm,
.dlmAny {
  height: #{$rowHeight};
  border-width: 0 1px 0 0;
  border-style: solid;
  border-image: var(--dlm-borderImage);
}
// .image {
// }
.title {
  box-sizing: border-box;
  flex: 0 0 #{$titleWidthDesktop};
  padding: 17px 0 17px 10px;
  font-size: 13px;
  line-height: 16px;
  color: var(--title-color);
}

.nerve {
  flex: 0 0 #{$nerveWidthDesktop};
  margin-left: auto;

  .quantity {
    margin-right: 4px;
    color: #9b9b8c;
    font-size: 19px;
    vertical-align: middle;
  }
}

.action {
  flex: 0 0 102px;
}

.misc {
  flex: 1;
}

.action,
.nerve {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action {
  flex: 0 0 112px;

  > button {
    height: 31px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrap {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgb(255, 255, 255), inset 0 1px 2px rgba(36, 36, 21, .25);
  background: rgb(206, 206, 191);
  background: linear-gradient(to bottom, rgba(206, 206, 191, 1) 0%, rgba(240, 240, 225, 1) 100%);
  text-align: center;
  vertical-align: middle;

  &.locked {
    border: 1px solid #e3e3d8;
    box-shadow: none;
    background: none;
  }

  &.selector {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  img {
    width: fit-content;
    pointer-events: none;
  }
}

.nonBorder {
  border-image: none;
  border: none;
}

@media #{$screen-desktop} {
  .imageWrap {
    &.selector {
      margin-right: #{$selectorWidth};
      width: 65px;
      text-align: right;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        display: inline-block;
        margin-right: -#{$selectorWidth};
        width: #{$selectorWidth};
        height: 30px;
        background: url('/images/v2/2sef32sdfr422svbfr2/crimes/bootlegging/item_bg_alt.png') no-repeat;
        background-position: 0 -41px;
      }
    }

    &:hover.selector::after {
      background-position: 0 -82px;
      cursor: pointer;
    }

    &.locked.selector::after {
      background-position: 0 0;
      cursor: auto;
    }
  }
}

#{$global-r} {

  @media #{$screen-tablet} {
    .dlm {
      height: auto;
      border: none;
    }

    .underTitle {
      position: absolute;
      top: 25px;
      left: 108px;
    }

    .withUnderneath {
      position: relative;
      top: -10px;
    }

    .title {
      flex: 0 0 #{$titleWidthTablet};
      padding: 17px 0 17px 10px;
    }

    .nerve {
      flex: 0 0 #{$nerveWidthTablet};

      .quantity {
        margin-right: 0;
      }
    }

    .responsive,
    .responsive i,
    .responsive img {
      width: 40px;
      height: 20px;
    }

    .action {
      flex: 0 0 35px;
      padding-right: 7px;

      .brn-gold {
        position: relative;
        width: 28px;
        font-size: 0;

        &::before {
          content: "";
          display: block;
          width: 28px;
          height: 23px;
          background: transparent;
        }
      }
    }

    .loadWrap {
      position: absolute;
      top: 0;
      width: 28px;
      height: 23px;
      border: 0;
      border-radius: 4px;
      background: rgb(206, 206, 191);
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, rgba(206, 206, 191, 1) 0%, rgba(240, 240, 225, 1) 100%);
      background: -webkit-linear-gradient(top, rgba(206, 206, 191, 1) 0%, rgba(240, 240, 225, 1) 100%);
      background: linear-gradient(to bottom, rgba(206, 206, 191, 1) 0%, rgba(240, 240, 225, 1) 100%);
      color: #aaaa9f;
      text-shadow: 0 -1px 0 rgba(255, 255, 255, .65);
      cursor: default;

      .loadingTest {
        position: relative;
        top: 13%;
        left: 1px;
        width: 17px;
      }
    }
  }
  @media #{$screen-mobile} {
    .image {
      width: 50px;
      overflow: hidden;
      opacity: var(--image-opacity);

      i {
        margin-left: -24px;
      }
    }

    .title {
      flex: 0 0 90px;
    }

    .underTitle {
      left: 60px;
    }
  }
}
