#{$dark-mode} .crimes-app {

  /* REUSABLE COMPONENTS [START] */

  /* banner */
  --bannerWrap-opacity: .7;

  /* dropdown panel */
  --panelContent-background: #333 0% 0%;
  --panelContent-boxShadow: 0 0 2px 1px #333;
  --arrow-background: #333 0% 0%;
  --arrow-boxShadow: 0 0 2px 1px #333;

  /* editor */
  --debugSwitcher-background: #111;
  --wrapper-background: #333;
  --wrapper-borderColor: #111;
  --input-background: #111;
  --input-color: #fff;
  --input-borderColor: #444;

  /* experience bar */
  --barBg-background: transparent linear-gradient(180deg, #000 0%, #333 100%);
  --barBg-border: 1px solid #444;
  --barBg-shadow-color: #75757594;
  --progress-boxShadow: none;
  --progress-background: repeating-linear-gradient(90deg, #70a008, #70a008 1px, #beff00 0, #beff00 2px);
  --progress_after-background: linear-gradient(180deg, hsla(0, 0%, 100%, .050980392156862744) 0, #4e5243b8);
  --bar-border: 1px solid #444;
  --bar-boxShadow: 0 0 2px #444;
  --bar-exp-divider-color: #444;
  --bar-level-holder-shadow-color: #444;
  --expDivider-background: #444;

  /* item cell */
  --itemContainer-background: transparent linear-gradient(180deg, #333 0%, #404040 100%) 0% 0% no-repeat padding-box;
  --itemContainer-boxShadow: inset 0 2px 4px #00000040;
  --itemContainer-border: 1px solid #5b5b5b;
  --itemMock-border: 1px solid #5b5b5b;
  --itemArrowPath-background: #777;
  --itemArrowPath-boxShadow: drop-shadow(0 0 1px rgba(0, 0, 0, .65098));

  /* panel title */
  --titleCrimes-background: transparent linear-gradient(180deg, #555 0%, #333 100%) 0% 0%;
  --titleCrimes-textShadow: 0 0 2px #000;
  --titleCrimes-borderBottom: 1px solid #111;
  --span-color: #ddd;
  --span-textShadow: none;
  --success__count-color: #a9e34b;
  --failure__count-color: #ddd;
  --critical__count-color: #ffa8a8;
  --jailed__count-color: #ffa8a8;

  /* slick slider */
  --slickSlide_after_filter: brightness(.4);

  /* REUSABLE COMPONENTS [END] */

  /* row */
  --crimeRow__placeholder-background-color: #111;
  --crimeRow__bottomCrimesBorder-color: #333;
  --crimeRow-backgroundColor: #333;
  --crimeRow-borderTop: #111;
  --crimeRow_hover-backgroundColor: #3336;
  --crimeRow_active-backgroundColor: #3336;
  --dlm-borderImage: linear-gradient(180deg, #333, #333 6%, #111 50%, #333 94%, #333) 1 100%;
  --image-opacity: .7;
  --title-color: #fff;

  /* row action button */
  --crimeRow__actinButtonPseudo-background: transparent linear-gradient(180deg, #000 0%, #333 100%) 0% 0% no-repeat padding-box;
  --crimeRow__actinButtonPseudo-box-shadow-color: #333;

  /* subcrimes */
  --subcrimesWrap-color: #ddd;

  /* outcome */
  --outcomeSuccess-background: #414b31;
  --outcomeFailure-background: #484230;
  --outcomeJailed-background: #513737;
  --outcomeSuccess-color: #a9e34b;
  --outcomeFailure-color: #ffe066;
  --outcomeJailed-color: #ff6b6b;
  --storySuccess-color: #f4fce3;
  --storyFailed-color: #fff9db;
  --storyJailed-color: #fff5f5;
  --outcomeFadeIn-background: #333;
  --outcomeActive-borderTop: #cdcdcd;
  --outcome_before-borderTop: #111;
  --outcomeBorder-borderTop: #cdcdcd;
  --outcomeWrapper_after-borderBottom: #bfbfbf;
  --imageWrap-boxShadow: #fff;
  --imageWrap-background: linear-gradient(to bottom, #cecebf 0%, #f0f0e1 100%);
  --outcomeContainer-background: #3336;
  --outcomeContainer_after-background: #bfbfbf;
  --outcomeID-color: #c5c5b3;
  --status-color: #85b200;
  --outcome_hover_background: #f9f9f29e;
  --outcome__spinner_border: #cbcbcb;
  --outcome__spinner_background: #3f3f3fbd;
  --outcomeWrap__mainTextSuccess-textShadow: rgba(163, 217, 0, .8);
  --outcomeWrap__mainTextJailed-textShadow: rgba(255, 64, 0, .35);
  --specResultFont--color: #8a8a79;

  /* areas */
  --areas__spinner-background: #999;
  --areas__found-spinner-border: #ffa8a8;
  --areas__found-spinner-background: transparent;

  /* log */
  --logWrap-background: #444;
  --logWrap-boxShadow: rgba(0, 0, 0, .451);
  --logWrap__before-background: #444;
  --logWrap__after-background: #444;
  --scrollCrimes__webkitScrollbarThumb-boxShadow: #555;
  --scrollCrimes__webkitScrollbar_hover-backgroundColor: #555;
  --scrollCrimes__webkitScrollbarCorner_hover-backgroundColor: #000;

  /* dropwdown */
  --areasContainer-background: transparent linear-gradient(180deg, #222 0%, #f2f2f2 100%) 0% 0% no-repeat padding-box;
  --areasContainer-border: #444;
  --areasContainer-boxShadow: #00000073;
  --areasContainer-border-left-color: #666;
  --area-borderColor: #444;
  --area-background: #222;
  --area_hover-background: #444;
  --area_not__selectedArea_hover-background: #444;
  --area__selectedArea-background: #000;
  --area__textSuccess_color: #5c940d;
  --area__textRegular_color: #999;
  --area__textFailed_color: #f03e3e;

  /* row */
  --foundArea-background: #fa5252;
  --secondSection-borderImage: linear-gradient(180deg, #333, #333 6%, #111 50%, #333 94%, #333) 1 100%;
  --crimeRowFound-background: #473636;
  --crimeRowEnter-background: #414b31;
  --crimeRowExit-background: #333;
  --crimeRow-text-color: #ddd;
}
