
// .city_centre_0 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: 0px 0px;
//   width: 37px;
//   height: 34px;
// }
// .city_centre_1 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -94px 0px;
//   width: 37px;
//   height: 34px;
// }
// .city_centre_2 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -47px 0px;
//   width: 37px;
//   height: 34px;
// }
// .city_centre_3 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: 0px -44px;
//   width: 37px;
//   height: 34px;
// }
// .city_centre_4 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -47px -44px;
//   width: 37px;
//   height: 34px;
// }
// .city_centre_5 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -47px -44px;
//   width: 37px;
//   height: 34px;
// }
// .east_side_0 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -188px -35px;
//   width: 37px;
//   height: 25px;
// }
// .east_side_1 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -188px -70px;
//   width: 37px;
//   height: 25px;
// }
// .east_side_2 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -188px -105px;
//   width: 37px;
//   height: 25px;
// }
// .east_side_3 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: 0px -168px;
//   width: 37px;
//   height: 25px;
// }
// .east_side_4 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -188px 0px;
//   width: 37px;
//   height: 25px;
// }
// .east_side_5 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -188px 0px;
//   width: 37px;
//   height: 25px;
// }
// .financial_0 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -94px -44px;
//   width: 37px;
//   height: 34px;
// }
// .financial_1 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: 0px -88px;
//   width: 37px;
//   height: 34px;
// }
// .financial_2 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -47px -88px;
//   width: 37px;
//   height: 34px;
// }
// .financial_3 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -94px -88px;
//   width: 37px;
//   height: 34px;
// }
// .financial_4 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -141px 0px;
//   width: 37px;
//   height: 34px;
// }
// .financial_5 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -141px 0px;
//   width: 37px;
//   height: 34px;
// }
// .north_side_0 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -235px -66px;
//   width: 37px;
//   height: 23px;
// }
// .north_side_1 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -235px 0px;
//   width: 37px;
//   height: 23px;
// }
// .north_side_2 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -235px -132px;
//   width: 37px;
//   height: 23px;
// }
// .north_side_3 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -235px -99px;
//   width: 37px;
//   height: 23px;
// }
// .north_side_4 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -235px -33px;
//   width: 37px;
//   height: 23px;
// }
// .north_side_5 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -235px -33px;
//   width: 37px;
//   height: 23px;
// }
// .red_light_0 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -94px -203px;
//   width: 37px;
//   height: 16px;
// }
// .red_light_1 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -47px -203px;
//   width: 37px;
//   height: 16px;
// }
// .red_light_2 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: 0px -203px;
//   width: 37px;
//   height: 16px;
// }
// .red_light_3 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -188px -140px;
//   width: 37px;
//   height: 16px;
// }
// .red_light_4 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -235px -165px;
//   width: 37px;
//   height: 16px;
// }
// .red_light_5 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -235px -165px;
//   width: 37px;
//   height: 16px;
// }
// .residential_0 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -141px -132px;
//   width: 37px;
//   height: 25px;
// }
// .residential_1 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -94px -168px;
//   width: 37px;
//   height: 25px;
// }
// .residential_2 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -141px -168px;
//   width: 37px;
//   height: 25px;
// }
// .residential_3 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -188px -168px;
//   width: 37px;
//   height: 25px;
// }
// .residential_4 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -47px -168px;
//   width: 37px;
//   height: 25px;
// }
// .residential_5 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -47px -168px;
//   width: 37px;
//   height: 25px;
// }
// .west_side_0 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -47px -132px;
//   width: 37px;
//   height: 26px;
// }
// .west_side_1 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: 0px -132px;
//   width: 37px;
//   height: 26px;
// }
// .west_side_2 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -141px -80px;
//   width: 37px;
//   height: 26px;
// }
// .west_side_3 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -141px -44px;
//   width: 37px;
//   height: 26px;
// }
// .west_side_4 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -94px -132px;
//   width: 37px;
//   height: 26px;
// }
// .west_side_5 {
//   background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/progress-icons.png);
//   background-position: -94px -132px;
//   width: 37px;
//   height: 26px;
// }
