.starsIcons_0 {
  background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/stars_sprite.png);
  background-position: 0px 0px;
  width: 37px;
  height: 5px;
}

.starsIcons_1 {
  background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/stars_sprite.png);
  background-position: 0px -7px;
  width: 37px;
  height: 5px;
}

.starsIcons_2 {
  background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/stars_sprite.png);
  background-position: 0px -14px;
  width: 37px;
  height: 5px;
}

.starsIcons_3 {
  background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/stars_sprite.png);
  background-position: 0px -21px;
  width: 37px;
  height: 5px;
}

.starsIcons_4 {
  background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/stars_sprite.png);
  background-position: 0px -28px;
  width: 37px;
  height: 5px;
}

.starsIcons_5 {
  background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/stars_sprite.png);
  background-position: 0px -35px;
  width: 37px;
  height: 5px;
}
