$titleWidthTablet: 85px;
$nerveWidthTablet: 35px;

@import "./crime-row.cssmodule.scss";

#{$global-d} {
  .imageWrap {
    padding: 0 2px;
    border: 0;

    &.selector {
      margin-right: 43px;
      max-width: 61px;
      width: 65px;
      height: 31px;
      background: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/item_bg_alt_2.png);
      background-position: 0 73px;
      text-align: right;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        display: inline-block;
        margin-right: -43px;
        width: 43px;
        height: 31px;
        background: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/item_bg_alt_1.png);
        background-position: 0 -41px;
      }

      &:hover {
        background-position: 0 32px;

        &::after {
          background-position: 0 0;
        }
      }
    }

    &.spraySelectedInProgress {
      background: linear-gradient(to bottom, #d1d1c2 0%, #f0efe1 100%);
      cursor: default;

      &::before {
        content: '';
        width: 17px;
        height: 17px;
        border: 2px dotted #8a8a7b;
        border-radius: 100%;
        position: absolute;
        right: 20px;
        top: 5.5px;
        z-index: 11;
        animation-name: selectSpraySpin;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
      }

      &:hover {
        background-position: 0 62px;

        &::after {
          cursor: default;
          background-position: 0 -41px;
        }
      }
    }
  }

  .graffitiImage {
    padding-top: 1px;
    padding-bottom: 1px;
    width: fit-content;
    width: auto;
    height: fit-content;
    height: auto;
  }

  .progressIcon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 0 0 auto;
    width: 35px;
    height: 32px;
  }

  .stats {
    flex: 0 0 40px;
    justify-content: center;
    color: #9a9a8c;
  }

  .selectorWrap {
    position: relative;
    padding: 0 10px;
  }

  .cansCountWrapper {
    user-select: none;
    position: absolute;
    top: 9px;
    right: 10px;
    width: 44px;
    height: 32px;

    @media #{$screen-tablet} {
      #{$global-r} & {
        display: none;
      }
    }
  }

  .cansFlexCenter {
    display: flex;
    align-items: center;
    justify-content: center;

    @media #{$screen-tablet} {
      #{$global-r} & {
        display: none;
      }
    }
  }

  .cansCount {
    max-height: 17px;
  }

  .statsColor_gray {
    color: #9a9a8c;
  }

  .title {
    flex: 0 0 75px;
  }

  .marginLeftAuto {
    margin: 0 0 0 auto;

    @media #{$screen-tablet} {
      #{$global-r} & {
        margin: 0 auto;
      }
    }
    @media #{$screen-mobile} {
      #{$global-r} & {
        margin: 0 auto 0 0;
      }
    }
  }

  .city_centre {
    display: block;
    width: 100px;
    height: 50px;
    background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/graffiti_subcrimes_v6.png);
    background-position: 100px -60px;
  }

  .east_side {
    display: block;
    width: 100px;
    height: 50px;
    background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/graffiti_subcrimes_v6.png);
    background-position: -110px -180px;
  }

  .financial {
    display: block;
    width: 100px;
    height: 50px;
    background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/graffiti_subcrimes_v6.png);
    background-position: -110px -120px;
  }

  .north_side {
    display: block;
    width: 100px;
    height: 50px;
    background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/graffiti_subcrimes_v6.png);
    background-position: 100px -360px;
  }

  .red_light {
    display: block;
    width: 100px;
    height: 50px;
    background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/graffiti_subcrimes_v6.png);
    background-position: -320px -300px;
  }

  .residential {
    display: block;
    width: 100px;
    height: 50px;
    background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/graffiti_subcrimes_v6.png);
    background-position: -110px 0;
  }

  .west_side {
    display: block;
    width: 100px;
    height: 50px;
    background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/graffiti/graffiti_subcrimes_v6.png);
    background-position: -110px -240px;
  }

  .crimeRow.active,
  .crimeRow:hover {
    .city_centre {
      background-position: 0 -60px;
    }

    .east_side {
      background-position: -210px -180px;
    }

    .financial {
      background-position: -210px -120px;
    }

    .north_side {
      background-position: 210px -360px;
    }

    .red_light {
      background-position: -210px -300px;
    }

    .residential {
      background-position: -210px 0;
    }

    .west_side {
      background-position: 210px -240px;
    }
  }

  .sprayCanWrap {
    display: flex;
    flex-wrap: wrap;
    width: 60 * 4px;
  }

  .sprayImg {
    width: 100%;
    height: 100%;
  }

  .sprayCan {
    box-sizing: border-box;
    display: inline-block;
    padding: 0;
    width: 60px;
    height: 30px;
    border: solid #dfdfd0;
    border-width: 0 1px 1px 0;
    background: #fdfdfd;
    cursor: pointer;

    &:nth-child(1) {
      border-top-left-radius: 5px;
    }

    &:nth-child(4) {
      border-top-right-radius: 5px;
    }

    &:nth-child(4n) {
      border-width: 0 0 1px 0;
    }
  }

  .sprayCan:hover {
    background: rgba(255, 255, 255, .9);
    opacity: .9;
  }

  .sprayCanEmpty {
    box-sizing: border-box;
    display: inline-block;
    padding: 0;
    width: 60px;
    height: 30px;
    border: solid #dfdfd0;
    border-width: 0 1px 1px 0;
    cursor: auto;

    &:nth-child(4n) {
      border-width: 0 0 1px 0;
    }
  }

  .notAvailable {
    filter: blur(2px);
  }
}

#{$global-r} {

  @media #{$screen-tablet} {
    .imageWrap {
      &.selector {
        margin-right: 0;
        width: 60px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;

        &::after {
          display: none;
        }
      }
    }

    .cansCount {
      position: relative;
      top: -10px;
      left: 10px;
      width: 21px;
      height: auto;
      font-size: 9px;
      text-align: right;
      text-shadow: 0 1px 0 white;
    }

    .selectorWrap {
      padding: 0 10px 0 0;
      border: none;
    }

    .progressIcon {
      margin: 0 auto;
    }
  }
}

@keyframes selectSpraySpin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
