#{$light-mode} .crimes-app {

  /* REUSABLE COMPONENTS [START] */

  /* banner */
  --bannerWrap-opacity: unset;

  /* dropdown panel */
  --panelContent-background: #fffffff2;
  --panelContent-boxShadow: 0 1px 2px #00000073;
  --arrow-background: #fffffff2;
  --arrow-boxShadow: 0 0 2px 1px #908e8ed6;

  /* editor */
  --debugSwitcher-background: unset;
  --wrapper-background: #fff;
  --wrapper-borderColor: #bbb;
  --input-background: #111;
  --input-color: unset;
  --input-borderColor: unset;

  /* experience bar */
  --barBg-background: transparent linear-gradient(180deg, #ccc 0%, #eee 100%) 0% 0% no-repeat padding-box;
  --barBg-border: 1px solid #fff;
  --barBg-shadow-color: #d2d2d2;
  --progress-boxShadow: 0 0 22px 1px #afd066;
  --progress-background: repeating-linear-gradient(90deg, #8da94e, #8da94e 1px, #d1e694 0, #d1e694 2px);
  --progress_after-background: linear-gradient(to bottom, #ffffff0d 0%, #afd066b8 100%);
  --bar-border: 1px solid #ccc;
  --bar-boxShadow: 0 0 5px #ffffffa6;
  --bar-background: #f8ffe5;
  --bar-exp-divider-color: #fff;
  --bar-level-holder-shadow-color: #fff;
  --expDivider-background: linear-gradient(to right, #f0f0e0 50%, #d6d6b6 100%);

  /* item cell */
  --itemContainer-background: transparent linear-gradient(0deg, #ebebeb 0%, #ddd 100%) 0% 0% no-repeat padding-box;
  --itemContainer-boxShadow: inset 0 2px 4px #00000040, 0 1px 0 #fff;
  --itemContainer-border: none;
  --itemMock-border: 1px solid #ddd;
  --itemArrowPath-background: #fff;
  --itemArrowPath-boxShadow: 0 0 2px #000;

  /* panel title */
  --titleCrimes-background: transparent linear-gradient(180deg, #fff 0%, #ddd 100%) 0% 0% no-repeat padding-box;
  --titleCrimes-boxShadow: 0 1px 2px #00000040;
  --titleCrimes-textShadow: 0 1px 0 rgba(255, 255, 255, .45);
  --span-color: #888;
  --span-textShadow: inherit;
  --success__count-color: #678c00;
  --failure__count-color: #888;
  --critical__count-color: #d83400;
  --jailed__count-color: #d83400;

  /* slick slider */
  --slickSlide_after_filter: unset;

  /* REUSABLE COMPONENTS [END] */

  /* row */
  --crimeRow__placeholder-background-color: #fff;
  --crimeRow__bottomCrimesBorder-color: #333;
  --crimeRow-backgroundColor: #f2f2f2;
  --crimeRow-borderTop: #ddd;
  --crimeRow_hover-backgroundColor: #fff;
  --dlm-borderImage: linear-gradient(180deg, #ddd0 0%, #ddd 53%, #ddd0 100%) 1% 100%;
  --image-opacity: unset;

  /* row action button */
  --crimeRow__actinButtonPseudo-background: transparent linear-gradient(180deg, #ccc 0%, #fff 100%) 0% 0% no-repeat padding-box;
  --crimeRow__actinButtonPseudo-box-shadow-color: #fff;
  --title-color: #666;

  /* subcrimes */
  --subcrimesWrap-color: #8a8a79;

  /* outcome */
  --outcomeSuccess-background: #effdd6;
  --outcomeFailure-background: #fff9db;
  --outcomeJailed-background: #fff9f7;
  --outcomeSuccess-color: #85b200;
  --outcomeFailure-color: #fab005;
  --outcomeJailed-color: #ff3f00;
  --storySuccess-color: #8a8a79;
  --storyFailed-color: #8a8a79;
  --storyJailed-color: #8a8a79;
  --outcomeFadeIn-background: #fff;
  --outcomeActive-borderTop: #cdcdcd;
  --outcome_before-borderTop: rgb(191, 191, 191);
  --outcomeBorder-borderTop: #cdcdcd;
  --outcomeWrapper_after-borderBottom: #bfbfbf;
  --imageWrap-boxShadow: #fff;
  --imageWrap-background: linear-gradient(to bottom, #cecebf 0%, #f0f0e1 100%);
  --outcomeContainer-background: #f9f9f2;
  --outcomeContainer_after-background: #bfbfbf;
  --outcomeID-color: #c5c5b3;
  --status-color: #85b200;
  --outcome_hover_background: #f9f9f29e;
  --outcome__spinner_border: #cbcbcb;
  --outcome__spinner_background: #3f3f3fbd;
  --outcomeWrap__mainTextSuccess-textShadow: rgba(163, 217, 0, .8);
  --outcomeWrap__mainTextJailed-textShadow: rgba(255, 64, 0, .35);
  --specResultFont--color: #8a8a79;
  --areas__spinner-background: #888;
  --areas__found-spinner-border: #ffa8a8;
  --areas__found-spinner-background: transparent;

  /* log */
  --logWrap-background: #fff;
  --logWrap-boxShadow: #00000073;
  --logWrap__before-background: #fff;
  --logWrap__after-background: #fff;
  --scrollCrimes__webkitScrollbarThumb-boxShadow: #fff;
  --scrollCrimes__webkitScrollbar_hover-backgroundColor: #eee;
  --scrollCrimes__webkitScrollbarCorner_hover-backgroundColor: #eee;

  /* dropwdown */
  --areasContainer-background: transparent linear-gradient(180deg, #e4e4e4 0%, #f2f2f2 100%) 0% 0% no-repeat padding-box;
  --areasContainer-border: #fff;
  --areasContainer-boxShadow: inset 0 1px 2px #00000026;
  --areasContainer-border-left-color: #666;
  --area-borderColor: #dedede;
  --area-background: rgba(0, 0, 0, 0);
  --area_hover-background: #fff;
  --area_not__selectedArea_hover-background: #fff;
  --area__selectedArea-background: #fff;
  --area__textSuccess_color: #5c940d;
  --area__textRegular_color: #999;
  --area__textFailed_color: #f03e3e;

  /* row */
  --foundArea-background: #f9ece9;
  --secondSection-borderImage: linear-gradient(180deg, #333, #333 6%, #111 50%, #333 94%, #333) 1 100%;
  --crimeRowFound-background: #f9f0e9;
  --crimeRowEnter-background: #effdd6;
  --crimeRowExit-background: #f9f9f2;
  --crimeRow-text-color: #666;
}
