.d .crimes-icon {
  display: inline-block;
  width: 34px;
  height: 26px;
  background: url("/images/v2/2sef32sdfr422svbfr2/crimes/star_icons_34x34px.png") 0 0 no-repeat;
  color: #fff;
  font-family: "Imagine Font";
  font-size: 8px;
  line-height: 26px;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  vertical-align: middle;
}

.d [class^="crimes-icon-"].blank {
  text-shadow: none;
}

.d .crimes-icon-1 {
  background-position: 0 -7px;
}

.d .crimes-icon-2 {
  background-position: 0 -39px;
}

.d .crimes-icon-3 {
  background-position: 0 -74px;
}

.d .crimes-icon-4 {
  background-position: 0 -107px;
}

.d .crimes-icon-5 {
  background-position: 0 -141px;
}

.d .crimes-icon-6 {
  background-position: 0 -176px;
}

.d .crimes-icon-1.blank {
  background-position: -34px -6px;
}

.d .crimes-icon-2.blank {
  background-position: -34px -39px;
}

.d .crimes-icon-3.blank {
  background-position: -34px -74px;
}

.d .crimes-icon-4.blank {
  background-position: -34px -107px;
}

.d .crimes-icon-5.blank {
  background-position: -34px -141px;
}
