@import "./crime-row.cssmodule.scss";

.image {
  border: 1px solid #e1e1d5;
  margin: 5px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;

  &::before {
    content: '';
    width: inherit;
    height: inherit;
    background: #f3f3e4;
    position: absolute;
  }

  @media #{$screen-mobile} {
    .image {
      width: 40px;
    }
  }
}

.rowImg {
  height: inherit;
  width: inherit;
  position: relative;
  margin: 0;
  filter: sepia(.5) contrast(.9) saturate(.3);
  box-sizing: border-box;
}

.title {
  display: flex;
  flex: 0 0 410px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 5px 0 5px 5px;

  :last-child {
    color: #adada8;
    font-size: 11px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex: 0 0 210px;
      padding: 5px 0 5px 5px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      flex: 0 0 148px;
    }
  }
}

.titleText,
.descText {

  @media #{$screen-mobile} {
    #{$global-r} & {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 141px;
    }
  }
}

.nerve {
  flex: 0 0 93px;
  margin: 0;

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: flex;
      flex: 0 0 20px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      line-height: 2;
      line-height: 16px;
      margin: 0;
    }
  }
}

.className {
  opacity: 2;
}

.action {
  margin-left: 8px;

  button {
    min-width: 106px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex: 0 0 31px;
      padding: 0;
      padding-left: 11px;

      button {
        min-width: unset;
      }
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      padding-left: 7px;
    }
  }
}
