$pb-width: 70px !default;

:global(.d) {
  .bar-line {
    pointer-events: none;
    position: relative;
    width: 0;
    height: 100%;
    border-radius: 10px;
    background: url('/images/v2/2sef32sdfr422svbfr2/crimes/bootlegging/progress_bar.png') 0 0 repeat-x;
    transition: all 1s linear;
  }

  .highlight {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, rgba(191, 255, 0, 0) 0%, rgba(191, 255, 0, .6) 100%);
  }

  .pb {
    position: relative;
    display: inline-block;
    width: #{$pb-width};
    height: 4px;
    border: 1px solid #f8f8f1;
    border-right-width: 2px;
    border-left-width: 2px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(206, 206, 192, 1);
    background: linear-gradient(to bottom, rgba(189, 189, 174, 1) 0%, rgba(223, 223, 208, 1) 100%);
    pointer-events: none;

    &.pb--short {
      width: 24px;
      height: 4px;
      overflow: hidden;
      border: none;
      border-radius: 2px;
      box-shadow: none;
      background: linear-gradient(to bottom, #dfdfd0 0%, #e7e7d8 100%);

      .bar-line {
        background: linear-gradient(to bottom, #bad662 0%, #99b55f 100%);
      }

      .highlight {
        display: none;
      }

      @media screen and (max-width: 1000px) {
        width: 160px;
      }
    }

    &.red {
      .bar-line {
        background-position: 0 -14px;

        .highlight {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .pb {
    position: static;
    top: 0;
    margin-top: 5px;
    vertical-align: top;

    &::before,
    &::after {
      display: none;
      border: 0;
    }

    &.pb--short {
      #{$global-r} & {
        position: relative;
        left: -51px;
        width: 135px;
      }
    }
  }

  .disks-panel .pb {
    width: 56px;
  }
}
@media screen and (max-width: 600px) {
  .pb {
    &.pb--short {
      #{$global-r} & {
        position: relative;
        left: -40px;
        width: 115px;
      }
    }
  }
}
