$titleWidthDesktop: 195px;
$nerveWidthDesktop: 95px;

@import "./crime-row.cssmodule.scss";

$pb-width: 160px;

@import "./progressbar.cssmodule.scss";

$iconSize: 34px;

#{$global-d} {
  .pb-wrap {
    position: relative;
    flex: 0 0 199px;
    padding-right: 10px;
  }

  .pb-icon {
    width: 34px;
    height: 34px;
    background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/progress_bar_icons.png);
    background-repeat: no-repeat;
    pointer-events: none;

    /*
      first number reflcet criemID
      second is the actual state
    */
    &.pb-icon--1-1 {
      background-position: -#{0 * $iconSize} -#{0 * $iconSize};
    }

    &.pb-icon--1-2 {
      background-position: -#{1 * $iconSize} -#{0 * $iconSize};
    }

    &.pb-icon--2-1 {
      background-position: -#{0 * $iconSize} -#{1 * $iconSize};
    }

    &.pb-icon--2-2 {
      background-position: -#{1 * $iconSize} -#{1 * $iconSize};
    }

    &.pb-icon--2-3 {
      background-position: -#{2 * $iconSize} -#{1 * $iconSize};
    }

    &.pb-icon--2-4 {
      background-position: -#{3 * $iconSize} -#{1 * $iconSize};
    }

    &.pb-icon--3-1 {
      background-position: -#{0 * $iconSize} -#{2 * $iconSize};
    }

    &.pb-icon--3-2 {
      background-position: -#{1 * $iconSize} -#{2 * $iconSize};
    }

    &.pb-icon--4-1 {
      background-position: -#{0 * $iconSize} -#{3 * $iconSize};
    }

    &.pb-icon--4-2 {
      background-position: -#{1 * $iconSize} -#{3 * $iconSize};
    }

    &.pb-icon--4-3 {
      background-position: -#{2 * $iconSize} -#{3 * $iconSize};
    }

    &.pb-icon--5-1 {
      background-position: -#{0 * $iconSize} -#{4 * $iconSize};
    }

    &.pb-icon--5-2 {
      background-position: -#{1 * $iconSize} -#{4 * $iconSize};
    }

    &.pb-icon--6-1 {
      background-position: -#{0 * $iconSize} -#{5 * $iconSize};
    }

    &.pb-icon--6-2 {
      background-position: -#{1 * $iconSize} -#{5 * $iconSize};
    }
  }

  .required-item {
    flex: 1;
  }

  [class^="search-cash-image-"],
  [class*="search-cash-image-"] {
    display: inline-block;
    width: 100px;
    height: 50px;
    background: url("/images/v2/2sef32sdfr422svbfr2/crimes/search_for_cash/search_for_cash_subcrimes_v4.png") no-repeat;
    vertical-align: middle;
  }

  .search-cash-image-search-trash {
    background-position: -110px 0;
  }

  .search-cash-image-search-train-station {
    background-position: -110px -60px;
  }

  .search-cash-image-search-scrap-yard {
    background-position: -110px -120px;
  }

  .search-cash-image-search-beach {
    background-position: -110px -180px;
  }

  .search-cash-image-search-graveyard {
    background-position: -110px -240px;
  }

  .search-cash-image-search-fountain {
    background-position: -110px -300px;
  }

  .crimeRow {
    &.active,
    &:hover {
      .search-cash-image-search-trash {
        background-position: 0 0;
      }

      .search-cash-image-search-train-station {
        background-position: 0 -60px;
      }

      .search-cash-image-search-scrap-yard {
        background-position: 0 -120px;
      }

      .search-cash-image-search-beach {
        background-position: 0 -180px;
      }

      .search-cash-image-search-graveyard {
        background-position: 0 -240px;
      }

      .search-cash-image-search-fountain {
        background-position: 0 -300px;
      }
    }
  }
}

#{$global-r} {

  @media screen and (max-width: 1000px) {
    .pb-wrap {
      flex: 0 0 46px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: 4px;
      height: 47px;
    }

    .pb-icon {
      margin-top: 4px;
      margin-bottom: -10px;
    }
  }
  @media screen and (max-width: 600px) {
    .pb-wrap {
      flex: 0 0 36px;
    }
  }
}
