@import "./crime-row.cssmodule.scss";
@import "./progressbar.cssmodule.scss";

:global(.d) {
  .title {
    flex: 0 0 247px;
  }

  .pb-wrap {
    flex: 0 0 170px;
  }

  .pb {
    width: 142px;
  }

  .statusEffects {
    flex: 0 0 101px;
    justify-content: space-evenly;
    margin-left: auto;
  }

  .cameraStatus,
  .guardsStatus {
    > * {
      pointer-events: none;
    }

    position: relative;
    width: 42px;
    height: 42px;
  }

  .roundCircle {
    width: 100%;
    height: 100%;
    transform: rotate(90deg) scale(1, -1);
    pointer-events: none;
  }

  .subcrimeImgSprite {
    display: inline-block;
    width: 98px;
    height: 50px;
    background: url("/images/v2/2sef32sdfr422svbfr2/crimes/shoplifting/shoplifting_subcrimes.png") no-repeat;
    vertical-align: middle;
  }

  // .noneCheck {
  //   display: none;
  // }

  // .cameraOne {
  //   background-position: 3px 3px;
  // }

  // .cameraTwo {
  //   background-position: 3px -33px;
  // }

  // .cameraThree {
  //   background-position: 3px -69px;
  // }

  // .cameraFour {
  //   background-position: 3px -104px;
  // }

  // .guardOne {
  //   background-position: -34px 3px;
  // }

  // .guardTwo {
  //   background-position: -33.3px -33px;
  // }

  // .checkpoint {
  //   background-position: -69px 3px;
  // }

  .nerve {
    flex: 0 0 59px;
    margin-left: auto;
  }

  .sallys_sweet_shop {
    background-position: -110px 0;
  }

  .bits_n_bobs {
    background-position: -110px -60px;
  }

  .tc_clothing {
    background-position: -110px -120px;
  }

  .superstore {
    background-position: -110px -180px;
  }

  .big_als_gun_shop {
    background-position: -110px -240px;
  }

  .jewelry_shop {
    background-position: -110px -300px;
  }

  .pb .bar-line {
    background: url("/images/v2/2sef32sdfr422svbfr2/crimes/bootlegging/progress_bar.png") 0% 100% repeat-x;
  }

  .crimeRow {
    &.active,
    &:hover {
      .sallys_sweet_shop {
        background-position: 0 0;
      }

      .bits_n_bobs {
        background-position: 0 -60px;
      }

      .tc_clothing {
        background-position: 0 -120px;
      }

      .superstore {
        background-position: 0 -180px;
      }

      .big_als_gun_shop {
        background-position: 0 -240px;
      }

      .jewelry_shop {
        background-position: 0 -300px;
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .title {
      position: relative;
      top: -7px;
      flex: 0 0 111px;
      padding: 0 0 0 10px;
    }

    .statusEffects {
      flex: 0 0 117px;
      justify-content: space-around;
      margin-left: 15px;
    }

    .pb-wrap {
      top: 26px;
      flex: 0 0 46px;
      flex-direction: column;
      justify-content: flex-start;
      height: 16px;
    }

    .pb.pb--short {
      width: 97px;
      border: 1px solid #f8f8f1;
      box-shadow: 0 0 0 1px #cecec0;
      background: linear-gradient(to bottom, #bdbdae 0%, #dfdfd0 100%);

      @media screen and (max-width: 1000px) {
        left: 0;
      }
      @media screen and (max-width: 600px) {
        left: 0;
      }
    }

    .pb.pb--short .bar-line {
      background: url(/images/v2/2sef32sdfr422svbfr2/crimes/bootlegging/progress_bar.png) 0% 100% repeat-x;
    }

    .nerve {
      flex: 0 0 29px;
      margin-left: 0;
    }

    .action {
      padding-right: 0;
    }

    .next {
      right: 0;
    }
  }
  @media screen and (max-width: 600px) {
    .title {
      top: -5px;
    }

    .pb-wrap {
      flex: 0 0 36px;
    }

    .statusEffects {
      flex: 0 0 110px;
      margin-left: 4px;
    }
  }
}
