@import './constants.scss';

.rowsWrap {
  position: relative;
}

.rowWrap {
  position: relative;
  width: 782px;
  height: 50px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-self: flex-start;
  background: $rowBcg;
  border-bottom: 1px solid $itemBcg;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 386px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 320px;
    }
  }
}

.titleImg {
  width: 98px;
  height: 50px;
  background: $itemBcg;
  box-sizing: border-box;

  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 50px;
    }
  }
}

.titleText {
  margin-right: 34px;
  margin-left: 10px;
  width: 145px;
  height: 15px;
  background: $itemBcg;
  box-sizing: border-box;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 55px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 50px;
    }
  }
}

.titleTextUp {

  @media #{$screen-tablet} {
    #{$global-r} & {
      position: relative;
      top: -11px;
    }
  }
}

.titleSubText {
  composes: titleText;
  position: absolute;
  top: 37px;
  left: 45px;

  @media #{$screen-mobile} {
    #{$global-r} & {
      left: 55px;
    }
  }
}

.titleSlim {
  height: 5px;
}

.progress {
  pointer-events: none;
  position: relative;
  display: inline-block;
  width: 160px;
  height: 5px;
  border: 1px solid #f8f8f1;
  border-right-width: 2px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #cecec0;
  background: $itemBcg;
  box-sizing: border-box;
  margin-right: 21px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      left: -37px;
      top: 1px;
      width: 133px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      left: -28px;
      top: 2px;
      width: 114px;
    }
  }
}

.itemContainer {
  position: relative;
  flex-direction: row;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background: $itemBcg;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  margin-right: 10px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-left: 11px;
      width: 60px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      margin-left: 15px;
    }
  }
}

.itemContainerMini {

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 41px;
      height: 20px;
      margin: 0;
    }
  }
}

.itemWithNose {
  width: 90px;
}

.addItemNose {
  border-left: 2px solid;
  border-color: #dadacf;
  box-sizing: border-box;
  overflow: hidden;
  width: 44px;
  height: inherit;
  position: absolute;
  left: 60px;

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    right: 5px;
    background: $itemBcg;
    transform: rotate(45deg);
    border-radius: 5px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}

.circlesPseudo {
  width: 86px;
  height: inherit;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 38px;
    height: 38px;
    top: 50%;
    transform: translateY(-50%);
    background: radial-gradient(transparent 0%, #e3e3d8 0%, #e3e3d8 32%, transparent 35%, transparent 61%, #e3e3d8 61%, #e3e3d8 68%, transparent 68%, transparent 100%);
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-left: 29px;
      margin-right: 12px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      margin-left: 22px;
      width: 79px;
    }
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.nerveContainer {
  position: relative;
  width: 96px;
  height: inherit;
  box-sizing: border-box;
  margin-right: 10px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-right: 0;
      width: 20px;
    }
  }

  &::before,
  &::after {
    content: '';
    background: $itemBcg;
    position: absolute;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    width: 15px;
    left: 20px;

    @media #{$screen-tablet} {
      #{$global-r} & {
        left: -2px;
      }
    }
  }

  &::after {
    width: 33px;
    right: 21px;

    @media #{$screen-tablet} {
      #{$global-r} & {
        display: none;
      }
    }
  }
}

.buttonAction {
  width: 85px;
  height: 25px;
  border-radius: 4px;
  background: $itemBcg;
  box-sizing: border-box;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 30px;
      margin-left: 2px;
    }
  }
}
