.dotsContainer {
  margin: 10px;
}

.dots {
  display: block;
  margin: 0;
  width: 40px;
  height: 21px;
  color: #888;
  font: inherit;
  line-height: 2;
  text-align: center;
  pointer-events: none;
  user-select: none;
}
