@import '../../styles/constants';

.permissionsContentWrapper {
  #{$global-r} & {

    @media #{$screen-tablet} {
      border-top: $border-gray;
      border-top-color: var(--faction-positions-outer-border-color);
    }
  }
}
