/* WRAPPER */
.d .chronicles-employment {
  color: #575746;
  color: var(--chronicle-text-color);
  font-family: 'Special Elite', cursive;
  line-height: 24px;
}

/* ALL IMAGES & EFFECTS */
.d .chronicles-employment .img {
  background-repeat: no-repeat;
  background-size: contain;
}

.d .chronicles-employment .mark::before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
}

.d .chronicles-employment .mark {
  position: relative;
}

.d .chronicles-employment .bg-effects {
  z-index: -1;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.d .chronicles-employment .bg-effects .img {
  position: absolute;
  width: 100%;
}

.d .chronicles-employment .page .bg-effects {
  margin: 0 -75px;
}

.d .chronicles-employment .page:nth-child(even) .bg-effects {
  margin: 0 -67px;
}

/* pageS COMMON STYLES*/
.d .chronicles-employment .page {
  z-index: 5;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
  position: relative;
}
.d .chronicles-employment .page:nth-child(odd) {
  z-index: 10;
  padding: 14px 76px;
  background-image: url('/images/v2/chronicles_archives/chronicles/employment/bg_1.jpg');
  background-image: var(--chronicle-main-bg1-url);
}

.d .chronicles-employment .page:nth-child(even) {
  background-image: url('/images/v2/chronicles_archives/chronicles/employment/bg_2.jpg');
  background-image: var(--chronicle-main-bg2-url);
  padding: 3px 67px;
  margin: 0 10px;
}

.d .chronicles-employment .page p {
  padding: 12px 0;
  font-size: 16px;
}

/* 1-page */
.d .chronicles-employment .page.page-1 h5 {
  padding: 42px 0 37px 0;
  text-align: center;
  font-size: 30px;
}

.d .chronicles-employment .page.page-1 .bg-effects .img {
  height: 1000px;
  background-size: auto;
}

.d .chronicles-employment .page.page-1 .bg-effects .img:first-child {
  background-image: url('/images/v2/chronicles_archives/chronicles/employment/976/effects/first_paragraph.png');
}

.d .chronicles-employment .page.page-1 .bg-effects .img:nth-child(2) {
  background-image: url('/images/v2/chronicles_archives/chronicles/employment/976/effects/anarchy_sign.png');
  background-position: 0 100%;
  bottom: 0;
}
.d .chronicles-employment .page.page-1 .bg-effects .img:nth-child(3) {
  background-image: url('/images/v2/chronicles_archives/chronicles/employment/976/text_typo/top_line.png');
  background-image: var(--employment-text-typo-1-url);
  height: 2px;
  left: 72px;
  top: 115px;
  right: 0;
  width: auto;
}

.d .chronicles-employment .page.page-1 .img-1 {
  margin: 24px -67px 1px -76px;
}

.d .chronicles-employment .page.page-1 .img-2 {
  margin: -7px -75px -6px -34px;
}

.d .chronicles-employment .page.page-1 .img-3 {
  margin: 10px -38px 0 -17px;
}

.d .chronicles-employment .page.page-1 .mark-1::before {
  background-image: url('/images/v2/chronicles_archives/chronicles/employment/976/text_typo/green_highlight.png');
  width: 45px;
  height: 165px;
  left: -53px;
  top: 11px;
}

/* 2-page*/
.d .chronicles-employment .page.page-2 .img-1 {
  margin: -3px -67px -29px -67px;
}

.d .chronicles-employment .page.page-2 .img-2 {
  margin: -32px -17px 2px -42px;
}

.d .chronicles-employment .page.page-2 .img-3 {
  margin: -3px -32px 25px -46px;
}

.d .chronicles-employment .page.page-2 .mark-1::before {
  background-image: url('/images/v2/chronicles_archives/chronicles/employment/976/effects/right_mark.png');
  right: -67px;
  top: -48px;
  width: 60px;
  height: 69px;
}

.d .chronicles-employment .page.page-2 .mark-2::before {
  background-image: url('/images/v2/chronicles_archives/chronicles/employment/976/text_typo/brown_highlight.png');
  width: 142px;
  height: 27px;
  bottom: -9px;
  left: 130px;
}

.d .chronicles-employment .page.page-2 .bg-effects .img:first-child {
  bottom: 0;
  background-image: url('/images/v2/chronicles_archives/chronicles/employment/976/effects/military_personnel_backgroung.png');
  height: 480px;
}

.d .chronicles-employment .page.page-2 .bg-effects .img:nth-child(2) {
  background-image: url('/images/v2/chronicles_archives/chronicles/employment/976/effects/right_paper_dirt.png');
  right: -4px;
  bottom: 400px;
  height: 500px;
  width: 238px;
}

.d .chronicles-employment .page.page-2 .bg-effects .img:nth-child(3) {
  background-image: url('/images/v2/chronicles_archives/chronicles/employment/976/effects/lady_justice_bakground.png');
  height: 615px;
  top: 700px;
}

/* 3-page */
.d .chronicles-employment .page.page-3 {
  padding-top: 24px;
  padding-bottom: 20px;
}

.d .chronicles-employment .page.page-3 .img-1 {
  margin: 5px -16px -3px -23px;
}

.d .chronicles-employment .page.page-3 .img-2 {
  margin: 20px -17px -11px -37px;
}

.d .chronicles-employment .page.page-3 .bg-effects .img:first-child {
  background-image: url('/images/v2/chronicles_archives/chronicles/employment/976/effects/finally_the_casino.png');
  height: 1530px;
}

.d .chronicles-employment .page.page-3 .bg-effects .img:nth-child(2) {
  background-image: url('/images/v2/chronicles_archives/chronicles/employment/976/effects/right_burned_paper.png');
  background-image: var(--employment-effect1-url);
  height: 648px;
  bottom: 105px;
  right: 0;
  width: 60px;
}

.d .chronicles-employment .page.page-3 .bg-effects .img:nth-child(3) {
  display: none;
}

/* 4-page */
.d .chronicles-employment .page.page-4 .img-1 {
  margin: 35px -64px 4px -15px;
}

.d .chronicles-employment .page.page-4 .img-2 {
  margin: 0 -66px -1px -48px;
}

.d .chronicles-employment .page.page-4 .img-3 {
  margin: 6px 0 -62px -69px;
}

.d .chronicles-employment .page.page-4 .mark.mark-1::before {
  background-image: url('/images/v2/chronicles_archives/chronicles/employment/976/text_typo/tiny_typo.png');
  width: 19px;
  height: 18px;
  right: 40px;
}

.d .chronicles-employment .page.page-4 .mark.mark-2::before {
  background-image: url('/images/v2/chronicles_archives/chronicles/employment/976/effects/water_sign.png');
  width: 35px;
  height: 210px;
  right: -68px;
  top: -108px;
}

.d .chronicles-employment .page.page-4 .bg-effects .img:first-child {
  bottom: 0;
  right: 0;
  background-image: url('/images/v2/chronicles_archives/chronicles/employment/976/effects/water_drops.png');
  height: 520px;
  width: 754px;
}

.d .travelling .chronicles-employment,
.d .logged-out .chronicles-employment {
  width: 784px;
  margin: 0 auto;
}

@media only screen and (max-width : 1000px) {
  .r .travelling .chronicles-employment,
  .r .logged-out .chronicles-employment {
    width: 386px;
  }

  .r .chronicles-employment {
    font-size: 15px;
  }

  .r .chronicles-employment .page:nth-child(odd),
  .r .chronicles-employment .page:nth-child(even) {
    padding: 4px 12px;
  }

  .r .chronicles-employment .page:nth-child(even) {
    margin: 0;
  }

  .r .chronicles-employment .page .bg-effects,
  .r .chronicles-employment .page:nth-child(even) .bg-effects {
    margin: 0 -12px;
  }

  /* 1 page */
  .r .chronicles-employment .page.page-1 h5 {
    font-size: 24px;
    line-height: 30px;
    padding: 25px 0 28px 0;
    letter-spacing: 1px;
  }

  .r .chronicles-employment .page.page-1 h5 span:last-child {
    display: block;
  }

  .r .chronicles-employment .page.page-1 .bg-effects .img:first-child {
    background-image: url('/images/v2/chronicles_archives/chronicles/employment/578/effects/first_paragraph_578.png');
  }

  .r .chronicles-employment .page.page-1 .bg-effects .img:nth-child(2) {
    background-image: url('/images/v2/chronicles_archives/chronicles/employment/578/effects/anarchy_sign_578.png');
  }

  .r .chronicles-employment .page.page-1 .bg-effects .img:nth-child(3) {
    background-image: url('/images/v2/chronicles_archives/chronicles/employment/578/text_typo/top_line_578.png');
    background-image: var(--employment-text-typo-1-url);
    left: 9px;
    top: 99px;
  }

  .r .chronicles-employment .page.page-1 .img-1 {
    margin: 0 -10px -23px -12px;
  }

  .r .chronicles-employment .page.page-1 .img-2 {
    margin: -10px -16px -17px -12px;
  }

  .r .chronicles-employment .page.page-1 .img-3 {
    margin: -2px -17px -9px -12px;
  }

  .r .chronicles-employment .page.page-1 .mark-1::before {
    background-image: url('/images/v2/chronicles_archives/chronicles/employment/578/text_typo/green_highlight_578.png');
    width: 10px;
    height: 274px;
    left: -11px;
    top: 5px;
  }

  /* 2 page */
  .r .chronicles-employment .page.page-2 .img-1 {
    margin: -5px -15px -22px -13px;
  }

  .r .chronicles-employment .page.page-2 .img-2 {
    margin: -22px -13px -22px -11px;
  }

  .r .chronicles-employment .page.page-2 .img-3 {
    margin: -2px -11px -12px -13px;
  }

  .r .chronicles-employment .page.page-2 .mark-1::before {
    right: -12px;
    top: -37px;
  }

  .r .chronicles-employment .page.page-2 .mark-2::before {
    bottom: -8px;
    left: 0;
  }

  .r .chronicles-employment .page.page-2 .bg-effects .img:nth-child(2) {
    background-image: url('/images/v2/chronicles_archives/chronicles/employment/578/effects/right_paper_dirt_578.png');
    bottom: 228px;
    right: 0;
  }

  /* 3 page */
  .r .chronicles-employment .page.page-3 {
    padding: 8px 12px;
  }

  .r .chronicles-employment .page.page-3 .img-1 {
    margin: -12px -8px -7px -11px;
  }

  .r .chronicles-employment .page.page-3 .mark-1 {
    margin-top: -3px;
  }

  .r .chronicles-employment .page.page-3 .img-2 {
    margin: -1px -1px -18px -1px;
  }

  .r .chronicles-employment .page.page-3 .bg-effects .img:first-child {
    background-image: url('/images/v2/chronicles_archives/chronicles/employment/578/effects/finally_the_casino_1_578.png');
    top: 264px;
  }

  .r .chronicles-employment .page.page-3 .bg-effects .img:nth-child(2) {
    background-image: url('/images/v2/chronicles_archives/chronicles/employment/578/effects/right_burned_paper_578.png');
    background-image: var(--employment-effect1-url);
    height: 290px;
    bottom: 188px;
    right: -2px;
    width: 30px;
  }
  .r .chronicles-employment .page.page-3 .bg-effects .img:nth-child(3) {
    display: block;
    background-image: url('/images/v2/chronicles_archives/chronicles/employment/578/effects/under_the_city_goes_legit_578.png');
    height: 448px;
    top: 760px;
  }

  /* 4 page */
  .r .chronicles-employment .page.page-4 .img-1 {
    margin: 18px -4px -5px -10px;
  }

  .r .chronicles-employment .page.page-4 .img-2 {
    margin: -26px -10px -12px -12px;
  }

  .r .chronicles-employment .page.page-4 .img-3 {
    margin: 8px -14px -62px -14px;
  }

  .r .chronicles-employment .page.page-4 .mark.mark-1::before {
    right: 17px;
    top: 37px;
  }

  .r .chronicles-employment .page.page-4 .mark.mark-2::before {
    right: -12px;
    top: 221px;
  }

  .r .chronicles-employment .page.page-4 .bg-effects .img:first-child {
    background-image: url('/images/v2/chronicles_archives/chronicles/employment/578/effects/water_drops_578.png');
    height: 267px;
    bottom: -11px;
    width: 386px;
  }
}

@media only screen and (max-width: 600px) {
  .r .travelling .chronicles-employment,
  .r .logged-out .chronicles-employment {
    width: 320px;
  }

  .r .travelling #chronicles-archives {
    margin-top: 15px;
  }

  /* 1 page */
  .r .chronicles-employment .page.page-1 h5 {
    padding: 31px 0;
  }

  .r .chronicles-employment .page.page-1 .img-1 {
    margin: -5px -12px -17px -12px;
  }

  .r .chronicles-employment .page.page-1 .img-2 {
    margin: -11px -12px -15px -12px;
  }

  .r .chronicles-employment .page.page-1 .img-3 {
    margin: -6px -11px -13px -12px;
  }

  .r .chronicles-employment .page.page-1 .mark-1::before {
    background-image: url('/images/v2/chronicles_archives/chronicles/employment/320/text_typo/green_highlight_320.png');
    height: 304px;
    top: 2px;
  }

  .r .chronicles-employment .page.page-1 .bg-effects .img:first-child {
    background-image: url('/images/v2/chronicles_archives/chronicles/employment/320/effects/first_paragraph_320.png');
  }

  .r .chronicles-employment .page.page-1 .bg-effects .img:nth-child(2) {
    background-image: url('/images/v2/chronicles_archives/chronicles/employment/320/effects/anarchy_sign_320.png');
  }

  .r .chronicles-employment .page.page-1 .bg-effects .img:nth-child(3) {
    background-image: url('/images/v2/chronicles_archives/chronicles/employment/320/text_typo/top_line_320.png');
    background-image: var(--employment-text-typo-1-url);
    top: 109px;
  }

  /* 2 page */
  .r .chronicles-employment .page.page-2 .img-1 {
    margin: -4px -13px -19px -12px;
  }

  .r .chronicles-employment .page.page-2 .img-2 {
    margin: -20px -8px -10px -12px;
  }

  .r .chronicles-employment .page.page-2 .img-3 {
    margin: -12px -13px 7px -11px;
  }

  .r .chronicles-employment .page.page-2 .mark-1::before {
    right: -11px;
    top: -53px;
  }

  .r .chronicles-employment .page.page-2 .mark-2::before {
    left: 138px;
  }

  /* 3 page */
  .r .chronicles-employment .page.page-3 {
    padding-bottom: 2px;
  }

  .r .chronicles-employment .page.page-3 .img-1 {
    margin: -12px -12px -18px -11px;
  }

  .r .chronicles-employment .page.page-3 .img-2 {
    margin: 22px -1px -16px -3px;
  }

  .r .chronicles-employment .page.page-3 .bg-effects .img:first-child {
    top: 157px;
  }

  .r .chronicles-employment .page.page-3 .bg-effects .img:nth-child(2) {
    bottom: 114px;
  }

  .r .chronicles-employment .page.page-3 .bg-effects .img:nth-child(3) {
    top: 847px;
  }

  /* 4 page */
  .r .chronicles-employment .page.page-4 .img-1 {
    margin: 16px -4px -2px -7px;
  }

  .r .chronicles-employment .page.page-4 .img-2 {
    margin: -25px -10px -8px -12px;
  }

  .r .chronicles-employment .page.page-4 .img-3 {
    margin: 16px -14px -62px -14px;
  }

  .r .chronicles-employment .page.page-4 .mark.mark-1::before {
    right: 19px;
  }

  .r .chronicles-employment .page.page-4 .bg-effects .img:first-child {
    background-image: url('/images/v2/chronicles_archives/chronicles/employment/320/effects/water_drops_320.png');
    height: 233px;
    right: 3px;
    bottom: -1px;
    width: 318px;
  }

  .r .chronicles-employment .page.page-4 .mark.mark-2::before {
    top: 251px;
  }
}
