$starGap: 10px;
$starWidth: 25px;
$starHeight: 25px;
$starColumns: 7;
$starsList:
  2 23 1,
  3 25 24,
  4 25 49,
  5 25 74;

@mixin generateStarsList($index, $list, $start) {

  @for $lvl from 1 through $list {
    $levelClass: $lvl + $start;
    $gapMagnifier: $index;
    $starMagnifier: $index - 1;
    $levelMagnifier: $lvl - 1;

    .star#{$levelClass} {
      background-position: -#{$starGap * $gapMagnifier + $starWidth * $starMagnifier} -#{$starGap * $lvl  + ($starHeight * $levelMagnifier)};
    }
  }
}

@each $index, $list, $start in $starsList {

  @include generateStarsList($index, $list, $start);
}

.star {
  background-image: url('/images/v2/2sef32sdfr422svbfr2/crimes/stars.svg');
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  z-index: 1;
}

.star1 {
  background-position: -10px -10px;
}

.star100 {
  background-position: -185px -10px;
}

.svgStarWrap {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.crimes-icon-text {
  position: absolute;
  top: 50%;
  // margin-top: -.06em;
  margin-left: .07em;
  color: #fff;
  font-family: Imagine Font, sans-serif;
  font-size: 8px;
  line-height: 1;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transform: translateY(-40%);
}
