.currentRowOutcome-enter {
  transform: translateY(-100%);
  position: relative;
}

.currentRowOutcome-enter-active {
  transform: translateY(0%);
  transition: transform .35s ease-in;
}

.currentRowOutcome-exit {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100% !important;
}

.currentRowOutcome-exit-active {
  // empty
}

.newRowOutcome-enter {
  position: relative;
}

.newRowOutcome-enter-active {
  // empty
}

.newRowOutcome-exit {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100% !important;
}

.newRowOutcome-exit-active {
  // empty
}

.currentRowOutcome-enter-done,
.newRowOutcome-enter-done {
  transition: background-color .3s ease-out;
  position: relative;
}
