$successBg: #effdd6;
$failureBg: #fff9db;
$jailedBg: #fff9f7;

$successText: #85b200;
$failureText: #fab005;
$jailedText: #ff3f00;

@mixin addRowAnimation($color) {
  $cs: str-slice(inspect($color), 2);

  animation: fadeIn-#{$cs} 3s cubic-bezier(.55, .055, .675, .19);
}
@mixin fadeIn($color) {
  $cs: str-slice(inspect($color), 2);

  @keyframes fadeIn-#{$cs} {
    0% {
      background: $color;
    }

    50% {
      background: $color;
    }

    100% {
      background: #fff;
    }
  }
}

@keyframes outcomeEnter {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

@include fadeIn($successBg);
@include fadeIn($failureBg);
@include fadeIn($jailedBg);

.outcome--active {
  border-top: 1px solid #cdcdcd;
}

.outContainer {
  width: 100%;
  height: 100px;
  transition: all 1s linear;
  overflow: hidden;
}

.outcome {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height .35s ease-in-out;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   z-index: 10000;
  //   width: 100%;
  //   border-top: 1px solid rgb(191, 191, 191);
  // }
}

.outcomeFastIn {
  transition: all .1s ease;
}

.outcome-border {
  border-top: 1px solid #cdcdcd;
}

.outcomeWrapAfter {
  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #bfbfbf;
  }
}

.currentRow {
  transition: height .2s ease-in;
}

.imageWrap {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 35px;
  width: 60px;
  width: 90px;
  border-radius: 5px;
  box-shadow: 0 1px 0 white, inset 0 1px 2px rgba(36, 36, 21, .25);
  background: #cecebf;
  background: linear-gradient(to bottom, #cecebf 0%, #f0f0e1 100%);
  text-align: center;
  vertical-align: middle;

  img {
    width: fit-content;
    pointer-events: none;
  }
}

.rewardsWrap {
  display: flex;
}

.outcomeContainer {
  // width: 782px;
  height: 100%;
  // box-shadow: 1px 1px 0 #bfbfbf;
  background: #f9f9f2;
  color: inherit;

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #bfbfbf;
  }
}

.slide-anim {
  transition: all .1s ease-in-out;
}

.slide-enter-anim {
  animation: outcomeEnter 1.1s;
}

.outcomeWrap {
  width: 100%;
  float: right;
  overflow: hidden;
  transition: all .2s linear;

  .mainText {
    display: block;
    margin-right: 17px;
    text-transform: uppercase;

    &::after {
      content: "";
      display: inline-block;
      margin-left: 8px;
      width: 24px;
      height: 36px;
      background: url('/images/v2/crimes/bootlegging/success_failure_arrows.png') 0 0 no-repeat;
      vertical-align: middle;
    }
  }

  .story {
    position: relative;
    padding: 6px 12px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    white-space: normal;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background: url('/images/v2/crimes/bootlegging/subcrimes_dashed_divider.png') 0 0 repeat-x;
    }
  }

  .result {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 12px 0;
    height: 100%;
    font-family: Fjalla One, sans-serif;
    font-size: 24px;
    letter-spacing: 2pt;
    line-height: 50px;
    vertical-align: middle;
  }

  .itemsRewards {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 12px 12px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    white-space: normal;
  }

  .moneyRewards {
    position: relative;
    padding: 6px 12px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    white-space: normal;
  }

  .infoText {
    display: inline-block;
    padding-right: 12px;
    // line-height: 20px;
    vertical-align: middle;
  }

  .infoTextCutted {
    font-size: 15px;
  }

  .outcomeID {
    display: inline-block;
    margin-left: auto;
    float: right;
    color: #c5c5b3;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .status {
    color: #85b200;
  }

  .count {
    pointer-events: none;

    span {
      pointer-events: none;
    }
  }
}

.outcome--hover {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 51px);
  overflow: hidden;
  background: #f9f9f29e;

  .spinner {
    width: 20px;
    height: 20px;
    border: 1px #cbcbcb solid;
    background: #3f3f3fbd;
    animation: outcomeIsWaiting 2s infinite;
  }
}

.success {

  @include addRowAnimation($successBg);

  .outcomeWrap {
    .mainText {
      color: #{$successText};
      text-shadow: 0 0 10px rgba(163, 217, 0, .8);

      &::after {
        background-position: 0 0;
      }
    }
  }
}

.jailed {

  @include addRowAnimation($jailedBg);

  .outcomeWrap {
    .mainText {
      color: #{$jailedText};
      text-shadow: 0 0 10px rgba(255, 64, 0, .35);

      &::after {
        // background-position: 0 -33px;
        display: none;
      }
    }
  }
}

.failure {

  @include addRowAnimation($failureBg);

  .outcomeWrap {
    .mainText {
      color: #{$failureText};

      &::after {
        display: none;
      }
    }
  }
}

.specResultFont {
  color: #8a8a79;
  font-family: Fjalla One, sans-serif;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop {
  opacity: 1;
}

.tablet {
  .outcomeContainer {
    max-width: 386px;
  }

  .result {
    // padding: 5px 8px 10px;
    width: 362px;
    // height: auto;

    .mainText {
      display: block;
    }
  }

  .image-wrap {
    margin-left: 5px;
  }

  .infoText {
    max-width: 276px;
  }

  .outcomeWrap {
    .outcomeID {
      position: absolute;
      top: -15px;
      right: 4px;
      font-size: 7px;
    }
  }
}

.mobile {
  .outcomeContainer {
    max-width: 320px;
  }

  .result {
    display: flex;
    // flex-direction: column;
    width: 297px;
  }

  .infoText {
    padding-right: 0;
    max-width: 200px;
  }

  .outcomeWrap {
    .outcomeID {
      position: absolute;
      top: -15px;
      right: 4px;
      font-size: 7px;
    }
  }
}
