.animatedPart {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 60px;
  height: 30px;
  overflow: hidden;

  .movablePart {
    width: 100%;
    height: 100%;
    background: url(/images/v2/christmas_town/gates/gate1/2.png) left bottom no-repeat;
    transition: transform .5s;
    transform: translateX(0);
  }

  &.opened .movablePart {
    transform: translateX(-100%);
  }
}
