
.imageWeapon {
  box-sizing: border-box;
  position: relative;
  display: block;
  margin: 0;
  padding: 9px 3px;
  width: 55px;
  min-width: 55px;
  height: 42px;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-image: linear-gradient(180deg, #f9f9f20d, #f9f9f200 6%, #ccc 50%, #f9f9f200 94%, #f9f9f200) 1 100%;
}

.imageWeaponPreloader {
  composes: imageWeapon;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
}
