%shadow {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.item {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to bottom, rgba(#000, .07) 0%, rgba(#000, .01) 100%);

  &::before {

    @extend %shadow;

    top: 1px;
    box-shadow: 0 -1px 1px 0 rgba(#000, .2);
  }

  &::after {

    @extend %shadow;

    bottom: 1px;
    box-shadow: 0 1px 1px 0 var(--loadouts-default-white-box-shadow-color);
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 38px;
      height: 19px;
    }
  }
}

.arrow {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.active {

  @media #{$screen-tablet} {
    #{$global-r} & {
      background-color: #fff;

      &::before,
      &::after {
        content: none;
      }
    }
  }
}

.active .arrow {
  display: block;

  @media #{$screen-desktop} {
    #{$global-r} & {
      top: -2px;
      left: -2px;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      border: 2px solid var(--loadouts-item-border-color);
    }

    #{$global-r}#{$not-dark-mode} &::after {
      content: '';
      position: absolute;
      top: -3px;
      left: -3px;
      display: block;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      border: 1px solid #ccc;
      border-radius: 7px;
    }
  }
  @media #{$screen-tablet} {
    #{$global-r} & {
      top: -1px;
      left: 0;
      width: 100%;
      height: calc(100% + 1px);
      border: 1px solid #ccc;
    }
  }
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

%tooltipText {
  display: block;
  height: 15px;
  text-align: center;
}

.tooltipName {
  color: #444;

  @extend %tooltipText;
}

.tooltipType {
  color: #888;

  @extend %tooltipText;
}
