.itemsContainer {
  position: relative;

  .inventoryItem {
    max-width: 34px;
    max-height: 34px;
    margin-top: 5px;
  }
}

.devMenuToggle {
  display: flex;
  padding: 5px 5px 3px 5px;
  position: absolute;
  background: #ff0505;
  border-top-left-radius: 5px;
  width: auto;
  height: auto;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.devMenuToggleCheckbox {
  margin-right: 5px;
  position: relative;
  top: -1px;
  pointer-events: none;
}

.devMenuToggleLabel {
  font: inherit;
  line-height: 1;
  color: #fff;
  pointer-events: none;
}

.animation {
  animation: 1s 1 opacityEffect, .5s 3 bounceEffect;
  animation-timing-function: linear;
}

@keyframes opacityEffect {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}
@keyframes bounceEffect {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
}
