.flexContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.bodyContainer {
  flex-direction: column;
  composes: flexContainer;
}

.rowsWrapZIndex,
.columnsWrapZIndex {
  z-index: 1; // overflow addMap Outcome on initial animation phase
}

.columnsWrap {
  flex-direction: row;
  composes: flexContainer;
}

.rowsWrap {
  flex-direction: column;
  composes: flexContainer;
  width: 100%;
}

.rowPlaceholder {
  width: 784px;
  height: 42px;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  background: var(--ct-panel-bg);
  border-top: 1px solid #d4dfe4;
  border-top-color: var(--ct-skeleton-border-color);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
  color: #668fa3;
  justify-content: center;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 100%;
      height: 55px;
    }
  }
  // @media #{$screen-mobile} {
  //   #{$global-r} & {
  //     width: 320px;
  //   }
  // }
}

.rowPlaceholderText {

  @media #{$screen-tablet} {
    #{$global-r} & {
      text-align: center;
      line-height: 1.5;
    }
  }
}

:global(.d .content-wrapper.travelling) {
  .rowPlaceholder {
    width: 100%;
  }
}
