@import '../index.cssmodule.scss';

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ratingBox {
  position: relative;
  padding: 0 1px;
  flex: 0 1 142px;
  width: 100%;
  height: 100%;
  composes: rowSection;
  composes: flexCenter;
  composes: rating;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex: 0 1 89px;
      padding: 0 1px;
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      padding: 0 5px;
    }
  }
}
