.container {
  margin-top: 20px;
  width: 100%;
  min-height: 150px;
  overflow-x: auto;
  display: flex;
}

.table {
  min-width: 100%;

  thead tr {
    th {
      vertical-align: bottom;
    }
  }

  > tbody {
    > tr:nth-child(odd) {
      background: rgba(#fff, .2);
    }

    & > tr > td {
      box-sizing: border-box;
      padding: 10px;
      line-height: 16px;
    }
  }
}

.rotated {
  position: relative;
}

.noResults {
  text-align: center;
}
