.game-start-screen {
  background: url(/images/v2/christmas_town/minigames/congratulation_bg.jpg) no-repeat;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 30px;
  color: #668fa3;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

  .gameMessage {
    margin-top: 170px;
  }

  button {
    margin: 10px;
  }

  .rules {
    font-size: 1rem;
    margin-top: 20px;
    padding: 0 10px;
    text-align: center;
  }

  .couponGameMessage {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-top: 10px;
  }

  .couponsForDay {
    margin-top: auto;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1000px), screen and (max-device-width: 1000px) {
  :global(.r) {
    .game-start-screen {
      height: 418px;

      .gameMessage {
        margin-top: 120px;
      }
    }
  }
}
