<div id="react-root"></div>

<% for (var css in htmlWebpackPlugin.files.css) { %>
<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
<% } %>
<% for (var js in htmlWebpackPlugin.files.js) { %>
<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
<% } %>

<?
if ($out['isAjaxRequest'] == 1) {
  die(json_encode($out));
}
?>
