$light-mode: ':root';
$dark-mode: ':root :global(.dark-mode)';
$not-dark-mode: ':not(:global(.dark-mode))';

// ==================================================================
//  Torn Buttons
// ==================================================================
$btnDefault: '.torn-btn';
$btnGold: '#{$btnDefault}.gold';
$btnGrey: '#{$btnDefault}.grey';

$tornButton: 'button:global(#{$btnDefault})';
$tornButtonDisabled: 'button:global(#{$btnDefault}):disabled';
$tornButtonGold: 'button:global(#{$btnGold})';
$tornButtonGoldDisabled: 'button:global(#{$btnGold}):disabled';
$tornButtonGrey: 'button:global(#{$btnGrey})';
$tornButtonGreyDisabled: 'button:global(#{$btnGrey}):disabled';
