// ==================================================================
//  media queries
// ==================================================================
$screen-desktop: screen and (min-width: 1000px);
$screen-tablet: screen and (max-width: 1000px);
$screen-tablet-min: screen and (min-width: 601px);
$screen-mobile: screen and (max-width: 600px);

// ==================================================================
//  custom layouts
// ==================================================================
$global-r: ':global(.r)';
$global-d: ':global(.d)';
$global-d-r: ':global(.d.r)';
