/* stylelint-disable */
// stylelint disabled here because of incomparability with the mixins' syntax creation
// TODO: improved stylelint config!

$allow-webP: true;
$multiType: false;
$default-type: 'png';
$pixels-density-list: 1 2 3 4;
$regular: 'regular';
$jail: 'jail';
$hosp: 'hospital';
$federal: 'federal';
$webp-format: 'webp';
$webp-support: ':global(.webp-support)';

// RESOLUTIONS LIST BELOW
$resolutions-tablet_mobile: tablet 'max-width: 1000px', mobile 'max-width: 600px';
$resolutions-only_tablet: tablet 'max-width: 1000px',; // "," - is a hack for a single object props;
$resolutions-only_mobile: mobile 'max-width: 600px',; // "," - is a hack for a single object props;

// LAYOUT LIST BELOW
$layouts-list: $regular, $jail, $hosp, $federal;

@mixin image-factory($folder, $resolution, $name, $current-pixels, $type, $layout: '', $webp: false) {
  $imgType: if($webp, $webp-format, $type);
  $imgLayout: if($layout, $layout + '/', '');

  background-image: url($folder + $imgLayout + $resolution + '/'+ $name + '@' + $current-pixels + 'x.' + $imgType);
}

@mixin generate-set($folder, $name, $type, $current-pixels, $withLayouts, $resolution, $flag) {
  @media (-webkit-min-device-pixel-ratio: $current-pixels),
         (min--moz-device-pixel-ratio: $current-pixels),
         (min-resolution: '#{$current-pixels}dppx') {
    @if $withLayouts {
      @each $layout in $layouts-list {
        #{$flag}:global([data-layout="#{$layout}"]) & {
          @include image-factory($folder, $resolution, $name, $current-pixels, $type, $layout);
        }

        #{$flag}#{$webp-support}:global([data-layout="#{$layout}"]) & {
          @include image-factory($folder, $resolution, $name, $current-pixels, $type, $layout, $webp: true);
        }
      }
    } @else {
      #{$flag} & {
        @include image-factory($folder, $resolution, $name, $current-pixels, $type);
      }

      #{$flag}#{$webp-support} & {
        @include image-factory($folder, $resolution, $name, $current-pixels, $type, $webp: true);
      }
    }
  }
}

@mixin desktop-images($folder, $name, $type, $withLayouts) {
  @each $current-pixels in $pixels-density-list {
    @include generate-set($folder, $name, $type, $current-pixels, $withLayouts, $resolution: 'desktop', $flag: $global-d);
  }
}

@mixin touchscreen-images($folder, $name, $type, $resolutions-list, $withLayouts) {
  @each $current-resolution in $resolutions-list {
    $layout: nth($current-resolution, 1);
    $screen-resolution: nth($current-resolution, 2);

    @media ($screen-resolution) {
      @each $current-pixels in $pixels-density-list {
        @include generate-set($folder, $name, $type, $current-pixels, $withLayouts, $resolution: $layout, $flag: $global-r);
      }
    }
  }
}

@mixin progressive-images-set(
  $folder,
  $name,
  $type: $default-type,
  $resolutions-list: $resolutions-tablet_mobile,
  $withLayouts: false
) {
  @include desktop-images($folder, $name, $type, $withLayouts);
  @include touchscreen-images($folder, $name, $type, $resolutions-list, $withLayouts);
}
