$borderColor: #efefef;
$overlayColor: #e0e0e0;

@mixin dashedOverlay {
  background: linear-gradient(to right, transparent 0%, transparent 15%, $overlayColor 15%, $overlayColor 15.1%, transparent 15.1%, transparent 42.8%, $overlayColor 42.8%, $overlayColor 42.9%, transparent 42.9%, transparent 84.5%, $overlayColor 84.5%, $overlayColor 84.6%, transparent 84.6%, transparent 100%);
  border-bottom: 1px solid $overlayColor;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCenterJustEnd {
  @extend .flexCenter;

  justify-content: flex-end;
}

.flexCenterJustStart {
  @extend .flexCenter;

  justify-content: flex-start;
}

.settingsWrap {
  @extend .flexCenter;

  align-items: flex-end;
  flex-direction: column;
  line-height: 1.5;
  height: auto;
  background: #fff;
  border-top: 1px solid #ccc;
  color: #99998c;
  position: relative;
}

.columnsWrap {
  @extend .flexCenter;
  @include dashedOverlay;

  padding: 0 13px 0 13px;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
}

.container {
  height: 50px;
  width: 141px;
  box-sizing: border-box;
}

.label {
  width: 164px;
  box-sizing: border-box;
  padding-right: 20px;
}

.titleContainer {
  @extend .flexCenterJustStart;
  @extend .container;

  padding: 10px;
  padding-left: 0;
  margin-right: 2px;
  width: 136px;

  &:nth-child(2) {
    margin-left: 25px;
  }
}

.title {
  display: block;
  color: #403f3f;
  width: inherit;
}

.rowsWrap {
  @extend .flexCenter;
  @include dashedOverlay;

  align-items: flex-start;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 13px 13px 10px;
  box-sizing: border-box;
}

.rowContainer {
  @extend .flexCenter;

  align-items: flex-start;
  width: 100%;
  height: auto;
}

.rowLabel,
.cellWrap {
  @extend .flexCenterJustStart;
  @extend .container;
}

.rowLabel {
  @extend .label;
}

.cellWrap {
  padding: 10px;
  padding-left: 0;
  padding-right: 18px;
  margin-right: 4px;

  &:last-child {
    width: 131px;
    padding-right: 0;
  }
}

.inputCell {
  width: inherit;
  color: inherit;
  margin-right: 24px;
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  box-sizing: border-box;
  width: 95px;
  margin: 5px;
}

.buttonsWrap {
  @extend .flexCenter;

  justify-content: space-between;
  padding: 13px 13px 10px;
  box-sizing: border-box;
}

.btn {
  width: 55px;
  margin-left: 10px;
  line-height: 1.8;
  height: 32px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoContainer {
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid $overlayColor;

  strong {
    padding-left: 3px;
  }
}
