$border-color: #ccc;
:global(.d) {
  .wrap {
    display: flex;
    background-color: white;
    border-top: 1px solid #{$border-color};
    position: relative;
    color: #99998c;
    border-radius: 0 0 5px 5px;
    &.loading:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      z-index: 2;
      position: absolute;
      background: rgba(255, 255, 255, 0.4);
    }
  }
  .th {
    flex: 0 0 120px;
    padding: 10px;
    border-right: 1px solid #{$border-color};
  }
  .tb {
    flex-grow: 1;
    padding: 10px;
  }
  .thr, .tbr {
    height: 40px;
    display: flex;
    align-items: center;
  }
  .tbr {
    justify-content: flex-start;
    input {
      color: inherit;
    }
  }
  .thr {
    justify-content: flex-end;
    text-align: right;
  }
  .input {
    height: 36px;
    border: 1px solid #{$border-color};
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    width: 120px;
    margin: 5px;
  }
  .chars-left {
    flex: 1;
    text-align: right;
    color: #BDBDAE;
    transition: color .3s ease-out;
    &.limit {
      color: #FF794C;
    }
  }
  .result-fields {
    white-space: nowrap;

  }
  .items-list {
    float: right;
    span {
      vertical-align: text-top;
    }
  }
  .add-link {
    vertical-align: middle;
    a {
      font-size:12px;
      color:#00A3D8;
      text-decoration: none;
    }
    i {
      font-size: 18px;
      color: #ccc;
      margin-right: 4px;
      font-family: Arial;
      font-weight: bold;
    }
  }
  .action-btns {
    flex: 1;
    text-align: right;
  }
  .btn {
    margin-left: 10px;
    line-height: 1.8;
    height: 32px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .tooltipContainer {
    padding: 13px 13px 10px 13px;
    line-height: 1.5;
    height: auto;
    background: #fff;
    border-top: 1px solid #ccc;
    color: #99998c;

    @media (max-width: 1000px) {
      width: 360px;
    }

    @media (max-width: 600px) {
      width: 294px;
    }
  }
}
