:global(.d .find) {
  .searchWrapper {
    margin-top: 0;
    padding: 0;
    width: 170px;
    height: initial;
  }

  :global(.top_header_button.search) {
    &.searchBtn {
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
    }
  }
}

@media #{$screen-tablet} {
  :global(.r .header .find) {
    .searchWrapper {
      position: initial;
      display: block;
      width: 300px;
      float: none;
    }

    :global(.ac-main.search) {
      &.searchWrapper {
        padding: 10px;
      }
    }
  }
}
