$desktopWidth: 456px;
$tabletWidth: 386px;
$mobileWidth: 320px;
$diffWidth: 10px;

$coupons: 0 0, 1 1, 2 2, 3 3, 4 4, 5 5, 6 6, 7 7, 8 8, 9 9, 10 10, 11 11, 12 12, 13 13, 14 14, 15 15, 20 16, 30 17,
  40 18, 50 19, 60 20, 70 21, 80 22, 90 23;

.couponExchange {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background: url("/images/v2/christmas_town/minigames/prize_coupon/coupons_desktop.png");

  @each $coupon, $pos in $coupons {
    &.coupon#{$coupon} {
      background-position: calc(#{$pos} * -#{$desktopWidth} - #{$pos} * #{$diffWidth}) 0;

      &.exchanged {
        background: url("/images/v2/christmas_town/items_animation_texture.svg") no-repeat;
        justify-content: center;

        .couponsInfo {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .resultMessage {
            font-size: 20px;
            color: #72bfac;
            margin-bottom: 15px;
          }

          .rewards {
            text-align: center;

            .prize {
              position: relative;
              display: inline-block;
              margin-right: 8px;
              margin-bottom: 8px;
              min-width: 60px;
              width: 100px;
              height: 49px;
              border-bottom: 1px solid #fff;
              border-radius: 5px;
              box-shadow: inset 0 2px 5px rgba(0, 76, 102, .35);
              background: #f1f4f6;
              background: linear-gradient(0deg, #f1f4f6 0, #e8eef1);
              vertical-align: top;
              text-align: center;

              &.small {
                width: 60px;
                height: 30px;
              }

              .quantity {
                position: absolute;
                right: 0;
                bottom: -4px;
                font-weight: bold;
                font-family: Arial, sans-serif;
                font-size: 11px;
                line-height: 11px;
                color: #333;
              }
            }
          }
        }
      }
    }
  }

  .couponsInfo {
    min-height: 138px;
    padding: 10px;
    text-align: center;

    .message {
      font-size: 14px;
      color: #8cabb8;
    }

    .actions {
      display: flex;
      justify-content: center;
      margin-top: 15px;

      button {
        text-transform: uppercase;
        margin: 0 5px;
      }
    }
  }
}

.gameCouponControls {
  font-size: 12px;
  color: #668ca3;

  .coupons {
    color: #00b285;
    font-size: 16px;
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .couponExchange {
      background: url("/images/v2/christmas_town/minigames/prize_coupon/coupons_tablet.png");
      min-height: 410px;

      @each $coupon, $pos in $coupons {
        &.coupon#{$coupon} {
          background-position: calc(#{$pos} * -#{$tabletWidth} - #{$pos} * #{$diffWidth}) 0;

          &.exchanged {
            background-position: 0 0;

            .resultMessage {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .couponExchange {
      background: url("/images/v2/christmas_town/minigames/prize_coupon/coupons_mobile.png");
      min-height: 360px;

      @each $coupon, $pos in $coupons {
        &.coupon#{$coupon} {
          background-position: calc(#{$pos} * -#{$mobileWidth} - #{$pos} * #{$diffWidth}) 0;

          &.exchanged {
            height: auto;

            .resultMessage {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
