@import "../../../../../../../../../../styles/colors.scss";

.time {
  float: left;
  font-size: 11px;
  line-height: 23px;
  display: inline-block;
  width: 100%;
  text-align: right;

  .timeValue {
    display: inline-block;
    line-height: 20px;
    vertical-align: top;

    &.shortened {
      &::after {
        content: attr(data-time-mark);
      }
    }
  }
}

:global(.light) {
  .time {
    color: $gray-6;
  }
}

:global(.dark),
:global(.d.dark-mode) {
  .time {
    color: $white;
  }
}
