// LAYOUTS LIST BELOW
$resolutions-tablet_mobile: tablet 'max-width: 1000px', mobile 'max-width: 600px';

.chronicles {
  .topPage {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 40px;
    background-image: url(/images/v2/chronicles_archives/backgrounds/desktop/top_background_@1x.png);
    background-image: var(--chronicles-top-bg);
  }

  .bottomPage {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100px;
    background-image: url(/images/v2/chronicles_archives/backgrounds/desktop/bottom_background_@1x.png);
    background-image: var(--chronicles-bottom-bg);
  }

  .content {
    background-size: 100%;
    background-image: url(/images/v2/chronicles_archives/backgrounds/desktop/middle_background_@1x.png);
    background-image: var(--chronicles-middle-bg);

    .chronicleList {
      .chronicle {
        display: inline-block;
        margin-left: 12px;
        vertical-align: top;
        margin-bottom: 26px;
        width: 142px;
        height: 84px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .35);
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url(/images/v2/chronicles_archives/backgrounds/desktop/dark_bg_item_@1x.png);

        &:nth-last-child(-n+5) {
          margin-bottom: 0;
        }

        &.inactive {
          .chronicleBox {
            box-shadow: 0 2px 2px rgba(0, 0, 0, .35);

            .chronicleTitle {
              background: none !important;
              min-height: 14px;
              box-shadow: inset 0 2px 2px rgba(0, 0, 0, .35);
            }
          }

          &:hover,
          &:focus {
            .chronicleBox {
              z-index: 0;
              top: -30px;
              cursor: default;
              box-shadow: 0 2px 2px rgba(0, 0, 0, .35);
            }
          }
        }

        .chronicleLink {
          text-decoration: none;
        }

        .chronicleBox {
          top: -30px;
          transition: all .3s ease-out;
          position: relative;
          display: flex;
          left: -4px;
          align-items: center;
          flex-direction: column;
          width: 150px;
          height: 92px;
          border-radius: 5px;
          background-size: 100%;
          background-repeat: no-repeat;
          z-index: 1;

          .chronicleTitle {
            padding: 6px 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            min-height: 10px;
            font-family: 'Special Elite', cursive;
            font-weight: 400;
            font-size: 14px;
            white-space: nowrap;
            width: 95px;
            margin: 13px 0 0 0;
            border: 6px solid transparent;
            background-size: 100%;
            border-radius: 5px;
            border-image: url('/images/v2/chronicles_archives/elements/desktop/title_border_@1x.png') 7 round;
            -webkit-border-image: url('/images/v2/chronicles_archives/elements/desktop/title_border_@1x.png') 7 round;
            -o-border-image: url('/images/v2/chronicles_archives/elements/desktop/title_border_@1x.png') 7 round;
            -moz-border-image: url('/images/v2/chronicles_archives/elements/desktop/title_border_@1x.png') 7 round;

            &.unread {
              color: #504185;
            }

            &.read {
              color: #888;
            }

            .statusIcon {
              position: absolute;
            }
          }

          .drawerHandle {
            width: 44px;
            height: 27px;
            background-size: 100%;
            background-image: url(/images/v2/chronicles_archives/backgrounds/desktop/holder_@1x.png);
          }
        }

        .papersChronicle {
          position: relative;
          top: 0;
          background-size: 100%;
          width: 142px;
          height: 30px;

          &.Employment {

            @include progressive-images-set('/images/v2/chronicles_archives/hover/','employment_','png', $resolutions-tablet_mobile);
          }

          &.TheBirthOfTorn {

            @include progressive-images-set('/images/v2/chronicles_archives/hover/','birth_torn_','png', $resolutions-tablet_mobile);
          }

          &.Factions {

            @include progressive-images-set('/images/v2/chronicles_archives/hover/','factions_','png', $resolutions-tablet_mobile);
          }

          &.TheMarkets {

            @include progressive-images-set('/images/v2/chronicles_archives/hover/','markets_','png', $resolutions-tablet_mobile);
          }

          &.RealEstate {

            @include progressive-images-set('/images/v2/chronicles_archives/hover/','real_estate_','png', $resolutions-tablet_mobile);
          }
        }

        &:hover,
        &:focus {
          .chronicleBox {
            top: 0;
            z-index: 2;
            box-shadow: 0 5px 3px rgba(0, 0, 0, .45);
            transition: all .3s ease-out;
            text-decoration: none;

            &.inactive {
              z-index: 0;
              top: -30px;
              cursor: default;
              box-shadow: 0 2px 2px rgba(0, 0, 0, .35);
            }
          }
        }

        &:first-child,
        &:nth-child(5n+8) {
          .chronicleBox {

            @include progressive-images-set('/images/v2/chronicles_archives/elements/','1_case_','png', $resolutions-tablet_mobile);

            .chronicleTitle {

              @include progressive-images-set('/images/v2/chronicles_archives/elements/','1_paper_','png', $resolutions-tablet_mobile);
            }
          }
        }

        &:nth-child(5n+1) {
          &::after {
            position: absolute;
            pointer-events: none;
            z-index: 0;
            margin-top: -35px;
            margin-left: -10px;
            content: url('/images/v2/chronicles_archives/backgrounds/desktop/line_divider_bg_@1x.png');
            content: var(--chronicles-line-divider);
          }
        }

        &:nth-child(2),
        &:nth-child(5n+10) {
          .chronicleBox {

            @include progressive-images-set('/images/v2/chronicles_archives/elements/','2_case_','png', $resolutions-tablet_mobile);

            .chronicleTitle {

              @include progressive-images-set('/images/v2/chronicles_archives/elements/','2_paper_','png', $resolutions-tablet_mobile);
            }
          }
        }

        &:nth-child(4),
        &:nth-child(5n+7) {
          .chronicleBox {

            @include progressive-images-set('/images/v2/chronicles_archives/elements/','4_case_','png', $resolutions-tablet_mobile);

            .chronicleTitle {

              @include progressive-images-set('/images/v2/chronicles_archives/elements/','4_paper_','png', $resolutions-tablet_mobile);
            }
          }
        }

        &:nth-child(3),
        &:nth-child(5n+6) {
          .chronicleBox {

            @include progressive-images-set('/images/v2/chronicles_archives/elements/','3_case_','png', $resolutions-tablet_mobile);

            .chronicleTitle {

              @include progressive-images-set('/images/v2/chronicles_archives/elements/','3_paper_','png', $resolutions-tablet_mobile);
            }
          }
        }

        &:nth-child(5),
        &:nth-child(5n+9) {
          .chronicleBox {

            @include progressive-images-set('/images/v2/chronicles_archives/elements/','5_case_','png', $resolutions-tablet_mobile);

            .chronicleTitle {

              @include progressive-images-set('/images/v2/chronicles_archives/elements/','5_paper_','png', $resolutions-tablet_mobile);
            }
          }
        }

        &:nth-child(10n+2),
        &:nth-child(10n+4),
        &:nth-child(10n+6),
        &:nth-child(10n+8) {
          .papersChronicle {
            &::before {
              transition: all .3s ease-out;
              pointer-events: none;
              top: -22px;
              position: relative;
              height: 30px;
              content: url('/images/v2/chronicles_archives/elements/desktop/1_piece_paper_@1x.png');
            }
          }

          &:hover,
          &:focus {
            &.inactive {
              .papersChronicle {
                &::before {
                  top: -22px;
                }
              }
            }

            .papersChronicle {
              &::before {
                top: 6px;
                transition: all .3s ease-out;
              }
            }
          }
        }

        &:nth-child(10n+4) {
          .papersChronicle {
            &::before {
              top: -10px;
              content: url('/images/v2/chronicles_archives/elements/desktop/3_piece_paper_@1x.png');
            }
          }

          &:hover,
          &:focus {
            &.inactive {
              .papersChronicle {
                &::before {
                  top: -10px;
                }
              }
            }

            .papersChronicle {
              &::before {
                top: 20px;
                transition: all .3s ease-out;
              }
            }
          }
        }

        &:nth-child(10n+6) {
          .papersChronicle {
            &::before {
              top: -10px;
              content: url('/images/v2/chronicles_archives/elements/desktop/2_piece_paper_@1x.png');
            }
          }

          &:hover,
          &:focus {
            &.inactive {
              .papersChronicle {
                &::before {
                  top: -10px;
                }
              }
            }

            .papersChronicle {
              &::before {
                top: 20px;
                transition: all .3s ease-out;
              }
            }
          }
        }

        &:nth-child(10n+8) {
          .papersChronicle {
            &::before {
              top: -10px;
              content: url('/images/v2/chronicles_archives/elements/desktop/4_piece_paper_@1x.png');
            }
          }

          &:hover,
          &:focus {
            &.inactive {
              .papersChronicle {
                &::before {
                  top: -10px;
                }
              }
            }

            .papersChronicle {
              &::before {
                top: 20px;
                transition: all .3s ease-out;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  :global(.r) {
    .chronicles {
      .topPage {
        background-image: url(/images/v2/chronicles_archives/backgrounds/tablet/top_background_@1x.png);
        background-image: var(--chronicles-top-bg);
      }

      .bottomPage {
        background-image: url(/images/v2/chronicles_archives/backgrounds/tablet/bottom_background_@1x.png);
        background-image: var(--chronicles-bottom-bg);
      }

      .content {
        .chronicleList {
          text-align: center;

          .chronicle {
            margin-left: 22px;

            &:nth-last-child(-n+5) {
              margin-bottom: 26px;
            }

            &:nth-last-child(-n+2) {
              margin-bottom: 0;
            }

            &:nth-child(odd) {
              margin-left: 0;
            }

            &:nth-child(5n+1) {
              &::after {
                pointer-events: none;
                content: '';
              }
            }

            &:nth-child(odd) {
              &::after {
                pointer-events: none;
                position: absolute;
                margin-top: -35px;
                margin-left: -85px;
                content: url('/images/v2/chronicles_archives/backgrounds/tablet/line_divider_bg_@1x.png');
                content: var(--chronicles-line-divider);
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  :global(.r) {
    .chronicles {
      .topPage {
        background-image: url(/images/v2/chronicles_archives/backgrounds/mobile/top_background_@1x.png);
        background-image: var(--chronicles-top-bg);
      }

      .bottomPage {
        background-image: url(/images/v2/chronicles_archives/backgrounds/mobile/bottom_background_@1x.png);
        background-image: var(--chronicles-bottom-bg);
      }

      .content {
        .chronicleList {
          .chronicle {
            &:nth-child(odd) {
              &::after {
                pointer-events: none;
                position: absolute;
                margin-top: -35px;
                margin-left: -75px;
                content: url('/images/v2/chronicles_archives/backgrounds/mobile/line_divider_bg_@1x.png');
                content: var(--chronicles-line-divider);
              }
            }
          }
        }
      }
    }
  }
}

:global(.travelling),
:global(.logged-out) {
  .chronicles {
    width: 784px;
    margin: 0 auto;
  }
}

:global(.r) {
  :global(.travelling),
  :global(.logged-out) {
    .chronicles {

      @media screen and (max-width: 1000px) {
        width: 386px;
      }
      @media screen and (max-width: 600px) {
        width: 320px;
      }
    }

    @media screen and (max-width: 600px) {
      :global(#chronicles-archives) {
        margin-top: 15px;
      }
    }
  }
}
