#chronicles-archives {
  --chronicles-top-bg: url('/images/v2/chronicles_archives/backgrounds/desktop/top_background_@1x.png');
  --chronicles-bottom-bg: url('/images/v2/chronicles_archives/backgrounds/desktop/bottom_background_@1x.png');
  --chronicles-middle-bg: url('/images/v2/chronicles_archives/backgrounds/desktop/middle_background_@1x.png');
  --chronicles-line-divider: url('/images/v2/chronicles_archives/backgrounds/desktop/line_divider_bg_@1x.png');
  --chronicle-main-bg1-url: url('/images/v2/chronicles_archives/chronicles/bg_1.jpg');
  --chronicle-main-bg2-url: url('/images/v2/chronicles_archives/chronicles/bg_2.jpg');
  --chronicle-title-color: #575346;
  --chronicle-img-caption-color: #929292;
  --chronicle-text-color: #575746;
  --birthOfTorn-h6-color: #616161;
  --birthOfTorn-extendedImageCaption-color: #666659;
  --birthOfTorn-divider: url('/images/v2/chronicles_archives/chronicles/the_birth_of_torn/divider_horizontal.png');
  --birthOfTorn-divider-old: url('/images/v2/chronicles_archives/chronicles/the_birth_of_torn/divider_horizontal_old.png');
  --birthOfTorn-effect1-url: url('/images/v2/chronicles_archives/chronicles/the_birth_of_torn/effects/1_effect.png');
  --birthOfTorn-effect2-url: url('/images/v2/chronicles_archives/chronicles/the_birth_of_torn/effects/2_effect.png');
  --birthOfTorn-effect3-url: url('/images/v2/chronicles_archives/chronicles/the_birth_of_torn/effects/3_effect.png');
  --birthOfTorn-effect4-url: url('/images/v2/chronicles_archives/chronicles/the_birth_of_torn/effects/4_effect.png');
  --birthOfTorn-text-insertions-2-url: url('/images/v2/chronicles_archives/chronicles/the_birth_of_torn/text_insertions/2_serve_the_people.png');
  --birthOfTorn-text-insertions-3-url: url('/images/v2/chronicles_archives/chronicles/the_birth_of_torn/text_insertions/3_star.png');
  --birthOfTorn-text-insertions-4-url: url('/images/v2/chronicles_archives/chronicles/the_birth_of_torn/text_insertions/4_hammer_and_sickle.png');
  --birthOfTorn-text-insertions-5-url: url('/images/v2/chronicles_archives/chronicles/the_birth_of_torn/text_insertions/5_proletariat.png');
  --birthOfTorn-text-insertions-6-url: url('/images/v2/chronicles_archives/chronicles/the_birth_of_torn/text_insertions/6_no_taxation.png');
  --employment-effect1-url: url('/images/v2/chronicles_archives/chronicles/employment/976/effects/right_burned_paper.png');
  --employment-text-typo-1-url: url('/images/v2/chronicles_archives/chronicles/employment/976/text_typo/top_line.png');
  --faction-top-line: url('/images/v2/newspaper/divider_horizontal.png');
  --faction-top-line-old: url('/images/v2/newspaper/divider_horizontal_old.png');
  --faction-effect1-url: url('/images/v2/chronicles_archives/chronicles/factions/effects/976_end_shadow.png');
  --real-estate-effect1-url: url('/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/pink_note_@1x.png');
  --real-estate-effect2-url: url('/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/yellow_note_@1x.png');
  --real-estate-effect3-url: url('/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/typo_2_@1x.png');
  --real-estate-effect4-url: url('/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/title_devider_@1x.png');
  --real-estate-effect5-url: url('/images/v2/chronicles_archives/chronicles/real_estate/desktop/effects/typo_8_@1x.png');
  --markets-effect1-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/effects/title_divider.png');
  --markets-effect2-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/effects/blackest_market.png');
  --markets-effect3-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/effects/clips.png');
  --markets-effect4-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/effects/simple_economics_bg.png');
  --markets-effect5-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/effects/bg_hole_no_shadow.png');
  --markets-effect6-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/text_typo/craigslist.png');
  --markets-effect7-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/text_typo/torns_typo.png');
  --markets-effect8-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/text_typo/&20.png');
  --markets-effect9-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/text_typo/500_charge.png');
  --markets-effect10-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/text_typo/&4388.png');
  --markets-effect11-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/effects/newspaper_bg.png');
  --markets-effect12-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/text_typo/pack_of_sausages.png');
  --markets-effect13-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/effects/burned_angle_no_shadow.png');
  --markets-effect14-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/effects/torn_piece_no_shadow.png');
  --markets-effect15-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/effects/printed_sentence.png');
  --markets-effect16-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/effects/torned.png');
  --markets-effect17-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/effects/bg_divider.png');
  --markets-effect18-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/effects/scratches_bg.png');
  --markets-effect19-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/effects/last_paragraph_bg.png');
  --markets-effect20-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/text_typo/item_market.png');
  --markets-effect21-url: url('/images/v2/chronicles_archives/chronicles/the_markets/976/text_typo/700.png') 0 0 no-repeat;
}

@media screen and (max-width: 1000px) {
  #chronicles-archives {
    --chronicles-top-bg: url('/images/v2/chronicles_archives/backgrounds/tablet/top_background_@1x.png');
    --chronicles-bottom-bg: url('/images/v2/chronicles_archives/backgrounds/tablet/bottom_background_@1x.png');
    --chronicles-line-divider: url('/images/v2/chronicles_archives/backgrounds/tablet/line_divider_bg_@1x.png');
    --birthOfTorn-text-insertions-6-url: url('/images/v2/chronicles_archives/chronicles/the_birth_of_torn/text_insertions/6_320_no_taxation.png');
    --employment-effect1-url: url('/images/v2/chronicles_archives/chronicles/employment/578/effects/right_burned_paper_578.png');
    --employment-text-typo-1-url: url('/images/v2/chronicles_archives/chronicles/employment/578/text_typo/top_line_578.png');
    --faction-effect1-url: url('/images/v2/chronicles_archives/chronicles/factions/effects/578_end_shadow.png');
    --real-estate-effect4-url: url('/images/v2/chronicles_archives/chronicles/real_estate/tablet/effects/title_devider_@1x.png');
    --markets-effect1-url: url('/images/v2/chronicles_archives/chronicles/the_markets/578/effects/title_divider.png');
    --markets-effect2-url: url('/images/v2/chronicles_archives/chronicles/the_markets/578/effects/blackest_market.png');
    --markets-effect3-url: url('/images/v2/chronicles_archives/chronicles/the_markets/578/effects/clips.png');
    --markets-effect6-url: url('/images/v2/chronicles_archives/chronicles/the_markets/578/text_typo/craigslist.png');
    --markets-effect7-url: url('/images/v2/chronicles_archives/chronicles/the_markets/578/text_typo/torns_typo.png');
    --markets-effect9-url: url('/images/v2/chronicles_archives/chronicles/the_markets/578/text_typo/500_charge.png');
    --markets-effect10-url: url('/images/v2/chronicles_archives/chronicles/the_markets/578/text_typo/&4388.png');
    --markets-effect11-url: url('/images/v2/chronicles_archives/chronicles/the_markets/578/effects/newspaper_bg.png');
    --markets-effect15-url: url('/images/v2/chronicles_archives/chronicles/the_markets/578/effects/printed_sentence.png');
    --markets-effect16-url: url('/images/v2/chronicles_archives/chronicles/the_markets/578/effects/torned.png');
    --markets-effect17-url: url('/images/v2/chronicles_archives/chronicles/the_markets/578/effects/bg_divider.png');
    --markets-effect20-url: url('/images/v2/chronicles_archives/chronicles/the_markets/578/text_typo/item_market.png');
    --markets-effect21-url: url('/images/v2/chronicles_archives/chronicles/the_markets/578/text_typo/700.png');
    --markets-effect22-url: url('/images/v2/chronicles_archives/chronicles/the_markets/578/effects/bg_hole.png');
    --markets-effect23-url: url('/images/v2/chronicles_archives/chronicles/the_markets/578/text_typo/pack_of.png');
    --markets-effect24-url: url('/images/v2/chronicles_archives/chronicles/the_markets/578/text_typo/sausages.png');
    --markets-effect25-url: url('/images/v2/chronicles_archives/chronicles/the_markets/578/effects/burned_angle.png');
    --markets-effect26-url: url('/images/v2/chronicles_archives/chronicles/the_markets/578/effects/torn_piece.png');
  }
}
@media screen and (max-width: 600px) {
  #chronicles-archives {
    --chronicles-top-bg: url('/images/v2/chronicles_archives/backgrounds/mobile/top_background_@1x.png');
    --chronicles-bottom-bg: url('/images/v2/chronicles_archives/backgrounds/mobile/bottom_background_@1x.png');
    --chronicles-line-divider: url('/images/v2/chronicles_archives/backgrounds/mobile/line_divider_bg_@1x.png');
    --birthOfTorn-text-insertions-6-url: url('/images/v2/chronicles_archives/chronicles/the_birth_of_torn/text_insertions/6_320_no_taxation.png');
    --employment-text-typo-1-url: url('/images/v2/chronicles_archives/chronicles/employment/320/text_typo/top_line_320.png');
    --faction-effect1-url: url('/images/v2/chronicles_archives/chronicles/factions/effects/578_end.png');
    --real-estate-effect4-url: url('/images/v2/chronicles_archives/chronicles/real_estate/mobile/effects/title_devider_@1x.png');
    --markets-effect1-url: url('/images/v2/chronicles_archives/chronicles/the_markets/320/effects/title_divider.png');
    --markets-effect2-url: url('/images/v2/chronicles_archives/chronicles/the_markets/320/effects/blackest_market.png');
    --markets-effect3-url: url('/images/v2/chronicles_archives/chronicles/the_markets/320/effects/clips.png');
    --markets-effect9-url: url('/images/v2/chronicles_archives/chronicles/the_markets/320/text_typo/500_charge.png');
    --markets-effect11-url: url('/images/v2/chronicles_archives/chronicles/the_markets/320/effects/newspaper_bg.png');
    --markets-effect15-url: url('/images/v2/chronicles_archives/chronicles/the_markets/320/effects/printed_sentence.png');
    --markets-effect17-url: url('/images/v2/chronicles_archives/chronicles/the_markets/320/effects/bg_divider.png');
    --markets-effect18-url: url('/images/v2/chronicles_archives/chronicles/the_markets/320/effects/scratches_bg.png');
    --markets-effect21-url: url('/images/v2/chronicles_archives/chronicles/the_markets/320/text_typo/700.png');
    --markets-effect22-url: url('/images/v2/chronicles_archives/chronicles/the_markets/320/effects/bg_hole.png');
    --markets-effect23-url: url('/images/v2/chronicles_archives/chronicles/the_markets/320/text_typo/pack_of.png');
    --markets-effect25-url: url('/images/v2/chronicles_archives/chronicles/the_markets/320/effects/burned_angle.png');
    --markets-effect26-url: url('/images/v2/chronicles_archives/chronicles/the_markets/320/effects/torn_piece.png');
  }
}
