@import '../../styles/global.cssmodule.scss';
@import '../../styles/constants.cssmodule.scss';

.outcomeWrap {
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  composes: flexCenter;
  animation-name: hackOutcomeAppear;
  animation-timing-function: ease-in-out;
  animation-duration: .2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  &:not(:last-of-type) {
    border-bottom: $ammoBorderGrey;
    border-bottom-width: 2px;
    box-shadow: 0 2px 1px hsla(0, 0%, 39.2%, .3);
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      border-bottom: $ammoBorderGrey;
      border-bottom-width: 1px;
      box-shadow: none;
    }
  }
}

.topSection {
  width: 100%;
  height: 100%;
  position: relative;
  border-top: $ammoBorderGrey;
  composes: flexCenter;
}

.bottomSection {
  align-items: flex-start;
  justify-content: center;
  border-top: $ammoBorderGrey;
  // border-bottom: $ammoBorderGrey;
  composes: flexCenter;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex-direction: column;
      width: 100%;
    }
  }
}

@keyframes hackOutcomeAppear {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
