.addReporter {
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
  border-bottom: var(--reporting-panel-reports-border-bottom);
  label {
    display: inline-block;
    margin-right: 10px;
  }
  :global(.torn-react-autocomplete) {
    display: inline-block;
    width: auto;
    color: #666;
    color: var(--default-gray-6-color);
    .input {
      border: 1px solid #CCC;
      border-color: var(--input-border-color);
      height: 24px;
      width: 304px;
      padding: 0 10px;
      background: url(/images/v2/main/icons/user_ID_search_active.png) #FFF 98% 4px no-repeat;
    }
    :global(.dropdown-content .item) {
      &:hover,
      &:global(.selected) {
        background: #FFF;
        background: var(--autocomplete-options-background-active-color);
      }
    }
    :global(.scroll-area) {
      top: 24px;
      background: #f2f2f2;
      background: var(--autocomplete-options-background-color);
      border: 1px solid #ccc;
      border-color: var(--autocomplete-options-border-color);
    }
    :global(.autocomplete-no-items) {
      background: #fff;
      background: var(--autocomplete-background-color);
    }
  }
  :global(.torn-btn) {
    float: right;
  }
}

:global(.r) {
  @media screen and (max-width: 1000px) {
    .addReporter {
      label {
        display: block;
        margin-bottom: 5px;
      }
      :global(.torn-react-autocomplete) {
        display: block;
        width: 100%;
        .input {
          width: 100%;
          height: 32px;
          background-position: 98% 8px;
        }
        :global(.scroll-area) {
          top: 31px;
        }
      }
      :global(.torn-btn) {
        float: none;
        display: block;
        margin-top: 10px;
        padding: 7px 10px;
      }
    }
  }
}
