@import '../../styles/constants.cssmodule.scss';

.money {
  opacity: 1;
  font-size: 18px;
}

.label {
  color: $colorPot;
  font-size: inherit;
  text-shadow: $textShadow;
  margin-right: 5px;
}

.count {
  color: $colorCounter;
  font-size: inherit;
  text-shadow: $textShadow;
}
