.dark-mode #reporting-panel {
  --reporting-panel-default-color: #ddd;
  --reporting-panel-acricles-color: #ddd;
  --reporting-panel-inset-white-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 1);
  --reporting-panel-white-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 1);
  --reporting-panel-icons-filter: none;
  --reporting-panel-reports-border-bottom: none;
  --reporting-panel-tooltip-box-shadow: none;
  --reporting-panel-tooltip-arrow-filter: none;
  --reporting-panel-top-links-icon-filter: none;
  --reporting-panel-acricles-title-box-shadow: none;
}
