#reporting-panel {
  --reporting-panel-default-color: #525252;
  --reporting-panel-acricles-color: #333;
  --reporting-panel-inset-white-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 1);
  --reporting-panel-white-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 1);
  --reporting-panel-icons-filter: drop-shadow(0px 1px 0px #fff);
  --reporting-panel-reports-border-bottom: 1px solid #999;
  --reporting-panel-tooltip-box-shadow: 0 0 5px #999;
  --reporting-panel-tooltip-arrow-filter: drop-shadow(0px -1px 1px #fff) drop-shadow(0px -1px 0px #999);
  --reporting-panel-top-links-icon-filter: url(#top_svg_icon);
  --reporting-panel-acricles-title-box-shadow: inset -1px 0px 0px 0px rgba(204, 204, 204, 1);
}
