.itemAbility {
  display: flex;
  align-items: flex-end;
  color: #888;
  font-size: 11px;
}

.accuracyBonusIcon {
  display: block;
  margin-right: 1px;
  width: 11px;
  height: 11px;
  background-image: url(/images/v2/attack/attack_sprite_bonus_and_attachment.png);
  background-repeat: no-repeat;
}
