.damageBonus {
  display: flex;
  align-items: flex-end;
  color: #888;
  font-size: 11px;
}

.damageBonusIcon {
  display: block;
  margin-right: 1px;
  margin-bottom: 1px;
  width: 11px;
  height: 11px;
  background: url(/images/v2/attack/attack_sprite_bonus_and_attachment.png) no-repeat;
  background-position: -117px -13px;
}
