@import '../../styles/mixins';

.totalPotWrap {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;

  @include appType([ 'desktop/full' ]) {
    bottom: 275px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    bottom: 250px;
  }
  @include appType([ 'tablet/full' ]) {
    bottom: 232px;
  }
  @include appType([ 'tablet/sidebar' ]) {
    bottom: 265px;
  }
  @include appType([ 'mobile' ]) {
    bottom: 333px;
  }
}

.totalPot {
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 2px #000;

  @include appType([ 'desktop/full' ]) {
    box-sizing: border-box;
    padding: 1px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    padding: 2px;
  }
  @include appType([ 'mobile' ]) {
    text-align: center;
  }
}
