.down,
.up,
.pause {
  .icon {
    filter: drop-shadow(0 1px 0 #fff);
    filter: var(--stockmarket-icon-filter);
  }
}

.pause {
  color: #999;

  .icon {
    display: inline-flex;
    width: 3px;
    height: 7px;
    background: #aaa;

    &::after {
      content: '';
      position: relative;
      top: 0;
      left: 5px;
      display: inline-flex;
      width: 3px;
      height: 7px;
      background: #aaa;
      filter: drop-shadow(0 1px 0 #fff);
    }
  }
}

.up {
  color: #5c940d;
  color: var(--stockmarket-green-color);

  .icon {
    position: relative;
    top: -10px;
    left: 5px;
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 7px solid #5c940d;
    border-bottom-color: var(--stockmarket-green-color);
  }
}

.down {
  color: #de5b30;
  color: var(--stockmarket-red-color);

  .icon {
    position: relative;
    top: 10px;
    left: 5px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #de5b30;
    border-top-color: var(--stockmarket-red-color);
  }
}

.down,
.up,
.pause {
  .icon {
    &.tabIcon {
      left: 0;
      right: 10px;
      margin-right: 5px;
    }
  }
}

.pause {
  .icon {
    &.tabIcon {
      margin-right: 12px;
    }
  }
}
