$fringeShadowWidth: 2px;

.itemReview {
  position: relative;
  box-sizing: border-box;
  width: 159px;
  height: 112px;
  border: 2px solid var(--loadouts-window-color);
  box-shadow: 0 0 2px #00000040, inset 0 0 2px #00000040;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: 100px;
    }
  }
}

%fringe {
  $width: 64px;

  position: absolute;
  left: calc(50% - #{$width / 2});
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $width;
  height: 16px;
  box-shadow: 0 0 $fringeShadowWidth var(--loaduots-item-type-box-shadow-color);
  background-color: var(--loadouts-window-color);
  font-family: Arial, sans-serif;
  font-size: 11px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: $width;
    height: $fringeShadowWidth;
    background-color: var(--loadouts-window-color);
  }
}

.type {

  @extend %fringe;

  top: 0;
  padding-bottom: 2px;
  border-radius: 0 0 5px 5px;
  color: var(--loaduots-item-type-color);
  font-weight: 700;

  &::before {
    top: -$fringeShadowWidth;
  }
}

.img {
  $width: 100px;
  $height: 50px;

  position: absolute;
  top: calc(50% - #{$height / 2});
  left: calc(50% - #{$width / 2});
  width: $width;
  height: $height;
}

%sliddeArrow {
  $height: 30px;

  position: absolute;
  top: calc(50% - #{$height / 2});
  height: $height;
  cursor: pointer;
  -webkit-user-select: none;
}

.arrowLeft {
  left: 10px;

  @extend %sliddeArrow;
}

.arrowRight {
  right: 10px;

  @extend %sliddeArrow;
}

.bonuses {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 50px;
}

%bonusWeapon {
  position: absolute !important;
  top: 3px;
}

.bonusWeapon0 {

  @extend %bonusWeapon;

  right: 27px;
}

.bonusWeapon1 {

  @extend %bonusWeapon;

  right: 10px;
}

.upgrade0 {

  @extend %bonusWeapon;

  left: 10px;
}

.upgrade1 {

  @extend %bonusWeapon;

  left: 27px;
}

%abillity {
  position: absolute;
  bottom: 2px;
}

.damage {
  left: 4px;

  @extend %abillity;
}

.accuracy {
  left: 112px;

  @extend %abillity;
}

.exp {
  position: absolute;
  bottom: 21px;
  left: 10px;
  width: 135px;
  height: 2px;
  background: #ddd;

  .perc {
    content: '';
    display: block;
    width: 67px;
    height: 2px;
    background: #999;
  }
}

.defencePanel {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 155px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: transparent linear-gradient(90deg, #ccc0 0%, var(--loadouts-separator-border-color) 50%, #ccc0 100%);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    display: block;
    width: 1px;
    height: 19px;
    background: transparent linear-gradient(180deg, var(--loadouts-separator-border-color) 0%, #ccc0 100%);
  }
}

.armor {
  position: absolute;
  top: 5px;
  left: 18px;
}

%bonusDefence {
  position: absolute;
  top: 5px;
}

.bonusDefence0 {

  @extend %bonusDefence;

  left: 102px;
}

.bonusDefence1 {

  @extend %bonusDefence;

  left: 120px;
}

.demageIcon {
  background-position: -117px -13px;
}

.accuracyIcon {
  background-position: -117px -82px;
}

.armorIcon {
  background-position: -117px -187px;
}
