.myMapsContainer {
  display: block;

  svg {
    filter: url(#defaultFilter);
    filter: var(--ct-icon-filter);
  }

  // @media #{$screen-desktop} {
  //   width: 976px;
  // }
  // @media #{$screen-tablet} {
  //   width: 578px;
  // }
  // @media #{$screen-mobile} {
  //   width: 320px;
  // }
}
