@import 'mixins';

@mixin borders-on-right {
  position: relative;
  border-right: var(--holdem-panel-border-main);

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -2px;
    width: 0;
    height: 100%;
    border-right: var(--holdem-panel-border-secondary);
  }
}
@mixin borders-on-left {
  position: relative;
  border-left: var(--holdem-panel-border-main);

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-left: var(--holdem-panel-border-secondary);
  }
}
@mixin borders-on-top {
  position: relative;
  border-top: var(--holdem-buttons-border-main);

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    border-top: var(--holdem-panel-border-secondary);
  }
}
@mixin borders-on-bottom($color1: --holdem-panel-border-secondary, $color2: --holdem-buttons-border-main) {
  position: relative;
  border-bottom: var($color1);

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-bottom: var($color2);
  }
}
