@import 'vars';

@mixin verticalDelimiter {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 24px;
    display: block;
    background: var(--holdem-bet-panel-delimiter-background);
  }
}
