@mixin halo($color, $pulse: false) {
  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    filter: blur(10px);
    background: #{$color};
    z-index: -1;

    @if $pulse {
      animation: pulse .6s infinite alternate;
    }
  }
}

@keyframes pulse {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
