/**
The appType mixin provides a functionality of applying the styles to specific layout types.
Holdem has a viraety of them, 5 different layouts:
('desktop/full', 'desktop/sidebar', 'tablet/full', 'tablet/sidebar', 'mobile')
this is why handling them throuhg only media queryes and parent class is too verbose.
So this mixin is just a wrapper for media query/parent class selector

Example:

 .foo {
   @include appType(['desktop/full', 'desktop/sidebar']) {
     color: red;
   }
}

is producing the following css:

@media screen and (min-width: 1001px) {
:global(.full) .foo {
   color: red;
 }
}
@media screen and (min-width: 1001px) {
 :global(.sidebar) .foo {
   color: red;
 }
}

The argument of mixin is a pair of "breakpoint" and "parent class" separated by a slash,
so in a pair like this `desktop/sidebar`
desktop - means that a media query (min-width: 1001px) will be applied
sidebar - stands for a global class that will be a parent for our selector

It is also possble to pass an array of this pairs

If the class is omited it is not applied, so it is possible to use this mixin only for applying the media query
and this is how 'mobile' is handled, because there is only one layout (no sidebar/full diversification)
but it is discuraged to use it this way on desktop or tablet.
*/

$breakpoints: (
  'mobile': '(max-width: 600px)',
  'tablet': '(max-width: 1000px) and (min-width: 601px)',
  'desktop': '(min-width: 1001px)'
);

@function str-split($string, $separator) {
  // empty array/list
  $split-arr: ();
  // first index of separator in string
  $index: str-index($string, $separator);
  // loop through string

  @while $index != null {
    // get the substring from the first character to the separator
    $item: str-slice($string, 1, $index - 1);
    // push item to array
    $split-arr: append($split-arr, $item);
    // remove item and separator from string
    $string: str-slice($string, $index + 1);
    // find new index of separator
    $index: str-index($string, $separator);
  }
  // add the remaining string to list (the last item)
  $split-arr: append($split-arr, $string);

  @return $split-arr;
}

@mixin wrapperClass($breakpoint, $globalClass: '') {

  @if map-has-key($breakpoints, $breakpoint) {
    $mediaSelector: map-get($breakpoints, $breakpoint);

    @media screen and #{$mediaSelector} {

      @if $globalClass == '' {
        @content;
      }

      @else {

        @if (&) {
          :global(.#{$globalClass}) & {
            @content;
          }
        }

        @else {
          :global(.#{$globalClass}) {
            @content;
          }
        }
      }
    }
  }
}
@mixin splitArguments($value) {
  $split-values: str-split($value, '/');
  $layoutType: nth($split-values, 1);
  $globalClass: '';

  @if length($split-values) > 1 {
    $globalClass: nth($split-values, 2);
  }

  @include wrapperClass($layoutType, $globalClass) {
    @content;
  }
}
@mixin appType($args) {

  @if type-of($args) == list {

    @each $layoutType in $args {

      @include splitArguments($layoutType) {
        @content;
      }
    }
  }

  @else {

    @include splitArguments($args) {
      @content;
    }
  }
}
