@import './mixins';

.full {

  @include appType('desktop') {
    width: 812px;
    height: 328px;
  }
  @include appType('tablet') {
    width: 558px;
    height: 328px;
  }
  @include appType('mobile') {
    width: 320px;
    height: 426px;
  }
}

.sidebar {

  @include appType('desktop') {
    width: 556px;
    height: 328px;
  }
  @include appType('tablet') {
    width: 386px;
    height: 428px;
  }
  @include appType('mobile') {
    width: 320px;
    height: 426px;
  }
}
