#{$light-mode} {
  --holdem-floor-bg: url(/casino/holdem/images/floor_bg.png);
  --holdem-text-color-main: #575748;
  --holdem-text-color-secodary: #666659;
  --holdem-text-color-high-contrast: #464637;
  --holdem-text-color-panels: #666659;
  --holdem-text-shadow-main: 0 1px 0 #ffffffa6;
  --holdem-bet-panel-text-color: #acac9d;
  --holdem-bet-panel-text-color-hover: var(--holdem-text-color-high-contrast);
  --holdem-bet-panel-text-shadow: 0 -1px 0 #fff6;
  --holdem-bet-panel-delimiter-background: linear-gradient(0deg, #cecebf00 0%, #cecebf 50%, #cecebf00 100%);
  --holdem-player-bg-active: linear-gradient(180deg, #fff 0%, #fff 100%);
  --holdem-player-bg-in-game: var(--holdem-player-bg-active);
  --holdem-player-bg-default: linear-gradient(180deg, #ffffff8c 0%, #f0f0e18c 100%);
  --holdem-player-bg-default-tablet-exeption: linear-gradient(180deg, #fff 0%, #bdbdae 100%);
  --holdem-player-bg-folded: linear-gradient(180deg, #fff 0%, #bdbdae 100%);
  --holdem-player-opacity-folded: .4;
  --holdem-state-margins-background-active:
    linear-gradient(
        180deg, #dee2e5a6 1%, #fffce4a6 25%, #d5ccc0a6 59%, #ecedeea6 78%, #d7d4baa6 99%
      );
  --holdem-state-margins-background-folded:
    linear-gradient(
        180deg, #dee2e580 1%, #fffce480 25%, #d5ccc080 59%, #ecedee80 78%, #d7d4ba80 99%
      );
  --holdem-frame-shadow: 0 1px 2px #00000036;
  --holdem-sit-in-button-image-regular: url('/casino/holdem/images/sit-in/sit_in_light_regular.svg');
  --holdem-sit-in-button-image-hover: url('/casino/holdem/images/sit-in/sit_in_light_hover.svg');
  --holdem-panel-bg: linear-gradient(180deg, #ffffffe6 0%, #f0f0e1e6 100%);
  --holdem-panel-bg-opaque: linear-gradient(180deg, #fff 0%, #f0f0e1 100%);
  --holdem-panel-border-main: 1px solid #00000026;
  --holdem-panel-border-secondary: 1px solid #ffffff40;
  --holdem-buttons-border-main: 1px solid #a8a89d;
  --holdem-buttons-delimiter: #acac9d;
  --holdem-buttons-delimiter-shadow: #ffffff40;
  --holdem-buttons-text-color: #575748;
  --holdem-buttons-text-shadow: 0 1px 0 #ffffff73;
  --holdem-buttons-text-color-disabled: #8a8a7b;
  --holdem-buttons-text-shadow-diasabled: 0 1px 0 #ffffff4d;
  --holdem-buttons-background-default:
    linear-gradient(
        180deg, #d8dbdc 0%, #fefbe4 25%, #d6cdc1 60%, #ebeceb 78%, #dad8c2 100%
      );
  --holdem-buttons-background-default-hover:
    linear-gradient(
        180deg, #cfd2d0 0%, #fdf8d8 25%, #c6baab 60%, #e1e1e0 78%, #cdcbb1 100%
      );
  --holdem-buttons-background-disabled: linear-gradient(180deg, #cecebf 0%, #f0f0e1 100%);
  --holdem-buttons-background-pressed: linear-gradient(180deg, #cecebf 0%, #f0f0e1 100%);
  --holdem-buttons-background-queueable: linear-gradient(180deg, #fff 0%, #bdbdae 100%);
  --holdem-buttons-background-queueable-hover: linear-gradient(180deg, #fff 0%, #dfdfd0 100%);
  --holdem-buttons-background-queueable-active: var(--holdem-buttons-background-queued);
  --holdem-buttons-background-queued: linear-gradient(180deg, #cecebf 0%, #f0f0e1 100%);
  --holdem-buttons-background-queued-hover: linear-gradient(180deg, #fff 0%, #dfdfd0 100%);
  --holdem-buttons-background-queued-active: var(--holdem-buttons-background-queueable);
  --holdem-icons-filter: none;
  --holdem-logs-panel-bg: linear-gradient(180deg, #fffffff2 0%, #eeeeeef2 100%);
  --holdem-logs-panel-bg-shadow: 0 0 2px #000000a6;
  --holdem-logs-panel-container-bg: #fff;
  --holdem-logs-panel-container-border: 1px solid #acacac;
  --holdem-logs-panel-delimiter: 1px solid #cacaca;
  --holdem-logs-show-recent-bg: #00000080;
  --holdem-logs-iconst-color: #8a8a7b;
  --holdem-table-info-border-bottom: 1px solid #00000026;
  --holdem-popup-panel-bg: linear-gradient(180deg, #fffffff2 0%, #bdbdaef2 100%);
  --holdem-popup-panel-shadow: 0 1px 2px #00000073;
  --holdem-money-input-buttons-bg: linear-gradient(180deg, #d8dbdc 0%, #fefbe4 25%, #d6cdc1 60%, #ebeceb 78%, #dad8c2 100%);
  --holdem-money-input-symbol-gradient: var(--holdem-buttons-background-default);
  --holdem-money-input-symbol-gradient-hover: var(--holdem-buttons-background-default-hover);
  --holdem-money-input-border: 1px solid #9b9b8c;
  --holdem-money-input-svg-filter: url(#lightShadow);
  --holdem-money-input-svg-fill: #9b9b8c;
  --holdem-player-glow-active: 255, 255, 255;
  --holdem-panel-glow-active: #fff9;
  --holdem-player-borders-active-from: #fff;
  --holdem-player-borders-active-to: #fff;
  --holdem-player-glow-winner: 83, 166, 0;
  --holdem-panel-glow-winner: #6dd90099;
  --holdem-player-borders-winner-from: #d9d900;
  --holdem-player-borders-winner-to: #6dd900;
  --holdem-scroll-track-color: #aaa;
  --holdem-scroll-thumb-color: #ddd;
  --holdem-scroll-thumb-hover-color: #fff;
  --holdem-lobby-icons-fill: url(#lobbyIconsGradientLight);
  --holdem-lobby-icons-fill-hover: url(#iconsGradientDMDefault);
  --holdem-lobby-active-row-bg: linear-gradient(to bottom, #cfcfcf1a 0%, #f4f4f480 1%, #f4f4f4cc 100%);
  --holdem-lobby-selected-row-bg: linear-gradient(to bottom, #64646400 0%, #f4f4f480 10%, #a0a0a0cc 100%);
  --holdem-lobby-icons-shadow: drop-shadow(0 1px 0 #ffffffa6);
  --holdem-lobby-cell-border: 1px solid #00000026;
  --holdem-lobby-cell-shadow: inset 1px 1px 0 #ffffff19;
  --holdem-dollar-icon-fill: url(#iconsGradientDefault);
  --holdem-dollar-icon-fill-hover: url(#iconsGradientHover);
  --holdem-log-message-highlight-bg: #e7ebd9;
  --holdem-log-message-highlight-author-color: #666659;
  --holdem-log-message-highlight-message-color: var(--holdem-text-color-high-contrast);
  --holdem-log-message-old-author-color: var(--holdem-log-message-highlight-author-color);
  --holdem-log-message-old-message-color: var(--holdem-log-message-highlight-message-color);
  --holdem-log-message-old-bg: #ccc;
  --holdem-log-message-thinking-color: #8a8a79;
  --holdem-hr-border-fullscreen: 1px solid #888;
  --holdem-hr-border-sidebar: 1px solid #999;
  --holdem-hr-shadow: 0 1px 0 #ffffff40;
  --hodlem-avatar-bg-winner: linear-gradient(180deg, #fff 0%, #ffffffbf 100%);
  --hodlem-avatar-bg-active: linear-gradient(180deg, #fff 0%, #ffffffbf 100%);
  --hodlem-avatar-bg-folded: linear-gradient(180deg, #fff6 0%, #bdbdae66 100%);
  --hodlem-avatar-bg-default: linear-gradient(180deg, #fffc 0%, #bdbdaecc 100%);
}

#{$dark-mode} {
  --holdem-floor-bg: url(/casino/holdem/images/floor_bg_dark.png);
  --holdem-text-color-main: #fff;
  --holdem-text-color-secodary: #ddd;
  --holdem-text-color-high-contrast: #fff;
  --holdem-text-color-panels: #fff;
  --holdem-text-shadow-main: 0 0 2px #00000073;
  --holdem-bet-panel-text-color: #999;
  --holdem-bet-panel-text-color-hover: var(--holdem-text-color-high-contrast);
  --holdem-bet-panel-text-shadow: 0 0 2px #000000a6;
  --holdem-bet-panel-delimiter-background: linear-gradient(0deg, #0000 0%, #00000080 50%, #0000 100%);
  --holdem-player-bg-active: linear-gradient(180deg, #555 0%, #333 88%, #444 100%);
  --holdem-player-bg-in-game: var(--holdem-player-bg-active);
  --holdem-player-bg-default: var(--holdem-player-bg-active);
  --holdem-player-bg-default-tablet-exeption: var(--holdem-player-bg-default);
  --holdem-player-bg-folded: var(--holdem-player-bg-active);
  --holdem-player-opacity-folded: .4;
  --holdem-state-margins-background-active: linear-gradient(180deg, #333 0%, #444 25%, #111 59%, #555 78%, #333 100%);
  --holdem-state-margins-background-folded: linear-gradient(180deg, #333 0%, #444 25%, #111 59%, #555 78%, #333 100%);
  --holdem-frame-shadow: 0 1px 2px #00000040;
  --holdem-sit-in-button-image-regular: url('/casino/holdem/images/sit-in/sit_in_dark_regular.svg');
  --holdem-sit-in-button-image-hover: url('/casino/holdem/images/sit-in/sit_in_dark_hover.svg');
  --holdem-panel-bg: linear-gradient(180deg, #555555e6 0%, #333333e6 88%, #444444e6 100%);
  --holdem-panel-bg-opaque: linear-gradient(180deg, #555 0%, #333 88%, #444 100%);
  --holdem-panel-border-main: 1px solid #000;
  --holdem-panel-border-secondary: 1px solid #ffffff1a;
  --holdem-buttons-border-main: var(--holdem-panel-border-main);
  --holdem-buttons-delimiter: #000;
  --holdem-buttons-delimiter-shadow: #ffffff1a;
  --holdem-buttons-text-color: #fff;
  --holdem-buttons-text-shadow: 0 0 2px #000000a6;
  --holdem-buttons-text-color-disabled: #ddd;
  --holdem-buttons-text-shadow-diasabled: 0 0 2px #000000a6;
  --holdem-buttons-background-default: linear-gradient(180deg, #444 0%, #666 25%, #444 60%, #555 78%, #333 100%);
  --holdem-buttons-background-default-hover: linear-gradient(180deg, #333 0%, #777 25%, #444 60%, #666 78%, #333 100%);
  --holdem-buttons-background-disabled: linear-gradient(0deg, #555 0%, #333 100%);
  --holdem-buttons-background-pressed: linear-gradient(0deg, #555 0%, #333 100%);
  --holdem-buttons-background-queueable: linear-gradient(180deg, #555 0%, #333 100%);
  --holdem-buttons-background-queueable-hover: linear-gradient(180deg, #777 0%, #444 100%);
  --holdem-buttons-background-queueable-active: var(--holdem-buttons-background-queued);
  --holdem-buttons-background-queued: linear-gradient(0deg, #666 0%, #333 100%);
  --holdem-buttons-background-queued-hover: linear-gradient(180deg, #777 0%, #444 100%);
  --holdem-buttons-background-queued-active: var(--holdem-buttons-background-queueable);
  --holdem-icons-filter: url('#gaussianBlur');
  --holdem-logs-panel-bg: linear-gradient(180deg, #555 0%, #333 88%, #444 100%);
  --holdem-logs-panel-bg-shadow: 0 1px 2px #00000040;
  --holdem-logs-panel-container-bg: #000;
  --holdem-logs-panel-container-border: none;
  --holdem-logs-panel-delimiter: 1px solid #232323;
  --holdem-logs-show-recent-bg: #ffffff80;
  --holdem-logs-iconst-color: #fff;
  --holdem-table-info-border-bottom: 1px solid #00000026;
  --holdem-popup-panel-bg: var(--holdem-player-bg-active);
  --holdem-popup-panel-shadow: 0 1px 2px #00000040;
  --holdem-money-input-buttons-bg: linear-gradient(180deg, #333 0%, #111 100%);
  --holdem-money-input-symbol-gradient: linear-gradient(180deg, #333 0%, #111 100%);
  --holdem-money-input-symbol-gradient-hover: var(--holdem-buttons-background-default-hover);
  --holdem-money-input-border: none;
  --holdem-money-input-svg-filter: url(#darkShadow);
  --holdem-money-input-svg-fill: url(#inputIconsFill);
  --holdem-player-glow-active: 116, 192, 252;
  --holdem-panel-glow-active: #74c0fc99;
  --holdem-player-borders-active-from: #1c7ed6;
  --holdem-player-borders-active-to: #74c0fc;
  --holdem-player-glow-winner: 83, 166, 0;
  --holdem-panel-glow-winner: #6dd90099;
  --holdem-player-borders-winner-from: #d9d900;
  --holdem-player-borders-winner-to: #6dd900;
  --holdem-scroll-track-color: #000;
  --holdem-scroll-thumb-color: #555;
  --holdem-scroll-thumb-hover-color: #777;
  --holdem-lobby-icons-fill: url(#iconsGradientDMDefault);
  --holdem-lobby-icons-fill-hover: url(#iconsGradientDMHover);
  --holdem-lobby-active-row-bg: linear-gradient(to bottom, #343232bd 0%, #171717cc 100%);
  --holdem-lobby-selected-row-bg: linear-gradient(to bottom, #343232bd 0%, #171717cc 100%);
  --holdem-lobby-icons-shadow: drop-shadow(0 0 2px #000000a6);
  --holdem-lobby-cell-border: 1px solid #000;
  --holdem-lobby-cell-shadow: inset 1px 1px 0 #ffffff1a;
  --holdem-dollar-icon-fill: url(#iconsGradientDMDefault);
  --holdem-dollar-icon-fill-hover: url(#iconsGradientDMHover);
  --holdem-log-message-highlight-bg: #293f13;
  --holdem-log-message-highlight-author-color: #d8f5a2;
  --holdem-log-message-highlight-message-color: #d8f5a2;
  --holdem-log-message-old-author-color: #ddd;
  --holdem-log-message-old-message-color: #fff;
  --holdem-log-message-old-bg: #000;
  --holdem-log-message-thinking-color: #999;
  --holdem-hr-border-fullscreen: 1px solid #333;
  --holdem-hr-border-sidebar: 1px solid #333;
  --holdem-hr-shadow: none;
  --hodlem-avatar-bg-winner: linear-gradient(180deg, #555555e6 0%, #333333e6 88%, #444444e6 100%);
  --hodlem-avatar-bg-active: linear-gradient(180deg, #555555e6 0%, #333333e6 88%, #444444e6 100%);
  --hodlem-avatar-bg-folded: linear-gradient(180deg, #555555e6 0%, #333333e6 88%, #444444e6 100%);
  --hodlem-avatar-bg-default: linear-gradient(180deg, #555555e6 0%, #333333e6 88%, #444444e6 100%);
}
