.wrap {
  line-height: 0;
  width: 100%;
  height: 467px;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;

    @media screen and (min-width: 1000px) {
      left: -10px;
    }
  }

  area {
    cursor: default;
  }
}

.items {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
}

.item {
  opacity: 0;
  position: absolute;
  transition: opacity .2s ease-out;

  &.hover {
    opacity: 1;
  }
}
