@import '../../styles/mixins';
@import '../../styles/vars';

body {
  background-image: var(--holdem-floor-bg) !important;
}

.content-wrapper {
  margin: auto !important;
  float: none !important;

  @include appType([ 'desktop' ]) {
    width: 976px !important;
  }
  @include appType([ 'tablet' ]) {
    width: 558px !important;
  }
  @include appType([ 'mobile' ]) {
    width: 320px !important;
  }
}

.container {
  width: auto !important;
}

body.d hr.page-head-delimiter {
  border-top: var(--holdem-hr-border-fullscreen);
  box-shadow: var(--holdem-hr-shadow);
}
