@import '../../styles/vars';

.avatarContainer {
  box-sizing: border-box;
  border-radius: 5px;

  &.framed {
    padding: 3px;
    box-shadow: var(--holdem-frame-shadow);

    &.winner {
      background: var(--hodlem-avatar-bg-winner);
    }

    &.active {
      background: var(--hodlem-avatar-bg-active);
    }

    &.folded {
      background: var(--hodlem-avatar-bg-folded);
    }

    &.default {
      background: var(--hodlem-avatar-bg-default);
    }

    .avatarFrame::after {
      content: '';
      display: block;
      position: absolute;
      box-shadow: inset 0 1px 2px #00000036;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  .avatarFrame {
    height: 100%;
    background: #bbb 0% 0% no-repeat padding-box;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
  }

  .avatarCanvas {
    width: 100%;
    height: 100%;
  }
}
