.paginationContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  width: 100%;
  height: 50px;
}

.dotsContainer {
  margin: 10px;
}

.dots {
  display: block;
  margin: 0;
  width: 40px;
  height: 21px;
  color: #888;
  font: inherit;
  line-height: 2;
  text-align: center;
  pointer-events: none;
  user-select: none;
}
