@import '../../styles/constants';

.membersWrapper {
  #{$global-r} & {

    @media #{$screen-tablet} {
      border-top: $border-gray;
      border-top-color: var(--faction-members-divider-outer-side-color);
    }
  }
}
