.noRowsPlaceholder {
  background: var(--crimeRow-backgroundColor);
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  border: 1px solid var(--placeholder-background-color);
  border-radius: 5px;
}

.backdrop {
  position: absolute;
}

.textPlaceholder {
  word-break: break-word;
  white-space: normal;
}
