.topSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 50px;
  height: 50px;
}

.bottomSection {
  position: relative;
  width: 100%;
  height: 100%;
}
