.searchOnMap {
  display: none;
  margin-top: 6px;
  margin-right: 8px;
  float: right;
  color: #858585;
  color: var(--ct-editor-default-library-font-color);
  vertical-align: middle;
}

:global(.d .parameters-list li:hover) .searchOnMap {
  display: inline-block;
}

.button {
  margin: -2px 0 0;
  padding: 0 4px;
  overflow: visible;
  border: none;
  background: transparent;
  color: #858585;
  color: var(--ct-editor-default-library-font-color);
  font-family: Arial, sans-serif;
  font-size: 19px;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  font-weight: 700;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  -webkit-appearance: none;

  &:hover {
    color: #545454;
    color: var(--ct-map-editor-item-arrow-color-hover);
  }
}

.tooltipContent {
  color: #858585;
  color: var(--ct-editor-default-library-font-color);
  font-family: Fjalla One, serif;
  line-height: 16px;
}

.delayInfo {
  padding: 13px 0 3px 11px;
  color: #bbb;
}
