.christmas-wreath {
  text-align: center;
  color: #668fa3;
  font-size: 14px;
  line-height: 20px;
  left: 0;
  right: 0;

  map,
  area {
    cursor: default;
  }
}

.time {
  line-height: 3em;
  position: relative;
}

.penalty {
  font-size: .9em;
  color: #a00;
  animation: flow-away .4s ease-out;
  position: absolute;
  top: 0;
  left: 52%;
  opacity: 1;
}

@keyframes flow-away {
  to {
    transform: translate(10px, -20px);
    opacity: 0;
  }
}

.message {
  margin-top: 46px;
}

.wreath {
  position: relative;
  width: 305px;
  height: 305px;
  display: inline-block;
}

.item {
  position: absolute;
}

.enlarged-wrap {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  pointer-events: none;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(.785, .135, .15, .86);
  animation-fill-mode: forwards;

  &.enlarge-direction-ne {
    animation-name: enlarge-to-ne;
    transform-origin: 0 100%;

    .enlarged-bg {
      top: -138px;
      left: -24px;
    }

    .cone {
      transform: rotate(378deg) translate(-118px, -91px);
    }
  }

  &.enlarge-direction-nw {
    animation-name: enlarge-to-nw;
    transform-origin: 100% 100%;

    .enlarged-bg {
      top: -79px;
      left: -137px;
    }

    .cone {
      transform: rotate(290deg) translate(75px, -137px);
    }
  }

  &.enlarge-direction-se {
    animation-name: enlarge-to-se;
    transform-origin: 0 0;

    .enlarged-bg {
      top: 20px;
      left: 20px;
    }

    .cone {
      transform: rotate(137deg) translate(-15px, 136px);
    }
  }

  &.enlarge-direction-sw {
    animation-name: enlarge-to-sw;
    transform-origin: 100% 0;

    .enlarged-bg {
      top: 31px;
      left: -88px;
    }

    .cone {
      transform: rotate(206deg) translate(128px, 49px);
    }
  }
}

.enlarged-bg {
  position: absolute;
  width: 122px;
  height: 124px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .3);
  box-shadow: 0 0 40px rgba(255, 255, 255, .8);
  top: 20px;
  left: 20px;
}

@keyframes enlarge-to-ne {
  0% {
    opacity: 1;
    transform: scale3d(0, 0, 0);
  }

  50% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  70% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  100% {
    opacity: 0;
    transform: scale3d(.5, .5, 1);
  }
}
@keyframes enlarge-to-nw {
  0% {
    opacity: 1;
    transform: scale3d(0, 0, 1);
  }

  50% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  70% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  100% {
    opacity: 0;
    transform: scale3d(.5, .5, 1);
  }
}
@keyframes enlarge-to-se {
  0% {
    opacity: 1;
    transform: scale3d(0, 0, 1);
  }

  50% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  70% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  100% {
    opacity: 0;
    transform: scale3d(.5, .5, 1);
  }
}
@keyframes enlarge-to-sw {
  0% {
    opacity: 1;
    transform: scale3d(0, 0, 1);
  }

  50% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  70% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  100% {
    opacity: 0;
    transform: scale3d(.5, .5, 1);
  }
}

.enlarged-image {
  margin-top: 26px;
}

.cone {
  position: absolute;
  top: 0;
  perspective: 100px;
  perspective-origin: 50% 0;
  margin: auto;
  width: 200px;

  &::before {
    content: '';
    display: block;
    margin: auto;
    width: 20px;
    height: 250px;
    border-radius: 50px/50px;
    background-image:
      linear-gradient(
          rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .5) 40%, rgba(255, 255, 255, .7) 80%, rgba(255, 255, 255, .7) 100%
        );
    transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, -35deg);
  }
}

.hide {
  opacity: 0;
  transition: opacity .2s ease-out;
}
