@import '../../../styles/editors.cssmodule.scss';

.inputName {
  composes: input;
  margin: 0 0 0 10px;
  width: 183px;
}

.inputCode {
  composes: input;
  margin: 0 10px;
  width: 28px;
  text-align: center;
}

.inputChance {
  composes: input;
  margin-right: 10px;
  width: 28px;
  text-align: center;
}

.addOutcome {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-bottom-color: var(--ct-editor-content-divider-color);
}

:global(.ct-admin-wrap) {
  .footerContainer {
    .saveCancelContainer {
      margin-top: 0;

      .itemSpawnContainer {
        margin-right: 0;
      }

      .actionsWrap {
        float: left;
        margin-top: 20px;
      }

      .buttonsWrap {
        float: right;
        margin-top: 10px;
      }

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }
}

.triggerSection {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-bottom-color: var(--ct-editor-content-divider-color);

  .messageInput {
    box-sizing: border-box;
    padding: 10px;
    min-height: 78px !important;
    width: 100% !important;
    border: 1px solid #ddd;
    border-radius: 3px;
    resize: none;
  }

  .triggerInputsWrapper {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-items: flex-end;

    .triggerTypeDropdown {
      margin-right: 10px;
    }

    .chanceError {
      left: -30px;
      width: 85px;
    }
  }

  .removeTrigger {
    margin-top: 14px;
  }
}

:global(.d .parameters-editor-container .event-fields-container .react-dropdown-default).teleportAnimationDropdown {
  margin-top: 0;
}

:global(.editor-container .event-fields-container .scrollarea .scrollbar-container),
:global(.editor-container .event-fields-container .scrollarea .scrollbar-container):hover {
  display: block;
  width: 12px;
  background-color: #ccc;

  :global(.scrollbar) {
    outline: none;
    width: 10px;
    background: #fff;
  }
}

.footerContainer,
.triggerSection {
  :global {
    .checkbox-css + .marker-css::before,
    .radio-css + .marker-css::before {
      border-color: #777;
      border-color: var(--ct-editor-checkbox-color);
      box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .75), 0 1px 0 0 rgba(255, 255, 255, .75);
      box-shadow: var(--ct-editor-checkbox-box-shadow);
    }

    .checkbox-css + .marker-css::after,
    .radio-css + .marker-css::after {
      background-color: #777;
      background-color: var(--ct-editor-checkbox-color);
    }

    .checkbox-css:hover + .marker-css,
    .checkbox-css:focus + .marker-css,
    .radio-css:hover + .marker-css,
    .radio-css:focus + .marker-css {
      color: #333;
      color: var(--ct-editor-checkbox-color-hover);
    }

    .checkbox-css:hover + .marker-css::before,
    .checkbox-css:focus + .marker-css::before,
    .radio-css:hover + .marker-css::before,
    .radio-css:focus + .marker-css::before {
      border-color: #333;
      border-color: var(--ct-editor-checkbox-color-hover);
    }

    .checkbox-css:hover + .marker-css::after,
    .checkbox-css:focus + .marker-css::after,
    .radio-css:hover + .marker-css::after,
    .radio-css:focus + .marker-css::after {
      background-color: #333;
      background-color: var(--ct-editor-checkbox-color-hover);
    }

    .disabled {
      .checkbox-css + .marker-css::before,
      .radio-css + .marker-css::before {
        border-color: #ccc;
        border-color: var(--ct-editor-secondary-button-color-disabled);
      }

      .checkbox-css + .marker-css::after,
      .radio-css + .marker-css::after {
        background-color: #ccc;
        background-color: var(--ct-editor-secondary-button-color-disabled);
      }
    }
  }
}
