.navContainer {
  margin: 10px;
}

.navButton {
  outline: none;
  display: block;
  margin: auto;
  padding: 10px 0;
  width: 40px;
  height: auto;
  border: none;
  background: transparent;
  color: #888;
  font: inherit;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  user-select: none;
  cursor: pointer;

  &:hover {
    border-radius: 5px;
    box-shadow: 0 0 0 white, inset 0 1px 2px rgba(36, 36, 21, .1);
    background: linear-gradient(#d6d5c7 0%, #f4f4ed 100%);
  }
}

.navButtonActive {
  composes: navButton;
  border-radius: 5px;
  box-shadow: 0 0 0 white, inset 0 1px 2px rgba(36, 36, 21, .1);
  background: linear-gradient(#d6d5c7 0%, #f4f4ed 100%);
}
