
.confirmWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 28px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: 114px;
      justify-content: center;
      flex-direction: column;
    }
  }
}

.buttonsWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  min-width: 60px;
  font-weight: 700;
}

.buttonText {
  font: inherit;
  font-weight: 700;
}

.button {
  font: inherit;
  composes: buttonText;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0 7px;

  &:focus {
    color: #069;
  }

  &:disabled {
    cursor: default;
    color: #ccc;
  }
}

.textWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex-direction: column;
      margin-bottom: 21px;
    }
  }
}

.firstLine {

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-bottom: 3px;
    }
  }
}

.secondLine {
  display: flex;

  :nth-child(1) {
    margin-left: 5px;
  }
}

.text {
  font: inherit;
  line-height: 1.2;

  &:nth-child(2) {
    margin-left: 5px;
    font-weight: 700;
    max-width: 97px;
    word-break: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.inputPasswordWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-top: 10px;
    }
  }

  .text {
    margin-left: 10px;
    font-weight: 700;
  }
}

.leaveLayout {
  color: #ccc;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  font-weight: bold;
  justify-content: center;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: auto;
      margin-left: 45px;
      justify-content: flex-start;
      flex-direction: row;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      flex-direction: column;
      margin-left: 20px;
    }
  }

  .textWrap {
    flex-direction: column;
    margin-bottom: 0;

    @media #{$screen-tablet} {
      #{$global-r} & {
        flex-direction: row;
        margin-bottom: 0;
      }
    }
    @media #{$screen-mobile} {
      #{$global-r} & {
        margin-bottom: 5px;
      }
    }
  }

  .firstLine {

    @media #{$screen-tablet} {
      #{$global-r} & {
        margin-bottom: 0;
      }
    }
  }

  .secondLine {
    margin-top: 5px;

    @media #{$screen-tablet} {
      #{$global-r} & {
        margin-top: 0;
      }
    }
  }

  .text {
    &:nth-child(2) {
      margin-left: 0;
    }

    &:nth-child(3) {
      opacity: 0;
      margin-left: 5px;
      user-select: none;

      @media #{$screen-tablet} {
        #{$global-r} & {
          display: none;
        }
      }
    }

    &:nth-child(4) {
      opacity: 0;
      user-select: none;
      margin-left: 10px;

      @media #{$screen-tablet} {
        #{$global-r} & {
          display: none;
        }
      }
    }
  }

  .buttonsWrap {
    position: absolute;
    right: 35px;
    bottom: 22px;

    @media #{$screen-tablet} {
      #{$global-r} & {
        position: unset;
      }
    }
  }
}

.joinLayout {
  height: inherit;
}

.active {
  .textWrap {

    @media #{$screen-tablet} {
      #{$global-r} & {
        margin-bottom: 27px;
      }
    }
  }

  &.leaveLayout {
    .buttonsWrap {
      bottom: 28px;
    }

    .textWrap {

      @media #{$screen-tablet} {
        #{$global-r} & {
          margin-bottom: 0;
        }
      }
      @media #{$screen-mobile} {
        #{$global-r} & {
          margin-bottom: 16px;
        }
      }
    }
  }
}

.password {
  margin-left: 10px;
  padding: 5px 10px;
  width: 100px;
  border: 1px solid #ccc;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 169px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 112px;
    }
  }
}

.maxInputLength {
  border: 1px solid red;
}
