@mixin boxWithPosition($top, $left, $width, $height, $imgPath) {
  top: $top;
  left: $left;
  width: $width;
  height: $height;
  background: url('/images/v2/chronicles_archives/chronicles/the_markets#{$imgPath}') 0 0 no-repeat;
}
@mixin box($width, $height, $imgPath) {
  width: $width;
  height: $height;
  background: url('/images/v2/chronicles_archives/chronicles/the_markets#{$imgPath}') 0 0 no-repeat;
}

.chronicleMarkets {
  color: #575746;
  color: var(--chronicle-text-color);
  font-family: 'Special Elite', cursive;
  font-size: 16px;
  line-height: 24px;

  .header {
    padding-top: 54px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .textTypo {
    position: relative;
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      display: block;
    }
  }

  .articleImage {
    display: block;
    margin: 0 auto;

    &.takings {
      margin-top: 0;
      margin-left: -22px;
    }
  }

  .enmasse {
    display: inline-block;
  }

  .container {
    margin: 0 auto;
    width: 631px;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .effects {
    position: absolute;
    z-index: 6;
  }

  .clear {
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .articleBlock {
    position: relative;
    box-shadow: none;

    p {
      margin-top: 24px;

      &.pdRight5 {
        padding-right: 5px;
      }

      &.mgTop21 {
        margin-top: 21px;
      }

      &.pdRight12 {
        padding-right: 12px;
      }
    }
  }

  .page {
    position: relative;

    &.part1 {
      z-index: 5;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);

      .imageWrapper {
        width: 400px;
      }

      .half {
        padding-left: 74px;
        width: 308px;

        &.left {
          p:first-child {
            margin-top: 23px;
          }
        }
      }

      .wrapper {
        padding-bottom: 19px;
      }

      .titleDivider {
        margin: 32px auto 28px;

        @include box(636px, 1px, '/976/effects/title_divider.png');

        background: var(--markets-effect1-url) 0 0 no-repeat;
      }

      .blackestMarket {

        @include boxWithPosition(0, 0, 784px, 49px, '/976/effects/blackest_market.png');

        background: var(--markets-effect2-url) 0 0 no-repeat;
      }

      .clips {

        @include boxWithPosition(14px, 17px, 56px, 71px, '/976/effects/clips.png');

        background: var(--markets-effect3-url) 0 0 no-repeat;
      }

      .simpleEconomicsBg {

        @include boxWithPosition(-264px, 0, 289px, 603px, '/976/effects/simple_economics_bg.png');

        background: var(--markets-effect4-url) 0 0 no-repeat;
      }

      .bgHole {

        @include box(784px, 98px, '/976/effects/bg_hole_no_shadow.png');

        background: var(--markets-effect5-url) 0 0 no-repeat;
      }

      .boxingImgWrapper {
        box-shadow: none;
      }

      .withHole {
        .textWrapper {
          padding: 26px 82px 0 75px;
          box-shadow: none;

          &.paragraph1 {
            height: 54px;
          }

          &.paragraph2 {
            margin-top: -10px;
          }
        }

        p {
          margin-top: 0;
        }
      }

      .craigslist {
        &::after {

          @include boxWithPosition(17px, -6px, 106px, 12px, '/976/text_typo/craigslist.png');

          background: var(--markets-effect6-url) 0 0 no-repeat;
        }
      }

      .tornsTypo {
        &::after {

          @include boxWithPosition(6px, -1px, 77px, 38px, '/976/text_typo/torns_typo.png');

          background: var(--markets-effect7-url) 0 0 no-repeat;
        }
      }

      .dollars20 {
        display: inline-block;
        margin-right: -4px;
        margin-bottom: -4px;

        @include box(32px, 23px, '/976/text_typo/&20.png');

        background: var(--markets-effect8-url) 0 0 no-repeat;
      }

      .charge500 {
        &::after {

          @include boxWithPosition(4px, -34px, 134px, 24px, '/976/text_typo/500_charge.png');

          background: var(--markets-effect9-url) 0 0 no-repeat;
        }
      }

      .moneysTypo {
        &::after {

          @include boxWithPosition(19px, -6px, 71px, 5px, '/976/text_typo/&4388.png');

          background: var(--markets-effect10-url) 0 0 no-repeat;
        }
      }

      .marketStallsImg {
        margin-left: 2px;
        padding-top: 12px;
      }

      .shoppingBackets {
        margin-left: 5px;
      }

      .boxingGloves {
        margin-left: 3px;
        padding-top: 3px;
      }
    }

    &.part2 {
      margin: 0 10px;

      .articleBlock {
        &.thunderdome {
          margin: 0;
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .25);

          .textWrapper {
            padding-top: 6px;
            padding-bottom: 4px;
            box-shadow: none;

            p:first-child {
              margin-top: 0;
            }
          }

          .articleImage {
            position: relative;
            z-index: 6;
            margin-bottom: -72px;
            margin-left: -2px;
          }
        }

        .newspaperBg {
          z-index: 4;

          @include boxWithPosition(-287px, 0, 85px, 1015px, '/976/effects/newspaper_bg.png');

          background: var(--markets-effect11-url) 0 0 no-repeat;
        }
      }

      .sausages {
        display: inline;
      }

      .packOfSausages {
        &::after {
          z-index: 1;

          @include boxWithPosition(16px, -6px, 147px, 14px, '/976/text_typo/pack_of_sausages.png');

          background: var(--markets-effect12-url) 0 0 no-repeat;
        }
      }

      .burnedAngle {
        margin-top: -5px;
        //margin-left: -2px;
        box-shadow: 3px 0 3px -3px rgba(0, 0, 0, .25);

        @include box(764px, 98px, '/976/effects/burned_angle_no_shadow.png');

        background: var(--markets-effect13-url) 0 0 no-repeat;
      }

      .tornPiece {
        position: relative;
        z-index: 5;
        box-shadow: -3px 0 3px -3px rgba(0, 0, 0, .25);

        @include box(764px, 80px, '/976/effects/torn_piece_no_shadow.png');

        background: var(--markets-effect14-url) 0 0 no-repeat;
      }

      .textWrapper {
        margin: 0;
        padding: 23px 65px 0;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .25);

        &.paragraph1 {
          margin-top: 0;

          p {
            margin-top: -84px;
          }
        }

        &.paragraph2 {
          padding-top: 25px;
          height: 155px;

          p {
            position: relative;
            z-index: 6;
            margin-top: 0;
          }
        }
      }

      .newspaperImgWrapper {
        position: relative;
        margin: 0;
        height: 512px;

        .articleImage {
          position: absolute;
          top: -41px;
          left: 21px;
          z-index: 5;
        }
      }
    }

    &.part3 {
      .articleBlock {
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .25);

        &.defaultShadow {
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
        }
      }

      .container {
        width: 644px;

        p:first-child {
          margin-top: 0;
        }

        &.buyMugging {
          padding-top: 99px;
          width: 631px;
        }
      }

      .buyMuggingImgWrapper {
        padding: 15px 0 16px;
      }

      .printedSentenceWrapper {
        padding-top: 13px;

        .printedSentence {
          margin-bottom: -26px;

          @include box(738px, 181px, '/976/effects/printed_sentence.png');
        }
      }

      .finalImageWrapper {
        padding-top: 11px;
        height: 209px;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .25);

        .finalImage {
          margin: 0 0 50px -2px;
        }
      }

      .torned {
        right: 0;

        @include boxWithPosition(33px, unset, 131px, 103px, '/976/effects/torned.png');
      }

      .divider {

        @include boxWithPosition(356px, 26px, 721px, 120px, '/976/effects/bg_divider.png');

        background: var(--markets-effect17-url) 0 0 no-repeat;
      }

      .scratches {
        right: 0;

        @include boxWithPosition(-17px, unset, 361px, 614px, '/976/effects/scratches_bg.png');

        background: var(--markets-effect18-url) 0 0 no-repeat;
      }

      .lastParagraph {
        right: 0;

        @include boxWithPosition(282px, unset, 146px, 483px, '/976/effects/last_paragraph_bg.png');

        background: var(--markets-effect19-url) 0 0 no-repeat;
      }

      .itemMarket {
        &::after {

          @include boxWithPosition(16px, -2px, 101px, 38px, '/976/text_typo/item_market.png');

          background: var(--markets-effect20-url) 0 0 no-repeat;
        }
      }

      .sales {
        &::after {

          @include boxWithPosition(-14px, -8px, 380px, 48px, '/976/text_typo/700.png');

          background: var(--markets-effect21-url);
        }
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .chronicleMarkets {
      font-size: 15px;

      .header {
        padding-top: 28px;
        font-size: 25px;
      }

      .container {
        padding-left: 4px;
        width: 368px;
      }

      .page {
        &.part1 {
          .container {
            &.shopping {
              p:first-child {
                margin-top: 13px;
              }
            }

            &.cultureShift {
              padding-left: 6px;
              width: 366px;

              .pdRight5 {
                padding-right: 0;
              }

              p:first-child {
                margin-top: 19px;
              }

              .mgTop21 {
                margin-top: 22px;
              }

              .exchange {
                padding-right: 5px;
              }
            }
          }

          .dollars20 {
            margin-right: -4px;
            margin-bottom: -6px;
            margin-left: -3px;
          }

          .marketStallsImg {
            margin-left: 0;
            padding-top: 15px;
          }

          .boxingGloves {
            margin-left: 0;
            padding-top: 10px;
          }

          .blackestMarket {

            @include boxWithPosition(0, 0, 386px, 24px, '/578/effects/blackest_market.png');

            background: var(--markets-effect2-url) 0 0 no-repeat;
          }

          .shoppingBackets {
            margin-left: 10px;
          }

          .titleDivider {
            margin: 22px auto 20px;

            @include box(365px, 1px, '/578/effects/title_divider.png');

            background: var(--markets-effect1-url) 0 0 no-repeat;
          }

          .clips {

            @include boxWithPosition(9px, 5px, 42px, 42px, '/578/effects/clips.png');

            background: var(--markets-effect3-url) 0 0 no-repeat;
          }

          .bgHole {
            position: relative;
            z-index: 6;
            margin-left: 0;

            @include box(386px, 54px, '/578/effects/bg_hole.png');

            background: var(--markets-effect22-url) 0 0 no-repeat;
          }

          .craigslist {
            &::after {

              @include boxWithPosition(17px, -5px, 100px, 11px, '/578/text_typo/craigslist.png');

              background: var(--markets-effect6-url) 0 0 no-repeat;
            }
          }

          .tornsTypo {
            &::after {

              @include boxWithPosition(6px, 0, 67px, 32px, '/578/text_typo/torns_typo.png');

              background: var(--markets-effect7-url) 0 0 no-repeat;
            }
          }

          .charge500 {
            &::after {

              @include boxWithPosition(3px, -2px, 94px, 24px, '/578/text_typo/500_charge.png');

              background: var(--markets-effect9-url) 0 0 no-repeat;
            }
          }

          .moneysTypo {
            &::after {

              @include boxWithPosition(18px, -4px, 62px, 5px, '/578/text_typo/&4388.png');

              background: var(--markets-effect10-url) 0 0 no-repeat;
            }
          }

          .withHole {
            .textWrapper {
              z-index: unset;
              padding: 13px 10px 0 11px;

              p {
                position: relative;
                z-index: 7;
              }

              &.paragraph1 {
                height: 214px;
              }

              &.paragraph2 {
                margin-top: -4px;
                padding-top: 0;
              }
            }
          }

          .wrapper {
            padding-bottom: 15px;
          }

          .half {
            margin: 0 auto;
            padding: 24px 0 0 4px;
            width: 366px;
            float: none;

            p:first-child {
              margin-top: 0;
            }
          }

          .imageWrapper {
            width: 100%;
            float: none;

            .takings {
              margin: 11px auto 0;
            }
          }
        }

        &.part2 {
          margin: 0;

          .textWrapper {
            padding: 23px 10px 0 12px;

            &.paragraph1 {
              margin-top: -1px;

              p {
                margin-top: -34px;
              }
            }

            .pdRight5 {
              padding-right: 0;
            }

            &.paragraph2 {
              height: 286px;
            }
          }

          .newspaperImgWrapper {
            height: 285px;

            .articleImage {
              top: -16px;
              left: 0;
            }
          }

          .articleBlock {
            &.thunderdome {
              .articleImage {
                margin-bottom: -41px;
                margin-left: 0;
              }

              .textWrapper {
                padding-bottom: 11px;
              }
            }

            .newspaperBg {

              @include boxWithPosition(-73px, 0, 51px, 610px, '/578/effects/newspaper_bg.png');

              background: var(--markets-effect11-url) 0 0 no-repeat;
            }
          }

          .packOfSausages {
            &::after {

              @include boxWithPosition(17px, -11px, 84px, 14px, '/578/text_typo/pack_of.png');

              background: var(--markets-effect23-url) 0 0 no-repeat;
            }
          }

          .sausages {
            &::after {
              z-index: 1;

              @include boxWithPosition(16px, -1px, 73px, 14px, '/578/text_typo/sausages.png');

              background: var(--markets-effect24-url) 0 0 no-repeat;
            }
          }

          .burnedAngle {
            margin: 0 0 0 -2px;
            box-shadow: unset;

            @include box(390px, 29px, '/578/effects/burned_angle.png');

            background: var(--markets-effect25-url) 0 0 no-repeat;
          }

          .tornPiece {
            margin-left: -2px;
            box-shadow: unset;

            @include box(390px, 56px, '/578/effects/torn_piece.png');

            background: var(--markets-effect26-url) 0 0 no-repeat;
          }
        }

        &.part3 {
          margin-top: 20px;

          .pdRight12 {
            padding-right: 3px;
          }

          .container {
            padding-left: 6px;
            width: 368px;

            &.buyMugging {
              padding-top: 38px;
              padding-left: 6px;
              width: 368px;
            }
          }

          .buyMuggingImgWrapper {
            padding: 14px 0 10px;
          }

          .finalImageWrapper {
            height: 386px;
            padding-top: 14px;
          }

          .printedSentenceWrapper {
            padding-top: 18px;

            .printedSentence {
              margin-bottom: 7px;

              @include box(383px, 152px, '/578/effects/printed_sentence.png');
            }
          }

          .torned {
            right: -2px;

            @include boxWithPosition(-1px, unset, 71px, 56px, '/578/effects/torned.png');
          }

          .divider {

            @include boxWithPosition(536px, 0, 386px, 41px, '/578/effects/bg_divider.png');

            background: var(--markets-effect17-url) 0 0 no-repeat;
          }

          .scratches {
            top: 174px;
          }

          .lastParagraph {
            top: 617px;
          }

          .itemMarket {
            &::after {

              @include boxWithPosition(18px, -1px, 91px, 33px, '/578/text_typo/item_market.png');

              background: var(--markets-effect20-url) 0 0 no-repeat;
            }
          }

          .sales {
            display: inline;

            &::after {

              @include boxWithPosition(-9px, -169px, 382px, 57px, '/578/text_typo/700.png');

              background: var(--markets-effect21-url) 0 0 no-repeat;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .chronicleMarkets {
      .container {
        width: 300px;
      }

      .page {
        &.part1 {
          .half {
            width: 300px;
          }

          .container {
            width: 300px;

            &.shopping {
              p:first-child {
                margin-top: 17px;
              }
            }

            &.cultureShift {
              width: 300px;

              p:first-child {
                margin-top: 9px;
              }
            }
          }

          .shoppingBackets {
            margin-left: 0;
          }

          .imageWrapper {
            .takings {
              margin: 12px 0 0 0;
            }
          }

          .wrapper {
            padding-bottom: 22px;
          }

          .blackestMarket {

            @include boxWithPosition(0, 0, 320px, 20px, '/320/effects/blackest_market.png');

            background: var(--markets-effect2-url) 0 0 no-repeat;
          }

          .simpleEconomicsBg {
            top: -13px;
          }

          .titleDivider {
            margin: 22px auto 10px;

            @include box(300px, 1px, '/320/effects/title_divider.png');

            background: var(--markets-effect1-url) 0 0 no-repeat;
          }

          .clips {

            @include boxWithPosition(3px, 1px, 32px, 32px, '/320/effects/clips.png');

            background: var(--markets-effect3-url) 0 0 no-repeat;
          }

          .bgHole {
            position: relative;
            z-index: 6;

            @include box(320px, 59px, '/320/effects/bg_hole.png');

            background: var(--markets-effect22-url) 0 0 no-repeat;
          }

          .charge500 {
            &::after {

              @include boxWithPosition(3px, -30px, 120px, 24px, '/320/text_typo/500_charge.png');

              background: var(--markets-effect9-url) 0 0 no-repeat;
            }
          }

          .withHole {
            .textWrapper {
              padding: 17px 11px 0 12px;

              &.paragraph1 {
                height: 267px;
              }

              &.paragraph2 {
                margin-top: -14px;
              }
            }
          }

          .marketStallsImg {
            padding-top: 12px;
          }
        }

        &.part2 {
          .textWrapper {
            &.paragraph1 {
              margin-top: -1px;

              p {
                width: 300px;
              }
            }

            &.paragraph2 {
              height: 321px;
            }
          }

          .newspaperImgWrapper {
            height: 256px;

            .articleImage {
              top: -1px;
            }
          }

          .articleBlock {
            &.thunderdome {
              .articleImage {
                margin-bottom: -80px;
                margin-left: 0;
              }
            }

            .newspaperBg {

              @include boxWithPosition(-15px, 0, 44px, 514px, '/320/effects/newspaper_bg.png');

              background: var(--markets-effect11-url) 0 0 no-repeat;
            }
          }

          .sausages {
            &::after {
              top: 14px;
            }
          }

          .packOfSausages {
            &::after {

              @include boxWithPosition(13px, -5px, 64px, 14px, '/320/text_typo/pack_of.png');

              background: var(--markets-effect23-url) 0 0 no-repeat;
            }
          }

          .burnedAngle {
            margin-left: -2px;

            @include box(324px, 29px, '/320/effects/burned_angle.png');

            background: var(--markets-effect25-url) 0 0 no-repeat;
          }

          .tornPiece {

            @include box(325px, 56px, '/320/effects/torn_piece.png');

            background: var(--markets-effect26-url) 0 0 no-repeat;
          }
        }

        &.part3 {
          margin-top: 62px;

          .printedSentenceWrapper {
            padding-top: 10px;

            .printedSentence {
              margin-bottom: 20px;

              @include box(315px, 121px, '/320/effects/printed_sentence.png');
            }
          }

          .container {
            padding-left: 4px;
            width: 300px;

            &.buyMugging {
              padding-left: 4px;
              width: 300px;
            }
          }

          .buyMuggingImgWrapper {
            padding: 5px 0 7px;
          }

          .finalImageWrapper {
            height: 337px;
          }

          .torned {
            top: 2px;
            right: -9px;
          }

          .divider {

            @include boxWithPosition(735px, 0, 320px, 41px, '/320/effects/bg_divider.png');

            background: var(--markets-effect17-url) 0 0 no-repeat;
          }

          .scratches {
            right: 0;

            @include boxWithPosition(340px, unset, 320px, 544px, '/320/effects/scratches_bg.png');

            background: var(--markets-effect18-url) 0 0 no-repeat;
          }

          .lastParagraph {
            top: 686px;
          }

          .sales {
            &::after {

              @include boxWithPosition(-9px, -166px, 291px, 61px, '/320/text_typo/700.png');

              background: var(--markets-effect21-url);
            }
          }

          .finalImageWrapper {
            padding-top: 11px;
          }
        }
      }
    }
  }
}

.mainBackground {
  position: relative;
  z-index: 5;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
  background: url('/images/v2/chronicles_archives/chronicles/bg_1.jpg') 0 0 repeat;
  background: var(--chronicle-main-bg1-url) 0 0 repeat;

  &.withPaddingTop {
    padding-top: 27px;
  }

  &.withPaddingBottom {
    padding-bottom: 35px;
  }

  &.withPaddingBottomSmall {
    padding-bottom: 24px;
  }
}

.subBackground {
  position: relative;
  margin: 0 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
  background: url('/images/v2/chronicles_archives/chronicles/bg_2.jpg') 0 0 repeat;
  background: var(--chronicle-main-bg2-url) 0 0 repeat;

  &.withPaddingTop {
    padding-top: 20px;
  }

  &.withPaddingTopBig {
    padding-top: 27px;
  }

  &.withPaddingBottom {
    padding-bottom: 26px;
  }
}

:global(.travelling),
:global(.logged-out) {
  .chronicleMarkets {
    width: 784px;
    margin: 0 auto;
  }
}

:global(.r) {
  :global(.travelling),
  :global(.logged-out) {
    .chronicleMarkets {

      @media screen and (max-width: 1000px) {
        width: 386px;
      }
      @media screen and (max-width: 600px) {
        width: 320px;
      }
    }

    @media screen and (max-width: 600px) {
      :global(#chronicles-archives) {
        margin-top: 15px;
      }
    }
  }
}
