.statusBarWrap {
  z-index: 100000;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

.box {
  height: 30px;
  border-top: 1px solid #f2f2f2;
}

.weaponIcon {
  composes: box;
  flex: 0 0 57px;
  display: flex;
  border-right: 1px solid #f2f2f2;
  background-color: #ccc;
  justify-content: center;
  align-items: center;

  img {
    max-width: 50px;
    max-height: 28px;
  }
}

.result {
  composes: box;
  padding-left: 15px;
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  flex: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .65);
  font-weight: bold;
  background-color: #aaa;

  &.green {
    color: #fff;
    background-color: #769b00;
  }

  &.red {
    color: #fff;
    background-color: #c33100;
  }
}

#{$dark-mode} {
  .weaponIcon {
    background: #333333 0% 0% no-repeat padding-box;
    border-right: 1px solid #444444;
  }

  .result {
    background: #232323 0% 0% no-repeat padding-box;
  }

  .box {
    border-top: #444;
  }
}
