.noScrollBar {
  &::-webkit-scrollbar {
    width: 0 !important;
  }

  ::-webkit-scrollbar-thumb {
    width: 0 !important;
    background: transparent;
  }
}

.logWrap {
  display: flex;
  flex-direction: column;
  height: 100%;

  :global(.red) {
    color: #d47151;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
  }

  :global(.green) {
    color: #8eab2b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
  }
}

.list {
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 0 0 5px 5px;
  max-height: 338px;
  background: hsla(0, 0%, 94.9%, .85);
  composes: noScrollBar;

  @media #{$screen-mobile} {
    #{$global-r} & {
      border-radius: 0;
    }
  }
}

.timeHeader {
  padding-right: 54px;
}

.cols {
  display: flex;
}

.col1,
.col2 {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.col1 {
  flex-grow: 1;
  border-right: 1px solid #ccc;
}

.col2 {
  box-sizing: border-box;
  flex: 0 0 60px;
  border-left: 1px solid rgba(255, 255, 255, .5);
}

.row {
  min-height: 32px;
  overflow: hidden;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  composes: cols;

  &:not(:last-child):first-child {
    border-top: none;
  }

  &:not(:first-child):last-child {
    border-bottom: none;
  }
}

.iconWrap,
.message,
.time {
  padding-right: 10px;
  line-height: 1.5em;
}

.message {
  &::after {
    content: '';
    margin-left: auto;
    width: 10px;
    height: 100%;
    float: right;
    opacity: .5;
  }

  .red {
    background-color: red;
  }

  .green {
    background-color: green;
  }
}

$colors-list: #4c6600, #b20000, #b28500, #005b5b, #036, #46008c, #606, #000, #f28d8d, #e1c919, #a0cf17, #18d9d9,
  #6fafee, #b072ef, #f080f0, #616161, #400000, #403000, #204000, #003040, #000040, #400040;

@each $current-color in $colors-list {
  $i: index($colors-list, $current-color);

  .color-#{$i} {
    &::after {
      content: '';
      margin-right: -10px;
      margin-left: auto;
      width: 10px;
      min-width: 10px;
      max-width: 10px;
      height: 100%;
      background-color: rgba($current-color, .2);
    }
  }
}

#{$dark-mode} {
  .list {
    background: #333333 0% 0% no-repeat padding-box;
    color: #fff;
  }

  .col1 {
    border-right: 1px solid #111;
  }

  .col2 {
    border-left: 1px solid #6d696980;
  }

  .row {
    border-top: 1px solid #6d696980;
    border-bottom: 1px solid #111;
  }
}
