.loader {
  position: relative;
  // top: 50%;
  width: 62px;
  // transform: translateY(-25%);
  margin: auto;
  height: 12px;

  @media (max-width: 1000px) {
    // top: -49%;
    // right: -1px;
    width: 26px;
    overflow: hidden;
  }
}

.loader_1 {
  width: 6px;
}

.loader_2 {
  width: 15px;
}

.loader_3 {
  width: 24px;
}

.loader_4 {
  width: 33px;
}

.loader_5 {
  width: 42px;
}

.loader_6 {
  width: 51px;
}

.loader_7 {
  width: 62px;
}

.loaderPoint_0 {
  left: 0;
  animation-delay: 0s;
}

.loaderPoint_1 {
  left: 9px;
  animation-delay: .1s;
}

.loaderPoint_2 {
  left: 18px;
  animation-delay: .2s;
}

.loaderPoint_3 {
  left: 27px;
  animation-delay: .3s;
}

.loaderPoint_4 {
  left: 36px;
  animation-delay: .4s;
}

.loaderPoint_5 {
  left: 45px;
  animation-delay: .5s;
}

.loaderPoint_6 {
  left: 54px;
  animation-delay: .6s;
}

.loaderPoint {
  position: absolute;
  top: 50%;
  transform: translateY(50%) scale(.5);
  width: 6px;
  height: 6px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  animation-name: black;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.adoptiveLoader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  transform: initial;
  align-items: center;
  top: initial;

  .loaderPoint {
    position: initial;
  }
}

@keyframes white {
  0% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 1);
  }

  100% {
    transform: scale(.5);
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes black {
  0% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 1);
  }

  100% {
    transform: scale(.5);
    background-color: rgba(0, 0, 0, 0);
  }
}
@keyframes orange {
  0% {
    transform: scale(1);
    background-color: rgba(233, 136, 103, 1);
  }

  100% {
    transform: scale(.5);
    background-color: rgba(233, 136, 103, 0);
  }
}
@keyframes green {
  0% {
    transform: scale(1);
    background-color: rgba(133, 178, 0, 1);
  }

  100% {
    transform: scale(.5);
    background-color: rgba(133, 178, 0, 0);
  }
}
@keyframes blue {
  0% {
    transform: scale(1);
    background-color: rgba(148, 177, 191, 1);
  }

  100% {
    transform: scale(.5);
    background-color: rgba(148, 177, 191, 0);
  }
}
@keyframes red {
  0% {
    transform: scale(1);
    background-color: red;
  }

  100% {
    transform: scale(.5);
    background-color: rgba(148, 177, 191, 0);
  }
}
