@import '../../styles/constants';
@import '../../styles/mixins';

$row-height: 35px;

.applicationsEmpty {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: $row-height;
  color: #888;
  color: var(--default-gray-8-color);

  @include border-horizontal;

  #{$global-r} & {

    @media screen and (max-width: 1000px) {
      justify-content: center;
    }
  }
}

.applicationListWrapper {
  color: #444;
  color: var(--default-gray-4-color);

  .tableHeader,
  .tableRow {
    display: flex;
    width: 100%;
    height: $row-height;

    @include border-horizontal;

    &:last-child {
      border-right: none;
    }
  }

  .tableHeader {
    font-weight: bold;

    .tableCell {
      position: relative;
      border-right: none;

      &::after,
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
      }

      &::after {
        left: -1px;
        background: #ccc;
        background: var(--default-panel-divider-outer-side-color);
      }

      &::before {
        left: 0;
        background: #fff;
        background: var(--default-panel-divider-inner-side-color);
      }
    }
  }

  .rowWrapper {
    &.expanded,
    &:hover {
      background: #fff;
      background: var(--faction-appcications-active-panel-bg);
    }

    &.accepted {
      background: rgba(108, 162, 54, .1);
    }

    &.declined {
      background: rgba(229, 76, 25, .07);
    }

    &.withdrawn {
      background: #eaeaea;
      background: var(--faction-appcications-withdrawn-bg);
    }

    &.accepted,
    &.declined,
    &.withdrawn {
      .expires {
        display: none;
      }

      .application {
        border-right: none;
        font-weight: bold;
        flex-grow: 1;
      }

      @media screen and (max-width: 1000px) {
        #{$global-r} & {
          .lvl {
            display: none;
          }

          .application {
            display: flex;
          }
        }
      }
    }

    &.accepted .application {
      color: rgba(108, 162, 54, 1);
    }

    &.declined .application {
      color: rgba(229, 76, 25, 1);
    }

    &.withdrawn .application {
      color: #888;
      color: var(--default-gray-8-color);
    }
  }
}

.applicationListHeader {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
  padding: 10px;
  font-weight: bold;
  text-align: center;

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      height: auto;
      line-height: 16px;
    }
  }

  @include border-horizontal;

  &.warning {
    color: #fd764c;
  }
}

.rowsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tableCell {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-top: -1px;
  border-right: $border-gray;
  border-right-color: var(--default-panel-divider-outer-side-color);

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
  }

  &::after {
    left: -1px;
    background: #ccc;
    background: var(--default-panel-divider-outer-side-color);
  }

  &::before {
    left: 0;
    background: #fff;
    background: var(--default-panel-divider-inner-side-color);
  }

  &.person {
    padding: 0 0 0 10px;
    width: 37%;
  }

  &.lvl {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 7%;
  }

  &.application {
    padding: 0 10px;
    width: 37%;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 14px;
    }
  }

  &.expires {
    display: flex;
    justify-content: center;
    width: 10%;
  }

  &.view {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 9%;
  }

  &:last-child {
    border-right: none;
  }

  &:first-child::after,
  &:first-child::before {
    content: none;
  }

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      &.person {
        width: 55%;
      }

      &.lvl {
        width: 11%;
      }

      &.application {
        display: none;
      }

      &.expires {
        width: 20%;
      }

      &.view {
        width: 14%;
      }
    }
  }
}
