.positionLabel {
  padding: 0 10px;
  margin: 0;
  border: none;
  border-radius: 0 5px 5px 0;
  box-shadow: none;
  background: transparent linear-gradient(180deg, #fff 0%, #ddd 100%) 0 0 no-repeat;
  background: var(--faction-position-btn-bg);
  color: #666;
  color: var(--faction-position-permissions-font-color);
  font-size: 12px;
  text-shadow: 0 1px 0 #fff;
  text-shadow: var(--faction-poistions-title-text-shadow);
  line-height: 14px;

  &:hover {
    background: transparent linear-gradient(180deg, #ddd 0%, #fff 100%) 0 0 no-repeat;
    background: var(--faction-position-btn-bg-hover);
    color: #666;
    color: var(--faction-position-permissions-font-color);
  }

  .textBold {
    font-weight: bold;
  }
}

.positionInput {
  font-weight: bold;
}
