.action {
  display: flex;
  padding: 0 12px 0 5px;
  font-size: 0;

  &.reverted {
    opacity: .35;
  }
}

.statusIcon,
.actionIcon,
.location,
.actionName,
.username {
  vertical-align: top;
}

.statusIcon,
.actionIcon,
.location {
  width: 26px;
  height: 30px;
  background-image: url(/images/v2/christmas_town/ct_2018_icons_light.svg);
  background-image: var(--ct-map-editor-icons-sprite);
}

.statusIcon {
  &.pending {
    background-position: -820px -105px;
  }

  &.success {
    background-position: -683px -275px;
  }

  &.partialSuccess {
    background-position: -718px -139px;
  }

  &.error {
    background-position: -753px -173px;
  }
}

.actionIcon {
  &.layers {
    background-position: -72px -71px;
  }

  &.move {
    background-position: -614px -71px;
  }

  &.create {
    background-position: -446px -71px;
  }

  &.delete {
    background-position: -514px -71px;
  }
}

.location {
  cursor: pointer;
  padding: 0;
  border: none;
  background: url(/images/v2/christmas_town/ct_2018_icons_light.svg) -786px -71px no-repeat;
  background-image: var(--ct-map-editor-icons-sprite);
}

.actionName,
.username {
  padding: 0 10px;
  font-size: 12px;
  line-height: 30px;
}

.actionName {
  flex-grow: 1;
}

.username {
  padding: 0 4px 0 10px;
  flex-grow: 1;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;

  .owner {
    color: #ccc;
    color: var(--ct-map-editor-history-secondary-font-color);
  }
}

.action.partialSuccess {
  background-color: #fffaed;
  background-color: var(--сt-map-editor-history-item-partial-success-bg);
  color: #a58c6a;
  color: var(--сt-map-editor-history-item-partial-success-font-color);

  .actionIcon {
    &.layers {
      background-position: -72px -139px;
    }

    &.move {
      background-position: -614px -139px;
    }

    &.create {
      background-position: -446px -139px;
    }

    &.delete {
      background-position: -514px -139px;
    }
  }

  .location {
    background-position: -786px -139px;
  }
}

.action.error {
  background-color: #fff2ed;
  background-color: var(--сt-map-editor-history-item-error-bg);
  color: #a56d6a;
  color: var(--сt-map-editor-history-item-error-font-color);

  .actionIcon {
    &.layers {
      background-position: -72px -173px;
    }

    &.move {
      background-position: -614px -173px;
    }

    &.create {
      background-position: -446px -173px;
    }

    &.delete {
      background-position: -514px -173px;
    }
  }

  .location {
    background-position: -786px -173px;
  }
}
