.infoContainer {
  padding-left: 10px;
  border-bottom: 1px solid #eee;
  border-bottom-color: var(--ct-editor-library-content-divider);

  .title {
    color: #7f9fb2;
    font-size: 14px;
    line-height: 30px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .45);
    text-shadow: var(--ct-map-editor-library-title-text-shadow);
  }
}

.history {
  color: #858585;
  color: var(--ct-editor-default-library-font-color);

  .date {
    border-top: 1px solid #eee;
    border-top-color: var(--ct-editor-library-content-divider);
    border-bottom: 1px solid #eee;
    border-bottom-color: var(--ct-editor-library-content-divider);
    color: #ccc;
    color: var(--ct-map-editor-history-secondary-font-color);
    line-height: 30px;
    text-align: center;
  }
}

.tipContent {
  color: #888;
  font-family: "Fjalla One", serif;
  font-size: 12px;
}

:global(.d .fullscreen-mode .tools-container) {
  .infoContainer {
    display: none;
  }
}
