$duration: .75s;

.next-enter {
  transform: translateX(100%);
  opacity: 0;
  // position: absolute !important;

  &.next-enter-active {
    // position: absolute !important;
    transition: opacity #{$duration} ease-out, transform #{$duration} ease-out;
    transform: translateX(0%);
    opacity: 1;
  }
}

.next-exit {
  transform: translateX(-100%);
  // position: absolute !important;
  opacity: 1;

  &.next-exit-active {
    // position: absolute !important;
    transition: opacity #{$duration} ease-out, transform #{$duration} ease-out;
    transform: translateX(-200%);
    opacity: 0;
  }
}

.prev-enter {
  transform: translateX(-100%);
  // position: absolute !important;
  opacity: 0;

  &.prev-enter-active {
    // position: absolute !important;
    transition: opacity #{$duration} ease-out, transform #{$duration} ease-out;
    transform: translateX(0%);
    opacity: 1;
  }
}

.prev-exit {
  transform: translateX(-100%);
  // position: absolute !important;
  opacity: 1;

  &.prev-exit-active {
    // position: absolute !important;
    transition: opacity #{$duration} ease-out, transform #{$duration} ease-out;
    transform: translateX(0%);
    opacity: 0;
  }
}
