.arrowWrap {
  position: absolute;
  top: 86px;
  z-index: 15;
  display: block;
  width: 30px;
  height: 52px;
  cursor: pointer;
}

.left {
  left: 4px;
}

.right {
  right: 4px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      right: 2px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      right: 1px;
    }
  }
}

.bloomOnHover {
  pointer-events: all;

  &:hover {
    filter: drop-shadow(0 0 3px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3px #fff);
  }
}
