:global(.d) {
  .carouselWrap {
    position: relative;
    width: 784px;
    overflow: hidden;
    white-space: nowrap;

    .hideArrow {
      display: none;
    }
  }
}

@media screen and (max-width: 1000px) {
  :global(.r) .carouselWrap {
    width: 386px;
  }
}
@media screen and (max-width: 600px) {
  :global(.r) .carouselWrap {
    width: 320px;
  }
}

#{$global-d} div.crimesInChange {
  overflow: hidden !important;
}
