.wrapper {
  margin-top: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
  background: #f2f2f2;
  color: #444;

  &:first-child {
    #{$global-r} & {

      @media #{$screen-tablet} {
        margin-top: 45px;
      }
      @media #{$screen-mobile} {
        margin-top: 95px;
      }
    }
  }

  &.expanded .trigger .arrow {
    margin-bottom: -2px;
    transform: rotate(-135deg);
  }

  &.expanded .content {
    padding: 10px 15px;
    height: auto;
    border-top: 1px solid #ccc;
    transition: all 2s ease;
  }

  .trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    height: 20px;
    user-select: none;
    cursor: pointer;

    .label {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .arrow {
      border: solid #444;
      border-width: 0 3px 3px 0;
      display: inline-block;
      margin-bottom: 2px;
      padding: 3px;
      transform: rotate(45deg);
      transition: all .3s ease;
    }
  }

  .content {
    padding: 0;
    height: 0;
    border: none;
  }
}
