$padding: 10px;
$cancelSize: 30px;
$cancelRight: 2px;

.view {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  background-color: var(--default-bg-panel-active-color);
}

.info {
  font-size: 12px;
}

.line {
  height: 16px;
  line-height: 16px;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.group {
  padding-right: $padding + $cancelSize + $cancelRight;
}

.effect {
  color: #678c00;
  color: var(--default-green-color);
  font-weight: bold;
}

.requirements {
  color: #d83500;
  color: var(--default-red-color);
  font-weight: bold;
}

.close {
  position: absolute;
  top: 4px;
  right: $cancelRight;
  padding: 0;
  width: $cancelSize;
  height: $cancelSize;
  border: 0;
  background: 0;
  cursor: pointer;
}

.canvasGlow {
  margin: 10px;
  width: 100px;
  height: 50px;
}
