.messages {
  display: table;
  position: relative;
  padding-top: 18px;
  width: 100%;
  background: url(/images/v2/newspaper/divider_horizontal_old.png) 0 0 repeat-x,
              url(/images/v2/newspaper/divider_horizontal.png) 0 5px repeat-x;
  background: var(--newspaper-divider-horizontal-old-line-url) 0 0 repeat-x,
              var(--newspaper-divider-horizontal-line-url) 0 5px repeat-x;

  * {
    box-sizing: border-box;
  }
}
.message {
  font-family: 'Times New Roman', Georgia, Times, serif;
  font-size: 15px;
  padding: 0 15px 20px 15px;
  display: table-cell;
  width: 190px;
  word-break: break-word;
  word-wrap: break-word;
  max-width: 190px;
  &:not(:first-child) {
    background: url(/images/v2/newspaper/divider_vertical_old.png) 0 0 repeat-y;
    background: var(--newspaper-divider-vertical-old-line-url) 0 0 repeat-y;
  }
}
.title a {
  display: inline-block;
  margin-right: 5px;
  color: #069;
  color: var(--default-blue-color);
  text-decoration: none;
  vertical-align: top;
}

@media screen and (max-width: 1000px) {
  :global(.r) {
    .messages {
      padding-top: 5px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 49%;
        top: 5px;
        bottom: 0;
        width: 1px;
        background: url(/images/v2/newspaper/divider_vertical_old.png) 0 0 repeat-y;
        background: var(--newspaper-divider-vertical-old-line-url) 0 0 repeat-y;
      }
    }
    .message {
      padding: 10px;
      float: none;
      display: inline-block;
      vertical-align: top;
      width: 193px;
      max-width: 193px;
      background: url(/images/v2/newspaper/divider_horizontal_older.png) 0 0 repeat-x;
      background: var(--newspaper-divider-horizontal-older-line-url) 0 0 repeat-x;
    }
  }
}

@media screen and (max-width: 600px) {
  :global(.r) {
    .messages {
      &:before {
        display: none;
      }
    }
    .message {
      padding-top: 5px;
      width: 100%;
      background: url(/images/v2/newspaper/divider_horizontal_older.png) 0 0 repeat-x;
      background: var(--newspaper-divider-horizontal-older-line-url) 0 0 repeat-x;
      max-width: 320px;
      &:first-child {
        padding-top: 20px;
      }
    }
  }
}
