.receivedCanMsg {
  display: block;
  margin: -10px auto 0;
  width: 160px;
  color: #f0d01e;
  font-family: Audiowide, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;

  span {
    display: inline-block;
  }
}

.receivedTimer {
  margin-top: -20px;


  &.crocozade {
    color: #68ec6f;
  }

  &.damp-valley {
    color: #e7f850;
  }

  &.goose-juice {
    color: #f0d01e;
  }

  .timerMessage {
    margin: 3px 0 3px 0;

    & > span {
      display: block;
      margin: 0 auto;
      font-family: Audiowide, sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.3;
      text-transform: uppercase;
    }
  }

  .timer {
    display: block;
    font-family: Audiowide, sans-serif;
    font-size: 19px;
    font-weight: 400;

    div {
      > span {
        min-width: 17px;
        text-align: center;
        display: inline-block;
      }
    }
  }

  .timeLength {
    margin: 0 auto;
    width: 100%;
    font-family: Audiowide, sans-serif;
    font-size: 10px;
    line-height: 1.5;
    text-transform: uppercase;

    & > span {
      display: inline-block;
      width: 30px;
      text-align: center;

      &:not(:first-child):not(:last-child) {
        padding: 0 10px;
      }
    }
  }
}
