.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(/images/v2/newspaper/articles/action_icons.svg);
  filter: drop-shadow(0px 1px 0px #fff);
  filter: var(--reporting-panel-icons-filter);
  margin: 0;
  &.edit {
    background-position: -43px -8px;
    &:hover {
      background-position: -77px -8px;
    }
    &.disabled {
      background-position: -8px -8px;
    }
  }
  &.publish {
    background-position: -43px -78px;
    &:hover {
      background-position: -78px -78px;
      filter: drop-shadow(0px 0px 3px #85b20082);
    }
    &.disabled {
      background-position: -8px -78px;
    }
  }
  &.delete {
    background-position: -43px -113px;
    &:hover {
      background-position: -77px -113px;
      filter: drop-shadow(0px 0px 3px #df00007d);
    }
    &.disabled {
      background-position: -8px -113px;
    }
  }
  &.restore {
    background-position: -43px -146px;
    &:hover {
      background-position: -77px -146px;
    }
    &.disabled {
      background-position: -8px -146px;
    }
  }
  &.unpublish {
    background-position: -43px -180px;
    &:hover {
      background-position: -78px -180px;
    }
    &.disabled {
      background-position: -8px -180px;
    }
  }
}
