.drinksList {

  > li {
    position: relative;
    margin-right: 17px;
    width: 250px;
    height: 500px;
    border-radius: 5px;
    background-size: cover;

    .cans-action {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      box-sizing: border-box;
      width: 100%;
      height: 90px;
      background: transparent;

      .claim {
        padding-top: 30px;
        border-top: 2px solid #f0d01e;
        text-align: center;

        button {
          padding: 0 25px;
          border: 2px solid #f0d01e;
          border-radius: 5px;
          background: none;
          color: #f0d01e;
          font-family: Audiowide, sans-serif;
          font-size: 20px;
          text-transform: uppercase;

          &:hover {
            background: rgba(240, 208, 30, .5);
            cursor: pointer;
            transition: background .3s;
          }

          &.crocozade {
            border-color: #68ec6f;
            color: #68ec6f;

            &:hover {
              background: rgba(104, 236, 111, .5);
            }
          }
        }

        &.crocozade {
          border-top-color: #68ec6f;
        }
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 6px;
        width: 12px;
        height: 78px;
        background-size: contain;
      }

      &::before {
        left: 0;
        background: transparent url(/images/v2/cans-event/items/left_timer.svg) no-repeat;
      }

      &::after {
        right: 0;
        background: transparent url(/images/v2/cans-event/items/rigth_timer.svg) no-repeat;
      }

      &.crocozade {
        &::before {
          left: 0;
          background: transparent url(/images/v2/cans-event/items/left_timer_crocozade.svg) no-repeat;
        }

        &::after {
          right: 0;
          background: transparent url(/images/v2/cans-event/items/right_timer_crocozade.svg) no-repeat;
        }
      }

      &.damp-valley {
        &::before {
          left: 0;
          background: transparent url(/images/v2/cans-event/items/left_timer_damp_valley.svg) no-repeat;
        }

        &::after {
          right: 0;
          background: transparent url(/images/v2/cans-event/items/right_timer_damp_valley.svg) no-repeat;
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      border-radius: 5px;
      opacity: .6;
    }

    &.active {
      &::after {
        animation: .9s linear background-animation;
        animation-iteration-count: infinite;
      }

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 410px;
        background: rgba(255, 255, 255, .5);
      }
    }
  }
}

:global(.r) {
  @media screen and (max-width: 1000px) {
    .drinksList {
      > li {
        width: 100%;
        border-radius: 0 0 5px 5px;;
      }
    }

    .tabsList {
      margin-top: 10px;
      padding-bottom: 4px;
      display: block;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #383838, #2e2e2e);
      text-align: center;
      width: 100%;
      overflow: hidden;


      > li {
        float: left;
        padding-bottom: 0;
        height: 34px;
        margin: 0 -3px;
        width: auto;

        .tab {
          background: none;
          border: none;
          padding: 0;
          font-family: "Arial", Helvetica, sans-serif;
          font-size: 12px;

          > span {
            float: left;
            width: 96px;
            box-sizing: border-box;
            cursor: pointer;
            line-height: 39px;
            text-align: center;
            color: #fff;
            text-decoration: none;
            background: #000;
            height: 34px;
          }

          .l {
            position: relative;
            top: 0;
            border-top-left-radius: 5px;
            transform: skew(-14deg, 0deg);
            left: 4px;
            box-sizing: border-box;
            display: inline-block;
            height: 34px;
            cursor: pointer;
            width: 20px;
            background: #000;
            border-left: 1px solid #3a3a3a;
          }

          .r {
            position: relative;
            top: 0;
            box-sizing: border-box;
            display: inline-block;
            height: 34px;
            cursor: pointer;
            width: 20px;
            background: #000;
            border-top-right-radius: 5px;
            transform: skew(14deg, 0deg);
            right: 4px;
            z-index: 1;
            border-right: 1px solid #3a3a3a;
          }

          .clear {
            clear: both;
          }

          .bg {
            margin: 0;
            height: 0;
            width: 0;
            border: none;
          }

        }

        &.first {

          .tab {
            .l {
              padding-bottom: 1px;
              position: relative;
              margin-bottom: -1px;
              width: 14px;
              height: 34px;
              background: #000;
            }

            .r {
              transform: none;
              width: 21px;
              right: 3px;
            }
          }
        }

        &.last {
          margin-left: -4px;

          .tab {
            .l {
              transform: none;
              width: 20px;
            }
          }
        }

        &.active {
          .tab {
            .l, .r, span {
              background: #2e2e2e;
            }

            .l, .r {
              z-index: 1;
            }
          }
        }

        &:last-child {
          &.active {
            .tab {
              .l, .r {
                z-index: 1;
              }
            }
          }
          .tab {
            > span {
              width: 98px;
            }

            .l, .r {
              z-index: 0;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .tabsList {

      > li {
        .tab {

          > span {
            width: 78px;
          }

          .l {
            width: 16px;
          }

          .r {
            width: 16px;
          }
        }

        &:last-child {
          .tab {
            > span {
              width: 80px;
            }
          }
        }
      }
    }
  }
}
