.switches {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  border-bottom: 1px solid #ccc;
  border-bottom-color: var(--default-panel-divider-outer-side-color);

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      border-top: 1px solid #ccc;
      border-top-color: var(--default-panel-divider-outer-side-color);
    }
  }

  .switchWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;

    &:last-child {
      &::after,
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
      }

      &::after {
        left: -1px;
        background: linear-gradient(0deg, rgba(204, 204, 204, 0) 0%, rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, 0) 100%);
        background: var(--default-divider-left-linear-gradient);
      }

      &::before {
        left: 0;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
        background: var(--default-divider-right-linear-gradient);
      }
    }
  }
}
