.logs {
  border: 1px solid #cbcbcb;
  border-color: var(--preferences-api-table-cb-border-color);
  display: table;
  box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 1), inset 1px 1px 0 0 rgba(255, 255, 255, 1);
  box-shadow: var(--preferences-api-table-logs-box-shadow);
  margin: 10px 0;

  &.expandedLogs {
    margin-left: 10px;
  }

  &.logsMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    color: #444;
    color: var(--default-gray-4-color);
    box-shadow: none;
    border: none;
    margin: 0;
    width: 100%;
  }
}

.row {
  display: table-row;
  flex: 0 0 100%;
  flex-wrap: nowrap;
  color: #444;
  color: var(--default-gray-4-color);

  &:hover:not(:first-child) {
    background: #f2f2f2;
    background: var(--preferences-api-logs-hover-bg);
  }

  &:nth-child(2) {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 1);
    box-shadow: var(--preferences-api-table-box-shadow);
  }

  &:last-child {
    .cell {
      border-bottom: 0;
    }
  }

  &.title {
    .cell {
      height: 34px;
      font-weight: 700;
      padding: 10px 8px;
      border-bottom-color: #cbcbcb;
      border-bottom-color: var(--preferences-api-table-cb-border-color);
    }
  }

  .cell {
    display: table-cell;
    padding: 5px;
    border-bottom: 1px solid #dcdcdc;
    border-bottom-color: var(--preferences-api-table-dc-border-color);
    border-right: 1px solid #dcdcdc;
    border-right-color: var(--preferences-api-table-dc-border-color);
    vertical-align: middle;

    &:last-child {
      border-right: 0;
    }

    &.time {
      width: 117px;
    }

    &.ip {
      width: 100px;
    }

    &.request {
      width: 305px;
      word-break: break-all;
    }

    &.comment {
      width: 90px;
      max-width: 90px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .logs {
      display: block;
      width: 100%;
      border: 0;
      box-shadow: none;
      margin-bottom: 0;

      &.expandedLogs {
        margin-right: 10px;
      }

      &.logsMsg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
        color: #444;
        color: var(--default-gray-4-color);
        box-shadow: none;
        border: none;
        margin-top: 0;
      }
    }

    .row {
      border-bottom: 1px solid #dcdcdc;
      border-bottom-color: var(--preferences-api-table-dc-border-color);
      display: block;

      &:last-child {
        border-bottom: 0;
      }

      &:nth-child(2) {
        box-shadow: none;
      }

      &.title {
        .cell {
          display: none;

          &.request {
            display: none;
          }
        }
      }

      .cell {
        border: 0;
        display: inline-block;
        width: auto;
        padding: 5px 5px 0 5px;

        &.time {
          width: auto;
          margin-right: 34px;

          &::before {
            content: 'Time:';
            font-weight: 700;
            display: inline-block;
            margin-right: 3px;
          }
        }

        &.ip {
          width: auto;

          &::before {
            content: 'IP:';
            font-weight: 700;
            display: inline-block;
            margin-right: 3px;
          }
        }

        &.request {
          width: 100%;
          padding: 0 5px 5px 5px;
          color: #888;
          color: var(--default-gray-8-color);
        }

        &.comment {
          width: auto;
          max-width: unset;
          margin-top: -10px;
          padding-top: 0;

          &::before {
            content: 'Comment:';
            font-weight: 700;
            display: inline-block;
            margin-right: 3px;
          }

          &.hide {
            display: none;
          }
        }
      }
    }
  }
}
