.inputWarningTooltip {
  z-index: 10000;
  position: absolute;
  top: -140%;
  padding: 7px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(17, 17, 17, .28);
  background: #f9f8f8;
  color: red;
  white-space: pre;
  left: calc(50% - 31px);
  transform: translateX(-50%);
  width: max-content;

  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 27px;
    width: 0;
    height: 0;
    border-top: 8px solid #f9f8f8;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    filter: drop-shadow(0 2px 1px rgba(17, 17, 17, .15));
    left: calc(50% - 31px);
    transform: translateX(-50%);
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      top: -100%;
      right: calc(50% + 41px);
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      top: -100%;
      right: calc(50% + 57px);
    }
  }
}

.joinWrap {
  left: 75%;

  &::after {
    left: 35%;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      top: -140%;
      left: 75%;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      top: -140%;
      left: 75%;
    }
  }
}

:global {
  .inputMaxLengthTooltip-enter {
    opacity: 0;

    &.inputMaxLengthTooltip-enter-active {
      transition: opacity .3s linear;
      opacity: 1;
    }
  }

  .inputMaxLengthTooltip-exit {
    opacity: 1;
    transition: opacity .1s linear;

    &.inputMaxLengthTooltip-exit-active {
      opacity: 0;
    }
  }
}
