.modal {
  position: absolute;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(135deg, hsla(0, 0%, 100%, .5) 0, hsla(0, 0%, 100%, .5) 1px, rgba(0, 0, 0, 0) 1.1px, rgba(0, 0, 0, 0) 3.5px), hsla(0, 1.6%, 88%, .89);
  // background: url(/images/v2/attack/attack_game_over_screen.png) left top repeat;
  text-align: center;

  @media #{$screen-desktop} {
    #{$global-r} & {
      &.defender {
        left: 0;
        width: 67%;
      }
    }
  }
  @media #{$screen-tablet} {
    #{$global-r} & {
      &.defender {
        right: 0;
        width: 72.5%;
      }
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      &.defender {
        width: 75%;
      }
    }
  }
}

.transBg {
  background: none;
}

#{$dark-mode} {
  .modal {
    background: repeating-linear-gradient(135deg, #10101080, #2c2a2a80 1px, #42424280 1.1px, #24232380 3.5px), #444141a3;
  }

  .defender {
    border: 1px solid #444;
    box-sizing: border-box;
  }

  .transBg {
    background: none;
  }
}
