$activatorWidth: 35px;
$activatorHeight: 33px;

.dropdown {
  position: relative;
  right: 0;
  z-index: 9999;
  align-self: flex-end;
}

%activatorSide {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  height: $activatorHeight;
}

.activatorIcon {
  width: 0;
  height: 0;
  border-style: solid;
}

.activator {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: $activatorWidth;
  height: $activatorHeight;
  border: none;
  background: linear-gradient(to top, #ccc 10%, rgba(255, 255, 255, .001));
  background: var(--appheader-menu-activator-background);
  cursor: pointer;
  outline: none;

  &.active {
    background: linear-gradient(to top, #ccc 10%, rgba(255, 255, 255, .001));
    background: var(--appheader-menu-activator-background);
  }

  &.active .activatorIcon {
    margin-top: 2px;
    margin-left: 2px;
    border-width: 5px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    border-color: var(--appheader-activator-icon-active-color) transparent transparent transparent;
  }

  &:not(.active) .activatorIcon {
    margin-top: 2px;
    margin-left: 3px;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #777;
    border-color: transparent transparent transparent var(--appheader-activator-icon-color);
  }

  &::before {

    @extend %activatorSide;

    left: -2px;
    width: 3px;
    background:
      radial-gradient(circle at top, #ccc, rgba(255, 255, 255, .001)),
      linear-gradient(to left, #fff, #fff 1px, rgba(#000, .25) 1px, rgba(255, 255, 255, .001));
    background: var(--appheader-menu-activator-left-border);
  }

  &::after {

    @extend %activatorSide;

    right: -2px;
    width: 3px;
    background:
      radial-gradient(circle at top, #ccc, rgba(255, 255, 255, .001)),
      linear-gradient(to right, #fff, #fff 1px, rgba(#000, .25) 1px, rgba(255, 255, 255, .001));
    background: var(--appheader-menu-activator-right-border);
  }

  &:not(.active):hover {
    background:
      linear-gradient(0deg, rgba(#fff, .2) 0%, rgba(255, 255, 255, .001) 70%),
      linear-gradient(to top, #ccc 10%, rgba(255, 255, 255, .001));
    background: var(--appheader-menu-activator-background-hover);
  }
}
