.list {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid #fff;
  border: var(--appheader-dropdown-border);
  border-radius: 5px 0 5px 5px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .25);
  box-shadow: var(--appheader-dropdown-shadow);
  background-color: #ccc;
  background-color: var(--appheader-dropdown-background);

  &::before {
    content: '';
    position: absolute;
    top: -3px;
    right: 0;
    left: calc(100% - 33px);
    height: 3px;
    background-color: #ccc;
    background-color: var(--appheader-dropdown-background);
  }
}
