.listItem {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding-top: 1px;
  display: flex;
  height: 30px;
  border-top: 1px solid #ebebeb;
  border-top: var(--appheader-dropdown-links-border);
  box-shadow: 0 1px 0 #ffffff1a inset;
  box-shadow: var(--appheader-dropdown-links-box-shadow);
  background-color: #ccc;
  background-color: var(--appheader-dropdown-links-background-color);

  &:first-child {
    border-top-color: transparent;
    box-shadow: none;
  }

  &:last-child {
    border-bottom-color: transparent;
  }

  &:hover {
    background-color: #f0f0f0;
    background-color: var(--appheader-dropdown-links-background-hover-color);
  }
}
