.gameControl {
  display: flex;
  flex-wrap: wrap;
}

.fieldWrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 200px;

  .filedLabel {
    width: 50%;
  }

  .fieldInput {
    width: 50%;
    height: 20px;
    background: #fff;
    color: #444;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: center;
  }
}

.inputsSection {
  margin-right: 20px;
}

.cardsSection {
  display: block;
}

.cardsFieldWrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 400px;

  @media #{$screen-mobile} {
    &.community {
      display: block;

      .cardsFieldLabel {
        margin-bottom: 5px;
      }
    }
  }

  .cardsFieldLabel {
    width: 35%;
  }

  .cardsFieldValueWrap {
    width: 65%;
  }
}

.actions {
  display: flex;
  width: 100%;

  & > * {
    margin-right: 10px;
  }
}
