.titleContainer {
  display: flex;
  flex: 2;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-weight: bold;
  color: #333;
  color: var(--appheader-title-color);
  overflow: hidden;

  .title {
    margin: 0;
    margin-bottom: 4px;
    line-height: inherit;
    line-height: 1.6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media screen and (max-width: 1000px) {
      #{$global-r} & {
        position: relative;
        top: -2px;
        margin: 0;
        line-height: 2.4;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      flex: 3;
      align-items: flex-end;
      max-height: 39px;
    }
  }
  @media screen and (max-width: 600px) {
    #{$global-r} & {
      padding-left: 5px;
    }
  }
}
