.formGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  > *:not(:last-child) {
    margin-right: 30px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.inline {
  justify-content: flex-start;
}
