.arrowWrap {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  z-index: 15;
  display: block;
  width: 25px;
  height: 100%;
  cursor: pointer;
}

.disableHover {
  cursor: default;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
