.wrap {
  opacity: 1;
}

.scrollWrap {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(.02, rgba(0, 0, 0, 0)), color-stop(.03, #00000014),  color-stop(.05, #000), color-stop(.1, #000), color-stop(.15, #000), color-stop(.35, #fff), color-stop(.5, #000), color-stop(.65, #000), color-stop(.85, #000), color-stop(.9, #000), color-stop(1, rgba(0, 0, 0, 0)), color-stop(.95, #000), color-stop(.97, #00000014), color-stop(.98, rgba(0, 0, 0, 0)), color-stop(100, rgba(0, 0, 0, 0)));
  mask-image: linear-gradient(to right, #fbfbfb00 1%, #fbfbfbfa 4%, rgb(255, 255, 255) 4%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 96%, #fbfbfbfa 96%, #fbfbfb00 99%);

  @media #{$screen-tablet} {
    #{$global-r} & {
      -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(.02, rgba(0, 0, 0, 0)), color-stop(.03, rgba(0, 0, 0, .01)), color-stop(.05, #0000), color-stop(.1, #000), color-stop(.15, #000), color-stop(.35, #fff), color-stop(.5, #000), color-stop(.65, #000), color-stop(.85, #000), color-stop(.9, #000), color-stop(.95, #0000), color-stop(.97, rgba(0, 0, 0, 0.01)), color-stop(.98, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0)));
      mask-image: linear-gradient(to right, #fbfbfb00 2%, #fbfbfbfa 8%, rgb(255, 255, 255) 8%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 92%, #fbfbfbfa 92%, #fbfbfb00 98%);
    }
  }
}

.carouselContainer {
  margin: 0 25px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.carouselContainerBasic {
  cursor: default;
}

.restrictPointerEventsOnScroll {
  cursor: grab;
}

.restrictPointerEventsOnScroll * {
  pointer-events: none;
}

.noScrollMask {
  mask-image: unset;
  -webkit-mask-image: unset;

  @media #{$screen-tablet} {
    #{$global-r} & {
      mask-image: unset;
      -webkit-mask-image: unset;
    }
  }
}

.noArrowsMargin {
  margin: 0;
}
