:global(.d .faction-info-wrap .members-list) {
  --sort-arrow-color: #ccc;
  --sort-arrow-border-color: #fff;
}

:global(.dark-mode .faction-info-wrap .members-list) {
  --sort-arrow-color: #000;
  --sort-arrow-border-color: #000;
}

:global(.d .faction-info-wrap .members-list) {
  .membersCol {
    padding: 0;
    width: 35%;
  }

  .positionCol {
    width: 15%;
  }

  .hide {
    display: none;
  }

  .searchButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;

    .searchIcon {
      fill: #bbb;
    }

    &:hover {
      .searchIcon {
        fill: #999;
      }
    }
  }

  .searchPlaceholder {
    padding-left: 5px;
  }

  .searchInput {
    box-sizing: border-box;
    width: 100%;
    height: 24px;
    padding: 5px 25px 5px 10px;
    font-weight: 400;
  }

  .sortIcon {
    margin: auto;
    position: relative;
    z-index: 1;
    display: none;

    &.activeIcon {
      display: block;
    }

    &.desc {
      top: 2px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: var(--sort-arrow-border-color) transparent transparent transparent;
    }

    &.desc::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-top: 5px solid var(--sort-arrow-color);
      border-right: 5px solid transparent;
      position: absolute;
      top: -6px;
      left: -5px;
    }

    &.asc {
      top: -5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 6px 6px;
      border-color: transparent transparent var(--sort-arrow-color) transparent;
    }

    &.asc::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-bottom: 6px solid var(--sort-arrow-border-color);
      border-right: 5px solid transparent;
      position: absolute;
      top: 1px;
      left: -5px;
    }
  }
}

@media screen and (max-width: 1000px) {
  :global(.d .faction-info-wrap .members-list) {
    .membersCol {
      width: 44%;
    }

    .positionCol {
      width: 20%;
    }
  }
}
@media screen and (max-width: 600px) {
  :global(.d .faction-info-wrap.another-faction .members-list) {
    .membersCol {
      width: 53%;
    }

    .lvlCol {
      width: 12%;
    }
  }
}
