@media #{$screen-tablet} {
  :global(.r .header .find) {
    .searchTypeOptions {
      position: initial;
      padding-top: 0;
      height: initial;
      border: none;
      box-shadow: none;
      background: none;

      .optionsList {
        padding: 0;
        overflow: initial;
      }
    }
  }
}
