.managingPanel {
  .wrapper {
    padding: 10px;

    .infoBlock {
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;

      .infoBlockRow {
        margin: 0 0 10px 0;

        &:last-child {
          margin: 0;
        }

        .infoValue {
          font-weight: 400;
        }
      }

      .infoStatus {
        color: #4d7c1e;
      }
    }

    .startHeadlines {
      margin: 10px 0 0 0;
      text-transform: uppercase;
    }
  }
}
