.allLayers {
  width: 100%;
  height: 100%;
  top: 0;
  position: relative;
}

.center {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}

.modelLayers {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  width: 240px;
  height: inherit;
  composes: center;

  @media #{$screen-mobile} {
    #{$global-r} & {
      padding-top: 0;
    }
  }
}

.model {
  position: absolute;
  z-index: 2;
  width: inherit;
  height: 386px;

  @media #{$screen-mobile} {
    #{$global-r} & {
      height: 399px;
    }
  }
}

.armour,
.mask,
.background,
.backgroundImage,
.hairMask,
.itemImg {
  position: absolute;
  z-index: 3;
}

.itemImg {
  position: relative;
}

.background,
.backgroundImage {
  z-index: 0;
}

.armoursWrap {
  opacity: 1;
  position: absolute;
  width: inherit;
  height: 386px;

  @media #{$screen-mobile} {
    #{$global-r} & {
      height: 399px;
    }
  }
}

.bulletsWrap {
  position: absolute;
  top: -13px;
  left: -5px;
  width: inherit;
  height: inherit;
  pointer-events: none;

  @media #{$screen-mobile} {
    #{$global-r} & {
      top: -20px;
      left: -4px;
    }
  }
}
