$width: 418px;
$height: 425px;
$padding: 10px;

.effectWrap,
.perkWrap {
  display: flex;
  justify-content: center;
  pointer-events: none;
  user-select: none;
}

.perkWrap {
  .perkBcg {
    opacity: 1;
    // z-index: 0; removed for temporary reasons until svg masks will be done.
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.bottomLayer {
  position: absolute;
  z-index: 3;
}

.topLayer {
  position: absolute;
  z-index: 3;
}

.effect {
  width: $width;
  height: $height;
  background-image: url(/images/v2/attack/effects_v3.png);
  background-repeat: no-repeat;
  transition: opacity 1s linear;
  animation: fadein .5s ease-in;

  // @media #{$screen-tablet} {
  //   #{$global-r} & {
  //     width: 418px;
  //     height: 438px;
  //   }
  // }

  @media #{$screen-mobile} {
    #{$global-r} & {
      top: -20px;
    }
  }
}

.noEnterAnim {
  // transition: none;
  animation: none;
}

@mixin effect($name, $indexInSprite) {
  .#{$name} {
    composes: effect;

    &.bottomLayer {
      background-position: -#{$indexInSprite * ($width + $padding) + $padding} -#{1 * ($height + $padding) + $padding};
    }

    &.topLayer {
      background-position: -#{$indexInSprite * ($width + $padding) + $padding} -#{0 * ($height + $padding) + $padding};
    }
  }
}

@include effect(blinded, 0);
@include effect(smoked, 1);
@include effect(gassed, 2);
@include effect(maced, 3);
@include effect(strengthened, 4);
@include effect(hastened, 5);
@include effect(hardened, 6);
@include effect(sharpened, 7);
@include effect(contaminated, 8);
@include effect(disoriented, 9);
@include effect(severe_burning, 10);
@include effect(chilled, 11);
@include effect(frozen, 12);
@include effect(sleeping, 13);
@include effect(burning, 14);
@include effect(poisoned, 15);
@include effect(demoralized, 16);
@include effect(bleeding, 17);
@include effect(crippled, 18);
@include effect(eviscerated, 19);
@include effect(loot_1, 20);
@include effect(loot_2, 21);
@include effect(loot_3, 22);
@include effect(loot_4, 23);
@include effect(loot_5, 24);
@include effect(motivated, 25);
@include effect(paralyzed, 26);
@include effect(slowed, 27);
@include effect(stunned, 28);
@include effect(supressed, 29);
@include effect(weakened, 30);
@include effect(withered, 31);
@include effect(concussed, 32);
@include effect(lacerate, 33);
@include effect(insanity, 34);
@include effect(blast, 35);
@include effect(essokinesis, 36);
@include effect(confetti, 37);
