@import './constants.cssmodule.scss';

@keyframes spinIn {
  0% {
    transform: scale(1) rotate(-180deg);
    opacity: 0;
  }

  25% {
    transform: scale(1.2) rotate(-150deg);
    opacity: .1;
  }

  50% {
    transform: scale(2) rotate(-90deg);
    opacity: .5;
  }

  80% {
    transform: scale(1.5) rotate(-36deg);
    opacity: .8;
  }

  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
}
@keyframes spinOut {
  0% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }

  5% {
    transform: scale(1.15) rotate(-10deg);
    opacity: 1;
  }

  10% {
    transform: scale(1.5) rotate(20deg);
    opacity: .9;
  }

  50% {
    transform: scale(.8) rotate(100deg);
    opacity: .5;
  }

  80% {
    transform: scale(.7) rotate(150deg);
    opacity: .2;
  }

  100% {
    transform: scale(.5) rotate(180deg);
    opacity: 0;
  }
}

.expStar-enter {
  opacity: 0;

  &.expStar-enter-active {
    opacity: 1;
    animation-name: spinIn;
    animation-duration: #{$duration / 2};
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 1;
  }
}

.expStar-exit {
  opacity: 1;

  &.expStar-exit-active {
    opacity: 0;
    animation-name: spinOut;
    animation-duration: #{$duration / 2};
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
}

.fadeStyles-enter {
  opacity: .01;

  &.fadeStyles-enter-active {
    opacity: 1;
    transition: opacity #{$duration} ease-in;
  }
}

.fadeStyles-leave {
  opacity: 1;

  &.fadeStyles-leave-active {
    opacity: .01;
    transition: opacity #{$duration} ease-in;
  }
}
