@import './constants.cssmodule.scss';

@keyframes flash {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes shrink {
  to {
    width: 0;
  }
}

.experienceBarWrap {
  top: 0;
  height: 15px;
}

.experienceBarWrap,
.barWrap {
  position: relative;
  z-index: 13;
}

.barBg {
  position: absolute;
  top: 0;
  right: 40px;
  left: 40px;
  z-index: 1;
  height: 13.5px;
  border-top: 1px solid #fff;
  border-top: var(--barBg-border);
  border-bottom: 1px solid #fff;
  border-bottom: var(--barBg-border);
  box-shadow: 0 2px 1px -1px #d2d2d2;
  box-shadow: 0 2px 1px -1px var(--barBg-shadow-color);
  background: transparent linear-gradient(180deg, #ccc 0%, #eee 100%) 0% 0% no-repeat padding-box;
  background: var(--barBg-background);
}

.barBgFull {
  right: 0;
  left: 0;
  box-shadow: 0 1px 1px 0 #75757594;
}

.barBgFullWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.barMiddleSVG {
  position: absolute;
  top: -10px;
  z-index: 1;
}

.bar {
  position: relative;
  top: 3px;
  margin: 0 3px;
  height: 8px;
  background-position: 0 -70px;
}

.progressWrapper {
  position: absolute;
  top: 5px;
  left: 0;
  height: 4px;
  transition: width .35s ease-out;
}

.progress {
  display: block;
  position: relative;
  width: 100%;
  height: inherit;
  background: repeating-linear-gradient(90deg, #8da94e, #8da94e 1px, #d1e694 0, #d1e694 2px);
  background: var(--progress-background);

  &::after {
    content: '';
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .050980392156862744) 0, #4e5243b8);
    background: var(--progress_after-background);
  }
}

.progressBcg {
  z-index: 0;
  top: -2px;
  height: 8px;
  background: #f8ffe5;
  background: var(--bar-background);
  position: absolute;
  display: block;
  width: 100%;
}

.expDividers {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 14px;
  overflow: hidden;
}

.expDivider {
  width: 1px;
  height: 10px;
  overflow: hidden;
  background: #fff 0 0% no-repeat padding-box;
  background: var(--bar-exp-divider-color) 0 0% no-repeat padding-box;
  box-shadow: 1px 0 0 #00000012;
}

.barWrap {
  top: .9px;
  z-index: 2;
  margin: 0 auto;
  width: calc(100% - 25px);
  height: 14px;
  overflow: hidden;

  * {
    pointer-events: none;
  }

  &.final {
    animation-name: shrink;
    animation-duration: .8s;
    animation-delay: .6s;
    animation-fill-mode: forwards;
  }

  .bar {
    height: 10px;
    top: 2px;
    z-index: 1;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #ccc;
    border: var(--bar-border);
    border-radius: 10px;
    box-shadow: 0 0 5px #ffffffa6;
    box-shadow: var(--bar-boxShadow);
  }

  .progress {
    z-index: 2;
  }

  .expDivider {
    z-index: 3;
  }
}

.lvlWrap {
  margin: 0 4px;
  width: 25px;
  height: 25px;
}

.next,
.current {
  position: absolute;
  top: -4px;
  z-index: 3;
}

.progress.final::before {
  float: left;
  transform: rotateZ(180deg);
}

.progress.final::after {
  float: right;
}

.next {
  left: 748px;
}

.current {
  left: 0;
}

.last {
  position: absolute;
  top: -4px;
  right: 0;
  left: 6px;
  z-index: 3;
  margin: auto;
  width: 31px;
  background: none;
}

.barHighlighterWrap {
  position: absolute;
  top: 5px;
  height: 4px;
  width: 0;
  transition: width .35s ease-out;
}

.barHighlighter {
  position: absolute;
  left: 0;
  z-index: 1111111;
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, rgba(11, 255, 71, .27) 1%, rgba(0, 235, 58, .68) 46%);
}

.mainBackground {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 0;
  height: 0;

  .l,
  .r {
    position: absolute;
    filter: drop-shadow(0 1px .5px #fff);
    filter: drop-shadow(0 1px .5px var(--bar-level-holder-shadow-color));
  }

  .l {
    top: -8px;
    left: 0;
  }

  .r {
    top: -9px;
    right: -1px;
  }
}

#{$global-r} {

  @media #{$screen-tablet} {
    .next {
      left: 352px;
    }
  }
  @media #{$screen-mobile} {
    .next {
      left: 286px;
    }
  }
}
