@import '../../styles/global.cssmodule.scss';

// TODO: this is a dirty hack!!! Improve this in future
.preloaderChip {
  background: url(/casino/loader/images/chip_light.svg), radial-gradient(#464637 0%, #464637 65%, transparent 65%, transparent 100%);
  position: absolute;
  width: 272px;
  height: 272px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  :global(.progressWrap) {
    transform: translate(-6px, -21px);
  }
}

#{$dark-mode} .preloaderChip {
  background: url(/casino/loader/images/chip_dark.svg);
}
