.resultSelector {
  font-size: 12px;

  option {
    height: 18px;
  }

  .active {
    font-weight: bold;
  }
}

.change {
  cursor: pointer;
  color: blue;
  padding: 0;
  margin: 0;
  border: 0;

  &.subButton {
    margin-left: 5px;
  }

  &:disabled {
    color: gray;
  }
}
