.message {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
}

.messageDescription {
  text-align: center;
  line-height: 16px;
}

.messageButtons {
  display: flex;
  margin-top: 8px;
}

.messageButton {
  color: #006699;
  cursor: pointer;
  padding: none;
  border: none;

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.important {
  margin-top: 9px;

  .messageButton {
    font-weight: bold;
  }
}

.textRow {
  display: block;
}
