.board {
  flex-grow: 1;
  background: url(/images/v2/christmas_town/minigames/spin_the_wheel/976/976_bg.jpg);
  position: relative;

  @media #{$screen-tablet} {
    #{$global-r} & {
      background: url(/images/v2/christmas_town/minigames/spin_the_wheel/578/578_bg.jpg);
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      background: url(/images/v2/christmas_town/minigames/spin_the_wheel/320/320_bg.jpg);
    }
  }
}

.candyCane {
  width: 89px;
  height: 84px;
  background: url(/images/v2/christmas_town/minigames/spin_the_wheel/976/976_candy_cane.png);
  position: absolute;
  right: 8px;
  top: 20px;
  // animation: candyCaneAnimation 30s cubic-bezier(0.68, -0.2, 0.32, 1.6) infinite;

  &.active {
    animation: none;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 78px;
      height: 74px;
      right: 1px;
      top: 4px;
      background: url(/images/v2/christmas_town/minigames/spin_the_wheel/578/578_candy_cane.png);
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 68px;
      height: 64px;
      right: -1px;
      top: 3px;
      background: url(/images/v2/christmas_town/minigames/spin_the_wheel/320/320_candy_cane.png);
    }
  }
}

// @keyframes candyCaneAnimation {
//   0% {
//     transform: rotate(-1440deg);
//   }

//   10% {
//     transform: rotate(-25deg);
//   }

//   13% {
//     transform: rotate(0deg);
//   }
// }

.flakes {
  width: 453px;
  height: 454px;
  background: url(/images/v2/christmas_town/minigames/spin_the_wheel/976/976_snow_flakes.png);
  position: absolute;
  left: 0px;
  top: 0px;
  animation-name: flakesAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;

  &.active {
    animation-name: flakesSpinAnimation;
    animation-duration: 3s;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 392px;
      height: 391px;
      left: -6px;
      top: -5px;
      background: url(/images/v2/christmas_town/minigames/spin_the_wheel/578/578_snow_flakes.png);
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      width:320px;
      height: 319px;
      top: -6px;
      background: url(/images/v2/christmas_town/minigames/spin_the_wheel/320/320_snow_flakes.png);
    }
  }
}

@keyframes flakesAnimation {
  0% {
    opacity: 0.5;
  }

  25% {
    opacity: 0.7;
  }

  50% {
    opacity: 0.3;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}


@keyframes flakesSpinAnimation {
  0% {
    opacity: 0.5;
  }

  25% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.3;
    // transform: rotateZ(0.5deg);
  }

  75% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.5;
  }
}
