.campaigns {
  contain: layout;
  background-color: #f2f2f2;
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  * {
    box-sizing: border-box;
  }
}
.row {
  display:flex;
  flex-wrap: wrap;
  color: #666;
  cursor: pointer;
  &.empty {
    height: 34px;
  }
  &:hover {
    background-color: #ffffffad;
  }
  &.header {
    font-weight: 700;
    color: #333;
    &:hover {
      background-color: transparent;
    }
    .cell {
      position: relative;
      &:hover {
        background-color: #ffffffad;
      }
      &.selected {
        background-color: #fff;
        padding-left: 15px;
        &:before {
          content: '';
          width: 10px;
          height: 6px;
          float: left;
          position: absolute;
          left: 3px;
          top: 15px;
        }
        &.asc:before {
          background: url(/images/v2/main/arrow_down.png) left bottom no-repeat;
        }
        &.desc:before {
          background: url(/images/v2/main/arrow_up.png) left bottom no-repeat;
          top: 13px;
        }
      }
    }
  }
  &.selected {
    background-color: #fff;
  }
  &:last-child {
    .cell {
      border-bottom: 0;
    }
  }
  .row {
    &:last-child {
      border-bottom: 1px solid #cbcbcb;
    }
    .cell {
      border-color: #ededed;
    }
  }
}
.cell {
  height: 34px;
  padding: 10px 8px;
  border-left: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  text-align: right;
  &.down {
    background-color: rgba(108, 162, 54, 0.2);
  }
  &.up {
    background-color: rgba(229, 76, 25, 0.15);
  }
  &:first-child {
    border-left: 0;
  }
  &.name, &.campaign, &.country {
    width: 315px;
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.visits {
    width: 62px;
  }
  &.acts {
    width: 55px;
  }
  &.engaged {
    width: 74px;
  }
  &.actives {
    width: 68px;
  }
  &.donators {
    width: 77px;
  }
  &.referrals {
    width: 78px;
  }
  &.today {
    width: 59px;
  }
  &.tier {
    width: 50px;
  }
  &.age {
    width: 81px;
  }
  &.score {
    width: 56px;
    font-weight: 700;
    &.down {
      color: #678c00;
    }
    &.up {
      color: #d83500;
    }
  }
  .row {
    flex-basis: 100%;
    display: flex;
    cursor: default;
  }
}
b {
  font-weight: 700;
}