.skeletonWrap {
  width: 784px;
  height: 100%;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 386px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 320px;
    }
  }
}

.skeletonHeader {
  width: 100%;
  height: 35px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(180deg, #fff 0, #e0edf3 99%);
  border-bottom: 1px solid #bfd0d8;

  @media #{$screen-mobile} {
    #{$global-r} & {
      border-top-left-radius: none;
      border-top-right-radius: none;
    }
  }
}

.skeletonBody {
  width: 100%;
  height: calc(100% - 35px);
  background: #fff;
  animation-name: skeletonWrap;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  @media #{$screen-tablet} {
    position: relative;
    height: 651px;

    #{$global-r} & {
      &::after {
        content: '';
        width: 100%;
        height: 138px;
        display: block;
        background: #fff;
        position: absolute;
        bottom: 0;
        transform: translateY(107%);
        border-radius: 5px;
      }
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      height: 73%;

      &::after {
        border-radius: 0;
      }
    }
  }
}

.ctContainer {
  width: 100%;
  height: 502px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: 835px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      height: 683px;
    }
  }
}

.lobbyContainer {
  width: 100%;
  height: 203px;
}

.lobbyBody {
  composes: skeletonBody;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: inherit;

      &::after {
        content: none;
      }
    }
  }
}

hr.hrDelimiter {
  box-sizing: border-box;
  height: 1px;
  border: 0;
  box-shadow: 0 1px 0 #ebebeb;
  background: #999;
  margin: 10px 0;
}

@keyframes skeletonWrap {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .85;
  }

  100% {
    opacity: 1;
  }
}
