.description {
  padding: 10px;
  overflow: hidden;
  border-radius: 5px;
  text-align: center;

  p {
    line-height: 14px;
  }

  a {
    color: #069;
    color: var(--default-blue-color);
    text-decoration: none;
  }

  a:hover {
    color: #999;
    color: var(--default-gray-9-hover-color);
  }

  .d .user-cont p {
    line-height: 14px;
  }

  .d .user-cont img {
    max-width: 764px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      img {
        max-width: 366px;
      }
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      p {
        text-align: center;
      }

      img {
        max-width: 300px;
      }
    }
  }
}
