.tab {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding-right: 7px;
  padding-left: 7px;
  border: none;
  background: linear-gradient(to bottom, #fff, #ddd);
  color: #777;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  user-select: none;
  outline: none;
  background: var(--default-tabs-bg-gradient);
  color: var(--default-gray-6-color);
  text-shadow: var(--tabs-text-shadow);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .001), #fff, rgba(255, 255, 255, .001));
    background: var(--default-divider-left-linear-gradient);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    width: 1px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .001), #ddd, rgba(255, 255, 255, .001));
    background: var(--default-divider-right-linear-gradient);
  }

  &:first-child::before,
  &:first-child::after {
    display: none;
  }

  &:last-child {
    border-right: 0;
  }

  &:not(.insensitive) {
    cursor: pointer;
  }

  &.active:not(.insensitive),
  &:hover:not(.insensitive) {
    background: linear-gradient(to bottom, #ddd, #fff);
    background: var(--tabs-active-bg-gradient);
  }

  &.insensitive {
    justify-content: unset;
    padding-right: 11px;
    padding-left: 11px;

    &:first-child {
      padding-left: 6px;
    }

    &:last-child {
      padding-right: 3px;
      padding-left: 3px;
    }
  }

  &.single {
    justify-content: left;

    &:first-child {
      padding-left: 10px;
    }
  }

  @media (max-width: 1000px) {
    #{$global-r} & {
      background: #f2f2f2;
      background: var(--default-bg-panel-color);

      &::before,
      &::after {
        display: none;
      }

      &.insensitive:not(.single):first-child {
        padding-right: 5px;
        padding-left: 10px;
      }

      &.insensitive:not(.single):last-child {
        padding-right: 10px;
        padding-left: 5px;
      }

      &.tab {
        :global {
          .react-dropdown-default {
            width: 178px;

            .toggler {
              height: 34px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 600px) {
    #{$global-r} & {
      &::before,
      &::after {
        display: none;
      }

      &.insensitive:not(.single):first-child {
        padding-right: 5px;
        padding-left: 11px;
      }

      &.insensitive:not(.single):last-child {
        padding-right: 11px;
        padding-left: 5px;
      }

      &.tab {
        :global {
          .react-dropdown-default {
            width: 144px;

            .toggler {
              height: 34px;
            }
          }
        }
      }
    }
  }
}
