$color-blue: linear-gradient(#6b84da, #444ad0);
$color-red: linear-gradient(#da6a70, #d1584a);

.wrap {
  font-size: 0;
  height: 6px;
  width: 100%;
  position: relative;
  background-image: linear-gradient(rgba(115, 115, 115, .4), rgba(180, 180, 180, .4));
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .07), 0 1px 0 rgba(255, 255, 255, .35);
}

.generic {
  position: absolute;
  top: 0;
  height: 100%;
}

.progress {
  composes: generic;
  background-image: $color-blue;
  overflow: hidden;
}

.progressOut {
  transition: width .5s ease-out;
}

.pure {
  position: relative;
  composes: generic;
  background-image: $color-blue;
  overflow: hidden;

  &::after {
    content: '';
    background-image: $color-red;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: opacity .5s ease-out;
  }
}

.pureIn {
  &::after {
    opacity: 1;
  }
}

.pureOut {
  transition: all .5s ease-out;

  &::after {
    transition: all .5s ease-out;
    opacity: .5;
  }
}

.increase {
  opacity: 0;
  composes: generic;
  box-shadow: 0 1px 2px rgba(255, 255, 255, .65);
  background-image: linear-gradient(#fff, rgb(210, 232, 188));
}

.increaseIn {
  transition: opacity .5s linear;
  opacity: 1;
}

.increaseOut {
  transition: all .5s linear;
  opacity: .5;
}

.mitigated {
  opacity: 0;
  composes: generic;
  box-shadow: 0 1px 2px rgba(255, 255, 255, .65);
  background-image: linear-gradient(#fff, #b0bdeb);
  transition: left, opacity .5s linear;
}

.mitigatedIn {
  opacity: 1;
}

.mitigatedOut {
  opacity: 0;
}

#{$dark-mode} {
  .wrap {
    box-shadow: unset;
  }
}
