.weaponList {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  order: 2;
  width: 159px;
  overflow: hidden;

  @media #{$screen-tablet} {
    #{$global-r} & {
      order: 1;
    }
  }

  // phone

  @media #{$screen-mobile} {
    #{$global-r} & {
      flex-direction: column;
      width: 80px;
    }
  }
}
// .weaponWrapper and .weaponWrapperSmall
// only define position and sizing
.weaponWrapper {
  box-sizing: border-box;
  flex: 0 0 100%;
  height: 96px;

  &:not(:last-child) {
    margin-bottom: 1px;
  }
  // phone

  & > * {
    user-select: none;
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      flex: 1;
    }
  }
}

.weaponWrapperSmall {
  box-sizing: border-box;
  flex: 1;
  justify-content: center;
  height: 67px;
  // when there is fist and kisk make a gap between
  &:nth-child(6) {
    margin-left: 1px;
  }
  // phone

  @media #{$screen-mobile} {
    #{$global-r} & {
      flex: 1;

      &:not(:last-child) {
        margin-bottom: 1px;
      }
    }
  }
}
