@import '../../../styles/editors.cssmodule.scss';

$color-blue: #18a2cf;
$color-blue-hover: #107fcf;
$npcs: santa grinch penguin tattooedLady beardedLady siameseTwins shortestMan tallestMan strongMan tiger;

.inputName {
  composes: input;
  margin-right: 10px;
  width: 530px;
}

.inputCode {
  composes: input;
  width: 25px;
}

.inputSpeed,
.inputRadius {
  composes: input;
  margin-right: 10px;
  width: 48px;
}

.chanceInput {
  composes: input;
  margin-right: 10px;
  width: 28px;
  border-radius: 5px;
  text-align: center;
}

.editorContent {
  position: relative;
  min-height: 630px;
  min-width: 630px;
  border-bottom-left-radius: 5px;
  background-color: #fff;
  background-color: var(--ct-panel-bg);
  box-shadow: var(--ct-section-inner-top-shadow);
}

.mainSection {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-bottom-color: var(--ct-editor-content-divider-color);
}

.npcImage {
  margin-right: 10px;
  width: 120px;
  height: 120px;
  border: 1px solid #ddd;
  border-radius: 50% 0 50% 50%;

  @each $npc in $npcs {
    &.#{$npc} {
      background: url(/images/v2/christmas_town/npc/preview_images/#{$npc}.png);
    }
  }
}

.mainOptions {
  display: flex;
  flex-wrap: wrap;
  width: 610px;

  .radiusInputWrapper {
    position: relative;

    .radiusInputTooltip {
      box-sizing: border-box;
      position: absolute;
      left: -42%;
      bottom: 37px;
      display: block;
      padding: 9px;
      width: 194px;
      background-color: #fff;
      background-color: var(--ct-panel-bg);
      text-align: center;
      box-shadow: 0 0 2px #00000073;
      z-index: 100;
      line-height: 16px;
      color: #858585;
      color: var(--ct-editor-default-library-font-color);

      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: -9px;
        left: 50%;
        margin-left: -7px;
        width: 15px;
        height: 15px;
        background-color: #fff;
        background-color: var(--ct-panel-bg);
        border: 1px solid #00000025;
        border-top-width: 0;
        border-left-width: 0;
        transform: rotate(45deg);
      }
    }
  }

  .colorPickerWrapper {
    margin-top: 8px;
  }
}

.ornamentSection {
  display: flex;
  padding: 20px 10px;
  border-bottom: 1px solid #ddd;
  border-bottom-color: var(--ct-editor-content-divider-color);
}

.dropdown {
  width: 130px;
}

.outcomesSection {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 0 10px 10px;
  border-bottom: 1px solid #ddd;
  border-bottom-color: var(--ct-editor-content-divider-color);

  .messageInput {
    box-sizing: border-box;
    padding: 10px;
    min-height: 78px !important;
    width: 100% !important;
    border: 1px solid #ddd;
    border-color: var(--ct-default-input-border-color);
    border-radius: 3px;
    resize: none;
  }

  .insertClueMessage {
    margin: -8px 0 10px 10px;
    width: 375px;
    color: #aaa;
    color: var(--ct-npc-editor-clue-color);
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    line-height: 14px;
  }

  .outcomeInputsWrapper {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-items: flex-end;

    .outcomeDropdown {
      margin-right: 10px;
    }

    .chanceError {
      left: -30px;
      width: 85px;
    }
  }
}

.formFooter {
  padding: 0 10px 10px;

  .cancelButton {
    display: inline-block;
    margin-right: 10px;
    color: #0a9dcd;
    color: var(--ct-secondary-button-color);
    cursor: pointer;
  }
}

.removeOutcome {
  margin-top: 14px;
}

.removeOutcome,
.addOutcome {
  color: $color-blue;
  color: var(--ct-secondary-button-color);
  cursor: pointer;

  .icon {
    margin-right: 10px;
    fill: $color-blue;
    fill: var(--ct-secondary-button-color);
    filter: var(--ct-editor-default-icon-filter);
  }

  &:hover {
    color: $color-blue-hover;
    color: var(--ct-secondary-button-color-hover);

    .icon {
      fill: $color-blue-hover;
      fill: var(--ct-secondary-button-color-hover);
    }
  }

  &:disabled,
  &.disabled {
    color: #ccc;
    color: var(--ct-editor-secondary-button-color-disabled);

    .icon {
      fill: #ccc;
      fill: var(--ct-editor-secondary-button-color-disabled);
    }
  }
}

.addOutcomeWrapper {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-bottom-color: var(--ct-editor-content-divider-color);
}

.disabled {
  color: #ccc;
  pointer-events: none;
}

.spanBtn {
  padding: 0;
  border: none;
  background: none;
  color: #0a9dcd;
  color: var(--ct-secondary-button-color);
  font-family: 'Fjalla One', sans-serif;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    color: $color-blue-hover;
    color: var(--ct-secondary-button-color-hover);
  }

  &.disabled {
    color: #ccc;
    color: var(--ct-editor-secondary-button-color-disabled);
    pointer-events: none;
  }
}

:global(.ct-admin-wrap) {
  .formFooter {
    .saveCancelContainer {
      margin-top: 0;

      &::after {
        content: '';
        display: block;
        clear: both;
      }

      .buttonsWrap {
        float: right;
        margin-top: 10px;
      }

      .actionsWrap {
        float: left;
        margin-top: 20px;
      }
    }
  }
}
