.topSection {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 34px;
}

.bottomSection {
  max-height: 0;
  width: 100%;
  height: auto;
  transition: max-height .5s ease-in;

  @media #{$screen-tablet} {
    #{$global-r} {
      overflow: hidden;
    }
  }
}

.outcomeAppear {
  max-height: 500px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(180deg, #fff 0, #e0edf3 99%);
  background: var(--ct-title-bg);
}

.titleFont {
  color: #668fa3;
  color: var(--ct-title-font-color);
  font-family: 'Fjalla One', sans-serif;
  font-size: 14px;
  line-height: inherit;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .45);
  text-shadow: var(--ct-title-text-shadow);
  text-transform: uppercase;
  word-spacing: 1.1px;
}

.extraHeaderLine {
  flex: 4;
  margin-top: 29px;
  width: 100%;
  height: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: linear-gradient(180deg, #fff 0, #e0edf3 99%);
  background: var(--ct-my-maps-title-extraHeaderLine-bg);
}

.disableHeaderBCG {
  background: none;
}
