.buttonContainer {
  display: flex;
  flex: 0 1 150px;
  justify-content: flex-end;
}

.button {
  align-self: center;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.buttonCreate {
  position: relative;
  margin-right: 4px;
  width: 112px;
  height: 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -5px;
    width: 12px;
    height: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transform: skew(-.3rad);
  }
}

.buttonTitle {
  position: relative;
  left: -1px;
  pointer-events: none;
  color: #628ba0;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .45);

  @media #{$screen-tablet} {
    #{$global-r} & {
      top: 1px;
    }
  }
}

.buttonHovered {
  .buttonTitle {
    color: #476778;
  }
}

.buttonClicked {
  cursor: default;

  .buttonTitle {
    color: #b0c5ce;
  }
}

.svgButton {
  position: absolute;
  top: -2px;
  right: -1px;
  pointer-events: none;

  @media #{$screen-tablet} {
    #{$global-r} & {
      top: -1px;
      right: -9px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      right: -1px;
    }
  }
}
