.flexRow {
  display: flex;
  flex-direction: row;
}

.positionsHolder {
  composes: flexRow;
  height: 100%;
  line-height: 30px;
}

.peopleCapacity {
  composes: flexRow;
  font: inherit;
}

.text {
  padding: 0 2px;
  color: #94b1bf;
  color: var(--ct-my-maps-common-data-text-color);

  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 34px;
      overflow: hidden;
    }
  }
}

.buttonsHolder {
  composes: flexRow;
}
