@import '../../../styles/glob.cssmodule.scss';

.actionTabsWrap {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 32px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      justify-content: space-between;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      justify-content: center;
    }
  }
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 75px;
  height: 100%;
  border: none;
  background: transparent;
  color: #d3dfe5;
  font: inherit;
  cursor: pointer;
}

.tabClicked {
  color: #7fa1b2;
}

.tabDeleteClicked {
  color: #ee8967;
  color: var(--ct-my-maps-red-color)
}

.title {
  padding-top: 2px;
  padding-left: 5px;
  line-height: 1.25;
  pointer-events: none;
}

a {
  text-decoration: none;
}
