@import '../../styles/mixins';
@import '../../styles/vars';

.lobbyWrap {
  width: 308px;

  @include appType([ 'desktop/full', 'desktop/sidebar', 'tablet/full' ]) {
    height: 378px;
  }
  @include appType([ 'desktop/full', 'desktop/sidebar' ]) {
    margin-top: 138px;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    height: 310px;
  }

  .content {
    flex: 1;

    &:global(.scroll-area) {
      &::-webkit-scrollbar-corner,
      &::-webkit-scrollbar-track {
        background-color: var(--holdem-scroll-track-color);
      }

      &::-webkit-scrollbar-thumb {
        border-color: var(--holdem-scroll-track-color);
        background-color: var(--holdem-scroll-thumb-color);

        &:hover {
          background-color: var(--holdem-scroll-thumb-hover-color);
        }
      }
    }
  }

  .table {
    width: 100%;
    table-layout: fixed;
  }

  .row {
    height: 2.8em;
    text-align: left;
    border-top: var(--holdem-lobby-cell-border);

    span {
      font-size: 12px;
      line-height: 2.8em;
      color: var(--holdem-text-color-high-contrast);
      text-shadow: var(--holdem-text-shadow-main);
    }

    td {
      box-shadow: var(--holdem-lobby-cell-shadow);
      border-right: var(--holdem-lobby-cell-border);
    }

    &.current {
      background: var(--holdem-lobby-selected-row-bg);
    }

    &.active {
      cursor: pointer;

      &:hover {
        background: var(--holdem-lobby-active-row-bg);
      }
    }
  }

  .lobby__text {
    display: inline-block;
  }

  .name {
    padding-left: 10px;
    text-align: left;
    width: 102px;
  }

  .stake {
    text-align: right;
    padding: 0 5px;
    width: 88px;
  }

  .speed {
    text-align: right;
    padding: 0 5px;
    width: 37px;
  }

  .players {
    text-align: right;
    padding: 0 5px;
  }

  .bold {
    font-weight: bold;
  }

  .lobbyIcon {
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;

    svg {
      height: 1.25em;
    }

    path {
      fill: var(--holdem-lobby-icons-fill);
      filter: var(--holdem-lobby-icons-shadow);
    }
  }

  .close {
    position: absolute;
    top: 12px;
    right: 11px;
    width: 10px;
    height: 22px;
    border: none;
    padding: 0;
    background: url(/casino/holdem/images/table_details_close.png) left top no-repeat;

    &:hover {
      background-position: right top;
    }
  }
}
