.cansEventDrinks {
  padding-top: 10px;
  border-bottom: 1px solid #999;
  box-shadow: -1px 3px 0px -2px #fff;
  padding-bottom: 10px;
}

.drinksList {
  > li {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 254px;
    height: 500px;
    border-radius: 5px;
    background-size: cover;

    .cans-action {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      box-sizing: border-box;
      width: 100%;
      height: 90px;
      background: transparent;

      .claim {
        padding-top: 30px;
        border-top: 2px solid #f0d01e;
        text-align: center;

        button {
          padding: 0 25px;
          border: 2px solid #f0d01e;
          border-radius: 5px;
          background: none;
          color: #f0d01e;
          font-family: Audiowide, sans-serif;
          font-size: 20px;
          text-transform: uppercase;

          &:hover {
            background: rgba(240, 208, 30, .5);
            cursor: pointer;
            transition: background .3s;
          }

          &.crocozade {
            border-color: #68ec6f;
            color: #68ec6f;

            &:hover {
              background: rgba(104, 236, 111, .5);
            }
          }
        }

        &.crocozade {
          border-top-color: #68ec6f;
        }
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 6px;
        width: 12px;
        height: 78px;
        background-size: contain;
      }

      &::before {
        left: 0;
        background: transparent url(/images/v2/cans-event/items/left_timer.svg) no-repeat;
      }

      &::after {
        right: 0;
        background: transparent url(/images/v2/cans-event/items/rigth_timer.svg) no-repeat;
      }

      &.crocozade {
        &::before {
          left: 0;
          background: transparent url(/images/v2/cans-event/items/left_timer_crocozade.svg) no-repeat;
        }

        &::after {
          right: 0;
          background: transparent url(/images/v2/cans-event/items/right_timer_crocozade.svg) no-repeat;
        }
      }

      &.damp-valley {
        &::before {
          left: 0;
          background: transparent url(/images/v2/cans-event/items/left_timer_damp_valley.svg) no-repeat;
        }

        &::after {
          right: 0;
          background: transparent url(/images/v2/cans-event/items/right_timer_damp_valley.svg) no-repeat;
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 90px;
      border-radius: 5px;
      opacity: .6;
    }

    &.active {
      &::after {
        animation: .9s linear background-animation;
        animation-iteration-count: infinite;
      }

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 410px;
        background: rgba(255, 255, 255, .5);
      }
    }
  }
}

:global(.r) {
  @media screen and (max-width: 1000px) {
    .cansEventDrinks {
      padding: 0 0 8px 0;
      border-bottom: 1px solid #999;
      box-shadow: -1px 3px 0px -2px #fff;
    }

    .drinkList > li {
      width: 100%;
    }
  }
}
