.month {
  display: inline-block;
  margin: 5px 10px;
  width: 175px;

  .title {
    &::after {
      content: '';
      display: block;
      clear: both;
    }

    :global(.calendarIcons) {
      fill: #666659;
      fill: var(--calendar-title-color);
    }

    .event {
      float: left;

      .icon,
      .eventTitle {
        display: inline-block;
        line-height: 30px;
      }

      .icon {
        font-size: 0;
        vertical-align: top;
      }

      .eventTitle {
        padding-left: 5px;
      }
    }

    .monthName {
      float: right;
      line-height: 30px;
    }
  }

  &.passed {
    .title {
      color: #ccccbf;
      color: var(--calendar-disabled-day-color);

      :global(.calendarIcons) {
        fill: #ccccbf;
        fill: var(--calendar-disabled-day-color);
      }
    }
  }
}

.calendar {
  margin-top: -5px;
  margin-bottom: 10px;
  padding: 5px 0 10px;
  box-shadow: 0 1px 0 #fff;
  box-shadow: var(--calendar-box-shadow);
  background: #f9f9f2;
  background: var(--calendar-bg);
  color: #666659;
  color: var(--calendar-title-color);
  font-family: "Fjalla One", serif;
  font-size: 12px;
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .month {
      margin: 10px 5px;
      width: 112px;

      .title {
        text-align: center;

        .event {
          margin-right: 5px;

          .icon {
            .Easter {
              width: 11px;
              height: 15px;
            }

            .MrMissTorn {
              width: 15px;
              height: 15px;
            }

            .Elimination {
              width: 16px;
              height: 16px;
            }

            .DogTags {
              width: 13px;
              height: 13px;
            }

            .ChristmasTown {
              width: 16px;
              height: 16px;
            }
          }

          .eventTitle {
            display: none;
          }
        }

        .monthName,
        .event {
          display: inline-block;
          float: none;
          vertical-align: top;
        }
      }
    }

    .calendar {
      padding: 5px 10px 10px;
    }
  }
  @media screen and (max-width: 600px) {
    .month {
      width: 91px;
    }

    .calendar {
      margin-top: 0;
      padding: 5px 8px 10px;
    }
  }
}
