@import '../../../styles/common.cssmodule.scss';

.rowWrap {
  width: 100%;
  height: 32px;
  border-bottom: 1px solid #d4dfe4;
  border-color: var(--ct-skeleton-border-color);
  composes: flexCenter;

  &:hover {
    background: #f2fbfe;
    background: var(--ct-table-row-hover);
  }

  &:last-of-type {
    border-right: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.rowActiveMapJoined {
  position: relative;
  background: #e3f5fa;
  background: var(--ct-table-row-active);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    z-index: 10000000;
    width: 3px;
    height: 100%;
    background: #9cd2dc;
    background: var(--ct-table-row-active-after);
  }

  &:hover {
    background: #e3f5fa;
    background: var(--ct-table-row-active-hover);
  }
}

.rowSection {
  composes: section;

  &:first-of-type {
    padding-left: 5px;
  }
}

.sectionText {
  padding: 5px;
  overflow: hidden;
  color: #888;
  color: var(--ct-all-maps-font-color);
  font-family: 'Fjalla one', sans-serif;
  font-size: 12px;
  line-height: 1.3;
  text-overflow: ellipsis;
  white-space: nowrap;
}
