.currentRowOutcome-appear,
.currentRowOutcome-enter {
  transform: translateY(-100%);
  transition: transform .3s ease-in;
  position: relative;

  &.currentRowOutcome-enter-active {
    transform: translateY(0%);
  }
}

.currentRowOutcome-exit {
  position: absolute;
  top: 0;
  height: 100% !important;

  &.currentRowOutcome-exit-active {
    // empty
  }
}

.newRowOutcome-enter {
  position: relative;

  &.newRowOutcome-enter-active {
    // empty
  }
}

.newRowOutcome-exit {
  position: absolute;
  top: 0;
  height: 100% !important;

  &.newRowOutcome-exit-active {
    // empty
  }
}

.currentRowOutcome-enter-done,
.newRowOutcome-enter-done {
  transition: background-color .3s ease-out;
  position: relative;
}
