.outcomeTransitionHolder {
  width: inherit;
  height: inherit;
}

.outcomeContainer {
  display: block;
  height: auto;
  width: inherit;
  // border-top: 1px solid #d4dfe5;
  background: linear-gradient(#f1fcff, #fff);
  background: var(--ct-my-maps-outcome-container-bg);

  @media #{$screen-desktop} {
    max-width: 784px;
  }
  @media #{$screen-tablet} {
    #{$global-r} & {
      max-width: 386px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      max-width: 324px;
    }
  }
}

.noChildren {
  padding-bottom: 0;
}

:global(.r .content-wrapper.travelling) {
  min-width: unset;

  .outcomeContainer {
    max-width: unset;
  }
}
