$itemHoverColor: #444;
$itemSelectedBcgGreen: #cadab9;
$itemSelectedBcgGreenLight: #dee6d6;

.itemLibrary {
  margin-right: 10px;
}

.item {
  cursor: default;
  padding: 5px 10px;
  color: var(--default-color);

  .toggleEquip {
    cursor: pointer;
    font-size: 2.2em;
    line-height: 0.4em;
    float: right;
    color: var(--default-color);
    font-family: monospace;
  }

  &:hover {
    background: #fff;
    color: $itemHoverColor;

    .toggleEquip {
      color: $itemHoverColor;
    }
  }

  &.equipped {
    background: $itemSelectedBcgGreenLight;

    &:hover {
      background: darken($itemSelectedBcgGreenLight, 5%);
    }

    .toggleEquip {
      color: $itemHoverColor;
    }
  }

  &.selected {
    background: $itemSelectedBcgGreen;
    color: $itemHoverColor;

    &:hover {
      background: darken($itemSelectedBcgGreen, 5%);
    }

    .toggleEquip {
      color: $itemHoverColor;
    }
  }

  &.red {
    background: #efabab;
  }
}

.small {
  float: right;
  font-size: 0.8em;
}

.scrollWrap {
  max-height: 317px;
  overflow-y: scroll;
}
