.nameSection,
.nameInvitesSection,
.lasteditSection,
.editorsSection,
.testersSection,
.playersSection,
.playersInvitesSection {
  color: #888;
  color: var(--ct-my-maps-font-color);
  line-height: 34px;
}

.nameSection {
  position: relative;
}

.sectionInactive {
  color: #ccc;
  font-family: Arial, sans-serif !important;
  font-weight: bold;
}

.editButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 6px 6px;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.inputTextChange {
  box-sizing: border-box;
  margin-left: -2px;
  padding: 5.5px 10px 3.5px 10px;
  width: 175px;
  height: 26px;
  border: 1px solid #c0d1d8;
  border-radius: 5px;
  background: #fff;
  color: inherit;
}

.mobilelayoutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.textTitle {
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.invitesSwitcherLabel {
  padding-left: 4px;
}
