.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.item {
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgray;
  border: 2px solid white;
  font-size: 30px;
  color: white;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
