@import '../Slot/index.cssmodule.scss';

.titleContainer {
  display: flex;
  display: flex;
  flex-grow: 1;
  align-items: center;
  overflow: hidden;
}

.title {
  // display: flex;
  // flex-grow: 1;
  // align-items: center;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.editButton {
  @extend %button;

  box-sizing: border-box;
  margin-left: auto;
  padding-right: 8px;
  padding-left: 7px;
}

.titleEditor {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  padding: 4px 4px;
}

.titleEditorInput {
  box-sizing: border-box;
  padding-right: 30px;
  padding-left: 5px;
  width: 100%;
  height: 26px;
  border: 1px solid var(--loadouts-separator-border-color);
  border-radius: 5px;
  background-color: var(--loadouts-input-color);
  color: var(--default-color);
}

.saveButton {
  position: absolute;
  top: 5px;
  right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 0;
  cursor: pointer;
}
