@import '../../styles/common.cssmodule.scss';
@import '../../styles/constants.cssmodule.scss';

.tabsList {
  z-index: 1;
  composes: flexRow;
  justify-content: flex-start;
  background: #eef3f5;
  composes: adaptiveContainer;
}

.tabText {
  color: #668fa3;
  composes: text;
}

.tabButton {
  height: 26px;
  width: 100%;
  padding: 0 5px;
  border-right: 1px solid #c0d1d8;
  border-bottom: 1px solid #c0d1d8;
  composes: tabText;
  composes: button;
  composes: fonts;

  &:focus,
  &:hover {
    background: #fff;
    box-shadow: none;
  }

  &:last-child {
    border-right: none;
  }
}

.tabButtonClicked {
  border-bottom-color: #fff;
  background: #fff;
  color: #476778;
}

:global(.greySelectSearchWrap) {
  .tabsList {
    background: #f2f2f2;
    background: var(--selectSearchWrap-tab-bg);
  }

  .tabButton {
    color: #999;
    color: var(--default-gray-9-color);
    border-color: $borderGrey;
    border-color: var(--selectSearchWrap-border-color);

    &:focus,
    &:hover {
      background: #fff;
      background: var(--selectSearchWrap-tab-selected-bg);
      color: #000;
      color: var(--selectSearchWrap-tab-selected-color);
    }
  }

  .tabButtonClicked {
    background: #fff;
    background: var(--selectSearchWrap-tab-selected-bg);
    border-bottom-color: #fff;
    border-bottom-color: var(--selectSearchWrap-tab-selected-border-bottom-color);
    color: #000;
    color: var(--selectSearchWrap-tab-selected-color);
  }
}
