.carouselContainer {
  position: relative;
  display: inline;
  max-width: 786px;
  overflow: hidden;
}

.crimeContainer {
  position: relative;
  display: inline-block;

  @media screen and (min-width: 1000px) {
    width: 782px;
  }
  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      width: 386px;
    }
  }
  @media screen and (max-width: 600px) {
    #{$global-r} & {
      width: 320px;
    }
  }
}
