.items {
  border-radius: 5px;
  background-color: #f2f2f2;
  background-color: var(--default-bg-panel-color);
}

.headerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px 5px 0 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
  background: repeating-linear-gradient(90deg, #242424, #242424 2px, #2e2e2e 0, #2e2e2e 4px);
  // color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .65);
}

.cellsHeader {
  display: flex;
  height: 30px;
  border-top: 1px solid #ccc;
  border-top-color: var(--default-panel-divider-outer-side-color);
  border-bottom: 1px solid #fff;
  border-bottom-color: var(--default-panel-divider-inner-side-color);
  color: #666;
  color: var(--default-gray-6-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 30px;
  // text-shadow: 1px 1px 5px #fff;
  background: #fff;
  background-color: var(--default-bg-panel-active-color);
  background: linear-gradient(to bottom, #fff 0%, #ddd 100%);
  background: var(--default-panel-gradient);
}

%headerColumn {
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
  border-left: 1px solid #ccc;
  border-left-color: var(--default-panel-divider-outer-side-color);
  text-align: left;

  &:first-child {
    border-left: 0;
  }
}

.manage {

  @extend %headerColumn;

  width: 386px;
}

.name {

  @extend %headerColumn;

  width: 339px;
}

.details {

  @extend %headerColumn;

  width: 170px;
}

.rrp {

  @extend %headerColumn;

  width: 82px;
  text-align: right;
}

.remove {

  @extend %headerColumn;

  width: 70px;
}

.price {

  @extend %headerColumn;

  width: 116px;
}

.row {
  position: relative;
  box-sizing: border-box;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    border-top-color: var(--default-panel-divider-outer-side-color);
    border-bottom: 1px solid #fff;
    border-bottom-color: var(--default-panel-divider-inner-side-color);
  }

  &:first-child {
    margin-top: 0;
  }

  &:first-child::before {
    display: none;
  }
}

.view {
  border-top: 2px solid transparent;

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    border-top-color: var(--default-panel-divider-outer-side-color);
    border-bottom: 1px solid #fff;
    border-bottom-color: var(--default-panel-divider-inner-side-color);
  }
}

.confirmation {
  padding: 10px;
}

.undo {
  margin-left: 10px;
  padding: 0;
  border: none;
  background: none;
  color: #069;
  font-size: 12px;
  cursor: pointer;
  outline: none;

  &:hover {
    color: #999;
  }
}
