@import '../../styles/index.cssmodule.scss';

.buyConfirmation {
  width: inherit;
  height: inherit;
  composes: container;
  composes: flexCenter;
  flex-direction: column;
}

.summary {
  width: inherit;
  height: inherit;
  composes: flexCenter;
  flex-wrap: wrap;
}

.text {
  height: 14px;
  composes: textBasic;
  padding-left: 5px;

  &:first-child,
  &:last-child {
    padding-left: 0;
  }
}

.textBold {
  font-weight: bold;
}

.totalPrice {
  max-width: 100%;
  composes: flexCenter;
  composes: textBasic;
}

.average {
  margin-top: 4px;
  color: #d83500;
  font-weight: bold;
  flex-wrap: wrap;
}

.control {
  margin-top: 8px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-top: 4px;
    }
  }
}

.button {
  color: #006699;
  font-size: 12px;
  font-weight: bold;
  composes: button;
  padding: 0 5px;

  &.gray {
    color: #666;
  }

  &:not(:first-child) {
    margin-left: 28px;
  }

  &:hover,
  &:focus {
    color: #006699;
  }
}

.preloader {
  max-width: 100px;
}
