.createWrap {
  margin-bottom: 10px;
}

.contentWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  height: fit-content;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex-wrap: wrap;
    }
  }
}

.betBlock,
.startBlock,
.passwordInputBlock {
  display: flex;
  align-items: center;
  justify-self: flex-start;
}

.betBlock,
.startBlock {

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}

.betBlock {
  width: 320px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 286px;
      margin-bottom: 10px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 220px;
      margin-bottom: 10px;
    }
  }
}

.passwordInputBlock {
  position: relative;

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin: 0;
    }
  }
}

.label {
  font-weight: 700;
  word-break: keep-all;
  white-space: pre;

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-bottom: 4px;
    }
  }
}

.input {
  box-sizing: border-box;
  padding: 6px 10px;
  width: 120px;
  border-radius: 5px;
  background: #fff;
  color: #333;
  line-height: 14px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      padding: 10px 6px;
      width: 260px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 193px;
    }
  }
}

.password {
  margin: 0 10px;
  padding: 5px 10px;
  width: 142px;
  border: 1px solid #ccc;

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin: 0;
      margin-right: 10px;
      width: 288px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 223px;
    }
  }
}

.inputWarning {
  border: 1px solid red;
}

.submit {
  opacity: 1;
}
