@import '../../styles/mixins';
@import '../../styles/vars';

.pokerHandsPositioner {
  background: none;

  @include appType([ 'desktop/full', 'desktop/sidebar' ]) {
    margin-top: 63px;
  }
}

.pokerHandsWrap {
  display: flex;
  align-items: stretch;
  width: 308px;
  height: 308px;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 0 10px #00000080, 0 0 10px #00000080;
  background: #35654d;
  border: 2px solid #fff;
}

.combinationTable {
  flex: 1;
  background-repeat: no-repeat;
  background-position: center 11px;

  &.fourColors {
    background-image: url(/casino/holdem/images/svg/hands_combinations_4_colors.svg);
  }

  &.twoColors {
    background-image: url(/casino/holdem/images/svg/hands_combinations_2_colors.svg);
  }
}

.combinationLabels {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  padding-top: 30px;

  li {
    font-size: 11px;
    width: 50%;
    line-height: 58px;
  }
}

.suiteSwitch {
  display: flex;
  flex-direction: column;
  width: 58px;
  background: #fff;
  box-shadow: inset 0 10px 10px -8px #00000080, inset 0 -10px 10px -8px #00000080;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  padding: 35px 0;
}

.selectButton {
  color: #333;
  background-position: top;
  background-repeat: no-repeat;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
  height: 66px;

  &:hover,
  &:active,
  &:focus {
    color: inherit;
    opacity: .5;
  }
}

.button4colors {
  composes: selectButton;
  background-image: url(/casino/holdem/images/svg/swithch_suites_4_colors.svg);
}

.button2colors {
  composes: selectButton;
  background-image: url(/casino/holdem/images/svg/swithch_suites_2_colors.svg);
}
