.d .account-recovery-wrap .content {
  display: table;
  width: 100%;
}

.d .container {
  width: 100%;

  .content-wrapper {
    margin-top: -10px;
  }
}

.d #accountrecoveryroot {
  width: 976px;
  margin: 0 auto;
}

.d .account-recovery-wrap {
  min-height: 1000px;

  .torn-react-autocomplete {
    width: 100%;
    color: #666;
    color: var(--account-recovery-autocomplete-font-color);

    .autocomplete-no-items {
      background: #f2f2f2;
      background: var(--autocomplete-options-background-color);
    }

    .scroll-area {
      border-color: #ccc;
      border-color: var(--autocomplete-options-border-color);
      background: var(--autocomplete-options-background-color);
    }

    .dropdown-content .item.selected,
    .dropdown-content .item:hover {
      background-color: var(--autocomplete-options-background-active-color);
    }
  }

  .loading-screen {
    min-height: 173px;
    padding-top: 172px;

    .preloader-fountain {
      width: 56px;
    }

    .fountainG {
      margin-right: 5px;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
    }
  }

  .i-block {
    display: inline-block;

    &.in-text {
      padding-left: 3px;
    }
  }

  .nav-link {
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
    color: #069;
    color: var(--default-blue-color);

    &:hover {
      color: #999;
      color: var(--default-blue-hover-color);
    }

    &.in-text {
      padding-left: 3px;
    }
  }

  .recovery-failed {
    padding: 20px;
    font-size: 13px;
    color: #777;
    color: var(--default-gray-7-color);
    box-sizing: border-box;
    line-height: 18px;
  }

  .left-cont,
  .right-cont {
    display: table-cell;
    vertical-align: top;
    width: 50%;
  }

  .left-cont {
    border-right: 1px solid #ccc;
    border-right-color: var(--account-recovery-primary-divider-color);
    color: #777;
    color: var(--default-gray-7-color);
    padding: 20px;
    font-size: 13px;
    line-height: 1.3;
  }

  .right-cont {
    border-left: 1px solid #fff;
    border-left-color: var(--account-recovery-primary-divider-shadow-color);
  }

  .progress-wrap {
    border-bottom: 1px solid #ddd;
    border-bottom-color: var(--account-recovery-secondary-divider-color);
    padding: 20px;

    * {
      cursor: default;
      -webkit-user-select: none;
      user-select: none;
    }
  }

  .progress {
    position: relative;

    &::before {
      background: linear-gradient(to right, rgba(229, 229, 229, 1) 0%, rgba(241, 241, 241, 1) 100%);
      background: var(--account-recovery-progress-line-bg);
      border-radius: 10px;
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 6px;
      height: 5px;
      width: 100%;
      box-shadow: 0 1px 0 rgb(255, 255, 255), inset 0 1px 0 rgba(0, 0, 0, .1);
      box-shadow: var(--account-recovery-progress-line-box-shadow);
    }

    & > li {
      background: #ededed;
      background: var(--account-recovery-step-external-circle-bg);
      box-shadow: inset 0 1px 0 #0000001a, 0 1px 0 #fff;
      box-shadow: var(--account-recovery-step-external-circle-box-shadow);
      border-radius: 100px;
      color: #fff;
      display: inline-block;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: bold;
      margin-right: 32px;
      position: relative;
      line-height: 18px;
      text-align: center;
      text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
      height: 18px;
      width: 18px;
    }

    & > li:last-child {
      margin-right: 0;
    }

    & > li:first-child {
      margin-left: 14px;
    }

    & > li::before {
      background: linear-gradient(180deg, rgba(204, 204, 204, 1) 0%, rgba(170, 170, 170, 1) 100%);
      background: var(--account-recovery-step-circle-bg-default);
      border-radius: 100px;
      content: '';
      display: block;
      position: absolute;
      left: 2px;
      top: 2px;
      height: 14px;
      width: 14px;
      z-index: 10;
    }

    .value {
      position: relative;
      z-index: 15;
    }

    & > li.completed:nth-child(1)::before {
      background: linear-gradient(180deg, rgba(229, 178, 178, 1) 0%, rgba(229, 123, 123, 1) 100%);
      background: var(--account-recovery-step-1-circle-bg);
    }

    & > li.completed:nth-child(2)::before {
      background: linear-gradient(180deg, rgba(226, 173, 193, 1) 0%, rgba(222, 119, 155, 1) 100%);
      background: var(--account-recovery-step-2-circle-bg);
    }

    & > li.completed:nth-child(3)::before {
      background: linear-gradient(180deg, rgba(213, 169, 225, 1) 0%, rgba(196, 108, 217, 1) 100%);
      background: var(--account-recovery-step-3-circle-bg);
    }

    & > li.completed:nth-child(4)::before {
      background: linear-gradient(180deg, rgba(186, 171, 229, 1) 0%, rgba(137, 106, 225, 1) 100%);
      background: var(--account-recovery-step-4-circle-bg);
    }

    & > li.completed:nth-child(5)::before {
      background: linear-gradient(180deg, rgba(165, 179, 228, 1) 0%, rgba(105, 129, 226, 1) 100%);
      background: var(--account-recovery-step-5-circle-bg);
    }

    & > li.completed:nth-child(6)::before {
      background: linear-gradient(180deg, rgba(147, 193, 229, 1) 0%, rgba(71, 155, 222, 1) 100%);
      background: var(--account-recovery-step-6-circle-bg);
    }

    & > li.completed:nth-child(7)::before {
      background: linear-gradient(180deg, rgba(137, 209, 217, 1) 0%, rgba(55, 181, 197, 1) 100%);
      background: var(--account-recovery-step-7-circle-bg);
    }

    & > li.completed:nth-child(8)::before {
      background: linear-gradient(180deg, rgba(133, 217, 192, 1) 0%, rgba(52, 195, 153, 1) 100%);
      background: var(--account-recovery-step-8-circle-bg);
    }

    & > li.completed:nth-child(9)::before {
      background: linear-gradient(180deg, rgba(158, 217, 167, 1) 0%, rgba(95, 197, 112, 1) 100%);
      background: var(--account-recovery-step-9-circle-bg);
    }
  }

  .main-cont {
    padding: 20px;
    line-height: 1.3;

    .title {
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }

  .input-wrap {
    margin-bottom: 18px;
    vertical-align: top;

    &.incorrect .input-text {
      border-color: red;
    }

    &:last-child {
      margin-bottom: 0;
    }

    label {
      display: inline-block;
      margin-bottom: 5px;
      font-weight: 700;
    }
  }

  .input-group.half {
    width: 214px;
    display: inline-block;
    margin-right: 10px;

    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }

  .input-text {
    box-sizing: border-box;
    height: 26px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    background-color: #fff;
    padding: 5px 10px;
    display: block;
    vertical-align: middle;
    width: 100%;
  }

  .input-day-wrap,
  .input-month-wrap {
    width: 41px;
    margin-right: 10px;
    display: inline-block;
  }

  .input-year-wrap {
    width: 50px;
    display: inline-block;
    margin-left: 10px;
  }

  .input-day-wrap .input-text,
  .input-year-wrap .input-text {
    height: 32px;

    &::placeholder {
      color: #777;
      color: var(--account-recovery-date-input-placeholder-color);
    }
  }

  .validated-input {
    display: inline-block;
    width: 405px;
  }

  .text-block {
    margin-bottom: 18px;

    .nav-link {
      display: inline;
    }
  }

  .text-red {
    color: #ff6250;
    color: var(--account-recovery-red-font-color);
  }

  .buttons {
    margin-top: 20px;

    .torn-btn,
    .nav-link {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .forgot-password-step {
    .title {
      font-size: 13px;
      font-weight: bold;
      color: rgb(68, 68, 68);
      color: var(--default-gray-4-color);
      margin-bottom: 10px;
    }

    .text-wrap {
      color: #888;
      color: var(--default-gray-8-color);
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 20px;
    }

    .torn-btn {
      margin-right: 10px;
    }
  }

  .forgot-password-form-wrap {
    padding: 20px;

    .torn-btn {
      margin-right: 10px;
      //margin-bottom: 1px;
      //vertical-align: bottom;
    }

    .nav-link.cancel {
      margin-bottom: 8px;
      display: inline-block;
    }

    .reset-password-result {
      .text {
        display: inline-block;
        font-weight: 700;
        font-size: 13px;
        vertical-align: middle;
        line-height: 16px;
      }

      &.validated .text {
        color: #86b00b;
      }
    }
  }

  .forgotten-password-email-input-wrap {
    width: 336px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    margin-bottom: 0;

    .input-text {
      min-height: 27px;
    }

    label {
      font-weight: 400;
      font-size: 13px;
      color: #777;
      color: var(--default-gray-7-color);
      margin-bottom: 20px;
      width: 936px;
      line-height: 1.3;
    }

    &.error label {
      color: #ff6250;
    }
  }

  .recovery-link-wrap {
    border-top: 1px solid #ddd;
    border-top-color: var(--account-recovery-secondary-divider-color);
    padding: 15px 20px 20px;
  }

  .search-for-account {
    .buttons {
      margin-top: 40px;
    }

    .potentional-user {
      display: inline-block;
      margin-right: 3px;

      &:last-child {
        margin-right: 0;
      }
    }

    .nav-link {
      font-size: 12px;
    }
  }

  .account-info-wrap {
    position: relative;
  }

  .account-info {
    margin-top: 10px;
    position: absolute;
    left: 0;
    top: 0;

    & > li {
      color: #999;
      display: inline-block;
      margin-right: 10px;
    }

    & > li:last-child {
      margin-right: 0;
    }
  }

  .ip-validation-icon,
  .donation-validation-icon {
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    height: 34px;
    background: url(/images/v2/preferences/security/state_icons.png) 34px 34px no-repeat;
  }

  .validated {
    .ip-validation-icon,
    .donation-validation-icon {
      background-position: 0 0;
    }
  }

  .unvalidated {
    .ip-validation-icon,
    .donation-validation-icon {
      background-position: 0 -68px;
    }
  }

  .loading {
    .ip-validation-icon,
    .donation-validation-icon {
      background-position: 0 -34px;
      animation: rotate-spinner .5s infinite linear;
    }
  }

  .ip-validation-result {
    .text {
      display: inline-block;
      font-weight: 700;
      max-width: 395px;
      vertical-align: middle;
    }

    &.validated .text {
      color: #86b00b;
    }

    &.unvalidated .text {
      color: #ff6250;
      color: var(--account-recovery-red-font-color);
    }
  }

  .react-dropdown-default {
    width: 100%;
  }

  .complete-recovery {
    .right-cont {
      vertical-align: middle;
      text-align: center;
    }

    .main-cont .text-block {
      text-transform: uppercase;
      font-size: 13px;
    }
  }
}

@-webkit-keyframes rotate-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.d .torn-btn.loading {
  color: transparent;
  text-shadow: none;
}

.d .date-of-birth-month-select {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px 5px;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 13px;
  line-height: 14px;
}

.d .date-of-birth-month-select.invalid {
  color: #999;
}

.d .date-of-birth-month-select:required:invalid {
  color: #999;
}

.d .date-of-birth-month-select option {
  color: #000;
  cursor: pointer;
}

/* Preloader */

.d .preloader-wrap {
  position: relative;
  display: none;
}

.d .loading .preloader-wrap {
  display: block;
}

.d .preloader-fountain {
  position: absolute;
  width: 55px;
  height: 14px;
  margin: auto;
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d .fountainG {
  display: inline-block;
  position: static;
  background-color: rgb(0, 0, 0);
  width: 10px;
  height: 10px;
  animation-name: bounce_fountainG;
  -o-animation-name: bounce_fountaing;
  -webkit-animation-name: bounce_fountaing;
  animation-duration: .3s;
  -webkit-animation-duration: .3s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(.3);
  -webkit-transform: scale(.3);
  border-radius: 9px;
  margin-left: -3px;
}

.d #fountainG_1 {
  margin-left: 0;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

.d #fountainG_2 {
  animation-delay: .075s;
  -webkit-animation-delay: .075s;
}

.d #fountainG_3 {
  animation-delay: .15s;
  -webkit-animation-delay: .15s;
}

.d #fountainG_4 {
  animation-delay: .225s;
  -webkit-animation-delay: .225s;
}

@keyframes bounce_fountainG {
  0% {
    transform: scale(.7);
    background-color: rgb(0, 0, 0);
  }

  100% {
    transform: scale(.3);
    background-color: rgb(100, 100, 100);
  }
}

@-webkit-keyframes bounce_fountainG {
  0% {
    -webkit-transform: scale(.7);
    background-color: rgb(0, 0, 0);
  }

  100% {
    -webkit-transform: scale(.3);
    background-color: rgb(50, 50, 50);
  }
}

.d .date-of-birth-month-select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px 5px;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  margin-right: 7px;
  cursor: pointer;
  font-size: 13px;
  line-height: 14px;
}

.d .date-of-birth-month-select:required:invalid {
  color: #999;
  min-width: 56px;
}

.d .date-of-birth-month-select option {
  color: #000;
  cursor: pointer;
}

.d .account-recovery-wrap {
  .input-recovery-key-wrap {
    width: 40px;
    text-align: center;
    margin: 0 10px 0 0;
    display: inline-block;

    input {
      text-align: center;
      padding: 0;
    }
  }
}

@media screen and (max-width: 1000px), screen and (max-device-width: 1000px) {
  .r .container {
    width: 100%;
  }

  .r #accountrecoveryroot {
    width: 578px;
  }

  .r .account-recovery-wrap .content {
    display: block;
  }

  .r .account-recovery-wrap {
    .forgotten-password-email-input-wrap {
      width: 324px;
    }

    .forgotten-password-email-input-wrap label {
      width: 536px;
    }

    .left-cont,
    .right-cont {
      display: block;
      width: auto;
      border: 0;
    }

    .progress-wrap {
      border-top: 1px solid #ddd;
      border-top-color: var(--account-recovery-secondary-divider-color);
    }

    .progress > li {
      margin-right: 43px;
    }

    .input-text {
      height: 35px;
    }

    .torn-btn {
      line-height: 22px;
      outline: none;
    }

    .input-group.half {
      width: 262px;
    }

    .validated-input {
      width: 502px;
    }

    .forgot-password-form-wrap {
      .reset-password-result .text {
        max-width: 500px;
      }

      .torn-btn {
        margin-bottom: 2px;
      }

      .nav-link.cancel {
        margin-bottom: 11px;
      }
    }

    .ip-validation-result {
      border-bottom: 1px solid #ddd;
      border-bottom-color: var(--account-recovery-secondary-divider-color);
      margin: 0 -20px;
      padding: 0 20px 20px;

      .text {
        max-width: 470px;
      }
    }

    .preloader-fountain {
      top: -15px;
    }

    .date-of-birth-month-select {
      padding-top: 7px;
      padding-bottom: 7px;
      height: 34px;
      line-height: 16px;
    }
  }
}
@media screen and (max-width: 600px), screen and (max-device-width: 600px) {
  .r .container {
    width: 100%;
  }

  .r #accountrecoveryroot {
    width: 320px;
  }

  .r .account-recovery-wrap {
    .recovery-link-wrap .torn-btn {
      width: 100%;
      margin-bottom: 10px;
    }

    .forgotten-password-email-input-wrap {
      width: 100%;
      margin-bottom: 10px;

      label {
        width: 100%;
      }
    }

    .forgot-password-form-wrap .reset-password-result .text {
      max-width: 240px;
    }

    .account-info {
      margin-top: 5px;
    }

    .progress > li {
      margin-right: 11px;
    }

    .input-group.half {
      width: 100%;
      margin-right: 0;

      &:first-child {
        margin-bottom: 20px;
      }
    }

    .validated-input {
      width: 242px;
    }

    .ip-validation-result .text {
      max-width: 242px;
    }

    .search-for-account,
    .new-email {
      .buttons {
        text-align: center;

        .torn-btn {
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }

    .complete-recovery .torn-btn {
      margin-bottom: 10px;
    }
  }
}
