.dark-mode #accountrecoveryroot {
  --account-recovery-secondary-divider-color: #222;
  --account-recovery-primary-divider-color: #000;
  --account-recovery-primary-divider-shadow-color: #ffffff1a;
  --account-recovery-autocomplete-font-color: #ccc;
  --account-recovery-progress-line-bg: #222;
  --account-recovery-progress-line-box-shadow: inset 0 1px 0 #0000001a, 0 1px 0 #ffffff1a;
  --account-recovery-red-font-color: #ff8787;
  --account-recovery-step-external-circle-bg: #222;
  --account-recovery-step-external-circle-box-shadow: inset 0 1px 0 #0000001a, 0 1px 0 #ffffff1a;
  --account-recovery-step-circle-bg-default: linear-gradient(180deg, #666 0%, #444 100%);
  --account-recovery-step-1-circle-bg: linear-gradient(180deg, rgba(240, 62, 62, 1) 0%, rgba(201, 42, 42, 1) 100%);
  --account-recovery-step-2-circle-bg: linear-gradient(180deg, rgba(214, 51, 108, 1) 0%, rgba(166, 30, 77, 1) 100%);
  --account-recovery-step-3-circle-bg: linear-gradient(180deg, rgba(174, 62, 201, 1) 0%, rgba(134, 46, 156, 1) 100%);
  --account-recovery-step-4-circle-bg: linear-gradient(180deg, rgba(112, 72, 232, 1) 0%, rgba(95, 61, 196, 1) 100%);
  --account-recovery-step-5-circle-bg: linear-gradient(180deg, rgba(66, 99, 235, 1) 0%, rgba(54, 79, 199, 1) 100%);
  --account-recovery-step-6-circle-bg: linear-gradient(180deg, rgba(28, 126, 214, 1) 0%, rgba(24, 100, 171, 1) 100%);
  --account-recovery-step-7-circle-bg: linear-gradient(180deg, rgba(16, 152, 173, 1) 0%, rgba(11, 114, 133, 1) 100%);
  --account-recovery-step-8-circle-bg: linear-gradient(180deg, rgba(12, 166, 120, 1) 0%, rgba(8, 127, 91, 1) 100%);
  --account-recovery-step-9-circle-bg: linear-gradient(180deg, rgba(55, 178, 77, 1) 0%, rgba(43, 138, 62, 1) 100%);
  --account-recovery-date-input-placeholder-color: #fff;
}
