#accountrecoveryroot {
  --account-recovery-secondary-divider-color: #ddd;
  --account-recovery-primary-divider-color: #ccc;
  --account-recovery-primary-divider-shadow-color: #fff;
  --account-recovery-autocomplete-font-color: #666;
  --account-recovery-progress-line-bg: linear-gradient(to right, rgba(229, 229, 229, 1) 0%, rgba(241, 241, 241, 1) 100%);
  --account-recovery-progress-line-box-shadow: 0 1px 0 rgb(255, 255, 255), inset 0 1px 0 rgba(0, 0, 0, .1);
  --account-recovery-red-font-color: #ff6250;
  --account-recovery-step-external-circle-bg: #ededed;
  --account-recovery-step-external-circle-box-shadow: inset 0 1px 0 #0000001a, 0 1px 0 #fff;
  --account-recovery-step-circle-bg-default: linear-gradient(180deg, rgba(204, 204, 204, 1) 0%, rgba(170, 170, 170, 1) 100%);
  --account-recovery-step-1-circle-bg: linear-gradient(180deg, rgba(229, 178, 178, 1) 0%, rgba(229, 123, 123, 1) 100%);
  --account-recovery-step-2-circle-bg: linear-gradient(180deg, rgba(226, 173, 193, 1) 0%, rgba(222, 119, 155, 1) 100%);
  --account-recovery-step-3-circle-bg: linear-gradient(180deg, rgba(213, 169, 225, 1) 0%, rgba(196, 108, 217, 1) 100%);
  --account-recovery-step-4-circle-bg: linear-gradient(180deg, rgba(186, 171, 229, 1) 0%, rgba(137, 106, 225, 1) 100%);
  --account-recovery-step-5-circle-bg: linear-gradient(180deg, rgba(165, 179, 228, 1) 0%, rgba(105, 129, 226, 1) 100%);
  --account-recovery-step-6-circle-bg: linear-gradient(180deg, rgba(147, 193, 229, 1) 0%, rgba(71, 155, 222, 1) 100%);
  --account-recovery-step-7-circle-bg: linear-gradient(180deg, rgba(137, 209, 217, 1) 0%, rgba(55, 181, 197, 1) 100%);
  --account-recovery-step-8-circle-bg: linear-gradient(180deg, rgba(133, 217, 192, 1) 0%, rgba(52, 195, 153, 1) 100%);
  --account-recovery-step-9-circle-bg: linear-gradient(180deg, rgba(158, 217, 167, 1) 0%, rgba(95, 197, 112, 1) 100%);
  --account-recovery-date-input-placeholder-color: #777;
}
