.row {
  border-bottom: 1px solid #ccc;
  border-bottom-color: var(--default-panel-divider-outer-side-color);

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }
}

.headline {
  display: flex;
  border-top: 1px solid #fff;
  border-top-color: var(--default-panel-divider-inner-side-color);
  cursor: pointer;

  .col {
    padding: 8px 10px;
    border-right: 1px solid #ccc;
    border-right-color: var(--default-panel-divider-outer-side-color);
    border-left: 1px solid #fff;
    border-left-color: var(--default-panel-divider-inner-side-color);

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }

    &.text {
      width: 100%;
    }

    &.time,
    &.frequency {
      padding: 8px 7px;
      min-width: 43px;
      width: 43px;
      text-align: right;
    }
  }
}

.dropdown {
  padding: 10px;
  border-top: 1px solid #ccc;
  border-top-color: var(--default-panel-divider-outer-side-color);
  background: #fff;
  background: var(--default-bg-panel-active-color);

  .headlineText {
    word-wrap: break-word;
  }

  .info {
    display: flex;
    margin-top: 20px;
  }

  .delete {
    margin-left: auto;
  }
}

.informMsg {
  padding: 10px;
}
