.layerNameWrapper {
  border-bottom: 1px solid #ddd;
  background: #fff;
  color: #858585;
  font-size: 12px;
  line-height: 30px;
  vertical-align: top;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  .layerName,
  .collapseSectionWrapper,
  .collapseSectionButton {
    display: inline-block;
    vertical-align: top;
  }

  .collapseSectionWrapper {
    width: 30px;
    height: 30px;
    border-right: 1px solid #ddd;
  }

  .collapseSectionButton {
    width: 100%;
    border: none;
    height: 100%;
    cursor: pointer;
    background: inherit;
    padding: 0;
    box-sizing: content-box;

    .collapseSign {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #858585;
      margin: 0 auto;

      &.collapsed {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: none;
        border-left: 5px solid #858585;
      }
    }
  }

  .layerName {
    padding-left: 10px;
  }

  .excludeLayerWrapper {
    width: 30px;
    height: 30px;
    border-left: 1px solid #ddd;
    float: right;

    .exclude {
      margin: 0 auto;
      width: 30px;
      height: 30px;
      background: url(/images/v2/christmas_town/ct_2018_icons_light.svg) -478px -70px no-repeat;
      padding: 0;
      border: none;
      cursor: pointer;
      vertical-align: top;

      &:hover {
        background-position: -478px -240px;
      }
    }
  }
}

.noBottomBorder {
  border-bottom: none;
}
