.layer {
  display: flex;
  z-index: 10000;
  margin-top: -1px;
  height: 60px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
  font-size: 0;
  list-style-type: none;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  &:last-child {
    margin-bottom: -1px;
  }

  &.user {
    background: url(/images/v2/christmas_town/snow.jpg) left top repeat;
    cursor: default;

    .object {
      margin-top: 14px;
    }
  }

  .excludeLayer,
  .objectWrapper,
  .dragIcon {
    height: 100%;
    vertical-align: top;
  }

  .icon {
    margin-top: 15px;
    width: 100%;
    height: 30px;
  }

  .dragIcon {
    width: 30px;
    border-right: 1px solid #ddd;

    .icon {
      background: url(/images/v2/christmas_town/ct_2018_icons_light.svg) -614px -70px no-repeat;
    }
  }

  .objectWrapper {
    flex-grow: 1;
    padding-left: 10px;

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    .object {
      max-width: 104px;
      max-height: 100%;
      height: auto;
    }

    .layerButtonsWrapper {
      padding-right: 5px;
      width: 169px;
      float: right;
      height: 100%;
      box-sizing: border-box;
      display: none;

      &.show {
        display: block;
      }

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }

    .layerBtnWrapper {
      padding: 0 5px;
      float: right;
      display: flex;
      height: 100%;

      .layerBtn {
        border: none;
        padding: 0;
        background: inherit;
        color: #668fa3;
        text-shadow: 0 1px 0 hsla(0, 0%, 100%, .45);
        font-family: "Fjalla One", sans-serif;
        font-size: 12px;
        align-self: center;
        cursor: pointer;
        height: 26px;

        &:hover {
          color: #858585;
        }

        &.active {
          color: #858585;
          padding-top: 2px;
          border-bottom: 2px solid #858585;
        }
      }
    }
  }

  .excludeLayer {
    width: 30px;
    float: right;
    border-left: 1px solid #ddd;

    .icon {
      margin: 15px auto 0;
      width: 30px;
      background: url(/images/v2/christmas_town/ct_2018_icons_light.svg) -478px -70px no-repeat;
    }

    .exclude {
      padding: 0;
      border: none;
      cursor: pointer;
    }
  }
}

.layersList {
  border-bottom: 1px solid #ddd;

  .removeHover {
    .layer,
    .layer:hover {
      background: url(/images/v2/christmas_town/snow.jpg) left top repeat;

      .objectWrapper {
        cursor: default;

        .layerButtonsWrapper {
          display: none;
        }
      }
    }
  }

  .layer {
    margin-top: 0;
    border-top: none;
    background: url(/images/v2/christmas_town/snow.jpg) left top repeat;

    &.active {
      background: #fff;
    }

    .dragIcon {
      cursor: move;

      .icon {
        background-position: -614px -70px;
      }
    }

    .excludeLayer {
      cursor: pointer;

      .icon {
        background-position: -478px -70px;

        &:hover {
          background-position: -478px -240px;
        }
      }
    }
  }
}

.userLayerWrapper {
  border-bottom: 1px solid #ddd;

  &.collapsed {
    border-bottom: none;
  }
}

.noTopBorder {
  border-top: none;
}
