.infoContainer {
  padding-left: 10px;
  border-bottom: 1px solid #ddd;

  .title {
    color: #668fa3;
    font-size: 14px;
    line-height: 29px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .45);
  }
}

.placeholder {
  color: #ccc;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.scrollArea {
  background: url(/images/v2/christmas_town/snow.jpg) 0 0 repeat;
  overflow: scroll;
  overflow-x: auto;
  height: 600px;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}

:global(.d .fullscreen-mode) {
  .scrollArea {
    height: calc(100% - 60px);
    position: absolute;
    width: 350px;
  }
}

:global(.d .tools-container .layers-container .scroll-area) {
  &:hover {
    :global(.scrollbar-container) {
      display: block;
    }
  }
}
