.leadArticle {
  margin: 20px 10px 20px 20px;
  min-height: 198px;
  min-width: 550px;
  position: relative;
  display: block;
  background: url('/images/v2/newspaper/image_texture_overlay.png') 0 0,
              url('/images/v2/newspaper/divider_vertical_old.png') 0 0 repeat-y,
              url('/images/v2/newspaper/divider_horizontal_older.png') 0 0 repeat-x,
              url('/images/v2/newspaper/divider_horizontal_older.png') 0 100% repeat-x;
  background: url('/images/v2/newspaper/image_texture_overlay.png') 0 0,
              var(--newspaper-divider-vertical-old-line-url) 0 0 repeat-y,
              var(--newspaper-divider-horizontal-older-line-url) 0 0 repeat-x,
              var(--newspaper-divider-horizontal-older-line-url) 0 100% repeat-x;
  &:hover {
    background: url('/images/v2/newspaper/divider_vertical_old.png') 0 0 repeat-y,
                url('/images/v2/newspaper/divider_horizontal_older.png') 0 0 repeat-x,
                url('/images/v2/newspaper/divider_horizontal_older.png') 0 100% repeat-x;
    background: var(--newspaper-divider-vertical-old-line-url) 0 0 repeat-y,
                var(--newspaper-divider-horizontal-older-line-url) 0 0 repeat-x,
                var(--newspaper-divider-horizontal-older-line-url) 0 100% repeat-x;
  }
  .leadText {
    display: inline-block;
    padding: 20px;
    width: 280px;
  }
  .title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: #525252;
    color: var(--newspaper-font-color);
    text-transform: uppercase;
    line-height: 27px;
  }
  .subtitle {
    font-family: 'Times New Roman', sans-serif;
    font-size: 16px;
    color: #525252;
    color: var(--newspaper-font-color);
    line-height: 20px;
  }
  .leadImageWrap {
    width: 264px;
    height: 198px;
    float: right;
    position: relative;
    background-size: cover;
    background-image: url(/images/v2/newspaper/image_placeholder.jpg);
    background-position: center;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url(/images/v2/newspaper/image_texture_overlay.png) 0 0 repeat,
                  url(/images/v2/newspaper/divider_horizontal_older.png) 0 0 repeat-x,
                  url(/images/v2/newspaper/divider_horizontal_older.png) 0 100% repeat-x,
                  url(/images/v2/newspaper/divider_vertical_old.png) 0 0 repeat-y,
                  url(/images/v2/newspaper/divider_vertical_old.png) 100% 0 repeat-y;
      background: url(/images/v2/newspaper/image_texture_overlay.png) 0 0 repeat,
                  var(--newspaper-divider-horizontal-older-line-url) 0 0 repeat-x,
                  var(--newspaper-divider-horizontal-older-line-url) 0 100% repeat-x,
                  var(--newspaper-divider-vertical-old-line-url) 0 0 repeat-y,
                  var(--newspaper-divider-vertical-old-line-url) 100% 0 repeat-y;
    }
  }
  .leadImage {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}
@media screen and (max-width: 1000px) {
  :global(.r) {
    .leadArticle {
      margin: 10px;
      min-width: 300px;
      min-height: 341px;
      background: url('/images/v2/newspaper/divider_vertical_old.png') 0 0 repeat-y,
                  url('/images/v2/newspaper/divider_vertical_old.png') 100% 0 repeat-y,
                  url('/images/v2/newspaper/divider_horizontal_older.png') 0 100% repeat-x;
      background: var(--newspaper-divider-vertical-old-line-url) 0 0 repeat-y,
                  var(--newspaper-divider-vertical-old-line-url) 100% 0 repeat-y,
                  var(--newspaper-divider-horizontal-older-line-url) 0 100% repeat-x;
      .leadImageWrap {
        float: left;
        width: 100%;
        height: 274px;
      }
      .leadText {
        padding: 10px;
        width: auto;
      }
    }
    .snippets {


    }
  }
}
