.rowsContainer {
  display: block;
}

.rowHeaderSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.rowEditorWrapper {
  display: flex;
  flex-direction: column;
}

.columnView {
  flex-direction: column;
}

.cooldownActive {
  background: linear-gradient(45deg, rgb(192, 243, 255), rgb(249, 249, 241));
}

.special {
  position: relative;

  &::before {
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    background: url('/images/v2/crimes_dprktd/crimes_manage_star.png');
    background-size: cover;
    background-position: 0px 0px;
    opacity: .6;
    top: 4px;
    left: 923px;
  }
}

:global {
  .rowSlide-enter {
    overflow-y: hidden;
    max-height: 0;
    transition: max-height 500ms ease-in-out;

    &.rowSlide-enter-active {
      max-height: 1500px;
    }
  }

  .rowSlide-leave {
    overflow-y: hidden;
    max-height: 1500px;
    transition: max-height 200ms ease-in-out;

    &.rowSlide-leave-active {
      max-height: 0;
    }
  }
}
