.bazaars {
  line-height: 16px;
  background: url(/images/v2/newspaper/divider_horizontal_old.png) 0 0 repeat-x;
  background: var(--newspaper-divider-horizontal-old-line-url) 0 0 repeat-x;
  padding-top: 18px;

  :global(.resize-container) {
    display: inline;
  }
}

.item::after {
  content: '';
  display: block;
  background: url(/images/v2/newspaper/divider_horizontal_older.png) 0 0 repeat-x;
  background: var(--newspaper-divider-horizontal-older-line-url) 0 0 repeat-x;
  height: 1px;
  width: 100%;
}

.title {
  display: block;
  color: #069;
  color: var(--default-blue-color);
  font-size: 16px;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.link {
  display: inline-block;
  color: #069;
  color: var(--default-blue-color);
  text-decoration: none;
  font-size: 15px;
  width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.customers {
  float: right;

  a {
    color: #333;
    color: var(--newspaper-color);
    text-decoration: none;
    font-size: 15px;
  }

  img {
    vertical-align: top;
    padding-top: 2px;
    margin-left: 5px;
    user-select: none;
    filter: drop-shadow(0 1px 0 #fff);
    filter: var(--newspaper-customers-img-filter);
  }
}

@media screen and (max-width: 1000px) {
  :global(.r) {
    .bazaars {
      display: inline-block;
      width: 182px;
      vertical-align: top;
      background: url(/images/v2/newspaper/divider_vertical_old.png) 0 0 repeat-y;
      background: var(--newspaper-divider-vertical-old-line-url) 0 0 repeat-y;
    }

    .title {
      text-align: center;
    }

    .item {
      padding: 10px 0 10px 10px;

      &::after {
        position: relative;
        bottom: -10px;
      }

      &:last-child::after {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  :global(.r) {
    .bazaars {
      background: none;
      padding-bottom: 20px;
    }

    .item {
      padding: 8px 0;
      text-align: left;

      &::after {
        bottom: -8px;
      }
    }
  }
}
