@import '../../../../../styles/common.cssmodule.scss';

.elementsWrap {
  width: 100%;
  height: 100%;
  composes: flexCenter;
}

.element {
  box-sizing: border-box;
  width: inherit;
  height: inherit;
  border-right: 1px solid #d4dfe4;
  border-color: var(--ct-skeleton-border-color);
  composes: flexCenter;

  &:last-of-type {
    border-right: none;
  }
}

.objects {
  composes: element;
}

.parameters {
  composes: element;
}

.areas {
  composes: element;
}
