@import '../../../../../styles/common.cssmodule.scss';

.joinWrap {
  composes: flexCenter;
}

.labelText {
  color: #93b1bf;
  color: var(--ct-all-maps-join-font-color);
}

.joinLink {
  margin: 5px;
  text-decoration: none;

  svg {
    filter: url(#defaultFilter);
    filter: var(--ct-icon-filter);
  }
}
