@import '../../../../../styles/common.cssmodule.scss';

.publishContainer {
  width: 100%;
  height: 100%;
  composes: flexCenter;
}

.textBeta {
  padding-left: 0;
  color: #94b1bf;
}

.textActive {
  padding-left: 0;
  color: #85b200;
}

.toggleStatusText {
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.toggleStatus {
  composes: toggleStatusText;
  composes: flexCenter;
  position: relative;
  margin-left: 3px;
  width: 46px;
  height: 16px;
  border-radius: 34px;
  transition: background .3s linear;
}

.toggleStatusBeta {
  background: #d4dfe5;
}

.toggleStatusActive {
  background: #85b200;
}
