$finalColor: #ff0;

.gift {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  z-index: 1;
}

.content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translateY(0px);
  position: relative;
  z-index: 1;
  opacity: 1;
  top: 0px;
}

.image {
  position: relative;
  z-index: 1;
}

.tooltip {
  position: absolute;
  bottom: calc(100% + 25px);
  transform: translateX(-50%);
  left: 50%;
  box-shadow: 0px 1px 2px #00000040;
  z-index: 2;
  opacity: 1;

  @media #{$screen-mobile} {
    #{$global-r} & {
      bottom: calc(100% + 15px);
    }
  }
}

.text {
  text-transform: lowercase;
  color: #4c6e7f;
  font-family: Ubuntu, sans-serif;
  font-size: 13px;
  font-weight: bold;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  background: #ffffff;
  padding: 4px 10px;
}

.arrow {
  width: 20px;
  height: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  &:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: white;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    top: 0;
    left: 50%;
    box-shadow: 0px 1px 2px #00000040;
  }
}

.teleport {
  width: 102px;
  height: 34px;
  position: absolute;
  bottom: calc(100% + 50px);
  left: 50%;
  transform: translateX(-50%);
  background-image: url('/images/v2/christmas_town/minigames/typocalypse/teleport.svg');
  opacity: 0;
  animation: teleportAnimation 1.5s linear;
  animation-play-state: paused;
}

.hide {
  .tooltip {
    opacity: 0;
  }

  .teleport {
    animation-play-state: running;
  }

  .imageContainer {
    top: -65px;
    opacity: 0;
    transition: 1s 0.6s;
  }
}

.final {
  .text {
    background: $finalColor;
  }

  .arrow {
    &:after {
      background: $finalColor;
    }
  }
}

.finalLight {
  width: 76px;
  height: 76px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url('/images/v2/christmas_town/minigames/typocalypse/finalBackgroung.svg');
  z-index: 0;
}

@keyframes teleportAnimation {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
