@import '../../styles/constants';

.positionsListWrapper {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 26px;
  border-bottom: $border-white;
  border-bottom-color: var(--default-panel-divider-inner-side-color);
  box-shadow: 0 -1px 0 #ddd inset;
  box-shadow: 0 -1px 0 var(--faction-positions-outer-border-color) inset;

  #{$global-r} & {

    @media #{$screen-tablet} {
      padding: 10px;
      height: auto;
      border-top: $border-white;
      border-top-color: var(--default-panel-divider-inner-side-color);
    }
  }

  .removePositionDialog {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    align-items: center;
    margin: 8px auto 0;
    height: 29px;
    text-align: center;

    #{$global-r} & {

      @media #{$screen-tablet} {
        height: auto !important;
      }
    }

    &.withWarning {
      height: 66px;

      .optionButtonsWrapper {
        margin-top: 20px;

        #{$global-r} & {

          @media #{$screen-tablet} {
            margin-top: 10px;
          }
        }
      }
    }

    .removePositionMessage {
      display: flex;
      flex-direction: column;
    }

    .optionButtonsWrapper {
      margin-top: 10px;

      .optionButtons {
        border: none;
        box-shadow: none;
        background: none;
        color: #069;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
