.searchButton {
  --search-icon-disabled-color: #ccc;
  --search-icon-enabled-color: #999;
  --search-icon-hovered-color: #666;
}

:global(.dark-mode) {
  .searchButton {
    --search-icon-disabled-color: #666;
    --search-icon-enabled-color: #999;
    --search-icon-hovered-color: #ccc;
  }
}

$searchWidthDesktop: 244px;
$inputWidth: 216px;
$inputWidthTablet: 143px;
$inputWidthMobile: 110px;
$searchInputHeight: 24px;
$searchInputHeightMobile: 32px;
$searchButtonHeight: 26px;
$searchButtonHeightMobile: 34px;
$border: 1px solid #ccc;
$borderRadius: 5px;

.search {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: $searchWidthDesktop;
  height: $searchInputHeight;

  @media (max-width: 1000px) {
    #{$global-r} & {
      width: $inputWidthTablet;
      height: $searchInputHeightMobile;
    }
  }
  @media (max-width: 600px) {
    #{$global-r} & {
      width: $inputWidthMobile;
      height: $searchInputHeightMobile;
    }
  }
}

.inputWrapper {
  width: $inputWidth;
  height: $searchInputHeight;
  border: $border;
  border-radius: $borderRadius 0 0 $borderRadius;
  font-weight: normal;
  background: var(--input-background-color);
  border-color: var(--input-border-color);

  @media (max-width: 1000px) {
    #{$global-r} & {
      width: $inputWidthTablet;
      height: $searchInputHeightMobile;
    }
  }
  @media (max-width: 600px) {
    #{$global-r} & {
      width: $inputWidthMobile;
      height: $searchInputHeightMobile;
    }
  }
}

.input {
  padding-right: 10px;
  padding-left: 10px;
  width: 190px;
  height: $searchInputHeight;
  background: transparent;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: var(--input-color);

  &::placeholder {
    color: #aaa;
    font-size: 12px;
    font-style: italic;
  }

  @media (max-width: 1000px) {
    #{$global-r} & {
      width: 123px;
      height: $searchInputHeightMobile;
    }
  }
  @media (max-width: 600px) {
    #{$global-r} & {
      width: 92px;
      height: $searchInputHeightMobile;
    }
  }
}

.hiddenIcon {
  width: 244px;
}

.iconContainer {
  position: absolute;
  top: 3px;
  right: 1px;

  @media (max-width: 1000px) {
    #{$global-r} & {
      top: 8px;
      right: 8px;
    }
  }
}

.searchButton {
  border-radius: 0 $borderRadius $borderRadius 0;
  border: $border;
  border-left: 0;
  height: $searchButtonHeight;
  padding: 4px 2px;
  background: var(--input-background-color);
  border-color: var(--input-border-color);
  cursor: pointer;

  svg {
    fill: var(--search-icon-enabled-color);
  }

  &.disabled svg {
    fill: var(--search-icon-disabled-color);
  }

  &:hover:not(.disabled) svg {
    fill: var(--search-icon-hovered-color);
  }

  &.disabled,
  &.disabled:hover {
    box-shadow: none;
    border: 1px solid #bbb;
    border-left: 0;
    background: #fff;
    cursor: default;
    background: var(--input-background-color);
    border-color: var(--input-border-color);
  }

  @media (max-width: 1000px) {
    #{$global-r} & {
      height: $searchButtonHeightMobile;
      width: $searchButtonHeightMobile;
      padding-top: 8px;
      padding-left: 6px;
      padding-right: 4px;
    }
  }
}
