.subcrimesList {
  min-height: 50px;
}

.delimiter {
  height: 10px;
  display: block;
  width: 100%;
  border: none;
  background: transparent;
}

.dynamicRoutesWrap,
.staticRoutesWrap {
  > :last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    border-bottom: 1px solid #fff;
    border-bottom: 1px solid var(--wrapper-background);
  }
}
