.container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px !important;
  padding-bottom: 5px;
  height: 100%;
  cursor: pointer;
  user-select: none;

  &:hover .name {
    text-decoration: underline;
  }
}

.nameContainer {
  text-align: left;
}

.sortIcon {
  margin-top: 1px;
}

.searchContainer {
  box-sizing: border-box;
  padding-right: 10px;
}

.searchNameContainer {
  display: flex;
  margin-bottom: 5px;
  text-align: left;
  cursor: pointer;

  .sortIcon {
    margin-left: 3px;
  }
}

.name {
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}

.rotatedName {

  @extend .name;

  cursor: pointer;
  display: block;
  transform: rotate(-35deg);
  transform-origin: bottom left;

  .nameContainer {
    position: relative;
    text-align: left;
  }

  .sortIcon {
    margin-top: 1px;
    position: absolute;
    left: 6px;
    bottom: -6px;
  }
}
