
.mTop20 {
  margin-top: 20px;
}

.mTop30 {
  margin-top: 30px;
}

.mTop40 {
  margin-top: 40px;
}

.mTopMinus25 {
  margin-top: -25px;
}

.mBottom20 {
  margin-bottom: 20px;
}

.mBottom30 {
  margin-bottom: 30px;
}

.mBottom40 {
  margin-bottom: 40px;
}

.pTop15 {
  padding-top: 15px;
}

.pTop25 {
  padding-top: 25px;
}

.pTop30 {
  padding-top: 30px;
}

.pTop20 {
  padding-top: 20px;
}

.pBottom15 {
  padding-bottom: 15px;
}

.pBottom20 {
  padding-bottom: 20px;
}

.pBottom25 {
  padding-bottom: 25px;
}

.pBottom30 {
  padding-bottom: 30px;
}

.block {
  display: block;
}

.theBirthOfTorn {
  margin-bottom: 152px;

  .mainBackground {
    position: relative;
    z-index: 5;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
    background: url("/images/v2/chronicles_archives/chronicles/bg_1.jpg") 0 0 repeat;
    background: var(--chronicle-main-bg1-url) 0 0 repeat;

    &.withPaddingTop {
      padding-top: 27px;
    }

    &.withPaddingBottom {
      padding-bottom: 35px;
    }

    &.withPaddingBottomSmall {
      padding-bottom: 24px;
    }
  }

  .subBackground {
    position: relative;
    margin: 0 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
    background: url("/images/v2/chronicles_archives/chronicles/bg_2.jpg") 0 0 repeat;
    background: var(--chronicle-main-bg2-url) 0 0 repeat;

    &.withPaddingTop {
      padding-top: 20px;
    }

    &.withPaddingTopBig {
      padding-top: 27px;
    }

    &.withPaddingBottom {
      padding-bottom: 26px;
    }
  }

  .container {
    margin: 0 auto;
    width: 634px;
  }

  h5 {
    padding-top: 54px;
    padding-bottom: 32px;
    color: #575346;
    color: var(--chronicle-title-color);
    font-family: 'Special Elite', cursive;
    font-size: 30px;
    text-align: center;
  }

  h6 {
    padding-top: 30px;
    padding-bottom: 26px;
    color: #616161;
    color: var(--birthOfTorn-h6-color);
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  p {
    margin-bottom: 24px;
    color: #575746;
    color: var(--chronicle-text-color);
    font-family: 'Special Elite', cursive;
    font-size: 16px;
    line-height: 24px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .textCenter {
    text-align: center;
  }

  .line {
    margin-bottom: 17px;
    width: 100%;
    height: 2px;
    background: url('/images/v2/chronicles_archives/chronicles/the_birth_of_torn/divider_horizontal.png') 0 0 repeat-x;
    background: var(--birthOfTorn-divider) 0 0 repeat-x;

    &.old {
      background: url('/images/v2/chronicles_archives/chronicles/the_birth_of_torn/divider_horizontal_old.png') 0 0 repeat-x;
      background: var(--birthOfTorn-divider-old) 0 0 repeat-x;
    }
  }

  .mobileImage,
  .tabletImage {
    display: none;
  }

  .desktopImage {
    display: initial;
  }

  .imageCaption {
    margin: 0 auto;
    padding: 15px 0 28px;
    max-width: 440px;
    color: #929292;
    color: var(--chronicle-img-caption-color);
    font-family: 'Special Elite', cursive;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    &.fullWidth {
      max-width: 100%;
      width: 100%;
    }
  }

  .imageHalfWidth {
    display: inline-block;
    vertical-align: middle;

    &.small {
      width: 307px;
      vertical-align: middle;
    }
  }

  .textHalfWidth {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 30px;
    max-width: 297px;
    vertical-align: middle;
  }

  .extendedImageCaption {
    margin-left: 74px;
    width: 244px;
    color: #666659;
    color: var(--birthOfTorn-extendedImageCaption-color);
    font-size: 14px;
    line-height: 24px;
    vertical-align: middle;
  }

  .governmentFile {
    position: relative;
    z-index: 30;
    margin-left: 6px;
    height: 590px;
  }

  .separateText {
    margin-top: 37px;
    text-align: center;
  }

  .signatures {
    margin-top: 40px;

    .imageCaption {
      padding-top: 36px;
      padding-bottom: 0;
    }
  }

  #americanFlag {
    margin-top: -55px;
  }

  #map {
    margin-bottom: 25px;
    padding-top: 5px;
  }

  #billOfCongress {
    margin-bottom: 26px;
  }

  #westTown {
    margin-top: -8px;
    margin-bottom: 26px;
  }

  #hangingAndBurial {
    margin-top: 27px;
  }

  #wantedPosters {
    img {
      margin-top: -17px;
    }
  }

  #volsteadActBlock {
    margin-bottom: 40px;
  }

  #bootleggerMugshots {
    margin-top: 28px;
  }

  #brochure {
    padding-top: 20px;
  }

  #maritalLow {
    margin-top: -6px;
    margin-bottom: 24px;
  }

  #congressman {
    display: inline-block;
    padding: 20px 0;
  }

  .effect1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 700px;
    height: 109px;
    background: url('/images/v2/chronicles_archives/chronicles/the_birth_of_torn/effects/1_effect.png') 0 0 no-repeat;
    background: var(--birthOfTorn-effect1-url) 0 0 no-repeat;
  }

  .effect2 {
    position: relative;
    z-index: 5;
    display: block;
    margin: -3px 0 0 0;
    width: 784px;
    height: 58px;
    background: url('/images/v2/chronicles_archives/chronicles/the_birth_of_torn/effects/2_effect.png') 0 0 no-repeat;
    background: var(--birthOfTorn-effect2-url) 0 0 no-repeat;

    &::before {
      height: 36px;
      position: absolute;
      content: '';
      left: 0;
      width: 15px;
      box-shadow: -3px 0 3px -3px rgba(0, 0, 0, .25);
    }

    &::after {
      height: 57px;
      position: absolute;
      content: "";
      width: 15px;
      right: 0;
      box-shadow: 3px 0 3px -3px rgba(0, 0, 0, .25);
    }
  }

  .effect3 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    display: block;
    width: 33px;
    height: 156px;
    background: url('/images/v2/chronicles_archives/chronicles/the_birth_of_torn/effects/3_effect.png') 0 0 no-repeat;
    background: var(--birthOfTorn-effect3-url) 0 0 no-repeat;
  }

  .effect4 {
    position: absolute;
    bottom: -90px;
    display: block;
    width: 784px;
    height: 121px;
    background: url('/images/v2/chronicles_archives/chronicles/the_birth_of_torn/effects/4_effect.png') 0 0 no-repeat;
    background: var(--birthOfTorn-effect4-url) 0 0 no-repeat;

    &::before {
      height: 50px;
      position: absolute;
      content: '';
      left: 0;
      width: 15px;
      box-shadow: -3px 0 3px -3px rgba(0, 0, 0, .25);
    }

    &::after {
      height: 119px;
      position: absolute;
      content: "";
      width: 15px;
      right: 0;
      top: 0;
      box-shadow: 3px 0 3px -3px rgba(0, 0, 0, .25);
    }
  }
}

.visual {
  position: absolute;
  z-index: 10;
  display: block;
}

#inebriated {
  display: inline-block;
  margin: -3px 0 -5px;
  width: 101px;
  height: 18px;
  background: url("/images/v2/chronicles_archives/chronicles/the_birth_of_torn/text_insertions/1_inebriated.png") 0 0 no-repeat;
}

#serveThePeople {
  top: 30px;
  left: 57px;
  width: 111px;
  height: 47px;
  background: url("/images/v2/chronicles_archives/chronicles/the_birth_of_torn/text_insertions/2_serve_the_people.png") 0 0 no-repeat;
  background: var(--birthOfTorn-text-insertions-2-url) 0 0 no-repeat;
}

#star {
  top: 127px;
  right: 14px;
  width: 60px;
  height: 58px;
  background: url("/images/v2/chronicles_archives/chronicles/the_birth_of_torn/text_insertions/3_star.png") 0 0 no-repeat;
  background: var(--birthOfTorn-text-insertions-3-url) 0 0 no-repeat;
}

#hammerAndSickle {
  top: 333px;
  right: 11px;
  width: 90px;
  height: 87px;
  background: url("/images/v2/chronicles_archives/chronicles/the_birth_of_torn/text_insertions/4_hammer_and_sickle.png") 0 0 no-repeat;
  background: var(--birthOfTorn-text-insertions-4-url) 0 0 no-repeat;
}

#proletariat {
  position: absolute;
  top: 460px;
  right: 11px;
  width: 212px;
  height: 70px;
  background: url("/images/v2/chronicles_archives/chronicles/the_birth_of_torn/text_insertions/5_proletariat.png") 0 0 no-repeat;
  background: var(--birthOfTorn-text-insertions-5-url) 0 0 no-repeat;
}

#noTaxation {
  top: 24px;
  right: 27px;
  width: 30px;
  height: 163px;
  background: url("/images/v2/chronicles_archives/chronicles/the_birth_of_torn/text_insertions/6_no_taxation.png") 0 0 no-repeat;
  background: var(--birthOfTorn-text-insertions-6-url) 0 0 no-repeat;
}

:global(.r) .theBirthOfTorn {

  @media screen and (max-width: 1000px) {
    .subBackground {
      margin: 0;

      &.withPaddingTop {
        padding-top: 14px;
      }
    }

    .desktopImage {
      display: none;
    }

    .tabletImage {
      display: inline;
    }

    .container {
      box-sizing: border-box;
      padding-right: 10px;
      padding-left: 10px;
      width: 100%;
    }

    h5 {
      padding-top: 30px;
      padding-bottom: 25px;
      font-size: 25px;
    }

    h6 {
      padding-top: 21px;
      padding-bottom: 19px;
      font-size: 19px;
      line-height: 21px;
    }

    p {
      margin-bottom: 21px;
      font-size: 15px;
      line-height: 21px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    img {
      max-width: 100%;
    }

    .mainBackground {
      &.withPaddingTop {
        padding-top: 18px;
      }

      &.withPaddingBottom {
        padding-bottom: 23px;
      }

      &.withPaddingBottomSmall {
        padding-bottom: 18px;
      }
    }

    .subBackground {
      &.withPaddingBottom {
        padding-bottom: 18px;
      }
    }

    .imageCaption {
      padding-bottom: 16px;
      line-height: 16px;
    }

    .separateText {
      margin-top: 20px;
    }

    .effect2 {
      width: 100%;
    }

    .signatures {
      .imageCaption {
        padding-top: 20px;
        padding-bottom: 10px;
      }
    }

    .textHalfWidth {
      margin-left: 0;
      max-width: 100%;
      width: 100%;
    }

    #billOfCongress {
      position: relative;
      z-index: 10;
      margin-bottom: 12px;
    }

    #westTown {
      margin-bottom: 20px;
    }

    #hangingAndBurial {
      margin-top: 20px;
    }

    #wantedPosters {
      img {
        margin-top: -10px;
      }
    }

    #volsteadActBlock {
      margin-bottom: 20px;
    }

    #volsteadActImage {
      display: block;
      margin: 0 auto 20px;
      max-width: 200px;
    }

    #bootleggerMugshots {
      margin: 20px 10px 0;

      .imageCaption {
        margin-left: -2px;
        max-width: 101%;
        width: 101%;
      }
    }

    #illicitBooze {
      padding: 0 10px;
    }

    #inebriated {
      margin-left: -5px;
    }

    .effect2 {
      background-position-x: -196px;
    }

    #brochure {
      padding: 20px 10px 0;

      .imageCaption {
        padding: 20px 0;
      }
    }

    #maritalLow {
      margin-bottom: 20px;
    }

    #congressman {
      img {
        width: 100%;
      }
    }

    #congressmanCaption {
      margin-bottom: 20px;
      color: #929292;
      color: var(--chronicle-img-caption-color);
      font-size: 14px;
      line-height: 16px;
      text-align: center;

      br {
        display: none;
      }
    }

    #serveThePeople {
      top: 20px;
      left: 3px;
      background-size: 65%;
    }

    #star {
      right: -20px;
      height: 58px;
      background-size: 65%;
    }

    #hammerAndSickle {
      top: 235px;
      right: 0;
      width: 43px;
      background-size: 64px;
    }

    #proletariat {
      top: 611px;
      right: -60px;
      background-size: 65%;
    }

    .governmentFile {
      padding-bottom: 20px;
      width: 96%;
      height: auto;
    }

    #donatorHouseBlueprint {
      padding: 0 10px;
    }

    #noTaxation {
      top: 10px;
      right: 112px;
      width: 163px;
      height: 30px;
      background-image: url("/images/v2/chronicles_archives/chronicles/the_birth_of_torn/text_insertions/6_320_no_taxation.png");
      background-image: var(--birthOfTorn-text-insertions-6-url);
    }

    #noTaxation + .container {
      padding-top: 20px;
    }

    #investigationPapers {
      padding: 0 10px;
    }

    #meeting {
      padding: 0 10px;
    }

    #presidentShot {
      margin: 10px 0 16px;
    }

    #candyWrap {
      padding-top: 20px;
    }

    #labResults {
      margin: 20px 10px 16px;
    }

    .effect1 {
      width: 100%;
      background-position-x: 50%;
    }

    .effect4 {
      bottom: -120px;
      width: 100%;
      background-position-x: -200px;

      p {
        margin-top: -10px;
      }

      &::before {
        height: 119px;
      }

      &::after {
        height: 50px;
      }
    }
  }
}

:global(.r) .theBirthOfTorn {

  @media screen and (max-width: 600px) {
    .tabletImage {
      display: none;
    }

    .mobileImage {
      display: inline;
    }

    #noTaxation {
      width: 163px;
      height: 30px;
      background: url("/images/v2/chronicles_archives/chronicles/the_birth_of_torn/text_insertions/6_320_no_taxation.png") 0 0 no-repeat;
      background: var(--birthOfTorn-text-insertions-6-url) 0 0 no-repeat;
    }

    .separateText {
      .block {
        display: inline;
      }
    }

    #star {
      top: 155px;
    }

    #hammerAndSickle {
      top: 288px;
    }

    #proletariat {
      top: 725px;
      right: -96px;
      background-size: 50%;
    }

    #investigationPapers {
      display: none;
    }

    #presidentShot {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

:global(.travelling),
:global(.logged-out) {
  .theBirthOfTorn {
    width: 784px;
    margin: 0 auto;
  }
}

:global(.r) {
  :global(.travelling),
  :global(.logged-out) {
    .theBirthOfTorn {

      @media screen and (max-width: 1000px) {
        width: 386px;
      }
      @media screen and (max-width: 600px) {
        width: 320px;
      }
    }

    @media screen and (max-width: 600px) {
      :global(#chronicles-archives) {
        margin-top: 15px;
      }
    }
  }
}
