.score-board {
  padding-bottom: 10px;
  color: #668fa3;
  background-image: radial-gradient(rgb(255, 255, 255) 0%, rgb(241, 251, 255) 100%);
  height: 100%;
  display: flex;
  width: 100%;
  text-align: center;
  font-family: "Fjalla One";
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  @media screen and (min-width: 600px) {
    padding: 12px;
  }
}

.message {
  font-size: 16px;
  line-height: 24px;
  color: #72bfac;
  margin: 10px 0;
  padding: 0 10px;
}

.prizes {
  font-size: 20px;
  line-height: 30px;
  color: #668fa3;
  text-align: center;
  margin-top: 5px;
  .prize {
    display: inline-block;
    border-radius: 5px;
    background: #f1f4f6;
    box-shadow: inset 0 2px 5px rgba(0, 76, 102, .35);
    background: linear-gradient(0deg, #f1f4f6 0, #e8eef1);
    border-bottom: 1px solid #fff;
    margin: 0 2px;
    @media screen and (min-width: 600px) {
      margin: 0 4px;
    }
    width: 100px;
    height: 50px;
    img {
      max-width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
}

.board {
  width: 100%;
  margin-top: 8px;
}

.button {
  margin: 0 4px;
  @media screen and (max-width: 600px) {
    height: 32px !important;
  }
}

.users-table {
  width: 100%;
  margin-bottom: 12px;
  display: table;
  border-collapse: collapse;
  box-sizing: border-box;
  .table-header {
    background-color: rgba(0, 163, 217, 0.1);
    font-size: 12px;
    line-height: 30px;
    display: table-row;
    .cell {
      color: rgb(102, 140, 163);
    }
  }
  .table-body {
    border: 1px solid red;
    display: table-row;
    width: 100%;
  }
  .cell {
    font-size: 12px;
    line-height: 30px;
    color: rgb(170, 170, 170);
    padding: 0 8px;
    display: table-cell;
    border: 1px solid #d4dfe5;
  }
  li {
    display: table-row;
  }
  li.current-user {
    background-color: rgba(0, 217, 163, 0.1);
    .cell {
      color: rgb(0, 178, 133);
    }
  }
  .user-name {
    cursor: pointer;
  }
  .position, .score {
    text-align: right;
  }
  img {
    vertical-align: middle;
  }
}

@media screen and (max-width: 1000px), screen and (max-device-width: 1000px) {
  :global(.r) {
    .score-board {
      min-height: 418px;
    }
  }
}
