.devider {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  height: 0;
  border-top: 1px solid #999;
  border-top: var(--page-header-divider-border-top);
  border-bottom: 1px solid #ebebeb;
  border-bottom: var(--page-header-divider-border-bottom);

  /**
    * TODO: main.css cover the margin settings so they need !important option.
    *       Should delete it.
  **/
}
