.dark-mode #christmastownroot {
  // general
  --ct-panel-bg: #333;
  --ct-panel-box-shadow: 0 1px 0 #ffffff26;
  --ct-item-bg: linear-gradient(180deg, #273234 0%, #394446 100%);
  --ct-ornament-bg: linear-gradient(180deg, #312d3b 0%, #423e4c 100%);
  --ct-item-box-shadow: inset 0 2px 4px #00000040;
  --ct-item-border-color: #5b5b5b;
  --ct-item-selected-border-color: #0b7285;
  --ct-ornament-selected-border-color: #5f3dc4;
  --ct-item-quantity-text-shadow: none;
  --ct-slider-dot-default: #666;
  --ct-slider-dot-active: #fff;
  --ct-title-bg: linear-gradient(180deg, #535353 0%, #283c46 100%);
  --ct-title-font-color: #e3fafc;
  --ct-title-text-shadow: 0 0 2px #000;
  --ct-secondary-button-color: #74c0fc;
  --ct-secondary-button-color-hover: #a5d8ff;
  --ct-title-before-divider-bg: linear-gradient(0deg, #0000 0%, #00000080 50%, #0000 100%);
  --ct-title-after-divider-bg: linear-gradient(0deg, #fff0 0%, #ffffff1a 50%, #fff0 100%);
  --ct-icon-filter: drop-shadow(0 0 1px #000);
  --ct-overlay-display: block;
  --ct-section-inner-left-shadow: inset 1px 0 0 rgba(255, 255, 255, .1);
  --ct-section-inner-top-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  --ct-default-input-border-color: #444;
  --ct-error-tooltip-bg: #444;
  --ct-error-tooltip-arrow-substrate-color: #333;
  --ct-error-tooltip-box-shadow: 0 0 2px rgba(0, 0, 0, .65);
  --ct-error-tooltip-arrow-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .15));
  --ct-skeleton-border-color: #222;
  --ct-skeleton-content-bg: #444;
  --ct-table-row-hover: #404f5b;
  --ct-table-row-active: #344b5e;
  --ct-table-row-active-hover: #404f5b;
  --ct-table-row-active-after: #557c9d;
  // HUD
  --ct-hud-edge-fade-img: url(/images/v2/christmas_town/edge_fade_dark.svg);
  --ct-hud-primary-title-divider-color: #000;
  --ct-hud-status-title-divider-box-shadow: 1px 0 0 rgba(255, 255, 255, .1);
  --ct-hud-content-divider-color: #000;
  --ct-hud-title-border-color: #000;
  --ct-hud-input-bg: #111;
  --ct-hud-input-font-color: #999;
  --ct-hud-input-text-shadow: none;
  --ct-hud-secondary-button-color-disabled: #7fa1b2;
  --ct-hud-secondary-button-color: var(--ct-secondary-button-color);
  --ct-hud-reset-button-bg-image: url('/images/v2/christmas_town/reset_location_dark.svg');
  --ct-hud-timer-bg-image: url('/images/v2/christmas_town/step_reset_timer_dark.svg');
  --ct-hud-score-pause-bg-image: url('/images/v2/christmas_town/score_pause_dark.svg');
  // lobby
  --ct-lobby-border-color: #222;
  --ct-lobby-color: #ddd;
  --ct-lobby-sections-border-image: linear-gradient(#222, #222) 1 100%;
  --ct-lobby-title-border-bottom-color: #000;
  --ct-lobby-players-icon-fill: #e3fafc;
  --ct-lobby-join-icon-fill: #74c0fc;
  --ct-lobby-join-icon-hover-fill: #a5d8ff;
  // rating
  --ct-rating-star-color: #e9be3b;
  --ct-rating-stars-progress-bar-bg: #222;
  // switcher
  --ct-switcher-beta-color: #ddd;
  --ct-switcher-banned-color: #ff4343;
  --ct-switcher-checkbox-bg: #888;
  --ct-switcher-checkbox-banned-bg: #f00;
  // my maps
  --ct-my-maps-title-color: #fff;
  --ct-my-maps-font-color: #ddd;
  --ct-my-maps-title-bg: url(#placeholder-dark-gradient);
  --ct-my-maps-title-extraHeaderLine-bg: #283c46;
  --ct-my-maps-editor-color: #74c0fc;
  --ct-my-maps-tester-color: #74c0fc;
  --ct-my-maps-outcome-container-bg: #444;
  --ct-my-maps-outcome-message-font-color: #ddd;
  --ct-my-maps-outcome-message-button-color: #74c0fc;
  --ct-my-maps-common-data-text-color: #ddd;
  --ct-my-maps-input-bg: linear-gradient(0deg, #111 0%, #000 100%);
  --ct-my-maps-input-font-color: #999;
  --ct-my-maps-input-border-color: #444;
  --ct-my-maps-members-bg: linear-gradient(180deg, #555 0%, #333 100%);
  --ct-my-maps-members-border-color: #222;
  --ct-my-maps-user-font-color: #ddd;
  --ct-my-maps-user-bg: linear-gradient(0deg, #111 0%, #000 100%);
  --ct-my-maps-user-search-border-color: #444;
  --ct-my-maps-user-search-dropdown-bg: #222;
  --ct-my-maps-user-search-dropdown-tab-bg: #111;
  --ct-my-maps-user-search-dropdown-tab-hover-bg: #222;
  --ct-my-maps-user-search-dropdown-tab-font-color: #999;
  --ct-my-maps-user-search-dropdown-tab-font-clicked-color: #fff;
  --ct-my-maps-user-search-scroll-bg: #333;
  --ct-my-maps-user-search-scroll-hover-bg: #333;
  --ct-my-maps-user-search-scrollbar-thumb-bg: #666;
  --ct-my-maps-user-search-scrollbar-thumb-border: #666;
  --ct-my-maps-user-selected-bg: #444;
  --ct-my-maps-user-selected-color: #aaa;
  --ct-my-maps-user-search-hover-bg: #444;
  --ct-my-maps-red-color: #ff4343;
  --ct-my-maps-cancel-hover-color: #a5d8ff;
  --ct-my-maps-copy-button-shadow-color: #000;
  --ct-my-maps-copy-button-bg: linear-gradient(180deg, #555 0%, #333 100%);
  --ct-my-maps-copy-button-hover-bg: linear-gradient(180deg, #333 0%, #555 100%);
  --ct-my-maps-rating-touch-fill: #444;
  --ct-my-maps-rating-touch-fill-joined: var(--ct-my-maps-rating-touch-fill);
  // editors common
  --ct-editor-default-library-font-color: #ddd;
  --ct-editor-quantity-font-color: var(--ct-editor-default-library-font-color);
  --ct-editor-category-font-color: #bbb;
  --ct-editor-library-content-divider: #222;
  --ct-editor-library-list-item-bg-hover: #444;
  --ct-editor-input-bg: #111;
  --ct-editor-input-bg-disabled: #333;
  --ct-editor-input-font-color: #ddd;
  --ct-editor-input-font-color-disabled: #777;
  --ct-editor-input-border-color-active: #666;
  --ct-editor-default-icon-filter: none;
  --ct-editor-content-divider-color: var(--ct-map-editor-secondary-section-divider);
  --ct-editor-form-label-color: #999;
  --ct-editor-checkbox-color: #999;
  --ct-editor-checkbox-color-hover: #ddd;
  --ct-editor-checkbox-box-shadow: none;
  --ct-editor-color-picker-border-color-selected: #222;
  --ct-editor-library-action-button-color: #ddd;
  --ct-editor-library-action-button-color-hover: #fff;
  --ct-editor-secondary-button-color-disabled: #7fa1b2;
  // map editor
  --ct-map-editor-title-button-bg-active: rgba(116, 192, 252, .2);
  --ct-map-editor-primary-section-divider-color: #000;
  --ct-map-editor-tab-button-color: #e3fafc;
  --ct-map-editor-button-filter: var(--ct-icon-filter);
  --ct-map-editor-secondary-section-divider: #222;
  --ct-map-editor-library-popup-font-color: #fff;
  --ct-map-editor-library-popup-box-shadow: 0 0 4px rgba(0, 0, 0, .65);
  --ct-map-editor-library-popup-layer-button-color-active: #fff;
  --ct-map-editor-library-popup-active-layer-marker-bg: #fff;
  --ct-map-editor-input-bg: linear-gradient(0deg, #111 0%, #000 100%);
  --ct-map-editor-input-border-color: #444;
  --ct-map-editor-input-font-color: #fff;
  --ct-map-editor-input-border-color--error: #ffa8a8;
  --ct-map-editor-default-button-color: var(--ct-secondary-button-color);
  --ct-map-editor-default-button-color-hover: var(--ct-secondary-button-color-hover);
  --ct-map-editor-popup-default-button-color: var(--ct-secondary-button-color);
  --ct-map-editor-popup-default-button-color-hover: var(--ct-secondary-button-color-hover);
  --ct-map-editor-popup-layers-icon-fill: #7fa1b2;
  --ct-map-editor-blocking-title-color: #ccc;
  --ct-map-editor-blocking-tool-bg-color: rgba(0, 0, 0, .3);
  --ct-map-editor-blocking-tool-eraser-color: #fff;
  --ct-map-editor-reset-btn-fill: var(--ct-secondary-button-color);
  --ct-map-editor-default-btn-filter: none;
  --ct-map-editor-item-arrow-color-hover: #fff;
  --ct-map-editor-blocking-tool-selected: #444;
  --ct-map-editor-area-confirm-message-font-color: #bbb;
  --ct-map-editor-blocking-library-grid-image: url(/images/v2/christmas_town/map_grid_dark.svg);
  --ct-map-editor-library-title-text-shadow: none;
  --ct-map-editor-history-secondary-font-color: #888;
  --сt-map-editor-history-item-partial-success-bg: #51452b;
  --сt-map-editor-history-item-partial-success-font-color: #fff3bf;
  --сt-map-editor-history-item-error-bg: #513737;
  --сt-map-editor-history-item-error-font-color: #ffc9c9;
  --ct-map-editor-backups-description-font-color: #ddd;
  --ct-map-editor-backups-divider-color: #222;
  --ct-map-editor-backups-item-bg-hover: #404f5b;
  --ct-map-editor-backups-item-error-bg: #513737;
  --ct-map-editor-backups-error-tooltip-font-color: #ffc9c9;
  --ct-map-editor-backups-input-border-color: var(--ct-default-input-border-color);
  --ct-map-editor-backups-input-font-color: var(--ct-map-editor-input-font-color);
  --ct-map-editor-backups-input-placeholder-color: #999;
  --ct-map-editor-icons-sprite: url(/images/v2/christmas_town/ct_2018_icons_dark.svg);
  --ct-map-editor-overlay-bg: rgba(0, 0, 0, .5);
  --ct-map-editor-overlay-font-color: #fff;
  --ct-map-editor-overlay-text-container-bg: #444;
  --ct-map-editor-overlay-text-container-box-shadow: 0 0 4px rgba(0, 0, 0, .65);
  // map editor - fullscreen
  --ct-map-editor-fullscreen-tools-bg: linear-gradient(90deg, #535353 0%, #283c46 100%);
  --ct-map-editor-fullscreen-tools-bg-active: rgba(116, 192, 252, .2);
  --ct-map-editor-fullscreen-before-tools-divider-bg: linear-gradient(90deg, #0000 0%, #00000080 50%, #0000 100%);
  --ct-map-editor-fullscreen-after-tools-divider-bg: linear-gradient(90deg, #fff0 0%, #ffffff1a 50%, #fff0 100%);
  // npc editor
  --ct-npc-editor-slider-item-border-color: #666;
  --ct-npc-editor-slider-item-border-color-hover: #999;
  --ct-npc-editor-slider-item-border-color-active: #a9e34b;
  --ct-npc-editor-slider-item-bg: linear-gradient(180deg, #222 0%, #444 100%);
  --ct-npc-editor-slider-item-bg-hover: #222;
  --ct-mpc-editor-slider-arrow-color: var(--ct-secondary-button-color);
  --ct-mpc-editor-slider-arrow-color-hover: var(--ct-secondary-button-color-hover);
  --ct-mpc-editor-slider-arrow-color-disabled: #7fa1b2;
  --ct-npc-editor-slider-dot-color: #666;
  --ct-npc-editor-slider-dot-color-active: #fff;
  --ct-npc-editor-slider-icon-fill: var(--ct-npc-editor-slider-item-border-color-active);
  --ct-npc-editor-clue-color: #ccc;
  // all maps
  --ct-all-maps-font-color: #ddd;
  --ct-all-maps-title-font-color: #fff;
  --ct-all-maps-join-font-color: #74c0fc;
  // quick access mini-games
  --ct-quick-access-title-color: #ddd;
  --ct-quick-access-border-color: #222;
  --ct-quick-access-button-bg: linear-gradient(180deg, #dae3e8 0, #ecf1f4 24%, #ecf1f4 27%, #bdced7 61%, #e5ecef 79%, #e5ecef 82%, #bfd0d8);
  --ct-quick-access-button-hover-bg: linear-gradient(180deg, #b9ccd5 0, #dce5ea 24%, #dce5ea 27%, #b5c8d2 42%, #8aa9b8 61%, #92afbe 64%, #cedbe1 79%, #cedbe1 82%, #8dabba);
  --ct-quick-access-button-active-bg: linear-gradient(180deg, #dae3e8 0, #ecf1f4 24%, #ecf1f4 27%, #bdced7 61%, #e5ecef 79%, #e5ecef 82%, #bfd0d8);
  --ct-quick-access-button-font-color: #628ba0;
  --ct-quick-access-button-hover-font-color: #486878;
}

.dark-mode {
  --ct-hud-gesture-divider-color: #222;
  --ct-hud-gesture-bg-color-hover: #222;
  --ct-map-editor-tooltip-font-color: #fff;
  --ct-editor-tooltip-preview-image-display: none;
  --ct-lobby-text-shadow: 0 0 2px #000;
  --ct-rating-votes-title-color: #74c0fc;
  --ct-rating-votes-color: #fff;
  --ct-rating-votes-wrap-shadow-color: #000;
  --ct-rating-votes-arrow-shadow-color: #222;
  --ct-rating-votes-bg: #333;
}
