//CT HUD styles travel mode
:global {
  .d .content-wrapper.travelling .ct-wrap {
    margin: 0 auto;
  }

  @media (min-width: 1000px) {
    .d .content-wrapper {
      width: auto;
    }

    .d .content-wrapper.withoutSidebar {
      float: unset;
    }
  }

  @media (max-width: 1000px) {
    .r .content-wrapper {
      width: 386px;
      min-width: unset;
    }
  }

  @media #{$screen-mobile} {
    .r .responsive-sidebar-container .content-wrapper.travelling {
      margin-top: 10px;
    }
  }
}
