#christmastownroot {
  // general
  --ct-panel-bg: #fff;
  --ct-panel-box-shadow: none;
  --ct-item-bg: linear-gradient(180deg, #f1f4f6 0, #e8eef1);
  --ct-ornament-bg: linear-gradient(to bottom, rgba(242, 239, 247, 1) 0%, rgba(234, 230, 242, 1) 100%);
  --ct-item-box-shadow: inset 0 1px 2px rgba(0, 76, 102, .35);
  --ct-item-border-color: #fff;
  --ct-item-selected-border-color: #668fa3;
  --ct-ornament-selected-border-color: #8f78be;
  --ct-item-quantity-text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
  --ct-slider-dot-default: #d3dee5;
  --ct-slider-dot-active: #7fa1b2;
  --ct-title-bg: linear-gradient(180deg, #fff 0, #e0edf3 99%);
  --ct-title-font-color: #668fa3;
  --ct-title-text-shadow: 0 1px 0 rgba(255, 255, 255, .45);
  --ct-secondary-button-color: #0a9dcd;
  --ct-secondary-button-color-hover: #107fcf;
  --ct-title-before-divider-bg: linear-gradient(180deg, rgba(248, 249, 250, .18) 5%, #d8e1e6 25%, #c1ced6 50%, #c9d8e0 75%, rgba(248, 249, 250, .18) 95%);
  --ct-title-after-divider-bg: linear-gradient(180deg, rgba(248, 249, 250, .18) 5%, #f9fbfc 25%, #fff 50%, #f9fbfc 75%, rgba(248, 249, 250, .18) 90%);
  --ct-icon-filter: url(#defaultFilter);
  --ct-overlay-display: none;
  --ct-section-inner-top-shadow: none;
  --ct-section-inner-left-shadow: none;
  --ct-default-input-border-color: #ccc;
  --ct-error-tooltip-bg: #fff;
  --ct-error-tooltip-arrow-substrate-color: rgb(218, 218, 218);
  --ct-error-tooltip-box-shadow: rgba(0, 0, 0, .3) 0 0 8px;
  --ct-error-tooltip-arrow-filter: drop-shadow(0 1px 1px #aba5a55c);
  --ct-skeleton-border-color: #d4dfe4;
  --ct-skeleton-content-bg: #dff2f7;
  --ct-table-row-hover: #f2fbfe;
  --ct-table-row-active: #e3f5fa;
  --ct-table-row-active-hover: #e3f5fa;
  --ct-table-row-active-after: #9cd2dc;
  // HUD
  --ct-hud-edge-fade-img: url(/images/v2/christmas_town/edge_fade_light.svg);
  --ct-hud-primary-title-divider-color: #d5e0e5;
  --ct-hud-status-title-divider-box-shadow: none;
  --ct-hud-content-divider-color: #d4dfe5;
  --ct-hud-title-border-color: #bfd0d8;
  --ct-hud-input-bg: #fff;
  --ct-hud-input-font-color: #aaa;
  --ct-hud-input-text-shadow: 0 1px 0 #fff;
  --ct-hud-secondary-button-color-disabled: #d4dfe5;
  --ct-hud-secondary-button-color: #7fa1b2;
  --ct-hud-reset-button-bg-image: url('/images/v2/christmas_town/reset_location_light.svg');
  --ct-hud-timer-bg-image: url('/images/v2/christmas_town/step_reset_timer_light.svg');
  --ct-hud-score-pause-bg-image: url('/images/v2/christmas_town/score_pause_light.svg');
  // lobby
  --ct-lobby-border-color: #e5e5e5;
  --ct-lobby-color: #8a8a8a;
  --ct-lobby-sections-border-image: linear-gradient(#d4dee3, #d4dee3) 1 100%;
  --ct-lobby-title-border-bottom-color: #bfd0d8;
  --ct-lobby-players-icon-fill: #668fa3;
  --ct-lobby-join-icon-fill: #d4dfe5;
  --ct-lobby-join-icon-hover-fill: #7fa1b2;
  // rating
  --ct-rating-star-color: #e6ba5c;
  --ct-rating-stars-progress-bar-bg: #eee;
  // switcher
  --ct-switcher-beta-color: #94b1bf;
  --ct-switcher-banned-color: red;
  --ct-switcher-checkbox-bg: #d4dfe5;
  --ct-switcher-checkbox-banned-bg: red;
  // my maps
  --ct-my-maps-title-color: #668fa3;
  --ct-my-maps-font-color: #888;
  --ct-my-maps-title-bg: url(#placeholder-gradient);
  --ct-my-maps-title-extraHeaderLine-bg: linear-gradient(180deg, #fff 0, #e0edf3 99%);
  --ct-my-maps-editor-color: #93b1bf;
  --ct-my-maps-tester-color: #668fa3;
  --ct-my-maps-outcome-container-bg: linear-gradient(#f1fcff, #fff);
  --ct-my-maps-outcome-message-font-color: #668fa3;
  --ct-my-maps-outcome-message-button-color: #668fa3;
  --ct-my-maps-common-data-text-color: #94b1bf;
  --ct-my-maps-input-bg: #fff;
  --ct-my-maps-input-font-color: #888;
  --ct-my-maps-input-border-color: #c0d1d8;
  --ct-my-maps-members-bg: linear-gradient(#fdfefe 0%, #d8e2e7 100%);
  --ct-my-maps-members-border-color: #c0d1d8;
  --ct-my-maps-user-font-color: #888;
  --ct-my-maps-user-bg: #111;
  --ct-my-maps-user-search-border-color: #c0d1d8;
  --ct-my-maps-user-search-dropdown-bg: #fff;
  --ct-my-maps-user-search-dropdown-tab-bg: #eef3f5;
  --ct-my-maps-user-search-dropdown-tab-hover-bg: #fff;
  --ct-my-maps-user-search-dropdown-tab-font-color: #668fa3;
  --ct-my-maps-user-search-dropdown-tab-font-clicked-color: #476778;
  --ct-my-maps-user-search-scroll-bg: #d4dfe5;
  --ct-my-maps-user-search-scroll-hover-bg: #dfe2e2;
  --ct-my-maps-user-search-scrollbar-thumb-bg: #fff;
  --ct-my-maps-user-search-scrollbar-thumb-border: #d4dfe5;
  --ct-my-maps-user-selected-bg: #f5f5f5;
  --ct-my-maps-user-selected-color: #dcdbdb;
  --ct-my-maps-user-search-hover-bg: #eef2f4;
  --ct-my-maps-red-color: #ee8967;
  --ct-my-maps-cancel-hover-color: #476778;
  --ct-my-maps-copy-button-shadow-color: #c5c1c1;
  --ct-my-maps-copy-button-bg: linear-gradient(#fdfefe 0%, #d8e2e7 100%);
  --ct-my-maps-copy-button-hover-bg: linear-gradient(#d8e2e7 0%, #fdfefe 100%);
  --ct-my-maps-rating-touch-fill: url(#starMobileGradient);
  --ct-my-maps-rating-touch-fill-joined: url(#starMobileGradientJoined);
  // editors common
  --ct-editor-default-library-font-color: #858585;
  --ct-editor-quantity-font-color: #aaa;
  --ct-editor-category-font-color: #999;
  --ct-editor-library-content-divider: #eee;
  --ct-editor-library-list-item-bg-hover: #f5f5f5;
  --ct-editor-input-bg: #fff;
  --ct-editor-input-bg-disabled: linear-gradient(180deg, #e4e4e4 0, #f2f2f2);
  --ct-editor-input-font-color: #999;
  --ct-editor-input-font-color-disabled: #ccc;
  --ct-editor-input-border-color-active: #aaa;
  --ct-editor-default-icon-filter: url(#defaultFilter);
  --ct-editor-content-divider-color: #ddd;
  --ct-editor-form-label-color: #777;
  --ct-editor-checkbox-color: #777;
  --ct-editor-checkbox-color-hover: #333;
  --ct-editor-checkbox-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .75), 0 1px 0 0 rgba(255, 255, 255, .75);
  --ct-editor-color-picker-border-color-selected: #fff;
  --ct-editor-library-action-button-color: #bbb;
  --ct-editor-library-action-button-color-hover: #999;
  --ct-editor-secondary-button-color-disabled: #ccc;
  // map editor
  --ct-map-editor-title-button-bg-active: linear-gradient(180deg, #ddf7ff, #ddd 99%);
  --ct-map-editor-primary-section-divider-color: #bfd0d8;
  --ct-map-editor-secondary-section-divider: #bfd0d8;
  --ct-map-editor-tab-button-color: #7fa1b2;
  --ct-map-editor-button-filter: none;
  --ct-map-editor-library-popup-font-color: #767676;
  --ct-map-editor-library-popup-box-shadow: 0 0 3px rgba(0, 0, 0, .25);
  --ct-map-editor-library-popup-layer-button-color-active: #666;
  --ct-map-editor-library-popup-active-layer-marker-bg: #bfd0d8;
  --ct-map-editor-input-bg: #fff;
  --ct-map-editor-input-border-color: #ddd;
  --ct-map-editor-input-font-color: #666;
  --ct-map-editor-input-border-color--error: red;
  --ct-map-editor-default-button-color: #668fa3;
  --ct-map-editor-default-button-color-hover: #bbb;
  --ct-map-editor-popup-default-button-color: #d3dee4;
  --ct-map-editor-popup-default-button-color-hover: #668fa3;
  --ct-map-editor-popup-layers-icon-fill: #888;
  --ct-map-editor-blocking-title-color: #838383;
  --ct-map-editor-blocking-tool-bg-color: #f2f2f2;
  --ct-map-editor-blocking-tool-eraser-color: #000;
  --ct-map-editor-reset-btn-fill: #7fa1b2;
  --ct-map-editor-default-btn-filter: url(#defaultFilter);
  --ct-map-editor-item-arrow-color-hover: #545454;
  --ct-map-editor-blocking-tool-selected: #cbcbcb;
  --ct-map-editor-area-confirm-message-font-color: #666;
  --ct-map-editor-blocking-library-grid-image: url(/images/v2/christmas_town/map_grid_light.svg);
  --ct-map-editor-library-title-text-shadow: 0 1px 0 rgba(255, 255, 255, .45);
  --ct-map-editor-history-secondary-font-color: #ccc;
  --сt-map-editor-history-item-partial-success-bg: #fffaed;
  --сt-map-editor-history-item-partial-success-font-color: #a58c6a;
  --сt-map-editor-history-item-error-bg: #fff2ed;
  --сt-map-editor-history-item-error-font-color: #a56d6a;
  --ct-map-editor-backups-description-font-color: #bbb;
  --ct-map-editor-backups-divider-color: #e9eff2;
  --ct-map-editor-backups-item-bg-hover: #f1fcff;
  --ct-map-editor-backups-item-error-bg: #fff2ed;
  --ct-map-editor-backups-error-tooltip-font-color: #eb8766;
  --ct-map-editor-backups-input-border-color: #bfd0d8;
  --ct-map-editor-backups-input-font-color: #888;
  --ct-map-editor-backups-input-placeholder-color: #aaa;
  --ct-map-editor-icons-sprite: url(/images/v2/christmas_town/ct_2018_icons_light.svg);
  --ct-map-editor-overlay-bg: rgba(204, 204, 204, .6);
  --ct-map-editor-overlay-font-color: #668fa3;
  --ct-map-editor-overlay-text-container-bg: #fff;
  --ct-map-editor-overlay-text-container-box-shadow: 0 0 3px rgba(0, 0, 0, .25);
  // map editor - fullscreen
  --ct-map-editor-fullscreen-tools-bg: linear-gradient(90deg, #fff 0, #e0edf3 99%);
  --ct-map-editor-fullscreen-tools-bg-active: linear-gradient(90deg, #ddf7ff 0, #ddd 99%);
  --ct-map-editor-fullscreen-before-tools-divider-bg: linear-gradient(90deg, rgba(248, 249, 250, .18) 5%, #d8e1e6 25%, #c1ced6 50%, #c9d8e0 75%, rgba(248, 249, 250, .18) 95%);
  --ct-map-editor-fullscreen-after-tools-divider-bg: linear-gradient(90deg, rgba(248, 249, 250, .18) 5%, #f9fbfc 25%, #fff 50%, #f9fbfc 75%, rgba(248, 249, 250, .18) 90%);
  // npc editor
  --ct-npc-editor-slider-item-border-color: #ddd;
  --ct-npc-editor-slider-item-border-color-hover: #aaa;
  --ct-npc-editor-slider-item-border-color-active: #82c91e;
  --ct-npc-editor-slider-item-bg: linear-gradient(180deg, #eee 0%, #fff 100%);
  --ct-npc-editor-slider-item-bg-hover: #fff;
  --ct-mpc-editor-slider-arrow-color: #bbb;
  --ct-mpc-editor-slider-arrow-color-hover: #999;
  --ct-mpc-editor-slider-arrow-color-disabled: #eee;
  --ct-npc-editor-slider-dot-color: #ddd;
  --ct-npc-editor-slider-dot-color-active: #999;
  --ct-npc-editor-slider-icon-fill: #aaa;
  --ct-npc-editor-clue-color: #aaa;
  // all maps
  --ct-all-maps-font-color: #888;
  --ct-all-maps-title-font-color: #668fa3;
  --ct-all-maps-join-font-color: #93b1bf;
  // quick access mini-games
  --ct-quick-access-title-color: #678ea3;
  --ct-quick-access-border-color: #dfecf2;
  --ct-quick-access-button-bg: linear-gradient(to bottom, transparent, #deebf1);
  --ct-quick-access-button-hover-bg: linear-gradient(to bottom, transparent, #9fc9dc);
  --ct-quick-access-button-active-bg: linear-gradient(to bottom, #9fc9dc, transparent);
  --ct-quick-access-button-font-color: #827d7d;
  --ct-quick-access-button-hover-font-color: #999;
}

:root {
  --ct-hud-gesture-divider-color: #ddd;
  --ct-hud-gesture-bg-color-hover: #ddd;
  --ct-map-editor-tooltip-font-color: #888;
  --ct-editor-tooltip-preview-image-display: block;
  --ct-lobby-text-shadow: 0 1px 0 rgba(255, 255, 255, .45);
  --ct-rating-votes-title-color: #668fa3;
  --ct-rating-votes-color: #b8b8b8;
  --ct-rating-votes-wrap-shadow-color: #bdbdbd;
  --ct-rating-votes-arrow-shadow-color: #aba5a55c;
  --ct-rating-votes-bg: #fff;
}
