:global(.d .ct-wrap) {
  .searchBtn {
    &.disable {
      cursor: default;
    }
  }
}

:global(.dark-mode .ct-wrap) {
  .searchBtn {
    svg {
      filter: none;
    }
  }
}

.titleIcon {
  fill: #7fa1b2;
  fill: var(--ct-hud-secondary-button-color);

  &.disabled {
    fill: #d4dfe5;
    fill: var(--ct-hud-secondary-button-color-disabled);
  }
}

.resetButton {
  display: inline-block;
  width: 34px;
  height: 34px;
  background: url('/images/v2/christmas_town/reset_location_light.svg') 0 0 no-repeat;
  background-image: var(--ct-hud-reset-button-bg-image);
  float: right;
  margin-right: -10px;
  cursor: pointer;

  &.disabled {
    background-position-x: -34px;
  }
}

.position {
  line-height: 36px;
  max-height: 34px;
  float: right;
  font-size: 12px;
  margin-left: 10px;
  width: 50px;
  text-align: right;
}

.dialog {
  float: right;
  font-size: 12px;
  margin-left: 10px;

  .yes {
    color: #ff794c;
    margin: 0 8px;
    cursor: pointer;
  }

  .no {
    cursor: pointer;
  }
}

.positionReset {
  float: right;
}

.messageInput {
  padding: 0 5px;
  width: 266px;
  height: 20px;
  border: 1px solid #ccc;
  border-color: var(--ct-default-input-border-color);
  color: #aaa;
  color: var(--ct-hud-input-font-color);
  font-size: 12px;
  line-height: 14px;
  text-shadow: 0 1px 0 #fff;
  text-shadow: var(--ct-hud-input-text-shadow);
  vertical-align: middle;
  background: #fff;
  background: var(--ct-hud-input-bg);
  border-radius: 5px;

  &::placeholder {
    color: #aaa;
    color: var(--ct-hud-input-font-color);
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 230px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 164px;
    }
  }
}

.makeGesture {
  float: right;
  width: 30px;
  height: 30px;
  padding-top: 4px;
  text-align: center;
  margin-right: -10px;
  position: relative;
  margin-left: 10px;

  svg {
    margin-top: 5px;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
  }

  &::before {
    background: linear-gradient(180deg, rgba(248, 249, 250, .18) 5%, #d8e1e6 25%, #c1ced6 50%, #c9d8e0 75%, rgba(248, 249, 250, .18) 95%);
    background: var(--ct-title-before-divider-bg);
  }

  &::after {
    left: 1px;
    background: linear-gradient(180deg, rgba(248, 249, 250, .18) 5%, #f9fbfc 25%, #fff 50%, #f9fbfc 75%, rgba(248, 249, 250, .18) 90%);
    background: var(--ct-title-after-divider-bg);
  }
}

.gestureList {
  margin: -8px;
  display: flex;
  flex-wrap: nowrap;

  & > li {
    display: inline-block;
    text-align: center;
    border-right: 1px solid #ddd;
    border-right-color: var(--ct-hud-gesture-divider-color);
    width: 34px;
    height: 34px;
    cursor: pointer;

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-right: 0;
    }

    &:hover {
      background-color: #ddd;
      background-color: var(--ct-hud-gesture-bg-color-hover);
    }

    :global(.img-wrap) {
      margin: 8px 0 0 5px;
    }
  }
}
