$height: 192px;
$headerHeight: 34px;
$bodyHeight: $height - $headerHeight;

.slot {
  display: flex;
  flex-direction: column;
  width: 248px;
  height: $height;
  border-radius: 5px;
  box-shadow: 0 0 3px #00000040;
  background-color: var(--default-bg-panel-color);
}

.header {
  position: relative;
  display: flex;
  align-items: stretch;
  height: $headerHeight;
  // border-bottom: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  background: var(--loadouts-gradient-1) no-repeat;
  border-bottom: 2px solid transparent;

  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid var(--loadouts-separator-border-color);
    background: linear-gradient(to bottom, var(--loadouts-separator-box-shadow-color), rgba(255, 255, 255, .001));
  }
}

.body {
  display: flex;
  flex-grow: 1;
  height: $bodyHeight;
}

.current {
  .header {
    // background: linear-gradient(to bottom, #fff, #c9d3be);
    background: linear-gradient(to bottom, transparent, #6ca23633), var(--loadouts-gradient-1);
  }

  .body {
    background: linear-gradient(to top, #f2f2f200, #6ca23633);
  }
}

.buttons {
  display: flex;
  margin-left: auto;
}

%button {
  position: relative;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 34px;
  height: 34px;
  border: none;
  border-left: 2px solid transparent;
  cursor: pointer;
}

.button {

  @extend %button;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    width: 1px;
    background: var(--loadouts-gradient-2);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -2px;
    width: 1px;
    background: var(--loadouts-gradient-3);
  }
}

.icon {
  filter: var(--default-icon-filter);
}
