@import '../../../../styles/constants.scss';

.titleText {

  @media #{$screen-mobile} {
    #{$global-r} & {
      margin-right: 22px;
    }
  }
}

.selectGenre {
  width: 100px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 22px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      position: absolute;
      left: 108px;
      top: 28px;
      height: 15px;
      width: 90px;
      margin: 0;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      left: 60px;
      width: 80px;
    }
  }
}

.genreTitle {
  width: 46px;
  margin-right: 20px;
  margin-left: 20px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin: 0;
      width: inherit;
    }
  }
}

.genderButton {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $itemBcg;

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}

.itemsWrap {
  width: 165px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 9px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 86px;
      margin-left: 30px;
    }
  }
}

.emptySellRowSpace {
  width: 296px;
  height: inherit;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 125px;
    }
  }
}

.setupProgress {
  width: 73px;
  margin-left: 20px;
  margin-right: 29px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      left: 89px;
      top: 33px;
      width: 74px;
      margin-right: 0;
      position: absolute;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      left: 42px;
    }
  }
}

.disksWrap {
  width: inherit;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: $rowBcg;
  margin-top: 13px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex-wrap: wrap;
    }
  }
}

.diskContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100px;
  height: 167px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 96px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 80px;
    }
  }
}

.title {
  margin-bottom: 8px;
  margin-top: 10px;
  width: 40px;
  height: 15px;
  border-radius: 5px;
  background: #e3e3d8;
}

.disk {
  margin: 3px 0 2px 0;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background: #e3e3d8;
}

.queue {
  margin-top: 7px;
  margin-bottom: 10px;
  width: 50px;
  height: 12px;
  border-radius: 5px;
  background: #e3e3d8;
}

.progress {
  margin-bottom: 9px;
  width: 75px;
  height: 5px;
  border-radius: 10px;
  background: #e3e3d8;
}

.total {
  margin-bottom: 5px;
  width: 20px;
  height: 12px;
  border-radius: 3px;
  background: #e3e3d8;
}
