.noPointerEvents {
  pointer-events: none;
}

.itemWrap {
  position: relative;
  margin: 5px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin: 0;

      &:nth-child(1) {
        margin-bottom: 1px;
      }

      &:nth-child(2) {
        margin-top: 1px;
      }
    }
  }
}

.container {
  width: 60px;
  height: 30px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 38px;
      height: 19px;
    }
  }
}

.itemContainer {
  @extend .container;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--itemContainer-border);
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: var(--itemContainer-boxShadow);
  background: var(--itemContainer-background);

  &.clickable {
    cursor: pointer;
  }
}

.img {
  @extend .noPointerEvents;

  width: auto;
  height: inherit;
}

.countersContainer {
  @extend .noPointerEvents;

  bottom: 0;
  right: 0;
  width: 56px;
  height: 10px;
  display: block;
  transform: translateX(-2px);
  position: absolute;
}

.counter {
  @extend .noPointerEvents;

  position: absolute;
  bottom: 0;
  right: 0;
  letter-spacing: 0px;
  line-height: 1;
  font-size: 10px;
  color: #333;
  color: var(--items-plate-qty-color);
  text-shadow: 0 -2px 1px #fff, 0 2px 1px #fff, 2px 0 1px #fff, -2px 0 1px #fff;
  text-shadow: var(--default-qty-text-shadow);
}

.itemMock {
  @extend .container;

  border: var(--itemMock-border);
  border-radius: 5px;
}
