:global(.d) {
  .tabs {
    display: flex;
    overflow: hidden;
    font-family: 'Fjalla One';
  }

  .tab {
    flex-grow: 1;
    padding: 10px;
    line-height: 1.3em;
    cursor: default;

    &:hover,
    &.selected {
      box-shadow: inset 0 1px 1px #f4f4f0;
      text-shadow: 0 1px 0 rgba(255, 255, 255, .35);
    }

    &.success {
      background: linear-gradient(to bottom, rgba(119, 151, 26, 0) 0%, rgba(119, 151, 26, .3) 100%);
      color: #5b701c;

      &:hover {
        background: linear-gradient(to bottom, #acb694 0%, #dce6bc 100%);
      }

      &.selected {
        background: linear-gradient(to bottom, #acb694 0%, #dce6bc 100%);
      }
    }

    &.failure {
      background: linear-gradient(to bottom, rgba(184, 146, 32, 0) 0%, rgba(184, 146, 32, .3) 100%);
      color: #8e7323;

      &:hover {
        background: linear-gradient(to bottom, #d0c298 0%, #eae1bf 100%);
      }

      &.selected {
        background: linear-gradient(to bottom, #d0c298 0%, #eae1bf 100%);
      }
    }

    &.critical {
      background: linear-gradient(to bottom, rgba(223, 172, 153, 0) 0%, rgba(223, 172, 153, .3) 100%);
      color: #ca5932;

      &:hover {
        background: linear-gradient(to bottom, #dfac99 0%, #f0e0cf 100%);
      }

      &.selected {
        background: linear-gradient(to bottom, #dfac99 0%, #f0e0cf 100%);
      }
    }
  }

  .th {
    display: flex;
    border-top: 1px solid #d0d0d0;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, .5);
    color: #666659;

    &.success {
      background-color: #e3e7cd;
    }

    &.fail {
      background-color: #ede8d1;
    }

    &.jail {
      background-color: #f1e3d5;
    }
  }

  .tr {
    display: flex;
    border-top: 1px solid #dfdfd0;
    background-color: #f9f9f2;
    color: #99998c;

    &:hover {
      background-color: #fff;
    }

    &:last-of-type {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }

  .editable-tr .tr {
    background-color: #fff;
  }

  .no-records {
    flex: 1;
    padding: 12px;
  }

  .trc {
    position: relative;
  }

  .trc,
  .thc {
    display: flex;
    align-items: center;
    padding: 4px 10px;
    height: 25px;

    &:not(:last-child) {
      border-right: 1px solid #dfdfd0;
    }

    &:nth-child(1) {
      flex: 0 0 32px;
    }

    &:nth-child(2) {
      flex: 1 0 26px;
      white-space: nowrap;
    }

    &:nth-child(3) {
      flex: 7;
    }

    &:nth-child(4) {
      flex: 10;
    }

    &:nth-child(5) {
      flex: 3;
    }

    &:nth-child(6) {
      flex: 7;
    }

    &:nth-child(7) {
      flex: 4;
    }

    &:nth-child(8) {
      flex: 0 0 72px;
    }

    &:nth-child(9) {
      flex: 0 0 80px;
    }

    &:nth-child(10) {
      flex: 0 0 26px;
    }

    &.center {
      justify-content: center;
    }

    &.chance {
      font-size: 14px;
      text-align: right;
    }

    &.common {
      color: #99998c;
    }

    &.fairlycommon {
      color: #a89483;
    }

    &.lesscommon {
      color: #b89079;
    }

    &.uncommon {
      color: #c78b70;
    }

    &.rare {
      color: #d68666;
    }

    &.veryrare {
      color: #e5825d;
    }

    &.extremelyrare {
      color: #ff7a4d;
    }
  }

  .trc {
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .result-value {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  :global {
    .slide-enter {
      overflow-y: hidden;
      max-height: 0;
      transition: max-height 400ms ease-in-out;

      &.slide-enter-active {
        max-height: 500px;
      }
    }

    .slide-leave {
      overflow-y: hidden;
      max-height: 500px;
      transition: max-height 200ms ease-in-out;

      &.slide-leave-active {
        max-height: 0;
      }
    }
  }
}
