* {
  min-width: 0;
  min-height: 0;
}

.d .hubContainer {
  display: flex;
  flex-direction: column;
}

.d .crimesHub {
  margin-top: 10px;
}

.d .crimesHub .iconContainer {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 30px;
}

.d .crimesHub .crimes-icon-text {
  position: absolute;
  top: 4px;
  color: #fff;
  font-family: Imagine Font, sans-serif;
  font-size: 8px;
  line-height: 26px;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  vertical-align: middle;
}

.d .crimesHub .crimes-list > li {
  width: 174px;
  float: left;
  font-family: Fjalla One, sans-serif;
  font-size: 16px;
}

.d .crimesHub .crimes-boxes {
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  min-height: 200px;
  flex-wrap: wrap;
}

.d .crimesHub .crimes-boxes > li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 188px;
  height: 110px;
  float: left;
  font-size: 14px;
  line-height: 19px;
  position: relative;
  opacity: 0.8;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.d .crimesHub .favorites-crimes {
  height: 205px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.d .crimesHub .favorites-crimes.short-list {
  // justify-content: space-between;
  > :first-child,
  > :nth-child(2) {
    margin-right: 30px;
  }
}

.d .crimesHub .favorites-crimes > li {
  z-index: 999;
}

.d .crimesHub .crimes-boxes > li:nth-child(4n) {
  margin-right: 0;
}

.d .crimesHub .favorites-crimes > li.hover,
.d .crimesHub .favorites-crimes > li.active.hover {
  margin-top: -30px;
  opacity: 1;
}

.d .crimesHub .favorites-crimes:not(.short-list) > li.hover:last-child,
.d .crimesHub .favorites-crimes:not(.short-list) > li.active.hover:last-child {
  margin-left: -39px;
}

.d .crimesHub .favorites-crimes > li.active.hover canvas {
  display: none;
}

.content-wrapper .d .crimesHub .favorites-crimes > li.clear {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  float: none;
  font-size: 0;
}

.d .crimesHub .crimes-list > li a {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  color:#575747;
  text-decoration: none;
}

.d .crimesHub .crimes-list > li .title {
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 34px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  line-height: 30px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

.d .crimesHub .crimes-list > li .t-overflow__icon {
  z-index: 1;
}

.d .crimesHub .crimes-boxes > li .title {
  width: 100%;
  height: 26px;
  line-height: 28px;
}

.d .crimesHub .favorites-crimes > li.hover .title,
.d .crimesHub .favorites-crimes > li.active.hover .title {
  width: 100%;
}

.d .crimesHub .crimes-list > li.disable a {
  cursor: text;
}

.d .crimesHub .crimes-boxes > li.disable .box-bg {
  opacity: .6;
}

.d .crimesHub .crimes-list > li.disable .title,
.d .crimesHub .crimes-list > li.disable .footer {
  display: none;
}

.d .crimesHub .crimes-list .title {
  background: #ebfbeecc 0% 0% no-repeat padding-box;
}

.d .crimesHub .crimes-list > li .image-wrap {
  width: 100%;
  height: 164px;
  overflow: hidden;
  border-radius: 3px;
  opacity: 1;
  transition: height .3s linear, opacity .3s linear;
}

.d .crimesHub .crimes-list.short-list > li.active.hover .image-wrap {
  height: 204px;
}

.d .crimesHub .favorites-crimes > li.hover .image-wrap,
.d .crimesHub .favorites-crimes > li.active.hover .image-wrap {
  // width: 204px;
  height: 204px;
}

.d .crimesHub .crimes-boxes > li .image-wrap {
  opacity: .8;
}

.d .crimesHub .crimes-boxes > li .image-wrap:hover {
  opacity: 1;
}

.d .crimesHub .crimes-boxes > li .image-wrap {
  width: 100%;
  height: 104px;
  transition: unset;
}

.d .crimesHub .crimes-boxes > li .image-wrap img,
.d .crimesHub .crimes-boxes > li .image-wrap canvas {
  width: 100%;
  height: 100%;
}

.d .crimesHub .favorites-crimes > li .footer {
  padding-left: 8px;
  color: #79796a;
  font-size: 12px;
  line-height: 25px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

.d .crimesHub .crimes-boxes > li.completed .footer,
.d .crimesHub .crimes-boxes > li.error .footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -16px;
  width: 32px;
  height: 26px;
  background: url("/images/v2/2sef32sdfr422svbfr2/crimes/info_icon_10px_gap.png") 0 0 no-repeat;
}

.d .crimesHub .crimes-boxes > li.error .footer {
  background-position: right 0;
}

.d .crimesHub .favorites-crimes > li.completed .footer {
  color: #7a9230;
}

.d .crimesHub .favorites-crimes > li.error .footer {
  color: #c46c4f;
}

.d [class^="crimes-education-icon-"],
.d [class*=" crimes-education-icon-"] {
  display: inline-block;
  width: 60px;
  height: 30px;
  background: url(/images/v2/2sef32sdfr422svbfr2/crimes/all_education_images.png) left top no-repeat;
  vertical-align: middle;
}

.d .crimes-education-icon-biology {
  background-position: 0 -40px;
}

.d .crimes-education-icon-biology:hover {
  background-position: 0 0;
}

.d .crimes-education-icon-biology.locked {
  background-position: 0 -80px;
}

.d .crimes-education-icon-business-management {
  background-position: -70px -40px;
}

.d .crimes-education-icon-business-management:hover {
  background-position: -70px 0;
}

.d .crimes-education-icon-business-management.locked {
  background-position: -70px -80px;
}

.d .crimes-education-icon-combat-training {
  background-position: -140px -40px;
}

.d .crimes-education-icon-combat-training:hover {
  background-position: -140px 0;
}

.d .crimes-education-icon-combat-training.locked {
  background-position: -140px -80px;
}

.d .crimes-education-icon-computer-science {
  background-position: -210px -40px;
}

.d .crimes-education-icon-computer-science:hover {
  background-position: -210px 0;
}

.d .crimes-education-icon-computer-science.locked {
  background-position: -210px -80px;
}

.d .crimes-education-icon-general-studies {
  background-position: -280px -40px;
}

.d .crimes-education-icon-general-studies:hover {
  background-position: -280px 0;
}

.d .crimes-education-icon-general-studies.locked {
  background-position: -280px -80px;
}

.d .crimes-education-icon-health-fitness {
  background-position: -350px -40px;
}

.d .crimes-education-icon-health-fitness:hover {
  background-position: -350px 0;
}

.d .crimes-education-icon-health-fitness.locked {
  background-position: -350px -80px;
}

.d .crimes-education-icon-history {
  background-position: -420px -40px;
}

.d .crimes-education-icon-history:hover {
  background-position: -420px 0;
}

.d .crimes-education-icon-history.locked {
  background-position: -420px -80px;
}

.d .crimes-education-icon-law {
  background-position: -490px -40px;
}

.d .crimes-education-icon-law:hover {
  background-position: -490px 0;
}

.d .crimes-education-icon-law.locked {
  background-position: -490px -80px;
}

.d .crimes-education-icon-maths {
  background-position: -560px -40px;
}

.d .crimes-education-icon-maths:hover {
  background-position: -560px 0;
}

.d .crimes-education-icon-maths.locked {
  background-position: -560px -80px;
}

.d .crimes-education-icon-psychology {
  background-position: -630px -40px;
}

.d .crimes-education-icon-psychology:hover {
  background-position: -630px 0;
}

.d .crimes-education-icon-psychology.locked {
  background-position: -630px -80px;
}

.d .crimes-education-icon-self-defence {
  background-position: -700px -40px;
}

.d .crimes-education-icon-self-defence:hover {
  background-position: -700px 0;
}

.d .crimes-education-icon-self-defence.locked {
  background-position: -700px -80px;
}

.d .crimes-education-icon-sports-science {
  background-position: -770px -40px;
}

.d .crimes-education-icon-sports-science:hover {
  background-position: -770px 0;
}

.d .crimes-education-icon-sports-science.locked {
  background-position: -770px -80px;
}

@media screen and (max-width: 1000px) {
  .r .content-wrapper .crimesHub .crimes-boxes {
    margin-left: -2px;
    width: 390px;
  }

  .r .content-wrapper .crimesHub .crimes-boxes > li {
    margin-right: 7px;
    margin-bottom: 7px;
    width: 191px;
  }

  .r .content-wrapper .crimesHub .crimes-boxes > li:nth-child(2n) {
    margin-right: 0;
  }

  .r .content-wrapper .crimesHub .favorites-crimes {
    height: auto;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li {
    z-index: 0;
    margin-left: 0;
    width: 386px;
    float: none;
    font-size: 14px;
    position: relative;
    padding-bottom: 4px;
    border-radius: 0;
    background: transparent linear-gradient(180deg, #EEEEEE 0%, #DDDDDD 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #00000000;
    opacity: 1;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li:active,
  .r .content-wrapper .crimesHub .favorites-crimes > li:hover {
      background: transparent linear-gradient(180deg, #DEDEDE 0%, #F7F7F7 25%, #CFCFCF 60%, #E7E7E7 78%, #D9D9D9 100%) 0% 0% no-repeat padding-box;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li .box-bg {
    border-top: 1px solid #ccc;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li:first-child .box-bg {
    border-top: 0;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li:first-child {
    border-top: 0;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li.hover,
  .r .content-wrapper .crimesHub .favorites-crimes > li.active.hover {
    margin-top: 0;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li .box-bg,
  .r .content-wrapper .crimesHub .favorites-crimes > li.hover .box-bg,
  .r .content-wrapper .crimesHub .favorites-crimes > li.active.hover .box-bg {
    padding: 0;
    width: 386px;
    height: 34px;
    background: url("/images/v2/2sef32sdfr422svbfr2/crimes/578_top_crimes_bar.png") 0 0 repeat-x;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li.hover .box-bg,
  .r .content-wrapper .crimesHub .favorites-crimes > li.active.hover .box-bg {
    background: url("/images/v2/2sef32sdfr422svbfr2/crimes/320_most_popular_crime_bar.png") 0 0 repeat-x;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li .title {
    position: static;
    top: 0;
    left: 0;
    width: 260px;
    height: 34px;
    float: left;
    box-shadow: none;
    background: transparent;
    line-height: 35px;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li .image-wrap,
  .r .content-wrapper .crimesHub .favorites-crimes > li.hover .image-wrap,
  .r .content-wrapper .crimesHub .favorites-crimes > li.active.hover .image-wrap {
    display: none;
  }

  .r .crimesHub .crimes-list > li .image-wrap {
    border-radius: 0;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li .title [class^="crimes-icon-"],
  .r .content-wrapper .crimesHub .favorites-crimes > li .footer {
    height: 34px;
    line-height: 33px;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li .title .crimes-icon-1 {
    background-position: 0 -2px;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li .title .crimes-icon-2 {
    background-position: 0 -35px;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li .title .crimes-icon-3 {
    background-position: 0 -69px;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li .title .crimes-icon-4 {
    background-position: 0 -103px;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li .title .crimes-icon-5 {
    background-position: 0 -137px;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li .title .crimes-icon-6 {
    background-position: 0 -171px;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li .footer {
    padding-left: 0;
    text-align: right;
    padding-right: 14px;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li .footer::after {
    content: "";
    display: block;
    margin-left: 10px;
    width: 10px;
    height: 42px;
    float: right;
    position: absolute;
    right: -3px;
    top: -3px;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li .footer::after {
    background: #73b71533 0% 0% no-repeat padding-box;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li.hover:last-child,
  .r .content-wrapper .crimesHub .favorites-crimes > li.active.hover:last-child {
    margin-left: 0;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li .box-bg,
  .r .content-wrapper .crimesHub .favorites-crimes > li,
  .r .content-wrapper .crimesHub .favorites-crimes > li .image-wrap,
  .r .content-wrapper .crimesHub .crimes-list > li .title {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li .box-bg .title {
    background-color: transparent;
  }
}
@media screen and (max-width: 600px) {
  .r .content-wrapper .crimesHub .favorites-crimes > li .box-bg,
  .r .content-wrapper .crimesHub .favorites-crimes > li.hover .box-bg,
  .r .content-wrapper .crimesHub .favorites-crimes > li.active.hover .box-bg,
  .r .content-wrapper .crimesHub .favorites-crimes > li {
    width: 320px;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li .box-bg,
  .r .content-wrapper .crimesHub .favorites-crimes > li.hover .box-bg,
  .r .content-wrapper .crimesHub .favorites-crimes > li.active.hover .box-bg {
    width: 320px;
    background: url("/images/v2/2sef32sdfr422svbfr2/crimes/320_top_crimes_bar.png") 0 0 repeat-x;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li .footer,
  .r .content-wrapper .crimesHub .crimes-boxes > li .footer {
    display: block;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li .title,
  .r .content-wrapper .crimesHub .favorites-crimes > li .image-wrap,
  .r .content-wrapper .crimesHub .favorites-crimes > li.hover .title,
  .r .content-wrapper .crimesHub .favorites-crimes > li.active.hover .image-wrap {
    width: 200px;
  }

  .r .content-wrapper .crimesHub .crimes-boxes > li .box-bg {
    width: 153px;
    height: 104px;
    background: url("/images/v2/2sef32sdfr422svbfr2/crimes/320_box_bottom_frame.png") 0 0 no-repeat;
  }

  .r .content-wrapper .crimesHub .favorites-crimes > li.hover .box-bg,
  .r .content-wrapper .crimesHub .favorites-crimes > li.active.hover .box-bg {
    background: url("/images/v2/2sef32sdfr422svbfr2/crimes/320_most_popular_crime_bar.png") 0 0 repeat-x;
  }

  .r .content-wrapper .crimesHub .crimes-boxes > li .image-wrap {
    width: 153px;
    height: 104px;
    border-radius: 0;
  }

  .r .content-wrapper .crimesHub .crimes-boxes > li .title {
    z-index: 2;
    width: 153px;
  }

  .r .content-wrapper .crimesHub .crimes-boxes > li {
    margin-right: 2px;
    margin-bottom: 2px;
    width: 159px;
  }

  .r .content-wrapper .crimesHub .crimes-boxes {
    margin-left: -2px;
    width: 322px;
    overflow-x: hidden;
  }

  .r .content-wrapper .crimesHub .crimes-boxes > li .image-wrap img, .d .crimesHub .crimes-boxes > li .image-wrap canvas {
    position: relative;
    left: -15px;
    width: 184px;
  }

  .slick-slider.slick--horizontal {
    max-width: 74px;
  }
}

.image-wrap__image {
  filter: saturate(60%) contrast(85%);
}
