.cardContainer {
  background: rgba(0, 0, 0, 0) linear-gradient(180deg, #fff, #f4fce3cc) 0 0 no-repeat padding-box;
  box-shadow: 0px 1px 2px #00000040;
  border-radius: 5px;
  overflow: hidden;
  padding: 3px 3px 23px 3px;
  box-sizing: border-box;
  transition: all .3s linear;
  position: absolute;

  @media #{$screen-tablet} {
    border-radius: 0;
  }
}

.favoriteCard {
  opacity: 1;
}

:global(.short-list) {
  .cardContainer {
    position: relative;
  }
}
