:global() {
  .wrap {
    display: flex;
    margin-top: 10px;
    font: Arial, Helvetica, sans-serif 12px;
  }

  .itemLibraryWrap {
    flex: 1;
    margin-right: 10px;
  }

  .modelEditorWindow {
    flex: 0 0 240px;
    margin-right: 10px;
    background: #ccc;

    #{$dark-mode} & {
      background: #333;
    }
  }

  .slotsMapper {
    flex: 1;
  }

  h3.header {
    box-sizing: border-box;
    margin: 0;
    padding: 12px 10px;
    height: 35px;
    overflow: hidden;
    border-bottom: 1px solid var(--default-panel-divider-outer-side-color);
    border-radius: 5px 5px 0 0;
    background: var(--default-panel-gradient);
    color: var(--default-color);
    font-size: 12px;
  }

  .tabs {
    display: flex;
    overflow: hidden;
    border-bottom: 1px solid var(--default-panel-divider-outer-side-color);
    border-radius: 5px 5px 0 0;
    cursor: pointer;
  }

  h3.tab {
    box-sizing: border-box;
    display: inline-block;
    flex: 1;
    margin: 0;
    padding: 12px 10px;
    height: 35px;
    background: var(--default-panel-gradient);
    color: var(--default-color);
    font-size: 12px;

    &.active {
      background: var(--default-panel-active-gradient);
    }
  }

  .contentWrap {
    display: flex;
    flex-direction: column;
    height: 470px;
    border-radius: 0 0 5px 5px;
    background-color: var(--default-bg-panel-color);
    border-top: 1px solid var(--default-panel-divider-inner-side-color);
  }

  .model {
    position: relative;
    background-repeat: no-repeat;
    background-position: center 20px;

    &.playerWindow {
      position: relative;
      box-sizing: border-box;
      order: 1;
      overflow: hidden;
      border-width: 1px 1px 1px 1px;
      border-style: solid;
      border-color: #fff #fbfbfb #ededed #f2f2f2;
      background: #ccc;
      width: 240px;

      #{$dark-mode} & {
        border-color: #565656;
        position: relative;
        background: #333;
      }
    }
  }

  .itemlibrary {
    z-index: 1;
    flex: 1;
    overflow-y: scroll;
  }

  .presetsManager {
    z-index: 2;
    padding: 4px;
    border-bottom: 1px solid var(--default-panel-divider-outer-side-color);
  }
}
