.errorTooltip {
  position: absolute;
  bottom: calc(100% + 10px);
  left: calc(50% - 40px);
  z-index: 100;
  padding: 7px 10px 5px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, .3) 0 0 8px;
  box-shadow: var(--ct-error-tooltip-box-shadow);
  background-color: #fff;
  background-color: var(--ct-error-tooltip-bg);
  line-height: 14px;
  color: #eb8766;
  font-size: 12px;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -7px;
    border-width: 7px 7px 0;
    border-style: solid;
    border-color: #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-color: var(--ct-error-tooltip-bg) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    margin: 0 auto;
    width: 0;
    height: 0;
    filter: drop-shadow(0 1px 1px #aba5a55c);
    filter: var(--ct-error-tooltip-arrow-filter);
  }
}
