$closeSize: 30px;

.buyConfirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-color: var(--default-bg-panel-active-color);
}

.message {
  margin-top: 10px;
}

.summary {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 23px;
  padding-left: 23px;
  width: 100%;
}

.name {
  height: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.totalPrice {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 14px;
}

.sum {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.summaryInline {
  display: inline-block;
}

.average {
  display: block;
  margin-top: 2px;
  width: 100%;
  color: #d83500;
  color: var(--default-red-color);
  font-weight: bold;
  text-align: center;
}

.control {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 0;
  border: 0;
  background: none;
  color: #678c00;
  color: var(--default-green-color);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;

  &.gray {
    color: #666;
    color: var(--default-gray-6-color);
  }

  &:not(:first-child) {
    margin-left: 8px;
  }

  &:hover,
  &:focus {
    color: #999;
    color: var(--default-gray-9-color);
  }
}

.close {
  position: absolute;
  top: 4px;
  right: 2px;
  padding: 0;
  width: $closeSize;
  height: $closeSize;
  border: 0;
  background: 0;
  cursor: pointer;
}
