@import '../../styles/common.cssmodule.scss';

.tabsContainer {
  width: 100%;
  height: 32px;
  border-bottom: 1px solid #bfd0d8;
  background: #fff;
  composes: flexCenterStart;
}

.tabSection {
  composes: section;
  composes: fontBlue;

  &:first-of-type {
    padding-left: 15px;
  }
}

.rowsContainer {
  flex-direction: column;
  height: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #fff;
  composes: flexCenterStart;
}

.placeholderWrap {
  align-items: center;
  justify-content: center;
  height: 55px;
  text-align: center;
  composes: rowsContainer;
  composes: fontBlue;
}
