@import '../../../styles/editors.cssmodule.scss';

.positionX,
.positionY {
  composes: input;
  margin-top: 0;
  width: 19px;
  text-align: center;

  &.active {
    border: 1px solid #aaa;
    border-color: var(--ct-editor-input-border-color-active);
  }
}

.inputPositionGroup {
  position: relative;
  margin-top: 10px;
  margin-right: 10px;

  .error {
    border: 1px solid #eb8766 !important;
  }

  .deleteCoord {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 16px;
    height: 16px;
    border: 1px solid #aaa;
    border-color: var(--ct-editor-input-border-color-active);
    background: #fff;
    background: var(--ct-panel-bg);

    svg {
      filter: var(--ct-editor-default-icon-filter);
    }
  }

  .coordsError {
    left: 0;
  }

  .positionX {
    border-radius: 5px 0 0 5px !important;
  }

  .positionY {
    border-left: none !important;
    border-radius: 0 5px 5px 0 !important;
  }
}

.addPosition {
  cursor: pointer;
  margin-bottom: 8px;

  svg {
    fill: #0a9dcd;
    fill: var(--ct-secondary-button-color);
    filter: var(--ct-editor-default-icon-filter);
  }

  &:hover {
    svg {
      fill: #107fcf;
      fill: var(--ct-secondary-button-color-hover);
    }
  }
}

.spanBtn {
  padding: 0;
  border: none;
  background: none;
  color: #0a9dcd;
  color: var(--ct-secondary-button-color);
  font-family: 'Fjalla One', sans-serif;
  font-size: 12px;

  &:hover {
    color: #107fcf;
    color: var(--ct-secondary-button-color-hover);
  }

  &.disabled {
    color: #ccc;
    pointer-events: none;
  }
}
