$infoPaddingRight: 10px;
$buyFormWidth: 47px;
$cancelSize: 30px;
$cancelRight: 2px;
$buttonOccupiedSpace: $cancelSize + $cancelRight - $infoPaddingRight;

.buyForm {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: $buyFormWidth;
  border-left: 2px solid transparent;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
    height: calc(100% - 2px);
    border-left: 1px solid #ccc;
    border-left-color: var(--default-panel-divider-outer-side-color);
    border-right: 1px solid #fff;
    border-right-color: var(--default-panel-divider-inner-side-color);
  }
}

.field {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 50%;
  border-bottom: 2px solid transparent;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: -2px;
    z-index: 2;
    width: 100%;
    height: 0;
    border-top: 1px solid #ccc;
    border-top-color: var(--default-panel-divider-outer-side-color);
    border-bottom: 1px solid #fff;
    border-bottom-color: var(--default-panel-divider-inner-side-color);
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      &:last-child {
        border-bottom: none;

        &::before {
          display: none;
        }
      }
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      &:last-child {
        border-bottom: none;

        &::before {
          display: none;
        }
      }
    }
  }
}

.buyAmountInput {
  box-sizing: border-box;
  padding: 10px 7px;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
  background: var(--input-background-color);
  color: #000;
  color: var(--input-color);
}

.buy {
  padding-bottom: 4px;
  width: 100%;
  height: 100%;
  border: 0;
  background: 0;
  color: #069;
  color: var(--default-blue-color);
  cursor: pointer;
  font-size: 12px;

  &:hover,
  &:disabled {
    color: #999;
    color: var(--default-gray-9-hover-color);
  }
}
