.match {
  display: flex;
  color: #333;
  color: var(--bookies-match-active-color);

  &.isNotActive {
    color: #999;
    color: var(--bookies-match-not-active-color);
  }
}

.matchName {
  width: auto;
  flex-grow: 1;
}
