.warReportWp {
  .titleMsg {
    font-size: 24px;
    color: var(--default-gray-9-color);

    a {
      font-weight: normal;
      color: var(--faction-war-default-blue-color);
    }

    a:hover {
      color: var(--faction-war-default-blue-hover-color);
    }
  }

  .graph {
    height: 200px;
  }

  .contGray {
    border-bottom-color: var(--default-panel-divider-outer-side-color);
  }

  .total {
    color: var(--default-gray-6-color);
  }
}

.membersWrap {
  --sort-arrow-color: #ccc;
  --sort-arrow-border-color: #fff;
}

:global(.dark-mode) {
  .membersWrap {
    --sort-arrow-color: #000;
    --sort-arrow-border-color: #000;
  }
}

:global(.d .f-war-list.war-new .faction-war) {
  border-top: 0;
}

.membersWrap {
  .customStatus {
    margin: 0 2px 0 -4px;
  }

  .customBlockWrap {
    margin-right: -4px;
  }

  .name {
    width: 372px;

    .score {
      margin-top: 10px;

      @media (max-width: 1000px) {
        #{$global-r} & {
          margin-top: 0;
        }
      }
    }

    &.current {
      .score {
        color: #85b200;
      }
    }

    &.opponent {
      .score {
        color: #ff794c;
      }
    }

    @media (max-width: 1000px) {
      #{$global-r} & {
        width: 173px;
        padding: 0 10px;
        background: var(--default-tabs-bg-gradient);
        position: relative;

        &:not(.active) {
          cursor: pointer;
        }

        &.active {
          background: var(--tabs-active-bg-gradient);
        }

        &.current {
          &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 1px;
            background: var(--default-divider-left-linear-gradient);
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: -1px;
            width: 1px;
            background: var(--default-divider-right-linear-gradient);
          }
        }

        .text {
          float: left;
          max-width: 130px;
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .score {
          float: right;
        }
      }
    }
    @media (max-width: 600px) {
      #{$global-r} & {
        width: 140px;

        .text {
          max-width: 94px;
        }
      }
    }
  }

  .tabMenuCont {

    @media (max-width: 1000px) {
      #{$global-r} & {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }

  .membersCont > div {
    line-height: 36px;
  }

  .profileMode {
    display: block;

    .prevColumn {
      border-right: 0 !important;
    }

    .attack {
      display: none;
    }
  }

  .membersCont {
    .tab {
      .sortIcon {
        margin: auto;
        position: relative;
        z-index: 1;
        left: 5px;
        display: none;

        &.activeIcon {
          display: block;
        }

        &.desc {
          top: -1px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 6px 0 6px;
          border-color: var(--sort-arrow-border-color) transparent transparent transparent;
        }

        &.desc::after {
          content: '';
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-top: 5px solid var(--sort-arrow-color);
          border-right: 5px solid transparent;
          position: absolute;
          top: -6px;
          left: -5px;
        }

        &.asc {
          top: -8px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 6px 6px 6px;
          border-color: transparent transparent var(--sort-arrow-color) transparent;
        }

        &.asc::after {
          content: '';
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-bottom: 6px solid var(--sort-arrow-border-color);
          border-right: 5px solid transparent;
          position: absolute;
          top: 1px;
          left: -5px;
        }
      }
    }

    &.report {
      .status {
        color: var(--default-gray-6-color);
      }
    }
  }
}

:global(.f-war-list.war-new .faction-war .tab-menu-cont .members-cont .members) {
  &.tab {
    line-height: 35px;
  }
}

:global(.f-war-list.war-new .faction-war .tab-menu-cont .members-cont .white-grad .knock-off) {

  @media (max-width: 600px) {
    #{$global-r} & {
      display: block;
    }
  }
}
