@import '../../styles/common.cssmodule.scss';

.skeletonFullWrap {
  border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  background: var(--ct-panel-bg);
  opacity: 1;
}

.headerSkeleton {
  box-sizing: border-box;
  width: inherit;
  height: 33px;
  border-bottom: 1px solid #d4dfe4;
  border-color: var(--ct-skeleton-border-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(180deg, #fff, #e0edf3 99%);
  background: var(--ct-title-bg);
  composes: flexCenterStart;
}

.skeletonTabsWrap {
  flex-direction: row;
  width: 100%;
  height: 32px;
  border-bottom: 1px solid #d4dfe4;
  border-color: var(--ct-skeleton-border-color);
  composes: flexCenter;
  opacity: 1;
}

.skeletonRowsWrap {
  composes: flexCenter;
  flex-direction: column;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.skeletonRow {
  composes: flexCenter;
  width: 100%;
  height: 32px;
  border-bottom: 1px solid #d4dfe4;
  border-color: var(--ct-skeleton-border-color);
}

.placeholderSection {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  composes: flexCenter;
}

.sectionAnimation {
  animation-name: skeletonBlinking;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.afterEntity {
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 50%;
    height: 75%;
    background: #dff2f7;
    background: var(--ct-skeleton-content-bg);
    transform: translate(-50%, -50%);

    @extend .sectionAnimation;
  }

  &:first-of-type {
    &::after {
      transform: translate(0%, -50%);
      left: 15px;
    }
  }
}

.subSectionSkeleton {
  display: block;
  width: 100%;
  height: 100%;

  &:last-of-type {
    border-right: 0;
  }
}

@keyframes skeletonBlinking {
  0% {
    opacity: 1;
  }

  15% {
    opacity: .75;
  }

  25% {
    opacity: .5;
  }

  50% {
    opacity: .45;
  }

  80% {
    opacity: .75;
  }

  95% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }
}
