.container {
  position: relative;
  width: 15px;
  height: 15px;
}

.input {
  position: absolute;
  right: -1000px;
  opacity: 0;
}

.button {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 0;
  border: 0;
  background: none;
}
