:global {
  .dialog-title__halloween {
    font-family: 'Creepster', cursive;
    background: linear-gradient(to bottom, #f85e02 0%, #f89534 100%);
    -webkit-background-clip: text;
    color: #f85e02;
    font-size: 16px;
    -webkit-text-fill-color: transparent;
  }
}
