$size: 14px;
$bgStep: 34px;
$diff: ($bgStep - $size)/2;

.icon {
  background-image: url(/images/v2/attack/accuracy_damage_life_stealth.svg);
  background-repeat: no-repeat;
  width: $size;
  height: $size;
  display: inline-block;
  float: left;
  margin: -2px 6px 0 0;
}

.iconHits {
  composes: icon;
  background-position: -$diff -#{0 * $bgStep + $diff - 1};
}

.iconDamage {
  composes: icon;
  background-position: -$diff -#{1 * $bgStep + $diff - 1};
  margin-right: 4px;
}

.iconHealth {
  composes: icon;
  background-position: -$diff -#{2 * $bgStep + $diff - 1};
}

.iconStealth {
  composes: icon;
  background-position: -$diff -#{3 * $bgStep + $diff - 1};
}
