.boxTitle {
  box-sizing: border-box;
  height: 34px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  background-image: linear-gradient(#fff, #ddd);
  color: #666;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .65);

  @media #{$screen-mobile} {
    #{$global-r} & {
      border-radius: 0;
    }
  }
}

#{$dark-mode} {
  .boxTitle {
    color: #ffffff;
    text-shadow: 0px 0px 2px #000000;
    background: transparent linear-gradient(180deg, #555555 0%, #333333 100%) 0% 0% no-repeat padding-box;
    border-bottom: 1px solid #111;
  }
}
