.toggleLayers {
  position: absolute;
  background-color: #f9f9f9;
  right: 0;
  top: 27px;
  box-shadow: -1px 1px 1px #00000026;

  .toggleLayer {
    width: 30px;
    height: 30px;
    text-align: center;

    .layer {
      height: 100%;
      width: 100%;
      background: transparent;
      border: 0;
      padding: 0;
      margin: 0;
      cursor: pointer;
      border-bottom: 1px solid 	rgba(0,0,0, 0.05);

      &.iconWrapper {
        font-size: 0;
        line-height: 0;
      }

      &.defaultLayer {
        cursor: default;
      }
    }
  }

  .viewShowIcon {
    float: right;
    margin: 2px 2px 0 0;
  }

  .layerIcon {
    float: left;
    margin: -2px 0 0 5px;
  }
}

:global(.fullscreen-mode) {
  .toggleLayers {
    top: 29px;
  }
}
