.dark-mode #icsroot {
  --ics-navbar-bg: #333;
  --ics-navbar-top-border: 1px solid #222;
  --ics-navbar-box-shadow: inset 0 1px 0 #ffffff1a;
  --ics-drag-n-drop-zone-bg: #333;
  --ics-loader-description-font-color: #999;
  --ics-upload-img: url(/images/v2/ics/upload_icon_dark.svg);
  --ics-loader-corner-color: #777;
  --ics-overlay-bg-color: rgba(25, 25, 25, .8);
  --ics-close-icon-fill: url('#crossGradient');
  --ics-close-icon-hover-fill: #fff;
}

.dark-mode {
  --ics-tool-btn-gradient-stop-1: #ccc;
  --ics-tool-btn-gradient-stop-2: #888;
  --ics-tool-btn-hover-gradient-stop-1: #fff;
  --ics-tool-btn-hover-gradient-stop-2: #fff;
}
