.editor {
  height: 100%;
}

.canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 33px);

  &.hidden {
    visibility: hidden;
  }

  & > img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}

:global {
  :root {
    --blue: #39f;
  }

  .cropper-container {
    position: relative;
    font-size: 0;
    line-height: 0;
    direction: ltr;
    touch-action: none;
    user-select: none;

    & img {

      /* Avoid margin top issue (Occur only when margin-top <= -height) */
      display: block;
      min-width: 0 !important;
      min-height: 0 !important;
      max-width: none !important;
      max-height: none !important;
      width: 100%;
      height: 100%;
      image-orientation: 0deg;
    }
  }

  .cropper-wrap-box,
  .cropper-canvas,
  .cropper-drag-box,
  .cropper-crop-box,
  .cropper-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px 5px 0 0;
  }

  .cropper-wrap-box,
  .cropper-canvas {
    overflow: hidden;
  }

  .cropper-canvas {
    border-radius: 0;
  }

  .cropper-drag-box {
    background-color: #fff;
    opacity: 0;
  }

  .cropper-modal {
    background-color: #000;
    opacity: .5;
  }

  .cropper-view-box {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // outline-color: color(var(--blue) alpha(75%));
    // outline: 1px solid var(--blue);
    box-sizing: border-box;
    border: 1px solid var(--blue);
  }

  .cropper-dashed {
    position: absolute;
    display: block;
    border: 0 dashed #eee;
    opacity: .5;

    &.dashed-h {
      top: calc(100% / 3);
      left: 0;
      width: 100%;
      height: calc(100% / 3);
      border-top-width: 1px;
      border-bottom-width: 1px;
    }

    &.dashed-v {
      top: 0;
      left: calc(100% / 3);
      width: calc(100% / 3);
      height: 100%;
      border-right-width: 1px;
      border-left-width: 1px;
    }
  }

  .cropper-center {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    opacity: .75;

    &::before,
    &::after {
      content: ' ';
      position: absolute;
      display: block;
      background-color: #eee;
    }

    &::before {
      top: 0;
      left: -3px;
      width: 7px;
      height: 1px;
    }

    &::after {
      top: -3px;
      left: 0;
      width: 1px;
      height: 7px;
    }
  }

  .cropper-face,
  .cropper-line,
  .cropper-point {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .1;
  }

  .cropper-face {
    top: 0;
    left: 0;
    background-color: #fff;
  }

  .cropper-line {
    background-color: var(--blue);

    &.line-e {
      top: 0;
      right: -3px;
      width: 5px;
      cursor: ew-resize;
    }

    &.line-n {
      top: -3px;
      left: 0;
      height: 5px;
      cursor: ns-resize;
    }

    &.line-w {
      top: 0;
      left: -3px;
      width: 5px;
      cursor: ew-resize;
    }

    &.line-s {
      bottom: -3px;
      left: 0;
      height: 5px;
      cursor: ns-resize;
    }
  }

  .cropper-point {
    width: 5px;
    height: 5px;
    background-color: var(--blue);
    opacity: .75;

    &.point-e {
      top: 50%;
      right: -3px;
      margin-top: -3px;
      cursor: ew-resize;
    }

    &.point-n {
      top: -3px;
      left: 50%;
      margin-left: -3px;
      cursor: ns-resize;
    }

    &.point-w {
      top: 50%;
      left: -3px;
      margin-top: -3px;
      cursor: ew-resize;
    }

    &.point-s {
      bottom: -3px;
      left: 50%;
      margin-left: -3px;
      cursor: s-resize;
    }

    &.point-ne {
      top: -3px;
      right: -3px;
      cursor: nesw-resize;
    }

    &.point-nw {
      top: -3px;
      left: -3px;
      cursor: nwse-resize;
    }

    &.point-sw {
      bottom: -3px;
      left: -3px;
      cursor: nesw-resize;
    }

    &.point-se {
      right: -3px;
      bottom: -3px;
      width: 20px;
      height: 20px;
      cursor: nwse-resize;
      opacity: 1;

      @media (min-width: 768px) {
        width: 15px;
        height: 15px;
      }
      @media (min-width: 992px) {
        width: 10px;
        height: 10px;
      }
      @media (min-width: 1200px) {
        width: 5px;
        height: 5px;
        opacity: .75;
      }
    }

    &.point-se::before {
      content: ' ';
      position: absolute;
      right: -50%;
      bottom: -50%;
      display: block;
      width: 200%;
      height: 200%;
      background-color: var(--blue);
      opacity: 0;
    }
  }

  .cropper-invisible {
    opacity: 0;
  }

  .cropper-hide {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
  }

  .cropper-hidden {
    display: none !important;
  }

  .cropper-move {
    cursor: move;
  }

  .cropper-crop {
    cursor: crosshair;
  }

  .cropper-disabled .cropper-drag-box,
  .cropper-disabled .cropper-face,
  .cropper-disabled .cropper-line,
  .cropper-disabled .cropper-point {
    cursor: not-allowed;
  }
}

@media screen and (max-width: 1000px) {
  .editor {
    height: 100%;
  }

  .canvas {
    height: calc(100% - 83px);
  }
}
@media screen and (max-width: 1000px) and (max-height: 510px) {
  :global {
    .cropper-wrap-box,
    .cropper-canvas,
    .cropper-drag-box,
    .cropper-crop-box,
    .cropper-modal {
      border-radius: 0;
    }
  }
}
@media screen and (max-width: 600px) {
  :global {
    .cropper-wrap-box,
    .cropper-canvas,
    .cropper-drag-box,
    .cropper-crop-box,
    .cropper-modal {
      border-radius: 0;
    }
  }
}
