.ics {
  position: fixed;
  top: 78px;
  right: 78px;
  bottom: 78px;
  left: 78px;
  border-radius: 5px;
  background-color: #f2f2f2;
  background-color: var(--default-bg-panel-color);
  color: #999;
  color: var(--default-gray-9-color);
}

.icsWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000000;
  background-color: rgba(204, 204, 204, .8);
  background-color: var(--ics-overlay-bg-color);

  .closeBtn {
    margin-top: 20px;
    margin-right: 20px;
    padding: 0;
    float: right;
    border: none;
    background: none;
    cursor: pointer;

    .closeIcon {
      fill: #3e3e3e;
      fill: var(--ics-close-icon-fill);
    }

    &:hover {
      .closeIcon {
        fill: #161616;
        fill: var(--ics-close-icon-hover-fill);
      }
    }
  }
}

.loader-wrapper {
  height: calc(100% - 35px);
}

:global {
  .ToolTipPortal {
    z-index: 999999;
    display: table;

    & > div {
      z-index: 999999 !important;
    }
  }

  #ics-success-message {
    display: inline-block;
    padding-left: 10px;
    color: #6db321;
    font-size: 13px;
    font-weight: bold;
  }
}

@media screen and (max-width: 1000px) {
  .loader-wrapper {
    height: calc(100% - 53px);
  }
}
@media screen and (max-width: 1000px) and (max-height: 510px) {
  .ics {
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
  }

  .icsWrapper {
    .closeBtn {
      margin-top: 23px;
      margin-right: 20px;
    }
  }
}
@media screen and (max-width: 600px) {
  .ics {
    top: 36px;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
  }

  .icsWrapper {
    .closeBtn {
      margin-top: 10px;
      margin-right: 10px;
    }
  }
}

