.loader {
  display: flex;
  width: 100%;
  height: calc(100% - 33px);
  overflow: hidden;

  &.hide {
    visibility: hidden;
  }

  .dngAreaWrapper {
    position: relative;
    display: flex;
    align-self: center;
    margin: 0 auto;
    width: 80%;
    max-width: 612px;
    height: 70%;
    max-height: 412px;
  }

  .corner {
    position: absolute;
    width: 44px;
    height: 44px;
  }

  .top {
    top: -6px;
    border-top: 6px solid #ddd;
    border-top-color: var(--ics-loader-corner-color);
  }

  .bottom {
    bottom: -6px;
    border-bottom: 6px solid #ddd;
    border-bottom-color: var(--ics-loader-corner-color);
  }

  .left {
    left: -6px;
    border-left: 6px solid #ddd;
    border-left-color: var(--ics-loader-corner-color);
  }

  .right {
    right: -6px;
    border-right: 6px solid #ddd;
    border-right-color: var(--ics-loader-corner-color);
  }

  .uploadSection {
    position: relative;
    align-self: center;
    margin: 0 auto;
    width: 182px;
    text-align: center;

    .uploadImg {
      width: 182px;
      height: 99px;
      background: url(/images/v2/ics/upload_icon_light.svg) center center no-repeat;
      background-image: var(--ics-upload-img);
    }
  }

  .description {
    padding-top: 25px;
    color: #666;
    color: var(--ics-loader-description-font-color);
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }

  .browse {
    position: relative;
    color: #00a3d8;
    cursor: pointer;

    &:hover {
      color: #069;
      color: var(--default-blue-color);
    }
  }

  .sr-only {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    border: 0;
  }
}

.navbar {
  padding: 5px 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(221, 221, 221, 1) 100%);
  background: var(--ics-navbar-bg);
  border-top: var(--ics-navbar-top-border);
  box-shadow: var(--ics-navbar-box-shadow);
  font-size: 14px;

  .backButton {
    padding: 0 5px;
    float: left;
    border: none;
    background: none;
    color: #00a3d8;
    line-height: 22px;
    cursor: pointer;

    &:hover {
      color: #069;
    }
  }

  .doneButton {
    padding: 4px 14px;
    float: right;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    vertical-align: top;
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

:global {
  .drag-and-drop-area {
    position: absolute !important;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    background-color: var(--ics-drag-n-drop-zone-bg);

    input {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .loader {
    height: calc(100% - 50px);

    .dngAreaWrapper {
      max-width: 458px;
      max-height: 412px;
      width: 70%;
      height: 60%;
    }
  }

  .navbar {
    padding: 8px 10px;

    .doneButton {
      padding: 9px 14px 10px;
    }

    .backButton {
      line-height: 34px;
    }
  }
}
@media screen and (max-width: 600px) {
  .loader {
    .dngAreaWrapper {
      width: 93%;
      height: 65%;
    }
  }

  .navbar {
    border-radius: 0;
  }
}
@media screen and (max-width: 1000px) and (max-height: 510px) {
  .loader {
    .uploadSection {
      img {
        width: 150px;
        height: auto;
      }
    }

    .description {
      padding-top: 8px;
    }
  }
}
@media screen and (max-width: 600px) and (max-height: 380px) {
  .loader {
    .uploadSection {
      img {
        width: 150px;
        height: auto;
      }
    }

    .description {
      padding-top: 8px;
    }
  }
}
