.navbar {
  position: relative;
  z-index: 1;
  margin-top: -33px;
  padding: 5px 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(221, 221, 221, 1) 100%);
  background: var(--ics-navbar-bg);
  border-top: var(--ics-navbar-top-border);
  box-shadow: var(--ics-navbar-box-shadow);
  font-size: 14px;

  .backButton {
    position: relative;
    z-index: 3;
    margin-right: 5px;
    padding: 0 5px;
    float: right;
    border: none;
    background: none;
    color: #00a3d8;
    line-height: 24px;
    cursor: pointer;

    &:hover {
      color: #999;
      color: var(--default-blue-hover-color);
    }
  }

  .doneButton {
    position: relative;
    z-index: 3;
    padding: 4px 14px 5px;
    float: right;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    vertical-align: top;

    &.hide {
      padding: 0 14px 13px;
      line-height: 11px;

      .lbl {
        visibility: hidden;
      }
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    margin-top: 0;
    padding: 8px 10px;

    .doneButton {
      padding: 9px 14px 10px;

      &.hide {
        padding: 0 14px 20px;
        line-height: 14px;
      }
    }

    .backButton {
      line-height: 34px;
    }
  }
}
@media screen and (max-width: 1000px) and (max-height: 510px) {
  .navbar {
    border-radius: 0;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    border-radius: 0;
  }
}
