.notifications {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: transparent;

  .notification {
    padding: 10px;
    background-color: rgba(255, 64, 0, .7);
    color: #fff;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;

    &:first-child {
      border-radius: 5px 5px 0 0;
    }
  }
}

@media screen and (max-width: 1000px) and (max-height: 510px) {
  .notifications {
    .notification {
      &:first-child {
        border-radius: 0;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .notifications {
    .notification {
      font-size: 12px;

      &:first-child {
        border-radius: 0;
      }
    }
  }
}
