.socialGuidelines {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 7px 10px 8px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(0, 163, 216, .6);
  color: #fff;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;

  .link {
    border-bottom: 1px solid #fff;
    color: #fff;
    text-decoration: none;
  }

  &.hide {
    visibility: hidden;
  }
}

@media screen and (max-width: 1000px) {
  .socialGuidelines {
    .paragraph {
      display: block;
      text-align: center;
    }
  }
}
@media screen and (max-width: 1000px) and (max-height: 510px) {
  .socialGuidelines {
    border-radius: 0;
  }
}
@media screen and (max-width: 600px) {
  .socialGuidelines {
    padding: 7px 9px 8px;
    border-radius: 0;
    font-size: 12px;

    .paragraph {
      display: inline;
    }
  }
}
