.toolbar {
  margin-top: 0;
  width: 100%;
  height: 33px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  text-align: center;
}

.toolbar-button {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0;
  width: 34px;
  height: 34px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  vertical-align: top;

  .zoomTo100 {
    color: #989898;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  &:hover {
    .zoomTo100 {
      color: #727272;
    }
  }

  .toolsIcon {
    vertical-align: middle;
  }

  &.disabled {
    cursor: default;
  }
}

:global(.d .ToolTipPortal > div) {
  z-index: 9999999 !important;
}

@media screen and (max-width: 1000px) {
  .toolbar {
    position: relative;
    z-index: 1;
    margin-top: -1px;
    border-bottom: 1px solid #d6d6d6;
    border-radius: 0;
    background-color: #f8f8f8;
  }

  .toolbar-button {
    height: 33px;
  }
}
