#icsroot {
  --ics-navbar-bg: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(221, 221, 221, 1) 100%);
  --ics-navbar-top-border: none;
  --ics-navbar-box-shadow: none;
  --ics-drag-n-drop-zone-bg: #fafafa;
  --ics-loader-description-font-color: #666;
  --ics-upload-img: url(/images/v2/ics/upload_icon_light.svg);
  --ics-loader-corner-color: #ddd;
  --ics-overlay-bg-color: rgba(204, 204, 204, .8);
  --ics-close-icon-fill: #3e3e3e;
  --ics-close-icon-hover-fill: #161616;
}

:root {
  --ics-tool-btn-gradient-stop-1: #a1a1a1;
  --ics-tool-btn-gradient-stop-2: #a8a8a8;
  --ics-tool-btn-hover-gradient-stop-1: #8b8b8b;
  --ics-tool-btn-hover-gradient-stop-2: #6e6e6e;
}
