$loadingFontSize: 20px;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

.arrowIcon {
  opacity: 0;
  display: block;
  height: 0;
}

.moreIcon {
  font-size: $loadingFontSize;
}

.loading {
  font-size: 30px;
  animation-duration: .5s;
  animation-name: loading;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
