:global {
  .news-ticker-enter {
    pointer-events: none;
    transform: translateX(0) translateY(100%);

    &.news-ticker-enter-active {
      transform: translateX(0) translateY(0);
      transition: transform .9s ease-out;
    }
  }

  .news-ticker-exit {
    pointer-events: none;
    transform: translateX(0) translateY(-100%);

    &.news-ticker-exit-active {
      transform: translateX(0) translateY(-200%);
      transition: transform .9s ease-out;
    }
  }
}
