@import './vars.scss';
@import './DM_vars.scss';

.activity-log {
  .panel {
    background: #f2f2f2;
    background: var(--default-bg-panel-color);
    border-radius: 5px;

    a {
      text-decoration: none;
      color: #069;
      color: var(--default-blue-color);

      &:hover {
        color: #999;
        color: var(--default-blue-hover-color);
      }
    }

    .time-separator {
      font-size: 10px;

      td::after,
      td::before {
        width: 332px;
        top: 11px;
      }
    }

    .log-text {
      font-size: 12px;
    }

    .icon-wrapper {
      padding-bottom: 1px;
      height: 22px;
    }
  }

  .log-preloader-wrapper {
    position: relative;
    height: 34px;
  }
}

@media screen and (max-width: 1000px) {
  .r .activity-log {
    .panel {
      .time-separator {
        td::after,
        td::before {
          width: 120px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .r .activity-log {
    .panel {
      .time-separator {
        td::after,
        td::before {
          width: 100px;
        }
      }
    }
  }
}
