.dark-mode .activity-log {
  --activity-log-title-divider-color: #000;
  --activity-log-title-divider-shadow-color: #ffffff1a;
  --activity-log-list-panel-shadow: 0 1px 0 #ffffff26;
  --activity-log-dropdown-font-color: #fff;
  --activity-log-dropdown-bg-gradient: linear-gradient(180deg, #000 0%, #222 100%);
  --activity-log-dropdown-border-color: #444;
  --activity-log-date-picker-toggler-font-color: #fff;
  --activity-log-disabled-icon-color: #777;
  --activity-log-hover-icon-color: #ccc;
  --activity-log-input-placeholder-color: #bbb;
  --activity-log-input-focus-shadow-color: #1c7ed6a6;
  --activity-log-autocomplete-item-hover-bg-color: #444;
  --activity-log-autocomplete-options-color: #999;
  --activity-log-date-picker-bg-color: #444;
  --activity-log-date-picker-box-shadow: 0 0 2px #000000a6;
  --activity-log-date-picker-border-color: var(--activity-log-date-picker-bg-color);
  --activity-log-date-picker-divider-color: #000;
  --activity-log-date-picker-font-color: #fff;
  --activity-log-date-picker-title-text-shadow: 0 0 2px #00000073;
  --activity-log-date-picker-dividers-shadow: 0 1px 0 #ffffff1a;
  --activity-log-date-picker-reset-btn-color: #ddd;
  --activity-log-date-picker-reset-btn-hover-color: #fff;
  --activity-log-date-picker-disabled-day-color: #666;
  --activity-log-date-picker-selected-day-bg-color: #4dabf7;
  --activity-log-date-picker-in-range-day-bg-color: rgba(77, 171, 247, .2);
  --activity-log-date-picker-arrow-default-fill: url('#date-picker-default-arrow-gradient');
  --activity-log-date-picker-arrow-hover-fill: url('#date-picker-hover-arrow-gradient');
  --activity-log-date-picker-arrow-disabled-fill: url('#date-picker-disabled-arrow-gradient');
  --activity-log-date-picker-arrow-default-filter: drop-shadow(0 1px 2px #00000073);
  --activity-log-date-picker-arrow-disabled-filter: drop-shadow(0 1px 0 #ffffff1a);
  --activity-log-table-divider-color: #222;
  --activity-log-table-title-text-shadow: none;
  --activity-log-table-text-color: #fff;
  --activity-log-table-date-text-color: #bbb;
  --activity-log-selected-date-color: #fff;
  --activity-log-selected-date-text-shadow: 0 0 2px #000;
  --activity-log-title-icon-default-fill: var(--activity-log-date-picker-arrow-default-fill);
  --activity-log-title-icon-hovered-fill: var(--activity-log-date-picker-arrow-hover-fill);
  --activity-log-title-icon-disabled-fill: var(--activity-log-date-picker-arrow-disabled-fill);
  --activity-log-title-icon-default-filter: var(--activity-log-date-picker-arrow-default-filter);
  --activity-log-title-icon-disabled-filter: var(--activity-log-date-picker-arrow-disabled-filter);
}

:root .dark-mode {
  --activity-log-tooltip-font-color: #fff;
}
