.activity-log {
  --activity-log-title-divider-color: #ccc;
  --activity-log-title-divider-shadow-color: #fff;
  --activity-log-list-panel-shadow: 0 1px 0 #fff;
  --title-divider-shadow: 0 1px 0 var(--activity-log-title-divider-shadow-color);
  --activity-log-dropdown-bg-gradient: linear-gradient(180deg, #e4e4e4 0%, #f2f2f2 100%);
  --activity-log-dropdown-font-color: #444;
  --activity-log-dropdown-border-color: #fff;
  --activity-log-date-picker-toggler-font-color: #999;
  --activity-log-disabled-icon-color: #ccc;
  --activity-log-hover-icon-color: #777;
  --activity-log-input-placeholder-color: #ccc;
  --activity-log-input-focus-shadow-color: #4dabf773;
  --activity-log-autocomplete-item-hover-bg-color: #f2f2f2;
  --activity-log-autocomplete-options-color: #888;
  --activity-log-date-picker-bg-color: #fff;
  --activity-log-date-picker-box-shadow: 0 1px 2px #00000040;
  --activity-log-date-picker-border-color: #fff;
  --activity-log-date-picker-divider-color: #eee;
  --activity-log-date-picker-font-color: #666;
  --activity-log-date-picker-title-text-shadow: 0 1px 0 #fff;
  --activity-log-date-picker-dividers-shadow: none;
  --activity-log-date-picker-reset-btn-color: #888;
  --activity-log-date-picker-reset-btn-hover-color: #666;
  --activity-log-date-picker-disabled-day-color: #ccc;
  --activity-log-date-picker-selected-day-bg-color: #7fb2cc;
  --activity-log-date-picker-in-range-day-bg-color: rgba(0, 102, 153, .1);
  --activity-log-date-picker-arrow-default-fill: #ccc;
  --activity-log-date-picker-arrow-hover-fill: #999;
  --activity-log-date-picker-arrow-disabled-fill: #ececec;
  --activity-log-date-picker-arrow-default-filter: drop-shadow(0 1px 0 #fff);
  --activity-log-date-picker-arrow-disabled-filter: drop-shadow(0 1px 0 #fff);
  --activity-log-table-divider-color: #ddd;
  --activity-log-table-title-text-shadow: 0 1px 0 #fff;
  --activity-log-table-text-color: #444;
  --activity-log-table-date-text-color: #666;
  --activity-log-selected-date-color: #999;
  --activity-log-selected-date-text-shadow: 0 1px 0 #fff;
  --activity-log-title-icon-default-fill: #aaa;
  --activity-log-title-icon-hovered-fill: #777;
  --activity-log-title-icon-disabled-fill: #ccc;
  --activity-log-title-icon-default-filter: drop-shadow(0 1px 0 #fff);
  --activity-log-title-icon-disabled-filter: drop-shadow(0 -1px 0 #fff);
}

:root {
  --activity-log-tooltip-font-color: #444;
}
