.createHeadline {
  width: 100%;
  font-family: Arial, sans-serif;

  * {
    box-sizing: border-box;
  }

  :global(.react-dropdown-default) {
    display: inline-block;
    margin-right: 10px;
  }

  :global(.title-black) {
    font-family: Arial, sans-serif;
  }

  input,
  textarea,
  :global(#main-input) {
    font-size: 12px;
  }

  .group {
    padding: 10px;
  }

  .label {
    margin-right: 5px;
    font-size: 12px;
    font-weight: 700;

    &.countdown {
      margin-left: 34px;
    }
  }

  .tip {
    float: right;
    color: #999;
    font-size: 12px;
  }

  .input {
    padding: 0 10px;
    width: 100%;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;

    &.headline,
    &.url {
      margin-top: 5px;
    }

    &.duration {
      padding: 0 3px;
      width: 35px;
      text-align: center;
    }

    &.countdown {
      padding: 0 9px;
      width: 35px;
    }
  }

  .checkbox.global {
    margin-left: 20px;
  }

  .submitBlock {
    margin-left: auto;
  }

  .colon {
    margin: 0 2px;
  }

  .bottomGroup {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .charsLeft {
    float: right;
    color: #999;
    font-size: 12px;
  }
}

@media (min-width: 1001px) {
  .createHeadline {
    :global(.react-dropdown-default) {
      :global(.toggler) {
        padding: 5px;
        height: 26px;
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .createHeadline {
      .input {
        height: 34px;

        &.duration {
          width: 53px;
        }

        &.countdown {
          margin-top: 20px;
        }
      }

     :global(.react-dropdown-default) {
        margin-right: 0;
      }

      .colon {
        margin-top: 19px;
      }

      .checkbox {
        margin-top: 19px;
        margin-left: 8px;
      }

      .group {
        padding: 7px 10px;
      }

      .bottomGroup {
        flex-wrap: wrap;
        padding: 7px 0;

        .part {
          margin-right: 8px;

          &:first-child {
            margin-left: 10px;
          }
        }

        .label {
          display: block;
          margin: 0 0 8px;
        }

        .submitBlock {
          display: flex;
          margin-top: 10px;
          padding: 10px 10px 0;
          width: 100%;
          border-top: 1px solid #ccc;
          border-top-color: var(--default-panel-divider-outer-side-color);

          .submit {
            margin-left: auto;
            padding: 9px;
          }
        }
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 600px) {
    .createHeadline {
      :global(.react-dropdown-default) {
        width: 88px;
      }
    }
  }
}
