.game {
  height: 468px;
  display: flex;
  overflow: hidden;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: 386px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      height: 320px;
    }
  }
}
