.toggleButton {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  svg {
    > g {
      filter: var(--holdem-icons-filter);

      path {
        fill: var(--holdem-dollar-icon-fill);
      }
    }
  }

  &:hover {
    svg {
      > g {
        path {
          fill: var(--holdem-dollar-icon-fill-hover);
        }
      }
    }
  }
}
