.chipLoader {
  width: 272px;
  height: 272px;
  display: block;
  background: radial-gradient(#464637 0%, #464637 65%, transparent 65%, transparent 100%);
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  left: 0;
  right: 0;
  margin: auto;

  &::after {
    content: "";
    background: url(/casino/loader/images/chip_light.svg);
    position: absolute;
    width: 272px;
    height: 272px;
    top: 50%;
    left: 50%;
    transform: translate(-50.2%, -50%);
  }
}

#{$dark-mode} .chipLoader {
  &::after {
    background: url(/casino/loader/images/chip_dark.svg);
  }
}

.chipLoader_chunk {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 200px solid #464637;
  position: absolute;
  top: 50%;
  left: 49.5%;

  &.last {
    border-right: 200px solid #464637;
  }

  &.third {
    border-right: 200px solid #464637;
  }

  &.second {
    border-right: 200px solid #242415;
  }

  &.lead {
    border-right: 200px solid #000;
  }
}

.chipLoader_chunk__1 {
  transform: rotate(-90deg) translate(18%, -498%);
}

.chipLoader_chunk__2 {
  transform: rotate(-68deg) translate(-1%, -481%);
}

.chipLoader_chunk__3 {
  transform: rotate(-45deg) translate(-18%, -387%);
}

.chipLoader_chunk__4 {
  transform: rotate(-23deg) translate(-30%, -239%);
}

.chipLoader_chunk__5 {
  transform: rotate(0deg) translate(-36%, -50%);
}

.chipLoader_chunk__6 {
  transform: rotate(23deg) translate(-34%, 138%);
}

.chipLoader_chunk__7 {
  transform: rotate(45deg) translate(-25%, 316%);
}

.chipLoader_chunk__8 {
  transform: rotate(68deg) translate(-10%, 434%);
}

.chipLoader_chunk__9 {
  transform: rotate(90deg) translate(8%, 498%);
}

.chipLoader_chunk__10 {
  transform: rotate(112deg) translate(27%, 481%);
}

.chipLoader_chunk__11 {
  transform: rotate(135deg) translate(45%, 388%);
}

.chipLoader_chunk__12 {
  transform: rotate(158deg) translate(57%, 224%);
}

.chipLoader_chunk__13 {
  transform: rotate(181deg) translate(63%, 33%);
}

.chipLoader_chunk__14 {
  transform: rotate(202deg) translate(61%, -141%);
}

.chipLoader_chunk__15 {
  transform: rotate(225deg) translate(52%, -317%);
}

.chipLoader_chunk__16 {
  transform: rotate(248deg) translate(37%, -453%);
}
