.confirmation {
  padding: 16px 0;
  border-bottom: 1px solid #e9eff2;
  border-bottom-color: var(--ct-map-editor-backups-divider-color);
  background: #f1fcff;
  background: var(--ct-map-editor-backups-item-bg-hover);
  font-size: 12px;

  .message,
  .buttons {
    text-align: center;
  }

  .message {
    color: #eb8766;
    line-height: 16px;
  }

  .buttons {
    padding-top: 7px;
  }

  .btn {
    margin: 0 5px;
    color: #668fa3;
    color: var(--ct-map-editor-default-button-color);
    font-size: 12px;
    padding: 0;
    border: none;
    background: inherit;
    font-family: "Fjalla One", serif;
    cursor: pointer;

    &:hover {
      color: #bbb;
      color: var(--ct-map-editor-default-button-color-hover);
    }
  }
}
