@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }

  &:-moz-placeholder {
    color: $color;
  }

  &::-moz-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }
}

.controlsWrapper {
  border-bottom: 1px solid #e9eff2;
  border-bottom-color: var(--ct-map-editor-backups-divider-color);
}

.creatingBackup {
  .description,
  .buttonWrapper {
    box-sizing: border-box;
    display: inline-block;
    padding: 15px 10px;
    vertical-align: top;
  }

  .description {
    width: 50%;
    color: #bbb;
    color: var(--ct-map-editor-backups-description-font-color);
    line-height: 15px;
  }

  .buttonWrapper {
    padding-top: 16px;
    width: 50%;

    .button {
      height: initial;
      float: right;
      line-height: 25px;
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

.savingBackup {
  position: relative;
  padding: 18px 10px 17px;

  .errorTooltip {
    position: absolute;
    bottom: 52px;
    left: -13px;
    z-index: 100;
    padding: 7px 12px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, .3) 0 0 8px;
    box-shadow: var(--ct-error-tooltip-box-shadow);
    background-color: #fff;
    background-color: var(--ct-error-tooltip-bg);
    color: #eb8766;
    width: 246px;
    text-align: center;
    line-height: 14px;
    font-size: 12px;

    &::before {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      z-index: 60;
      margin-left: -10px;
      border-top: 10px solid rgb(255, 255, 255);
      border-top-color: var(--ct-error-tooltip-bg);
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -11px;
      left: 50%;
      z-index: 55;
      margin-left: -11px;
      border-top: 11px solid rgb(218, 218, 218);
      border-top-color: var(--ct-error-tooltip-arrow-substrate-color);
      border-right: 9px solid transparent;
      border-left: 9px solid transparent;
    }
  }

  .btn {
    padding: 0;
    height: unset;
    border: none;
    background: inherit;
    color: #628ba0;
    color: var(--ct-map-editor-default-button-color);
    font-family: "Fjalla One", serif;
    cursor: pointer;

    &:hover {
      color: #bbb;
      color: var(--ct-map-editor-default-button-color-hover);
    }

    &.saveBtn {
      margin: 0 10px;
      height: unset;
      color: #628ba0;
      border: 1px solid #8dacbb;
      padding: 0 12px;
      font-size: 13px;
      background: linear-gradient(to bottom, #dae3e8 0%, #ecf1f4 24%, #ecf1f4 27%, #bdced7 61%, #e5ecef 79%, #e5ecef 82%, #bfd0d8 100%);

      &:hover {
        background: linear-gradient(180deg, #b9ccd5, #dce5ea 24%, #dce5ea 27%, #b5c8d2 42%, #8aa9b8 61%, #92afbe 64%, #cedbe1 79%, #cedbe1 82%, #8dabba);
        color: #486878;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .45);
      }
    }
  }

  .saveBtn,
  .cancelBtn,
  .backupName {
    line-height: 23px;
    vertical-align: top;
  }

  .cancelBtn {
    font-size: 13px;
    line-height: 25px;
    margin: 0;
  }

  input.backupName {
    padding: 0 10px;
    width: 198px;
    border: 1px solid #bfd0d8;
    border-color: var(--ct-map-editor-backups-input-border-color);
    background: var(--ct-map-editor-input-bg);
    border-radius: 5px;
    color: #888;
    color: var(--ct-map-editor-backups-input-font-color);
    font-family: "Fjalla One", serif;

    &.error {
      border: 1px solid #eb8766;
    }

    @include placeholder-color(var(--ct-map-editor-backups-input-placeholder-color));
  }
}

:global(.d .btn-blue.locked) {
  border-color: #b0c5cf;
}
