.btn {
  padding: 0;
  border: none;
  background: inherit;
  font-family: "Fjalla One", serif;
  cursor: pointer;
}

.backupsList {
  .backup {
    border-bottom: 1px solid #e9eff2;
    border-bottom-color: var(--ct-map-editor-backups-divider-color);
    font-size: 0;
    line-height: 0;

    &:hover,
    &.active {
      background-color: #f1fcff;
      background-color: var(--ct-map-editor-backups-item-bg-hover);
    }

    &.wrongName,
    &.wrongName:hover,
    &.wrongName .nameInput {
      background-color: #fff2ed;
      background-color: var(--ct-map-editor-backups-item-error-bg);
    }

    .col {
      display: inline-block;
      font-size: 12px;
      vertical-align: top;
    }

    .nameCol {
      position: relative;
      padding-left: 10px;
      border-right: 1px solid #e9eff2;
      border-right-color: var(--ct-map-editor-backups-divider-color);

      &::after {
        content: '';
        display: block;
        clear: both;
      }

      .errorTooltip {
        position: absolute;
        bottom: 34px;
        left: 4px;
        z-index: 100;
        padding: 7px 12px;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, .3) 0 0 8px;
        box-shadow: var(--ct-error-tooltip-box-shadow);
        background-color: #fff;
        background-color: var(--ct-error-tooltip-bg);
        color: #eb8766;
        color: var(--ct-map-editor-backups-error-tooltip-font-color);
        font-size: 12px;
        width: 173px;
        line-height: 14px;
        text-align: center;

        &::before {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 50%;
          z-index: 60;
          margin-left: -10px;
          border-top: 10px solid rgb(255, 255, 255);
          border-top-color: var(--ct-error-tooltip-bg);
          border-right: 8px solid transparent;
          border-left: 8px solid transparent;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -11px;
          left: 50%;
          z-index: 55;
          margin-left: -11px;
          border-top: 11px solid rgb(218, 218, 218);
          border-top-color: var(--ct-error-tooltip-arrow-substrate-color);
          border-right: 9px solid transparent;
          border-left: 9px solid transparent;
        }

        &.bottom {
          bottom: unset;
          top: 34px;

          &::before {
            border-bottom: 10px solid rgb(255, 255, 255);
            border-bottom-color: var(--ct-error-tooltip-bg);
            border-top: none;
            top: -10px;
            bottom: unset;
          }

          &::after {
            border-bottom: 11px solid rgb(218, 218, 218);
            border-bottom-color: var(--ct-error-tooltip-arrow-substrate-color);
            border-top: none;
            top: -11px;
            bottom: unset;
          }
        }
      }
    }

    .deleteCol {
      width: 30px;
      border-right: 1px solid #e9eff2;
      border-right-color: var(--ct-map-editor-backups-divider-color);
      line-height: 0;
    }

    .loadCol {
      width: 40px;
      line-height: 29px;
      text-align: center;
    }

    .dateCol {
      padding: 0 10px;
      width: 37px;
      border-right: 1px solid #e9eff2;
      border-right-color: var(--ct-map-editor-backups-divider-color);
      line-height: 29px;
      text-align: right;
    }

    .name,
    .nameInput {
      display: inline-block;
      width: 164px;
      overflow: hidden;
      color: #858585;
      color: var(--ct-editor-default-library-font-color);
      font-size: 12px;
      line-height: 29px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .nameInput {
      background: #f1fcff;
      background: var(--ct-map-editor-backups-item-bg-hover);
      font-family: "Fjalla One", serif;
    }

    .date {
      color: #bbb;
      color: var(--ct-map-editor-backups-description-font-color);
    }

    .loadBackupBtn {
      color: #668fa3;
      color: var(--ct-map-editor-default-button-color);
      font-size: 12px;

      &:hover {
        color: #bbb;
        color: var(--ct-map-editor-default-button-color-hover);
      }
    }

    .editNameBtn {
      width: 30px;
      height: 29px;
      float: right;
      background: url(/images/v2/christmas_town/ct_2018_icons_light.svg) -920px -37px no-repeat;
      background-image: var(--ct-map-editor-icons-sprite);

      &:hover {
        background-position: -920px -3px;
      }
    }

    .saveNameBtn {
      width: 30px;
      height: 29px;
      float: right;
      background: url(/images/v2/christmas_town/ct_2018_icons_light.svg) -681px -37px no-repeat;
      background-image: var(--ct-map-editor-icons-sprite);

      &:hover {
        background-position: -681px -3px;
      }
    }

    .deleteBackupBtn {
      width: 100%;
      height: 29px;
      background: url(/images/v2/christmas_town/ct_2018_icons_light.svg) -988px -37px no-repeat;
      background-image: var(--ct-map-editor-icons-sprite);

      &:hover {
        background-position: -988px -3px;
      }
    }
  }
}
