@import '../../../styles/constants';

.positionsTable {
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;

  &.scrollable {
    cursor: grab;
  }

  &.scrollable.scrolling {
    cursor: grabbing;
  }

  .tableColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-right: $border-gray;
    border-right-color: var(--faction-positions-outer-border-color);
    user-select: none;

    &:last-child {
      border-right: none;
    }
  }

  .headerCell {
    height: $row-height;
    border-top: 1px solid #fff;
    border-top-color: var(--default-panel-divider-inner-side-color);
    text-shadow: 0 1px 0 #fff;
    text-shadow: var(--faction-poistions-title-text-shadow);
    font-weight: bold;
    white-space: nowrap;
    color: #666;
    color: var(--faction-position-title-font-color);

    .headerCellLabel {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
