<?php if ($_GET['withHeader'] != true) { ?>
<html>
<head>
    <title>Campaign Tracker | TORN</title>
    <link type="text/css" rel="stylesheet" href="/css/style/reset.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/js/script/lib/react.16.13.1.production.min.js"></script>
    <script type="text/javascript" src="/js/script/lib/react-dom.16.13.1.production.min.js"></script>
    <script type="text/javascript" src="/js/script/lib/react-dom-server.browser.16.13.1.development.js"></script>
</head>
<body>
<div id="react-root"></div>
<% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
<% } %>
<% for (var js in htmlWebpackPlugin.files.js) { %>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
<% } %>
</body>
</html>
<?php } else { ?>
<div id="react-root"></div>
<% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
<% } %>
<% for (var js in htmlWebpackPlugin.files.js) { %>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
<% } %>
<?php } ?>
