$slide: 400ms;

.slide-number--queue-enter,
.slide-number--text-enter,
.slide-number--total-enter {
  position: relative;
  right: 0;
  display: inline-block;
  text-align: right;
  opacity: 0;
  transition: all #{$slide} ease-in-out;

  &.slide-number--queue-enter-active,
  &.slide-number--text-enter-active,
  &.slide-number--total-enter-active {
    position: relative;
    right: 0;
    text-align: right;
    opacity: 1;
  }
}

.slide-number--queue-exit,
.slide-number--text-exit,
.slide-number--total-exit {
  position: absolute;
  right: 0;
  display: inline-block;
  opacity: 1;
  transition: all #{$slide} ease-in-out;

  &.slide-number--queue-exit-active,
  &.slide-number--text-exit-active,
  &.slide-number--total-exit-active {
    position: absolute;
    right: 0;
    opacity: 0;
  }
}

.slide-number--text-exit {
  left: 0;

  &.slide-number--text-exit-active {
    left: 0;
  }
}

.slide-number--total-enter,
.slide-number--total-exit {
  text-align: center;

  &.slide-number--total-enter-active,
  &.slide-number--total-exit-active {
    text-align: center;
  }
}
