.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.fonts {
  font-size: 11px;
  line-height: inherit;
  word-spacing: inherit;
}

.topSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 14px;
}

.queueWrap {
  composes: container;
  composes: fonts;
  position: relative;
  width: 75px;
  height: 22px;
}

.queueCountWrap {
  position: relative;
  flex: 1.2;
  width: inherit;
  height: inherit;
  text-align: right;
}

.queueCount {
  opacity: 1;
  position: relative;
}

.queueTextWrap {
  position: relative;
  flex: 2.3;
  margin-left: 2px;
  width: inherit;
  height: inherit;
  text-align: left;
}

.queueText {
  opacity: 1;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2px 0;
  width: 100%;
  height: 32px;
  overflow: hidden;
}

.isCopying {
  color: #00adff;
}

.haveDisks {
  color: #70b612;
}

.tooltipWrapHelper {
  position: relative;
  top: -3px;
  display: flex;
  padding: 3px 0 0 0;
  height: 0;
}
