.modal {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(135deg, hsla(0, 0%, 100%, .5) 0, hsla(0, 0%, 100%, .5) 1px, rgba(0, 0, 0, 0) 1.1px, rgba(0, 0, 0, 0) 3.5px), hsla(0, 1.6%, 88%, .89);
  text-align: center;

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      width: 100%;
    }
  }
}
