.appWrap {
  opacity: 1;
}

.bodyWrap {
  opacity: 1;
  position: relative;
  top: 1px;
}

hr.delimiter {
  margin: 10px 0;
  border-top: 1px solid #999;
  border-top: var(--page-header-divider-border-top);
  border-right: none;
  border-bottom: 1px solid #ebebeb;
  border-bottom: var(--page-header-divider-border-bottom);
  border-left: none;
}
