.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  box-sizing: border-box;
  padding: 5px 25px;
}

.priceText {
  max-width: 150px;
}

.button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.textBasic {
  color: inherit;
  line-height: 1.4;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
