.title {
  background: linear-gradient(to bottom, #fff 0%, #ddd 100%);
  height: 34px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  color: #333;
  line-height: 35px;
  padding: 0 10px;
  border-bottom: 1px solid #cbcbcb;
}
.checkbox {
  float: right;
  margin-left: 10px;
  text-shadow: rgba(255, 255, 255, 0.45) 0 1px 0;
  color: rgb(153, 153, 153);
}