.factionLink {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  overflow: hidden;

  .imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 100%;
    border-right: 1px solid #ccc;
    border-left: 1px solid #fff;
    text-align: center;

    @media screen and (max-width: 1001px) {
      #{$global-r} & {
        display: none;
      }
    }
  }

  .tagWrapper {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 5px;
    border-left: 1px solid #fff;
    overflow: hidden;

    .tag {
      width: 25px;
      margin-right: 10px;
      margin-left: 5px;
    }

    .name {
      overflow: hidden;
      color: #2e80ab;
      text-overflow: ellipsis;
      line-height: 16px;
      white-space: nowrap;
    }
  }
}

.factionViewLink {
  &:hover {
    background: none;
  }
}

.noImage {
  color: #aaa;
  font-size: 14px;
  text-align: center;
}
