@import "../../styles/mixins";

.areaTooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 31px;
  left: 0;
  right: 0;
  height: 20px;
  text-align: center;
  transition: visibility 0s 500ms, opacity 500ms linear;
  pointer-events: none;

  &.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms linear;
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 500ms, opacity 500ms linear;
  }

  .innerBlock {
    display: inline-block;
    background-color: rgba(255, 255, 255, .75);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .19);
    padding: 4px 8px;
    font-size: 12px;
    line-height: 20px;
    color: rgb(0, 178, 133);
    text-align: right;
    text-shadow: 0 0 5px rgba(0, 255, 191, .1);
  }
}
