.ctDialog {
  display: table;
  height: 468px;
  width: 100%;

  .centerBlock {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding-bottom: 100px;

    .text {
      margin-bottom: 20px;
    }

    .button {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .ctDialog {
    height: 552px;

    .centerBlock {
      padding-bottom: 15px;
    }
  }
}

@media screen and (max-width: 600px) {
  .ctDialog {
    height: 498px;

    .centerBlock {
      padding-bottom: 15px;
    }
  }
}
