.gateControlWrapper {
  display: flex;
  align-items: center;
}

.fieldsGroup {
  display: block;
  float: left;

  :global(.marker-css) {
    margin-left: 10px;
    color: #777;
    color: var(--ct-editor-checkbox-color);
  }
}

.label {
  display: inline-block;
  margin-right: 10px;
  color: #777;
  color: var(--ct-editor-form-label-color);
}

.activeTimeInput {
  width: 40px;
  margin-right: 10px;
  text-align: center;
}

.teleportAnimationDropdown {
  display: inline-block;
  margin-top: 0 !important;
  vertical-align: middle;
}
