.faceWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  border-bottom: 1px solid #cecebf;
}

.face {
  color: #888;
  line-height: 23px;
  pointer-events: none;
}
