.upcoming {
  background: linear-gradient(top, #fff 0%, #d4e7e7 100%);
  background: var(--bookies-panel-header-upcoming-background);
  color: #069;
  color: var(--bookies-panel-header-upcoming-color);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.65);
  text-shadow: var(--bookies-panel-header-upcoming-text-shadow);
}

.live {
  background: linear-gradient(to bottom, #fdfdfc 0%, #e1e9d2 100%);
  background: var(--bookies-panel-header-live-background);
  color: #698c00;
  color: var(--bookies-panel-header-live-color);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.65);
  text-shadow: var(--bookies-panel-header-live-text-shadow);
}

.completed {
  background: linear-gradient(to bottom, #fff 0%, #ddd 100%);
  background: var(--bookies-panel-header-completed-background);
  color: #aaa;
  color: var(--bookies-panel-header-completed-color);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.65);
  text-shadow: var(--bookies-panel-header-completed-text-shadow);
}
