.flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.targetWrap {
  flex: 0 0 193px;
  flex-direction: row;
  justify-content: flex-start;
  height: 50px;
  border-width: 0 1px 0 0;
  border-style: solid;
  composes: flexRow;
  border-image: linear-gradient(180deg, #f9f9f2 0, #f9f9f2 6%, #cecebf 50%, #f9f9f2 94%, #f9f9f2) 1 100%;

  @media screen and (max-width: 1000px) {
    flex: 0 0 53px;
    border: none;
  }
}

.targetProgress {
  position: relative;
  margin: 0 7px;
  composes: flexRow;
}

.targetIconStatus {
  position: absolute;
  top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  @media screen and (max-width: 1000px) {
    left: 12px;
  }
}

.targetIconCircle {
  display: flex;
  pointer-events: none;
}

.targetStatus {
  composes: flexRow;

  @media screen and (max-width: 1000px) {
    display: none;
  }
}

@keyframes animationIn {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 150px;
  }
}
@keyframes animationOut {
  from {
    opacity: 1;
    max-height: 150px;
  }

  to {
    opacity: 0;
    max-height: 0;
  }
}

:global {
  .animationExtender {
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  .rowShrink {
    opacity: 1;
    max-height: 150px;
  }

  .rowSquash {
    opacity: 0;
    max-height: 0;
  }

  .rowDisappear-appear {

    @extend .animationExtender;

    :local {
      animation-name: animationIn;
    }

    // &.rowDisappear-appear-active {

    //   @extend .rowShrink;
    // }
  }

  .rowDisappear-exit {

    @extend .animationExtender;

    :local {
      animation-name: animationOut;
    }

    &.rowDisappear-exit-active {

      @extend .rowSquash;
      @extend .animationExtender;

      :local {
        animation-name: animationOut;
      }
    }
  }
}
