.panelHeader {
  padding-left: 10px;
  height: 30px;
  border-radius: 5px 5px 0 0;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .65);
  text-shadow: var(--tutorial-title-shadow);
  color: #fff;
  color: var(--title-color);
  background: repeating-linear-gradient(90deg, #242424, #242424 2px, #2e2e2e 0, #2e2e2e 4px);
  background: var(--title-black-gradient);
}
