.undoBtn,
.redoBtn {
  padding: 2px 0 0 0;
  margin-top: 1px;
  width: 27px;
  height: 27px;
  border: none;
  vertical-align: top;
  cursor: pointer;
  background: transparent;

  &.disabled {
    cursor: default;
  }
}

:global(.d .ct-wrap) {
  .searchBtn {
    &.disabled {
      cursor: default;
    }
  }
}

:global(.fullscreen-mode) {
  .status {
    color: #668fa3;
    line-height: 29px;
    float: left;
    padding-right: 5px;
  }

  .undoBtn,
  .redoBtn {
    width: 30px;
    height: 30px;
  }
}

.viewToggleIcon {
  fill-rule: evenodd;
}

.infoText {
  width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
