$blue: #74c0fc;
$darkBlue: #069;
$lightBlue: #d0ebff;
$white: #fff;
$gray-4: #444;
$gray-6: #666;
$gray-8: #888;
$gray-c: #ccc;
$bgGrey: #333;
$lightRed: #ffa8a8;
$darkRed: #b82020;
$lightGreen: #d8f5a2;
$darkGreen: #5e7715;
