@import './colors.scss';

.d .header .toolbar .recentHistory {
  position: absolute;
  left: -352px;
  box-sizing: border-box;
  width: 420px;
  border: 1px solid $gray-4;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .45);
  background: $bgGrey;
  font-family: "Arial", Helvetica, sans-serif;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .r .header .toolbar .recentHistory {
    left: -252px;
    width: 320px;
  }
}
