.torn-react-autocomplete * {
  box-sizing: border-box;
}
.torn-react-autocomplete {
  position: relative;
  width: 154px;
  color: #666;

  .toggler {
    display: block;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    line-height: 14px;
    height: 34px;
    border: 1px solid #FFF;
    box-shadow: inset 0 1px 3px #999;
    background: #ddd;
    background: -webkit-linear-gradient(top,#e4e4e4 0,#f2f2f2 100%);
    background: linear-gradient(to bottom,#e4e4e4 0,#f2f2f2 100%);
    cursor: pointer;
  }

  .dropdown-opened .toggler {
    border-radius: 5px 5px 0 0;
  }

  .dropdown-content {
    .item {
      padding: 9px 10px;
      display: block;
      cursor: pointer;
      margin: 0 1px;

      &:first-child {
        margin-top: 2px;
      }

      &:hover,
      &.selected {
        background-color: #FFF;
      }
    }
  }

  .scroll-area {
    max-height: 240px;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    background-color: #f2f2f2;
    border-radius: 0 0 5px 5px;
    border: 1px solid #cacaca;
    border-top: 0;
    z-index: 105;
  }

  .scroll-area-content {
    height: auto;
    padding-bottom: 2px;
  }

  .scrollarea .scrollbar-container.vertical,
  .scrollarea:hover .scrollbar-container {
    opacity: 1;
    background-color: rgb(204, 204, 204);
    width: 12px;
  }

  .scrollarea .scrollbar-container.vertical .scrollbar,
  .scrollarea:hover .scrollbar-container.vertical .scrollbar {
    width: 10px;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    margin-left: 1px;
    border: 1px solid rgb(204, 204, 204);
    border-bottom-width: 2px;
  }

  .dropdown-caret {
    display: inline-block;
    position: absolute;
    height: 14px;
    width: 9px;
    right: 12px;
    background: url(/images/v2/mobile/mobile_sections_arrow_side.png) left center no-repeat;
    opacity: 0.5;
  }

  &:hover .dropdown-caret {
    opacity: 0.7;
  }

  .dropdown-opened .dropdown-caret {
    height: 13px;
    width: 14px;
    right: 10px;
    background: url(/images/v2/mobile/mobile_sections_arrow_down.png) left center no-repeat;
    opacity: 0.7;
  }

  .autocomplete-wrapper.active {
    .input-text {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    input[type='text'] {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.autocomplete-no-items {
  padding: 5px 10px;
  background: #fff;
  margin: 1px;
  border-radius: 0 0 5px 5px;
}

@media screen and (max-width: 1000px), screen and (max-device-width: 1000px) {
  .torn-react-autocomplete {

    .scroll-area {
      top: 35px;
    }
  }
}
