.dropDown-enter {
  transform: translateY(-200%);

  &.dropDown-enter-active {
    transform: translateY(0%);
  }
}

.dropDown-enter-done {
  transform: translateY(0%) !important;
  cursor: pointer;
}

.dropDown-exit {
  transform: translateY(0%);

  &.dropDown-exit-active {
    transform: translateY(-97%);
  }
}
