:global(.d) {
  .panelWrap {
    position: absolute;
    left: 0;
    z-index: 14;
    width: 100%;
    height: 150px;
    display: block;
    top: 34px;
    -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 0%);
    cursor: pointer;
  }

  .panelWrapInner {
    position: absolute;
    left: 0;
    width: 100%;
    transition: top .3s ease-out;
  }

  .supportAnimWrap {
    position: absolute;
    width: 100%;
    height: 135px;
    transform: translateY(-97%);
    transition: transform 300ms ease-in;
  }

  .panelContent {
    position: absolute;
    width: 782px;
    width: 100%;
    height: 135px;
    box-shadow: var(--panelContent-boxShadow);
    background: var(--panelContent-background);
    clip-path: polygon(0 0, 100% 0, 100% 110%, 51.3% 101%, 51.3% 100%, 48.8% 100%, 49.1% 101%, 0 110%);
  }

  .arrow {
    margin: 0;
    padding: 0;
    bottom: -12px;
    left: 50%;
    transform: rotate(46deg) skew(-15deg, -15deg) translateX(-50%);
    position: absolute;
    background: var(--arrow-background);
    width: 24px;
    height: 24px;
    clip-path: polygon(200% 200%, 13% 140%, 118% 30%);
    box-shadow: var(--arrow-boxShadow);
  }

  /*
  // .panelBottom {
  //   position: absolute;
  //   top: 0;
  //   display: flex;
  //   width: 782px;
  //   height: 12px;
  //   background: url('/images/v2/2sef32sdfr422svbfr2/crimes/bootlegging/stats_dd_bottom_whole.png') 0 0 repeat;
  //   transition: top 300ms ease-in;

  //   &.expanded {
  //     top: 135px;
  //    }
  // }
  */

  .buttonArrow {
    margin: 0 auto;
    width: 20px;
    height: 12px;
    border: 0;
    background: transparent;
  }

  .open > :global(.slick-slider) {
    opacity: 1;
  }

  .closed > :global(.slick-slider) {
    opacity: 0;
    transition: opacity 1s ease-in;
  }
}

@media screen and (max-width: 1000px) {
  :global(.r) {
    .panelContent {
      width: 388px;
      clip-path: polygon(0 0, 100% 0, 100% 110%, 52% 101%, 53% 100%, 48% 100%, 47.4% 101%, 0 110%);
    }

    .panelBottom {
      width: 386px;
      background-position: -195px 0;
    }
  }
}
@media screen and (max-width: 600px) {
  :global(.r) {
    .panelContent {
      width: 322px;
      clip-path: polygon(0 0, 100% 0, 100% 110%, 53% 101%, 53% 100%, 47% 100%, 47.4% 101%, 0 110%);
    }

    .panelBottom {
      width: 320px;
      background-position: -230px 0;
    }
  }
}
