.header {
  h4 {
    float: left;
    margin-bottom: 0;
    line-height: 35px;
    color: #333;
    color: var(--content-title-color);
  }
}
.links {
  float: right;
  display: flex;
  & > li {
    margin-left: 24px;
    &:first-child {
      margin-left: 0;
    }
    .link {
      color: #7f7f7f;
      color: var(--content-title-links);
      text-shadow: 0 1px 0 rgba(255, 255, 255, .45);
      text-shadow: var(--content-title-links-text-shadow);
      font-weight: 700;
      text-decoration: none;
      line-height: 24px;
      svg {
        fill: #777;
        fill: var(--top-links-icon-svg-fill);
        filter: url(#top_svg_icon);
        filter: var(--reporting-panel-top-links-icon-filter);
      }
      &:hover {
        color: #333;
        color: var(--content-title-links-hover);

        svg {
          fill: #333;
          fill: var(--top-links-icon-svg-hover-fill);
        }
      }
      .icon {
        margin-right: 5px;
        margin-top: -2px;
      }
    }
  }
}

:global(.r) {
  @media screen and (max-width: 1000px) {
    .header {
      h4 {
        margin-top: 0;
      }
    }
    .links {
      & > li {
        margin-left: 0;
        height: 36px;
        position: relative;
        &::before {
          background: linear-gradient(transparent 9%,rgba(64,64,64,.35) 50%,transparent 93%);
          content: "";
          height: 36px;
          left: 0;
          position: absolute;
          width: 1px;
        }
        .link {
          padding: 0 10px;
          line-height: 38px;
          .icon {
            margin-right: 0;
          }
          .linkText {
            display: none;
          }
        }
      }
    }
  }
}
