$cell_size: 61px;
.bg {
  background: url(/images/v2/christmas_town/minigames/Item_match/snow_bg.jpg) no-repeat;
  display: table-cell;
}
.board {
  margin: 23px 15px;
  position: relative;
}
.cell {
  border: 1px solid #d4dfe5;
  position: absolute;
  transition: left 0.4s ease-out, top 0.4s ease-out;
  width: $cell_size;
  height: $cell_size;
  box-sizing: border-box;
  &.selected {
    background-color: #fff !important;
  }
}
.star {
  background: url(/images/v2/christmas_town/minigames/Item_match/items_stars_60x60.png) no-repeat;
  &.star-1 {
    background-position: 0 0;
  }
  &.star-2 {
    background-position: -($cell_size) 0;
  }
  &.star-3 {
    background-position: -($cell_size * 2) 0;
  }
  &.star-4 {
    background-position: -($cell_size * 3) 0;
  }
}
