.highlightedText {
  color: #f65d2e;
  font-weight: bold;
}

.divider {
  margin: 10px 0;
  border-top: 1px solid #ccc;
  border-top-color: var(--default-panel-divider-outer-side-color);
  border-bottom: 1px solid #fff;
  border-bottom-color: var(--default-panel-divider-inner-side-color);
}

.confirmButtonYes {
  margin-right: 10px;
}

.darkHighlighterdText {
  font-weight: bold;
  color: #666;
  color: var(--default-gray-6-color);
}
