// Commented due to buttons rebuild
//.d .torn-btn {
//  background: rgb(215,215,215);
//  background: -moz-linear-gradient(top, rgba(215,215,215,1) 0%, rgba(189,189,189,1) 17%, rgba(152,152,152,1) 61%, rgba(126,126,126,1) 83%, rgba(124,124,124,1) 87%, rgba(127,127,127,1) 91%, rgba(134,134,134,1) 96%, rgba(138,138,138,1) 100%);
//  background: -webkit-linear-gradient(top, rgba(215,215,215,1) 0%,rgba(189,189,189,1) 17%,rgba(152,152,152,1) 61%,rgba(126,126,126,1) 83%,rgba(124,124,124,1) 87%,rgba(127,127,127,1) 91%,rgba(134,134,134,1) 96%,rgba(138,138,138,1) 100%);
//  background: linear-gradient(to bottom, rgba(215,215,215,1) 0%,rgba(189,189,189,1) 17%,rgba(152,152,152,1) 61%,rgba(126,126,126,1) 83%,rgba(124,124,124,1) 87%,rgba(127,127,127,1) 91%,rgba(134,134,134,1) 96%,rgba(138,138,138,1) 100%);
//  border: 0;
//  border-radius: 3px;
//  color: #333;
//  cursor: pointer;
//  font-size: 14px;
//  font-weight: 700;
//  padding: 5px 10px;
//  text-shadow: 0 1px 0 rgba(255,255,255,.4);
//
//  &.orange {
//    background: linear-gradient(to bottom, #cb8526 0%,#c46b20 9%,#c1591d 17%,#c13b18 57%,#ad2214 83%,#ab2314 87%,#ab2a15 91%,#ae3817 96%,#af4018 100%);
//    color: #fff;
//    text-shadow: 0 1px 0 rgba(102,0,0,0.4);
//  }
//}
//
//.d .torn-btn:hover {
//  background: rgb(255,255,255);
//  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(203,203,203,1) 61%, rgba(176,176,176,1) 83%, rgba(172,172,172,1) 91%, rgba(176,176,176,1) 96%, rgba(177,177,177,1) 100%);
//  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(203,203,203,1) 61%,rgba(176,176,176,1) 83%,rgba(172,172,172,1) 91%,rgba(176,176,176,1) 96%,rgba(177,177,177,1) 100%);
//  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(203,203,203,1) 61%,rgba(176,176,176,1) 83%,rgba(172,172,172,1) 91%,rgba(176,176,176,1) 96%,rgba(177,177,177,1) 100%);
//
//  &.orange {
//    background: linear-gradient(to bottom, #e5a131 0%,#e59830 4%,#e55c26 26%,#e61d20 57%,#d41a1e 74%,#cf1d1e 78%,#ca2a1e 87%,#c84f22 100%);
//  }
//}
//
//.d .torn-btn.disabled,
//.d .torn-btn:hover.disabled,
//.d .torn-btn.disable,
//.d .torn-btn:hover.disable {
//  background: rgb(133,133,133);
//  background: -moz-linear-gradient(top, rgba(133,133,133,1) 0%, rgba(145,145,145,1) 4%, rgba(159,159,159,1) 13%, rgba(200,200,200,1) 96%, rgba(235,235,235,1) 100%);
//  background: -webkit-linear-gradient(top, rgba(133,133,133,1) 0%,rgba(145,145,145,1) 4%,rgba(159,159,159,1) 13%,rgba(200,200,200,1) 96%,rgba(235,235,235,1) 100%);
//  background: linear-gradient(to bottom, rgba(133,133,133,1) 0%,rgba(145,145,145,1) 4%,rgba(159,159,159,1) 13%,rgba(200,200,200,1) 96%,rgba(235,235,235,1) 100%);
//  cursor: default;
//  color: #737373;
//  text-shadow: 0 -1px 0 rgba(255, 255, 255, .15);
//}
//
//.d .torn-btn.loading {
//  color: transparent;
//  text-shadow: none;
//}

.d .date-of-birth-month-select {
    background: transparent;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 3px 5px;
    display: inline-block;
    vertical-align: middle;
    height: 26px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 13px;
    line-height: 14px;
}

.d .date-of-birth-month-select.invalid {
    color: #999;
}

.d .date-of-birth-month-select:required:invalid {
    color: #999;
}

.d .date-of-birth-month-select option {
    color: #000;
    cursor: pointer;
}

/* Preloader */


.d .preloader-wrap {
    position: relative;
    display: none;
}

.d .loading .preloader-wrap {
    display: block;
}

.d .preloader-fountain {
    position: absolute;
    width: 55px;
    height: 14px;
    margin: auto;
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.d .fountainG {
    display: inline-block;
    position: static;
    background-color: rgb(0,0,0);
    width: 10px;
    height: 10px;
    animation-name:bounce_fountainG;
    -o-animation-name:bounce_fountainG;
    -webkit-animation-name:bounce_fountainG;
    animation-duration:.3s;
    -webkit-animation-duration:.3s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    transform:scale(.3);
    -webkit-transform:scale(.3);
    border-radius:9px;
    margin-left: -3px;
}

.d #fountainG_1 {
    margin-left: 0;
    animation-delay:0s;
    -webkit-animation-delay:0s;
}

.d #fountainG_2 {
    animation-delay:0.075s;
    -webkit-animation-delay:0.075s;
}

.d #fountainG_3 {
    animation-delay:0.15s;
    -webkit-animation-delay:0.15s;
}

.d #fountainG_4 {
    animation-delay:0.225s;
    -webkit-animation-delay:0.225s;
}

@keyframes bounce_fountainG {
    0% {
        transform:scale(.7);
        background-color:rgb(0,0,0);
    }
    100% {
        transform:scale(.3);
        background-color:rgb(100,100,100);
    }
}


@-webkit-keyframes bounce_fountainG {
    0% {
        -webkit-transform:scale(.7);
        background-color:rgb(0,0,0);
    }

    100% {
        -webkit-transform:scale(.3);
        background-color:rgb(50,50,50);
    }
}
