.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.manageContainer {
  composes: flexCol;
  border-bottom: 1px solid #dfdfd0;
}

.topSection {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  height: 57px;
  composes: flexRow;
}

.bottomSection {
  width: 100%;
  height: auto;
  composes: flexRow;
}

.divider {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  border: none;
  box-shadow: 1px 2px 1px 0 rgba(255, 255, 255, .65);
  background: linear-gradient(#f9f9f2, #f9f9f2 6%, #cecebf 50%, #f9f9f2 94%, #f9f9f2 100%);
  transform: translateX(-50%);
}

.actionBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
