.cooldownWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  width: 100%;
  height: 95%;
}

.diamondFi {
  animation-name: diamondFillMode;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes diamondFillMode {
  0% {
    opacity: 1;
    width: 3px;
  }

  100% {
    opacity: 0;
    width: 0;
  }
}
