.cooldownStarWrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  @media (max-width: 1000px) {
    #{$global-r} & {
      position: absolute;
      top: 0;
    }
  }
}
