.exp {
  position: absolute;
  bottom: 21px;
  left: 10px;
  width: 135px;
  height: 2px;
  background-color: var(--loadouts-exp-bar);
  cursor: pointer;
}

.perc {
  content: '';
  display: block;
  width: 67px;
  height: 2px;
  background-color: var(--loadouts-exp-value);
}

.tooltipActivator {
  position: absolute;
  height: 14px;
  width: calc(100% + 14px);
  top: -7px;
  left: -7px;
}
