/* TODO: move to css modules. It was imported from css */

.choice-container {
  display: inline-block;
}
.radio-css,
.checkbox-css {
  vertical-align: top;
  width: 13px;
  height: 13px;
}

.radio-css + .marker-css,
.checkbox-css + .marker-css {
  cursor: pointer;
}

.radio-css:hover + .marker-css,
.radio-css:focus + .marker-css,
.checkbox-css:hover + .marker-css,
.checkbox-css:focus + .marker-css {
  color: #333;
}

.radio-css.light:hover + .marker-css,
.radio-css.light:focus + .marker-css,
.checkbox-css.light:hover + .marker-css,
.checkbox-css.light:focus + .marker-css {
  color: #DDD;
}

.radio-css:not(checked),
.checkbox-css:not(checked) {
  position: absolute;
  opacity: 0;
  left: -5000px;
  top: auto;
}

.radio-css:not(checked) + .marker-css,
.checkbox-css:not(checked) + .marker-css {
  position: relative;
  padding: 0 0 0 18px;
}

.radio-css:not(checked) + .marker-css:before,
.checkbox-css:not(checked) + .marker-css:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 2px solid #AAA;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.75), 0 1px 0 0 rgba(255, 255, 255, 0.75);
}

.radio-css.light:not(checked) + .marker-css:before,
.checkbox-css.light:not(checked) + .marker-css:before {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
}

.radio-css:not(checked) + .marker-css:after,
.checkbox-css:not(checked) + .marker-css:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  opacity: 0;
  background-color: #AAA;
}

.radio-css:checked + .marker-css:after,
.checkbox-css:checked + .marker-css:after {
  opacity: 1;
}

.checkbox-css:not(checked) + .marker-css:before,
.checkbox-css:not(checked) + .marker-css:after,
.checkbox-css:focus + .marker-css:before {
  border-radius: 0;
}

.radio-css:hover + .marker-css:before,
.radio-css:focus + .marker-css:before,
.checkbox-css:hover + .marker-css:before,
.checkbox-css:focus + .marker-css:before {
  border-color: #666;
}

.radio-css:hover + .marker-css:after,
.radio-css:focus + .marker-css:after,
.checkbox-css:hover + .marker-css:after,
.checkbox-css:focus + .marker-css:after {
  background-color: #666;
}

.radio-css.light:hover + .marker-css:before,
.radio-css.light:focus + .marker-css:before,
.checkbox-css.light:hover + .marker-css:before,
.checkbox-css.light:focus + .marker-css:before {
  border-color: #DDD;
}

.radio-css.light:hover + .marker-css:after,
.radio-css.light:focus + .marker-css:after,
.checkbox-css.light:hover + .marker-css:after,
.checkbox-css.light:focus + .marker-css:after {
  background-color: #DDD;
}

.radio-css.without-label:not(checked) + .marker-css > span,
.checkbox-css.without-label:not(checked) + .marker-css > span {
  position: absolute;
  top: 0;
  left: -10000px;
  -webkit-user-select: none;
  user-select: none;
}

.radio-css[disabled] + .marker-css:before,
.checkbox-css[disabled] + .marker-css:before,
.radio-css[disabled] + .marker-css,
.checkbox-css[disabled] + .marker-css {
  border-color: #DDD;
  color: #BBB;
}



@media screen and (max-width: 1000px), screen and (max-device-width: 1000px) {

}


@media screen and (max-width: 600px), screen and (max-device-width: 600px) {

}
