.wrap {
  &::before {
    content: '';
    position: absolute;
    bottom: -7px;
    z-index: 3;
    border-width: 8px 8px 0;
    border-style: solid;
    border-color: #f2f2f2 transparent transparent;
    border-color: var(--tooltip-bg-color) transparent transparent;
  }
}

.container {
  position: relative;
  z-index: 1;
  padding: 8px;
  min-width: 16px;
  max-width: none;
  max-width: 360px;
  max-height: none;
  border-radius: 5px;
  line-height: 16px;
  text-align: left;
  text-align: left;
  word-wrap: break-word;
  background-color: #f2f2f2;
  background-color: var(--tooltip-bg-color);
  border: 1px solid #fff;
  border-color: var(--default-panel-divider-inner-side-color);
  border-color: var(--tooltip-border-color);
  box-shadow: 0 0 5px #999;
  box-shadow: var(--white-tooltip-box-shadow);
}

.title {
  padding: 0;
}

.arrowWrap {
  position: absolute;
  top: 100%;
  z-index: 2;
  box-sizing: border-box;
  border-width: 8px 8px 0;
  border-style: solid;
  border-color: #fff transparent transparent;
  border-color: var(--default-panel-divider-inner-side-color) transparent transparent;
  border-color: var(--tooltip-border-color) transparent transparent;
  filter: drop-shadow(0 .8px .6px #999);
}

.tooltipArrow {
  display: none;
}
