@mixin stitches-footprint($x: 0, $y: 0, $width: 0, $height: 0){
  background-position: $x $y;
  width: $width;
  height: $height;
}

.footprint {
  background-image: url(/images/v2/christmas_town/footprints.png);
  background-repeat: no-repeat;
  display: block;

  &.footprint-bottom-bottom {
    @include stitches-footprint(-5px, -5px, 30px, 30px);
  }

  &.footprint-bottom-left {
    @include stitches-footprint(-45px, -5px, 30px, 30px);
  }

  &.footprint-bottom-leftBottom {
    @include stitches-footprint(-85px, -5px, 30px, 30px);
  }

  &.footprint-bottom-leftTop {
    @include stitches-footprint(-125px, -5px, 30px, 30px);
  }

  &.footprint-bottom-right {
    @include stitches-footprint(-165px, -5px, 30px, 30px);
  }

  &.footprint-bottom-rightBottom {
    @include stitches-footprint(-205px, -5px, 30px, 30px);
  }

  &.footprint-bottom-rightTop {
    @include stitches-footprint(-245px, -5px, 30px, 30px);
  }

  &.footprint-left-bottom {
    @include stitches-footprint(-5px, -45px, 30px, 30px);
  }

  &.footprint-left-left {
    @include stitches-footprint(-45px, -45px, 30px, 30px);
  }

  &.footprint-left-leftBottom {
    @include stitches-footprint(-85px, -45px, 30px, 30px);
  }

  &.footprint-left-leftTop {
    @include stitches-footprint(-125px, -45px, 30px, 30px);
  }

  &.footprint-left-rightBottom {
    @include stitches-footprint(-165px, -45px, 30px, 30px);
  }

  &.footprint-left-rightTop {
    @include stitches-footprint(-205px, -45px, 30px, 30px);
  }

  &.footprint-left-top {
    @include stitches-footprint(-245px, -45px, 30px, 30px);
  }

  &.footprint-leftBottom-bottom {
    @include stitches-footprint(-5px, -85px, 30px, 30px);
  }

  &.footprint-leftBottom-left {
    @include stitches-footprint(-45px, -85px, 30px, 30px);
  }

  &.footprint-leftBottom-leftBottom {
    @include stitches-footprint(-85px, -85px, 30px, 30px);
  }

  &.footprint-leftBottom-leftTop {
    @include stitches-footprint(-125px, -85px, 30px, 30px);
  }

  &.footprint-leftBottom-right {
    @include stitches-footprint(-165px, -85px, 30px, 30px);
  }

  &.footprint-leftBottom-rightBottom {
    @include stitches-footprint(-205px, -85px, 30px, 30px);
  }

  &.footprint-leftBottom-rightTop {
    @include stitches-footprint(-245px, -85px, 30px, 30px);
  }

  &.footprint-leftBottom-top {
    @include stitches-footprint(-5px, -125px, 30px, 30px);
  }

  &.footprint-leftTop-bottom {
    @include stitches-footprint(-45px, -125px, 30px, 30px);
  }

  &.footprint-leftTop-left {
    @include stitches-footprint(-85px, -125px, 30px, 30px);
  }

  &.footprint-leftTop-leftBottom {
    @include stitches-footprint(-125px, -125px, 30px, 30px);
  }

  &.footprint-leftTop-leftTop {
    @include stitches-footprint(-165px, -125px, 30px, 30px);
  }

  &.footprint-leftTop-right {
    @include stitches-footprint(-205px, -125px, 30px, 30px);
  }

  &.footprint-leftTop-rightBottom {
    @include stitches-footprint(-245px, -125px, 30px, 30px);
  }

  &.footprint-leftTop-rightTop {
    @include stitches-footprint(-5px, -165px, 30px, 30px);
  }

  &.footprint-leftTop-top {
    @include stitches-footprint(-45px, -165px, 30px, 30px);
  }

  &.footprint-right-bottom {
    @include stitches-footprint(-85px, -165px, 30px, 30px);
  }

  &.footprint-right-leftBottom {
    @include stitches-footprint(-125px, -165px, 30px, 30px);
  }

  &.footprint-right-leftTop {
    @include stitches-footprint(-165px, -165px, 30px, 30px);
  }

  &.footprint-right-right {
    @include stitches-footprint(-205px, -165px, 30px, 30px);
  }

  &.footprint-right-rightBottom {
    @include stitches-footprint(-245px, -165px, 30px, 30px);
  }

  &.footprint-right-rightTop {
    @include stitches-footprint(-5px, -205px, 30px, 30px);
  }

  &.footprint-right-top {
    @include stitches-footprint(-45px, -205px, 30px, 30px);
  }

  &.footprint-rightBottom-bottom {
    @include stitches-footprint(-85px, -205px, 30px, 30px);
  }

  &.footprint-rightBottom-left {
    @include stitches-footprint(-125px, -205px, 30px, 30px);
  }

  &.footprint-rightBottom-leftBottom {
    @include stitches-footprint(-165px, -205px, 30px, 30px);
  }

  &.footprint-rightBottom-leftTop {
    @include stitches-footprint(-205px, -205px, 30px, 30px);
  }

  &.footprint-rightBottom-right {
    @include stitches-footprint(-245px, -205px, 30px, 30px);
  }

  &.footprint-rightBottom-rightBottom {
    @include stitches-footprint(-5px, -245px, 30px, 30px);
  }

  &.footprint-rightBottom-rightTop {
    @include stitches-footprint(-45px, -245px, 30px, 30px);
  }

  &.footprint-rightBottom-top {
    @include stitches-footprint(-85px, -245px, 30px, 30px);
  }

  &.footprint-rightTop-bottom {
    @include stitches-footprint(-125px, -245px, 30px, 30px);
  }

  &.footprint-rightTop-left {
    @include stitches-footprint(-165px, -245px, 30px, 30px);
  }

  &.footprint-rightTop-leftBottom {
    @include stitches-footprint(-205px, -245px, 30px, 30px);
  }

  &.footprint-rightTop-leftTop {
    @include stitches-footprint(-245px, -245px, 30px, 30px);
  }

  &.footprint-rightTop-right {
    @include stitches-footprint(-285px, -5px, 30px, 30px);
  }

  &.footprint-rightTop-rightBottom {
    @include stitches-footprint(-285px, -45px, 30px, 30px);
  }

  &.footprint-rightTop-rightTop {
    @include stitches-footprint(-285px, -85px, 30px, 30px);
  }

  &.footprint-rightTop-top {
    @include stitches-footprint(-285px, -125px, 30px, 30px);
  }

  &.footprint-top-left {
    @include stitches-footprint(-285px, -165px, 30px, 30px);
  }

  &.footprint-top-leftBottom {
    @include stitches-footprint(-285px, -205px, 30px, 30px);
  }

  &.footprint-top-leftTop {
    @include stitches-footprint(-285px, -245px, 30px, 30px);
  }

  &.footprint-top-right {
    @include stitches-footprint(-5px, -285px, 30px, 30px);
  }

  &.footprint-top-rightBottom {
    @include stitches-footprint(-45px, -285px, 30px, 30px);
  }

  &.footprint-top-rightTop {
    @include stitches-footprint(-85px, -285px, 30px, 30px);
  }

  &.footprint-top-top {
    @include stitches-footprint(-125px, -285px, 30px, 30px);
  }
}
