.settings-icon {
  cursor: pointer;
  background: url(/images/v2/header/global_icons/all_reg_menu_search_adv_settings_logout.png) no-repeat;
  background-position: -43px -123px;
  &:hover {
    background-position: -3px -123px;
  }
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-left: auto;
  float: right;
}
