.logToggler {
  cursor: pointer;
  color: #069;
  text-decoration: none;
}

.infoIcon {
  display: inline-block;
  margin-right: 11px;
  margin-left: 10px;
  width: 10px;
  height: 18px;
  background-image: url(/images/v2/main/info_msg/ordinary_importance.png);
  background-repeat: no-repeat;
  background-position: left top;
  vertical-align: middle;

  .red {
    background-image: url(/images/v2/main/info_msg/negative.png);
  }

  .blue {
    background-image: url(/images/v2/main/info_msg/negative.png);
  }

  .green {
    background-image: url(/images/v2/main/info_msg/positive.png);
  }
}

.messageWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageContent {
  width: auto !important;
  // TODO: Should remove "important" when all original styles will be here
}

.activeLog {
  align-items: flex-start;

  .infoIcon {
    margin-top: 9px;
  }
}

.loadingIndicator {
  padding-bottom: 2px;
}
