
.wrap {
  overflow: hidden;
  box-sizing: border-box;
  background-color: #eee;
}

.message {
  line-height: 34px;
  text-align: center;
  position: relative;
  background-color: #fff;

  h2 {
    font-size: 12px;
    line-height: 32px;
    margin: 0;
    text-align: center;
    font-weight: normal;

    &.welcome {
      color: #88a8b7;
    }

    &.correct {
      color: #72bfac;
    }

    &.wrong {
      color: #e48767;
    }

    &.grumpy {
      color: #72bfac;

      img {
        width: 22px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }

  .level {
    position: absolute;
    left: 8px;
    top: 0;
  }

  .timer {
    position: absolute;
    right: 8px;
    top: 0;
  }
}

.board {
  background-color: #eee;
  text-align: center;
  padding-top: 1px;
  position: relative;
  max-width: 100%;

  &.pulse {
    &::after {
      -webkit-animation: pulse 1s ease infinite; /* Safari 4.0 - 8.0 */
      animation: pulse 1s ease infinite;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      -webkit-box-shadow: inset 0 0 16px 8px rgba(228, 135, 103, 1);
      -moz-box-shadow: inset 0 0 16px 8px rgba(228, 135, 103, 1);
      box-shadow: inset 0 0 16px 8px rgba(228, 135, 103, 1);
      pointer-events: none;
      z-index: 999;
    }
  }

  .cell {
    margin-right: 1px;
    margin-bottom: 1px;
  }

  &.level1 {
    .cell {
      width: 106px;
      height: 106px;
      padding: 18px;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  &.level2 {
    .cell {
      width: 79px;
      height: 79px;
      padding: 12px;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }

  &.level3 {
    .cell {
      width: 63px;
      height: 63px;
      padding: 10px;

      &:nth-child(5n) {
        margin-right: 0;
      }
    }
  }

  &.level4 {
    .cell {
      width: 52.5px;
      height: 52.5px;
      padding: 10px;

      &:nth-child(6n) {
        margin-right: 0;
      }
    }
  }

  &.level5 {
    .cell {
      width: 44.8px;
      height: 44.8px;
      padding: 8px;

      &:nth-child(7n) {
        margin-right: 0;
      }
    }
  }
}

.cell {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  transition: all .2s ease;
  border-radius: 0;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  vertical-align: middle;

  &.checked {
    background-color: #eee;
    cursor: default;
  }

  &.checked-toy {
    img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      opacity: .5;
    }
  }

  &.checked-grumpy {
    img {
      -webkit-filter: drop-shadow(0 0 4px #26c9ff);
      filter: drop-shadow(0 0 4px #26c9ff);
    }
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .wrong {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.level-end {
  text-align: center;
  left: 0;
  right: 0;
  height: 484px;
  background: url(/images/v2/christmas_town/minigames/santa_claws/ct_bg_20.jpg) no-repeat center top;
  background-size: cover;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h2 {
    font-weight: normal;
    text-align: center;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    color: #72bfac;
    text-shadow: 0 0 12px rgba(255, 255, 255, .65);
    -ms-filter: "progid:DXImageTransform.Microsoft.Glow(Color=#ffffffff,Strength=17)";
    zoom: 1;
    filter: progid:dximagetransform.microsoft.glow(Color=#ffff, Strength=17);
  }

  p {
    margin: 20px 0 0;
    font-size: 12px;
    line-height: 120%;
    color: #5f8b9f;
    text-align: center;
    text-shadow: 0 0 12px rgba(255, 255, 255, .49);
    -ms-filter: "progid:DXImageTransform.Microsoft.Glow(Color=#ffffffff,Strength=17)";
    zoom: 1;
    filter: progid:dximagetransform.microsoft.glow(Color=#ffff, Strength=17);
  }
}

.items {
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #ccc;
}

@media screen and (min-width: 602px) {
  .board {
    padding-top: 4px;
    padding-left: 4px;

    .cell {
      border-radius: 2px;
      margin-right: 4px !important;
      margin-bottom: 4px;
    }

    &.level1 {
      .cell {
        width: 123px;
        height: 123px;
      }
    }

    &.level2 {
      .cell {
        width: 91.5px;
        height: 91.5px;
      }
    }

    &.level3 {
      .cell {
        width: 72.4px;
        height: 72.4px;
      }
    }

    &.level4 {
      .cell {
        width: 59.5px;
        height: 59.6px;
      }
    }

    &.level5 {
      .cell {
        width: 50.5px;
        height: 50.5px;
      }
    }
  }
}
@media screen and (min-width: 1002px) {
  .wrap {
    height: 484px;
  }

  .board {
    .cell {
      border-radius: 5px;
    }

    &.level1 {
      .cell {
        width: 145px;
        height: 145px;
      }
    }

    &.level2 {
      .cell {
        width: 108px;
        height: 108px;
      }
    }

    &.level3 {
      .cell {
        width: 85.5px;
        height: 85.5px;
      }
    }

    &.level4 {
      .cell {
        width: 70.5px;
        height: 70.5px;
      }
    }

    &.level5 {
      .cell {
        padding: 12px;
        width: 60px;
        height: 60px;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .level-end {
    height: 418px;
  }
}
@media screen and (max-width: 600px) {
  .level-end {
    height: 353px;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
