@keyframes loading {
  0%,
  100% {
    box-shadow: 0 -2.6em 0 0 #fff, 1.8em -1.8em 0 0 rgba(255, 255, 255, .2), 2.5em 0 0 0 rgba(255, 255, 255, .2), 1.75em 1.75em 0 0 rgba(255, 255, 255, .2), 0 2.5em 0 0 rgba(255, 255, 255, .2), -1.8em 1.8em 0 0 rgba(255, 255, 255, .2), -2.6em 0 0 0 rgba(255, 255, 255, .5), -1.8em -1.8em 0 0 rgba(255, 255, 255, .7);
  }

  12.5% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, .7), 1.8em -1.8em 0 0 #fff, 2.5em 0 0 0 rgba(255, 255, 255, .2), 1.75em 1.75em 0 0 rgba(255, 255, 255, .2), 0 2.5em 0 0 rgba(255, 255, 255, .2), -1.8em 1.8em 0 0 rgba(255, 255, 255, .2), -2.6em 0 0 0 rgba(255, 255, 255, .2), -1.8em -1.8em 0 0 rgba(255, 255, 255, .5);
  }

  25% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, .5), 1.8em -1.8em 0 0 rgba(255, 255, 255, .7), 2.5em 0 0 0 #fff, 1.75em 1.75em 0 0 rgba(255, 255, 255, .2), 0 2.5em 0 0 rgba(255, 255, 255, .2), -1.8em 1.8em 0 0 rgba(255, 255, 255, .2), -2.6em 0 0 0 rgba(255, 255, 255, .2), -1.8em -1.8em 0 0 rgba(255, 255, 255, .2);
  }

  37.5% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, .2), 1.8em -1.8em 0 0 rgba(255, 255, 255, .5), 2.5em 0 0 0 rgba(255, 255, 255, .7), 1.75em 1.75em 0 0 #fff, 0 2.5em 0 0 rgba(255, 255, 255, .2), -1.8em 1.8em 0 0 rgba(255, 255, 255, .2), -2.6em 0 0 0 rgba(255, 255, 255, .2), -1.8em -1.8em 0 0 rgba(255, 255, 255, .2);
  }

  50% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, .2), 1.8em -1.8em 0 0 rgba(255, 255, 255, .2), 2.5em 0 0 0 rgba(255, 255, 255, .5), 1.75em 1.75em 0 0 rgba(255, 255, 255, .7), 0 2.5em 0 0 #fff, -1.8em 1.8em 0 0 rgba(255, 255, 255, .2), -2.6em 0 0 0 rgba(255, 255, 255, .2), -1.8em -1.8em 0 0 rgba(255, 255, 255, .2);
  }

  62.5% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, .2), 1.8em -1.8em 0 0 rgba(255, 255, 255, .2), 2.5em 0 0 0 rgba(255, 255, 255, .2), 1.75em 1.75em 0 0 rgba(255, 255, 255, .5), 0 2.5em 0 0 rgba(255, 255, 255, .7), -1.8em 1.8em 0 0 #fff, -2.6em 0 0 0 rgba(255, 255, 255, .2), -1.8em -1.8em 0 0 rgba(255, 255, 255, .2);
  }

  75% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, .2), 1.8em -1.8em 0 0 rgba(255, 255, 255, .2), 2.5em 0 0 0 rgba(255, 255, 255, .2), 1.75em 1.75em 0 0 rgba(255, 255, 255, .2), 0 2.5em 0 0 rgba(255, 255, 255, .5), -1.8em 1.8em 0 0 rgba(255, 255, 255, .7), -2.6em 0 0 0 #fff, -1.8em -1.8em 0 0 rgba(255, 255, 255, .2);
  }

  87.5% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, .2), 1.8em -1.8em 0 0 rgba(255, 255, 255, .2), 2.5em 0 0 0 rgba(255, 255, 255, .2), 1.75em 1.75em 0 0 rgba(255, 255, 255, .2), 0 2.5em 0 0 rgba(255, 255, 255, .2), -1.8em 1.8em 0 0 rgba(255, 255, 255, .5), -2.6em 0 0 0 rgba(255, 255, 255, .7), -1.8em -1.8em 0 0 #fff;
  }
}

.preloader {
  height: 34px;
}

.warningTooltipText {
  white-space: nowrap;
}

.panelsWrap {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.enlistPanelWrap,
.tiersWrap {
  width: 387px;
  height: 250px;
  float: left;
  background: #333;
  border-radius: 5px;
  position: relative;
}

.tiersWrap {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.warringTiersGlowing {
  position: absolute;
  left: 0;
  bottom: -90px;
  width: 100%;
  height: 200px;

  &.metal {
    background: radial-gradient(closest-side at 50% 50%, #fd7e1426 0%, #fd7e1400 100%);
  }

  &.bronze {
    background: radial-gradient(closest-side at 50% 50%, #d9480f26 0%, #d9480f00 100%);
  }

  &.silver {
    background: radial-gradient(closest-side at 50% 50%, #ffffff26 0%, #fff0 100%);
  }

  &.gold {
    background: radial-gradient(closest-side at 50% 50%, #fcc41926 0%, #fcc41900 100%);
  }

  &.platinum {
    background: radial-gradient(closest-side at 50% 50%, #748ffc40 0%, #748ffc00 100%);
  }

  &.diamond {
    background: radial-gradient(closest-side at 50% 50%, #3bc9db40 0%, #3bc9db00 100%);
  }
}

.enlistPanelWrap {
  margin-right: 10px;
  display: flex;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 20px;
  position: relative;

  .warning {
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 0;
  }

  :global(.torn-btn:disabled) {
    box-shadow: none;
    text-shadow: 0 -1px 0 #ffffff1a;
    background: transparent linear-gradient(180deg, #222 0%, #666 100%) 0 0 no-repeat;
    color: #111;
  }
}

.messageWrapper {
  text-align: center;
  margin: 0 auto;
  font-family: "Fjalla One", sans-serif;
}

.message {
  font-size: 14px;
  line-height: 20px;
  color: #ccc;
  margin-bottom: 20px;

  .factionName {
    color: #74c0fc;
    text-decoration: none;

    &:hover {
      color: #a5d8ff;
    }
  }

  &.success {
    color: #94d82d;
  }
}

.messageWrapper.matching {
  .message {
    margin: 0 auto 6px;
  }
}

.messageWrapper.countdown {
  padding: 0 10px;

  .message {
    color: #ff7a4d;
    padding: 0 26px;
  }

  .timer {
    margin-bottom: 0;
    color: #fff;
    text-shadow: 0 0 10px #ff4000;
  }
}

.messageWrapper.progress {
  .message {
    font-size: 20px;
    line-height: 30px;
    color: #ff5c26;
    margin-bottom: 0;
  }
}

.messageWrapper.cooldown {
  .message {
    margin-bottom: 12px;
    color: #94d82d;

    .factionName {
      color: #74c0fc;

      &:hover {
        color: #a5d8ff;
      }
    }
  }

  .timer {
    margin-bottom: 16px;
  }
}

.criteriaWrapper {
  font-family: "Arial", Helvetica, sans-serif;
  line-height: 18px;
  font-size: 12px;
  color: #fff;
  margin: 6px 0 10px;

  .criteriaText,
  .criteriaIcon {
    vertical-align: middle;
  }

  .criteriaIcon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;

    &.done {
      background: url("/images/v2/faction/rank/enlistment_panel/check.svg") 0 0 no-repeat;
    }

    &.inProgress {
      width: 2px;
      height: 2px;
      font-size: 2px;
      border-radius: 50%;
      position: relative;
      animation: loading 1.1s infinite ease;
      transform: translateZ(0);
      margin: 0 10px 0 5px;
    }
  }
}

.timer,
.timerLabel {
  font-family: "Arial", Helvetica, sans-serif;
  color: #ddd;
  font-size: 12px;
  line-height: 16px;
}

.timer {
  margin-bottom: 13px;
}

.unenlistConfirmation {
  text-align: center;

  .confirmMessage {
    font-family: "Fjalla One", sans-serif;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    margin-bottom: 22px;
  }

  .confirmBtn {
    font-family: "Fjalla One", sans-serif;
    font-size: 14px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .65);
    line-height: 20px;
    border: none;
    padding: 0;
    cursor: pointer;

    &.confirm {
      color: #ff8787;
      margin-right: 30px;

      &:hover {
        color: #ffa8a8;
      }
    }

    &.unconfirm {
      color: #74c0fc;

      &:hover {
        color: #a5d8ff;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  :global(.r) {
    .enlistPanelWrap,
    .tiersWrap {
      width: 100%;
    }

    .enlistPanelWrap {
      margin-right: 0;
      height: 260px;
      border-bottom: 1px solid #000;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: 0 1px 0 #ffffff1a;
      z-index: 1;
      position: relative;
    }

    .tiersWrap {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
}
@media screen and (max-width: 600px) {
  :global(.r) {
    .warringTiersGlowing {
      height: 165px;
      bottom: -74px;
    }

    .enlistPanelWrap,
    .tiersWrap {
      border-radius: 0;
    }

    .messageWrapper.countdown {
      .message {
        padding: 0;
      }
    }

    .messageWrapper.matching {
      .message {
        margin: 0 auto 4px;
      }

      .criteriaWrapper {
        margin: 4px 0 8px;
        line-height: 16px;
      }

      .timer {
        margin-bottom: 11px;
      }
    }

    .enlistPanelWrap {
      padding: 10px;
    }
  }
}
