.ToolTipPortal > div > div:first-child {
  span:first-child {
    border-left-width: 10px !important;
    border-right-width: 10px !important;
  }

  span:last-child {
    border-left-width: 11px !important;
    border-right-width: 11px !important;
  }
}
