.modelWrap {
  position: relative;
  box-sizing: border-box;
  width: 423px;
  height: 423px;
  order: 1;
  overflow: hidden;
  background-image: url(/images/v2/modelEditor/bg.jpg);
  background-position: 50% 5px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      border-width: 1px 1px 1px 0;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 423px;
      height: 423px;
      background-position: center 0;
    }
  }
}

.allLayers {
  width: inherit;
  height: inherit;
  top: 0;
  position: relative;
}

.center {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}

.modelLayers {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 240px;
  height: inherit;
  composes: center;

  @media #{$screen-mobile} {
    #{$global-r} & {
      padding-top: 0;
    }
  }
}

.model {
  position: absolute;
  z-index: 2;
  width: inherit;
  height: 386px;

  @media #{$screen-mobile} {
    #{$global-r} & {
      height: 399px;
    }
  }
}

.armour,
.mask,
.background,
.backgroundImage,
.hairMask,
.itemImg {
  position: absolute;
  z-index: 3;
}

.itemImg {
  position: relative;
}

.background,
.backgroundImage {
  z-index: 0;
}

.armoursWrap {
  opacity: 1;
  position: absolute;
  width: inherit;
  height: 386px;
  pointer-events: none;

  @media #{$screen-mobile} {
    #{$global-r} & {
      height: 399px;
    }
  }
}

.armourContainer {
  opacity: 1;
}

#{$dark-mode} {
  .modelWrap {
    background-image: url(/images/v2/modelEditor/bg-dark.jpg);
    background-position: center;
  }
}

.centered {
  transform: translateX(-50%);
  left: 50%;
}
