.appWrapper {
  font-family: Fjalla One, sans-serif;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 5px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      border-radius: 5px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      border-radius: 0;
    }
  }
}
