@import '../../styles/common.cssmodule.scss';

.headerContainer {
  box-sizing: border-box;
  width: inherit;
  height: 33px;
  border-bottom: 1px solid #d4dfe4;
  border-color: var(--ct-skeleton-border-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(180deg, #fff, #e0edf3 99%);
  background: var(--ct-title-bg);
  composes: flexCenterStart;
}

.title {
  composes: fontBlue;
  font-size: 14px;
  line-height: 17px;
  color: #668fa3;
  color: var(--ct-title-font-color);
  text-shadow: 0 1px 0 rgba(255, 255, 255, .45);
  text-shadow: var(--ct-title-text-shadow);
  text-transform: uppercase;
  word-spacing: 1.1px;
}

.textBorders {
  padding-left: 10px;
}
