$radioButtonColor: #aaa;
$radioButtonActiveColor: #666;
$radioTextColor: #333;

.formRadioLabel {
  position: relative;
  padding-left: 18px;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 13px;
    height: 13px;
    border: 2px solid $radioButtonColor;
    border-radius: 50%;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .75), 0 1px 0 0 rgba(255, 255, 255, .75);
    box-shadow: inset 0 1px 0 0 rgba(var(--default-white-color), .75), 0 1px 0 0 rgba(var(--default-white-color), .75);
  }

  &::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $radioButtonColor;
    opacity: 0;
  }
}

.formRadio {
  position: absolute;
  z-index: -1;

  &:checked + .formRadioLabel {
    &::after {
      opacity: 1;
    }
  }

  &:hover + .formRadioLabel,
  &:focus + .formRadioLabel {
    color: $radioButtonActiveColor;

    &::before {
      border-color: $radioButtonActiveColor;
    }

    &::after {
      background-color: $radioButtonActiveColor;
    }
  }
}
