.resetContainer {
  border-bottom: 1px solid #bfd0d8;
  border-bottom-color: var(--ct-map-editor-secondary-section-divider);

  .resetConfirmation {
    margin-right: 5px;
    margin-left: 10px;
    color: #858585;
    color: var(--ct-editor-default-library-font-color)
  }

  .resetButton {
    margin: 7px 0;
    border: none;
    background: none;
    color: #668fa3;
    color: var(--ct-map-editor-default-button-color);
    font-family: 'Fjalla One', sans-serif;
    font-size: 12px;
    cursor: pointer;

    svg {
      fill: #7fa1b2;
      fill: var(--ct-map-editor-reset-btn-fill);
      filter: url(#defaultFilter);
      filter: var(--ct-map-editor-default-btn-filter);
    }

    .resetButtonText {
      margin-left: 7px;
    }

    &.red {
      color: #ff794c;
    }
  }
}
