.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCenterStart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.fontCT {
  font-family: 'Fjalla one', sans-serif;
  font-size: 12px;
  line-height: 1.3;
}

.fontBlue {
  composes: fontCT;
  color: #668fa3;
}

.column {
  box-sizing: border-box;
  composes: flexCenter;
  height: 100%;
}

.section {
  border-right: 1px solid #d4dfe5;

  &:last-of-type {
    border-right: none;
  }
}

.user {
  justify-content: flex-start;
  padding-left: 10px;
  width: 15%;
}

.map {
  width: 20%;
}

.time {
  width: 20%;
}

.message {
  width: 45%;
}
