.tooltipContainer {
  max-width: 205px;
  max-height: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #999;
  background: #f2f2f2;
}

.tooltipTitle {
  display: block;
  padding: 0 8px;
  text-align: left;
  white-space: pre-wrap;
  word-break: normal;
}

.tooltipArrowWrap {
  position: relative;
  top: -1px;
}

.tooltipArrow {
  border-radius: 2px;
  border-color: #f2f2f2 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  filter: drop-shadow(0 1px .6px #999);
}
