.cansEventHeader {
  position: relative;
  height: 140px;
  border-radius: 0 0 5px 5px;
  background: rgba(0, 0, 0, 0) url(/images/v2/cans-event/header/976_titnle_and_bg.png) top center no-repeat;
  background-size: 100% 100%;
  text-align: center;

  .pageHeadDelimiter {
    position: absolute;
    top: 58px;
    left: 0;
    display: block;
    margin: 10px 0;
    width: 100%;
    border-top: 1px solid #999;
    border-right: none;
    border-bottom: 1px solid #ebebeb;
    border-left: none;
  }

  .description {
    margin: 0 auto;
    padding-top: 80px;
    width: 650px;

    h5,
    p {
      color: #666;
      font-family: Audiowide, sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.4;
    }

    h5 {
      line-height: 1.3;
    }

    p {
      font-size: 13px;
      line-height: 1.2;
    }
  }
}

:global(.r) {
  @media screen and (max-width: 1000px) {
    .cansEventHeader {
      height: 200px;
      background: rgba(0, 0, 0, 0) url(/images/v2/cans-event/header/578_titnle_and_bg.png) top center no-repeat;

      .pageHeadDelimiter {
        top: 98px;
      }

      .description {
        padding-top: 113px;
        width: 350px;

        p {
          .secondTextPart {
            display: inline-block;
            padding: 0 30px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .cansEventHeader {
      height: 200px;
      background: rgba(0, 0, 0, 0) url(/images/v2/cans-event/header/320_titnle_and_bg.png) top center no-repeat;

      .description {
        width: 310px;

        h5 {
          line-height: 1.3;
        }

        p {
          .secondTextPart {
            display: inline;
            padding: 0;
          }
        }
      }
    }
  }
}

