.flewRowCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ratingBox {
  position: relative;
  box-sizing: border-box;
  composes: flewRowCenter;
  // padding: 0 7px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: 47%;
    }
  }
}

.underlayWrap {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 16px;
  overflow: hidden;
}

.starsProgress {
  position: absolute;
  left: 9px;
  max-width: 96px;
  height: 16px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      left: 0;
    }
  }
}

.starsProgressAdaptive {

  @media #{$screen-tablet} {
    #{$global-r} & {
      left: 9px;
    }
  }
}

.starsProgressBarBCG {
  width: 100%;
  background: #eee;
  background: var(--ct-rating-stars-progress-bar-bg);
}

.starsProgressBar {
  background: #e9be3b;
  transition: width .6s linear;
}

.starConatiner {
  position: relative;
  z-index: 1;
  width: 20px;
  height: 19px;
  overflow: hidden;
  margin: -.2px; // hack-fix for FF browsers! TODO: understand how to solve it
}

.starsWrap {
  composes: flewRowCenter;
  width: 100%;
  position: relative;

  @media #{$screen-tablet} {
    #{$global-r} & {
      position: relative;
      width: 120%;
    }
  }
}

.svgStar {
  pointer-events: none;
}

.svgWithMobileGradientRegular {

  @media #{$screen-tablet} {
    #{$global-r} & {
      fill: url(#starMobileGradient);
      fill: var(--ct-my-maps-rating-touch-fill);
    }
  }
}

.svgWithMobileGradientJoined {

  @media #{$screen-tablet} {
    #{$global-r} & {
      fill: url(#starMobileGradientJoined);
      fill: var(--ct-my-maps-rating-touch-fill-joined);
    }
  }
}

.svgMobileStarWrap {
  composes: flewRowCenter;
  margin: 0 6px 0 10px;
}

.starContainer {
  width: 15px;
  height: 15px;
  right: 4px;
  position: relative;
  overflow: hidden;

  .mobileStar {
    filter: url(#defaultFilter);
    filter: var(--ct-icon-filter);
  }
}

.svgStarBackground {
  position: absolute;
  width: 16px;
  height: 15px;
  background: #e6ba5c;
  background: var(--ct-rating-star-color);
}

.svgStarAdaptive {
  position: relative;
  fill: #fff;
  fill: var(--ct-panel-bg);

  @media #{$screen-mobile} {
    #{$global-r} & {
      fill: #fff;
      fill: var(--ct-panel-bg);
    }
  }
}

.svgStarHovered {

  @media #{$screen-mobile} {
    #{$global-r} & {
      fill: #f1fcff;
    }
  }
}

.mobileStarsCount {
  color: #e6ba5c;
  color: var(--ct-rating-star-color);
  line-height: 1;
  position: relative;
  top: 1px;
}
