.descWrap {
  display: block;

  .customContainer {
    margin-left: -10px;
  }

  .pPropgress {
    margin-top: -2px;
  }
}

:global(.d .chain-attacks-list .player-progress) {
  margin-top: -2px;
  margin-left: -3px;
}
