.searchTypeWrapper {
  float: left;
}

.searchFormWrapper {
  padding-top: 5px;
}

.userSearchType {
  &:global(.react-dropdown-default) {
    width: 170px;

    :global {
      .dropdownList {
        width: calc(100% - 2px);
        left: 1px;
        border: none;
      }

      .scroll-area {
        border: none;
        box-shadow: 0 0 0 1px #444, 0 1px 2px rgba(0, 0, 0, .45);
        background-color: #222;
        color: #ccc;
        top: 0;
      }

      .dropdown-content {
        .item {
          display: flex;
          margin: 0;
          width: 100%;
          height: 24px;
          border-bottom: none;

          &:hover,
          &:focus {
            background: rgba(0, 0, 0, .5);
          }
        }

        .item:first-child {
          margin: 0;
        }
      }

      .toggler {
        padding: 5px 26px 5px 10px;
        height: 24px;
        border: none;
        box-shadow: 0 1px 0 #ffffff1a;
        background: transparent linear-gradient(0deg, #111 0%, #000 100%);
        color: #9f9f9f;

        &::after {
          right: 10px;
          filter: none;
          border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #999;
        }

        &:hover {
          box-shadow: 0 1px 0 #ffffff1a !important; // need to override dropdown styles

          &::after {
            border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ccc;
          }
        }

        &:focus {
          box-shadow: none;
        }
      }
    }

    &:global(.dropdown-opened .toggler) {
      &::after {
        border-color: #999 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      }

      &:hover {
        &::after {
          border-color: #ccc rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        }
      }
    }
  }
}

:global(.d[data-abroad="true"]) {
  .userSearchType {
    &:global(.react-dropdown-default) {
      :global {
        .toggler {
          background: linear-gradient(0deg, #000 0%, #111 100%);
          color: #8fa6bc;

          &::after {
            border-left-color: #8fa6bc;
          }

          &:hover {
            &::after {
              border-left-color: #d7dfe7;
            }
          }
        }

        .scroll-area {
          box-shadow: 0 0 0 1px #5f7f9f, 0 1px 2px #00000073;
          background-color: #42596f;
          color: #d7dfe7;
        }

        .dropdown-content {
          .item {
            &:hover,
            &:focus {
              background: rgba(0, 0, 0, .4);
            }
          }
        }
      }
    }

    &:global(.react-dropdown-default.dropdown-opened .toggler) {
      &::after {
        border-top-color: #8fa6bc;
        border-left-color: transparent;
      }

      &:hover {
        &::after {
          border-top-color: #d7dfe7;
          border-left-color: transparent;
        }
      }
    }
  }
}

:global(.d[data-layout="jail"]) {
  .userSearchType {
    &:global(.react-dropdown-default) {
      :global {
        .toggler {
          background: linear-gradient(0deg, #464637 0%, #353526 100%);
          color: #dfdfd0;

          &::after {
            border-left-color: #bdbdae;
          }

          &:hover {
            &::after {
              border-left-color: #fff;
            }
          }
        }

        .scroll-area {
          box-shadow: 0 0 0 1px #686859, 0 1px 2px #00000073;
          background-color: #575748;
          color: #dfdfd0;
        }

        .dropdown-content {
          .item {
            &:hover,
            &:focus {
              background: rgba(0, 0, 0, .4);
            }
          }
        }
      }
    }

    &:global(.react-dropdown-default.dropdown-opened .toggler) {
      &::after {
        border-top-color: #bdbdae;
        border-left-color: transparent;
      }

      &:hover {
        &::after {
          border-top-color: #fff;
          border-left-color: transparent;
        }
      }
    }
  }
}

:global(.d[data-layout="hospital"]) {
  .userSearchType {
    &:global(.react-dropdown-default) {
      :global {
        .toggler {
          background: linear-gradient(180deg, #333 0%, #444 100%);
          color: #ddd;

          &::after {
            border-left-color: #ddd;
          }

          &:hover {
            &::after {
              border-left-color: #fff;
            }
          }
        }

        .scroll-area {
          box-shadow: 0 0 0 1px #777, 0 1px 2px #00000073;
          background-color: #555;
        }

        .dropdown-content {
          .item {
            &:hover,
            &:focus {
              background: rgba(0, 0, 0, .4);
            }
          }
        }
      }
    }

    &:global(.react-dropdown-default.dropdown-opened .toggler) {
      &::after {
        border-top-color: #ddd;
        border-left-color: transparent;
      }

      &:hover {
        &::after {
          border-top-color: #fff;
          border-left-color: transparent;
        }
      }
    }
  }
}

@media #{$screen-tablet} {
  :global(.r .header .find) {
    .searchTypeWrapper {
      float: none;
    }

    &.searchFormWrapper {
      top: 34px;
      padding-top: 0;
      border: 1px solid #444;
      border-radius: 5px;
      box-shadow: 0 1px 2px #00000073;
      background: #333;
    }
  }

  :global(.r .find-wrapper .search-mobile-button) {
    &.searchBtn {
      left: 0;

      &.open {
        z-index: 3;

        &::after {
          content: '';
          position: absolute;
          top: 6px;
          left: -5px;
          display: block;
          width: 46px;
          height: 34px;
          background: url(/images/v2/svg_icons/top_header/dropdown_slices/regular/dropdown_centre.svg) 0 0 no-repeat;
          background-size: 100% 100%;
        }
      }
    }
  }

  :global(.r[data-abroad="true"]) {
    :global(.header .find) {
      &.searchFormWrapper {
        border-color: #5f7f9f;
        background: #42596f;
      }
    }

    :global(.find-wrapper .search-mobile-button) {
      &.searchBtn {
        &.open {
          &::after {
            background: url(/images/v2/svg_icons/top_header/dropdown_slices/abroad/dropdown_centre.svg) 0 0 no-repeat;
            background-size: 100% 100%;
          }
        }
      }
    }
  }

  :global(.r[data-layout="jail"]) {
    :global(.header .find) {
      &.searchFormWrapper {
        border-color: #686859;
        background: #575748;
      }
    }

    :global(.find-wrapper .search-mobile-button) {
      &.searchBtn {
        &.open {
          &::after {
            background: url(/images/v2/svg_icons/top_header/dropdown_slices/jail/dropdown_centre.svg) 0 0 no-repeat;
            background-size: 100% 100%;
          }
        }
      }
    }
  }

  :global(.r[data-layout="hospital"] .header .find) {
    &.searchFormWrapper {
      border-color: #777;
      background: #555;
    }
  }

  :global(.r[data-layout="hospital"] .find-wrapper .search-mobile-button) {
    &.searchBtn {
      &.open {
        &::after {
          background: url(/images/v2/svg_icons/top_header/dropdown_slices/hospital/dropdown_centre.svg) 0 0 no-repeat;
          background-size: 100% 100%;
        }
      }
    }
  }
}
@media #{$screen-tablet} {
  :global(.r .find) {
    .searchTypeWrapper {
      float: none;
    }

    &.searchFormWrapper {
      padding-top: 0;
      border: 1px solid #444;
      border-radius: 5px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, .45);
      background: #333;
    }
  }
}
