.raidBoxWp {

  .linkColor {
    text-decoration: none;

    &.opponentFactionName {
      color: var(--opponent-color);
    }

    &.currentFactionName {
      color: var(--current-color);
    }

    &:hover {
      color: var(--faction-war-default-blue-hover-color);
    }
  }

}
