.multiplier {
  @media #{$screen-tablet} {
    #{$global-r} & {
      order: 2;
      width: 55px !important;
      float: unset !important;
      box-sizing: border-box;
      text-align: right !important;
      border-left: unset !important;
    }
  }
}

.odds {
  @media #{$screen-tablet} {
    #{$global-r} & {
      order: 1;
      width: unset !important;
      float: unset !important;
      box-sizing: border-box;
      text-align: right !important;
    }
  }
}

.description {
  @media #{$screen-desktop} {
    &.isConfirming {
      display: none !important;
    }
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      order: 0;
      flex-grow: 1;
      box-sizing: border-box;
      width: unset !important;
      float: unset !important;
    }
  }
}

.inputContainer {
  display: flex;
  align-items: center;

  @media #{$screen-tablet} {
    #{$global-r} & {
      order: 3;
      flex: 1 0 100%;
      float: unset !important;
      box-sizing: border-box;
      height: 35px !important;
      line-height: 0px !important;
      padding-bottom: 5px !important;
    }
  }
}

.multiplierLabel {
  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none !important;
    }
  }
}

.oddsLabel {
  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none !important;
    }
  }
}

.confirmWrap {
  flex-grow: 1;
  float: unset;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: none;
  padding: 0 10px;
  height: 34px;
  line-height: 35px;
  text-align: center;
  border-left: 1px solid #eee;
  border-left-color: var(--bookies-list-item-bet-color);
  border-top: 1px solid #eee;
  border-top-color: var(--bookies-list-item-bet-color);

  &.isActive {
    display: flex;
  }

  &.isLoading {
    min-height: 40px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      order: 3;
      flex: 1 0 100%;
    }
  }
}

.confirmYes {
  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-left: 0;
    }
  }
}

.accept {
  flex-wrap: wrap;
  line-height: 14px;
  display: flex;
}

.shortConfirm {
  flex-grow: 1;
}

.acceptButtons {
  flex-grow: 1;
}
