$border-color: #ccc;

:global {
  .Select-menu {
    max-height: 165px;
  }
}

:global(.d) {
  .wrap {
    position: relative;
    display: flex;
    border-top: 1px solid #{$border-color};
    background-color: white;

    &.loading::before {
      content: '';
      position: absolute;
      z-index: 2;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, .4);
    }
  }

  .th {
    flex: 0 0 80px;
    padding: 10px;
    border-right: 1px solid #{$border-color};
    color: #666659;
  }

  .tb {
    flex-grow: 1;
    padding: 10px;
    color: #99998c;
  }

  .thr,
  .tbr {
    display: flex;
    align-items: center;
    height: 40px;
  }

  .tbr {
    justify-content: flex-start;

    input {
      color: inherit;
    }

    &.story {
      flex-wrap: wrap;
      height: auto;

      input {
        margin: 2px 0;
        color: #333;
      }
    }
  }

  .thr {
    justify-content: flex-end;
  }

  .input {
    box-sizing: border-box;
    padding: 0 10px;
    height: 36px;
    border: 1px solid #{$border-color};
    border-radius: 5px;

    &.long {
      font-size: 14px;
    }

    &.short {
      margin-right: 10px;
      width: 80px;
    }

    &.reason {
      flex: 1;
    }

    &.middle {
      width: 135px;
    }

    &.limit {
      border-color: #a00;
    }

    &[data-hidden='true'] {
      display: none;
    }

    &:read-only {
      background: #8080800d;
      cursor: default;
    }
  }

  .result-fields {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 600px;
    white-space: nowrap;

    .input {
      margin-right: 4px;
    }
  }

  .items-list {
    display: flex;
    align-items: center;
    float: right;

    span {
      vertical-align: text-top;
    }
  }

  .first-line {
    margin-right: 10px;
    width: 250px;
  }

  .items-dd {
    margin-right: 10px;
    width: 250px;
    float: left;
  }

  .value {
    padding-left: 10px;
  }

  .addLink {
    vertical-align: middle;
    width: auto;
    height: 20px;

    a {
      color: #00a3d8;
      font-size: 12px;
      text-decoration: none;
    }

    i {
      margin-right: 4px;
      color: #ccc;
      font-family: Arial, sans-serif;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .actionBtns {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btsColumn {
    flex-direction: column;
  }

  .btn {
    margin-left: 10px;
    height: 32px;
    line-height: 1.8;
    text-transform: uppercase;
    cursor: pointer;

    &.save {
      width: 56px;
    }

    &.delete {
      width: 66px;
    }

    &.unrelease {
      width: 88px;
    }

    &.release {
      width: 72px;
    }

    &.confirm,
    &.released {
      width: 78px;
    }

    &.generate {
      width: 82px;
    }
  }

  .fetchActionSpinner {
    display: flex;
    align-items: center;
    justify-self: center;
    margin-bottom: 6px;
  }

  .minmaxLevelError {
    padding: 7px 5px 5px;
    border: 1px solid red;
    color: red;
  }

  .manualModeContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .checkboxDivider {
    position: relative;
    top: -2px;
    margin: 0 10px;
    width: 1px;
    height: 17px;
    border: none;
    background: #99998c;
  }

  .checkboxInput {
    cursor: pointer;
    margin: 0 5px 5px;
    width: 15px;
    height: 15px;
  }

  .fullHeight {
    height: 100%;
  }

  .outcomeTest {
    justify-content: space-between;
  }

  .buttonsEnd {
    padding: 10px;
  }

  .outcomeWrap {
    z-index: 100;
    width: 782px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px dotted black;

    &.tablet {
      max-width: 386px;
    }

    &.mobile {
      max-width: 320px;
    }
  }

  .flexEnd {
    justify-content: flex-end;
  }

  .oucomePlaceholder {
    align-items: center;
  }

  .actionOutcomeBtn {
    margin-top: 10px;
  }

  .generateBtn {
    margin-left: 5px;
  }

  .resizeBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 5px 0 0 0;
  }

  .resizeButton {
    background: url('/images/v2/header/global_icons/all_reg_menu_search_adv_settings_logout.png');
    width: 26px;
    height: 30px;
    cursor: pointer;
    filter: invert(1);
    margin: 0 2px;

    &:hover {
      filter: invert(0);
    }
  }

  .disabled {
    opacity: .5;
    cursor: initial;

    &:hover {
      filter: invert(1);
    }
  }

  .clicked {
    filter: invert(0);
  }

  .desktop {
    background-position: -6px -205px;
  }

  .tablet {
    background-position: -4px -404px;
  }

  .mobile {
    background-position: -6px -244px;
  }

  .conditionsWrap {
    margin: 2px 0;
    align-items: flex-start;
    height: auto;
  }

  .conditionsEnhencerWrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .conditionsEnhencerInputWidth {
    width: 170px;
  }

  .selectedList {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 408px;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px 5px 4px;
    height: auto;
    box-sizing: border-box;
  }

  .selectedItem {
    min-height: 32px;
    box-sizing: border-box;
    min-width: 75px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: normal;
    white-space: nowrap;
    transition: .1s all ease-in;
    border: 1px solid #ccc;
    overflow: hidden;
    margin: 2px;
    border-radius: 5px;
    user-select: none;

    &.manual {
      border-left: 5px solid #0375fe;
    }

    &:hover {
      box-shadow: 0 1px 3px -2px black;
      border: 1px solid #b3b0b0;
    }
  }

  .itemLabel {
    padding: 3px 9px 2px 5px;
    line-height: 1.3;
  }

  .selectedItemButton {
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
    padding: 3px 7px;
    margin: 0 0 0 5px;
    font: inherit;
    color: inherit;
    transition: .1s all ease-in;
    height: inherit;

    &:hover {
      color: white;
      background: #999;
    }

    &::before {
      content: '';
      width: 1px;
      height: inherit;
      position: absolute;
      background: #ccc;
      top: 0px;
      left: -1px;
    }
  }
}

.selectedPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-align: center;
}

.addItemBtn {
  height: 32px;
  margin-bottom: 5px;
  margin-left: 7px;
}

.thr.resultLabel {
  height: 123px;
  text-align: start;
  align-items: flex-start;
  margin-top: 14px;
}

// hack for native Outcome from crimes apps
[class^="outcomeContainer"] {
  width: 100% !important;
}
