.flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.areasContainer {

  @extend .flexRow;

  width: 150px;
  height: 30px;
  border: 1px solid #fff;
  border: 1px solid var(--areasContainer-border);
  border-radius: 5px;
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 1px 2px #00000026;
  box-shadow: var(--areasContainer-boxShadow);
  background: transparent linear-gradient(180deg, #e4e4e4 0%, #f2f2f2 100%) 0% 0% no-repeat padding-box;
  background: var(--areasContainer-background) 0% 0% no-repeat padding-box;

  &::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #666;
    border-left: 5px solid var(--areasContainer-border-left-color);
    position: absolute;
    display: block;
    right: 10px;
    top: 9px;
    filter: drop-shadow(0 1px 0 #fff);
    filter: drop-shadow(0 1px 0 var(--wrapper-background));
  }

  &:hover {
    &::after {
      border-left: 5px solid #666;
      border-left: 5px solid var(--areasContainer-border-left-color);
    }
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 132px;
      height: 21px;
      top: 0;
      left: 0;

      &::after {
        top: 4px;
      }
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 115px;
    }
  }
}

.activeDropDownAreas {
  .areasContainer {
    z-index: 2147483647;
    flex-wrap: wrap;
    position: absolute;
    top: 10px;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    background: transparent linear-gradient(180deg, #e4e4e4 0%, #f2f2f2 100%) 0% 0% no-repeat padding-box;
    background: var(--areasContainer-background);

    &::after {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #8a8a79;
      top: 12px;
    }

    :first-child {
      padding-top: 4px;
      padding-bottom: 3px;
    }

    :last-child {
      border-bottom: none;
    }

    @media #{$screen-tablet} {
      #{$global-r} & {
        top: 0;

        :first-child {
          padding-top: 0;
          padding-bottom: 0;
        }

        &::after {
          top: 8px;
        }
      }
    }
  }

  .area.lastActiveArea {
    opacity: 1;
    border-bottom: 1px solid #dedede;
    border-bottom: 1px solid var(--area-borderColor);
    color: #fff;
    color: var(--title-color);
  }
}

.area {
  user-select: none;
  font-size: 12px;
  padding: 2px 8px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #dedede;
  border-bottom: 1px solid var(--area-borderColor);
  background: rgba(0, 0, 0, 0) 0% 0% no-repeat padding-box;
  background: var(--area-background) 0% 0% no-repeat padding-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 27px;

  * {
    pointer-events: none;
    color: #666;
    color: var(--crimeRow-text-color);
  }

  &:hover {
    background: #fff;
    background: var(--area_hover-background);
  }

  &.selectedArea {
    background: #fff;
    background: var(--area__selectedArea-background);
  }

  &:not(.lastActiveArea):hover {
    background: #fff;
    background: var(--area_not__selectedArea_hover-background);
  }

  &.lastActiveArea {
    border-bottom: none;

    > span {
      color: #fff;
      color: var(--title-color);
      opacity: 1;
    }

    &:hover {
      background: rgba(0, 0, 0, 0) 0% 0% no-repeat padding-box;
      background: var(--area-background) 0% 0% no-repeat padding-box;

      > span {
        color: #fff;
        color: var(--title-color);
        opacity: 1;
      }
    }
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      padding: 7px 8px;
      line-height: 1.6;
      max-height: 34px;

      &:nth-child(1) {
        padding: 0 8px;
      }
    }
  }
}

.nonAvailable {
  opacity: .5;
  pointer-events: none;
  cursor: default;
}

.mobileHoverButton {
  position: absolute;
  width: 150px;
  height: 65px;
  background: transparent;
  border: none;
  outline: none;
}

.text,
.star {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  padding-bottom: 2px;
  margin-top: 8px;

  span[class^="crimes-icon-text"] {
    transform: translate(5%, -15%);
  }
}
