@import '../../../styles/common.cssmodule.scss';
@import '../../../styles/constants.cssmodule.scss';

.itemsList {
  max-height: 149px;
  overflow-y: scroll;
  background: #fff;
  composes: adaptiveContainer;

  &::-webkit-scrollbar-thumb {
    width: 12px;
    border: 2px solid #d4dfe5;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 1px #d4dfe5;
    background-color: #fff;
  }

  &::-webkit-scrollbar {
    width: 14px;
    background: #d4dfe5;
    -webkit-appearance: none;

    &:hover {
      background: #dfe2e2;
    }
  }
}

.alreadySelected,
.item {
  &:focus,
  &:hover {
    background: #eef2f4;
  }
}

.alreadySelected {
  background: #f5f5f5;
  cursor: default;

  &:hover {
    cursor: default;
  }
}

.text {
  max-width: 150px;
  composes: preventPointer;
}

.alreadyInLabel {
  text-align: right;
  position: relative;
  color: #dcdbdb;
  font-size: 10px;
  composes: preventPointer;
  composes: text;
  flex: 1;
}

:global(.greySelectSearchWrap) {
  .itemsList {
    background: #f2f2f2;
    background: var(--selectSearchWrap-user-list-bg);

    &::-webkit-scrollbar-thumb {
      width: 10px;
      border: 2px solid $scrollGrey;
      border-color: var(--selectSearchWrap-scroll-area-bg);
      border-right: 1px solid $scrollGrey;
      border-right-color: var(--selectSearchWrap-scroll-area-bg);
      border-radius: 50px;
      -webkit-box-shadow: 0 0 1px $scrollGrey;
      -webkit-box-shadow: 0 0 1px var(--selectSearchWrap-scroll-area-bg);
      background-color: #fff;
      background-color: var(--selectSearchWrap-scroll-bg);
    }

    &::-webkit-scrollbar {
      width: 10px;
      background: $scrollGrey;
      background: var(--selectSearchWrap-scroll-area-bg);
      -webkit-appearance: none;

      &:hover {
        background: $scrollGrey;
        background: var(--selectSearchWrap-scroll-area-bg);
      }
    }
  }

  .alreadySelected,
  .item {
    &:focus,
    &:hover {
      background: #fff;
      background: var(--selectSearchWrap-selected-user-bg);
    }
  }

  .alreadySelected {
    background: #fff;
    background: var(--selectSearchWrap-selected-user-bg);
  }
}
