@import './index.cssmodule.scss';

.userButton {
  composes: flexButton;
  position: relative;
  padding: 7px 12px;
  width: 100%;
  height: 30px;
  text-align: left;
  composes: item;
  composes: button;
  composes: fonts;

  &:focus,
  &:hover {
    background: #eef2f4;
    box-shadow: none;
  }

  &:last-child {
    border-bottom: none;
  }
}

.onlineStatus {
  box-sizing: border-box;
  margin: 5px 10px;
  margin-left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background: #ff5c26;
  composes: preventPointer;
  flex: unset;
}

.userIdle {
  background: #ffa500;
}

.userOnline {
  background: #9bc02f;
}

.userText {
  color: #888;
  color: var(--default-gray-8-color);
  composes: text;
}

.userName {
  flex: unset;
  padding-right: 5px;
}

.userID {
  flex: 1;
}

:global(.greySelectSearchWrap) {
  .userText {
    color: #666;
    color: var(--default-gray-6-color);
  }
}
