$slide: 400ms;

.amount-wrap {
  position: relative;
  min-width: 8px;
  max-width: 100px;
  height: 21px;
  font-size: 13.5px;
  // overflow: hidden;
  overflow-y: hidden;
  text-align: center;
  transition: all 1s linear;
}

.amount-enter {
  position: relative;
  right: 0;
  left: 0;
  margin: 0 auto;
  // display: inline-block;
  // transform: translateY(-100%);
  opacity: 0;
  transition: all #{$slide} ease-in-out;

  &.amount-enter-active {
    position: relative;
    right: 0;
    left: 0;
    // transform: translateY(0);
    opacity: 1;
  }
}

.amount-exit {
  position: absolute;
  right: 0;
  left: 0;
  // display: inline-block;
  // transform: translateY(0);
  opacity: 1;
  transition: all #{$slide} ease-in-out;

  &.amount-exit-active {
    position: absolute;
    right: 0;
    left: 0;
    // transform: translateY(100%);
    opacity: 0;
  }
}
