.snippets {
  background: url(/images/v2/newspaper/divider_horizontal_old.png) 0 0 repeat-x;
  background: var(--newspaper-divider-horizontal-old-line-url) 0 0 repeat-x;
  padding: 20px 0 0 20px;
  max-width: 580px;
  min-height: 420px;
  position: relative;
}
.snippet {
  display: inline-block;
  text-decoration: none;
  width: 170px;
  height: 184px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  vertical-align: top;
  &:nth-child(3n+3) {
    margin-right: 0;
  }
}
.snippetLink {
  display: block;
  height: 100%;
  &:hover {
    .titleWrap {
      background:
        url(/images/v2/newspaper/divider_horizontal_older.png) 0 100% repeat-x,
        url(/images/v2/newspaper/divider_vertical_old.png) 0 0 repeat-y,
        url(/images/v2/newspaper/divider_vertical_old.png) 100% 0 repeat-y;
      background:
        var(--newspaper-divider-horizontal-older-line-url) 0 100% repeat-x,
        var(--newspaper-divider-vertical-old-line-url) 0 0 repeat-y,
        var(--newspaper-divider-vertical-old-line-url) 100% 0 repeat-y;
      &.unseen {
        background-color: #357C9F;
        background-color: var(--newspaper-unseen-article-bg-color);
      }
      &.unread {
        background-color: #DAD1C9;
        background-color: var(--newspaper-unreed-article-bg-color);
      }
    }
  }
}
.imageWrap {
  position: relative;
  background-size: cover;
  background-image: url(/images/v2/newspaper/image_placeholder.jpg);
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/images/v2/newspaper/image_texture_overlay.png) 0 0 repeat,
                url(/images/v2/newspaper/divider_horizontal_older.png) 0 0 repeat-x,
                url(/images/v2/newspaper/divider_horizontal_older.png) 0 100% repeat-x,
                url(/images/v2/newspaper/divider_vertical_old.png) 0 0 repeat-y,
                url(/images/v2/newspaper/divider_vertical_old.png) 100% 0 repeat-y;
    background: url(/images/v2/newspaper/image_texture_overlay.png) 0 0 repeat,
                var(--newspaper-divider-horizontal-older-line-url) 0 0 repeat-x,
                var(--newspaper-divider-horizontal-older-line-url) 0 100% repeat-x,
                var(--newspaper-divider-vertical-old-line-url) 0 0 repeat-y,
                var(--newspaper-divider-vertical-old-line-url) 100% 0 repeat-y;
  }
}
.image {
  width: 100%;
  max-height: 100%;
  height: 128px;
  background-size: cover;
  background-position: center;
}
.titleWrap {
  height: 56px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  padding: 10px 9px;
  color: #525252;
  color: var(--newspaper-font-color);
  background: url(/images/v2/newspaper/image_texture_overlay.png) 0 0 repeat;
  &.seen, &.read {
    background: url(/images/v2/newspaper/image_texture_overlay.png) 0 0 repeat,
                url(/images/v2/newspaper/divider_horizontal_older.png) 0 100% repeat-x,
                url(/images/v2/newspaper/divider_vertical_old.png) 0 0 repeat-y,
                url(/images/v2/newspaper/divider_vertical_old.png) 100% 0 repeat-y;
    background: url(/images/v2/newspaper/image_texture_overlay.png) 0 0 repeat,
                var(--newspaper-divider-horizontal-older-line-url) 0 100% repeat-x,
                var(--newspaper-divider-vertical-old-line-url) 0 0 repeat-y,
                var(--newspaper-divider-vertical-old-line-url) 100% 0 repeat-y;
  }
  &.unseen {
    background: url(/images/v2/newspaper/image_texture_overlay.png) 0 0 repeat,
      url(/images/v2/newspaper/divider_horizontal_older.png) 0 100% repeat-x,
      url(/images/v2/newspaper/divider_vertical_old.png) 0 0 repeat-y,
      url(/images/v2/newspaper/divider_vertical_old.png) 100% 0 repeat-y;
    background: url(/images/v2/newspaper/image_texture_overlay.png) 0 0 repeat,
      var(--newspaper-divider-horizontal-older-line-url) 0 100% repeat-x,
      var(--newspaper-divider-vertical-old-line-url) 0 0 repeat-y,
      var(--newspaper-divider-vertical-old-line-url) 100% 0 repeat-y;
    background-color: #357C9F;
    background-color: var(--newspaper-unseen-article-bg-color);
    color: #FFF;
  }
  &.unread {
    background: url(/images/v2/newspaper/image_texture_overlay.png) 0 0 repeat,
      url(/images/v2/newspaper/divider_horizontal_older.png) 0 100% repeat-x,
      url(/images/v2/newspaper/divider_vertical_old.png) 0 0 repeat-y,
      url(/images/v2/newspaper/divider_vertical_old.png) 100% 0 repeat-y;
    background: url(/images/v2/newspaper/image_texture_overlay.png) 0 0 repeat,
      var(--newspaper-divider-horizontal-older-line-url) 0 100% repeat-x,
      var(--newspaper-divider-vertical-old-line-url) 0 0 repeat-y,
      var(--newspaper-divider-vertical-old-line-url) 100% 0 repeat-y;
    background-color: #DAD1C9;
    background-color: var(--newspaper-unreed-article-bg-color);
  }
}
.title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
}
.subtitle {
  display: none;
}

@media screen and (max-width: 1000px) {
  :global(.r) {
    .snippets {
      padding: 0;
      min-height: unset;
      background: url(/images/v2/newspaper/divider_horizontal_old.png) 0 100% repeat-x;
      background: var(--newspaper-divider-horizontal-old-line-url) 0 100% repeat-x;
    }
    .snippet {
      display: block;
      width: auto;
      height: 107px;
      margin: 0;
      background: url(/images/v2/newspaper/divider_horizontal_older.png) 0 0 repeat-x;
      background: var(--newspaper-divider-horizontal-older-line-url) 0 0 repeat-x;
    }
    .snippetLink {
      padding: 10px;
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 10px;
      }
      &.unseen:after {
        background-color: #357C9F;
        background-color: var(--newspaper-unseen-article-bg-color);
      }
      &.unread:after {
        background-color: #DAD1C9;
        background-color: var(--newspaper-unreed-article-bg-color);
      }
    }
    .imageWrap {
      display: inline-block;
      width: 114px;
      vertical-align: middle;
    }
    .image {
      width: 100%;
      height: 86px;
    }
    .titleWrap {
      background: transparent;
      color: #357C9F;
      display: inline-block;
      padding: 3px 0 3px 10px;
      position: static;
      width: 248px;
      height: auto;
      vertical-align: middle;
    }
    .title {
      display: block;
      font-size: 16px;
    }
    .subtitle {
      color: #525252;
      color: var(--newspaper-font-color);
      display: block;
      font-family: 'Times New Roman', sans-serif;
      font-size: 15px;
      line-height: 17px;
    }
  }
}

@media screen and (max-width: 600px) {
  :global(.r) {
    .snippet {
      height: 60px;
    }
    .titleWrap {
      width: 240px;
    }
    .title, .subtitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .imageWrap {
      width: 50px;
    }
    .image {
      height: 40px;
    }
  }
}
