.api {
  contain: layout;
  position: relative;
  font-family: 'Arial', normal;

  * {
    box-sizing: border-box;
  }

  p {
    line-height: 16px;
  }

  :global(.page-head-delimiter) {
    border-bottom: unset !important;
    border-top: unset !important;
  }

  .apiDescription {
    margin-bottom: 10px;
  }
}

:global(.d .info-msg-cont.keySuitableForLogMsg) {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
}

:global(.ToolTipPortal .selectionsApi) {
  background: rgba(0, 0, 0, .05);
  background: var(--preferences-api-tooltip-sections-bg);
  padding: 10px;
  width: 316px;
  margin: 8px 0 0 -8px;
}

:global(.ToolTipPortal .categoriesApi) {
  color: #444;
  color: var(--preferences-api-tooltip-sections-color);
}
