:global(#preferencesroot) {
  .addKeyRow {
    display: flex;
    height: 34px;

    .keyTitle {
      width: 110px;
      background: #fff;
      background: var(--preferences-api-input-keyTitle-bg);
      border: 1px solid #ccc;
      border-color: var(--preferences-api-input-keyTitle-border-color);
      border-radius: 5px;
      text-align: center;
      color: #888;
      color: var(--default-gray-8-color);
      margin-right: 10px;
      font-weight: 700;

      &.typing {
        text-align: left;
        padding-left: 5px;
        color: #111;
        color: var(--preferences-api-key-color);
      }
    }

    .key {
      margin-right: 10px;
      background: #f2f2f2;
      background: var(--preferences-api-input-bg);
      border: 1px solid #ddd;
      border-color: var(--preferences-api-input-border-color);
      border-radius: 5px;
      height: 34px;
      width: 276px;
    }

    .typesDropdown {
      width: 129px;
      margin-right: 10px;

      &.PublicOnly {
        color: #444;
        color: var(--preferences-api-type-public-access-color);
      }

      &.MinimalAccess {
        color: #698c00;
        color: var(--preferences-api-type-minimal-access-color);
      }

      &.LimitedAccess {
        color: #b28500;
        color: var(--preferences-api-type-limited-access-color);
      }

      &.FullAccess {
        color: #d93600;
        color: var(--preferences-api-type-full-access-color);
      }

      &.Custom {
        color: #5f3dc4;
        color: var(--preferences-api-type-custom-access-color);
      }

      :global(.item) {
        &:global(.PublicOnly) {
          color: #444;
          color: var(--preferences-api-type-public-access-color);
        }

        &:global(.MinimalAccess) {
          color: #698c00;
          color: var(--preferences-api-type-minimal-access-color);
        }

        &:global(.LimitedAccess) {
          color: #b28500;
          color: var(--preferences-api-type-limited-access-color);
        }

        &:global(.FullAccess) {
          color: #d93600;
          color: var(--preferences-api-type-full-access-color);
        }

        &:global(.Custom) {
          color: #5f3dc4;
          color: var(--preferences-api-type-custom-access-color);
        }
      }

      :global(.toggler) {
        height: 34px;
      }
    }

    .addButton {
      width: 68px;

      &[disabled] {
        svg {
          fill: #ccc;
          fill: var(--preferences-api-button-disabled-color);
          filter: none;
        }
      }

      svg {
        fill: #333;
        filter: none;
      }
    }
  }
}

:global(.r) {
  :global(#preferencesroot) {

    @media screen and (max-width: 1000px) {
      .addKeyRow {
        .keyTitle {
          width: 181px;
        }

        .key {
          display: none;
        }

        .addButton {
          width: 34px;
        }
      }
    }
    @media screen and (max-width: 600px) {
      .addKeyRow {
        .keyTitle {
          width: 110px;
        }
      }
    }
  }
}
