.titleToggle {
  border-radius: 5px 5px 0 0;

  .titleArrow {
    display: none;
    float: right;
    margin: 12px 10px 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #999;
  }
}

.contToggle {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;

  video,
  object,
  source,
  embed,
  img,
  track,
  iframe {
    max-width: 764px;
    height: auto;
    display: block;
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .titleToggle {
      border-radius: 5px;

      .titleArrow {
        display: block;
      }

      &.active {
        border-radius: 5px 5px 0 0;

        .titleArrow {
          transform: rotate(90deg);
        }
      }
    }

    .contToggle {
      display: none;

      video,
      object,
      source,
      embed,
      img,
      track,
      iframe {
        max-width: 366px;
      }

      &.active {
        display: block;
        overflow-x: hidden;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .titleToggle {
      border-radius: 0;

      &.active {
        border-radius: 0;
      }
    }

    .contToggle {
      video,
      object,
      source,
      embed,
      img,
      track,
      iframe {
        max-width: 300px;
      }
    }
  }
}
