.buyError {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  width: 100%;
  height: 73px;
  background-color: #fff;
  background-color: var(--default-bg-panel-active-color);
}

.message {
  color: #d83500;
  color: var(--default-red-color);
  font-weight: bold;
  text-align: center;
}

.close {
  $closeSize: 30px;

  position: absolute;
  top: 4px;
  right: 2px;
  padding: 0;
  width: $closeSize;
  height: $closeSize;
  border: 0;
  background: 0;
  cursor: pointer;
}
