.item {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  margin-top: 2px;
  height: 34px;
  background-color: #f2f2f2;
  background-color: var(--default-bg-panel-color);

  &.active {
    background-color: #fff;
    background-color: var(--default-bg-panel-active-color);
  }

  &.mobileMenuActive {
    height: 125px;
  }

  &:first-child {
    margin-top: 1px;
  }
}

.visiblePanel {
  display: flex;
}

.changed {
  background-color: #fff;
  background-color: var(--default-bg-panel-active-color);
}

%cell {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
  border-left: 1px solid #ccc;
  border-left-color: var(--default-panel-divider-outer-side-color);

  &:first-child {
    border-left: 0;
  }
}

.draggableIcon {
  width: 15px;
  height: 16px;
  background: url(/images/v2/items/move_item.png) left top no-repeat;
}

.draggableIconContainer {

  @extend %cell;

  width: 35px;
  cursor: pointer;
  user-select: none;

  &:hover .draggableIcon {
    background-position: left bottom;
  }
}

.imgContainer {

  @extend %cell;

  width: 60px;
  cursor: pointer;
}

.desc {

  @extend %cell;

  justify-content: flex-start;
  width: 244px;
  cursor: pointer;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex-grow: 1;
      width: auto;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      flex-grow: 1;
      width: auto;
    }
  }
}

.bonuses {

  @extend %cell;

  align-items: stretch;
  justify-content: flex-end;
  padding: 0;
  width: 170px;
}

.bonus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(170px / 3);
  position: relative;

  &:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    width: 1px;
    height: 100%;
    background: linear-gradient(0deg, #ccc0 0%, #ccc 50%, #ccc0 100%);
    background: var(--default-divider-left-linear-gradient);
  }

  &.noBorder {
    background: none;
  }
}

.bonusValue {
  margin-left: 1px;
}

.blankBonus {
  margin-left: 6px;

  &:first-child {
    margin-left: 0;
  }
}

.rrp {

  @extend %cell;

  box-sizing: border-box;
  justify-content: flex-end;
  width: 82px;
}

.remove {

  @extend %cell;

  width: 70px;
}

%input {
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  font-family: Arial, serif;
  line-height: 14px;
  border: 1px solid #ccc;
  border-color: var(--default-panel-divider-outer-side-color);
  background: #fff;
  background: var(--input-background-color);
  color: #000;
  color: var(--input-color);
}

.removeAmountInput {

  @extend %input;

  &:hover {
    border-color: #666;
    border-color: var(--input-hover-border-color);
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-left: 5px;
      padding-right: 12px;
      padding-left: 12px;
      text-align: right;
    }
  }
}

.price {

  @extend %cell;

  width: 123px;
}

.invalid {
  background-color: #f6e5df;
  background-color: var(--default-red-color);
  // FIXME: This color is invalid. A designer should provide a correct one.
}

.menuActivators {
  display: flex;
  margin-left: auto;
}

.iconContainer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border: 0;
  outline: 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    width: 1px;
    height: 100%;
    background: linear-gradient(0deg, #ccc0 0%, #ccc 50%, #ccc0 100%);
    background: var(--default-divider-left-linear-gradient);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    width: 1px;
    height: 100%;
    background: linear-gradient(0deg, #ccc0 0%, #ccc 50%, #ccc0 100%);
    background: var(--default-divider-left-linear-gradient);
  }
}

.arrowIcon {
  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-width: 5px 0 5px 5px;
    border-style: solid;
    border-color: transparent transparent transparent #6c6c6c;
    // FIXME: Color
  }

  &.active::before {
    border-width: 5px 5px 0;
    border-color: #6c6c6c transparent transparent;
  }
}

.mobileContainer {
  flex-direction: row;
  flex-grow: 1;
}

.bottomMobileMenu {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 90px;
  border-top: 2px solid transparent;
  background-color: #fff;
  background-color: var(--default-bg-panel-active-color);

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    border-top-color: var(--default-panel-divider-outer-side-color);
    border-bottom: 1px solid #fff;
    border-bottom-color: var(--default-panel-divider-inner-side-color);
  }
}

%mobileMenuCell {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.rrpMobile {
  width: 192px;
  height: 43px;

  @extend %mobileMenuCell;

  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 160px;
    }
  }
}

.removeMobile {
  width: 194px;
  height: 43px;
  border-left: 1px solid #ccc;
  border-left-color: var(--default-panel-divider-outer-side-color);

  @extend %mobileMenuCell;

  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 160px;
    }
  }
}

.priceMobile {
  width: 386px;
  height: 44px;
  border-top: 1px solid #ccc;
  border-top-color: var(--default-panel-divider-outer-side-color);

  @extend %mobileMenuCell;

  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 320px;
    }
  }
}

.valueDesc {
  font-weight: bold;
  white-space: nowrap;
}

%bonusIcon {
  display: block;
  width: 11px;
  height: 11px;
  background: url(/images/v2/attack/attack_sprite_bonus_and_attachment.png) no-repeat;
}

.damageBonusIcon {
  background-position: -117px -13px;

  @extend %bonusIcon;
}

.accuracyBonusIcon {
  background-position: -117px -82px;

  @extend %bonusIcon;
}

.defenceBonusIcon {
  background-position: -117px -187px;

  @extend %bonusIcon;
}

.extraBonusIcon {
  display: inline-block;
  width: 11px;
  height: 11px;
  vertical-align: middle;
  cursor: pointer;

  &:not(:first-child) {
    margin-left: 5px;
  }
}

.inputBlock {
  width: 100% !important;
  margin: 0 !important;
  height: auto !important;
  border: 1px solid #ccc;
  border-color: var(--default-panel-divider-outer-side-color);
}

.input {
  background: #fff;
  background: var(--input-background-color);

  @media #{$screen-tablet} {
    #{$global-r} & {
      padding: 6px 10px !important;
    }
  }
}
