@import "../../../../../../styles/colors.scss";

:global(.d .header) {
  .historyFooter {
    height: 31px;
    border-top: 1px solid $gray-4;
    text-align: center;

    .link {
      color: $white;
      opacity: .5;
      line-height: 30px;

      &:hover {
        opacity: 1;
      }

      .text {
        padding-left: 10px;
      }
    }
  }
}
