.factions {
  h5 {
    padding-top: 58px;
    padding-bottom: 5px;
    font-family: 'Special Elite', cursive;
    font-size: 30px;
  }

  p {
    padding-bottom: 24px;
    color: #575746;
    color: var(--chronicle-text-color);
    font-family: 'Special Elite', cursive;
    font-size: 16px;
    line-height: 24px;

    &.subTitle {
      padding-bottom: 0;
      font-size: 18px;
    }

    &.half {
      width: 46.5%;
    }
  }

  .line {
    margin-bottom: 17px;
    width: 100%;
    height: 1px;
    background: url(/images/v2/newspaper/divider_horizontal.png) 0 0 repeat-x;
    background: var(--faction-top-line) 0 0 repeat-x;

    &.old {
      background: url(/images/v2/newspaper/divider_horizontal_old.png) 0 0 repeat-x;
      background: var(--faction-top-line-old) 0 0 repeat-x;
    }

    &.half {
      width: 50%;
    }
  }

  .container {
    margin: 0 auto;
    width: 634px;
  }

  .mainBackground {
    position: relative;
    z-index: 10;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
    background: url("/images/v2/chronicles_archives/chronicles/bg_1.jpg") 0 0 repeat;
    background: var(--chronicle-main-bg1-url) 0 0 repeat;

    &.withPaddingTop {
      padding-top: 49px;
    }

    &.withPaddingBottom {
      padding-bottom: 35px;
    }

    &.withPaddingBottomSmall {
      padding-bottom: 24px;
    }
  }

  .subBackground {
    position: relative;
    margin: 0 10px;
    padding-top: 48px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
    background: url("/images/v2/chronicles_archives/chronicles/bg_2.jpg") 0 0 repeat;
    background: var(--chronicle-main-bg2-url) 0 0 repeat;

    &.withPaddingTop {
      padding-top: 20px;
    }

    &.withPaddingTopBig {
      padding-top: 27px;
    }

    &.withPaddingBottom {
      padding-bottom: 26px;
    }

    &.second {
      margin-top: -30px;
      z-index: 10;
    }
  }

  .image {
    &.patches {
      position: absolute;
      top: 25px;
      right: -9px;
    }

    &.newspaper {
      margin-bottom: 15px;
      margin-left: 28px;
    }

    &.ordinaryPeople {
      margin: 21px auto;
      display: block;
    }

    &.factionMembers {
      margin-top: -21px;
      margin-bottom: -47px;
      margin-left: -11px;
    }

    &.polaroid {
      margin-top: -12px;
      margin-right: 7px;
      margin-left: -74px;
      float: left;
    }

    &.respect {
      margin-top: 10px;
      margin-bottom: 23px;
      margin-left: -66px;
    }

    &.collectionOfTickets {
      margin-top: -4px;
      margin-bottom: -47px;
      margin-left: -2px;
    }

    &.dirtyBomb {
      margin-left: 6px;
      padding-bottom: 24px;
    }

    &.cityMap {
      margin-top: -62px;
      margin-bottom: 26px;
    }
  }

  .textInsertion {
    display: inline-block;

    &.however {
      margin-left: 5px;
      width: 80px;
      background: url(/images/v2/chronicles_archives/chronicles/factions/text_insertions/976_however.png) 0 6px no-repeat;
    }

    &.collection {
      margin-left: 5px;
      width: 80px;
      background: url(/images/v2/chronicles_archives/chronicles/factions/text_insertions/976_collllection.png) 16px -1px no-repeat;
    }

    &.eachFaction {
      margin-top: -1px;
      margin-left: -4px;
      width: 199px;
      height: 22px;
      background: url(/images/v2/chronicles_archives/chronicles/factions/text_insertions/976_each_faction_has.png) 0 0 no-repeat;
      vertical-align: top;
    }

    &.factionCulture {
      margin-top: -9px;
      padding-left: 3px;
      width: 140px;
      height: 33px;
      background: url(/images/v2/chronicles_archives/chronicles/factions/text_insertions/976_fuction_culture.png) 0 0 no-repeat;
      line-height: 42px;
      vertical-align: top;
    }

    &.dot {
      margin-top: -12px;
      margin-left: -24px;
      width: 43px;
      height: 58px;
      background: url(/images/v2/chronicles_archives/chronicles/factions/text_insertions/976_dot.png) 0 0 no-repeat;
      line-height: 42px;
      vertical-align: top;
    }

    &.highlight {
      position: absolute;
      left: 41px;
      width: 13px;
      height: 160px;
      background: url(/images/v2/chronicles_archives/chronicles/factions/text_insertions/976_highlight.png) 0 0 no-repeat;
    }

    &.pencil1 {
      position: absolute;
      right: -2px;
      bottom: 223px;
      left: auto;
      width: 61px;
      height: 20px;
      background: url(/images/v2/chronicles_archives/chronicles/factions/text_insertions/976_pencil_1.png) 0 0 no-repeat;
    }

    &.pencil2 {
      position: absolute;
      left: 41px;
      width: 26px;
      height: 168px;
      background: url(/images/v2/chronicles_archives/chronicles/factions/text_insertions/976_pencil_2.png) 0 0 no-repeat;
    }

    &.pencil3 {
      margin-left: 8px;
      width: 88px;
      height: 21px;
      background: url(/images/v2/chronicles_archives/chronicles/factions/text_insertions/976_pencil_3.png) 0 0 no-repeat;
    }

    &.factionLeadershipRole {
      margin-top: 1px;
      padding-left: 3px;
      width: 214px;
      height: 22px;
      background: url(/images/v2/chronicles_archives/chronicles/factions/text_insertions/976_faction_leadership_role.png) 0 0 no-repeat;
      vertical-align: top;
    }

    &.yellowHighlight {
      margin-top: -2px;
      padding-left: 3px;
      width: 236px;
      height: 27px;
      background: url(/images/v2/chronicles_archives/chronicles/factions/text_insertions/976_yellow_highlight.png) 0 0 no-repeat;
      line-height: 29px;
      vertical-align: top;
    }

    &.to {
      margin-top: -17px;
      margin-left: -13px;
      padding-left: 23px;
      width: 60px;
      height: 39px;
      background: url(/images/v2/chronicles_archives/chronicles/factions/text_insertions/976_to.png) 0 0 no-repeat;
      line-height: 56px;
      vertical-align: top;
    }
  }

  .effect {
    position: absolute;
    display: inline-block;
    background: 0 0 no-repeat;

    &.end {
      bottom: -70px;
      left: 0;
      width: 784px;
      height: 91px;
      background: url(/images/v2/chronicles_archives/chronicles/factions/effects/976_end_shadow.png) -3px 0 no-repeat;
      background: var(--faction-effect1-url) -3px 0 no-repeat;

      &::before {
        position: absolute;
        content: '';
        left: 0;
        width: 15px;
        box-shadow: -3px 0 3px -3px rgba(0, 0, 0, .25);
        height: 36px;
      }

      &::after {
        position: absolute;
        content: "";
        width: 15px;
        right: 0;
        box-shadow: 3px 0 3px -3px rgba(0, 0, 0, .25);
        height: 63px;
      }
    }

    &.grunge1 {
      top: 0;
      left: 0;
      width: 761px;
      height: 570px;
      z-index: -1;
      background-image: url(/images/v2/chronicles_archives/chronicles/factions/effects/976_grunge_1_paragraph.png);
    }

    &.grunge2 {
      top: 1589px;
      left: 0;
      width: 24px;
      height: 191px;
      background-image: url(/images/v2/chronicles_archives/chronicles/factions/effects/976_grunge_2.png);
    }

    &.grunge3 {
      top: 2024px;
      right: 0;
      width: 37px;
      height: 240px;
      background-image: url(/images/v2/chronicles_archives/chronicles/factions/effects/976_grunge_3.png);
    }

    &.grunge4 {
      top: 953px;
      right: 0;
      width: 240px;
      height: 541px;
      background-image: url(/images/v2/chronicles_archives/chronicles/factions/effects/976_grunge_4.png);
    }

    &.grunge5 {
      bottom: 15px;
      left: 225px;
      width: 186px;
      height: 207px;
      background-image: url(/images/v2/chronicles_archives/chronicles/factions/effects/976_grunge_5.png);
    }

    &.paper {
      top: 310px;
      right: 0;
      width: 85px;
      height: 141px;
      background-image: url(/images/v2/chronicles_archives/chronicles/factions/effects/976_torn_paper.png);
    }
  }
}

:global(.r) .factions {

  @media screen and (max-width: 1000px) {
    .mainBackground {
      padding-top: 16px;
    }

    .subBackground {
      margin-right: 0;
      margin-left: 0;
      padding-top: 16px;
    }

    h5 {
      padding-top: 30px;
      font-size: 25px;
      text-align: center;
    }

    p {
      font-size: 15px;
      line-height: 23px;

      &.subTitle {
        padding-top: 6px;
        padding-bottom: 0;
        font-size: 15px;
      }

      &.half {
        width: 100%;
      }
    }

    .line {
      &.half {
        width: 100%;
      }
    }

    .container {
      box-sizing: border-box;
      padding-right: 10px;
      padding-left: 10px;
      width: 100%;
    }

    .image {
      max-width: 100%;

      &.patches {
        position: static;
        margin-bottom: 17px;
      }

      &.newspaper {
        margin-top: -11px;
        margin-left: -1px;
      }

      &.ordinaryPeople {
        margin-top: -9px;
        margin-bottom: 12px;
      }

      &.factionMembers {
        margin-bottom: -1px;
        margin-left: 0;
      }

      &.polaroid {
        display: block;
        margin: -8px auto 10px;
        float: none;
      }

      &.respect {
        margin: 6px auto 13px;
      }

      &.collectionOfTickets {
        margin-bottom: 30px;
        margin-left: 9px;
      }

      &.dirtyBomb {
        margin-left: 0;
      }

      &.cityMap {
        margin-bottom: 12px;
      }
    }

    .textInsertion {
      &.highlight {
        position: absolute;
        left: 2px;
        width: 9px;
        height: 270px;
        background-image: url(/images/v2/chronicles_archives/chronicles/factions/text_insertions/578_highlight.png);
      }

      &.pencil1 {
        bottom: 312px;
      }

      &.pencil2 {
        left: 0;
        margin-top: 5px;
        width: 12px;
        height: 241px;
        background: url(/images/v2/chronicles_archives/chronicles/factions/text_insertions/578_pencil_2.png) 0 0 no-repeat;
      }

      &.yellowHighlight {
        display: inline;
        line-height: 23px;
      }
    }

    .effect {
      max-width: 100%;

      &.end {
        bottom: -70px;
        left: 0;
        width: 578px;
        height: 91px;
        background: url(/images/v2/chronicles_archives/chronicles/factions/effects/578_end_shadow.png) -2px 0 no-repeat;
        background: var(--faction-effect1-url) -2px 0 no-repeat;
      }

      &.grunge1 {
        top: 0;
        left: 0;
        width: 381px;
        height: 743px;
        z-index: -1;
        background-image: url(/images/v2/chronicles_archives/chronicles/factions/effects/578_grunge_1_paragraph.png);
      }

      &.grunge2 {
        top: 1745px;
        left: 0;
        width: 20px;
        height: 159px;
        background-image: url(/images/v2/chronicles_archives/chronicles/factions/effects/578_grunge_2.png);
      }

      &.grunge3 {
        top: 2011px;
        width: 27px;
        height: 175px;
        background-image: url(/images/v2/chronicles_archives/chronicles/factions/effects/578_grunge_3.png);
      }

      &.grunge4 {
        top: 303px;
        right: 55px;
        height: 446px;
        background-image: url(/images/v2/chronicles_archives/chronicles/factions/effects/578_grunge_4.png);
      }

      &.grunge5 {
        bottom: 64px;
        left: auto;
        right: 29px;
        width: 186px;
        height: 207px;
        background-image: url(/images/v2/chronicles_archives/chronicles/factions/effects/976_grunge_5.png);
      }

      &.paper {
        top: 455px;
      }
    }
  }
}

:global(.r) .factions {

  @media screen and (max-width: 600px) {
    .image {
      z-index: 10;

      &.patches {
        position: static;
        margin-bottom: 17px;
      }

      &.newspaper {
        margin-top: -11px;
        margin-left: -1px;
      }

      &.polaroid {
        margin-left: -10px;
      }

      &.respect {
        margin: 6px auto 13px;
      }

      &.collectionOfTickets {
        margin-left: 0;
      }
    }

    .textInsertion {
      &.highlight {
        margin-top: 4px;
        width: 9px;
        height: 334px;
        background-image: url(/images/v2/chronicles_archives/chronicles/factions/text_insertions/320_highlight.png);
      }

      &.pencil1 {
        bottom: auto;
        margin-top: -21px;
      }

      &.pencil2 {
        left: 0;
        margin-top: 5px;
        width: 10px;
        height: 312px;
        background: url(/images/v2/chronicles_archives/chronicles/factions/text_insertions/320_pencil_2.png) 0 0 no-repeat;
      }

      &.yellowHighlight {
        display: inline;
      }
    }

    .effect {
      max-width: 320px;

      &.end {
        bottom: -70px;
        left: 0;
        width: 320px;
        height: 91px;
        background: url(/images/v2/chronicles_archives/chronicles/factions/effects/578_end.png) -6px 0 no-repeat;
        background: var(--faction-effect1-url) -6px 0 no-repeat;
      }

      &.grunge1 {
        width: 320px;
        height: 577px;
        z-index: -1;
        background-image: url(/images/v2/chronicles_archives/chronicles/factions/effects/320_grunge_1_paragraph.png);
      }

      &.grunge2 {
        top: 1826px;
      }

      &.grunge3 {
        top: 2024px;
        right: 0;
        width: 37px;
        height: 240px;
        background-image: url(/images/v2/chronicles_archives/chronicles/factions/effects/976_grunge_3.png);
      }

      &.grunge4 {
        top: 252px;
        right: 50px;
        width: 240px;
        height: 419px;
        background-image: url(/images/v2/chronicles_archives/chronicles/factions/effects/320_grunge_4.png);
      }

      &.grunge5 {
        right: 22px;
        bottom: 69px;
        left: auto;
      }

      &.paper {
        top: 578px;
      }
    }
  }
}

:global(.travelling),
:global(.logged-out) {
  .factions {
    width: 784px;
    margin: 0 auto;
  }
}

:global(.r) {
  :global(.travelling),
  :global(.logged-out) {
    .factions {

      @media screen and (max-width: 1000px) {
        width: 386px;
      }
      @media screen and (max-width: 600px) {
        width: 320px;
      }
    }

    @media screen and (max-width: 600px) {
      :global(#chronicles-archives) {
        margin-top: 15px;
      }
    }
  }
}
