.rowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  background: var(--ct-panel-bg);

  &:hover {
    background: #f2fbfe;
    background: var(--ct-table-row-hover);
  }

  &:last-of-type {
    // overflow: hidden;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    [class^="outcomeContainer"] { // in case of outcome in the last row we need explicitly cut its corners too
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
}

.activeRow {
  background: #e3f5fa;
  background: var(--ct-table-row-active);
}

.activeJoinedRow {
  background: #e3f5fa;
  background: var(--ct-table-row-active);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 3px;
    background: #9cd2dc;
    background: var(--ct-table-row-active-after);
    height: 100%;
    left: 0;
    z-index: 10000000;
  }

  &:hover {
    background: #e3f5fa;
    background: var(--ct-table-row-active-hover);
  }

  [class*="outcomeContainer"] {
    background: linear-gradient(#f1fcff, #fff);
    background: var(--ct-my-maps-outcome-container-bg);
  }
}

.sectionWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.outcomeWrapper {
  display: flex;
  width: 100%;
}
