.dark-mode #gymroot {
  --gym-description-primary-color: #fff;
  --gym-description-secondary-color: #ddd;
  --gym-red-color: #ff6b6b;
  --gym-green-color: #94d82d;
  --gym-error-bg-color: #3e3636;
  --gym-error-start-animation-color: rgba(62, 54, 54, 0);
  --gym-success-bg-color: #373b31;
  --gym-success-start-animation-color: rgba(55, 59, 49, 0);
  --gym-inner-logo-wrapper-color: #222;
  --gym-input-bg-color: #111;
  --gym-input-font-color: #fff;
  --gym-arrow-btn-bg-color: #999;
  --gym-arrow-btn-hover-bg-color: #ddd;
  --gym-locked-stat-overlay-bg-color: rgba(25, 25, 25, .7);
  --gym-default-msg-color: #ddd;
  --gym-button-gradient: linear-gradient(to bottom, #444 0%, #333 100%);
  --gym-button-locked-gradient: linear-gradient(to bottom, #252525 0%, #2e2e2e 100%);
  --gym-button-hover-bg: linear-gradient(180deg, #666 0%, #444 100%);
  --gym-active-button-bg: linear-gradient(180deg, #464e3e 0%, #373f2f 100%);
  --gym-active-button-hover-bg: linear-gradient(180deg, #4a5a3a 0%, #3c4c2c 100%);
  --gym-active-button-box-shadow: 0 0 5px #80ff0040;
  --gym-new-button-bg: linear-gradient(180deg, #3e4a4e 0%, #2f3b3f 100%);
  --gym-new-button-hover-bg: linear-gradient(180deg, #3a525a 0%, #2c444c 100%);
  --gym-new-button-box-shadow: 0 0 5px #00bfff40;
  --gym-button-bg-image: url(/images/v2/gym-rebuild/select_gym_dark.png);
  --gym-button-locked-bg-image: url(/images/v2/gym-rebuild/gym_selection_bg_dark.svg);
  --gym-not-active-stat-color: #aaa;
  --gym-empty-progress-bar-gradient: linear-gradient(to bottom, #000 0%, #222 100%);
  --gym-progress-bar-border-color: #111;
  --gym-name-font-color: #fff;
  --gym-class-font-color: #ccc;
  --gym-button-progress-bar-bg: #000;
  --gym-button-progress-bar-color: #888;
  --gym-button-in-progress-font-color: #ddd;
  --gym-progress-bar-divider-976: url(/images/v2/gym-rebuild/progress_bar_divider_dark_976.svg);
  --gym-progress-bar-divider-578: url(/images/v2/gym-rebuild/progress_bar_divider_dark_578.svg);
  --gym-progress-bar-divider-320: url(/images/v2/gym-rebuild/progress_bar_divider_dark_320.svg);
}

:root .dark-mode {
  --gym-lightweight-bottom-line-bg-color: #576236;
  --gym-middleweight-bottom-line-bg-color: #695036;
  --gym-heavyweight-bottom-line-bg-color: #69483d;
  --gym-specialist-bottom-line-bg-color: #695c36;
}
