@keyframes greenPulse {
  0% {
    background-color: rgba(241, 245, 232, 0);
    background-color: var(--gym-success-start-animation-color);
  }

  100% {
    background-color: #f1f5e8;
    background-color: var(--gym-success-bg-color);
  }
}
@keyframes greenPulseDark {
  0% {
    background-color: rgba(55, 59, 49, 0);
    // background-color: var(--gym-success-start-animation-color);
  }

  100% {
    background-color: rgba(55, 59, 49, 1);
    // background-color: var(--gym-success-bg-color);
  }
}
@keyframes redPulse {
  0% {
    background-color: rgba(243, 235, 233, 0);
    background-color: var(--gym-error-start-animation-color);
  }

  100% {
    background-color: #f3ebe9;
    background-color: var(--gym-error-bg-color);
  }
}

.gymContentWrapper {
  margin: 10px 0;
}

.gymContent {
  background-color: #f2f2f2;
  background-color: var(--default-bg-panel-color);

  .message {
    font-size: 12px;
    font-weight: bold;
    color: #888;
    color: var(--gym-default-msg-color);
    display: table;
    height: 50px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;

    .messageWrapper {
      text-align: center;
      display: table-cell;
      vertical-align: middle;

      p {
        line-height: 15px;
      }
    }

    &.success {
      color: #668c00;
      color: var(--gym-green-color);
      font-weight: normal;
      background-color: #f1f5e8;
      background-color: var(--gym-success-bg-color);
      animation: greenPulse 250ms;
      animation: var(--gym-success-animation);

      .gained {
        font-weight: bold;
      }

      &.default {
        background-color: #f2f2f2;
        background-color: var(--default-bg-panel-color);
      }
    }

    &.error {
      color: #ff5c26;
      color: var(--gym-red-color);
      background-color: #f3ebe9;
      background-color: var(--gym-error-bg-color);
      animation: redPulse 250ms;

      &.default {
        background-color: #f2f2f2;
        background-color: var(--default-bg-panel-color);
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .gymContent {
      .message {
        height: 71px;
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 600px) {
    .gymContent {
      .message {
        height: 81px;
      }
    }
  }
}
