.gymDetailsWrapper {
  position: relative;
  margin: 10px 0;

  .descriptionTooltip {
    position: absolute;
    bottom: calc(100% + 15px);
    left: 50%;
    box-sizing: border-box;
    display: none;
    padding: 6px 10px 7px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, .3) 0 0 8px;
    background: rgb(242, 242, 242);

    .description {
      color: #ff5c26;
      color: var(--gym-red-color);
      font-weight: bold;
      line-height: 16px;
      text-align: center;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      display: block;
    }

    &::before {
      bottom: -10px;
      z-index: 60;
      margin-left: -10px;
      border-top: 10px solid rgb(242, 242, 242);
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
    }

    &::after {
      bottom: -11px;
      z-index: 55;
      margin-left: -11px;
      border-top: 11px solid rgb(218, 218, 218);
      border-right: 9px solid transparent;
      border-left: 9px solid transparent;
    }
  }

  .gymDetails {
    background-color: #f2f2f2;
    background-color: var(--default-bg-panel-color);

    .gymTitle {
      padding-left: 10px;
      color: #fff;
      line-height: 34px;
      background: linear-gradient(to bottom, #555 0%, #333 100%);
      background: var(--tabs-dark-bg-gradient);
      border-bottom: 1px solid #222;
      text-shadow: 0 0 2px #000;
      box-shadow: 0 1px 0 #ffffff1a;

      h3 {
        margin: 0;
        float: left;
        font-size: 12px;
        font-weight: bold;
      }

      .closeButton {
        padding: 0;
        width: 34px;
        height: 34px;
        float: right;
        border: none;
        background: url(/images/v2/gym-rebuild/close.svg) 0 0 no-repeat;
        cursor: pointer;

        &:hover {
          background-position: -34px 0;
        }
      }

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }

    .gymInfo {
      display: table;
      width: 100%;
      color: #333;
      color: var(--gym-description-primary-color);
      font-size: 0;

      & > li {
        box-sizing: border-box;
        display: table-cell;
        padding: 11px 12px 12px;
        width: 33.25%;
        border-right: 1px solid #ddd;
        border-right-color: var(--panel-divider-outer-side-color);
        border-bottom: 1px solid #ddd;
        border-bottom-color: var(--panel-divider-outer-side-color);
        font-size: 12px;
        vertical-align: middle;

        .value {
          color: #333;
          color: var(--default-color);
        }

        &:last-child {
          padding-right: 13px;
          border-right: none;
        }
      }
    }

    .gymStats {
      line-height: 20px;
    }

    .actionWrapper {
      display: table;
      width: 100%;
      height: 42px;

      .action,
      .message,
      .confirmMessage {
        display: table-cell;
        padding-right: 10px;
        padding-left: 10px;
        vertical-align: middle;
      }

      .action {
        .descriptionWrapper {
          float: left;

          .description {
            color: #ff5c26;
            font-weight: bold;
            line-height: 22px;
          }
        }

        .btnWrapper {
          float: right;
        }

        &::after {
          content: '';
          display: block;
          clear: both;
        }
      }

      .confirmMessage {
        line-height: 15px;
        text-align: center;

        .text {
          display: inline-block;
          color: #888;
          color: var(--gym-default-msg-color);
          font-size: 12px;
          font-weight: bold;
        }

        .yesButton,
        .noButton {
          margin-left: 10px;
          border: none;
          background: none;
          color: #069;
          color: var(--default-blue-color);
          font-weight: bold;
          text-decoration: none;
          cursor: pointer;

          &:hover {
            color: #999;
            color: var(--default-blue-hover-color);
          }
        }
      }

      .message {
        background-color: #f3ebe9;
        background-color: var(--gym-error-bg-color);
        font-weight: bold;
        text-align: center;

        .text {
          display: inline-block;
          color: #ff5c26;
          color: var(--gym-red-color);
        }

        .okButton {
          margin-left: 10px;
          border: none;
          background: none;
          color: #069;
          color: var(--default-blue-color);
          font-weight: bold;
          text-decoration: none;
          cursor: pointer;

          &:hover {
            color: #999;
            color: var(--default-blue-hover-color);
          }
        }
      }

      .button {
        padding: 3px 10px;
        border: 0;
        border-radius: 5px;
        background: linear-gradient(180deg, #ccc 0%, #999 60%, #666 100%);
        color: #333;
        font-size: 14px;
        font-weight: 700;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
        vertical-align: top;
        cursor: pointer;

        &:hover {
          background: linear-gradient(180deg, #fff 0%, #bbb 60%, #999 100%);
        }

        &.disabled,
        &.disabled:hover {
          background: linear-gradient(180deg, #999 0%, #ccc 100%);
          background: var(--btn-disabled-background);
          color: #777;
          color: var(--btn-disabled-color);
          text-shadow: 0 -1px 0 #fff6;
          text-shadow: var(--btn-disabled-text-shadow);
          cursor: default;
        }
      }

      .cancel {
        margin-right: 10px;
        padding: 4px 3px;
        border: none;
        background: none;
        color: #069;
        color: var(--default-blue-color);
        font-size: 12px;
        cursor: pointer;

        &:hover {
          color: #999;
          color: var(--default-blue-hover-color);
        }
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .gymDetailsWrapper {
      .descriptionTooltip {
        display: block;
        margin-left: -183px;
        width: 366px;
      }

      .gymDetails {
        .gymInfo {
          display: block;

          & > li {
            display: block;
            padding: 7px 11px 9px;
            width: 100%;
            border-right: none;

            &:nth-child(2) {
              padding-top: 11px;
              padding-bottom: 0;
              border-bottom: none;
            }

            &:last-child {
              padding-top: 10px;
              padding-bottom: 7px;
            }
          }
        }

        .gymStats {
          line-height: 18px;

          .propertyWrapper {
            .property,
            .value {
              display: inline-block;
              width: 50%;
            }

            .value {
              box-sizing: border-box;
              padding-left: 12px;
            }
          }
        }

        .actionWrapper {
          height: 55px;

          .action {
            text-align: center;

            .descriptionWrapper {
              display: none;
            }

            .button {
              padding: 8px 10px;
            }

            .cancel {
              padding: 9px 6px;
            }
          }

          .confirmMessage {
            .text {
              display: block;
              line-height: 14px;
            }

            .yesButton,
            .noButton {
              line-height: 14px;
            }

            .yesButton {
              margin-left: 0;
            }

            .noButton {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .gymDetailsWrapper {
      .descriptionTooltip {
        display: block;
        margin-left: -150px;
        width: 300px;
      }

      .gymDetails {
        .gymInfo {
          & > li {
            padding: 9px 13px 11px;
          }
        }

        .gymStats {
          line-height: 20px;

          .propertyWrapper {
            .value {
              padding-left: 2px;
            }
          }
        }

        .actionWrapper {
          .message {
            padding: 10px;
            line-height: 15px;
          }
        }
      }
    }
  }
}
