@keyframes flashing {
  0% {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%);
    background: var(--gym-button-gradient);
  }

  50% {
    background: linear-gradient(to bottom, rgba(217, 245, 255, 1) 0%, rgba(194, 222, 232, 1) 100%);
    background: var(--gym-new-button-bg);
  }

  100% {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%);
    background: var(--gym-button-gradient);
  }
}
@keyframes shadowFlashing {
  0% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0 0 10px rgba(0, 191, 255, .25);
    box-shadow: var(--gym-new-button-box-shadow);
  }

  100% {
    box-shadow: none;
  }
}

.gymListWrapper {
  margin-top: 10px;
}

h5.gymName {
  font-size: 12px;
  font-weight: bold;
  color: #444;
  color: var(--gym-name-font-color);
  line-height: 15px;
  text-align: center;

  .gymClass {
    color: #888;
    color: var(--gym-class-font-color);
  }
}

.gymInfo {
  padding: 5px 0;
  color: #333;
  color: var(--gym-description-primary-color);
  text-align: center;

  p {
    line-height: 15px;
  }
}

.bottomLine {
  width: 100%;
  height: 7px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  &.lightweight {
    background-color: #e2edc2;
    background-color: var(--gym-lightweight-bottom-line-bg-color);
  }

  &.middleweight {
    background-color: #f5dbc2;
    background-color: var(--gym-middleweight-bottom-line-bg-color);
  }

  &.heavyweight {
    background-color: #f5d4c9;
    background-color: var(--gym-heavyweight-bottom-line-bg-color);
  }

  &.specialist {
    background-color: #f5e8c2;
    background-color: var(--gym-specialist-bottom-line-bg-color);
  }
}

.gymList {
  font-size: 0;

  .gymIcon {
    width: 47.5px;
    height: 47.5px;
    background-image: url(/images/v2/gym-rebuild/select_gym.png);
    background-image: var(--gym-button-bg-image);
    margin: 0 auto;
  }

  @for $index from 1 through 32 {
    .gym-#{$index} {
      background-position: -#{(($index - 1) * 48)}px 48px;
    }
  }

  .lightweight,
  .middleweight,
  .heavyweight,
  .specialist {
    display: inline-block;
    font-size: 0;
    width: 49.3%;

    .gymButton {
      display: inline-block;
      cursor: pointer;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%);
      background: var(--gym-button-gradient);
      padding: 0;
      border: none;
      margin-right: 1px;
      box-shadow: 0 0 3px rgba(0, 0, 0, .2);
      vertical-align: top;
      width: 12.27%;

      &.selected,
      &:hover {
        background: #fff;
        background: var(--gym-button-hover-bg);
      }

      &.locked,
      &.lockedPurchased {
        cursor: default;
        background: linear-gradient(to bottom, rgb(213, 213, 213) 0%, rgb(219, 219, 219) 100%);
        background: var(--gym-button-locked-gradient);

        .gymIcon {
          background: url(/images/v2/gym-rebuild/gym_selection_bg.png) -9px -134px no-repeat;
          background-image: var(--gym-button-locked-bg-image);

          @media screen and (max-width: 600px) {
            background-position: -13px -138px;
          }
        }

        &:hover {
          background: linear-gradient(to bottom, rgba(213, 213, 213, 1) 0%, rgba(219, 219, 219, 1) 100%);
          background: var(--gym-button-locked-gradient);
        }
      }

      &.lockedPurchased {
        cursor: pointer;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%);
        background: var(--gym-button-gradient);

        &:hover {
          background: #fff;
          background: var(--gym-button-hover-bg);
        }
      }

      &.inProgress {
        cursor: default;
        background: linear-gradient(to bottom, rgba(213, 213, 213, 1) 0%, rgba(219, 219, 219, 1) 100%);
        background: var(--gym-button-locked-gradient);

        .gymIcon {
          background: url(/images/v2/gym-rebuild/gym_selection_bg_light.svg) -9px -197px no-repeat;
          background-image: var(--gym-button-locked-bg-image);
        }

        &:hover {
          background: linear-gradient(to bottom, rgba(213, 213, 213, 1) 0%, rgba(219, 219, 219, 1) 100%);
          background: var(--gym-button-locked-gradient);
        }
      }

      &.active {
        position: relative;
        background: linear-gradient(to bottom, rgba(242, 255, 217, 1) 0%, rgba(212, 232, 193, 1) 100%);
        background: var(--gym-active-button-bg);

        .gymIcon {
          background-position-y: 0;
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          box-shadow: 0 0 10px rgba(128, 255, 0, .4);
          box-shadow: var(--gym-active-button-box-shadow);
        }

        &.selected,
        &:hover {
          background: linear-gradient(to bottom, rgba(229, 255, 178, 1) 0%, rgba(214, 240, 163, 1) 100%);
          background: var(--gym-active-button-hover-bg);
        }
      }

      &.new {
        position: relative;
        transition: 200ms;
        animation: flashing 2s infinite;

        .gymIcon {
          background-position-y: 0;
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          transition: 200ms;
          animation: shadowFlashing 2s infinite;
        }

        &:hover {
          background: linear-gradient(to bottom, rgba(178, 236, 255, 1) 0%, rgba(163, 220, 240, 1) 100%);
          background: var(--gym-new-button-hover-bg);
          animation: none;

          &::before {
            animation: none;
            box-shadow: 0 0 10px rgba(0, 191, 255, .25);
            box-shadow: var(--gym-new-button-box-shadow);
          }
        }
      }

      &.newSeen {
        .gymIcon {
          background-position-y: 0;
        }
      }

      .percentage {
        font-family: "Fjalla One", Times, serif;
        color: #888;
        color: var(--gym-button-in-progress-font-color);
        position: relative;
        top: 21px;
        font-size: 10px;
      }

      .progressBar {
        width: 40px;
        height: 3px;
        position: relative;
        margin: 0 auto;
        top: 29px;
        background-color: #ccc;
        background-color: var(--gym-button-progress-bar-bg);

        .inner {
          height: 100%;
          background-color: #aaa;
          background-color: var(--gym-button-progress-bar-color);
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .lightweight,
  .heavyweight {
    margin-right: 10px;
  }

  .heavyweight,
  .specialist {
    margin-top: 10px;
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .gymList {
      .lightweight,
      .middleweight,
      .heavyweight,
      .specialist {
        width: 100%;
      }

      .lightweight,
      .heavyweight {
        margin-right: 0;
      }

      .middleweight {
        margin-top: 10px;
      }

      .gymIcon {
        width: 47px;
        height: 47px;
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 600px) {
    .gymList {
      .gymIcon {
        width: 39px;
        height: 39px;
      }

      @for $index from 1 through 32 {
        .gym-#{$index} {
          background-position: -#{(($index - 1) * 48) + 4}px 44px;
        }
      }

      .lightweight,
      .middleweight,
      .heavyweight,
      .specialist {
        .gymButton {
          width: 12.22%;

          &.active,
          &.new,
          &.newSeen {
            .gymIcon {
              background-position-y: -4px;
            }
          }

          &.locked {
            .gymIcon {
              background-position: -12px -138px;
            }
          }

          &.inProgress {
            .gymIcon {
              background-position: -13px -199px;
            }
          }

          .percentage {
            top: 21px;
          }

          .progressBar {
            display: none;
          }
        }
      }
    }
  }
}
