.notificationWrapper {
  margin: 10px 0;

  .notification {
    position: relative;
    z-index: 0;
    margin: 0 auto;
    height: 60px;
    box-shadow: 0 0 3px 0 rgba(50, 50, 50, .3);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%);
    background: var(--info-msg-bg-gradient);
    color: #666;
    color: var(--info-msg-font-color);

    &.gym23 {
      box-shadow: 0 0 3px 0 rgba(100, 100, 100, .2);
      background: rgba(100, 100, 100, .15);

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        width: 58%;
        height: 100%;
        box-shadow: 0 0 3px 0 rgba(50, 50, 50, .3);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%);
        background: var(--info-msg-bg-gradient);
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 21px;
        height: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%);
        background: var(--info-msg-bg-gradient);
      }

      .logo {
        right: 11px;
      }
    }

    .notificationText {
      position: relative;
      z-index: 3;
      margin-top: 15px;
      margin-left: 13px;
      width: 82.65%;
      float: left;
      line-height: 17px;

      .energy {
        color: #678c00;
        color: var(--gym-green-color);
        font-weight: bold;

        &.notEnoughEnergy {
          color: #ff5c26;
          color: var(--gym-red-color);
        }
      }
    }

    .logo {
      position: absolute;
      top: -16px;
      right: 10px;
      z-index: 2;
    }

    .logoWrapper {
      position: relative;
      z-index: -1;
      margin-top: -4px;
      margin-right: 10px;
      width: 110px;
      height: 69px;
      float: right;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%);
      background: var(--info-msg-bg-gradient);

      .innerLogoWrapper {
        position: relative;
        z-index: 1;
        margin: 2px auto;
        width: 106px;
        height: 65px;
        background: #bbb;
        background: var(--gym-inner-logo-wrapper-color);
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .notificationWrapper {
      .notification {
        .notificationText {
          width: 56.65%;
        }

        &.gym23 {
          &::before {
            display: none;
          }

          &::after {
            width: 17.2%;
          }

          .logo {
            right: 0;
          }
        }

        .logo {
          right: 0;
        }

        .logoWrapper {
          margin-right: 0;
        }
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 600px) {
    .notificationWrapper {
      .notification {
        .notificationText {
          width: 54%;
        }

        &.gym23 {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
