.progressBar {
  text-decoration: none;
  color: #333;
  color: var(--gym-description-primary-color);
  padding-bottom: 13px;
  display: block;

  &:last-child {
    padding-bottom: 5px;
  }

  .barDescription {
    line-height: 18px;

    .statName {
      float: left;
    }

    .exerciseName {
      float: right;
      color: #666;
      color: var(--title-white-color);
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .progressLineWrapper {
    border: 1px solid #ccc;
    border-color: var(--gym-progress-bar-border-color);
    border-radius: 5px;
    height: 6px;
    padding: 1px 2px;
    width: 100%;
    display: table;
    box-sizing: border-box;

    .progressLine {
      background: linear-gradient(to bottom, rgba(221, 221, 221, 1) 0%, rgba(238, 238, 238, 1) 100%);
      background: var(--gym-empty-progress-bar-gradient);
      height: 4px;
      display: table-cell;
      vertical-align: middle;
      position: relative;
      box-shadow: inset 1px 1px 1px 0 rgba(100, 100, 100, .2);

      &::before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: url(/images/v2/gym-rebuild/progress_bar_divider_light_976.svg) -3px 0 repeat-x;
        background-image: var(--gym-progress-bar-divider-976);
        z-index: 1;
      }

      .line {
        height: 100%;
        position: relative;

        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: repeating-linear-gradient(90deg, rgba(255, 255, 255, .35), rgba(255, 255, 255, .35) 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 2px);
        }

        &.red {
          background: linear-gradient(180deg, #e86339 0%, #e62e23 100%);
        }

        &.green {
          background: linear-gradient(180deg, #95c014 0%, #679210 100%);
        }

        &.yellow {
          background: linear-gradient(180deg, #e5b219 0%, #e58c19 100%);
        }
      }
    }
  }

  &.notAvailable {
    .barDescription {
      .statName {
        color: #888;
        color: var(--gym-not-active-stat-color);
      }

      .exerciseName {
        color: #888;
        color: var(--gym-not-active-stat-color);
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .progressBar {
      .progressLineWrapper {
        .progressLine {
          &::before {
            background: url(/images/v2/gym-rebuild/progress_bar_divider_light_578.svg) -4px 0 repeat-x;
            background-image: var(--gym-progress-bar-divider-578);
          }
        }
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 600px) {
    .progressBar {
      .progressLineWrapper {
        .progressLine {
          &::before {
            background: url(/images/v2/gym-rebuild/progress_bar_divider_light_320.svg) -4px 0 repeat-x;
            background-image: var(--gym-progress-bar-divider-320);
          }
        }
      }
    }
  }
}
