@keyframes greenPulse {
  0% {
    background-color: rgba(241, 245, 232, 0);
    background-color: var(--gym-success-start-animation-color);
  }

  100% {
    background-color: #f1f5e8;
    background-color: var(--gym-success-bg-color);
  }
}
@keyframes redPulse {
  0% {
    background-color: rgba(243, 235, 233, 0);
    background-color: var(--gym-error-start-animation-color);
  }

  100% {
    background-color: #f3ebe9;
    background-color: var(--gym-error-bg-color);
  }
}

.properties {
  .strength,
  .defense,
  .speed,
  .dexterity {
    border-bottom: 2px solid #ccc;
    border-bottom-color: var(--divider-dark-color);
    border-right: 2px solid #ccc;
    border-right-color: var(--divider-dark-color);
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding-bottom: 12px;

    &.jail {
      .propertyTitle {
        background: linear-gradient(to bottom, rgba(73, 75, 50, 1) 0%, rgba(54, 55, 37, 1) 100%);
      }
    }

    .propertyTitle {
      color: #fff;
      background: linear-gradient(to bottom, #555 0%, #333 100%);
      background: var(--tabs-dark-bg-gradient);
      border-bottom: 1px solid #222;
      text-shadow: 0 0 2px #000;
      box-shadow: 0 1px 0 #ffffff1a;

      &.fontSize14 {
        font-size: 14px;

        .title {
          font-size: 14px;
        }
      }

      &.fontSize13 {
        font-size: 13px;

        .title {
          font-size: 13px;
          line-height: 33px;
        }

        .propertyValue {
          line-height: 33px;
        }
      }

      &.fontSize12 {
        font-size: 12px;

        .title {
          font-size: 12px;
          line-height: 34px;
        }

        .propertyValue {
          line-height: 34px;
        }
      }

      &.fontSize11 {
        font-size: 11px;

        .title {
          font-size: 11px;
          line-height: 34px;
        }

        .propertyValue {
          line-height: 34px;
        }
      }

      &.fontSize10 {
        font-size: 10px;

        .title {
          font-size: 10px;
          line-height: 33px;
        }

        .propertyValue {
          line-height: 33px;
        }
      }

      .title {
        margin: 0;
        display: inline-block;
        line-height: 32px;
        vertical-align: top;
      }

      .propertyValue {
        font-weight: bold;
        float: right;
        line-height: 32px;
        padding-right: 10px;
        cursor: pointer;
      }

      &::before {
        content: '';
        display: inline-block;
        width: 34px;
        height: 32px;
        background: url(/images/v2/gym-rebuild/stat_icons.svg) left top no-repeat;
        filter: drop-shadow(0 0 1px #111111b5);
      }

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }

    &.locked {
      position: relative;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(230, 230, 230, .5);
        background-color: var(--gym-locked-stat-overlay-bg-color);
      }

      .propertyTitle {
        .propertyValue {
          position: relative;
          text-shadow: none;
          color: #eee;
        }
      }
    }

    &.success {
      border-bottom-color: #f1f5e8;
      border-bottom-color: var(--gym-success-bg-color);
      background-color: #f1f5e8;
      background-color: var(--gym-success-bg-color);
      animation: greenPulse 250ms;

      .propertyTitle {
        background: linear-gradient(to bottom, rgba(63, 95, 31, 1) 0%, rgba(47, 70, 23, 1) 100%);
      }

      &.default {
        border-bottom-color: #f2f2f2;
        border-bottom-color: var(--default-bg-panel-color);
        background-color: #f2f2f2;
        background-color: var(--default-bg-panel-color);
      }
    }

    &.error {
      border-bottom-color: #f3ebe9;
      border-bottom-color: var(--gym-error-bg-color);
      background-color: #f3ebe9;
      background-color: var(--gym-error-bg-color);
      animation: redPulse 250ms;

      &.default {
        border-bottom-color: #f2f2f2;
        border-bottom-color: var(--default-bg-panel-color);
        background-color: #f2f2f2;
        background-color: var(--default-bg-panel-color);
      }
    }
  }

  .dexterity {
    width: calc(25% - 2px);
  }

  .defense,
  .speed {
    width: calc(25% + 1px);
  }

  .strength {
    .propertyTitle::before {
      background-position: -101px 0;
    }
  }

  .defense {
    .propertyTitle::before {
      background-position: -32px 0;
    }
  }

  .speed {
    .propertyTitle::before {
      background-position: 1px 0;
    }
  }

  .dexterity {
    border-right: none;

    .propertyTitle::before {
      background-position: -67px 0;
    }
  }

  .propertyContent {
    font-size: 12px;
    text-align: center;

    .description {
      color: #333;
      color: var(--gym-description-primary-color);
      line-height: 16px;
      padding: 9px 0;

      p {
        &:last-child {
          color: #666;
          color: var(--gym-description-secondary-color);
        }
      }
    }

    .inputWrapper {
      width: 63px;
      display: inline-block;
      position: relative;
      vertical-align: top;

      .input {
        color: #333;
        color: var(--gym-input-font-color);
        line-height: 20px;
        width: 63px;
        padding: 0 15px;
        box-sizing: border-box;
        text-align: center;
        border: 1px solid #ccc;
        border-color: var(--input-border-color);
        border-radius: 5px;
        background: #fff;
        background: var(--gym-input-bg-color);
      }

      .inputButton {
        position: absolute;
        border: 3px solid transparent;
        border-left: 4px solid transparent;
        background-color: transparent;
        cursor: pointer;
        top: 7px;
        width: 0;
        height: 0;
        padding: 1px 6px;

        &.left {
          border-right: 4px solid #ddd;
          border-right-color: var(--gym-arrow-btn-bg-color);
          left: -5px;
          border-left: none;

          &:hover {
            border-right-color: #999;
            border-right-color: var(--gym-arrow-btn-hover-bg-color);
          }
        }

        &.right {
          border-left: 4px solid #ddd;
          border-left-color: var(--gym-arrow-btn-bg-color);
          right: -5px;
          border-right: none;

          &:hover {
            border-left-color: #999;
            border-left-color: var(--gym-arrow-btn-hover-bg-color);
          }
        }
      }
    }

    .button {
      background: linear-gradient(180deg, #ccc 0%, #999 60%, #666 100%);
      border: 0;
      border-radius: 5px;
      color: #333;
      cursor: pointer;
      font-size: 14px;
      font-weight: 700;
      padding: 3px 10px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
      vertical-align: top;

      &:hover {
        background: linear-gradient(180deg, #fff 0%, #bbb 60%, #999 100%);
      }

      &:active {
        background: linear-gradient(to bottom, rgb(153, 153, 153) 0%, rgb(204, 204, 204) 100%);
      }

      &.disabled,
      &.disabled:hover,
      &.disabled:active {
        background: linear-gradient(180deg, #999 0%, #ccc 100%);
        background: var(--btn-disabled-background);
        cursor: default;
        color: #777;
        color: var(--btn-disabled-color);
        text-shadow: 0 -1px 0 #fff6;
        text-shadow: var(--btn-disabled-text-shadow);
      }
    }

    .inputWrapper,
    .button {
      margin: 0 5px;
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .properties {
      .strength,
      .defense,
      .speed,
      .dexterity {
        width: calc(50% + 1px);
        padding-bottom: 11px;

        &.success,
        &.error {
          border-bottom: 2px solid #ccc;
          border-bottom-color: var(--divider-dark-color);
        }
      }

      .defense,
      .dexterity {
        width: calc(50% - 1px);
      }

      .defense {
        border-right: none;
      }

      .propertyContent {
        .inputWrapper {
          .input {
            line-height: 30px;
          }

          .inputButton {
            top: 13px;
          }
        }

        .button {
          padding: 8px 10px;
        }
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 600px) {
    .properties {
      .strength,
      .defense,
      .speed,
      .dexterity {
        .propertyTitle {
          &::before {
            width: 31px;
          }

          &.fontSize10 {
            &::before {
              width: 29px;
            }
          }
        }
      }

      .strength {
        .propertyTitle::before {
          background-position: -104px 0;
        }
      }

      .defense {
        .propertyTitle::before {
          background-position: -34px 0;
        }
      }

      .speed {
        .propertyTitle::before {
          background-position: -2px 0;
        }
      }

      .dexterity {
        border-right: none;

        .propertyTitle::before {
          background-position: -69px 0;
        }
      }
    }
  }
}
