#gymroot {
  --gym-description-primary-color: #333;
  --gym-description-secondary-color: #666;
  --gym-red-color: #ff5c26;
  --gym-green-color: #668c00;
  --gym-error-bg-color: #f3ebe9;
  --gym-error-start-animation-color: rgba(243, 235, 233, 0);
  --gym-success-bg-color: #f1f5e8;
  --gym-success-start-animation-color: rgba(241, 245, 232, 0);
  --gym-inner-logo-wrapper-color: #bbb;
  --gym-input-bg-color: #fff;
  --gym-input-font-color: #333;
  --gym-arrow-btn-bg-color: #ddd;
  --gym-arrow-btn-hover-bg-color: #999;
  --gym-locked-stat-overlay-bg-color: rgba(230, 230, 230, .5);
  --gym-default-msg-color: #888;
  --gym-button-gradient: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%);
  --gym-button-locked-gradient: linear-gradient(to bottom, rgb(213, 213, 213) 0%, rgb(219, 219, 219) 100%);
  --gym-button-hover-bg: #fff;
  --gym-active-button-bg: linear-gradient(to bottom, rgba(242, 255, 217, 1) 0%, rgba(212, 232, 193, 1) 100%);
  --gym-active-button-hover-bg: linear-gradient(to bottom, rgba(229, 255, 178, 1) 0%, rgba(214, 240, 163, 1) 100%);
  --gym-active-button-box-shadow: 0 0 10px rgba(128, 255, 0, .4);
  --gym-new-button-bg: linear-gradient(to bottom, rgba(217, 245, 255, 1) 0%, rgba(194, 222, 232, 1) 100%);
  --gym-new-button-hover-bg: linear-gradient(to bottom, rgba(178, 236, 255, 1) 0%, rgba(163, 220, 240, 1) 100%);
  --gym-new-button-box-shadow: 0 0 10px rgba(0, 191, 255, .25);
  --gym-button-bg-image: url(/images/v2/gym-rebuild/select_gym.png);
  --gym-button-locked-bg-image: url(/images/v2/gym-rebuild/gym_selection_bg_light.svg);
  --gym-not-active-stat-color: #888;
  --gym-empty-progress-bar-gradient: linear-gradient(to bottom, rgba(221, 221, 221, 1) 0%, rgba(238, 238, 238, 1) 100%);
  --gym-progress-bar-border-color: #ccc;
  --gym-name-font-color: #444;
  --gym-class-font-color: #888;
  --gym-button-progress-bar-bg: #ccc;
  --gym-button-progress-bar-color: #aaa;
  --gym-button-in-progress-font-color: #888;
  --gym-progress-bar-divider-976: url(/images/v2/gym-rebuild/progress_bar_divider_light_976.svg);
  --gym-progress-bar-divider-578: url(/images/v2/gym-rebuild/progress_bar_divider_light_578.svg);
  --gym-progress-bar-divider-320: url(/images/v2/gym-rebuild/progress_bar_divider_light_320.svg);
}

:root {
  --gym-lightweight-bottom-line-bg-color: #e2edc2;
  --gym-middleweight-bottom-line-bg-color: #f5dbc2;
  --gym-heavyweight-bottom-line-bg-color: #f5d4c9;
  --gym-specialist-bottom-line-bg-color: #f5e8c2;
}
