.model {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 2px solid var(--loadouts-window-color);
  box-shadow: 0 0 2px #00000040, inset 0 0 2px #00000040;
  cursor: pointer;
}

.userModel {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);

  @media #{$screen-tablet} {
    #{$global-r} & {
      top: -105px;
      transform: translateX(-50%) scale(0.568);
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      top: -100px;
    }
  }
}

.isFullSize {
  top: -6px;
  left: 50%;
  width: 244px;
  height: 388px;
  border-radius: 5px;
  transform: translateX(-50%);

  .userModel {
    top: -19px;

    @media #{$screen-tablet} {
      #{$global-r} & {
        top: -18px;
        transform: translateX(-50%) scale(1);
      }
    }
    @media #{$screen-mobile} {
      #{$global-r} & {
        top: -10px;
      }
    }
  }
}

.close {
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  width: 26px;
  height: 26px;
}
