$npcs: santa grinch penguin tattooedLady beardedLady siameseTwins shortestMan tallestMan strongMan tiger astronaut
  gardener sports1 sports2 sports3 sports4 businessman1 businessman2 tourist photographer convict cowboy doctor
  nurse dogWalker drunkard1 drunkard2 drunkard3 farmer fisherman hunter policeMan spearman sailor musician1
  musician2 musician3 musician4 musician5 priest nun transport1 transport2 transport3 transport4 transport5
  scientist policeWoman chef firefighter1 firefighter2 handyman1 handyman2 handyman3 handyman4 handyman5 handyman6
  waitress1 waitress2 secretary1 secretary2 mechanic1 mechanic2 cleaner bartender1 bartender2 bartender3 bartender4
  womanInRedDress1 womanInRedDress2 pug cat lion fish jackal otter duck walrus seal stork beaver wolverine bison
  boar deer weasel squirrel hare hedgehog raccoon moose owl lynx fox bear wolf monster1 monster2 ghost1 ghost2
  goblin1 goblin2 goblin3 skeleton snowman elf scarecrow mummy vampire zombie1 zombie2 zombie3 zombie4 zombie5
  bobThePlank kevinTheHoley;

/* TODO: need recheck styles, it is too hard maintain for now */
.itemImageContainer {
  .title {
    margin: 0;
    padding: 10px;
    color: rgb(114, 191, 172);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }

  .itemImage {
    margin: 0 auto;
    width: 100px;
    height: 50px;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 2px 5px rgba(0, 76, 102, .35);
    box-shadow: inset 0 2px 5px rgba(0, 76, 102, .35);
    background: #f1f4f6;
    background: -webkit-gradient(linear, left bottom, left top, from(#f1f4f6), to(#e8eef1));
    background: -o-linear-gradient(bottom, #f1f4f6 0, #e8eef1 100%);
    background: linear-gradient(0deg, #f1f4f6, #e8eef1);
    position: relative;
  }
}

@each $npc in $npcs {
  :global(.d .ct-wrap .status-area-container .text-container) {
    &.#{$npc} {
      padding: 0 10px;
      background: url(/images/v2/christmas_town/npc/status_area_bg/tablet/#{$npc}.png) 50% 50%;

      &.withSnowGlobe {
        background: url(/images/v2/christmas_town/npc/status_area_bg/tablet_snowglobe/#{$npc}.png) 50% 50%;
      }

      @media screen and (min-width: 1001px) {
        background: url(/images/v2/christmas_town/npc/status_area_bg/desktop/#{$npc}.png);

        &.withSnowGlobe {
          background: url(/images/v2/christmas_town/npc/status_area_bg/desktop_snowglobe/#{$npc}.png) 50% 50%;
        }
      }

      &.customImage {
        background-position: center top;
      }
    }
  }

  &.#{$npc} {
    position: relative;

    /* background: url(/images/v2/christmas_town/npc/status_area_bg/tablet/#{$npc}.png) 50% 50% !important; */

    .npcMessageWrapper {
      position: absolute;
      top: 27px;
      left: 125px;
      width: 155px;
      height: 110px;
      overflow: hidden;
      font-size: 12px;
      line-height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: left;

      @if $npc != santa and $npc != grinch and $npc != penguin {
        color: #323133;
      }

      &.santaMessageWrapper {
        color: #72bfac;
        font-size: 14px;
        line-height: 14px;

        &.withPrizes {
          top: 20px;
          left: 40px;
          width: 260px;
          height: 145px;
          font-size: 14px;
          text-align: center;
        }
      }

      .commonNpcWithPrizes {
        float: left;
      }
    }

    &.customImage {
      .npcMessageWrapper {
        width: 304px;
        height: 128px;
        top: 20px;
        left: calc(50% - 152px);
        z-index: 1;

        :global(.paragraph) {
          padding: 5px 20px 0;
        }
      }

      &.prizesEmpty {
        .npcMessageWrapper {
          background: url("/images/v2/christmas_town/npc/status_area_bg/message_bg.svg") 0 0 no-repeat;
          color: #707070;
        }
      }

      &.withSnowGlobe {
        .npcMessageWrapper {
          background: none;
        }
      }
    }

    &.withSnowGlobe {

      /* background: url(/images/v2/christmas_town/npc/status_area_bg/tablet_snowglobe/#{$npc}.png) 50% 50% !important; */

      .npcMessageWrapper {
        top: 40px;
        left: 45px;
        justify-content: flex-start;
        width: 240px;
        height: 100px;
        text-align: center;
      }
    }

    &.withSnowGlobe.prizesEmpty {
      .npcMessageWrapper {
        top: 78px;
      }
    }

    @media screen and (min-width: 601px) and (max-width: 1000px) {
      .npcMessageWrapper {
        left: 160px;

        @if $npc == santa or $npc == grinch {
          left: 115px;
          text-align: center;

          &.santaMessageWrapper {
            &.withPrizes {
              left: 70px;
            }
          }
        }
      }

      &.customImage {
        .npcMessageWrapper {
          left: calc(50% - 152px);
        }
      }

      &.withSnowGlobe {
        .npcMessageWrapper {
          width: 300px;
        }
      }
    }
    @media screen and (max-width: 600px) {

      @if $npc == santa or $npc == grinch {
        .npcMessageWrapper {
          left: 85px;
          text-align: center;
        }
      }
    }
    @media screen and (min-width: 1001px) {

      /* background: url(/images/v2/christmas_town/npc/status_area_bg/desktop/#{$npc}.png) !important; */

      &.withSnowGlobe {

        /* background: url(/images/v2/christmas_town/npc/status_area_bg/desktop_snowglobe/#{$npc}.png) 50% 50% !important; */

        .npcMessageWrapper {
          top: 330px;
          left: 85px;
          justify-content: flex-start;
          width: 290px;
          height: 100px;
          text-align: center;
        }
      }

      &.withSnowGlobe.prizesEmpty {
        .npcMessageWrapper {
          top: 365px;
        }
      }

      .npcMessageWrapper {
        top: 345px;
        left: 100px;
        width: 260px;
        height: 90px;
        font-size: 14px;
        text-align: center;

        &.santaMessageWrapper {
          color: #72bfac;
          font-size: 20px;
          line-height: 25px;

          &.withPrizes {
            top: 295px;
            left: 100px;
            height: 145px;
          }
        }
      }

      &.customImage {
        .npcMessageWrapper {
          top: 326px;
          left: calc(50% - 152px);
          width: 304px;
          height: 128px;
        }

        &.prizesEmpty {
          .npcMessageWrapper {
            background: url("/images/v2/christmas_town/npc/status_area_bg/message_bg.svg") 0 0 no-repeat;
          }
        }

        &.withSnowGlobe {
          .npcMessageWrapper {
            background: none;
          }
        }
      }
    }
  }
}

:global(.d .ct-wrap .status-area-container .text-container) {
  &.statusAreaItem {
    background-image: radial-gradient(rgb(255, 255, 255) 0%, rgb(241, 251, 255) 100%);
  }

  &.activeImageFilter {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(255, 255, 255, .85);
    }
  }
}
