@import '../../styles/common.cssmodule.scss';
@import '../../styles/constants.cssmodule.scss';

.animLasts {
  animation-name: animateIn;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-duration: .1s;
}

.lastsWrap {
  width: 100%;
  height: auto;
  padding: 0 5px;
  box-sizing: border-box;
  background: #fff;
  max-height: 75px;
  overflow-y: scroll;
  border-bottom: 1px solid #c0d1d8;
  composes: animLasts;

  &::-webkit-scrollbar-thumb {
    border: none;
    background: transparent;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
}

.label {
  margin-left: 7px;
  color: #d0cdcd;
  font-size: 12px;
  margin-right: 12px;
  font-family: 'Fjalla One', sans-serif;
  padding-top: 2px;
  flex: 1;
  composes: preventPointer;
}

.lastContainer {
  composes: button;
  width: auto;
  height: 25px;
  composes: flexRow;
  justify-content: flex-start;
  margin-left: 7px;

  &:hover {
    .label {
      color: #908989;
    }
  }
}

.buttonRemove {
  width: 20px;
  height: 20px;
  composes: button;
  composes: flexRow;
  justify-content: center;
}

.iconSvg {
  margin-right: 0;
  composes: flexRow;
  justify-content: flex-end;
  composes: preventPointer;
}

:global {
  @keyframes animateIn {
    0% {
      max-height: 0;
    }

    100% {
      max-height: 75px;
    }
  }
}

:global(.greySelectSearchWrap) {
  .lastsWrap {
    border-color: $borderGrey;
    background: #fff;
  }

  .label {
    color: #ccc;
    color: var(--default-gray-c-color);

    &:focus,
    &:hover {
      color: #999;
      color: var(--default-gray-9-color);
    }
  }
}
