:global(.d) {
  .itemWrap {
    box-sizing: border-box;
    margin-right: 1px;
    color: #8a8a79;
    font-size: 13px;
    line-height: 20px;
  }

  .itemWrap > li {
    width: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .remove {
    width: 20px;
    height: 20px;
    float: right;
    background: url('/images/v2/2sef32sdfr422svbfr2/crimes/bootlegging/stats_check_cross_pagination_30x30px.png') -35px -5px no-repeat;
  }

  .label {
    color: #666;
  }
}

@media screen and (max-width: 600px) {
  :global(.r) {
    .itemWrap > li {
      width: auto;
    }
  }
}
