.archive {
  vertical-align: top;
  width: 203px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.article {
  position: relative;
  display: block;
  background: url(/images/v2/newspaper/divider_horizontal_old.png) 0 0 repeat-x;
  background: var(--newspaper-divider-horizontal-old-line-url) 0 0 repeat-x;
  padding-top: 1px;
  width: 100%;
  &:first-child {
    background: none;
  }
  a {
    text-decoration: none;
  }
  .innerWrap {
    display: table;
    padding: 10px 0 10px 10px;
    border-right: 10px solid transparent;
  }
  &.unseen .innerWrap,
  &.unread .innerWrap {
    &:before {
      content: '';
      width: 10px;
      height: 1px;
      position: absolute;
      right: 0;
      top: 0;
      background: url(/images/v2/newspaper/divider_horizontal_old.png) 0 0 repeat-x;
      background: var(--newspaper-divider-horizontal-old-line-url) 0 0 repeat-x;
    }
  }
  &.unseen .innerWrap {
    border-color: #357C9F;
    border-color: var(--newspaper-unseen-article-bg-color);
  }
  &.unread .innerWrap {
    border-color: #DAD1C9;
    border-color: var(--newspaper-unreed-article-bg-color);
  }
}
.imageWrap {
  display: table-cell;
  vertical-align: top;
  background-size: cover;
  background-image: url(/images/v2/newspaper/image_placeholder.jpg);
}
.image {
  width: 50px;
  height: 50px;
  background-size: cover;
}
.titleWrap {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  padding-left: 5px;
}
.title {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #069;
  color: var(--default-blue-color);
  line-height: 19px;
  max-height: 36px;
  overflow: hidden;
}
.subtitle {
  display: none;
}

:global(.r) {
  @media screen and (max-width: 1000px) {
    .archive {
      display: block;
      width: auto;
      background: none;
      position: static;
    }
    .titleWrap {
      padding-left: 10px;
    }
    .subtitle {
      display: block;
      color: #525252;
      color: var(--newspaper-font-color);
      font-family: 'Times New Roman', sans-serif;
      font-size: 15px;
    }
  }
}
