.fullscreenTools {
  background: linear-gradient(90deg, #fff 0, #e0edf3 99%);
  background: var(--ct-map-editor-fullscreen-tools-bg);
  position: absolute;
  right: 0;
  top: 35px;
  z-index: 107;
  height: calc(100vh - 81px);
  border-left: 1px solid #bfd0d8;
  border-left-color: var(--ct-map-editor-primary-section-divider-color);

  .fullscreenTool {
    width: 30px;
    height: 30px;
    text-align: center;

    &::after,
    &::before {
      content: "";
      position: relative;
      display: block;
      top: 30px;
      width: 30px;
      height: 1px;
    }

    &::before {
      background: linear-gradient(90deg, rgba(248, 249, 250, .18) 5%, #d8e1e6 25%, #c1ced6 50%, #c9d8e0 75%, rgba(248, 249, 250, .18) 95%);
      background: var(--ct-map-editor-fullscreen-before-tools-divider-bg);
    }

    &::after {
      top: 0;
      background: linear-gradient(90deg, rgba(248, 249, 250, .18) 5%, #f9fbfc 25%, #fff 50%, #f9fbfc 75%, rgba(248, 249, 250, .18) 90%);
      background: var(--ct-map-editor-fullscreen-after-tools-divider-bg);
    }

    .tool {
      height: 100%;
      width: 100%;
      background: transparent;
      border: 0;
      padding: 0;
      margin: 0;
      cursor: pointer;

      svg {
        fill: #7fa1b2;
        fill: var(--ct-map-editor-tab-button-color);
        filter: var(--ct-map-editor-button-filter);
      }

      &.active {
        background: linear-gradient(90deg, #ddf7ff 0, #ddd 99%);
        background: var(--ct-map-editor-fullscreen-tools-bg-active);
      }

      &.iconWrapper {
        font-size: 0;
        line-height: 0;
      }
    }
  }
}

:global(.ToolTipPortal) {
  z-index: 999999;

  & > div {
    z-index: 999999 !important;
    text-align: center;
  }
}

:global(html.hide-scroll) {
  overflow: hidden;
}
