.itemTooltip {
  width: 38px;
  height: 19px;
  background: url(/images/v2/items/item_image_background_38x19.svg) no-repeat;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  display: block;
  cursor: pointer;
}

.image {
  width: 38px;
  height: 19px;
  display: block;
  position: absolute;
}

%tooltipText {
  text-align: center;
  line-height: 15px;
}

.tooltipName {

  @extend %tooltipText;
}

.tooltipType {
  color: #888;

  @extend %tooltipText;
}
