.tabControls {
  display: none;
}

:global(.r) {
  @media screen and (max-width: 1000px) {
    .article {
      width: 100%;
      margin-right: 0;
      border-radius: 0;
      :global(.title-black) {
        display: none;
      }
    }
    .tabControls {
      display: flex;
      width: 100%;
      .tabControl {
        font-family: Arial, sans-serif;
        background: #000;
        display: block;
        color: #FFF;
        width: 49%;
        height: 35px;
        line-height: 35px;
        text-align: center;
        position: relative;
        font-size: 13px;
        cursor: pointer;
        &:after {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          width: 15px;
          height: 35px;
          background: url(/images/v2/main/tabs/regular/ends_inner_default.png) left top no-repeat;
        }
        &.active, &:hover {
          background-color: #2E2E2E;
          z-index: 100;
          &:after {
            background-image: url(/images/v2/main/tabs/regular/ends_inner_over.png);
          }
        }
        &:first-child {
          margin-right: 23px;
          &:after {
            left: auto;
            right: -14px;
            background-position: -15px 0;
          }
        }
        &:last-child:after {
          left: -14px;
        }
      }
    }
  }
}