.enter {
  position: absolute;
  transition: opacity .2s ease-out .2s;
  opacity: 0;

  &.enterActive {
    opacity: 1;
  }
}

.exit {
  position: absolute;
  transition: opacity .2s ease-out;
  opacity: 1;

  &.exitActive {
    opacity: 0;
  }
}
