.track {
  position: absolute;
  width: 12px;
  right: 2px;
  bottom: 2px;
  top: 2px;
  border-radius: 2px;
}

.thumb {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, .2);
  height: 88px;
  transform: translateY(0);
}
