@import '../../styles/vars';
@import '../../styles/mixins';
@import '../../styles/borders';

.logsPositioner {

  @include appType([ 'desktop/full', 'desktop/sidebar' ]) {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -584px;
    width: fit-content;
    width: -moz-fit-content;
  }
  @include appType([ 'desktop/sidebar' ]) {
    top: -557px;
  }
  @include appType([ 'tablet/full', 'tablet/sidebar', 'mobile' ]) {
    position: relative;
    box-sizing: border-box;
  }
}

.logs {
  text-align: left;
  display: flex;

  @include appType([ 'desktop/full', 'desktop/sidebar' ]) {
    flex-direction: column;
    width: 320px;
    height: 161px;
    box-sizing: border-box;
    padding: 4px;
    border-radius: 5px;
    background: var(--holdem-logs-panel-bg);
    box-shadow: var(--holdem-logs-panel-shadow);
  }
  @include appType([ 'tablet/full', 'tablet/sidebar', 'mobile' ]) {
    flex-direction: column-reverse;
    height: 100%;
    border-bottom: var(--holdem-buttons-border-main);
  }
}

.logListContainer {
  box-sizing: border-box;
  background: var(--holdem-logs-panel-container-bg);
  position: relative;

  @include appType([ 'desktop/full', 'desktop/sidebar' ]) {
    border: var(--holdem-logs-panel-container-border);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 2px #00000040;
    height: 100%;
  }
  @include appType([ 'tablet/full', 'tablet/sidebar', 'mobile' ]) {
    height: 80px;
  }
}

.showRecent {
  position: absolute;
  left: 50%;
  padding: 7px 13px;
  border-radius: 4px;
  background-color: var(--holdem-logs-show-recent-bg);
  border: none;
  color: #f5f5f5;
  font-size: 11px;
  transform: translateX(-50%);
  cursor: pointer;

  &:hover {
    color: #f5f5f5;
  }

  @include appType([ 'desktop/full', 'desktop/sidebar' ]) {
    bottom: 5%;
  }
  @include appType([ 'tablet/full' ]) {
    top: 5%;
    padding: 4px 10px;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    top: 5%;
    padding: 4px 10px;
  }
}

.scrollArea {

  @include appType([ 'desktop/full', 'desktop/sidebar' ]) {
    height: 126px;
  }
  @include appType([ 'tablet/full', 'tablet/sidebar', 'mobile' ]) {
    height: 100%;
  }

  > div:first-child {
    scroll-behavior: smooth;
  }
}

.message {
  position: relative;
  padding: 0 0;
  line-height: 1.45em;
  color: var(--holdem-text-color-secodary);

  .suite {
    font-size: 16px;

    &.red {
      color: red;
    }
  }

  em {
    margin: 0 5px;
    font-size: 13px;
    text-decoration: none;
  }

  span {
    font-weight: bold;
  }

  &.old {
    opacity: .5;
    background-color: var(--holdem-log-message-old-bg);

    em {
      color: var(--holdem-log-message-old-author-color);
    }

    span {
      color: var(--holdem-log-message-old-message-color);
    }
  }

  &.current {
    background-color: var(--holdem-log-message-highlight-bg);
  }

  &.state {
    em {
      color: var(--holdem-log-message-highlight-author-color);
      font-weight: bold;
    }

    span {
      color: var(--holdem-log-message-highlight-message-color);
      font-weight: normal;
    }

    &::before {
      content: '';
      display: block;
      margin: 0 0;
      width: 100%;
      border-bottom: var(---holdem-logs-panel-delimiter);
    }
  }

  &.black {
    color: #676759;
  }

  &.won {
    padding: 10px 2px 10px 0;
    font-weight: bold;
    line-height: 16px;
    text-align: center;

    i {
      display: none;
    }

    em,
    span {
      color: var(--holdem-log-message-highlight-message-color);
      font-weight: bold;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      display: block;
      margin: 0 0;
      width: 100%;
      height: 1px;
      border-bottom: var(--holdem-logs-panel-delimiter);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }
}

.soundWrap {
  position: absolute;
  right: 0;
  bottom: 0;
}

.messagesWrap {
  display: flex;

  @include appType([ 'desktop/full', 'desktop/sidebar', ]) {
    flex-direction: column;
  }
  @include appType([ 'tablet/full', 'tablet/sidebar', 'mobile' ]) {
    flex-direction: column-reverse;
  }
}

.statusWrapper {
  position: relative;
  font-style: italic;
  display: flex;
  align-items: center;
  color: var(--holdem-log-message-thinking-color);

  @include appType([ 'desktop/full', 'desktop/sidebar' ]) {
    margin-top: 2px;
    height: 1.5em;
  }
  @include appType([ 'tablet/full', 'tablet/sidebar', 'mobile' ]) {
    height: 24px;

    @include borders-on-bottom;
  }
}

.status {
  display: flex;
  align-items: center;

  span {
    margin-left: 5px;
  }
}

.svgIcon {
  display: inline-block;
  width: 16px;
  text-align: center;

  path {
    fill: var(--holdem-logs-iconst-color);
  }
}

.logIcon {

  @extend .svgIcon;
}

.thinkingIcon {

  @extend .svgIcon;

  height: 10px;
}
