@import '../../styles/vars';
@import '../../styles/mixins';
@import '../../styles/halo';

.panelPositioner {
  position: relative;
  z-index: 1;

  @include appType([ 'desktop/full', 'desktop/sidebar', 'tablet/full' ]) {
    width: 558px;
    left: 0;
    right: 0;
    margin: auto;
  }
  @include appType([ 'desktop/full' ]) {
    margin-top: 125px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    margin-top: 101px;
  }
  @include appType([ 'tablet/full' ]) {
    margin-top: 120px;
  }
  @include appType([ 'tablet/sidebar' ]) {
    margin-top: -93px;
  }
  @include appType([ 'mobile' ]) {
    margin-top: -92px;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    &.active {

      @include halo(var(--holdem-panel-glow-active), true);
    }

    &.winner {

      @include halo(var(--holdem-panel-glow-winner));
    }
  }
}

.panel {
  background: var(--holdem-panel-bg);
  box-shadow: 0 1px 2px #00000073;

  .active &,
  .winner & {
    background: var(--holdem-panel-bg-opaque);
  }

  @include appType([ 'desktop/full', 'desktop/sidebar', 'tablet/full', 'tablet/sidebar' ]) {
    border-radius: 5px;
    overflow: hidden;
  }
  @include appType([ 'desktop/full', 'desktop/sidebar' ]) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.playerMeGateway {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;

  @include appType('desktop/full') {
    top: -170px;
    width: fit-content;
    width: -moz-fit-content;
  }
  @include appType([ 'desktop/sidebar', 'tablet/full' ]) {
    top: -142px;
    width: fit-content;
    width: -moz-fit-content;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    top: 0;
    pointer-events: none;
  }
}
