.tooltipWrapper {
  visibility: hidden;

  .calendarTooltip {
    position: absolute;
    z-index: 999998;
    padding: 2px 2px 10px;
    width: 316px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .65) 0 0 2px;
    box-shadow: var(--calendar-tooltip-box-shadow);
    background-color: #fff;
    background-color: var(--calendar-tooltip-bg);
  }

  &.show {
    visibility: visible;
  }

  .secondArrow,
  .firstArrow {
    position: absolute;
    z-index: 1000000;
  }

  .secondArrow {
    margin-left: -17px;
    border: 17px solid transparent;
  }

  .firstArrow {
    margin-left: -18px;
    border: 18px solid transparent;
  }

  &.bottom .secondArrow {
    border-bottom: 9px solid #fff;
    border-bottom-color: var(--calendar-tooltip-bg);
  }

  &.bottom .firstArrow {
    margin-top: -2px;
    border-bottom: 10px solid #aeaeae;
    border-bottom-color: var(--calendar-tooltip-arrow-bg);
  }

  &.top .secondArrow {
    border-top: 9px solid #fff;
    border-top-color: var(--calendar-tooltip-bg);
  }

  &.top .firstArrow {
    border-top: 10px solid #aeaeae;
    border-top-color: var(--calendar-tooltip-arrow-bg);
  }
}

.tooltip {
  line-height: 0;

  .textWrapper {
    padding: 0 10px;
  }

  .tooltipTitle,
  .tooltipDescription,
  .tooltipDurationDescription {
    font-family: "Fjalla One", sans-serif;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }

  .tooltipTitle,
  .tooltipDescription {
    color: #79796a;
    color: var(--calendar-tooltip-primary-color);
  }

  .tooltipTitle {
    margin-top: 8px;
    margin-bottom: 3px;
  }

  .tooltipDurationDescription {
    color: #acac9d;
    color: var(--calendar-tooltip-secondary-color);
    margin-bottom: 2px;
  }

  .tooltipDescription {
    line-height: 16px;
  }
}
