.newsHeader {
  box-sizing: border-box;
  display: flex;
  width: 784px;
  height: 34px;
  border-bottom: 1px solid;
  box-shadow: 0 0 1px 1px rgba(#000, .15);
  border-color: var(--default-panel-divider-outer-side-color);

  & > :first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0;
  }

  & > :last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
  }

  border-bottom-color: transparent;
  box-shadow: none;

  .dropdown {
    width: 178px;
  }

  @media (max-width: 1000px) {
    #{$global-r} & {
      width: 386px;
      height: 55px;
      box-shadow: 0 1px 1px 0 rgba(#fff, .25);

      /* quick fix for one tab styles */
      &.single {
        height: 34px;

        .tab.single {
          padding-left: 10px;
        }
      }
    }
  }
  @media (max-width: 600px) {
    #{$global-r} & {
      width: 320px;
      height: 55px;
      border-radius: 0;
      box-shadow: 0 1px 1px 0 rgba(#fff, .25);

      .dropdown {
        width: 144px;
      }

      &.single {
        height: 34px;

        .tab.single {
          padding-left: 10px;
        }
      }

      & > :first-child {
        border-top-left-radius: 0;
      }

      & > :last-child {
        border-top-right-radius: 0;
      }
    }
  }
}
