/* ===========================
Age, Rank, Level
=========================== */
.profile-mini-root {
  .box-info {
    position: relative;

    &.level {
      margin-right: 24px;
      margin-left: 11px;
    }

    &.rank {
      margin-right: 15px;
      margin-left: 8px;
    }
  }

  .box-info .box-name {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 1px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .65);
    text-shadow: var(--profile-digits-shadow);
  }

  .box-info .box-value {
    text-align: center;
    margin: 0 auto;
    width: 133px;
  }

  .box-info.age .box-value {
    width: 130px;
  }

  .box-info.rank .rank-description,
  .box-info.age .box-value {
    background: url(/images/v2/profile/svg/container_desktop.svg) -5px 0 repeat-x;
    background: var(--profile-digits-blocks-bg-large) -5px 0 repeat-x;
  }

  .profile-container .row.basic-info li.clear,
  .box-info .box-value > li.clear {
    background: none;
    width: 0;
    float: none;
    height: 0;
    font-size: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
  }

  .box-info .box-value > li {
    float: left;
  }

  .box-info .box-value > li:not(:first-child) {
    background: url(/images/v2/profile/svg/divider.svg) 0 0 no-repeat;
    background: var(--profile-digits-divider-bg) 0 0 no-repeat;
  }

  .box-info.age .block-value.svg .box-value > li {
    height: 73px;
  }

  .box-info:not(.age):not(.rank) .block-value.svg .box-value > li {
    height: 68px;
  }

  .box-info .block-value.svg .box-value > li {
    border: none;
  }

  .box-info .block-value.svg .box-value > li:not(:first-child):not(:last-child) {
    background: url(/images/v2/profile/svg/divider.svg) 0 9px no-repeat;
    background: var(--profile-digits-divider-bg) 0 9px no-repeat;
  }

  .box-info:not(.age):not(.rank) .block-value.svg .box-value > li:not(:first-child):not(:last-child) {
    background-position-y: 5px;
  }

  .box-info:not(.age):not(.rank) .block-value.svg {
    background: transparent url(/images/v2/profile/svg/container_113x66.svg) 0 4px no-repeat;
    background: transparent var(--profile-digits-blocks-bg-small) 0 4px no-repeat;
    background-size: contain;
    width: 66%;
  }

  .box-info.age .block-value.svg .box-value > li:not(:first-child):not(:last-child) {
    background-position-y: 4px;
  }

  .box-info.age .block-value.svg .box-value > li:not(:first-child):not(:last-child) {
    background-position-y: 3px;
  }

  .box-info .box-value > li.digit-l {
    border-right: 0;
  }

  .box-info .box-value > li:first-child {
    border-left: 0;
  }

  .box-info .block-value.svg .box-value > li {
    background: none;
  }

  .box-info .block-value.svg {
    margin: 0 auto;
    background: url(/images/v2/profile/svg/container.svg) 0 -1px no-repeat;
    background-size: cover;
    width: 70%;
  }

  .box-info.age .block-value.svg {
    width: 80%;
    background-position-y: -6px;
  }

  .box-info .box-value.svg > li {
    height: 65px;
  }

  .profile-information-wrapper .box-info .block-value.svg {
    width: 75%;
    height: 90%;
  }

  .profile-information-wrapper .box-info .block-value.svg {
    width: 113px;
  }

  .profile-information-wrapper .box-info.rank .block-value.svg,
  .profile-information-wrapper .box-info.age .block-value.svg {
    width: 154px;
  }

  .box-info .box-value > li .r-ear,
  .box-info .box-value > li .l-ear {
    width: 10px;
  }

  .box-info .box-value > li .r-ear {
    margin-right: -10px;
  }

  .box-info .box-value > li .l-ear {
    margin-left: -10px;
  }

  .d .logged-out.spring .profile-wrapper .box-info {
    position: relative;
  }

  .box-info .box-value li .l-ear {
    background: url(/images/v2/profile/svg/container_113x66.svg) 0 0 no-repeat;
    background: var(--profile-digits-blocks-bg-small)  0 0 no-repeat;
  }

  .box-info.rank .box-value li .l-ear,
  .box-info.age .box-value li .l-ear {
    background: url(/images/v2/profile/svg/container_desktop.svg) 0 0 no-repeat;
    background: var(--profile-digits-blocks-bg-large) 0 0 no-repeat;
  }

  .box-info .box-value li .r-ear {
    background: url(/images/v2/profile/svg/container_113x66.svg) right 0 no-repeat;
    background: var(--profile-digits-blocks-bg-small) right 0 no-repeat;
  }

  .box-info.rank .box-value li .r-ear,
  .box-info.age .box-value li .r-ear {
    background: url(/images/v2/profile/svg/container_desktop.svg) right 0 no-repeat;
    background: var(--profile-digits-blocks-bg-large) right 0 no-repeat;
  }

  .box-info .horizontal-divider {
    position: absolute;
    width: 104px;
    height: 2px;
    top: 50px;
    right: 80px;
  }

  .box-info .horizontal-divider.shadow {
    width: 107px;
  }

  .box-info .horizontal-divider.shadow {
    top: 53px;
  }

  .box-info.age .horizontal-divider,
  .box-info.rank .horizontal-divider {
    width: 140px;
    right: 61px;
  }

  .box-info.age .horizontal-divider.shadow,
  .box-info.rank .horizontal-divider.shadow {
    width: 144px;
  }

  .box-info .reflection {
    background: url(/images/v2/profile/svg/reflex.svg) 0 top repeat-x;
    background: var(--profile-digits-reflections-bg);
    position: absolute;
    width: 107px;
    height: 10px;
    right: 59px;
    top: 30px;
  }

  .box-info .reflection.svg {
    background: url(/images/v2/profile/svg/reflex.svg) 0 top repeat-x;
    background: var(--profile-digits-reflections-bg);
    top: 34px;
  }

  .box-info.rank .reflection {
    width: 150px;
    right: 12px;
  }

  .box-info.age .reflection {
    width: 144px;
    right: 16px;
  }

  .box-info.rank .reflection.svg,
  .box-info.age .reflection.svg {
    width: 144px;
    right: 12px;
    top: 34px;
  }

  .box-info.rank .reflection.svg,
  .box-info.age .reflection.svg {
    width: 150px;
  }

  .box-info .horizontal-divider,
  .box-info .horizontal-divider.shadow,
  .d .logged-out.summer .profile-wrapper .box-info .horizontal-divider.shadow,
  .d .logged-out.spring .profile-wrapper .box-info .horizontal-divider.shadow,
  .d .logged-out.autumn .profile-wrapper .box-info .horizontal-divider.shadow,
  .d .logged-out.winter .profile-wrapper .box-info .horizontal-divider.shadow {
    background: url(/images/v2/profile/neutral/horizontal_divider_neutral.png) 0 top repeat-x;
  }

  .box-info .box-value li .digit {
    width: 35px;
    margin-top: 10px;
  }

  .box-info:not(.rank) .block-value.svg .box-value li .digit,
  .box-info.age .block-value.svg .box-value li .digit {
    margin-top: 12px;
  }

  .box-info.age .block-value.svg .box-value li .digit {
    margin-top: 9px;
  }

  .box-info .box-value li {
    font-family: "Fjalla One", serif;
    font-size: 47px;
    line-height: 80%;
    text-align: center;
    color: #333;
    color: var(--profile-digits-color);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .65);
    text-shadow: var(--profile-digits-shadow);
    zoom: 1;
  }

  .box-info .box-value .digit-l .digit,
  .box-info .box-value .digit-r .digit {
    width: 29px;
  }

  .box-info:not(.rank) .block-value.svg .box-value .digit-l .digit,
  .box-info:not(.rank) .block-value.svg .box-value .digit-r .digit {
    width: 30px;
  }

  .box-info .box-value .digit-l .digit {
    text-align: right;
  }

  .box-info .box-value .digit-r .digit {
    text-align: left;
  }

  .box-info .block-value.svg .box-value li .digit.zero {
    margin-top: 8px;
  }

  .box-info .box-value li.digit-r .digit.zero {
    background-position: 0 center;
  }

  .box-info .box-value li.digit-l .digit.zero {
    background-position: 6px center;
  }

  .box-info .rank-description.box-value .digit {
    text-align: center;
  }

  .box-info .box-value .digit .short {
    font-size: 30px;
  }

  .box-info .box-value .digit .medium,
  .box-info .block-value.svg .box-value .digit .long + .medium {
    font-size: 21px;
    line-height: 33px;
  }

  .box-info .block-value.svg .box-value .digit .long + .medium {
    line-height: 33px;
  }

  .box-info .block-value.svg .box-value .digit .medium + .medium {
    line-height: 35px;
  }

  .box-info .box-value .digit > .two-row {
    margin-top: 0;
  }

  .box-info .box-value .digit .two-row > span {
    display: block;
  }

  .box-info .box-value .digit .two-row > span:first-child {
    color: #333;
    color: var(--profile-digits-color);
  }

  .box-info.rank .box-value .digit {
    margin-top: 0;
  }

  .box-info .horizontal-divider {
    right: 35px;
  }

  .box-info .horizontal-divider.shadow {
    right: 33px;
  }

  .box-info .horizontal-divider {
    right: 83px;
  }

  .box-info.age .reflection,
  .box-info.rank .reflection {
    right: 59px;
  }

  .box-info.age .horizontal-divider,
  .box-info.rank .horizontal-divider {
    right: 17px;
  }

  .box-info.age .horizontal-divider.shadow,
  .box-info.rank .horizontal-divider.shadow {
    right: 15px;
  }

  .box-info.age .horizontal-divider,
  .box-info.rank .horizontal-divider {
    right: 65px;
  }

  .box-info .box-value .digit .medium.inexp {
    margin-top: 15px;
    display: block;
  }

  .box-info.rank .box-value > li:first-child {
    border-right: 0;
  }

  .box-info .box-name {
    margin-bottom: 5px;
  }

  .profile-information-wrapper .box-info .block-value.svg,
  .profile-information-wrapper .box-info .block-value.svg,
  .profile-information-wrapper .box-info.rank .block-value.svg,
  .profile-information-wrapper .box-info.age .block-value.svg {
    width: 81%;
    height: 75%;
    background-size: cover;
  }

  .profile-information-wrapper .box-info.rank .block-value.svg,
  .profile-information-wrapper .box-info.age .block-value.svg {
    background-size: contain;
    background-position-y: 4px;
  }

  .box-info.age .block-value.svg {
    background-size: contain;
    width: 83%;
    height: 80%;
    background-position-y: 3px;
  }

  .box-info.age .block-value.svg .box-value > li:not(:first-child):not(:last-child) {
    background-position-y: 4px;
  }

  .box-info.age .block-value.svg .box-value {
    width: 72px;
  }

  .box-info .block-value.svg .box-value > li:not(:first-child):not(:last-child) {
    height: 40px;
  }

  .box-info.age .block-value.svg .box-value > li:not(:first-child):not(:last-child) {
    height: 42px;
  }

  .box-info.age .block-value.svg .box-value > li:not(:first-child):not(:last-child) {
    height: 41px;
  }

  .box-info:not(.age):not(.rank) .block-value.svg .box-value > li:not(:first-child):not(:last-child) {
    height: 43px;
  }

  .box-info:not(.age):not(.rank) .block-value.svg .box-value > li:not(:first-child):not(:last-child) {
    height: 42px;
  }

  .box-info:not(.age):not(.rank) .block-value.svg {
    width: 65%;
  }

  .box-info:not(.age):not(.rank) .block-value.svg {
    background-size: contain;
    width: 61%;
  }

  .box-info:not(.rank):not(.age) .block-value.svg .box-value li .digit:not(.zero) {
    margin-top: 10px;
  }

  .box-info.age .block-value.svg .box-value li .digit,
  .box-info.age .block-value.svg .box-value li .digit {
    margin-top: 8px;
  }

  .box-info .block-value.svg .box-value li .digit.zero {
    margin-top: 4px;
  }

  .box-info .box-value {
    background: url(/images/v2/profile/svg/container_mobile.svg) -3px 0 repeat-x;
    background: var(--mini-profile-digits-blocks-bg-mobile) -3px 0 repeat-x;
  }

  .box-info .box-value li .l-ear,
  .box-info.rank .box-value li .l-ear,
  .box-info.age .box-value li .l-ear {
    background: url(/images/v2/profile/svg/container_mobile.svg) 0 0 no-repeat;
    background: var(--mini-profile-digits-blocks-bg-mobile) 0 0 no-repeat;
    background-size: cover;
  }

  .box-info .box-value li .r-ear,
  .box-info.rank .box-value li .r-ear,
  .box-info.age .box-value li .r-ear {
    background: url(/images/v2/profile/svg/container_mobile.svg) right 0 no-repeat;
    background: var(--mini-profile-digits-blocks-bg-mobile) right 0 no-repeat;
    background-size: cover;
  }

  .box-info .box-value li .digit.zero {
    background: url(/images/v2/profile/neutral/320_0_placeholder_neutral.png) center center no-repeat;
    background: var(--mini-profile-digits-zero) center center no-repeat;
  }

  .box-info .box-value > li {
    height: 40px;
  }

  .box-info .box-value > li .r-ear,
  .box-info .box-value > li .l-ear {
    height: 40px;
  }

  .box-info.age .box-value > li .r-ear,
  .box-info.age .box-value > li .l-ear {
    width: 4px;
  }

  .box-info.age .box-value > li .r-ear {
    margin-right: -4px;
  }

  .box-info.age .box-value > li .l-ear {
    margin-left: -4px;
  }

  .box-info .box-value li .digit {
    width: 21px;
  }

  .box-info.age .box-value li .digit {
    width: 18px;
  }

  .box-info.level .box-value .digit-m .digit {
    width: 25px;
  }

  .box-info .box-value .digit-l .digit,
  .box-info .box-value .digit-r .digit,
  .box-info:not(.rank) .block-value.svg .box-value .digit-l .digit,
  .box-info:not(.rank) .block-value.svg .box-value .digit-r .digit {
    width: 18px;
  }

  .box-info .rank-description.box-value .digit {
    width: 61px;
    position: relative;
    z-index: 10;
  }

  .box-info:first-child .box-value {
    background: url(/images/v2/profile/svg/container_mobile.svg) -3px 0 repeat-x;
    background: var(--mini-profile-digits-blocks-bg-mobile) -3px 0 repeat-x;
    background-size: cover;
    width: 61px;
  }

  .box-info:first-child .block-value.svg .box-value {
    width: 51px;
  }

  .box-info .reflection,
  .box-info .reflection.svg {
    width: 80px;
    right: -20px;
  }

  .box-info .horizontal-divider,
  .box-info .horizontal-divider {
    right: 20px;
    width: 67px;
    top: 44px;
  }

  .box-info .horizontal-divider.shadow,
  .box-info .horizontal-divider.shadow {
    right: 19px;
    width: 69px;
    top: 47px;
  }

  .box-info.age .horizontal-divider,
  .box-info.age .horizontal-divider {
    right: 9px;
    width: 90px;
  }

  .box-info.age .horizontal-divider.shadow,
  .box-info.age .horizontal-divider.shadow {
    right: 8px;
    width: 92px;
  }

  .box-info.rank .horizontal-divider,
  .box-info.rank .horizontal-divider {
    display: none;
  }

  .box-info .box-value li .digit.zero {
    height: 29px;
    margin-top: 5px;
  }

  .box-info .box-value li {
    font-size: 27px;
  }

  .box-info .box-value .digit .short {
    font-size: 19px;
    line-height: 27px;
  }

  .box-info .box-value .digit .medium,
  .box-info .block-value.svg .box-value .digit .medium + .medium,
  .box-info .block-value.svg .box-value .digit .long + .medium {
    font-size: 14px;
    line-height: 17px;
  }

  .box-info .block-value.svg .box-value .digit .medium:first-child {
    line-height: 25px;
  }

  .box-info .box-value .digit .long {
    font-size: 11px;
    line-height: 11px;
  }

  .box-info .box-value {
    width: 61px;
  }

  .box-info.age .box-value {
    width: 72px;
  }

  .box-info .box-value,
  .box-info.age .box-value,
  .box-info.rank .rank-description {
    background: url(/images/v2/profile/svg/container_mobile.svg) -5px 0 repeat-x;
    background: var(--mini-profile-digits-blocks-bg-mobile) -5px 0 repeat-x;
    background-size: cover;
  }

  .box-info,
  .box-info.rank {
    margin-bottom: 25px;
  }

  .profile-image {
    margin-left: 7px;
  }

  .box-info .reflection {
    top: 3px;
  }

  .box-info.age .reflection,
  .box-info.rank .reflection {
    right: 7px;
  }

  .box-info .box-value li .digit.left.zero {
    background-position: 0 center;
  }

  .box-info .box-value .digit > div {
    padding-top: 4px;
  }

  .box-info .box-value .digit .two-row,
  .box-info .box-value.rank-description .digit .two-row {
    margin-top: 4px;
    padding-top: 0;
  }

  .box-info .box-value.rank-description .digit .two-row {
    margin-top: 0;
  }

  .box-info .box-value.rank-description .digit .medium {
    font-size: 12px;
    line-height: 20px;
  }

  .box-info .box-value.rank-description .digit .long {
    margin-left: -3px;
    height: 18px;
    font-size: 9px;
    line-height: 20px;
    white-space: nowrap;
  }

  .box-info .box-value .digit .medium.inexp {
    margin-top: 10px;
  }

  .box-info.rank .reflection,
  .box-info.rank .reflection.svg {
    width: 80px;
    right: -10px;
  }

  .box-info.age .reflection,
  .box-info.age .reflection.svg {
    width: 80px;
    right: -5px;
  }

  /* ===========================
  Icons
  =========================== */

  .row {
    margin: 0;
  }

  .icons {
    margin: 5px 0 2px 0;
  }

  .icons ul li {
    margin-right: 5px;
  }

  /* ===========================
  Buttons
  =========================== */

  .profile-container-description {
    display: none;
  }

  .buttons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 246px;

    .profile-button {
      margin-left: -1px;
      margin-bottom: -1px;
      width: 34px;
      height: 34px;
      border: 1px solid #d4d4d4;
      border-color: var(--mini-profile-buttons-border-color);
      box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 1);
      box-shadow: var(--mini-profile-buttons-shadow);
      background: #ebebeb;
      background: var(--mini-profile-buttons-bg);
      background: linear-gradient(180deg, #ebebeb 0, #ddd);
      background: var(--mini-profile-buttons-bg-gradiend);
      cursor: pointer;

      &.hidden,
      &.mobile-empty-button {
        display: none;
      }

      &:nth-child(7n+7) {
        margin-right: 0;
      }

      &:nth-child(8) {
        border-radius: 0 0 0 4px;
      }

      &:nth-child(14) {
        border-radius: 4px 0 0 0;
      }

      &:not(.profile-button-empty):hover {
        background: rgb(255, 255, 255);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
        background: var(--mini-profile-buttons-bg-gradient-hover);
      }

      $buttons-list: 'attack' 'sendMessage' 'initiateChat' 'sendMoney' 'initiateTrade' 'placeBounty' 'report' 'addToFriendList' 'addToEnemyList' 'personalStats' 'viewBazaar' 'viewDisplayCabinet' 'bust' 'bail' 'revive';
      $buttons-states: '.active' ':hover' '.disabled' '.clickable.disabled' '.clickable.disabled:hover' '.green.disabled' '.red.disabled' '.green.active' '.green.active:hover' '.red.active' '.red.active:hover' '.cross.disabled';

      .icon {
        display: inline-block;
        width: 42px;
        height: 42px;
        background: url('/images/v2/profile/profile_buttons/profile_action_icons_sprite_light.svg') 0 0 no-repeat;
        background-image: var(--mini-profile-buttons-icons);
        pointer-events: none;
      }

      svg {
        margin: -5px 0 0 -4px;
      }

      &.profile-button-empty {
        cursor: default;

        .icon {
          background-image: none;
        }
      }

      &.disabled:not(.green):not(.red):not(.clickable) {
        cursor: default;
      }

      &.cross.disabled {
        position: relative;
      }

      &.cross.disabled svg:last-child {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }

      &.disabled:not(.green):not(.red):not(.clickable):hover {
        background: rgb(235, 235, 235);
        background: linear-gradient(to bottom, rgba(235, 235, 235, 1) 0%, rgba(221, 221, 221, 1) 100%);
        background: var(--mini-profile-buttons-bg-gradient-disabled);
      }

      @for $b-index from 1 through length($buttons-list) {

        @for $s-index from 1 through length($buttons-states) {
          &.profile-button-#{nth($buttons-list, $b-index)}#{nth($buttons-states, $s-index)} .icon {
            background-position: #{42 * (1 - $b-index)}px #{42 * (1 - $s-index)}px;
          }
        }

        &.disabled {
          background: linear-gradient(to bottom, rgba(235, 235, 235, 1) 0%, rgba(221, 221, 221, 1) 100%);
          background: var(--mini-profile-buttons-bg-gradient-disabled);

          .profileButtonIcon {
            path {
              opacity: 1;
              opacity: var(--profile-buttons-clickable-disabled-opacity);
            }
          }

          &.clickable {
            background: linear-gradient(180deg, #ebebeb 0, #ddd);
            background: var(--mini-profile-buttons-bg-gradiend);

            &:hover {
              background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
              background: var(--mini-profile-buttons-bg-gradient-hover);

              .profileButtonIcon {
                path {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  /* ===========================
  Status
  =========================== */

  .profile-container {
    position: relative;
    min-height: 35px;
    border: none;
    background-repeat: no-repeat;
    background-position: 100% 90%;
    margin-bottom: 5px;

    .description {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 10px;
      right: 0;
      bottom: 0;
      left: -1px;
      height: 35px;
      line-height: 11px;
      color: #fff;
      font-size: 10px;

      .main-desc {
        font-weight: 700;
        display: block;
      }

      .sub-desc {
        display: block;
        overflow: hidden;
        font-style: italic;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &.okay[class*="loot-"] .description {
      .main-desc {
        text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
      }

      .sub-desc {
        text-shadow: 0 1px 1px rgba(0, 0, 0, .35);
      }
    }

    .description a {
      color: #fff;
      text-decoration: none;
    }

    &.okay .description {
      background: linear-gradient(to right, rgba(70, 126, 13, .4) 0%, rgba(195, 64, 21, 0) 100%);
      background: var(--profile-okay-gradient);
      filter: progid:dximagetransform.microsoft.gradient(startColorstr='#66467e0d', endColorstr='#00c34015', GradientType=1);
    }
  }

  .profile-container {
    &.okay[class*="loot-"] .description {
      background: linear-gradient(to right, rgba(217, 164, 31, .8) 0%, rgba(217, 164, 31, 0) 100%);
      background: var(--profile-npc-gradient);
      filter: progid:dximagetransform.microsoft.gradient(startColorstr='#D9A41F', endColorstr='#00c34015', GradientType=1);
    }

    &[class*="awoken"] .description {
      background: linear-gradient(90deg, #68487dcc 0%, #68487dcc 33%, #4a335900 100%);
      background: var(--profile-awoken-gradient);
    }

    &[class*="dormant"] .description {
      background: linear-gradient(90deg, #242415cc 0%, #630c 33%, #46463700 100%);
      background: var(--profile-dormant-gradient);
    }

    &.abroad .description {
      background: linear-gradient(to right, rgba(65, 130, 151, .5) 50%, rgba(65, 130, 151, 0) 100%);
      background: var(--profile-abroad-gradient);
      filter: progid:dximagetransform.microsoft.gradient(startColorstr='#80418297', endColorstr='#00418297', GradientType=1);
    }

    &.travelling .description {
      background: linear-gradient(to right, rgba(30, 163, 205, .5) 50%, rgba(30, 163, 205, 0) 100%);
      background: var(--profile-travelling-gradient);
      filter: progid:dximagetransform.microsoft.gradient(startColorstr='#801ea3cd', endColorstr='#001ea3cd', GradientType=1);
    }
  }

  .profile-container {
    &.hospital .description,
    &.jail .description {
      background: linear-gradient(to right, rgba(195, 64, 21, .5) 50%, rgba(195, 64, 21, 0) 100%);
      background: var(--profile-jail-hospital-gradient);
      filter: progid:dximagetransform.microsoft.gradient(startColorstr='#80c34015', endColorstr='#00c34015', GradientType=1);
    }

    &.federal-jail .description {
      background: linear-gradient(to right, rgba(195, 64, 21, .7) 50%, rgba(195, 64, 21, 0) 100%);
      background: var(--profile-federal-jail-gradient);
      filter: progid:dximagetransform.microsoft.gradient(startColorstr='#b3c34015', endColorstr='#00c34015', GradientType=1);
    }

    &.dead .description {
      color: #333;
      color: var(--default-color);
      background: linear-gradient(to right, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0) 100%);
      background: var(--profile-dead-gradient);
      filter: progid:dximagetransform.microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=1);
    }

    svg {
      display: block;
      position: absolute;
      top: 14px;
      left: 5px;
      width: 40px;
      height: 40px;
    }

    &[class*="loot-"] svg {
      top: 11px;
    }

    &.federal-jail svg {
      top: 15px;
    }

    &.travelling {
      &.to svg,
      &.from svg {
        top: 28px;
      }
    }

    &[class*="loot-"] .description::before {
      top: -45px;
    }

    &.jail .description::before {
      background-position: 0 0;
    }

    &.hospital .description::before {
      background-position: -50px 0;
    }

    &.federal-jail .description::before {
      background-position: -100px 0;
    }

    &.travelling .description::before {
      background-position: -150px 0;
    }

    &.okay {
      &.loot-1 .description::before {
        background: url(/images/v2/profile/user_status/user_status_icons/loot_level_icons/loot_1.svg) no-repeat;
      }

      &.loot-2 .description::before {
        background: url(/images/v2/profile/user_status/user_status_icons/loot_level_icons/loot_2.svg) no-repeat;
      }

      &.loot-3 .description::before {
        background: url(/images/v2/profile/user_status/user_status_icons/loot_level_icons/loot_3.svg) no-repeat;
      }

      &.loot-4 .description::before {
        background: url(/images/v2/profile/user_status/user_status_icons/loot_level_icons/loot_4.svg) no-repeat;
      }

      &.loot-5 .description::before {
        background: url(/images/v2/profile/user_status/user_status_icons/loot_level_icons/loot_5.svg) no-repeat;
      }

      background-image: url(/images/v2/profile/user_status/386/main/light_mode/okay.jpg);
      background-image: var(--profile-okay-bg-image);

      &[class*="loot-"] {
        background-image: url(/images/v2/profile/user_status/386/main/light_mode/npc.jpg);
        background-image: var(--profile-npc-bg-image);
      }
    }

    &.awoken1 {
      background-image: url(/images/v2/profile/user_status/maol_status/light/386/1_awoken.png);
      background-image: var(--profile-awoken1-bg-image);
    }

    &.awoken2 {
      background-image: url(/images/v2/profile/user_status/maol_status/light/386/2_awoken.png);
      background-image: var(--profile-awoken2-bg-image);
    }

    &.dormant1 {
      background-image: url(/images/v2/profile/user_status/maol_status/light/386/1_dormant.png);
      background-image: var(--profile-dormant1-bg-image);
    }

    &.dormant2 {
      background-image: url(/images/v2/profile/user_status/maol_status/light/386/2_dormant.png);
      background-image: var(--profile-dormant2-bg-image);
    }

    &.dormant3 {
      background-image: url(/images/v2/profile/user_status/maol_status/light/386/3_dormant.png);
      background-image: var(--profile-dormant3-bg-image);
    }

    &.dormant4 {
      background-image: url(/images/v2/profile/user_status/maol_status/light/386/4_dormant.png);
      background-image: var(--profile-dormant4-bg-image);
    }

    &.dormant5 {
      background-image: url(/images/v2/profile/user_status/maol_status/light/386/5_dormant.png);
      background-image: var(--profile-dormant5-bg-image);
    }

    &.hospital {
      background-image: url(/images/v2/profile/user_status/386/main/light_mode/hospital.jpg);
      background-image: var(--profile-hospital-bg-image);
    }

    &.jail {
      background-image: url(/images/v2/profile/user_status/386/main/light_mode/jail.jpg);
      background-image: var(--profile-jail-bg-image);
    }

    &.federal-jail {
      background-image: url(/images/v2/profile/user_status/386/main/light_mode/federal_jail.jpg);
      background-image: var(--profile-federal-jail-bg-image);
    }

    &.dead {
      background-image: url(/images/v2/profile/user_status/386/main/light_mode/777.jpg);
      background-image: var(--profile-dead-bg-image);
    }

    &.abroad {
      &.mexico {
        background-image: url(/images/v2/profile/user_status/386/countries/light_mode/1_mexico.jpg);
        background-image: var(--profile-abroad-mexico-bg-image);
      }

      &.canada {
        background-image: url(/images/v2/profile/user_status/386/countries/light_mode/2_canada.jpg);
        background-image: var(--profile-abroad-canada-bg-image);
      }

      &.cayman {
        background-image: url(/images/v2/profile/user_status/386/countries/light_mode/3_cayman_islands.jpg);
        background-image: var(--profile-abroad-cayman-islands-bg-image);
      }

      &.hawaii {
        background-image: url(/images/v2/profile/user_status/386/countries/light_mode/4_hawaii.jpg);
        background-image: var(--profile-abroad-hawaii-bg-image);
      }

      &.kingdom {
        background-image: url(/images/v2/profile/user_status/386/countries/light_mode/5_uk.jpg);
        background-image: var(--profile-abroad-united-kingdom-bg-image);
      }

      &.switzerland {
        background-image: url(/images/v2/profile/user_status/386/countries/light_mode/6_switzerland.jpg);
        background-image: var(--profile-abroad-switzerland-bg-image);
      }

      &.argentina {
        background-image: url(/images/v2/profile/user_status/386/countries/light_mode/7_argentina.jpg);
        background-image: var(--profile-abroad-argentina-bg-image);
      }

      &.japan {
        background-image: url(/images/v2/profile/user_status/386/countries/light_mode/8_japan.jpg);
        background-image: var(--profile-abroad-japan-bg-image);
      }

      &.china {
        background-image: url(/images/v2/profile/user_status/386/countries/light_mode/9_china.jpg);
        background-image: var(--profile-abroad-china-bg-image);
      }

      &.uae {
        background-image: url(/images/v2/profile/user_status/386/countries/light_mode/10_uae.jpg);
        background-image: var(--profile-abroad-uae-bg-image);
      }

      &.africa {
        background-image: url(/images/v2/profile/user_status/386/countries/light_mode/11_south_africa.jpg);
        background-image: var(--profile-abroad-south-africa-bg-image);
      }
    }

    &.travelling {
      &.hidden {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/12_traveling_status_hidden.jpg);
        background-image: var(--profile-travelling-hidden-bg-image);
      }

      &.to.mexico {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/1_to_mexico.jpg);
        background-image: var(--profile-travelling-to-mexico-bg-image);
      }

      &.from.mexico {
        ackground-image: url(/images/v2/profile/user_status/386/travelling/light_mode/1_from_mexico.jpg);
        background-image: var(--profile-travelling-from-mexico-bg-image);
      }

      &.to.canada {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/2_to_canada.jpg);
        background-image: var(--profile-travelling-to-canada-bg-image);
      }

      &.from.canada {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/2_from_canada.jpg);
        background-image: var(--profile-travelling-from-canada-bg-image);
      }

      &.to.cayman {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/3_to_cayman_islands.jpg);
        background-image: var(--profile-travelling-to-cayman-islands-bg-image);
      }

      &.from.cayman {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/3_from_cayman_islands.jpg);
        background-image: var(--profile-travelling-from-cayman-islands-bg-image);
      }

      &.to.hawaii {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/4_to_hawaii.jpg);
        background-image: var(--profile-travelling-to-hawaii-bg-image);
      }

      &.from.hawaii {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/4_from_hawaii.jpg);
        background-image: var(--profile-travelling-from-hawaii-bg-image);
      }

      &.to.kingdom {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/5_to_uk.jpg);
        background-image: var(--profile-travelling-to-united-kingdom-bg-image);
      }

      &.from.kingdom {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/5_from_uk.jpg);
        background-image: var(--profile-travelling-from-united-kingdom-bg-image);
      }

      &.to.switzerland {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/6_to_switzerland.jpg);
        background-image: var(--profile-travelling-to-switzerland-bg-image);
      }

      &.from.switzerland {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/6_from_switzerland.jpg);
        background-image: var(--profile-travelling-from-switzerland-bg-image);
      }

      &.to.argentina {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/7_to_argentina.jpg);
        background-image: var(--profile-travelling-to-argentina-bg-image);
      }

      &.from.argentina {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/7_from_argentina.jpg);
        background-image: var(--profile-travelling-from-argentina-bg-image);
      }

      &.to.japan {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/8_to_japan.jpg);
        background-image: var(--profile-travelling-to-japan-bg-image);
      }

      &.from.japan {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/8_from_japan.jpg);
        background-image: var(--profile-travelling-from-japan-bg-image);
      }

      &.to.china {
        ackground-image: url(/images/v2/profile/user_status/386/travelling/light_mode/9_to_china.jpg);
        background-image: var(--profile-travelling-to-china-bg-image);
      }

      &.from.china {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/9_from_china.jpg);
        background-image: var(--profile-travelling-from-china-bg-image);
      }

      &.to.uae {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/10_to_uae.jpg);
        background-image: var(--profile-travelling-to-uae-bg-image);
      }

      &.from.uae {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/10_from_uae.jpg);
        background-image: var(--profile-travelling-from-uae-bg-image);
      }

      &.to.africa {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/11_to_south_africa.jpg);
        background-image: var(--profile-travelling-to-south-africa-bg-image);
      }

      &.from.africa {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/11_from_south_africa.jpg);
        background-image: var(--profile-travelling-from-south-africa-bg-image);
      }

      &.to.private {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/private_plane_to.jpg);
        background-image: var(--profile-travelling-to-private-bg-image);
      }

      &.from.private {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/private_plane_from.jpg);
        background-image: var(--profile-travelling-from-private-bg-image);
      }

      &.to.airstrip {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/airstrip_plane_to.jpg);
        background-image: var(--profile-travelling-to-airstrip-bg-image);
      }

      &.from.airstrip {
        background-image: url(/images/v2/profile/user_status/386/travelling/light_mode/airstrip_plane_from.jpg);
        background-image: var(--profile-travelling-from-airstrip-bg-image);
      }
    }
  }

  /* ===========================
  Dialogues
  =========================== */

  .profile-buttons-dialog {
    margin: 0 auto;
  }

  .send-cash {
    margin: auto;

    .send-cash-text {
      padding: 0;
      min-height: 50px;
      line-height: 13px;
    }

    .input-wrap {
      margin-top: 8px;
    }

    .send-cash-input {
      width: 326px;
    }
  }
}

.user-icons-tooltip.user-short-description {
  line-height: 1rem;

  a {
    color: #333;
    text-decoration: none;
  }

  span {
    display: block;

    &:first-child {
      font-weight: bold;
    }
  }
}

.r .profile-mini-root {

  @media screen and (max-width: 1000px) {
    .send-cash {
      padding: 5px 5px 5px 5px;

      .send-cash-text {
        padding: 0;
        font-size: 12px;
        line-height: 14px;
      }

      .input-wrap {
        margin-top: 10px;

        .input-money-group {
          input.input-money {
            padding: 5px 5px;
            line-height: 6px;
          }
        }

        .input-money-symbol {
          line-height: 6px;
        }
      }

      .input-message-wrap {
        margin-bottom: 8px;
        padding: 0;
      }

      .send-cash-input {
        width: 343px;
      }

      .send-cash-message-input {
        height: 26px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .send-cash {
      .send-cash-text {
        padding: 0;
        font-size: 10px;
        line-height: 12px;
      }

      .input-wrap {
        margin-top: 8px;
      }

      .send-cash-input {
        width: 196px;
      }
    }
  }
}
