$image-width: 143px;
$image-height: 198px;

.wrapper {
  position: absolute;
  z-index: 999991;
  display: flex;
  padding: 4px;
  width: 393px;
  min-height: 215px;
  max-height: 243px;
  border: 1px solid #fff;
  border: var(--mini-profile-border);
  border-radius: 10px;
  box-shadow: 1px 1px 2px #25252573;
  box-shadow: var(--mini-profile-box-shadow);
  background: #f2f2f2 0 0 no-repeat;
  background-color: var(--tooltip-bg-color);

  @at-root :global(.recentHistory) & {
    z-index: 999999;
  }

  &:not(.increaseZIndex) {

    @at-root :global {
      .ToolTipPortal > div {
        z-index: 99999 !important;
      }
    }
  }

  &.increaseZIndex {
    z-index: 999999;

    @at-root :global {
      .ToolTipPortal {
        & > div {
          z-index: 999999 !important;
        }
      }
    }
  }

  .arrow {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
  }

  &.top {
    .arrow {
      bottom: -8px;
      border-top: 8px solid #f2f2f2;
      border-top-color: var(--tooltip-bg-color);
      filter: drop-shadow(0 2px 1px rgba(37, 37, 37, .3));
    }
  }

  &.bottom {
    .arrow {
      top: -8px;
      border-bottom: 8px solid #f2f2f2;
      border-bottom-color: var(--tooltip-bg-color);
      filter: drop-shadow(0 -1px 0 #fff);
      filter: var(--mini-profile-arrow-filter);
    }
  }

  .userNameWrapper {
    flex: none;
    justify-content: center;
    padding: 0 0 5px 0;
    width: auto;
  }

  .userImageWrapper {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-right: 4px;
    width: $image-width;
    height: $image-height;
    overflow: hidden;
    border-radius: 5px;

    .userImageLink {
      display: block;
      max-width: $image-width;
      max-height: $image-height;

      .userImage {
        max-width: $image-width;
        max-height: $image-height;
      }
    }
  }

  .userProfileWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    .userInfoWrapper {
      display: flex;
      height: 40px;
    }
  }
}

@media screen and (max-width: 600px) {
  :global(.r) {
    .wrapper {
      width: 246px;

      .userImageWrapper {
        display: none;
      }
    }
  }
}
