
.legend-container {
  position: absolute;
  top: 30px;
  left: 77px;
  z-index: 8;

  span {
    display: inline-block;
    margin: 0 auto;
  }

  .legendLabel {
    padding: 0 20px 0 5px;
    text-align: left;
    vertical-align: middle;
  }
}

.label-vertical {
  transform: rotate(270deg);
  transform-origin: 0 0;
  position: relative;
  top: 148px;
  left: 10px;
}

.label-horizontal {
  text-align: center;

  span {
    display: inline-block;
    margin: 0 auto;
  }
}

.chart-button-container {
  display: flex;
  padding: 18px;
  min-height: 40px;
  border-top: 1px solid #ccc;
  background: #fff;
}

.button-chart-title-holder {
  display: flex;
  align-items: center;
  max-width: 80px;
  height: 40px;
  color: #666659;
  line-height: 1.5;
}

.button-white-box {
  height: 34px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
  background: linear-gradient(to bottom, #fff 0%, #e4e4e4 100%);
}

.new-chart-button {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 140px;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
  max-width: 200px;
  color: #79796a;
  font-family: inherit;
  cursor: pointer;
  user-select: none;
  transition: color .3s ease-out;

  &::before {
    content: '';
    display: inline-block;
    width: 34px;
    height: 32px;
    background: url(/images/v2/2sef32sdfr422svbfr2/crimes/admin/icons/create_new_outcome.png) left center no-repeat;
    vertical-align: middle;
    cursor: pointer;
  }

  &:hover {
    border: 1px solid #f9f9f2;

    &::before {
      background-position: right center;
    }
  }

  .label {
    line-height: 28px;
    vertical-align: bottom;
  }
}

.new-chart-button--active {
  border: 1px solid #f9f9f2;

  &::before {
    background-position: right center;
  }
}

.new-chart-button--disabled {
  color: #cecebf;
  pointer-events: none;
}
