.confirmDialogWrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(white, .6);
}

.confirmDialog {
  background: #f2f2f2;
  padding: 20px 40px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;
}

.buttons {
  margin-top: 10px;
}
