.d .user-profile {

  .loading .profile-preloader-wrap {
    display: block;
  }

  .profile-preloader-wrap {
    position: relative;
    display: block;

    .preloader-fountain {
        position: absolute;
        width: 55px;
        height: 14px;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .fountainG {
        display: inline-block;
        position: static;
        background-color: rgb(0,0,0);
        width: 10px;
        height: 10px;
        animation-name:bounce_fountainG;
        -o-animation-name:bounce_fountainG;
        -webkit-animation-name:bounce_fountainG;
        animation-duration:.3s;
        -webkit-animation-duration:.3s;
        animation-iteration-count:infinite;
        -o-animation-iteration-count:infinite;
        -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
        animation-direction:normal;
        -o-animation-direction:normal;
        -webkit-animation-direction:normal;
        -moz-animation-direction:normal;
        transform:scale(.3);
        -webkit-transform:scale(.3);
        border-radius:9px;
        margin-left: -3px;
    }

    .fountainG_1 {
        margin-left: 0;
        animation-delay:0s;
        -webkit-animation-delay:0s;
    }

    .fountainG_2 {
        animation-delay:0.075s;
        -webkit-animation-delay:0.075s;
    }

    .fountainG_3 {
        animation-delay:0.15s;
        -webkit-animation-delay:0.15s;
    }

    .fountainG_4 {
        animation-delay:0.225s;
        -webkit-animation-delay:0.225s;
    }

    @keyframes bounce_fountainG {
        0% {
            transform:scale(.7);
            background-color:rgb(0,0,0);
        }
        100% {
            transform:scale(.3);
            background-color:rgb(100,100,100);
        }
    }


    @-webkit-keyframes bounce_fountainG {
        0% {
            -webkit-transform:scale(.7);
            background-color:rgb(0,0,0);
        }

        100% {
            -webkit-transform:scale(.3);
            background-color:rgb(50,50,50);
        }
    }
  }
}
