@import '../../../../styles/constants';

.iconWrapper {
  padding: 4px;
  border: none;
  box-shadow: none;
  background: none;
  cursor: pointer;

  &[disabled] {
    pointer-events: none;
  }

  svg {

  }
}

:global(.dark-mode) {
  .iconWrapper {
    svg {
      filter: none;
    }
  }
}
