@import '../../styles/glob.cssmodule.scss';

.invitesContainer {
  composes: wrapper;
  display: block;
  padding-top: 10px;

  // @media #{$screen-desktop} {
  //   width: 976px;
  // }
  // @media #{$screen-tablet} {
  //   width: 578px;
  // }
  // @media #{$screen-mobile} {
  //   width: 320px;
  // }
}
