.d .ct-wrap.ct-admin-wrap {
  display: table;
  max-width: 976px;
  margin-bottom: 20px;
  background: #fff;
  background: var(--ct-panel-bg);
}

.d .ct-admin-wrap input:disabled,
.d .ct-admin-wrap textarea:disabled {
  background: linear-gradient(180deg, #e4e4e4 0, #f2f2f2);
  background: var(--ct-editor-input-bg-disabled);
}

.d .ct-admin-wrap input::placeholder,
.d .ct-admin-wrap textarea::placeholder {
  color: #ccc;
  color: var(--ct-editor-input-font-color-disabled);
}

.d .ct-admin-wrap.overlayActive {
  position: relative;
}

.d .ct-admin-wrap.fullscreen-mode {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  z-index: 1000000;
}

.d .ct-admin-wrap .map-container,
.d .ct-admin-wrap .editor-container {
  display: table-cell;
  min-width: 629px;
}

.d .ct-admin-wrap.fullscreen-mode .map-container {
  display: table;
  min-width: 100%;
  max-height: calc(100vh - 80px);
}

.d .ct-admin-wrap.fullscreen-mode .map-container:after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 5px;
  background: linear-gradient(180deg, #fff, #e0edf3 99%);
  background: var(--ct-title-bg);
  outline: 1px solid #bfd0d8;
  outline-color: var(--ct-map-editor-primary-section-divider-color);
}

.d .ct-admin-wrap .title-wrap {
  height: 34px;
  box-shadow: var(--ct-section-inner-left-shadow);
}

.d .ct-admin-wrap .editor-container .editor-content {
  box-shadow: var(--ct-section-inner-top-shadow);
}

.d .ct-admin-wrap .map-container .title-wrap,
.d .ct-admin-wrap .editor-container .title-wrap {
  padding: 0 10px;
}

.d .ct-admin-wrap .map-container .title-wrap {
  padding-right: 0;
}

.d .ct-admin-wrap.fullscreen-mode .map-container .title-wrap {
  border-radius: unset;
}

.d .ct-admin-wrap .map-container .ct-map {
  height: 630px;
  background: url('/images/v2/christmas_town/snow.jpg') left top repeat;
}

.d .ct-admin-wrap .map-container .info-container:before,
.d .ct-admin-wrap .map-container .map-overview:after,
.d .ct-admin-wrap .map-container .coordinates:after {
  content: '';
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .2);
  z-index: 99;
  display: none;
  display: var(--ct-overlay-display);
}

.d .ct-admin-wrap.fullscreen-mode .map-container .ct-map {
  height: calc(100vh - 80px);
  background: url('/images/v2/christmas_town/snow.jpg') left top repeat;
}

.d .ct-admin-wrap .map-container .info-container {
  position: relative;
  z-index: 99;
  padding-left: 10px;
  background-color: #f9f9f9;
}

.d .ct-admin-wrap .map-container .info-container:after {
  content: '';
  display: block;
  clear: both;
}

.d .ct-admin-wrap.fullscreen-mode .map-container .info-container {
  background: linear-gradient(0deg, #fff, #e0edf3 99%);
  max-width: calc(100% - 41px);
}

.d .ct-admin-wrap.fullscreen-mode .map-container .info-container.open-panel {
  max-width: calc(100% - 392px);
}

.d .ct-admin-wrap .map-container .info-container .info-text {
  max-width: 440px;
  float: left;
  color: #858585;
  line-height: 29px;
}

.d .ct-admin-wrap .map-container .info-container .info-text a {
  color: #0a9dcd;
  text-decoration: none;
}

.d .ct-admin-wrap .map-container .info-container .actions {
  float: right;

}

.d .ct-admin-wrap .map-container .info-container .actions i {
  margin-top: 1px;
}

.d .ct-admin-wrap .coordinates-input {
  margin-top: 5px;
  padding: 0;
  width: 34px;
  height: 17px;
  border: 1px solid #ccc;
  color: #999;
  font-family: "Fjalla One";
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  vertical-align: top;
}

.d .ct-admin-wrap.fullscreen-mode .coordinates-input {
  margin-top: 5px;
}

.d .ct-admin-wrap .coordinates-input-label {
  display: inline-block;
  margin: 0 5px;
  color: #666;
}

.d .ct-admin-wrap .title-wrap .text,
.d .ct-admin-wrap .title-wrap .status {
  font-size: 14px;
  line-height: 35px;
}

.d .ct-admin-wrap .title-wrap .status {
  padding-right: 10px;
  font-size: 12px;
}

.d .ct-admin-wrap .title-wrap .status.error {
  color: #eb8766;
}

.d .ct-admin-wrap .title-wrap .history,
.d .ct-admin-wrap .title-wrap .backups {
  position: relative;
  padding: 0;
  width: 34px;
  height: 34px;
  cursor: pointer;
  border: none;
  background: inherit;
}

.d .ct-admin-wrap .title-wrap .history.disable,
.d .ct-admin-wrap .title-wrap .backups.disable {
  cursor: default;
  opacity: .4;
}

.d .ct-admin-wrap .title-wrap .history::before,
.d .ct-admin-wrap .title-wrap .history::after,
.d .ct-admin-wrap .title-wrap .backups::before,
.d .ct-admin-wrap .title-wrap .backups::after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 1px;
  height: 34px;
}

.d .ct-admin-wrap .title-wrap .history.active,
.d .ct-admin-wrap .title-wrap .backups.active {
  background: linear-gradient(to bottom, #ddf7ff 0%, #ddd 99%);
}

.d .ct-admin-wrap .title-wrap .history::before,
.d .ct-admin-wrap .title-wrap .backups::before {
  left: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
}

.d .ct-admin-wrap .title-wrap .history::after,
.d .ct-admin-wrap .title-wrap .backups::after {
  left: 0;
  background: linear-gradient(to bottom, rgba(181, 208, 216, 0) 0%, #b5d0d8 35%, #b5d0d8 65%, rgba(181, 208, 216, 0) 100%);
}

.d .ct-admin-wrap .tools-container {
  position: relative;
  display: table-cell;
  width: 346px;
  border-left: 1px solid #bfd0d8;
  border-left-color: var(--ct-map-editor-primary-section-divider-color);
  vertical-align: top;
}

.d .ct-admin-wrap.fullscreen-mode .tools-container {
  position: absolute;
  right: 31px;
  height: calc(100vh - 80px);
  top: 34px;
  width: 350px;
  z-index: 99;
}

.d .ct-admin-wrap.fullscreen-mode .tools-container.blocking-tools {
  height: 305px;
}

.d .ct-admin-wrap.fullscreen-mode .tools-container.blocking-tools:after {
  content: "";
  position: relative;
  display: block;
  width: 350px;
  height: 5px;
  background: linear-gradient(180deg, #fff 0, #e0edf3 99%);
  background: var(--ct-title-bg);
  outline: 1px solid #bfd0d8;
  outline-color: var(--ct-map-editor-primary-section-divider-color);
}

.d .ct-admin-wrap .half-highlight {
  background-color: rgba(235, 223, 2, .25);
}

@keyframes flashing {
  0%, 100% {
    background-color: rgb(255, 253, 2);
  }

  50% {
    background-color: rgba(255, 253, 2, .45);
  }
}

.d .ct-admin-wrap .full-highlight {
  animation: flashing 1.5s infinite;
}

.d .tools-container .tab {
  position: relative;
  box-sizing: content-box;
  display: block;
  padding: 0 9px 0 9px;
  height: 34px;
  float: left;
  border: none;
  background: inherit;
  color: #668fa3;
  font-family: "Fjalla One", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 35px;
  cursor: pointer;
  text-align: left;
}

.d .tools-container .tab.layers {
  padding: 0;
  width: 34px;
}

.d .tools-container .tab.layers.disable {
  opacity: .4;
  cursor: default;
}

.d .tools-container .tab.active {
  background: rgb(221, 247, 255);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZjdmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(221, 247, 255, 1) 0%, rgba(221, 221, 221, 1) 99%);
  background: -webkit-linear-gradient(top, rgba(221, 247, 255, 1) 0%, rgba(221, 221, 221, 1) 99%);
  background: linear-gradient(to bottom, rgba(221, 247, 255, 1) 0%, rgba(221, 221, 221, 1) 99%);
}

.d .tools-container .tab::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1px;
  height: 34px;
  background: linear-gradient(to bottom, rgba(181, 208, 216, 0) 0%, rgba(181, 208, 216, 1) 35%, rgba(181, 208, 216, 1) 65%, rgba(181, 208, 216, 0) 100%);
}

.d .tools-container .tab.objects::after {
  display: none;
}

.d .tools-container .tab:last-child {
  border-top-right-radius: 5px;
}

.d .tools-container .tab.active:first-child::before,
.d .tools-container .tab.active:first-child::after {
  display: none;
}

.d .tools-container {
  border-top-right-radius: 5px;
  background-color: #fff;
}

.d .tools-container.blocking,
.d .tools-container.npc,
.d .tools-container.areas,
.d .tools-container.history,
.d .tools-container.backups,
.d .tools-container.parameters {
  background-color: #fff;
  background-color: var(--ct-panel-bg);
}

.d .tools-container .title-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 345px;
}

.d .tools-container .title-wrap .text {
  padding-left: 10px;
}

.d .fullscreen-mode .tools-container .title-wrap {
  width: 350px;
  line-height: 31px;
  height: 30px;
  border-top-right-radius: unset;
  border-top: 1px solid #bfd0d8;
  border-top-color: var(--ct-map-editor-primary-section-divider-color);
}

.d .fullscreen-mode .tools-container .title-wrap svg {
  float: left;
  padding-top: 2px;
  fill: #7fa1b2;
  fill: var(--ct-map-editor-tab-button-color);
  filter: var(--ct-icon-filter);
}

.d .fullscreen-mode .tools-container .title-wrap ul > li {
  display: inline-block;
  width: 50%;
}

.d .fullscreen-mode .tools-container .title-wrap ul li:first-child:after {
  content: "";
  float: right;
  display: block;
  width: 1px;
  height: 34px;
  background: linear-gradient(90deg, rgba(181, 208, 216, 0) 0, #b5d0d8 35%, #b5d0d8 65%, rgba(181, 208, 216, 0));
}

.d .tools-container .scrollarea .scrollbar-container.vertical,
.d .tools-container .scrollarea:hover .scrollbar-container,
.d .scrollarea .scrollbar-container.active,
.d .scrollarea .scrollbar-container:hover {
  width: 4px;
  display: none;
  opacity: 1 !important;
}

.d .tools-container .layers-container .scrollarea .scrollbar-container.vertical,
.d .tools-container .layers-container .scrollarea:hover .scrollbar-container,
.d .layers-container .scrollarea .scrollbar-container.active,
.d .layers-container .scrollarea .scrollbar-container:hover {
  background-color: initial;
}

.d .tools-container .scrollarea .scrollbar-container.vertical .scrollbar,
.d .tools-container .scrollarea:hover .scrollbar-container.vertical .scrollbar,
.d .scrollarea .scrollbar-container.active .scrollbar,
.d .scrollarea .scrollbar-container:hover .scrollbar {
  box-sizing: border-box;
  margin-left: 1px;
  width: 4px;
  outline: 1px solid #eee;
  background-color: #999;
}

.d .scrollarea .scrollbar-container.active,
.d .scrollarea .scrollbar-container:hover {
  background-color: unset;
}

.d .tools-container .objects-container .filter-wrap {
  border-bottom: 1px solid #bfd0d8;
}

.d .tools-container .filter-wrap {
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #bfd0d8;
  border-bottom-color: var(--ct-map-editor-secondary-section-divider);
}

.d .fullscreen-mode .tools-container .filter-wrap {
  padding: 0 0 10px 10px;
}

.d .fullscreen-mode .tools-container.areas .filter-wrap,
.d .fullscreen-mode .tools-container.npc .filter-wrap,
.d .fullscreen-mode .tools-container.objects .filter-wrap,
.d .fullscreen-mode .tools-container.parameters .filter-wrap {
  padding-top: 10px;
}

.d .objects-container .filter-wrap {
  min-height: 34px;
}

.d .objects-container .objects.snow,
.d .fullscreen-mode .objects-container .objects.snow .scroll-area {
  background: url('/images/v2/christmas_town/snow.jpg') 0 0 repeat;
}

.d .objects-container .objects.asphalt,
.d .fullscreen-mode .objects-container .objects.asphalt .scroll-area {
  background: url('/images/v2/christmas_town/asphalt.png') 0 0 repeat;
}

.d .layers-container,
.d .blocking-container {
  width: 345px;
}

.d .fullscreen-mode .layers-container,
.d .fullscreen-mode .areas-container,
.d .fullscreen-mode .objects-container,
.d .fullscreen-mode .history-container {
  width: 350px;
  min-width: 100%;
  min-height: 100%;
}

.d .fullscreen-mode .areas-container {
  min-height: calc(100% - 93px);
}

.d .fullscreen-mode .layers-container {
  position: absolute;
  width: 100%;
  height: calc(100% - 62px);
}

.d .parameters-container input.filter-parameters {
  width: 280px;
  border-radius: 5px;
  color: #999;
  color: var(--ct-editor-input-font-color);
  font-family: "Fjalla One", sans-serif;
  font-size: 12px;
  background: var(--ct-editor-input-bg);
}

.d .parameters-container .scroll-area {
  position: absolute;
  top: 90px;
  right: 0;
  bottom: 0;
  width: 345px;
  box-shadow: var(--ct-section-inner-left-shadow);
}

.d .parameters-container.npc .scroll-area {
  top: 119px;
}

.d .parameters-container.library .scroll-area {
  top: 123px;
  box-shadow: var(--ct-section-inner-left-shadow);
}

.d .parameters-container.library.npc .scroll-area {
  top: 150px;
}

.d .fullscreen-mode .parameters-container .scroll-area {
  width: 350px;
}

.d .parameters-list {
  position: relative;
  border-bottom: 1px solid #eee;
  border-bottom-color: var(--ct-editor-library-content-divider);
}

.d .parameters-list:last-of-type {
  border-bottom: 0;
}

.d .fullscreen-mode .parameters-list:last-of-type {
  border-bottom: 1px solid #eee;
  border-bottom-color: var(--ct-editor-library-content-divider);
}

.d .parameters-list > li {
  position: relative;
  z-index: 12;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.d .parameters-list > li:hover,
.d .parameters-list > li.selected {
  background-color: #f5f5f5;
  background-color: var(--ct-editor-library-list-item-bg-hover);
}

.d .parameters-list > li::before,
.d .parameters-list > li::after {
  content: "";
  display: table;
}

.d .parameters-list > li::after {
  clear: both;
}

.d .parameters-list > li .quantity,
.d .parameters-list > li .code,
.d .parameters-list > li .name {
  float: left;
  font-size: 12px;
  line-height: 34px;
  text-align: center;
}

.d .parameters-list > li.category {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 10;
  color: #999;
  color: var(--ct-editor-category-font-color);
}

.d .parameters-list > li .quantity {
  padding: 0 7px;
  width: 21px;
  border-right: 1px solid #eee;
  border-right-color: var(--ct-editor-library-content-divider);
  color: #aaa;
  color: var(--ct-editor-quantity-font-color);
  text-align: right;
}

.d .parameters-list > li .code {
  width: 38px;
  overflow: hidden;
  border-right: 1px solid #eee;
  border-right-color: var(--ct-editor-library-content-divider);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.d .npc .parameters-list > li .code svg {
  vertical-align: middle;
}

.d .parameters-list > li .name {
  padding-left: 10px;
  width: 160px;
  overflow: hidden;
  color: #858585;
  color: var(--ct-editor-default-library-font-color);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.d .parameters-list > li .actions-wrapper {
  opacity: 0;
  pointer-events: none;
  float: right;
}

.d .parameters-list > li .actions-wrapper .action-button {
  margin-top: 8px;
  margin-right: 15px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.d .parameters-list > li .actions-wrapper .action-button svg {
  fill: #bbb;
  fill: var(--ct-editor-library-action-button-color);
  filter: var(--ct-editor-default-icon-filter);
  vertical-align: middle;
}

.d .parameters-list > li .actions-wrapper .action-button:hover svg {
  fill: #999;
  fill: var(--ct-editor-library-action-button-color-hover);
}

.d .parameters-list > li:hover .actions-wrapper {
  opacity: 1;
  pointer-events: all;
}

.d .parameters .category-name {
  display: inline-block;
  margin-right: 10px;
  float: right;
  line-height: 34px;
  text-align: right;
}

/* Parameters Editor */

.d .editor-container textarea {
  padding: 10px;
  min-height: 53px;
  width: 467px;
  float: left;
  border: 1px solid #ddd;
  border-color: var(--ct-default-input-border-color);
  color: #999;
  color: var(--ct-editor-input-font-color);
  border-radius: 5px;
  resize: none;
  background: var(--ct-editor-input-bg);
}

.d .editor-container .disabled {
  color: #ccc !important;
  color: var(--ct-editor-secondary-button-color-disabled) !important;
  pointer-events: none;
}

.d .editor-container .disabled svg,
.d .editor-container .add-text.disabled svg {
  fill: #ccc;
  fill: var(--ct-editor-secondary-button-color-disabled);
}

.d .event-fields-container .right-block {
  margin-left: 10px;
  width: 110px;
  float: right;
}

.d .event-fields-container .right-block .remove {
  display: inline-block;
  margin-left: 8px;
  color: #0a9dcd;
  cursor: pointer;
}


.d .event-fields-container .right-block .remove svg {
  margin-right: 5px;
}

.d .event-fields-container .right-block .remove:hover {
  color: #107fcf;
}

.d .event-fields-container .right-block .remove:hover svg {
  fill: #107fcf;
}

.d .editor-container .editor-content {
  position: relative;
  padding-top: 10px;
  min-height: 630px;
  background-color: #fff;
  background-color: var(--ct-panel-bg);
}

.d .editor-container .dropdown {
  padding-top: 9px;
  width: 153px;
  height: 23px;
  float: left;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
}

.d .editor-container .main-options {
  display: flex;
  padding-left: 10px;
}

.d .editor-container .main-options .react-dropdown-default,
.d .editor-container .main-options input.name,
.d .editor-container .main-options input.code,
.d .editor-container .main-options input.chance,
.d .editor-container .main-options .colorpicker {
  display: inline-block;
  vertical-align: middle;
}

.d .editor-container.parameter-editor .main-options .react-dropdown-default {
  height: 34px;
}

.d .editor-container .main-options input.name {
  margin-left: 8px;
  width: 180px;
}

.d .editor-container input.code,
.d .editor-container input.chance {
  padding: 0;
  width: 41px;
  text-align: center;
}

.d .editor-container .main-options input.code,
.d .editor-container .main-options input.chance {
  margin-left: 8px;
  padding: 0;
  width: 41px;
  text-align: center;
}

.d .ct-admin-wrap .colorpicker {
  width: 181px;
}

.d .ct-admin-wrap .objects-container .colorpicker {
  display: inline-block;
  width: 170px;
  vertical-align: middle;
}

.d .colorpicker input[type="radio"] {
  display: none;
}

.d .colorpicker > li,
.d .colorpicker input[type="radio"] + label {
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}

.d .colorpicker > li {
  margin-right: 3px;
  margin-bottom: -3px;
  width: 17px;
  height: 17px;
}

.d .colorpicker > li.last-in-row + li {
  margin-left: 11px;
}

.d .colorpicker input[type="radio"] + label {
  width: 13px;
  height: 13px;
}

.d .colorpicker > li.selected input[type="radio"] + label {
  margin: -1px;
  width: 15px;
  height: 15px;
  border-color: #fff;
  border-color: var(--ct-editor-color-picker-border-color-selected);
}

.d .ct-admin-wrap .event-fields-container {
  margin-top: 20px;
  padding: 0 10px 20px;
  border-bottom: 1px solid #eee;
}

.d .ct-admin-wrap .event-fields-container:first-child {
  margin-top: 10px;
}

.d .ct-admin-wrap .main-options + .event-fields-container {
  margin-top: 20px;
}

.d .editor-container .event-fields-container .react-dropdown-default {
  margin-top: 8px;
  width: 108px;
}

.d .editor-container .event-fields-container .reason {
  margin-top: 10px;
  width: 467px;
  float: left;
}

.d .editor-container .event-fields-container .time {
  margin-top: 10px;
  padding: 0 10px;
  width: 88px;
  text-align: center;
}

.d .ct-admin-wrap .footer-container {
  padding: 0 10px 10px;
}

.d .ct-admin-wrap .footer-container .cancel {
  margin-left: 7px;
}

.d .ct-admin-wrap .footer-container .choice-container {
  display: inline-block;
  margin: 0 10px;
  color: #777;
  color: var(--ct-editor-checkbox-color);
}

.d .ct-admin-wrap .footer-container .dropdown {
  margin: 20px 0;
  float: none;
}

.d .editor-container .add-text {
  display: inline-block;
  color: #0a9dcd;
  color: var(--ct-secondary-button-color);
  cursor: pointer;
}

.d .editor-container .add-text svg {
  margin-right: 8px;
  fill: #0a9dcd;
  fill: var(--ct-secondary-button-color);
  filter: var(--ct-editor-default-icon-filter);
}

.d .editor-container .add-text:hover {
  color: #107fcf;
  color: var(--ct-secondary-button-color-hover);
}

.d .editor-container .add-text:hover svg {
  fill: #107fcf;
  fill: var(--ct-secondary-button-color-hover);
}

.d .parameter-editor-info-msg {
  padding: 30px 60px 0;
  text-align: center;
}

.d .parameter-editor-info-msg h3 {
  color: #6cb413;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
}

.d .remove-confirmation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  background-color: var(--ct-panel-bg);
}

.d .remove-confirmation .link-blue {
  font-size: 14px;
}

.d .save-cancel-container {
  margin-top: 18px;
}

/* Backups */
.d .tools-container .backups-container .scroll-area {
  height: 569px;
}

/* History */

.d .tools-container .history-container .scroll-area,
.d .tools-container .layers-container .scroll-area {
  height: 600px;
}

.d .tools-container .history-container .scrollarea .scrollbar-container.vertical {
  background-color: unset;
}

.d .tools-container .layers-container .scrollarea {
  background: url(/images/v2/christmas_town/snow.jpg) left top repeat;
}

.d .fullscreen-mode .tools-container .layers-container .scrollarea {
  position: absolute;
  width: 100%;
  height: calc(100% - 62px);
}

.d .tools-container .layers-container .scrollarea .scrollarea-content {
  border-bottom: 1px solid #bfd0d8;
}

/* Objects Library */

.d .tools-container .objects-container .filter-wrap .react-dropdown-default {
  display: inline-block;
  width: 186px;
}

.d .tools-container .objects-container .filter-wrap .choice-container {
  margin: 10px 10px 0;
  float: right;
  color: #777;
}

.d .tools-container .objects-container .filter-wrap .edit-icon {
  margin: 5px 10px 0 0;
  float: right;
  opacity: .6;
}

.d .tools-container .objects-container .filter-wrap .parse {
  margin: 3px 5px 0 0;
  padding: 0 6px;
  float: right;
}

.d .tools-container .objects-container .filter-wrap .edit-icon.active {
  opacity: 1;
}

.d .tools-container .objects-container .scroll-area {
  height: 503px;
}

.d .tools-container .areas-container .scroll-area {
  height: 541px;
}

.d .ct-admin-wrap.fullscreen-mode .tools-container .objects-container .objects .scroll-area,
.d .ct-admin-wrap.fullscreen-mode .tools-container .history-container .scroll-area,
.d .ct-admin-wrap.fullscreen-mode .tools-container .areas-container .scroll-area,
.d .ct-admin-wrap.fullscreen-mode .tools-container .backups-container .scroll-area {
  position: absolute;
  width: 100%;
  height: calc(100% - 30px);
}

.d .ct-admin-wrap.fullscreen-mode .tools-container .areas-container .scroll-area {
  height: calc(100% - 126px);
}

.d .ct-admin-wrap.fullscreen-mode .tools-container .objects-container .objects .scroll-area {
  height: calc(100% - 164px);
}

@-moz-document url-prefix() {
  .d .ct-admin-wrap.fullscreen-mode .tools-container .objects-container .objects .scroll-area {
    height: calc(100% - 158px);
  }

  .d .tools-container .objects-container .scroll-area {
    height: 509px;
  }
}

.d .ct-admin-wrap.fullscreen-mode .tools-container .backups-container .scroll-area {
  height: calc(100% - 92px);
}

.d .tools-container .objects-container .scrollarea-content {
  position: relative;
  width: 342px;
}

.d .tools-container .objects-container .objects-list {
  padding-top: 30px;
  min-height: 567px;
  width: 360px;
  background: url('/images/v2/christmas_town/map_grid.png') left top repeat;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.d .fullscreen-mode .tools-container .objects-container .filter-wrap {
  background-color: #fff;
}

.d .tools-container .objects-container .objects-list .object-library-item {
  position: absolute;
  width: 0;
  height: 0;
}

.d .tools-container .objects-container .objects-list .ct-object {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.d .tools-container .objects-container .objects-list .ct-object:hover,
.d .tools-container .objects-container .objects-list .ct-object.inexpressive {
  background-color: rgba(10, 157, 205, .15);
}

.d .tools-container .objects-container .objects-list .ct-object.selected {
  opacity: .5;
}

.d .tools-container .objects-container .objects-list .ct-object.inexpressive i {
  background-color: #000;
}

.d .tools-container .objects-container .objects-list .quantity {
  position: absolute;
  top: -30px;
  left: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #999;
  font-size: 10px;
  line-height: 32px;
  text-align: center;
  vertical-align: top;
}

.d .saving-icon {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url('/images/v2/christmas_town/admin/saving_icon.png') 0 0 no-repeat;
}

.d .ct-admin-wrap .title-wrap .saving-icon {
  top: 8px;
  -webkit-animation: loading 1s linear 0s infinite normal;
  animation: loading 1s linear 0s infinite normal;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* MAP */

.d .ct-admin-wrap .map-overview {
  position: relative;
  top: 0;
  width: 630px;
  height: 601px;
  overflow: hidden;
}

.d .ct-admin-wrap.fullscreen-mode .map-overview,
.d .ct-admin-wrap.fullscreen-mode .admin-map {
  width: 100%;
  height: calc(100vh - 80px);
}

.d .ct-admin-wrap .map-overview .world {
  position: absolute;
  top: 0;
  left: 0;
  width: 10020px;
  height: 10020px;
}

.d .ct-admin-wrap .map-overview .grid-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
}

.d .cell-pointer {
  position: absolute;
  top: -100px;
  left: -100px;
  z-index: 1000;
  width: 30px;
  height: 30px;
  background-color: rgba(38, 201, 255, .1);
}

.d .cell-pointer .parameter-cell-pointer {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.d .parameter-layer-item {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.d .parameter-layer-item.selected {
  z-index: 240;
  background-color: rgba(38, 201, 255, .1);
}

.d .parameter-layer-item .radius {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 0;
  background: rgba(108, 124, 192, .1);
  pointer-events: none;
}

.d .parameters-layer {
  position: absolute;
  z-index: 220;
}

.d .tab-areas .parameters-layer,
.d .tab-history .parameters-layer,
.d .tab-npc .parameters-layer,
.d .tab-blocking .parameters-layer,
.d .tab-objects .parameters-layer,
.d .tab-layers .parameters-layer {
  opacity: .5;
}

.d .ct-admin-wrap .objects-layer {
  position: absolute;
  z-index: 200;
}

.d .negative-coordinates {
  position: relative;
  top: 5010px;
  width: 100%;
  height: 0;
}

.d .substrate-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url('/images/v2/christmas_town/map_grid.png') left top repeat,
  url('/images/v2/christmas_town/snow.jpg') left top repeat;
}

.d .delete-parameter-icon {
  position: absolute;
  top: -8px;
  right: -8px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('/images/v2/christmas_town/delete.png') left top no-repeat;
  cursor: pointer;
}

.d .delete-parameter-icon:hover {
  background-position: right top;
}

.d .coordinates .coordinates-x {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 10020px;
}

.d .fullscreen-mode .coordinates .coordinates-x {
  width: 100%;
}

.d .coordinates {
  position: relative;
}

.d .coordinates .coordinates-x > li {
  width: 30px;
  height: 30px;
  float: left;
  background: url('/images/v2/christmas_town/map_grid.png') 0 -1px repeat, #f0f0f0;
  color: #666;
  line-height: 32px;
  text-align: center;
}

.d .coordinates .coordinates-x > li:last-child {
  opacity: .5;
}

.d .fullscreen-mode .coordinates .coordinates-y-wrap {
  height: calc(100vh - 112px);
}

.d .coordinates .coordinates-y-wrap {
  position: absolute;
  top: 0;
  z-index: 22;
  width: 30px;;
  height: 600px;
  overflow: hidden;
}

.d .coordinates .coordinates-y {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}

.d .coordinates .coordinates-y > li {
  display: block;
  width: 30px;
  height: 30px;
  background: url('/images/v2/christmas_town/map_grid.png') -1px 0 repeat, #f0f0f0;
  color: #666;
  line-height: 32px;
  text-align: center;
}

.d .admin-map {
  width: 630px;
  height: 630px;
  overflow: hidden;
}

.d .objects-layer .ct-object {
  cursor: pointer;
}

.d .objects-layer .ct-object.selected {
  z-index: 1000;
  pointer-events: none;
}

.d .objects-layer .ct-object.selected.single {

  /*box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);*/
}

.d .objects-layer .ct-object.top-level {
  z-index: 300;
}

.d .objects-layer .ct-object:not(.selected):hover {
  box-shadow: 0 0 0 1px rgb(0, 190, 251);
}

.d .objects-layer .ct-object.selected img {
  opacity: 0;
}

.d .range-wrap {
  padding: 10px 10px 0 0;
  color: #858585;
}

.d .range-wrap .range-slider {
  width: 190px;
}

.d .range-wrap .range-slider .rc-slider-handle {
  margin-top: -3px;
  margin-left: 0;
  width: 1px;
  height: 7px;
  border: 0;
  background-color: #ccc;
}

.d .range-wrap .range-slider .rc-slider-handle-lower::before,
.d .range-wrap .range-slider .rc-slider-handle-lower::after,
.d .range-wrap .range-slider .rc-slider-handle-upper::before,
.d .range-wrap .range-slider .rc-slider-handle-upper::after {
  content: '';
  position: relative;
  left: -3px;
  display: block;
  width: 0;
  height: 0;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.d .range-wrap .range-slider .rc-slider-handle-lower::before,
.d .range-wrap .range-slider .rc-slider-handle-upper::before {
  top: -5px;
  border-top: 5px solid #858585;
}

.d .range-wrap .range-slider .rc-slider-handle-lower::after,
.d .range-wrap .range-slider .rc-slider-handle-upper::after {
  top: 2px;
  border-bottom: 5px solid #858585;
}

.d .range-wrap .range-slider .rc-slider-handle:hover::before,
.d .range-wrap .range-slider .rc-slider-handle:hover::after {
  border-top-color: #666;
  border-bottom-color: #666;
}

.d .range-wrap .range-slider .rc-slider-track {
  height: 1px;
  background-color: #ccc;
}

.d .range-wrap .range-slider .rc-slider-dot {
  bottom: -2px;
  margin-left: 0;
  width: 1px;
  height: 5px;
  border: 0;
  border-radius: 0;
  border-color: transparent;
  background-color: #ddd;
}

.d .range-wrap .range-slider .rc-slider-dot-active {
  border-color: transparent;
}

.d .range-wrap .range-slider .rc-slider-step,
.d .range-wrap .range-slider .rc-slider-rail {
  height: 1px;
}

.d .range-wrap .range-label,
.d .range-wrap .range-input,
.d .range-wrap .range-slider {
  display: inline-block;
  vertical-align: middle;
}

.d .range-wrap .range-label {
  padding-right: 10px;
}

.d .range-wrap .range-input {
  padding: 0 10px;
  width: 18px;
  height: 24px;
  border: 1px solid #ccc;
  color: #999;
  font-family: "Fjalla One";
  font-size: 12px;
  line-height: 24px;
  text-align: center;
}

.d .range-wrap .range-input#rangeInputFrom {
  margin-right: 10px;
}

.d .range-wrap .range-input#rangeInputTo {
  margin-left: 10px;
}

.d .event-fields-container .react-dropdown-default .toggler {
  padding-right: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.d .event-fields-container .react-dropdown-default .item {
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.d .mapeditor-link:hover,
.d .parameditor-link:hover,
.d .christmastown-link:hover,
.d .my-maps:hover {
  background: url('/images/v2/christmas_town/admin/map_editor.png') 0 0 no-repeat;
}

.d .mapeditor-link {
  width: 10px;
  background: url('/images/v2/christmas_town/admin/map_editor.png') 0 0 no-repeat;
}

.d .parameditor-link {
  background: url('/images/v2/christmas_town/admin/parameter_editor.png') 0 0 no-repeat;
}

.d .my-maps {
  width: 19px;
  height: 19px;
  background: url('/images/v2/christmas_town/sprites/top_page_links.png') 0 0 no-repeat;
}

.d .christmastown-link {
  width: 15px;
  background: url('/images/v2/christmas_town/admin/ct.png') 0 0 no-repeat;
}

.d .mapeditor-link {
  background-position: -10px 0;
}

.d .parameditor-link {
  width: 16px;
  height: 16px;
  background-position: -16px 0;
}

.d .my-maps {
  background-position: -41px -76px;
}

.d .christmastown-link {
  background-position: -15px 0;
}

.d .mapeditor-link:hover,
.d .parameditor-link:hover,
.d .christmastown-link:hover {
  background-position: 0 0;
}

.d .my-maps:hover {
  background-position: -7px -42px;
}

.d #mainContainer {
  position: static;
}

.d .core-layout__viewport {
  /* margin-top: -20px; */
}

.d .info-container .range-slider-wrap {
  position: absolute;
  top: 40px;
  right: 10px;
  min-width: 107px;
  color: black;
}

.d .info-container .range-slider-wrap * {
  transition: none;
}

.d .blocked-directions {
  float: left;
  color: #858585;
}

.d .blocked-directions .choice-container {
  margin-bottom: 7px;
}

.d .link-container-my-maps:hover .my-maps {
  background-position: -7px -76px;
}

.d .ChristmasTownEditor {
  max-width: 100%;
}

.d .tipContent {
  color: #888;
  color: var(--ct-map-editor-tooltip-font-color);
  font-family: "Fjalla One", serif;
  font-size: 12px;
}

/* === NIGHT MODE === */

body.d.night-mode .container .content-wrapper,
body.d.night-mode .container .content-wrapper img,
body.d.night-mode .container .content-wrapper svg {
  filter: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0;
}

.active-slider .slick-list {
  margin: 0 17px;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.react-dropdown-default {
  font-family: inherit;
}

.d .ct-admin-wrap .react-dropdown-default .toggler {
  height: 34px;
}

.d .ct-admin-wrap .tools-container.objects:after,
.d .ct-admin-wrap .tools-container.layers:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  display: var(--ct-overlay-display);
  pointer-events: none;
  background: rgba(0, 0, 0, .2);
  z-index: 106;
}

.d .ct-admin-wrap .tools-container .objects-container,
.d .ct-admin-wrap .tools-container .parameters-container,
.d .ct-admin-wrap .tools-container .areas-container,
.d .ct-admin-wrap .tools-container .history-container,
.d .ct-admin-wrap .tools-container .backups-container {
  box-shadow: var(--ct-section-inner-top-shadow), var(--ct-section-inner-left-shadow);
}

.d .ct-admin-wrap.fullscreen-mode .tools-container.objects:after,
.d .ct-admin-wrap.fullscreen-mode .tools-container.layers:after {
  top: 32px;
}

.d .ct-admin-wrap .tools-container.objects .scroll-area.scrollbar-bright {
  scrollbar-color: #fbfbfb #ddd;
}

.d .ct-admin-wrap .tools-container.objects .scroll-area.scrollbar-bright::-webkit-scrollbar-track,
.d .ct-admin-wrap .tools-container.objects .scroll-area.scrollbar-bright::-webkit-scrollbar-corner {
  background-color: #ddd;
}

.d .ct-admin-wrap .tools-container.objects .scroll-area.scrollbar-bright::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border-color: #ddd;
}

.d .ct-admin-wrap .tools-container.objects .scroll-area.scrollbar-bright:hover::-webkit-scrollbar-thumb {
  background-color: #fff;
}
