// ==================================================================
//  media queries
// ==================================================================

$screen-desktop: "screen and (min-width: 1000px)";
$screen-tablet: "screen and (max-width: 1000px)";
$screen-mobile: "screen and (max-width: 600px)";

// ==================================================================
//  colors
// ==================================================================

$color-blue: #18a2cf;
$color-blue-hover: #107fcf;
