@import 'constants.cssmodules';

.spanBtn {
  padding: 0;
  border: none;
  background: none;
  color: #0a9dcd;
  color: var(--ct-secondary-button-color);
  font-family: 'Fjalla One', sans-serif;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    color: $color-blue-hover;
    color: var(--ct-secondary-button-color-hover);

    .imageIcon,
    .removeIcon {
      fill: #107fcf;
      fill: var(--ct-secondary-button-color-hover);
    }
  }

  &.disabled,
  &:disabled {
    color: #ccc;
    color: var(--ct-editor-secondary-button-color-disabled);
    pointer-events: none;

    .imageIcon,
    .removeIcon {
      fill: #ccc;
      fill: var(--ct-editor-secondary-button-color-disabled);
    }
  }

  &.cancel {
    margin-right: 10px;
  }

  .icon {
    margin-right: 10px;
  }

  .imageIcon,
  .removeIcon {
    vertical-align: middle;
    margin-right: 5px;
    fill: #0a9dcd;
    fill: var(--ct-secondary-button-color);
    filter: var(--ct-map-editor-default-btn-filter);
  }

  &.replaceImageBtn {
    margin-right: 10px;
  }
}

.inputContainer {
  margin-top: 10px;
}

.input {
  padding: 0 10px;
  height: 32px;
  border: 1px solid #ddd;
  border-color: var(--ct-default-input-border-color);
  border-radius: 5px;
  color: #999;
  color: var(--ct-editor-input-font-color);
  font-family: 'Fjalla One', sans-serif !important;
  font-size: 12px;
  line-height: 32px;
  background: var(--ct-editor-input-bg);
}
