/*

example of using:

import cn from 'classnames'
import icons from ./icons.cssmodule.scss

<i className={cn(icons.history, icons.hover)} />

*/

$iconSize: 34;
$icons: 'history' 'backup' 'layers' 'ICON_4' 'undo' 'redo' 'ICON_7' 'users' 'fullScreen' 'search' 'history'
  'angleLeft' 'angleRight' 'plus' 'minus' 'cross' 'copy' 'cut' 'move' 'checkMark' 'bug' 'death' 'position' 'loading'
  'sync' 'hand' 'edit' 'social' 'trash';

@for $index from 1 through length($icons) {
  .#{nth($icons, $index)} {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: $iconSize + px;
    height: $iconSize + px;
    background: url(/images/v2/christmas_town/ct_2018_icons_light.svg) #{$iconSize + $index * -$iconSize}px -34px no-repeat;

    &:hover,
    &.hover {
      background-position-y: 0;
    }

    &.gray {
      background-position-y: -102px;

      &:hover,
      &.hover {
        background-position-y: -64;
      }
    }
  }
}
