.imagePreviewWrap {
  &.withFilter {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, .85);
      background-color: var(--ct-editor-tooltip-preview-image-display);
    }
  }

  .imagePreview {
    max-width: 122px;
    max-height: 130px;
  }
}

.imagePreviewTooltipContainer.container {
  padding: 2px;
  max-width: initial;
  max-height: initial;
  height: 130px;
  width: 122px;
  line-height: 0;

  .imagePreviewTooltipTitle {
    padding: 0;
  }
}
