.ammo-reward-image {
  width: 29px;
  height: 27px;
  background: url(/images/v2/ammo/ammo_rewards.png) no-repeat;
  margin-right: 5px;
}

.ammo-icon-large-12-gauge-cartridge {
  background-position: 0 0;
}

.ammo-icon-large-12-gauge-cartridge--hollowpoint {
  background-position: -70px 0;
}

.ammo-icon-large-12-gauge-cartridge--piercing {
  background-position: -140px 0;
}

.ammo-icon-large-12-gauge-cartridge--tracer {
  background-position: -210px 0;
}

.ammo-icon-large-12-gauge-cartridge--incendiary {
  background-position: -280px 0;
}

.ammo-icon-large-9-parabellum-round {
  background-position: 0 -70px;
}

.ammo-icon-large-9-parabellum-round--hollowpoint {
  background-position: -70px -70px;
}

.ammo-icon-large-9-parabellum-round--piercing {
  background-position: -140px -70px;
}

.ammo-icon-large-9-parabellum-round--tracer {
  background-position: -210px -70px;
}

.ammo-icon-large-9-parabellum-round--incendiary {
  background-position: -280px -70px;
}

.ammo-icon-large-57-high-vel-round {
  background-position: 0 -140px;
}

.ammo-icon-large-57-high-vel-round--hollowpoint {
  background-position: -70px -140px;
}

.ammo-icon-large-57-high-vel-round--piercing {
  background-position: -140px -140px;
}

.ammo-icon-large-57-high-vel-round--tracer {
  background-position: -210px -140px;
}

.ammo-icon-large-57-high-vel-round--incendiary {
  background-position: -280px -140px;
}

.ammo-icon-large-762-rifle-round {
  background-position: 0 -210px;
}

.ammo-icon-large-762-rifle-round--hollowpoint {
  background-position: -70px -210px;
}

.ammo-icon-large-762-rifle-round--piercing {
  background-position: -140px -210px;
}

.ammo-icon-large-762-rifle-round--tracer {
  background-position: -210px -210px;
}

.ammo-icon-large-762-rifle-round--incendiary {
  background-position: -280px -210px;
}

.ammo-icon-large-556-rifle-round {
  background-position: 0 -280px;
}

.ammo-icon-large-556-rifle-round--hollowpoint {
  background-position: -70px -280px;
}

.ammo-icon-large-556-rifle-round--piercing {
  background-position: -140px -280px;
}

.ammo-icon-large-556-rifle-round--tracer {
  background-position: -210px -280px;
}

.ammo-icon-large-556-rifle-round--incendiary {
  background-position: -280px -280px;
}

.ammo-icon-large-545-rifle-round {
  background-position: 0 -350px;
}

.ammo-icon-large-545-rifle-round--hollowpoint {
  background-position: -70px -350px;
}

.ammo-icon-large-545-rifle-round--piercing {
  background-position: -140px -350px;
}

.ammo-icon-large-545-rifle-round--tracer {
  background-position: -210px -350px;
}

.ammo-icon-large-545-rifle-round--incendiary {
  background-position: -280px -350px;
}

.ammo-icon-large-45-acp-round {
  background-position: 0 -420px;
}

.ammo-icon-large-45-acp-round--hollowpoint {
  background-position: -70px -420px;
}

.ammo-icon-large-45-acp-round--piercing {
  background-position: -140px -420px;
}

.ammo-icon-large-45-acp-round--tracer {
  background-position: -210px -420px;
}

.ammo-icon-large-45-acp-round--incendiary {
  background-position: -280px -420px;
}

.ammo-icon-large-25-round {
  background-position: 0 -490px;
}

.ammo-icon-large-25-round--hollowpoint {
  background-position: -70px -490px;
}

.ammo-icon-large-25-round--piercing {
  background-position: -140px -490px;
}

.ammo-icon-large-25-round--tracer {
  background-position: -210px -490px;
}

.ammo-icon-large-25-round--incendiary {
  background-position: -280px -490px;
}

.ammo-icon-large-380-acp-round {
  background-position: 0 -560px;
}

.ammo-icon-large-380-acp-round--hollowpoint {
  background-position: -70px -560px;
}

.ammo-icon-large-380-acp-round--piercing {
  background-position: -140px -560px;
}

.ammo-icon-large-380-acp-round--tracer {
  background-position: -210px -560px;
}

.ammo-icon-large-380-acp-round--incendiary {
  background-position: -280px -560px;
}

.ammo-icon-large-44-spesial-round {
  background-position: 0 -630px;
}

.ammo-icon-large-44-spesial-round--hollowpoint {
  background-position: -70px -630px;
}

.ammo-icon-large-44-spesial-round--piercing {
  background-position: -140px -630px;
}

.ammo-icon-large-44-spesial-round--tracer {
  background-position: -210px -630px;
}

.ammo-icon-large-44-spesial-round--incendiary {
  background-position: -280px -630px;
}

.ammo-icon-large-40-rpg {
  background-position: 0 -700px;
}

.ammo-icon-large-40-rpg--hollowpoint {
  background-position: -70px -700px;
}

.ammo-icon-large-40-rpg--piercing {
  background-position: -140px -700px;
}

.ammo-icon-large-40-rpg--tracer {
  background-position: -210px -700px;
}

.ammo-icon-large-40-rpg--incendiary {
  background-position: -280px -700px;
}

.ammo-icon-large-150-warthead {
  background-position: 0 -770px;
}

.ammo-icon-large-150-warthead--hollowpoint {
  background-position: -70px -770px;
}

.ammo-icon-large-150-warthead--piercing {
  background-position: -140px -770px;
}

.ammo-icon-large-150-warthead--tracer {
  background-position: -210px -770px;
}

.ammo-icon-large-150-warthead--incendiary {
  background-position: -280px -770px;
}

.ammo-icon-large-37-flame {
  background-position: 0 -840px;
}

.ammo-icon-large-37-flame--hollowpoint {
  background-position: -70px -840px;
}

.ammo-icon-large-37-flame--piercing {
  background-position: -140px -840px;
}

.ammo-icon-large-37-flame--tracer {
  background-position: -210px -840px;
}

.ammo-icon-large-37-flame--incendiary {
  background-position: -280px -840px;
}

.ammo-icon-large-454-litre-fuel-pack {
  background-position: 0 -910px;
}

.ammo-icon-large-454-litre-fuel-pack--hollowpoint {
  background-position: -70px -910px;
}

.ammo-icon-large-454-litre-fuel-pack--piercing {
  background-position: -140px -910px;
}

.ammo-icon-large-454-litre-fuel-pack--tracer {
  background-position: -210px -910px;
}

.ammo-icon-large-454-litre-fuel-pack--incendiary {
  background-position: -280px -910px;
}

.ammo-icon-large-20-bolt {
  background-position: 0 -980px;
}

.ammo-icon-large-20-bolt--hollowpoint {
  background-position: -70px -980px;
}

.ammo-icon-large-20-bolt--piercing {
  background-position: -140px -980px;
}

.ammo-icon-large-20-bolt--tracer {
  background-position: -210px -980px;
}

.ammo-icon-large-20-bolt--incendiary {
  background-position: -280px -980px;
}

.ammo-icon-large-51-dart {
  background-position: 0 -1050px;
}

.ammo-icon-large-51-dart--hollowpoint {
  background-position: -70px -1050px;
}

.ammo-icon-large-51-dart--piercing {
  background-position: -140px -1050px;
}

.ammo-icon-large-51-dart--tracer {
  background-position: -210px -1050px;
}

.ammo-icon-large-51-dart--incendiary {
  background-position: -280px -1050px;
}

.ammo-icon-large-snow-ball {
  background-position: 0 -1120px;
}

.ammo-icon-large-snow-ball--hollowpoint {
  background-position: -70px -1120px;
}

.ammo-icon-large-snow-ball--piercing {
  background-position: -140px -1120px;
}

.ammo-icon-large-snow-ball--tracer {
  background-position: -210px -1120px;
}

.ammo-icon-large-snow-ball--incendiary {
  background-position: -280px -1120px;
}

.ammo-icon-large-egg {
  background-position: 0 -1190px;
}

.ammo-icon-large-egg--hollowpoint {
  background-position: -70px -1190px;
}

.ammo-icon-large-egg--piercing {
  background-position: -140px -1190px;
}

.ammo-icon-large-egg--tracer {
  background-position: -210px -1190px;
}

.ammo-icon-large-egg--incendiary {
  background-position: -280px -1190px;
}

.ammo-icon-large-stone {
  background-position: 0 -1260px;
}

.ammo-icon-large-stone--hollowpoint {
  background-position: -70px -1260px;
}

.ammo-icon-large-stone--piercing {
  background-position: -140px -1260px;
}

.ammo-icon-large-stone--tracer {
  background-position: -210px -1260px;
}

.ammo-icon-large-stone--incendiary {
  background-position: -280px -1260px;
}

.ammo-icon-large-amount {
  background-position: 0 -1330px;
}

.ammo-icon-large-amount--hollowpoint {
  background-position: -70px -1330px;
}

.ammo-icon-large-amount--piercing {
  background-position: -140px -1330px;
}

.ammo-icon-large-amount--tracer {
  background-position: -210px -1330px;
}

.ammo-icon-large-amount--incendiary {
  background-position: -280px -1330px;
}
