.currentRowOutcome-enter-active,
.currentRowOutcome-enter-done {
  transform: translateY(0%);
}

.currentRowOutcome-exit {
  transform: translateY(0%);
  position: absolute;
  top: 0;
  height: 100% !important;

  &.currentRowOutcome-exit-active {
    transform: translateY(0%);
  }

  &.currentRowOutcome-exit-done {
    transform: translateY(0%);
  }
}

.newRowOutcome-enter {
  position: relative;

  &.newRowOutcome-enter-active {
    // empty
  }
}

.newRowOutcome-exit {
  position: absolute;
  top: 0;
  height: 100% !important;

  &.newRowOutcome-exit-active {
    // empty
  }
}

.currentRowOutcome-enter-done,
.newRowOutcome-enter-done {
  transition: background-color .3s ease-out;
  position: relative;
}
