$successBg: #effdd6;
$failedBg: #fff9db;
$jailedBg: #fff9f7;

$successBgDM: #414B31;
$failedBgDM: #484230;
$jailedBgDM: #513737;

@mixin addRowAnimation($color) {
  $cs: str-slice(inspect($color), 2);

  animation: fadeIn-#{$cs} 3s cubic-bezier(.55, .055, .675, .19);
}
@mixin fadeIn($color) {
  $cs: str-slice(inspect($color), 2);

  @keyframes fadeIn-#{$cs} {
    0% {
      background: $color;
    }

    50% {
      background: $color;
    }

    100% {
      background: var(--outcomeFadeIn-background);
    }
  }
}

@keyframes outcomeEnter {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

@include fadeIn($successBg);
@include fadeIn($failedBg);
@include fadeIn($jailedBg);

#{$dark-mode} {
  @include fadeIn($successBgDM);
  @include fadeIn($failedBgDM);
  @include fadeIn($jailedBgDM);

  .success {
    @include addRowAnimation($successBgDM);
  }

  .failure {
    @include addRowAnimation($failedBgDM);
  }

  .jailed {
    @include addRowAnimation($jailedBgDM);
  }
}

.outcome--active {
  border-top: 1px solid var(--outcomeActive-borderTop);
}

.outContainer {
  width: 100%;
  height: 100px;
  transition: all 1s linear;
  overflow: hidden;
}

.outcome {
  position: relative;
  width: 100%;
  // max-height: 0;
  height: 100%;
  overflow: hidden;
  // transition: height .35s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    z-index: 1000;
    width: 100%;
    border-top: 1px solid var(--outcome_before-borderTop);
  }
}

.outcomeFastIn {
  transition: all .1s ease;
}

.outcome-border {
  border-top: 1px solid var(--outcomeBorder-borderTop);
}

.outcomeWrapAfter {
  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--outcomeWrapper_after-borderBottom);
  }
}

// .currentRow {
//   transition: height .2s ease-in;
// }

.imageWrap {
  padding: 0 2px;
  margin-right: 4px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  box-shadow: 0 1px 0 var(--imageWrap-boxShadow), inset 0 1px 2px rgba(36, 36, 21, .25);
  background: var(--imageWrap-background);
  text-align: center;
  vertical-align: middle;

  img {
    width: fit-content;
    pointer-events: none;
  }
}

.ammoImageWrap {
  width: auto;
  padding: 0 5px;
  padding-top: 2px;
}

.ammoInfoWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.rewardsWrap {
  display: flex;
}

.outcomeContainer {
  width: 100%;
  height: 100%;
  background: var(--outcomeContainer-background);
  color: inherit;

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--outcomeContainer_after-background);
  }
}

.sameRowOutcome {
  transform: translateY(-100%);
  transition: transform .3s ease-in;
  position: relative;
}

.slide-anim {
  transition: all .1s ease-in-out;
}

.slide-enter-anim {
  animation: outcomeEnter 1.1s;
}

.outcomeWrap {
  width: 100%;
  overflow: hidden;
  transition: all .2s linear;

  .mainText {
    display: block;
    margin-right: 12px;
    text-transform: uppercase;

    &::after {
      content: "";
      display: inline-block;
      margin-left: 8px;
      width: 24px;
      height: 36px;
      background: url('/images/v2/2sef32sdfr422svbfr2/crimes/bootlegging/success_failure_arrows.png') 0 0 no-repeat;
      vertical-align: middle;
    }
  }

  .noMainTextArrow {
    &::after {
      display: none;
    }
  }

  .story {
    position: relative;
    padding: 6px 12px;
    padding-right: 30px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    white-space: normal;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background: url('/images/v2/2sef32sdfr422svbfr2/crimes/bootlegging/subcrimes_dashed_divider.png') 0 0 repeat-x;
    }
  }

  .result {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 12px 0;
    height: 100%;
    font-family: Fjalla One, sans-serif;
    font-size: 24px;
    letter-spacing: 2pt;
    line-height: 50px;
    vertical-align: middle;
  }

  .itemsRewards,
  .ammoRewards {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 12px 10px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    white-space: normal;
  }

  .moneyRewards {
    position: relative;
    padding: 6px 12px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    white-space: normal;
  }

  .infoText {
    display: inline-block;
    padding-right: 12px;
    // line-height: 20px;
    vertical-align: middle;
  }

  .infoTextCutted {
    font-size: 15px;
  }

  .outcomeID {
    display: inline-block;
    margin-left: auto;
    float: right;
    color: var(--outcomeID-color);
    font-size: 12px;
    letter-spacing: 1px;
  }

  .status {
    color: var(--status-color);
  }

  .label {
    pointer-events: none;
    font-size: 10px;
    max-width: 174px;
    line-height: 1.2;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .count {
    height: inherit;
    line-height: 1.2;
    pointer-events: none;

    span {
      pointer-events: none;
    }
  }

  .ammoLabel,
  .ammoCount {
    line-height: 1;
    font-size: 12px;
  }

  .ammoCount {
    padding-top: 2px;
  }
}

.outcome--hover {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 51px);
  overflow: hidden;
  background: var(--outcome_hover_background);

  .spinner {
    width: 20px;
    height: 20px;
    border: 1px var(--outcome__spinner_border) solid;
    background: var(--outcome__spinner_background);
    animation: outcomeIsWaiting 2s infinite;
  }
}

.success {

  @include addRowAnimation($successBg);

  .outcomeWrap {
    .mainText {
      color: var(--outcomeSuccess-color);
      text-shadow: 0 0 10px var(--outcomeWrap__mainTextSuccess-textShadow);

      &::after {
        background-position: 0 0;
      }
    }
  }

  .story {
    color: var(--storySuccess-color);
  }
}

.jailed {

  @include addRowAnimation($jailedBg);

  .outcomeWrap {
    .mainText {
      color: var(--outcomeJailed-color);
      text-shadow: 0 0 10px var(--outcomeWrap__mainTextJailed-textShadow);

      &::after {
        // background-position: 0 -33px;
        display: none;
      }
    }
  }

  .story {
    color: var(--storyJailed-color);
  }
}

.failure {

  @include addRowAnimation($failedBg);

  .outcomeWrap {
    .mainText {
      color: var(--outcomeFailure-color);

      &::after {
        display: none;
      }
    }
  }

  .story {
    color: var(--storyFailure-color);
  }
}

.specResultFont {
  color: var(--specResultFont--color);
  font-family: Fjalla One, sans-serif;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 21px;
}

#{$global-r} {

  @media #{$screen-desktop} {
    .result {
      width: 759px;
    }
  }
  @media #{$screen-tablet} {
    // .outcomeContainer {
    //   max-width: 386px;
    // }

    .result {
      padding: 5px 8px 0 8px;
      width: 362px;
      height: auto;

      .mainText {
        display: block;
      }
    }

    .image-wrap {
      margin-left: 5px;
    }

    .infoText {
      max-width: 276px;
    }

    .outcomeWrap {
      .outcomeID {
        position: absolute;
        top: -15px;
        right: 4px;
        font-size: 7px;
      }
    }
  }
  @media #{$screen-mobile} {
    // .outcomeContainer {
    //   max-width: 320px;
    // }

    .result {
      display: flex;
      width: 304px;
    }

    .infoText {
      max-width: 200px;
      padding-right: 0;
    }
  }
}

.closeWrap {
  z-index: 10;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 7px;
  right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton {
  cursor: pointer;
  z-index: inherit;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    svg {
      filter: invert(.2);
    }
  }
}
