@import '../../styles/mixins';

.tableWrap {

  @include appType([ 'desktop/full' ]) {
    padding-top: 140px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    padding-top: 124px;
  }
  @include appType([ 'tablet/full' ]) {
    padding-top: 90px;
  }
  @include appType([ 'mobile' ]) {
    width: 320px;
  }
}

.table {
  position: relative;
  margin: auto;
  background-repeat: no-repeat;

  @include appType([ 'desktop/full' ]) {
    width: 812px;
    height: 328px;
    background-position: center;
  }
  @include appType([ 'desktop/sidebar', 'tablet/full' ]) {
    width: 558px;
    height: 330px;
    background-position: center;
  }
  @include appType([ 'tablet/sidebar' ]) {
    width: 386px;
    height: 428px;
    background-position: bottom, top;
    overflow: hidden;
  }
  @include appType([ 'mobile' ]) {
    width: 320px;
    height: 426px;
    background-position: bottom, top;
    overflow: hidden;
  }
}
