.mapTabs {
  border-top: "none";
}

.map {
  height: 204px;
  width: 520px;
  border-bottom-left-radius: 5px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      border-radius: 0;
    }
  }
}

.dropdown {
  width: auto;
}
