@import '../../styles/vars';

.tableDetailsWrap {
  width: 220px;


  p {
    padding: 0 12px;
  }

  em {
    font-weight: bold;
  }
}

.content {
  text-align: left;
  line-height: 1.4em;

  p {
    line-height: 2em;
  }
}
