.details {
  background-color: rgba(#fff, .6);
  padding: 10px;
}

.detailsTable {
  margin-top: 15px;

  th,
  td {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  th {
    text-align: center;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
  }

  tr {
    &.subHeader td {
      border-right-color: transparent !important;
    }

    td {
      text-align: right;
      border: 1px solid #000 !important;

      &:first-child {
        border-left-color: transparent !important;
      }

      &:last-child {
        border-right-color: transparent !important;
      }
    }
  }

  tbody > tr {
    &.subHeader {
      background: rgba(#fff, 1);
    }

    &.subHeader td {
      text-align: left;
      cursor: pointer;
    }

    &:not(.subHeader):nth-child(odd) > td {
      background: rgba(#000, .05);
    }

    &:not(.subHeader):nth-child(even) > td {
      background: rgba(#fff, .2);
    }
  }
}
