.burglaryBanner {
  width: inherit;
  height: inherit;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 782px;
    display: block;
    background: url('/images/v2/2sef32sdfr422svbfr2/crimes/diagonal_line_pattern.png') 0 0 repeat;
  }
}

.bannerBcg {
  background: url('/images/v2/2sef32sdfr422svbfr2/crimes/burglary/banner_residential_1.jpg');
  background-size: initial;
  background-position: 832px 274px;
  width: inherit;
  height: inherit;
  animation-name: bcgCircling;
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.cloud {
  width: 1568px;
  height: 952px;
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transform: translate(calc(-50% + 391px), calc(-50% + 75px));
  opacity: 0;
  transition: opacity 26s;
}

.bannerCloudUp {

  @extend .cloud;

  background: url('/images/v2/2sef32sdfr422svbfr2/crimes/burglary/clouds_left_to_right.png');
  background-size: initial;
  background-position: center;
  animation-name: cloudsLeft;
}

.bannerCloudDown {

  @extend .cloud;

  background: url('/images/v2/2sef32sdfr422svbfr2/crimes/burglary/clouds_right_to_left.png');
  background-size: initial;
  background-position: center;
  animation-name: cloudsRight;
}

@keyframes cloudsLeft {
  0% {
    left: 0;
    opacity: 0;
  }

  10% {
    left: 0;
    opacity: .65;
  }

  90% {
    opacity: .65;
  }

  100% {
    left: 782px;
    opacity: 0;
  }
}
@keyframes cloudsRight {
  0% {
    left: 0;
    opacity: 0;
  }

  10% {
    left: 0;
    opacity: .65;
  }

  90% {
    opacity: .65;
  }

  100% {
    left: -782px;
    opacity: 0;
  }
}
@keyframes bcgCirclingStart {
  0% {
    background-position: 832px 324px;
  }

  100% {
    background-position: 832px 274px;
  }
}
@keyframes bcgCircling {
  0% {
    background-position: 832px 274px;
  }

  4.17% {
    background-position: 845.3px 276.3px;
  }

  8.34% {
    background-position: 857.6px 281.6px;
  }

  12.51% {
    background-position: 867.9px 289.9px;
  }

  16.68% {
    background-position: 876.5px 301.2px;
  }

  20.85% {
    background-position: 880.5px 313.5px;
  }

  25.02% {
    background-position: 882px 327px;
  } /* LEFT STOP  */

  29.19% {
    background-position: 880px 340.3px;
  }

  33.36% {
    background-position: 874.4px 352.6px;
  }

  37.53% {
    background-position: 866.1px 363.9px;
  }

  41.7% {
    background-position: 854.8px 371.2px;
  }

  45.87% {
    background-position: 842.5px 376.5px;
  }

  50.04% {
    background-position: 829px 377.5px;
  } /* UP STOP  */

  54.21% {
    background-position: 815px 375.5px;
  }

  58.38% {
    background-position: 803px 369.5px;
  }

  62.55% {
    background-position: 793px 361.5px;
  }

  66.72% {
    background-position: 785px 350.5px;
  }

  70.89% {
    background-position: 780px 337.5px;
  }

  75.06% {
    background-position: 779px 324.5px;
  } /* RIGHT STOP  */

  79.23% {
    background-position: 781px 311px;
  }

  83.4% {
    background-position: 786px 298px;
  }

  87.57% {
    background-position: 795px 288px;
  }

  91.74% {
    background-position: 806px 280px;
  }

  95.91% {
    background-position: 818px 275px;
  }

  100% {
    background-position: 832px 274px;
  } /* DOWN STOP  */
}
