@import '../../../styles/common.cssmodule.scss';

.rowWrap {
  width: 100%;
  height: 32px;
  border-bottom: 1px solid #bfd0d8;
  composes: flexCenter;

  &:hover {
    background: #f1fcff;
  }

  &:last-of-type {
    border-right: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.rowActiveMapJoined {
  position: relative;
  background: #e3f5fa;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    z-index: 10000000;
    width: 3px;
    height: 100%;
    background: #9cd2dc;
  }

  &:hover {
    background: #e3f5fa;
  }
}

.rowSection {
  composes: section;

  &:first-of-type {
    padding-left: 5px;
  }
}

.sectionText {
  padding: 5px;
  overflow: hidden;
  color: #888;
  font-family: 'Fjalla one', sans-serif;
  font-size: 12px;
  line-height: 1.3;
  white-space: nowrap;
}
