.dialog {
  width: 235px;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .24);
  background: rgba(0, 0, 0, .14);
  overflow: hidden;

  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 214px;
    }
  }
}

.title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  // user-select: none;

  &.win {
    color: #698c00;
  }
}

.colored {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 80px;
  max-height: 400px;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, .65) 0, rgba(215, 230, 172, .5) 100%);

  .title {
    color: #698c00;
  }

  &.red {
    .title {
      color: #c30;
    }

    background: linear-gradient(to bottom, rgba(255, 255, 255, .65) 0%, rgba(255, 204, 204, .5) 100%);
  }

  &.orange {
    background: linear-gradient(to bottom, hsla(0, 0%, 100%, .65) 0, rgba(243, 138, 71, .5) 100%);
  }
}

.btn {
  margin: 8px 0;
  width: 120px;
  text-transform: uppercase;
  user-select: none;
}

.btnTimer {
  width: 138px;
}

.dialogButtons {
  opacity: 1;
}

#{$dark-mode} {
  .dialog {
    box-shadow: 0px 1px 2px #000000;
    border: 1px solid #444444;
    border-radius: 5px;
    background: transparent linear-gradient(180deg, #0000004D 0%, #0000001A 100%) 0% 0% no-repeat padding-box;
  }

  .colored {
    background: transparent linear-gradient(180deg, #0000004D 0%, #5C940D1A 100%) 0% 0% no-repeat padding-box;

    .title {
      color: #94D82D;
    }

    &.red {
      .title {
        color: #FF4000;
      }

      background: transparent linear-gradient(180deg, #0000004D 0%, #CC33001A 100%) 0% 0% no-repeat padding-box;
    }

    &.orange {
      background: transparent linear-gradient(180deg, #0000004D 0%, #FD7E141A 100%) 0% 0% no-repeat padding-box;
    }
  }
}
