@import '../index.cssmodule.scss';

.flexRowCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.joinSection {
  opacity: 1;

  svg {
    filter: url(#defaultFilter);
    filter: var(--ct-icon-filter);
  }
}

.myMapsContainer {
  opacity: 1;
}

.invitesContainer {
  width: 102px;
}

.subSectionContainer {
  width: 33px;
  height: 100%;
  border-right: 1px solid #d4dfe4;
  border-right-color: var(--ct-skeleton-border-color);

  &:last-of-type {
    border-right: none;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button {
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  background: transparent;
  composes: flexRowCenter;

  &:hover {
    svg {
      pointer-events: none;
    }

    path {
      pointer-events: none;
    }
  }
}

.imgButton {
  background: transparent;
}

.trash,
.join,
.share {
  opacity: 1;
}

.invitesSubSection {
  width: 68px;
  height: 33px;
  font: inherit;
  border-right: 1px solid #d4dfe4;
  border-right-color: var(--ct-skeleton-border-color);

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 68px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 60px;
    }
  }
}

.invitesButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  font: inherit;
}

.title {
  padding-right: 8px;
  padding-left: 10px;
  font: inherit;
  pointer-events: none;

  @media #{$screen-mobile} {
    #{$global-r} & {
      padding-right: 5px;
      padding-left: 7px;
    }
  }
}

.editor {
  color: #93b1bf;
  color: var(--ct-my-maps-editor-color);
}

.tester {
  color: #668fa3;
  color: var(--ct-my-maps-tester-color);
}

.mobilelayoutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  @media #{$screen-tablet} {
    #{$global-r} & {
      justify-content: flex-end;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      justify-content: center;
    }
  }
}

.settingsContainer {
  width: 15px;
  height: 15px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      padding: 8px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      padding: 7px;
    }
  }
}
