.wrapDefault {
  max-height: 50px;
  position: relative;
  box-shadow: 0 0 8px #c8d644;
  border-radius: 3px;
}

.wrap {

  @extend .wrapDefault;

  width: 784px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 386px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 320px;
    }
  }
}

.wrap_desktop {

  @extend .wrapDefault;

  width: 784px;
}

.wrap_tablet {

  @extend .wrapDefault;

  width: 386px;
}

.wrap_mobile {

  @extend .wrapDefault;

  width: 320px;
}

.wrapTest {

  @extend .scroll;

  max-height: 200px;
}

.scroll {
  opacity: 1;
}

.scrollTest {

  @extend .scroll;

  color: red;
}

.container {
  opacity: 1;
}

.containerTest {

  @extend .container;

  box-shadow: 0 0 5px green;
}

.carouselItem {
  box-sizing: border-box;
  position: relative;
  display: block;
  margin: 0;
  padding: 9px 3px;
  width: 55px;
  min-width: 55px;
  height: 42px;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-image: linear-gradient(180deg, rgba(249, 249, 242, .05), rgba(249, 249, 242, 0) 6%, #ccc 50%, rgba(249, 249, 242, 0) 94%, rgba(249, 249, 242, 0)) 1 100%;

  &:last-child {
    border-image: none;
    border-right: none;
  }
}
