@import '../index.cssmodule.scss';

.flexCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.creatorBox {
  flex: 1 1 133px;
  justify-content: flex-start;
  padding: 7px 8px;
  composes: rowSection;
  composes: creator;
  composes: flexCenter;
}

.textWrap,
.userStatusWrap,
.factionWrap {
  justify-content: center;
  width: 20px;
  height: 19px;
  composes: flexCenter;
}

.linkWrap {
  composes: flexCenter;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: color .1s linear;
  color: #668fa3;

  &:visited {
    color: #668fa3;
  }

  &:hover {
    color: #bbb;
  }
}

.userImageWrap {
  margin-left: 8px;
  width: 100px;

  &.textWrap {
    width: 40px;
  }
}

.factionWrap {
  margin-left: 6px;

  &.textWrap {
    width: 15px;
  }
}

.textWrap {
  position: relative;
  margin: 0 20px;
  text-align: center;

  .linkWrap {
    text-decoration: none;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 180%;
    border-right: 1px solid #d5dee3;
  }

  &::before {
    left: -17px;
  }

  &::after {
    right: -17px;
  }

  &:last-of-type {
    &::before,
    &::after {
      content: none;
    }
  }
}

.userName,
.factionName {
  opacity: 1;
}

.userImage,
.factionImage {
  pointer-events: none;
  display: block;
  width: auto;
  height: 100%;
}

.factionImage {
  opacity: .6;
  
  &.diamond {
    box-shadow: 0 0 5px #00d7e4;
    box-shadow: var(--faction-tag-diamond-rank-box-shadow);
  }

  &.platinum {
    box-shadow: 0 0 5px #3653ff;
    box-shadow: var(--faction-tag-platinum-rank-box-shadow);
  }

  &.gold {
    box-shadow: 0 0 5px #ffc000;
    box-shadow: var(--faction-tag-gold-rank-box-shadow);
  }
}
