@import '../../styles/common.cssmodule.scss';

.loadingAnim {
  width: 25px;
  height: 25px;
  display: block;
  margin: 5px;
}

.dropDownListPlaceholder {
  width: 100%;
  height: 75px;
  background: #fff;
  background: var(--selectSearchWrap-tab-selected-bg);
  composes: flexRow;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.dropDownListPlaceholderText {
  color: #888;
  color: var(--default-gray-8-color);
  font: inherit;
}

:global(.greySelectSearchWrap) {
  .dropDownListPlaceholderText {
    color: #ccc;
    color: var(--default-gray-c-color);
  }
}
