.collectWrap {
  flex-direction: row;
  width: auto;
}

.cardsWrap {
  overflow-y: hidden;
  height: 21px;
  width: 50px;
  position: relative;
  flex: .6;
}

.textCount {
  margin-right: 5px;
  font-size: 19px;
  color: #666;
  color: var(--crimeRow-text-color);
  display: block;
  transition: transform .4s ease-out;
  transform: translateX(0) translateY(0);
  width: auto;
  text-align: right;
  flex: .6;

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-right: 2px;
      font-size: 13px;
    }
  }
}

.textDesc {
  color: #666;
  color: var(--crimeRow-text-color);
  font-size: 12px;
  display: block;
  flex: 1;
}

:global {
  .cards-toggle-enter {
    transform: translateX(0) translateY(-200%);

    &.cards-toggle-enter-active {
      transform: translateX(0) translateY(0);
    }
  }

  .cards-toggle-exit {
    position: absolute;
    transform: translateX(0) translateY(0%);
    right: 0;
    top: 0;

    &.cards-toggle-exit-active {
      transform: translateX(0) translateY(100%);
    }
  }
}
