.debug-info {
  position: relative;
  margin: 4px 0;
  padding: 10px;
  border: 2px solid rgba(100, 20, 20, .3);
  background: rgba(100, 20, 20, .1);
}

.debug-info--close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
