.segment {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  background-color: var(--default-bg-panel-color);
  border-bottom: 1px solid #fff;
  border-bottom-color: var(--default-panel-divider-inner-side-color);
  border-bottom-color: var(--panel-border-bottom-color);

  @media #{$screen-mobile} {
    #{$global-r} & {
      border-radius: 0;
    }
  }
}

.noPadding {
  padding: 0;
}
