.selectedGroupRectangle {
  border: 2px solid #00befb;
  background: rgba(255, 255, 255, .8);
  z-index: 1000;
  position: absolute;
  margin-top: -1px;
  margin-left: -1px;

  :global(.ct-object) {
    margin-top: -1px;
    margin-left: -1px;
  }
}

.delete {
  position: absolute;
  top: -8px;
  right: -8px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('/images/v2/christmas_town/delete.png') left top no-repeat;
  cursor: pointer;
  z-index: 100;
}

.popup {
  background-color: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.35);
  width: 300px;
  position: absolute;
  top: 102%;
  left: -150px;

  * {
    box-sizing: border-box;
  }

  .list {
    width: 100%;

    & > li {
      border-bottom: 1px solid #ccc;
      padding: 0;
      line-height: 36px;
      height: 36px;
      width: 100%;
      color: #7e9fb0;
      cursor: pointer;

      &:first-child {
        padding-left: 10px;
      }

      &:hover {
        background-color: #f6f6f6;
      }

      &.noHover {
        cursor: default;

        &:hover {
          background-color: #fff;
        }
      }

      .black {
        color: #777;
      }

      .tip {
        color: #cbcbcb;
        float: right;
        margin-right: 10px;
      }
    }
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .defaultLayerTitle {
    color: #858585;
    padding-left: 10px;
    height: 100%;

    &:after {
      content: '';
      clear: both;
      display: block;
    }

    .layersIconWrapper {
      line-height: 9px;
      display: inline-block;
      vertical-align: middle;
    }

    .title {
      vertical-align: top;
      padding-left: 9px;
    }
  }

  .layerButton {
    font-family: "Fjalla One", sans-serif;
    font-size: 12px;
    background: none;
    border: none;
    color: #ccc;
    cursor: pointer;
    padding: 0;
    margin: 0 5px;
    line-height: 18px;

    &:hover,
    &.active {
      color: #666;
    }

    &.active {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background: #BFD0D8;
        bottom: -8px;
        left: 0;
      }
    }
  }
}
