@import '../../styles/mixins.scss';
@import '../RoundPot/positions';

.exit {
  opacity: 1;

  &.exitActive {
    transition: all .8s cubic-bezier(.25, 1, .5, 1);
    opacity: .6;

    @include appType([ 'desktop/full' ]) {
      left: 400px;
      bottom: $bottomDesktopFull;
    }
    @include appType([ 'desktop/sidebar' ]) {
      left: 260px;
      bottom: $bottomDesktopSidebar;
    }
    @include appType([ 'tablet/full' ]) {
      left: 260px;
      bottom: $bottomTabletFull;
    }
  }
}
