@import '../../styles/mixins';

.potsWrapper {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  pointer-events: none;
}

.potWithStack {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 2px #000;
}

.goHome {
  left: 400px;
  bottom: 240px;
}

.player-pot-self {

  @extend .potWithStack;

  @include appType([ 'desktop/full' ]) {
    left: 394px;
    bottom: 45px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    left: 249px;
    bottom: 45px;
  }
  @include appType([ 'tablet/full' ]) {
    left: 249px;
    bottom: 45px;
  }
}

.player-pot-0 {

  @extend .potWithStack;

  @include appType([ 'desktop/full' ]) {
    left: 381px;
    bottom: 45px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    left: 249px;
    bottom: 42px;
  }
  @include appType([ 'tablet/full' ]) {
    left: 249px;
    bottom: 38px;
  }
}

.player-pot-1 {

  @extend .potWithStack;

  @include appType([ 'desktop/full' ]) {
    left: 150px;
    bottom: 56px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    left: 65px;
    bottom: 59px;
  }
  @include appType([ 'tablet/full' ]) {
    left: 114px;
    bottom: 47px;
  }
}

.player-pot-2 {

  @extend .potWithStack;

  @include appType([ 'desktop/full' ]) {
    left: 79px;
    bottom: 86px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    left: 42px;
    bottom: 118px;
  }
  @include appType([ 'tablet/full' ]) {
    left: 23px;
    bottom: 75px;
  }
}

.player-pot-3 {

  @extend .potWithStack;

  @include appType([ 'desktop/full' ]) {
    left: 80px;
    bottom: 157px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    left: 42px;
    bottom: 178px;
  }
  @include appType([ 'tablet/full' ]) {
    left: 76px;
    bottom: 246px;
  }
}

.player-pot-4 {

  @extend .potWithStack;

  @include appType([ 'desktop/full' ]) {
    left: 100px;
    bottom: 239px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    left: 72px;
    bottom: 237px;
  }
  @include appType([ 'tablet/full' ]) {
    left: 196px;
    bottom: 246px;
  }
}

.player-pot-5 {

  @extend .potWithStack;

  @include appType([ 'desktop/full' ]) {
    left: 660px;
    bottom: 239px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    left: 428px;
    bottom: 237px;
  }
  @include appType([ 'tablet/full' ]) {
    left: 299px;
    bottom: 246px;
  }
}

.player-pot-6 {

  @extend .potWithStack;

  @include appType([ 'desktop/full' ]) {
    left: 682px;
    bottom: 157px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    left: 461px;
    bottom: 178px;
  }
  @include appType([ 'tablet/full' ]) {
    left: 415px;
    bottom: 246px;
  }
}

.player-pot-7 {

  @extend .potWithStack;

  @include appType([ 'desktop/full' ]) {
    left: 681px;
    bottom: 86px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    left: 461px;
    bottom: 119px;
  }
  @include appType([ 'tablet/full' ]) {
    left: 473px;
    bottom: 75px;
  }
}

.player-pot-8 {

  @extend .potWithStack;

  @include appType([ 'desktop/full' ]) {
    left: 608px;
    bottom: 56px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    left: 428px;
    bottom: 60px;
  }
  @include appType([ 'tablet/full' ]) {
    left: 377px;
    bottom: 47px;
  }
}
