@import '../../styles/mixins';
@import '../RoundPot/positions';

.enter {
  &.enterActive {
    animation: move .8s reverse ease-in-out;
  }
}

@include appType([ 'desktop/full' ]) {

  @keyframes move {
    to {
      left: 400px;
      bottom: $bottomDesktopFull;
    }
  }
}
@include appType([ 'desktop/sidebar' ]) {

  @keyframes move {
    to {
      left: 260px;
      bottom: $bottomDesktopSidebar;
    }
  }
}
@include appType([ 'tablet/full' ]) {

  @keyframes move {
    to {
      left: 260px;
      bottom: $bottomTabletFull;
    }
  }
}
