$color: #a9a9a9;
$color-checked: #84b201;

.radioWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color;

  &.checked {
    color: $color-checked;

    .radioBtnWrapper {
      background: $color-checked;

      .labelOn {
        margin-left: 0;
      }
    }
  }

  &.disabled {
    .radioLabel,
    .radioBtnWrapper .radioInput {
      cursor: default;
    }
  }

  .radioLabel {
    padding-bottom: 3px;
    font-weight: bold;
    cursor: pointer;
  }

  .radioBtnWrapper {
    position: relative;
    z-index: 1;
    width: 48px;
    height: 18px;
    overflow: hidden;
    border-radius: 10px;
    background: $color;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    white-space: nowrap;

    .labelOn,
    .labelOff,
    .labelBtn {
      display: inline-block;
      vertical-align: middle;
    }

    .labelOn,
    .labelOff {
      width: 32px;
      height: 18px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
    }

    .labelOn {
      margin-left: -30px;
      transition: margin 250ms;
    }

    .labelBtn {
      margin-left: 1px;
      width: 12px;
      height: 12px;
      border-radius: 20px;
      background: #fff;
    }

    .radioInput {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}
