.toolTipPreset {
  z-index: 99999;
  clear: both;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #999;
  background-color: #f2f2f2;
  word-wrap: break-word;
  line-height: 16px;
}

.tooltipTextPreset {
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: left;
}

.tooltipContainer {
  z-index: 10000;
  box-sizing: border-box;
  padding: 8px;
  // top: -105%;
  // left: 50%;
  max-width: inherit;
  max-height: 100%;
  composes: toolTipPreset;
  composes: tooltipTextPreset;
}

.tooltipArrow {
  top: -1px;
  border-color: #f2f2f2 rgba(0,0,0,0) rgba(0,0,0,0);
  filter: drop-shadow(0px 1px 0px #fff) drop-shadow(0px 2px 1px #11111124);
}

.tooltipTitle {
  padding: 0;
}

:global {
  .expTooltip-enter {
    opacity: 0;
    transition: opacity .3s linear;

    &.expTooltip-enter-active {
      opacity: 1;
    }
  }

  .expTooltip-exit {
    opacity: 1;
    transition: opacity .05s linear;

    &.expTooltip-exit-active {
      opacity: 0;
    }
  }
}
