.dark-mode .react-dropdown-default {
  --react-dropdown-color: #fff;
  --react-dropdown-toggler-bg: linear-gradient(180deg, #000 0%, #222 100%);
  --react-dropdown-toggler-border: 1px solid #444;
  --react-dropdown-toggler-box-shadow: none;
  --react-dropdown-toggler-focus-box-shadow: 0 0 5px #1c7ed6a6;
  --react-dropdown-toggler-hover-box-shadow: 0 0 2px #ffffff40;
  --react-dropdown-toggler-after-filter: none;
  --react-dropdown-toggler-disabled-bg-color: #333;
  --react-dropdown-toggler-disabled-border: 1px solid #555;
  --react-dropdown-toggler-disabled-color: #777;
  --react-dropdown-toggler-disabled-after-border-color: transparent transparent transparent #555;
  --react-dropdown-toggler-dropdown-opened-box-shadow: 0 1px 2px #00000073;
  --react-dropdown-dropdownList-border: 1px solid #444;
  --react-dropdown-dropdownList-box-shadow: 0 1px 2px #00000073;
  --react-dropdown-dropdownList-bg: #222;
  --react-dropdown-listEmpty-color: #ddd;
  --react-dropdown-item-border-bottom: 1px solid #444;
  --react-dropdown-item-focus-hover-bg: #444;
  --react-dropdown-scroll-area-border-top: 1px solid #444;
  --react-dropdown-scroll-area-box-shadow: none;
  --react-dropdown-search-input-color: #fff;
  --react-dropdown-search-input-border: 1px solid #444;
  --react-dropdown-search-input-bg: linear-gradient(180deg, #000 0%, #222 100%);
  --react-dropdown-search-input-placeholder-color: #ddd;

  --react-dropdown-checkbox-color: #888;
  --react-dropdown-checkbox-border-image: unset;
  --react-dropdown-checkbox-border-color: #fff;
  --react-dropdown-checkbox-background-color: #fff;
}
