.react-dropdown-default * {
  box-sizing: border-box;
}

.react-dropdown-default {
  position: relative;
  width: 154px;
  color: #666;
  color: var(--react-dropdown-color);
  font-size: 12px;
  font-family: Arial, sans-serif;

  .toggler {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 30px 0 10px;
    width: 100%;
    height: 32px;
    border: 1px solid #fff;
    border: var(--react-dropdown-toggler-border);
    border-radius: 5px;
    box-shadow: inset 0 4px 5px -5px rgba(0, 0, 0, .3), inset 0px -2px 4px -4px rgba(0, 0, 0, 0.3);
    box-shadow: var(--react-dropdown-toggler-box-shadow);
    background: linear-gradient(to bottom, #e4e4e4 0, #f2f2f2 100%);
    background: var(--react-dropdown-toggler-bg);
    line-height: 14px;
    cursor: pointer;
    white-space: nowrap;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-align: left;

    &.multiselect {
      overflow: hidden;
      white-space: nowrap;
      display: block;
      text-overflow: ellipsis;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 10px;
      width: 0;
      height: 0;
      border-width: 5px 0 5px 5px;
      border-style: solid;
      border-color: transparent transparent transparent #666;
      transform: translateY(-5px);
      filter: drop-shadow(0 1px 0 #fff);
      filter: var(--react-dropdown-toggler-after-filter);
    }

    &:focus {
      box-shadow: inset 0 4px 5px -5px rgba(0, 0, 0, .3), inset 0px -2px 4px -4px rgba(0, 0, 0, 0.3), 0px 0px 5px #4DABF773;
      box-shadow: var(--react-dropdown-toggler-focus-box-shadow);
    }

    &:hover {
      box-shadow: inset 0 4px 5px -5px rgba(0, 0, 0, .3), inset 0px -2px 4px -4px rgba(0, 0, 0, 0.3), 0 1px 2px #00000040;
      box-shadow: var(--react-dropdown-toggler-hover-box-shadow);
    }
  }

  .dropdownList {
    display: none;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    z-index: 105;
    width: 100%;
    border: 1px solid #fff;
    border: var(--react-dropdown-dropdownList-border);
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 2px #00000040, 0 3px 3px -1px rgba(0, 0, 0, 0.06) inset;
    box-shadow: var(--react-dropdown-dropdownList-box-shadow);
    background: #f2f2f2;
    background: var(--react-dropdown-dropdownList-bg);

    &.up {
      top: auto;
      bottom: 100%;
      border-radius: 5px 5px 0 0;
    }
  }

  .listEmpty {
    padding: 10px;
    line-height: 16px;
    text-align: center;
    word-break: break-word;
    color: var(--react-dropdown-listEmpty-color);
  }

  &.dropdown-opened .toggler {
    box-shadow: inset 0 4px 5px -5px rgba(0, 0, 0, .3), inset 0px -2px 4px -4px rgba(0, 0, 0, 0.3), 0 1px 2px #00000040;
    box-shadow: var(--react-dropdown-toggler-dropdown-opened-box-shadow);
    border-radius: 5px 5px 0 0;

    &::after {
      right: 11px;
      border-width: 5px 5px 0 5px;
      border-color: #666 transparent transparent transparent;
      transform: translateY(-1px);
    }

    &.up {
      border-radius: 0 0 5px 5px;

      &::after {
        border-width: 0 5px 5px 5px;
        border-color: #666 transparent;
      }
    }
  }

  &.dropdown-opened .dropdownList {
    display: flex;
    flex-direction: column;
  }

  &.disabled .toggler {
    border: 1px solid #ccc;
    border: var(--react-dropdown-toggler-disabled-border);
    box-shadow: none;
    background: #f2f2f2;
    background: var(--react-dropdown-toggler-disabled-bg-color);
    color: #ccc;
    color: var(--react-dropdown-toggler-disabled-color);
    pointer-events: none;

    &::after {
      border-color: transparent transparent transparent #ccc;
      border-color: var(--react-dropdown-toggler-disabled-after-border-color);
    }
  }

  .dropdown-content {
    .item {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      padding: 0 10px;
      height: 32px;
      border-bottom: 1px solid #ddd;
      border-bottom: var(--react-dropdown-item-border-bottom);
      cursor: pointer;
      justify-content: space-between;

      &:last-child {
        border-bottom: none;
      }

      &:focus,
      &:hover {
        background: #fff;
        background: var(--react-dropdown-item-focus-hover-bg);
      }
    }

    &.multiselect {
      .item {
        padding: 0 0 0 10px;

        .checkbox-button {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 30px;
          height: 30px;
        }

        input[type=checkbox] {
          box-sizing: border-box;
          padding: 0;
        }

        input {
          font-size: 1rem;
          line-height: 1.5;
          padding: 11px 23px;
          border: 1px solid rgba(0, 0, 0, .15);
          border-radius: 0;
          outline: 0;
          background-color: transparent;
        }

        .checkbox-button__input {
          opacity: 0;
          position: absolute;
        }

        .checkbox-button__control {
          position: relative;
          display: inline-block;
          width: 20px;
          height: 20px;
          vertical-align: middle;
          background-color: inherit;
          border: 2px solid #ddd;
          border-color: var(--react-dropdown-checkbox-color);
        }

        .checkbox-button__input:checked+.checkbox-button__control:after {
          content: "";
          display: block;
          position: absolute;
          top: 3px;
          left: 3px;
          width: 10px;
          height: 10px;
          background-color: #aaa;
          background-color: var(--react-dropdown-checkbox-background-color);
        }

        .checkbox-button__input:checked + .checkbox-button__control,
        .checkbox-button__input:hover + .checkbox-button__control,
        .checkbox-button__input:focus + .checkbox-button__control {
          border-color: transparent;
          border-color: var(--react-dropdown-checkbox-border-color);
          border-image: linear-gradient(180deg, #aaa 0%, #ccc 100%);
          border-image: var(--react-dropdown-checkbox-border-image);
          border-image-slice: 1;
        }

        .checkbox-button__control {
          transform: scale(0.75);
        }

        &.selected {
          background: #fff;
          background: var(--react-dropdown-item-focus-hover-bg);
        }
      }
    }
  }

  .scroll-area {
    max-height: 240px;
    border-top: 0;
    border-radius: 0 0 5px 5px;

    &.up {
      border-radius: 5px 5px 0 0;
    }
  }

  .scrollbar-bright::-webkit-scrollbar-track:vertical {
    border-radius: 0 5px 0 0;
  }

  .dropdown-search + .scroll-area {
    border-top: 1px solid #fff;
    border-top: var(--react-dropdown-scroll-area-border-top);
    box-shadow: inset 0 4px 5px -5px rgba(0, 0, 0, .3);
    box-shadow: var(--react-dropdown-scroll-area-box-shadow);
  }

  .dropdown-search {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;

    input {
      box-sizing: border-box;
      padding: 5px;
      width: 100%;
      height: 26px;
      border: 1px solid #ccc;
      border: var(--react-dropdown-search-input-border);
      border-radius: 5px;
      color: var(--react-dropdown-search-input-color);
      background: var(--react-dropdown-search-input-bg);

      &::placeholder {
        color: #aaa;
        color: var(--react-dropdown-search-input-placeholder-color);
      }
    }
  }
}
