.tooltipTextPreset {
  font-family: 'Arial', sans-serif;
  color: #444;
  color: var(--react-dropdown-color);
  font-size: 11px;
}

.tooltipContainer {
  z-index: 10000;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  composes: tooltipTextPreset;
  background: #f2f2f2;
  background: var(--tooltip-bg-color);
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  text-align: left;
}

.tooltipTitle {
  padding: 0;
}

.tooltipArrow {
  border-top-color: #f2f2f2;
  border-top-color: var(--tooltip-bg-color);
  filter: drop-shadow(0 1px 0 #fff) drop-shadow(0 2px 1px #11111124);
  filter: var(--white-tooltip-arrow-filter);
  top: -1px;
}
