.react-dropdown-default {
  --react-dropdown-color: #666;
  --react-dropdown-toggler-bg: linear-gradient(to bottom, #e4e4e4 0, #f2f2f2 100%);
  --react-dropdown-toggler-border: 1px solid #fff;
  --react-dropdown-toggler-box-shadow: inset 0 4px 5px -5px rgba(0, 0, 0, .3), inset 0 -2px 4px -4px rgba(0, 0, 0, .3);
  --react-dropdown-toggler-focus-box-shadow: inset 0 4px 5px -5px rgba(0, 0, 0, .3), inset 0 -2px 4px -4px rgba(0, 0, 0, .3), 0 0 5px #4dabf773;
  --react-dropdown-toggler-hover-box-shadow: inset 0 4px 5px -5px rgba(0, 0, 0, .3), inset 0 -2px 4px -4px rgba(0, 0, 0, .3), 0 1px 2px #00000040;
  --react-dropdown-toggler-after-filter: drop-shadow(0 1px 0 #fff);
  --react-dropdown-toggler-disabled-bg-color: #f2f2f2;
  --react-dropdown-toggler-disabled-border: 1px solid #ccc;
  --react-dropdown-toggler-disabled-color: #ccc;
  --react-dropdown-toggler-disabled-after-border-color: transparent transparent transparent #ccc;
  --react-dropdown-toggler-dropdown-opened-box-shadow: inset 0 4px 5px -5px rgba(0, 0, 0, .3), inset 0 -2px 4px -4px rgba(0, 0, 0, .3), 0 1px 2px #00000040;
  --react-dropdown-dropdownList-border: 1px solid #fff;
  --react-dropdown-dropdownList-box-shadow: 0 1px 2px #00000040, 0 3px 3px -1px rgba(0, 0, 0, .06) inset;
  --react-dropdown-dropdownList-bg: #f2f2f2;
  --react-dropdown-listEmpty-color: #666;
  --react-dropdown-item-border-bottom: 1px solid #ddd;
  --react-dropdown-item-focus-hover-bg: #fff;
  --react-dropdown-scroll-area-border-top: 1px solid #fff;
  --react-dropdown-scroll-area-box-shadow: inset 0 4px 5px -5px rgba(0, 0, 0, .3);
  --react-dropdown-search-input-border: 1px solid #ccc;
  --react-dropdown-search-input-bg: linear-gradient(0deg, #fff 0%, #fff 100%);
  --react-dropdown-search-input-placeholder-color: #aaa;

  --react-dropdown-checkbox-color: #ddd;
  --react-dropdown-checkbox-border-image: linear-gradient(180deg, #aaa 0%, #ccc 100%);
  --react-dropdown-checkbox-border-color: transparent;
  --react-dropdown-checkbox-background-color: #aaa;
}
