.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.animationChangeColor {
  animation-duration: 2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.text,
.arrow {
  composes: animationChangeColor;
}

.arrow {
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  transition: all .3s ease-in;
}

.text {
  color: #888;
  font: inherit;
  font-size: 7px;
  font-weight: bold;
  text-shadow: 0 -1px 1px #dcdcdc;
  transition: all .3s ease-in;
}

.indicatorsContainer {
  z-index: 10000;
  height: 32px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 31px;
  left: 0;
  composes: flexCenter;
  animation-name: showup;
  animation-duration: .5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  background: transparent linear-gradient(180deg, #CCCCCC00 0%, #CCCCCC 50%, #CCCCCC 100%) 0% 0% no-repeat padding-box;
  justify-content: space-evenly;
}

.decrease {
  .arrow {
    animation-name: decreaseArrowAnim;
    transform: rotate(180deg);
    border-bottom: 5px solid red;
    filter: drop-shadow(0 1px 3px #ff8787);
  }

  .text {
    animation-name: decreaseTextAnim;
    color: #f03e3e;
    text-shadow: 0 1px 5px #ff8787;
  }
}

.increase {
  .arrow {
    animation-name: increaseArrowAnim;
    transform: rotate(0deg);
    filter: drop-shadow(0 1px 3px #94d82d);
    border-bottom: 5px solid #66a80f;
  }

  .text {
    animation-name: increaseTextAnim;
    color: #66a80f;
    text-shadow: 0 1px 5px #94d82d;
  }
}

.indicatorWrap {
  position: relative;
  flex-direction: column;
  padding: 0 13px;
  transition: all .3s ease-in;
  composes: flexCenter;

  & > * {
    pointer-events: none;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 84px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      padding: 0 0;
      width: 50px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    right: 1px;
    width: 1px;
    height: 155%;
    background: linear-gradient(to bottom, transparent, #ffffff8a);
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    width: 1px;
    height: 155%;
    background: linear-gradient(to bottom, transparent, #9a9a9a);
  }

  &:last-of-type {
    &::after,
    &::before {
      content: none;
    }
  }
}

.value {
  padding: 4px 1px 1px 1px;
  max-width: 46px;
  overflow: hidden;
  font-size: 11px;
  text-overflow: ellipsis;
  white-space: nowrap;
  composes: text;
}

.title {
  margin-bottom: 4px;
  text-transform: uppercase;
  composes: text;
}

.tooltipContainer {
  max-height: 100%;
  max-width: 205px;
  background: #f2f2f2;
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: 0 0 5px #999;
}

.tooltipTitle {
  word-break: normal;
  white-space: pre-wrap;
  text-align: left;
  display: block;
  padding: 0 8px;
}

.tooltipArrowWrap {
  position: relative;
  top: -1px;
}

.tooltipArrow {
  border-color: #f2f2f2 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-radius: 2px;
  filter: drop-shadow(0 1px .6px #999);
}

@keyframes showup {
  0% {
    bottom: 0;
  }

  50% {
    bottom: 40px;
  }

  100% {
    bottom: 31px;
  }
}
@keyframes increaseArrowAnim {
  from {
    filter: drop-shadow(0 1px 3px #94d82d);
    border-bottom: 5px solid #66a80f;
  }

  to {
    filter: none;
    border-bottom: 5px solid #5c940d;
  }
}
@keyframes increaseTextAnim {
  from {
    color: #66a80f;
    text-shadow: 0 1px 5px #94d82d;
  }

  to {
    color: #5c940d;
    text-shadow: none;
  }
}
@keyframes decreaseArrowAnim {
  from {
    border-bottom: 5px solid red;
    filter: drop-shadow(0 1px 3px #ff8787);
  }

  to {
    filter: none;
    border-bottom: 5px solid #c92a2a;
  }
}
@keyframes decreaseTextAnim {
  from {
    color: #f03e3e;
    text-shadow: 0 1px 5px #ff8787;
  }

  to {
    color: #c92a2a;
    text-shadow: none;
  }
}

#{$dark-mode} {
  .indicatorsContainer {
    z-index: 1;
    background: rgba(0, 0, 0, 0) linear-gradient(180deg, hsla(0, 0%, 80%, 0), #333 50%, #333) 0 0 no-repeat padding-box;
  }

  .indicatorWrap {
    &::before {
      background: linear-gradient(180deg, #00000000, #ffffff2b);
    }
  }

  .text {
    text-shadow: none;
    color: #6b6b6b;
  }

  .decrease {
    .text {
      text-shadow: 0 1px 5px #ff8787;
      color: #F03E3E;
    }
  }

  .increase {
    .text {
      text-shadow: 0px 1px 5px #94D82D;
      color: #66A80F;
    }
  }
}
