.selectUsersCont {
  padding: 10px 10px 0 10px;
  overflow: visible;
  background-color: #f2f2f2;
  background-color: var(--default-bg-panel-color);
}

.selectUsers {
  overflow: visible;
}

.selectUsers * {
  box-sizing: border-box;
}

.users {
  display: inline-block;
  vertical-align: top;
}

.addUserButton,
.removeUserButton {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 26px;
  border: 1px solid #ccc;
  border-color: var(--personal-stats-c-border);
  border-right: 0;
  border-radius: 5px 0 0 5px;
  box-shadow: none;
  background: linear-gradient(to bottom, #fff 0%, #ddd 100%);
  background: var(--title-white-gradient);
  color: #999;
  color: var(--default-gray-9-color);
  font-size: 22px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-appearance: none;

  &:hover,
  &:focus {
    background: linear-gradient(to top, #fff 0%, #ddd 100%);
    background: var(--title-white-gradient);
  }

  &[disabled] {
    color: #ccc;
    color: var(--default-gray-c-color);
    pointer-events: none;
    cursor: not-allowed;
  }

  .text {
    display: block;
    font-size: 24px;
    line-height: 24px;
    transform: rotate(45deg);
    user-select: none;
  }
}

.addUserButton {
  line-height: 20px;
}

.removeUserButton {
  font-size: 18px;
  line-height: 18px;
}

.userLabel {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 24px;
  font-size: 0;

  .color {
    display: inline-block;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    vertical-align: middle;
  }

  .user {
    display: inline-block;
    padding: 0 10px;
    height: 100%;
    border: 1px solid #ccc;
    border-color: var(--personal-stats-c-border);
    border-radius: 0 5px 5px 0;
    background: linear-gradient(to bottom, #fff 0%, #ddd 100%);
    background: var(--title-white-gradient);
    font-size: 12px;
    line-height: 24px;
    vertical-align: middle;
  }
}

.autocomplete {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: top;

  svg {
    filter: none;
  }

  :global(.greySelectSearchWrap) {
    width: 251px;
  }
}

.clearUsers {
  display: inline-block;
  margin-bottom: 15px;
  border: 0;
  background: transparent;
  color: #069;
  color: var(--default-blue-color);
  font-size: 12px;
  vertical-align: bottom;
  cursor: pointer;
  -webkit-appearance: none;
  padding: 0 10px;
}

:global(.d .torn-react-autocomplete) {
  display: inline-block;
  width: 268px;
  vertical-align: top;

  :global(.input-text-autocomplete) {
    padding: 5px 25px 5px 10px;
    width: 268px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: url(/images/v2/main/icons/user_ID_search_active.png) #fff 97% 6px no-repeat;
  }
}

@media screen and (max-width: 1001px) {
  :global(.r) {
    .selectUsersCont {
      padding: 0;
      border-top: 0;

      .users {
        display: block;
        padding: 0;
        padding-bottom: 10px;
      }

      .removeUserButton {
        min-width: 34px;
        height: 100%;
        border-top: 0;
        border-left: 0;
        border-radius: 0;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 1), 1px 0 0 0 rgba(255, 255, 255, 1) inset;
        box-shadow: var(--personal-stats-user-shadow);

        .text {
          line-height: 34px;
        }
      }

      .addUserButton {
        height: 100%;

        .text {
          line-height: 32px;
        }
      }

      .userLabel {
        display: flex;
        margin: 0;
        height: 34px;

        .user {
          width: 100%;
          height: 33px;
          border-top: 0;
          border-right: 0;
          border-radius: 0;
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 1), 1px 0 0 0 rgba(255, 255, 255, 1) inset;
          box-shadow: var(--personal-stats-user-shadow);
          background: none;
          line-height: 33px;
        }
      }

      .autocomplete {
        display: flex;
        padding: 5px 10px 0;

        :global(.torn-react-autocomplete) {
          :global(.input-text-autocomplete) {
            width: 100%;
            height: 34px;
            background-position-y: 9px;
          }

          :global(.autocomplete-categories) {
            top: 34px;
          }

          :global(.scrollarea) {
            top: 58px;
          }
        }
      }

      .clearUsers {
        margin: 0 0 19px 5px;

        &.usersFull {
          margin: 0 0 5px 5px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  :global(.r) {
    .selectUsersCont {
      .autocomplete {
        margin-bottom: 0;
        padding: 0 10px;
        height: auto;
      }

      .addUserButton {
        margin-bottom: 10px;
        height: 34px;
      }

      .clearUsers {
        margin: 0 0 5px 5px;

        &.usersFull {
          margin: 0 0 5px 5px;
        }
      }
    }
  }
}
