.arrowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.arrow {
  padding-top: 1px;

  path {
    filter: none;
  }
}

.customArrowRight {
  composes: arrow;
}

.customArrowLeft {
  composes: arrow;
  transform: scale(-1, 1);
}

.arrowButton {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.arrowButtonDisalbed {
  cursor: default;
}
