@import '../../../../styles/mixins';

:global(.manage-company) {
  .infoWrapper {
    .characteristicsItem {
      width: 33%;
      text-align: center;
    }
  }
}

.infoWrapper {

  @include border-horizontal;

  .characteristics {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 35px;
    border-bottom: $border-gray;
    border-bottom-color: var(--default-panel-divider-outer-side-color);
    font-weight: bold;
    line-height: 16px;

    &Item {
      white-space: nowrap;

      &Text {
        position: relative;
      }
    }

    @media screen and (max-width: 1000px) {
      #{$global-r} & {
        height: auto;
        justify-content: flex-start;
        padding-right: 0;

        &Item {
          width: 50%;
          text-align: center;

          &Text {
            line-height: 24px;
          }
        }
      }
    }
  }

  .characteristics + .message {
    border-top: $border-white;
    border-top-color: var(--default-panel-divider-inner-side-color);
  }

  .message {
    .text {
      padding: 10px 10px 0;
      word-break: break-word;
      line-height: 16px;
    }

    .errText {
      color: #fe5c26;
      padding: 10px 10px 0;
      word-break: break-word;
      line-height: 16px;
      font-weight: bold;
    }

    .infoFooter {
      padding: 10px;

      .buttonAccept {
        margin-right: 10px;
      }

      .footerMessage {
        display: flex;
        justify-content: center;
        font-weight: bold;

        &.accepted {
          color: #84b201;
        }

        &.declined,
        &.withdrawn {
          color: #fe5c26;
        }
      }
    }
  }
}
