.article {
  min-height: 700px;
  position: relative;

  :global(.tornPreloader) {
    top: 300px;
  }

  :global(blockquote) {
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 8px 8px 2px 20px;
    border-left: 1px solid #ccc;
    font-style: italic;
  }

  * {
    box-sizing: border-box;
  }
  .articleContent {
    padding: 20px;
    vertical-align: top;
    width: 581px;
    position: relative;
    min-height: 700px;
    background: url(/images/v2/newspaper/divider_vertical.png) right 0 repeat-y;
    background: var(--newspaper-divider-vertical-line-url) right 0 repeat-y;
  }
  .header {
    background: url(/images/v2/newspaper/divider_horizontal_old.png) 0 100% repeat-x;
    background: var(--newspaper-divider-horizontal-old-line-url) 0 100% repeat-x;
  }
  .title {
    color: #525252;
    color: var(--newspaper-font-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 23px;
    line-height: 27px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .subtitle {
    padding: 10px 0 10px;
    font-family: 'Times New Roman', sans-serif;
    font-size: 18px;
    font-style: italic;
    color: #525252;
    color: var(--newspaper-font-color);
    line-height: 17px;
  }
  .info {
    font-family: 'Times New Roman', sans-serif;
    font-size: 16px;
    padding-bottom: 18px;
  }
  .author {
    color: #069;
    color: var(--default-blue-color);
    text-decoration: none;
  }
  .date {
    color: #525252;
    color: var(--newspaper-font-color);
    display: inline-block;
    margin-left: 5px;
    font-style: italic;
  }
  .text {
    font-family: 'Times New Roman', sans-serif;
    font-size: 16px;
    color: #525252;
    color: var(--newspaper-font-color);
    padding-top: 8px;
    line-height: 17px;
    word-wrap: break-word;
    p {
      padding: 10px 0;
      line-height: 19px;
    }
    a {
      color: #069;
      color: var(--default-blue-color);
      text-decoration: none;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    iframe {
      max-width: 100%;
    }
    ul {
      margin: 3px 0 10px 20px;
      list-style-type: disc;
    }
  }
  .views {
    color: #069;
    color: var(--default-blue-color);
    display: block;
    font-weight: 700;
    float: right;
    cursor: default;
    .counter {
      display: inline-block;
      margin-right: 5px;
    }
  }
  .viewsIcon {
    background: url(/images/v2/newspaper/views_counter.png) 0 0 repeat-x;
    filter: unset;
    filter: var(--newspaper-views-counter-filter);
    display: inline-block;
    width: 19px;
    height: 11px;
  }
}

:global(.r) {
  @media screen and (max-width: 1000px) {
    .article {
      display: block;
      .articleContent {
        display: block;
        min-width: unset;
        width: 100%;
        background: none;
        .tableWrapper {
          overflow-x: scroll;
        }
      }
      .views {
        float: none;
        margin-top: 7px;
      }
    }
  }
}
