.toolTipPreset {
  z-index: 99999;
  clear: both;
  box-shadow: 0 0 5px #999;
  line-height: 16px;
  word-wrap: break-word;
}

.tooltipTextPreset {
  font-family: Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-align: left;
}

.tooltipContainer {
  z-index: 10000;
  box-sizing: border-box;
  // top: -105%;
  // left: 50%;
  max-width: inherit;
  max-height: 100%;
  border: 1px solid #fff;
  border-radius: 1px;
  background-color: #fff;
  color: #9b9b8c;
  composes: toolTipPreset;
  composes: tooltipTextPreset;
}

.tooltipArrow {
  filter: drop-shadow(0 2px 1px #aba5a55c);
}

.tooltipTitle {
  padding: 0;
}

:global {
  .expTooltip-enter {
    opacity: 0;
    transition: opacity .3s linear;

    &.expTooltip-enter-active {
      opacity: 1;
    }
  }

  .expTooltip-exit {
    opacity: 1;
    transition: opacity .05s linear;

    &.expTooltip-exit-active {
      opacity: 0;
    }
  }
}
