.d {
  .subcrimes-wrap {
    position: relative;
    display: inline-block;
    width: 782px;
    overflow: hidden;
    color: #8a8a79;
    font-family: Fjalla One, sans-serif;
    font-size: 13px;
    line-height: 21px;
    vertical-align: top;
  }
}

@media screen and (max-width: 1000px) {
  .r {
    .subcrimes-wrap {
      width: 386px;
    }
  }
}

@media screen and (max-width: 600px) {
  .r {
    .subcrimes-wrap {
      width: 320px;
    }
  }
}
