:global(.info-msg) {
  font-family: Arial, sans-serif;
}
.header {
  height: 0;
  position: relative;
  top: -70px;
}
.link {
  width: 151px;
  height: 35px;
  position: absolute;
  z-index: 100;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 124px;
    height: 7px;
    top: 24px;
    left: 15px;
  }
  &:global(.active) {
    &:after {
      display: none;
    }
  }
  &:hover:after {
    background: url(/images/v2/newspaper/current_page.png) 0 0 no-repeat;
  }
  &.frontPage {
    top: 0;
    left: 10px;
  }
  &.archive {
    top: 0;
    left: 161px;
  }
}

:global(.r) {
  @media screen and (max-width: 1000px) {
    .header {
      top: -176px;
    }
    .link {
      width: 182px;
      &:after {
        top: 20px;
      }
      &.archive {
        left: 202px;
        &:after {
          top: 25px;
          left: 6px;
        }
      }
    }
  }
}

:global(.r) {
  @media screen and (max-width: 600px) {
    .link {
      width: 138px;
      &.archive {
        left: 170px;
      }
    }
  }
}
