<div id="react-root"></div>

<% for (var css in htmlWebpackPlugin.files.css) { %>
<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
<% } %>
<% for (var js in htmlWebpackPlugin.files.js) { %>
<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
<% } %>

<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">

<div id="react-root"></div>
<button onclick="getAction({action: '/loader.php?sid=missionsQuestionnaireData&step=reset&mode=json', success: function () {window.location.reload()}})" style="margin: 40px 0">reset</button>
