#{$dark-mode} {
  --loadouts-default-background-color: #333;
  --loadouts-default-white-box-shadow-color: #ffffff26;
  --loadouts-separator-border-color: #222;
  --loadouts-separator-box-shadow-color: #ffffff1a;
  --loadouts-gray-box-shadow-color: #ffffff26;
  --loadouts-tooltip-box-shadow-color: #000000a6;
  --loadouts-window-color: #444;
  --loadouts-item-border-color: #999;
  --loadouts-gradient-1: linear-gradient(to bottom, #555, #333);
  --loadouts-gradient-2: linear-gradient(to bottom, #0000, #00000080, #0000);
  --loadouts-gradient-3: linear-gradient(to bottom, #fff0, #ffffff1a, #fff0);
  --loadouts-input-color: #111;
  --loadouts-exp-bar: #000;
  --loadouts-exp-value: #666;
  --loaduots-equiped-background-color: #4b5738;
  --loaduots-busy-background-color: #5c3e3e;
  --loaduots-item-type-color: #fff;
  --loaduots-item-type-box-shadow-color: rgba(0, 0, 0, 25%);
  --loaduots-standard-armory-color: #fff;
}
