#{$light-mode} {
  --loadouts-default-background-color: #f2f2f2; // --default-bg-panel-color
  --loadouts-default-white-box-shadow-color: #fff;
  --loadouts-separator-border-color: #ccc; // --divider-dark-color
  --loadouts-separator-box-shadow-color: #fff;
  --loadouts-gray-box-shadow-color: #999;
  --loadouts-tooltip-box-shadow-color: #999;
  --loadouts-window-color: #fff; // --tooltip-border-color
  --loadouts-item-border-color: #fff;
  --loadouts-gradient-1: linear-gradient(to bottom, #fff, #eee); // --default-panel-gradient
  --loadouts-gradient-2: linear-gradient(to bottom, #fff0, #ffffffa6, #fff0);
  --loadouts-gradient-3: linear-gradient(to bottom, #b9c3ae00, #b9c3ae, #b9c3ae00);
  --loadouts-input-color: #fff;
  --loadouts-exp-bar: #ddd;
  --loadouts-exp-value: #999;
  --loaduots-equiped-background-color: #d8e2cd;
  --loaduots-busy-background-color: #f1e1dc;
  --loaduots-item-type-color: #333;
  --loaduots-item-type-box-shadow-color: #bbb;
  --loaduots-standard-armory-color: #999;
}
