@import './tooltip.cssmodule.scss';

.wrap {

  @extend .wrap;

  &::before {

    @extend .wrap::before;

    top: unset !important;
    bottom: -7px !important;
    border-width: 0 8px 8px 8px !important;
    border-color: var(--loadouts-window-color) transparent transparent !important;
  }
}

.container {

  @extend .container;
}

.title {

  @extend .title;
}

.arrowWrap {

  @extend .arrowWrap;

  bottom: unset !important;
  top: 100% !important;
  border-width: 8px 8px 0 !important;
  border-color: var(--loadouts-window-color) transparent transparent !important;
}

.tooltipArrow {

  @extend .tooltipArrow;
}
