.wrap {
  &::before {
    content: '';
    position: absolute;
    top: -7px;
    z-index: 3;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: transparent transparent var(--loadouts-window-color) transparent;
  }
}

.container {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 3px 8px !important;
  min-width: 16px;
  max-width: 360px !important;
  max-height: none !important;
  border: 1px solid var(--loadouts-window-color);
  border-radius: 1px;
  box-shadow: 0 0 5px var(--loadouts-tooltip-box-shadow-color) !important;
  background-color: var(--loadouts-window-color) !important;
  line-height: 16px !important;
  text-align: left !important;
  word-wrap: break-word !important;
}

.title {
  padding: 0 !important;
  font-size: 12px !important;
}

.arrowWrap {
  position: absolute;
  bottom: 100%;
  z-index: 2;
  box-sizing: border-box;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: transparent transparent var(--loadouts-window-color) transparent;
  filter: drop-shadow(0 .8px .6px var(--loadouts-tooltip-box-shadow-color));
}

.tooltipArrow {
  display: none;
}
