@import '../../../styles/commonRow.cssmodule.scss';

.columnContainer {
  composes: section;
  background: #fff;
  background: var(--ct-panel-bg);
}

.title {
  display: block;
  color: #668fa3;
  color: var(--ct-my-maps-title-color);
  font-family: 'Fjalla One', sans-serif;
  font-size: 12px;
  text-align: center;
}
