.appHeaderWrapper {
  margin-top: 1px;
  margin-bottom: 10px;
  width: 100%;

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      margin-top: -5px;
    }
  }
  @media screen and (max-width: 600px) {
    #{$global-r} & {
      margin-top: -10px;
    }
  }
}

.topSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 33px;

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      height: 43px;
    }
  }
}

.bottomSection {
  display: block;
}

.tutorialContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  font-weight: bold;
}

.greyLineV {

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      &:first-child {
        &::before {
          content: none;
        }
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 1px;
        height: 46px;
        background: url(/images/v2/main/page_title_divider_short.png) left top no-repeat;
        background: linear-gradient(transparent 9%, hsla(0, 0%, 25%, .35) 50%, #fff0 93%);
      }
    }
  }
  @media screen and (max-width: 600px) {
    #{$global-r} & {
      &::before {
        // left: -6px;
      }
    }
  }
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21.33px;
  height: 16px;
  pointer-events: none;

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      justify-content: space-around;
      margin: 0 7px 4px 7px;
      width: 20px;
    }
  }
}

#{$dark-mode} .iconContainer svg {
  filter: none;
}

.disableLinksRightMargin {
  a:last-of-type {
    margin-right: 0;
  }
}

.disableButtonsRightMargin {
  button:last-of-type {
    margin-right: 0;
  }
}

.svgIcon {
  left: 2px;
  fill: #777;
  fill: var(--appheader-links-color);

  &.isDropDownLayout {
    fill: #777;
    fill: var(--appheader-dropdown-links-color);
  }

  &.isHovering {
    fill: #333;
    fill: var(--appheader-links-color-hover);
  }
}

.delimiter {
  border-left: none;
  border-right: none;
  border-top: 1px solid #999;
  border-top: var(--appheader-delimiter-top-border);
  border-bottom: 1px solid #ebebeb;
  border-bottom: var(--appheader-delimiter-bottom-border);
}
