.banner {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 205px;
  background: url(/images/v2/calendar/976_banner.png) 0 0 no-repeat;
  background-image: var(--calendar-banner);
}

:global(.r) {

  @media screen and (max-width: 600px) {
    .banner {
      height: 150px;
    }
  }
}
