@import '../index.cssmodule.scss';

.tabsContainer {
  composes: columnsFlex;
  cursor: pointer;
  height: 34px;
  border-bottom: 1px solid #cecebf;

  &:hover {
    background: #f4f4e9;
  }
}

.tab {
  pointer-events: none;
  padding: 10px 0 10px 10px;
  height: 100%;
  composes: columns;
}

.title {
  pointer-events: none;
  color: #ff5c26;
  line-height: 15px;
}

.itemSelected {
  .title {
    color: #85b200;
  }
}

.tabsLayout {
  background: #f4f4e9;
}
