.svgContainer {
  position: absolute;
  z-index: -1;
}

.svgPlaceholder {
  width: 150px;
  height: 34px;

  path {
    fill: url(#placeholder-gradient);
    fill: var(--ct-my-maps-title-bg);
  }
}

.svgPlaceholderReverse {
  transform: scale(-1, 1);
}
