@import '../styles/constants.cssmodule.scss';

.spinnerAnimation {
  animation-name: spinnerLoop;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loadingSpinner {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px dotted #668fa3;
  border-radius: 100%;
  composes: spinnerAnimation;
}

@keyframes spinnerLoop {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

:global(.greySelectSearchWrap) {
  .spinnerAnimation {
    border-color: $borderGrey;
  }
}
