.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allSlotsAreOut {
  cursor: default;
  background: #fafbfc;
  color: #cecece;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  &:focus {
    box-shadow: inset 0 0 2px #658ea3;
  }
}

.buttonDisabled {
  cursor: default;
}

.flexButton {
  composes: flexRow;
  justify-content: flex-start;
}

.text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.fonts {
  // font-family: Fjalla one, sans-serif;
  font-size: 12px;
}

.noScroll {
  overflow: visible !important;
}

.preventPointer {
  pointer-events: none;
}

.adaptiveContainer {
  width: 100%;
  height: auto;
}
