.dark-mode .greySelectSearchWrap {
  --selectSearchWrap-category-icon-bg: linear-gradient(0deg, #666 0%, #888 100%);
  --selectSearchWrap-category-icon-hover-bg: linear-gradient(0deg, #999 0%, #ddd 100%);
  --selectSearchWrap-category-icon-shadow: 0px 0px 2px #000;
  --selectSearchWrap-stats-icon-bg: linear-gradient(0deg, #666 0%, #888 100%);
  --selectSearchWrap-stats-icon-hover-bg: linear-gradient(0deg, #999 0%, #ddd 100%);
  --selectSearchWrap-stats-icon-shadow: 0px 0px 2px #000;

  --selectSearchWrap-button-bg: linear-gradient(180deg, #555 0%, #333 100%);
  --selectSearchWrap-button-hover-bg: linear-gradient(180deg, #333 0%, #555 100%);
  --selectSearchWrap-button-border-color: #444;

  --selectSearchWrap-scroll-area-bg: #333;
  --selectSearchWrap-scroll-bg: #666;

  --selectSearchWrap-border-color: #444;

  --selectSearchWrap-selected-user-bg: #444;
  --selectSearchWrap-user-list-bg: #222;
  --selectSearchWrap-user-selected-color: #aaa;

  --selectSearchWrap-tab-selected-color: #fff;
  --selectSearchWrap-tab-color: #999;
  --selectSearchWrap-tab-bg: #111;
  --selectSearchWrap-tab-selected-bg: #222;
  --selectSearchWrap-tab-selected-border-bottom-color: #222;

  --selectSearchWrap-search-item-bg: #111;
}
