@import '../styles/animation.cssmodule.scss';
@import '../styles/common.cssmodule.scss';
@import '../styles/constants.cssmodule.scss';

.selectSearchWrap {
  position: relative;
  width: 300px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      padding-bottom: 10px;
    }
  }
}

.topContainer {
  opacity: 1;
  composes: flexRow;
  position: relative;
  width: inherit;
  height: 26px;
}

.bottomContainer {
  position: absolute;
  right: 0;
  z-index: 100000;
  box-sizing: border-box;
  width: inherit;
  height: auto;
  overflow: hidden;
  border: 1px solid #c0d1d8;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  composes: flexColumn;

  @media #{$screen-tablet} {
    #{$global-r} & {
      border-top: 1px solid #c0d1d8;
    }
  }
}

:global(.greySelectSearchWrap) {
  .bottomContainer {
    border-color: $borderGrey;
    border-color: var(--selectSearchWrap-border-color);
  }
}
