.greySelectSearchWrap {
  --selectSearchWrap-category-icon-bg: linear-gradient(180deg, #999 0%, #ccc 100%);
  --selectSearchWrap-category-icon-hover-bg: linear-gradient(180deg, #666 0%, #999 100%);
  --selectSearchWrap-category-icon-shadow: 0 1px 0 #fff;
  --selectSearchWrap-stats-icon-bg: #999;
  --selectSearchWrap-stats-icon-hover-bg: #555;
  --selectSearchWrap-stats-icon-shadow: 0px 1px 0px #FFFFFFA6;

  --selectSearchWrap-button-bg: linear-gradient(180deg, #fff 0, #ddd);
  --selectSearchWrap-button-hover-bg: linear-gradient(180deg, #ddd 0, #fff);
  --selectSearchWrap-button-border-color: #ccc;

  --selectSearchWrap-scroll-area-bg: #ccc;
  --selectSearchWrap-scroll-bg: #fff;

  --selectSearchWrap-border-color: #ccc;

  --selectSearchWrap-selected-user-bg: #fff;
  --selectSearchWrap-user-list-bg: #f2f2f2;
  --selectSearchWrap-user-selected-color: #dcdbdb;

  --selectSearchWrap-tab-selected-color: #000;
  --selectSearchWrap-tab-color: #999;
  --selectSearchWrap-tab-bg: #f2f2f2;
  --selectSearchWrap-tab-selected-bg: #fff;
  --selectSearchWrap-tab-selected-border-bottom-color: #fff;

  --selectSearchWrap-search-item-bg: #fff;
}
