.switcherContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 98px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      padding: 3px 8px 3px 3px;
      width: auto;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      padding: 3px;
    }
  }
}

.beta {
  color: #94b1bf;
  color: var(--ct-switcher-beta-color);
}

.released {
  color: #85b200;
}

.banned {
  color: red;
  color: var(--ct-switcher-banned-color);
}

.leftSection {
  flex: 1;
  text-align: center;

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}

.title {
  color: inherit;
  // padding-right: 5px;
  font-family: 'Fjalla one', sans-serif;
}

.releasedLabel,
.betaLabel,
.bannedLabel {
  padding-right: 5px;
}

.betaLabel {
  width: 44px;
}

.releasedLabel {
  width: 41px;
}

.inProgressLabel {
  // position: relative;
  // left: 6px;
  // top: 1px;
}

.rightSection {
  position: relative;
  flex: 1;
}

.checkbox {
  position: relative;
  margin-left: 3px;
  width: 46px;
  height: 16px;
  border-radius: 34px;
  background: #d4dfe5;
  background: var(--ct-switcher-checkbox-bg);
  transition: all .3s linear;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    transition: transform .3s linear;
    transform: translateX(0);
  }
}

.narrow {
  width: 36px;
}

.checkboxTitle {
  pointer-events: none;
  transition: transform .3s linear;
  transform: translateX(0);
  user-select: none;
  position: absolute;
  top: 2px;
  left: 17px;
  line-height: 1;
}

.checkboxTitleFont {
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.checked {
  background: #85b200;

  &::before {
    transform: translateX(30px);
  }

  .checkboxTitle {
    transform: translateX(-9px);
  }
}

.disableCheckbox {
  cursor: default;

  &::before {
    display: none;
  }

  .checkboxTitle {
    transform: translateX(-50%);
    left: 50%;
  }
}

.checked__banned {
  background: red;
  background: var(--ct-switcher-checkbox-banned-bg);

  .checkboxTitle {
    transform: translateX(-12px);
  }
}

.dimmToggle {
  opacity: .6;
  cursor: default;
}

.dimmLabel {

  @extend .beta;
}
