$closeSize: 30px;

.close {
  position: absolute;
  top: 4px;
  right: 2px;
  padding: 0;
  width: $closeSize;
  height: $closeSize;
  border: 0;
  background: 0;
  cursor: pointer;
}

.description {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 9px 42px;
  width: 100%;
  color: #678c00;
  color: var(--default-green-color);
  font-weight: bold;
  line-height: 18px;
  text-align: center;
}

.line {
  display: flex;
  justify-content: center;
  max-width: 100%;
  white-space: nowrap;
}

.nowrap {
  height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}
