.rarity1 {
  filter: drop-shadow(0 0 5px rgba(255, 191, 0, 0.5));
}

.rarity2 {
  filter: drop-shadow(0 0 5px rgba(255, 128, 0, 0.5));
}

.rarity3 {
  filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.5));
}
