.miniGamesQuickAccessWrap {
  margin: 10px 0;
  background: #fff;
  background: var(--ct-panel-bg);
  border: 2px solid #dfecf2;
  border-color: var(--ct-quick-access-border-color);
  border-radius: 2px;
  padding: 5px 10px;
  position: relative;
}

.titleWrap {
  margin-top: 3px;
}

.title {
  margin-bottom: -5px; // dirty hack!
  color: #678ea3;
  color: var(--ct-quick-access-title-color);
  font-weight: bold;
  display: block;
}

.miniGamesButtonsWrap {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media #{$screen-tablet} {
    #{$global-r} & {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}

.button {
  cursor: pointer;
  padding: 4px 11px;
  margin: 5px 4px;
  border: none;
  box-shadow: 0 1px 2px 0 #a7a0a0;
  border-radius: 5px;
  background: linear-gradient(to bottom, transparent, #deebf1);
  background: var(--ct-quick-access-button-bg);
  font-weight: bold;
  color: #827d7d;
  color: var(--ct-quick-access-button-font-color);

  @media #{$screen-tablet} {
    #{$global-r} & {
      &:nth-child(4) {
        margin-left: 0;
      }

      &:nth-child(7) {
        margin-left: 0;
      }
    }
  }

  &:hover {
    background: linear-gradient(to bottom, transparent, #9fc9dc);
    background: var(--ct-quick-access-button-hover-bg);
    color: #999;
    color: var(--ct-quick-access-button-hover-font-color);
  }

  &:active {
    background: linear-gradient(to bottom, #9fc9dc, transparent);
    background: var(--ct-quick-access-button-active-bg);
    color: #999;
    color: var(--ct-quick-access-button-hover-font-color);
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

:global(.r .content-wrapper.travelling) {
  .miniGamesQuickAccessWrap {
    max-width: 764px;
    margin: 0 auto;
  }

  @media #{$screen-tablet} {
    .miniGamesQuickAccessWrap {
      max-width: 365px;
    }
  }
}
