.dark-mode #profileroot {
  --profile-buttons-wrap-border-bottom: 1px solid #444;
  --profile-empty-block-border-top: 1px solid #222;
  --profile-buttons-bg-gradient: linear-gradient(180deg, #444 0%, #222 100%);
  --profile-buttons-bg-gradient-hover: linear-gradient(0deg, #444 0%, #222 100%);
  --profile-buttons-bg-gradient-disabled: linear-gradient(0deg, #444 0%, #222 100%);
  --profile-buttons-shadow: 0 1px 0 #ffffff29;
  --profile-buttons-border: 1px solid #111;
  --profile-buttons-padding: 0;
}
