.d .profile-buttons {
  .buttons-wrap {
    border-bottom: 1px solid #ccc;
    border-bottom: 1px solid var(--profile-buttons-wrap-border-bottom);
  }

  .empty-block {
    height: 40px;
    border-top: 1px solid #fff;
    border-top: var(--profile-empty-block-border-top);
  }

  .buttons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    padding-left: 10px;
    max-width: 380px;

    .profile-button {
      box-sizing: border-box;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 1px 0 0 1px;
      padding: var(--profile-buttons-padding);
      width: 44px;
      height: 44px;
      border-radius: 5px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5), inset 0 1px 0 0 rgba(255, 255, 255, .5);
      box-shadow: var(--profile-buttons-shadow);
      background: linear-gradient(to bottom, rgba(235, 235, 235, 1) 0%, rgba(221, 221, 221, 1) 100%);
      background: var(--profile-buttons-bg-gradient);
      cursor: pointer;
      border: none;
      border: var(--profile-buttons-border);

      &.hidden,
      &.mobile-empty-button {
        display: none;
      }

      &:nth-child(7n+7) {
        margin-right: 0;
      }

      &:not(.profile-button-empty):hover {
        background: rgb(255, 255, 255);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
        background: var(--profile-buttons-bg-gradient-hover);
      }

      $buttons-list: 'attack' 'sendMessage' 'initiateChat' 'sendMoney' 'initiateTrade' 'placeBounty'
        'report' 'addToFriendList' 'addToEnemyList' 'personalStats' 'viewBazaar'
        'viewDisplayCabinet' 'bust' 'bail' 'revive';
      $buttons-states: '.active' ':hover' '.disabled' '.clickable.disabled' '.clickable.disabled:hover'
        '.green.disabled' '.red.disabled' '.green.active' '.green.active:hover' '.red.active'
        '.red.active:hover' '.cross.disabled';

      .icon {
        display: inline-block;
        width: 42px;
        height: 42px;
        background: url('/images/v2/profile/profile_buttons/profile_buttons.png') 0 0 no-repeat;
        pointer-events: none;
      }

      &.profile-button-empty {
        cursor: default;

        .icon {
          background-image: none;
        }
      }

      &.disabled:not(.green):not(.red):not(.clickable) {
        cursor: default;
      }

      &.cross.disabled {
        position: relative;
      }

      &.cross.disabled svg:last-child {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }

      &.disabled:not(.green):not(.red):not(.clickable):hover {
        background: rgb(235, 235, 235);
        background: linear-gradient(to bottom, rgba(235, 235, 235, 1) 0%, rgba(221, 221, 221, 1) 100%);
        background: var(--profile-buttons-bg-gradient-disabled);
      }

      @for $b-index from 1 through length($buttons-list) {

        @for $s-index from 1 through length($buttons-states) {
          &.profile-button-#{nth($buttons-list, $b-index)}#{nth($buttons-states, $s-index)} .icon {
            background-position: #{42 * (1 - $b-index)}px #{42 * (1 - $s-index)}px;
          }
        }

        &.disabled {
          background: linear-gradient(to bottom, rgba(235, 235, 235, 1) 0%, rgba(221, 221, 221, 1) 100%);
          background: var(--profile-buttons-bg-gradient-disabled);

          .profileButtonIcon {
            path {
              opacity: 1;
              opacity: var(--profile-buttons-clickable-disabled-opacity);
            }
          }

          &.clickable {
            background: linear-gradient(to bottom, rgba(235, 235, 235, 1) 0%, rgba(221, 221, 221, 1) 100%);
            background: var(--profile-buttons-bg-gradient);

            &:hover {
              background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
              background: var(--profile-buttons-bg-gradient-hover);

              .profileButtonIcon {
                path {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}

.profile-buttons-dialog {
  display: flex;
  min-height: 186px;
  line-height: 16px;

  .center-block {
    margin: auto;
    text-align: center;

    .text {
      padding: 0 10px;
      word-break: break-word;
    }

    .confirm-block {
      margin-top: 10px;

      .confirm-action-yes {
        margin-right: 7px;
      }
    }
  }
}

.text {
  .warning {
    padding: 0 5px;
    color: #d83500;
    font-weight: bold;
  }
}

.send-cash {
  padding: 10px 0 10px 10px;
  min-height: 166px;

  .input-wrap {
    margin-top: 10px;
  }

  .input-message-wrap {
    margin-bottom: 10px;
    padding-right: 10px;
  }

  .send-cash-btn {
    margin-right: 10px !important;
  }

  .choice-container {
    display: inline-block;
    margin-right: 10px;
  }
}

.add-user {
  box-sizing: border-box;
  display: table;
  padding: 10px;
  width: 100%;
  height: 186px;

  .reason-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .description {
    font-weight: bold;
  }

  .cancel-btn {
    margin-left: 5px;
    border: none;
    background: none;
  }
}

.profile-buttons,
.profile-mini-root {
  .input-text {
    box-sizing: border-box;
    display: block;
    padding: 5px 10px;
    width: 100%;
    height: 26px;
    border: 1px solid #ccc;
    border-color: var(--input-money-border-color);
    border-radius: 5px;
    background: #fff;
    background: var(--input-money-background-color);
    text-align: left;
    vertical-align: middle;
    color: #000;
    color: var(--input-money-color);

    &.not-valid-input {
      background: transparent url(/images/v2/main/table_red.png) left top repeat;
      border-color: #ffa396;
      border-color: var(--input-money-error-border-color);
    }

    @media screen and (max-width: 1000px) {
      height: 34px;
    }
  }

  .send-cash-text {
    padding-right: 10px;
    min-height: 58px;
    line-height: 14px;
  }

  .send-cash-input {
    width: 319px;

    @media screen and (max-width: 1000px) {
      width: 328px;
    }
    @media screen and (max-width: 600px) {
      width: 261px;
    }
  }
}

.profile-container-description {
  padding: 10px;
  min-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.d .logged-out {
  .profile-buttons {
    .send-cash-input {
      width: 415px;

      @media screen and (max-width: 1000px) {
        width: 519px;
      }
      @media screen and (max-width: 600px) {
        width: 262px;
      }
    }
  }
}

/* IE 10 Support */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .d .profile-buttons {
    .buttons-list {
      .profile-button {
        display: block;
        float: left;
      }
    }
  }
}

.chars-left {
  float: right;
  color: #999;
  font-size: 12px;
  font-weight: 400;
}

.not-valid-msg {
  color: #d83500;
  font-weight: 700;
}

.d .travelling .profile-buttons,
.d .logged-out .profile-buttons {
  .buttons-list {
    margin: 0;
  }
}

.r .profile-buttons {
  .buttons-list {

    @media screen and (max-width: 600px) {
      padding-left: 30px;
    }

    .profile-button {

      @media screen and (max-width: 600px) {
        &:nth-child(7n+7) {
          margin-right: 10px;
        }

        &.mobile-empty-button {
          display: block;
        }
      }
    }
  }
}
