#profileroot {
  --profile-buttons-wrap-border-bottom: 1px solid #ccc;
  --profile-empty-block-border-top: 1px solid #fff;

  --profile-buttons-bg-gradient: linear-gradient(to bottom, rgba(235, 235, 235, 1) 0%, rgba(221, 221, 221, 1) 100%);
  --profile-buttons-bg-gradient-hover: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
  --profile-buttons-bg-gradient-disabled: linear-gradient(to bottom, rgba(235, 235, 235, 1) 0%, rgba(221, 221, 221, 1) 100%);
  --profile-buttons-shadow: 0 0 2px 0 rgba(0, 0, 0, .5), inset 0 1px 0 0 rgba(255, 255, 255, .5);
  --profile-buttons-border: none;
  --profile-buttons-padding: 1px 0 0 1px;
}
