@import '../../styles/vars';

body.d {
  .content-title {
    .icon-wrap {
      svg {
        width: 20px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        margin-top: -2px;
        overflow: visible;
      }

      .cls-1 {
        opacity: .35;
      }

      .cls-2 {
        fill: #fff;
      }

      .cls-3 {
        fill: #777;
      }
    }

    .toggleTheme {
      svg {
        width: 22px;
        height: 17px;
        margin-top: -3px;
      }
    }
  }

  .fullScreen {
    .content-title {
      .icon-wrap {
        svg {
          .cls-3 {
            fill: #666;
          }
        }
      }

      .links-top-wrap {
        a {
          color: #555;

          &:hover {
            color: #333;

            .cls-3 {
              fill: #444;
            }
          }
        }
      }
    }
  }

  hr.page-head-delimiter {
    border-top: var(--holdem-hr-border-sidebar);
    box-shadow: var(--holdem-hr-shadow);
    border-bottom: none;
  }
}

@media screen and (max-width: 1000px) {
  body.r .content-wrapper {
    .content-title {
      h4 {
        margin-bottom: 5px;
      }

      hr.page-head-delimiter {
        margin-top: 5px;
      }

      .icon-wrap {
        svg {
          margin-right: 0;
        }
      }
    }
  }
}
