.slotItem {
  position: relative;
  box-sizing: border-box;
  width: 38px;
  height: 19px;
  border-radius: 5px;
  background: linear-gradient(to bottom, rgba(#000, .07) 0%, rgba(#000, .01) 100%);
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 -1px 1px 0 rgba(#000, .2);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 var(--loadouts-default-white-box-shadow-color);
  }
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 38px;
  height: 19px;
}

%tooltipText {
  display: block;
  height: 15px;
  text-align: center;
}

.tooltipName {
  color: #444;

  @extend %tooltipText;
}

.tooltipType {
  color: #888;

  @extend %tooltipText;
}

.notExists {
  background: linear-gradient(to bottom, rgba(#000, .07) 0%, rgba(#000, .01) 100%), rgba(#fa5252, .05);
}
