.headerWrap {
  position: relative;
  width: inherit;
  height: 152px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: 143px;
      width: 100%;
    }
  }
}

.finishLabel {
  color: #ffbf00;
  font-weight: bold;
  font-size: 30px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      font-size: 18px;
    }
  }
}

.topSection {
  width: inherit;
  height: 74px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #000 url(/casino/russianRoulette/images/976_header_bullet.png) no-repeat right top;

  @media #{$screen-tablet} {
    #{$global-r} & {
      background: #000 url(/casino/russianRoulette/images/578_bullet_header.png) no-repeat right top;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      background: #000 url(/casino/russianRoulette/images/320_bullet_header.png) no-repeat right top;
    }
  }
}

.bottomSection {
  width: inherit;
  height: auto;
  background: #2e2e2e url(/casino/russianRoulette/images/976_dirt.png);

  @media #{$screen-tablet} {
    #{$global-r} & {
      background: #2e2e2e;
    }
  }
}

.barrel {
  width: 62px;
  height: 64px;
  background: url(/casino/russianRoulette/images/timeout_barrel.png) no-repeat;
  background-position: 0 0;
  margin-left: 4px;
  position: relative;

  &.active {
    background-position: -62px 0;
  }

  &.finished {
    background-position: -124px 0;
  }
}

.cell {
  width: 6px;
  height: 6px;
  position: absolute;

  &.first {
    top: 17px;
    left: 28px;
  }

  &.second {
    top: 23px;
    left: 38px;
  }

  &.third {
    top: 34px;
    left: 38px;
  }

  &.four {
    top: 40px;
    left: 28px;
  }

  &.five {
    top: 34px;
    left: 18px;
  }

  &.six {
    top: 23px;
    left: 18px;
  }
}

.shot {
  background: url(/casino/russianRoulette/images/timeout_crosses.png) 0 0 no-repeat;

  &.first {
    background-position: -42px 0;
  }

  &.second {
    background-position: -48px 0;
  }

  &.third {
    background-position: -54px 0;
  }

  &.four {
    background-position: -60px 0;
  }

  &.five {
    background-position: -66px 0;
  }

  &.six {
    background-position: -72px 0;
  }
}

.miss {
  background: url(/casino/russianRoulette/images/timeout_crosses.png) no-repeat;
  background-position: 0 0;

  &.first {
    background-position: -6px 0;
  }

  &.second {
    background-position: -12px 0;
  }

  &.third {
    background-position: -18px 0;
  }

  &.four {
    background-position: -24px 0;
  }

  &.five {
    background-position: -30px 0;
  }

  &.six {
    background-position: -36px 0;
  }

  .barrel:not(.finished) & {
    &.first,
    &.second,
    &.third,
    &.four,
    &.five,
    &.six {
      background-position: 0 0;
    }
  }
}

.infoWrap {
  width: auto;
  height: auto;

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: 42px;
    }
  }
}
