@import '../../styles/global.cssmodule.scss';
@import '../../styles/constants.cssmodule.scss';

.messageWrap {
  height: 32px;
  composes: headerSubsectionWrap;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: 70px;
      box-sizing: border-box;
      padding: 10px 50px;
    }
  }
}

.message {
  font-family: Arial, Helvetica, sans-serif;
  color: $colorMessage;
  line-height: 2.5em;
  line-height: 1.5;
  text-align: center;
  text-shadow: $textShadow;

  &.yellow {
    color: #ffc926;
    text-shadow: 0 0 2px #d96d00;
    font-weight: bold;
  }

  &.green {
    color: #92c400;
    text-shadow: 0 0 2px #698c00;
    font-weight: bold;
  }

  &.red {
    color: #ff3f00;
    text-shadow: 0 0 2px #f00;
    font-weight: bold;
  }

  em {
    color: #fff;
    font-weight: bold;
  }
}
