@import '../../styles/constants.cssmodule.scss';

.timer {
  width: auto;
  height: auto;
  font-size: 18px;
  text-shadow: $textShadow;
}

.label {
  color: $colorStart;
  text-shadow: inherit;
  font-size: inherit;
}

.counter {
  color: $colorCounter;
  text-shadow: inherit;
  font-size: inherit;
  margin-left: 5px;
}
