.disableFilter {
  path {
    filter: none;
  }
}

.calendarIcons {
  vertical-align: middle;
}

body.d .content.responsive-sidebar-container,
body.d #mainContainer,
body.r .content.responsive-sidebar-container,
body.r #mainContainer {
  position: initial;
}
