.dark-mode #calendar-root {
  --calendar-bg: #333;
  --calendar-box-shadow: 0 1px 0 #ffffff26;
  --calendar-title-color: #fff;
  --calendar-day-color: #ccc;
  --calendar-disabled-day-color: #666;
  --calendar-tooltip-bg: #444;
  --calendar-tooltip-box-shadow: 0 0 4px #000000a6;
  --calendar-tooltip-arrow-bg: #333;
  --calendar-tooltip-primary-color: #fff;
  --calendar-tooltip-secondary-color: #ccc;
  --calendar-single-day-event-border-color: #585851;
  --calendar-month-view-month-title-color: #999;
  --calendar-month-view-event-title-color: #fff;
  --calendar-month-view-border-color: #222;
  --calendar-month-view-single-day-event-border-color: #fff3;
  --calendar-single-day-event-color: #fff;
  --calendar-current-day-color: #888;
  --calendar-banner: url(/images/v2/calendar/976_banner_dark.png);
  --calendar-nav-icons-default-filter: drop-shadow(0 0 2px #00000073);
  --calendar-nav-icons-disabled-filter: drop-shadow(0 1px 0 #ffffff1a);
}

.r.dark-mode #calendar-root {

  @media screen and (max-width: 1000px) {
    --calendar-banner: url(/images/v2/calendar/578_banner_dark.png);
  }
  @media screen and (max-width: 600px) {
    --calendar-banner: url(/images/v2/calendar/320_banner_dark.png);
  }
}

:root .dark-mode {
  --calendar-default-arrow-gradient-stop-1: #ddd;
  --calendar-default-arrow-gradient-stop-2: #999;
  --calendar-disabled-arrow-gradient-stop-1: #000;
  --calendar-disabled-arrow-gradient-stop-2: #222;
}
