#calendar-root {
  --calendar-bg: #f9f9f2;
  --calendar-box-shadow: 0 1px 0 #fff;
  --calendar-title-color: #666659;
  --calendar-day-color: var(--calendar-title-color);
  --calendar-disabled-day-color: #ccccbf;
  --calendar-tooltip-bg: #fff;
  --calendar-tooltip-box-shadow: rgba(0, 0, 0, .65) 0 0 2px;
  --calendar-tooltip-arrow-bg: #aeaeae;
  --calendar-tooltip-primary-color: #79796a;
  --calendar-tooltip-secondary-color: #acac9d;
  --calendar-single-day-event-border-color: #cecebf;
  --calendar-month-view-month-title-color: var(--calendar-title-color);
  --calendar-month-view-event-title-color: #9a9a8c;
  --calendar-month-view-border-color: #dfdfd0;
  --calendar-month-view-single-day-event-border-color: var(--calendar-single-day-event-border-color);
  --calendar-single-day-event-color: #666659;
  --calendar-current-day-color: #8a8a7b;
  --calendar-banner: url(/images/v2/calendar/976_banner.png);
  --calendar-nav-icons-default-filter: drop-shadow(0 1px 0 #fff);
  --calendar-nav-icons-disabled-filter: none;
}

.r #calendar-root {

  @media screen and (max-width: 1000px) {
    --calendar-banner: url(/images/v2/calendar/578_banner.png);
  }
  @media screen and (max-width: 600px) {
    --calendar-banner: url(/images/v2/calendar/320_banner.png);
  }
}

:root {
  --calendar-default-arrow-gradient-stop-1: #9b9b8c;
  --calendar-default-arrow-gradient-stop-2: #cecebf;
  --calendar-disabled-arrow-gradient-stop-1: #cecebf;
  --calendar-disabled-arrow-gradient-stop-2: #cecebf;
}
