.wrapper {
  position: relative;
  margin: 4px 0;
  padding: 10px;
  border: 2px solid rgba(100, 20, 20, .3);
  background: rgba(100, 20, 20, .1);

  span {
    white-space: pre-wrap;
    word-break: normal;
  }
}

.messageWrap {
  align-items: center;
  justify-content: center;
}

.close {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 4px;
  cursor: pointer;

  &:hover {
    font-weight: bold;
  }
}

.closeBeauty {
  margin: 4px;
  padding: 4px 4px 5px 4px;
  border-radius: 3px;
  background: #fff;
  line-height: 1;
}

// TODO: it's a hacks here! It should be fixed
// by providing only local classes once someone'll have time.
:global {
  // .d .info-msg .info-icon {
  //   margin-top: 0;
  // }
  // TODO: We should remove it if we don't need it

  .msg {
    word-break: break-word;
  }

  .msg.right-round.message_beauty {
    display: block;
    margin: 0;
    padding: 0;
    max-height: 52px;
    width: 100%;
    overflow: hidden;

    @media #{$screen-tablet} {
      #{$global-r} & {
        padding: 0;
        max-height: 84px;
        width: 100%;
      }
    }
    @media #{$screen-mobile} {
      #{$global-r} & {
        padding: 0;
        max-height: 100px;
        width: 100%;
      }
    }
  }

  .message_container {
    box-sizing: border-box;
    display: block; /* fallback */
    display: -webkit-box;
    margin: 10px;
    max-height: 32px;
    width: calc(100% - 20px);
    overflow: hidden;
    line-height: 16px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @media #{$screen-tablet} {
      #{$global-r} & {
        max-height: 64px;
      }
    }
    @media #{$screen-mobile} {
      #{$global-r} & {
        max-height: 80px;
      }
    }
  }

  // we're don't need this anymore because of new SPA Sidebar include
  .responsive-sidebar-container {
    .msg.right-round {
      // max-width: 734px;

      @media #{$screen-tablet} {
        #{$global-r} & {
          // max-width: 317px;
        }
      }
    }
  }
}
