@import '../../styles/mixins';
@import '../../styles/delimiter';
@import '../../styles/vars';

.betOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include appType([ 'desktop/full', 'desktop/sidebar', 'tablet/full' ]) {
    flex: 1;
    margin-right: 20px;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    text-transform: uppercase;
  }

  li {
    flex: 1;
    line-height: 24px;
    color: var(--holdem-bet-panel-text-color);
    text-shadow: var(--holdem-bet-panel-text-shadow);
    font-weight: 700;
    cursor: pointer;

    &:hover {
      color: var(--holdem-bet-panel-text-color-hover);
    }

    @include verticalDelimiter;
  }
}
