<?
  if ($out['isAjaxRequest'] == 1) {
      die($out['DB']['userMods']);
  }
?>
<div id="itemMods"></div>

<link rel="stylesheet" type="text/css" href="/css/style/mod_inventory.css"/>

<% for (var css in htmlWebpackPlugin.files.css) { %>
<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
<% } %>
<% for (var js in htmlWebpackPlugin.files.js) { %>
<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
<% } %>
