:global(.d) {
  .crimesTooltip {
    background-color: #fff;
    border-radius: 1px;
    border: 1px solid #fff;
    font-weight: bold;
    color: #9b9b8c;

    :global(.tooltip-arrow) {
      background: none;
      overflow: hidden;
      bottom: -13px;
      height: 12px;
      width: 20px;
      margin-left: -10px;
    }
  }
}

.crimesTooltipArrow {
  left: 39%;
  width: 24px;
  position: absolute;
  height: 12px;
  bottom: -12px;

  &.arrowTop {
    background: url('https://dev-www.torn.com/images/v2/bank/tooltip_arrow_down_white.png');
  }

  &.arrowBottom {
    background: url('https://dev-www.torn.com/images/v2/bank/tooltip_arrow_up_white.png');
    top: -10px;
  }
}
