.tooltip{
    background-color: #fff;
    padding: 2px 5px;
    width: auto;
    border-radius: 5px;
    /* position: absolute; */
    opacity: .9;
    text-align: center;
}
.title{
    font-weight: bold;
    font-size: 0.5rem;
    white-space: pre;
}
.description{
    font-size: 0.3rem;
    text-align: right;
    white-space: pre;
}
.maptalks-attribution{
    display: none;
}