.closeWrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: inherit;
}

.buttonWrap {
  margin-left: 5px;
  padding: 6px;
}

.button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textWrap {
  opacity: 1;
}

.text {
  font-weight: 700;
  color: red;
}
