@import '../../styles/mixins';
@import '../../styles/vars';

.betInputWrap {
  display: flex;

  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    margin-bottom: 8px;
  }
}

.controlBtn {
  display: flex;
  width: 24px;
  background: var(--holdem-money-input-buttons-bg);
  justify-content: center;
  align-items: center;
  border: none;
  border-left: var(--holdem-money-input-border);

  &:hover {
    background: var(--input-money-currency-hover-gradient);
  }

  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    width: 34px;
  }
}

.plusBtn {
  composes: controlBtn;
}

.minusBtn {
  composes: controlBtn;
}

.betInputWrap {
  :global(div.input-money-group) {
    display: inline-flex;
    border-radius: 5px;
    overflow: hidden;
    border: var(--holdem-money-input-border);
    width: 192px;
  }

  :global(span.input-money-symbol) {
    display: flex !important;
    width: 24px;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    background: var(--holdem-money-input-buttons-bg) !important;
    border: none;
    border-right: var(--holdem-money-input-border) !important;
  }

  :global(input.input-money) {
    flex: 1;
    width: 100%;
    border: none !important;
    border-radius: 0 !important;
    text-align: center !important;
    color: var(--holdem-text-color-secodary) !important;
    border-left: none !important;
    font-weight: bold;
  }

  @include appType([ 'tablet/full' ]) {
    :global(input.input-money) {
      padding: 5px 9px !important;
    }
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    justify-content: center;

    :global(div.input-money-group) {
      width: calc(100% - 40px);
    }

    :global(span.input-money-symbol) {
      width: 34px;
    }

    :global(input.input-money),
    :global(span.input-money-symbol) {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 34px;
      box-sizing: border-box;
    }
  }

  svg g {
    filter: var(--holdem-money-input-svg-filter);

    > * {
      fill: var(--holdem-money-input-svg-fill);
    }
  }
}
