@import '../../styles/mixins';
@import '../../styles/borders';
@import '../../styles/delimiter';
@import '../../styles/vars';

.panelTopRow {

  @include appType([ 'desktop/full', 'desktop/sidebar', 'tablet/full' ]) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 8px;

    @include borders-on-bottom;

    &::after {
      opacity: .5;
    }
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    display: grid;
    justify-items: stretch;
    grid-template-rows: 34px 34px 97px;
    grid-template-columns: 34px 1fr 34px;
    grid-template-areas:
      'toggle-button-1-1      .    toggle-button-1-2'
      'toggle-button-2-1      .    toggle-button-2-2'
      'bet-panel         bet-panel bet-panel';
  }
}

.toggleButton {
  width: 34px;
  height: 24px;

  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    width: 100%;
    height: 100%;
  }
}

.betPanelPositioner {
  display: flex;

  @include appType([ 'desktop/full', 'desktop/sidebar', 'tablet/full' ]) {
    flex: 1;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    grid-area: bet-panel;

    @include borders-on-top;
    @include borders-on-bottom;
  }
}

@include appType([ 'desktop/full', 'desktop/sidebar', 'tablet/full' ]) {
  .toggle-button-1-1 {

    @include verticalDelimiter;
  }

  .toggle-button-1-2 {

    @include verticalDelimiter;
  }

  .toggle-button-2-1 {

    @include verticalDelimiter;
  }

  .toggle-button-2-2 {

    @include verticalDelimiter;
  }
}
@include appType([ 'tablet/sidebar', 'mobile' ]) {
  .toggle-button-1-1 {
    grid-area: toggle-button-1-1;

    @include borders-on-right;
    @include borders-on-bottom(--holdem-panel-border-secondary, --holdem-panel-border-main);
  }

  .toggle-button-1-2 {
    grid-area: toggle-button-1-2;

    @include borders-on-left;
    @include borders-on-bottom(--holdem-panel-border-secondary, --holdem-panel-border-main);
  }

  .toggle-button-2-1 {
    grid-area: toggle-button-2-1;

    @include borders-on-right;
  }

  .toggle-button-2-2 {
    grid-area: toggle-button-2-2;

    @include borders-on-left;
  }
}
