@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700');

/* CSSTransitionGroup */
:global {
  .fade-enter {
    opacity: .01;

    &.fade-enter-active {
      opacity: 1;
      transition: opacity 1000ms ease-in;
    }
  }

  .fade-leave {
    opacity: 1;

    &.fade-leave-active {
      opacity: .01;
      transition: opacity 1000ms ease-in;
    }
  }
}

/* CSSTransitionGroup END */

/* BASIC COMPONENTS */
.bannerWrap {
  position: relative;
  width: 782px;
  height: 150px;
  overflow: hidden;
  cursor: pointer;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 385px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 320px;
    }
  }
}

.crimesShoplifting {
  width: 100%;
  height: 100%;
}

.time {
  position: absolute;
  right: 12px;
  bottom: 14px;
  color: white;
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
  text-shadow: 0 0 7px white, 0 0 14px rgb(255, 255, 255);
}

.cameraLines {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(/images/v2/2sef32sdfr422svbfr2/crimes/shoplifting/banners/stripe.png) 0 0 repeat;
  animation: cameraLines 2s linear 0s infinite normal;
}

@keyframes cameraLines {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 -3000px;
  }
}

/* BASIC COMPONENTS END */

/* SWEETS SHOP */
.sweets {
  background: url(/images/v2/2sef32sdfr422svbfr2/crimes/shoplifting/banners/976/976_sweetshop.jpg) 0 0 no-repeat;
}

.sweetsCameraGlitch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  overflow: hidden;
  opacity: 0;
  animation: sweetsGlitch 25s linear 1s infinite normal;
  transform: translateX(2px);
}

.sweetsGlitchBg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 150px;
  background: url(/images/v2/2sef32sdfr422svbfr2/crimes/shoplifting/banners/976/976_sweetshop.jpg) left bottom no-repeat;
  transform: translateY(-30px);
  animation: sweetsGlitchBg 25s linear 1s infinite normal;
}

@keyframes sweetsGlitch {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  3.33% {
    opacity: 0;
  }

  3.34% {
    opacity: 1;
    transform: translateY(150px);
  }

  6.66% {
    opacity: 0;
    transform: translateY(-150px);
  }

  6.67% {
    opacity: 1;
    transform: translateY(30px);
  }

  7% {
    margin-left: 0;
  }

  7.33% {
    margin-left: -2px;
  }

  7.66% {
    margin-left: 0;
  }

  8% {
    opacity: 1;
    transform: translateY(-150px);
  }

  8.0001% {
    transform: translateY(30px);
  }

  9.33% {
    opacity: 1;
    transform: translateY(-150px);
  }

  9.34% {
    opacity: 0;
    transform: translateY(-150px);
  }

  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}
@keyframes sweetsGlitchBg {
  0% {
    transform: translateY(0);
  }

  3.33% {
    transform: translateY(-150px);
  }

  6.66% {
    transform: translateY(150px);
  }

  6.67% {
    transform: translateY(-30px);
  }

  8% {
    transform: translateY(150px);
  }

  8.0001% {
    transform: translateY(-30px);
  }

  9.33% {
    transform: translateY(150px);
  }

  100% {
    transform: translateY(150px);
  }
}

/* SWEETS SHOP END */

/* BITS AND BOBS */
.bitsNbob {
  background: url(/images/v2/2sef32sdfr422svbfr2/crimes/shoplifting/banners/976/976_bits_n_bobs.jpg) 0 0 no-repeat;
}

.bitsNbobCameraGlitch {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 90px;
  overflow: hidden;
  opacity: 0;
  animation: bitsNbobBitsGlitch 27s linear 1s infinite normal;
  transform: translateX(1px);
}

.bitsNbobGlitchBg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 150px;
  background: url(/images/v2/2sef32sdfr422svbfr2/crimes/shoplifting/banners/976/976_bits_n_bobs.jpg) left bottom no-repeat;
  transform: translateY(-30px);
}

@keyframes bitsNbobBitsGlitch {
  0% {
    opacity: 0;
  }

  13.6666% {
    opacity: 0;
  }

  13.6667% {
    transform: translateX(1px);
    opacity: 1;
  }

  13.8333% {
    transform: translateX(1px);
    opacity: 1;
  }

  13.8334% {
    opacity: 0;
  }

  14.9999% {
    opacity: 0;
  }

  15% {
    transform: translateX(1px);
    opacity: 1;
  }

  15.1666% {
    opacity: 1;
  }

  15.1667% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* BITS AND BOBS END */

/* TC CLOTHING */
.clothing {
  background: url(/images/v2/2sef32sdfr422svbfr2/crimes/shoplifting/banners/976/976_clothing.jpg) 0 0 no-repeat;
}

.clothingGlitch1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: inherit;
  background-position: left bottom;
  animation: clothingGlitch1 27s linear 1s infinite normal;
}

.clothingGlitch2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: inherit;
  background-position: left -150px;
  animation: clothingGlitch2 27s linear 1s infinite normal;
}

@keyframes clothingGlitch1 {
  0% {
    height: 0;
    transform: translate(1px, 0);
  }

  0.33% {
    transform: translate(2px, 0);
  }

  0.66% {
    transform: translate(2px, 0);
  }

  0.67% {
    transform: translate(1px, 0);
  }

  2.66% {
    opacity: 1;
    transform: translate(1px, 0);
  }

  2.67% {
    opacity: 0;
    height: 100px;
    transform: translate(2px, 0);
  }

  3.33% {
    transform: translate(2px, 0);
  }

  3.34% {
    transform: translate(1px, 0);
  }

  4.33% {
    transform: translate(1px, 0);
  }

  4.34% {
    transform: translate(2px, 0);
  }

  4.66% {
    opacity: 0;
  }

  4.67% {
    opacity: 0;
  }

  4.99% {
    opacity: 0;
  }

  5% {
    opacity: 0;
  }

  5.33% {
    transform: translate(2px, 0);
  }

  5.34% {
    transform: translate(1px, 0);
  }

  6.66% {
    height: 0;
  }

  100% {
    height: 0;
  }
}
@keyframes clothingGlitch2 {
  0% {
    opacity: 0;
    height: 0;
    transform: translate(1px, 0);
  }

  0.33% {
    transform: translate(2px, 0);
  }

  0.66% {
    transform: translate(2px, 0);
  }

  0.67% {
    transform: translate(1px, 0);
  }

  2.66% {
    opacity: 0;
    transform: translate(1px, 0);
  }

  2.67% {
    opacity: 1;
    height: 100px;
    transform: translate(2px, 0);
  }

  3.33% {
    transform: translate(2px, 0);
  }

  3.34% {
    transform: translate(1px, 0);
  }

  4.33% {
    transform: translate(1px, 0);
  }

  4.34% {
    transform: translate(2px, 0);
  }

  4.66% {
    opacity: 1;
  }

  4.67% {
    opacity: 0;
  }

  4.99% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  5.33% {
    transform: translate(2px, 0);
  }

  5.34% {
    transform: translate(1px, 0);
  }

  6.66% {
    height: 0;
  }

  100% {
    height: 0;
  }
}

/* TC CLOTHING END */

/* SUPERSTORE */
.superstore {
  background: url(/images/v2/2sef32sdfr422svbfr2/crimes/shoplifting/banners/976/976_cyber_force.jpg) 0 0 no-repeat;
}

.superstoreCameraGlitch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  overflow: hidden;
  opacity: 0;
  animation: superstoreGlitch 9s linear 1s infinite normal;
  background: url(/images/v2/2sef32sdfr422svbfr2/crimes/shoplifting/banners/976/976_cyber_force.jpg) left bottom no-repeat;
}

.superstoreGlitchBg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 150px;
  background: url(/images/v2/2sef32sdfr422svbfr2/crimes/shoplifting/banners/976/976_cyber_force.jpg) left bottom no-repeat;
  transform: translateY(-30px);
  animation: superstoreGlitchBg 25s linear 1s infinite normal;
}

@keyframes superstoreGlitch {
  0% {
    opacity: 0;
  }

  13.3333% {
    opacity: 0;
  }

  13.6666% {
    opacity: 0;
    background-position: 0 0;
  }

  13.6667% {
    opacity: 1;
    background-position: 0 -150px;
    transform: translateX(2px);
  }

  13.8332% {
    background-position: 0 -300px;
    opacity: 1;
  }

  13.8333% {
    opacity: 0;
  }

  14.9999% {
    opacity: 0;
  }

  15% {
    transform: translateX(2px);
    opacity: 1;
  }

  15.1666% {
    opacity: 1;
  }

  15.1667% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@keyframes superstoreGlitchBg {
  0% {
    transform: translateY(0);
  }

  3.33% {
    transform: translateY(-150px);
  }

  6.66% {
    transform: translateY(150px);
  }

  6.67% {
    transform: translateY(-30px);
  }

  8% {
    transform: translateY(150px);
  }

  8.0001% {
    transform: translateY(-30px);
  }

  9.33% {
    transform: translateY(150px);
  }

  100% {
    transform: translateY(150px);
  }
}

/* SUPERSTORE END */

/* BIG ALS GUN SHOP */
.gunShop {
  background: url(/images/v2/2sef32sdfr422svbfr2/crimes/shoplifting/banners/976/976_gunshop.jpg) 0 0 no-repeat;
}

.gunShopCameraGlitch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  overflow: hidden;
  opacity: 0;
  animation: gunGlitch 27s linear 1s infinite normal;
}

.gunShopGlitchBg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 150px;
  background: url(/images/v2/2sef32sdfr422svbfr2/crimes/shoplifting/banners/976/976_gunshop.jpg) left bottom no-repeat;
  animation: gunShopGlitchBg 27s linear 1s infinite normal;
}

@keyframes gunGlitch {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  3.9999% {
    opacity: 0;
  }

  4% {
    opacity: 1;
    transform: translateY(150px);
  }

  7.9999% {
    opacity: 1;
    transform: translateY(-150px);
  }

  8% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
@keyframes gunShopGlitchBg {
  0% {
    background-position: left bottom;
  }

  4% {
    transform: translateY(-150px);
  }

  5.2% {
    background-position: left bottom;
  }

  5.21% {
    background-position: 3px -150px;
  }

  5.6% {
    background-position: 3px -150px;
  }

  5.9999% {
    background-position: 3px -150px;
  }

  6% {
    background-position: left bottom;
  }

  7.9999% {
    transform: translateY(150px);
  }

  8% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
    background-position: left bottom;
  }
}

/* BIG ALS GUN SHOP END */

/* JEWELERY SHOP */
.jewelry {
  background: url(/images/v2/2sef32sdfr422svbfr2/crimes/shoplifting/banners/976/976_jewerly.jpg) 0 0 no-repeat;
}

.jewelryCameraGlitch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  overflow: hidden;
  opacity: 0;
  animation: jewelryGlitch 25s linear 1s infinite normal;
}

.jewelryGlitchBg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 150px;
  background: url(/images/v2/2sef32sdfr422svbfr2/crimes/shoplifting/banners/976/976_jewerly.jpg) left bottom no-repeat;
  animation: jewelryGlitchBg 25s linear 1s infinite normal;
}

@keyframes jewelryGlitch {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  3.9999% {
    opacity: 0;
  }

  4% {
    opacity: 1;
    transform: translateY(150px);
  }

  5.1999% {
    opacity: 1;
  }

  5.2% {
    opacity: 0;
  }

  5.3999% {
    opacity: 0;
  }

  5.4% {
    opacity: 1;
  }

  7.9999% {
    opacity: 1;
    transform: translateY(-150px);
  }

  8% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
@keyframes jewelryGlitchBg {
  0% {
    transform: translateY(0);
  }

  4% {
    transform: translateY(-150px);
  }

  7.9999% {
    transform: translateY(150px);
  }

  8% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

/* BIG ALS GUN SHOP END */
