.topFields {
  :global {
    .react-dropdown-default {
      width: 248px;
      display: inline-block;
      margin-right: 10px;
      color: #444;
      color: var(--activity-log-dropdown-font-color);
      vertical-align: top;

      .toggler {
        height: 34px;
      }

      .dropdown-content {
        .item {
          &.selected,
          &:hover,
          &:focus {
            background: #fff;
            background: var(--react-dropdown-item-focus-hover-bg);
          }
        }
      }
    }
  }

  .titleField {
    background: var(--input-background-color);
    border: 1px solid #ccc;
    border-color: var(--input-border-color);
    border-radius: 5px;
    color: var(--activity-log-dropdown-font-color);
    font-size: 12px;
    line-height: 32px;
    margin: 10px 0;
    padding: 0 10px;
    width: 306px;
  }

  .editorIcon {
    padding-top: 5px;
  }
}

.preloader {
  position: relative;
  margin-top: 15px;
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .topFields {
      .titleField {
        width: 344px;
        line-height: 34px;
      }

      :global {
        .react-dropdown-default {
          width: 334px;

          .toggler {
            height: 36px;
          }
        }
      }

      .editorIcon {
        padding-top: 2px;
      }
    }

    .message {
      margin: 10px;
    }
  }
}

:global(.r) {

  @media screen and (max-width: 600px) {
    .topFields {
      .titleField {
        width: 278px;
      }

      :global {
        .react-dropdown-default {
          width: 270px;
        }
      }
    }
  }
}
