@import '../../../styles/common.cssmodule.scss';
@import '../../../styles/constants.cssmodule.scss';

.container {
  composes: button;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(#fdfefe,#92b6c7);
  width: 25px;
  height: inherit;
  box-sizing: border-box;

  &:hover {
    background: linear-gradient(#92b6c7,#fdfefe);
  }
}

.containerDisabled {
  cursor: default;
  background: linear-gradient(#fdfefe,#d8e2e7);

  &:hover {
    background: linear-gradient(#fdfefe,#d8e2e7);
  }
}

:global(.greySelectSearchWrap) {
  .container {
    background: linear-gradient(180deg, #fff 0, #ddd);
    background: var(--selectSearchWrap-button-bg);
    width: 32px;
    border-right: 1px solid $borderGrey;
    border-right-color: var(--selectSearchWrap-button-border-color);

    &:hover {
      background: linear-gradient(180deg, #ddd 0, #fff);
      background: var(--selectSearchWrap-button-hover-bg);
    }
  }

  .containerDisabled {
    background: linear-gradient(180deg, #ddd, #fff);
    background: var(--selectSearchWrap-button-hover-bg);

    &:hover {
      background: linear-gradient(180deg, #ddd, #fff);
      background: var(--selectSearchWrap-button-hover-bg);
    }
  }
}
