.bannerWrap {
  position: relative;
  height: 150px;
  cursor: pointer;
}

.graffitiBanners {
  position: absolute;
  width: 100%;
  height: 150px;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: blur(0);
    left: 0;
    background: url('/images/v2/2sef32sdfr422svbfr2/crimes/graffiti_banners/overlay/tree_shadow.png');
    animation-name: bannerPseudoAnim;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}

.imgPlaceholder {
  position: absolute;
  width: 100%;
  height: 150px;
  background: #f9f9f2;
}

.bannerImg {
  width: 782px;
  height: 150px;
  transition: 1s opacity linear;

  @media (max-width: 1000px) {
    width: 386px;
  }
  @media (max-width: 600px) {
    width: 320px;
  }
}

.bannerImgLoaded {
  position: absolute;
  opacity: 1;
}

@keyframes bannerPseudoAnim {
  0% {
    opacity: 0;
    filter: blur(0);
  }

  15% {
    opacity: .2;
    filter: blur(1);
  }

  25% {
    opacity: .3;
    filter: blur(1.2);
  }

  35% {
    opacity: .35;
    filter: blur(1.5);
  }

  45% {
    opacity: .5;
    filter: blur(2);
  }

  55% {
    opacity: .75;
    filter: blur(3);
  }

  65% {
    opacity: .85;
    filter: blur(4);
  }

  70% {
    opacity: 1;
    filter: blur(2px);
  }

  75% {
    opacity: .8;
    filter: blur(3.6px);
  }

  80% {
    opacity: .75;
    filter: blur(3px);
  }

  85% {
    opacity: .5;
    filter: blur(2px);
  }

  95% {
    opacity: .25;
    filter: blur(1px);
  }

  100% {
    opacity: 0;
    filter: blur(0);
  }
}
