@import '../index.cssmodule.scss';

.prizeBox {
  composes: rowSection;
  composes: prize;
  flex: 1 1 58px;
  justify-content: center;
  text-align: center;
  padding: 0;

  .imgPrize {
    max-width: 31px;
    max-height: 31px;
  }

  .msgPrize {
    font-family: 'Fjalla One', sans-serif;
    color: #bbb;
    font-size: 12px;
    line-height: 33px;
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      flex: 1 1 90px;
    }
  }
}
