@import 'constants';

@mixin border-horizontal {
  border-top: $border-white;
  border-top-color: var(--default-panel-divider-inner-side-color);
  border-bottom: $border-gray;
  border-bottom-color: var(--default-panel-divider-outer-side-color);
}
