:root {
  --faction-default-icon-bg-stop-1: #999;
  --faction-default-icon-bg-stop-2: #bbb;
  --faction-hover-icon-bg-stop-1: #777;
  --faction-hover-icon-bg-stop-2: #999;
  --faction-default-icon-filter: url('#defaultFilter');
  --company-appcications-active-panel-bg: #fff;
  --company-appcications-withdrawn-bg: #eaeaea;
}
