:global {
  .Select-control {
    background: #fff;
    border: 1px solid #ccc;
  }

  .Select.is-focused .Select-control {
    background: #fff;
    border: 1px solid #ccc;
  }

  #{$dark-mode} {
    .Select-control {
      color: #fff;
      background: #000;
      border: 1px solid #444;
    }

    .Select.is-focused .Select-control {
      color: #fff;
      background: #000;
      border: 1px solid #444;
    }

    .Select-menu-outer {
      border-color: #444;
    }

    .Select-option {
      color: #fff;
      background: #000;

      &.is-focused {
        color: #fff;
        background: #444;
      }
    }
  }
}
