<html>
<head>
    <title>Status Monitor | TORN</title>
    <!--
        <link type="text/css" rel="stylesheet" href="/css/style/reset.css">
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/status_monitor/lib/react.16.13.1.production.min.js"></script>
    <script type="text/javascript" src="/status_monitor/lib/react-dom.16.13.1.production.min.js"></script>
    <script type="text/javascript" src="/status_monitor/lib/prop-types.min.js"></script>
</head>
<body>
<div id="statusmonitorroot"></div>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
    <% } %>
    <% for (var js in htmlWebpackPlugin.files.js) { %>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
    <% } %>

<!-- reset CSS -->
<style>
    a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,table:not([cellpadding]) td,tbody,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}:focus{outline:0}
</style>

</body>
</html>
