.description {
  padding: 18px 10px;
  font-size: 13px;
  line-height: 16px;
  font-family: Arial, sans-serif;
}
.divider {
  display: block;
  border-top: 1px solid #CCC;
  border-top-color: var(--default-panel-divider-outer-side-color);
  border-bottom: 1px solid #FFF;
  border-bottom-color: var(--default-panel-divider-inner-side-color);
  margin-bottom: 10px;
}
.form {
  width: 100%;
  margin-right: 10px;
  font-family: Arial, sans-serif;
  * {
    box-sizing: border-box;
  }
  :global(.title-black) {
    font-family: Arial, sans-serif;
  }
  .group {
    padding: 10px;
  }
  .label {
    font-size: 13px;
    font-weight: 700;
  }
  .articleLabel {
    display: block;
    margin: 10px;
  }
  .input {
    width: 100%;
    height: 25px;
    border: 1px solid #CCC;
    border-color: var(--input-border-color);
    border-radius: 5px;
    margin-top: 5px;
    padding: 0 10px;
    color: #000;
    color: var(--input-color);
    background: #fff;
    background: var(--input-background-color);
  }
  .charsLeft {
    float: right;
    font-size: 12px;
    color: #999;
    color: var(--default-gray-9-color)
  }
}

:global(.r) {
  @media screen and (max-width: 1000px) {
    .form {
      margin-right: 0;
    }
  }
}
