.label {
  display: flex;
  align-items: center;

  &:not(:first-of-type) {
    margin-top: 10px;
  }
}

.description {
  display: inline;
  font-size: 13.5px;
}

.input {
  width: 150px;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 5px;
  padding: 7px 5px;
  height: 26px;
  border: 1px solid #999;
  border-radius: 2px;
  font-size: 12.5px;
}
