@import "../../../../../../../../../../styles/colors.scss";

.copySection {
  width: 100%;
  height: 24px;
  clear: both;

  .copyBtn {
    border: none;
    background: none;
    font-size: 11px;
    font-family: "Arial", Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    cursor: pointer;
    float: left;

    .iconWrapper {
      width: 36px;
      display: inline-block;
    }

    .copyLogIcon,
    .text {
      vertical-align: middle;
    }

    .text {
      line-height: 24px;
      padding-right: 10px;
    }
  }

  .copyMsg {
    color: $lightGreen;
    font-size: 11px;
    float: left;
    line-height: 24px;
  }
}

:global(.light) {
  .copySection {
    .copyBtn {
      color: $darkBlue;
      color: var(--default-blue-color);
    }
  }

  .copyMsg {
    color: $darkGreen;
  }
}

:global(.dark),
:global(.d.dark-mode) {
  .copySection {
    .copyBtn {
      color: $blue;
    }

    .copyMsg {
      color: $lightGreen;
    }
  }
}
