@import '../../styles/global.cssmodule.scss';
@import '../../styles/constants.cssmodule.scss';

.columnsWrap {
  box-sizing: border-box;
  overflow: hidden;
  background: linear-gradient(to bottom, #ffff 0%, #ddd 100%);
  background: var(--default-panel-gradient);
  composes: flexCenter;
  composes: lineContainer;
}

.columnTitle {
  padding: 10px 0 8px 10px;
  color: #666;
  color: var(--default-color);
  font-weight: bold;

  @media #{$screen-tablet} {
    #{$global-r} & {
      line-height: 15px;
      text-align: center;
    }
  }
}

.column {
  position: relative;
  box-sizing: border-box;
  border-right: $ammoBorderGrey;
  composes: flexCenter;
  composes: section;
  composes: columnTitle;

  &:nth-child(2) {
    padding: 10px 10px 8px 10px;
    justify-content: center;
  }

  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    padding: 10px 10px 8px 10px;
    text-align: right;
    justify-content: flex-end;
  }

  &:first-of-type {
    &::before {
      content: "Standard";
      position: absolute;
      right: 15px;
    }
  }

  &:last-of-type {
    border-right: none !important;

    &::after {
      content: none;
    }
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: block;
      padding: 10px 0;

      &:first-of-type {
        display: none;
      }

      &:nth-child(2) {
        color: black;
      }
    }
  }
}
