@import '../../styles/mixins';

.popupPositioner {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 100%;
  top: 0;
  margin: auto;
  pointer-events: none;

  @include appType([ 'desktop/full', 'desktop/sidebar', 'tablet/full' ]) {
    height: 100%;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    height: 334px;
  }
}
