.flexEvently {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
}

.copyLinkWrap {
  opacity: 1;
  position: relative;
}

.copyLinkHolder {
  opacity: 1;
}

.copyLink {
  box-sizing: border-box;
  padding: 0 79px 0 10px;
  width: 377px;
  height: 26px;
  border: 1px solid #c0d1d8;
  border-color: var(--ct-my-maps-input-border-color);
  border-radius: 5px;
  color: #888;
  color: var(--ct-my-maps-input-font-color);
  font: inherit !important;

  @media #{$screen-tablet} {
    #{$global-r} & {
      max-width: 100%;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 300px;
    }
  }
}

.copyButtonHolder {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  border: 1px solid #c0d1d8;
  border-color: var(--ct-my-maps-input-border-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: -3px 0 3px -2px #c5c1c1;
  box-shadow: -3px 0 3px -2px var(--ct-my-maps-copy-button-shadow-color);
}

.copyButton {
  padding: 1px 4px;
  width: 78px;
  height: 24px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #d8e2e7;
  background: linear-gradient(#fdfefe 0%, #d8e2e7 100%);
  background: var(--ct-my-maps-copy-button-bg);
  font: inherit;
  composes: button;
  composes: flexEvently;
  cursor: pointer;

  &:active {
    background: linear-gradient(#d8e2e7 0%, #fdfefe 100%);
    background: var(--ct-my-maps-copy-button-hover-bg);
  }
}

.svgCopyIcon {
  position: relative;
  left: 1px;
}

.copyText {
  padding-left: 6px;
  color: #668fa3;
  color: var(--ct-my-maps-outcome-message-font-color);
  line-height: 2;
  pointer-events: none;
}
