.outcomeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px 10px 10px 10px;
  width: 100%;
  height: auto;
}

.textWrap {
  padding-right: 13px;
  padding-left: 2px;
  line-height: 17px;
}

.text {
  color: #ff5b26;
  opacity: 1;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  color: #2cb8e4;
  font: inherit;
  cursor: pointer;

  &:hover {
    color: #ff5b26;
  }
}

.buttonsWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 8px;
  width: 77px;
  line-height: 17px;
}

.buttonDelete {
  composes: button;
}

.buttonCancel {
  composes: button;
}
