.title {
  background: linear-gradient(to bottom, #fff 0%, #ddd 100%);
  background: var(--title-white-gradient);
  height: 34px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  color: #555;
  color: var(--default-gray-5-color);
  line-height: 35px;
  padding: 0 8px;
  border-bottom: 1px solid #cbcbcb;
  border-bottom-color: var(--personal-stats-gray-border);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content {
  background-color: #f2f2f2;
  background-color: var(--default-bg-panel-color);
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #fff;
  border-bottom-color: var(--personal-stats-white-border);
  border-top: 1px solid #fff;
  border-top-color: var(--personal-stats-white-border);
}
