.dark-mode #personal-stats {
  --personal-stats-white-border: #474747;
  --personal-stats-gray-border: #222;
  --personal-stats-gray-1-border: #222;
  --personal-stats-gray-2-border: #222;
  --personal-stats-gray-d-border: #222;
  --personal-stats-c-border: #222;
  --personal-stats-a-color: #ccc;
  --personal-stats-user-shadow: 0 1px 0 0 #ffffff1a, 1px 0 0 0 #ffffff1a inset;
  --personal-stats-current-section-bg: #384b5b;
  --personal-stats-selected-bg: rgba(255, 255, 255, .1);
  --personal-stats-hover-bg: rgba(255, 255, 207, .1);
  --personal-stats-icon-dark-border: linear-gradient(0deg, #0000 0%, #00000080 50%, #0000 100%);
  --personal-stats-icon-light-border: linear-gradient(0deg, #fff0 0%, #ffffff1a 50%, #fff0 100%);
  --personal-stats-titles-dark-border: var(--personal-stats-icon-dark-border);
  --personal-stats-titles-light-border: var(--personal-stats-titles-dark-border);
  --personal-stats-remove-stat-bg: linear-gradient(180deg, #333 0%, #555 100%);
  --personal-stats-category-icons-bg: url(/images/v2/personal_stats/category_icons_dark.svg);
}

:root .dark-mode {
  --personal-stats-border-shadow: 0 1px 0 #ffffff1a;
  --personal-stats-border-color: #222;
}
