#personal-stats {
  --personal-stats-white-border: #fff;
  --personal-stats-gray-border: #cbcbcb;
  --personal-stats-gray-1-border: #dcdcdc;
  --personal-stats-gray-2-border: #cecece;
  --personal-stats-gray-d-border: #ddd;
  --personal-stats-c-border: #ccc;
  --personal-stats-a-color: #aaa;
  --personal-stats-user-shadow: 0 1px 0 0 rgba(255, 255, 255, 1), 1px 0 0 0 rgba(255, 255, 255, 1) inset;
  --personal-stats-current-section-bg: #e4eaed;
  --personal-stats-selected-bg: #fff;
  --personal-stats-hover-bg: #ffffffcf;
  --personal-stats-icon-dark-border: linear-gradient(to bottom, rgba(207, 207, 207, 1), rgba(207, 207, 207, 0) 100%);
  --personal-stats-icon-light-border: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 100%);
  --personal-stats-titles-dark-border: linear-gradient(180deg, hsla(0, 0%, 80%, 0) 0, #ccc 50%, hsla(0, 0%, 80%, 0));
  --personal-stats-titles-light-border: linear-gradient(180deg, hsla(0, 0%, 80%, 0) 0, #fff 50%, hsla(0, 0%, 80%, 0));
  --personal-stats-remove-stat-bg: linear-gradient(180deg, #e4e4e4 0, #f2f2f2);
  --personal-stats-category-icons-bg: url(/images/v2/personal_stats/category_icons.svg);
}

:root {
  --personal-stats-border-shadow: none;
  --personal-stats-border-color: #bdbdbd;
}
