$assetPath : "/images/v2/christmas_town/minigames/garland_assemble";

.wrapper {
  --board-size: 450px;
  --tile-size: 90px;

  background-color: white;
  background-image: url(#{$assetPath}/bg.png);
  height: 100%;
  display: flex;
  left: 0;
  right: 0;
  flex-direction: column;

  @media #{$screen-tablet} {
    #{$global-r} & {
      --board-size: 385px;
      --tile-size: 77px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      --board-size: 320px;
      --tile-size: 64px;
    }
  }
}

.fixedSizeBoard {
  width: var(--board-size);
  height: var(--board-size);
  align-self: center;
  position: relative;
  overflow: hidden;
}

.tileRow {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  height: var(--tile-size);
}

.tile {
  flex: 1;
  width: var(--tile-size);
  box-sizing: border-box;
  border: 1px solid #bfd0d8;
  box-shadow: 2px 1px 1px white inset;
  position: relative;

  img {
    transition: transform .2s ease-out;
    margin-top: -1px;
    margin-left: -1px;
    position: absolute;
  }

  &.dimmed {
    img {
      filter: grayscale(.51) contrast(1.01) brightness(1.01) hue-rotate(104deg) saturate(.37);
    }

    &::after {
      position: absolute;
      content: '';
      display: block;
      top: -1px;
      left: -1px;
      height: calc(100% + 2px);
      width: calc(100% + 2px);
      background: rgb(21, 67, 86);
      mix-blend-mode: screen;
    }
  }
}
