.searchContainer {
  position: relative;
  margin-right: 10px;
}

.search {
  box-sizing: border-box;
  padding-top: 2px;
  padding-left: 10px;
  width: 279px;
  height: 36px;
  border: 1px solid #cecebf;
  border-radius: 5px;
  color: #79796a;
  font: inherit !important;

  &::placeholder {
    color: #cecebf;
  }
}

.searchInputWrap {
  position: relative;
}

.clearButton {
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 0;
  position: absolute;
  border: 0;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0);
  font-size: 18px;
  top: 22%;
  right: 43px;
  color: #cecebf;

  &:hover {
    color: #79796a;
  }
}

.iconWrapper {
  position: absolute;
  top: 54%;
  right: 10px;
  transform: translateY(-50%);
}

.iconWrapperButton {
  background: transparent;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 40px;
  transform: none;
  padding-top: 3px;
  top: 0;
  right: 0;
  height: 100%;
  border: 1px solid #cecebf;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing: border-box;
}

.iconWrapperButtonActive {
  cursor: pointer;
  border: 1px solid #acac9d;
  background: linear-gradient(180deg, #d8dbdc 0, #e2e5e5 4%, #fefbe4 26%, #d6cdc1 61%, #d9d2c8 65%, #e8e8e7 78%, #ebeceb 83%, #dad8c2);
  box-shadow: 0 1px 0 #fff, inset 0 1px 2px rgba(36, 36, 21, .1);

  &:hover {
    background: linear-gradient(180deg, #bfc5c9 0, #c8cece 4%, #fdf7cc 26%, #f5efc5 30%, #cfc3a6 48%, #b4a592 61%, #b9ad9d 65%, #d3d3d1 78%, #d9dad9 83%, #c8c8b4 91%, #bab794);
  }
}

.iconWrapperButtonClicked {
  background: linear-gradient(180deg, #bfc5c9 0, #c8cece 4%, #fdf7cc 26%, #f5efc5 30%, #cfc3a6 48%, #b4a592 61%, #b9ad9d 65%, #d3d3d1 78%, #d9dad9 83%, #c8c8b4 91%, #bab794);
}

.iconWrapperButtonActiveDropDown {
  border-bottom-right-radius: 0;
}

.removeBorderRadius {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.regularLayout {
  opacity: 1;
}

.popupLayout {
  margin-right: 0;

  .search {
    padding-left: 13px;
    width: 100%;
    height: 34px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  div {
    &[class^="dropDownContainer"] {
      position: relative;
      display: block;
      max-height: 245px;
      border-right: none;
      border-bottom: none;
      border-left: none;
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }

    // dirty hack here! Anyway it's an admin tool so all fine.
    &[class^="dropDownContainer"]:not([class*="noScroll"]) {
      overflow-y: scroll;
    }

    > [class^="dropdownPlaceholder"] {
      right: -30%;
      top: 60px;
    }
  }

  button {
    margin-top: 1px;
    padding: 0 13px;
    border-top: none;

    &:last-child {
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
}
