%wheel {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
}

.wheelActivator {
  @extend %wheel;

  cursor: pointer;
  z-index: 2;
  transform: translateX(-50%) translateY(-50%);
}

.wheel {
  @extend %wheel;

  transform: translateX(-50%) translateY(-50%);
  background:
    url(/images/v2/christmas_town/minigames/spin_the_wheel/976/976_effects_red.png) no-repeat center/* ,
    url(/images/v2/christmas_town/minigames/spin_the_wheel/976_effects_green.png) no-repeat center */;


  @media #{$screen-tablet} {
    #{$global-r} & {
      background: url(/images/v2/christmas_town/minigames/spin_the_wheel/578/578_effects_red.png) no-repeat center;
    }
  }
  
  @media #{$screen-mobile} {
    #{$global-r} & {
      background: url(/images/v2/christmas_town/minigames/spin_the_wheel/320/320_effects_red.png) no-repeat center;
    }
  }
}

.notActiveSegment {
  opacity: 0.25;
}
