.membersFilter {
  display: flex;
  justify-content: space-between;

  .membersCount {
    padding-left: 5px;
  }

  .filterInput {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 5px 27px 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    font-weight: normal;
    color: #444;

    ::placeholder {
      color: #999;
    }
  }

  .btnTransparent {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }
}
