.cellPointer {
  position: absolute;
  top: -100px;
  left: -100px;
  z-index: 10005;
  width: 30px;
  height: 30px;
  border: 0 solid rgb(255, 0, 249);
  background-color: rgba(38, 201, 255, .1);

  &.unblocking {
    border-color: rgba(0, 128, 0, .5);
  }

  &.line {
    &.bottom {
      border-bottom-width: 2px;
    }

    &.right {
      border-right-width: 2px;
    }

    &.top {
      border-top-width: 2px;
    }

    &.left {
      border-left-width: 2px;
    }
  }

  &.cornerBlock {
    &::before,
    &::after {
      content: '';
      position: absolute;
      display: none;
      background-color: rgb(255, 0, 249);
    }

    &::before {
      top: 15px;
      left: 5px;
      width: 10px;
      height: 2px;
    }

    &::after {
      top: 5px;
      left: 15px;
      width: 2px;
      height: 11px;
    }

    &.leftTop {
      transform: rotate(0deg);

      &::after,
      &::before {
        display: inline-block;
      }
    }

    &.leftBottom {
      transform: rotate(-90deg);
      margin-top: 2px;

      &::after,
      &::before {
        display: inline-block;
      }
    }

    &.rightBottom {
      transform: rotate(180deg);
      margin: 2px 0 0 2px;

      &::after,
      &::before {
        display: inline-block;
      }
    }

    &.rightTop {
      transform: rotate(-270deg);
      margin-left: 2px;

      &::after,
      &::before {
        display: inline-block;
      }
    }
  }

  &.unblocking.cornerBlock::before,
  &.unblocking.cornerBlock::after {
    background-color: rgba(0, 128, 0, .5);
  }

  &.lineEndBlock {
    &::before,
    &::after {
      content: '';
      position: absolute;
      display: none;
      background-color: rgb(255, 0, 249);
    }

    &.unblocking {
      &::before,
      &::after {
        border-color: rgba(0, 128, 0, .5);
      }
    }

    &.allowed::before,
    &.allowed::after {
      display: block;
    }

    &::before {
      top: 15px;
      left: 5px;
      width: 20px;
      height: 2px;
    }

    &::after {
      top: 5px;
      left: 15px;
      width: 2px;
      height: 21px;
    }
  }

  &.blockEraser {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: inset 2px 2px 0 0 #000;
  }

  &.unblocking.lineEndBlock::before,
  &.unblocking.lineEndBlock::after {
    background-color: rgba(0, 128, 0, .5);
  }
}
