$widthBig: 200px;
$widthSmall: 25px;
$contentHeight: 19px;

.rowSection {
  padding: 9px 10px;
  color: #8a8a8a;
  font-size: 12px;
}

.flexCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.userInfoBox {
  width: 273px;
  box-sizing: border-box;
  padding: 7px 1px;
  composes: rowSection;
  composes: flexCenter;
}

.textWrap,
.userStatusWrap,
.userWrap,
.factionWrap {
  height: $contentHeight;
  composes: flexCenter;
}

.linkWrap {
  composes: flexCenter;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: color .1s linear;
  color: #069;

  &:visited {
    color: #069;
  }

  &:hover {
    color: #999;
  }

  .searchWrap {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 19px;
    line-height: 0;
    width: inherit;

    .searchText {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-51%);
      text-align: center;
      margin-left: 1px;
      width: 100%;
      font-family: "Imagine Font", "Arial", serif;
      font-size: 6pt;
      text-transform: uppercase;
      color: transparent;
      font-weight: bold;
      height: 19px;
      line-height: 20px;
      pointer-events: none;

      &.serachTextHide {
        display: none;
      }
    }
  }
}

.userWrap {
  margin-left: 10px;
  width: $widthBig;

  &.textWrap {
    margin-left: 8px;
    // width: 80px;
  }
}

.userWrapSmall {
  width: 100px;
}

.userStatusWrap {
  width: 16px;
  margin: 0 5px;
}

.factionWrap {
  width: $widthSmall;

  .diamond {
    box-shadow: 0 0 5px #00d7e4;
    box-shadow: var(--faction-tag-diamond-rank-box-shadow);
  }

  .platinum {
    box-shadow: 0 0 5px #3653ff;
    box-shadow: var(--faction-tag-platinum-rank-box-shadow);
  }

  .gold {
    box-shadow: 0 0 5px #ffc000;
    box-shadow: var(--faction-tag-gold-rank-box-shadow);
  }
}

.userName,
.factionName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.1;
}

.userName {
  max-width: $widthBig;
}

.factionName {
  width: auto;
  max-width: 50px;
}

.textWrap {
  position: relative;
  text-align: left;
  width: auto;

  .linkWrap {
    text-decoration: none;
  }

  .userName,
  .factionName {
    padding-top: 2px;
  }
}

.image,
.userImage,
.factionImage {
  pointer-events: none;
  width: inherit;
  height: inherit;
}

.cutOpacity {
  opacity: .6;
}

.preloader {
  width: 25px;
  margin: auto;
}
