.container {
  width: 100%;
  overflow-x: auto;
}

.table {
  tbody {
    tr:nth-child(odd) {
      background: rgba(#fff, .2);
    }

    td {
      box-sizing: border-box;
      padding: 10px !important;
    }
  }
}

.rotated {
  position: relative;
  height: 70px;
}
