.table {
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15);
  background: #f2f2f2;

  thead {
    tr {
      &:first-child {
        height: 35px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
        background: url(/images/v2/main/section_title_black_bg.png) 0 0 repeat;
        background: -o-repeating-linear-gradient(left, #2e2e2e, #2e2e2e 2px, #282828 0, #282828 4px);
        background: repeating-linear-gradient(90deg, #2e2e2e, #2e2e2e 2px, #282828 0, #282828 4px);
        line-height: 35px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        height: 25px;
        border-top: 1px solid #ccc;
        line-height: 25px;

        th {
          color: #333;
          font-size: 13px;
          font-weight: bold;
          text-shadow: 0 1px 0 #fff;

          &:not(:last-child) {
            border-right: 1px solid #ccc;
          }
        }
      }
    }
  }

  th {
    box-sizing: border-box;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: left;
    text-shadow: 0 1px 0 #333;
  }

  tbody {
    tr {
      height: 25px;
      border-top: 1px solid #ccc;
      line-height: 25px;

      &:nth-child(odd) {
        background: #fff;
      }

      td {
        box-sizing: border-box;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 12px;
        text-align: left;

        &:not(:last-child) {
          border-right: 1px solid #ccc;
        }
      }
    }
  }
}
