.svgIconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  width: 34px;
  pointer-events: none;

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-top: 4px;
    }
  }
}
