.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 0 10px 15px #fff;
  background-color: white;
  border-radius: 50%;
  font-family: Mountains of Christmas;
  font-size: 40px;
  color: #CA3300;
  font-weight: bold;
}

.spin {
  font-size: 40px;
  color: #CA3300;

  @media #{$screen-tablet} {
    #{$global-r} & {
      font-size: 34px;
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      font-size: 30px;
    }
  }
}

.spinning {
  font-size: 20px;
  color: #00A080;

  @media #{$screen-tablet} {
    #{$global-r} & {
      font-size: 20px;
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      font-size: 16px;
    }
  }
}

.naughty {
  font-size: 26px;
  color: #EB5900;

  @media #{$screen-tablet} {
    #{$global-r} & {
      font-size: 22px;
    }
  }
  
  @media #{$screen-mobile} {
    #{$global-r} & {
      font-size: 18px;
    }
  }
}

.nice {
  font-size: 40px;
  color:#14D2D1;

  @media #{$screen-tablet} {
    #{$global-r} & {
      font-size: 40px;
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      font-size: 32px;
    }
  }
}
