:global(#preferencesroot) {
  .popupContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 20%;

    .popup {
      width: 304px;
      min-height: 270px;
      box-shadow: 0 0 5px #00000040;
      border: 2px solid #fff;
      border-color: var(--preferences-api-popup-border-color);
      border-radius: 5px;
      font-size: 12px;
      line-height: 16px;
      font-family: 'Arial', sans-serif;
      text-align: center;
      padding: 10px;
      background-color: #f2f2f2;

      .title {
        font-size: 22px;
        padding: 5px 0 10px 0;
        color: #111;
        color: var(--preferences-api-popup-title-color);
      }

      .info {
        margin-bottom: 12px;

        &::after {
          content: '';
          position: relative;
          display: block;
          right: 10px;
          height: 1px;
          width: 296px;
          background-color: #ccc;
          background-color: var(--preferences-api-popup-divider-color);
        }

        .description {
          padding-bottom: 10px;
        }

        .popupInput {
          margin: 10px 0;
          display: block;
          background: rgba(255, 255, 255, 0);
          background: var(--preferences-api-popup-input-bg);
          border: 1px solid #ccc;
          border-color: var(--preferences-api-popup-input-border-color);
          border-radius: 5px;
          width: 280px;
          height: 34px;
          font-size: 22px;
          text-align: center;
          color: #111;
          color: var(--preferences-api-key-color);
        }
      }

      &.Custom {
        background: #f3f0ff;
        background:
          linear-gradient(0, var(--preferences-api-popup-custom-access-bg), var(--preferences-api-popup-custom-access-bg)),
          linear-gradient(#333, #333);
        color: #333;
        color: var(--preferences-api-popup-custom-access-color);

        .info {
          .categories {
            width: 300px;
            margin: 0 0 10px -10px;
            padding: 10px;
            background: rgba(0, 0, 0, .05);
            background: var(--preferences-api-popup-custom-categories-bg);
          }
        }
      }

      &.FullAccess {
        background: #fff5f5;
        background:
          linear-gradient(0, var(--preferences-api-popup-full-access-bg), var(--preferences-api-popup-full-access-bg)),
          linear-gradient(#333, #333);
        color: #333;
        color: var(--preferences-api-popup-full-access-color);
      }

      &.LimitedAccess {
        background: #fff9db;
        background:
          linear-gradient(0, var(--preferences-api-popup-limited-access-bg), var(--preferences-api-popup-limited-access-bg)),
          linear-gradient(#333, #333);
        color: #333;
        color: var(--preferences-api-popup-limited-access-color);
      }

      &.MinimalAccess {
        background: #f4fce3;
        background:
          linear-gradient(0, var(--preferences-api-popup-minimal-access-bg), var(--preferences-api-popup-minimal-access-bg)),
          linear-gradient(#333, #333);
        color: #333;
        color: var(--preferences-api-popup-minimal-access-color);
      }

      &.PublicOnly {
        background: #fff;
        background:
          linear-gradient(0, var(--preferences-api-popup-public-access-bg), var(--preferences-api-popup-public-access-bg)),
          linear-gradient(#333, #333);
        color: #333;
        color: var(--preferences-api-popup-public-access-color);

        .popupInput {
          background: #f2f2f2;
          background: var(--preferences-api-popup-public-input-bg);
        }
      }
    }
  }
}

:global(.r) {
  :global(#preferencesroot) {

    @media screen and (max-width: 1000px) {
      .popupContainer {
        top: -5%;
      }
    }
    @media screen and (max-width: 600px) {
      .popupContainer {
        top: -10%;
      }
    }
  }
}
