.playerWrap {
  margin-bottom: 10px;
  padding: 10px;
  width: 46%;
  height: 90px;
  border: 1px solid #fff;
  border-radius: 10px;

  &.active {
    box-shadow: 0 0 7px 1px #32cd32;
  }

  @media #{$screen-tablet} {
    height: 100px;
    width: 44%;
  }
  @media #{$screen-mobile} {
    width: 100%;
  }
}

.playerName {
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.betInput {
  margin-top: 5px;
}
