.enter {
  position: absolute;
  transform: translateY(100%);
  z-index: 1;

  &.enterActive {
    transition: transform .6s cubic-bezier(.25, 1, .5, 1);
    transform: translateY(0);
  }
}

.exit {
  opacity: 1;

  &.exitActive {
    opacity: 0;
    transition: opacity .6s linear;
  }
}
