.sector {
  position: absolute;
  left: 50%;
  transform-origin: bottom left;
  overflow: hidden;
}

.bodyWrap {
  height: 100%;
  position: absolute;
  transform-origin: bottom left;
  overflow: hidden;
}

.body {
  height: 100%;
  position: absolute;
  transform-origin: bottom left;
}

%arrowBackground {
  background: url(/images/v2/christmas_town/minigames/spin_the_wheel/976/976_star_big_ray.png) 0px center no-repeat;

  @media #{$screen-tablet} {
    #{$global-r} & {
      background: url(/images/v2/christmas_town/minigames/spin_the_wheel/578/578_star_big_ray.png) 0px center no-repeat;
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      background: url(/images/v2/christmas_town/minigames/spin_the_wheel/320/320_star_big_ray.png) 0px center no-repeat;
    }
  }
}

.leftArrow {
  width: 28px;
  height: 100%;
  position: absolute;
  bottom: 1px;
  left: -12px;

  @extend %arrowBackground;

  @media #{$screen-tablet} {
    #{$global-r} & {
      bottom: 1px;
      left: -12px;
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      bottom: 2px;
      left: -9px;
    }
  }
}

.rightArrow {
  width: 28px;
  height: 100%;
  position: absolute;
  bottom: -2px;
  left: 0px;    
  transform-origin: bottom left;
  transform: rotate(90deg) translateX(-50%);
  
  @extend %arrowBackground;

  @media #{$screen-tablet} {
    #{$global-r} & {
      bottom: -2px;
      left: 2px;
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      bottom: -5px;
      left: 2px;
    }
  }
}

.centerArrow {
  width: 41px;
  height: 64px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: url(/images/v2/christmas_town/minigames/spin_the_wheel/star_small_ray.png) center center;

  @media #{$screen-tablet} {
    #{$global-r} & {
      bottom: 10px;
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      bottom: 0px;
    }
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: url(/images/v2/christmas_town/minigames/spin_the_wheel/976/976_green_sector.png) center center;

  @media #{$screen-tablet} {
    #{$global-r} & {
      background: url(/images/v2/christmas_town/minigames/spin_the_wheel/578/578_green_sector.png) center center;
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      background: url(/images/v2/christmas_town/minigames/spin_the_wheel/320/320_green_sector.png) center center;
    }
  }
}

.lose {
  background: url(/images/v2/christmas_town/minigames/spin_the_wheel/976/976_red_sector.png) center center;

  @media #{$screen-tablet} {
    #{$global-r} & {
      background: url(/images/v2/christmas_town/minigames/spin_the_wheel/578/578_red_sector.png) center center;
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      background: url(/images/v2/christmas_town/minigames/spin_the_wheel/320/320_red_sector.png) center center;
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font: 26px Mountains of Christmas;
  line-height: 25px;
  color: #FFFFFF;
  text-shadow: 0px 1px 2px #000000A6;
  font-weight: bold;
  height: 50px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-top: 15px;
      font-size: 23px;
      line-height: 20px;
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      margin-top: 10px;
      font-size: 19px;
    }
  }
}

.titleRow {
  display: block;
}

.icon {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);

  @media #{$screen-tablet} {
    #{$global-r} & {
      bottom: 78px;
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      bottom: 62px;
    }
  }
}
