.timer {
  color: var(--default-gray-9-color);
  text-decoration: none;

  .fixWidth {
    span {
      display: inline-block;
    }

    .num {
      width: 12px;
    }

    .secondsStr {
      width: 38px;
      text-align: left;
    }
  }
}
