.dark-mode #preferencesroot {
  --preferences-bg: #333;
  --preferences-api-table-cb-border-color: #222;
  --preferences-api-table-dc-border-color: #222;
  --preferences-api-table-box-shadow: inset 0 1px 0 0 rgba(68, 68, 68, 1);
  --preferences-api-table-logs-box-shadow: 1px 1px 0 0 rgba(68, 68, 68, 1), inset 1px 1px 0 0 rgba(68, 68, 68, 1);
  --preferences-api-logs-hover-bg: #333;
  --preferences-change-name-result-info-color: #ddd;
  --preferences-api-type-full-access-color: #ff6b6b;
  --preferences-api-type-limited-access-color: #fcc419;
  --preferences-api-type-public-access-color: #ddd;
  --preferences-api-type-custom-access-color: #da77f2;
  --preferences-api-type-minimal-access-color: #94d82d;
  --preferences-api-popup-full-access-color: #fff5f5;
  --preferences-api-popup-limited-access-color: #fff9db;
  --preferences-api-popup-public-access-color: #ddd;
  --preferences-api-popup-custom-access-color: #edf2ff;
  --preferences-api-popup-minimal-access-color: #f4fce3;
  --preferences-api-popup-full-access-bg: rgba(255, 107, 107, .15);
  --preferences-api-popup-limited-access-bg: rgba(252, 196, 25, .15);
  --preferences-api-popup-public-access-bg: #444;
  --preferences-api-popup-custom-access-bg: rgba(151, 117, 250, .15);
  --preferences-api-popup-custom-categories-bg: rgba(0, 0, 0, .15);
  --preferences-api-popup-minimal-access-bg: rgba(148, 216, 45, .1);
  --preferences-api-popup-border-color: #555;
  --preferences-api-popup-title-color: #fff;
  --preferences-api-popup-input-bg: #333;
  --preferences-api-popup-input-border-color: #555;
  --preferences-api-popup-divider-color: #222;
  --preferences-api-input-bg: #333;
  --preferences-api-input-keyTitle-bg: linear-gradient(180deg, #000 0%, #222 100%);
  --preferences-api-input-border-color: #555;
  --preferences-api-input-keyTitle-border-color: #444;
  --preferences-api-divider: #222;
  --preferences-api-text-shadow-color: #000;
  --preferences-api-key-color: #fff;
  --preferences-api-key-highlighted-bg: rgba(116, 192, 252, .2);
  --preferences-api-key-expanded-bg: #484848;
  --preferences-api-button-disabled-color: #000;
  --preferences-api-button-hover-color: #fff;
  --preferences-api-button-disabled-shadow: #ffffff1a;
  --preferences-api-button-hover-shadow: #ffffff59;
  --preferences-api-border-gradiend-dark: linear-gradient(0deg, #0000 0%, #00000080 50%, #0000 100%);
  --preferences-api-border-gradiend-light: linear-gradient(0deg, #fff0 0%, #ffffff1a 50%, #fff0 100%);
  --preferences-api-popup-public-input-bg: #333;
  --preferences-api-active-icon-fill: #fff;
  --preferences-api-active-icon-filter: drop-shadow(0 1px 2px #000000a6);
  --preferences-api-hover-icon-fill: #fff;
  --preferences-api-hover-icon-filter: drop-shadow(0 0 5px #ffffff59);
  --preferences-api-default-icon-fill: url(#api-key-dark-gradient);
  --preferences-api-default-icon-filter: drop-shadow(0 1px 2px #000000a6);
  --preferences-api-disabled-icon-filter: drop-shadow(0 -1px 0 #ffffff1a);
}

:root .dark-mode {
  --preferences-api-tooltip-bg: #444;
  --preferences-api-tooltip-sections-bg: rgba(0, 0, 0, .2);
  --preferences-api-tooltip-sections-color: #ddd;
}
