#preferencesroot {
  --preferences-bg: #f2f2f2;
  --preferences-api-table-cb-border-color: #cbcbcb;
  --preferences-api-table-dc-border-color: #dcdcdc;
  --preferences-api-table-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 1);
  --preferences-api-table-logs-box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 1), inset 1px 1px 0 0 rgba(255, 255, 255, 1);
  --preferences-api-logs-hover-bg: #f2f2f2;
  --preferences-change-name-result-info-color: #333;
  --preferences-api-popup-full-access-color: #333;
  --preferences-api-popup-limited-access-color: #333;
  --preferences-api-popup-public-access-color: #333;
  --preferences-api-popup-custom-access-color: #333;
  --preferences-api-popup-minimal-access-color: #333;
  --preferences-api-type-full-access-color: #d93600;
  --preferences-api-type-limited-access-color: #b28500;
  --preferences-api-type-public-access-color: #444;
  --preferences-api-type-custom-access-color: #5f3dc4;
  --preferences-api-type-minimal-access-color: #698c00;
  --preferences-api-popup-full-access-bg: #fff5f5;
  --preferences-api-popup-limited-access-bg: #fff9db;
  --preferences-api-popup-public-access-bg: #fff;
  --preferences-api-popup-custom-access-bg: #f3f0ff;
  --preferences-api-popup-custom-categories-bg: rgba(0, 0, 0, .05);
  --preferences-api-popup-minimal-access-bg: #f4fce3;
  --preferences-api-popup-border-color: #fff;
  --preferences-api-popup-title-color: #111;
  --preferences-api-popup-input-bg: rgba(255, 255, 255, 0);
  --preferences-api-popup-input-border-color: #ddd;
  --preferences-api-popup-divider-color: #ddd;
  --preferences-api-input-bg: #f2f2f2;
  --preferences-api-input-keyTitle-bg: #fff;
  --preferences-api-input-border-color: #ddd;
  --preferences-api-input-keyTitle-border-color: #ccc;
  --preferences-api-divider: #ddd;
  --preferences-api-text-shadow-color: #fff;
  --preferences-api-key-color: #111;
  --preferences-api-key-highlighted-bg: #e7f5ff;
  --preferences-api-key-expanded-bg: #fff;
  --preferences-api-button-disabled-color: #ccc;
  --preferences-api-button-hover-color: #444;
  --preferences-api-button-disabled-shadow: #fff;
  --preferences-api-button-hover-shadow: #fff;
  --preferences-api-border-gradiend-dark: linear-gradient(0deg, #ccc0 0%, #ccc 50%, #ccc0 100%);
  --preferences-api-border-gradiend-light: linear-gradient(0deg, #fff0 0%, #fff 50%, #fff0 100%);
  --preferences-api-popup-public-input-bg: #f2f2f2;
  --preferences-api-active-icon-fill: url(#api-key-active-gradient);
  --preferences-api-active-icon-filter: drop-shadow(0 1px 0 #fff);
  --preferences-api-hover-icon-fill: url(#api-key-hover-gradient);
  --preferences-api-hover-icon-filter: drop-shadow(0 1px 0 #fff);
  --preferences-api-default-icon-fill: url(#api-key-gradient);
  --preferences-api-default-icon-filter: drop-shadow(0 1px 0 #fff);
  --preferences-api-disabled-icon-filter: drop-shadow(0 -1px 0 #fff);
}

:root {
  --preferences-api-tooltip-bg: #fff;
  --preferences-api-tooltip-sections-bg: rgba(0, 0, 0, .05);
  --preferences-api-tooltip-sections-color: #444;
}
