.sport {
  &:not(:first-child):before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(hsla(0, 0%, 100%, 0.001)),
      color-stop(#fff),
      to(hsla(0, 0%, 100%, 0.001))
    );
    background: -o-linear-gradient(top, hsla(0, 0%, 100%, 0.001), #fff, hsla(0, 0%, 100%, 0.001));
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.001), #fff, hsla(0, 0%, 100%, 0.001));
    background: var(--tabs-divider-left-gradient);
  }

  &:not(:first-child):after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    width: 1px;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(hsla(0, 0%, 100%, 0.001)),
      color-stop(#ddd),
      to(hsla(0, 0%, 100%, 0.001))
    );
    background: -o-linear-gradient(top, hsla(0, 0%, 100%, 0.001), #ddd, hsla(0, 0%, 100%, 0.001));
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.001), #ddd, hsla(0, 0%, 100%, 0.001));
    background: var(--tabs-divider-right-gradient);
  }
}
