$borderWidth: 10px;

@mixin radialBackground($spotColor) {
  &::after {
    background:
      radial-gradient(
          closest-side at 50% 50%, rgba(#{$spotColor}, 1) 0%, rgba(#{$spotColor}, .4) 40%, rgba(#{$spotColor}, 0) 85%
        );
  }
}
@mixin glowingBorders($thinBorderColor, $thickBorderColor) {
  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    border-radius: 8px;
    z-index: 0;
  }

  &::before {
    border: $borderWidth solid #{$thickBorderColor};
    opacity: .4;
    filter: blur(3px);
  }

  &::after {
    border: 1px solid #{$thinBorderColor};
  }
}
@mixin glowingBordersOffset($offsetTop: 0, $offsetRight: 0, $offsetBottom: 0, $offsetLeft: 0) {
  &::before {
    top: -#{$offsetTop}px;
    left: -#{$offsetLeft}px;
    width: calc(100% + #{$offsetLeft + $offsetRight}px);
    height: calc(100% + #{$offsetTop + $offsetBottom}px);
  }

  &::after {
    top: $borderWidth/2 - $offsetTop;
    left: $borderWidth/2 - $offsetLeft;
    width: calc(100% + #{$offsetLeft + $offsetRight - $borderWidth});
    height: calc(100% + #{$offsetTop + $offsetBottom - $borderWidth});
  }
}
