@import '../../../styles/vars';
@import '../../../styles/mixins';
@import './mixins';
@import './player.cssmodule';
@import './positions.cssmodule';
// self is a wrap for first person and is different from playerPositioner-0
// playerPositioner-0 is just a position 0 and is only present for watchers

.playerWrapper {
  z-index: 1;
  position: relative;
}

.playerPositioner {
  position: absolute;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.opponent {

  @extend .player;

  @include appType([ 'desktop/full', 'desktop/sidebar', 'tablet/full' ]) {
    &.winner {

      @include glowingBorders(var(--holdem-player-borders-winner-from), var(--holdem-player-borders-winner-to));
      @include glowingBordersOffset(0, 0, 0, 0);
      @include radialBackground(var(--holdem-player-glow-winner));
    }

    &.active {

      @include glowingBorders(var(--holdem-player-borders-active-from), var(--holdem-player-borders-active-to));
      @include glowingBordersOffset(0, 0, 0, 0);
      @include radialBackground(var(--holdem-player-glow-active));
    }
  }
  @include appType([ 'desktop/full' ]) {
    width: 160px;
    height: 152px;

    .playerWrapper {
      height: 100%;
    }

    .avatarPositioner {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 58px;
      height: 78px;
    }

    .state {
      top: 10px;
      right: 10px;
      width: 76px;
      height: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 9px;
      box-sizing: border-box;
      font-size: 12px;
    }

    .hand {
      top: 33px;
      right: 8px;
    }

    .detailsBox {
      position: absolute;
      bottom: 10px;
      left: 10px;
      right: 10px;
    }
  }
  @include appType([ 'desktop/sidebar', 'tablet/full' ]) {
    width: 126px;
    height: 125px;

    .playerWrapper {
      padding: 10px;
    }

    .detailsBox {
      width: 100%;
      box-shadow: var(--holdem-frame-shadow);
      border-radius: 5px;
      display: flex;
      flex-wrap: wrap;
      padding: 7px;
      box-sizing: border-box;
      justify-content: space-between;
      height: 80px;
    }

    .additionalBox {
      height: 20px;
      box-shadow: var(--holdem-frame-shadow);
      border-radius: 10px 5px 5px 10px;
      margin-bottom: 4px;
      display: flex;
      align-items: center;
    }

    .moneyIcon {
      height: 20px;
    }

    .avatarPositioner {
      width: 27px;
      height: 36px;
    }

    .state {
      margin-top: 5px;
    }

    .state,
    .name,
    .money {
      padding-left: 2px;
      width: 100%;
      text-align: left;
    }

    &.winner {
      .detailsBox,
      .additionalBox {
        background: var(--holdem-player-bg-active);
      }
    }

    &.active {
      .detailsBox,
      .additionalBox {
        background: var(--holdem-player-bg-in-game);
      }
    }

    &.default {
      .detailsBox,
      .additionalBox {
        background: var(--holdem-player-bg-default);
      }
    }

    &.folded {
      opacity: var(--holdem-player-opacity-folded);

      .detailsBox,
      .additionalBox {
        background: var(--holdem-player-bg-folded);
      }
    }
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    width: 108px;
    height: 64px;
    color: #fff;

    .name,
    .money,
    .pot,
    .state {
      display: flex;
      align-items: center;
      height: 16px;
      font-weight: normal;
    }

    .hand {
      display: flex;
    }

    &.winner {

      @include glowingBorders(var(--holdem-player-borders-winner-from), var(--holdem-player-borders-winner-to));
    }

    &.active {

      @include glowingBorders(var(--holdem-player-borders-active-from), var(--holdem-player-borders-active-to));
    }

    &.folded {
      opacity: .5;
    }
  }
}

@include appType([ 'tablet/sidebar', 'mobile' ]) {
  .playerPositioner-0,
  .playerPositioner-1,
  .playerPositioner-2,
  .playerPositioner-3,
  .playerPositioner-4 {
    .state,
    .name,
    .money,
    .pot {
      flex-direction: row;
    }
  }

  .playerPositioner-5,
  .playerPositioner-6,
  .playerPositioner-7,
  .playerPositioner-8 {
    .state,
    .name,
    .money,
    .hand,
    .pot {
      flex-direction: row-reverse;
    }
  }

  .playerPositioner-0 {
    .opponent {

      @include glowingBordersOffset(8, 8, 8, 8);
    }
  }

  .playerPositioner-1 {
    .opponent {

      @include glowingBordersOffset(12, 6, 14, 18);
    }
  }

  .playerPositioner-2 {
    .opponent {

      @include glowingBordersOffset(12, 6, 14, 18);
    }
  }

  .playerPositioner-3 {
    .opponent {

      @include glowingBordersOffset(12, 6, 14, 18);
    }
  }

  .playerPositioner-4 {
    .opponent {

      @include glowingBordersOffset(18, 18, 15, 48);
    }
  }

  .playerPositioner-5 {
    .opponent {

      @include glowingBordersOffset(18, 48, 15, 18);
    }
  }

  .playerPositioner-6 {
    .opponent {

      @include glowingBordersOffset(12, 18, 14, 6);
    }
  }

  .playerPositioner-7 {
    .opponent {

      @include glowingBordersOffset(12, 18, 14, 6);
    }
  }

  .playerPositioner-8 {
    .opponent {

      @include glowingBordersOffset(12, 18, 14, 6);
    }
  }
}
