@import '../../../styles/vars';
@import '../../../styles/mixins';

.player {
  font-family: Arial;
  font-weight: bold;
  color: var(--holdem-text-color-main);
  text-shadow: var(--holdem-text-shadow-main);
  box-sizing: border-box;
  position: relative;

  @include appType([ 'desktop/full', 'desktop/sidebar', 'tablet/full' ]) {
    &.folded {
      opacity: var(--holdem-player-opacity-folded);
    }
  }
  @include appType([ 'desktop/full' ]) {
    .state,
    .pot {
      position: absolute;
      font-size: 13px;
    }

    .state {
      box-shadow: var(--holdem-frame-shadow);
      border-radius: 5px 5px 5px 0;
    }

    .pot {
      color: #fff;
      font-weight: bold;
      text-shadow: 0 1px 2px #000;
    }

    .potString {
      margin-top: 1px;
      font-weight: bold;
      text-align: center;
      text-shadow: 0 1px 2px #000;
    }

    .detailsBox {
      line-height: 18px;
      height: 48px;
      box-shadow: var(--holdem-frame-shadow);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
    }

    .hand {
      position: absolute;
    }

    &.winner {
      .detailsBox,
      .state {
        background: var(--holdem-player-bg-active);
      }
    }

    &.active {
      .detailsBox,
      .state {
        background: var(--holdem-player-bg-in-game);
      }
    }

    &.default {
      .detailsBox,
      .state {
        background: var(--holdem-player-bg-default);
      }
    }

    &.folded {
      .detailsBox,
      .state {
        background: var(--holdem-player-bg-folded);
      }

      .detailsBox {
        &::before,
        &::after {
          background: var(--holdem-state-margins-background-folded);
        }
      }
    }

    &.winner,
    &.active,
    &.default {
      .detailsBox {
        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          height: 100%;
          width: 7px;
          background: var(--holdem-state-margins-background-active);
        }

        &::before {
          left: 0;
          border-right: 1px solid #0003;
        }

        &::after {
          right: 0;
          border-left: 1px solid #0003;
        }
      }
    }

    &.winner,
    &.active {
      .detailsBox {
        &::before,
        &::after {
          background: var(--holdem-state-margins-background-active);
        }
      }
    }
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    text-shadow: none;
    font-size: .9em;
  }
}

.icon {

  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    width: 20px;
    text-align: center;
    display: inline-block;
  }
}

.statusIcon {

  @extend .icon;

  path {
    fill: url(#statusIconsGradient);
  }
}
