.playerPositioner-0 {
  left: 0;
  right: 0;
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;

  @include appType([ 'desktop/full' ]) {
    top: 298px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    top: 288px;
  }
  @include appType([ 'tablet/full' ]) {
    top: 290px;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    top: 318px;
  }
}

.playerPositioner-1 {

  @include appType([ 'desktop/full' ]) {
    top: 273px;
    left: 99px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    top: 282px;
    left: -19px;
  }
  @include appType([ 'tablet/full' ]) {
    top: 290px;
    left: 33px;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    top: 245px;
    left: 6px;
  }
}

.playerPositioner-2 {

  @include appType([ 'desktop/full' ]) {
    top: 253px;
    left: -92px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    top: 159px;
    left: -125px;
  }
  @include appType([ 'tablet/full' ]) {
    top: 83px;
    left: -20px;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    top: 166px;
    left: 6px;
  }
}

.playerPositioner-3 {

  @include appType([ 'desktop/full' ]) {
    top: 72px;
    left: -91px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    top: 34px;
    left: -125px;
  }
  @include appType([ 'tablet/full' ]) {
    top: -89px;
    left: 37px;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    top: 87px;
    left: 6px;
  }
}

.playerPositioner-4 {

  @include appType([ 'desktop/full' ]) {
    top: -111px;
    left: 46px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    top: -90px;
    left: -19px;
  }
  @include appType([ 'tablet/full' ]) {
    top: -99px;
    left: 152px;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    top: 7px;
    left: 36px;
  }
}

.playerPositioner-5 {

  @include appType([ 'desktop/full' ]) {
    top: -111px;
    right: 46px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    top: -90px;
    right: -19px;
  }
  @include appType([ 'tablet/full' ]) {
    top: -99px;
    right: 152px;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    top: 7px;
    right: 36px;
  }
}

.playerPositioner-6 {

  @include appType([ 'desktop/full' ]) {
    top: 72px;
    right: -91px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    top: 34px;
    right: -125px;
  }
  @include appType([ 'tablet/full' ]) {
    top: -89px;
    right: 37px;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    top: 87px;
    right: 6px;
  }
}

.playerPositioner-7 {

  @include appType([ 'desktop/full' ]) {
    top: 253px;
    right: -92px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    top: 159px;
    right: -125px;
  }
  @include appType([ 'tablet/full' ]) {
    top: 83px;
    right: -20px;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    top: 166px;
    right: 6px;
  }
}

.playerPositioner-8 {

  @include appType([ 'desktop/full' ]) {
    top: 273px;
    right: 99px;
  }
  @include appType([ 'desktop/sidebar' ]) {
    top: 282px;
    right: -19px;
  }
  @include appType([ 'tablet/full' ]) {
    top: 290px;
    right: 33px;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    top: 245px;
    right: 6px;
  }
}
