@import '../../../styles/vars';
@import '../../../styles/mixins';
@import '../../../styles/halo';
@import './mixins';
@import './player.cssmodule';

// self is a wrap for first person and is different from playerPositioner-0
// playerPositioner-0 is just a position 0 and is only present for watchers

.playerWrapper {
  z-index: 1;
  position: relative;
}

.playerPositioner {
  position: absolute;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.self {

  @extend .player;

  @include appType([ 'desktop/full', 'desktop/sidebar', 'tablet/full' ]) {
    &.active {

      @include halo(var(--holdem-panel-glow-active), true);
    }

    &.winner {

      @include halo(var(--holdem-panel-glow-winner));
    }
  }
  @include appType([ 'desktop/full' ]) {
    width: 239px;
    height: 170px;

    .playerWrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      padding: 10px;
    }

    .avatarPositioner {
      min-width: 73px;
      height: 97px;
    }

    .hand {
      position: static;
      display: flex;
    }

    .detailsBox {
      position: relative;
      width: 100%;
      height: 48px;
    }

    .state {
      top: 10px;
      width: 100%;
      text-align: center;
    }

    .name,
    .money {
      position: static;
      display: inline;
    }

    .money {
      margin-left: 25px;
    }

    .pot {
      top: -40px;
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }
  @include appType([ 'desktop/sidebar', 'tablet/full' ]) {
    width: 239px;
    height: 147px;

    .playerWrapper {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }

    .state {
      height: 20px;
      border-radius: 10px 5px 5px 10px;
      color: var(--holdem-text-color-secodary);
      font-weight: bold;
      box-shadow: var(--holdem-frame-shadow);
      margin-bottom: 6px;
      display: flex;
      justify-content: space-between;
      padding-right: 10px;
      align-items: center;
    }

    .details {
      display: flex;
    }

    .avatarPositioner {
      width: 73px;
      height: 97px;
    }

    .name,
    .money {
      display: inline;
      margin-right: 10px;
    }

    .hand {
      margin-left: auto;
    }

    .pot {
      display: flex;
      align-items: center;
    }

    .moneyIcon {
      height: 20px;
    }

    &.winner {
      .state {
        background: var(--holdem-player-bg-active);
      }
    }

    &.active {
      .state {
        background: var(--holdem-player-bg-in-game);
      }
    }

    &.default {
      .state {
        background: var(--holdem-player-bg-default-tablet-exeption);
      }
    }

    &.folded {
      opacity: var(--holdem-player-opacity-folded);

      .state {
        background: var(--holdem-player-bg-folded);
      }
    }
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    display: flex;
    align-items: flex-start;
    padding: 0 42px;

    .details {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      line-height: 1.3em;
      text-align: left;
      font-size: 11px;
      margin-left: 3px;
    }

    .detailsItem {
      display: flex;
      align-items: center;
      height: 17px;

      p {
        margin-left: 3px;
      }
    }

    .hand {
      margin-top: -9px;
    }
  }

  .flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
