$inner-shadow: 0 0 4px #bbb;
$outer-shadow: 0 0 2px #aaa;
$orange: #e56b19;

.orangeBox {
  border-color: $orange;
  box-shadow: inset 0 0 50px #ca3702, inset 0 0 5px rgba(154, 22, 1, .8), inset 0 1px 1px rgba(154, 22, 1, .8);
  background-color: $orange;

  .marker {
    background-color: $orange;
    color: #fff;
  }

  .props {
    color: #831606;
  }

  &.topMarker {
    box-shadow: 0 0 4px rgba(154, 53, 1, .9), inset 0 -1px 1px rgba(255, 255, 255, .2);
  }

  &.bottomMarker {
    box-shadow: 0 0 1px rgba(154, 53, 1, .9), inset 0 1px 1px rgba(255, 255, 255, .2);
  }
}

.weponBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border: 2px solid #fff;
  background-color: #f2f2f2;

  @media #{$screen-desktop} {
    box-shadow: inset #{$inner-shadow}, #{$outer-shadow};
  }
  @media #{$screen-tablet} {
    #{$global-r} & {
      box-shadow: inset #{$inner-shadow}, #{$outer-shadow};
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      position: relative;
      max-width: 80px;

      canvas,
      img {
        max-width: 76px;
      }
    }
  }

  &.active {
    &:hover {
      box-shadow: inset 0 0 45px #c9c9c9, inset 0 0 2px #666, #{$outer-shadow};
      cursor: pointer;
    }
  }

  .marker {
    display: block;
    flex: 0 0 64px;
    height: 16px;
    background: #fff;
    font-size: 11px;
    line-height: 1.4em;
    text-align: center;

    @media #{$screen-mobile} {
      #{$global-r} & {
        background: transparent;
      }
    }
  }

  .props {
    display: flex;
    flex: 0 0 42px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 9.5px;

    span {
      margin-left: 1px;
      letter-spacing: -.5px;
      font-size: 11px;
    }
  }

  .bonusIcon {
    position: relative;
    left: 2px;
    top: 0;
  }

  /* TODO: finish active and orange states */
  &.orange {
    @extend .orangeBox;
  }
}

.weaponImage {
  width: 100%;
  text-align: center;

  img {
    max-width: 90%;
  }
}

.top,
.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px 0;
  font-size: 11px;
}

.bottom {
  color: #999;

  .props {
    position: relative;
    top: 1px;
  }

  .props:first-child {
    align-items: center;
    justify-content: flex-start;

    .iconText {
      margin-left: 2px;
    }
  }

  .props:last-child {
    align-items: center;
    justify-content: flex-end;

    .icon {
      left: 2px;
      position: relative;
    }

    .iconText {
      margin-left: 2px;
      margin-right: 1px;
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
}

.attachment {
  margin: 0 3px;
}

.topMarker {
  margin-top: -4px;
  border-radius: 0 0 5px 5px;
  box-shadow: #{$inner-shadow};
  color: #333;
  font-weight: bold;
  composes: marker;
}

.bottomMarker {
  margin-bottom: -4px;
  border-radius: 5px 5px 0 0;
  box-shadow: #{$inner-shadow};
  composes: marker;

  @media #{$screen-mobile} {
    #{$global-r} & {
      margin-bottom: 0;
      border-radius: none;
      box-shadow: none;
    }
  }
}

.eternity {
  display: inline-block;
  width: 19px;
  height: 7px;
  background: url(/images/v2/attack/eternity.png) left top no-repeat;
}

#{$dark-mode} {
  .weponBox {
    background: #333;
    border: 2px solid #444444;
    box-shadow: 0px 0px 2px #00000040;

    &.orange {
      @extend .orangeBox;
    }

    &.active:hover {
        box-shadow: inset 0 0 45px #191919, inset 0 0 2px #666, 0 0 2px #aaa;
    }
  }

  .marker {
    background: #444444 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 2px #00000040;
    color: #ffffff;
  }
}
