@import '../../styles/constants';

.switchWrapper {
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 48px;
  border-bottom: $border-gray;
  border-bottom-color: var(--default-panel-divider-outer-side-color);

  .radioWrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .radioLabel {
      padding: 0 0 0 10px;
    }
  }
}
