:global(.google-visualization-tooltip) {
  border-radius: 3px;
  color: #666;
  font-family: "Fjalla One";
  font-size: 12px;
  line-height: 20px;
}

:global(.dark-mode .google-visualization-tooltip) {
  background-color: #444;
  color: #999;
  box-shadow: rgba(0, 0, 0, .65) 0 0 2px;
  -moz-box-shadow: rgba(0, 0, 0, .65) 0 0 2px;
  -webkit-box-shadow: rgba(0, 0, 0, .65) 0 0 2px;
}

:global(.dark-mode .google-visualization-tooltip-item span) {
  color: #999;
}

:global(.ggl-tooltip) {
  padding: 2px 5px;
  text-align: left;
}

:global(.ggl-tooltip .value) {
  float: right;
  margin-left: 5px;
}

.loaderWrapper {
  padding: 5px 0 0 0;
}

.graphWrapper {
  width: 764px;
  height: auto;
  padding-bottom: 10px;
  margin-top: 10px;
  position: relative;

  .red {
    margin-top: -10px;
  }

  .svgHiden {
    width: 0;
    height: 0;
    position: absolute;
  }

  .factionName {
    font: 25px Fjalla One;
  }

  .scoreTitle {
    font: normal normal normal 12px/12px Fjalla One;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    color: #888;
    position: absolute;
    top: 86px;
    left: 0;
  }
}

:global(.tablet) {
  &.graphWrapper {
    width: 360px;
  }
}

:global(.mobile) {
  &.graphWrapper {
    width: 300px;
  }
}
