.flexRowStart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flexRowCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowsSkeletonWrap {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #fff;
  background: var(--ct-panel-bg);

  @media #{$screen-mobile} {
    #{$global-r} & {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.sectionAnimation {
  animation-name: skeletonBlinking;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.rowWrap {
  width: inherit;
  height: 33px;
  border-top: 1px solid #d4dfe4;
  border-top-color: var(--ct-skeleton-border-color);
  composes: flexRowStart;
}

.pseudoEntity {
  position: absolute;
  margin: 7px 10px;
  background: #dff2f7;
  background: var(--ct-skeleton-content-bg);
}

.sectionEntityBefore {
  &::before {
    content: '';
    width: inherit;
    height: 20px;

    @extend .pseudoEntity;
    @extend .sectionAnimation;
  }
}

.sectionEntityAfter {
  &::after {
    content: '';
    right: 0;
    width: 50px;
    height: 20px;

    @extend .pseudoEntity;
    @extend .sectionAnimation;
  }
}

.sectionRightBorder {
  border-right: 1px solid #d4dfe4;
  border-right-color: var(--ct-skeleton-border-color);
}

.section {
  position: relative;
  box-sizing: border-box;
  height: inherit;
  border-right: 1px solid #d4dfe4;
  border-right-color: var(--ct-skeleton-border-color);
  background: #fff;
  background: var(--ct-panel-bg);
  composes: sectionRightBorder;
  composes: sectionRightBorder;
}

.nameSection {
  width: 435px;
  composes: section;

  &::before {
    width: 160px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 259px;

      &::before {
        width: 127px;
      }
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 169px;

      &::before {
        width: 44px;
      }
    }
  }
}

.prizeSection {
  width: 62px;
  composes: section;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 76px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 64px;
    }
  }
}

.creatorSection {
  position: relative;
  width: 214px;
  composes: section;
  composes: sectionEntityAfter;

  &::before {
    margin-left: 31px;
    width: 25px;
  }

  &::after {
    width: 100px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}

.status {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 100%;
  background: #dff2f7;
  composes: section;
  transform: translateY(-50%);

  @extend .sectionAnimation;

  &::before {
    content: none;
  }
}

.playersSection {
  width: 75px;
  composes: section;

  &::before {
    right: 0;
    width: 35px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 94px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 61px;
    }
  }
}

.ratingSection {
  width: 147px;
  composes: section;
  composes: sectionEntityAfter;

  &::before {
    width: 95px;
  }

  &::after {
    content: none;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 115px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 76px;

      &::before {
        width: 20px;
      }

      &::after {
        content: '';
        margin-top: 9px;
        width: 10px;
        height: 16px;
      }
    }
  }
}

.joinSection {
  width: 54px;
  composes: section;
  border-right: none;

  &::before {
    margin: 8px 10px;
    width: 22px;
    height: 18px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 68px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 58px;
    }
  }
}

@keyframes skeletonBlinking {
  0% {
    opacity: 1;
  }

  15% {
    opacity: .75;
  }

  25% {
    opacity: .5;
  }

  50% {
    opacity: .45;
  }

  80% {
    opacity: .75;
  }

  95% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }
}
