.arrow {
  filter: drop-shadow(0px 0px 1px #000000A6);
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.arrowChecked {

  @extend .arrow;

  width: 11px;
  height: 8px;
}

.arrowForward {

  @extend .arrow;

  width: 8px;
  height: 11px;
}

.shadow {
  opacity: .3;
}

.full {
  path {
    fill: var(--itemArrowPath-background);
    box-shadow: var(--itemArrowPath-boxShadow);
  }
}

#{$global-r} {
  .arrow {
    @media #{$screen-tablet} {
      right: -7px;
      transform: translateX(0) translateY(50%);
      left: unset;
    }
  }
}
