@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.alertBlock {
  position: absolute;
  top: 0;
  width: 2.1vw;
  animation: pulse 4s infinite;

  &.left {
    left: 0;
    background: url(/status_monitor/images/alert-blocks/alarm_1024_left.png) left top repeat-y;
  }

  &.right {
    right: 0;
    background: url(/status_monitor/images/alert-blocks/alarm_1024_right.png) left top repeat-y;
  }
}

.blockWrapper {
  padding: 0 2.8%;
  position: relative;

  &.backupsBlock {
    .alertBlock {
      top: 0;
      height: 56px;
    }
  }

  .alertBlock {
    top: 13px;
    height: 251px;
  }

  .backups.alert,
  .graphStats.alert {
    border-color: #ff7266;

    .square {
      background-color: #ff7266;
    }
  }
}

.title {
  font-size: 14px;
  line-height: 19px;
  color: #aaa;
  text-align: left;
  font-weight: normal;
  transform: rotate(-90deg);
  display: inline-block;

  .arrows {
    display: none;
    width: 36px;
    height: 19px;
    background: url(/status_monitor/images/horizontal_arrows.png) left bottom no-repeat;
  }
}

.square {
  width: 5px;
  height: 5px;
  background-color: #69787d;
  position: absolute;

  &.right {
    right: -3px;
  }

  &.left {
    left: -3px;
  }

  &.top {
    top: -3px;
  }

  &.bottom {
    bottom: -3px;
  }
}

.backupsWrapper {
  position: relative;
  margin-top: 20px;

  .title {
    position: absolute;
    top: 22px;
    left: -12px;
  }

  .backups {
    position: relative;
    border: 1px solid #69787d;
    margin: 0 30px;

    .backupsListWrapper {
      position: relative;

      .backupsList {
        display: inline-flex;
        font-size: 13px;
        line-height: 1;
        color: #aaa;
        text-align: left;
        margin: 15px;

        & > li {
          display: flex;
          align-items: center;
          line-height: 1;
          padding: 6px 3px;
          box-sizing: border-box;
          margin-right: 20px;

          div {
            &.square {
              width: 5px;
              height: 5px;
            }

            &:not(:last-child):not(:first-child) {
              padding-left: 10px;
            }

            &:last-child {
              padding-left: 6px;
            }
          }

          &:last-child {
            margin-right: 0;
          }

          &.itemAlert {
            outline: 1px solid #ff7266;
            background: rgba(255, 114, 102, .2);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .hideOnMobile {
    display: none;
  }

  .statusMonitorWrapper {
    width: 100%;
  }

  .blockWrapper {
    padding: 0;

    &.backupsBlock {
      .arrows {
        display: inline-block;
      }

      .alertBlock {
        display: none;
      }
    }

    .alertBlock {
      height: 271px;
    }
  }

  .alertBlock {
    width: 1vw;

    &.left {
      background: url(/status_monitor/images/alert-blocks/alarm_320_left.png) left top repeat-y;
    }

    &.right {
      background: url(/status_monitor/images/alert-blocks/alarm_320_right.png) left top repeat-y;
    }
  }

  .title {
    transform: none;
    line-height: 32px;
    width: initial;
  }

  .backupsWrapper {
    .title {
      position: relative;
      left: 3%;
      top: 0;
    }

    .backups {
      margin: 18px 0 0;
      border: none;

      .square {
        display: none;
      }

      .backupsListWrapper {
        margin: 0 auto;
        border: none;
        width: 95%;

        .backupsList {
          margin: 0;
          font-size: 14px;
          display: inline-block;
          width: 100%;

          & > li {
            border-bottom: 1px solid #69787d;
            margin-right: 0;
            justify-content: space-between;

            div {
              padding-left: 0;
              padding-right: 8px;

              &.square {
                display: block;
              }

              &:not(:last-child):not(:first-child) {
                padding-left: 30px;
              }

              &:first-child {
                padding-right: 0;
                margin-left: 6px;
              }

              &:last-child {
                border-bottom: none;
                padding-right: 10px;
              }
            }
          }
        }
      }
    }

    .alertBlock {
      height: 457px;
    }
  }
}
@media screen and (min-width: 1064px) {
  .alertBlock {
    width: 31px;

    &.left {
      left: -20px;
      background: url(/status_monitor/images/alert-blocks/alarm_1920_left.png) left top repeat-y;
    }

    &.right {
      right: -20px;
      background: url(/status_monitor/images/alert-blocks/alarm_1920_right.png) left top repeat-y;
    }
  }

  .blockWrapper {
    .alertBlock {
      top: 8px;
    }
  }
}
@media (min-width: 641px) and (max-width: 1023px) {
  .blockWrapper {
    .title {
      top: 44px;
      left: -35px;
    }

    &.backupsBlock {
      .arrows {
        display: inline-block;
      }

      .alertBlock {
        top: 14px;
        height: 140px;
      }
    }
  }

  .backupsWrapper {
    .backups {
      .backupsListWrapper {
        margin: 0 auto;
        width: 95%;

        .backupsList {
          font-size: 14px;
          display: inline-block;
          width: 96.5%;
          margin: 15px;

          & > li {
            border-bottom: 1px solid #69787d;
            margin-right: 0;
            justify-content: space-between;

            div {
              padding-left: 0;
              padding-right: 6px;

              &.square {
                display: block;
              }

              &:not(:last-child):not(:first-child) {
                padding-left: 30px;
              }

              &:first-child {
                padding-right: 0;
                margin-left: 10px;
              }

              &:last-child {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}
