@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.alertBlock {
  position: absolute;
  top: 0;
  width: 2.1vw;
  animation: pulse 4s infinite;

  &.left {
    left: 0;
    background: url(/status_monitor/images/alert-blocks/alarm_1024_left.png) left top repeat-y;
  }

  &.right {
    right: 0;
    background: url(/status_monitor/images/alert-blocks/alarm_1024_right.png) left top repeat-y;
  }
}

.blockWrapper {
  padding: 0 2.8%;
  position: relative;

  &.statsBlock {
    .alertBlock {
      top: 11px;
      height: 476px;
    }
  }

  .alertBlock {
    top: 13px;
    height: 170px;
  }

  .stats.alert,
  .graphStats.alert {
    border-color: #ff7266;

    .square {
      background-color: #ff7266;
    }
  }
}

.title {
  font-size: 14px;
  line-height: 19px;
  color: #aaa;
  text-align: left;
  font-weight: normal;
  transform: rotate(-90deg);
  display: inline-block;

  .arrows {
    display: inline-block;
    width: 36px;
    height: 19px;
    background: url(/status_monitor/images/horizontal_arrows.png) left bottom no-repeat;
  }
}

.rightRectangles {
  position: absolute;

  & > li {
    height: 20px;
    width: 18px;
    background-color: rgba(60, 85, 92, .75);
    margin-bottom: 10px;
    transform: skewY(25deg);

    &:first-child {
      height: 30px;
      background-color: rgba(60, 85, 92, 1);
    }

    &:last-child {
      height: 12px;
      background-color: rgba(60, 85, 92, .5);
    }
  }
}

.square {
  width: 5px;
  height: 5px;
  background-color: #69787d;
  position: absolute;

  &.right {
    right: -3px;
  }

  &.left {
    left: -3px;
  }

  &.top {
    top: -3px;
  }

  &.bottom {
    bottom: -3px;
  }
}

.graphStatsWrapper {
  position: relative;
  margin-top: 19px;

  .graphStats {
    position: relative;
    border: 1px solid #69787d;
    margin: 0 30px;
    height: 201px;

    .graphicWrapper {
      height: 142px;
      width: 87%;
      position: absolute;
      top: 30px;
      //left: 6.5%;
      left: 58px;

      & > li {
        height: 23%;

        &:nth-child(odd) {
          background: linear-gradient(to right, rgba(105, 120, 125, .5) 0%, rgba(4, 41, 50, .5) 100%);
        }
      }
    }
  }

  .rightRectangles {
    top: 5px;
    right: 2px;
  }

  .title {
    left: -64px;
    position: absolute;
    top: 58px;
    width: 150px;

    &.slowQueries {
      left: -45px;
      top: 45px;
    }
  }

  .chart {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100%;
  }

  .alertBlock {
    height: 288px;
  }
}

@media screen and (max-width: 640px) {
  .hideOnMobile {
    display: none;
  }

  .blockWrapper {
    padding: 0;

    &.statsBlock {
      .alertBlock {
        display: none;
      }
    }

    .alertBlock {
      height: 271px;
    }
  }

  .alertBlock {
    width: 1vw;

    &.left {
      background: url(/status_monitor/images/alert-blocks/alarm_320_left.png) left top repeat-y;
    }

    &.right {
      background: url(/status_monitor/images/alert-blocks/alarm_320_right.png) left top repeat-y;
    }

    &.now {
      top: 83px;
    }

    &.hour {
      top: 191px;
    }

    &.day {
      top: 295px;
    }
  }

  .title {
    transform: none;
    line-height: 32px;
    width: initial;
  }

  .graphStatsWrapper {
    margin-top: 21px;

    &.slowQueries {
      margin-top: 0;
    }

    .rightRectangles {
      display: none;
    }

    .title {
      position: relative;
      left: 3%;
      top: 0;

      &.slowQueries {
        left: 3%;
        top: 0;
      }
    }

    .graphStats {
      border: none;
      margin: 0;

      .square {
        display: none;
      }

      .graphicWrapper {
        width: 88%;
        left: 58px;
        top: 30px;
      }
    }
  }
}
@media screen and (min-width: 1064px) {
  .alertBlock {
    width: 31px;

    &.left {
      left: -20px;
      background: url(/status_monitor/images/alert-blocks/alarm_1920_left.png) left top repeat-y;
    }

    &.right {
      right: -20px;
      background: url(/status_monitor/images/alert-blocks/alarm_1920_right.png) left top repeat-y;
    }
  }

  .blockWrapper {
    .alertBlock {
      top: 13px;
    }
  }
}
