:global {
  body {
    background: #17353e url(/status_monitor/images/bg_status_monitor.jpg) left top repeat;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.alertBlock {
  position: absolute;
  top: 0;
  width: 2.1vw;
  animation: pulse 4s infinite;

  &.left {
    left: 0;
    background: url(/status_monitor/images/alert-blocks/alarm_1024_left.png) left top repeat-y;
  }

  &.right {
    right: 0;
    background: url(/status_monitor/images/alert-blocks/alarm_1024_right.png) left top repeat-y;
  }
}

.statusMonitor {
  margin: 0 auto;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1024px;
  overflow: hidden;
}

.statusMonitorWrapper {
  width: 100%;
  margin: 17px 0 20px;
}

.blockWrapper {
  padding: 0 2.8%;
  position: relative;

  &.statsBlock {
    .alertBlock {
      top: 11px;
      height: 476px;
    }
  }

  .alertBlock {
    top: 13px;
    height: 251px;
  }

  .stats.alert,
  .graphStats.alert {
    border-color: #ff7266;

    .square {
      background-color: #ff7266;
    }
  }
}

.usersOnlineWrapper {
  position: relative;

  .usersOnline {
    padding: 0 3%;
  }

  .alertBlock {
    top: 46px;
    height: 78px;
  }
}

@media screen and (max-width: 640px) {
  .statusMonitorWrapper {
    width: 100%;
  }

  .alertBlock {
    width: 1vw;

    &.left {
      background: url(/status_monitor/images/alert-blocks/alarm_320_left.png) left top repeat-y;
    }

    &.right {
      background: url(/status_monitor/images/alert-blocks/alarm_320_right.png) left top repeat-y;
    }

    &.now {
      top: 83px;
    }

    &.hour {
      top: 191px;
    }

    &.day {
      top: 295px;
    }
  }

  .usersOnlineWrapper {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1064px) {
  .usersOnlineWrapper {
    .alertBlock {
      height: 83px;
    }
  }

  .alertBlock {
    width: 31px;

    &.left {
      left: -20px;
      background: url(/status_monitor/images/alert-blocks/alarm_1920_left.png) left top repeat-y;
    }

    &.right {
      right: -20px;
      background: url(/status_monitor/images/alert-blocks/alarm_1920_right.png) left top repeat-y;
    }
  }
}
