@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.alertBlock {
  position: absolute;
  top: 0;
  width: 2.1vw;
  animation: pulse 4s infinite;

  &.left {
    left: 0;
    background: url(/status_monitor/images/alert-blocks/alarm_1024_left.png) left top repeat-y;
  }

  &.right {
    right: 0;
    background: url(/status_monitor/images/alert-blocks/alarm_1024_right.png) left top repeat-y;
  }
}

.blockWrapper {
  padding: 0 2.8%;
  position: relative;

  &.statsBlock {
    .alertBlock {
      top: 11px;
      height: 476px;
    }
  }

  .alertBlock {
    top: 13px;
    height: 251px;
  }

  .stats.alert,
  .graphStats.alert {
    border-color: #ff7266;

    .square {
      background-color: #ff7266;
    }
  }
}

.title {
  font-size: 14px;
  line-height: 19px;
  color: #aaa;
  text-align: left;
  font-weight: normal;
  transform: rotate(-90deg);
  display: inline-block;

  .arrows {
    display: inline-block;
    width: 36px;
    height: 19px;
    background: url(/status_monitor/images/horizontal_arrows.png) left bottom no-repeat;
  }
}

.rightRectangles {
  position: absolute;

  & > li {
    height: 20px;
    width: 18px;
    background-color: rgba(60, 85, 92, .75);
    margin-bottom: 10px;
    transform: skewY(25deg);

    &:first-child {
      height: 30px;
      background-color: rgba(60, 85, 92, 1);
    }

    &:last-child {
      height: 12px;
      background-color: rgba(60, 85, 92, .5);
    }
  }
}

.square {
  width: 5px;
  height: 5px;
  background-color: #69787d;
  position: absolute;

  &.right {
    right: -3px;
  }

  &.left {
    left: -3px;
  }

  &.top {
    top: -3px;
  }

  &.bottom {
    bottom: -3px;
  }
}

.statsWrapper {
  position: relative;
  margin-top: 20px;

  .title {
    position: absolute;
    top: 33px;
    left: -21px;
  }

  .rightRectangles {
    top: 14px;
    right: 2px;
  }

  .stats {
    position: relative;
    border: 1px solid #69787d;
    margin: 0 30px;

    .statsTableWrapper {
      border: 1px solid #f8ffff;
      position: relative;
      margin: 10px;

      .statsTable {
        font-size: 19px;
        line-height: 19px;
        color: #f8ffff;
        text-align: left;
        margin: 19px 3% 20px 4%;

        & > li {
          display: flex;
          font-weight: bold;
          line-height: 27px;

          div {
            flex-basis: 23%;
            padding-left: 8px;
            box-sizing: border-box;

            &:first-child {
              flex-basis: 40%;
            }

            &:last-child {
              flex-basis: 14%;
            }
          }

          .zero {
            color: #999;
          }

          &.alert {
            color: #ff7266;
            background: linear-gradient(to right, rgba(255, 114, 102, .5) 0%, rgba(4, 41, 50, .5) 100%);

            .itemTitle {
              color: #ff8a80;
              text-shadow: 2px 2px 2px rgba(0, 0, 0, .55);
              position: relative;

              &::before {
                content: '';
                display: block;
                position: absolute;
                width: 5px;
                height: 5px;
                background-color: #ff7266;
                top: 10px;
                left: -16px;
                text-shadow: none;
              }
            }

            .zero {
              color: #ff7266;
            }
          }
        }

        & > li:nth-child(even) {
          background: linear-gradient(to right, rgba(105, 120, 125, .5) 0%, rgba(4, 41, 50, .5) 100%);

          &.alert {
            background: linear-gradient(to right, rgba(255, 114, 102, .5) 0%, rgba(4, 41, 50, .5) 100%);
          }
        }

        .tableHeader {
          font-size: 14px;
          line-height: 18px;
          color: #042932;
          text-align: left;
          margin-bottom: 20px;

          div {
            padding: 0;
          }

          .day,
          .minute,
          .hour {
            div {
              max-width: 80px;
              background: linear-gradient(to right, #69787d 0%, #224149 100%);
              padding-left: 8px;
            }
          }
        }

        .itemTitle {
          font-weight: normal;
          padding-left: 10px;
        }
      }

      .corner {
        width: 12px;
        height: 12px;
        position: absolute;

        &.left {
          border-left: 2px solid #f8ffff;
          left: 0;
        }

        &.right {
          border-right: 2px solid #f8ffff;
          right: 0;
        }

        &.top {
          border-top: 2px solid #f8ffff;
          top: 0;
        }

        &.bottom {
          border-bottom: 2px solid #f8ffff;
          bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .hideOnMobile {
    display: none;
  }

  .statusMonitorWrapper {
    width: 100%;
  }

  .blockWrapper {
    padding: 0;

    &.statsBlock {
      .alertBlock {
        display: none;
      }
    }

    .alertBlock {
      height: 271px;
    }
  }

  .alertBlock {
    width: 1vw;

    &.left {
      background: url(/status_monitor/images/alert-blocks/alarm_320_left.png) left top repeat-y;
    }

    &.right {
      background: url(/status_monitor/images/alert-blocks/alarm_320_right.png) left top repeat-y;
    }
  }

  .title {
    transform: none;
    line-height: 32px;
    width: initial;
  }

  .statsWrapper {
    .rightRectangles {
      display: none;
    }

    .title {
      position: relative;
      left: 3%;
      top: 0;
      width: initial;
    }

    .stats {
      margin: 18px 0 0;
      border: none;

      .square {
        display: none;
      }

      .statsTableWrapper {
        margin: 0;
        border: none;

        .corner {
          display: none;
        }

        .statsTable {
          margin: 0;
          font-size: 12px;

          & > li {
            text-align: right;

            div {
              flex-basis: 20%;
              padding-left: 0;
              padding-right: 8px;

              &:first-child {
                flex-basis: 39%;
              }

              &:last-child {
                flex-basis: 20%;
              }
            }

            &.alert {
              .itemTitle {
                &::before {
                  left: 3px;
                  width: 4px;
                  height: 4px;
                  top: 11px;
                }
              }
            }
          }

          .tableHeader {
            font-size: 10px;

            .minute,
            .hour,
            .day {
              position: relative;

              div {
                position: absolute;
                right: -10px;
                bottom: 10px;
                display: inline-block;
                width: 57px;
                padding-left: 6px;
                transform: rotate(-90deg);
              }
            }
          }

          .itemTitle {
            font-size: 14px;
            text-align: left;
            padding-left: 10px;
          }
        }
      }
    }

    .alertBlock {
      height: 457px;
    }
  }
}
@media screen and (min-width: 1064px) {
  .alertBlock {
    width: 31px;

    &.left {
      left: -20px;
      background: url(/status_monitor/images/alert-blocks/alarm_1920_left.png) left top repeat-y;
    }

    &.right {
      right: -20px;
      background: url(/status_monitor/images/alert-blocks/alarm_1920_right.png) left top repeat-y;
    }
  }

  .blockWrapper {
    .alertBlock {
      top: 13px;
    }
  }
}
