.dateTimeWrapper {
  border-bottom: 1px solid #617075;
  font-size: 14px;
  line-height: 30px;
  color: #F8FFFF;
  text-align: left;
  margin: 0 32px;

  .lastUpdate,
  .time,
  .date {
    position: relative;

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: #AAAAAA;
      bottom: -3px;
    }

    &:before {
      left: -3px;
    }

    &:after {
      right: -3px;
    }
  }

  .lastUpdate {
    float: left;
    width: 150px;
    text-align: center;
  }

  .time {
    float: right;
    padding: 0 19px;

    &:after {
      display: none;
    }
  }

  .date {
    float: right;
    padding: 0 18px;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@media screen and (max-width: 640px) {

  .hideOnMobile {
    display: none;
  }

  .dateTimeWrapper {
    margin: 0;
    display: flex;
    flex-direction: row;

    .lastUpdate,
    .date,
    .time {
      flex: 1;
      text-align: center;
      padding: 0;
    }

    .time {

      &:before {
        display: none;
      }
    }

    .date {
      order: 3;
    }
  }
}