.title {
  font-size: 14px;
  line-height: 19px;
  color: #AAAAAA;
  text-align: left;
  font-weight: normal;
  transform: rotate(-90deg);
  display: inline-block;

  .arrows {
    display: inline-block;
    width: 36px;
    height: 19px;
    background: url(/status_monitor/images/horizontal_arrows.png) left bottom no-repeat;
  }
}

.usersStatisticWrapper {
  position: relative;

  .title {
    position: absolute;
    left: -34px;
    bottom: 35px;
    width: 92px;

    .arrows {
      display: none;
    }
  }
}

.usersStatistic {
  display: flex;
  margin: 17px 30px 0;

  & > li {
    flex: 1;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  .amount {
    font-size: 50px;
    line-height: 60px;
    color: #F8FFFF;
    background-color: #69787D;
    text-align: center;
    position: relative;
    font-weight: bold;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      border: 10px solid transparent;
      border-bottom: 10px solid #f8ffff;
      border-left: 10px solid #f8ffff;
    }
  }

  .interval {
    margin-top: 7px;
    font-size: 16px;
    padding-top: 1px;
    line-height: 19px;
    color: #042932;
    text-align: left;
    font-weight: bold;
    background: linear-gradient(to right, rgba(105, 120, 125, 1) 0%, rgba(4, 41, 50, 1) 100%);
    padding-left: 10px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      left: 0;
      width: 2px;
      height: 19px;
      background-color: #ffffff;
    }
  }

  .alert {

    .amount {
      background-color: rgba(255, 114, 102, 0.4);

      &:before {
        border-bottom-color: #FF7266;
        border-left-color: #FF7266;
      }
    }

    .interval {

      &:before {
        background-color: #FF7266;
      }
    }
  }
}

@media screen and (max-width: 640px) {

  .title {
    transform: none;
    line-height: 32px;
    width: initial;
  }

  .usersStatisticWrapper {
    margin-top: 10px;

    .title {
      position: relative;
      left: 0;
      bottom: 0;
      width: initial;

      .arrows {
        display: inline-block;
      }
    }
  }

  .usersStatistic {
    margin: 0;
    display: block;

    & > li {
      margin: 0;
    }

    .interval {
      margin-bottom: 20px;
    }
  }
}
