.account-links-wrap {
  display: table;
  width: 172px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(to bottom, #fff 0%, #ddd 100%);
  background: var(--default-panel-gradient);
  overflow: hidden;
  margin-bottom: 2px;

  .account-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.wrap {
  flex: 1;
  height: 35px;

  a {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
    font-size: 0;

    // CSS HACK for double svg shadow apper! Remove it once'll be fixed!
    &.positive {
      svg {
        filter: drop-shadow(0 1px .1px #fff) drop-shadow(0 1px 10px #a3d900a3);
        filter: drop-shadow(0 1px .1px var(--sidebar-panel-bottom-color)) drop-shadow(0 1px 10px #a3d900a3);
      }
    }

    &.positive {
      .amount {
        color: #85b200;
      }
    }

    &.negative {
      .amount {
        color: #ff5c26;
      }
    }
  }

  &:hover,
  &.active {
    background: linear-gradient(to bottom, #ddd 0%, #fff 100%);
    background: var(--default-panel-active-gradient);
  }
}

.messages:after, .events:after {
  content: '';
  right: 0;
  top: 3.5px;
  height: 28px;
  position: absolute;
  width: 1px;
  background: transparent;
  background: linear-gradient(to bottom, rgba(204, 204, 204, 0) 0%, rgba(204, 204, 204, 100) 50%, rgba(204, 204, 204, 0) 100%);
  background: var(--sidebar-vertical-divider-bg-left);
}

.events:before, .awards:before {
  left: 1px;
  background: transparent;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 100) 50%, rgba(255, 255, 255, 0) 100%);
  background: var(--sidebar-vertical-divider-bg-right);
}

.amount {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 120%;
  text-align: center;
  right: 2px;
  top: 3px;
  text-shadow: 0 1px 0 rgb(255, 255, 255);
  color: #999;
  width: 20px;
}

a.linkWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;

  * {
    pointer-events: none;
  }
}

:global(.dark-mode) {
  .amount {
    text-shadow: none;
  }
}
