.areas {
  line-height: 16px;
  list-style: none;
}

.areas-mobile {
  position: relative;
  z-index: 100;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .1), 0 1px 0 0 rgba(255, 255, 255, .1);
  background: #2e2e2e;
  background-image: linear-gradient(to bottom, #2e2e2e 0%, #414040 100%);
  -webkit-user-select: none;

  .start-hint {
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 999;
    padding: 8px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 0 8px;
    box-shadow: var(--sidebar-tooltip-shadow);
    background-color: #f2f2f2;
    background-color: var(--sidebar-tooltip-bg-color);
    text-align: center;
    transform: translateX(-50%);

    &::after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -8px;
      width: 0;
      height: 0;
      border: solid transparent;
      border-width: 8px;
      border-color: rgba(238, 238, 238, 0);
      border-bottom-color: #f2f2f2;
      border-bottom-color: var(--sidebar-tooltip-bg-color);
      pointer-events: none;
    }

    &::before {
      margin-left: -8px;
      border-width: 8px;
      border-color: rgba(204, 204, 204, 0);
      border-bottom-color: #ccc;
    }
  }

  .swiper {
    align-items: center;
    will-change: transform;

    .slide {
      position: relative;
      box-sizing: border-box;
      padding: 0 2px;
      width: auto;
      text-align: center;

      &.contextMenuActive {
        z-index: 10;
      }
    }
  }

  .swiper-button {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: inline-block;
    width: 26px;
    pointer-events: none;
  }

  .button-prev {
    left: 0;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
  }

  .button-next {
    right: 0;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
  }

  &.in-jail {
    background: #42443a;
    background-image: linear-gradient(to bottom, #31322b 0%, #42443a 100%);

    .button-prev {
      background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    }

    .button-next {
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    }
  }

  &.in-hospital {
    background: #676464;
    background-image: linear-gradient(to bottom, #585958 0%, #676464 100%);

    .button-prev {
      background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%);
    }

    .button-next {
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%);
    }
  }

  :global {
    .swiper-button-disabled {
      opacity: 0;
    }
  }
}

.areas-tablet {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.areas-desktop {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
