$iconHeight: 34px;

$mobile-icons-list: 'missions', 'messages', 'events', 'awards', 'home', 'items', 'city', 'job', 'gym', 'property',
  'education', 'crimes', 'newspaper', 'jail', 'hospital', 'casino', 'forums', 'hall-of-fame', 'factions', 'staff',
  'friends', 'enemies', 'recruit-citizens', 'admin', 'competition', 'competition-egg-hunt', 'competition-dog-tags', 'witch', 'zombie',
  'halloween', 'christmas-town', 'christmas', 'rules', 'elimination', 'competitions';
$desktop-icons-list: 'missions', 'refills', 'messages', 'events', 'awards', 'staff', 'friends', 'enemies', 'home', 'items',
  'city', 'job', 'gym', 'property', 'education', 'crimes', 'newspaper', 'jail', 'hospital', 'casino', 'forums', 'hall-of-fame',
  'factions', 'recruit-citizens', 'admin', 'competition', 'competition-egg-hunt', 'competition-dog-tags', 'witch', 'zombie',
  'halloween', 'christmas-town', 'christmas', 'rules', 'elimination', 'competitions';

:global(.areasWrapper) {
  .area-desktop,
  .area-tablet {
    .area-row {
      .desktopLink {
        display: block;
      }

      .svgIconWrap,
      .linkName {
        float: left;
      }

      .amount {
        float: right;
        margin-right: 10px;
        color: #85b200;
        font-weight: bold;
      }
    }
  }

  .area-desktop {
    .area-row {
      .linkName,
      .amount {
        line-height: 22px;
        padding-top: 1px;
      }
    }
  }

  .area-tablet {
    .area-row {
      .linkName,
      .amount {
        line-height: 33px;
        padding-top: 1px;
      }
    }
  }
}

.area-desktop,
.area-tablet {
  margin-top: 2px;
  overflow: hidden;

  &:last-child {
    margin-bottom: 2px;
  }

  .area-row {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    vertical-align: top;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f2f2f2;
    background-color: var(--default-bg-panel-color);

    &:hover {
      background-color: #fff;
      background-color: var(--default-bg-panel-active-color);
    }

    .linkName {
      margin-left: 2px;
    }
  }

  a,
  .area-button {
    overflow: hidden;
    color: #333;
    text-decoration: none;
    height: 100%;
    display: block;

    .icon {
      vertical-align: middle;
      display: inline-block;
      background-image: url(/images/v2/sidebar_icons_desktop_2017.png);
      background-repeat: no-repeat;
    }

    span {
      float: none;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }
  }

  .info {
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0;
    padding: 0 8px;
    user-select: none;
    transform: translateY(-50%);
    height: 100%;

    .amount {
      display: inline-block;
      top: 50%;
      transform: translateY(-50%);
      position: relative;
      vertical-align: middle;
      font-size: .8rem;
      line-height: .8rem;
      margin-right: 4px;
    }

    .arrow {
      display: inline-block;
      line-height: 12px;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid #333;
      border-left-color: var(--default-color);
      top: 50%;
      transform: translateY(-50%);
      margin: 0 4px;
      position: relative;

      &.activated {
        background: url(/images/v2/arrow_down.png) 1px 4px no-repeat;
        border-left: 5px solid #333;
        border-left-color: var(--default-color);
        transform: translateY(-50%) rotate(90deg);
        vertical-align: middle;
      }

      &.disabled {
        background: url(/images/v2/main/arrow_side.png) 4px top no-repeat;
        border-left: 5px solid #999;
        cursor: default;
      }
    }
  }

  &.warning {
    .area-row {
      background-color: #fbe5dd;
      background-color: var(--sidebar-area-bg-warning);

      &:hover {
        background-color: #fbe5dd;
        background-color: var(--sidebar-area-bg-warning-active);
      }
    }

    .rules-icon {
      background-position-x: -34px;
    }
  }

  &.attention {
    .area-row {
      background-color: #e1edf2;
      background-color: var(--sidebar-area-bg-attention);

      &:hover {
        background-color: #bad4dc;
        background-color: var(--sidebar-area-bg-attention-active);
      }
    }

    .icon {
      background-position-x: -34px;
    }
  }

  &.available {
    .area-row {
      background-color: #d7e2cc;
      background-color: var(--sidebar-area-bg-available);

      &:hover {
        background-color: #ccdeba;
        background-color: var(--sidebar-area-bg-available-active);
      }
    }

    .icon {
      background-position-x: -34px;
    }
  }

  &.active {
    .area-row {
      background-color: #fff;
      background-color: var(--default-bg-panel-active-color);
      font-weight: bold;
    }

    .icon {
      background-position-x: -68px;
    }
  }

  &.in-hospital {
    margin: 0;

    .area-row {
      border-bottom: 1px solid #c4c4c4;
    }
  }
}

.area-desktop {
  .icon {
    width: 34px;
    height: 23px;
  }

  @for $index from 1 through length($desktop-icons-list) {
    .#{nth($desktop-icons-list, $index)}-icon {
      background-position: 0 #{34 * (1 - $index) - 5}px;
    }
  }
}

.area-tablet {
  &:first-child {
    margin-top: 0;
  }

  .icon {
    width: 34px;
    height: 34px;
  }

  @for $index from 1 through length($desktop-icons-list) {
    .#{nth($desktop-icons-list, $index)}-icon {
      background-position: 0 #{34 * (1 - $index)}px;
    }
  }
}

.area-mobile {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 100%;
  box-sizing: border-box;

  &.favorite {
    // background: url(/images/v2/star_icon.png) top right no-repeat;
  }

  a {
    width: 100%;
    text-decoration: none;
    color: #999;
    font-weight: bold;
    font-size: 6px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    vertical-align: middle;
    -webkit-touch-callout: none;
    user-select: none;
    padding: 0;
    margin: 4px 0;
    box-sizing: border-box;
  }

  span {
    display: block;
    line-height: 7px;
    white-space: nowrap;
  }

  .icon {
    background-image: url(/images/v2/sidebar_icons_2017.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 26px;
    background-position-x: -274px;
  }

  @for $index from 1 through length($mobile-icons-list) {
    .#{nth($mobile-icons-list, $index)}-icon {
      background-position: -274px #{34 * (1 - $index) - 5}px;
    }

    &.available,
    &.attention {
      .#{nth($mobile-icons-list, $index)}-icon {
        background-position: -206px #{34 * (1 - $index) - 5}px;
      }
    }

    &.active {
      .#{nth($mobile-icons-list, $index)}-icon {
        background-position: -240px #{34 * (1 - $index) - 5}px;
      }
    }
  }

  &.warning {
    .rules-icon {
      background-position-x: -104px;
    }
  }

  &.available,
  &.attention {
    a {
      color: #85b200;
    }

    .icon {
      background-position-x: -206px;
    }
  }

  &.active {
    a {
      color: #fff;
    }

    .icon {
      background-position-x: -240px;
    }
  }

  &.in-jail {
    a {
      color: #bdbdae;
    }

    .icon {
      background-position-x: -172px;
    }

    &.active {
      a {
        color: #fff;
      }

      .icon {
        background-position-x: -138px;
      }
    }

    &.available {
      a {
        color: #85b200;
      }

      .icon {
        background-position-x: -104px;
      }
    }

    .contextMenu {
      background-image: linear-gradient(to bottom, #31322b 0%, #42443a 100%);
    }
  }

  &.in-hospital {
    a {
      color: #ddd;
    }

    .icon {
      background-position-x: -70px;
    }

    &.active {
      a {
        color: #fff;
      }

      .icon {
        background-position-x: -36px;
      }
    }

    &.available {
      a {
        color: #a3d900;
      }

      .icon {
        background-position-x: -2px;
      }
    }

    .contextMenu {
      background-image: linear-gradient(to bottom, #585958 0%, #676464 100%);
    }
  }

  .mobileSVGFavoriteStar {
    position: absolute;
    left: 0;
    top: -2px;
  }

  .mobileAmount {
    position: absolute;
    top: -1px;
    right: -3px;
    color: #85b200;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 8px;
    font-weight: bold;
    letter-spacing: -1px;
    width: 14px;
    text-align: center;
  }

  .area-row {
    position: relative;
    max-width: 40px;
    margin: 0 auto;
  }
}

.contextMenu {
  display: block;
  position: absolute;
  background: #333;
  left: -74px;
  top: 3px;
  z-index: 100;
  min-width: 70px;
  height: 34px;
  border-radius: 5px;
  border: 1px solid #444;
  transition: opacity .5s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .45);

  &.fading {
    opacity: 0;
  }

  &.shiftRight {
    left: 41px;

    .arrow {
      left: -6px;
      border-width: 8px 6px 8px 0;
      border-color: transparent #444 transparent;

      &::before {
        border-width: 6px 5px 6px 0;
        border-color: transparent #333 transparent transparent;
        left: 1px;
      }
    }
  }

  &.shiftLeft {
    left: -43px;

    .arrow {
      left: 77%;
    }
  }

  .contexMenuOption {
    display: inline-block;
    width: auto;
    vertical-align: baseline;
    margin: 0;
    height: 100%;
  }

  .openInNewTab,
  .addToFavorites {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url('/images/v2/sidebar/context_menu_icons.png') 0 0 no-repeat;

    &:hover {
      background-position-y: -34px;
    }

    &.active {
      background-position-y: -68px;
    }
  }

  .openInNewTab {
    background-position: -34px 0;
  }

  .arrow {
    position: absolute;
    top: 9px;
    left: auto;
    right: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 6px;
    border-color: transparent transparent transparent #444;

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: -6px;
      left: -6px;
      border-style: solid;
      border-width: 6px 0 6px 5px;
      border-color: transparent transparent transparent #373636;
    }
  }
}

:global {
  #sidebarroot .swiper-container {
    overflow: visible !important;
  }
}

a {
  &.desktopLink {
    overflow: hidden;
    color: #333;
    color: var(--default-color);
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    * {
      pointer-events: none;
    }
  }

  &.mobileLink {
    flex-direction: column;
    -webkit-tap-highlight-color: transparent;
  }
}

a {
  span {
    &.svgIconWrap {
      width: 34px;
      height: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin-left: 0;

      @media #{$screen-tablet} {
        #{$global-r} & {
          height: 34px;
        }
      }
      @media #{$screen-mobile} {
        #{$global-r} & {
          height: 24px;
          padding-bottom: 2px;
        }
      }
    }

    &.fullHeightSVG {

      @media #{$screen-mobile} {
        #{$global-r} & {
          height: 34px;
        }
      }
    }
  }
}

:global(.dark-mode) {
  .area-desktop,
  .area-tablet {
    &.in-hospital {
      .area-row {
        border-bottom-color: var(--sidebar-panel-bottom-color);

        &:hover {
          --default-bg-panel-active-color: #4b4b4b;
        }
      }

      &.active {
        .area-row {
          --default-bg-panel-active-color: #4b4b4b;
        }
      }
    }
  }
}
