@import './ProgressBars.cssmodule.scss';

.chain-bar {
  display: block;
  color: #333;
  color: var(--default-color);
  text-decoration: none;

  &.bar-mobile {
    display: table-cell;
    margin: 0;
    padding: 0 5px;
    min-width: 20%;
    vertical-align: middle;
    cursor: pointer;

    .bar-stats {
      overflow: hidden;
      line-height: 1rem;
      text-align: center;
      white-space: nowrap;

      .bar-icon {
        display: inline-block;
        margin-right: 4px;
        width: 12px;
        height: 12px;
        background: url(/images/v2/stat_bar_icons.png) -4px -7px no-repeat;
        vertical-align: middle;
        background-position-x: -102px;
      }

      .bar-value {
        display: inline-block;
        overflow: hidden;
        font-size: .6rem;
        text-align: center;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
      }
    }

    .progress {
      position: relative;
      height: 4px;
      background-color: #b6b6b6;

      .progress-line-timer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
      }

      .progress-line {
        position: relative;
        z-index: 3;
        max-width: 100%;
        height: 4px;
        overflow: hidden;
      }
    }

    .cooldown {
      .progress-line {
        background: #69a5a5;
        background: linear-gradient(top, #69a5a5 0%, #579191 100%);
      }
    }
  }

  &.bar-desktop {
    position: relative;
    margin-bottom: 4px;
    min-height: 36px;
    max-width: 155px;
    line-height: normal;

    .bar-stats {
      display: flex;
      margin-bottom: 3px;

      .bar-name {
        width: 47px;
        float: left;
        font-weight: bold;
      }

      .bar-value {
        display: inline-block;
      }

      .bar-timeleft {
        margin-left: auto;
        color: #888;

        &.bar-time-low {
          color: #ff4000;
          text-shadow: -3px -3px 5px rgba(255, 92, 38, .15), 3px 3px 5px rgba(255, 92, 38, .15);
        }
      }
    }

    .progress {
      position: relative;
      display: block;
      height: 7px;
      overflow: hidden;
      border: 1px solid #b7b7b7;
      border-color: var(--sidebar-chain-border-color);
      border-radius: 10px;
      background-color: #ddd;
      background-color: var(--sidebar-chain-bg-color);

      .progress-line-wrap {
        max-width: 100%;
        overflow: hidden;
        border: 1px solid #fff;
        border-color: var(--sidebar-chain-progress-line-border-color);
        border-radius: 10px;

        &::before {
          content: '';
          position: absolute;
          top: 1px;
          right: 4px;
          bottom: 1px;
          left: 4px;
          display: block;
          background: url(/images/v2/faction/chain/divider_light.svg) -6px 0 repeat-x;
          background-image: var(--sidebar-chain-divider-image);
        }
      }

      &.progress-40 {
        .progress-line-wrap::before {
          background-repeat: no-repeat;
          background-position-x: 55px;
        }
      }

      &.progress-50 {
        .progress-line-wrap::before {
          background-repeat: no-repeat;
          background-position-x: 70px;
        }
      }

      .progress-line {
        height: 5px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        &.full {
          border-radius: 10px;
        }
      }
    }

    .tick-list {
      width: 100%;
      overflow: hidden;

      li:first-child {
        margin-left: 1px;
      }

      li {
        box-sizing: border-box;
        padding-top: 1px;
        height: 3px;
        float: left;
        border-right: 1px solid #ccc;
        border-color: var(--sidebar-chain-tick-color);
      }
    }

    .speed {
      position: absolute;
      top: 25px;
      right: auto;
      left: 15px;
      display: inline-block;
      padding: 0 8px;
      color: #666;
      color: var(--sidebar-chain-speed-color);
      font-size: 8px;
      line-height: normal;
      vertical-align: top;

      .value {
        position: relative;
        top: -1px;
        z-index: 100;
        font-size: .5rem;
        line-height: .6rem;
      }

      &.speed::before,
      &.speed::after {
        content: '';
        position: absolute;
        top: 0;
        right: 1px;
        bottom: 1px;
        left: 1px;
        z-index: 90;
        display: block;
        height: 0;
        border-top: 8px solid #fff;
        border-top-color: var(--sidebar-chain-progress-line-border-color);
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
      }

      &.speed::after {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 89;
        border-top-width: 9px;
        border-top-color: #ccc;
        border-top-color: var(--sidebar-chain-tick-color);
      }
    }

    .cooldown {
      position: relative;
      border-color: #b4d2d2;
      border-color: var(--sidebar-chain-cooldown-border-color);

      .progress-line-wrap {
        background: #fff url(/images/v2/faction/chain/arrow_light.svg) 0 -15px repeat-x;
        background-color: var(--sidebar-chain-cooldown-bg-color);
        background-image: var(--sidebar-chain-arrows-image);

        &::before {
          display: none;
        }
      }

      .progress-line {
        position: relative;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background: #b4d2d2;
        background: -moz-linear-gradient(top, #b4d2d2 0%, #a9c6c6 100%);
        background: -webkit-linear-gradient(top, #b4d2d2 0%, #a9c6c6 100%);
        background: linear-gradient(top, #b4d2d2 0%, #a9c6c6 100%);

        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: url(/images/v2/faction/chain/arrow_light.svg) 0 0 repeat-x;
          background-image: var(--sidebar-chain-arrows-image);
        }
      }
    }
  }
}

.progress {
  .progress-line {
    background: rgb(135, 135, 135);
    background: -moz-linear-gradient(top, rgba(135, 135, 135, 1) 0%, rgba(107, 107, 107, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(135, 135, 135, 1) 0%, rgba(107, 107, 107, 1) 100%);
    background: linear-gradient(to bottom, rgba(135, 135, 135, 1) 0%, rgba(107, 107, 107, 1) 100%);
  }
}

@-webkit-keyframes chain-bar-cooldown {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -150px;
  }
}

@keyframes chain-bar-cooldown {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -150px;
  }
}
