.dark-mode #sidebarroot {
  --sidebar-panel-bottom-color: #444;
  --sidebar-vertical-divider-bg-left: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, 0) 100%);
  --sidebar-vertical-divider-bg-right: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 100%);
  --sidebar-horizontal-divider-bg-color: #222;
  --sidebar-horizontal-divider-shadow-color: #ffffff1a;
  --sidebar-scrollbar-track-color: rgba(0, 0, 0, .5);
  --sidebar-scrollbar-thumb-color: #666;
  --sidebar-titles-font-color: var(--default-color);
  --sidebar-area-bg-attention: #40505c;
  --sidebar-area-bg-warning: #5c3e3e;
  --sidebar-area-bg-available: #4b5738;
  --sidebar-area-bg-attention-active: #475e70;
  --sidebar-area-bg-warning-active: #714444;
  --sidebar-area-bg-available-active: #57693a;
  --sidebar-chain-border-color: #555;
  --sidebar-chain-cooldown-border-color: #555;
  --sidebar-chain-bg-color: #444;
  --sidebar-chain-progress-line-border-color: #333;
  --sidebar-chain-tick-color: #555;
  --sidebar-chain-speed-color: #ccc;
  --sidebar-chain-cooldown-bg-color: #444;
  --sidebar-chain-divider-image: url(/images/v2/faction/chain/divider_dark.svg);
  --sidebar-chain-arrows-image: url(/images/v2/faction/chain/arrow_dark.svg);
  --sidebar-footer-border-color: #333;
  --sidebar-userlist-bg-color: #2d2d2d;
  --sidebar-energy-bar-border-color: rgba(85, 137, 33, .5);
  --sidebar-energy-bar-bg-color: transparent;
  --sidebar-nerve-bar-border-color: rgba(185, 70, 45, .5);
  --sidebar-nerve-bar-bg-color: transparent;
  --sidebar-life-bar-border-color: rgba(76, 85, 210, .5);
  --sidebar-life-bar-bg-color: transparent;
  --sidebar-happy-bar-border-color: rgba(185, 166, 45, .5);
  --sidebar-happy-bar-bg-color: transparent;
  --sidebar-bars-divider-color: #222;
  --sidebar-skeleton-svg-filter: url(#svg_sidebar_filter_dark_mode);
  --sidebar-skeleton-svg-fill: url(#sidebar__accountLinks_svg_gradient_regular_dark_mode);
  --sidebar-swiper-button-prev: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
  --sidebar-swiper-button-next: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
  --sidebar-tooltip-bg-color: #444;
  --sidebar-tooltip-shadow: rgba(0, 0, 0, .65) 0 0 2px;
}
