.footer-menu {
  margin: 8px 0 0 10px;
  border-left: 1px solid #999;
  border-left-color: var(--sidebar-footer-border-color);
  font-size: 10px;
  color: #333;
  color: var(--default-color);
  max-width: 160px;

  &.left {
    float: left;
  }

  .date,
  .server {
    margin-left: 10px;
    line-height: 12px;
  }

  .server {
    .server-name {
      color: #069;
      color: var(--default-blue-color);
      text-decoration: none;
    }

    .server-name:hover {
      color: #999;
      color: var(--default-blue-hover-color);
      text-decoration: none;
    }
  }
}

:global(.dark-mode) {
  .footer-menu {
    --default-color: #999;
  }
}
