.goToTopBtn {
  position: fixed;
  border: none;
  background: url(/images/v2/svg_icons/globals/go_to_top.svg) -4px -4px no-repeat;
  background-image: var(--go-to-top-button-bg-image);
  filter: drop-shadow(0 1px 0 #fff);
  filter: var(--go-to-top-button-icon-filter);
  width: 42px;
  height: 42px;
  border-radius: 21px;
  top: 20px;
  z-index: 99999;
  cursor: pointer;
  display: none;

  &.show {
    display: block;
  }

  &:hover {
    background-position: -4px -54px;
  }
}
