.user-information {
  .content {
    background: #f2f2f2;
    background: var(--default-bg-panel-color);
    line-height: 16px;
    padding: 8px 10px 0;
    margin: 2px 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: default;
    overflow: hidden;

    .menu-info-row {
      line-height: 20px;

      .menu-name {
        width: 47px;
        font-weight: 700;
        display: inline-block;
      }

      .menu-value {
        display: inline-block;
        font-weight: normal;
      }

      a {
        color: #069;
        color: var(--default-blue-color);
        text-decoration: none;
        cursor: pointer;
        transition: color 0.2s ease;

        &:hover {
          color: #999;
          color: var(--default-blue-hover-color);
        }
      }
    }
  }
}

.user-information-mobile {
  background: #f2f2f2;
  background: var(--default-bg-panel-color);
  user-select: none;

  & > div {
    height: 30px;
  }

  .swiper {
    padding: 0 6px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    .slide {
      width: auto;
    }
  }

  .swiper-button {
    width: 26px;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index:100;
    user-select: none;
    pointer-events: none;
  }

  :global {
    .swiper-button-disabled {
      opacity: 0;
    }
  }

  .button-prev {
    left: 0;
    background-image: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 100%);
    background-image: var(--sidebar-swiper-button-prev);
  }

  .button-next {
    right: 0;
    background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 100%);
    background-image: var(--sidebar-swiper-button-next);
  }
}
