.scroll-area {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #e4e4e4;
  background-color: var(--sidebar-userlist-bg-color);
  max-height: 177px;
  margin-top: 1px;
  overflow: hidden;
}

:global {
  #sidebar {
    .scrollarea .scrollbar-container.vertical,
    .scrollarea:hover .scrollbar-container,
    .scrollarea .scrollbar-container,
    .scrollarea .scrollbar-container.active,
    .scrollarea .scrollbar-container:hover {
      right: 1.5px;
      background-color: #d6d6d6;
      background-color: var(--sidebar-scrollbar-track-color);
      opacity: 1 !important;
      width: 12px;
    }
    .scrollarea .scrollbar-container.vertical .scrollbar,
    .scrollarea:hover .scrollbar-container.vertical .scrollbar,
    .scrollarea .scrollbar-container.active .scrollbar,
    .scrollarea .scrollbar-container:hover .scrollbar {
      background: #f2f2f2;
      background: var(--sidebar-scrollbar-thumb-color);
      width: 8px;
      cursor: pointer;
      border-radius: 5px;
      opacity: 1;
      margin-left: 2px;
    }
  }
}

.list {
  padding: 5px 0;
  list-style: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  & > li {
    padding-left: 10px;
    line-height: 10px;
    width: 142px;
    display: block;
    height: 18px;
    cursor: pointer;

    a {
      display: inline-block;
      line-height: 18px;
      vertical-align: top;
      color: #069;
      color: var(--default-blue-color);
      text-decoration: none;
      cursor: pointer;
      max-width: 101px;
      text-overflow: ellipsis;
    }

    a:hover {
      color: #999;
      color: var(--default-blue-hover-color);
    }
  }

  .user-status {
    display: inline-block;
    margin-top: 1px;
    height: 15px;
    width: 16px;
  }

  & > li.online .user-status {
    background: url(/images/v2/online_offline_away.png) no-repeat;
  }

  & > li.idle .user-status {
    background: url(/images/v2/online_offline_away.png) 0 -15px no-repeat;
  }
}

.last-active {
  color: #999;
  float: right;
  line-height: 18px;
  display: inline-block;
}
