.point-block {
  line-height: 19px;
  text-decoration: none;

  .name {
    width: 47px;
    font-weight: 700;
    display: inline-block;
  }

  .value {
    display: inline-block;
    font-weight: normal;
    font-size: .8rem;
    line-height: 1.3rem;
  }

  .use {
    color: #069;
    color: var(--default-blue-color);
    text-decoration: none;
    cursor: pointer;
    float: right;
    transition: color .2s ease;

    &:hover {
      color: #999;
      color: var(--default-blue-hover-color);
    }
  }

  .money-positive {
    color: #678c00;
    color: var(--default-green-color);
  }

  .money-negative {
    color: #d83500;
  }

  .points {
    color: #069;
    color: var(--default-blue-color);
  }

  &.mobile {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 5px;
    margin: 5px 0;
    cursor: pointer;
    color: #333;
    color: var(--default-color);

    .point-icon {
      margin-right: 4px;
    }
  }
}
