.preloader {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  .dots {
    position: absolute;
    width: 55px;
    height: 14px;
    margin: auto;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .dot {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 10px;
    height: 10px;
    animation: bounceDot .3s infinite;
    -o-animation: bounceDot .3s infinite;
    -webkit-animation: bounceDot .3s infinite;
    transform: scale(.3);
    -webkit-transform: scale(.3);
    border-radius: 50%;
    margin-left: -3px;
  }
  .dot-1 {
    margin-left: 0;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
  }

  .dot-2 {
    animation-delay: 0.075s;
    -webkit-animation-delay: 0.075s;
  }

  .dot-3 {
    animation-delay: 0.15s;
    -webkit-animation-delay: 0.15s;
  }

  .dot-4 {
    animation-delay: 0.225s;
    -webkit-animation-delay: 0.225s;
  }
}

@keyframes bounceDot {
  0% {
    transform: scale(.7);
    background-color: rgb(0, 0, 0);
  }
  100% {
    transform: scale(.3);
    background-color: rgb(100, 100, 100);
  }
}

@-webkit-keyframes bounceDot {
  0% {
    -webkit-transform: scale(.7);
    background-color: rgb(0, 0, 0);
  }

  100% {
    -webkit-transform: scale(.3);
    background-color: rgb(50, 50, 50);
  }
}
