@import './ProgressBars.cssmodule.scss';

.bar-mobile {
  display: table-cell;
  padding: 0 5px;
  margin: 0;
  min-width: 20%;
  cursor: pointer;
  vertical-align: middle;

  .bar-stats {
    text-align: center;
    overflow: hidden;
    line-height: 1.1rem;
    white-space: nowrap;

    &.bar-stats-flex {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }

    .bar-icon {
      display: inline-block;
      margin-right: 4px;
      width: 12px;
      height: 12px;
      background: url(/images/v2/stat_bar_icons.png) -4px -7px no-repeat;
      vertical-align: middle;

      &.energy {
        background-position-x: -6px;
      }

      &.nerve {
        background-position-x: -30px;
      }

      &.happy {
        background-position-x: -54px;
      }

      &.life {
        background-position-x: -79px;
      }

      &.chain {
        background-position-x: -102px;
      }
    }

    .svg-icon-wrap {
      padding-right: 5px;
      display: flex;
    }

    .bar-value {
      display: inline-block;
      text-align: center;
      font-size: .6rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;
    }
  }

  .progress {
    background-color: #b6b6b6;
    height: 4px;
    position: relative;

    .progress-line-timer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    .progress-line {
      position: relative;
      overflow: hidden;
      height: 4px;
      max-width: 100%;
      z-index: 3;
    }
  }
}

.bar-desktop {
  margin: 0 0 7px;
  overflow: hidden;
  display: block;

  .bar-stats {
    overflow: hidden;
  }

  .bar-name {
    width: 47px;
    float: left;
    font-weight: bold;
  }

  .bar-value {
    float: left;
  }

  .bar-descr {
    float: right;
    color: #999;
  }

  .progress {
    border-radius: 5px;
    border: 1px solid #ddd;
    background: #fff;
    position: relative;
    height: 5px;
    padding: 1px;

    &.full {
      .progress-line-timer,
      .progress-line {
        border-radius: 5px;
        border-right-width: 1px;
      }
    }

    .progress-line-timer {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-width: 1px 0 1px 1px;
      border-style: solid;
      position: absolute;
      top: -1px;
      left: -1px;
      bottom: -1px;
      z-index: 2;
      max-width: 100%;

      &.full {
        border-radius: 5px;
      }
    }

    .progress-line {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      position: relative;
      overflow: hidden;
      height: 5px;
      max-width: 100%;
      z-index: 3;
      vertical-align: middle;
    }
  }

  .tick-end {
    background-position: -5px -7px;
  }

  .tick-list {
    width: 100%;
    overflow: hidden;

    li:first-child {
      margin-left: 1px;
    }

    li {
      float: left;
      box-sizing: border-box;
      height: 3px;
      border-right: 1px solid #ccc;
      border-color: var(--sidebar-bars-tick-color);
      padding-top: 1px;
    }
  }
}

.bar {
  cursor: pointer;
  text-decoration: none;
  color: #333;
  color: var(--default-color);

  &.bar-time-low,
  .bar-time-low {
    color: #ff4000;
    text-shadow: -3px -3px 5px rgba(255, 92, 38, .15), 3px 3px 5px rgba(255, 92, 38, .15);
  }

  &.energy {
    .progress-line-timer {
      border-color: #bfdca3;
      border-color: var(--sidebar-energy-bar-border-color);
      background: #eff5e9;
      background: var(--sidebar-energy-bar-bg-color);

      &.full {
        background-color: #fff;
        border: 1px solid #6ed901;
        -moz-box-shadow: 0 0 5px 1px #bfdca3;
        -webkit-box-shadow: 0 0 5px 1px #bfdca3;
        box-shadow: 0 0 5px 1px #bfdca3;
      }
    }

    .progress-line {

      @include progress-line(#6cad2b, #4d7c1e);
    }
  }

  &.nerve {
    .progress-line-timer {
      border-color: #e9c9be;
      border-color: var(--sidebar-nerve-bar-border-color);
      background: #f8ede9;
      background: var(--sidebar-nerve-bar-bg-color);
    }

    .progress-line {

      @include progress-line(#cc7032, #b3382c);
    }
  }

  &.life {
    .progress-line-timer {
      border-color: #c0ccef;
      border-color: var(--sidebar-life-bar-border-color);
      background: #e6ebf9;
      background: var(--sidebar-life-bar-bg-color);
    }

    .progress-line {

      @include progress-line(#708bdb, #3f43cf);
    }
  }

  &.happy {
    .progress-line-timer {
      border-color: #ddddb6;
      border-color: var(--sidebar-happy-bar-border-color);
      background: #f3f3e8;
      background: var(--sidebar-happy-bar-bg-color);
    }

    .progress-line {

      @include progress-line(#cccc32, #b3992c);
    }
  }
}

:global(.dark-mode) {
  .bar-desktop {
    .progress {
      background: transparent;
      border-color: transparent;
    }

    &.energy {
      .progress {
        border-color: rgba(85, 137, 33, .5);
      }

      .tick-list {
        li {
          --sidebar-bars-tick-color: rgba(85, 137, 33, .5);
        }
      }
    }

    &.nerve {
      .progress {
        border-color: rgba(185, 70, 45, .5);
      }

      .tick-list {
        li {
          --sidebar-bars-tick-color: rgba(185, 70, 45, .5);
        }
      }
    }

    &.happy {
      .progress {
        border-color: rgba(185, 166, 45, .5);
      }

      .tick-list {
        li {
          --sidebar-bars-tick-color: rgba(185, 166, 45, .5);
        }
      }
    }

    &.life {
      .progress {
        border-color: rgba(76, 85, 210, .5);
      }

      .tick-list {
        li {
          --sidebar-bars-tick-color: rgba(76, 85, 210, .5);
        }
      }
    }
  }
}
