.bars-mobile {
  display: table;
  table-layout: fixed;
  width: 100%;
  background: #f2f2f2;
  background: var(--default-bg-panel-color);
  padding: 0 8px;
  border-bottom: 1px solid #ddd;
  border-bottom-color: var(--sidebar-bars-divider-color);
  box-sizing: border-box;
}

@mixin progress-line($color1, $color2) {
  background: $color1;
  background: -moz-linear-gradient(top, $color1 0, $color2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, $color1), color-stop(100%, $color2));
  background: -webkit-linear-gradient(top, $color1 0, $color2 100%);
  background: -o-linear-gradient(top, $color1 0, $color2 100%);
  background: -ms-linear-gradient(top, $color1 0, $color2 100%);
  background: linear-gradient(to bottom, $color1 0, $color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2', GradientType=0)
}
