:global {

  @media (max-width: 600px) {
    .d.r #sidebarroot {
      float: none;
    }
  }

  .d #sidebarroot {
    float: left;
  }
}

.sidebar {
  z-index: 999;
  color: var(--default-color);

  &.mobile {
    overflow-y: visible;
    overflow-x: hidden;
    min-height: 104px;
  }

  &.tablet {
    width: 172px;
  }

  &.desktop {
    width: 172px;
  }

  .delimiter {
    overflow: hidden;
    height: 0;
    border: none;
    border-top: 1px solid #ccc;
    border-top-color: var(--sidebar-horizontal-divider-bg-color);
    border-bottom: 1px solid #fff;
    border-bottom-color: var(--sidebar-horizontal-divider-shadow-color);
    margin-bottom: 5px;
  }
}

.highlight-active {
  -webkit-animation: highlight-active 1s linear 0s infinite normal;
  animation: highlight-active 1s linear 0s infinite normal;
}

@-webkit-keyframes highlight-active {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes highlight-active {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .3;
  }

  100% {
    opacity: 1;
  }
}
