.sidebar-block {
  &.desktop {
    .title {
      height: 22px;
      line-height: 21px;
    }
  }

  &.tablet {
    .title {
      height: 34px;
      line-height: 34px;
      cursor: pointer;
    }
  }

  .title {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    background: url(/images/v2/main/section_title_black_bg.png) left top repeat;
    background: repeating-linear-gradient(90deg, #2e2e2e, #2e2e2e 2px, #282828 0, #282828 4px);
    padding-left: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-size: 13px;
    text-shadow: 0 1px 0 #333;
    letter-spacing: 1px;
    margin: 0;
    user-select: none;
    font-weight: normal;
  }

  .content {
    position: relative;
  }

  &.areas {
    background-color: #f2f2f2;
    .content {
      min-height: 200px;
    }
  }

  &.info {
    .content {
      background-color: #f2f2f2;
      min-height: 500px;
    }
  }

  &.lists {
    background-color: #f2f2f2;

    .content {
      min-height: 80px;
    }
  }

  &.mobile {
    background-color: #f2f2f2;
    background-color: var(--default-bg-panel-color);

    .content {
      min-height: 104px;
    }
  }
}
