$iconsAmount: 86;
$iconSize: 18;

.status-icons {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 152px;

  li {
    background-image: url(/images/v2/svg_icons/sprites/user_status_icons_sprite.svg);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;

    a,
    span {
      display: inline-block;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  &.big {
    li {
      width: 17px;
      height: 17px;
      margin-right: 10px;
      margin-bottom: 10px;

      &:nth-child(6n) {
        margin-right: 0;
      }

      @media #{$screen-mobile} {
        #{$global-r} & {
          margin-right: 9px;

          &:nth-child(6n) {
            margin-right: 9px;
          }
        }
      }
    }

    @for $index from 1 through $iconsAmount {
      .icon#{$index} {
        background-position: #{$iconSize * (1 - $index)}px 0;
      }
    }
  }

  &.medium {
    li {
      width: 14px;
      height: 14px;
      margin-right: 9px;
      margin-bottom: 10px;
    }

    @for $index from 1 through $iconsAmount {
      .icon#{$index} {
        background-position: #{$iconSize * (1 - $index) - 1}px -19px;
      }
    }
  }

  &.small {
    li {
      width: 12px;
      height: 12px;
      margin-right: 8px;
      margin-bottom: 6px;
    }

    @for $index from 1 through $iconsAmount {
      .icon#{$index} {
        background-position: #{$iconSize * (1 - $index) - 2}px -38px;
      }
    }
  }

  &.mobile {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
    width: auto;

    li {
      margin-bottom: 0;
    }
  }
}
