.toggle-block {
  .header {
    background: url(/images/v2/main/section_title_black_bg.png) left top repeat;
    background: repeating-linear-gradient(90deg, #2e2e2e, #2e2e2e 2px, #282828 0, #282828 4px);
    padding-left: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    color: var(--sidebar-titles-font-color);
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 1px 0 #333;
    margin: 0;
    user-select: none;
    cursor: default;
    &.toggled {
      cursor: pointer;
      margin-bottom: 2px;
    }
    .header-arrow {
      float: right;
      margin: 12px 17px;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid #ccc;
      &.activated {
        display: block;
        margin: 12px 15px;
        transform: rotate(90deg);
      }
    }
    &.desktop {
      height: 22px;
      line-height: 22px;
    }
    &.tablet {
      height: 34px;
      line-height: 34px;
    }
    &.in-jail {
      background: url(/images/v2/main/section_title_olive_bg.png) left top repeat;
      background: repeating-linear-gradient(90deg,#646357,#646357 2px,#6b6a5f 0,#6b6a5f 4px);
      box-shadow: none;
    }
    &.in-hospital {
      background: url(/images/v2/main/section_title_gray_bg.png) left top repeat;
      background: repeating-linear-gradient(90deg,#666666,#666666 2px,#6d6d6d 0,#6d6d6d 4px);
      box-shadow: none;
    }
  }
  .toggle-content {
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 0.2s ease;
    &.hidden {
      max-height: 0;
    }
  }
}

:global(.dark-mode) {
  .toggle-block {
    .header {
      &.in-jail,
      &.in-hospital {
        background: repeating-linear-gradient(90deg, #2e2e2e, #2e2e2e 2px, #282828 0, #282828 4px);
      }
    }
  }
}
