.tooltip {
  line-height: 1rem;
  overflow: hidden;
  display: table;
  color: #333;
  color: var(--default-color);

  a {
    text-decoration: none;
    color: #069;
    color: var(--default-blue-color);
  }

  p {
    text-align: left;
    white-space: nowrap;

    &.long-string {
      white-space: normal;
    }

    &.static-width {
      white-space: nowrap;
      width: 120px;
    }

    i {
      font-style: italic;
    }
  }

  .bar-time-low {
    color: #ff4000;
    text-shadow: -3px -3px 5px rgba(255, 92, 38, .15), 3px 3px 5px rgba(255, 92, 38, .15);
  }
}

@media screen and (max-width: 600px) {
  .tooltip {
    p {
      &.long-string {
        width: 250px;
      }
    }
  }
}

:global {
  .ToolTipPortal {
    z-index: 99999;
    display: table;

    & > div {
      z-index: 99999 !important;
    }
  }
}
