#sidebarroot {
  --sidebar-panel-bottom-color: #fff;
  --sidebar-vertical-divider-bg-left: linear-gradient(to bottom, rgba(204, 204, 204, 0) 0%, rgba(204, 204, 204, 100) 50%, rgba(204, 204, 204, 0) 100%);
  --sidebar-vertical-divider-bg-right: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 100) 50%, rgba(255, 255, 255, 0) 100%);
  --sidebar-horizontal-divider-bg-color: #ccc;
  --sidebar-horizontal-divider-shadow-color: #fff;
  --sidebar-scrollbar-track-color: #d6d6d6;
  --sidebar-scrollbar-thumb-color: #f2f2f2;
  --sidebar-titles-font-color: #fff;
  --sidebar-area-bg-attention: #e1edf2;
  --sidebar-area-bg-warning: #fbe5dd;
  --sidebar-area-bg-available: #d7e2cc;
  --sidebar-area-bg-attention-active: #bad4dc;
  --sidebar-area-bg-warning-active: #eec0b0;
  --sidebar-area-bg-available-active: #ccdeba;
  --sidebar-chain-border-color: #b7b7b7;
  --sidebar-chain-cooldown-border-color: #b4d2d2;
  --sidebar-chain-bg-color: #ddd;
  --sidebar-chain-progress-line-border-color: #fff;
  --sidebar-chain-tick-color: #ccc;
  --sidebar-chain-speed-color: #666;
  --sidebar-chain-cooldown-bg-color: #fff;
  --sidebar-chain-divider-image: url(/images/v2/faction/chain/divider_light.svg);
  --sidebar-chain-arrows-image: url(/images/v2/faction/chain/arrow_light.svg);
  --sidebar-footer-border-color: #999;
  --sidebar-userlist-bg-color: #e4e4e4;
  --sidebar-energy-bar-border-color: #bfdca3;
  --sidebar-energy-bar-bg-color: #eff5e9;
  --sidebar-nerve-bar-border-color: #e9c9be;
  --sidebar-nerve-bar-bg-color: #f8ede9;
  --sidebar-life-bar-border-color: #c0ccef;
  --sidebar-life-bar-bg-color: #e6ebf9;
  --sidebar-happy-bar-border-color: #ddddb6;
  --sidebar-happy-bar-bg-color: #f3f3e8;
  --sidebar-bars-tick-color: #ccc;
  --sidebar-bars-divider-color: #ddd;
  --sidebar-skeleton-svg-filter: url(#sidebar__accountLinks_filter);
  --sidebar-skeleton-svg-fill: url(#sidebar__accountLinks_svg_gradient);
  --sidebar-swiper-button-prev: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 100%);
  --sidebar-swiper-button-next: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 100%);
  --sidebar-tooltip-bg-color: #f2f2f2;
  --sidebar-tooltip-shadow: rgba(0, 0, 0, .3) 0 0 8px;
}
