.torn-react-autocomplete.with-categories {
  width: 250px;

  .scroll-area {
    top: 50px;
  }

  .autocomplete-wrapper.active .autocomplete-categories {
    border-top: none;
  }

  .autocomplete-categories {
    background-color: #f2f2f2;
    border: 1px solid #ccc;

    & > li {
      border-left: 1px solid #ccc;
      width: 100%;
      text-align: center;

      &:first-child {
        border-left: 0;
      }

      button {
        background: transparent;
        -webkit-appearance: none;
        border: 0;
        font-size: 12px;
        color: #999;
        height: 24px;
        cursor: pointer;
        width: 100%;
        border-bottom: 1px solid #ccc;

        &.selected {
          border-bottom: none;
          background: #fff;
          color: #000;
        }
      }
    }
  }
  .active {
    .input-text-autocomplete {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
.input-text-autocomplete {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  height: 26px;
  padding: 5px 10px;
  text-align: left;
  vertical-align: middle;
  width: 100%;
}
.autocomplete-categories {
  display: flex;
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 26px;
}
