@import '../../../../styles/constants.scss';

.title {

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 45px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      margin-right: 26px;
    }
  }
}

.cityContainer {
  width: 82px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 94px;
  margin-right: 4px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-left: 0;
      width: 36px;
    }
  }
}

.areaIcon {
  width: 35px;
  height: 32px;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: inherit;
    background: $itemBcg;
  }

  &::before {
    height: 23px;
    top: 0;
  }

  &::after {
    height: 6px;
    bottom: 0;
  }
}

.starCounter {
  width: 38px;
  height: inherit;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: inherit;
    background: $itemBcg;
    height: 20px;
    width: 15px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      position: absolute;
      height: 15px;
      width: 15px;
      left: 108px;
      top: 28px;
      overflow: hidden;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      left: 60px;
    }
  }
}

.itemContainer {

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-left: 2px;
    }
  }
}

.nerve {
  margin-left: 15px;
}
