@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

$cardsRowsLength: 50;

@mixin generateNumbersAnim() {
  @for $key from 0 through $cardsRowsLength {
    li:nth-child(#{$key}) {
      animation-delay: #{$key * 4}s;
    }

    li:nth-child(#{$key})::before,
    li:nth-child(#{$key})::after {
      animation-delay: #{$key * 4}s;
    }
  }
}

.crimesCardSkimming {
  width: inherit;
  height: inherit;
  position: relative;
  background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/card_skimming/976_banner.jpg);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 782px;
    display: block;
    background: url('/images/v2/2sef32sdfr422svbfr2/crimes/diagonal_line_pattern.png') 0 0 repeat;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/card_skimming/386_banner.jpg);

      &::before {
        width: 386px;
      }
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      background-image: url(/images/v2/2sef32sdfr422svbfr2/crimes/card_skimming/320_banner.jpg);

      &::before {
        width: 320px;
      }
    }
  }
}

.numbersWrap {
  position: absolute;
  left: 35px;
  height: inherit;
  width: 250px;
  overflow: hidden;
  color: transparent;
  -webkit-mask-image: linear-gradient(180deg, #000 15%, rgba(0, 0, 0, 0));
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;
}

.numberList {
  font-family: 'Share Tech Mono', monospace;
  font-size: 16px;
}

.numberList > li {
  color: #f0f0e1;
  position: absolute;
  bottom: -30px;
  padding-left: 30px;
  animation: animateCardNumbers 200s linear 0s infinite normal;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 21px;
    height: 19px;
    background: url(/images/v2/2sef32sdfr422svbfr2/crimes/card_skimming/credit_card.svg) 0 0 no-repeat;
    background-size: cover;
  }
}

.cashMachineLight {
  position: absolute;
  top: 0;
  right: 108px;
  width: 321px;
  height: 150px;
  background-image: radial-gradient(rgba(240, 240, 225, .2) 0%, rgba(240, 240, 225, 0) 100%);
  animation: flashingLight 1.9s linear 0s infinite normal;
}

.numberList {
  @include generateNumbersAnim();
}

@keyframes animateCardNumbers {
  0% {
    transform: translateY(0);
  }

  99.9% {
    transform: translateY(-1350px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes flashingLight {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
