
@mixin background($layoutImage) {
  background: url('/images/v2/2sef32sdfr422svbfr2/crimes/bootlegging/#{$layoutImage}') no-repeat center;
}

.bannerContainer {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.bannerContainerMain {
  width: 782px;
  height: 150px;

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      max-width: 386px;
    }
  }
  @media screen and (max-width: 600px) {
    #{$global-r} & {
      max-width: 320px;
    }
  }
}

// .bannerContainerTablet {
//   width: 386px;
//   height: 150px;
// }

// .bannerContainerMobile {
//   width: 320px;
//   height: 150px;
// }

.bannerBackground {
  position: absolute;
  width: 782px;
  height: 100%;

  @include background('976/background.jpg');

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      top: 5px;
      max-width: 386px;

      @include background('578/background.jpg');
    }
  }
  @media screen and (max-width: 600px) {
    #{$global-r} & {
      max-width: 320px;

      @include background('320/background.jpg');
    }
  }
}

.diskWrap {
  position: absolute;
  width: 786px;
  height: 100%;

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      width: 386px;
    }
  }
  @media screen and (max-width: 600px) {
    #{$global-r} & {
      width: 320px;
    }
  }
}

.tendrilWrap {
  opacity: 1;
}

.wholeDisk {
  position: absolute;
  top: 0;
  left: 31px;
  width: 490px;
  height: 100%;

  @include background('976/whole_disk.png');

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      left: 0;
      max-width: 386px;
      width: 271px;
      // background-size: cover;

      @include background('578/whole_disk.png');
    }
  }
  @media screen and (max-width: 600px) {
    #{$global-r} & {
      top: -25px;
      left: 11px;
      width: 201px;
      height: 201px;

      @include background('320/whole_disk.png');
    }
  }
}

.roundCircle {
  position: absolute;
  top: -171px;
  left: 31px;
  width: 490px;
  height: 490px;

  @include background('976/round_circle.png');

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      top: -45px;
      left: 15px;
      width: 242px;
      height: 242px;

      @include background('578/round_circle.png');
    }
  }
  @media screen and (max-width: 600px) {
    #{$global-r} & {
      top: -25px;
      left: 11px;
      width: 201px;
      height: 201px;

      @include background('320/round_circle.png');
    }
  }
}

.centerSpinner {
  position: absolute;
  top: -10px;
  left: 195px;
  width: 160px;
  height: 160px;

  @include background('976/center_spinner.png');

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      top: 34px;
      left: 94px;
      width: 81px;
      height: 81px;
      background-size: 81px auto !important;

      @include background('578/center_spinner.png');
    }
  }
  @media screen and (max-width: 600px) {
    #{$global-r} & {
      top: 42px;
      left: 80px;
      width: 66px;
      height: 66px;
      background-size: 66px auto !important;

      @include background('320/center_spinner.png');
    }
  }
}

.tendrilDriver {
  position: absolute;
  right: 73px;
  width: 371px;
  height: 110%;
  transform-origin: 229px 122px;
  background-position-y: top !important;
  transform: rotate(0deg);

  @include background('976/tendril_driver.png');

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      top: 27px;
      right: 6px;
      width: 242px;
      height: 100%;
      // background-size: contain;
      transform-origin: 143px 75px !important;
      background-position-y: center !important;
      transform: rotate(0deg);

      // @include background('578/tendril_driver.png');
      background: url(/images/v2/2sef32sdfr422svbfr2/crimes/bootlegging/578/tendril_driver.png) no-repeat 50%;
    }
  }
  @media screen and (max-width: 600px) {
    #{$global-r} & {
      top: 22px;
      right: 27px;
      width: 156px;
      height: 100%;
      // background-size: contain;
      transform-origin: 98px 76px !important;
      transform: rotate(0deg);

      @include background('320/tendril_driver.png');
    }
  }
}

.tendrilHolder {
  position: absolute;
  right: 68px;
  bottom: 0;
  width: 92px;
  height: 114px;

  @include background('976/tendril_holder.png');

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      right: 32px;
      bottom: -5px;
      width: 98px;
      height: 93px;
      background-size: 98px auto !important;

      @include background('578/tendril_holder.png');
    }
  }
  @media screen and (max-width: 600px) {
    #{$global-r} & {
      right: 27px;
      bottom: -6px;
      width: 80px;
      height: 95px;
      background-size: 82px auto !important;

      @include background('320/tendril_holder.png');
    }
  }
}

.diskHover {
  position: absolute;
  width: 782px;
  height: 100%;

  @include background('976/hover.png');

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      max-width: 386px;

      @include background('578/hover.png');
    }
  }
  @media screen and (max-width: 600px) {
    #{$global-r} & {
      width: 320px;

      @include background('320/hover.png');
    }
  }
}

@keyframes runningRotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
@keyframes startSpinnerRotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1460deg);
  }
}
@keyframes finishSpinnerRotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1460deg);
  }
}
@keyframes startTendril {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(6deg);
  }

  50% {
    transform: rotate(3deg);
  }

  75% {
    transform: rotate(7deg);
  }

  100% {
    transform: rotate(9deg);
  }
}
@keyframes runningTendril {
  0% {
    transform: rotate(9deg);
  }

  15% {
    transform: rotate(16deg);
  }

  25% {
    transform: rotate(13.5deg);
  }

  30% {
    transform: rotate(.3deg);
  }

  35% {
    transform: rotate(3deg);
  }

  40% {
    transform: rotate(.3deg);
  }

  50% {
    transform: rotate(6.25deg);
  }

  55% {
    transform: rotate(4.25deg);
  }

  60% {
    transform: rotate(9.25deg);
  }

  70% {
    transform: rotate(19.25deg);
  }

  75% {
    transform: rotate(15.25deg);
  }

  87% {
    transform: rotate(22.25deg);
  }

  92% {
    transform: rotate(12deg);
  }

  100% {
    transform: rotate(9deg);
  }
}
@keyframes finishTendril {
  to {
    transform: rotate(0deg);
  }
}
