.title {
  font-size: 16px;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
  display: block;
  color: #069;
  color: var(--default-blue-color);
  text-decoration: none;
}
.classifieds {
  font-size: 15px;
  line-height: 17px;
  margin-top: 18px;
  position: relative;
}
.classified {
  padding: 18px 0;
  background: url(/images/v2/newspaper/divider_horizontal_old.png) 0 0 repeat-x;
  background: var(--newspaper-divider-horizontal-old-line-url) 0 0 repeat-x;
}
.link {
  color: #069;
  color: var(--default-blue-color);
  text-decoration: none;
}
.winner {
  display: inline-block;
  margin-right: 5px;
}

@media screen and (max-width: 1000px) {
  :global(.r) {
    .classifieds {
      margin-top: 0;
    }
    .classified {
      margin: 0 10px;
      background-image: url(/images/v2/newspaper/divider_horizontal_older.png);
      background-image: var(--newspaper-divider-horizontal-older-line-url);
    }
  }
}
