span {
  color: var(--span-color);
  text-shadow: var(--span-textShadow);
}

.titleCrimes {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 15;
  padding: 10px;
  height: 14px;
  background: var(--titleCrimes-background);
  color: #676759;
  box-shadow: var(--titleCrimes-boxShadow);
  border-radius: 5px 5px 0px 0px;
  font-size: 15px;
  line-height: 16px;
  text-shadow: var(--titleCrimes-textShadow);
  text-transform: uppercase;

  > :first-child {
    flex: 1;
  }
}

.toggleIcon {
  cursor: pointer;
  outline: 0;
  background: transparent;
  padding: 0;
  margin: 0 5px;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-image: var(--dlm-borderImage);
  display: flex;
  align-items: center;
  justify-content: center;
}

.counters {
  float: right;
  font-size: 13px;
}

.count {
  pointer-events: none;
}

.success {
  color: var(--success__count-color);

  .count {
    color: var(--success__count-color);
  }
}

.failure {
  color: var(--failure__count-color);

  .count {
    color: var(--failure__count-color);
  }
}

.critical {
  color: var(--critical__count-color);

  .count {
    color: var(--critical__count-color);
  }
}

.jailed {
  color: var(--jailed__count-color);

  .count {
    color: var(--jailed__count-color);
  }
}
