:global {
  .ammoTooltip-enter {
    opacity: 0;

    &.ammoTooltip-enter-active {
      transition: opacity .3s linear;
      opacity: 1;
    }
  }

  .ammoTooltip-exit {
    opacity: 1;
    transition: opacity .1s linear;

    &.ammoTooltip-exit-active {
      opacity: 0;
    }
  }
}
