:global(.d .f-war-list > li .desc-wrap) {
  display: block;
}

.raidDescWp {
  --sort-arrow-color: #ccc;
  --sort-arrow-border-color: #fff;
}

:global(.d .f-war-list.war-new .raid-members-list .faction-war .tab-menu-cont .members-cont .title) {
  .column {
    padding: 0 5px;

    &.members {
      padding: 0 0 0 11px;
    }
  }
}

:global(.dark-mode) {
  .raidDescWp {
    --sort-arrow-color: #000;
    --sort-arrow-border-color: #000;
  }
}

.raidDescWp {
  .graphWp {
    .graph {
      width: 100%;
      height: 200px;
    }
  }

  .viewGraphWp {
    position: absolute;
    right: 0;
  }

  .leftActionIconWp {
    position: absolute;
    left: 0;
  }

  .sortIcon {
    margin: auto;
    position: relative;
    z-index: 1;
    display: none;

    &.activeIcon {
      display: block;
    }

    &.desc {
      top: -1px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: var(--sort-arrow-border-color) transparent transparent transparent;
    }

    &.desc::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-top: 5px solid var(--sort-arrow-color);
      border-right: 5px solid transparent;
      position: absolute;
      top: -6px;
      left: -5px;
    }

    &.asc {
      top: -7px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 6px 6px;
      border-color: transparent transparent var(--sort-arrow-color) transparent;
    }

    &.asc::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-bottom: 6px solid var(--sort-arrow-border-color);
      border-right: 5px solid transparent;
      position: absolute;
      top: 1px;
      left: -5px;
    }
  }

  @media (max-width: 600px) {
    #{$global-r} & {
      .customStatus {
        margin: 0 4px 0 0;
      }

      .customBlockWrap {
        margin-right: -2px;
      }
    }
  }
}
