.icon {
  display: inline-block;
  width: 15px;
  height: 16px;
  vertical-align: middle;
  pointer-events: none;
}

.iconGrid {
  background: url(/images/v2/main/icons/rows.png) right top no-repeat;
}

.iconTumb {
  background: url(/images/v2/main/icons/thumbnails.png) right top no-repeat;
}

.buttonTitle {
  display: block;
  font-weight: bold;
  white-space: nowrap;
}

.buttonContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: 100%;
  border: 0;
  background: transparent;
  color: #777;
  color: var(--appheader-links-color);
  text-shadow: 0 1px 0 #ffffffa6;
  text-shadow: var(--appheader-links-text-shadow-color);
  text-decoration: none;
  cursor: pointer;

  &:not(:first-child) {
    margin-left: 24px;
  }

  &:hover {
    .icon {
      background-position: left top;
    }

    .buttonTitle {
      color: #333;
      color: var(--appheader-links-color-hover);
    }
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-left: 0;
    }
  }
}

.iconActive {
  background-position: left top;
}
