.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 27px;
  height: 100%;

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      margin-left: 0;
      max-height: 39px;
    }
  }
}
