@import '../../styles/constants';
@import '../../styles/mixins';

$row-height: 32px;

.applicationsEmpty {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: $row-height;
  border-top: 1px solid #fff;
  border-top-color: var(--default-panel-divider-inner-side-color);
  color: #888;
  color: var(--default-gray-8-color);

  @media screen and (max-width: 1001px) {
    #{$global-r} & {
      justify-content: center;
    }
  }
}

.applicationListWrapper {
  display: block;
  overflow: hidden;
  border-radius: 0 0 5px 5px;

  .tableHeader,
  .tableRow {
    display: flex;
    width: 100%;
    height: $row-height;

    @include border-horizontal;
  }

  .tableHeader {
    font-weight: bold;

    .tableCell {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        left: 0;
        background: #fff;
        background-color: var(--default-panel-divider-inner-side-color);
      }
    }
  }

  .tableBody {
    display: flex;
    flex-direction: column;
    width: 100%;

    .rowWrapper {
      &:last-child div:last-child {
        border-bottom: none;
      }

      &.expanded,
      &:hover {
        background: #fff;
        background-color: var(--company-appcications-active-panel-bg);
      }

      &.accepted {
        background: rgba(108, 162, 54, .1);
      }

      &.declined {
        background: rgba(229, 76, 25, .07);
      }

      &.withdrawn {
        background: #eaeaea;
        background: var(--company-appcications-withdrawn-bg);
      }

      &.accepted,
      &.declined,
      &.withdrawn {
        .expires {
          display: none;
        }

        .application {
          font-weight: bold;
          flex-grow: 1;
        }

        @media screen and (max-width: 1001px) {
          #{$global-r} & {
            .application {
              display: flex;
            }
          }
        }
      }

      &.accepted .application {
        color: rgba(108, 162, 54, 1);
      }

      &.declined .application {
        color: rgba(229, 76, 25, 1);
      }

      &.withdrawn .application {
        color: #888;
        color: var(--default-gray-8-color);
      }
    }
  }
}

.applicationListPromt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  line-height: 16px;

  @include border-horizontal;
}

.applicationListHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
  text-align: center;

  @media screen and (max-width: 1001px) {
    #{$global-r} & {
      line-height: 16px;
    }
  }

  @include border-horizontal;

  &.warning {
    color: #fd764c;
  }
}

.tableCell {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-top: -1px;
  padding-left: 10px;
  border-right: $border-gray;
  border-right-color: var(--default-panel-divider-outer-side-color);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    left: 0;
    background: #fff;
    background: var(--default-panel-divider-inner-side-color);
  }

  &:first-child {
    &::before {
      display: none;
    }
  }

  &.person {
    width: 35%;
  }

  &.application {
    padding-right: 10px;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 14px;
    }
  }

  &.expires {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px 0 0;
    width: 9%;
  }

  &.view {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 6%;
    border-right: none;
  }

  @media screen and (max-width: 1001px) {
    #{$global-r} & {
      &.person {
        width: 64%;
      }

      &.application {
        display: none;
      }

      &.expires {
        width: 20%;
      }

      &.view {
        width: 16%;
      }
    }
  }
}
