.debugModeIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

//additional styles for Chest Dialog
:global(.d .status-area-container .prize) {
  .debugModeIcon {
    svg {
      height: 30px;
      width: 30px;
    }
  }
}

:global(.d .status-area-container .prize.special) {
  .debugModeIcon {
    svg {
      height: auto;
      width: auto;
    }
  }
}
