.title {
  font-size: 16px;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
  display: block;
  color: #069;
  color: var(--default-blue-color);
  text-decoration: none;
  margin-bottom: 10px;
}
.placeholder {
  height: 80px;
  width: 175px;
  padding: 0;
  position: relative;
  left: -2px;
}
.statistics {
  color: #069;
  color: var(--default-blue-color);
  text-decoration: none;
  //text-align: center;
  padding-top: 10px;
  font-size: 15px;
  margin-bottom: 10px;
}
.label {
  font-size: 13px;
}
.arrowChange {
  display: inline-block;
  height: 12px;
  width: 9px;
  background: url(/images/v2/stock/up_down_steady.png) 0 -16px no-repeat;
  margin: 0 10px;
  &.up {
    background-position:  0 -8px;
    height: 8px;
  }
  &.down {
    background-position:  0 0;
    height: 8px;
  }
}

@media screen and (max-width: 1000px) {
  :global(.r) {
    .pricesChart {
      display: inline-block;
      padding: 18px 10px;
      min-height: 230px;
      background: url(/images/v2/newspaper/graphic_front_page_578.png) 0 bottom no-repeat;
    }
    .title {
      text-align: center;
    }
    .placeholder {
      left: 0
    }
    .statistics{
      text-align: center;
    }
    .label {
      text-align: left;
      padding-left: 5px;
    }
  }
}

@media screen and (max-width: 600px) {
  :global(.r) {
    .pricesChart {
      min-height: 0;
      background: url(/images/v2/newspaper/divider_horizontal_old.png) 0 100% repeat-x;
      background: var(--newspaper-divider-horizontal-old-line-url) 0 100% repeat-x;
      padding: 10px 0;
    }
  }
}
