:global(.react-dropdown-default.dropdown-time) {
  align-self: flex-start;
  min-width: 120px;
  width: 120px;
  margin-top: 10px;
}

:global(.react-dropdown-default.dropdown-stat-type) {
  width: 171px;
}

/* start styles for default google charts tooltip */

:global(.goog-tooltip div),
:global(.google-visualization-tooltip) {
  background: #f2f2f2 !important;
  background: var(--default-bg-panel-color) !important;
  box-shadow: none !important;
  box-shadow: var(--personal-stats-border-shadow) !important;
  border: solid 1px #bdbdbd !important;
  border-color: var(--personal-stats-border-color) !important;
}

:global(circle) {
  &:hover {
    r: 5;
  }
}

:global(.goog-tooltip div) {
  padding: 4px !important;
}

/* end styles for default google charts tooltip */

.chart {
  margin-top: 10px;
  margin-bottom: 10px;
}

.chartWrapper {
  overflow: hidden;
  border-top: 1px solid #ddd;
  border-top-color: var(--personal-stats-gray-d-border);
}

.chartContent {
  min-height: 370px;
}

.dropDowns {
  display: flex;
  align-items: center;
  margin: 0 10px 10px 10px;

  .statTypes {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;

    .statSelectNew {
      margin-left: 10px;
      margin-top: 10px;

      :global(.react-dropdown-default) {
        width: 204px;
      }
    }

    .statTypeWrapper {
      display: flex;
      margin-top: 10px;
      margin-left: 10px;
      border-radius: 5px;

      :global(.react-dropdown-default .toggler) {
        border-left: none;
        border-radius: 0 5px 5px 0;
      }

      :global(.dropdown-opened .toggler) {
        border-radius: 0 5px 0 0;
      }

      .removeStat {
        box-sizing: content-box;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        border-color: var(--personal-stats-white-border);
        border-radius: 5px 0 0 5px;
        box-shadow: inset 0 4px 5px -5px rgba(0, 0, 0, .3), inset 0 -2px 4px -4px rgba(0, 0, 0, .3);
        background: linear-gradient(180deg, #e4e4e4 0, #f2f2f2);
        background: var(--personal-stats-remove-stat-bg);
        color: #666;
        color: var(--default-gray-6-color);
        cursor: pointer;

        &:hover,
        &:active {
          box-shadow: inset 0 4px 5px -5px rgba(0, 0, 0, .3), inset 0 -2px 4px -4px rgba(0, 0, 0, .3), 0 1px 2px #00000040 !important;
        }

        &:focus {
          box-shadow: inset 0 4px 5px -5px rgba(0, 0, 0, .3), inset 0 -2px 4px -4px rgba(0, 0, 0, .3), 0 0 5px #4dabf773;
        }

        &[disabled] {
          color: #ccc;
          color: var(--default-gray-c-color);
          pointer-events: none;
          cursor: not-allowed;
        }

        .text {
          font-size: 24px;
          line-height: 30px;
          transform: rotate(45deg);
          user-select: none;
        }
      }
    }
  }
}

.tooltip {
  padding: 10px;
  font-size: 13px;

  .player {
    margin-bottom: 3px;
  }

  .date {
    margin-bottom: 3px;
  }
}

@media screen and (max-width: 1001px) {
  .chartWrapper {
    padding-bottom: 10px;
  }

  .dropDown {
    display: block;
    padding: 10px;

    &:first-child {
      padding-bottom: 0;
    }
  }

  .dropDowns {
    flex-direction: column;

    :global(.react-dropdown-default.dropdown-time) {
      margin-top: 10px;
    }

    .statTypes {
      width: 100%;

      .statSelectNew {
        margin-left: 0;
        width: 100%;

        :global(.react-dropdown-default.dropdown-stat-type) {
          width: 100%;
        }
      }

      .statTypeWrapper {
        margin-left: 0;
        width: 100%;

        .removeStat {
          width: 40px;
          height: 30px;

          .text {
            line-height: 30px;
          }
        }
      }
    }
  }

  :global(.react-dropdown-default.dropdown-stat-type),
  :global(.react-dropdown-default.dropdown-time) {
    margin: 0;
    width: 100%;

    :global(.scrollarea-content) {
      margin-bottom: 0;
    }
  }
}
