@import './rows.cssmodule.scss';

.headerWrap {
  width: 100%;
  height: 34px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(180deg, #fff, #e0edf3 99%);
  background: var(--ct-title-bg);
}

.mymapsSkeleton {
  margin-bottom: 10px;
}

.invitesSkeleton {
  margin-top: 10px;
}

.tabsWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tabSkeleton {
  border-right: 1px solid #d4dfe4;
  border-right-color: var(--ct-skeleton-border-color);
  position: relative;
  background: #fff;
  background: var(--ct-panel-bg);
  box-sizing: border-box;
  height: 34px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    background: #dff2f7;
    background: var(--ct-skeleton-content-bg);
    height: 24px;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    animation-name: skeletonBlinking;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &:last-of-type {
    border-right: none;
  }
}

.tabName {
  width: 220px;

  &::after {
    width: 108px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 230px;

      &::after {
        width: 114px;
      }
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      &::after {
        width: 88px;
      }
    }
  }
}

.tabNameInvites {

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 209px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 201px;
    }
  }
}

.tabLastEdit {
  width: 61px;

  &::after {
    width: 30px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}

.tabEditors,
.tabTesters,
.tabPlayers {
  width: 55px;

  &::after {
    width: 27px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}

.tabRelease {
  width: 120px;

  &::after {
    width: 60px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 55px;

      &::after {
        width: 27px;
      }
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 71px;
    }
  }
}

.tabReleaseInvites {

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 78px;

      &::after {
        width: 39px;
      }
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 101px;

      &::after {
        width: 38px;
      }
    }
  }
}

.tabRating {
  width: 116px;

  &::after {
    width: 58px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}

.tabManage {
  width: 102px;

  &::after {
    width: 51px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 102px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 118px;

      &::after {
        width: 46px;
      }
    }
  }
}
