@import '../../../../../../../globals/styles/mediaTypes.scss';

.headerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: none;

  @media screen and (max-width: 1000px) {
    .r & {
      background: linear-gradient(180deg, #fff 0, #e0edf3 99%);
      background: var(--ct-title-bg);
    }
  }
}

.topSection {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 34px;
}

.titleContainer {
  display: flex;
  flex: 0 1 150px;
}

.svgContainer {
  position: absolute;
  z-index: -1;
}

.svgPlaceholder {
  width: 150px;
  height: 34px;

  path {
    fill: url(#placeholder-gradient);
    fill: var(--ct-my-maps-title-bg);
  }
}

.titleFont {
  color: #668fa3;
  font-family: Fjalla One, sans-serif;
  font-size: 14px;
  line-height: inherit;
  text-shadow: 1px 1px 1px #fff;
  text-transform: uppercase;
  word-spacing: 1.1px;
}

.title {
  align-self: center;
  margin: 2px 0 2px 13px;
}

.extraHeaderLine {
  flex: 4;
  margin-top: 29px;
  width: 100%;
  height: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: linear-gradient(180deg, #fff 0, #e0edf3 99%);
  background: var(--ct-my-maps-title-extraHeaderLine-bg);

  @media screen and (max-width: 1000px) {
    .r & {
      display: none;
    }
  }
}

.buttonContainer {
  display: flex;
  flex: 0 1 150px;
  justify-content: flex-end;
}

.svgPlaceholderReverse {
  transform: scaleX(-1);
}

.buttonCreate {
  position: relative;
  margin-right: 4px;
  width: 112px;
  height: 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button {
  align-self: center;
  padding: 0;
  border: none;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.buttonTitle {
  position: relative;
  left: -1px;
  pointer-events: none;
  color: #628ba0;
  text-shadow: 1px 1px 1px hsla(0, 0%, 100%, .45);
}
