.flexRowStart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flexRowCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowsSkeletonWrap {
  width: 100%;
  height: 100%;
  display: block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  background: #fff;
  background: var(--ct-panel-bg);
}

.sectionAnimation {
  animation-name: skeletonBlinking;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.rowWrap {
  composes: flexRowStart;
  height: 33px;
  width: inherit;
  border-top: 1px solid #d4dfe4;
  border-top-color: var(--ct-skeleton-border-color);
}

.pseudoEntity {
  position: absolute;
  background: #dff2f7;
  background: var(--ct-skeleton-content-bg);
  margin: 8px;
}

.sectionEntityBefore {
  &::before {
    content: '';
    width: inherit;
    height: 20px;

    @extend .pseudoEntity;
    @extend .sectionAnimation;
  }
}

.sectionEntityAfter {
  &::after {
    content: '';
    width: 50px;
    height: 20px;
    right: 0;

    @extend .pseudoEntity;
    @extend .sectionAnimation;
  }
}

.sectionRightBorder {
  border-right: 1px solid #d4dfe4;
  border-right-color: var(--ct-skeleton-border-color);
}

.section {
  height: inherit;
  position: relative;
  background: #fff;
  background: var(--ct-panel-bg);
  border-right: 1px solid #d4dfe4;
  border-right-color: var(--ct-skeleton-border-color);
  box-sizing: border-box;
  composes: sectionRightBorder;
  composes: sectionEntityBefore;
}

.nameSection {
  width: 220px;
  composes: section;

  &::before {
    width: 160px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 229px;

      &::before {
        width: 127px;
      }
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 175px;

      &::before {
        width: 44px;
      }
    }
  }
}

.nameSectionInvites {
  width: 220px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 212px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 155px;
    }
  }
}

.lastEditSection {
  width: 61px;
  composes: section;

  &::before {
    width: 44px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}

.editorsSection {
  width: 55px;
  composes: section;

  &::before {
    width: 38px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}

.testersSection {
  width: 55px;
  composes: section;

  &::before {
    width: 38px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}

.playersSection {
  width: 55px;
  composes: section;

  &::before {
    width: 38px;
  }
}

.playersSectionInvites {
  width: 55px;
  composes: sectionEntityAfter;

  &::before {
    content: none;
  }

  &::after {
    width: 38px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      &::before {
        content: '';
        width: 17px;
      }

      width: 78px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 78px;
    }
  }
}

.releaseSection {
  width: 120px;
  composes: section;
  composes: sectionEntityAfter;

  &::before {
    width: 46px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}

.ratingSection {
  width: 116px;
  composes: section;

  &::before {
    width: 99px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}

.manageSection {
  width: 102px;
  composes: section;
  composes: flexRowCenter;
  border-right: none;

  &::before {
    display: none;
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 90px;
    }
  }
}

.manageSubSection {
  width: 34px;
  height: 34px;
  composes: sectionEntityBefore;
  composes: sectionRightBorder;

  &:last-of-type {
    border-right: none;
  }

  &::before {
    width: 18px;
    height: 18px;
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 30px;

      &::before {
        width: 13px;
        height: 18px;
      }
    }
  }
}

.leaveManageSubSection {
  width: 70px;
  position: relative;
  composes: sectionEntityAfter;

  &::before {
    left: 0;
    width: 28px;
  }

  &::after {
    right: 0;
    width: 18px;
    height: 18px;
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 70px;

      &::before {
        left: 0;
        width: 24px;
        height: 18px;
      }
    }
  }
}

@keyframes skeletonBlinking {
  0% {
    opacity: 1;
  }

  15% {
    opacity: .75;
  }

  25% {
    opacity: .5;
  }

  50% {
    opacity: .45;
  }

  80% {
    opacity: .75;
  }

  95% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }
}
