.deleteDialog {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: column;
  color: #444;
  color: var(--default-gray-4-color);
  font-size: 12px;
  line-height: 16px;
  height: 90px;

  :global(.tornPreloader) {
    top: unset;
  }

  .deleteActions {
    .dialogButton {
      background: transparent;
      border: none;
      color: #069;
      color: var(--default-blue-color);
      font-weight: bold;
      font-family: 'Arial', normal;
      font-size: 12px;
      cursor: pointer;

      &:first-child {
        margin-right: 25px;
      }
    }
  }
}
