.wrap {
  position: absolute;
  top: -6px;
  left: -184px;
  width: 160px;
  height: 12px;
  padding: 5px 0 6px 10px;
  background: #fff;
  background: var(--default-bg-panel-active-color);
  border: 1px solid #ddd;
  border-color: var(--panel-divider-outer-side-color);
  transition: opacity 0.3s;
  display: block;
  pointer-events: none;
  line-height: 13px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    right: -11px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 12px 10px;
    border-color: transparent transparent transparent #ddd;
    border-color: transparent transparent transparent var(--panel-divider-outer-side-color);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: -10px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 12px 10px;
    border-color: transparent transparent transparent #fff;
    border-color: transparent transparent transparent var(--default-bg-panel-active-color);
  }
}

.container {
  max-width: unset;
  max-height: unset;
  width: auto;
  height: 16px;
  padding: unset;
  background: unset;
  box-shadow: unset;
  line-height: unset;
  text-align: unset;
  overflow: hidden;
  border: none !important;

  #{$dark-mode} {
    border: none;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 160px;
    height: 4px;
    background: #fff;
    background: var(--default-bg-panel-active-color);
  }
}

.title {
  padding: unset;
  position: relative;
  top: -14px;
  line-height: 14px;
  transition: top 0.3s;

  &.afterAction {
    top: 0px;
  }
}

.arrowWrap {
  display: none;
}

.tooltipArrow {
  display: none;
}
