.appWrapper {
  display: block;
  // margin: 0 auto;
  float: right;
  // padding-top: 10px;
  font-family: Fjalla One, sans-serif;
  width: 784px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 386px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 320px;
    }
  }
}

// :global {
//   #christmastownroot { // TODO: think how to better inject sidebar in SPA page. temporary hack for MyMaps + Sidebar layout!!
//     max-width: 784px;
//     float: right;
//   }
// }
