@import '../../styles/index.cssmodule.scss';

.close {
  position: absolute;
  top: 7px;
  right: 7px;
  margin: auto;
  margin-top: 0;
  margin-right: 0;
  margin-left: 10px;
  width: auto;
  height: auto;
  composes: button;
  composes: flexCenter;
}
