$fringeShadowWidth: 2px;

%fringe {
  $width: 62px;

  position: absolute;
  left: calc(50% - #{$width / 2});
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $width;
  height: 16px;
  box-shadow: 0 0 $fringeShadowWidth #00000040;
  background-color: var(--loadouts-window-color);
  font-family: Arial, sans-serif;
  font-size: 11px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: $width;
    height: $fringeShadowWidth;
    background-color: var(--loadouts-window-color);
  }
}

.ammo {

  @extend %fringe;

  bottom: 0;
  display: flex;
  padding-top: 1px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  user-select: none;
  color: var(--loaduots-standard-armory-color);

  &::before {
    bottom: -$fringeShadowWidth;
  }
}

.ammoTooltip {
  text-align: center;
}

.ammoDescription {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.currentAmmoTypeTitle {
  font-weight: bold;
}

.ammoAvailable {
  line-height: 11px;
}

.eternity {
  width: 19px;
  height: 7px;
  background: url(/images/v2/attack/eternity.png) left top no-repeat;
}
// TODO: Should be in svg

.loading {
  opacity: .7;
}

.standard {
  color: var(--loaduots-standard-armory-color);
}

.hollowPoint {
  color: #8c4600;
}

.tracer {
  color: #e67700;
}

.piercing {
  color: #1864ab;
}

.incendiary {
  color: #c92a2a;
}
