.d .stats-main-wrap a {
  text-decoration: none;
}

.d .stats-main-wrap .stats-wrap .overall-stats-wrap,
.d .stats-main-wrap .stats-wrap .your-stats-wrap,
.d .stats-main-wrap .top-wrap .top-box {
  width: 387px;
}

.d .stats-main-wrap .top-wrap .top-box.wide {
  width: 784px;
  float: none;
}

.d .stats-main-wrap .top-wrap .top-box {
  float: left;
}

.d .stats-main-wrap .stats-wrap .cont-gray,
.d .stats-main-wrap .top-wrap .cont-gray {
  overflow: hidden;
}

.d .stats-main-wrap .stats-wrap .your-stats-wrap,
.d .stats-main-wrap .top-wrap .top-box.first + .top-box {
  padding-left: 10px;
}

.d .stats-main-wrap .stats-wrap .title:first-child .item,
.d .stats-main-wrap .top-box .title:first-child .item {
  border-top: 0;
}

.d .stats-main-wrap .stats-wrap .title .item > li,
.d .stats-main-wrap .top-box .title .item > li {
  color: #666;
  color: var(--default-gray-6-color);
  font-weight: bold;
  text-shadow: 0 1px 1px rgb(255 255 255);
  text-shadow: var(--title-text-shadow);
}

.d .stats-main-wrap .stats-wrap .item,
.d .stats-main-wrap .top-box .item {
  border-bottom: 1px solid #CCC;
  border-bottom-color: var(--default-panel-divider-outer-side-color);
  border-top: 1px solid #FFF;
  border-top-color: var(--default-panel-divider-inner-side-color);
}

.d .stats-main-wrap .stats-wrap .item > li,
.d .stats-main-wrap .top-box .item > li {
  margin-bottom: -2px;
  padding: 0 10px 2px 10px;
  float: left;
  border-left: 1px solid #CCC;
  border-left-color: var(--default-panel-divider-outer-side-color); 
  border-right: 1px solid #FFF;
  border-right-color: var(--default-panel-divider-inner-side-color); 
}

.d .stats-main-wrap .stats-wrap .item > li {
  height: 22px;
  line-height: 22px;
}

.d .stats-main-wrap .top-box .item > li {
  height: 32px;
  line-height: 30px;
}

.d .stats-main-wrap .stats-wrap .item > li:first-child,
.d .stats-main-wrap .top-box .item > li:first-child {
  border-left: 0;
}

.d .stats-main-wrap .stats-wrap .item > li:nth-last-child(2),
.d .stats-main-wrap .top-box .item > li:nth-last-child(2) {
  border-right: 0;
}

.d .stats-main-wrap .stats-wrap .item > li.stat {
  width: 215px;
}

.d .stats-main-wrap .stats-wrap .item > li.stat-value {
  width: 130px;
  text-align: right;
}

.d .stats-main-wrap .top-box .item > li.pos {
  width: 21px;
  text-align: right;
}

.d .stats-main-wrap .top-box .item > li.player {
  padding-right: 0;
  width: 132px;
}

.d .stats-main-wrap .top-box.wide .item > li.player {
  padding-right: 0;
  width: 232px;
}

.d .stats-main-wrap .top-box .item > li.level {
  width: 31px;
  text-align: right;
}

.d .stats-main-wrap .top-box .item > li.amount {
  width: 127px;
  text-align: right;
}

.d .stats-main-wrap .top-box.wide .item > li.amount {
  width: 424px;
}

.d .stats-main-wrap .top-box.wide .item > li.jackpot {
  width: 330px;
  text-align: right;
}

.d .stats-main-wrap .top-box.wide .item > li.jackpot_date {
  width: 68px;
  text-align: right;
}

.d .stats-main-wrap .user.name {
  margin-left: 3px;
}

.d .stats-main-wrap #iconTray,
.d .stats-main-wrap .user.name,
.d .stats-main-wrap .user.faction {
  vertical-align: middle;

  /* margin-bottom: 2px; */
}

.d .stats-main-wrap #iconTray {
  height: 16px;
  font-size: 0;
}

.d .stats-main-wrap .user.name,
.d .stats-main-wrap .user.faction {
  display: inline-block;
  height: 20px;
}

.d .stats-main-wrap .user.faction {
  display: none;
}


.d .stats-main-wrap .stats-wrap .cont-gray > li.last .item,
.d .stats-main-wrap .top-box .cont-gray > li.last .item {
  border-bottom: 0;
}

.d .stats-main-wrap .top-box.wide .cont-gray {
  background: url(/images/v2/casino/slots/statistics/jackpot_bg.png) right 34px var(--default-bg-panel-color) no-repeat;
}

.d .stats-main-wrap .stats-wrap .item > li.clear,
.d .stats-main-wrap .top-box .item > li.clear,
.d .stats-main-wrap .top-box.wide .item > li.clear {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  float: none;
  border: 0;
  font-size: 0;
  line-height: 0;
}

.d .stats-main-wrap .d-hide,
.d .stats-main-wrap .m-show {
  display: none;
}

@media screen and (max-width: 1000px), screen and (max-device-width: 1000px) {
  .r .stats-main-wrap .d-hide {
    display: block;
  }

  .r .stats-main-wrap .stats-wrap .overall-stats-wrap,
  .r .stats-main-wrap .stats-wrap .your-stats-wrap,
  .r .stats-main-wrap .top-wrap .top-box,
  .r .stats-main-wrap .top-wrap .top-box.wide {
    width: 386px;
  }

  .r .stats-main-wrap .stats-wrap .tabs-title > li.ui-tabs-active.ui-state-active a {
    color: #fff;
  }
  /* FIXME: Dark Mode unknown element */

  .r .stats-main-wrap .stats-wrap .tabs-title > li a {
    display: block;
    background: transparent;
    color: #ccc;
  }
  /* FIXME: Dark Mode unknown element */

  .r .stats-main-wrap .stats-wrap .tabs-title > li a:hover {
    color: #fff;
  }
  /* FIXME: Dark Mode unknown element */

  .r .stats-main-wrap .stats-wrap .tabs-title > li {
    position: relative;
    top: 0;
    left: 0;
    padding: 0 10px;
    width: 172px;
    float: left;
    border-right: 1px solid #000;
    border-left: 1px solid #444;
    background: url(/images/v2/forums/stats_tab_middle.png) 0 0 repeat-x;
    line-height: 34px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
  }

  .r .stats-main-wrap .stats-wrap .tabs-title > li:first-child {
    border-left: 0;
  }

  .r .stats-main-wrap .stats-wrap .tabs-title > li.last {
    border-right: 0;
  }


  .r .stats-main-wrap .stats-wrap .tabs-title > li.clear,
  .r .stats-main-wrap .stats-wrap .records > li .clear {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    float: none;
    border: 0;
    font-size: 0;
    line-height: 0;
  }

  .r .stats-main-wrap .stats-wrap .tabs-title > li.ui-tabs-active.ui-state-active .shadow-left,
  .r .stats-main-wrap .stats-wrap .tabs-title > li.ui-tabs-active.ui-state-active .shadow-right {
    position: absolute;
    top: 0;
    width: 4px;
    height: 33px;
    background: url(/images/v2/forums/stats_tab_ends.png) 0 0 no-repeat;
  }

  .r .stats-main-wrap .stats-wrap .tabs-title > li.ui-tabs-active.ui-state-active .shadow-left {
    left: -4px;
  }

  .r .stats-main-wrap .stats-wrap .tabs-title > li.ui-tabs-active.ui-state-active .shadow-right {
    right: -4px;
    background-position: -4px 0;
  }

  .r .stats-main-wrap .stats-wrap .tabs-title > li.ui-tabs-active.ui-state-active {
    z-index: 10;
    background-position: 0 -34px;
  }

  .r .stats-main-wrap .stats-wrap .your-stats-wrap {
    padding-left: 0;
  }

  .r .stats-main-wrap .stats-wrap .overall-stats-wrap .title-black,
  .r .stats-main-wrap .stats-wrap .your-stats-wrap .title-black {
    display: none;
  }

  .r .stats-main-wrap .t-hide,
  .r .stats-main-wrap .top-box .item > li.level {
    display: none;
  }

  .r .stats-main-wrap .top-wrap .top-box.first + .top-box {
    padding-left: 0;
  }

  .r .stats-main-wrap .stats-wrap .item > li.stat {
    width: 205px;
  }

  .r .stats-main-wrap .stats-wrap .item > li.stat-value {
    width: 139px;
  }

  .r .stats-main-wrap .top-box .item > li.amount,
  .r .stats-main-wrap .top-box.wide .item > li.amount {
    width: 179px;
  }

  .r .stats-main-wrap .top-box.wide .item > li.jackpot {
    width: 92px;
  }

  .r .stats-main-wrap .top-box.wide .item > li.jackpot_date {
    width: 65px;
  }

  .r .stats-main-wrap .top-box.wide .item > li.player {
    padding-right: 0;
    width: 132px;
  }

  .r .stats-main-wrap .top-box.wide .cont-gray {
    background-image: none;
  }

  .r .stats-main-wrap .top-wrap .cont-gray.select-wrap {
    padding: 10px;
    overflow: visible;
  }

  .r .stats-main-wrap .top-box {
    display: none;
  }

  .r .jackpot-wrap .top-box {
    display: block !important;
  }


  /* Dropdown UI */

  .r .stats-main-wrap .select-wrap {
    position: relative;
    z-index: 4;
  }

  .r .stats-main-wrap .select-wrap .ui-selectmenu {
    padding-right: 0;
    height: 38px;
    float: left;
    border-radius: 0;
    box-shadow: none;
    background: url(/images/v2/items/dropdown_top_middle.png) left top repeat-x;
  }

  .r .stats-main-wrap .select-wrap .ui-selectmenu,
  .r .stats-main-wrap .select-wrap .ui-selectmenu-status,
  .r .stats-main-wrap .select-wrap .ui-selectmenu-menu li a {
    color: #333;
  }

  .r .stats-main-wrap .select-wrap.disable .ui-selectmenu-status {
    color: #999;
  }

  .r .stats-main-wrap .select-wrap .ui-selectmenu-icon {
    right: 5px;
    margin-top: -6px;
    width: 9px;
    height: 14px;
    background: url(/images/v2/mobile/mobile_sections_arrow_side.png) left center no-repeat;
  }

  .r .stats-main-wrap .select-wrap .ui-state-active .ui-selectmenu-icon {
    right: 3px;
    width: 14px;
    height: 13px;
    background: url(/images/v2/mobile/mobile_sections_arrow_down.png) left center no-repeat;
  }

  .r .stats-main-wrap .select-wrap.disable .ui-selectmenu-icon {
    background: url(/images/v2/main/arrow_side.png) left bottom no-repeat;
  }

  .r .stats-main-wrap .select-wrap.disable .ui-state-active .ui-selectmenu-icon {
    background: url(/images/v2/main/arrow_down.png) left bottom no-repeat;
  }

  .r .stats-main-wrap .select-wrap .ui-selectmenu-menu li a,
  .r .stats-main-wrap .select-wrap .ui-selectmenu-status {
    padding-left: 5px;
  }

  .r .stats-main-wrap .select-wrap .ui-selectmenu-status {
    line-height: 36px;
  }

  .r .stats-main-wrap .select-wrap .select-type-l,
  .r .stats-main-wrap .select-wrap .select-type-r {
    width: 6px;
    height: 38px;
    float: left;
    background: url(/images/v2/items/dropdown_top_ends.png) left top no-repeat;
  }

  .r .stats-main-wrap .select-wrap .select-type-r {
    background-position: right top;
  }

  .r .stats-main-wrap .select-wrap .ui-selectmenu-menu {
    position: static;
    top: 3px !important;
    left: 4px !important;
    width: auto;
    background-color: transparent;
  }

  .r .stats-main-wrap .select-wrap .ui-selectmenu-menu ul {
    margin: -1px 0 0 -5px;
    padding-right: 10px;
  }

  .r .stats-main-wrap .select-wrap .select-top-stats-list .ui-selectmenu-menu li {
    margin: 0;
    width: 354px;
  }

  .r .stats-main-wrap .select-wrap .select-top-stats-list .ui-selectmenu-menu li.ui-corner-bottom a {
    border-radius: 0 0 0 5px;
  }

  .r .stats-main-wrap .select-wrap .ui-selectmenu-status {
    height: 38px;
    line-height: 38px;
  }

  .r .stats-main-wrap .select-wrap .ui-selectmenu-menu li a,
  .r .stats-main-wrap .select-wrap .ui-selectmenu-item-focus {
    height: 34px;
    line-height: 34px;
  }

  .r .stats-main-wrap .select-wrap .ui-selectmenu-item-focus a {
    background-color: #fff;
  }

  .r .stats-main-wrap .select-wrap .select-top-stats-list {
    position: absolute;
    top: 45px;
    left: 17px;
    z-index: 3;
  }

  .r .stats-main-wrap .select-top-stats-list .list {
    border-style: none;
    background: url(/images/v2/items/dropdown_bottom_middle.png) left top repeat-x;
  }

  .r .stats-main-wrap .select-top-stats-list .l,
  .r .stats-main-wrap .select-top-stats-list .r {
    display: inline-block;
    width: 7px;
    height: 176px;
    background: url(/images/v2/items/dropdown_bottom_ends.png) left top no-repeat;
  }

  .r .stats-main-wrap .select-top-stats-list .l {
    margin-left: -7px;
    float: left;
  }

  .r .stats-main-wrap .select-top-stats-list .r {
    margin-right: -7px;
    float: right;
    background-position: right top;
  }

  .r .stats-main-wrap .select-top-stats-list .scrollbar {
    top: 2px;
  }

  .r .stats-main-wrap .select-wrap .select-top-stats-list {
    z-index: 999;
  }

  .r .stats-main-wrap .select-top-stats-list .viewport {
    border-radius: 0 0 4px 4px;
  }
}
@media screen and (max-width: 600px), screen and (max-device-width: 600px) {
  .r .stats-main-wrap .stats-wrap .item > li,
  .r .stats-main-wrap .stats-wrap .item > li.stat,
  .r .stats-main-wrap .stats-wrap .item > li.stat-value {
    width: 300px;
    float: none;
    border-left: 0;
    text-align: left;
  }

  .r .stats-main-wrap .stats-wrap .item > li.stat {
    padding-bottom: 0;
    font-weight: bold;
  }

  .r .stats-main-wrap .stats-wrap .item > li.stat-value {
    padding-top: 0;
  }

  .r .stats-main-wrap .stats-wrap .item > li {
    margin-bottom: 0;
    padding: 5px 10px 7px 10px;
    height: 15px;
    line-height: normal;
  }

  .r .stats-main-wrap .stats-wrap .overall-stats-wrap,
  .r .stats-main-wrap .stats-wrap .your-stats-wrap,
  .r .stats-main-wrap .top-wrap .top-box,
  .r .stats-main-wrap .top-wrap .top-box.wide {
    width: 320px;
  }

  .r .stats-main-wrap .stats-wrap .tabs-title > li {
    width: 139px;
  }

  .r .stats-main-wrap .select-wrap .select-top-stats-list {
    width: 286px;
  }

  .r .stats-main-wrap .select-wrap .ui-selectmenu,
  .r .ui-selectmenu-menu-dropdown {
    width: 288px !important;
  }

  .r .select-top-stats-list .list .viewport,
  .r .select-wrap .select-top-stats-list .list .ui-selectmenu-menu li {
    width: 286px;
  }

  .r .stats-main-wrap .stats-wrap .tabs-title > li {
    border-radius: 0;
  }

  .r .stats-main-wrap .top-box .item > li.amount,
  .r .stats-main-wrap .top-box.wide .item > li.amount {
    width: 113px;
  }

  .r .stats-main-wrap .m-show {
    display: inline-block;
  }
}
