.userContainer {
  position: relative;
  margin: 5px 4.5px;
  width: 41px;
  height: 41px;
}

.buttonDefauls {
  margin: 0;
  padding: 0;
  border: none;
  color: #888;
  font: inherit;
  line-height: 15px;
  cursor: pointer;
}

.userButton {
  margin: 1px;
  width: 40px;
  height: 40px;
  background: #f0f0e1;
  composes: buttonDefauls;

  &:hover {
    margin: 0;
    width: 42px;
    height: 42px;
    border: 1px solid #fd8860;
  }
}

.userImage {
  pointer-events: none;
  user-select: none;
  // background: #f0f0e1;
}

.buttonClicked {
  margin: 0;
  width: 42px;
  height: 42px;
}

.imageClicked {
  composes: buttonClicked;
  border: 1px solid #fe9570;
  box-shadow: 0 0 7px 0 #d43e09ab;

  &:hover {
    border: 1px solid #fe9570;
  }
}

.fulfilledUser {
  composes: buttonClicked;
  border: 1px solid #85b200;
  box-shadow: 0 0 7px 0 #85b200;

  &:hover {
    border: 1px solid #85b200;
  }
}

.imgPlaceholder {
  display: block;
  margin: 1px;
  width: 40px;
  height: 40px;
  background: #f0f0e1;
}
