@import '../../styles/mixins';

.players {
  .full {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;

    @include appType('desktop') {
      background-image: url(https://dev-www.torn.com/casino/holdem/images/frames/976_frame.png);
    }
    @include appType('tablet') {
      background-image: url(https://dev-www.torn.com/casino/holdem/images/frames/578_frame.png);
    }
    @include appType('mobile') {
      background-image: url(https://dev-www.torn.com/casino/holdem/images/tables/320/320_cats_chance.png);
    }
  }

  .sidebar {
    position: relative;
    background-repeat: no-repeat;

    @include appType('desktop') {
      background-image: url(https://dev-www.torn.com/casino/holdem/images/frames/578_frame.png);
    }
    @include appType('tablet') {
      background-image: url(https://dev-www.torn.com/casino/holdem/images/tables/578_s/578_s_cats_chance.png);
    }
    @include appType('mobile') {
      background-image: url(https://dev-www.torn.com/casino/holdem/images/tables/320/320_cats_chance.png);
    }
  }
}
