.account-links-wrap {
  display: table;
  width: 172px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(to bottom, #fff 0%, #ddd 100%);
  overflow: hidden;
  position: relative;
  z-index: 2;

  .account-links {
    display: table-row;
    opacity: 0.2;
    transition: opacity 500ms;

    &.active {
      opacity: 1;
      transition: opacity 500ms;

      a {
        cursor: pointer;
      }

      .wrap:hover {
        background: linear-gradient(to bottom, #ddd 0%, #fff 100%);
      }
    }

    &.not-checked {
      opacity: 0;
      transition: opacity 300ms, visibility 300ms;
      visibility: hidden;
    }
  }
}

.wrap {
  display: table-cell;
  height: 35px;

  a {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    cursor: default;
    font-size: 0;
    background-image: url(/images/v2/sidebar_account_buttons.png);
    background-position-y: -2px;

    &.messages {
      background-position: 8px -2px;
    }

    &.events {
      background-position: -32px -2px;
    }

    &.awards {
      background-position: -72px -2px;
    }
  }


}

.messages:after, .events:after {
  content: '';
  right: 0;
  top: 3.5px;
  height: 28px;
  position: absolute;
  width: 1px;
  background: transparent;
  background: linear-gradient(to bottom, rgba(204, 204, 204, 0) 0%, rgba(204, 204, 204, 100) 50%, rgba(204, 204, 204, 0) 100%);
}

.events:before, .awards:before {
  left: 1px;
  background: transparent;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 100) 50%, rgba(255, 255, 255, 0) 100%);
}
