$iconHeight: 34px;

$mobile-icons-list: 'missions', 'messages', 'events', 'awards', 'home', 'items', 'city', 'job', 'gym', 'property',
'education', 'crimes', 'newspaper', 'jail', 'hospital', 'casino', 'forums', 'hall-of-fame', 'factions', 'staff',
'friends', 'enemies', 'recruit-citizens', 'admin', 'competition', 'competition-egg-hunt', 'competition-dog-tags', 'witch', 'zombie',
'halloween', 'christmas-town', 'christmas', 'rules', 'elimination';
$desktop-icons-list: 'missions', 'refills', 'messages', 'events', 'awards', 'staff', 'friends', 'enemies', 'home', 'items',
'city', 'job', 'gym', 'property', 'education', 'crimes', 'newspaper', 'jail', 'hospital', 'casino', 'forums', 'hall-of-fame',
'factions', 'recruit-citizens', 'admin', 'competition', 'competition-egg-hunt', 'competition-dog-tags', 'witch', 'zombie',
'halloween', 'christmas-town', 'christmas', 'rules', 'elimination';

.areas {
  line-height: 16px;
  list-style: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.areas-mobile {
  background: #2e2e2e;
  background-image: linear-gradient(to bottom, #2e2e2e 0%, #414040 100%);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 100;
  border-top: 1px solid #000;

  .swiper {
    align-items: center;

    .slide {
      width: auto;
      text-align: center;
      padding: 0 2px;
      box-sizing: border-box;
      position: relative;
    }
  }

  .swiper-button {
    width: 26px;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
  }

  .button-prev {
    left: 0;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  }

  .button-next {
    right: 0;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  }

  :global {

    .swiper-button-disabled {
      opacity: 0;
    }
  }
}

.areas {

  .header {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    background: repeating-linear-gradient(90deg,#242424,#242424 2px,#2e2e2e 0,#2e2e2e 4px);
    padding-left: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-size: 13px;
    text-shadow: 0 1px 0 #333;
    letter-spacing: 1px;
    margin: 0;
    user-select: none;
    font-weight: normal;
    cursor: default;
    line-height: 21px;
    height: 22px;

    .header-arrow {
      display: none;
    }
  }
}

@media screen and (max-width: 1000px) {

  .areas {

    .header {
      cursor: pointer;
      margin-bottom: 1px;
      height: 34px;
      line-height: 34px;

      .header-arrow {
        float: right;
        display: block;
        height: 9px;
        width: 14px;
        margin: 13px 12px 12px;
        background: url(/images/v2/mobile/mobile_side_nav_arrow_down.png) left top no-repeat;
      }
    }
  }
}

.area-desktop {
  margin-top: 1px;
  overflow: hidden;

  .area-row {
    position: relative;
    overflow: hidden;
    vertical-align: top;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #fff;

    a {
      opacity: 0.2;
      transition: opacity 500ms;
    }
  }

  a {
    overflow: hidden;
    color: #333;
    text-decoration: none;
    height: 100%;
    display: block;
    cursor: default;

    .icon {
      vertical-align: middle;
      display: inline-block;
      background-image: url(/images/v2/sidebar_icons_desktop_2017.png);
      background-repeat: no-repeat;
    }

    span {
      float: none;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }
  }
}

.area-desktop {

  .icon {
    width: 34px;
    height: 23px;
  }

  @for $index from 1 through length($desktop-icons-list) {

    .#{nth($desktop-icons-list, $index)}-icon {
      background-position: 0 #{34 * (1 - $index) - 5}px;
    }
  }
}

@media screen and (max-width: 1000px) {

  .area-desktop {

    .icon {
      width: 34px;
      height: 34px;
    }

    @for $index from 1 through length($desktop-icons-list) {

      .#{nth($desktop-icons-list, $index)}-icon {
        background-position: 0 #{34 * (1 - $index)}px;
      }
    }
  }
}

.areas.active {

  .area-desktop a {
    opacity: 1;
    cursor: pointer;
    transition: opacity 500ms;
  }

  .area-row {

    &:hover {
      background-color: #fff;
    }
  }
}

.areas.not-checked {

  h2 span {
    opacity: 0;
    transition: opacity 300ms, visibility 300ms;
    visibility: hidden;
  }

  .area-desktop a {
    opacity: 0;
    transition: opacity 300ms, visibility 300ms;
    visibility: hidden;
  }
}
