.chat-box-wrap {
  height: 39px;
  position: fixed;
  bottom: 0;
  color: #fff;
  z-index: 1;
  width: 976px;
  opacity: 1;
  transition: all 500ms linear;
}

.chat-box {
  float: right;
  margin: 0 1px;
}

.chat-box-head {
  position: relative;
  height: 34px;
  max-width: 120px;
  width: 120px;
  margin: 5px 6px 0;
  background: url(/images/v2/chat/tabs_middle.png) 0 0 repeat-x;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: inherit;

  .icon {
    display: inline-block;
    vertical-align: middle;
    height: 34px;
    width: 34px;
    background: url(/images/v2/chat/tab_icons.svg) 0 0;
    filter: drop-shadow(0px 0px 1px #111111AD);
    margin-left: -6px;
  }

  .left {
    left: -6px;
  }

  .right {
    right: -6px;
    background-position: 100% 0;
  }
}

.chat-box-people {
  bottom: 39px;
  z-index: 999;
  right: 0;
  float: right;
  margin: 0 1px;

  .chat-box-head {
    width: 22px;

    .icon {
      background-position: -408px top;
    }

    &:hover {
      background-position: left -204px;

      .left {
        background-position: left -204px;
      }

      .right {
        background-position: right -204px;
      }

      .icon {
        background-position: -408px bottom;
      }
    }
  }

  .left,
  .chat-box-head {
    background-position: left -170px;
  }

  .right {
    background-position: right -170px;
  }
}

.chat-box-settings {
  bottom: 39px;
  z-index: 999;
  float: right;
  margin: 0 1px;

  .chat-box-head {
    width: 22px;
    background-position: left -170px;

    .icon {
      background-position: -442px top;
    }

    &:hover {
      background-position: left -204px;

      .left {
        background-position: left -204px;
      }

      .right {
        background-position: right -204px;
      }

      .icon {
        background-position: -442px bottom;
      }
    }
  }

  .left,
  .chat-box-head {
    background-position: left -170px;
  }

  .right {
    background-position: right -170px;
  }
}

.chat-box-new-players {
  top: 0;
  float: right;
  margin: 0 1px;

  .chat-box-head {

    .icon {
      background-position: -204px top;
    }

    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 80px;
      vertical-align: middle;
      display: inline-block;
      white-space: nowrap;
    }

    &:hover {
      background-position: left -34px;

      .left {
        background-position: left -34px;
      }

      .right {
        background-position: right -34px;
      }

      .icon {
        background-position: -204px bottom;
      }
    }
  }
}

.chat-box-trade {
  top: 0;
  float: right;
  margin: 0 1px;

  .chat-box-head {

    .icon {
      background-position: -272px top;
    }

    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 80px;
      vertical-align: middle;
      display: inline-block;
      white-space: nowrap;
    }

    &:hover {
      background-position: left -34px;

      .left {
        background-position: left -34px;
      }

      .right {
        background-position: right -34px;
      }

      .icon {
        background-position: -272px bottom;
      }
    }
  }
}

.left,
.right {
  position: absolute;
  top: 0;
  height: 34px;
  width: 6px;
  background: url(/images/v2/chat/tabs_ends.png) 0 0 no-repeat;
}

@media screen and (max-width: 1000px) {

  .chat-box-wrap {
    width: 578px;
  }
}

@media screen and (max-width: 600px) {

  .chat-box-wrap {
    width: initial;
    right: 0;
  }

  .chat-box-trade,
  .chat-box-new-players {

    .chat-box-head {
      width: 22px;

      .name {
        display: none;
      }
    }
  }
}
