.frame {
  position: absolute;
  left: -4px;
  width: 178px;
  border: 1px solid #bfff00;
  filter: drop-shadow(1px 1px 5px #bfff00);
  transition: top 300ms;
}

.step-1 {
  top: 18px;
  height: 38px;
}

.step-2 {
  top: 83px;
  height: 20px;
}

.step-3 {
  top: 102px;
  height: 20px;
}

.step-4 {
  top: 130px;
  height: 39px;
}

.step-5 {
  top: 164px;
  height: 39px;
}

.step-6 {
  top: 199px;
  height: 39px;
}

.step-7 {
  top: 235px;
  height: 39px;
}

.step-8 {
  top: 278px;
  height: 42px;
}

.step-9 {
  display: none;
}

.step-10 {
  display: none;
}

@media screen and (max-width: 1000px) {
  .step-1 {
    top: 30px;
  }

  .step-2 {
    top: 95px;
  }

  .step-3 {
    top: 115px;
  }

  .step-4 {
    top: 143px;
  }

  .step-5 {
    top: 177px;
  }

  .step-6 {
    top: 210px;
  }

  .step-7 {
    top: 248px;
  }

  .step-8 {
    top: 290px;
  }
}
