:global {
  position: relative;

  .d .content-wrapper.m-left20 {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {

  :global {

    .content .container.tutorial {
      width: 100%;
    }

    .r .responsive-sidebar-header .mobile-buttons {
      display: none;
    }
  }
}
