.user-information {
  .content {
    background: #f2f2f2;
    line-height: 16px;
    padding: 8px 10px 3px;
    margin: 1px 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: default;
    overflow: hidden;
    border-bottom: 1px solid #fff;

    .menu-info-row {
      line-height: 20px;

      .menu-name {
        width: 47px;
        font-weight: 700;
        display: inline-block;
      }

      .menu-value {
        display: inline-block;
        font-weight: normal;
      }
    }
  }
}

.user-information-mobile {
  background: #f2f2f2;
  user-select: none;
  opacity: 1;
  transition: opacity 500ms;
  line-height: 34px;

  .content {

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .header {
    display: none;
  }

  &.not-checked {
    opacity: 0;
    transition: opacity 300ms, visibility 300ms;
  }
}

.user-information {
  .header {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    background: repeating-linear-gradient(90deg,#242424,#242424 2px,#2e2e2e 0,#2e2e2e 4px);
    padding-left: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-size: 13px;
    text-shadow: 0 1px 0 #333;
    letter-spacing: 1px;
    margin: 0;
    user-select: none;
    font-weight: normal;
    cursor: default;
    height: 22px;
    line-height: 21px;

  }
}

@media screen and (max-width: 1000px) {

  .user-information {

    .header {
      height: 34px;
      line-height: 34px;
    }
  }
}
