.list {
  padding: 5px 0;
  list-style: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  & > li {
    padding-left: 10px;
    line-height: 10px;
    width: 142px;
    display: block;
    height: 18px;
    cursor: pointer;
    a {
      display: inline-block;
      line-height: 18px;
      vertical-align: top;
      color: #333;
      text-decoration: none;
      cursor: pointer;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .user-status {
    display: inline-block;
    margin-top: 1px;
    height: 15px;
    width: 16px;
  }

  & > li.online .user-status {
    background: url(/images/v2/online_offline_away.png) no-repeat;
  }

  & > li.idle .user-status {
    background: url(/images/v2/online_offline_away.png) 0 -15px no-repeat;
  }
}

$iconHeight: 34px;

$mobile-icons-list: 'missions', 'messages', 'events', 'awards', 'home', 'items', 'city', 'job', 'gym', 'property',
'education', 'crimes', 'newspaper', 'jail', 'hospital', 'casino', 'forums', 'hall-of-fame', 'factions', 'staff',
'friends', 'enemies', 'recruit-citizens', 'admin', 'competition', 'competition-egg-hunt', 'competition-dog-tags', 'witch', 'zombie',
'halloween', 'christmas-town', 'christmas', 'rules', 'elimination';
$desktop-icons-list: 'missions', 'refills', 'messages', 'events', 'awards', 'staff', 'friends', 'enemies', 'home', 'items',
'city', 'job', 'gym', 'property', 'education', 'crimes', 'newspaper', 'jail', 'hospital', 'casino', 'forums', 'hall-of-fame',
'factions', 'recruit-citizens', 'admin', 'competition', 'competition-egg-hunt', 'competition-dog-tags', 'witch', 'zombie',
'halloween', 'christmas-town', 'christmas', 'rules', 'elimination';

.list-desktop, .list-tablet {
  margin-top: 1px;
  overflow: hidden;

  .list-row {
    position: relative;
    overflow: hidden;
    vertical-align: top;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #fff;


    a, .info {
      opacity: 0.2;
      cursor: default;
      transition: opacity 500ms;
    }
  }

  a {
    overflow: hidden;
    color: #333;
    text-decoration: none;
    height: 100%;
    display: block;

    .icon {
      vertical-align: middle;
      display: inline-block;
      background-image: url(/images/v2/sidebar_icons_desktop_2017.png);
      background-repeat: no-repeat;
    }

    span {
      float: none;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }
  }

  .info {
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0;
    padding: 0 8px;
    user-select: none;
    transform: translateY(-50%);
    height: 100%;

    .amount {
      display: inline-block;
      top: 50%;
      transform: translateY(-50%);
      position: relative;
      vertical-align: middle;
      font-size: 0.8rem;
      line-height: 0.8rem;
      margin-right: 4px;
    }

    .arrow {
      display: inline-block;
      height: 12px;
      width: 12px;
      line-height: 12px;
      background: url(/images/v2/arrow_side.png) 4px top no-repeat;
      top: 50%;
      transform: translateY(-50%);
      position: relative;
      vertical-align: middle;

      &.disabled {
        background: url(/images/v2/main/arrow_side.png) 4px top no-repeat;
      }
    }
  }
}

.list-desktop {

  .icon {
    width: 34px;
    height: 23px;
  }

  @for $index from 1 through length($desktop-icons-list) {

    .#{nth($desktop-icons-list, $index)}-icon {
      background-position: 0 #{34 * (1 - $index) - 5}px;
    }
  }
}

.lists {
  .header {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    background: repeating-linear-gradient(90deg,#242424,#242424 2px,#2e2e2e 0,#2e2e2e 4px);
    padding-left: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-size: 13px;
    text-shadow: 0 1px 0 #333;
    letter-spacing: 1px;
    margin: 0;
    user-select: none;
    font-weight: normal;
    cursor: default;
    height: 22px;
    line-height: 21px;

    .header-arrow {
      display: none;
    }
  }

  &.active {

    .list-desktop {

      a, .info {
        opacity: 1;
        cursor: pointer;
        transition: opacity 500ms;
      }

      .list-row {

        &:hover {
          background-color: #fff;
        }
      }
    }
  }

  &.not-checked {

    h2 span {
      opacity: 0;
      transition: opacity 300ms, visibility 300ms;
      visibility: hidden;
    }

    .list-desktop {

      a, .info {
        opacity: 0;
        transition: opacity 300ms, visibility 300ms;
        visibility: hidden;
        cursor: default;
      }
    }
  }
}

@media screen and (max-width: 1000px) {

  .list-desktop {

    .icon {
      width: 34px;
      height: 34px;
    }

    @for $index from 1 through length($desktop-icons-list) {

      .#{nth($desktop-icons-list, $index)}-icon {
        background-position: 0 #{34 * (1 - $index)}px;
      }
    }
  }

  .lists {

    .header {
      cursor: pointer;
      margin-bottom: 1px;
      height: 34px;
      line-height: 34px;

      .header-arrow {
        float: right;
        display: block;
        height: 9px;
        width: 14px;
        margin: 13px 12px 12px;
        background: url(/images/v2/mobile/mobile_side_nav_arrow_down.png) left top no-repeat;
      }
    }
  }
}
