$mobile-icons-list: 'missions', 'messages', 'events', 'awards', 'home', 'items', 'city', 'job', 'gym', 'property',
'education', 'crimes', 'newspaper', 'jail', 'hospital', 'casino', 'forums', 'hall-of-fame', 'factions', 'staff',
'friends', 'enemies', 'recruit-citizens', 'admin', 'competition', 'competition-egg-hunt', 'competition-dog-tags', 'witch', 'zombie',
'halloween', 'christmas-town', 'christmas', 'rules', 'elimination';

:global {
  .swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    text-align: center;
    padding: 0 2px;
    box-sizing: border-box;
  }

  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    transition: 4000ms;
  }

  #tutorialroot .swiper-container {
    overflow: visible !important;
  }
}

.menu-mobile {
  background: #2e2e2e;
  background-image: linear-gradient(to bottom, #2e2e2e 0%, #414040 100%);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 100;
  border-top: 1px solid #000;
  line-height: 16px;
  list-style: none;
  overflow: hidden;

  .disable-slider {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 41px;
  }

  .start-hint {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f2f2f2;
    z-index: 999;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px;

    &:after {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(238, 238, 238, 0);
      border-bottom-color: #eee;
      border-width: 8px;
      margin-left: -8px;
    }

    &:before {
      border-color: rgba(204, 204, 204, 0);
      border-bottom-color: #ccc;
      border-width: 8px;
      margin-left: -8px;
    }
  }
  .swiper {
    align-items: center;

    .slide {
      width: auto;
      text-align: center;
      padding: 0 2px;
      box-sizing: border-box;
      position: relative;
    }
  }

  .swiper-button {
    width: 26px;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
  }

  .button-prev {
    left: 0;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  }

  .button-next {
    right: 0;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  }



  :global {
    .swiper-button-disabled {
      opacity: 0;
    }
  }
}


.slide-mobile {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 100%;
  box-sizing: border-box;

  a {
    width: 100%;
    text-decoration: none;
    color: #999;
    font-weight: bold;
    font-size: 7px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    vertical-align: middle;
    -webkit-touch-callout: none;
    user-select: none;
    padding: 0;
    margin: 4px 0;
    box-sizing: border-box;
  }
  span {
    display: block;
    line-height: 7px;
    white-space: nowrap;
  }
  .icon {
    background-image: url(/images/v2/sidebar_icons_2017.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 26px;
    background-position-x: -274px;
  }

  @for $index from 1 through length($mobile-icons-list) {
    .#{nth($mobile-icons-list, $index)}-icon {
      background-position: -274px #{34 * (1 - $index) - 5}px;
    }
    &.available, &.attention {
      .#{nth($mobile-icons-list, $index)}-icon {
        background-position: -206px #{34 * (1 - $index) - 5}px;
      }
    }
    &.active {
      .#{nth($mobile-icons-list, $index)}-icon {
        background-position: -240px #{34 * (1 - $index) - 5}px;
      }
    }
  }
}
