.points {
  padding-bottom: 7px;
}

.points-mobile {
  display: inline-block;

  .point-block {

    &:before {
      content: '';
      display: inline-block;
      vertical-align: top;
      height: 19px;
      width: 19px;
      background: url(/images/v2/main/icons/currency_icons_light_bg.png?v=1505220871226) -19px -38px no-repeat;
      margin: 0 4px 0 10px;
    }

    .name {
      display: none;
    }
  }

  &.active {

    .point-block {
      opacity: 1;
    }
  }

  &.checked {

    .point-block {
      opacity: 1;
    }
  }
}

.point-block {
  line-height: 20px;
  text-decoration: none;
  opacity: 0.2;
  transition: opacity 500ms;

  &.active {
    opacity: 1;
    transition: opacity 500ms;
  }

  &.not-checked {
    opacity: 0;
    transition: opacity 300ms, visibility 300ms;
    visibility: hidden;
  }

  .name {
    width: 47px;
    font-weight: 700;
    display: inline-block;
  }
  .value {
    display: inline-block;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 19px;
  }

  .money {
    color: #678c00;
  }

  .username {
    color: #069;
    transition: color 0.2s ease;
  }

  &.mobile {
    display: inline-block;
    padding: 0 5px;
    margin: 5px 0;
    cursor: pointer;

    .point-icon {
      display: inline-block;
      vertical-align: top;
      height: 19px;
      width: 19px;
      background: url(/images/v2/main/icons/currency_icons_light_bg.png?v=1505220871226) left top no-repeat;
      margin-right: 4px;

      &.money {
        background-position: -19px -38px;
      }

      &.level {
        background-position: -19px -133px;
      }
    }
  }
}