.bars-mobile {
  width: 100%;
  background: #f2f2f2;
  padding: 0 8px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  line-height: 34px;
  opacity: 1;
  transition: opacity 500ms;

  &.not-checked {
    opacity: 0;
    transition: opacity 500ms, visibility 500ms;
    visibility: hidden;
  }

  &.checked {

    .bar-mobile {
      opacity: 1;
    }
  }
}

.bars {

  a {
    position: relative;
    z-index: 2;
  }
}

@mixin progress-line($color1, $color2) {
  background: $color1;
  background: -moz-linear-gradient(top, $color1 0, $color2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, $color1), color-stop(100%, $color2));
  background: -webkit-linear-gradient(top, $color1 0, $color2 100%);
  background: -o-linear-gradient(top, $color1 0, $color2 100%);
  background: -ms-linear-gradient(top, $color1 0, $color2 100%);
  background: linear-gradient(to bottom, $color1 0, $color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2', GradientType=0)
}

.bar-mobile {
  display: inline-block;
  box-sizing: border-box;
  padding: 4px 5px;
  margin: 0;
  width: 25%;
  cursor: pointer;
  vertical-align: top;
  opacity: 0.2;

  .bar-name {
    display: none;
  }

  .bar-descr {
    display: none;
  }

  .bar-stats {
    text-align: center;
    overflow: hidden;
    line-height: 1rem;
    white-space: nowrap;

    .bar-value {
      display: inline-block;
      text-align: center;
      font-size: 0.6rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;

      &:before {
        content: '';
        display: inline-block;
        margin-right: 4px;
        width: 12px;
        height: 12px;
        background: url(/images/v2/stat_bar_icons.png) -4px -7px no-repeat;
        vertical-align: middle;
      }
    }
  }

  .progress {
    background-color: #b6b6b6;
    height: 4px;
    position: relative;

    .progress-line-timer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
    .progress-line {
      position: relative;
      overflow: hidden;
      height: 4px;
      max-width: 100%;
      z-index: 3;
    }
  }

  &.energy {
    opacity: 0.2;
    transition: opacity 500ms, visibility 500ms;

    .bar-value:before {
      background-position-x: -6px;
    }
  }

  &.nerve {
    opacity: 0.2;
    transition: opacity 500ms, visibility 500ms;

    .bar-value:before {
      background-position-x: -30px;
    }
  }

  &.happy {
    opacity: 0.2;
    transition: opacity 500ms, visibility 500ms;

    .bar-value:before {
      background-position-x: -54px;
    }
  }

  &.life {
    opacity: 0.2;
    transition: opacity 500ms, visibility 500ms;

    .bar-value:before {
      background-position-x: -79px;
    }
  }

  &.active {
    opacity: 1;
  }

  &.not-checked {
    opacity: 0.2;
    transition: opacity 300ms, visibility 300ms;
  }
}

.bar-desktop {
  margin: 0 0 7px;
  overflow: hidden;
  display: block;
  cursor: default;

  .bar-stats {
    overflow: hidden;
  }

  .bar-name {
    width: 47px;
    float: left;
    font-weight: bold;
  }

  .bar-value {
    float: left;
  }

  .bar-descr {
    float: right;
    color: #999;
  }

  .progress {
    border-radius: 5px;
    border: 1px solid #ddd;
    background: #fff;
    position: relative;
    height: 5px;
    padding: 1px;

    &.full {

      .progress-line-timer, .progress-line {
        border-radius: 5px;
        border-right-width: 1px;
      }
    }

    .progress-line-timer {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-width: 1px 0 1px 1px;
      border-style: solid;
      position: absolute;
      top: -1px;
      left: -1px;
      bottom: -1px;
      z-index: 2;
      max-width: 100%;

      &.full {
        border-radius: 5px;
      }
    }

    .progress-line {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      position: relative;
      overflow: hidden;
      height: 5px;
      max-width: 100%;
      z-index: 3;
      vertical-align: middle;
    }
  }

  .tick-end {
    background-position: -5px -7px
  }

  .tick-list {
    width: 100%;
    overflow: hidden;

    li:last-child {
      border-right: none;
    }

    li {
      float: left;
      box-sizing: border-box;
      height: 3px;
      border-right: 1px solid #ccc;
      padding-top: 1px;
    }
  }

  &.energy,
  &.nerve,
  &.life,
  &.happy {
    opacity: 0.2;
    cursor: default;
    transition: opacity 500ms;
  }

  &.active {
    opacity: 1;
    cursor: pointer;
    transition: opacity 500ms;
  }

  &.not-checked {
    opacity: 0;
    transition: opacity 300ms, visibility 300ms;
    visibility: hidden;
  }
}

.bar {
  cursor: pointer;
  text-decoration: none;
  color: #333;

  &.energy {

    .progress-line-timer {
      border-color: #bfdca3;
      background: #eff5e9;

      &.full {
        background-color: #fff;
        border: 1px solid #6ed901;
        -moz-box-shadow: 0 0 5px 1px #bfdca3;
        -webkit-box-shadow: 0 0 5px 1px #bfdca3;
        box-shadow: 0 0 5px 1px #bfdca3;
      }
    }

    .progress-line {
      @include progress-line(#6cad2b, #4d7c1e);
    }
  }

  &.nerve {

    .progress-line-timer {
      border-color: #e9c9be;
      background: #f8ede9;
    }

    .progress-line {
      @include progress-line(#cc7032, #b3382c);
    }
  }

  &.life {

    .progress-line-timer {
      border-color: #c0ccef;
      background: #e6ebf9;
    }

    .progress-line {
      @include progress-line(#708bdb, #3f43cf);
    }
  }

  &.happy {

    .progress-line-timer {
      border-color: #ddddb6;
      background: #f3f3e8;
    }

    .progress-line {
      @include progress-line(#cccc32, #b3992c);
    }
  }
}

.progress-bar-tip-content {
  max-width: 165px;
}

@media screen and (max-width: 600px) {

  .progress-bar-tip-content {
    max-width: unset;
    min-width: 210px;
  }
}