:global {

  @media (max-width: 600px) {

    .d.r #sidebarroot {
      float: none;
    }

    .r .content .container .content-wrapper {
      margin-top: 0;
    }

    .container#mainContainer {
      width: 100%;

      .content-wrapper {
        width: 100%;
      }
    }

    .container.tutorial {
      position: relative;
    }
  }

  .d #sidebarroot {
    float: left;
  }
}

.sidebar {
  z-index: 999;
  margin-bottom: 10px;
  overflow-y: visible;
  overflow-x: hidden;
  min-height: 120px;
  padding-top: 40px;
  margin-top: -40px;

  .delimiter {
    overflow: hidden;
    height: 0;
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
  }
}

.highlight-active {
  -webkit-animation: highlight-active 1s linear 0s infinite normal;
  animation: highlight-active 1s linear 0s infinite normal;
}

@-webkit-keyframes highlight-active {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes highlight-active {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
