.sidebar {
  z-index: 999;
  width: 172px;
  float: left;

  .delimiter {
    overflow: hidden;
    height: 0;
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
    opacity: 0.2;

    &.hidden {
      visibility: hidden;
    }
  }
}

.highlight-active {
  -webkit-animation: highlight-active 1s linear 0s infinite normal;
  animation: highlight-active 1s linear 0s infinite normal;
}

@-webkit-keyframes highlight-active {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes highlight-active {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
