$iconsAmount: 69;
$iconSize: 18;

.status-icons {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 162px;

  li {
    background: url(/images/v2/icons/user_status_icons.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.2;
    transition: opacity 500ms;

    a, span {
      display: inline-block;
      width: 100%;
      height: 100%;
      cursor: default;
      position: relative;
      z-index: 2;
    }
  }

  &.big {
    li {
      width: 16px;
      height: 16px;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    @for $index from 1 through $iconsAmount {

      .icon#{$index} {
        background-position: #{$iconSize * (1 - $index)}px 0;
      }
    }
  }

  &.big.mobile {

    li {
      height: 21px;
    }

    @for $index from 1 through $iconsAmount {

      .icon#{$index} {
        background-position: #{$iconSize * (1 - $index)}px 2px;
      }
    }
  }

  &.mobile {
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
    width: auto;
    transition: opacity 500ms, visibility 500ms;
    float: right;
    margin-right: 12px;

    li {
      margin: 0;
      opacity: 1;
      transition: opacity 500ms, visibility 500ms;
    }

    &.not-checked {
      opacity: 0.2;
      visibility: visible;
    }
  }

  &.not-checked {
    opacity: 0;
    transition: opacity 500ms, visibility 500ms;
    visibility: hidden;
  }

  &.active {

    a {
      cursor: pointer;
    }

    li {
      opacity: 1;
      transition: opacity 300ms;
    }
  }
}
