.tooltip {
  line-height: 1rem;
  overflow: hidden;
  display: table;

  a {
    text-decoration: none;
    color: #069;
  }

  p {
    text-align: left;
    white-space: nowrap;
    display: table-row;

    &.long-string {
      white-space: normal;
    }

    &.static-width {
      white-space: nowrap;
      width: 120px;
    }
  }

  .bar-time-low {
    color: #ff4000;
    text-shadow: -3px -3px 5px rgba(255, 92, 38, 0.15), 3px 3px 5px rgba(255, 92, 38, 0.15);
  }
}

:global {

  .ToolTipPortal {
    z-index: 999999;
    display: table;

    & > div {
      z-index: 999999 !important;
    }
  }
}

#pointsMoney .tooltip {
  position: absolute;
  top: 15px;
}