.tutorial-tooltip {
  position: absolute;
  top: 30%;
  left: 25%;
  z-index: 5;
  padding: 10px 0 20px;
  width: 300px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  transition: 300ms;

  h3 {
    margin: 0 0 8px;
    background-color: #7b9f11;
    color: #fff;
    font-family: "Fjalla One", serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    text-align: center;
  }

  p {
    margin-bottom: 20px;
    padding: 0 10px;
    color: #444;
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
  }

  .button {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    width: 70px;
    border: 1px solid #7b9f11;
    border-radius: 5px;
    font-family: "Fjalla One", serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 32px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &.continue {
      background-color: #7b9f11;
      color: #fff;

      &.not-active {
        border: 1px solid #bed089;
        background-color: #fff;
        color: #bed089;
        pointer-events: none;
        cursor: default;

        &:hover {
          border: 1px solid #bed089;
          background-color: #fff;
          color: #bed089;
        }
      }

      &:hover {
        border-color: #95b241;
        background-color: #95b241;
      }

      &:active {
        border-color: #67840f;
        background-color: #67840f;
      }
    }

    &.back {
      background-color: #fff;
      color: #7b9f11;

      &:hover {
        background-color: #f2f5e7;
      }

      &:active {
        background-color: #e5eccf;
      }
    }
  }
}

.bottom {
  &::after {
    content: " ";
    position: absolute;
    top: 100%;
    bottom: unset;
    left: 50%;
    margin-left: -8px;
    border: 8px solid;
    border-top-width: 6px;
    border-color: white transparent transparent transparent;
  }
}

.top {
  &::after {
    content: " ";
    position: absolute;
    top: unset;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid;
    border-bottom-width: 6px;
    border-color: transparent transparent white transparent;
  }
}

.left {
  &::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    bottom: unset;
    margin-top: -8px;
    border: 8px solid;
    border-right-width: 6px;
    border-color: transparent white transparent transparent;
  }
}

.step-1 {
  top: -45px;
  left: 186px;

  @extend .left;
}

.step-2 {
  top: 11px;
  left: 186px;

  @extend .left;
}

.step-3 {
  top: 21px;
  left: 186px;

  @extend .left;
}

.step-4 {
  top: 58px;
  left: 186px;

  @extend .left;
}

.step-5 {
  top: 102px;
  left: 186px;

  @extend .left;
}

.step-6 {
  top: 119px;
  left: 186px;

  @extend .left;
}

.step-7 {
  top: 137px;
  left: 186px;

  @extend .left;
}

.step-8 {
  top: 209px;
  left: 186px;

  @extend .left;

  p {
    padding: 0 15px;
  }
}

.step-9 {
  top: 246px;
  left: 185px;

  @extend .left;
}

.step-10 {
  top: unset;
  right: 18px;
  bottom: 50px;
  left: unset;

  @extend .bottom;
}

.mobile {
  left: 50%;
  margin-left: -150px;

  &.step-1 {
    top: 57px;

    @extend .top;
  }

  &.step-2 {
    top: 90px;
    left: 10px;
    margin-left: 0;

    @extend .top;

    &::after {
      left: 12vw;
      transition: left 200ms;
    }
  }

  &.step-3 {
    top: 90px;
    left: 10px;
    margin-left: 0;

    @extend .top;

    &::after {
      left: 36vw;
      transition: left 200ms;
    }
  }

  &.step-4 {
    top: 90px;
    right: 10px;
    left: unset;
    margin-left: 0;

    @extend .top;

    &::after {
      right: 32vw;
      left: unset;
      animation: move-arrow 200ms;
    }

    &.back {
      &::after {
        animation: move-arrow-back 200ms;
      }
    }
  }

  &.step-5 {
    top: 90px;
    right: 10px;
    left: unset;
    margin-left: 0;

    @extend .top;

    &::after {
      right: 9vw;
      left: unset;
      transition: right 200ms;
    }
  }

  &.step-6 {
    top: 126px;
    left: 10px;
    margin-left: 0;

    @extend .top;

    &::after {
      left: 11%;
      transition: left 200ms;
    }
  }

  &.step-7 {
    top: 126px;
    right: 10px;
    left: unset;
    margin-left: 0;

    @extend .top;

    &::after {
      left: 96.4%;
      transition: left 200ms;
    }
  }

  &.step-8 {
    top: unset;
    right: 10px;
    bottom: 50px;
    left: unset;

    @extend .bottom;

    &::after {
      top: 104%;
      right: 52px;
      left: unset;
    }
  }

  &.step-9,
  &.step-10 {
    display: none;
  }
}

@keyframes move-arrow {
  0% {
    right: 56vw;
  }

  100% {
    right: 32vw;
  }
}
@keyframes move-arrow-back {
  0% {
    right: 9vw;
  }

  100% {
    right: 32vw;
  }
}

@media screen and (max-width: 1000px) {
  .tutorial-tooltip {
    .button {
      &.continue {
        background-color: #7b9f11;
        color: #fff;

        &:hover {
          background-color: #7b9f11;
        }

        &:active {
          border-color: #67840f;
          background-color: #67840f;
        }
      }

      &.back {
        background-color: #fff;
        color: #7b9f11;

        &:hover {
          background-color: #fff;
        }

        &:active {
          background-color: #e5eccf;
        }
      }
    }
  }

  .step-1 {
    top: -33px;
  }

  .step-2 {
    top: 22px;
  }

  .step-3 {
    top: 34px;
  }

  .step-4 {
    top: 70px;
  }

  .step-5 {
    top: 115px;
  }

  .step-6 {
    top: 130px;
  }

  .step-7 {
    top: 150px;
  }

  .step-8 {
    top: 220px;
  }

  .step-9 {
    top: 264px;
  }
}
