.content-wrapper {
  width: 784px;
  padding-top: 40px;
  margin-left: 20px;
  float: right;
}

.page-head-delimiter {
  border-top: 1px solid #999;
  border-bottom: 1px solid #ebebeb;
  border-left: none;
  border-right: none;
}

.tutorial-desktop {
  position: relative;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@media screen and (max-width: 1000px) {

  .content-wrapper {
    width: 386px;
    padding-top: 34px;
  }
}