.blocking {
  min-height: 630px;
  background: url(/images/v2/christmas_town/map_grid_light.svg) left top repeat;
  background-image: var(--ct-map-editor-blocking-library-grid-image);
  box-shadow: var(--ct-section-inner-top-shadow), var(--ct-section-inner-left-shadow);
}

.tools {
  display: flex;

  * {
    box-sizing: border-box;
  }

  .item {
    margin: 24px 0 0 30px;

    .title {
      margin-bottom: 24px;
      color: #838383;
      color: var(--ct-map-editor-blocking-title-color);
      font-size: 12px;
      white-space: nowrap;
    }

    .tool {
      display: flex;
      flex-wrap: wrap;
      background: url(/images/v2/christmas_town/map_grid_light.svg) #f2f2f2 left top repeat;
      background-color: var(--ct-map-editor-blocking-tool-bg-color);
      background-image: var(--ct-map-editor-blocking-library-grid-image);

      &.selected {
        box-shadow: 0 0 0 5px #cbcbcb inset;
        box-shadow: 0 0 0 5px var(--ct-map-editor-blocking-tool-selected) inset;
      }

      .part {
        width: 30px;
        height: 30px;
      }

      &.line {
        width: 30px;

        .part1 {
          border-bottom: 2px solid #ff00f9;
        }
      }

      &.eraser {
        margin-right: 30px;
        width: 30px;

        .part1 {
          border-bottom: 2px solid #000;
          border-bottom-color: var(--ct-map-editor-blocking-tool-eraser-color);
        }
      }

      &.blockEraser {
        width: 30px;
        height: 30px;
        border: 2px solid #000;
        border-color: var(--ct-map-editor-blocking-tool-eraser-color);
      }

      &.cornerBlock {
        width: 60px;

        .part2 {
          position: relative;

          &::before,
          &::after {
            content: '';
            position: absolute;
            top: auto;
            bottom: -2px;
            left: 0;
            display: inline-block;
          }

          &::before {
            height: 10px;
            border-left: 2px solid #ff00f9;
          }

          &::after {
            width: 10px;
            border-bottom: 2px solid #ff00f9;
          }
        }

        .part3 {
          border-top: 2px dotted #ff00f9;
        }

        .part4 {
          border-left: 2px dotted #ff00f9;
        }
      }

      &.lineEndBlock {
        width: 60px;

        .part1 {
          position: relative;

          &::after {
            content: '';
            position: absolute;
            top: auto;
            right: 0;
            bottom: -1px;
            left: auto;
            display: inline-block;
            width: 10px;
            border-bottom: 2px solid #ff00f9;
          }
        }

        .part2 {
          position: relative;

          &::before,
          &::after {
            content: '';
            position: absolute;
            top: auto;
            bottom: -1px;
            left: 0;
            display: inline-block;
          }

          &::before {
            height: 10px;
            border-left: 2px solid #ff00f9;
          }

          &::after {
            width: 10px;
            border-bottom: 2px solid #ff00f9;
          }
        }

        .part4 {
          border-left: 2px dotted #ff00f9;
        }
      }
    }
  }
}

:global(.fullscreen-mode) {
  .blocking {
    min-height: calc(100% - 32px);
  }
}
