$h-desktop: 24px;
$h-mobile: 34px;
.btn {
  height: #{$h-desktop};
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  @media screen and (max-width: 1000px) {
    height: #{$h-mobile};
    &.notResponsive {
      height: #{$h-desktop};
    }
  }
  &.silver {
    color: #333;
    background-image: linear-gradient(#d7d7d7, #767676 78%, #767676 82%, #888888);
    box-shadow: inset 2px 0 3px rgba(247, 247, 247, 0.3), inset -2px 0 3px rgba(247, 247, 247, 0.3);
    &:hover {
      background-image: linear-gradient(#fff, #a7a7a7 80%, #afafaf);
    }
    &:active {
      background-image: linear-gradient(#fff, #bbb);
    }
    &.disabled {
      background-image: linear-gradient(#989898, #c9c9c9);
      box-shadow: inset 0 2px 2px #909090, inset 0 -1px 0 #fff;
      color: #737373;
      cursor: default;
    }
  }
  &.black {
    /* to be implemented */
  }
  &.orange {
    /* to be implemented */
  }
  &.steel {
    /* to be implemented */
  }
}
