.createKeyContainer {
  width: 135px;

  .addKey {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;

    .text {
      padding-left: 4px;
      color: #999;
      color: var(--default-gray-9-color);
      text-shadow: 0 1px 0 #fff;
      text-shadow: 0 1px 0 var(--preferences-api-text-shadow-color);
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
    }

    svg {
      fill: url(#api-key-gradient);
      fill: var(--preferences-api-default-icon-fill);
      filter: drop-shadow(0 1px 0 #fff);
      filter: var(--preferences-api-default-icon-filter);
    }

    &:hover {
      .text {
        color: #444;
        color: var(--preferences-api-button-hover-color);
        text-shadow: 0 1px 0 #fff;
        text-shadow: 0 0 5px var(--preferences-api-button-hover-shadow);
      }

      svg {
        fill: url(#api-key-hover-gradient);
        fill: var(--preferences-api-hover-icon-fill);
        filter: drop-shadow(0 1px 0 #fff);
        filter: var(--preferences-api-hover-icon-filter);
      }
    }

    &[disabled] {
      cursor: default;

      .text {
        color: #ccc;
        color: var(--preferences-api-button-disabled-color);
        text-shadow: 0 -1px 0 #fff;
        text-shadow: 0 -1px 0 var(--preferences-api-button-disabled-shadow);
      }

      svg {
        fill: #ccc;
        fill: var(--preferences-api-button-disabled-color);
        filter: drop-shadow(0 -1px 0 #fff);
        filter: drop-shadow(0 -1px 0 var(--preferences-api-button-disabled-shadow));
      }
    }
  }
}
