.wrap {
  background: url(/images/v2/christmas_town/minigames/pot/bg.jpg) no-repeat;
  width: 100%;
}
.board {
  position: relative;
  overflow: hidden;
}
.pipes {
  display: flex;
  height: 40px;
}
.pipe {
  width: 58px;
  height: 38px;
  flex: 1;
  transform-origin: 50% 0;
  background-repeat: no-repeat;
  background-position: calc(50% + 6px) 0;
  z-index: 3;
}
.pipe-alcohol {
  background-image: url(/images/v2/christmas_town/minigames/pot/pipe_alcohol.png);
}
.pipe-candy {
  background-image: url(/images/v2/christmas_town/minigames/pot/pipe_candy.png);
}
.pipe-energy-drinks {
  background-image: url(/images/v2/christmas_town/minigames/pot/pipe_energy_drinks.png);
}
.shoot {
  animation-name: shoot;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  transform-origin: 50% 0;
}
@keyframes shoot {
  0% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
  5% {
    transform: scale3d(1.3, 1.3, 1) translate3d(0, 0, 0);
  }
  100% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
}
.items-wrap {
  height: 320px;
  background-image: linear-gradient(#d4dfe5 33%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(#d4dfe5 33%, rgba(255, 255, 255, 0) 0%), linear-gradient(#d4dfe5 33%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(#d4dfe5 0%, #d4dfe5 100%), linear-gradient(#d4dfe5 33%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(#d4dfe5 33%, rgba(255, 255, 255, 0) 0%), linear-gradient(#d4dfe5 33%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(#d4dfe5 0%, #d4dfe5 100%), linear-gradient(#d4dfe5 33%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(#d4dfe5 33%, rgba(255, 255, 255, 0) 0%), linear-gradient(#d4dfe5 33%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(to right, #dfe2e4 0%, #dfe2e4 100%),
    linear-gradient(to right, #d4dfe5 33%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(to right, #d4dfe5 33%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(to right, #d4dfe5 33%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(to right, #d4dfe5 33%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(to right, #d4dfe5 33%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(to right, #d4dfe5 33%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(to right, #d4dfe5 33%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(to right, #d4dfe5 0%, #d4dfe5 100%);
  background-position: 8.3% 0, 16.6% 0, 24.9% 0, 33.3% 0, 41.6% 0, 50% 0, 58.3% 0, 66.6% 0, 75% 0, 83.3% 0, 91.6% 0, 0 0,
    0 12.5%, 0 25%, 0 37.5%, 0 50%, 0 62.5%, 0 75%, 0 87.5%, 0 100%;
  background-size: 1px 3px, 1px 3px, 1px 3px, 1px 3px, 1px 3px, 1px 3px, 1px 3px, 1px 3px, 1px 3px, 1px 3px, 1px 3px,
    3px 1px, 3px 1px, 3px 1px, 3px 1px, 3px 1px, 3px 1px, 3px 1px, 3px 1px, 3px 1px;
  background-repeat: repeat-y, repeat-y, repeat-y, repeat-y, repeat-y, repeat-y, repeat-y, repeat-y, repeat-y, repeat-y,
    repeat-y, repeat-x, repeat-x, repeat-x, repeat-x, repeat-x, repeat-x, repeat-x, repeat-x, repeat-x;
}
.item {
  position: absolute;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  &.showup {
    animation-name: showup;
    animation-duration: 0.4s;
    animation-delay: 0.1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @media screen and (min-width: 1000px) {
    width: 40px;
  }
  @media screen and (max-width: 1000px) {
    width: 32px;
  }
  @media screen and (max-width: 600px) {
    width: 27px;
  }
}
.btn {
  margin-left: 6px;
}

@keyframes showup {
  to {
    transform: translate3d(0, 0, 0);
  }
}
.game-end-screen {
  background: url(/images/v2/christmas_town/minigames/congratulation_bg.jpg) no-repeat;
  display: table-cell;
  font-size: 20px;
  line-height: 30px;
  color: #668fa3;
  text-align: center;
  vertical-align: middle;
  animation-name: faeid;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  em {
    color: red;
  }
}
@keyframes faeid {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.controls {
  padding: 10px 10px 0 10px;
  font-size: 12px;
  color: #87a8b7;
  display: flex;
  flex-wrap: wrap;
}

$select-input-border-width: 1;
$select-option-bg: #dde6ea;
$select-input-bg: #dde6ea;
$select-menu-max-height: 108px;
$select-text-color: #86a7b7;
$select-option-color: #86a7b7;
$select-option-selected-bg: white;
$select-option-focused-bg: white;
$animation-duration: 0.4s;

:global {
  @import '../../../../../../../../../node_modules/react-select/scss/default.scss';
  :local(.dropdown) {
    flex: 1;
    float: left;

    .Select-menu-outer {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45), inset 0px 1px 2px rgba(0, 32, 64, 0.25);
      top: auto;
      bottom: 100%;
    }
    .Select-control {
      background-image: linear-gradient(180deg, rgb(221, 230, 234) 0%, rgb(238, 243, 245) 100%);
      box-shadow: inset 0px 1px 2px rgba(0, 16, 64, 0.25);
    }
    .Select-option {
    }
    &.is-open {
      .Select-control {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }
      .Select-arrow {
        transform: rotateZ(0);
      }
    }
    .Select-arrow {
      transform: rotateZ(-90deg);
      transition: transform $animation-duration ease-out;
    }
  }
}

.message-small {
  font-size: 12px;
}

.selectMessage {
  padding: 4px 0;
  flex: 0 0 100%;
}

@media screen and (max-width: 1000px) {
  :global(.r) {
    .dropdown {
      width: 308px;
    }
    .controls {
    }
    .game-end-screen {
      height: 418px;
    }
  }
}

@media screen and (max-width: 600px) {
  :global(.r) {
    .dropdown {
      width: 244px;
    }
  }
}
