.conveyor {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-play-state: running;
}

.left {
  background-image: url('/images/v2/christmas_town/minigames/typocalypse/conveyor_left_1.svg');
  animation-name: leftConveyorAnimation;
}

@keyframes leftConveyorAnimation {
  14% {
    background-image: url('/images/v2/christmas_town/minigames/typocalypse/conveyor_left_2.svg');
  }

  28% {
    background-image: url('/images/v2/christmas_town/minigames/typocalypse/conveyor_left_3.svg');
  }

  43% {
    background-image: url('/images/v2/christmas_town/minigames/typocalypse/conveyor_left_4.svg');
  }

  57% {
    background-image: url('/images/v2/christmas_town/minigames/typocalypse/conveyor_left_5.svg');
  }

  71% {
    background-image: url('/images/v2/christmas_town/minigames/typocalypse/conveyor_left_6.svg');
  }

  86% {
    background-image: url('/images/v2/christmas_town/minigames/typocalypse/conveyor_left_7.svg');
  }
}

.right {
  background-image: url('/images/v2/christmas_town/minigames/typocalypse/conveyor_right_1.svg');
  animation-name: rightConveyorAnimation;
}

@keyframes rightConveyorAnimation {
  14% {
    background-image: url('/images/v2/christmas_town/minigames/typocalypse/conveyor_right_2.svg');
  }

  28% {
    background-image: url('/images/v2/christmas_town/minigames/typocalypse/conveyor_right_3.svg');
  }

  43% {
    background-image: url('/images/v2/christmas_town/minigames/typocalypse/conveyor_right_4.svg');
  }

  57% {
    background-image: url('/images/v2/christmas_town/minigames/typocalypse/conveyor_right_5.svg');
  }

  71% {
    background-image: url('/images/v2/christmas_town/minigames/typocalypse/conveyor_right_6.svg');
  }

  86% {
    background-image: url('/images/v2/christmas_town/minigames/typocalypse/conveyor_right_7.svg');
  }
}
