.date {
  white-space: nowrap;
}

.marketName {
  height: 68px;

  &.isMarketNameSingleRow {
    height: 34px;

    @media #{$screen-tablet} {
      #{$global-r} & {
        .marketTime {
          flex-direction: row;
          line-height: 34px;
        }
      }
    }

    @media #{$screen-tablet} {
      #{$global-r} & {
        .time {
          &::before {
            content: ' ';
            white-space: pre;
          }
        }
      }
    }
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      .time {
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}

.marketTime {
  @media #{$screen-tablet} {
    #{$global-r} & {
      line-height: 22px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.time {
  @media #{$screen-desktop} {
    #{$global-r} & {
      &::before {
        content: ' ';
      }
    }
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-top: 4px;
      display: block;
    }
  }
}
