.flexContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.headerContainer {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  border-bottom: 1px solid #e8e8df;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .65);
  background: #f9faf9;
  background: linear-gradient(#f9faf9 0%, #ecece8 100%);
  composes: flexContainer;
}

.title {
  margin-left: 10px;
  padding-top: 1px;
  color: #79796a;
  font: inherit;
  font-size: 15px;
  text-shadow: 1px 1px 1px #fff;
}
