.reportingPanel {
  * {
    box-sizing: border-box;
  }
  :global(.tornPreloader) {
    position: relative;
    margin: 20px auto 0;
    top: 0;
    left: 0;
  }
}
.titles {
  display: flex;
  text-shadow: 1px 1px 2px rgba(0,0,0,.65);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 17px;
  font-size: 13px;
  .title {
    padding-left: 10px;
    color: #FFF;
  }
  .articles {
    width: 398px;
    padding-left: 0;
  }
  .status {
    width: 88px;
    border-left: 2px solid #CCC;
    border-left-color: var(--default-panel-divider-outer-side-color);
  }
  .author {
    width: 186px;
    border-left: 2px solid #CCC;
    border-left-color: var(--default-panel-divider-outer-side-color);
  }
  .action {
    border-left: 2px solid #CCC;
    border-left-color: var(--default-panel-divider-outer-side-color);
  }
}
.list {
  list-style: none;
  background: #f2f2f2;
  background: var(--default-bg-panel-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  & > li {
    display: flex;
    border-top: 1px solid #CCC;
    border-top-color: var(--default-panel-divider-outer-side-color);
    border-bottom: 1px solid #FFF;
    border-bottom-color: var(--default-panel-divider-inner-side-color);
    margin-top: -2px;
    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .col {
      padding: 10px;
      .label {
        display: none;
      }
      &.title {
        width: 408px;
        font-weight: 700;
        color: #999;
        color: var(--default-gray-9-color);
        .titleLink {
          text-decoration: none;
          color: inherit;
        }
        .arrowAccordion {
          display: none;
        }
      }
      &.status {
        width: 88px;
        border-left: 2px solid #CCC;
        border-left-color: var(--default-panel-divider-outer-side-color);
        text-transform: capitalize;
        &.confirmed, &.published {
          color: #678c00;
          color: var(--default-green-color);
        }
        &.unpublished, &.deleted {
          color: #d83500;
          color: var(--default-red-color);
        }
      }
      &.author {
        width: 186px;
        border-left: 2px solid #CCC;
        border-left-color: var(--default-panel-divider-outer-side-color);
      }
      &.actions {
        display: flex;
        width: 100px;
        border-left: 2px solid #CCC;
        border-left-color: var(--default-panel-divider-outer-side-color);
        padding: 0;
        .action {
          display: inline-block;
          height: 32px;
          width: 33px;
          text-align: center;
          cursor: pointer;
          .actionText {
            display: none;
          }
          &:before, &:after {
            content: '';
            display: inline-block;
            height: 100%;
            width: 1px;
            vertical-align: middle;
            position: relative;
            left: -9px;
            background: linear-gradient(0deg, #CCCCCC00 0%, #CCCCCC 50%, #CCCCCC00 100%);
            background: var(--default-divider-left-linear-gradient);
          }
          &:after {
            left: 8px;
            background: linear-gradient(180deg, #FFFFFF00 0%, #FFFFFF 50%, #FFFFFF00 100%);
            background: var(--default-divider-right-linear-gradient);
          }
          &:first-child:before {
            opacity: 0;
          }
          &:last-child:after {
            display: none;
          }
        }
      }
    }
    &.new {
      background: linear-gradient(180deg, #fff 0, #ddd 100%);
      background: var(--default-panel-gradient);
      .title .titleLink {
        color: #333;
        color: var(--reporting-panel-acricles-color);
      }
    }
    &.your {
      background: transparent url(/images/v2/main/table_green.png) left top repeat;
      .title .titleLink {
        color: #333;
        color: var(--reporting-panel-acricles-color);
      }
    }
    &.deleted {
      background: transparent url(/images/v2/main/table_red.png) left top repeat;
    }
  }
}
.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(/images/v2/newspaper/articles/action_icons.svg);
  filter: drop-shadow(0px 1px 0px #fff);
  filter: var(--default-icon-filter);
  margin: 0;
  &.edit {
    background-position: -43px -8px;
    &:hover {
      background-position: -77px -8px;
    }
    &.disabled {
      background-position: -8px -8px;
    }
  }
  &.publish {
    background-position: -43px -78px;
    &:hover {
      background-position: -77px -78px;
    }
    &.disabled {
      background-position: -8px -78px;
    }
  }
  &.delete {
    background-position: -43px -113px;
    &:hover {
      background-position: -77px -113px;
    }
    &.disabled {
      background-position: -8px -113px;
    }
  }
  &.unpublish {
    background-position: -43px -180px;
    &:hover {
      background-position: -77px -180px;
    }
    &.disabled {
      background-position: -8px -180px;
    }
  }
}

:global(.r) {
  @media screen and (max-width: 1000px) {
    .titles {
      .status, .author, .action {
        display: none;
      }
    }
    .list {
      & > li {
        .status, .author, .actions {
          display: none;
        }
        flex-wrap: wrap;
        &.confirmed .title:before, &.published .title:before {
          background: transparent url(/images/v2/main/table_green.png) left top repeat;
        }
        &.unpublished .title:before, &.deleted .title:before {
          background: transparent url(/images/v2/main/table_red.png) left top repeat
        }
        &.opened {
          background: #FFF;
          background: var(--default-bg-panel-active-color);
          .status, .author, .actions {
            display: block;
          }
          .actions {
            .action {
              .actionText {
                display: inline-block;
                color: #069;
                color: var(--default-blue-color);
                margin-left: 3px;
                &.disabled {
                  color: #999;
                  color: var(--default-gray-9-color);
                }
              }
            }
          }
        }
        .col {
          .label {
            display: inline-block;
            font-weight: 700;
            color: #333;
            color: var(--reporting-panel-acricles-color);
            margin-right: 3px;
          }
          &.title {
            order: 0;
            width: 100%;
            padding: 0;
            &:before {
              content: '';
              display: inline-block;
              width: 8px;
              height: 33px;
              vertical-align: middle;
              border-right: 1px solid #FFF;
              border-right-color: var(--default-panel-divider-inner-side-color);
              box-shadow: inset -1px 0px 0px 0px rgba(204,204,204,1);
              box-shadow: var(--reporting-panel-acricles-title-box-shadow);
              margin-right: 8px;
            }
            .arrowAccordion {
              display: inline-block;
              float: right;
              cursor: pointer;
              position: relative;
              &:before, &:after {
                content: '';
                display: inline-block;
                height: 32px;
                width: 1px;
                vertical-align: middle;
                position: absolute;
                left: 0;
                background: linear-gradient(0deg, #CCCCCC00 0%, #CCCCCC 50%, #CCCCCC00 100%);
                background: var(--default-divider-left-linear-gradient);
              }
              &:after {
                left: 1px;
                background: linear-gradient(180deg, #FFFFFF00 0%, #FFFFFF 50%, #FFFFFF00 100%);
                background: var(--default-divider-right-linear-gradient);
              }
            }
          }
          &.articles {
            width: 408px;
          }
          &.status {
            width: 50%;
            order: 2;
            border-left: 1px solid #CCC;
            border-left-color: var(--default-panel-divider-outer-side-color);
            border-top: 1px solid #CCC;
            border-top-color: var(--default-panel-divider-outer-side-color);
          }
          &.author {
            width: 50%;
            order: 1;
            border-left: none;
            border-top: 1px solid #CCC;
            border-top-color: var(--default-panel-divider-outer-side-color);
          }
          &.actions {
            order: 3;
            width: 100%;
            border: none;
            .action {
              width: 33.3%;
              line-height: 28px;
              border-left: 1px solid #CCC;
              border-left-color: var(--default-panel-divider-outer-side-color);
              border-top: 1px solid #CCC;
              border-top-color: var(--default-panel-divider-outer-side-color);
              &:first-child {
                border-left: none;
              }
              &:before, &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

:global(.r) {
  @media screen and (max-width: 600px) {
    .titles, .list {
      border-radius: 0;
    }
  }
}
