.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.fonts {
  font-family: Fjalla one, sans-serif;
  font-size: 12px;
}

.dropDownListWrap {
  position: absolute;
  right: 0;
  z-index: 100000;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  overflow: hidden;
  border: 1px solid #c0d1d8;
  border-color: var(--ct-my-maps-user-search-border-color);
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  composes: flexColumn;

  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 275px;
    }
  }
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.tabsList {
  z-index: 1;
  composes: flexRow;
}

.tabButton {
  flex: 1 0 88px;
  padding: 5px;
  border-right: 1px solid #c0d1d8;
  border-right-color: var(--ct-my-maps-user-search-border-color);
  border-bottom: 1px solid #c0d1d8;
  border-bottom-color: var(--ct-my-maps-user-search-border-color);
  background: #eef3f5;
  background: var(--ct-my-maps-user-search-dropdown-tab-bg);
  color: #668fa3;
  color: var(--ct-my-maps-user-search-dropdown-tab-font-color);
  composes: button;
  composes: fonts;

  &:hover {
    background: #fff;
    background: var(--ct-my-maps-user-search-dropdown-tab-hover-bg);
  }

  &:last-child {
    border-right: none;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex: 1 0 67px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      flex: 1 0 68px;
    }
  }
}

.tabButtonClicked {
  border-bottom: none;
  background: #fff;
  background: var(--ct-my-maps-user-search-dropdown-bg);
  color: #476778;
  color: var(--ct-my-maps-user-search-dropdown-tab-font-clicked-color);
}

.inviteUsersList {
  max-height: 149px;
  overflow-y: scroll;
  background: #fff;
  background: var(--ct-my-maps-user-search-dropdown-bg);
  scrollbar-color: #d4dfe5 #fff;
  scrollbar-width: auto;

  &::-webkit-scrollbar-thumb {
    width: 12px;
    border: 2px solid #d4dfe5;
    border: 1px solid var(--ct-my-maps-user-search-scrollbar-thumb-border);
    border-radius: 50px;
    background-color: #fff;
    background-color: var(--ct-my-maps-user-search-scrollbar-thumb-bg);
  }

  &::-webkit-scrollbar {
    width: 14px;
    background: #d4dfe5;
    background: var(--ct-my-maps-user-search-scroll-bg);
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
      background: #dfe2e2;
      background: var(--ct-my-maps-user-search-scroll-hover-bg);
    }
  }
}

.noScroll {
  overflow: visible;
}

.userButton {
  composes: flexButton;
  position: relative;
  padding: 7px 12px;
  width: 100%;
  height: 30px;
  background: #fff;
  background: var(--ct-my-maps-user-search-dropdown-bg);
  color: #888;
  color: var(--ct-my-maps-user-font-color);
  text-align: left;
  composes: button;
  composes: fonts;

  &:hover {
    background: #eef2f4;
    background: var(--ct-my-maps-user-search-hover-bg);
  }

  &:last-child {
    border-bottom: none;
  }
}

.onlineStatus {
  box-sizing: border-box;
  margin: 5px 10px;
  margin-left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background: #ff5c26;
}

.userOnline {
  opacity: 1;
  background: #9bc02f;
}

.alreadySelected {
  background: #f5f5f5;
  background: var(--ct-my-maps-user-selected-bg);
  cursor: default;

  &:hover {
    background: #f5f5f5;
    background: var(--ct-my-maps-user-selected-bg);
    cursor: default;
  }
}

.alreadyInLabel {
  position: absolute;
  right: 28px;
  color: #dcdbdb;
  color: var(--ct-my-maps-user-selected-color);
  font-size: 10px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      right: 10px;
    }
  }
}

.title {
  pointer-events: none;
}

.dropDownListPlaceholder {
  opacity: 1;
  background: #fff;
  background: var(--ct-my-maps-user-search-dropdown-bg);
  composes: flexRow;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

i.loadingAnim {
  width: 15px;
  height: 15px;
  display: block;
  margin: 5px;
}

.dropDownListPlaceholderText {
  color: #888;
  color: var(--ct-my-maps-user-font-color);
  font: inherit;
}
