@import '../../../../styles/constants.scss';

.titleImg {
  box-sizing: border-box;
  margin: 5px 0 5px 5px;
  width: 40px;
  height: 40px;
}

.titleText {
  position: relative;
  top: -10px;
}

.subTitle {
  width: 185px;
  top: 30px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 103px;
    }
  }
}

.crimeStatus {
  right: 18px;
  width: 164px;
  height: 20px;
  margin-left: 184px;

  &::after {
    right: 0;
    width: 117px;
    height: 20px;
    background: $itemBcg;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 38px;
      height: 100%;
      margin-left: 126px;
      margin-right: 8px;
      right: 0;

      &::before {
        left: -1px;
      }

      &::after {
        display: none;
      }
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      margin-left: 59px;
    }
  }
}

.nerve {

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-right: 7px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      margin-right: 2px;
    }
  }
}
