.onlineStatus {
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  background: url(/images/v2/icons/user_status_icons.png) -2px -38px no-repeat;
  margin-right: 8px;
  &.online {
    background-position: -2px -38px;
  }
  &.offline {
    background-position: -20px -38px;
  }
  &.idle {
    background-position: -1100px -38px;
  }
}
.link {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

:global(.r) {
  @media screen and (max-width: 1000px) {
    .smallOnTablet {
      .link {
        width: 100px;
        img {
          margin-left: -50px;
        }
      }
    }
  }
}

:global(.r) {
  @media screen and (max-width: 600px) {
    .smallOnMobile {
      .link {
        width: 100px;
        img {
          margin-left: -50px;
        }
      }
    }
  }
}