:global {
  .expTooltip-enter {
    opacity: 0;
    transition: opacity .3s linear;

    &.expTooltip-enter-active {
      opacity: 1;
    }
  }

  .expTooltip-exit {
    opacity: 1;
    transition: opacity .05s linear;

    &.expTooltip-exit-active {
      opacity: 0;
    }
  }
}
