.tooltipContainer {
  z-index: 99999;
  // box-shadow: 0 0 2px #c0c1c2;
  // background-image: linear-gradient(to bottom, #fff, #eee);
  background: rgb(242, 242, 242);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
  border-radius: 3px;
  min-width: 71px;
  max-width: 240px;
  height: auto;
  max-height: initial;
}

.tooltipTitle {
  padding: 0;
  display: block;
  padding: 8px 12px;
  color: #666;
  text-align: center;

  &::first-line {
    font-weight: bold;
  }
}

.tooltipArrow {
  border-color: #f2f2f2 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  filter: drop-shadow(0 2px 1px #aba5a55c);
}
