.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 6px 6px;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 0;
  background: transparent;
  cursor: pointer;
  composes: flexCenter;

  // @media #{$screen-tablet} {
  //   #{$global-r} & {
  //     padding-top: 4px;
  //   }
  // }
}

.inputDimensions {
  width: 175px;
  height: 26px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 336px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 269px;
    }
  }
}

.inputTextChange {
  box-sizing: border-box;
  margin-left: -2px;
  padding: 5.5px 10px 3.5px 10px;
  composes: inputDimensions;

  &::placeholder {
    transition: color .2s linear;
    font-size: .9em;
    color: #ccc;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      padding-right: 22px;
    }
  }
}

.inputLabel {
  position: absolute;
  composes: inputDimensions;

  @media #{$screen-tablet} {
    #{$global-r} & {
      left: 0;
    }
  }
}

.mobilelayoutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.textTitle {
  // max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 185px;
}

.squashedTitle {
  max-width: 37px;
}

.inputTextOutcome {
  margin-left: 2px;
  width: 274px;
}

.editButtonOutcome {
  top: 7px;
  right: -7px;
}

.loadingSpinnerWrap {
  position: relative;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

  @media #{$screen-tablet} {
    #{$global-r} & {
      position: relative;
      top: -3px;
    }
  }
}
