.arrow {
  z-index: 100000;
}

.arrowlefttop,
.arrowrighttop,
.arrowcentercenter,
.arrowrightbottom,
.arrowleftbottom {
  display: none;
}

.arrowrightcenter {
  transform: rotate(90deg);
}

.arrowleftcenter {
  // transform: rotate(-90deg);
  transform: translateX(-5%) rotate(-90deg);
}

.arrowcenterbottom {
  transform: rotate(180deg);
}

.arrowcentertop {
  transform: rotate(0deg);
}
