.prizesWrap {
  display: flex;
  justify-content: center;
  color: #668fa3;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
}

.title {
  display: block;
  margin: 0;
  padding: 40px 50px;
  color: rgb(114, 191, 172);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;

  @media screen and (max-width: 1000px) {
    padding-top: 120px;
  }
}
