.header {
  padding: 8px 10px 0;
  border-bottom: none;

  @media screen and (max-width: 600px) {
    #{$global-r} & {
      border-radius: 0 !important;
    }
  }
  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      &:nth-child(2) {
        border-radius: 0 !important;
      }
    }
  }
}

.userName {
  max-width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media screen and (max-width: 1024px) {
    #{$global-r} & {
      max-width: 355px;
    }
  }
  @media screen and (max-width: 600px) {
    #{$global-r} & {
      max-width: 150px;
      flex: 1 1 auto;
    }
  }
}

.green {
  background: linear-gradient(to bottom, #f2f8eb 0, #d2e8bc 100%);
}

.rose {
  background: linear-gradient(to bottom, #fdf9f8 0, #eed5cd 100%);
}

.noround {
  border-radius: 0 !important;
}

.topWrap {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pbWrap {
  margin-top: 3px;
  overflow: hidden;
}

.textEntries {
  color: #878787;
  flex: 1 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.entry {
  display: inline-block;
  margin-left: 26px;

  @media screen and (max-width: 600px) {
    #{$global-r} & {
      &:nth-child(1) {
        margin-left: 0;
      }

      &:nth-child(2) {
        margin-left: 5px;
      }

      &:nth-child(3) {
        margin-left: 12px;
      }
    }
  }
}

.activeHeader {

  @media screen and (max-width: 600px) {
    #{$global-r} & {
      border: 1px white solid;
    }

    #{$dark-mode}#{$global-r} & {
      .activeHeader {
        border: 1px solid #111;
      }
    }
  }
}

#{$dark-mode} {
  .rose {
    background: linear-gradient(to bottom, #8c5d5d, #373636);
  }

  .green {
    background: linear-gradient(to bottom, #5D674E, #363636);
  }

  .entry {
    color: #ffffff;
  }
}
