:global {
  .bannerWrap {
    width: 782px;
    height: 150px;
    opacity: var(--bannerWrap-opacity);

    @media screen and (max-width: 1000px) {
      #{$global-r} & {
        width: 386px;
      }
    }
    @media screen and (max-width: 600px) {
      #{$global-r} & {
        width: 320px;
      }
    }
  }
}
