.loadingSame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
  height: 25px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  color: #666;
  color: var(--default-gray-6-color);
  font-family: Arial, sans-serif;
  font-size: 12px;

  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    border-top-color: var(--default-panel-divider-outer-side-color);
    border-bottom: 1px solid #fff;
    border-bottom-color: var(--default-panel-divider-inner-side-color);
  }
}

.loaderText {
  padding-top: 3px;
  padding-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rowItems {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 73px;
  border-top: solid transparent 2px;

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    border-top-color: var(--default-panel-divider-outer-side-color);
    border-bottom: 1px solid #fff;
    border-bottom-color: var(--default-panel-divider-inner-side-color);
  }
}

.category {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-top: solid transparent 2px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #777;
  color: var(--default-gray-7-color);
  text-shadow: 0 1px 0 #fff;
  text-shadow: var(--tabs-text-shadow);

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    border-top-color: var(--default-panel-divider-outer-side-color);
    border-bottom: 1px solid #fff;
    border-bottom-color: var(--default-panel-divider-inner-side-color);
  }
}

.row:first-child {
  .rowItems {
    border-top: 0;

    &::before {
      display: none;
    }
  }

  .category {
    border-top: 0;

    &::before {
      display: none;
    }

    & + .rowItems {
      border-top: solid transparent 2px;

      &::before {
        display: block;
      }
    }
  }
}

.item {
  box-sizing: border-box;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: -1px;
    width: 1px;
    height: 100%;
    background: linear-gradient(0deg, #ccc0 0%, #ccc 50%, #ccc0 100%);
    background: var(--default-divider-left-linear-gradient);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -2px;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, #fff0 0%, #fff 50%, #fff0 100%);
    background: var(--default-divider-right-linear-gradient);
  }

  @media #{$screen-desktop} {
    &:nth-child(3n + 1) {
      border-left: 0;
    }

    &:nth-child(3n) {
      border-right: 0;

      &.viewActive {
        background: #fff url(/images/v2/main/close_icon_divider_light_bg.png) right 70px no-repeat;
        background-color: var(--default-bg-panel-active-color);
      }
    }
  }
  @media #{$screen-tablet} {
    #{$global-r} & {
      border-right: 0;
      border-left: 0;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      border-right: 0;
      border-left: 0;
    }
  }
}

%active {
  background-color: #fff;
  background-color: var(--default-bg-panel-active-color);
}

.viewActive {
  border-right: 1px solid #ccc;
  border-right-color: var(--default-panel-divider-outer-side-color);
  border-left: 1px solid #ccc;
  border-left-color: var(--default-panel-divider-outer-side-color);

  @extend %active;

  &::before {
    display: none;
  }

  @media #{$screen-desktop} {
    &::after {
      display: none;
      // content: '';
      // position: absolute;
      // bottom: -1px;
      // left: 0;
      // z-index: 1;
      // width: 100%;
      // border-right: 3px solid #ccc;
      // border-right-color: var(--default-panel-divider-outer-side-color);
    }
  }
}

.buyActive {

  @extend %active;
}

.view {
  border-top: solid transparent 2px;

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    border-top-color: var(--default-panel-divider-outer-side-color);
    border-bottom: 1px solid #fff;
    border-bottom-color: var(--default-panel-divider-inner-side-color);
  }
}
