.animationWrap {
  height: inherit;
}

.parallaxBG,
.parallaxModel {
  position: absolute;
  backface-visibility: visible;
  animation-timing-function: ease-in-out;
}

.crimesPickpocketing {
  height: inherit;
  overflow: hidden;
  perspective: 1000px;
}

.scene {
  transform-style: preserve-3d;
}

.bike {
  .parallaxBG {
    top: -10px;
    left: -10px;
    width: 802px;
    height: 170px;
    background: url("/images/v2/2sef32sdfr422svbfr2/crimes/pickpocketing/banners/976/bike.jpg") 0 0 no-repeat;
    animation: pick-parallaxBG-r 50s linear 0s infinite normal;
    animation-timing-function: ease-in-out;
  }

  .parallaxModel {
    top: -10px;
    right: 50px;
    width: 300px;
    height: 170px;
    background: url("/images/v2/2sef32sdfr422svbfr2/crimes/pickpocketing/banners/976/model_1.png") 0 0 no-repeat;
    animation: pick-parallaxModel-r 50s linear 0s infinite normal;
  }
}

.crosswalk {
  .parallaxBG {
    top: -10px;
    left: -10px;
    width: 802px;
    height: 170px;
    background: url("/images/v2/2sef32sdfr422svbfr2/crimes/pickpocketing/banners/976/crosswalk.jpg") 0 0 no-repeat;
    animation: pick-parallaxBG-l 50s linear 0s infinite normal;
  }

  .parallaxModel {
    top: -10px;
    left: 25px;
    width: 295px;
    height: 170px;
    background: url("/images/v2/2sef32sdfr422svbfr2/crimes/pickpocketing/banners/976/model_2.png") 0 0 no-repeat;
    animation: pick-parallaxModel-l 50s linear 0s infinite normal;
  }
}

.underground {
  .parallaxBG {
    top: -10px;
    left: -10px;
    width: 802px;
    height: 170px;
    background: url("/images/v2/2sef32sdfr422svbfr2/crimes/pickpocketing/banners/976/underground.jpg") 0 0 no-repeat;
    animation: pick-parallaxBG-r 50s linear 0s infinite normal;
  }

  .parallaxModel {
    top: -10px;
    right: 50px;
    width: 242px;
    height: 170px;
    background: url("/images/v2/2sef32sdfr422svbfr2/crimes/pickpocketing/banners/976/model_3.png") 0 0 no-repeat;
    animation: pick-parallaxModel-r 50s linear 0s infinite normal;
  }
}

.alley {
  .parallaxBG {
    top: -10px;
    left: -10px;
    width: 802px;
    height: 170px;
    background: url("/images/v2/2sef32sdfr422svbfr2/crimes/pickpocketing/banners/976/alley.jpg") 0 0 no-repeat;
    animation: pick-parallaxBG-r 50s linear 0s infinite normal;
  }

  .parallaxModel {
    top: -10px;
    right: 50px;
    width: 295px;
    height: 170px;
    background: url("/images/v2/2sef32sdfr422svbfr2/crimes/pickpocketing/banners/976/model_4.png") 0 0 no-repeat;
    animation: pick-parallaxModel-r 50s linear 0s infinite normal;
  }
}

.bench {
  .parallaxBG {
    top: -10px;
    left: -10px;
    width: 802px;
    height: 170px;
    background: url("/images/v2/2sef32sdfr422svbfr2/crimes/pickpocketing/banners/976/bench.jpg") 0 0 no-repeat;
    animation: pick-parallaxBG-l 50s linear 0s infinite normal;
  }

  .parallaxModel {
    position: absolute;
    top: -10px;
    left: 30px;
    width: 300px;
    height: 170px;
    background: url("/images/v2/2sef32sdfr422svbfr2/crimes/pickpocketing/banners/976/model_5.png") 0 0 no-repeat;
    animation: pick-parallaxModel-l 50s linear 0s infinite normal;
  }
}

@keyframes pick-parallaxBG-r {
  0% {
    transform: translate3d(-15px, 0, -17px) rotate3d(0, 10, 0, -6deg);
  }

  50% {
    transform: translate3d(15px, -5px, 110px) rotate3d(0, 10, 0, 6deg);
  }

  100% {
    transform: translate3d(-15px, 0, -17px) rotate3d(0, 10, 0, -6deg);
  }
}
@keyframes pick-parallaxModel-r {
  0% {
    transform: translate3d(0, 0, 10px) rotate3d(0, 10, 0, -7deg);
  }

  50% {
    transform: translate3d(55px, -10px, 160px) rotate3d(0, 10, 0, 6deg);
  }

  100% {
    transform: translate3d(0, 0, 10px) rotate3d(0, 10, 0, -7deg);
  }
}
@keyframes pick-parallaxBG-l {
  0% {
    transform: translate3d(15px, 0, -17px) rotate3d(0, 10, 0, 6deg);
  }

  50% {
    transform: translate3d(-15px, -5px, 110px) rotate3d(0, 10, 0, -6deg);
  }

  100% {
    transform: translate3d(15px, 0, -17px) rotate3d(0, 10, 0, 6deg);
  }
}
@keyframes pick-parallaxModel-l {
  0% {
    transform: translate3d(0, 0, 10px) rotate3d(0, 10, 0, 7deg);
  }

  50% {
    transform: translate3d(-55px, -10px, 160px) rotate3d(0, 10, 0, -6deg);
  }

  100% {
    transform: translate3d(0, 0, 10px) rotate3d(0, 10, 0, 7deg);
  }
}
