
@import '../index.cssmodule.scss';

.columnsContainer {
  composes: columnsFlex;
  opacity: 1;
}

.columnWrap {
  composes: columns;
  height: 216px;
}

.item {
  width: auto;
  height: auto;
}

.buttonDefauls {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.buttonColumnItem {
  padding: 6px 0 6px 11px;
  width: 100%;
  height: 24px;
  font: inherit;
  text-align: left;
  composes: buttonDefauls;

  &:hover {
    background: #f4f4e9;
  }
}

.title {
  color: #8a8a7b;
  line-height: 12px;
  pointer-events: none;
}

.itemSelected {
  .title {
    color: #85b200;
  }
}
