@import '../../styles/animation.cssmodule.scss';
@import '../../styles/common.cssmodule.scss';

.searchTypingLoader {
  display: block;
  position: relative;
  width: 14px;
  margin: auto 8px;
  height: 14px;
  box-sizing: border-box;
  composes: loadingSpinner;
}

.buttonInput {
  composes: button;
  composes: flexRow;
  position: relative;
  width: 30px;
  height: inherit;
  padding: 5px 8px !important;
  justify-content: center;
}

.buttonDelimiter {
  &::after {
    content: "";
    width: 1px;
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 5%, rgb(192, 209, 216) 50%, rgba(0, 0, 0, 0) 95%);
  }
}

.clearButton {
  composes: buttonInput;
  composes: buttonDelimiter;
}

.historyButton {
  composes: buttonInput;
  composes: buttonDelimiter;
}

.buttonCommit {
  composes: buttonInput;
}

:global(.greySelectSearchWrap) {
  .buttonDelimiter {
    &::after {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 5%, #cccccc 50%, rgba(0, 0, 0, 0) 95%);
    }
  }
}
