@import '../../styles/mixins';
@import '../../styles/vars';

.betPanel {
  display: flex;
  align-items: center;
  flex: 1;

  @include appType([ 'desktop/full', 'desktop/sidebar', 'tablet/full' ]) {
    justify-content: space-around;
    padding: 0 15px 0 0;
  }
  @include appType([ 'tablet/sidebar', 'mobile' ]) {
    padding: 8px 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
}
