.crimes-icon {
  display: inline-block;
  width: 34px;
  height: 26px;
  background: url("/images/v2/2sef32sdfr422svbfr2/crimes/star_icons_34x34px.png") 0 0 no-repeat;
  color: #fff;
  font-family: 'Imagine Font', sans-serif;
  font-size: 8px;
  line-height: 26px;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  vertical-align: middle;
}

.lvlWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  position: relative;
  margin-left: 10px;
  width: 25px;
  height: 25px;

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      margin-left: 2px;
    }
  }
}

.lvlText {
  height: 18px;

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      padding-right: 0;
    }
  }
}

// .lvlIcon {
//   padding-top: 1px;
//   width: 26px;
//   height: 26px;

//   @media screen and (min-width: 1001px) {
//     #{$global-r} & {
//       margin-left: 10px;
//       padding-left: .5px;
//     }
//   }
// }

// .lvlBlank {
//   #{$global-d} & {
//     margin-left: 0;
//     width: 27px;
//     background-position: -37px -6px;
//     text-shadow: none;
//   }
// }

.lvlReady {
  display: inline-block;
  background-position: -3.3px -5px;
}

.withPointerEvent {
  #{$global-d} & {
    pointer-events: all;
  }
}

.reqItem1 {

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      order: 2;
      padding-right: 2px;
    }
  }
}

.reqItem2 {

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      order: 1;
    }
  }
}
