@import '../index.cssmodule.scss';

.playersBox {
  composes: rowSection;
  composes: players;
  flex: 0 1 47px;
  text-align: right;

  @media #{$screen-tablet} {
    #{$global-r} & {
      padding: 10px 10px 8px 10px;
    }
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      flex: 0 1 50px;
    }
  }
}
