.areasLayer {

  .ctArea {
    position: absolute;
    box-sizing: border-box;
    z-index: 700;

    .border {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-style: solid;

      .ctAreaIcon {
        width: 100%;
        height: 100%;
        display: inline-block;
        opacity: 0.25;
      }
    }

    &.top {
      padding-top: 0;

      .border {
        border-top-width: 1px;
      }
    }
    &.right {
      padding-right: 0;

      .border {
        border-right-width: 1px;
      }
    }
    &.bottom {
      padding-bottom: 0;

      .border {
        border-bottom-width: 1px;
      }
    }
    &.left {
      padding-left: 0;

      .border {
        border-left-width: 1px;
      }
    }

    &.notSaved {
      .ctAreaIcon {
        opacity: 0.15;
      }
    }

    &.selected {
      .ctAreaIcon {
        opacity: 0.35;
      }
    }
  }
}

:global(.tab-blocking),
:global(.tab-history),
:global(.tab-parameters),
:global(.tab-npc),
:global(.tab-objects),
:global(.tab-layers) {
  .areasLayer {
    opacity: .5;
  }
}
