@import '../../styles//common.cssmodule.scss';

.headerContainer {
  box-sizing: border-box;
  width: inherit;
  height: 33px;
  border-bottom: 1px solid #bfd0d8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(180deg, #fafbfc, #dcebf1);
  composes: flexCenterStart;
}

.title {
  composes: fontBlue;
  font-size: 14px;
  line-height: 17px;
  text-shadow: 1px 1px 1px #fff;
  text-transform: uppercase;
  word-spacing: 1.1px;
}

.textBorders {
  padding-left: 10px;
}
