.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.borderBox {
  border: 1px solid #cecebf;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.text {
  color: #79796a;
  font: inherit;
  text-align: left;
}

.dropDownContainer {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  min-height: 100px;
  max-height: 230px;
  width: 100%;
  height: auto;
  background: #fff;
  color: #79796a;
  composes: flexColumn;
  composes: borderBox;
  overflow-x: hidden;

  &::-webkit-scrollbar-thumb {
    width: 12px;
    border: 3px solid #f0f0e1;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 1px #f0f0e1;
    background-color: #fff;
  }

  &::-webkit-scrollbar {
    width: 14px;
    background: #f0f0e1;
    -webkit-appearance: none;
    border-bottom-right-radius: 5px;

    &:hover {
      background: #f2f2e8;
    }
  }
}

.dropdownPlaceholder {
  margin: auto;
  width: auto;
  height: 100%;
  right: 50%;
  transform: translateX(144%);
  position: relative;
}

.noScroll {
  overflow: visible;
}

.buttonDefaults {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.buttonTag {
  padding: 0 10px;
  width: 100%;
  height: 23px;
  border-top: 1px solid #f0f0e1;
  line-height: 24px;
  composes: text;
  composes: buttonDefaults;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:first-child {
    border-top: none;
  }

  // &:last-child {
  //   border-bottom-right-radius: 5px;
  //   border-bottom-left-radius: 5px;
  // }

  &:hover {
    background: #f4f4e9;
  }
}

.tagClicked {
  color: #85b200;
}

.btnTitle {
  opacity: 1;
}

.btnType {
  opacity: .8;
  opacity: .2;
  font-size: 9px;
}
