@import '../../styles/index.cssmodule.scss';

.font {
  color: #678c00;
  font-weight: bold;
  text-align: center;
}

.boughtContainer {
  justify-content: space-between;
  width: inherit;
  height: inherit;
  background: transparent;
  composes: flexCenter;
  composes: container;
}

.infoWrap {
  box-sizing: border-box;
  flex-wrap: wrap;
  width: inherit;
  height: inherit;
  composes: font;
  composes: flexCenter;
}

.text {
  padding-left: 5px;
  width: auto;
  height: auto;
  composes: textBasic;

  &:first-child {
    padding-left: 0;
  }
}

.ownerWrap {
  composes: flexCenter;
}
