.submissions {
  * {
    box-sizing: border-box;
  }
  .titles {
    display: flex;
    color: #666;
    color: var(--default-gray-6-color);
    border-bottom: 1px solid #CCC;
    border-bottom-color: var(--default-panel-divider-outer-side-color);
    line-height: 34px;
    font-weight: 700;
    background: linear-gradient(180deg, #fff 0, #ddd 100%);
    background: var(--title-white-gradient);
    .name {
      width: 240px;
      border-right: 1px solid #CCC;
      border-right-color: var(--default-panel-divider-outer-side-color);
      padding: 0 10px;
    }
    .article {
      border-left: 1px solid #FFF;
      border-left-color: var(--default-panel-divider-inner-side-color);
      padding: 0 10px;
    }
  }
  .list {
    .item {
      background: #F2F2F2;
      background: var(--default-bg-panel-color);
      border-bottom: 1px solid #CCC;
      border-bottom-color: var(--default-panel-divider-outer-side-color);
      border-top: 1px solid #FFF;
      border-top-color: var(--default-panel-divider-inner-side-color);
      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      &.new {
        background: linear-gradient(180deg, #fff 0, #ddd 100%);
        background: var(--title-white-gradient);
        .title {
          color: #333;
          color: var(--reporting-panel-acricles-color);
        }
      }
      &.deleted {
        background: #F9D9D2;
      }
      .row {
        display: flex;
      }
      .author {
        border-right: 1px solid #CCC;
        border-right-color: var(--default-panel-divider-outer-side-color);
        padding: 5px 0 5px 10px;
        width: 240px;

        &.withoutImage {
          padding: 10px 0 5px 10px;
        }
      }
      .title {
        width: 507px;
        border-left: 1px solid #FFF;
        border-left-color: var(--default-panel-divider-inner-side-color);
        line-height: 32px;
        padding: 0 10px;
        font-weight: 700;
        color: #999;
        color: var(--default-gray-9-color);
        cursor: pointer;
      }
      .action {
        position: relative;
        padding: 0 10px;
        cursor: pointer;
        &.disabled {
          cursor: default;
        }
        &:before, &:after {
          content: '';
          display: inline-block;
          height: 100%;
          width: 1px;
          vertical-align: middle;
          position: relative;
          left: -9px;
          background: linear-gradient(0deg, #CCCCCC00 0%, #CCCCCC 50%, #CCCCCC00 100%);
          background: var(--default-divider-left-linear-gradient);
        }
        &:after {
          position: absolute;
          left: 2px;
          top: 0;
          background: linear-gradient(180deg, #FFFFFF00 0%, #FFFFFF 50%, #FFFFFF00 100%);
          background: var(--default-divider-right-linear-gradient);
        }
      }
      .text {
        background: #FFF;
        background: var(--default-bg-panel-active-color);
        padding: 20px 10px;
        border-top: 1px solid #CCC;
        border-top-color: var(--default-panel-divider-outer-side-color);
        .mobileInfo {
          display: none;
        }

        img {
          max-width: 100%;
        }
      }
    }
  }
}

:global(.r) {
  @media screen and (max-width: 1000px) {
    .submissions {
      .titles {
        display: none;
      }
      .list {
        .item {
          .author {
            display: none;
          }
          .title {
            border-left: none;
          }
          .action {
            min-width: 38px;
          }
          .text {
            .mobileInfo {
              display: block;
              margin-bottom: 20px;
              :global(.authorLink) {
                display: inline-block;
                margin-left: 3px;
              }
              .mobileTitle {
                font-weight: 700;
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
}

:global(.r) {
  @media screen and (max-width: 600px) {
    .submissions {
      .list {
        .item {
          &:last-child {
            border-radius: 0;
          }
        }
      }
    }
  }
}
