.wrap {
  opacity: 1;
}

.toolTipPreset {
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 3px #d4d2d2;
  padding: 7px 10px 5px 10px;
}

.tooltipTextPreset {
  font: inherit;
  font-family: 'Fjalla One', sans-serif;
  word-wrap: break-word;
  color: #888;
}

.tooltipContainer {
  z-index: 10000;
  max-width: 100%;
  max-height: 50px;
  box-sizing: border-box;
  composes: toolTipPreset;
  composes: tooltipTextPreset;
}

.tooltipTitle {
  padding: 0;
  word-break: normal;
  white-space: nowrap;
}

.tooltipArrow {
  filter: drop-shadow(0 1px 1px #aba5a55c);
}
