.tContainer {
  display: block;
  margin-top: 11px;
  width: 100%;
}

.topSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  border-radius: 5px 5px 0 0;
  background: repeating-linear-gradient(90deg, #666, #666 2px, #6d6d6d 0, #6d6d6d 4px);
  background: var(--appheader-tutorial-title-background);
}

.iconContainer {
  display: inline-block;
  padding: 0 6px 0 12px;
}

.tHeader {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
  text-shadow: var(--appheader-tutorial-title-text-shadow);
  color: #fff;
  color: var(--appheader-tutorial-title-color);
}

.bottomSection {
  display: block;
}

.tText {
  padding: 10px;
  border-radius: 0 0 5px 5px;
  background-color: #f2f2f2;
  background-color: var(--appheader-tutorial-text-background);
  line-height: 16px;
  color: #333;
  color: var(--appheader-tutorial-text-color);
  border-bottom: 1px solid #fff;
  border-bottom: var(--appheader-tutorial-border-bottom);
}

.delimiter {
  margin-top: 10px;
  border-top: 1px solid #999;
  border-top: var(--appheader-delimiter-top-border);
  border-bottom: 1px solid #ebebeb;
  border-bottom: var(--appheader-delimiter-bottom-border);
}
