.bookmakers {
  margin-top: 10px;
}

.container {
  margin-top: 30px;
}

.navigation {
  margin-top: 60px;
}

.link {
  color: #069;
  font-size: 20px;
  text-decoration: none;

  &:not(:first-child) {
    padding-left: 25px;
  }

  &:hover {
    color: #999;
  }
}

.activeLink {
  color: #999;
}
