.frontPage {
  width: 782px;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  * {
    box-sizing: border-box;
  }
}
.mainCont {
  float: left;
}
.sideCont {
  float: left;
  width: 202px;
  min-height: 666px;
  padding: 20px 18px 0 10px;
  position: relative;
  font-family: 'Times New Roman', sans-serif;
  background: url(/images/v2/newspaper/divider_vertical.png) left 0 repeat-y;
  background: var(--newspaper-divider-vertical-line-url) left 0 repeat-y;
}
.messagesWrap {
  min-height: 218px;
  position: relative;
}

:global(.r) {
  @media screen and (max-width: 1000px) {
    .frontPage {
      width: 386px;
    }
    .mainCont {
      float: none;
    }
    .sideCont {
      width: auto;
      float: none;
      padding: 0;
      min-height: 500px;
      background: none;
      :global(.tornPreloader) {
        display: none;
        min-height: unset;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .frontPage {
      width: 320px;
    }
    .statistics {
      text-align: center;
      position: relative;
      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 56px;
        background: url(/images/v2/newspaper/graphic_front_page_320.png) 0 0 no-repeat;
      }
      &:after {
        background-position: 100% 0;
        left: auto;
        right: 0;
      }
    }
  }
}
