$disck-step: 40;

.disksWrap {
  font-family: Fjalla One, sans-serif;
  letter-spacing: 0;
  font-size: 13px;
  line-height: 21px;
  color: #8a8a79;

  // @media #{$screen-tablet} {
  //   #{$global-r} & {
  //     font-size: 21px;
  //   }
  // }
  // @media #{$screen-mobile} {
  //   #{$global-r} & {
  //     font-size: 14px;
  //   }
  // }
}

.disk-image-tiny {
  // transform: scale(1.5);
  display: inline-block;
  margin: 0 3px 3px 3px;
  width: 34px;
  height: 34px;
  border-radius: 50px;
  background: url('/images/v2/2sef32sdfr422svbfr2/crimes/bootlegging/disks_34x34.png') 0 1px no-repeat;
  vertical-align: middle;
  transition: box-shadow 1s ease-in-out;

  &.pop {
    background-position: -#{1 * $disck-step - 1}px 0;
  }

  &.rock {
    background-position: -#{2 * $disck-step - 2}px 0;
  }

  &.urban {
    background-position: -#{3 * $disck-step - 2}px 0;
  }

  &.country {
    background-position: -#{4 * $disck-step - 3}px 0;
  }

  &.classical {
    background-position: -#{5 * $disck-step - 4}px 0;
  }

  &.dance {
    background-position: -#{6 * $disck-step - 4}px 0;
  }

  &.rap {
    background-position: -#{7 * $disck-step - 5}px 0;
  }

  &.jazz {
    background-position: -#{8 * $disck-step - 6}px 0;
  }
}
