@import '../../styles/common.cssmodule.scss';
@import '../../styles/constants.cssmodule.scss';

.inputWrap {
  width: 100%;
  height: 26px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #c0d1d8;
  border-radius: 5px;
  composes: flexRow;
  justify-content: flex-start;
  background: #fff;
  background: var(--selectSearchWrap-search-item-bg);
  transition: background .1s linear;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: 34px;
    }
  }
  // @media #{$screen-mobile} {
  //   #{$global-r} & {
  //     flex: 1 0 68px;
  //   }
  // }
}

.searchItem {
  width: 100%;
  background: transparent;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  height: 26px;
  border-radius: 0 !important;
  color: #888;
  color: var(--default-gray-8-color);

  &::placeholder {
    color: #ccc;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      max-width: 100%;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      max-width: 300px;
    }
  }
}

.activeDropDown {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.warningInput {
  border-color: red;
}

.backDropInput {
  opacity: .5;
  position: absolute;
  color: #c1c0c0;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  user-select: none;
}

.inputBlock {
  width: 100%;
  composes: flexRow;
  justify-content: flex-start;
  position: relative;
}

.enhancersBlock {
  height: inherit;
  composes: flexRow;
  justify-content: flex-start;
}

.buttonsBlock {
  composes: flexRow;
  justify-content: flex-start;
  position: relative;
  right: 0;
}

.readOnlyInputWrap {
  background-color: #f5f5f5;
}

.readOnlyInput {
  opacity: .8;
  cursor: default;
  user-select: none;
  pointer-events: none;
}

:global(.greySelectSearchWrap) {
  .inputWrap {
    border-color: $borderGrey;
    border-color: var(--selectSearchWrap-button-border-color);
  }
}
