.flexStartRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.lobbyWrap {
  padding-top: 10px;
  width: 100%;
  height: 100%;
}

.headerWrap {
  box-sizing: border-box;
  width: inherit;
  height: 33px;
  border-bottom: 1px solid #bfd0d8;
  border-bottom-color: var(--ct-lobby-title-border-bottom-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(180deg, #fff 0, #e0edf3 99%);
  background: var(--ct-title-bg);
  composes: flexStartRow;

  @media #{$screen-mobile} {
    #{$global-r} & {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.bodyWrap {
  opacity: 1;
}

.font {
  font-family: 'Fjalla One', sans-serif;
  font-size: 14px;
  line-height: normal;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .45);
  text-shadow: var(--ct-lobby-text-shadow);
  word-spacing: 1.1px;
}

.title {
  color: #668fa3;
  color: var(--ct-title-font-color);
  composes: font;
}

.section {
  position: relative;
  padding: 8px 10px;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 0;
    height: 32px;
    border-width: 0 1px 0 0;
    border-style: solid;
  }

  &::before {
    right: 1px;
    border-image: linear-gradient(180deg, rgba(248, 249, 250, .18) 5%, #d8e1e6 25%, #c1ced6 50%, #c9d8e0 75%, rgba(248, 249, 250, .18) 95%) 1 100%;
    border-image: var(--ct-title-before-divider-bg) 1 100%;
  }

  &::after {
    right: 0;
    border-image: linear-gradient(180deg, rgba(248, 249, 250, .18) 5%, #f9fbfc 25%, #fff 50%, #f9fbfc 75%, rgba(248, 249, 250, .18) 90%) 1 100%;
    border-image: var(--ct-title-after-divider-bg) 1 100%;
  }

  &:last-of-type {
    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  &.creator {
    &::before {
      right: 0;
    }

    &::after {
      right: -1px;
    }
  }

  &.players {
    &::before {
      right: -1px;
    }

    &::after {
      right: -2px;
    }
  }

  &.rating {
    &::before {
      right: 0;
    }

    &::after {
      right: -1px;
    }
  }

  &.prize {
    &::before {
      right: 0;
    }

    &::after {
      right: -1px;
    }
  }
}

.headerSection {
  composes: section;
  composes: title;
}

.rowWrap {
  height: 33px;
  border-top: 1px solid #e5e5e5;
  border-color: var(--ct-lobby-border-color);
  background: #fff;
  background: var(--ct-panel-bg);
  composes: flexStartRow;
  // overflow: hidden;

  &:hover {
    background: #f2fbfe;
    background: var(--ct-table-row-hover);
  }

  &:last-of-type {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      &:last-of-type {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.rowActiveMapJoined {
  position: relative;
  background: #e3f5fa;
  background: var(--ct-table-row-active);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    z-index: 99999;
    width: 3px;
    height: 100%;
    background: #9cd2dc;
    background: var(--ct-table-row-active-after);
  }

  &:hover {
    background: #e3f5fa;
    background: var(--ct-table-row-active-hover);
  }
}

.rowSection {
  composes: section;
  padding: 9px 10px;
  composes: font;
  color: #8a8a8a;
  color: var(--ct-lobby-color);
  font-size: 12px;

  &::before {
    top: 0;
    height: 33px;
    border-image: linear-gradient(#d4dee3, #d4dee3) 1 100%;
    border-image: var(--ct-lobby-sections-border-image);
  }

  &::after {
    content: none;
  }
}

.mapName {
  flex: 0 1 347px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex: 0 1 176px;
      padding: 8px 10px 8px 12px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      flex: 0 1 276px;
    }
  }
}

.prize {
  flex: 0 1 30px;
}

.creator {
  flex: 0 1 160px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}

.players {
  flex: 0 1 41px;
  text-align: end;

  .playerIcon {
    fill: #668fa3;
    fill: var(--ct-lobby-players-icon-fill);
    filter: url(#defaultFilter);
    filter: var(--ct-icon-filter);
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex: 0 1 50px;
      padding: 8px 11px 8px 8px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      flex: 0 1 66px;
      padding: 8px 10px;
    }
  }
}

.rating {
  flex: 0 1 104px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex: 0 1 66px;
      padding: 8px 9px 8px 11px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      flex: 0 1 100px;
      padding: 8px 10px;
    }
  }
}

.join {
  flex: 0 1 24px;
}

.rowsPlaceholder {
  padding: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #fff;
  background: var(--ct-panel-bg);
  color: #668fa3;
  font-size: 13px;
  text-align: center;
  composes: font;
}

.lazyPreloader {
  box-sizing: border-box;
  display: block;
  margin: 10px;
  width: calc(100% - 20px);
  height: 20px;
}

:global(.d .content-wrapper.travelling) {
  .lobbyWrap {
    max-width: 784px;
    margin: 0 auto;
  }
}

:global(.r .content-wrapper.travelling) {

  @media #{$screen-tablet} {
    .lobbyWrap {
      max-width: 386px;
      margin: 0 auto;
    }
  }
}
