/* prevent from flexslider bottom scrollbar */
// html {
//   overflow-x: hidden !important
// }

.d .bookie-popular-wrap .bookie-sports-tabs-wrap {
  position: relative;
  border-bottom: 1px solid transparent;
}

.d .bookie-popular-wrap .bookie-sports-tabs-wrap::after {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 100%;
  height: 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}

.d .bookie-popular-wrap .bookie-games-tabs.slides {
  display: flex;
}

.d .bookie-popular-wrap .bookie-games-tabs.slides > li,
.d .bookie-popular-wrap .bookie-date-tabs.slides > li {
  flex: 1 1;
  position: relative;
  top: 0;
  left: 0;
  border-right: 1px solid #ccc;
  border-left: 1px solid #fff;
}

.d .bookie-popular-wrap .bookie-games-tabs.slides > li::before,
.d .bookie-popular-wrap .bookie-date-tabs.slides > li::before,
.d .bookie-popular-wrap .bookie-games-tabs.slides > li::after,
.d .bookie-popular-wrap .bookie-date-tabs.slides > li::after {
  content: '';
  position: absolute;
  left: -2px;
  z-index: 9;
  display: block;
  width: 2px;
  height: 10px;
}

.d .bookie-popular-wrap .bookie-games-tabs.slides > li:first-child::before,
.d .bookie-popular-wrap .bookie-date-tabs.slides > li:first-child::before,
.d .bookie-popular-wrap .bookie-games-tabs.slides > li:first-child::after,
.d .bookie-popular-wrap .bookie-date-tabs.slides > li:first-child::after {
  display: none;
}

.d .bookie-popular-wrap .bookie-games-tabs.slides > li::before,
.d .bookie-popular-wrap .bookie-date-tabs.slides > li::before {
  top: 0;
  background: -moz-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 0) 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(242, 242, 242, 1)),
    color-stop(100%, rgba(242, 242, 242, 0))
  ); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(
    top,
    rgba(242, 242, 242, 1) 0%,
    rgba(242, 242, 242, 0) 100%
  ); /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 0) 100%); /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */
}

.d .bookie-popular-wrap .bookie-games-tabs.slides > li::after,
.d .bookie-popular-wrap .bookie-date-tabs.slides > li::after {
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(242, 242, 242, 0) 0%, rgba(221, 221, 221, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(242, 242, 242, 0)),
    color-stop(100%, rgba(221, 221, 221, 1))
  ); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(
    top,
    rgba(242, 242, 242, 0) 0%,
    rgba(221, 221, 221, 1) 100%
  ); /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(242, 242, 242, 0) 0%, rgba(221, 221, 221, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(242, 242, 242, 0) 0%, rgba(221, 221, 221, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(242, 242, 242, 0) 0%, rgba(221, 221, 221, 1) 100%); /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#00ffffff', endColorstr='#dddddd', GradientType=0); /* IE6-9 */
}

.d .bookie-popular-wrap .bookie-games-tabs.slides > li:first-child,
.d .bookie-popular-wrap .bookie-date-tabs.slides > li:first-child {
  border-left: transparent;
}

.d .bookie-popular-wrap .bookie-games-tabs.slides > li:first-child,
.d .bookie-popular-wrap .bookie-games-tabs.slides > li:last-child {
  width: 40px;
}

.d .bookie-popular-wrap .bookie-date-tabs.slides > li:first-child,
.d .bookie-popular-wrap .bookie-date-tabs.slides > li:last-child {
  width: 79px !important;
}

.d .bookie-popular-wrap .bookie-games-tabs.slides > li:last-child,
.d .bookie-popular-wrap .bookie-date-tabs.slides > li:last-child {
  border-right: transparent;
}

.d .bookie-popular-wrap .bookie-games-tabs.slides > li a,
.d .bookie-popular-wrap .bookie-date-tabs.slides > li a {
  display: block;
  color: #888;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 0 rgb(255, 255, 255);
}

.d .bookie-popular-wrap .flexslider {
  margin-bottom: 0;
  padding-bottom: 30px;
  overflow: hidden;
}

.d .bookie-popular-wrap .flex-control-nav {
  bottom: -10px;
  padding: 12px 0;
  background: #fff;
}

.d .bookie-popular-wrap .bookie-games-tabs.slides > li.ui-state-disabled a,
.d .bookie-popular-wrap .bookie-date-tabs.slides > li.ui-state-disabled a {
  cursor: default;
  color: #bababa;
}

.d .bookie-popular-wrap .bookie-games-tabs.slides > li.ui-state-active a,
.d .bookie-popular-wrap .bookie-date-tabs.slides > li.ui-state-active a {
  color: #444;
}

.d .bookie-popular-wrap .pop-list > li {
  cursor: pointer;
}

.d .stats-main-wrap .bookie-popular-wrap .pop-list > li {
  cursor: auto;
}

.d .bookie-popular-wrap .pop-list > li.title {
  cursor: auto;
  position: relative;
  border-top: 1px solid transparent;
}

.d .bookie-popular-wrap .pop-list > li.title:first-child::after {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: -2px;
  width: 100%;
  height: 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}

.d .bookie-popular-wrap .pop-list > li.disabled {
  color: #888;
}

.d .bookie-popular-wrap .pop-list > li.active .pop-game {
  background: #ddd; /* Old browsers */
  background: -moz-linear-gradient(top, #ddd 0%, #fff 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ddd),
    color-stop(100%, #fff)
  ); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ddd 0%, #fff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ddd 0%, #fff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ddd 0%, #fff 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ddd 0%, #fff 100%); /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#dddddd', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
}

.d .bookie-popular-wrap .pop-list > li.live .pop-game {
  background: #fdfdfc; /* Old browsers */
  background: -moz-linear-gradient(top, #fdfdfc 0%, #e1e9d2 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #fdfdfc),
    color-stop(100%, #e1e9d2)
  ); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fdfdfc 0%, #e1e9d2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fdfdfc 0%, #e1e9d2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fdfdfc 0%, #e1e9d2 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fdfdfc 0%, #e1e9d2 100%); /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#FDFDFC', endColorstr='#E1E9D2', GradientType=0); /* IE6-9 */
  color: #698c00;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.65);
}

/* .d .bookie-popular-wrap .pop-list > li.live .pop-game span {
  opacity: 0.65;
} */

.d .bookie-popular-wrap .pop-list > li.upcomming .pop-game {
  background: #fff; /* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #d4e7e7 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #fff),
    color-stop(100%, #d4e7e7)
  ); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fff 0%, #d4e7e7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%, #d4e7e7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff 0%, #d4e7e7 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fff 0%, #d4e7e7 100%); /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#D4E7E7', GradientType=0); /* IE6-9 */
  color: #069;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.65);
}

.d .bookie-popular-wrap .pop-list > li.completed .pop-game {
  background: #fff; /* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #ddd 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #fff),
    color-stop(100%, #ddd)
  ); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fff 0%, #ddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%, #ddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff 0%, #ddd 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fff 0%, #ddd 100%); /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0); /* IE6-9 */
  color: #aaa;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.65);
}

.d .bookie-popular-wrap .pop-list > li.show-more .pop-game {
  color: #999;
}

.d .bookie-popular-wrap .t-winner-bold {
  color: #757575;
}

.d .bookie-popular-wrap .pop-list > li .info-wrap {
  display: none;
}

.d .bookie-popular-wrap .pop-list > li.active .info-wrap {
  display: block;
  background-color: #fff;
}

.d .bookie-popular-wrap .pop-list .pop-game,
.d .bookie-popular-wrap .pop-list > li.active:last-child .pop-game {
  border-bottom: 1px solid #ccc;
}

.d .bookie-popular-wrap .pop-list > li.active:last-child .info-wrap {
  border-radius: 0 0 5px 5px;
}

.d .bookie-popular-wrap .pop-list > li:last-child .pop-game,
.d .bookie-popular-wrap .pop-list > li.active:last-child .bets-wrap {
  border-bottom: transparent;
}

.d .bookie-popular-wrap .pop-list .pop-game > li {
  height: 31px;
  float: left;
  border-top: 1px solid #fff;
  border-right: 1px solid #ccc;
  border-left: 1px solid #fff;
  line-height: 32px;
}

.d .bookie-popular-wrap .pop-list .pop-game > li:first-child {
  border-left: transparent;
}

.d .bookie-popular-wrap .pop-list .pop-game > li:last-child {
  border-right: transparent;
}

.d .bookie-popular-wrap .pop-list .pop-game > li.game {
  width: 34px;
}

.d .bookie-popular-wrap .pop-list .pop-game > li.team {
  padding-right: 10px;
  padding-left: 10px;
  width: 680px;
  font-weight: bold;
}

.d .stats-main-wrap .bookie-popular-wrap .pop-list .pop-game > li.team {
  width: 665px;
}

.d .bookie-popular-wrap .pop-list .pop-game > li.state-wrap {
  width: 45px;
  text-align: center;
}

.d .stats-main-wrap .bookie-popular-wrap .pop-list .pop-game > li.state-wrap {
  width: 60px;
}

.d .bookie-popular-wrap .pop-list .pop-game .gm-state-icon {
  display: block;
  margin: 0 auto;
  width: 34px;
  height: 31px;
  background: url(/images/v2/casino/bookie/match_state.svg) 0 0 no-repeat;

  @extend .globalSvgShadow;
}

.d .bookie-popular-wrap .pop-list .pop-game .gm-state-icon.waiting {
  background-position: 0 0;
}

.d .bookie-popular-wrap .pop-list .pop-game .gm-state-icon.lost {
  background-position: 0 -34px;
}

.d .bookie-popular-wrap .pop-list .pop-game .gm-state-icon.won {
  background-position: 0 -68px;
}

.d .bookie-popular-wrap .pop-list .pop-game .gm-withdraw-icon {
  display: block;
  margin: 0 auto;
  width: 32px;
  height: 31px;
  background: url(/images/v2/casino/bookie/withdraw_button_icon.png) 0 0 no-repeat;
  background-position: -2px 0;
}

.d .bookie-popular-wrap .pop-list .pop-game .gm-withdraw-icon:hover {
  background-position: -2px -68px;
}

.d .bookie-popular-wrap .bets-wrap input[type='text'] {
  padding: 4px 1px 4px 9px;
  width: 100px;
  border: 1px solid #ccc;
  font-weight: normal;
  line-height: 14px;
  vertical-align: middle;
}

.d .bookie-popular-wrap .input-money-group .input-money-symbol,
.d .bookie-popular-wrap .input-money-group input.input-money {
  padding-top: 4px;
  padding-bottom: 4px;
}

.d .bookie-popular-wrap .bets-wrap {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  color: #333;
}

.d .bookie-popular-wrap .bets-wrap .btn {
  padding: 0 15px 0 10px;
  cursor: pointer;
}

.d .bookie-popular-wrap .bets-wrap .bets {
  width: 100%;
}

.d .bookie-popular-wrap .bets-wrap > li,
.d .bookie-popular-wrap .bets-wrap .bet .bet-cell {
  height: 34px;
  float: left;
  line-height: 35px;
}

.d .bookie-popular-wrap .bets-wrap > li {
  text-align: center;
}

.d .bookie-popular-wrap .bets-wrap > li.title {
  width: 100%;
}

.d .bookie-popular-wrap .bets-wrap .bet {
  border-top: 1px solid #eee;
}

.d .bookie-popular-wrap .bets-wrap .bet.market-name-cell {
  padding-left: 10px;
  border-top: none;
  text-align: left;
}

.d .bookie-popular-wrap .bets-wrap .bet.market-name-cell.first {
  border-top: 1px solid #eee;
}

.d .bookie-popular-wrap .bets-wrap .bet .bet-cell {
  padding: 0 10px;
  border-left: 1px solid #eee;
}

.d .bookie-popular-wrap .bets-wrap .bet .bet-cell.odds {
  width: 30px;
  font-weight: bold;
}

.d .bookie-popular-wrap .bets-wrap .bet .bet-cell.odds.fractional {
  border-left: transparent;
}

.d .bookie-popular-wrap .bets-wrap .bet .bet-cell.result {
  width: 450px;
  float: right;
  text-align: left;
}

.d .bookie-popular-wrap .bets-wrap .bet .bet-cell.result.closed {
  width: 662px;
}

.d .bookie-popular-wrap .pop-list > li.disabled .bet .bet-cell.result {
  width: 712px;
}

.d .bookie-popular-wrap .bets-wrap .bet .bet-cell.input-wrap {
  line-height: 32px;
}

.d .bookie-popular-wrap .pop-list > li.disabled .bet .bet-cell.input-wrap {
  display: none;
}

.d .bookie-popular-wrap .bets-wrap .bet .bet-cell.input-wrap .btn-wrap {
  display: inline-block;
  vertical-align: middle;
}

.d .bookie-popular-wrap .stick-wrap > li.stick {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  margin-right: 18px;
  width: 42px;
  height: 20px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
}

.d .bookie-popular-wrap .stick-wrap > li.stick .figure {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 7px;
  width: 100%;
  height: 10px;
  border-radius: 5px 0;
  background-color: #707070;
  transform: skewX(-20deg);
}

.d .bookie-popular-wrap .stick-wrap > li.stick .text {
  position: relative;
  top: 0;
  left: 8px;
  z-index: 2;
  color: #fff;
}

.d .bookie-popular-wrap .stick-wrap > li.stick.won .figure {
  background-color: #a8c468;
}

.d .bookie-popular-wrap .stick-wrap > li.stick.won.withdraw .figure {
  background-color: #61a82d;
}

.d .bookie-popular-wrap .stick-wrap > li.stick.refunded .figure {
  background-color: #d8c27d;
}

.d .bookie-popular-wrap .stick-wrap > li.stick.refunded.withdraw .figure {
  background-color: #c79a10;
}

.d .bookie-popular-wrap .stick-wrap > li.stick.lost .figure {
  background-color: #d1a08f;
}

.d .bookie-popular-wrap .bets-wrap .confirm-wrap {
  display: none;
  padding: 0 10px;
  width: 662px;
  height: 34px;
  float: right;
  border-left: 1px solid #eee;
  line-height: 35px;
  text-align: center;
  text-align: center;
}

.d .bookie-popular-wrap .input-btn {
  display: inline-block;
  margin-left: -4px;
  padding: 4px 10px;
  border: 0;
  border-radius: 0 3px 3px 0;
  background: rgb(215, 215, 215);
  background: -moz-linear-gradient(
    top,
    rgba(215, 215, 215, 1) 0%,
    rgba(189, 189, 189, 1) 17%,
    rgba(152, 152, 152, 1) 61%,
    rgba(126, 126, 126, 1) 83%,
    rgba(124, 124, 124, 1) 87%,
    rgba(127, 127, 127, 1) 91%,
    rgba(134, 134, 134, 1) 96%,
    rgba(138, 138, 138, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(215, 215, 215, 1) 0%,
    rgba(189, 189, 189, 1) 17%,
    rgba(152, 152, 152, 1) 61%,
    rgba(126, 126, 126, 1) 83%,
    rgba(124, 124, 124, 1) 87%,
    rgba(127, 127, 127, 1) 91%,
    rgba(134, 134, 134, 1) 96%,
    rgba(138, 138, 138, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(215, 215, 215, 1) 0%,
    rgba(189, 189, 189, 1) 17%,
    rgba(152, 152, 152, 1) 61%,
    rgba(126, 126, 126, 1) 83%,
    rgba(124, 124, 124, 1) 87%,
    rgba(127, 127, 127, 1) 91%,
    rgba(134, 134, 134, 1) 96%,
    rgba(138, 138, 138, 1) 100%
  );
  color: #333;
  font-size: 14px;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  vertical-align: middle;
  cursor: pointer;
}

.d .bookie-popular-wrap .input-btn:hover {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(203, 203, 203, 1) 61%,
    rgba(176, 176, 176, 1) 83%,
    rgba(172, 172, 172, 1) 91%,
    rgba(176, 176, 176, 1) 96%,
    rgba(177, 177, 177, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(203, 203, 203, 1) 61%,
    rgba(176, 176, 176, 1) 83%,
    rgba(172, 172, 172, 1) 91%,
    rgba(176, 176, 176, 1) 96%,
    rgba(177, 177, 177, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(203, 203, 203, 1) 61%,
    rgba(176, 176, 176, 1) 83%,
    rgba(172, 172, 172, 1) 91%,
    rgba(176, 176, 176, 1) 96%,
    rgba(177, 177, 177, 1) 100%
  );
}

.d .bookie-popular-wrap .input-btn.disabled,
.d .bookie-popular-wrap .input-btn:hover.disabled {
  background: rgb(133, 133, 133);
  background: -moz-linear-gradient(
    top,
    rgba(133, 133, 133, 1) 0%,
    rgba(145, 145, 145, 1) 4%,
    rgba(159, 159, 159, 1) 13%,
    rgba(200, 200, 200, 1) 96%,
    rgba(235, 235, 235, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(133, 133, 133, 1) 0%,
    rgba(145, 145, 145, 1) 4%,
    rgba(159, 159, 159, 1) 13%,
    rgba(200, 200, 200, 1) 96%,
    rgba(235, 235, 235, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(133, 133, 133, 1) 0%,
    rgba(145, 145, 145, 1) 4%,
    rgba(159, 159, 159, 1) 13%,
    rgba(200, 200, 200, 1) 96%,
    rgba(235, 235, 235, 1) 100%
  );
  cursor: default;
  color: #737373;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.15);
}

.d .bookie-popular-wrap .input-money-group input.input-money {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.d .bookie-popular-wrap .pop-list .pop-game > li.team .name {
  display: inline-block;
}

.d .bookie-popular-wrap .info-msg .msg {
  line-height: 18px;
}

.d .bookie-popular-wrap {
  .search-box {
    padding-top: 10px;
  }

  .search-label {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 6px 8px;
    background-color: #ddd;
    color: #888;
    font-weight: bold;
    cursor: pointer;

    &.selected {
      background-color: #fff;
      color: #333;
    }
  }

  .search-input {
    display: inline-block;
    margin-left: 10px;
    padding: 0 10px;
    width: 144px;
    height: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: url(/images/v2/main/icons/user_ID_search_active.png) #fff 96% 5px no-repeat;
  }

  .react-dropdown-default {
    display: none;
  }
}

.d .bookie-popular-wrap .logo .logo-bg {
  margin-top: 2px;
  width: 70px;
  height: 12px;
  background: url(/images/v2/casino/bookie/betfair.svg) no-repeat;

  @extend .globalSvgShadow;
}

.d .bookie-popular-wrap .logo {
  margin: 0;
  padding: 0;
}

.d .bookie-popular-wrap .withdraw-all-msg {
  display: flex;
}

.d .bookie-popular-wrap .withdraw-all {
  margin-left: auto;
}

.d .bookie-popular-wrap .withdraw-all .btn {
  padding: 0 10px 0 7px;
}

.d .bookie-popular-wrap .windraw-icon-button {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 1000px), screen and (max-device-width: 1000px) {
  .r .bookie-popular-wrap .bookie-games-tabs.slides {
    display: block;
    justify-content: unset;
  }

  .r .bookie-popular-wrap .bookie-games-tabs.slides > li,
  .r .bookie-popular-wrap .bookie-date-tabs.slides > li {
    flex-grow: unset;
  }

  .r .bookie-popular-wrap .game-slider {
    height: 34px;
    color: #888;
    font-weight: bold;
    line-height: 34px;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
    position: relative;
    top: 0;
    left: 0;
    padding-right: 40px;
    padding-left: 39px;
  }

  .r .bookie-popular-wrap .game-slider .flex-direction-nav a {
    width: 8px;
    height: 20px;
    background: url(/images/v2/casino/bookie/slider_arrows.png) left bottom no-repeat;
  }

  .r .bookie-popular-wrap .game-slider .flex-direction-nav .flex-prev,
  .r .bookie-popular-wrap .game-slider .flex-direction-nav .flex-next {
    top: 33px;
  }

  .r .bookie-popular-wrap .game-slider .flex-direction-nav .flex-prev,
  .r .bookie-popular-wrap .game-slider .flex-direction-nav .flex-prev:hover {
    left: 14px;
    background-position: left top;
  }

  .r .bookie-popular-wrap .game-slider .flex-direction-nav .flex-next,
  .r .bookie-popular-wrap .game-slider .flex-direction-nav .flex-next:hover {
    right: 14px;
    background-position: right top;
  }

  .r .bookie-popular-wrap .game-slider a.flex-prev.flex-disabled,
  .r .bookie-popular-wrap .game-slider a.flex-prev.flex-disabled:hover {
    background-position: left bottom;
    cursor: default;
  }

  .r .bookie-popular-wrap .game-slider a.flex-next.flex-disabled,
  .r .bookie-popular-wrap .game-slider a.flex-next.flex-disabled:hover {
    background-position: right bottom;
    cursor: default;
  }

  .r .bookie-popular-wrap .pop-list .pop-game > li.team {
    width: 283px;
  }

  .r .bookie-popular-wrap .bets-wrap > li.title {
    padding: 10px 53px;
    width: 280px;
    line-height: 19px;
  }

  .r .bookie-popular-wrap .bets-wrap > li {
    height: auto;
  }

  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell {
    padding: 0 10px;
    border-bottom: 1px solid #eee;
    text-align: left;
  }

  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.odds {
    width: 172px;
  }

  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.multiplier {
    width: 172px;
  }

  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.result,
  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.result.closed,
  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.input-wrap,
  .r .bookie-popular-wrap .bets-wrap .confirm-wrap {
    width: 366px;
    border-left: transparent;
  }

  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.input-wrap {
    border-bottom: transparent;
  }

  .r .bookie-popular-wrap .bets-wrap input[type='text'] {
    width: 274px;
  }

  .r .bookie-popular-wrap .bets-wrap .confirm-wrap {
    padding: 10px;
    height: auto;
    line-height: 19px;
  }

  .r .bookie-popular-wrap .bets-wrap .confirm-wrap .link-wrap {
    display: block;
  }

  .r .bookie-popular-wrap .pop-list .pop-game .gm-withdraw-icon {
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 31px;
    background: url(/images/v2/casino/bookie/withdraw_icon_mobile.png) 0 0 no-repeat;
    background-position: -2px -34px;
  }

  .r .bookie-popular-wrap .pop-list .pop-game .gm-withdraw-icon:hover {
    background-position: -2px 0;
  }

  .r .bookie-popular-wrap .pop-list .pop-game .state-wrap .special.btn-wrap.silver {
    background: none;
  }

  .r .bookie-popular-wrap .pop-list .pop-game .state-wrap .btn {
    background: none;
  }

  .r .bookie-popular-wrap {
    .search-label {
      display: none;
    }

    .search-input {
      margin-bottom: 10px;
      width: 344px;
      height: 30px;
      background-position: 97% 8px;
    }

    .react-dropdown-default {
      display: block;
      margin: 0 10px 10px;
      width: auto;
    }
  }

  .r .stats-main-wrap .bookie-popular-wrap .pop-list .pop-game > li.team {
    width: 266px;
  }

  .r .bookie-popular-wrap .withdraw-all-msg {
    flex-direction: column;
  }

  .r .bookie-popular-wrap .withdraw-all {
    position: inherit;
    margin-top: 6px;
    margin-left: 0;
    width: 94px;
  }

  .r .bookie-popular-wrap .pop-list .pop-game > li.team {
    .name.bets-num-1 {
      max-width: 220px;
    }

    .name.bets-num-2 {
      max-width: 160px;
    }

    .name.bets-num-3 {
      max-width: 108px;
    }
  }

  .r .stats-main-wrap .pop-list .pop-game > li.team {
    .name.bets-num-1 {
      max-width: 210px;
    }

    .name.bets-num-2 {
      max-width: 144px;
    }

    .name.bets-num-3 {
      max-width: 106px;
    }
  }

  .r .bookie-popular-wrap .pop-list .pop-game > li.team .competition {
    display: none;
  }
}
@media screen and (max-width: 600px), screen and (max-device-width: 600px) {
  .r .bookie-popular-wrap .pop-list .pop-game > li.team {
    width: 217px;
  }

  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.result,
  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.result.closed,
  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.input-wrap,
  .r .bookie-popular-wrap .bets-wrap .confirm-wrap {
    width: 300px;
  }

  .r .bookie-popular-wrap .bets-wrap > li.title {
    padding-right: 20px;
    padding-left: 20px;
    width: 280px;
  }

  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.odds {
    width: 139px;
  }

  .r .bookie-popular-wrap .bets-wrap .bet .bet-cell.multiplier {
    width: 139px;
  }

  .r .bookie-popular-wrap .bets-wrap input[type='text'] {
    width: 208px;
  }

  .r .bookie-popular-wrap {
    .search-input {
      width: 278px;
    }
  }

  .r .bookie-popular-wrap .logo .logo-bg {
    float: none;
  }

  .r .bookie-popular-wrap .pop-list .pop-game > li.team {
    .name.bets-num-1 {
      max-width: 152px;
    }

    .name.bets-num-2 {
      max-width: 94px;
    }

    .name.bets-num-3 {
      max-width: 36px;
    }
  }

  .r .stats-main-wrap .bookie-popular-wrap .pop-list .pop-game > li.team {
    .name.bets-num-2 {
      max-width: 82px;
    }
  }

  .r .stats-main-wrap .bookie-popular-wrap .pop-list .pop-game > li.team {
    width: 202px;
  }
}
