<link rel="stylesheet" type="text/css" href="https://dev-www.torn.com/min/css/header.min.css?v=1467723380896" />
<link rel="stylesheet" type="text/css" href="https://dev-www.torn.com/css/style/main.css?v=3" />
<link type="text/css" rel="stylesheet" href="https://dev-www.torn.com/css/style/icon.css" />
<link type="text/css" rel="stylesheet" href="https://dev-www.torn.com/css/style/light_mode/vars.css" />
<link type="text/css" rel="stylesheet" href="https://dev-www.torn.com/css/style/dark_mode/vars.css">
<link type="text/css" rel="stylesheet" href="https://dev-www.torn.com/css/style/lib/tornInputMoney.css">

<style>
  @import url('https://fonts.googleapis.com/css?family=Fjalla+One');

  * {
    font-family: 'Fjalla One', sans-serif;
  }
</style>

<script type="text/javascript" src="/js/script/lib/react.16.13.1.development.js"></script>
<script type="text/javascript" src="/js/script/lib/react-dom.16.13.1.development.js"></script>
<script type="text/javascript" src="/js/script/lib/react-dom-server.browser.16.13.1.development.js"></script>
<script type="text/javascript" src="/js/script/lib/prop-types.min.js"></script>

<script type="text/javascript" src="/js/script/src/websocket_handlers/common_handler.js"></script>
<script type="text/javascript" src="/js/script/src/websocket_handlers/torn_mobile_app_handler.js"></script>

<script src='https://dev-www.torn.com/js/script/lib/jquery-1.8.2.js'></script>
<script src='https://dev-www.torn.com/js/script/lib/jquery.ui.widget.js'></script>
<script src='https://dev-www.torn.com/js/script/lib/jquery.ui.position.js'></script>
<script src='https://dev-www.torn.com/js/script/lib/jquery.ui.selectmenu.js'></script>
<script src='https://dev-www.torn.com/js/script/lib/jquery.tinyscrollbar.js'></script>
<script src='https://dev-www.torn.com/js/script/lib/jquery.scrollbar.js'></script>
<script src='https://dev-www.torn.com/js/script/lib/jquery-ui-1.9.1.custom.min.js'></script>
<script src='https://dev-www.torn.com/js/script/lib/jquery.placeholder.js'></script>
<script src='https://dev-www.torn.com/js/script/lib/jquery.flexslider.js'></script>
<script src='https://dev-www.torn.com/js/script/lib/handlebars-1.0.rc.1.min.js'></script>
<script src='https://dev-www.torn.com/js/script/util/handlebarsHelpers.js'></script>
<script src='https://dev-www.torn.com/js/script/lib/prettyCheckable.js'></script>
<script src='https://dev-www.torn.com/js/script/lib/jquery.cookie.js'></script>
<script src='https://dev-www.torn.com/js/script/lib/jquery.ellipsis.js'></script>
<script src='https://dev-www.torn.com/js/script/lib/detect-zoom.js'></script>
<script src='https://dev-www.torn.com/js/script/src/common.js'></script>
<script src='https://dev-www.torn.com/js/base.js'></script>
<script src='https://dev-www.torn.com/js/script/lib/custom/jquery.countdown.js'></script>
<script src='https://dev-www.torn.com/js/jquery/fancybox/jquery.fancybox-1.3.4.pack.js'></script>
<script src='https://dev-www.torn.com/js/script/lib/jquery.validate.min.js'></script>
<script src='https://dev-www.torn.com/js/script/lib/custom/tornInputMoney.js'></script>
<script src='https://dev-www.torn.com/js/script/lib/lodash.js'></script>
<script src='https://dev-www.torn.com/js/script/lib/jquery.colorbox.js'></script>
