.players {
  display: flex;
  justify-content: space-between;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex-direction: column;
    }
  }
}

.player {
  width: 483px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 100%;
    }
  }
}

.playerArea {
  position: relative;
  display: flex;
}

.playersModelWrap {
  opacity: 1;
}

.playerWindow {
  position: relative;
  box-sizing: border-box;
  width: calc(100% - 159px);
  height: 455px;
  order: 1;
  overflow: hidden;
  border-color: #fff #fbfbfb #ededed #f2f2f2;
  border-style: solid;
  border-width: 1px 0 1px 1px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      border-width: 1px 1px 1px 0;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: calc(100% - 80px);
      height: 455px;
    }
  }
}

.logStatsWrap {
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
  height: 372px;
  overflow: hidden;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: auto;
      display: block;
      border-radius: 5px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      height: auto;
      display: block;
      border-radius: 0;
    }
  }
}

.log {
  flex: 1 0 646px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex: 0 0 578px;
      padding-right: 10px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      flex: 0 0 320px;
      padding-right: 5px;
    }
  }
}

.stats {
  max-width: 320px;
  flex: 0 0 320px;
  margin-left: 10px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex: 0 0 578px;
      margin-left: 0;
      padding-left: 10px;
      max-width: 578px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      max-width: 320px;
      flex: 0 0 320px;
      margin-left: 0;
      padding-left: 5px;
    }
  }
}

.me {

  @media #{$screen-tablet} {
    #{$global-r} & {
      order: 2;

      :global(.title-black) {
        border-radius: 0 !important;
        box-shadow: none !important;
      }
    }
  }
}

.rival {

  @media #{$screen-tablet} {
    #{$global-r} & {
      order: 1;
    }
  }
}

:global(.r .custom-bg-mobile) {

  @media #{$screen-mobile} {
    top: 36px;
  }
}

#{$dark-mode} {
  .playerWindow {
    border-color: #565656 #565656 #565656 #565656;
    position: relative;
  }
}
