.titleWrap {
  border-bottom: 1px solid #bfd0d8;
  background: linear-gradient(180deg, #fff 0, #e0edf3 99%);
  background: var(--ct-title-bg);
  border-bottom: 1px solid #bfd0d8;
  border-bottom-color: var(--ct-map-editor-primary-section-divider-color);
  height: 34px;
  display: flex;
  flex-direction: row;
  width: 345px;
  box-shadow: var(--ct-section-inner-left-shadow);
  position: relative;
  z-index: 2;

  .tab {
    position: relative;
    background: transparent;
    padding: 0;
    display: inline-block;
    height: 100%;
    border: none;
    flex: 1;
    cursor: pointer;
    margin: 0;

    .tabIcon {
      fill: #7fa1b2;
      fill: var(--ct-map-editor-tab-button-color);
      filter: var(--ct-map-editor-button-filter);
    }

    &:first-child {
      &::before,
      &::after {
        display: none;
      }
    }

    &:last-child {
      margin-right: -1px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 1px;
      height: 34px;
    }

    &::before {
      background: linear-gradient(180deg, rgba(248, 249, 250, .18) 5%, #d8e1e6 25%, #c1ced6 50%, #c9d8e0 75%, rgba(248, 249, 250, .18) 95%);
      background: var(--ct-title-before-divider-bg);
    }

    &::after {
      left: 1px;
      background: linear-gradient(180deg, rgba(248, 249, 250, .18) 5%, #f9fbfc 25%, #fff 50%, #f9fbfc 75%, rgba(248, 249, 250, .18) 90%);
      background: var(--ct-title-after-divider-bg);
    }

    &.active {
      background: linear-gradient(180deg, #ddf7ff, #ddd 99%);
      background: var(--ct-map-editor-title-button-bg-active);
    }

    .iconWrapper {
      font-size: 0;
      line-height: 0;
    }
  }
}
