@import '../../styles/mixins.scss';

$message-width: 170px;
$genders: male female other;
$colors: (
  you: #00bfff,
  male-1: #b3cbf1,
  male-2: #95d0ea,
  male-3: #75d7db,
  male-4: #64d8c5,
  female-1: #f6d0d0,
  female-2: #f5c9d8,
  female-3: #f3c5f0,
  female-4: #d7c6f3,
  other-1: #9ae2bc,
  other-2: #c8e7ac,
  other-3: #efe1a6,
  other-4: #f1d5b4
);

@mixin gendersStyle() {
  @each $gender in $genders {
    @for $i from 1 through 4 {
      &.#{$gender}_#{$i} {
        .iconPath {
          fill: map-get($colors, #{$gender}-#{$i});
        }

        .chatBubble {
          border: 1px solid map-get($colors, #{$gender}-#{$i});
          background: map-get($colors, #{$gender}-#{$i});

          &::before {
            border-color: map-get($colors, #{$gender}-#{$i});
            background-color: map-get($colors, #{$gender}-#{$i});
          }
        }
      }
    }
  }
}

@include gendersStyle();

@include keyframes(appeared) {
  0% {
    transform: scale(0);
  }
  35% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.ct-user .img-wrap {
  @include animation('appeared 0.2s linear');
}

@include keyframes(exited) {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(0);
  }
}

.ct-user.exited .img-wrap {
  @include animation(exited 0.2s linear);
  transform: scale(0);
}

@include keyframes(hospitalized) {
  10% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(-90deg);
  }
  75% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.ct-user.hospitalized .img-wrap {
  @include animation('hospitalized 1s linear');
}

.messageWrapper {
  position: relative;
  z-index: 1000;
  max-width: $message-width;

  .chatBubble {
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding: 1px 5px;
    min-width: 40px;
    box-shadow: inset 0 0 0 40px hsla(0, 0%, 70%, .75);
    font: 10px Monospace;
    line-height: 14px;
    text-align: center;
    pointer-events: none;

    &.topPos {
      bottom: 6px;
      transform: translateX(calc(-50% + 19px));
    }

    &.topPos.rightPos {
      transform: translateX(9px);
    }

    &.topPos.leftPos {
      transform: translateX(calc(-100% + 25px));
    }

    &.bottomPos {
      transform: translate(calc(-50% + 19px), 35px);
    }

    &.bottomPos.rightPos {
      transform: translate(10px, 35px);
    }

    &.bottomPos.leftPos {
      transform: translate(calc(-100% + 26px), 35px);
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      z-index: -1;
      display: block;
      margin-left: -7px;
      width: 10px;
      height: 10px;
      border-style: solid;
      box-shadow: inset 0 0 0 40px hsla(0, 0%, 70%, .75);
      transform: rotate(45deg);
    }

    &.topPos::before {
      bottom: -6px;
      border-width: 0 1px 1px 0;
    }

    &.bottomPos::before {
      top: -6px;
      border-width: 1px 0 0 1px;
    }

    &.rightPos::before {
      left: 9px;
    }

    &.leftPos::before {
      right: 2px;
      left: unset;
    }

    .messageText {
      max-width: $message-width;
      max-height: 29px;
    }
  }
}

.you {
  .iconBorderPath {
    fill: #000;
  }

  .chatBubble {
    border: 1px solid map-get($colors, you);
    background: map-get($colors, you);

    &::before {
      border-color: map-get($colors, you);
      background-color: map-get($colors, you);
    }
  }
}

.svgImageWrap {
  width: 10px;
  display: inline-block;
  overflow: visible;

  svg {
    margin-left: -4px;
    margin-top: 0;
  }

  .iconBorderPath {
    fill: #666;
  }

  &.handsUp {
    svg {
      animation: userJumpWithHandsUp 1s linear;
    }
  }

  &.shaking {
    svg {
      animation: userShaking 1s linear;
    }
  }

  &.jumping {
    svg {
      animation: userJump 1s linear;
    }
  }

  &.pulsing {
    .ellipse {
      content: '';
      display: block;
      position: absolute;
      width: 14px;
      border-radius: 10px;
      height: 20px;
      margin: -2px 0 0 -3px;
      background-color: #38befc;
      opacity: 0;
      animation: userElliplsePulsing 1s linear;

      &.inList {
        margin-left: -1px;
      }
    }
  }

  &.infiniteAnimation {
    animation-iteration-count: infinite;

    svg, .iconBorderPath, .iconPath, .ellipse {
      animation-iteration-count: infinite;
    }
  }
}

@keyframes userJumpWithHandsUp {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(0px);
  }
  35% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes userShaking {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  35% {
    transform: rotate(-20deg);
  }
  45% {
    transform: rotate(15deg);
  }
  55% {
    transform: rotate(-15deg);
  }
  65% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes userJump {
  0% {
    transform: translateY(0px);
  }
  5% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-5px);
  }
  20% {
    transform: translateY(2px);
  }
  35% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(2px);
  }
  65% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes userElliplsePulsing {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0.4;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.7);
  }
  100% {
    opacity: 0;
  }
}

.leftOriented {
  &.right {
    transform: scaleX(-1);
  }
}

.rightOriented {
  &.left {
    transform: scaleX(-1);
  }
}

