$signButtonWidth: 27px;

.inputBlock {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 10px;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 5px;

  &.inputError {
    border: 1px solid red;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin: 0;
    }
  }
}

.signText {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.button {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.signButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $signButtonWidth;
  height: 26px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  vertical-align: middle;
  composes: signText;
  composes: button;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: 34px;
    }
  }
}

.disabledButton {
  cursor: default;
}

.input {
  box-sizing: border-box;
  padding: 6px 10px;
  width: calc(100% - #{$signButtonWidth});
  height: inherit;
  border-radius: 5px;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  line-height: 14px;

  &:read-only {
    background: #ddd;
    cursor: default;
  }

  &.rounded {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
  }

  &.noSignButtonInput {
    width: 100%;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      padding: 10px 6px;
    }
  }

  #{$dark-mode} & {
    &:read-only {
      background: #444;
    }
  }
}

.warningTooltip {
  position: absolute;
  top: -140%;
  left: 50%;
  z-index: 10000;
  padding: 7px;
  width: max-content;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(17, 17, 17, .28);
  background: #f9f8f8;
  color: red;
  white-space: pre;
  transform: translateX(-50%);

  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 27px;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 8px solid #f9f8f8;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    filter: drop-shadow(0 2px 1px rgba(17, 17, 17, .15));
    transform: translateX(-50%);
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      top: -105%;
      right: calc(50% + 41px);
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      top: -105%;
      right: calc(50% + 57px);
    }
  }

  #{$dark-mode} & {
    background: #444;

    &::after {
      border-top: 8px solid #444;
    }
  }
}

:global {
  .inputTooltip-enter {
    opacity: 0;

    &.inputTooltip-enter-active {
      transition: opacity .3s linear;
      opacity: 1;
    }
  }

  .inputTooltip-exit {
    opacity: 1;
    transition: opacity .1s linear;

    &.inputTooltip-exit-active {
      opacity: 0;
    }
  }
}
