.overlay {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(204, 204, 204, .6);
  background: var(--ct-map-editor-overlay-bg);
  color: #668fa3;
  color: var(--ct-map-editor-overlay-font-color);
  z-index: 100;

  .messageWrapper {
    align-self: center;
    text-align: center;
    width: 100%;

    .title {
      padding: 10px;
      border-radius: 5px;
      background: #fff;
      background: var(--ct-map-editor-overlay-text-container-bg);
      box-shadow: 0 0 3px rgba(0, 0, 0, .25);
      box-shadow: var(--ct-map-editor-overlay-text-container-box-shadow);
    }
  }
}
