.bullet {
  position: absolute;
  // background: url(/images/v2/attack/hits.png) no-repeat;
  width: 35px;
  height: 35px;
  margin-left: -17px;
  margin-top: -17px;
  z-index: 999;

  &.hit {
    background-position: left top;
  }

  &.hitOld {
    background-position: right top;
  }

  &.miss {
    background-position: left bottom;
  }

  &.missOld {
    background-position: right bottom;
  }
}
