@import "../../../../../../../../../styles/colors.scss";

:global(.light) {
  .active {
    background-color: #fff;
  }
}

:global(.dark),
:global(.d.dark-mode) {
  .active {
    background-color: rgba(0, 0, 0, .5);
  }
}

.xSimilar {
  padding: 0 10px;

  .xSimilarBtn {
    margin: 0 0 0 31px;
    font-size: 11px;
    font-family: "Arial", Helvetica, sans-serif;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    &.hide {
      display: none;
    }
  }

  &.staff {
    .xSimilarBtn {
      margin: 0 0 0 107px;
    }
  }

  .label {
    float: left;
    line-height: 24px;
  }

  .arrowWrapper {
    display: flex;
    width: 36px;
    height: 24px;
    vertical-align: top;
    align-content: center;
    align-items: center;
    justify-content: center;
    float: left;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid $blue;
      margin-right: 2px;
    }

    &.open {
      &::after {
        border-bottom: none;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-top: 5px solid $blue;
      }
    }
  }
}

@keyframes expand {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin keyframes-fading($color) {
  0% {
    background: $color;
  }

  20% {
    background: $color;
  }

  100% {
    background: transparent;
  }
}

@keyframes fading-dark {

  @include keyframes-fading(rgba(0, 0, 0, .5));
}
@keyframes fading-light {

  @include keyframes-fading(rgb(255, 255, 255));
}

.similarWrapper {
  display: none;

  .similarTable {
    width: 100%;
    table-layout: fixed;
  }

  &.show {
    display: table-row;
  }
}

:global(.light) {
  &.xSimilar {
    .xSimilarBtn {
      color: $darkBlue;
      color: var(--default-blue-color);
    }

    .arrowWrapper {
      &::after {
        border-left-color: $darkBlue;
        border-left-color: var(--default-blue-color);
      }

      &.open {
        &::after {
          border-left-color: transparent;
          border-top-color: $darkBlue;
          border-top-color: var(--default-blue-color);
        }
      }
    }
  }

  &.similarWrapper {
    &.show {
      animation: expand .5s 1, fading-light 2.5s 1;
    }
  }
}

@mixin x-similar-dark-style() {
  .xSimilarBtn {
    color: $blue;
  }

  .arrowWrapper {
    &::after {
      border-left-color: $blue;
    }

    &.open {
      &::after {
        border-left-color: transparent;
        border-top-color: $blue;
      }
    }
  }
}
@mixin x-similar-wrapper-dark-style() {
  &.show {
    animation: expand .5s 1, fading-dark 2.5s 1;
  }
}

:global(.dark) {
  &.xSimilar {

    @include x-similar-dark-style();
  }

  &.similarWrapper {

    @include x-similar-wrapper-dark-style();
  }
}

:global(.d.dark-mode) {
  .xSimilar {

    @include x-similar-dark-style();
  }

  .similarWrapper {

    @include x-similar-wrapper-dark-style();
  }
}
