@import '../../../styles/glob.cssmodule.scss';

.defaults {
  margin: 0;
  padding: 0;
  border: none;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.shareMapContainer {
  position: relative;
  padding: 10px 0;
  composes: flexColumn;
  border-top: 1px solid #d4dfe4;
  border-top-color: var(--ct-skeleton-border-color);

  @media #{$screen-tablet} {
    #{$global-r} & {
      padding: 0;
      padding-top: 12px;
      padding-bottom: 9px;
      border-top: none;
    }
  }
}

.topSection {
  box-sizing: border-box;
  margin-bottom: 10px;
  min-height: 26px;
  padding: 0 10px;
  composes: flexColumn;
}

.inputsWrapper {
  composes: flexRow;
  justify-content: space-between;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex-direction: column;
    }
  }
}

.bottomSection {
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
  margin-bottom: 1px;
  padding: 5px 10px 0 10px;
  width: 100%;
  height: 30px;
  composes: flexRow;
}

:global(.r .content-wrapper.travelling) {

  @media #{$screen-tablet} {
    .shareMapContainer {
      max-width: unset;
    }

    .inputsWrapper {
      max-width: 366px;
    }
  }
}
