$width: 100%;
$imgPadding: 10px;
$imgContainerWidth: 100px;
$imgContainerHeight: 50px;
$buyFormWidth: 46px;
$descriptionWidth: calc(#{$width} - #{$imgPadding} - #{$imgContainerWidth});
$descriptionWidthMobile: calc(#{$width} - #{$imgPadding} - #{$imgContainerWidth} - #{$buyFormWidth});

.itemDescription {
  display: flex;
  width: $width;
  height: 100%;
}

.controlPanel {
  position: absolute;
  box-sizing: border-box;
  display: none;
  width: 100%;
  height: 100%;
  border: 1px solid #bbb;
  border-color: var(--items-plate-button-border-color);
  border-radius: 5px;
  background: linear-gradient(180deg, #fff 0%, #ffffffbf 100%) no-repeat;
  background: var(--items-plate-button-gradient);

  &.focused {
    display: flex;
  }
}

.imgBar {
  $shadowSize: 1px;

  position: relative;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-left: $imgPadding;
  width: $imgContainerWidth;
  height: $imgContainerHeight;
  border-radius: 5px;
  // background: url(/images/v2/items/item_market/item_bg_search_view_bazaar.png) no-repeat;

  &:hover .controlPanel {
    display: flex;
  }
}

.imgContainer {
  display: flex;
  flex-grow: 1;
  position: absolute;
}

.viewIcon {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 0;
  width: 102px;
  height: 52px;
  background: url(/images/v2/display_cabinet/view_item_details.png) no-repeat;
  border-color: var(--items-plate-button-border-color);
  border-radius: 5px;
  background: transparent linear-gradient(180deg, #fff 0%, #ffffffbf 100%) 0 0 no-repeat;
  background: var(--items-plate-button-gradient);
  border: 1px solid #bbb;
  border-color: var(--items-plate-button-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #808080;
  color: var(--items-plate-button-group-color);
  font: normal normal bold 12px/14px Arial;
}

.viewDetailsTitle {
  text-align: left;
  margin-left: 10px;
}

.img {
  flex-grow: 1;
}

.convertedImage {
  height: 50px;
  width: 100px;
  padding: 3px 0 0 0;
  box-sizing: border-box;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid #fff;
  border-radius: 6px;
  box-shadow: inset 0 3px 4px #1111113b;
  background: #e8e8e8 linear-gradient(0deg, #ebebeb 0%, #dddddd 100%) 0 0 no-repeat;
  background: var(--items-plate-background-color) var(--items-plate-background);
  border: var(--items-plate-border);
  border-color: var(--items-plate-border-color);
  box-shadow: var(--items-plate-box-shadow);
}

.isBlockedForBuying {
  background: #ff35001a;
  // background: var(--items-plate-background-color) var(--items-plate-background);
}

.controlPanelButton {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0;
  background: 0;
  outline: none;

  &:not(:first-child) {
    border-left: 1px solid #bbb;
    border-color: var(--items-plate-button-border-color);
  }
}

.description {
  box-sizing: border-box;
  padding: 11px 10px 10px 10px;
  width: $descriptionWidth;
  height: 100%;
  white-space: nowrap;

  @media #{$screen-tablet} {
    #{$global-r} & {
      padding-top: 13px;
      padding-left: 8px;
      width: $descriptionWidthMobile;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      padding-top: 11px;
      padding-left: 10px;
      width: $descriptionWidthMobile;
    }
  }
}

.name {
  display: block;
  height: 15px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.price {
  display: block;
  margin-top: 3px;
  height: 15px;
  text-overflow: ellipsis;
  overflow-x: hidden;

  @media #{$screen-mobile} {
    #{$global-r} & {
      margin-top: 4px;
    }
  }
}

.amount {
  display: flex;
  margin-top: 2px;

  @media #{$screen-mobile} {
    #{$global-r} & {
      margin-top: 2px;
    }
  }
}

.amountValue {
  height: 15px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.buyForm {
  width: $buyFormWidth;
}

.lockContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 13px;
  box-sizing: border-box;
}

.isBlockedForBuyingGlow {
  filter: drop-shadow(0 0 1px #ff3500);
}

.dmContainer {
  position: relative;
  overflow: hidden;
}

.dmImg {
  filter: drop-shadow(0 -50px 0px #000);
  position: absolute;
  top: 50px;
  left: 0;
}
