@import '../../../../layouts/CoreLayout/tooltip.cssmodule.scss';

.wrap {
  @extend .wrap;
}

.container {
  @extend .container;

  width: 204px !important;
  text-align: center;
}

.title {
  @extend .title;
}

.arrowWrap {
  @extend .arrowWrap;
}

.tooltipArrow {
  @extend .tooltipArrow;
}
