.animatedPart {
  position: absolute;
  left: 36px;
  top: 52px;
  width: 49px;
  height: 40px;
  overflow: hidden;

  .movablePart {
    width: 100%;
    height: 100%;
    background: url(/images/v2/christmas_town/gates/gate93/2.png) left bottom no-repeat;
    transition: transform 0.5s;
    transform: translateY(0);
  }

  &.opened .movablePart {
    transform: translateY(-100%);
  }
}
