$infoPaddingRight: 10px;
$buttonsWidth: 47px;
$cancelSize: 30px;
$cancelRight: 2px;
$buttonOccupiedSpace: $cancelSize + $cancelRight - $infoPaddingRight;

.buyMenu {
  display: flex;
  width: $buttonsWidth;
  height: 71px;
  background: #fff;
  background-color: var(--default-bg-panel-active-color);
}

.info {
  position: relative;
  box-sizing: border-box;
  padding: 10px $infoPaddingRight 10px 11px;
  width: calc(100% - #{$buttonsWidth});
}

.infoLine {
  display: block;
  height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.name {
  composes: infoLine;
  width: calc(100% - #{$buttonOccupiedSpace});
}

.price {
  composes: infoLine;
  margin-top: 3px;
  width: calc(100% - #{$buttonOccupiedSpace});
}

.amount {
  composes: infoLine;
  margin-top: 3px;
  width: 100%;
}

.close {
  position: absolute;
  top: 4px;
  right: $cancelRight;
  display: block;
  padding: 0;
  width: $cancelSize;
  height: $cancelSize;
  border: 0;
  background: 0;
  cursor: pointer;
}
