@import '../../styles/mixins';

$step: 20px;
$chipNames: 10000000000 1000000000 100000000 10000000 1000000 100000 10000 1000 100 10 1;

.moneyStackWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.stack {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 -1px;

  @include appType('mobile') {
    width: 19px;
  }
}

.chip {
  width: #{$step};
  height: #{$step};
  margin-top: -18px;
  position: relative;
  background: url(/casino/holdem/images/svg/chips.svg) no-repeat;
}

$i: 0;

@each $chip in $chipNames {
  .chip-#{$chip} {
    background-position: -#{$step * $i};
  }
  $i: $i + 1;
}
