:global(#preferencesroot) {
  .keyRow {
    display: flex;
    align-items: start;
    border-bottom: 1px solid #ddd;
    border-color: var(--preferences-api-divider);
    line-height: 16px;
    font-size: 12px;
    padding: 10px 0;
    align-content: center;
    flex-wrap: wrap;

    &.expandedKey {
      padding-bottom: 0;
      background: #fff;
      background: var(--preferences-api-key-expanded-bg);
      margin: 0 -10px;

      .info {
        margin-left: 10px;
      }
    }

    &.highlighted {
      background: #e7f5ff;
      background: var(--preferences-api-key-highlighted-bg);
      margin: 0 -10px;

      .info {
        margin-left: 10px;
      }
    }

    .info {
      margin-right: 10px;
      width: 110px;
      height: 34px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .name {
        color: #444;
        color: var(--default-gray-4-color);
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .usedTime {
        color: #888;
        color: var(--default-gray-8-color);
        font-size: 11px;
      }
    }

    .key,
    .type {
      margin-right: 10px;
      background: #f2f2f2;
      background: var(--preferences-api-input-bg);
      border: 1px solid #ddd;
      border-color: var(--preferences-api-input-border-color);
      border-radius: 5px;
      height: 34px;
    }

    .blockTablet {
      display: flex;
    }

    .key {
      width: 276px;
      color: #111;
      color: var(--preferences-api-key-color);
      font-size: 22px;
      text-align: center;
    }

    .type {
      width: 129px;
      padding-left: 10px;

      &.FullAccess {
        color: #d93600;
        color: var(--preferences-api-type-full-access-color);
      }

      &.LimitedAccess {
        color: #b28500;
        color: var(--preferences-api-type-limited-access-color);
      }

      &.MinimalAccess {
        color: #698c00;
        color: var(--preferences-api-type-minimal-access-color);
      }

      &.PublicOnly {
        color: #444;
        color: var(--preferences-api-type-public-access-color);
      }

      &.Custom {
        color: #5f3dc4;
        color: var(--preferences-api-type-custom-access-color);
      }
    }

    .actions {
      width: 68px;
      height: 34px;
      padding-top: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      .historyButton,
      .deleteButton {
        width: 50%;
        cursor: pointer;

        .icon {
          margin-right: 20px;
          fill: url(#api-key-gradient);
          fill: var(--preferences-api-default-icon-fill);
          filter: drop-shadow(0 1px 0 #fff);
          filter: var(--preferences-api-default-icon-filter);

          &:hover {
            fill: url(#api-key-hover-gradient);
            fill: var(--preferences-api-hover-icon-fill);
            filter: drop-shadow(0 1px 0 #fff);
            filter: var(--preferences-api-hover-icon-filter);
          }

          &.active {
            fill: url(#api-key-active-gradient);
            fill: var(--preferences-api-active-icon-fill);
            filter: drop-shadow(0 1px 0 #fff);
            filter: var(--preferences-api-active-icon-filter);

            &:hover {
              fill: url(#api-key-hover-gradient);
              fill: var(--preferences-api-hover-icon-fill);
              filter: drop-shadow(0 1px 0 #fff);
              filter: var(--preferences-api-hover-icon-filter);
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .expandedPanel {
      display: flex;
      width: 100%;
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    :global(#preferencesroot) {
      .keyRow {
        flex-direction: column;

        &.highlighted,
        &.expandedKey {
          .key,
          .blockTablet {
            margin-left: 10px;
          }
        }

        .info,
        .key,
        .actions,
        .type {
          margin-right: 0;
        }

        .info {
          width: 364px;
          height: auto;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .name {
            width: 50%;
          }
        }

        .blockTablet {
          flex-direction: row;
        }

        .key {
          width: 364px;
          margin: 10px 0;
        }

        .type {
          width: 181px;
        }

        .actions {
          width: 181px;
          justify-content: space-around;

          .deleteButton {
            position: relative;

            &::before {
              content: '';
              position: absolute;
              top: -10px;
              bottom: 0;
              height: 34px;
              left: -1px;
              width: 1px;
              background: linear-gradient(0deg, #ccc0 0%, #ccc 50%, #ccc0 100%);
              background: var(--preferences-api-border-gradiend-dark);
            }

            &::after {
              content: '';
              position: absolute;
              top: -10px;
              bottom: 0;
              height: 34px;
              left: 0;
              width: 1px;
              background: linear-gradient(0deg, #fff0 0%, #fff 50%, #fff0 100%);
              background: var(--preferences-api-border-gradiend-light);
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    :global(#preferencesroot) {
      .keyRow {
        .info,
        .key {
          width: 298px;
        }

        .type {
          width: 148px;
        }

        .actions {
          width: 148px;
          justify-content: space-around;
        }
      }
    }
  }
}
