sup {
  vertical-align: super;
  font-size: 14px;
  font-weight: bold;
  font-family: "Arial", Helvetica, sans-serif;
  color: #3d3d3d;
}

em {
  font-style: italic;
}

.cansEventFooter {
  position: relative;
  margin-top: 12px;
  border-radius: 5px;

  .lineSeparate {
    display: block;
    padding-top: 6px;
    border-bottom: 1px solid #e22746;
  }

  .titleWrapper {
    width: 748px;
    background: #fff;
    box-sizing: border-box;
    padding: 18px 0 10px 9px;
    border-top-left-radius: 5px;/*
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);*/
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .18);
  }

  .title {
    margin-bottom: 0;
    color: #545454;
    font-family: Audiowide, sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;

    .titleText {
      position: relative;

      sup {
        position: absolute;
        right: -13px;
        top: 5px;
        line-height: 12px;
      }
    }

    &:before {
      content: "";
      background: url(/images/v2/cans-event/footer/recycle_976.svg);
      width: 22px;
      height: 22px;
      display: inline-block;
      margin-right: 11px;
      vertical-align: middle;
    }

    > img {
      padding-right: 10px;
      vertical-align: middle;
    }
  }

  .description {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-align: left;

    > p {
      margin-bottom: 16px;
      line-height: 16px;

      > a {
        color: #186697;
        text-decoration: none;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .lineSeparate {
      padding-top: 5px;
    }
  }

  .items {
    .listItems {
      padding-top: 14px;
      width: 80%;
      float: left;
      color: #e22746;
      font-size: 10px;
      line-height: 16px;
    }

    .qrCode {
      width: 125px;
      margin-top: 6px;
      float: right;
    }

    &::after {
      content: '';
      display: table;
      height: 0;
      clear: both;
      overflow: hidden;
    }
  }

  .headerWrapper {

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .contentWrapper {
    padding: 4px 9px 14px 12px;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -5px;/*
    box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, .2), -1px 1px 2px -1px rgba(0, 0, 0, .2);*/
    box-shadow: 1px 1px 3px -2px rgba(0, 0, 0, 0.3), -1px 1px 3px -1px rgba(0, 0, 0, .3), 2px 1px 3px -1px rgba(0, 0, 0, .1);
  }

  .corner {
    float: right;
    width: 46px;
    height: 55px;
    margin-top: -3px;
    margin-right: -3px;
    background: url(/images/v2/cans-event/corner_shadow.png) 0 0 no-repeat;
  }
}

:global(.r) {
  @media screen and (max-width: 1000px) {
    .cansEventFooter {
      .titleWrapper {
        width: 350px;
      }

      .contentWrapper {
        padding-left: 10px;
      }

      .items {
        .listItems {
          width: 100%;
          padding-top: 9px;
        }

        .qrCode {
          padding-top: 4px;
          margin-top: 0;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .cansEventFooter {
      .contentWrapper {
        padding: 4px 9px 19px 12px;
        margin-top: -6px;
      }

      .titleWrapper {
        width: 284px;

        .title {
          display: block;

          .titleText {
            display: inline-block;
            margin-right: -6px;
            font-size: 18px;
          }
        }
      }

      .items {
        .listItems {
          padding-top: 8px;
          width: 98%;
        }

        .qrCode {
          padding-top: 0;
          margin-top: -5px;
        }
      }
    }
  }
}
