@import '../../../styles/glob.cssmodule.scss';

.addNewMap {
  position: relative;
  box-sizing: border-box;
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  height: auto;
  border-top: 1px solid #d4dfe4;
  border-top-color: var(--ct-skeleton-border-color);

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex-wrap: wrap;
      justify-content: flex-end;
      position: relative;
    }
  }
}

.inputDimensions {
  width: 642px;
  height: 26px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 366px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 300px;
    }
  }
}

.input {
  display: block;
  padding: 0 10px;
  box-sizing: border-box;
  composes: inputDimensions;

  &::placeholder {
    color: #ccc;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-bottom: 10px;
    }
  }
}

.inputLabel {
  position: absolute;
  composes: inputDimensions;
}

:global(.r .content-wrapper.travelling) {
  .addNewMap {
    justify-content: flex-end;
  }

  .input {
    margin-right: 215px;
  }

  @media #{$screen-tablet} {
    .input {
      margin-right: 95px;
      margin-bottom: 0;
    }
  }
  @media #{$screen-mobile} {
    .input {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
