.dark-mode #option-members-root {
  --faction-members-table-text-shadow: 0 0 2px #000;
  --faction-members-disabled-icon-fill: #222;
  --faction-default-icon-filter: drop-shadow(0 2px 4px #0009);
  --faction-members-disabled-icon-filter: drop-shadow(0 1px 0 rgba(255, 255, 255, .1));
  --faction-members-divider-outer-side-color: #222;
  --faction-members-permission-lvl-low-color: #94d82d;
  --faction-members-permission-lvl-mid-color: #fcc419;
  --faction-members-permission-lvl-high-color: #ff8787;
  --faction-members-permission-lvl-default-color: #fff;
  --faction-members-sort-arrow-color: #222;
}

:root .dark-mode {
  --faction-default-icon-bg-stop-1: #888;
  --faction-default-icon-bg-stop-2: #666;
  --faction-hover-icon-bg-stop-1: #ccc;
  --faction-hover-icon-bg-stop-2: #999;
}
