@import './constants';

$row-height: 36px;

.tableEmpty {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  height: $row-height;
  color: #888;
  color: var(--default-gray-8-color);
  border-bottom: 1px solid #ddd;
  border-bottom-color: var(--faction-members-divider-outer-side-color);

  #{$global-r} & {

    @media #{$screen-tablet} {
      justify-content: center;
      padding: 10px;
      height: auto;
      text-align: center;
    }
  }
}

.tableHeader,
.tableRow {
  display: flex;
  width: 100%;
  height: $row-height;

  .icon {
    filter: url('#defaultFilter');
    filter: var(--faction-default-icon-filter);
  }

  .kickIconDisabled {
    fill: #ccc;
    fill: var(--faction-members-disabled-icon-fill);
    filter: var(--faction-members-disabled-icon-filter);
  }

  &:last-child {
    border-right: none;
  }

  .tableCell {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-right: $border-gray;
    border-right-color: var(--faction-members-divider-outer-side-color);
    color: #444;
    color: var(--default-gray-4-color);

    &.asc::after,
    &.desc::after {
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -6px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }

    &.asc::after {
      top: calc(100% - 6px);
      border-top: 0 solid transparent;
      border-bottom: 6px solid #d4d4d4;
      border-bottom: 6px solid var(--faction-members-sort-arrow-color);
    }

    &.desc::after {
      top: 100%;
      border-bottom: 0 solid transparent;
      border-top: 6px solid #d4d4d4;
      border-top: 6px solid var(--faction-members-sort-arrow-color);
    }

    &:last-child {
      border-right: none;
    }

    &.member {
      position: relative;
      padding-right: 8px;
      padding-left: 3px;
      width: 45%;
    }

    &.level {
      display: flex;
      justify-content: center;
      padding: 0;
      width: 7%;
    }

    &.days {
      display: flex;
      justify-content: flex-end;
      padding-right: 10px;
      width: 8%;
    }

    &.position {
      display: flex;
      width: 40%;
      padding: 0;

      & > span {
        padding: 0 10px;
      }

      &.canKick {
        width: 35%;
      }
    }

    &.kick {
      display: flex;
      justify-content: center;
      padding: 0;
      width: 5%;
    }

    @media #{$screen-tablet} {
      #{$global-r} & {
        &.member {
          width: 47%;
        }

        &.level {
          display: none;
        }

        &.days {
          width: 13%;
        }

        &.position {
          display: flex;
          width: 40%;

          &.canKick {
            width: 32%;
          }
        }

        &.kick {
          width: 8%;
        }
      }
    }
    @media #{$screen-mobile} {
      #{$global-r} & {
        &.member {
          width: 44%;
        }

        &.days {
          width: 15%;
        }

        &.position {
          display: flex;
          width: 41%;

          &.canKick {
            width: 32%;
          }
        }

        &.kick {
          width: 9%;
        }
      }
    }
  }
}

.tableHeader {
  height: $row-height - 1;
  border-top: none;
  border-bottom: $border-gray;
  border-bottom-color: var(--faction-members-divider-outer-side-color);
  font-weight: bold;

  .kickIcon {
    fill: #444;
    fill: var(--default-gray-4-color);
  }

  #{$global-r} & {

    @media #{$screen-tablet} {
      border-top: 1px solid #fff;
      border-top-color: var(--default-panel-divider-inner-side-color);
    }
  }

  .tableCell {
    position: relative;
    text-shadow: 0 1px 0 #fff;
    text-shadow: var(--faction-members-table-text-shadow);
    cursor: pointer;

    &.member {
      padding: 5px;
    }

    &.position {
      padding: 0 10px;
    }
  }
}

.rowsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
