#option-members-root {
  --faction-members-table-text-shadow: 0 1px 0 #fff;
  --faction-members-disabled-icon-fill: #ccc;
  --faction-default-icon-filter: url('#defaultFilter');
  --faction-members-disabled-icon-filter: var(--faction-default-icon-filter);
  --faction-members-divider-outer-side-color: #ddd;
  --faction-members-permission-lvl-low-color: #698c00;
  --faction-members-permission-lvl-mid-color: #b28500;
  --faction-members-permission-lvl-high-color: #d93600;
  --faction-members-permission-lvl-default-color: #444;
  --faction-members-sort-arrow-color: #d4d4d4;
}

:root {
  --faction-default-icon-bg-stop-1: #999;
  --faction-default-icon-bg-stop-2: #bbb;
  --faction-hover-icon-bg-stop-1: #777;
  --faction-hover-icon-bg-stop-2: #999;
}
