.popup {
  position: absolute;
  right: auto;
  left: 0;
  box-sizing: border-box;
  width: 310px;
  background-color: #fff;
  background-color: var(--ct-panel-bg);
  color: #767676;
  color: var(--ct-map-editor-library-popup-font-color);
  box-shadow: 0 0 3px rgba(0, 0, 0, .25);
  box-shadow: var(--ct-map-editor-library-popup-box-shadow);

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .section {
    padding: 10px;
    border-bottom: 1px solid #BFD0D8;
    border-bottom-color: var(--ct-map-editor-secondary-section-divider);

    &:last-child {
      border-bottom: none;
    }
  }

  .layerButton {
    font-family: "Fjalla One", sans-serif;
    font-size: 12px;
    background: none;
    border: none;
    color: #ccc;
    cursor: pointer;
    padding: 0;
    margin: 0 5px;
    line-height: 18px;

    &:hover,
    &.active {
      color: #666;
      color: var(--ct-map-editor-library-popup-layer-button-color-active);
    }

    &.active {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background: #BFD0D8;
        background: var(--ct-map-editor-library-popup-active-layer-marker-bg);
        bottom: -10px;
        left: 0;
      }
    }
  }

  .layerSpan {
    margin: 0 5px;
    padding: 0;
    border: none;
    background: none;
    color: #ccc;
    font-family: "Fjalla One", sans-serif;
    font-size: 12px;
    line-height: 18px;

    &.active {
      color: #666;
    }
  }

  .defaultLayerTitle {
    &:after {
      content: '';
      display: block;
      clear: both;
    }

    .title {
      line-height: 18px;
      vertical-align: top;
      padding-left: 9px;
    }

    .layersIcon {
      fill: #888;
      fill: var(--ct-map-editor-popup-layers-icon-fill);
    }
  }

  * {
    box-sizing: border-box;
  }

  .button {
    margin: 0;
    padding: 0;
    overflow: visible;
    border: none;
    background: transparent;
    color: #d3dee4;
    color: var(--ct-map-editor-popup-default-button-color);
    font-family: Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    font-weight: 700;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    -webkit-appearance: none;
  }

  .searchObjectsButton {
    margin-top: -8px;
    width: 20px;
    height: 24px;
    color: #668fa3;
    color: var(--ct-map-editor-default-button-color);
    font-size: 22px;
    vertical-align: top;
  }

  .counterWrapper {
    padding-top: 2px;
  }

  .counter {
    float: right;
  }

  .createTag {
    position: relative;
    color: #666;
    color: var(--ct-map-editor-input-font-color);

    &::before {
      content: '#';
      position: absolute;
      top: 12px;
      left: 10px;
      font-size: 13px;
    }

    .tagInput {
      padding: 10px 17px;
      width: 100%;
      border: 1px solid #ddd;
      border-color: var(--ct-map-editor-input-border-color);
      border-radius: 5px;
      color: #666;
      color: var(--ct-map-editor-input-font-color);
      background: var(--ct-map-editor-input-bg);

      &.error {
        border-color: red;
        border-color: var(--ct-map-editor-input-border-color--error);
      }
    }

    .createTagButton {
      margin: 0 0 0 -28px;
      width: 24px;
      height: 32px;
      font-size: 24px;
    }
  }

  .tagList {
    .tag {
      display: inline-block;
      margin: 10px 10px 0 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;

      .removeTagButton {
        margin: 0 3px 0 0;
        color: #d3dee4;
        color: var(--ct-map-editor-popup-default-button-color);
        font-size: 16px;
        font-weight: 700;

        &:hover {
          color: #668fa3;
          color: var(--ct-map-editor-popup-default-button-color-hover);
        }
      }
    }
  }
}

.specialInfo {
  &:after {
    content: '';
    clear: both;
    display: block;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .defaultLayerTitle {
    color: #858585;
    padding-top: 12px;

    .title {
      line-height: 18px;
      vertical-align: top;
      padding-left: 9px;
    }
  }
}

:global(.d .tools-container .objects-container .torn-react-autocomplete).tagsAutocomplete {
  width: 326px;
  margin-top: 10px;

  .tagsAutocompleteInput {
    color: #666;
    border: 1px solid #cacaca;
    padding: 8px;
    width: 100%;
    font-family: Fjalla one, sans-serif;

    &::placeholder {
      color: #999;
    }
  }
}

:global(.d .tools-container .objects-container) {
  .autocompleteWrapper:first-child {
    .tagsAutocomplete {;
      margin-top: 0;
    }
  }
}

:global(.d .tools-container .objects-container) .filteringByTags :global(.objects-list) {
  :global(.object-library-item) {
    position: relative;
    width: auto;
    height: auto;
    display: inline-block;

    :global(.react-draggable) {
      transform: none !important;
    }
  }
}

.editLib {
  display: block;
  height: 25px;
  margin-top: 5px;
}

:global(.d .tools-container) :global(.objects .scroll-area) {
  height: 503px;
}

:global(.d .tools-container .objects-container .filter-wrap .scroll-area) {
  :global(.scrollarea-content) {
    width: 324px;
  }

  :global(.scrollbar-container.vertical) {
    width: 12px;
    display: block;

    &:hover {
      background-color: #ccc;
    }

    :global(.scrollbar) {
      width: 10px;
      margin-left: 1px;
      background-color: #f2f2f2;
      outline: none;
    }
  }
}

.autocompleteWrapper {
  position: relative;

  .searchIcon {
    position: absolute;
    right: 9px;
    top: 0;
    pointer-events: none;
  }
}
