@import '../../styles/global.cssmodule.scss';
@import '../../styles/constants.cssmodule.scss';

@mixin generateSectionsBackground($rowsCount) {
  $shiftIncrement: 32;
  $sectionBackgroundShiftHor: left;

  @for $currentRow from 0 through $rowsCount {
    $sectionBackgroundShiftVer: -($currentRow * $shiftIncrement) + px;

    &.row_bg__#{$currentRow} .sectionsContainer {
      .rowSection {
        background-position: $sectionBackgroundShiftHor $sectionBackgroundShiftVer;
      }
    }
  }
}

.rowsContainer {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  composes: flexCenter;
}

.rowSection {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px 0 0;
  border-right: $ammoBorderGrey;
  background-size: cover;
  composes: section;
  background-size: cover;

  @media #{$screen-desktop} {
    .sectionsContainer & {
      &:nth-child(3) {
        background-image: url('/images/v2/ammo/976_hollow_point.png');
      }

      &:nth-child(4) {
        background-image: url('/images/v2/ammo/976_tracer.png');
      }

      &:nth-child(5) {
        background-image: url('/images/v2/ammo/976_piercing.png');
      }

      &:nth-child(6) {
        background-image: url('/images/v2/ammo/976_incendiary.png');
      }
    }
  }
  @media #{$screen-tablet} {
    #{$global-r} .sectionsContainer & {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0;
      justify-content: flex-start;
      padding-left: 10px;

      &:nth-child(1),
      &:nth-child(2) {
        border-bottom: $ammoBorderGrey;
      }

      &:nth-child(1) {
        background-image: url('/images/v2/ammo/976_hollow_point.png');
      }

      &:nth-child(2) {
        background-image: url('/images/v2/ammo/976_tracer.png');
      }

      &:nth-child(3) {
        background-image: url('/images/v2/ammo/976_piercing.png');
      }

      &:nth-child(4) {
        background-image: url('/images/v2/ammo/976_incendiary.png');
      }

      &:nth-child(2n) {
        border-right: none;
      }

      * {
        pointer-events: none;
      }
    }
  }
}

.clickableSection {
  border-top: none;
  border-bottom: none;
  border-left: none;
  background: rgba(0, 0, 0, 0);
  background-size: cover;
  font: inherit;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.isSectionActivated {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(114, 214, 88, .35);
  }
}

.rowWrap {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-bottom: $ammoBorderGrey;
  background: #f2f2f2;
  background: var(--default-bg-panel-color);
  composes: flexCenter;
  max-height: 32px;
  transition: max-height .2s ease-in-out;

  @include generateSectionsBackground(20);

  &:first-of-type {
    border-top: $ammoBorderGrey;
    border-top-color: white;
  }

  &:last-of-type {
    overflow: hidden;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: #fff solid 1px;
  }

  &:hover {
    background: var(--ammo-bcg-color-active);

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--ammo-bcg-color-active);
      opacity: .2;
    }
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      max-height: 36px;
      animation-name: rowAppear;
      animation-timing-function: ease-in-out;
      animation-duration: .2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      &:last-of-type {
        border-bottom-right-radius: unset;
        border-bottom-left-radius: unset;
      }
    }
  }

  #{$dark-mode} & {
    &:first-of-type {
      border-top: 1px solid #444;
    }

    &:last-of-type {
      border-bottom: 1px solid #3b3b3b;
    }
  }
}

.activeRow {
  // overflow: hidden;
  border-bottom: none;
  max-height: 125px;
  box-shadow: 0 2px 1px rgba(100, 100, 100, .3);
  background: var(--ammo-bcg-color-active);

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--ammo-bcg-color-active);
    opacity: .2;
  }

  + .rowWrap {
    overflow: hidden;
    border-top: $ammoBorderGrey;
  }

  :global(.table) & {
    &:last-of-type {
      box-shadow: none;
    }
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      max-height: 262px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      max-height: 266px;
    }
  }

  #{$dark-mode} & {
    background: var(--ammo-bcg-color-active);
  }
}

.rowWrapActive {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sectionDimenstions {
  width: 100%;
  height: 32px;
  min-height: 32px;
}

.sectionsContainer {
  composes: flexCenter;
  composes: sectionDimenstions;

  :last-child {
    border-right: none !important;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex-wrap: wrap;
      min-height: 72px;
      height: 72px;
    }
  }
}

.mobileSectionsWrap {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  composes: sectionDimenstions;
  composes: flexCenter;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex-wrap: wrap;
      min-height: 36px;
      height: 36px;
    }
  }
}

.text {
  z-index: 1;
  color: #333;
  color: var(--default-color);
  font-size: 12px;
  opacity: 1;
  user-select: none;
}

.textCount {
  composes: text;
  font-weight: bold;

  #{$dark-mode} & {
    color: var(--default-white-color);
  }
}

.textTitle {
  font-weight: 700;
  padding-right: 4px;
}

.amountNotEmpty {
  font-weight: bold;
}

.ammoSection {
  // justify-content: flex-start;
  justify-content: space-between;
  padding: 0;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: calc(100% - 70px);
      padding: 0;
      height: 36px;
      border-right: 0;
      border-right: $ammoBorderGrey;
    }
  }
}

.ammoSectionButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;

  * {
    pointer-events: none;
  }
}

.ammoImage {
  z-index: 1;
  box-sizing: border-box;
  margin: 0 9px 0 0;
}

.ammoButtonWrap {

  @media #{$screen-tablet} {
    #{$global-r} & {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
      padding: 0;
      padding-left: 10px;
      width: 100%;
      height: 100%;
      border: none;
      background: transparent;
      outline: 0;

      &::after {
        content: '';
        position: absolute;
        right: 10px;
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #656565;
        transition: transform .1s ease-in;
      }
    }
  }
}

.ammoButtonWrapActive {
  &::after {
    transform: rotate(90deg);
  }
}

.buySection {
  position: relative;
  justify-content: center;
  padding: 0;

  @media #{$screen-tablet} {
    #{$global-r} & {
      padding-right: 0;
      border-right: none;
      height: 36px;
      display: block;
      width: 70px;
    }
  }
}

.buyButton {
  position: absolute;
  // right: 5px;
  width: 100%;
  height: 100%;
  z-index: 1;
  // margin-top: -1px;
  padding: 0;
  border: none;
  background: transparent;
  color: #069;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: all .1s linear, text-shadow .2s linear;
  text-shadow: none;

  // &:hover {
  //   box-shadow: inset 0 0 3px #d6d6d6;
  // }

  #{$dark-mode} & {
    color: #74c0fc;
    font-weight: normal;
  }
}

.buttonClicked {
  color: #afacac;
}

// .activeButton {
//   // right: 4px;
// }

.preferenceInProgress {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(114, 214, 88, .35), rgba(114, 214, 88, .15), rgba(114, 214, 88, .35));
    background-size: 25%;
    animation: preferenceActivation 4s ease infinite;
  }
}

.rightCell {
  composes: flexCenter;
  justify-self: flex-start;
}

.leftCell {
  opacity: 1;
}

.sectionWrap {
  opacity: 1;
}

@keyframes preferenceActivation {
  0% {
    background-position: 0% 51%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 51%;
  }
}

@keyframes rowAppear {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
