.createFactionWrapper {
  background: #f2f2f2 url(/images/v2/faction/create/create_faction.png) right center no-repeat;
}

.factionCost,
.actionWrapper,
.factionCreated {
  margin: 0 10px;
  padding: 10px 0;
}

.factionCost {
  border-bottom: 1px solid #ccc;
  line-height: 16px;

  @media screen and (max-width: 1001px) {
    #{$global-r} & {
      display: flex;
      flex-direction: column;
    }
  }
}

.actionWrapper {
  display: flex;
  border-top: 1px solid #fff;

  .createFactionInputName {
    margin-right: 10px;
    padding: 5px 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: middle;

    @media screen and (min-width: 601px) and (max-width: 1001px) {
      #{$global-r} & {
        width: 250px;
      }
    }
  }
}
