.tableRow {
  composes: tableRow from '../../styles/global.cssmodule.scss';
}

.factionsTableWrapper {
  overflow: hidden;
  border-bottom: 1px solid #fff;
  border-radius: 0 0 10px 10px;

  .tableHeader,
  .tableRow {
    display: flex;
    width: 100%;

    .tableCell {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      padding-left: 10px;

      &.factionName {
        width: 66%;
        border-left: none;
      }

      &.respect,
      &.members {
        display: flex;
        justify-content: center;
        padding-right: 10px;
        width: 10%;
      }

      &.applied {
        width: 7%;
      }

      &.view {
        width: 7%;
        border-right: none;
      }

      &.applied,
      &.view {
        display: flex;
        justify-content: center;
        padding: 0;
      }

      @media screen and (max-width: 1001px) {
        #{$global-r} & {
          &.factionName {
            width: 36%;
          }

          &.respect,
          &.members {
            width: 22%;
          }
        }
      }

      @media screen and (max-width: 601px) {
        #{$global-r} & {
          &.factionName {
            width: 50%;
          }

          &.respect {
            width: 26%;
          }

          &.members {
            display: none;
          }
        }
      }
    }
  }

  .tableHeader {
    height: 35px;
    border-bottom: 1px solid #ccc;
    background: linear-gradient(0deg, rgba(224, 224, 224, 1) 0%, rgba(255, 255, 255, 1) 100%);
    color: #666;
    font-weight: bold;

    &:first-child {
      &::before,
      &::after {
        opacity: 0;
      }
    }

    .tableCell {
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
      }

      &::before {
        left: 0;
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 30%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.5) 70%, rgba(255,255,255,0) 100%);
      }

      &::after {
        left: -1px;
        background: linear-gradient(0deg, rgba(221,221,221,0) 0%, rgba(221,221,221,0.5) 30%, rgba(221,221,221,1) 50%, rgba(221,221,221,0.5) 70%, rgba(221,221,221,0) 100%);
      }

      @media screen and (max-width: 1001px) {
        #{$global-r} & {
          &.applied {
            display: none;
          }

          &.view {
            width: 20%;
          }
        }
      }

      @media screen and (max-width: 601px) {
        #{$global-r} & {
          &.view {
            width: 24%;
          }
        }
      }
    }
  }

  .tableRow {
    height: 38px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    background: #f2f2f2;

    &:hover {
      background: #fff;
    }

    .tableCell {
      border-right: 1px solid #ccc;
      border-left: 1px solid #fff;
      margin-top: -1px;

      &.factionName {
        padding-left: 0;
      }

      &.respect,
      &.members {
        justify-content: flex-end;
      }

      @media screen and (max-width: 1001px) {
        #{$global-r} & {
          &.applied,
          &.view {
            width: 10%;
          }
        }
      }

      @media screen and (max-width: 601px) {
        #{$global-r} & {
          &.applied,
          &.view {
            width: 12%;
          }
        }
      }
    }
  }

  .rowsWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    :last-child {
      border-bottom: none;
    }
  }
}
