@import '../../../../styles/constants.scss';

.statusContainer {
  width: 227px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex-direction: column;
      width: 50px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 25px;
    }
  }
}

.icon {
  width: 25px;
  height: 25px;
  margin: 10px;
  background: $itemBcg;
  box-sizing: border-box;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 15px;
      height: 15px;
      right: -5px;
      position: relative;
      margin-top: 18px;
      margin-bottom: 2px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      right: 0;
    }
  }
}
