.userImgWrap {
  max-width: 180px;
  height: 19px;

  #{$global-r} & {

    @media screen and (max-width: 1000px) {
      max-width: 155px;
    }
    @media screen and (max-width: 600px) {
      max-width: 120px;
    }
  }
}

.userStatus {
  margin: 0 10px 0 0 !important;
}

.customImgWrap {
  object-fit: none;
}

.viewButton {
  display: flex;
  padding: 2px;
  border: none;
  box-shadow: none;
  background: none;
  cursor: pointer;

  .viewIcon {
    filter: url('#defaultFilter');
    filter: var(--faction-default-icon-filter);
  }
}

.warning {
  color: #fe794c;
  font-weight: bold;
}

.timeNA {
  color: #888;
}

.text {
  min-width: 40px;
}
