.linksContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 25px;
  height: 100%;

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-right: 0;
      margin-left: 0;
      max-height: 39px;
    }
  }
}

.linksDropdown {
  margin-left: 25px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      top: -4px;
      margin-left: 0;
    }
  }
}
