@import '../../styles/index.cssmodule.scss';

.linkTitle {
  display: block;
  font-weight: bold;
  white-space: nowrap;
}

#{$dark-mode} .linkTitle {
  text-shadow: none;
}

.linkContainer {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #777;
  color: var(--appheader-links-color);
  text-shadow: 0 1px 0 #ffffffa6;
  text-shadow: var(--appheader-links-text-shadow-color);
  cursor: pointer;
}

.inRow {
  justify-content: space-between;
  height: 100%;

  &:not(:first-child) {
    margin-left: 25px;
  }

  &.linkContainer:hover {
    color: #333;
    color: var(--appheader-links-color-hover);

    .icon {
      background-position: 0 0;
    }

    .svgIcon {
      @extend .isHovering;
    }
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-left: 0;

      .linkTitle {
        display: none;
      }
    }
  }
}

.inColumn {
  flex-grow: 1;
  padding: 2px 10px 2px 2px;
  color: #fff;
  color: var(--appheader-dropdown-links-color);

  .iconContainer {
    justify-content: center;
    width: 30px;
  }

  .linkTitle {
    flex-grow: 1;
    margin-left: 3px;
  }
}

.linkIconContainer {
  width: 25px;
}

.svgIcon {
  @extend .svgIcon;
}
