@import '../../styles/vars';

.popupWrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  background: var(--holdem-popup-panel-bg);
  box-shadow: var(--holdem-popup-panel-shadow);
  pointer-events: initial;
}

.header {
  display: flex;
  box-shadow: 0 1px 0 #ffffff40;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: var(--holdem-text-color-main);
  height: 3em;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}
