:global {
  .ctTooltip-enter {
    opacity: 0;

    &.ctTooltip-enter-active {
      transition: opacity .3s linear;
      opacity: 1;
    }
  }

  .ctTooltip-exit {
    opacity: 1;
    transition: opacity .3s linear;

    &.ctTooltip-exit-active {
      opacity: 0;
    }
  }
}
