@import '../../../../components/Tooltips/index.cssmodule.scss';

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltipContainer {
  z-index: 100000;
  position: absolute;
  top: calc(-100% - 6px);
  max-height: 24px;
  max-width: 100%;
  box-sizing: border-box;
  composes: flexCenter;
  composes: toolTipPreset;
  composes: tooltipTextPreset;

  &::after {
    content: '';
    position: absolute;
    border-color: #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 7px 7px 0;
    bottom: -7px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    filter: drop-shadow(0 1px 1px #aba5a55c);
  }
}

.tooltipTitle {
  padding: 0;
  word-break: normal;
  white-space: nowrap;
}

.containerFailure {
  color: #ea8966;
}
