@import '../../styles/mixins';

.dealer {
  position: absolute;
  width: 24px;
  height: 24px;
  transition: left ease-out 300ms, top ease-in 300ms;
  background: url(/casino/holdem/images/svg/dealer.svg) center top no-repeat;

  @include appType('desktop/full') {
    &.position-self {
      left: 300px;
      top: 270px;
    }

    &.position-0 {
      left: 330px;
      top: 280px;
    }

    &.position-1 {
      left: 108px;
      top: 255px;
    }

    &.position-2 {
      left: 65px;
      top: 262px;
    }

    &.position-3 {
      left: 65px;
      top: 195px;
    }

    &.position-4 {
      left: 110px;
      top: 38px;
    }

    &.position-5 {
      right: 110px;
      top: 38px;
    }

    &.position-6 {
      right: 65px;
      top: 195px;
    }

    &.position-7 {
      right: 65px;
      top: 262px;
    }

    &.position-8 {
      right: 108px;
      top: 255px;
    }
  }
  @include appType('desktop/sidebar') {
    &.position-self {
      left: 170px;
      top: 269px;
    }

    &.position-0 {
      left: 200px;
      top: 297px;
    }

    &.position-1 {
      left: 103px;
      top: 293px;
    }

    &.position-2 {
      left: -3px;
      top: 169px;
    }

    &.position-3 {
      left: -5px;
      top: 45px;
    }

    &.position-4 {
      left: 104px;
      top: 15px;
    }

    &.position-5 {
      right: 104px;
      top: 15px;
    }

    &.position-6 {
      right: -5px;
      top: 45px;
    }

    &.position-7 {
      right: -3px;
      top: 169px;
    }

    &.position-8 {
      right: 103px;
      top: 293px;
    }
  }
  @include appType('tablet/full') {
    &.position-self {
      left: 170px;
      top: 270px;
    }

    &.position-0 {
      left: 200px;
      top: 246px;
    }

    &.position-1 {
      left: 134px;
      top: 246px;
    }

    &.position-2 {
      left: 110px;
      top: 118px;
    }

    &.position-3 {
      left: 137px;
      top: 85px;
    }

    &.position-4 {
      left: 157px;
      top: 67px;
    }

    &.position-5 {
      right: 157px;
      top: 67px;
    }

    &.position-6 {
      right: 137px;
      top: 87px;
    }

    &.position-7 {
      right: 110px;
      top: 214px;
    }

    &.position-8 {
      right: 134px;
      top: 247px;
    }
  }
  @include appType('tablet/sidebar') {
    &.position-self {
      left: 152px;
      top: 312px;
    }

    &.position-0 {
      left: 114px;
      top: 316px;
    }

    &.position-1 {
      left: 90px;
      top: 240px;
    }

    &.position-2 {
      left: 90px;
      top: 161px;
    }

    &.position-3 {
      left: 90px;
      top: 82px;
    }

    &.position-4 {
      left: 132px;
      top: 57px;
    }

    &.position-5 {
      right: 132px;
      top: 57px;
    }

    &.position-6 {
      right: 90px;
      top: 82px;
    }

    &.position-7 {
      right: 90px;
      top: 161px;
    }

    &.position-8 {
      right: 90px;
      top: 240px;
    }
  }
  @include appType('mobile') {
    &.position-self {
      left: 150px;
      top: 310px;
    }

    &.position-0 {
      left: 194px;
      top: 316px;
    }

    &.position-1 {
      left: 90px;
      top: 240px;
    }

    &.position-2 {
      left: 90px;
      top: 161px;
    }

    &.position-3 {
      left: 90px;
      top: 82px;
    }

    &.position-4 {
      left: 132px;
      top: 57px;
    }

    &.position-5 {
      right: 132px;
      top: 57px;
    }

    &.position-6 {
      right: 90px;
      top: 82px;
    }

    &.position-7 {
      right: 90px;
      top: 161px;
    }

    &.position-8 {
      right: 90px;
      top: 240px;
    }
  }
}
