@import '../../styles/constants';

.permissionsWrapper {
  width: 100%;
  color: #666;
  color: var(--faction-positions-font-color);
  border-radius: 0 0 5px 0;
  overflow: hidden;

  #{$global-r} & {

    @media #{$screen-tablet} {
      border-radius: 0 0 5px 5px;
    }
    @media #{$screen-mobile} {
      border-radius: 0;
    }
  }

  .recruitsMessage {
    padding: 0 35px;
    height: $row-height;
    line-height: $row-height;
    text-align: center;
    border-bottom: $border-gray;
    border-bottom-color: var(--faction-positions-outer-border-color);
    color: #666;
    color: var(--faction-position-message-font-color);

    #{$global-r} & {

      @media #{$screen-tablet} {
        padding: 10px 35px;
        height: auto;
        line-height: 16px;
      }
    }
  }

  .permissionsTableWrapper {
    position: relative;
    display: flex;
  }

  .positionsTableBackground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: $permissions-column-width;
    z-index: 100;
    background:
      linear-gradient(90deg, rgba(38, 171, 216, .15), rgba(38, 171, 216, 0) 9%),
      linear-gradient(270deg, rgba(38, 171, 216, .15), rgba(38, 171, 216, 0) 9%);
    pointer-events: none;

    #{$global-r} & {

      @media #{$screen-tablet} {
        left: $permissions-column-width-mobile;
      }
    }
  }
}
