%highlight {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
}

.slots {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
  overflow: hidden;

  &.leftHighlight::before {

    @extend %highlight;

    left: 0;
    background: linear-gradient(90deg, #00bfff26 0%, #00bfff00 100%);
  }

  &.rightHighlight::after {

    @extend %highlight;

    right: 0;
    background: linear-gradient(270deg, #00bfff26 0%, #00bfff00 100%);
  }
}

.sliderContainer {
  display: flex;
  flex-direction: row;
  transition: transform .25s ease;
}

.slot {
  padding: 0;

  &:first-child {
    margin-left: 69px;
  }

  &:not(:first-child) {
    margin-left: 138px;
  }

  @media #{$screen-mobile} {
    #{$global-r} & {
      &:first-child {
        margin-left: 36px;
      }

      &:not(:first-child) {
        margin-left: 72px;
      }
    }
  }
}

.navigation {
  display: flex;
  margin-top: 13px;
  align-self: center;
}
