.button {
  position: relative;
  padding: 0;
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(to bottom, rgba(#000, .07) 0%, rgba(#000, .01) 100%);
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 -1px 1px 0 rgba(#000, .2);
  }

  &::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 1px 1px 0 rgba(#fff, 1);
  }

  &:not(:nth-of-type(1)) {
    margin-left: 10px;
  }

  &.active {
    background: #999;
  }
}
