.soundsInitPopup {
  width: 100%;
  height: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10000;
  background: #cccccc70;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: 480px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      height: 436px;
    }
  }
}

.soundsInitPopupLabel {
  border: 1px solid #fff;
  background: #757474;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px 15px;
  width: auto;
  max-width: 338px;
  height: auto;
  color: #fff;
  line-height: 1.2;
  display: block;
  text-align: center;
  height: auto;
  text-shadow: 0 1px 0 #64626273;
  font-weight: bold;

  @media #{$screen-tablet} {
    #{$global-r} & {
      padding: 7px 10px;
      max-width: 194px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      max-width: 135px;
    }
  }
}
