.box {
  position: absolute;
  top: -31px;
  right: 95px;
  padding: 5px 5px;
  border: 1px solid;
  background: #fff;
  line-height: 15px;
  text-align: center;
}

.tooltipContainer {
  display: block;
  max-width: 105px;
  max-height: 22px;
  width: auto;
  height: auto;
  composes: box;
}

.containerSuccess {
  border-color: #85b200;
  color: #85b200;
}

.containerFailure {
  border-color: #ff5c26;
  color: #ff5c26;
}

.title {
  color: inherit;
  font: inherit;
}
