.buttonInAnim {
  animation-name: buttonsAnim;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.buttonsWrap {
  bottom: 0;
  opacity: 1;
  width: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  &.left {
    &.x1 {
      left: 70px;
    }

    &.x2 {
      left: 52px;
    }

    &.x3,
    &.x4,
    &.x5,
    &.x6 {
      left: 36px;
    }
  }

  &.right {
    &.x1 {
      right: 70px;
    }

    &.x2 {
      right: 52px;
    }

    &.x3,
    &.x4,
    &.x5,
    &.x6 {
      right: 36px;
    }
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin: 0;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }
  }
}

.retakeActionWrap {
  &.left {
    left: 54px;
  }

  &.right {
    right: 54px;
  }
}

.leaveWrap {
  animation: unset;

  &.left {
    left: 76px;
  }

  &.right {
    right: 76px;
  }
}

.commitButton {
  opacity: 1;
  margin: 0 2px;
}

@keyframes buttonsAnim {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
