.actionButtonContainer {
  opacity: 1;
}

.buttonDefauls {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.text {
  font-size: 14px;
  line-height: 36px;
  text-transform: uppercase;
}

.buttonAction {
  width: 84px;
  height: 36px;
  border: 1px solid #acac9d;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgb(255, 255, 255), inset 0 1px 2px rgba(36, 36, 21, .1);
  background: #ddd5c7;
  background: linear-gradient(to bottom, rgba(216, 219, 220, 1) 0%, rgba(226, 229, 229, 1) 4%, rgba(254, 251, 228, 1) 26%, rgba(214, 205, 193, 1) 61%, rgba(217, 210, 200, 1) 65%, rgba(232, 232, 231, 1) 78%, rgba(235, 236, 235, 1) 83%, rgba(218, 216, 194, 1) 100%);
  color: #8a8a79;
  font: inherit;
  composes: buttonDefauls;

  &:hover {
    background: linear-gradient(to bottom, rgba(191, 197, 201, 1) 0%, rgba(200, 206, 206, 1) 4%, rgba(253, 247, 204, 1) 26%, rgba(245, 239, 197, 1) 30%, rgba(207, 195, 166, 1) 48%, rgba(180, 165, 146, 1) 61%, rgba(185, 173, 157, 1) 65%, rgba(211, 211, 209, 1) 78%, rgba(217, 218, 217, 1) 83%, rgba(200, 200, 180, 1) 91%, rgba(186, 183, 148, 1) 100%);
    color: #575748;
    text-shadow: 0 0 10px rgba(240, 240, 225, .95);
  }
}

.deleteButtonInProgress {
  color: #575748;
  text-shadow: 0 0 10px rgba(240, 240, 225, .95);
  background: linear-gradient(to bottom, rgba(191, 197, 201, 1) 0%, rgba(200, 206, 206, 1) 4%, rgba(253, 247, 204, 1) 26%, rgba(245, 239, 197, 1) 30%, rgba(207, 195, 166, 1) 48%, rgba(180, 165, 146, 1) 61%, rgba(185, 173, 157, 1) 65%, rgba(211, 211, 209, 1) 78%, rgba(217, 218, 217, 1) 83%, rgba(200, 200, 180, 1) 91%, rgba(186, 183, 148, 1) 100%);
  cursor: default;
}

.buttonDisabled {
  border: 0;
  background: rgb(206, 206, 191);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(206, 206, 191, 1) 0%, rgba(240, 240, 225, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(206, 206, 191, 1) 0%, rgba(240, 240, 225, 1) 100%);
  background: linear-gradient(to bottom, rgba(206, 206, 191, 1) 0%, rgba(240, 240, 225, 1) 100%);
  color: #aaaa9f;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, .65);
  cursor: default;

  &:hover {
    background: linear-gradient(to bottom, rgba(206, 206, 191, 1) 0%, rgba(240, 240, 225, 1) 100%);
  }
}

.buttonInactive {
  cursor: default;
  border: 1px solid #cecebf;
  box-shadow: none;
  background: transparent;
  color: #cecebf;

  &:hover {
    border: 1px solid #cecebf;
    box-shadow: none;
    background: transparent;
    color: #cecebf;
  }
}
