.stealthBarWrap {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 2px;
  height: 355px;
  background-color: rgb(187, 187, 187);
  z-index: 10000;

  @media #{$screen-mobile} {
    #{$global-r} & {
      height: 345px;
    }
  }
}

.level {
  position: absolute;
  bottom: 0;
  width: 2px;
  background-color: rgb(153, 153, 153);
}

.icon {
  position: absolute;
  bottom: -19px;
  left: -6px;
}

#{$dark-mode} {
  .stealthBarWrap {
    background-color: #111;
  }
}
