.layer {
  position: absolute;
  z-index: 240;
}

.layerItem {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 30px;
  height: 30px;
  //line-height: 30px;
  //text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.selected {
    z-index: 250;
    background-color: rgba(38, 201, 255, .1);
  }

  .radius {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 0;
    background: rgba(108, 124, 192, .1);
    pointer-events: none;
  }
}

.iconDelete {
  position: absolute;
  top: -8px;
  right: -8px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('/images/v2/christmas_town/delete.png') left top no-repeat;
  cursor: pointer;

  &:hover {
    background-position: right top;
  }
}

:global(.tab-areas),
:global(.tab-history),
:global(.tab-parameters),
:global(.tab-blocking),
:global(.tab-objects),
:global(.tab-layers) {
  .layer {
    opacity: .5;
  }
}
