.currentSlot {
  display: flex;
  height: 132px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: 233px;
    }
  }
}

.modelContainer {
  width: 174px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 193px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 160px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      margin-left: 10px;
      width: 131px;
    }
  }
}

.itemReviewContainer {
  height: 100%;

  @media #{$screen-desktop} {
    #{$global-r} & {
      width: 182px;
    }
  }
  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 193px;
      height: 100px;
    }
  }
}

.cell {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  @media #{$screen-tablet-min} {
    #{$global-r} & {
      border-right: none;

      &:not(:last-child) {
        box-sizing: border-box;
        border-right: 2px solid transparent;

        &::before {
          content: '';
          position: absolute;
          right: -3px;
          width: 1px;
          height: 100%;
          border-left: 1px solid var(--loadouts-separator-border-color);
          background:
            linear-gradient(
                to right, var(--loadouts-separator-box-shadow-color) 0%, rgba(255, 255, 255, .001) 100%
              );
        }
      }
    }
  }
}

.itemsContainer {
  width: 432px;
  height: 100%;

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-top: 10px;
      width: 193px;
      height: 103px;
    }
  }
}

.rightPanel {
  display: flex;
  align-items: center;
  justify-content: center;

  @media #{$screen-tablet} {
    #{$global-r} & {
      flex-direction: column;
      width: 193px;

      & .cell {
        border-right: none;

        &::after {
          display: none;
        }
      }
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 179px;
    }
  }
}

.model {
  position: relative;
  z-index: 10;
  width: 150px;
  height: 112px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 158px;
      height: 213px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 131px;
    }
  }
}

.items {
  width: 410px;
  height: 112px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 159px;
      height: 103px;
    }
  }
}
