@import '../../../styles/global.cssmodule.scss';

.noBorderImage {
  border-image: none;
  border-right: none;
}

.imageWeapon {
  cursor: default;
  box-sizing: border-box;
  position: relative;
  display: block;
  margin: 0;
  padding: 9px 3px;
  width: 55px;
  min-width: 55px;
  height: 42px;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-image: linear-gradient(180deg, #f9f9f20d, #f9f9f200 6%, #ccc 50%, #f9f9f200 94%, #f9f9f200) 1 100%;

  &:first-child {
    padding-left: 0;
    padding-right: 6px;
  }

  &:last-child {
    border-image: none;
    border-right: none;
  }

  #{$dark-mode} & {
    border-image: var(--default-divider-left-linear-gradient) 0 100%;
  }
}

.imageWeaponPreloader {
  composes: imageWeapon;
  composes: flexCenter;
  justify-content: center;
  display: flex;
  padding-top: 12px;
}
