.item {
  background-image: radial-gradient(rgb(255, 255, 255) 0%, rgb(241, 251, 255) 100%);
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;

  &.couponItem {
    .imageWrap{
      height: 200px;
      min-height: 220px;

      img {
        margin: -30px 0;
      }
    }

    .description {
      margin-bottom: 55px;
    }
  }

  .title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(114, 191, 172);
    text-align: center;
    padding: 40px 86px 8px;
    margin: 0;
  }

  .imageWrap {
    min-height: 300px;

    img {
      margin: -10px 0;
    }
  }

  .description {
    margin-bottom: 30px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 1000px) {
  .item {
    .imageWrap {
      overflow: hidden;
      min-height: 240px;
      display: block;

      img {
        margin: -40px 0;
      }
    }

    &.couponItem {
      .description {
        margin-bottom: 30px;
      }
    }
  }
}
