@import '../Create/styles.cssmodule.scss';
@import './index.cssmodule.scss';

.contentWrap {
  composes: anim;
  border-radius: 0 0 5px 5px;
}

.label,
.input,
.button {
  background: #c4c4c4;
}

.label {
  width: 143px;
  height: 16px;
  margin-right: 10px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: 13px;
      margin-bottom: 3px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
    }
  }
}

.labelSecond {
  width: 116px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: 13px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
    }
  }
}

.input {
  width: 156px;
  height: 28px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background: #fff;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 100%;
    background: #ccc;
    border-radius: 4px 0 0 4px;
    top: 0;
    left: 0;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 288px;
      height: 36px;
      margin-bottom: 10px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 222px;
    }
  }
}

.inputSecond {
  width: 141px;
  height: 27px;
  border-radius: 5px;
  margin-right: 10px;

  &::after {
    display: none;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 288px;
      height: 34px;
      margin-bottom: 0;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 223px;
    }
  }
}

.button {
  width: 60px;
  height: 26px;
  border-radius: 5px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 66px;
      height: 34px;
    }
  }
}
