.createWrap {
  opacity: 1;
}

.anim {
  animation-name: animan;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes animan {
  0% {
    background: #fff;
  }

  25% {
    background: #efeded;
  }

  50% {
    background: #fff;
  }

  75% {
    background: #efeded;
  }

  100% {
    background: #fff;
  }
}
