@import '../Join/styles.cssmodule.scss';
@import './index.cssmodule.scss';

.skeletonRowsWrap {
  opacity: 1;
  composes: rowsWrap;
}

.rowWrap {
  composes: row;
  composes: anim;
}

.columnItem {
  height: 32px;
}

.status,
.tag,
.image {
  opacity: 1;
  background: #c4c4c4;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 100px;
    }
  }
}

.userInfoBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 10px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 10px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 10px;
    }
  }
}

.tag {
  height: 20px;
  width: 25px;
  margin-right: 10px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 25px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 25px;
    }
  }
}

.image {
  height: 20px;
  width: 200px;
}

.statusBlock {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    height: 14px;
    background: #c4c4c4;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      &::before {
        display: none;
      }

      &::after {
        width: 43px;
        height: 16px;
        top: 50%;
        transform: translate(50%, -50%);
        right: 50%;
      }
    }
  }
}

.betBlock {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 14px;
    background: #c4c4c4;
  }
}

.joinBlock {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 20px;
    background: #c4c4c4;
  }
}
