@import './panel.cssmodule.scss';
@import './vars.cssmodule.scss';

.backdropSlide {
  display: block;
}

.backdrops {
  margin: 8px 0 10px;

  .topPanel {
    margin: 0 0 2px;

    @include panelTop(976);

    .title {
      display: inline-block;
      margin: 0 0 0 10px;
      color: var(--token-shop-default-headline-color);
      font-family: 'Fjalla One', serif;
      font-size: 15px;
      font-weight: normal;
      line-height: 36px;
    }
  }

  .button {
    position: relative;
    z-index: 1;
    box-shadow: none;
    vertical-align: top;
    cursor: pointer;
  }

  .backdrop {
    display: inline-block;
    margin-left: 2px;
    width: 16.455%;
    height: 143px;
    vertical-align: top;

    &:first-child {
      margin-left: 0;
    }

    .available {
      .previewImageWrapper {
        position: relative;
        box-sizing: border-box;
        margin: 0 0 2px;
        padding: 2px;
        height: 96px;
        box-shadow: 0 0 3px rgba(0, 0, 0, .12);
        background: var(--token-shop-panel-background);

        .previewImage {
          max-width: 100%;
          opacity: var(--token-shop-backdrop-images-opacity);
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: block;
          border-width: 2px;
          border-style: solid;
          border-image-source: var(--token-shop-panel-background);
          border-image-slice: 1;
        }
      }

      .backdropInfo {
        position: relative;
        margin: 0 0 2px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 0 0 3px rgba(0, 0, 0, .12);
        background: var(--token-shop-panel-background);
        color: var(--token-shop-default-text-color);
        font-family: 'Fjalla One', serif;
        font-size: 11px;
        line-height: 24px;

        .name {
        }

        .selectLabel {
          display: block;
          color: #779719;
          font-size: 12px;
        }
      }

      .backdropActions {
        position: absolute;
        top: 0;
        left: -999999px;
        margin: 0;
        height: 42px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 0 0 3px rgba(0, 0, 0, .12);
        background: var(--token-shop-panel-background);

        .button {
          margin-top: 9px;
        }
      }

      &:hover {
        .backdropInfo {
          display: none;
        }

        .backdropActions {
          position: relative;
          top: unset;
          left: unset;
        }
      }

      &.selected {
        .backdropInfo {
          padding: 5px 0;
          line-height: 16px;
        }

        .previewImageWrapper {
          position: relative;

          &::before {
            content: '';
            position: absolute;
            top: 2px;
            right: 2px;
            bottom: 2px;
            left: 2px;
            display: block;
            background: linear-gradient(to bottom, rgba(146, 184, 32, .2) 0%, rgba(146, 184, 32, 0) 100%);
          }
        }
      }
    }

    .locked {
      .placeholder {
        position: relative;
        margin: 0 0 2px;
        height: 96px;
        box-shadow: 0 0 3px rgba(0, 0, 0, .12);
        background: var(--token-shop-panel-background);
        text-align: center;

        .actionWrapper {
          padding: 36px 0 0 25px;

          .cost {
            position: relative;
            margin-right: 9px;
            color: var(--token-shop-default-text-color);
            font-family: 'Fjalla One', serif;
            font-size: 12px;
            line-height: 24px;
            text-shadow: 0 1px 0 rgba(255, 255, 255, .45);

            &::before {
              content: '';
              position: absolute;
              top: -4px;
              left: -25px;
              display: inline-block;
              width: 21px;
              height: 21px;
              background: url(/images/v2/competition/tokens.svg) 0 0 no-repeat;
            }
          }
        }

        .lockIcon {
          display: inline-block;
          margin-top: 29px;
          width: 35px;
          height: 35px;
          background: var(--token-shop-icons-image) -68px 0 no-repeat;
        }
      }

      .lockedLabel {
        position: relative;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 0 0 3px rgba(0, 0, 0, .12);
        background: var(--token-shop-panel-background);
        color: var(--token-shop-locked-text-color);
        font-family: 'Fjalla One', serif;
        font-size: 12px;
        line-height: 24px;
      }
    }

    .empty {
      opacity: .5;

      .emptyPlaceholder {
        position: relative;
        box-sizing: border-box;
        margin: 0 0 2px;
        padding: 2px;
        height: 96px;
        box-shadow: 0 0 3px rgba(0, 0, 0, .12);
        background: var(--token-shop-panel-background);
      }

      .emptyBottom {
        position: relative;
        margin: 0 0 2px;
        height: 24px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 0 0 3px rgba(0, 0, 0, .12);
        background: var(--token-shop-panel-background);
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .backdrops {
      .topPanel {

        @include panelTop(578);
      }

      .button {
        padding: 4px 8px 2px;

        &:global(.disabled) {
          padding: 4px 8px 2px;
        }
      }

      .backdrop {
        margin-bottom: 2px;
        width: 32.99%;
        height: initial;

        &:nth-child(3n) {
          margin-right: 0;
        }

        &:nth-child(3n + 1) {
          margin-left: 0;
        }

        .available {
          &.selected {
            .backdropInfo {
              line-height: 16px;
            }
          }

          .previewImageWrapper {
            height: 95px;
          }

          .backdropActions {
            margin: 0;
            border-radius: 0;
          }

          .backdropInfo {
            margin: 0;
            border-radius: 0;
            line-height: 42px;
          }
        }

        .locked {
          .placeholder {
            height: 95px;
          }

          .lockedLabel {
            border-radius: 0;
            line-height: 42px;
          }
        }

        .empty {
          .emptyPlaceholder {
            height: 95px;
          }

          .emptyBottom {
            height: 42px;
            border-radius: 0;
          }
        }
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 600px) {
    .backdrops {
      .topPanel {

        @include panelTop(320);
      }

      .backdrop {
        width: 49.59%;

        &:nth-child(2n) {
          margin-right: 0;
          margin-left: 2px;
        }

        &:nth-child(2n + 1) {
          margin-left: 0;
        }

        .available {
          .previewImageWrapper {
            height: 119px;
          }
        }

        .locked {
          .placeholder {
            height: 119px;

            .actionWrapper {
              padding-top: 48px;
            }

            .lockIcon {
              margin-top: 42px;
            }
          }
        }

        .empty {
          .emptyPlaceholder {
            height: 119px;
          }
        }
      }
    }
  }
}
