@import './vars.cssmodule.scss';

.banner {
  margin: 10px 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .12);

  .bannerBg {
    box-sizing: border-box;
    padding-top: 83px;
    height: 208px;
    background: var(--token-shop-banner-image) top left no-repeat;
    text-align: center;

    .description {
      padding: 0 30px;
      color: #79796a;
      font-family: 'Times New Roman', Georgia, Times, serif;
      font-size: 15px;
      font-style: italic;
      font-weight: bold;
      line-height: 17px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, .65);
    }
  }

  .tokens {
    position: relative;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: var(--token-shop-panel-background);
    color: #777;
    font-family: "Fjalla One", serif;
    font-size: 15px;
    line-height: 32px;
    text-align: center;

    .tokensAmount {
      margin-right: 8px;
      color: #b28500;
      font-size: 21px;
      vertical-align: middle;

      &::before {
        content: '';
        display: inline-block;
        margin-right: 4px;
        margin-bottom: -2px;
        width: 21px;
        height: 21px;
        background: url(/images/v2/competition/tokens.svg) 0 0 no-repeat;
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .banner {
      .bannerBg {
        padding-top: 102px;
        height: 248px;
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 600px) {
    .banner {
      .bannerBg {
        padding-top: 78px;
        height: 237px;
      }
    }
  }
}
