@import './vars.cssmodule.scss';

.confirmationWrapper {
  box-sizing: border-box;
  display: table;
  padding: 0 16px;
  width: 100%;
  height: 100%;
  font-family: "Fjalla One", serif;
  font-size: 12px;

  .confirmation {
    display: table-cell;
    vertical-align: middle;

    .title {
      color: var(--token-shop-default-text-color);
      line-height: 16px;
    }

    .buttonsWrapper {
      margin-top: 10px;

      .confirmBtn,
      .cancelBtn {
        position: relative;
        margin: 0 6px;
        padding: 0;
        border: none;
        background: none;
        color: #779719;
        font-family: "Fjalla One", serif;
        font-size: 12px;
        cursor: pointer;

        &:hover {
          color: var(--token-shop-default-text-color);
        }
      }
    }

    &.inlineButtons {
      .title,
      .buttonsWrapper {
        display: inline-block;
      }

      .buttonsWrapper {
        margin-top: 0;
        margin-left: 10px;
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 600px) {
    .confirmationWrapper {
      padding: 0 7px;
    }
  }
}
