@import './panel.cssmodule.scss';
@import './vars.cssmodule.scss';

.hairstyles {
  margin: 8px 0 -4px;

  .topPanel {
    margin: 0 0 2px;

    @include panelTop(976);

    .title {
      display: inline-block;
      margin: 0 0 0 10px;
      color: var(--token-shop-default-headline-color);
      font-family: 'Fjalla One', serif;
      font-size: 15px;
      font-weight: normal;
      line-height: 36px;
    }
  }

  .hairstylesSlide {
    height: 131px;
    font-size: 0;
  }

  .button {
    position: relative;
    z-index: 1;
    height: 26px;
    box-shadow: none;
    vertical-align: top;
    cursor: pointer;
  }

  .hairstyle {
    display: inline-block;
    margin-left: 2px;
    width: 12.278%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .12);
    vertical-align: top;

    &:first-child {
      margin-left: 0;
    }

    .available {
      position: relative;
      box-sizing: border-box;
      padding-top: 4px;
      min-height: 117px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      background: var(--token-shop-panel-background);

      .hairstyleWrapper {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 95px;

        &.black {
          background-position: 0 -3px;
        }

        &.brown {
          background-position: -190px -3px;
        }

        &.blond {
          background-position: -95px -3px;
        }

        &.ginger {
          background-position: -285px -3px;
        }

        &.white {
          background-position: -380px -3px;
        }
      }

      .hairstyleInfo {
        position: relative;
        z-index: 1;
        margin-top: -4px;
        font-family: 'Fjalla One', serif;

        .name {
          color: var(--token-shop-default-text-color);
          font-size: 11px;
          line-height: 16px;
        }

        .selectLabel {
          display: block;
          padding-bottom: 4px;
          color: #779719;
          font-size: 12px;
          line-height: 16px;
        }
      }

      .hairstyleActions {
        position: absolute;
        top: 0;
        left: -999999px;
        z-index: 1;
        margin-top: -28px;

        .colorPicker {
          margin-bottom: 4px;

          & > li {
            display: inline-block;
          }

          .active {
            .pickerButton {
              &.black {
                z-index: 1;
                background-position: -10px -90px;
              }

              &.brown {
                z-index: 1;
                background-position: -50px -90px;
              }

              &.blond {
                z-index: 1;
                background-position: -90px -90px;
              }

              &.ginger {
                z-index: 1;
                background-position: -130px -90px;
              }

              &.white {
                z-index: 1;
                background-position: -170px -90px;
              }
            }
          }

          .pickerButton {
            position: relative;
            margin: 0 -3px;
            padding: 0;
            width: 20px;
            height: 20px;
            border: none;
            background: var(--token-shop-color-selector-image) -11px -51px no-repeat;
            cursor: pointer;

            &.black {
              background-position: -10px -50px;

              &:hover {
                z-index: 1;
                background-position: -10px -90px;
              }
            }

            &.brown {
              background-position: -50px -50px;

              &:hover {
                z-index: 1;
                background-position: -50px -90px;
              }
            }

            &.blond {
              background-position: -90px -50px;

              &:hover {
                z-index: 1;
                background-position: -90px -90px;
              }
            }

            &.ginger {
              background-position: -130px -50px;

              &:hover {
                z-index: 1;
                background-position: -130px -90px;
              }
            }

            &.white {
              background-position: -170px -50px;

              &:hover {
                z-index: 1;
                background-position: -170px -90px;
              }
            }
          }
        }

        .button {
          margin-bottom: 10px;
        }
      }

      &.rare {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: block;
          background: linear-gradient(to bottom, rgba(229, 178, 25, .15) 0%, rgba(229, 178, 25, 0) 100%);
        }
      }

      &.selected {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: block;
          background: linear-gradient(to bottom, rgba(146, 184, 32, .2) 0%, rgba(146, 184, 32, 0) 100%);
        }
      }
    }

    &:hover {
      .available {
        .hairstyleActions {
          position: relative;
          top: unset;
          left: unset;
        }

        .hairstyleInfo {
          display: none;
        }
      }
    }

    .empty {
      position: relative;
      min-height: 117px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      background: var(--token-shop-panel-background);
      opacity: .5;
    }

    .locked {
      position: relative;
      height: 117px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      background: var(--token-shop-panel-background);

      .actionWrapper {
        padding-top: 30px;

        .cost {
          position: relative;
          margin: 0 0 8px;
          color: var(--token-shop-default-text-color);
          font-family: 'Fjalla One', serif;
          font-size: 12px;
          text-shadow: 0 1px 0 rgba(255, 255, 255, .45);

          &::before {
            content: '';
            display: inline-block;
            width: 21px;
            height: 21px;
            background: url(/images/v2/competition/tokens.svg) 0 0 no-repeat;
          }

          .costValue {
            display: inline-block;
            padding-left: 4px;
            line-height: 23px;
            vertical-align: top;
          }
        }
      }

      .lockIcon {
        display: inline-block;
        margin-top: 41px;
        width: 35px;
        height: 35px;
        background: var(--token-shop-icons-image) -68px 0 no-repeat;
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .hairstyles {
      margin-bottom: 10px;

      .topPanel {

        @include panelTop(578);
      }

      .hairstylesSlide {
        height: initial;
      }

      .hairstyle {
        margin-bottom: 2px;
        width: 24.614%;

        &:hover {
          .available {
            .hairstyleActions {
              display: none;
            }

            .hairstyleInfo {
              display: block;
            }
          }
        }

        &.active {
          background: linear-gradient(to bottom, #f9f9f9 0%, #e0e1d5 100%);

          .available {
            .hairstyleActions {
              display: flex;

              li {
                position: relative;

                &::before,
                &::after {
                  content: '';
                  position: absolute;
                  top: 0;
                  display: block;
                  width: 1px;
                  height: 100%;
                }

                &::before {
                  right: 0;
                  background: var(--default-divider-left-linear-gradient);
                }

                &::after {
                  right: -1px;
                  background: var(--default-divider-right-linear-gradient);
                }
              }
            }

            .hairstyleInfo {
              display: none;
            }
          }
        }

        &.notActive {
          opacity: .6;
        }

        &:nth-child(4n + 1) {
          margin-left: 0;

          .hairstyleActions {
            left: -1px;
          }
        }

        &:nth-child(4n + 2) {
          .hairstyleActions {
            left: -97px;
          }
        }

        &:nth-child(4n + 3) {
          .hairstyleActions {
            left: -194px;
          }
        }

        &:nth-child(4n + 4) {
          .hairstyleActions {
            right: 0;
          }
        }

        &:nth-child(n + 5) {
          .hairstyleActions {
            top: 200px;
          }
        }

        .available {
          min-height: 131px;
          border-radius: 0;
          background: var(--token-shop-panel-background);

          .hairstyleInfo {
            margin-top: 10px;
          }

          .hairstyleActions {
            position: absolute;
            top: 119px;
            z-index: 2;
            display: none;
            width: 386px;
            box-shadow: 0 0 2px rgba(0, 0, 0, .2);
            background: var(--token-shop-select-panel-background);
            text-align: left;

            .colorPicker {
              display: flex;
              margin: 0;

              .active {
                background: var(--token-shop-select-panel-background-active);

                .pickerButton {
                  &.black {
                    background-position: 4px -1px;
                  }

                  &.brown {
                    background-position: -36px -1px;
                  }

                  &.blond {
                    background-position: -76px -1px;
                  }

                  &.ginger {
                    background-position: -116px -1px;
                  }

                  &.white {
                    background-position: -156px -1px;
                  }
                }
              }

              .pickerButton {
                position: relative;
                margin: 0;
                width: 48px;
                height: 40px;

                &.black {
                  background-position: 4px -1px;

                  &:hover {
                    background-position: 4px -1px;
                  }
                }

                &.brown {
                  background-position: -36px -1px;

                  &:hover {
                    background-position: -36px -1px;
                  }
                }

                &.blond {
                  background-position: -76px -1px;

                  &:hover {
                    background-position: -76px -1px;
                  }
                }

                &.ginger {
                  background-position: -116px -1px;

                  &:hover {
                    background-position: -116px -1px;
                  }
                }

                &.white {
                  background-position: -156px -1px;

                  &:hover {
                    background-position: -156px -1px;
                  }
                }
              }
            }

            .btnWrapper {
              position: relative;
              display: inline-block;
              width: 146px;
              height: 40px;
              text-align: center;
              vertical-align: top;
            }

            .button {
              margin: 7px 0 0;
            }
          }

          &.selected {
            .hairstyleInfo {
              margin-top: -4px;
            }
          }
        }

        .locked {
          height: 131px;
          border-radius: 0;
          background: var(--token-shop-panel-background);

          .actionWrapper {
            padding-top: 38px;
          }

          .lockIcon {
            position: -67px 0;
            margin-top: 49px;
          }
        }

        .empty {
          height: 131px;
          border-radius: 0;
          background: var(--token-shop-panel-background);
        }
      }

      .button {
        padding: 4px 8px 2px;

        &:global(.disabled) {
          padding: 4px 8px 2px;
        }
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 600px) {
    .hairstyles {
      .topPanel {

        @include panelTop(320);
      }

      .hairstyle {
        width: 24.531%;

        &:nth-child(4n + 1) {
          .hairstyleActions {
            left: 0;
          }
        }

        &:nth-child(4n + 2) {
          .hairstyleActions {
            left: -80px;
          }
        }

        &:nth-child(4n + 3) {
          .hairstyleActions {
            left: -160px;
          }
        }

        &:nth-child(4n + 4) {
          .hairstyleActions {
            right: 0;
          }
        }

        .available {
          .hairstyleWrapper {
            &.black {
              background-position: -5px 0;
            }

            &.brown {
              background-position: -195px 0;
            }

            &.blond {
              background-position: -100px 0;
            }

            &.ginger {
              background-position: -290px 0;
            }

            &.white {
              background-position: -385px 0;
            }
          }

          .hairstyleActions {
            width: 319px;

            .colorPicker {
              .active {
                .pickerButton {
                  &.black {
                    background-position: -1px -1px;
                  }

                  &.brown {
                    background-position: -40px -1px;
                  }

                  &.blond {
                    background-position: -80px -1px;
                  }

                  &.ginger {
                    background-position: -120px -1px;
                  }

                  &.white {
                    background-position: -160px -1px;
                  }
                }
              }

              .pickerButton {
                position: relative;
                margin: 0;
                width: 40px;
                height: 40px;

                &.black {
                  background-position: -1px -1px;

                  &:hover {
                    background-position: -1px -1px;
                  }
                }

                &.brown {
                  background-position: -40px -1px;

                  &:hover {
                    background-position: -40px -1px;
                  }
                }

                &.blond {
                  background-position: -80px -1px;

                  &:hover {
                    background-position: -80px -1px;
                  }
                }

                &.ginger {
                  background-position: -120px -1px;

                  &:hover {
                    background-position: -120px -1px;
                  }
                }

                &.white {
                  background-position: -160px -1px;

                  &:hover {
                    background-position: -160px -1px;
                  }
                }
              }
            }

            .btnWrapper {
              width: 119px;
            }
          }
        }
      }
    }
  }
}
