@import './panel.cssmodule.scss';
@import './vars.cssmodule.scss';

.honors {
  margin: 8px 0 10px;

  .topPanel {
    margin: 0 0 2px;

    @include panelTop(976);

    .title {
      display: inline-block;
      margin: 0 0 0 10px;
      color: var(--token-shop-default-headline-color);
      font-family: 'Fjalla One', serif;
      font-size: 15px;
      font-weight: normal;
      line-height: 36px;
    }
  }

  .honor {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 2px;
    width: 33.164%;
    height: 39px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12);
    background: var(--token-shop-panel-background);
    text-align: center;
    vertical-align: top;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-child(3n + 1) {
      margin-left: 0;
    }

    .locked {
      display: block;
      height: 100%;

      .wrapper {
        display: inline-block;
        width: 100%;
        height: 100%;
      }

      .defaultWrapper {
        display: inline-block;
        width: 100%;
        height: 100%;
      }

      .default {
        position: relative;
        margin-top: 9px;
        color: var(--token-shop-default-text-color);
        font-family: 'Fjalla One', serif;
        font-size: 12px;
        line-height: 21px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .45);
        vertical-align: middle;

        &::before,
        &::after {
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          background: var(--token-shop-icons-image) -109px -7px no-repeat;
        }

        &::before {
          margin-left: 25px;
          float: left;
        }

        &::after {
          margin-right: 25px;
          float: right;
        }
      }

      .hover {
        position: absolute;
        top: 0;
        right: unset;
        bottom: 0;
        left: -9999999px;
        padding: 8px 0;

        .cost {
          position: relative;
          margin-right: 9px;
          color: var(--token-shop-default-text-color);
          font-family: 'Fjalla One', serif;
          font-size: 12px;
          line-height: 23px;
          text-shadow: 0 1px 0 rgba(255, 255, 255, .45);

          &::before {
            content: '';
            position: absolute;
            left: -25px;
            display: inline-block;
            width: 21px;
            height: 21px;
            background: url(/images/v2/competition/tokens.svg) 0 0 no-repeat;
          }
        }
      }

      &:hover {
        .hover {
          right: 0;
          left: 0;
        }

        .default {
          display: none;
        }
      }
    }

    .available {
      position: relative;
      z-index: 1;
      font-size: 0;
      vertical-align: middle;

      .honorImg {
        margin: 10px auto 0;
      }
    }
  }

  .button {
    box-shadow: none;
    vertical-align: top;
    cursor: pointer;
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .honors {
      .topPanel {

        @include panelTop(578);
      }

      .honor {
        margin-right: 0;
        margin-bottom: 2px;
        margin-left: 0;
        width: 100%;

        .locked {
          &:hover {
            .hover {
              right: unset;
              left: -9999999px;
            }

            .default {
              display: block;
            }
          }

          .wrapper:hover {
            .hover {
              right: 0;
              left: 0;
            }

            .default {
              display: none;
            }
          }

          .default {
            &::before {
              margin-left: 90px;
            }

            &::after {
              margin-right: 90px;
            }
          }
        }
      }

      .button {
        padding: 4px 8px 2px;

        &:global(.disabled) {
          padding: 4px 8px 2px;
        }
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 600px) {
    .honors {
      .topPanel {

        @include panelTop(320);
      }

      .honor {
        .locked {
          .default {
            &::before {
              margin-left: 58px;
            }

            &::after {
              margin-right: 58px;
            }
          }
        }
      }
    }
  }
}
