@mixin panelTop($size) {
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .12));
  position: relative;
  height: 34px;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;

    @if $size == 976 {
      background: var(--token-shop-panel-top-background);
    }

    -webkit-mask: url(/images/v2/token_shop/#{$size}_panel_header.svg) no-repeat;
    mask: url(/images/v2/token_shop/#{$size}_panel_header.svg) no-repeat;
  }
}
