@import './vars.cssmodule.scss';

#tokenshoproot .swiper-slide {
  background-color: #d7d7d7;
  text-align: center;
}

#tokenshoproot .swiper-container {
  margin-top: -34px;
  padding-top: 34px;

  .swiper-wrapper {
    transition-duration: 500ms !important;
  }

  .swiper-slide {
    background: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 22px;
    padding: 0;
    width: 34px;
    height: 34px;
    border: none;
    background: var(--token-shop-icons-image) 0 0 no-repeat;

    &:hover {
      background-position-y: -34px;
    }
  }

  .swiper-button-next {
    background-position: -34px 0;
  }

  .swiper-button-prev {
    right: 45px;
    left: unset;
    background-position: 0 0;
  }
}
