#{$light-mode} {
  --token-shop-default-text-color: #888;
  --token-shop-default-headline-color: #999;
  --token-shop-locked-text-color: #888;
  --token-shop-panel-background: linear-gradient(180deg, #e9e9e9 0%, #d2d2cb);
  --token-shop-panel-top-background: var(--token-shop-panel-background);
  --token-shop-select-panel-background: transparent linear-gradient(0deg, #e0e1d5, #f9f9f9);
  --token-shop-select-panel-background-active: transparent linear-gradient(180deg, #e0e1d5, #f9f9f9);
  --token-shop-banner-image: url(/images/v2/token_shop/light/976_banner.png);
  --token-shop-color-selector-image: url(/images/v2/token_shop/colour_selector_light.svg);
  --token-shop-icons-image: url(/images/v2/token_shop/arrows_lock_icons_light.svg);
  --token-shop-backdrop-images-opacity: 1;

  @media #{$screen-tablet} {
    --token-shop-banner-image: url(/images/v2/token_shop/light/578_banner.png);
  }
  @media #{$screen-mobile} {
    --token-shop-banner-image: url(/images/v2/token_shop/light/320_banner.png);
  }
}

#{$dark-mode} {
  --token-shop-default-text-color: #fff;
  --token-shop-default-headline-color: var(--token-shop-default-text-color);
  --token-shop-locked-text-color: #999;
  --token-shop-panel-background: linear-gradient(180deg, #3c3c3c 0%, #282828);
  --token-shop-panel-top-background: transparent linear-gradient(180deg, #555 0%, #333);
  --token-shop-select-panel-background: var(--token-shop-panel-background);
  --token-shop-select-panel-background-active: transparent linear-gradient(0deg, #3c3c3c 0%, #282828);
  --token-shop-banner-image: url(/images/v2/token_shop/dark/976_banner.png);
  --token-shop-color-selector-image: url(/images/v2/token_shop/colour_selector_dark.svg);
  --token-shop-icons-image: url(/images/v2/token_shop/arrows_lock_icons_dark.svg);
  --token-shop-backdrop-images-opacity: .5;

  @media #{$screen-tablet} {
    --token-shop-banner-image: url(/images/v2/token_shop/dark/578_banner.png);
  }
  @media #{$screen-mobile} {
    --token-shop-banner-image: url(/images/v2/token_shop/dark/320_banner.png);
  }
}
