:global(.f-war-list.war-new) {
  --opponent-color: #ff794c;
  --current-color: #85b200;
}

.rankBox {
  --zero-ball-bg: transparent radial-gradient(closest-side at 50% 50%, #bbb 0%, #777 100%) 0% 0% no-repeat padding-box;

  min-height: 119px;

  a {
    text-decoration: none;
  }

  .titleBlock {
    align-items: center;
    color: #888;
    display: flex;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    border-bottom-color: var(--default-panel-divider-outer-side-color);
    height: 30px;

    .nameWp {
      overflow: hidden;
      line-height: 30px;
      max-height: 30px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .rankWarIcon {
    display: inline-block;
    margin-left: auto;
    width: 26px;
    height: 32px;
    background: url(/images/v2/faction/rank/warring_tiers_lists.png) no-repeat;

    &.diamond {
      width: 30px;
      background-position: -2px 0;
    }

    &.platinum {
      background-position: -2px -36px;
    }

    &.gold {
      background-position: -2px -70px;
    }

    &.silver {
      background-position: -2px -104px;
    }

    &.bronze {
      background-position: -2px -138px;
    }

    &.metal {
      width: 22px;
      background-position: -2px -172px;
    }
  }

  .linkColor {
    text-decoration: none;

    &.opponentFactionName {
      color: var(--opponent-color);
    }

    &.currentFactionName {
      color: var(--current-color);
    }

    &:hover {
      color: var(--faction-war-default-blue-hover-color);
    }
  }

  .statsBox {
    position: relative;
    border-top: 1px solid #fff;
    border-top-color: var(--default-panel-divider-inner-side-color);
    height: 78px;

    .scoreBlock {
      height: 22px;
      text-align: center;
      margin: 4px 10px;

      .scoreText {
        font-size: 22px;

        &.currentFaction {
          color: var(--current-color);
          text-align: right;
          width: 33.33333%;

          &.animation {
            text-shadow: 0 0 10px #94d82d;
          }
        }

        &.opponentFaction {
          color: var(--opponent-color);
          text-align: left;
          width: 33.33333%;

          &.animation {
            text-shadow: 0 0 10px #fa5252a6;
          }
        }
      }

      .target {
        font-size: 10px;
        line-height: 11px;
        float: left;
        text-align: center;
        width: 33.33333%;

        &.green {
          color: var(--current-color);
        }

        &.red {
          color: var(--opponent-color);
        }
      }
    }

    .graphBlock {
      height: 19px;
      margin: 0 10px;
      border-bottom: 1px solid #fff;
      border-bottom-color: var(--default-panel-divider-inner-side-color);

      .tag {
        opacity: .6;
        width: 25px;
        height: 19px;
      }

      .scoreBg {
        width: 91.5px;
        height: 100%;
        // overflow: hidden;
        position: relative;
        background: transparent linear-gradient(180deg, #d8dad5 0%, #eaebe9 100%) 0% 0% no-repeat padding-box;

        @media (max-width: 1000px) {
          #{$global-r} & {
            width: 157.5px;
          }
        }
        @media (max-width: 600px) {
          #{$global-r} & {
            width: 124.5px;
          }
        }
      }

      .slider {
        width: 45px;
        height: 100%;
        position: relative;

        @media (max-width: 1000px) {
          #{$global-r} & {
            width: 77px;
          }
        }
        @media (max-width: 600px) {
          #{$global-r} & {
            width: 61px;
          }
        }

        &.currentSlider {
          // #bfcb92 -> #e5e8dc
          background: transparent linear-gradient(180deg, #bfcb92 0%, #e5e8dc 100%) 0% 0% no-repeat padding-box;
          border-radius: 0 10px 10px 0;
        }

        &.opponentSlider {
          // #e0baa8 -> #eae4e0
          background: transparent linear-gradient(180deg, #e0baa8 0%, #eae4e0 100%) 0% 0% no-repeat padding-box;
          border-radius: 10px 0 0 10px;
        }

        .targetBall {
          width: 17px;
          height: 17px;
          border: double 1px transparent;
          border-radius: 50%;
          background-origin: border-box;
          background-clip: content-box, border-box;

          &.currentBall {
            background-image:
              linear-gradient(180deg, #bfcb92 0%, #e5e8dc 100%),
              linear-gradient(to left, #85b200, #85b20000);
          }

          &.opponentBall {
            background-image:
              linear-gradient(180deg, #e0baa8 0%, #eae4e0 100%),
              linear-gradient(to left, #ff794c00 0%, #ff794c 100%);
          }
        }
      }

      .ball {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        position: absolute;
        z-index: 1;

        &.grey {
          background: transparent linear-gradient(180deg, #0006 0%, #0000001a 100%) 0% 0% no-repeat padding-box;
          margin: 3px;
        }

        &.green {
          background: transparent radial-gradient(closest-side at 50% 50%, #b2d21d 0%, #349b00 100%) 0% 0% no-repeat padding-box;
          top: 1px;
          margin: 3px -.5px;
        }

        &.red {
          background: transparent radial-gradient(closest-side at 50% 50%, #ffae8a 0%, #ff3d27 100%) 0% 0% no-repeat padding-box;
          top: 1px;
          margin: 3px -.5px;
        }

        &.zero {
          background: var(--zero-ball-bg);
          left: 50%;
          margin-left: -5.5px;
          margin-top: 4px;
        }
      }

      .progressBar {
        height: 3px;
        top: 8px;
        position: absolute;
        box-shadow: 0 1px 0 #ffffffa6;

        &.green {
          left: 0;
          background: transparent linear-gradient(180deg, #b1cb64 0%, #cfdea4 100%) 0% 0% no-repeat padding-box;
        }

        &.red {
          right: 0;
          background: transparent linear-gradient(180deg, #ff3d27 0%, #ffae8a 100%) 0% 0% no-repeat padding-box;
        }
      }
    }

    .bottomBox {
      text-align: center;
      margin: 8px 10px;
      font-size: 11px;
      color: #888;

      .infoBlock {
        width: 33.33333%;
        line-height: 13px;

        &.currentBlock {
          text-align: right;

          .resultText {
            color: var(--current-color);
          }
        }

        &.timer {
          text-align: center;
          line-height: 13px;

          span {
            width: 6px;
            display: inline-block;
          }
        }

        &.opponentBlock {
          text-align: left;

          .resultText {
            color: var(--opponent-color);
          }
        }

        .targetIcon {
          vertical-align: middle;
        }
      }
    }

    &.waiting {
      .scoreBlock {
        .scoreText {
          color: #ccc;
        }
      }

      .graphBlock {
        .slider {
          display: none;
        }

        .ball {
          background: var(--zero-ball-bg);
        }
      }
    }
  }
}

:global(.dark-mode) {
  .rankBox {
    .titleBlock {
      color: #fff;
    }

    .statsBox {
      .graphBlock {
        .scoreBg {
          background: transparent linear-gradient(180deg, #222 0%, #333 100%) 0% 0% no-repeat padding-box;
        }

        .slider {
          &.currentSlider {
            // #47511f -> #383b2f
            background: transparent linear-gradient(180deg, #47511f 0%, #383b2f 100%) 0% 0% no-repeat padding-box;
            border-radius: 0 10px 10px 0;
          }

          &.opponentSlider {
            // #674232 -> #3f3734
            background: transparent linear-gradient(180deg, #674232 0%, #3f3734 100%) 0% 0% no-repeat padding-box;
            border-radius: 10px 0 0 10px;
          }

          .targetBall {
            &.currentBall {
              background-image:
                linear-gradient(180deg, #47511f 0%, #383b2f 100%),
                linear-gradient(to left, #85b200, #85b20000);
            }

            &.opponentBall {
              background-image:
                linear-gradient(180deg, #674232 0%, #3f3734 100%),
                linear-gradient(to left, #ff794c00 0%, #ff794c 100%);
            }
          }
        }
      }

      .bottomBox {
        color: #fff;
      }

      .scoreBlock {
        .scoreText {
          &.currentFaction {
            color: var(--current-color);
            text-shadow: 0 0 10px #94d82da6;
          }
        }
      }

      &.waiting {
        .scoreBlock {
          .scoreText {
            color: #000;
            text-shadow: 0 -1px 0 #94d82d1a;
          }
        }
      }
    }
  }
}
