.tutorialContainer {
  width: 100%;
  backgroundColor: red;

  span {
    display: block;
    height: 30px;
    color: white;
    line-height: 30px;
    font-size: 15px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.65);
    border-radius: 5px 5px 0 0;
    background: url(/images/v2/main/section_title_gray_bg.png) left top repeat;

    &:before {
      margin: 5px 4px 0 10px;
      padding-top: 4px;
      content: "";
      float: left;
      height: 22px;
      width: 18px;
      background: url(/images/v2/main/icons/tutorial.png) left top no-repeat;
    }
  }

  p {
    line-height: 16px;
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid #FFF;
    background-color: #f2f2f2;
    padding: 10px;
  }
}