.nameChange {
  .input {
    line-height: 14px;
    height: 14px;
    margin-right: 8px;
    border: 1px solid #CCC;
    border-color: var(--input-border-color);
    border-radius: 5px;
    text-align: left;
    background: #FFF;
    background: var(--input-background-color);
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    width: 178px;
    &.disabled {
      background: transparent;
    }
    @media screen and (max-width: 1000px) {
      width: 344px;
      padding: 10px;
      margin-bottom: 10px;
    }
    @media screen and (max-width: 600px) {
      width: 278px;
    }
  }
  .label {
    display: block;
    margin-bottom: 5px;
    &.error {
      color: #D83500;
    }
    &.warning {
      color: #FF8000;
    }
    &.success {
      color: #698C00;
    }
    &.default {
      color: #444444;
    }
  }
  .red {
    color: #FF5A26;
  }
  button.button {
    @media screen and (max-width: 1000px) {
      padding: 10px;
    }
    &.loading {
      text-shadow: none;
      color: transparent;
    }
  }
}

:global(.resultInfo) {
  color: #333;
  color: var(--preferences-change-name-result-info-color);
}
