@import '../../styles/mixins';

.communityCards {
  text-align: center;
  position: relative;
  width: 100%;
  height: 110px;

  @include appType('desktop/full') {
    padding-top: 56px;
  }
  @include appType('desktop/sidebar') {
    padding-top: 83px;
  }
  @include appType('tablet/full') {
    padding-top: 104px;
  }
  @include appType('tablet/sidebar') {
    width: 320px;
    padding-top: 178px;
    margin: auto;
  }
  @include appType('mobile') {
    padding-top: 139px;
    margin: auto;
  }
}

.cardWrap {
  position: absolute;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

  @include appType('desktop/full') {
    margin: 0 -1px 0 1px;
  }
  @include appType('tablet/full') {
    margin: 0 -1px 0 0;
  }
  @include appType('tablet/sidebar') {
    margin: -10px -4px 0 -3px;
  }
  @include appType('mobile') {
    margin: -10px -4px 0 -3px;
  }
}

.cardInStack {
  visibility: hidden;

  @include appType('desktop/full') {
    left: 221px;
  }
  @include appType('desktop/sidebar') {
    left: 80px;
  }
  @include appType('tablet/full') {
    left: 128px;
  }
  @include appType('tablet/sidebar') {
    left: -15px;
  }
  @include appType('mobile') {
    left: 118px;
  }
}

.card {
  visibility: visible;
}

.card:nth-child(1) {

  @include appType('desktop/full') {
    left: 209px;
  }
  @include appType('desktop/sidebar') {
    left: 137px;
  }
  @include appType('tablet/full') {
    left: 139px;
  }
  @include appType(['tablet/sidebar', 'mobile']) {
    left: 118px;
  }
}

.card:nth-child(2) {

  @include appType('desktop/full') {
    left: 286px;
  }
  @include appType('desktop/sidebar') {
    left: 194px;
  }
  @include appType('tablet/full') {
    left: 195px;
  }
  @include appType(['tablet/sidebar', 'mobile']) {
    left: 145px;
  }
}

.card:nth-child(3) {

  @include appType('desktop/full') {
    left: 365px;
  }
  @include appType('desktop/sidebar') {
    left: 249px;
  }
  @include appType('tablet/full') {
    left: 248px;
  }
  @include appType(['tablet/sidebar', 'mobile']) {
    left: 172px;
  }
}

.card:nth-child(4) {

  @include appType('desktop/full') {
    left: 446px;
  }
  @include appType('desktop/sidebar') {
    left: 304px;
  }
  @include appType('tablet/full') {
    left: 305px;
  }
  @include appType(['tablet/sidebar', 'mobile']) {
    right: 160px;
    bottom: 38px;
  }
}

.card:nth-child(5) {

  @include appType('desktop/full') {
    left: 525px;
  }
  @include appType('desktop/sidebar') {
    left: 360px;
  }
  @include appType('tablet/full') {
    left: 361px;
  }
  @include appType(['tablet/sidebar', 'mobile']) {
    right: 133px;
    bottom: 38px;
  }
}
