.loader {
  position: relative;
  top: 50%;
  margin: auto;
  width: 62px;
  height: 7px;
  transform: translateY(-50%);

  @media (max-width: 1000px) {
    #{$global-r} & {
      top: -52%;
      right: -1px;
      width: 26px;
      overflow: hidden;
      transform: none;
    }
  }
}

.loaderPoint_0 {
  left: 0;
  animation-delay: 0s;
}

.loaderPoint_1 {
  left: 9px;
  animation-delay: .1s;
}

.loaderPoint_2 {
  left: 18px;
  animation-delay: .2s;
}

.loaderPoint_3 {
  left: 27px;
  animation-delay: .3s;
}

.loaderPoint_4 {
  left: 36px;
  animation-delay: .4s;
}

.loaderPoint_5 {
  left: 45px;
  animation-delay: .5s;
}

.loaderPoint_6 {
  left: 54px;
  animation-delay: .6s;
}

.loaderPoint {
  position: absolute;
  top: 50%;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  animation-name: loaderAnimationBlack;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  transform: scale(.5);
}

.pseudoBtnGreyContainer {
  border: none;
  background: transparent linear-gradient(180deg, #ccc 0%, #fff 100%) 0% 0% no-repeat padding-box;
  background: var(--crimeRow__actinButtonPseudo-background);
  box-shadow: 0 1px 0 #ffffffa6;
  box-shadow: 0 1px 0 var(--crimeRow__actinButtonPseudo-box-shadow-color);
  border-radius: 5px;
  width: 93px;
  height: 25px;
}

.bcgBlack {
  background-color: rgba(0, 0, 0, 0);
}

.bcgWhite {
  background-color: rgba(255, 255, 255, 0);
}

#{$tornButtonGrey}.crimeButton,
#{$tornButtonGreyDisabled}.crimeButton {
  user-select: none;
  width: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  #{$global-r} & {

    @media #{$screen-tablet} {
      padding: 0;
      width: 31px;
      height: 30px;
    }
  }
}

.btnLabel {
  padding-left: 2px;
  flex: 1;
  font-size: 13px;
  padding-top: 2px;
}

.btnDlm {
  height: 100%;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-image: linear-gradient(180deg, #ddd0 0%, #ddd 53%, #ddd0 100%) 1% 100%;
  border-image: var(--dlm-borderImage);
  position: relative;

  &::before,
  &::after {
    content: '';
    height: inherit;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 0;
    width: 1px;
  }

  &::before {
    background: transparent linear-gradient(180deg, #aaa0 0%, #aaa 53%, #aaa0 100%) 0% 0% no-repeat padding-box;
  }

  &::after {
    left: 1px;
    background: transparent linear-gradient(180deg, #fff0 0%, #ffffff80 53%, #fff0 100%) 0% 0% no-repeat padding-box;
  }
}

.btnNerve {
  padding: 0 10px 0 12px;
}

.mobileArrow {
  #{$global-r} & {

    @media #{$screen-tablet} {
      height: 24px;
      overflow: hidden;

      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 23px;
        background: url(/images/v2/2sef32sdfr422svbfr2/crimes/action_button_touchscreen.png) 0 -34px no-repeat;
      }
    }
  }
}

@keyframes loaderAnimationWhite {
  0% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 1);
  }

  100% {
    transform: scale(.5);
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes loaderAnimationBlack {
  0% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 1);
  }

  100% {
    transform: scale(.5);
    background-color: rgba(0, 0, 0, 0);
  }
}
