@import '../../styles/vars';
@import '../../styles/borders';
@import '../../styles/mixins';

.buttonsWrap {
  display: flex;
  justify-content: stretch;

  @include appType([ 'desktop/full', 'desktop/sidebar', 'tablet/full' ]) {

    @include borders-on-top;
  }
  @include appType([ 'tablet/full', 'tablet/sidebar', 'mobile' ]) {

    @include borders-on-bottom;
  }
}
