.item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding-right: 7px;
  padding-left: 7px;
  border: none;
  background: #fff;
  background-color: var(--tabs-bg-gradient);
  background: linear-gradient(to bottom, #fff 0%, #ddd 100%);
  background: var(--default-panel-gradient);
  color: #777;
  color: var(--default-gray-7-color);
  text-shadow: 0 1px 0 #fff;
  text-shadow: var(--tabs-text-shadow);
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  user-select: none;
  outline: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .001), #fff, rgba(255, 255, 255, .001));
    background: var(--tabs-divider-left-gradient);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    width: 1px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .001), #ddd, rgba(255, 255, 255, .001));
    background: var(--tabs-divider-right-gradient);
  }

  &:first-child::before,
  &:first-child::after {
    display: none;
  }

  &:last-child {
    border-right: 0;
  }

  &:not(.insensitive) {
    cursor: pointer;
  }

  &.active:not(.insensitive),
  &:hover:not(.insensitive) {
    background: linear-gradient(to bottom, #ddd, #fff);
    background: var(--tabs-active-bg-gradient);
  }
}

.insensitive {
  justify-content: unset;
  padding-right: 11px;
  padding-left: 11px;

  &:first-child {
    padding-left: 6px;
  }

  &:last-child {
    padding-right: 6px;
  }
}

#{$global-r} &.tablet {
  background-color: #f2f2f2;
  background-color: var(--default-bg-panel-color);

  &::before,
  &::after {
    display: none;
  }

  &.insensitive:first-child {
    padding-right: 5px;
    padding-left: 10px;
  }

  &.insensitive:last-child {
    padding-right: 10px;
    padding-left: 5px;
  }
}

#{$global-r} &.mobile {
  background-color: #f2f2f2;
  background-color: var(--default-bg-panel-color);

  &::before,
  &::after {
    display: none;
  }

  &.insensitive:first-child {
    padding-right: 5px;
    padding-left: 11px;
  }

  &.insensitive:last-child {
    padding-right: 11px;
    padding-left: 5px;
  }
}
