.hasPrivileges {
  .reporters {
    padding-top: 10px;
    border-top: 1px solid #FFF;
    border-top-color: var(--default-panel-divider-inner-side-color);
  }
}
.reporters {
  * {
    box-sizing: border-box;
  }
  .titles {
    display: flex;
    padding-left: 0;
    .title {
      border-left: 2px solid #CCC;
      border-left-color: var(--default-panel-divider-outer-side-color);
      padding: 0 10px;
      &:first-child {
        border-left: none;
      }
      &.name {
        width: 240px;
      }
      &.status {
        width: 136px;
      }
      &.lastPost, &.articles, &.action {
        width: 136px;
        text-align: right;
      }
    }
  }
  .list {
    .reporter {
      display: flex;
      background: #F2F2F2;
      background: var(--default-bg-panel-color);
      height: 34px;
      line-height: 32px;
      &:hover {
        background: #FFF;
        background: var(--default-bg-panel-active-color);
      }
      &.removed {
        background-color: #F9D9D2;
      }
      .col {
        border-left: 2px solid #CCC;
        border-left-color: var(--default-panel-divider-outer-side-color);
        border-bottom: 1px solid #CCC;
        border-bottom-color: var(--default-panel-divider-outer-side-color);
        border-top: 1px solid #FFF;
        border-top-color: var(--default-panel-divider-inner-side-color);
        padding: 0 10px;
        &:first-child {
          border-left: none;
        }
        &.name {
          width: 240px;
          line-height: initial;
          padding: 5px 0 5px 10px;
        }
        &.withoutImage {
          line-height: 20px;
        }
        &.status {
          width: 136px;
        }
        &.lastPost, &.articles, &.action {
          width: 136px;
          text-align: right;
        }
        &.action {
          cursor: pointer;
        }
      }
    }
  }
}
.noPrivileges {
  .reporters {
    .titles {
      .title {
        &.lastPost, &.articles, &.status {
          width: 182px;
        }
      }
    }
    .list {
      .reporter {
        .col {
          &.lastPost, &.articles, &.status {
            width: 182px;
          }
        }
      }
    }
  }
}

:global(.r) {
  @media screen and (max-width: 1000px) {
    .reporters {
      .titles {
        display: flex;
        padding-left: 0;
        .title {
          &.action {
            width: 129px;
          }
          &.lastPost {
            display: none;
          }
        }
      }
      .list {
        .reporter {
          .col {
            &.name {
              width: 248px;
            }
            &.action {
              width: 129px;
            }
            &.lastPost {
              display: none;
            }
          }
        }
      }
    }
  }
}

:global(.r) {
  @media screen and (max-width: 600px) {
    .reporters {
      .titles {
        display: flex;
        padding-left: 0;
        .title {
          padding: 0 8px;
          &.articles {
            width: 130px;
          }
          &.action {
            width: 110px;
          }
          &.lastPost {
            display: none;
          }
        }
      }
      .list {
        .reporter {
          :global(.onlineStatus) {
            display: none;
          }
          .col {
            padding: 0 8px;
            &.name {
              padding-left: 10px;
              padding-top: 5px;
              width: 240px;
            }
            &.articles {
              width: 130px;
            }
            &.action {
              width: 110px;
            }
            &.lastPost {
              display: none;
            }
          }
        }
      }
    }
  }
}
