.textOutcomeWrapper {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
}

.deleteMap {
  box-sizing: border-box;
  padding: 10px;
  border-top: 1px solid #d4dfe4;
  border-top-color: var(--ct-skeleton-border-color);
  height: 42px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: 42px;
      border-top: none;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      padding: 0;
      padding-top: 7px;
      padding-bottom: 10px;
      height: 57px;
    }
  }
}

.leaveMap {
  box-sizing: border-box;
  padding: 10px;
  border-top: 1px solid #d4dfe4;
  border-top-color: var(--ct-skeleton-border-color);

  @media #{$screen-tablet} {
    #{$global-r} & {
      border-top: none;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      align-items: center;
      padding: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 37px;
    }
  }
}

.leftSection {
  opacity: 1;
  padding-right: 4px;
}

.rightSection {
  display: flex;
  flex-direction: row;
  padding-left: 4px;
}

.description {
  color: #668fa3;
  color: var(--ct-my-maps-outcome-message-font-color);
  font: inherit;
  line-height: 21px;
}

.button {
  position: relative;
  padding: 0 5px;
  border: none;
  background: transparent;
  color: #668fa3;
  color: var(--ct-my-maps-outcome-message-button-color);
  font: inherit;
  font-size: 12px;
  line-height: 21px;
  cursor: pointer;
}

.preloadButton {
  padding-left: 6px;
  cursor: default;
}

.deletePreloadButton {
  composes: preloadButton;
  width: 39.4px;
}

.leavePreloadButton {
  composes: preloadButton;
  width: 36px;
}

.cancel {
  display: block;

  &:hover {
    color: #476778;
    color: var(--ct-my-maps-cancel-hover-color);
  }
}

.delete,
.leave {
  display: block;
  color: #ee8967;
  color: var(--ct-my-maps-red-color);

  &:hover {
    color: #476778;
    color: var(--ct-my-maps-cancel-hover-color);
  }
}
