.preview {
  .tabs {
    display: flex;
  }
  * {
    box-sizing: border-box;
  }
}

.article {
  border-radius: 5px;
  background: #f2f2f2;
  background: var(--default-bg-panel-color);
  width: 560px;

  :global(blockquote) {
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 8px 8px 2px 20px;
    border-left: 1px solid #ccc;
    font-style: italic;
  }

  .header {
    margin: 0 10px;
    padding: 10px 0;
    border-bottom: 1px solid #CCC;
    border-bottom-color: var(--default-panel-divider-outer-side-color);
    box-shadow: 0 1px 0 0 rgba(255,255,255,1);
    box-shadow: var(--reporting-panel-white-box-shadow);
    .title {
      color: #525252;
      color: var(--reporting-panel-default-color);
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 23px;
      line-height: 27px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .info {
      font-family: 'Times New Roman', sans-serif;
      font-size: 16px;
      .author {
        color: #069;
        color: var(--default-blue-color);
        text-decoration: none;
      }
      .date {
        color: #525252;
        color: var(--reporting-panel-default-color);
        display: inline-block;
        margin-left: 5px;
        font-style: italic;
      }
    }
  }
  .subtitle {
    margin: 0 10px;
    padding: 10px 0 40px;
    font-family: 'Times New Roman', sans-serif;
    font-size: 17px;
    font-style: italic;
    color: #525252;
    color: var(--reporting-panel-default-color);
    line-height: 17px;
  }
  .text {
    margin: 0 10px;
    padding: 10px 0;
    font-family: 'Times New Roman', sans-serif;
    font-size: 16px;
    color: #525252;
    color: var(--reporting-panel-default-color);
    line-height: 17px;
    word-break: break-word;
    p {
      padding: 10px 0;
      line-height: 19px;
    }
    a {
      color: #069;
      color: var(--default-blue-color);
      text-decoration: none;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    em {
      font-style: italic;
    }
    iframe {
      max-width: 100%;
    }
    ul {
      margin: 3px 0 10px 20px;
      list-style-type: disc;
    }
  }
  .actions {
    padding: 10px;
    border-top: 1px solid #CCC;
    border-top-color: var(--default-panel-divider-outer-side-color);
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,1);
    box-shadow: var(--reporting-panel-inset-white-box-shadow);
    .action {
      margin-right: 10px;
    }
  }
}

.tabControls {
  display: none;
}

:global(.r) {
  @media screen and (max-width: 1000px) {
    .article {
      width: 100%;
      margin-right: 0;
      border-radius: 0;
      :global(.title-black) {
        display: none;
      }
      .actions {
        padding-bottom: 0;
        .action {
          width: 178px;
          display: inline-block;
          margin-bottom: 10px;
          &:nth-child(2n+2) {
            margin-right: 0;
          }
          button {
            width: 100%;
          }
        }
      }
    }
    .tabControls {
      display: flex;
      width: 100%;
      .tabControl {
        font-family: Arial, sans-serif;
        background: #000;
        display: block;
        color: #FFF;
        width: 49%;
        height: 35px;
        line-height: 35px;
        text-align: center;
        position: relative;
        font-size: 13px;
        cursor: pointer;
        &:after {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          width: 15px;
          height: 35px;
          background: url(/images/v2/main/tabs/regular/ends_inner_default.png) left top no-repeat;
        }
        &.active, &:hover {
          background-color: #2E2E2E;
          z-index: 100;
          &:after {
            background-image: url(/images/v2/main/tabs/regular/ends_inner_over.png);
          }
        }
        &:first-child {
          margin-right: 23px;
          &:after {
            left: auto;
            right: -14px;
            background-position: -15px 0;
          }
        }
        &:last-child:after {
          left: -14px;
        }
      }
    }
  }
}

:global(.r) {
  @media screen and (max-width: 600px) {
    .article {
      .actions {
        .action {
          width: 145px;
        }
      }
    }
  }
}
