.archive {
  position: relative;
  padding: 20px;
  min-height: 1000px;

  * {
    box-sizing: border-box;
  }

  :global(.tornPreloader) {
    position: relative;
    top: 0;
    left: 0;
    margin: 50px auto 0;
  }
}

.article {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 130px;
  background: url(/images/v2/newspaper/divider_horizontal_older.png) 0 0 repeat-x,
              url(/images/v2/newspaper/divider_horizontal_older.png) 0 100% repeat-x,
              url(/images/v2/newspaper/divider_vertical_old.png) 100% 0 repeat-y;
  background: var(--newspaper-divider-horizontal-older-line-url) 0 0 repeat-x,
              var(--newspaper-divider-horizontal-older-line-url) 0 100% repeat-x,
              var(--newspaper-divider-vertical-old-line-url) 100% 0 repeat-y;
  text-decoration: none;

  &.unseen .innerWrap {
    border-color: #357c9f;
    border-color: var(--newspaper-unseen-article-bg-color);
  }

  &.unread .innerWrap {
    border-color: #dad1c9;
    border-color: var(--newspaper-unreed-article-bg-color);
  }

  .innerWrap {
    display: table;
    border-right: 10px solid transparent;
  }
}

.imageWrap {
  display: table-cell;
  background-image: url(/images/v2/newspaper/image_placeholder.jpg);
  background-size: cover;
  vertical-align: top;
}

.image {
  width: 170px;
  height: 130px;
  background-size: cover;
}

.titleWrap {
  display: table-cell;
  padding: 8px 10px;
  width: 100%;
  vertical-align: top;
}

.title {
  display: block;
  margin-bottom: 3px;
  color: #069;
  color: var(--default-blue-color);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  text-decoration: none;
  text-transform: uppercase;
}

.views {
  position: absolute;
  top: 10px;
  right: 22px;
  display: block;
  color: #069;
  color: var(--default-blue-color);
  font-weight: 700;

  .counter {
    display: inline-block;
    margin-left: 5px;
    font-family: 'Times New Roman', sans-serif;
    font-size: 15px;
    vertical-align: middle;
  }
}

.viewsIcon {
  display: inline-block;
  width: 19px;
  height: 11px;
  background: url(/images/v2/newspaper/views_counter.png) 0 0 repeat-x;
  filter: unset;
  filter: var(--newspaper-views-counter-filter);
  vertical-align: middle;
}

.subtitle {
  display: block;
  min-height: 75px;
  color: #525252;
  color: var(--newspaper-font-color);
  font-family: 'Times New Roman', sans-serif;
  font-size: 15px;
  line-height: 17px;
  text-decoration: none;
  word-break: break-word;
}

.link {
  display: inline-block;
  margin: 0 3px;
  color: #069;
  color: var(--default-blue-color);
  text-decoration: none;
}

.info {
  font-family: 'Times New Roman', sans-serif;
  font-size: 13px;

  .link {
    font-weight: 700;
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .archive {
      display: block;
      padding: 0;
      width: auto;
      background: none;
    }

    .article {
      margin: 0;
      height: auto;
      background: url(/images/v2/newspaper/divider_horizontal_older.png) 0 0 repeat-x;
      background: var(--newspaper-divider-horizontal-older-line-url) 0 0 repeat-x;

      &:first-child {
        margin-top: 5px;
        background: url(/images/v2/newspaper/divider_horizontal.png) 0 0 repeat-x;
        background: var(--newspaper-divider-horizontal-line-url) 0 0 repeat-x;
      }

      .innerWrap {
        display: block;
        padding: 18px 10px;
      }

      &.unseen .innerWrap,
      &.unread .innerWrap {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 10px;
          height: 1px;
          background: #000;
          background: var(--newspaper-unseen-article-border-color);
        }
      }

      &.unread .innerWrap {
        &::before {
          background: #ddd;
          background: var(--newspaper-unread-article-border-color);
        }
      }
    }

    .imageWrap {
      display: none;
    }

    .titleWrap {
      display: block;
      padding: 0;
    }

    .subtitle {
      margin-bottom: 10px;
      min-height: unset;
    }

    .views {
      position: static;
      margin-top: 14px;
    }
  }
}
