.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCenterStart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.fontCT {
  font-family: 'Fjalla one', sans-serif;
  font-size: 12px;
  line-height: 1.3;
}

.fontBlue {
  composes: fontCT;
  color: #668fa3;
  color: var(--ct-all-maps-title-font-color);
}

.column {
  box-sizing: border-box;
  composes: flexCenter;
  height: 100%;
}

.section {
  border-right: 1px solid #d4dfe4;
  border-color: var(--ct-skeleton-border-color);

  &:last-of-type {
    border-right: none;
  }
}

.name {
  justify-content: flex-start;
  order: 1;
  padding-left: 10px;
  width: 180px;
}

.creator {
  order: 2;
  width: 82px;
}

.last_edit {
  order: 3;
  width: 65px;
}

.editors,
.testers,
.players {
  width: 60px;
}

.editors {
  order: 4;
}

.testers {
  order: 5;
}

.players {
  order: 6;
}

.elements {
  order: 7;
  width: 165px;
}

.release {
  order: 8;
  width: 120px;
}

.rating {
  order: 9;
  width: 116px;
}

.join {
  order: 10;
  width: 68px;
}
