<div id="christmastownroot"></div>

<% for (var css in htmlWebpackPlugin.files.css) { %>
<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
<% } %>
<% for (var js in htmlWebpackPlugin.files.js) { %>
<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
<% } %>

<script type="text/javascript" id="bundle_load" src="/js/script/src/christmas_town/index.js?v=1481381185318"></script>

<style type="text/css">
	#mainContainer {
		position: static;
	}
</style>
