@import '../../../../styles/constants.scss';

.row {
  position: relative;
}

.statusContainer {
  width: 175px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media #{$screen-tablet} {
    #{$global-r} & {
      position: absolute;
      top: 28px;
      left: 108px;
      width: 80px;
      height: 16px;
      background: $itemBcg;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      position: absolute;
      top: 28px;
      left: 60px;
      width: 80px;
      height: 14px;
      background: $itemBcg;
    }
  }
}

.titleText {
  margin-right: 42px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      position: relative;
      margin-right: 84px;
      top: -10px;
      width: 60px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      margin-right: 66px;
    }
  }
}

.text {
  width: 105px;
  height: 16px;
  margin: 10px;
  background: $itemBcg;
  box-sizing: border-box;

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}


.itemContainer {
  width: 150px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before,
  &::after {
    content: '';
    width: 60px;
    height: 20px;
    display: block;
    background: $itemBcg;
  }

  &::before {
    width: 40px;
    margin-right: 10px;
  }

  @media #{$screen-tablet} {
    width: 62px;

    #{$global-r} & {
      &::before {
        width: 23px;
        margin-left: 5px;
      }

      &::after {
        width: 20px;
      }
    }
  }

  @media #{$screen-mobile} {
    width: 62px;

    #{$global-r} & {
      &::before {
        margin-right: 8px;
      }
    }
  }
}

.nerveContainer {
  width: 60px;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    background: $itemBcg;
    width: 40px;
    height: 15px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 18px;
      margin-left: 4px;
    }
  }
}

.actionButton {
  width: 80px;
  margin-left: 12px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-left: 9px;
      height: 28px;
    }
  }
}

.delimiter {
  height: 10px;
  display: block;
  width: 100%;
  border: none;
  background: transparent;
}

.static {
  .statusContainer {
    @media #{$screen-tablet} {
      #{$global-r} & {
        width: 130px;
        left: 110px;
        height: 20px;
        background: transparent;
      }
    }

    @media #{$screen-mobile} {
      #{$global-r} & {
        left: 60px;
        width: 100px;
      }
    }
  }

  .text {
    position: relative;
    background: transparent;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      width: 147px;
      height: 28px;
      background: transparent;
      border: 1px solid $itemBcg;
      border-radius: 5px;
    }

    &::after {
      background: $itemBcg;
      width: 86px;
      height: 16px;
      border-radius: 5px;
      border-radius: 0;
      left: 31px;
    }

    @media #{$screen-tablet} {
      #{$global-r} & {
        display: block;
        width: inherit;
        margin: 0;

        &::before {
          width: inherit;
          height: 18px;
        }

        &::after {
          width: 75px;
          left: 44px;
          height: 12px;
        }
      }
    }
  }

  .itemContainer {
      &::before,
      &::after {
        width: 60px;
        height: 30px;
        border-radius: 5px;
      }

      @media #{$screen-tablet} {
        #{$global-r} & {
          flex-direction: column;
          height: inherit;

          &::before,
          &::after {
            width: 38px;
            height: 18px;
          }

          &::before {
            margin-bottom: 2px;
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
  }

  &:nth-child(2) {
    .statusContainer {
      @media #{$screen-tablet} {
        #{$global-r} & {
          position: absolute;
          top: 28px;
          left: 108px;
          width: 80px;
          height: 16px;
        }
      }

      @media #{$screen-mobile} {
        #{$global-r} & {
          left: 60px;
        }
      }
    }

    .text {
      &::before {
        width: 91px;
        height: 21px;
        background: $itemBcg;
        border: none;
        border-radius: 0;
      }

      &::after {
        content: unset;
        display: none;
      }

      @media #{$screen-tablet} {
        #{$global-r} & {
          &::before {
            width: inherit;
            height: inherit;
          }
        }
      }
    }

    .itemContainer {
      &::before {
        border: 1px solid $itemBcg;
        background: transparent;

        @media #{$screen-tablet} {
          #{$global-r} & {
            &::before {
                box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}
