// empty
:global {
  .d {
    .content-wrapper {

      @media #{$screen-desktop} {
        min-width: 784px;
        width: auto;
      }
    }

    .content-wrapper.withoutSidebar {
      margin-left: 0;

      @media #{$screen-tablet} {
        width: 100%;
      }
      @media #{$screen-mobile} {
        margin-top: 10px;
      }
    }

    .content-wrapper.withSidebar {
      max-width: 784px;
    }
  }
}
