.memberWrap {
  #{$global-r} & {

    @media #{$screen-tablet} {
      margin-left: 0;
      max-width: 140px;
    }
    @media #{$screen-mobile} {
      max-width: 100px;
    }
  }
}

.memberImgWrap {
  object-fit: none;
}

.positionDropdown {
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  width: 100%;
  color: #444;
  color: var(--default-gray-4-color);

  :global {
    .toggler {
      position: relative;
      display: block;
      align-items: center;
      padding: 0 15px 0 0;
      height: 36px;
      border: none;
      box-shadow: none;
      background: none;
      line-height: 36px;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: auto;

      &::after {
        right: 0;
      }

      &:hover,
      &:active,
      &:focus {
        box-shadow: none !important;
      }
    }

    .dropdownList {
      position: absolute;
      top: calc(100% + 1px);
      max-height: 184px;
      border-color: #fff;
      border-color: var(--default-bg-panel-active-color);
      border-style: solid;
      border-width: 0 1px 1px 1px;
      box-shadow: 0 1px 2px #00000026;
      background-color: #fff;
      background-color: var(--default-bg-panel-active-color);

      .item {
        margin: 0;
        padding: 10px 15px 10px 11px;
        height: 37px;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover,
        &:focus {
          background-color: #f2f2f2;
          background-color: var(--default-bg-panel-color);
        }
      }
    }
  }
}

:global {
  .react-dropdown-default.dropdown-opened .toggler {
    box-shadow: none;

    &::after {
      right: 0;
    }
  }
}

.kickButton {
  padding: 0;
  border: none;
  box-shadow: none;
  background: none;
  cursor: pointer;

  &[disabled] {
    pointer-events: none;

    svg {
      transform: rotate(180deg);
    }
  }
}

.permissionsLevelLow {
  color: #698c00;
  color: var(--faction-members-permission-lvl-low-color);
}

.permissionsLevelMid {
  color: #b28500;
  color: var(--faction-members-permission-lvl-mid-color);
}

.permissionsLevelHigh {
  color: #d93600;
  color: var(--faction-members-permission-lvl-high-color);
}

.permissionsLevelDefault {
  color: #444;
  color: var(--faction-members-permission-lvl-default-color);
}

.cell {
  width: 100%;
  line-height: 36px;
}
