.circularSpinner {
  color: #999;
  display: flex;
  position: relative;
  width: 0;
  height: 0;
  transform: translate(-40px, -13px);
}

.circularSpinner div {
  transform-origin: 40px 13px;
  animation: circularSpinner 1.2s linear infinite;
}

.circularSpinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 39px;
  width: 1px;
  height: 5px;
  border-radius: 20%;
  background: #999;
}

.circularSpinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.circularSpinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.circularSpinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.circularSpinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.circularSpinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.circularSpinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.circularSpinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.circularSpinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.circularSpinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.circularSpinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.circularSpinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.circularSpinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes circularSpinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
