$links: 'attacking','trading','jail','hospital','finishing_hits','communication','criminal_offences','bounties',
  'investments','items','travel','drugs','missions','other', 'racing', 'networth', 'battlestats', 'jobs';

.statsSection {
  padding-bottom: 50px;
}

.stats {
  display: flex;
  border-radius: 5px;
  background-color: #f2f2f2;
  background-color: var(--default-bg-panel-color);
}

.quickLinks {
  display: flex;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.categoryLinks {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #cecece;
  border-bottom-color: var(--personal-stats-gray-2-border);

  .listItem {
    width: 100%;

    .link {
      position: relative;
      display: block;
      background: linear-gradient(to bottom, #fff 0%, #ddd 100%);
      background: var(--title-white-gradient);
      text-decoration: none;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 1px;
        height: 100%;
        background: linear-gradient(to bottom, rgba(207, 207, 207, 1), rgba(207, 207, 207, 0) 100%);
        background: var(--personal-stats-icon-dark-border);
      }

      &::after {
        left: 1px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 100%);
        background: var(--personal-stats-icon-light-border);
      }

      .icon {
        display: block;
        margin: 0 auto;
        width: 40px;
        height: 34px;
        background: url(/images/v2/personal_stats/category_icons.svg) 0 0 no-repeat;
        background-image: var(--personal-stats-category-icons-bg);

        @for $index from 1 through length($links) {
          &.#{nth($links, $index)} {
            background-position: #{45 * (1 - $index) - 2 }px -5px;
          }
        }
      }

      &:hover,
      &:focus {
        background: #fff;
        background: var(--personal-stats-selected-bg);

        .icon {
          background-position-y: -50px;
        }
      }
    }
  }
}

.categoriesTitles {
  .statCols {
    border-right: 1px solid #dcdcdc;
    border-right-color: var(--personal-stats-gray-1-border);
  }
}

.categoriesValues {
  width: 100%;

  .category {
    width: 100%;
  }
}

.stats * {
  box-sizing: border-box;
}

.titles {
  display: table;
  padding: 0;
  width: 100%;
  border-radius: 0;

  .titleItem {
    position: relative;
    display: table-cell;
    padding-left: 8px;
    min-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.statName {
      min-width: 165px;
      width: 165px;
    }

    &.history {
      color: #aaa;
      color: var(--personal-stats-a-color);
    }

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      right: 0;
      width: 1px;
      height: 28px;
      background: transparent;
      background: linear-gradient(180deg, hsla(0, 0%, 80%, 0) 0, #ccc 50%, hsla(0, 0%, 80%, 0));
      background: var(--personal-stats-titles-dark-border);
    }

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      right: -1px;
      width: 1px;
      height: 28px;
      background: transparent;
      background: linear-gradient(180deg, hsla(0, 0%, 80%, 0) 0, #fff 50%, hsla(0, 0%, 80%, 0));
      background: var(--personal-stats-titles-light-border);
    }

    &:last-child:not(.statName) {
      &::after,
      &::before {
        display: none;
      }
    }
  }
}

.categories {
  width: 100%;
}

.statCols {
  display: flex;
  flex-direction: row;
  color: #666;
  color: var(--default-gray-6-color);

  .statCol {
    min-width: 120px;
    width: 100%;
    border-right: 1px solid #dcdcdc;
    border-right-color: var(--personal-stats-gray-1-border);

    &:last-child {
      border-right: 0;

      .statValue {
        position: relative;
      }
    }

    &.statName {
      min-width: 156px;
      width: 156px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .statName,
    .statValue {
      padding: 6px 6px 6px 8px;
      border-bottom: 1px solid #dcdcdc;
      border-bottom-color: var(--personal-stats-gray-1-border);
      box-shadow: none;
      box-shadow: var(--personal-stats-border-shadow);
      text-overflow: ellipsis;
      white-space: nowrap;

      &.chartAvailable {
        cursor: pointer;
      }

      &.hover {
        background-color: #ffffffcf;
        background-color: var(--personal-stats-hover-bg);
      }

      &.selected {
        background-color: #fff;
        background-color: var(--personal-stats-selected-bg);
      }

      &:first-child {
        border-top: 1px solid #fff;
        border-top-color: var(--personal-stats-white-border);
      }
    }

    .statValue {
      &.best {
        color: #678c00;
        color: var(--default-green-color);
      }

      &.worse {
        color: #d83500;
        color: var(--default-red-color);
      }

      &.current:not(.selected):not(.hover) {
        background-color: #e4eaed;
        background-color: var(--personal-stats-current-section-bg);
      }

      &.history {
        color: #aaa;
        color: var(--personal-stats-a-color);
      }
    }
  }
}

.statRows {
  display: table;
  width: 100%;

  .statRow {
    display: table-row;
    width: 100%;
    color: #666;
    color: var(--default-gray-6-color);

    &:focus {
      background: #fff;
      background: var(--personal-stats-selected-bg);
    }

    &:first-child {
      .statValue,
      .statName {
        border-top: 1px solid #fff;
        border-top-color: var(--personal-stats-white-border);
      }
    }

    .statValue {
      min-width: 120px;
      border-right: 1px solid #dcdcdc;
      border-right-color: var(--personal-stats-gray-1-border);

      &:last-child {
        position: relative;
        border-right: 0;

        .chartIcon {
          position: absolute;
          right: 5px;
        }
      }

      &.best {
        color: #678c00;
        color: var(--default-green-color);
      }

      &.worse {
        color: #d83500;
        color: var(--default-red-color);
      }

      &.current:not(.selected):not(.hover) {
        background-color: #e4eaed;
        background-color: var(--personal-stats-current-section-bg);
      }

      &.history {
        color: #aaa;
        color: var(--personal-stats-a-color);
      }
    }

    .statName {
      padding: 6px 6px 6px 6px;
      min-width: 165px;
      max-width: 165px;
      width: 165px;
      border-right: 1px solid #dcdcdc;
      border-right-color: var(--personal-stats-gray-1-border);
    }

    .statName,
    .statValue {
      display: table-cell;
      padding: 6px 6px 6px 8px;
      border-bottom: 1px solid #dcdcdc;
      border-bottom-color: var(--personal-stats-gray-1-border);
      box-shadow: none;
      box-shadow: var(--personal-stats-border-shadow);
      text-overflow: ellipsis;
      white-space: nowrap;

      &.chartAvailable {
        cursor: pointer;
      }

      &.hover {
        background-color: rgba(255, 255, 207, 1);
        background-color: var(--personal-stats-hover-bg);
      }

      &.selected {
        background-color: rgba(255, 255, 255, 1);
        background-color: var(--personal-stats-selected-bg);
      }
    }
  }
}

.categoriesTitles {
  display: none;
}

:global(.r) {

  @media screen and (max-width: 1001px) {
    .quickLinks {
      flex-wrap: wrap;
    }

    .categoryLinks {
      .listItem {
        .link {
          &::before,
          &::after {
            display: none;
          }

          border-left: 1px solid #cbcbcb;
          border-left-color: var(--personal-stats-gray-border);
        }
      }
    }

    .categoriesValues {
      position: relative;
      width: 270px;

      &.withScroll::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        background:
          linear-gradient(to right, rgba(38, 171, 216, .15) 0%, rgba(38, 171, 216, 0) 9%),
          linear-gradient(to left, rgba(38, 171, 216, .15) 0%, rgba(38, 171, 216, 0) 9%);
        pointer-events: none;
      }

      .scrollArea {
        position: relative;
        width: 100%;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .titles {
      .titleItem {
        height: 34px;
        background: linear-gradient(to bottom, #fff 0%, #ddd 100%);
        background: var(--title-white-gradient);

        &.statName {
          min-width: 115px;
          width: 115px;
        }
      }
    }

    .statRows {
      .statRow {
        .statName {
          min-width: 116px;
          max-width: 116px;
          width: 116px;
        }
      }
    }

    .categoriesTitles {
      display: block;
      overflow: hidden;
    }

    .scrollArea {
      .statName {
        display: none;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .categoriesValues {
      width: 205px;
    }

    .categoryLinks {
      .listItem {
        .link {
          .icon {
            width: 34px;

            @for $index from 1 through length($links) {
              &.#{nth($links, $index)} {
                background-position: #{45 * (1 - $index) - 5}px -5px;
              }
            }
          }

          &:hover {
            .icon {
              background-position-y: -50px;
            }
          }
        }
      }
    }
  }
}
