:global(.react-dropdown-default) {
  &.advancedSearchDropdown {
    width: 216px;
    color: #ccc;

    &.searchConditionsDropdown {
      width: 170px;
    }

    :global {
      .dropdownList {
        top: 100%;
        left: 1px;
        width: calc(100% - 2px);
        border: none;
      }

      .scroll-area {
        overflow: auto;
        border-color: #444;
        box-shadow: 0 0 0 1px #444;
        background-color: #222;
        scrollbar-color: #666 #333;

        &::-webkit-scrollbar {
          width: 12px;
        }

        &::-webkit-scrollbar-thumb {
          border: 2px solid #333;
          border-radius: 8px;
          background-color: #666;
        }

        &::-webkit-scrollbar-track {
          background-color: #333;
        }

        &:hover {
          &::-webkit-scrollbar-thumb {
            background-color: #888;
          }
        }
      }

      .toggler {
        padding: 5px 20px 5px 10px;
        height: 34px;
        border: none;
        box-shadow: none;
        background: linear-gradient(180deg, #222 0%, #333 100%);

        &:focus {
          box-shadow: none;
        }

        &::after {
          right: 6px;
          border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #999;
          filter: none;
        }

        &:hover {
          box-shadow: none !important;

          &::after {
            border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff;
          }
        }
      }

      .dropdown-content {
        .item {
          margin: 0;
          padding: 5px 10px;
          height: 24px;
          overflow: hidden;
          border: none;
          text-overflow: ellipsis;
          white-space: nowrap;

          &:first-child {
            margin-top: 0;
          }

          &:hover,
          &:focus {
            background-color: rgba(0, 0, 0, .5);
          }
        }
      }
    }

    &:global(.dropdown-opened) {
      margin-top: -1px;

      :global(.toggler) {
        border: 1px solid #444;

        &::after {
          right: 6px;
          border-color: #999 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        }

        &:hover {
          &::after {
            border-color: #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
          }
        }
      }
    }
  }
}

:global(.d .find-extend .advanced-search) {
  :global(.input-wrapper) {
    &.inputWrapper {
      border-radius: 0;
      box-shadow: none;
      background: none;

      .autocompleteInput {
        box-shadow: 0 1px 0 #ffffff1a;
        background: transparent linear-gradient(180deg, #222 0%, #333 100%);
      }

      .open {
        margin-top: -1px;
        border: 1px solid #444;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }

  :global(.factionField) {
    :global(label.label) {
      width: 50px;
    }

    .selectedFactionWrapper {
      width: 240px;

      .closeBtn {
        cursor: pointer;
        padding: 0;
        border: none;
        float: left;
        margin-top: 10px;
        margin-left: 4px;

        .closeIcon {
          stroke: none;
          fill: url(#top_header_svg_gradient__regular);
          filter: url(#top_header_svg_filter__regular);
          width: 12px;
          height: 12px;
        }

        &:hover {
          .closeIcon {
            fill: url(#top_header_svg_gradient__regular___hover);
            filter: url(#top_header_svg_filter__regular___hover);
          }
        }
      }

      .selectedFaction {
        background: transparent linear-gradient(180deg, #222 0%, #333 100%) 0 0;
        box-shadow: 0 1px 0 #ffffff1a;
        padding: 0 10px;
        height: 34px;
        line-height: 34px;
        border-radius: 5px;
        margin-bottom: 5px;
        width: 196px;
        float: right;

        .name,
        .respect {
          line-height: 11px;
        }

        .name {
          font-size: 12px;
          margin-top: 7px;
        }

        .respect {
          font-size: 9px;
        }
      }

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }

    .outerInputWrapper {
      width: 240px;

      .inputWrapper {
        height: auto;
        box-sizing: border-box;
      }
    }
  }
}

.resetBtn {
  margin-right: 10px;
  padding: 0;
  color: #ccc;
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}

:global(.d[data-abroad="true"]) {
  .resetBtn {
    color: #d7dfe7;

    &:hover {
      color: #fff;
    }
  }

  :global(.find-extend .form-search-extend) {
    color: #d7dfe7;
  }

  :global(.find-extend .advanced-search) {
    :global(.input-wrapper) {
      &.inputWrapper {
        .autocompleteInput {
          background: linear-gradient(180deg, #26333f 0%, #42596f 100%);
        }

        .open {
          border-color: #5f7f9f;
        }
      }

      input {
        color: #d7dfe7;
      }
    }

    :global(.factionField) {
      .selectedFactionWrapper {
        .selectedFaction {
          background: linear-gradient(180deg, #26333f 0%, #42596f 100%);
        }

        .closeBtn {
          .closeIcon {
            fill: url(#top_header_svg_gradient__abroad);
          }

          &:hover {
            .closeIcon {
              fill: url(#top_header_svg_gradient__abroad___hover);
            }
          }
        }
      }
    }
  }

  .advancedSearchDropdown {
    color: #d7dfe7;

    &:global(.dropdown-opened .toggler) {
      &::after {
        border-left-color: transparent;
        border-top-color: #8fa6bc;
      }

      &:hover {
        &::after {
          border-left-color: transparent;
          border-top-color: #d7dfe7;
        }
      }
    }

    :global {
      .toggler {
        background: linear-gradient(180deg, #26333f 0%, #42596f 100%);
        border-color: #5f7f9f;

        &::after {
          border-left-color: #8fa6bc;
        }

        &:hover {
          &::after {
            border-left-color: #d7dfe7;
          }
        }
      }

      .scroll-area {
        border-color: #5f7f9f;
        box-shadow: 0 0 0 1px #5f7f9f;
        background-color: #42596f;
        scrollbar-color: #7792ad #283543;

        &::-webkit-scrollbar-thumb {
          border-color: #283543;
          background-color: #7792ad;
        }

        &::-webkit-scrollbar-track {
          background-color: #283543;
        }

        &:hover {
          &::-webkit-scrollbar-thumb {
            background-color: #a7b9ca;
          }
        }
      }

      .dropdown-content {
        .item {
          &:hover,
          &:focus {
            background-color: rgba(0, 0, 0, .4);
          }
        }
      }
    }
  }
}

:global(.d[data-layout="jail"]) {
  .resetBtn {
    color: #dfdfd0;

    &:hover {
      color: #fff;
    }
  }

  :global(.find-extend .form-search-extend) {
    color: #dfdfd0;
  }

  :global(.find-extend .advanced-search) {
    :global(.input-wrapper) {
      &.inputWrapper {
        .autocompleteInput {
          background: linear-gradient(180deg, #353526 0%, #464637 100%);
        }

        .open {
          border-color: #686859;
        }
      }

      input {
        color: #dfdfd0;
      }
    }

    :global(.factionField) {
      .selectedFactionWrapper {
        .selectedFaction {
          background: linear-gradient(180deg, #353526 0%, #464637 100%);
        }

        .closeBtn {
          .closeIcon {
            fill: url(#top_header_svg_gradient__jail);
            filter: url(#top_header_svg_filter__jail);
          }

          &:hover {
            .closeIcon {
              fill: url(#top_header_svg_gradient__jail___hover);
              filter: url(#top_header_svg_filter__jail___hover);
            }
          }
        }
      }
    }
  }

  .advancedSearchDropdown {
    color: #dfdfd0;

    &:global(.dropdown-opened .toggler) {
      &::after {
        border-left-color: transparent;
        border-top-color: #bdbdae;
      }

      &:hover {
        &::after {
          border-left-color: transparent;
          border-top-color: #fff;
        }
      }
    }

    :global {
      .toggler {
        background: linear-gradient(180deg, #353526 0%, #464637 100%);
        border-color: #686859;

        &::after {
          border-left-color: #bdbdae;
        }

        &:hover {
          &::after {
            border-left-color: #fff;
          }
        }
      }

      .scroll-area {
        border-color: #686859;
        box-shadow: 0 0 0 1px #686859;
        background-color: #575748;
        scrollbar-color: #646357 #393831;

        &::-webkit-scrollbar-thumb {
          border-color: #393831;
          background-color: #646357;
        }

        &::-webkit-scrollbar-track {
          background-color: #393831;
        }

        &:hover {
          &::-webkit-scrollbar-thumb {
            background-color: #7b7a6e;
          }
        }
      }

      .dropdown-content {
        .item {
          &:hover,
          &:focus {
            background-color: rgba(0, 0, 0, .4);
          }
        }
      }
    }
  }
}

:global(.d[data-layout="hospital"]) {
  .resetBtn {
    color: #ddd;

    &:hover {
      color: #fff;
    }
  }

  :global(.find-extend .form-search-extend) {
    color: #ddd;
  }

  :global(.find-extend .advanced-search) {
    :global(.input-wrapper) {
      &.inputWrapper {
        .autocompleteInput {
          background: linear-gradient(180deg, #333 0%, #555 100%);
        }

        .open {
          border-color: #777;
        }
      }

      input {
        color: #ddd;
      }
    }

    :global(.factionField) {
      .selectedFactionWrapper {
        .selectedFaction {
          background: linear-gradient(180deg, #333 0%, #555 100%);
        }

        .closeBtn {
          .closeIcon {
            fill: url(#top_header_svg_gradient__hospital);
            filter: url(#top_header_svg_filter__hospital);
          }

          &:hover {
            .closeIcon {
              fill: url(#top_header_svg_gradient__hospital___hover);
              filter: url(#top_header_svg_filter__hospital___hover);
            }
          }
        }
      }
    }
  }

  .advancedSearchDropdown {
    color: #ccc;

    &:global(.dropdown-opened .toggler) {
      &::after {
        border-left-color: transparent;
        border-top-color: #999;
      }

      &:hover {
        &::after {
          border-left-color: transparent;
          border-top-color: #fff;
        }
      }
    }

    :global {
      .toggler {
        background: linear-gradient(180deg, #333 0%, #555 100%);
        border-color: #777;

        &::after {
          border-left-color: #999;
        }

        &:hover {
          &::after {
            border-left-color: #fff;
          }
        }
      }

      .scroll-area {
        border-color: #777;
        box-shadow: 0 0 0 1px #777;
        background-color: #555;

        &::-webkit-scrollbar-thumb {
          border-color: #333;
          background-color: #666;
        }

        &::-webkit-scrollbar-track {
          background-color: #333;
        }

        &:hover {
          &::-webkit-scrollbar-thumb {
            background-color: #888;
          }
        }
      }

      .dropdown-content {
        .item {
          &:hover,
          &:focus {
            background-color: rgba(0, 0, 0, .4);
          }
        }
      }
    }
  }
}

@media #{$screen-tablet} {
  :global(.r .react-dropdown-default) {
    &.advancedSearchDropdown {
      :global {
        .dropdown-content {
          .item {
            margin-bottom: 0;
            height: 24px;
          }
        }
      }
    }
  }

  :global(.d .find-extend .advanced-search) {
    :global(.factionField) {
      height: auto;
    }
  }
}
