.sectionFont {
  font-family: Fjalla one, sans-serif;
  font-size: 12px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 33px;
  border-top: 1px solid #d4dfe4;
  border-top-color: var(--ct-skeleton-border-color);
  border-right: 1px solid #d4dfe4;
  border-right-color: var(--ct-skeleton-border-color);
  background: inherit;
  composes: sectionFont;

  &:last-of-type,
  &:last-child {
    border-right: none;
  }
}

.name {
  justify-content: flex-start;
  padding-left: 12px;
  width: 207px;
  text-align: start;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 216px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 162px;
    }
  }
}

.nameInvites {
  justify-content: flex-start;
  padding-left: 12px;
  width: 207px;
  text-align: start;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 194px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 140px;
    }
  }
}

.lastedit {
  width: 60px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}

.editors {
  width: 54px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}

.testers {
  width: 54px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}

.players {
  width: 54px;
}

.playersInvites {
  width: 54px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 76px;
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 76px;
    }
  }
}

.release {
  width: 119px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}

.rating {
  width: 115px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}

.manage {
  width: 102px;

  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 90px;
    }
  }
}

.leave {
  width: 68px;

  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 90px;
    }
  }
}

:global(.d .content-wrapper.travelling) {
  .name,
  .nameInvites {
    width: 399px;
  }
}

:global(.r .content-wrapper.travelling) {

  @media #{$screen-tablet} {
    .name {
      width: 408px;
    }

    .nameInvites {
      width: 386px;
    }
  }
  @media #{$screen-mobile} {
    .name {
      width: 162px;
    }

    .nameInvites {
      width: 140px;
    }
  }
}
