.wrapper {
  padding: 0 0 10px 0;
}

.hr {
  position: relative;
  top: 0;
  z-index: 22222;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1px;
  border: none;
  background: #d4dfe4;
  background: var(--ct-skeleton-border-color);
}

.mainInput {
  z-index: 1;
  border: 1px solid #c0d1d8;
  border-color: var(--ct-my-maps-input-border-color);
  border-radius: 5px;
  background: #fff;
  background: var(--ct-my-maps-input-bg);
  color: #888;
  color: var(--ct-my-maps-input-font-color);
  transition: border-color .3s linear;
}

.inputSpace,
.inputEmpty,
.inputMaxLengthExceeded {
  border-color: #ea8966;
}

.spinnerAnimation {
  animation-name: spinnerLoop;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loadingSpinner {
  display: block;
  width: 70%;
  height: 70%;
  border: 2px dotted #668fa3;
  border-radius: 100%;
  composes: spinnerAnimation;
}

@keyframes spinnerLoop {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

:global {
  .content-wrapper {

    @media #{$screen-mobile} {
      #{$global-r} & {
        margin-top: 120px;
      }
    }
  }
}
