.torn-react-autocomplete {
  position: relative;
  color: #666;

  .hide {
    display: none;
  }

  .toggler {
    display: block;
    padding: 10px 0 10px 10px;
    height: 34px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px #999;
    background: #ddd;
    background: -webkit-linear-gradient(top, #e4e4e4 0, #f2f2f2 100%);
    background: linear-gradient(to bottom, #e4e4e4 0, #f2f2f2 100%);
    line-height: 14px;
    cursor: pointer;
  }

  .dropdown-opened .toggler {
    border-radius: 5px 5px 0 0;
  }

  .dropdown-content {
    .item {
      display: block;
      padding: 4px 10px;
      font-size: 12px;
      line-height: 18px;
      cursor: pointer;

      &:hover,
      &.selected {
        background-color: rgba(0, 0, 0, .5);
      }

      &.player {
        .name {
          box-sizing: border-box;
          display: inline-block;
          padding-left: 10px;
          width: calc(100% - 7px);
        }

        .statusIconWrapper {
          display: inline-block;
          vertical-align: top;
        }
      }

      &.faction {
        padding: 5px 10px;
        line-height: 12px;

        .name {
          display: block;
          font-size: 12px;
        }

        .respect {
          font-size: 10px;
          line-height: 8px;
        }
      }

      &.company {
        .stars {
          display: block;
          line-height: 0;

          .companyStarSVG {
            margin-top: -3px;
            margin-bottom: -2px;
            margin-left: -4px;
          }
        }
      }
    }
  }

  .scroll-area {
    position: absolute;
    top: 100%;
    left: 1px;
    z-index: 105;
    max-height: 200px;
    width: calc(100% - 2px);
    border-top: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 0 1px #444, 0 1px 2px #00000073;
    background-color: #222;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #666 #333;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      border: 2px solid #333;
      border-radius: 8px;
      background-color: #666;
    }

    &::-webkit-scrollbar-track {
      border-radius: 0 0 5px 0;
      background-color: #333;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: #888;
      }
    }
  }

  .scroll-area-content {
    padding-bottom: 2px;
    height: auto;
  }

  .scrollarea .scrollbar-container.vertical,
  .scrollarea:hover .scrollbar-container {
    width: 12px;
    background-color: rgb(204, 204, 204);
    opacity: 1;
  }

  .scrollarea .scrollbar-container.vertical .scrollbar,
  .scrollarea:hover .scrollbar-container.vertical .scrollbar {
    margin-left: 1px;
    width: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-bottom-width: 2px;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
  }

  .dropdown-caret {
    position: absolute;
    right: 12px;
    display: inline-block;
    width: 9px;
    height: 14px;
    background: url(/images/v2/mobile/mobile_sections_arrow_side.png) left center no-repeat;
    opacity: .5;
  }

  &:hover .dropdown-caret {
    opacity: .7;
  }

  .dropdown-opened .dropdown-caret {
    right: 10px;
    width: 14px;
    height: 13px;
    background: url(/images/v2/mobile/mobile_sections_arrow_down.png) left center no-repeat;
    opacity: .7;
  }

  .autocomplete-wrapper.active {
    .input-text {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    input[type='text'],
    input[type='text'].searchInput {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

:global(.r .header) {
  .torn-react-autocomplete {
    .autocomplete-wrapper.active {
      input[type='text'].searchInput {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.autocomplete-no-items {
  margin: 1px;
  padding: 5px 10px;
  border-radius: 0 0 5px 5px;
  background-color: #222;
  color: #ccc;
}

:global(.d .find .search) {
  .searchInput {
    box-sizing: border-box;
    display: inline;
    margin: 0;
    padding: 0 25px 0 10px;
    width: 100%;
    height: 24px;
    border-radius: 5px;
    box-shadow: 0 1px 0 #ffffff1a;
    background: linear-gradient(0deg, #111 0%, #000 100%);
    outline: none;
    color: #9f9f9f;
    font-weight: normal;

    &::placeholder {
      color: #9f9f9f;
    }
  }
}

:global(.d[data-abroad="true"]) {
  :global(.find .search) {
    .searchInput {
      background: linear-gradient(0deg, #000 0%, #111 100%);
      color: #8fa6bc;

      &::placeholder {
        color: #8fa6bc;
      }
    }
  }

  .torn-react-autocomplete {
    .scroll-area {
      box-shadow: 0 0 0 1px #5f7f9f, 0 1px 2px #00000073;
      background-color: #42596f;
      scrollbar-color: #7792ad #283543;

      &::-webkit-scrollbar-thumb {
        border-color: #283543;
        background-color: #7792ad;
      }

      &::-webkit-scrollbar-track {
        background-color: #283543;
      }

      &:hover {
        &::-webkit-scrollbar-thumb {
          background-color: #a7b9ca;
        }
      }
    }

    .dropdown-content {
      .item {
        color: #d7dfe7;

        &.selected,
        &:hover {
          background: rgba(0, 0, 0, .4);
        }
      }
    }
  }
}

:global(.d[data-layout="jail"]) {
  :global(.find .search) {
    .searchInput {
      background: linear-gradient(0deg, #464637 0%, #353526 100%);
      color: #dfdfd0;

      &::placeholder {
        color: #dfdfd0;
      }
    }
  }

  .torn-react-autocomplete {
    .scroll-area {
      box-shadow: 0 0 0 1px #686859, 0 1px 2px #00000073;
      background-color: #575748;
      scrollbar-color: #646357 #393831;

      &::-webkit-scrollbar-thumb {
        border: 2px solid #393831;
        background-color: #646357;
      }

      &::-webkit-scrollbar-track {
        background-color: #393831;
      }

      &:hover {
        &::-webkit-scrollbar-thumb {
          background-color: #7b7a6e;
        }
      }
    }

    .dropdown-content {
      .item {
        &.selected,
        &:hover {
          background: rgba(0, 0, 0, .4);
        }
      }
    }
  }
}

:global(.d[data-layout="hospital"]) {
  :global(.find .search) {
    .searchInput {
      background: linear-gradient(0deg, #333 0%, #444 100%);
      color: #ddd;

      &::placeholder {
        color: #ddd;
      }
    }
  }

  .torn-react-autocomplete {
    .scroll-area {
      box-shadow: 0 0 0 1px #777, 0 1px 2px #00000073;
      background-color: #555;

      &::-webkit-scrollbar-thumb {
        border-color: #333;
        background-color: #666;
      }

      &::-webkit-scrollbar-track {
        background-color: #333;
      }

      &:hover {
        &::-webkit-scrollbar-thumb {
          background-color: #888;
        }
      }
    }

    .dropdown-content {
      .item {
        color: #ddd;

        &.selected,
        &:hover {
          background: rgba(0, 0, 0, .4);
        }
      }
    }
  }
}

@media #{$screen-tablet} {
  .torn-react-autocomplete {
    .scroll-area {
      top: 35px;
    }
  }

  :global(.r .header .find .ac-main.search) {
    input.searchInput {
      width: 100%;
      background: linear-gradient(180deg, #222 0%, #333 100%);
    }
  }

  :global(.r[data-abroad="true"] .header .find .ac-main.search) {
    input.searchInput {
      background: linear-gradient(180deg, #26333f 0%, #42596f 100%);
      color: #d7dfe7;

      &::placeholder {
        color: #d7dfe7;
      }
    }
  }

  :global(.r[data-layout="jail"] .header .find .ac-main.search) {
    input.searchInput {
      background: linear-gradient(180deg, #353526 0%, #464637 100%);
    }
  }

  :global(.r[data-layout="hospital"] .header .find .ac-main.search) {
    input.searchInput {
      background: linear-gradient(180deg, #333 0%, #555 100%);
    }
  }
}
