.wrap {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.board {
  overflow: hidden;
  height: 466px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url(/images/v2/christmas_town/minigames/combination_chest/background_desktop.png);

  &.mobile-mode.tablet {
    background-color: #f3fafc;
    background-image: url(/images/v2/christmas_town/minigames/combination_chest/background_tablet.png);
  }

  &.mobile-mode.mobile {
    background-color: #f3fafc;
    background-image: url(/images/v2/christmas_town/minigames/combination_chest/background_mobile.png);
  }
}

.chest {
  background-image: url(/images/v2/christmas_town/minigames/combination_chest/chest.png);
  background-repeat: no-repeat;
  background-position: center -8px;
  width: 300px;
  height: 240px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 42px;

  &.opened {
    background-position: center -278px;
  }

  &.mobile-mode.tablet,
  &.mobile-mode.mobile {
    top: 14px;
  }
}

.combination {
  position: absolute;
  top: 162px;
  left: 50%;
  transform: translateX(-50%);
  width: 104px;
  height: 33px;
  overflow: hidden;
}

.number-block {
  display: inline-block;
  width: 34px;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &.correct, &.exist, &.wrong {
      background-image: url(/images/v2/christmas_town/minigames/combination_chest/numbers_highlight.png);
      background-repeat: no-repeat;
    }

    &.correct {
      background-position-x: 0;
    }

    &.exist {
      background-position-x: -37px;
    }

    &.wrong {
      background-position-x: -74px;
    }
  }
}

.swiper {
  width: 100%;
  height: 33px!important;
  touch-action: manipulation;
}

.slide {
  position: relative;
  cursor: pointer;
}

.number {
  font-family: Times New Roman, Times, serif;
  font-size: 26px;
  line-height: 120%;
  color: #262624;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  font-weight: bold;
  width: 100%;
  height: 100%;
  text-align: center;
}

.game-actions {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-family: Fjalla One, Times, serif;
  font-size: 14px;
  line-height: 120%;
  color: #8cabb8;

  .message {
    margin-top: 4px;
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 120%;

    &.opened {
      color: #72bfac;
    }
  }

  .buttons {
    margin-bottom: 20px;
  }

  button {
    margin: 0 6px;
    height: 28px !important;
    padding: 4px 10px !important;
    line-height: 20px !important;
  }
}

.prizes {
  font-size: 20px;
  line-height: 30px;
  color: #668fa3;
  text-align: center;
  margin-top: 5px;
  width: 100px;
  height: 50px;

  .prize {
    display: inline-block;
    border-radius: 5px;
    background: #f1f4f6;
    box-shadow: inset 0 2px 5px rgba(0, 76, 102, .35);
    background: linear-gradient(0deg, #f1f4f6 0, #e8eef1);
    border-bottom: 1px solid #fff;
    margin: 0 2px;

    @media screen and (min-width: 600px) {
      margin: 0 10px;
    }

    img {
      max-width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
}
