.searchBar {
  box-sizing: border-box;
  display: flex;
  width: 784px;
  height: 34px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(#fff, 0.65);
  border-top-color: var(--tabs-border-top-color);
  border-bottom-color: var(--tabs-border-bottom-color);
  box-shadow: 0 0 1px 1px rgba(#000, 0.15);

  & > :first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  & > :last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  #{$global-r} &.tablet {
    width: 386px;
    height: 55px;
    box-shadow: 0 1px 1px 0 rgba(#fff, 0.25);
  }

  #{$global-r} &.mobile {
    width: 320px;
    height: 55px;
    border-right: none;
    border-left: none;
    border-radius: 0;
    box-shadow: 0 1px 1px 0 rgba(#fff, 0.25);
  }

  #{$global-r} &.mobile > :first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  #{$global-r} &.mobile > :last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.dropdown {
  width: 178px;

  #{$global-r} &.mobile {
    width: 144px;
  }
}

.attachedTop {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-color: transparent;
  box-shadow: none;

  & > :first-child {
    border-bottom-left-radius: 0;
  }

  & > :last-child {
    border-bottom-right-radius: 0;
  }
}
