.rankReportWrap {
  .titleFontSize {
    font-size: 24px;
  }

  .chartWrapper {
    margin: 0 10px;
  }

  .memberBonusRow {
    a {
      font-weight: normal;
    }
  }
}

:global(.d .chain .members-bonus-row) {
  &.bonusRow {
    height: auto;
    line-height: 18px;
    padding: 10px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
}

:global(.d .chain .report-title) {
  border-color: var(--default-panel-divider-outer-side-color);
  line-height: 24px;
}

:global(.d .chain .report-title-info) {
  font-size: 24px;

  &:global(.date) {
    font-size: 12px;
  }
}

:global(.d .f-war-list.war-new .faction-war) {
  border-top: 0;
}

:global(.d.dark-mode) {
  :global(.raid a.t-blue) {
    color: var(--default-blue-color);
  }

  :global(.chain .report-title-info) {
    color: #fff;
  }

  :global(.chain .report-title-info.date) {
    color: #ccc;
  }
}
