.description {
  padding: 18px 10px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.divider {
  display: block;
  margin-bottom: 10px;
  border-top: 1px solid #ccc;
  border-top-color: var(--default-panel-divider-outer-side-color);
  border-bottom: 1px solid #fff;
  border-bottom-color: var(--default-panel-divider-inner-side-color);
}

.form {
  width: 100%;
  font-family: Arial, sans-serif;

  * {
    box-sizing: border-box;
  }

  &:global(.title-black) {
    font-family: Arial, sans-serif;
  }

  input,
  textarea,
  &:global(#main-input) {
    font-size: 12px;
  }

  .content {
    background: #f2f2f2;
    background: var(--default-bg-panel-color);
  }

  .group {
    position: relative;
    padding: 10px;
  }

  .label {
    font-size: 12px;
    font-weight: 700;
  }

  .articleLabel {
    display: block;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-top-color: var(--default-panel-divider-outer-side-color);
    border-bottom: 1px solid #ccc;
    border-bottom-color: var(--default-panel-divider-outer-side-color);
  }

  .input {
    margin-top: 5px;
    padding: 0 10px;
    width: 100%;
    height: 25px;
    border: 1px solid #ccc;
    border-color: var(--input-border-color);
    border-radius: 5px;
    font-size: 12px;
    color: #000;
    color: var(--input-color);
    background: #fff;
    background: var(--input-background-color);
  }

  .charsLeft {
    float: right;
    color: #999;
    color: var(--default-gray-9-color);
    font-size: 12px;
  }

  .notification {
    margin-top: -22px;
    margin-right: 10px;
    float: right;
    color: #678c00;
    color: var(--default-green-color);
  }

  .groupUploadImage {
    margin-bottom: 15px;
    height: 30px;

    .leftGroupUploadImage {
      float: left;
      padding-top: 1px;

      &.cursorPointer {
        cursor: pointer;
      }

      .fileSize {
        color: #999;
        color: var(--default-gray-9-color);
        font-size: 12px;
      }
    }

    .rightGroupUploadImage {
      float: right;
      margin-top: -2px;

      .uploadBtn {
        padding: 4px 8px;
        border: 0;
        border-radius: 5px;
        background: rgb(215, 215, 215);
        background: linear-gradient(to bottom, rgba(215, 215, 215, 1) 0%, rgba(189, 189, 189, 1) 17%, rgba(152, 152, 152, 1) 61%, rgba(126, 126, 126, 1) 83%, rgba(124, 124, 124, 1) 87%, rgba(127, 127, 127, 1) 91%, rgba(134, 134, 134, 1) 96%, rgba(138, 138, 138, 1) 100%);
        color: #333;
        font-size: 14px;
        font-weight: 700;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          background: rgb(255, 255, 255);
          background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(203, 203, 203, 1) 61%, rgba(176, 176, 176, 1) 83%, rgba(172, 172, 172, 1) 91%, rgba(176, 176, 176, 1) 96%, rgba(177, 177, 177, 1) 100%);
        }

        .uploadInput {
          position: absolute;
          top: 1px;
          right: 0;
          min-height: 100%;
          width: 90px;
          opacity: 0;
          cursor: inherit;
        }
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .form {
      margin-right: 0;

      .groupUploadImage {
        .leftGroupUploadImage {
          padding-top: 3px;
        }

        .rightGroupUploadImage {
          margin-top: 0;

          .uploadBtn {
            padding: 9px 10px;

            .uploadInput {
              height: 34px;
            }
          }
        }
      }
    }
  }
}
