.tooltip {
  position: absolute;
  top: 100%;
  left: 10px;
  z-index: 99999;
  box-sizing: border-box;
  padding: 10px;
  height: auto;
  border: 1px solid #fff;
  border-color: var(--tooltip-border-color);
  border-radius: 5px;
  box-shadow: 0 0 5px #999;
  box-shadow: var(--reporting-panel-tooltip-box-shadow);
  background: #f2f2f2;
  background: var(--tooltip-bg-color);
  line-height: 16px;
  word-wrap: break-word;

  &::before {
    content: '';
    position: absolute;
    top: -12px;
    bottom: -12px;
    left: 13px;
    display: block;
    width: 0;
    height: 0;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
    border-bottom: 12px solid #f2f2f2;
    border-bottom-color: var(--tooltip-bg-color);
    filter: drop-shadow(0px -1px 1px #fff) drop-shadow(0px -1px 0px #999);
    filter: var(--reporting-panel-tooltip-arrow-filter);
  }

  &.title {
    width: 170px;
    color: #525252;
    color: var(--reporting-panel-default-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 19px;
    padding: 10px 9px;
    text-transform: uppercase;
  }

  &.error {
    color: #d83300;
  }

  &.subtitle {
    width: 262px;
    color: #525252;
    color: var(--reporting-panel-default-color);
    font-family: 'Times New Roman', sans-serif;
    font-size: 16px;
    line-height: 20px;

    .title {
      max-height: 76px;
      color: #525252;
      color: var(--reporting-panel-default-color);
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 23px;
      font-weight: 700;
      line-height: 27px;
      text-transform: uppercase;
    }
  }

  &.leadImage {
    width: 285px;
    line-height: 20px;

    .title {
      color: #525252;
      color: var(--reporting-panel-default-color);
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 23px;
      font-weight: 700;
      line-height: 27px;
      text-transform: uppercase;
    }

    .subtitle {
      color: #525252;
      color: var(--reporting-panel-default-color);
      font-family: 'Times New Roman', sans-serif;
      font-size: 16px;
      line-height: 22px;
    }
  }
}
