.labelTitle {
  display: block;
  font-weight: bold;
  white-space: nowrap;

  @media screen and (max-width: 1000px) {
    #{$global-r} & {
      display: block;
    }
  }
}

.labelContainer {
  .labelIconContainer {
    justify-content: left;

    @media screen and (max-width: 1000px) {
      #{$global-r} & {
        margin: 0;
        margin-left: 5px;
      }
    }
  }

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  color: #777;
  color: var(--appheader-links-color);
  text-shadow: 0 1px 0 #ffffffa6;
  text-shadow: var(--appheader-links-text-shadow-color);
  text-decoration: none;
  user-select: none;

  &:not(:first-child) {
    margin-left: 30px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-right: 6px;
      margin-left: 0;
    }
  }
}
