.item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  padding: 0;
  width: 65px;
  height: 100%;
  border: 0;
  cursor: pointer;

  &:not(:last-child) {
    border-right: 1px solid var(--loadouts-separator-border-color);
  }

  &:hover {
    background-color: var(--loadouts-window-color);
  }
}

.equiped {
  background-color: var(--loaduots-equiped-background-color);
}

.equipedOnOther {
  background-color: var(--loaduots-busy-background-color);
}

.disabled {
  cursor: default;

  .image {
    opacity: .3;
  }
}
