.giftShop {
  background-image: radial-gradient(rgb(255, 255, 255) 0%, rgb(241, 251, 255) 100%);
  height: 100%;

  .btnWrapper {
    text-align: center;
    padding-top: 25px;
  }

  .title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(114, 191, 172);
    text-align: center;
    padding: 35px 50px;
    margin: 0;
  }

  .itemsList {
    max-width: 376px;
    margin: 0 auto;

    .item {
      display: inline-block;
      font-size: 12px;
      baseline-shift: 3px;
      color: rgb(133, 167, 183);
      margin-bottom: 18px;
      width: 164px;
      vertical-align: top;

      .ornaments {
        .imageWrap {
          width: 64px;
          height: 64px;
          box-shadow: inset 0 0 4px #004c6680;
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
      }

      .itemModifier {
        color: #72bfac;
        text-shadow: 0 0 5px #fff;
        line-height: 14px;
      }

      .itemPrice.owned {
        color: rgb(0, 178, 133);
      }

      &:nth-child(2n+1) {
        margin-right: 46px;
      }

      .imageWrap {
        border-radius: 5px;
        background: #f1f4f6;
        box-shadow: inset 0 2px 5px rgba(0, 76, 102, .35);
        display: inline-block;
        vertical-align: top;
        background: -moz-linear-gradient(bottom, rgba(241, 244, 246, 1) 0%, rgba(232, 238, 241, 1) 100%);
        background: -webkit-linear-gradient(bottom, rgba(241, 244, 246, 1) 0%, rgba(232, 238, 241, 1) 100%);
        background: linear-gradient(to top, rgba(241, 244, 246, 1) 0%, rgba(232, 238, 241, 1) 100%);
        border-bottom: 1px solid #fff;
        margin-right: 10px;
        height: 50px;
        width: 100px;
      }

      .info {
        display: inline-block;
        vertical-align: top;

        .buy {
          height: 26px;
          margin-top: 3px;
        }
      }

      .dialog {
        margin-top: -5px;
        margin-bottom: -10px;

        .question {
          line-height: 14px;
          text-align: center;
        }

        .confirmActions {
          text-align: center;

          .yes,
          .no,
          .okay {
            font-size: 12px;
            cursor: pointer;
          }

          .yes {
            color: #00b285;
            margin-right: 20px;
          }

          .no {
            color: #ff5b26;
          }

          .okay {
            color: #00b285;
          }
        }

        &.informDialog {
          margin-top: 9px;
          padding-right: 7px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .giftShop {
    .btnWrapper {
      padding: 13px 0 46px;
    }

    .title {
      padding: 28px 56px;
    }

    .itemsList {
      max-width: 250px;

      .item {
        max-width: 100px;
        margin-bottom: 30px;

        .info {
          width: 100%;

          .buy {
            margin-top: 7px;
          }

          .itemPrice {
            float: right;
            margin-top: 10px;
          }

          .itemModifier {
            margin-top: 10px;
          }
        }

        .dialog {
          margin-top: 0;
          margin-left: -10px;
          margin-right: -10px;

          .question {
            line-height: 16px;
            margin-bottom: 12px;
          }

          &.informDialog {
            margin-top: 18px;
            padding-right: 0;

            .question {
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .giftShop {
    .btnWrapper {
      padding: 0 0 29px;
    }

    .title {
      padding: 19px 56px;
    }

    .itemsList {
      .item {
        margin-bottom: 28px;
      }
    }
  }
}
