.fonts {
  font-family: Fjalla One, sans-serif;
}

.appWrapper {
  width: 100%;
  height: auto;
  composes: fonts;
}

.body {
  position: relative;
  box-sizing: border-box;
  max-height: 600px;
  height: auto;
  box-shadow: 0 0 3px  #0000006b;
  background: #f9f9f2;
}
