$border-color: #eee;

.newAreaLink {
  line-height: 34px;
  cursor: pointer;
}

:global(.d) {
   div .filerAreas {
     font-family: 'Fjalla One';
     width: 303px;
     color: #999;
     color: var(--ct-editor-input-font-color);
     border-radius: 5px;
   }

  .plusIcon {
    font-size: 23px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px 0 20px;
    color: #0a9dcd;
    color: var(--ct-secondary-button-color);
  }

  .areasList {
    .listItem {
      align-items: center;
      border-top: 1px solid $border-color;
      border-top-color: var(--ct-editor-library-content-divider);
      display: flex;

      &.selected,
      &:hover {
        background-color: #f5f5f5;
      }

      &:last-child {
        border-bottom: 1px solid $border-color;
        border-bottom-color: var(--ct-editor-library-content-divider);
      }

      .col {
        border-left: 1px solid $border-color;
        border-left-color: var(--ct-editor-library-content-divider);
        line-height: 34px;
        color: #858585;
        color: var(--ct-editor-default-library-font-color);
        padding: 0 10px;
        float: left;
        cursor: pointer;

        &:first-child {
          border-left: none;
        }

        &.quantity {
          width: 21px;
          text-align: right;
        }

        &.name {
          width: 205px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .icon {
        margin-right: 10px;
        display: none;

        &:first-of-type {
          margin-left: auto;
        }
      }

      &:hover {
        .icon {
          display: inline-block;
        }
      }
    }
  }

  .areaForm {
    padding: 10px;
    position: relative;

    .areaNameInput {
      border: 1px solid #ccc;
      border-color: var(--ct-default-input-border-color);
      padding: 0 10px;
      height: 32px;
      line-height: 32px;
      font-family: Fjalla One;
      font-size: 12px;
      color: #999;
      color: var(--ct-editor-input-font-color);
      border-radius: 5px;
      width: 303px;
      background: var(--ct-editor-input-bg);

      &.error {
        border: 1px solid #eb8766 !important
      }
    }

    .errorTooltip {
      position: absolute;
      top: -50%;
      left: 40px;
      z-index: 100;
      padding: 13px 12px;
      border-radius: 3px;
      box-shadow: rgba(0, 0, 0, .3) 0 0 8px;
      background-color: #fff;
      color: #eb8766;
      font-size: 12px;
      width: 245px;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        z-index: 60;
        margin-left: -10px;
        border-top: 10px solid rgb(255, 255, 255);
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -11px;
        left: 50%;
        z-index: 55;
        margin-left: -11px;
        border-top: 11px solid rgb(218, 218, 218);
        border-right: 9px solid transparent;
        border-left: 9px solid transparent;
      }
    }

    .actions {
      margin-top: 10px;

      &::after {
        content: '';
        display: block;
        clear: both;
      }

      .actionsWrap {
        float: left;
        height: 35px;
        padding-top: 10px;
        box-sizing: border-box;
      }

      .buttonsWrap {
        float: right;
      }

      .cancel {
        margin-left: 10px;
      }
    }
  }

  .areasEditor {
    padding: 10px;

    .areaName {
      color: #666;
      margin-bottom: 10px;
    }

    .link {
      color: #0a9dcd;
      color: var(--ct-secondary-button-color);
      display: inline-block;
      cursor: pointer;
      margin: 0 5px;
    }

    .actions {
      button {
        margin-right: 10px;
      }
    }
  }

  .areasDialog {
    .text {
      text-align: center;
      padding: 20px 10px;
      line-height: 16px;
      color: #666;
      color: var(--ct-map-editor-area-confirm-message-font-color);
      word-break: break-word;
    }

    .confirmBlock {
      text-align: center;

      .confirmAction {
        margin: 0 10px;
      }
    }
  }
}

:global(.fullscreen-mode) {
    .areasList {
      max-height: 100%;
      overflow-y: hidden;
      height: calc(100% - 30px);
    }
}
