.icon {
  display: block;
  width: 16px;
  height: 15px;
  background: url(/images/v2/main/icons/tinyMCE.png) no-repeat;
  background-position: left top;
}

.activator {
  display: block;
  align-self: flex-end;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;

  &:hover {
    .icon {
      background-position: right top;
    }
  }
}

.iconOutside {
  position: relative;

  .activator {
    position: absolute;
    bottom: calc(100% + 5px);
  }
}

.formEditor {
  display: flex;
  flex-direction: column;

  &:not(.iconOutside) .activator {
    margin-bottom: 5px;
  }
}

:global {
  .mce-tinymce.mce-container.mce-panel {
    overflow: hidden;
  }

  .mce-tinymce .mce-edit-area {
    background: #fff;
    background: var(--input-background-color);
  }

  .mce-tinymce .mce-container-body > .mce-menubar:not(.mce-edit-area),
  .mce-tinymce .mce-container-body > .mce-panel:not(.mce-edit-area) {
    display: none !important;
  }
}

.active {
  .activator .icon {
    background-position: right top;
  }

  :global {
    .mce-tinymce .mce-container-body > .mce-menubar:not(.mce-edit-area),
    .mce-tinymce .mce-container-body > .mce-panel:not(.mce-edit-area) {
      display: block !important;
    }
  }
}
