@import '../../styles/vars';

.buyInWrap {
  width: 188px;
}

.contentWrapper {
  padding: 10px;
}

.message {
  text-align: center;
  font: 12px/12px;
  margin-bottom: 10px;
}

.betInput {
  margin-bottom: 10px;

  input {
    width: calc(100% - 34px);
    box-sizing: border-box;
  }
}

:global(.d) {
  .betInput {
    :global(span.input-money-symbol) {
      align-items: center;
      width: 34px;
      background: var(--holdem-money-input-buttons-bg);
    }

    :global(input.input-money),
    :global(span.input-money-symbol) {
      display: inline-flex;
      justify-content: center;
      height: 34px;
      box-sizing: border-box;
      border: var(--holdem-money-input-border) !important;
    }

    :global(input.input-money) {
      align-items: left;
      text-align: center !important;
      font-size: 13px;
      font-weight: bold;
      color: var(--holdem-text-color-secodary) !important;
      border-left: none !important;
    }

    svg g {
      filter: var(--holdem-money-input-svg-filter);

      > * {
        fill: var(--holdem-money-input-svg-fill);
      }
    }
  }
}

.buttonsWrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn {
  display: inline-block;
  font-weight: bold;
  width: 77px;
  height: 34px;
  border-radius: 5px;
  border: var(--holdem-buttons-border-main);
  background: var(--holdem-buttons-background-default);
  color: var(--holdem-buttons-text-color);
  text-shadow: var(--holdem-buttons-text-shadow);
  text-transform: uppercase;

  &:hover {
    background: var(--holdem-buttons-background-default-hover);
  }

  &.pressed,
  &:active {
    background: var(--holdem-buttons-background-pressed);
  }

  &:disabled {
    color: var(--holdem-buttons-text-color-disabled);
    background: var(--holdem-buttons-background-disabled);
  }
}
