

:global(.d) {
  .btn-fetch {
    margin-left: 10px;
    line-height: 32px;
    height: 32px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .btn-disabled {
    pointer-events: none;
    cursor: default;
    color: #AAAA9F;
    border: 0;
    text-shadow: 0 -1px 0 rgba(255,255,255,0.65);
    background: linear-gradient(to bottom, rgba(206,206,191,1) 0%,rgba(240,240,225,1) 100%);
  }
}

.iterated-table-error,
.iterated-table-placeholder {
  width: 251px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-text,
.placeholder-text {
  max-width: 181px;
  line-height: 1.5;
  color: #ccc;
  text-align: center;
  font-size: 13px;
}

.erroe-text {
  color: #d05932;
}

.iterated-table-data {
  width: 386px;
}

.iterated-input-holder {
  display: flex;
  padding: 18px;
  align-items: center;
}

.iterated-input {
  font-family: Arial, serif;
  border-radius: 5px;
  width: 250px;
  margin-right: 10px;
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 12px;
  padding: 0 10px;
  box-sizing: border-box;
}

.iterated-input::-webkit-inner-spin-button,
.iterated-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.iterated-results-table {
  display: flex;
  padding: 18px;
  align-items: flex-start;
  flex-direction: row;
}

.chart-stat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chart-stat-labeles {
  padding-right: 12px;
}

.chart-stat-amount {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iterated-table-title {
  padding: 10px 13px 10px 0;
}

.iterated-table-legend {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.chart-stat-index,
.chart-stat-lable,
.chart-stat-amount {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}

.legend-index,
.legend-lable,
.legend-amount {
  color: #666659;
  text-align: center;
}

.legend-index,
.chart-stat-index {
  min-width: 20px;
}

.legend-lable,
.chart-stat-lable {
  min-width: 150px;
}

.legend-amount,
.chart-stat-amount {
  min-width: 150px;
}

.iterated-table-legend {
  span {
    padding: 10px;
    border: 1px solid #ccc;
  }
}

.btn-gold-fetch {
  width: 81px;
  height: 30px;
  position: relative;
  margin-left: 10px;
  padding: 0 12px;
  border: 1px solid #ACAC9D;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgb(255,255,255), inset 0 1px 2px rgba(36,36,21,0.1);
  background: linear-gradient(to bottom, rgba(216,219,220,1) 0%,rgba(226,229,229,1) 4%,rgba(254,251,228,1) 26%,rgba(214,205,193,1) 61%,rgba(217,210,200,1) 65%,rgba(232,232,231,1) 78%,rgba(235,236,235,1) 83%,rgba(218,216,194,1) 100%);
}

.btn-img-container {
  height: 30px;
  width: 105px;
  top: 0px;
  left: 0px;
  position: absolute;
  border-radius: 4px;
  cursor: default;
  color: #AAAA9F;
  border: 0;
  text-shadow: 0 -1px 0 rgba(255,255,255,0.65);
  background: linear-gradient(to bottom, rgba(206,206,191,1) 0%,rgba(240,240,225,1) 100%);

  .btn-img-anim {
    position: relative;
    top: 21%;
    right: 45%;
    transform: translate(30%, 50%);
    left: 0;
    width: auto;
  }
}
