.popUpContainer {
  position: absolute;
  top: 0;
  // left: calc(-100% - 12px);
  right: 112%;
  z-index: 10000;
  min-height: 227px;
  width: 240px;
  box-shadow: 0 0 3px  #0000006b;
  background: #fff;
}

.columnsFlex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.columns {
  box-sizing: border-box;
  border-right: 1px solid #f0f0e1;

  &:nth-child(1) {
    width: 57px;
  }

  &:nth-child(2) {
    width: 60px;
  }

  &:nth-child(3) {
    width: 59px;
  }

  &:nth-child(4) {
    width: 69px;
  }

  &:last-child {
    border-right: none;
  }
}

.searchLayout {
  max-height: 314px;
}
