@keyframes background-animation {
  0% {
    opacity: .6;
  }

  80% {
    opacity: .9;
  }
}

li {
  &.crocozade {
    position: relative;
    background: #ccc url('/images/v2/cans-event/drinks/crocozade.png') center center no-repeat;

    &::after {
      background-image: linear-gradient(to top, #68ec6f, transparent);
    }
  }

  &.damp-valley {
    background: #ccc url('/images/v2/cans-event/drinks/damp_valley.png') center center no-repeat;

    &::after {
      background-image: linear-gradient(to top, #e7f850, transparent);
    }
  }

  &.goose-juice {
    background: #ccc url('/images/v2/cans-event/drinks/goose_juice.png') center center no-repeat;

    &::after {
      background-image: linear-gradient(to top, #f0d01e, transparent);
    }
  }

  .cansAction {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    height: 86px;
    background: transparent;

    .claim {
      padding-top: 27px;
      border-top: 2px solid #f0d01e;
      text-align: center;

      button {
        padding: 0 22px;
        border: 2px solid #f0d01e;
        border-radius: 5px;
        background: none;
        color: #f0d01e;
        font-family: Audiowide, sans-serif;
        font-size: 20px;
        text-transform: uppercase;

        &:hover {
          background: rgba(240, 208, 30, .5);
          cursor: pointer;
          transition: background .3s;
        }

        &.crocozade {
          border-color: #68ec6f;
          color: #68ec6f;

          &:hover {
            background: rgba(104, 236, 111, .5);
          }
        }

        &.damp-valley {
          border-color: #e7f850;
          color: #e7f850;

          &:hover {
            background: rgba(231, 248, 80, .5);
          }
        }
      }

      &.crocozade {
        border-top-color: #68ec6f;
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 6px;
      width: 12px;
      height: 78px;
      background-size: contain;
    }

    &::before {
      left: 0;
      background: transparent url(/images/v2/cans-event/items/left_timer.svg) no-repeat;
    }

    &::after {
      right: 0;
      background: transparent url(/images/v2/cans-event/items/rigth_timer.svg) no-repeat;
    }

    &.crocozade {
      &::before {
        left: 0;
        background: transparent url(/images/v2/cans-event/items/left_timer_crocozade.svg) no-repeat;
      }

      &::after {
        right: 0;
        background: transparent url(/images/v2/cans-event/items/right_timer_crocozade.svg) no-repeat;
      }
    }

    &.damp-valley {
      &::before {
        left: 0;
        background: transparent url(/images/v2/cans-event/items/left_timer_damp_valley.svg) no-repeat;
      }

      &::after {
        right: 0;
        background: transparent url(/images/v2/cans-event/items/right_timer_damp_valley.svg) no-repeat;
      }
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &.active {
    &::after {
      animation: .9s linear background-animation;
      animation-iteration-count: infinite;
    }
  }

  &.disabled {
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 414px;
      background: rgba(255, 255, 255, .5);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  &.show {
    display: inline-block;
  }

  &.hidden {
    display: none;
  }
}
