.slotItems {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-content: flex-start;
}

.slotItem {
  margin-left: 10px;
  margin-top: 10px;
}

.extraCount {
  color: #666;
  font-size: 12px;
  font-weight: bold;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}
