:global {
  .itemsSearchTooltip-enter {
    opacity: 0;

    &.itemsSearchTooltip-enter-active {
      transition: opacity .3s linear;
      opacity: 1;
    }
  }

  .itemsSearchTooltip-exit {
    opacity: 1;
    transition: opacity .1s linear;

    &.itemsSearchTooltip-exit-active {
      opacity: 0;
    }
  }
}
