$warningColor: red;

.tooltipsBlock {
  opacity: 1;
}

.warningTooltip {
  z-index: 10000;
  position: absolute;
  padding: 7px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(17, 17, 17, .28);
  background: #f9f8f8;
  color: $warningColor;
  top: calc(-50% + -8px);
  transform: translateY(-50%);
  left: 20px;
  white-space: pre;

  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 27px;
    width: 0;
    height: 0;
    border-top: 8px solid #f9f8f8;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    filter: drop-shadow(0 2px 1px rgba(17, 17, 17, .15));
    left: 50px;
    transform: translateX(-50%);
  }

  // @media #{$screen-tablet} {
  //   #{$global-r} & {
  //     top: -45%;
  //     right: calc(50% + 24px);
  //   }
  // }
  // @media #{$screen-mobile} {
  //   #{$global-r} & {
  //     top: -45%;
  //     right: calc(50% + 40px);
  //   }
  // }
}
