@import '../../../styles/constants';

.permissionsColumn {
  min-width: $permissions-column-width;
  width: $permissions-column-width;
  border-top: $border-white;
  border-top-color: var(--default-panel-divider-inner-side-color);
  border-right: $border-gray;
  border-right-color: var(--faction-positions-outer-border-color);

  #{$global-r} & {

    @media #{$screen-tablet} {
      min-width: $permissions-column-width-mobile;
      width: $permissions-column-width-mobile;
    }
  }

  &Header {
    border-bottom: $border-gray;
    border-bottom-color: var(--faction-positions-outer-border-color);
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    text-shadow: var(--faction-poistions-title-text-shadow);
    color: #666;
    color: var(--faction-position-title-font-color);
  }

  &Cell {
    cursor: default;
    border-bottom: $border-gray;
    border-bottom-color: var(--faction-positions-outer-border-color);

    &:last-child {
      border-bottom: $border-white;
      border-bottom-color: var(--default-panel-divider-inner-side-color);
    }

    &.lowPermissionLevel {
      background: rgba(163, 217, 0, .1);
    }

    &.midPermissionLevel {
      background: rgba(255, 191, 0, .1);
    }

    &.highPermissionLevel {
      background: rgba(255, 92, 38, .1);
    }

    &.defaultPermissionLevel {
      background: rgba(0, 0, 0, .04);
    }

    &Text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-transform: capitalize;
    }
  }

  &Header,
  &Cell {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: $row-height;
  }

  &Cell {
    height: $row-height + 1;
  }
}
