.itemLibrary {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itemsWrap {
  padding: 5px 10px;
}
.item {
  border-radius: 5px;
  background: var(--items-plate-background-color) var(--items-plate-background);
  border: var(--items-plate-border);
  border-color: var(--items-plate-border-color);
  box-shadow: var(--items-plate-box-shadow);
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  &.big {
    width: 100px;
    height: 50px;
  }
  &.medium {
    width: 60px;
    height: 30px;
  }
  &.small {
    width: 38px;
    height: 19px;
  }
}
.slots {
  display: flex;
  flex-direction: column;
}
.slotsRow {
  display: flex;
  flex: 1;
}
.slotsLabel {
  border-right: 1px solid var(--default-panel-divider-outer-side-color);
  flex: 0 0 60px;
  padding: 11px;
  text-align: right;
  box-sizing: border-box;
  font-weight: bold;
  color: #444;
}
.slotsWrap {
  padding: 9px 0;
  width: 200px;
}
.slot {
  display: inline-block;
  margin-left: 8px;
  width: 30px;
  height: 16px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  border-radius: 3px;
  color: rgba(135, 135, 135, 0.3);
  background-image: linear-gradient(180deg, rgba(187, 187, 187, 0.3) 0%, rgba(221, 221, 221, 0.3) 100%);
  cursor: default;
  &.enabled {
    color: rgb(136, 136, 136);
    background-image: linear-gradient(180deg, rgb(187, 187, 187) 0%, rgb(221, 221, 221) 100%);
    cursor: pointer;
  }
  &.active {
    color: #445f18;
    background-image: linear-gradient(180deg, rgb(194, 217, 151) 0%, rgb(147, 187, 79) 100%);
  }
  #{$dark-mode} & {
    color: #fff;
  }
}

.maskSelector {
  width: calc(100% - 20px);
}
