.dialog {
  padding: 10px;
  border-top: 1px solid #CCC;
  border-top-color: var(--default-panel-divider-outer-side-color);
  box-shadow: inset 0 1px 0 0 white;
  font-family: 'Times New Roman', sans-serif;
  font-size: 16px;
  color: #525252;
  color: var(--reporting-panel-default-color);
  line-height: 17px;
}
.actions {
  margin-top: 16px;
}
