@import "../../../../../../../../../../styles/colors.scss";

.text {
  display: inline-block;
  width: calc(100% - 36px);
  float: left;
  font-size: 11px;
  line-height: 23px;
  cursor: pointer;
  word-break: break-word;

  &.italic {
    font-style: italic;
  }

  &.collapsed {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.important {
    font-weight: bold;
  }

  &.corrupted {
    text-decoration: line-through;
  }
}

:global(.light) {
  .text {
    color: $gray-4;

    &.positive {
      color: $darkGreen;
    }

    &.negative {
      color: $darkRed;
    }
  }
}

:global(.dark),
:global(.d.dark-mode) {
  .text {
    color: $white;

    &.positive {
      color: $lightGreen;
    }

    &.negative {
      color: $lightRed;
    }
  }
}
