.warning {
  clear: both;
  line-height: 18px;

  .iconWrapper {
    width: 36px;
    text-align: center;
    box-sizing: border-box;
    padding-right: 2px;
    float: left;
    padding-top: 1px;
    height: 18px;
  }

  .text {
    font-size: 11px;
    color: #888;
    float: left;
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
