.delimiterPlaceholder {
  margin: 5px 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  border-right: none;
  border-left: none;
}

.delimiterStatuses {
  margin-bottom: 4px !important;
}

.delimiterBars {
  margin-top: -5px !important;
  margin-bottom: 4px !important;
}

.skeletonWrap {
  width: 172px;
  height: 1043px;
  float: left;
}

.sidebarWrapPlaceholder {
  position: absolute;
  z-index: 999;
  display: block;
  width: 172px;
  height: 985px;
  float: left;
  background: transparent;
}

.sidebarTitlePlaceholder {
  box-sizing: border-box;
  margin-bottom: 2px;
  padding-left: 10px;
  width: 100%;
  height: 22px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
  background: url(/images/v2/main/section_title_black_bg.png) 0 0 repeat;
  background: repeating-linear-gradient(90deg, #2e2e2e, #2e2e2e 2px, #282828 0, #282828 4px);
  color: #fff;
  color: var(--sidebar-titles-font-color);
  font-size: 13px;
  font-weight: bold;
  line-height: 21px;
  text-shadow: 0 1px 0 #333;
  cursor: default;
  user-select: none;
}

.jail .sidebarTitlePlaceholder {
  background: #646357;
  background: repeating-linear-gradient(90deg, #646357, #646357 2px, #6b6a5f 0, #6b6a5f 4px);
}

.hospital .sidebarTitlePlaceholder {
  background: #666;
  background: repeating-linear-gradient(90deg, #666, #666 2px, #6d6d6d 0, #6d6d6d 4px);
}

.contentPlaceholder {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 2px;
  padding: 8px 10px 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #f2f2f2;
  background: var(--default-bg-panel-color);
}

.contentPlaceholderStatuses {
  width: 100%;
  height: 277px;
}

.contentPlaceholderAreas {
  height: 523px;
  margin-bottom: 1px;
}

.contentPlaceholderAreasBounded {
  height: 262px;
}

.contentPlaceholderLists {
  height: 74px;
}

.contentPlaceholderListsNonAdmin {
  height: 49px;
}

.userDataWrapPlaceholder {
  display: block;
  margin-bottom: 11px;
  width: 152px;
  height: auto;
}

.progressBarsWrapPlaceholder {
  width: 100%;
  height: 100%;
}

.rowBarWrapPlaceholder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 7px;
  width: 100%;
  height: 100%;
}

.progressBarStatWrapPlaceholder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.infoSectionWrapPlaceholder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 172px;
  height: 35px;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(180deg, #fff 0, #ddd);
  background: var(--default-panel-gradient);
  margin-bottom: 1px;
}

.infoIcon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.infoIcon {
  svg {
    filter: url(#sidebar__accountLinks_filter);
    fill: url(#sidebar__accountLinks_svg_gradient);
    filter: var(--sidebar-skeleton-svg-filter);
    fill: var(--sidebar-skeleton-svg-fill);
  }

  &::after {
    content: "";
    position: absolute;
    top: 3.5px;
    right: 0;
    width: 1px;
    height: 28px;
    background: transparent;
    background: linear-gradient(180deg, hsla(0, 0%, 80%, 0) 0, #ccc 50%, hsla(0, 0%, 80%, 0));
    background: var(--sidebar-vertical-divider-bg-left);
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

.areasWrapPlaceholder {
  width: 100%;
  height: 756px;
  background: #f2f2f2;
  background: var(--default-bg-panel-color);
}

.listsWrapPlaceholder {
  width: 100%;
  height: 108px;
  background: #f2f2f2;
  background: var(--default-bg-panel-color);
}

@media #{$screen-tablet} {
  #{$global-r} {
    .skeletonWrap {
      top: 6px;
      // width: 578px;
    }
    // .sidebarWrapPlaceholder {
    //   top: 4px;
    // }
    .sidebarTitlePlaceholder {
      height: 34px;
      line-height: 34px;
    }

    .contentPlaceholderAreas {
      height: 755px;
    }

    .contentPlaceholderLists {
      height: 108px;
    }

    .contentPlaceholderListsNonAdmin {
      height: 72px;
    }
  }
}
@media #{$screen-mobile} {
  #{$global-r} {
    .skeletonWrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 120px;
    }

    .gr__localhost {
      .skeletonWrap {
        top: 65px;
      }
    }

    .sidebarWrapPlaceholder {
      top: 0;
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      height: 102px;
    }

    .contentPlaceholder {
      margin: 0;
      width: 100%;
      border-bottom: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .contentPlaceholderAreas {
      height: 41px;
      border-top: 1px solid #484848;
      background: #302e2e;
      background: linear-gradient(to bottom, #302e2e, #414040);
    }

    .contentPlaceholderStatuses {
      height: 61px !important;
    }

    .sidebarTitlePlaceholder,
    .sectionInfo,
    .sectionLists {
      display: none;
    }
  }
}

@keyframes bounceDot {
  0% {
    transform: scale(.7);
    background-color: rgb(0, 0, 0);
  }

  100% {
    transform: scale(.3);
    background-color: rgb(100, 100, 100);
  }
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  text-align: center;
}

.dots {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  width: 55px;
  height: 14px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.dot {
  position: relative;
  display: inline-block;
  margin-left: -3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  vertical-align: middle;
  -o-animation: bouncedot .3s infinite;
  -webkit-animation: bouncedot .3s infinite;
  animation: bounceDot .3s infinite;
  -webkit-transform: scale(.3);
  transform: scale(.3);
}

.dot-1 {
  margin-left: 0;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.dot-2 {
  -webkit-animation-delay: .075s;
  animation-delay: .075s;
}

.dot-3 {
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
