.details {
  background-color: rgba(#fff, .6);
  padding: 10px;
}

.detailsTable {
  &:not(:first-child) {
    margin-top: 15px;
  }

  th,
  td {
    padding: 2px 7px 0 7px !important;
  }

  th:first-child,
  td:first-child {
    padding-left: 0 !important;
  }

  th {
    text-align: left;
    font-weight: bold;
  }
}

.detailsResultsTable {
  th,
  td {
    padding: 2px 7px 0 7px !important;
  }

  th:not(:first-child) {
    border-left: 1px solid rgba(#fff, .8) !important;
  }

  td:not(:first-child) {
    border-left: 1px solid rgba(#000, .1) !important;
  }

  th {
    font-weight: bold;
    color: #fff;
    background: #000;
  }

  .subheader {
    background: rgba(#000, .05);
  }

  .rowsContent {
    background: rgba(#fff, .2);
  }
}

.event {
  margin-top: 20px;
  display: flex;
}

.resultContainer {
  margin-top: 15px;
}

.resultActivator {
  font-weight: bold;
  cursor: pointer;
}

.betLog {
  margin-top: 15px;
}

.betLogActivator {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.betLogList {
  margin-top: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, .05);
}

.description {
  margin-top: 15px;
}

.descriptionTitle {
  margin: 0;
  font-weight: bold;
}

.betResult {
  margin-top: 15px;

  th {
    font-weight: bold;
  }

  th,
  td {
    padding: 0 5px !important;
    text-align: left;
  }
}
