.searchLabel {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 6px 8px;
  font-weight: bold;
  cursor: pointer;
  background-color: #ddd;
  background-color: var(--bookies-search-label-background);
  color: #888;
  color: var(--bookies-search-label-color);

  &.selected {
    background-color: #fff;
    background-color: var(--bookies-search-label-selected-background);
    color: #333;
    color: var(--bookies-search-label-selected-color);
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      display: none;
    }
  }
}
