.cell {
  position: absolute;
  border: 0 solid #ff00f9;
  z-index: 1000;
}

:global(.tabParametersSelected) .cell {
  pointer-events: none;
}

.borderTop {
  box-shadow: 0 2px 0 0 #ff00f9 inset;

  &.eraserSide_top,
  &.eraserSide_center {
    box-shadow: 0 2px 0 0 rgb(0, 0, 0) inset;
  }
}

.borderRight {
  border-right-width: 2px;

  &.eraserSide_right,
  &.eraserSide_center {
    border-right-color: #000;
  }
}

.borderBottom {
  border-bottom-width: 2px;

  &.eraserSide_bottom,
  &.eraserSide_center {
    border-bottom-color: #000;
  }
}

.borderLeft {
  box-shadow: 2px 0 0 0 #ff00f9 inset;

  &.eraserSide_left,
  &.eraserSide_center {
    box-shadow: 2px 0 0 0 rgb(0, 0, 0) inset;
  }
}

.cornerBlock {
  position: absolute;
  width: 10px;
  height: 10px;

  &:before, &:after {
    content: '';
    display: none;
    background-color: #ff00f9;
    position: absolute;
  }

  &:before {
    width: 10px;
    height: 2px;
    left: 0;
    top: 0;
  }

  &:after {
    width: 2px;
    height: 12px;
    left: 10px;
    top: 0;
  }

  &.leftTop {
    transform: rotate(90deg);
    left: -8px;
    top: -10px;

    &:after,
    &:before {
      display: inline-block;
    }
  }

  &.leftBottom {
    left: -10px;
    bottom: -10px;

    &:after, &:before {
      display: inline-block;
    }
  }

  &.rightBottom {
    right: -10px;
    bottom: -12px;
    transform: rotate(270deg);

    &:after, &:before {
      display: inline-block;
    }
  }

  &.rightTop {
    right: -12px;
    top: -8px;
    transform: rotate(180deg);

    &:after,
    &:before {
      display: inline-block;
    }
  }
}

.lineEndBlock {
  position: absolute;

  &.leftTop {
    left: -15px;
    top: -15px;
  }

  &.leftBottom {
    left: -15px;
    top: 15px;
  }

  &.rightTop {
    left: 15px;
    top: -15px;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    background-color: #ff00f9;
    position: absolute;
  }

  &:before {
    width: 22px;
    height: 2px;
    left: 5px;
    top: 15px;
  }

  &:after {
    width: 2px;
    height: 22px;
    left: 15px;
    top: 5px;
  }
}

.eraserSide_top,
.eraserSide_rightTop,
.eraserSide_right,
.eraserSide_center {
  .cornerBlock.rightTop,
  .lineEndBlock.rightTop {
    &:before,
    &:after {
      background-color: #000;
    }
  }
}

.eraserSide_bottom,
.eraserSide_rightBottom,
.eraserSide_right,
.eraserSide_center {
  .cornerBlock.rightBottom,
  .lineEndBlock.rightBottom {
    &:before,
    &:after {
      background-color: #000;
    }
  }
}

.eraserSide_bottom,
.eraserSide_leftBottom,
.eraserSide_left,
.eraserSide_center {
  .cornerBlock.leftBottom,
  .lineEndBlock.leftBottom {
    &:before,
    &:after {
      background-color: #000;
    }
  }
}

.eraserSide_top,
.eraserSide_leftTop,
.eraserSide_left,
.eraserSide_center {
  .cornerBlock.leftTop,
  .lineEndBlock.leftTop {
    &:before,
    &:after {
      background-color: #000;
    }
  }
}

:global(.tab-areas),
:global(.tab-history),
:global(.tab-parameters),
:global(.tab-npc),
:global(.tab-objects),
:global(.tab-layers) {
  .blockingLayer {
    opacity: .5;
  }
}
