.filterWrapper {
  display: flex;
  padding: 10px 10px;
  border-bottom: 1px solid #bfd0d8;
  background-color: #fff;
}

.filterInput {
  width: 290px;
  padding: 4px 10px;
  border: 1px solid #c0d1d8;
  color: #888;

  &::placeholder {
    color: #ccc;
    font-family: 'Fjalla one', sans-serif;
  }
}
