$border-color: #ccc;

:global(.d) {
  .white-box {
    background: linear-gradient(to bottom,  #ffffff 0%,#e4e4e4 100%);
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
    border-radius: 5px;
    height: 34px;
    &.conected {
      border-radius: 5px 5px 0 0;
    }
  }
  .divider {
    display: inline-block;
    border-right: 1px solid;
    border-image: linear-gradient(to bottom, rgba(230, 230, 220, 0.24) 0%, rgba(200, 200, 210, 0.97) 55%, rgba(188, 188, 181, 0.06) 100%) 1;
    height: 34px;
  }
  .dropdown {
    width: 250px;
    display: inline-block;
    color: inherit;
    :global(.Select-control) {
      background: transparent;
      border: none;
      height: 34px;
    }
    :global(.Select-arrow) {
      transform: rotateZ(-90deg);
      transition: transform .2s ease-out;
    }
    &:global(.is-open) {
      .Select-arrow {
        transform: rotateZ(0);
      }
    }
  }
  .main-chart {
    background: white;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #{$border-color};
  }
  .inline-chart {
    background: white;
    padding: 4px 0;
    border-top: 1px solid #{$border-color};
    position: relative;
  }
  .stage {
    i {
      background: url(/images/v2/crimes/admin/icons/alpha_beta_released.png) no-repeat;
      width: 34px;
      height: 34px;
      content: '';
      margin: -4px;
      display: inline-block;
    }
    em {
      line-height: 28px;
      display: inline-block;
      vertical-align: bottom;
      text-shadow:0px 1px 0px rgb(255,255,255);
    }
    &.alpha {
      i {
        background-position: left center;
      }
      em:before {
        content: 'ALPHA';
        color:#E2805F;
      }
    }
    &.beta {
      i {
        background-position: center center;
      }
      em:before {
        content: 'BETA';
        color:#DFBA4C;
      }

    }
    &.released {
      i {
        background-position: right center;
      }
      em:before {
        content: 'RELEASED';
        color:#93BA20;
      }

    }
  }
  .bottom-round {
    border-radius: 0 0 5px 5px;
    overflow: hidden;
  }
  .fb-right {
    margin-left: auto;
  }
}
