.contentTitleWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tutorial {
  margin-left: 10px;
}

.links {
  margin-left: auto;
}

.link {
  float: right;
}

.hr {
  width: 100%;
}
