
@import '../../styles/index.cssmodule.scss';

.errorWrap {
  width: inherit;
  height: inherit;
  composes: container;
  composes: flexCenter;
}

.messageContainer {
  color: #d83500;
  font-weight: bold;
  text-align: center;
}
