:global(.d) {
  .wrap {
    display: flex;
  }

  .sorter,
  .new-outcome-button {
    position: relative;
    box-sizing: border-box;
    transition: color .3s ease-out;
  }

  .sorter {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 9px 4px 9px 12px;
    color: #79796a;

    label {
      margin: 0 0 0 27px;
      color: #acac9d;
    }

    input {
      margin: 0 4px;
    }

    &.disabled {
      color: #cecebf;
    }
  }

  .new-outcome-button {
    flex: 0 0 140px;
    margin-left: 10px;
    color: #79796a;

    &::before {
      content: '';
      display: inline-block;
      width: 34px;
      height: 32px;
      background: url(/images/v2/2sef32sdfr422svbfr2/crimes/admin/icons/create_new_outcome.png) left center no-repeat;
      vertical-align: middle;
    }

    &:hover::before {
      background-position: right center;
    }

    label {
      line-height: 28px;
      vertical-align: bottom;
    }

    &.disabled {
      color: #cecebf;
      pointer-events: none;
    }
  }

  .search {
    display: flex;
    flex: 1;
  }

  input.search-input {
    flex: 1;
    margin: 0 0 0 32px;
    padding: 0 10px;
    height: 26px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, .7);
    color: #acac9d;

    &::placeholder {
      color: #ccc;
    }
  }

  .sortOrderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2px;

    .sortOrderInput {
      margin: 0 5px;
      padding: 0;
      width: 20px;
    }
  }

  .sortTriangle {
    border: 8px solid #acac9a;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    cursor: pointer;
    -webkit-appearance: none;
    -mozilla-appearance: none;
    appearance: none;

    &:checked {
      border: 8px solid #797968;
      border-top: 6px solid transparent;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }
  }

  .sortTriagleUp {
    transform: rotate(0deg);
  }

  .sortTriangleDown {
    transform: rotate(180deg);
  }

  .buttonCreateOutcome {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;

    &.transform {
      top: 42%;
      transform: translateY(-41%);
      left: 0;
      margin: 0;
      padding: 2px 5px 0 25px;
    }

    &.font {
      color: inherit;
      font-family: inherit;
      font-size: 100%;
      font-weight: inherit;
      line-height: 28px;
      text-align: center;
      white-space: pre;
      word-break: normal;
    }
  }
}
