:root .dark-mode {
  --faction-default-icon-bg-stop-1: #888;
  --faction-default-icon-bg-stop-2: #666;
  /*--faction-hover-icon-bg-stop-1: #ccc;
  --faction-hover-icon-bg-stop-2: #999;*/
}

.dark-mode #option-positions-root {
  --faction-positions-outer-border-color: #222;
  --faction-poistions-title-text-shadow: none;
  --faction-positions-font-color: #ddd;
  --faction-position-title-font-color: #fff;
  --faction-position-message-font-color: #ccc;
  --faction-position-default-icon-color: #777;
  --faction-position-default-icon-color-hover: #ccc;
  --faction-position-permission-low-icon-color: #85B200;
  --faction-position-permission-mid-icon-color: #d9a300;
  --faction-position-permission-high-icon-color: #d93600;
  --faction-position-permission-default-icon-color: #ddd;
  --faction-position-permission-low-icon-color-hover: #BFFF00;
  --faction-position-permission-mid-icon-color-hover: #FFC000;
  --faction-position-permission-high-icon-color-hover: #FF3F00;
  --faction-position-permission-default-icon-color-hover: #fff;
  --faction-position-btn-bg: transparent linear-gradient(180deg, #555 0%, #333 100%) 0 0 no-repeat;
  --faction-position-btn-bg-hover: transparent linear-gradient(180deg, #333 0%, #555 100%) 0 0 no-repeat;
  --faction-position-permissions-icon-fill-disabled: #111;
  --faction-position-permissions-btn-border-color: #222;
  --faction-position-permissions-input-bg: #000;
  --faction-position-permissions-font-color: #fff;
  --faction-position-error-font-color: #FF6B6B;
  --faction-position-permissions-btn-shadow: 0 0 1px rgba(0, 0, 0, .65);
  --faction-position-permissions-error-border-color: #F03E3E4D;
  --faction-position-permissions-input-error-shadow: 0px 0px 5px rgba(240, 62, 62, 0.35);
}
