@import 'constants';
@import 'mixins';

.positionsCell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: $row-height + 1;
  border-bottom: $border-gray;
  border-bottom-color: var(--faction-positions-outer-border-color);

  &:last-child {
    border-bottom: $border-white;
    border-bottom-color: var(--default-panel-divider-inner-side-color);
  }
}
