@import './constants';

.positionWrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  margin: 0 10px 11px 0;
  height: 26px;
  border: 1px solid #ccc;
  border-color: var(--faction-position-permissions-btn-border-color);
  border-radius: 5px;
  box-shadow: var(--faction-position-permissions-btn-shadow);

  &.error {
    border-color: #ffa8a8;
    border-color: var(--faction-position-permissions-error-border-color);
    box-shadow: 0 0 5px #ff6b6b73;
    box-shadow: var(--faction-position-permissions-input-error-shadow);
  }

  #{$global-r} & {

    @media #{$screen-tablet} {
      height: 36px;

      &:last-child {
        margin-bottom: 10px;
      }
    }
  }

  .iconWrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 100%;
    border: none;
    border-right: 1px solid #ccc;
    border-right-color: var(--faction-position-permissions-btn-border-color);
    border-radius: 5px 0 0 5px;
    box-shadow: none;
    background: transparent linear-gradient(180deg, #fff 0%, #ddd 100%) 0 0 no-repeat;
    background: var(--faction-position-btn-bg);
    cursor: pointer;

    &.loading {
      cursor: default;
      user-select: none;

      &:hover {
        background: transparent linear-gradient(180deg, #fff 0%, #ddd 100%) 0 0 no-repeat;
        background: var(--faction-position-btn-bg);
      }
    }

    &.disabled {
      cursor: not-allowed;
      user-select: none;

      svg {
        transform: rotate(180deg);
      }

      &:hover {
        background: transparent linear-gradient(180deg, #fff 0%, #ddd 100%) 0 0 no-repeat;
        background: var(--faction-position-btn-bg);
      }
    }

    &:hover {
      background: transparent linear-gradient(180deg, #ddd 0%, #fff 100%) 0 0 no-repeat;
      background: var(--faction-position-btn-bg-hover);
    }
  }

  .inputField {
    flex-grow: 1;
    padding: 5px 10px;
    width: 100px;
    border-radius: 0 5px 5px 0 !important;
    color: #666;
    color: var(--faction-position-permissions-font-color);
    background: #fff;
    background: var(--faction-position-permissions-input-bg);

    &::placeholder {
      color: #999;
    }
  }

  .errorTooltip {
    position: absolute;
    display: block;
    padding: 10px;
    background: #f2f2f2;
    background: var(--tooltip-bg-color);
    bottom: 120%;
    box-shadow: 0 0 2px #00000073;
    color: #ff4000;
    color: var(--faction-position-error-font-color);
    text-align: center;

    &::after,
    &::before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::after {
      border-color: rgba(242, 242, 242, 0);
      border-top-color: #f2f2f2;
      border-top-color: var(--tooltip-bg-color);
      border-width: 8px;
      margin-left: -8px;
      filter: drop-shadow(0 2px 1px rgba(0, 0, 0, .15));
    }

    &::before {
      border-color: rgba(242, 242, 242, 0);
      border-top-color: #f2f2f2;
      border-top-color: var(--tooltip-bg-color);
      border-width: 9px;
      margin-left: -9px;
    }
  }
}

:global(#option-positions-root) {
  .positionWrapper {
    .inputField {
      border: none;
    }
  }
}

:global(.dark-mode) {
  .positionWrapper {
    .iconWrapper {
      svg {
        filter: drop-shadow(0 0 1px #000);
      }

      &.disabled svg {
        filter: drop-shadow(0 -1px 0 #ffffff1a);
      }
    }
  }
}
