:root {
  --faction-default-icon-bg-stop-1: #999;
  --faction-default-icon-bg-stop-2: #bbb;
  /*--faction-hover-icon-bg-stop-1: #777;
  --faction-hover-icon-bg-stop-2: #999;*/
}

#option-positions-root {
  --faction-positions-outer-border-color: #ddd;
  --faction-poistions-title-text-shadow: 0 1px 0 #fff;
  --faction-positions-font-color: #666;
  --faction-position-title-font-color: #666;
  --faction-position-message-font-color: #666;
  --faction-position-default-icon-color: #ccc;
  --faction-position-default-icon-color-hover: #aaa;
  --faction-position-permission-low-icon-color: #86b304;
  --faction-position-permission-mid-icon-color: #d9a300;
  --faction-position-permission-high-icon-color: #d93600;
  --faction-position-permission-default-icon-color: #666;
  --faction-position-permission-low-icon-color-hover: #739a05;
  --faction-position-permission-mid-icon-color-hover: #bb8d01;
  --faction-position-permission-high-icon-color-hover: #ba3002;
  --faction-position-permission-default-icon-color-hover: #444;
  --faction-position-btn-bg: transparent linear-gradient(180deg, #fff 0%, #ddd 100%) 0 0 no-repeat;
  --faction-position-btn-bg-hover: transparent linear-gradient(180deg, #ddd 0%, #fff 100%) 0 0 no-repeat;
  --faction-position-permissions-icon-fill-disabled: #ccc;
  --faction-position-permissions-btn-border-color: #ccc;
  --faction-position-permissions-input-bg: #fff;
  --faction-position-permissions-font-color: #666;
  --faction-position-error-font-color: #ff4000;
  --faction-position-permissions-btn-shadow: none;
  --faction-position-permissions-error-border-color: #FFA8A8;
  --faction-position-permissions-input-error-shadow: 0px 0px 5px #FF6B6B73;
}
