@import '../../styles/constants.cssmodule.scss';

.overlays {
  position: absolute;
  width: 246px;
  height: 387px;
  top: -56px;

  &.left {
    left: -16px;
  }

  &.right {
    transform: scale(-1, 1);
    left: -38px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 194px;
      height: 275px;

      &.left {
        left: -11px;
        top: -78px;
      }

      &.right {
        left: -111px;
        top: -78px;
      }
    }
  }
  @media #{$screen-mobile} {
    #{$global-r} & {
      width: 194px;
      height: 231px;

      &.left {
        left: -11px;
        top: -49px;
      }

      &.right {
        left: -111px;
        top: -47px;
      }
    }
  }
}

.cardWrap {
  width: inherit;
  height: 260px;
  border-radius: 5px;
  border: 1px solid #5b5b5b;
  padding: 2px;
  position: relative;
  box-sizing: border-box;
  border-color: #5b5b5b;
  box-shadow: 0 0 0 transparent;

  &::before {
    content: '';
    position: absolute;
    border-radius: 3px;
    background: rgba(0, 0, 0, .65);
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    overflow: hidden;
  }

  &.yellow {
    transition: border-color .5s linear, box-shadow .5s linear;
    border-color: rgba(200, 160, 0, .65);
    box-shadow: 0 0 20px rgba(200, 160, 0, .65);
  }

  &.green {
    border-color: rgba(119, 151, 26, .65);
    box-shadow: 0 0 20px rgba(119, 151, 26, .65);
  }

  &.red {
    border-color: rgba(218, 82, 38, .65);
    box-shadow: 0 0 20px rgba(218, 82, 38, .65);

    &::after {
      content: "";
      position: absolute;
      background: url(/casino/russianRoulette/images/976_blood_left.png) no-repeat;
      background-position: right 100%;
      animation-name: afterFlash;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-duration: 1s;

      @extend .overlays;
    }
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: 100px;
    }
  }
}

.userImage {
  opacity: .65;
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 4px;
  background-size: cover;
  user-select: none;
  pointer-events: none;
}

.loseBackdrop {
  composes: overlays;
  background: url(/casino/russianRoulette/images/976_red_glow_left.png) no-repeat;
  background-position: right;
}

:global {

  @keyframes afterFlash {
    0% {
      opacity: 0;
    }

    19% {
      opacity: .5;
    }

    21% {
      opacity: .3;
    }

    23% {
      opacity: .2;
    }

    25% {
      opacity: .5;
    }

    54% {
      opacity: .3;
    }

    56% {
      opacity: .5;
    }

    70% {
      opacity: .6;
    }

    100% {
      opacity: 1;
    }
  }
}
