#{$global-d} {
  --ammo-bcg-color-active: #fff;
  --ammo-bcg-color-flash-active: #efeded;
  --ammo-bcg-color-section-active: #dcdcdc;
  --ammo-border-color: #ccc;
}

#{$dark-mode} {
  --ammo-bcg-color-active: #292929;
  --ammo-bcg-color-flash-active: #3b3b3b;
  --ammo-bcg-color-section-active: #222323;
  --ammo-border-color: #222323;
}

$borderDim: 1px;
$borderFill: solid;
$borderColorGrey: #ccc;
$borderColorDark: #222323;
$ammoBorderGrey: $borderDim $borderFill var(--ammo-border-color);
$warningColor: #ef1c1c;
