.flexCenter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.lineContainer {
  width: 100%;
  height: 31px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      height: 36px;
      background: #fff;
    }
  }
}

.section {
  box-sizing: border-box;
  width: 98px;
  height: 100%;

  &:first-child {
    width: 344px;
  }

  &:nth-child(2) {
    width: 48px;
  }

  @media #{$screen-tablet} {
    #{$global-r} & {
      width: 50%;
      height: 36px;
    }
  }
  // @media #{$screen-mobile} {
  //   #{$global-r} & {
  //     height: 40px;
  //   }
  // }
}
