@import '../../styles/vars';

.btn {
  display: flex;
  flex: 1;
  height: 34px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'Fjalla One', sans-serif;
  color: var(--holdem-buttons-text-color);
  text-shadow: var(--holdem-buttons-text-shadow);
  background: var(--holdem-buttons-background-default);
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  border: none;

  &:not(:last-child) {
    border-right: 1px solid var(--holdem-buttons-delimiter);
  }

  &:not(:first-child) {
    border-left: 1px solid var(--holdem-buttons-delimiter-shadow);
  }

  &:hover,
  &:focus {
    color: var(--holdem-buttons-text-color);
    background: var(--holdem-buttons-background-default-hover);
  }

  &:active,
  &.pressed {
    background: var(--holdem-buttons-background-pressed);
  }

  &.queueable {
    color: var(--holdem-buttons-text-color-disabled);
    text-shadow: var(--holdem-buttons-text-shadow-diasabled);
    background: var(--holdem-buttons-background-queueable);

    &:hover {
      color: var(--holdem-buttons-text-color);
      text-shadow: var(--holdem-buttons-text-shadow);
      background: var(--holdem-buttons-background-queueable-hover);
    }

    &:active {
      background: var(--holdem-buttons-background-queueable-active);
    }
  }

  &.queued {
    color: var(--holdem-buttons-text-color-disabled);
    text-shadow: var(--holdem-buttons-text-shadow-diasabled);
    background: var(--holdem-buttons-background-queued);

    &:hover {
      color: var(--holdem-buttons-text-color-disabled);
      background: var(--holdem-buttons-background-queued);
    }

    &:active {
      color: var(--holdem-buttons-text-color-disabled);
      background: var(--holdem-buttons-background-queued);
    }
  }

  :global(.adminPanel) & {
    width: 100px;
    height: 28px;
    font-size: 10px;
  }
}
