.tabs {
  display: flex;
}

:global(.d),
:global(.r) {
  .newArticle {
    &.withComments {
      :global(.controls-small) {
        :global(#main-input) {
          word-break: break-word;
        }

        :global(#bbc-editor) {
          :global(.actions) {
            :global(.controls) {
              & > li {
                padding: 0 7px;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .newArticle {
      &.withComments {
        :global(.title-black) {
          display: none;
        }
      }
    }
  }
}
