.singButton {
  color: transparent !important;
  text-shadow: none !important;
  padding: 3px 5px !important;
  line-height: 0 !important;
  height: 24px !important;

  @media screen and (max-width: 1000px) {
    width: 34px !important;
    height: 34px !important;
    padding: 5px 9px !important;
  }

  &::before {
    display: block;
    content: '';
    width: 14px;
    height: 18px;
    background-image: url(/images/v2/stock-market/icons/max_amount.svg);
  }
}

.manageBlock {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  font-size: 12px;
  line-height: 18px;
  color: #444;
  color: var(--stockmarket-manage-tab-color);
  align-items: center;

  .message {
    margin-bottom: 7px;
    text-align: center;

    .error {
      color: #de5b30;
    }
  }

  .dividendsDialogMsg {
    color: #de5b30;
    margin-bottom: 7px;
    margin-top: -10px;
    font-size: 10px;
    font-weight: bold;
  }

  .actions {
    display: flex;
    height: 24px;

    &.withInput {
      width: 200px;

      .sell,
      .buy {
        margin-left: 0;
      }
    }

    .sell,
    .buy {
      margin-left: 10px;
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .manageBlock {
      padding: 0;

      .actions {
        height: 34px;

        &.withInput {
          width: 200px;

          .sell,
          .buy {
            margin-left: 10px;
          }
        }

        button {
          height: 34px;
        }

        :global(.input-money) {
          width: 120px;
        }
      }
    }
  }
}
