$stocks: BAG, CNC, ELT, EVL, EWM, FHG, GRN, HRG, IIL, IOU, IST, LAG, LSC, MCS, MSG, PRN, SYM, SYS, TCI, TCC, TCM, TCP,
  TCT, TGP, THS, TMI, TSB, WLT, WSU, YAZ, MUN, ASS;

.message {
  color: #444;
  color: var(--stockmarket-dividend-secondary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 210px;
  line-height: 30px;
  font-size: 14px;
  z-index: 5;
  position: relative;
  font-family: Arial, sans-serif;
  padding: 0 10px;

  .error {
    color: #de5b30;
  }

  .grayText {
    font-weight: bold;
  }

  .greenText {
    color: #66a80f;
    font-weight: bold;
  }

  .blueText {
    color: #4263eb;
    color: var(--stockmarket-blue-color);
    font-weight: bold;
  }

  .collectInfoMessage {
    color: #66a80f;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    font-family: Fjalla One, sans-serif;
  }

  .collectedInfoMessage {
    color: #66a80f;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    font-family: Fjalla One, sans-serif;
  }

  .continueButton {
    color: #069;
    color: var(--stockmarket-blue-color);
    background: transparent;
    text-transform: none;
    font-family: Fjalla One, sans-serif;
    line-height: 30px;
    font-weight: 400;
  }

  &.passive,
  &.inactive,
  &.active,
  &.collected {
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: transparent;
      z-index: -1;
    }
  }

  &.passive {
    &::before {
      filter: invert(47%) sepia(21%) saturate(1820%) hue-rotate(191deg) brightness(101%) contrast(96%);
    }
  }

  &.inactive {
    &::before {
      filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);
    }
  }

  &.active,
  &.collected {
    &::before {
      filter: invert(43%) sepia(29%) saturate(1074%) hue-rotate(47deg) brightness(100%) contrast(87%);
    }
  }

  @each $stock in $stocks {
    &.#{$stock} {
      &::before {
        background: url('/images/v2/stock-market/backgrounds/976/976_#{$stock}.svg');
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .message {
      height: 360px;
      text-align: center;

      @each $stock in $stocks {
        &.#{$stock} {
          &::before {
            background: url('/images/v2/stock-market/backgrounds/578/578_#{$stock}.svg');
          }
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .message {
      height: 350px;
    }
  }
}
