.dark-mode #stockmarketroot {
  --stockmarket-bg-color: #333;
  --stockmarket-tab-bg-color: #242424;
  --stockmarket-shadow: 0 1px 0 #ffffff1a;
  --stockmarket-stock-shadow: 1px 1px 0 #ffffff1a;
  --stockmarket-border-color: #222;
  --stockmarket-tab-shadow: 0 1px 0 #ffffff1a;
  --stockmarket-green-color: #74b816;
  --stockmarket-red-color: #ff6b6b;
  --stockmarket-blue-color: #74c0fc;
  --stockmarket-primary-gray-color: #ddd;
  --stockmarket-secondary-gray-color: #999;
  --stockmarket-icon-filter: none;
  --stockmarket-current-price-color: #eee;
  --stockmarket-name-color: #ddd;
  --stockmarket-active-bonus-bg-color: #94d82d;
  --stockmarket-passive-bonus-bg-color: #5c7cfa;
  --stockmarket-inactive-bonus-bg-color: #000;
  --stockmarket-dividend-primary-color: #fff;
  --stockmarket-dividend-secondary-color: #ccc;
  --stockmarket-inactive-dividend-filter: invert(0%) sepia(97%) saturate(7%) hue-rotate(106deg) brightness(97%) contrast(100%);
  --stockmarket-passive-dividend-filter: invert(61%) sepia(72%) saturate(5229%) hue-rotate(211deg) brightness(100%) contrast(97%);
  --stockmarket-active-dividend-filter: invert(79%) sepia(55%) saturate(606%) hue-rotate(29deg) brightness(91%) contrast(92%);
  --stockmarket-buy-dialog-bg: linear-gradient(180deg, #94d82d1f 0%, #94d82d00 100%);
  --stockmarket-sell-dialog-bg: linear-gradient(180deg, #ff6b6b00 0%, #ff6b6b1f 100%);
  --stockmarket-manage-tab-color: #fff;
  --stockmarket-manage-links-color: #74c0fc;
  --stockmarket-transaction-border-bottom-color: #222;
  --stockmarket-transaction-box-shadow: 0 1px 0 #ffffff1a;
  --stockmarket-action-border-color: #ffffff1a;
  --stockmarket-manage-border-bottom-color: #222;
  --stockmarket-border-gradiend-dark: linear-gradient(0deg, #0000 0%, #00000080 50%, #0000 100%);
  --stockmarket-border-gradiend-light: linear-gradient(0deg, #fff0 0%, #ffffff1a 50%, #fff0 100%);
  --stockmarket-radiо-color: #ddd;
  --stockmarket-radio-hover-color: #fff;
  --stockmarket-checkbox-color: #888;
  --stockmarket-checkbox-border-image: unset;
  --stockmarket-checkbox-border-color: #fff;
  --stockmarket-checkbox-background-color: #fff;
  --stockmarket-profile-right: 50px;
  --stockmarket-profile-after: linear-gradient(0deg, #0000 0%, #00000080 50%, #0000 100%);
  --stockmarket-profile-before: linear-gradient(0deg, #fff0 0%, #ffffff1a 50%, #fff0 100%);
  --stockmarket-progress-bar-green: #94d82d;
  --stockmarket-progress-bar-blue: #5c7cfa;
  --stockmarket-progress-bar-light-gray: #666;
  --stockmarket-progress-bar-dark-gray: #ccc;
  --stockmarket-disabled-period: #555;
  --stockmarket-sorting-icon-color: #222;
  --stock-market-filter-color: rgba(255, 255, 255, .1);
  --stockmarket-sorting-icon-filter: drop-shadow(0 1px 0 var(--stock-market-filter-color));
}
