.manageTab {
  font-family: Arial, sans-serif;

  button,
  input[type='checkbox'] {
    cursor: pointer;
  }

  .transactionsContainer {
    padding: 0;
  }

  .manageContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    border-bottom-color: var(--stockmarket-manage-border-bottom-color);

    .buyBlock,
    .sellBlock {
      width: 395px;
    }

    .buyBlock {
      background: linear-gradient(180deg, #55892100 0%, #5589211a 100%);
      background: var(--stockmarket-buy-dialog-bg);
    }

    .sellBlock {
      position: relative;
      background: linear-gradient(180deg, #de5b3000 0%, #de5b301a 100%);
      background: var(--stockmarket-sell-dialog-bg);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        left: -1px;
        width: 1px;
        background: linear-gradient(0deg, #ccc0 0%, #ccc 50%, #ccc0 100%);
        background: var(--stockmarket-border-gradiend-dark);
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        width: 1px;
        background: linear-gradient(0deg, #fff0 0%, #fff 50%, #fff0 100%);
        background: var(--stockmarket-border-gradiend-light);
      }
    }
  }

  .actions {
    border-top: 1px solid #eee;
    border-top-color: var(--stockmarket-action-border-color);
  }

  .mergeBlock {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    align-items: center;

    button {
      color: #069;
      color: var(--stockmarket-manage-links-color);
    }

    &.withShow {
      margin-top: -20px;
    }
  }

  .showMore {
    display: flex;
    justify-content: center;

    button {
      color: #069;
      color: var(--stockmarket-manage-links-color);
    }

    &.isMerge {
      justify-content: start;
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .manageTab {
      .transactionsContainer {
        padding: 0;

        &.one {
          position: relative;
          width: 100%;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            background:
              linear-gradient(to right, rgba(38, 171, 216, .15) 0%, rgba(38, 171, 216, 0) 9%),
              linear-gradient(to left, rgba(38, 171, 216, .15) 0%, rgba(38, 171, 216, 0) 9%);
            pointer-events: none;
          }

          .scrollAreaContainer {
            position: relative;
            overflow: auto;
            display: inline-flex;
            width: 100%;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
              display: none;
            }
          }
        }
      }

      .manageContainer {
        flex-direction: column;

        .buyBlock,
        .sellBlock {
          width: auto;
          height: 50%;
        }

        .buyBlock {
          border-bottom: 1px solid #ddd;
          border-bottom: var(--stockmarket-manage-border-bottom-color);
        }

        .sellBlock {
          &::before,
          &::after {
            content: none;
          }
        }
      }

      .mergeBlock,
      .showMore {
        button {
          line-height: 24px;
        }
      }

      .mergeBlock {
        justify-content: center;
        margin-right: 0;
        flex-flow: wrap;
        padding: 0 40px;
        line-height: 24px;

        &.withShow {
          margin-top: 0;
        }
      }

      .showMore {
        &.isMerge {
          justify-content: center;
        }
      }

      .informMsg {
        padding: 42px 42px 32px 42px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .manageTab {
      .mergeBlock {
        padding: 0 10px;
      }
    }
  }
}
