:global(.google-visualization-tooltip-item-list) {
  margin: 5px !important;
}

:global(.google-visualization-tooltip-item-list .google-visualization-tooltip-item:first-child) {
  margin: 0 !important;
}

:global(.google-visualization-tooltip-item) {
  margin: 0 !important;
  padding: 0 !important;
}

:global(.dark-mode .google-visualization-tooltip) {
  background-color: #444 !important;
  box-shadow: rgba(0, 0, 0, .65) 0 0 2px !important;
  -moz-box-shadow: rgba(0, 0, 0, .65) 0 0 2px !important;
  -webkit-box-shadow: rgba(0, 0, 0, .65) 0 0 2px !important;
}

:global(.dark-mode .google-visualization-tooltip-item span) {
  color: #999 !important;
}

.priceDropdown {
  font-size: 12px;
  line-height: 12px;

  .periods {
    display: inline-flex;
    color: #999;
    color: var(--stockmarket-radiо-color);

    .period {
      display: flex;
      width: 130px;
      height: 33px;
      align-items: center;
      justify-content: center;
      position: relative;
      border-bottom: 1px solid #eee;
      border-bottom-color: var(--stockmarket-transaction-border-bottom-color);
      box-shadow: none;
      box-shadow: var(--stockmarket-tab-shadow);

      .radioButton {
        cursor: pointer;
        padding-right: 5px;

        &.disabledButton {
          cursor: default;
        }
      }

      input[type=radio] {
        box-sizing: border-box;
        padding: 0;
      }

      input {
        font-size: 1rem;
        line-height: 1.5;
        padding: 11px 23px;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 0;
        outline: 0;
        background-color: transparent;
      }

      .radioButtonInput {
        opacity: 0;
        position: absolute;
      }

      .radioButtonControl {
        position: relative;
        display: inline-block;
        width: 9px;
        height: 9px;
        margin-right: 5px;
        vertical-align: middle;
        background-color: inherit;
        border: 2px solid #999;
        border: 2px solid var(--stockmarket-radiо-color);
        border-radius: 24px;
      }

      .radioButtonInput:checked + .radioButtonControl::after {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 5px;
        height: 5px;
        background-color: #555;
        background-color: var(--stockmarket-radio-hover-color);
        border-radius: 12px;
      }

      .radioButtonInput:checked + .radioButtonControl,
      .radioButtonInput:hover + .radioButtonControl,
      .radioButtonInput:focus + .radioButtonControl {
        border-color: #555;
        border-color: var(--stockmarket-radio-hover-color);
      }

      .radioButtonInput:disabled + .radioButtonControl {
        border-color: #ddd;
        border-color: var(--stockmarket-disabled-period);
      }

      .radioButtonInput:checked + .radioButtonControl + span,
      .radioButtonInput:hover + .radioButtonControl + span,
      .radioButtonInput:focus + .radioButtonControl + span {
        color: #555;
        color: var(--stockmarket-radio-hover-color);
      }

      .radioButtonInput:disabled + .radioButtonControl + span {
        color: #ddd;
        color: var(--stockmarket-disabled-period);
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 33px;
        left: 0;
      }

      &::after {
        background: linear-gradient(0deg, #fff0 0%, #fff 50%, #fff0 100%);
        background: var(--stockmarket-border-gradiend-light);
        left: 1px;
      }

      &::before {
        background: linear-gradient(0deg, #ccc0 0%, #ccc 50%, #ccc0 100%);
        background: var(--stockmarket-border-gradiend-dark);
      }

      &:first-child {
        &::after,
        &::before {
          background: transparent;
        }
      }
    }
  }

  .priceLoader {
    display: flex;
    align-items: center;
    height: 175px;
  }

  .priceInfo {
    display: inline-flex;
    align-items: center;

    .chartContainer {
      width: 570px;
      padding-right: 10px;

      .tabPriceChart {
        path {
          stroke-opacity: .4;
        }
      }
    }

    .priceContainer {
      display: flex;
      flex-direction: column;

      .infoPriceContainer {
        &:last-child {
          margin-top: -10px;
        }

        display: inline-flex;

        .priceInfoValueList,
        .priceInfoList {
          padding: 5px 10px;
          line-height: 23px;
          color: #555;
          color: var(--stockmarket-primary-gray-color);
        }

        .priceInfoList {
          border-left: 1px solid #eee;
          border-left-color: var(--stockmarket-transaction-border-bottom-color);
          width: 105px;

          .title {
            padding-right: 10px;
            justify-content: flex-start;
          }
        }

        .priceInfoValueList {
          text-align: end;
          width: 70px;
          padding: 5px 0;

          .value {
            justify-content: flex-end;

            &.low,
            &.down {
              color: #de5b30;
              color: var(--stockmarket-red-color);
            }

            &.up {
              color: #5c940d;
              color: var(--stockmarket-green-color);
            }

            &.pause {
              color: #999;
              color: var(--stockmarket-secondary-gray-color);
            }
          }
        }
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .priceDropdown {
      font-size: 12px;
      line-height: 12px;

      .priceLoader {
        height: 292px;
      }

      .periods {
        flex-wrap: wrap;

        .period {
          width: 118px;
          padding-left: 10px;
          justify-content: start;

          label {
            padding-left: 5px;
          }

          &:nth-child(4) {
            &::after,
            &::before {
              background: transparent;
            }
          }
        }
      }

      .priceInfo {
        display: flex;
        flex-direction: column;

        .chartContainer {
          width: 375px;
          min-height: 170px;
          padding: 5px 10px 0 0;
        }

        .priceContainer {
          flex-direction: row;
          border-top: 1px solid #eee;
          border-top-color: var(--stockmarket-transaction-border-bottom-color);

          .infoPriceContainer {
            width: 50%;

            &:last-child {
              margin-top: 0;

              .priceInfoValueList {
                padding: 10px 10px 10px 5px;
              }
            }

            &:first-child {
              .priceInfoList {
                border-left: none;
              }
            }

            .priceInfoValueList,
            .priceInfoList {
              padding: 10px 5px 10px 8px;
            }

            .priceInfoList {
              width: 105px;

              .title {
                line-height: 24px;
              }
            }

            .priceInfoValueList {
              width: 60px;

              .value {
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .priceDropdown {
      .periods {
        .period {
          width: 98px;
          padding-left: 8px;
        }
      }

      .priceLoader {
        height: 282px;
      }

      .priceInfo {
        display: flex;
        flex-direction: column;

        .chartContainer {
          width: 315px;
        }

        .priceContainer {
          font-size: 11px;

          .infoPriceContainer {
            width: unset;

            .priceInfoValueList,
            .priceInfoList {
              padding: 5px;
            }

            &:last-child {
              .priceInfoList {
                width: 82px;
              }

              .priceInfoValueList {
                padding: 5px 5px 5px 10px;
              }
            }

            .priceInfoList {
              width: 92px;

              .title {
                padding: 0;
              }
            }

            .priceInfoValueList {
              width: 50px;
            }
          }
        }
      }
    }
  }
}
