.infoDropdown {
  min-height: 210px;
  display: flex;
  font-family: Arial, sans-serif;

  .logo,
  .description {
    width: 390px;
    justify-content: center;
    align-items: center;
  }

  .logo {
    display: flex;
  }

  .description {
    display: flex;
    position: relative;
    padding: 15px;
    color: #555;
    color: var(--stockmarket-primary-gray-color);
    font-size: 12px;
    line-height: 18px;
    white-space: pre-line;

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 210px;
      left: 0;
      top: 0;
    }

    &::after {
      background: linear-gradient(0deg, #ccc0 0%, #ccc 50%, #ccc0 100%);
      background: var(--stockmarket-border-gradiend-dark);
    }

    &::before {
      background: linear-gradient(0deg, #fff0 0%, #fff 50%, #fff0 100%);
      background: var(--stockmarket-border-gradiend-light);
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .infoDropdown {
      display: flex;
      flex-direction: column;

      .logo,
      .description {
        width: auto;
      }

      .logo {
        min-height: 155px;
        padding: 10px 0;
        width: 100%;
      }

      .description {
        padding: 10px 10px 20px 10px;

        &::after,
        &::before {
          width: 300px;
          height: 1px;
          left: 0;
          top: 0;
        }

        &::after {
          background: linear-gradient(90deg, #ccc0 0%, #ccc 50%, #ccc0 100%);
          background: var(--stockmarket-profile-after);
          left: 50px;
        }

        &::before {
          background: linear-gradient(180deg, #fff0 0%, #fff 50%, #fff0 100%);
          background: var(--stockmarket-profile-before);
          left: 0;
          left: var(--stockmarket-profile-right);
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .infoDropdown {
      .description {
        padding: 10px;

        &::after {
          left: 25px;
          width: 265px;
        }
      }

      .logo {
        min-height: 130px;

        img {
          max-width: 290px;
          max-height: 100px;
        }
      }
    }
  }
}
