.svgContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 32px;
  height: 32px;
  margin: auto;
  background-color: transparent;

  &.progress {
    width: 34px;
    height: 34px;
  }

  svg {
    overflow: unset;
  }

  .svgProgress {
    path,
    circle {
      fill: none;
      stroke-width: 20;

      &:global(.empty) {
        stroke: #ccc;
        stroke: var(--stockmarket-progress-bar-light-gray);
      }

      &:global(.filled.filledPartSegments) {
        stroke: #999;
        stroke: var(--stockmarket-progress-bar-dark-gray);
      }

      &:global(.filled.progress) {
        stroke: #74B816;
        stroke: var(--stockmarket-progress-bar-green);
      }

      &:global(.filled.increment) {
        stroke: #5C7CFA;
        stroke: var(--stockmarket-progress-bar-blue);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .svgContainer {
    left: -1px;

    &.progress {
      left: -2px;
    }
  }
}
