:global(#stockTooltip) {
  box-shadow: 0 0 2px #00000073;
}

:global(.statusDividend),
:global(.incrementDividend),
:global(.progressDividend) {
  text-align: center;
  font-family: Fjalla One, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.tooltipContainer {
  z-index: 10000;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  background: #f2f2f2;
  background: var(--tooltip-bg-color);
  border-radius: 1px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

.tooltipArrow {
  border-top-color: #f2f2f2;
  border-top-color: var(--tooltip-bg-color);
  filter: drop-shadow(0 1px 0 #fff) drop-shadow(0 2px 1px #11111124);
  filter: var(--white-tooltip-arrow-filter);
  top: -1px;
}

:global(.statusDividend) {
  &:global(.active) {
    color: #5c940d;

    &:global(.Inactive) {
      color: #999;
    }
  }

  &:global(.passive) {
    color: #4263eb;

    &:global(.Inactive) {
      color: #999;
    }
  }
}

:global(.dark-mode .statusDividend) {
  &:global(.active) {
    color: #74b816;

    &:global(.Inactive) {
      color: #999;
    }
  }

  &:global(.passive) {
    color: #74c0fc;

    &:global(.Inactive) {
      color: #999;
    }
  }
}

.stock {
  display: flex;
  color: #666;
  color: var(--stockmarket-name-color);
  height: 60px;
  cursor: pointer;

  &:last-child {
    .stockName,
    .stockPrice,
    .stockOwned,
    .stockDividend {
      border-bottom: none;
      box-shadow: none;
    }
  }

  .stockName,
  .stockPrice,
  .stockOwned,
  .stockDividend {
    display: inline-flex;
    padding: 13px 10px;
    align-items: center;
    border-right: 1px solid #ccc;
    border-right: 1px solid var(--stockmarket-border-color);
    border-bottom: 1px solid #ccc;
    border-bottom: 1px solid var(--stockmarket-border-color);
    box-shadow: 1px 1px 0 #fff;
    box-shadow: var(--stockmarket-stock-shadow);
    line-height: 16px;

    &:hover {
      background-color: #fff !important;
      background-color: var(--stockmarket-tab-bg-color) !important;
      box-shadow: 1px 1px 0 #fff;
      box-shadow: var(--stockmarket-stock-shadow);
    }

    &.active {
      background: #fff;
      background: var(--stockmarket-tab-bg-color);
      border-bottom: 1px solid transparent;
      box-shadow: none;
    }
  }

  .stockName {
    width: 231px;

    .logoContainer {
      width: 60px;
      text-align: center;
      display: flex;

      img {
        margin-left: -10px;
      }
    }

    .nameContainer {
      font-size: 16px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: -24px;
        bottom: 0;
        height: 60px;
        left: -10px;
        width: 1px;
        background: linear-gradient(0deg, #ccc0 0%, #ccc 50%, #ccc0 100%);
        background: var(--stockmarket-border-gradiend-dark);
      }

      &::after {
        content: '';
        position: absolute;
        top: -24px;
        bottom: 0;
        height: 60px;
        left: -9px;
        width: 1px;
        background: linear-gradient(0deg, #fff0 0%, #fff 50%, #fff0 100%);
        background: var(--stockmarket-border-gradiend-light);
      }
    }
  }

  .stockPrice {
    width: 194px;
    justify-content: space-between;

    .chartPrice {
      z-index: 0;
      position: absolute;
      margin-left: -11px;
    }

    .price {
      color: #555;
      color: var(--stockmarket-current-price-color);
      font-size: 30px;
      z-index: 1;
      margin-top: 2px;

      .number {
        min-width: 17px;
        text-align: center;
        display: inline-block;
      }
    }

    .changePrice {
      flex-direction: column;
      text-align: end;
      z-index: 1;
    }
  }

  .stockOwned {
    width: 85px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    .value {
      color: #555;
      color: var(--stockmarket-primary-gray-color);
    }

    .count {
      color: #999;
      color: var(--stockmarket-secondary-gray-color);
    }
  }

  .stockDividend {
    border-right: none;
    justify-content: space-between;
    width: 190px;

    .dividendInfo {
      .dividend {
        color: #555;
        color: var(--stockmarket-primary-gray-color);
      }

      .Inactive,
      .active {
        color: #999;
        color: var(--stockmarket-secondary-gray-color);
      }

      .Ready {
        &.active {
          color: #66a80f;
          color: var(--stockmarket-green-color);
        }

        &.passive {
          color: #4263eb;
          color: var(--stockmarket-blue-color);
        }
      }
    }

    .dividendStatus {
      display: flex;
      font-size: 16px;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;

      &::before {
        content: '';
        position: absolute;
        top: -13px;
        bottom: 0;
        height: 60px;
        left: -10px;
        width: 1px;
        background: linear-gradient(0deg, #ccc0 0%, #ccc 50%, #ccc0 100%);
        background: var(--stockmarket-border-gradiend-dark);
      }

      &::after {
        content: '';
        position: absolute;
        top: -13px;
        bottom: 0;
        height: 60px;
        left: -9px;
        width: 1px;
        background: linear-gradient(0deg, #fff0 0%, #fff 50%, #fff0 100%);
        background: var(--stockmarket-border-gradiend-light);
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .stock {
      .stockName,
      .stockPrice,
      .stockOwned,
      .stockDividend {
        border-right: none;
      }

      .stockName {
        width: 40px;
        position: relative;
        border-right: 1px solid #ccc;
        border-right: 1px solid var(--stockmarket-border-color);

        .nameContainer {
          display: none;
        }
      }

      .stockPrice {
        width: 112px;
        align-items: flex-start;
        flex-direction: column;
        border-right: 1px solid #ccc;
        border-right: 1px solid var(--stockmarket-border-color);

        .price {
          margin-top: 1px;
          font-size: 20px;

          .number {
            min-width: 11px;
          }
        }

        .changePrice {
          margin-top: 5px;
          flex-direction: row;
          display: inline-flex;

          p {
            &:first-child {
              margin-right: 8px;
            }
          }
        }
      }

      .stockOwned {
        width: 110px;
        line-height: 25px;
        position: relative;
        border-right: 1px solid #ccc;
        border-right: 1px solid var(--stockmarket-border-color);
      }

      .stockDividend {
        width: 40px;
        justify-content: center;

        .dividendInfo {
          display: none;
        }

        .dividendStatus {
          .dividendIcon {
            position: relative;
          }

          &::after,
          &::before {
            background: transparent;
          }
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    :global(.statusDividend),
    :global(.incrementDividend),
    :global(.progressDividend) {
      text-align: right;
    }

    .stock {
      .stockName,
      .stockOwned,
      .stockDividend {
        padding: 10px;
      }

      .stockName {
        width: 29px;

        .logoContainer {
          img {
            max-width: 50px;
          }
        }
      }

      .stockPrice {
        width: 122px;
        min-width: 99px;
        padding: 13px 7px;

        .price {
          margin-top: 2px;
        }

        .changePrice {
          margin-top: 3px;
          font-size: 10px;
        }
      }

      .stockOwned {
        width: 112px;
        line-height: 20px;
      }

      .stockDividend {
        width: 35px;

        .dividendStatus {
          width: 30px;
        }
      }
    }
  }
}
