.stockMarket {
  background: #f2f2f2;
  background-color: var(--stockmarket-bg-color);
  box-shadow: 0 1px 0 #fff;
  box-shadow: var(--stockmarket-shadow);
  border-radius: 0 0 5px 5px;
  margin-bottom: 50px;
  font-family: Fjalla One, sans-serif;
  font-size: 12px;
  line-height: 14px;
}

:global(.d .travelling #stockmarketroot) {
  width: 784px;
  margin: 0 auto;
}

:global(.r .travelling #stockmarketroot) {
  @media screen and (max-width: 1000px) {
    width: 386px;
  }

  @media screen and (max-width: 600px) {
    width: 320px;
  }
}
