.stockDropdown {
  background: #fff;
  background: var(--stockmarket-tab-bg-color);
  min-height: 210px;
  border-bottom: 1px solid #ccc;
  border-bottom: 1px solid var(--stockmarket-border-color);
  box-shadow: 0 1px 0 #fff;
  box-shadow: var(--stockmarket-shadow);
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .stockDropdown {
      min-height: 360px;
    }
  }
  @media screen and (max-width: 1000px) {
    .stockDropdown {
      min-height: 350px;
    }
  }
}
