.titles {
  display: flex;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: Fjalla One, sans-serif;

  &:global(.title-black) {
    box-shadow: none;
    align-items: center;
    height: 34px;
    font-weight: normal;
    line-height: 16px;
    font-size: 14px;
    text-shadow: 0 0 2px #000;
    background: transparent linear-gradient(180deg, #555 0%, #333 100%) 0 0 no-repeat padding-box;
  }

  .title {
    padding-left: 10px;
    line-height: 34px;
    color: #fff;
    position: relative;

    .sortedIcon {
      display: none;
      position: absolute;
      top: 34px;
      left: 47%;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #333;
      border-top-color: var(--stockmarket-sorting-icon-color);
      z-index: 10;
      filter: none;
      filter: var(--stockmarket-sorting-icon-filter);
    }

    &:hover,
    &.sorted {
      cursor: pointer;

      .sortedIcon {
        display: block;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1px;
      background: linear-gradient(0deg, #fff0 0%, #ffffff1a 50%, #fff0 100%);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1px;
      width: 1px;
      background: linear-gradient(0deg, #0000 0%, #00000080 50%, #0000 100%);
    }

    &.stockName {
      width: 242px;
      padding-left: 0;

      &::before,
      &::after {
        content: '';
        background: transparent;
      }
    }

    &.price {
      .priceContainer {
        width: 205px;
        justify-content: space-between;
        display: inline-flex;
        align-items: center;
      }
    }

    &.owned {
      width: 96px;
      text-align: right;
      padding: 0 10px 0 0;
    }

    &.dividend {
      border-right-width: 0;
      width: 200px;
    }
  }

  :global {
    .react-dropdown-default {
      width: 50px;
      color: #ccc;
      font-family: Fjalla One, sans-serif;
      border: none;

      .toggler {
        border: none;
        height: 30px;
        background: transparent;

        &:hover {
          background: none;
          box-shadow: none;
        }

        &::after {
          right: 15px;
          border-width: 4px 0 4px 4px;
          border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ccc;
        }
      }

      &.dropdown-opened {
        .toggler {
          &::after {
            right: 10px;
            border-width: 5px 5px 0;
            border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ccc;
          }
        }
      }

      .dropdownList {
        width: 80px;
        background: #444 0 0 no-repeat padding-box;
        box-shadow: 0 1px 2px #00000040;
        border: none;
        color: #ccc;
        border-radius: 5px 0 5px 5px;
        left: -30px;

        .item {
          border-bottom: none;
          height: 24px;
          font-size: 12px;
          line-height: 24px;
          justify-content: flex-end;

          &.disabledPeriod {
            color: #777;
            cursor: default;

            &:hover,
            &:focus {
              background: transparent;
            }
          }

          &:hover,
          &:focus {
            background: #111 0 0 no-repeat padding-box;
          }

          &:first-child {
            &:hover,
            &:focus {
              border-radius: 5px 0 0 0;
            }
          }
        }
      }

      &.dropdown-opened {
        background: #444 0 0 no-repeat padding-box;
        box-shadow: 0 1px 2px #00000040;

        .toggler {
          &::after {
            border-color: #ccc rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
            transform: translateY(-3px);
          }
        }
      }
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .titles {
      .showDesktop {
        display: none;
      }

      .title {
        &.stockName {
          width: 51px;

          .sortedIcon {
            left: 33%;
          }
        }

        &.price {
          .priceContainer {
            width: 123px;
          }
        }

        &.owned {
          width: 121px;
        }

        &.dividend {
          padding-left: 6px;
          width: auto;
        }
      }
    }

    :global(.react-dropdown-default .toggler) {
      height: 34px;
    }
  }
  @media screen and (max-width: 600px) {
    .titles {
      border-radius: 0;
      font-size: 12px;

      .title {
        &.stockName {
          width: 40px;

          .sortedIcon {
            left: 26%;
          }
        }

        &.price {
          .priceContainer {
            width: 104px;
          }

          .sortedIcon {
            left: 45%;
          }
        }

        &.owned {
          width: 96px;
        }

        &.dividend {
          .sortedIcon {
            left: 43%;
          }
        }
      }
    }
  }
}
