.transaction {
  display: flex;
  font-family: Arial, sans-serif;
  border-bottom: 1px solid #eee;
  border-bottom-color: var(--stockmarket-transaction-border-bottom-color);
  padding: 0 10px;
  bor-shadow: unset;
  box-shadow: var(--stockmarket-transaction-box-shadow);

  &:last-child {
    border-bottom: none;
  }

  li {
    display: inline-flex;
    width: 109px;
    font-weight: 400;
    line-height: 24px;
    color: #444;
    color: var(--stockmarket-manage-tab-color);
    text-align: left;
    margin-right: 15px;
  }

  .date {
    width: 53px;
  }

  .shares {
    width: 55px;
  }

  .value {
    width: 85px;
  }

  .bought {
    width: 50px;
  }

  .current {
    width: 60px;
  }

  .change {
    width: 122px;
  }

  .profit {
    width: 113px;
  }

  .view {
    width: 25px;

    button[disabled] {
      color: #666;
    }
  }

  .sell {
    width: 25px;
  }

  .viewButton,
  .sellButton {
    padding: 0;
    cursor: pointer;
    color: #069;
    color: var(--stockmarket-manage-links-color);
  }

  .merge {
    width: 35px;
    margin-right: 0;
    justify-content: center;

    .checkboxButton {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input[type=checkbox] {
      box-sizing: border-box;
      padding: 0;
      margin-top: 7px;
    }

    input {
      font-size: 1rem;
      line-height: 1.5;
      padding: 11px 23px;
      border: 1px solid rgba(0, 0, 0, .15);
      border-radius: 0;
      outline: 0;
      background-color: transparent;
    }

    .checkboxButtonInput {
      opacity: 0;
      position: absolute;
    }

    .checkboxButtonControl {
      position: relative;
      display: inline-block;
      width: 9px;
      height: 9px;
      vertical-align: middle;
      background-color: inherit;
      box-shadow: 0 1px 0 #fff;
      box-shadow: var(--stockmarket-shadow);
      border: 2px solid #ddd;
      border-color: var(--stockmarket-checkbox-color);
    }

    .checkboxButtonInput:checked + .checkboxButtonControl::after {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      width: 5px;
      height: 5px;
      background-color: #aaa;
      background-color: var(--stockmarket-checkbox-background-color);
      box-shadow: 0 1px 0 #fff;
      box-shadow: var(--stockmarket-shadow);
    }

    .checkboxButtonInput:checked + .checkboxButtonControl,
    .checkboxButtonInput:hover + .checkboxButtonControl,
    .checkboxButtonInput:focus + .checkboxButtonControl {
      border-color: transparent;
      border-color: var(--stockmarket-checkbox-border-color);
      border-image: linear-gradient(180deg, #aaa 0%, #ccc 100%);
      border-image: var(--stockmarket-checkbox-border-image);
      border-image-slice: 1;
    }

    .mergeCheckbox {
      border: 1px solid #ddd;
      border-color: 1px solid var(--stockmarket-radio-hover-color);
      box-shadow: 0 1px 0 #fff;
      box-shadow: var(--stockmarket-shadow);
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .transaction {
      padding: 0;

      &.one {
        display: inline-flex;

        li {
          line-height: 34px;
        }
      }

      &.more {
        flex-direction: column;
        border-bottom: none;

        li {
          line-height: 35px;
          width: 130px;
          margin-right: 0;
        }

        .sell,
        .view,
        .merge {
          height: 34px;
        }

        .merge {
          justify-content: flex-start;
          padding-top: 2px;
        }
      }
    }
  }
}
