.transactionsList {
  .titles {
    display: inline-flex;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid #eee;
    border-bottom-color: var(--stockmarket-action-border-color);
    padding: 0 10px;

    li {
      text-align: left;
      margin-right: 15px;
      line-height: 24px;
    }

    .date {
      width: 53px;
    }

    .shares {
      width: 55px;
    }

    .value {
      width: 85px;
    }

    .bought {
      width: 50px;
    }

    .current {
      width: 60px;
    }

    .change {
      width: 120px;
    }

    .profit {
      width: 115px;
    }

    .view {
      width: 25px;
    }

    .sell {
      width: 25px;
    }

    .merge {
      width: 25px;
    }
  }
}

:global(.r) {

  @media screen and (max-width: 1000px) {
    .transactionsList {
      &.one {
        display: block;

        .titles {
          padding: 0;

          li {
            line-height: 34px;
          }

          .merge {
            padding-left: 0;
          }
        }
      }

      &.more {
        display: inline-flex;

        .categoriesValues {
          width: 316px;
          position: relative;
          margin-left: 10px;

          &.withScroll::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            background:
              linear-gradient(to right, rgba(38, 171, 216, .15) 0%, rgba(38, 171, 216, 0) 9%),
              linear-gradient(to left, rgba(38, 171, 216, .15) 0%, rgba(38, 171, 216, 0) 9%);
            pointer-events: none;
          }

          .scrollArea {
            position: relative;
            overflow: auto;
            width: 306px;
            padding-left: 10px;
            display: inline-flex;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
              display: none;
            }
          }
        }

        .titles {
          flex-direction: column;
          border-bottom: none;
          width: 60px;
          padding: 0;

          li {
            line-height: 34px;
            border-bottom: 1px solid #eee;
            border-bottom-color: var(--stockmarket-action-border-color);
            width: 60px;
            margin-right: 0;
            padding-left: 10px;
            position: relative;

            &::after {
              content: '';
              left: 0;
              top: 34px;
              width: 386px;
              height: 1px;
              position: absolute;
              background-color: #eee;
              background-color: var(--stockmarket-action-border-color);
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .transactionsList {
      &.more {
        .categoriesValues {
          width: 250px;

          .scrollArea {
            width: 240px;
          }
        }

        .titles {
          li {
            &::after {
              width: 320px;
            }
          }
        }
      }
    }
  }
}
