#stockmarketroot {
  --stockmarket-bg-color: #f2f2f2;
  --stockmarket-tab-bg-color: #fff;
  --stockmarket-shadow: 0 1px 0 #fff;
  --stockmarket-stock-shadow: 1px 1px 0 #fff;
  --stockmarket-border-color: #ccc;
  --stockmarket-tab-shadow: unset;
  --stockmarket-green-color: #5c940d;
  --stockmarket-red-color: #de5b30;
  --stockmarket-blue-color: #4263eb;
  --stockmarket-primary-gray-color: #555;
  --stockmarket-secondary-gray-color: #999;
  --stockmarket-icon-filter: drop-shadow(0 1px 0 #fff);
  --stockmarket-current-price-color: #555;
  --stockmarket-name-color: #666;
  --stockmarket-active-bonus-bg-color: #558921;
  --stockmarket-passive-bonus-bg-color: #5c7cfa;
  --stockmarket-inactive-bonus-bg-color: #000;
  --stockmarket-dividend-primary-color: #444;
  --stockmarket-dividend-secondary-color: #444;
  --stockmarket-inactive-dividend-filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);
  --stockmarket-passive-dividend-filter: invert(47%) sepia(21%) saturate(1820%) hue-rotate(191deg) brightness(101%) contrast(96%);
  --stockmarket-active-dividend-filter: invert(43%) sepia(29%) saturate(1074%) hue-rotate(47deg) brightness(100%) contrast(87%);
  --stockmarket-buy-dialog-bg: linear-gradient(0deg, #5589211a 0%, #55892100 100%);
  --stockmarket-sell-dialog-bg: linear-gradient(180deg, #de5b3000 0%, #de5b301a 100%);
  --stockmarket-manage-tab-color: #444;
  --stockmarket-manage-links-color: #069;
  --stockmarket-transaction-border-bottom-color: #eee;
  --stockmarket-transaction-box-shadow: unset;
  --stockmarket-action-border-color: #eee;
  --stockmarket-manage-border-bottom-color: #ddd;
  --stockmarket-border-gradiend-dark: linear-gradient(0deg, #ccc0 0%, #ccc 50%, #ccc0 100%);
  --stockmarket-border-gradiend-light: linear-gradient(0deg, #fff0 0%, #fff 50%, #fff0 100%);
  --stockmarket-radiо-color: #999;
  --stockmarket-radio-hover-color: #555;
  --stockmarket-checkbox-color: #ddd;
  --stockmarket-checkbox-border-image: linear-gradient(180deg, #aaa 0%, #ccc 100%);
  --stockmarket-checkbox-border-color: transparent;
  --stockmarket-checkbox-background-color: #aaa;
  --stockmarket-profile-right: unset;
  --stockmarket-profile-after: linear-gradient(90deg, #ccc0 0%, #ccc 50%, #ccc0 100%);
  --stockmarket-profile-before: linear-gradient(180deg, #fff0 0%, #fff 50%, #fff0 100%);
  --stockmarket-progress-bar-green: #74b816;
  --stockmarket-progress-bar-blue: #5c7cfa;
  --stockmarket-progress-bar-light-gray: #ccc;
  --stockmarket-progress-bar-dark-gray: #999;
  --stockmarket-disabled-period: #ddd;
  --stockmarket-sorting-icon-color: #333;
  --stockmarket-sorting-icon-filter: none;
}
