.editor-enter {
  opacity: 0;
  transform: translateY(-120%);
  transition: all 450ms ease-in;

  &.editor-enter-active {
    opacity: 1;
    transform: translateY(0%);
  }
}

.editor-exit {
  opacity: 1;
  transform: translateY(0%);
  transition: all 450ms ease-in;

  &.editor-exit-active {
    opacity: 0;
    transform: translateY(-120%);
  }
}
