.debugSwitcherWrap {
  margin: 0;
  float: right;
  border: none;
  background: #cdcdcd;
}

.debugSwitcher {
  padding-right: 16px;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  background: var(--debugSwitcher-background);
}
