input {
  background: var(--wrapper-background);
  border-color: var(--input-borderColor);
}

.wrapper {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid var(--wrapper-borderColor);
  border-radius: 5px;
  background: var(--wrapper-background);
}

.input {
  box-sizing: border-box;
  margin-right: 10px;
  padding: 0 10px;
  width: 100px;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--input-color);
}

.inputMaxWidth {

  @media #{$screen-tablet} {
    #{$global-r} & {
      max-width: 45px;
    }
  }
}

.marginRight {
  margin-right: 35px;

  @media #{$screen-tablet} {
    #{$global-r} & {
      margin-right: 12px;
    }
  }
}

.buttonContainer {
  display: block;
  float: right;
}

#{$tornButton}.crimesButton,
#{$tornButtonDisabled}.crimesButton {
  padding-top: 5px;

  #{$global-r} & {

    @media #{$screen-tablet}, #{$screen-mobile} {
      padding: 0 8px;
      height: 24px;
      line-height: 1.5;
    }
  }
}
