:root .dark-mode {
  --faction-default-icon-bg-stop-1: #888;
  --faction-default-icon-bg-stop-2: #666;
  --faction-hover-icon-bg-stop-1: #ccc;
  --faction-hover-icon-bg-stop-2: #999;
  --faction-default-icon-filter: drop-shadow(0 2px 4px #0009);
  --faction-appcications-active-panel-bg: #242424;
  --faction-appcications-withdrawn-bg: #444;
}
