.noScrollBar {
  &::-webkit-scrollbar {
    width: 0 !important;
  }

  ::-webkit-scrollbar-thumb {
    width: 0 !important;
    background: transparent;
  }
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.rowDataWrap {
  composes: flexRow;
  justify-content: space-between;
}

.statsWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #666;
  font-size: 13px;
  line-height: 20px;
}

.title {
  display: flex;
  align-items: center;
  line-height: 30px;
}

.titleText {
  padding: 0 10px;
}

.titleNumber {
  margin-left: auto;
  width: 33px;
  height: 33px;
  background-image: linear-gradient(#e56b19, #cf4916);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.playerWrap {
  composes: flexRow;
  justify-content: flex-start;
  width: auto;
  flex: 2;
  margin-right: 26px;
  overflow: hidden;
}

.desc {
  composes: flexRow;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex: 1;
}

.participants {
  flex: 1;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: var(--default-bg-panel-color);
  overflow-y: scroll;
  min-height: 100px;
  max-height: 338px;
  composes: noScrollBar;

  @media #{$screen-mobile} {
    #{$global-r} & {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.row {
  padding: 7px 18px;
  font-size: 12px;
}

.playername {
  font-size: 14px;
  float: left;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playerDelimier {
  padding: 0 3px;
}

.playerHealth {
  word-break: normal;
  white-space: nowrap;
}

.progressBar {
  overflow: hidden;
  margin: 4px 12px 4px 0 !important;
}

.entry {
  display: inline-flex;
  align-items: center;
  height: 12px;

  &:last-child {
    margin-left: 26px;
  }
}

#{$dark-mode} {
  .participants {
    background: var(--default-bg-panel-color) 0% 0% no-repeat padding-box;
    color: #fff;
  }
}
