body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  height: 100%;
}
:global(#react-root) {
  height: 100%;
}
.campaignTracker {
  background: #CCC url(/images/v2/main/bg_regular.jpg) left top repeat;
  min-height: 100%;
  padding-bottom: 30px;
}
.container {
  width: 976px;
  margin: 0 auto;
  padding-top: 20px;
}
:global(.cookie-notif-panel) {
  display: none;
}
:global(.container) {
  height: 0;
}