.panelContent {
  padding: 10px;
  border-bottom: 1px solid #fff;
  border-bottom-color: var(--default-panel-divider-inner-side-color);
  border-radius: 0 0 5px 5px;
  background-color: #f2f2f2;
  background-color: var(--default-bg-panel-color);
}
