.detailsTable {
  &:not(:first-child) {
    margin-top: 15px;
  }

  th,
  td {
    padding: 2px 7px 0 7px !important;
  }

  th:first-child,
  td:first-child {
    padding-left: 0 !important;
  }

  th {
    text-align: left;
    font-weight: bold;
  }
}
